{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags80?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags80",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NR1-uJIrMFgBLMH6a8o_Se5PSNxdQ1nh0cCCWtGEpqc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NDY=;sn=74229446"
      },
      "ResponseBody": {
        "etag": "NR1-uJIrMFgBLMH6a8o_Se5PSNxdQ1nh0cCCWtGEpqc",
        "key": "etags80",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags80?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"NR1-uJIrMFgBLMH6a8o_Se5PSNxdQ1nh0cCCWtGEpqc\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NDY="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NDY=;sn=74229446"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags80",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"wnouBHg9aBuEMDnpQ36cxND1YZargm5XlpHR6hEh8h4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NDY=;sn=74229446"
      },
      "ResponseBody": {
        "etag": "wnouBHg9aBuEMDnpQ36cxND1YZargm5XlpHR6hEh8h4",
        "items": [
          {
            "etag": "NR1-uJIrMFgBLMH6a8o_Se5PSNxdQ1nh0cCCWtGEpqc",
            "key": "etags80",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:29:53+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags80?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NR1-uJIrMFgBLMH6a8o_Se5PSNxdQ1nh0cCCWtGEpqc\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NDg=;sn=74229448"
      },
      "ResponseBody": {
        "etag": "NR1-uJIrMFgBLMH6a8o_Se5PSNxdQ1nh0cCCWtGEpqc",
        "key": "etags80",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:53+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags80"
  }
}
