{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags705?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"od4bNzUNT9I2VPD_WLaSK9wv3mVEH4SgPxAZbbSCaVA\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA2OA==;sn=115288068",
        "x-ms-date": "Thu, 28 May 2026 21:22:04 GMT"
      },
      "ResponseBody": {
        "etag": "od4bNzUNT9I2VPD_WLaSK9wv3mVEH4SgPxAZbbSCaVA",
        "key": "etags705",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:22:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags705?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA2OA=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA2OA==;sn=115288068",
        "x-ms-date": "Thu, 28 May 2026 21:22:04 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags705",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA2OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aLnEpgAdyjUgLOz7UdupocGwGID6ycZ2tPI-p1cCy30\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA2OA==;sn=115288068",
        "x-ms-date": "Thu, 28 May 2026 21:22:04 GMT"
      },
      "ResponseBody": {
        "etag": "aLnEpgAdyjUgLOz7UdupocGwGID6ycZ2tPI-p1cCy30",
        "items": [
          {
            "etag": "od4bNzUNT9I2VPD_WLaSK9wv3mVEH4SgPxAZbbSCaVA",
            "key": "etags705",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:22:04+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags705?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA2OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"od4bNzUNT9I2VPD_WLaSK9wv3mVEH4SgPxAZbbSCaVA\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA2OQ==;sn=115288069",
        "x-ms-date": "Thu, 28 May 2026 21:22:04 GMT"
      },
      "ResponseBody": {
        "etag": "od4bNzUNT9I2VPD_WLaSK9wv3mVEH4SgPxAZbbSCaVA",
        "key": "etags705",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:22:04+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags705"
  }
}
