{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags519?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags519",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g4qCcDsIyauWmJ2bN947806hA9P-8kfeS8OfkH2EsLI\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg1NzM=;sn=73738573"
      },
      "ResponseBody": {
        "etag": "g4qCcDsIyauWmJ2bN947806hA9P-8kfeS8OfkH2EsLI",
        "key": "etags519",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags519?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg1NzM="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg1NzM=;sn=73738573"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags519",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg1NzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"UfDV5UtwFvvA9oj77vTM9TpC79FSPhTusHee4azdsIY\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg1NzM=;sn=73738573"
      },
      "ResponseBody": {
        "etag": "UfDV5UtwFvvA9oj77vTM9TpC79FSPhTusHee4azdsIY",
        "items": [
          {
            "etag": "g4qCcDsIyauWmJ2bN947806hA9P-8kfeS8OfkH2EsLI",
            "key": "etags519",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:23:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags519?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg1NzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g4qCcDsIyauWmJ2bN947806hA9P-8kfeS8OfkH2EsLI\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg1NzQ=;sn=73738574"
      },
      "ResponseBody": {
        "etag": "g4qCcDsIyauWmJ2bN947806hA9P-8kfeS8OfkH2EsLI",
        "key": "etags519",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:36+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags519"
  }
}
