{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags158?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vC5EqHD775ApeZYbLCNYfQkZn7tndjppgQYkPDE98t0\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY5MQ==;sn=53365691",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:08 GMT"
      },
      "ResponseBody": {
        "etag": "vC5EqHD775ApeZYbLCNYfQkZn7tndjppgQYkPDE98t0",
        "key": "etags158",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:28:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/bogus%20key%20etags158?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY5MQ==;sn=53365691",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:08 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=etags158",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"KesqjcDkz_hMQ6IkX5yftoDY6SvsbIJ-V7N6jsy9fno\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY5MQ==;sn=53365691",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:08 GMT"
      },
      "ResponseBody": {
        "etag": "KesqjcDkz_hMQ6IkX5yftoDY6SvsbIJ-V7N6jsy9fno",
        "items": [
          {
            "etag": "vC5EqHD775ApeZYbLCNYfQkZn7tndjppgQYkPDE98t0",
            "key": "etags158",
            "label": null,
            "content_type": null,
            "value": "world",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:28:08+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags158?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vC5EqHD775ApeZYbLCNYfQkZn7tndjppgQYkPDE98t0\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY5Mg==;sn=53365692",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:08 GMT"
      },
      "ResponseBody": {
        "etag": "vC5EqHD775ApeZYbLCNYfQkZn7tndjppgQYkPDE98t0",
        "key": "etags158",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:28:08+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags158"
  }
}
