{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags172?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W0BsVZ-aTtPZ1p8Rh7yQurYAdqmFgU4M69o6GVdSswA\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU1OA==;sn=113153558",
        "x-ms-date": "Thu, 07 May 2026 20:26:49 GMT"
      },
      "ResponseBody": {
        "etag": "W0BsVZ-aTtPZ1p8Rh7yQurYAdqmFgU4M69o6GVdSswA",
        "key": "etags172",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags172?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"W0BsVZ-aTtPZ1p8Rh7yQurYAdqmFgU4M69o6GVdSswA\"",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU1OA=="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU1OA==;sn=113153558",
        "x-ms-date": "Thu, 07 May 2026 20:26:49 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags172",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"375gGnAGwPQ8F_rq5n5lJns4W7P1rG5dXLeuZZvhRzk\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU1OA==;sn=113153558",
        "x-ms-date": "Thu, 07 May 2026 20:26:49 GMT"
      },
      "ResponseBody": {
        "etag": "375gGnAGwPQ8F_rq5n5lJns4W7P1rG5dXLeuZZvhRzk",
        "items": [
          {
            "etag": "W0BsVZ-aTtPZ1p8Rh7yQurYAdqmFgU4M69o6GVdSswA",
            "key": "etags172",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:26:49+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags172?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzU1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W0BsVZ-aTtPZ1p8Rh7yQurYAdqmFgU4M69o6GVdSswA\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzU1OQ==;sn=113153559",
        "x-ms-date": "Thu, 07 May 2026 20:26:49 GMT"
      },
      "ResponseBody": {
        "etag": "W0BsVZ-aTtPZ1p8Rh7yQurYAdqmFgU4M69o6GVdSswA",
        "key": "etags172",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:49+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags172"
  }
}
