{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
        "displayName": "Microsoft Azure Sponsorship 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/E2ETest638333338893197306?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/E2ETest638333338893197306",
        "name": "E2ETest638333338893197306",
        "type": "Microsoft.Support/supportTickets",
        "properties": {
          "description": "test ticket from e2e test.  do not assign and do not close. case submission team will take care of closing it.",
          "problemClassificationId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemClassifications/03014459-4572-f8f0-32b0-88833f234f25",
          "problemClassificationDisplayName": "Test Support Topic 1",
          "severity": "Minimal",
          "require24X7Response": false,
          "enrollmentId": "",
          "contactDetails": {
            "firstName": "case",
            "lastName": "submission",
            "preferredContactMethod": "Email",
            "primaryEmailAddress": "azengcase@microsoft.com",
            "preferredTimeZone": "Pacific Standard Time",
            "country": "USA",
            "preferredSupportLanguage": "en-US"
          },
          "technicalTicketDetails": {
            "resourceId": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/resourceGroups/rg_vm/providers/Microsoft.Compute/virtualMachines/vmtest"
          },
          "serviceLevelAgreement": {
            "startTime": "2023-10-19T17:38:16Z",
            "expirationTime": "2023-10-19T21:38:16Z",
            "slaMinutes": 240
          },
          "supportEngineer": {},
          "supportPlanType": "ProDirect",
          "supportPlanDisplayName": "Azure Support Plan \u2013 ProDirect",
          "advancedDiagnosticConsent": "No",
          "isTemporaryTicket": "No",
          "supportPlanId": "U291cmNlOkVBLFN1YnNjcmlwdGlvbklkOkNDQTAzMjZDLTRDMzEtNDZEOC04RkNCLUM2NzAyM0E0NkY0QixPZmZlcklkOk1TLUFaUi0wMDQyUCxTb3ZlcmVpZ25DbG91ZDpQdWJsaWMs",
          "fileWorkspaceName": "2310190040011036",
          "supportTicketId": "2310190040011036",
          "title": "test ticket from e2e test. do not assign and do not close.",
          "serviceId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201",
          "serviceDisplayName": "Test Product Case Submission - Preview",
          "status": "Open",
          "createdDate": "2023-10-19T17:38:16Z",
          "modifiedDate": "2024-03-01T02:06:00Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/E2ETest638333338893197306/communications/2310190040011036-lnyu3pmk?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/E2ETest638333338893197306/communications/2310190040011036-lnyu3pmk",
        "name": "2310190040011036-lnyu3pmk",
        "type": "Microsoft.Support/communications",
        "properties": {
          "communicationType": "Web",
          "communicationDirection": "Inbound",
          "sender": "ProDirect@aashu2msftoutlook.onmicrosoft.com",
          "subject": "test ticket from e2e test. do not assign and do... - TrackingID#2310190040011036",
          "body": "\u003Cpre\u003Etest\u003C/pre\u003E",
          "createdDate": "2023-10-20T16:37:52Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "1bbf1f73-f453-4c19-b1c5-3e7f914cf177",
    "RandomSeed": "906416954",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
    "TENANT_ID": "a73527ee-8243-45dd-8920-ec148d4ad0f8"
  }
}
