{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/countries/US/:search?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Aug 2025 23:07:07 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "quantity": 1
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Location": "/availablePhoneNumbers/searchResults/00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "search_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "search-id": "00000000-0000-0000-0000-000000000000",
        "X-Processing-Time": "1411ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/search_00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Aug 2025 23:07:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "513ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "running",
        "resourceLocation": "Sanitized",
        "createdDateTime": "2025-08-14T23:07:08.1868064+00:00",
        "id": "search_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/searchResults/00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Aug 2025 23:07:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "548ms"
      },
      "ResponseBody": {
        "searchId": "00000000-0000-0000-0000-000000000000",
        "phoneNumbers": [
          "+14155550100"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2025-08-14T23:23:10.2918017+00:00",
        "isAgreementToNotResellRequired": false,
        "error": "NoError"
      }
    }
  ],
  "Variables": {}
}
