{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781048024985?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cr02RAH-ZHcS1ONmWEBGzrjus1vwFo4MZlJlU02ypxY\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMxNA==;sn=53127314",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:47 GMT"
      },
      "ResponseBody": {
        "etag": "cr02RAH-ZHcS1ONmWEBGzrjus1vwFo4MZlJlU02ypxY",
        "key": "key1-1781048024985",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:33:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781048024985?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNzMxNA=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MZ_H03boG1SWpr7JVz8noiFVkz67IxCc_qKaAfcPs30\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ==;sn=53127315",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:47 GMT"
      },
      "ResponseBody": {
        "etag": "MZ_H03boG1SWpr7JVz8noiFVkz67IxCc_qKaAfcPs30",
        "key": "key2-1781048024985",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:33:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ==;sn=53127315",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:47 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "qAFPGcWaTuQ8iSLk7Ct8V-qI2G9ANIeAew0wl2SuD3g",
            "name": "snapshot-1781047890589",
            "description": "a snapshot description",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1781047890589",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-09T23:31:36+00:00",
            "expires": "2026-07-09T23:31:47+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          },
          {
            "etag": "tgC9xNeX4KLsf9DijlS87pOKChFeVIVFqdIi4_11ilE",
            "name": "snapshot-1781047907219",
            "description": "a snapshot description",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1781047907219",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-09T23:31:51+00:0[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781047890589?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"qAFPGcWaTuQ8iSLk7Ct8V-qI2G9ANIeAew0wl2SuD3g\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:47 GMT",
        "Link": "</kv?snapshot=snapshot-1781047890589&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ==;sn=53127315",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:47 GMT"
      },
      "ResponseBody": {
        "etag": "qAFPGcWaTuQ8iSLk7Ct8V-qI2G9ANIeAew0wl2SuD3g",
        "name": "snapshot-1781047890589",
        "description": "a snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1781047890589",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:31:36+00:00",
        "expires": "2026-07-09T23:31:47+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2026-04-01&status=ready",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ==;sn=53127315",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:47 GMT"
      },
      "ResponseBody": {
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781048024985?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNzMxNQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781048024985",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"kNtTavkE7F9sZFwlo5O4iQiZlbrRpzHnfj2QhWnRw34\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:47 GMT",
        "Link": "</kv?snapshot=snapshot-1781048024985&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781048024985&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMxNg==;sn=53127316",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:47 GMT"
      },
      "ResponseBody": {
        "etag": "kNtTavkE7F9sZFwlo5O4iQiZlbrRpzHnfj2QhWnRw34",
        "name": "snapshot-1781048024985",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781048024985",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:33:47.5367027+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781048024985",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNzMxNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMxNg==;sn=53127316",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:47 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781048024985?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNzM1Ng=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzM1Ng==;sn=53127356",
        "x-ms-date": "Tue, 09 Jun 2026 23:34:28 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "key1": "key1-1781048024985",
    "key2": "key2-1781048024985",
    "snapshot1": "snapshot-1781048024985",
    "snapshot2": "snapshot-1781048047634"
  }
}
