{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781548158679?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kLJzE3PaE5tQvqsccFHRBbBPNudpLsfRmLTXHGBo3eA\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:29:23 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NzQwNw==;sn=53367407",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:23 GMT"
      },
      "ResponseBody": {
        "etag": "kLJzE3PaE5tQvqsccFHRBbBPNudpLsfRmLTXHGBo3eA",
        "key": "key1-1781548158679",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:29:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548158679?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NzQwNw=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dH8Asgp2Kk2Qu-wpFthQj5ws8IQYCmAAg0OAciN9iVI\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:29:23 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NzQwOQ==;sn=53367409",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:23 GMT"
      },
      "ResponseBody": {
        "etag": "dH8Asgp2Kk2Qu-wpFthQj5ws8IQYCmAAg0OAciN9iVI",
        "key": "key2-1781548158679",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:29:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NzQwOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2026-04-01&after=c25hcHNob3QtMTIwMjg4OTAzMg%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NzQwOQ==;sn=53367409",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:23 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "fthXhu76AvFqOgLB2C-j6f-338auBoyNF84DZzU8Fis",
            "name": "first_snapshot1015312989",
            "description": null,
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-12T18:33:53+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 3600
          },
          {
            "etag": "VpXIyc6QaOYHLAPwQZL3ssNDwRw6Wvu0EG_7qTawIhE",
            "name": "first_snapshot110990660",
            "description": null,
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-12T18:18:16+00:00",
            "size": 1000,
        [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/first_snapshot1015312989?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NzQwOQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"-PdXrVUCRS1vXR77_2D0diSnC648YwsaVrOvtoNynh4\"",
        "Last-Modified": "Fri, 12 Jun 2026 18:34:10 GMT",
        "Link": "</kv?snapshot=first_snapshot1015312989&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NzQxMg==;sn=53367412",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:23 GMT"
      },
      "ResponseBody": {
        "etag": "-PdXrVUCRS1vXR77_2D0diSnC648YwsaVrOvtoNynh4",
        "name": "first_snapshot1015312989",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-12T18:33:53+00:00",
        "expires": "2026-06-15T19:29:23.6048656+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/first_snapshot58382388?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NzQ1OA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NzQ1OA==;sn=53367458",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:24 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/second_snapshot1021736087?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NzQ3Nw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"L_NhsI_spk4BNfxDGrwNMpGoV3YrIG4DTY4F2txC3q4\"",
        "Last-Modified": "Fri, 12 Jun 2026 17:45:40 GMT",
        "Link": "</kv?snapshot=second_snapshot1021736087&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NzQ3OA==;sn=53367478",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:24 GMT"
      },
      "ResponseBody": {
        "etag": "L_NhsI_spk4BNfxDGrwNMpGoV3YrIG4DTY4F2txC3q4",
        "name": "second_snapshot1021736087",
        "description": "Test snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "second_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-12T17:45:35+00:00",
        "expires": "2026-06-15T19:29:24.5879833+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-01882af7-72c4-4e78-b41c-7d96dfde002a?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NzU1MQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicati[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?after=c25hcHNob3QtMTIwMjg4OTAzMg==&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NzU5Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?after=c25hcHNob3QtMjE1ODU3MzM5&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2Nzc0MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2Nz[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2026-04-01&status=ready",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2Nzg3NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2Nzg3NQ==;sn=53367875",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:31 GMT"
      },
      "ResponseBody": {
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548158679?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2Nzg3NQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781548158679",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"QOTWtWJUYHF1Pgs03DH7Fv4CBwvlMqFp0Tm3IYKTX5c\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:29:31 GMT",
        "Link": "</kv?snapshot=snapshot-1781548158679&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781548158679&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2Nzg3Nw==;sn=53367877",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:31 GMT"
      },
      "ResponseBody": {
        "etag": "QOTWtWJUYHF1Pgs03DH7Fv4CBwvlMqFp0Tm3IYKTX5c",
        "name": "snapshot-1781548158679",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781548158679",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:29:31.7867209+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781548158679",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2Nzg3Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2Nzg3OA==;sn=53367878",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:31 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548158679?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2OTE5Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dH8Asgp2Kk2Qu-wpFthQj5ws8IQYCmAAg0OAciN9iVI\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:29:23 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2OTE5OQ==;sn=53369199",
        "x-ms-date": "Mon, 15 Jun 2026 18:30:12 GMT"
      },
      "ResponseBody": {
        "etag": "dH8Asgp2Kk2Qu-wpFthQj5ws8IQYCmAAg0OAciN9iVI",
        "key": "key2-1781548158679",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:29:23+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781548158679",
    "key2": "key2-1781548158679",
    "snapshot1": "snapshot-1781548158679",
    "snapshot2": "snapshot-1781548191980"
  }
}
