{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758021896663?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758021896663",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ebUwkyYNnQ3s44NZyTB1V02RScxZ583Ds5SfQzkkIkM\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg5Mjg=;sn=73738928"
      },
      "ResponseBody": {
        "etag": "ebUwkyYNnQ3s44NZyTB1V02RScxZ583Ds5SfQzkkIkM",
        "key": "key1-1758021896663",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:24:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758021896663?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg5Mjg="
      },
      "RequestBody": {
        "key": "key2-1758021896663",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A216SEgJZwVXWdrzfIA6YrO_5rkWFgZg6jCC6XleMVo\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg5MzE=;sn=73738931"
      },
      "ResponseBody": {
        "etag": "A216SEgJZwVXWdrzfIA6YrO_5rkWFgZg6jCC6XleMVo",
        "key": "key2-1758021896663",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:24:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg5MzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg5MzM=;sn=73738933"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "Rn9P0RDXM_La-WaBCH5ECOfOgxf8maEzEnB29Of23TE",
            "name": "snapshot-1758010742162",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1758010742162",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2025-09-16T08:19:11+00:00",
            "expires": "2025-10-16T08:19:32+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          },
          {
            "etag": "G_XBwldJb5WAx_itATDUtTjO6Yb32uEFbYXg9qN5jJo",
            "name": "snapshot-1758010773063",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1758010773063",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2025-09-16T08:19:36+00:00",
            "expires": "2025-10-16T08:19:58+00:00[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758010742162?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg5MzM="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Rn9P0RDXM_La-WaBCH5ECOfOgxf8maEzEnB29Of23TE\"",
        "Last-Modified": "Tue, 16 Sep 2025 08:19:32 GMT",
        "Link": "</kv?snapshot=snapshot-1758010742162&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg5Mzc=;sn=73738937"
      },
      "ResponseBody": {
        "etag": "Rn9P0RDXM_La-WaBCH5ECOfOgxf8maEzEnB29Of23TE",
        "name": "snapshot-1758010742162",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758010742162",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-16T08:19:11+00:00",
        "expires": "2025-10-16T08:19:32+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2023-11-01&status=ready",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkwNzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzkwNzM=;sn=73739073"
      },
      "ResponseBody": {
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758021896663?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkwNzM="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758021896663",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Q8dJ5FguRfdS8F8ggzAksi_iqG5D8rFQN1G5PuPRdEk\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:25:12 GMT",
        "Link": "</kv?snapshot=snapshot-1758021896663&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758021896663&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzkwNzU=;sn=73739075"
      },
      "ResponseBody": {
        "etag": "Q8dJ5FguRfdS8F8ggzAksi_iqG5D8rFQN1G5PuPRdEk",
        "name": "snapshot-1758021896663",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758021896663",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-16T11:25:12.7107689+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1758021896663&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkwNzU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzkwNzY=;sn=73739076"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758021896663?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzkyNzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A216SEgJZwVXWdrzfIA6YrO_5rkWFgZg6jCC6XleMVo\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:24:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzkyNzI=;sn=73739272"
      },
      "ResponseBody": {
        "etag": "A216SEgJZwVXWdrzfIA6YrO_5rkWFgZg6jCC6XleMVo",
        "key": "key2-1758021896663",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:24:59+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758021896663",
    "key2": "key2-1758021896663",
    "snapshot1": "snapshot-1758021896663",
    "snapshot2": "snapshot-1758021933894"
  }
}
