{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1778087478754?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Tqf_RJiJZuc6kNQpMZq_lvgHT0WVx4D76-W4wHkVyGA\"",
        "Last-Modified": "Wed, 06 May 2026 17:11:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjg4;sn=65176288",
        "x-ms-date": "Wed, 06 May 2026 17:11:20 GMT"
      },
      "ResponseBody": {
        "etag": "Tqf_RJiJZuc6kNQpMZq_lvgHT0WVx4D76-W4wHkVyGA",
        "key": "key1-1778087478754",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:11:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1778087478754?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjg4"
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pIm_4rzyPtncM8s1eR-9my5g-CWIVWUiZFw3QDvDSBg\"",
        "Last-Modified": "Wed, 06 May 2026 17:11:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjg5;sn=65176289",
        "x-ms-date": "Wed, 06 May 2026 17:11:20 GMT"
      },
      "ResponseBody": {
        "etag": "pIm_4rzyPtncM8s1eR-9my5g-CWIVWUiZFw3QDvDSBg",
        "key": "key2-1778087478754",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:11:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjg5;sn=65176289",
        "x-ms-date": "Wed, 06 May 2026 17:11:20 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "CakHBMhbFOJz8uP9MEcapUVgOu_jSk3PlOJUqpY4xrY",
            "name": "snapshot-1778087332935",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1778087332935",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-05-06T17:08:56+00:00",
            "expires": "2026-06-05T17:09:27+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          },
          {
            "etag": "ehEhbZMafR6z2RqLhz3KRDq-WoG5EDxjS7p8jXd4BUU",
            "name": "snapshot-1778087367521",
            "status": "archived",
            "filters": [
              {
                "key": "key1-1778087367521",
                "label": "label1",
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-05-06T17:09:28+00:00",
            "expires": "2026-06-05T17:09:49+00:00[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1778087332935?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjg5"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"CakHBMhbFOJz8uP9MEcapUVgOu_jSk3PlOJUqpY4xrY\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:27 GMT",
        "Link": "</kv?snapshot=snapshot-1778087332935&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjg5;sn=65176289",
        "x-ms-date": "Wed, 06 May 2026 17:11:20 GMT"
      },
      "ResponseBody": {
        "etag": "CakHBMhbFOJz8uP9MEcapUVgOu_jSk3PlOJUqpY4xrY",
        "name": "snapshot-1778087332935",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1778087332935",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:08:56+00:00",
        "expires": "2026-06-05T17:09:27+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots?api-version=2023-11-01&status=ready",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjg5;sn=65176289",
        "x-ms-date": "Wed, 06 May 2026 17:11:20 GMT"
      },
      "ResponseBody": {
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1778087478754?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjg5"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1778087478754",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"GsfuxQ1BX1LJ037a1oaITgGaflCLM0snhWCxIsYkPhU\"",
        "Last-Modified": "Wed, 06 May 2026 17:11:20 GMT",
        "Link": "</kv?snapshot=snapshot-1778087478754&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1778087478754&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjkw;sn=65176290",
        "x-ms-date": "Wed, 06 May 2026 17:11:20 GMT"
      },
      "ResponseBody": {
        "etag": "GsfuxQ1BX1LJ037a1oaITgGaflCLM0snhWCxIsYkPhU",
        "name": "snapshot-1778087478754",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1778087478754",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:11:20.4351718+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1778087478754",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjkw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjkw;sn=65176290",
        "x-ms-date": "Wed, 06 May 2026 17:11:20 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1778087478754?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MzA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pIm_4rzyPtncM8s1eR-9my5g-CWIVWUiZFw3QDvDSBg\"",
        "Last-Modified": "Wed, 06 May 2026 17:11:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MzA1;sn=65176305",
        "x-ms-date": "Wed, 06 May 2026 17:11:51 GMT"
      },
      "ResponseBody": {
        "etag": "pIm_4rzyPtncM8s1eR-9my5g-CWIVWUiZFw3QDvDSBg",
        "key": "key2-1778087478754",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:11:20+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1778087478754",
    "key2": "key2-1778087478754",
    "snapshot1": "snapshot-1778087478754",
    "snapshot2": "snapshot-1778087500857"
  }
}
