{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
        "displayName": "Microsoft Azure Sponsorship 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Support/services/484e2236-bc6d-b1bb-76d2-7d09278cf9ea?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Support/services/484e2236-bc6d-b1bb-76d2-7d09278cf9ea",
        "name": "484e2236-bc6d-b1bb-76d2-7d09278cf9ea",
        "type": "Microsoft.Support/services",
        "properties": {
          "displayName": "Activity Logs",
          "resourceTypes": []
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "1bbf1f73-f453-4c19-b1c5-3e7f914cf177",
    "RandomSeed": "1938190135",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
    "TENANT_ID": "a73527ee-8243-45dd-8920-ec148d4ad0f8"
  }
}
