{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/backup-restore-1776812572458",
            "x5t": "oj8Rme0pPgpqjj_mSzVxVS70dvU",
            "attributes": {
              "enabled": true,
              "nbf": 1776811976,
              "exp": 1808348576,
              "created": 1776812576,
              "updated": 1776812576
            },
            "subject": ""
          },
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/backup-restore-1776812578159",
            "x5t": "ja6wybbXowobFmgor0G37IVZRgk",
            "attributes": {
              "enabled": true,
              "nbf": 1776811982,
              "exp": 1808348582,
              "created": 1776812582,
              "updated": 1776812582
            },
            "subject": ""
          },
          {
            "id": "https://keyvault_name.vault.azure.net[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/hello-w[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/source-pfx-1776811140059",
            "x5t": "6xXDXdNDy3Ec4xxRc6Bja4GD8yw",
            "attributes": {
              "enabled": true,
              "nbf": 1776810545,
              "exp": 1808347145,
              "created": 1776811145,
              "updated": 1776811145
            },
            "subject": ""
          },
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/source-pfx-1777138063312",
            "x5t": "0GDzktu1X_MtoX1NbcUxXTKwimc",
            "attributes": {
              "enabled": true,
              "nbf": 1777137472,
              "exp": 1808674072,
              "created": 1777138072,
              "updated": 1777138072
            },
            "subject": ""
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/source-pfx-1776811140059",
            "x5t": "6xXDXdNDy3Ec4xxRc6Bja4GD8yw",
            "attributes": {
              "enabled": true,
              "nbf": 1776810545,
              "exp": 1808347145,
              "created": 1776811145,
              "updated": 1776811145
            },
            "subject": ""
          },
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/source-pfx-1777138063312",
            "x5t": "0GDzktu1X_MtoX1NbcUxXTKwimc",
            "attributes": {
              "enabled": true,
              "nbf": 1777137472,
              "exp": 1808674072,
              "created": 1777138072,
              "updated": 1777138072
            },
            "subject": ""
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "certificateName1": "list-11777138107027",
    "certificateName2": "list-21777138107027"
  }
}
