{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768530140701642?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD05195885D81\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:15:02 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768530140701642/blob169768530151705761?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DBD05195991F41\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:15:02 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-19T03:15:02.3825729Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768530140701642/copiedblob169768530174303131?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD05195BDB8DA\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:15:02 GMT",
        "x-ms-copy-id": "6def5f74-aa4c-4a93-8396-f66e73c9c0af",
        "x-ms-copy-status": "success",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-19T03:15:02.6224346Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768530140701642?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169768530151705761",
    "container": "container169768530140701642",
    "copiedblob": "copiedblob169768530174303131"
  }
}
