{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testblob?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:c6893c7e-701e-000a-3346-ab4555000000\n",
        "Time:2026-03-03T19:46:51.8225480Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test.txt?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9DC5C5A8\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test.txt?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "content",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test.txt?action=flush&position=7&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DE795D9DCC9BBC\"",
        "x-ms-date": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9DDA95C6\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "7e448fbd-bc72-42ed-a1a0-c265bbb98351",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9DE16BEB\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9DF111CF\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Mar 2026 19:46:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "version from mfe",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test_dir0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9E05BB06\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test_dir0/sub_dir?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9E1429AF\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test_dir0/sub_dir/test.txt?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9E213A72\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test_dir0/sub_dir/test.txt?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-MD5": "mgNkuembtIDdJeHwKEyFVQ==",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "content",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-MD5": "mgNkuembtIDdJeHwKEyFVQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000/test_dir0/sub_dir/test.txt?action=flush&position=7&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DE795D9E28376C\"",
        "x-ms-date": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9E37688C\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testblob/LocalUpload/000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795D9E4BC402\"",
        "Last-Modified": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Mar 2026 19:46:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "version from mfe",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir_asset_id": "1af69f1a-584a-4d20-9ce0-15326cbf620a",
    "file_asset_id": "f7c088a7-6541-4dd4-b608-36a5955e8afc"
  }
}
