{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/sms?api-version=2025-05-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "+14255550123",
            "repeatabilityRequestId": "sanitized",
            "repeatabilityFirstSent": "Thu, 01 Jan 1970 00:00:00 GMT"
          }
        ],
        "message": "test message",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "SMS_LIVE_TEST"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview, 2025-05-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "116ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "+14255550123",
            "messageId": "Outgoing_202506030835579f2184c4-3994-4fd9-ad17-0075c6613061_prod_nam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/sms?api-version=2025-05-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "+14255550123",
            "repeatabilityRequestId": "sanitized",
            "repeatabilityFirstSent": "Thu, 01 Jan 1970 00:00:00 GMT"
          }
        ],
        "message": "test message",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "SMS_LIVE_TEST"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview, 2024-12-10-preview, 2024-12-19-privatepreview, 2025-05-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "120ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "+14255550123",
            "messageId": "Outgoing_2025060308355752972fbb-c166-46cd-aa5a-9222cf1bbda7_prod_nam",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {}
}
