{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/f3c1b738f41c44edbbaadaf8ac88a764",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qTBydpu_r8JSFsP89q6DnVM9vpHsAivWltjF78R_fQpkfb0ehOze7BlZrxOGtf9BdL_J7O4M6wCZqb5ZyUQkD1-WC02sAbxOTbkYGu_V8ztUtXXwIb7wbUo0jVB-GMbS_OQzaZvwtb5M1Sp50OH41tk4fZYaGmDvV44UM4NY5FHl3IgW7tpZQpQudUszYWqJgu488fi3Ak9lpAxHMQeJhCV-rXOpPn70JQwAvyKDLQJNOvdxCc-vIgJdgNt_SxhB-M6nBKs1xhHVxJnj-ldqE4-g1noWd0_CcaEwFaHfLTAVlA9TiqWaX5h2z_upvwKLi8x6K9f5t68UHk4XEcPqbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604586,
          "updated": 1778604586,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroDeleteKeyName-canwaituntilakeyisdeleted-",
        "deletedDate": 1778604586,
        "scheduledPurgeDate": 1779209386,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/f3c1b738f41c44edbbaadaf8ac88a764",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qTBydpu_r8JSFsP89q6DnVM9vpHsAivWltjF78R_fQpkfb0ehOze7BlZrxOGtf9BdL_J7O4M6wCZqb5ZyUQkD1-WC02sAbxOTbkYGu_V8ztUtXXwIb7wbUo0jVB-GMbS_OQzaZvwtb5M1Sp50OH41tk4fZYaGmDvV44UM4NY5FHl3IgW7tpZQpQudUszYWqJgu488fi3Ak9lpAxHMQeJhCV-rXOpPn70JQwAvyKDLQJNOvdxCc-vIgJdgNt_SxhB-M6nBKs1xhHVxJnj-ldqE4-g1noWd0_CcaEwFaHfLTAVlA9TiqWaX5h2z_upvwKLi8x6K9f5t68UHk4XEcPqbQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604586,
          "updated": 1778604586,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canwaituntilakeyisdeleted-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroDeleteKeyName-canwaituntilakeyisdeleted-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canwaituntilakeyisdeleted-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
