{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/a044242cecc047f1ac62d43597b3911e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y5RAxE63Z_1d5dZPivuUgkAlSZuD1TFUzATySo_aCOsPlO_89GZIvboEM8fLtX8U_Dw2FQk4OPIAJKQwNAJ3pw0w9UOXP9OR5ihVRK70T4YHDjZrVvooGaBfjxuGZCBHavIWH4VvRYTQCeskpkSQt9l5TIEgK1OlKbFWEjPX4S6xsG8KjB6hAk01TTvxcj5vmgkkXDBC3pQaPxpoaoXntqSQOidQam34JOVDkPFfTwvpexxbfbjauZSokfdjZwWO0FSL8dn2wFVP7q1cY7HcXRJqIJdusRxBWyjHPc6BSu4IkQSsy1Ma6gWj7Y1MAExSywLpN2ym6LqDR1EwZEIZOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515957,
          "updated": 1778515957,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-",
        "deletedDate": 1778515957,
        "scheduledPurgeDate": 1779120757,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/a044242cecc047f1ac62d43597b3911e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y5RAxE63Z_1d5dZPivuUgkAlSZuD1TFUzATySo_aCOsPlO_89GZIvboEM8fLtX8U_Dw2FQk4OPIAJKQwNAJ3pw0w9UOXP9OR5ihVRK70T4YHDjZrVvooGaBfjxuGZCBHavIWH4VvRYTQCeskpkSQt9l5TIEgK1OlKbFWEjPX4S6xsG8KjB6hAk01TTvxcj5vmgkkXDBC3pQaPxpoaoXntqSQOidQam34JOVDkPFfTwvpexxbfbjauZSokfdjZwWO0FSL8dn2wFVP7q1cY7HcXRJqIJdusRxBWyjHPc6BSu4IkQSsy1Ma6gWj7Y1MAExSywLpN2ym6LqDR1EwZEIZOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515957,
          "updated": 1778515957,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroDeleteKeyName-canresumefromastoppedpoller-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
