{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/ee453c86f0854c1eb0f1f2538995f808",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oLOTxoFhRQC-OOJKkWPUbWLIaVroNGMRY-K-CJGEzd0Hfr-xdCWCtSS5byRS5frn_LEn-peag3gHS6QrZeI7QPgMQ1rniK3eJfkwdEszaB88QuTaGTg_m_Fr3vvz8pwKDEUVzigX2ohgkcQJBqL9IoVS6bkBXRGrRtg3nByHcX59NNFF1aichpywv40nSYSp6JQjARCajkyTfzAzXUnEfzrT0nnqYR9XXHLjypguu8uyBEDqlNxdRSQX9XzAnxCy6bSJ5oPN_uI8-Q1sB4HGtU_Fdat7mrVdbyfi2mmKt4w7X80VNpKu4P92_uxsWphATJCoOZ1-zgj6P9_lFahVpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207642,
          "updated": 1782207642,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-",
        "deletedDate": 1782207642,
        "scheduledPurgeDate": 1782812442,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/ee453c86f0854c1eb0f1f2538995f808",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oLOTxoFhRQC-OOJKkWPUbWLIaVroNGMRY-K-CJGEzd0Hfr-xdCWCtSS5byRS5frn_LEn-peag3gHS6QrZeI7QPgMQ1rniK3eJfkwdEszaB88QuTaGTg_m_Fr3vvz8pwKDEUVzigX2ohgkcQJBqL9IoVS6bkBXRGrRtg3nByHcX59NNFF1aichpywv40nSYSp6JQjARCajkyTfzAzXUnEfzrT0nnqYR9XXHLjypguu8uyBEDqlNxdRSQX9XzAnxCy6bSJ5oPN_uI8-Q1sB4HGtU_Fdat7mrVdbyfi2mmKt4w7X80VNpKu4P92_uxsWphATJCoOZ1-zgj6P9_lFahVpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207642,
          "updated": 1782207642,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroDeleteKeyName-canresumefromastoppedpoller-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
