{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/d3bc7c7510b7427497fc8f4688acdfdf",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4syfHRjiL6M95RU6f41_tPvR7aY781N1RAG69BwBhWFCj-CaomwbtxLfzkt_zOZ4uGIZ85AsMRvmYg5HIUAdbGA1OAMti6WgGhvFwokuYF1sJ2mm76k5KysgumD8BO1XTC6e-ekUiUbUEuuSAB89KPDw9nmJLjCyWdAyGx_sCohkV3Cb0wAefrn2zs7WDDdgdr7rWSAy1-mtQpyUei9_vPVDQRrWEaG7HhnNTC7pluE0_CIt_Lot5-Ab-ywTalbxPTKF4lUl5Eija8OYoqpUcL-ahjYmkmH7H29gaZvuAMCQ82mMCjqHpvTUH7CJeCWNShQhH7GFwYJA2XhvF4gMWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478225,
          "updated": 1739478225,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroDeleteKeyName-canwaituntilakeyisdeleted-",
        "deletedDate": 1739478225,
        "scheduledPurgeDate": 1740083025,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canwaituntilakeyisdeleted-/d3bc7c7510b7427497fc8f4688acdfdf",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4syfHRjiL6M95RU6f41_tPvR7aY781N1RAG69BwBhWFCj-CaomwbtxLfzkt_zOZ4uGIZ85AsMRvmYg5HIUAdbGA1OAMti6WgGhvFwokuYF1sJ2mm76k5KysgumD8BO1XTC6e-ekUiUbUEuuSAB89KPDw9nmJLjCyWdAyGx_sCohkV3Cb0wAefrn2zs7WDDdgdr7rWSAy1-mtQpyUei9_vPVDQRrWEaG7HhnNTC7pluE0_CIt_Lot5-Ab-ywTalbxPTKF4lUl5Eija8OYoqpUcL-ahjYmkmH7H29gaZvuAMCQ82mMCjqHpvTUH7CJeCWNShQhH7GFwYJA2XhvF4gMWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478225,
          "updated": 1739478225,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canwaituntilakeyisdeleted-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroDeleteKeyName-canwaituntilakeyisdeleted-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canwaituntilakeyisdeleted-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
