{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/eacd2adb88684be5a946cfb1c2b40617",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1HfuNHP6vnhjrddsdnumkS3D2x_NMTIBUWT4adVgtOgMWHi-kkRuHUQ-_39z1honmn-Y5AxV3Dbnq4mWJGTFs_pVkSv6ZI_ZaqQSBozv1ZpiY2YgdO7BC46IGvLbRStyA6rWcjb_AOeKTJJC3etgCEMlAUEoKLgzCOLKQIBLgxQvLH3PpETHsovM1HobPlu2ykCceA508sqtTM8UL8X9mdsQc8bCpfYiET8Pe612XJWf_GquMDZKPOndeesAggq3IdQapl9O682qLUS0jZWZEyiweL4lMvVeeNrExewnxF6i2pt6f1lvMhaipCxBR4UfB9xuIefIp03ppo_ZgshalQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478234,
          "updated": 1739478234,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-",
        "deletedDate": 1739478234,
        "scheduledPurgeDate": 1740083034,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroDeleteKeyName-canresumefromastoppedpoller-/eacd2adb88684be5a946cfb1c2b40617",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1HfuNHP6vnhjrddsdnumkS3D2x_NMTIBUWT4adVgtOgMWHi-kkRuHUQ-_39z1honmn-Y5AxV3Dbnq4mWJGTFs_pVkSv6ZI_ZaqQSBozv1ZpiY2YgdO7BC46IGvLbRStyA6rWcjb_AOeKTJJC3etgCEMlAUEoKLgzCOLKQIBLgxQvLH3PpETHsovM1HobPlu2ykCceA508sqtTM8UL8X9mdsQc8bCpfYiET8Pe612XJWf_GquMDZKPOndeesAggq3IdQapl9O682qLUS0jZWZEyiweL4lMvVeeNrExewnxF6i2pt6f1lvMhaipCxBR4UfB9xuIefIp03ppo_ZgshalQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478234,
          "updated": 1739478234,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroDeleteKeyName-canresumefromastoppedpoller-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
