{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.int.communication.azure.net/sms/optouts:add?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "from": "Sanitized",
        "recipients": [
          {
            "to": "+12076710258"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "229ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "+12076710258",
            "httpStatusCode": 200
          }
        ]
      }
    }
  ],
  "Variables": {}
}
