{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2026-04-27T19:41:36Z</Start><Expiry>2026-05-02T20:41:36Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>fb3258f2-574f-4e0f-bae5-3470b8f22903</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-04-27T19:41:36Z</SignedStart><SignedExpiry>2026-05-02T20:41:36Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-06-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732250141909514?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D640D7EB7\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:41:42 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732250141909514/blob177732250153508546",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DEA49D641FE563\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:41:42 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:41:42.9821795Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732250141909514/blob177732250153508546?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D641FE563\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:41:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2026-04-27T20:41:43.0991136Z",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:41:43.1001136Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732250141909514/blob177732250153508546?snapshot=2026-04-27T20%3A41%3A43.0991136Z&skoid=fb3258f2-574f-4e0f-bae5-3470b8f22903&skt=2026-04-27T19%3A41%3A36Z&ske=2026-05-02T20%3A41%3A36Z&sks=b&skv=2026-06-06&rscc=cache-control-override&rscd=content-disposition-override&rsce=content-encoding-override&rscl=content-language-override&rsct=content-type-override&",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "content-disposition-override",
        "Content-Language": "content-language-override",
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "content-type-override",
        "ETag": "\"0x8DEA49D641FE563\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:41:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2026 20:41:42 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732250141909514?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177732250153508546",
    "container": "container177732250141909514",
    "now": "2026-04-27T20:41:36.690Z",
    "tmr": "2026-04-27T20:41:36.690Z"
  }
}
