{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2025-09-19T16:57:18Z</Start><Expiry>2025-09-24T17:57:18Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>51291b7b-d07c-424e-b934-042c148c6a56</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-09-19T16:57:18Z</SignedStart><SignedExpiry>2025-09-24T17:57:18Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2025-11-05</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830464739503365?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A5FEBF7EA0\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830464739503365/blob175830464751502174",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DDF7A5FED1F8B8\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:27 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:57:27.3326496Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830464739503365/pageBlob175830464764307425?sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&ses=sanitizedses&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2025-09-19T16%3A57%3A18Z&ske=2025-09-24T17%3A57%3A18Z&sks=b&skv=2025-11-05&sr=b&sp=racwdy&sig=sanitizedsig&rscc=cache-control-override&rscd=content-disposition-override&rsce=content-encoding-override&rscl=content-language-override&rsct=content-type-override",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-encryption-scope": "encryptionScope1",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A5FEE34A6C\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:27 GMT",
        "x-ms-encryption-scope": "encryptionScope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:57:27.4461514Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830464739503365/pageBlob175830464764307425?sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&ses=sanitizedses&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2025-09-19T16%3A57%3A18Z&ske=2025-09-24T17%3A57%3A18Z&sks=b&skv=2025-11-05&sr=b&sp=racwdy&sig=sanitizedsig&rscc=cache-control-override&rscd=content-disposition-override&rsce=content-encoding-override&rscl=content-language-override&rsct=content-type-override",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830464739503365?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175830464751502174",
    "container": "container175830464739503365",
    "now": "2025-09-19T17:57:18.717Z",
    "pageBlob": "pageBlob175830464764307425",
    "tmr": "2025-09-19T17:57:18.717Z"
  }
}
