{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755385510902382?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742C2E0FF449\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:55:30 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755385510902382/dir168755385520902824.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742C2E1F3ACE\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:55:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-23T20:55:30.4238798Z",
        "x-ms-file-creation-time": "2023-06-23T20:55:30.4238798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-23T20:55:30.4238798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11388031799016231592*17785080543603098913",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755385510902382/dir168755385520902824.?comp=metadata\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742C2E2D908D\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:55:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755385510902382/dir168755385520902824.?restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742C2E2D908D\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:55:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-23T20:55:30.5178253Z",
        "x-ms-file-creation-time": "2023-06-23T20:55:30.4238798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-23T20:55:30.4238798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11388031799016231592*17785080543603098913",
        "x-ms-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755385510902382/dir168755385520902824.?comp=metadata\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "false",
        "x-ms-meta-key1": "Value1",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742C2E4AD838\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:55:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755385510902382?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168755385520902824",
    "share": "share168755385510902382"
  }
}
