{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11797"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-sqldw-256?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256",
        "name": "adf-rg-sqldw-256",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "name": "adf-sqldw-9075",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T07:22:08.2383349Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00224004e33e-0000-0800-0000-655c5aa00000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075/integrationRuntimes/adf-integrationRuntime-8159?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075/integrationruntimes/adf-integrationRuntime-8159",
        "name": "adf-integrationRuntime-8159",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "910047ac-0000-0800-0000-655c5aa10000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075/linkedservices/adf_linkedservice_akv_6028?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075/linkedservices/adf_linkedservice_akv_6028",
        "name": "adf_linkedservice_akv_6028",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "91004bac-0000-0800-0000-655c5aa10000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075/linkedservices/adf_linkedservice_sqldw_5473?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDW",
          "typeProperties": {
            "connectionString": {
              "value": "fakeConnString",
              "type": "SecureString"
            },
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "adf_linkedservice_akv_6028"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sqldw-256/providers/Microsoft.DataFactory/factories/adf-sqldw-9075/linkedservices/adf_linkedservice_sqldw_5473",
        "name": "adf_linkedservice_sqldw_5473",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDW",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "adf_linkedservice_akv_6028"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "910050ac-0000-0800-0000-655c5aa20000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1566512692",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
