{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "46841c0e-69c8-4b17-af46-6626ecb15fc2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Avere_AscTIP1_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache",
        "name": "rg-amajaistoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "ServiceDirectory": "storagecache",
          "DeleteAfter": "2024-01-21T22:01:46.2082932Z",
          "Owners": "amajai"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce22727-ffce-45a9-930c-ddb2e56fa131"
          },
          {
            "applicationId": "486c78bf-a0f7-45f1-92fd-37215929e116",
            "roleDefinitionId": "98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"
          },
          {
            "applicationId": "19947cfd-0303-466c-ac3c-fcc19a7a1570",
            "roleDefinitionId": "d813ab6c-bfb7-413e-9462-005b21f0ce09"
          },
          {
            "applicationId": "341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd",
            "roleDefinitionId": "8141843c-c51c-4c1e-a5bf-0d351594b86c"
          },
          {
            "applicationId": "328fd23b-de6e-462c-9433-e207470a5727",
            "roleDefinitionId": "79e29e06-4056-41e5-a6b2-959f1f47747e"
          },
          {
            "applicationId": "6d057c82-a784-47ae-8d12-ca7b38cf06b4",
            "roleDefinitionId": "c27dd31e-c1e5-4ab0-93e1-a12ba34f182e",
            "managedByRoleDefinitionId": "82e8942a-bcb6-444a-b1c4-31a3ea463a7d"
          },
          {
            "applicationId": "b4ca0290-4e73-4e31-ade0-c82ecfaabf6a",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "79d7fb34-4bef-4417-8184-ff713af7a679",
            "roleDefinitionId": "1c1f11ef-abfa-4abe-a02b-226771d07fc7"
          },
          {
            "applicationId": "38808189-fa7a-4d8a-807f-eba01edacca6",
            "roleDefinitionId": "7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"
          },
          {
            "applicationId": "6e02f8e9-db9b-4eb5-aa5a-7c8968375f68",
            "roleDefinitionId": "787424c7-f9d2-416b-a939-4d59deb2d259"
          },
          {
            "applicationId": "60b2e7d5-a27f-426d-a6b1-acced0846fdf",
            "roleDefinitionId": "0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "virtualNetworkGateways",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "West US 3",
              "Jio India West",
              "Sweden Central",
              "Qatar Central",
              "Poland Central",
              "Italy North",
              "Israel Central",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2023-09-01",
              "2023-06-01",
              "2023-05-01",
              "2023-04-01",
              "2023-02-01",
              "2022-11-01",
              "2022-09-01",
              "2022-07-01",
              "2022-05-01",
              "2022-01-01",
              "2021-12-01",
              "2021-08-01",
              "2021-06-01",
              "2021-05-01",
              "2021-04-01",
              "2021-03-01",
              "2021-02-01",
              "2021-0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-7674?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-6437",
              "properties": {
                "addressPrefix": "10.0.0.0/16"
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/3cfa15cd-4559-45ff-8df7-476c947858e8?api-version=2023-09-01\u0026t=638410474754775808\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.Network/locations/eastus/operations/3cfa15cd-4559-45ff-8df7-476c947858e8?api-version=2023-09-01\u0026t=638410474754775808\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25p[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-7674?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00221ee05e49-34c2-4171-b212-09904e0a0ccf\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "name": "scTestVNet-7674",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-7674",
        "etag": "W/\u00221ee05e49-34c2-4171-b212-09904e0a0ccf\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "9cd2a9ff-2c8e-401e-9d76-86161aac00e8",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "scTestSubnet-6437",
              "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-7674/subnets/scTestSubnet-6437",
              "etag": "W/\u00221ee05e49-34c2-4171-b212-09904e0a0ccf\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.0.0/16",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184?api-version=2023-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_2G"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "cacheSizeGB": 3072,
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-7674/subnets/scTestSubnet-6437",
          "zones": [
            "1"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/746f6568-6d2a-4190-a049-fa87f5c4a889?api-version=2023-11-01-preview\u0026t=638410474871971946\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/746f6568-6d2a-4190-a049-fa87f5c4a889?api-version=2023-11-01-preview\u0026t=638410474871971946\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184?api-version=2023-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetCache1Min;116",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "name": "testsc7184",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "utilityAddresses": [
              "10.0.0.10",
              "10.0.0.11",
              "10.0.0.12"
            ],
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {},
          "zones": [
            "1"
          ],
          "cacheSizeGB": 3072,
          "health": {
            "state": "Healthy",
            "statusDescription": "The cache is in Running state",
            "conditions": []
          },
          "mountAddresses": [
            "10.0.0.7",
            "10.0.0.8",
            "10.0.0.9"
          ],
          "provisioningState": "Succeeded",
          "subnet": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.Network/virtualNetworks/scTestVNet-7674/subnets/scTestSubnet-6437",
          "upgradeStatus": {
            "currentFirmwareVersion": "2023.09.0",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2024-01-17T00:18:06.7919385Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "ee2bf0a3-728b-4850-9e83-74a28947f360",
          "createdByType": "Application",
          "createdAt": "2024-01-17T00:18:06.3690071Z",
          "lastModifiedBy": "ee2bf0a3-728b-4850-9e83-74a28947f360",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-01-17T00:18:06.3690071Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745?api-version=2023-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "targetType": "nfs3",
          "nfs3": {
            "target": "10.0.2.4",
            "usageModel": "READ_ONLY",
            "verificationTimer": 30
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/cc8ab465-62c2-492d-bb4d-fd4259db0def?api-version=2023-11-01-preview\u0026t=638410482294002630\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/cc8ab465-62c2-492d-bb4d-fd4259db0def?api-version=2023-11-01-preview\u0026t=638410482294002630\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745?api-version=2023-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetStorageTarget1Min;119",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "storagetarget7745",
        "id": "/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745",
        "type": "Microsoft.StorageCache/caches/storageTargets",
        "location": "eastus",
        "properties": {
          "allocationPercentage": 100,
          "targetType": "nfs3",
          "provisioningState": "Succeeded",
          "state": "Ready",
          "junctions": [],
          "nfs3": {
            "target": "10.0.2.4",
            "usageModel": "READ_ONLY",
            "verificationTimer": 30
          }
        },
        "systemData": {
          "createdBy": "ee2bf0a3-728b-4850-9e83-74a28947f360",
          "createdByType": "Application",
          "createdAt": "2024-01-17T00:30:29.2440127Z",
          "lastModifiedBy": "ee2bf0a3-728b-4850-9e83-74a28947f360",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-01-17T00:30:29.2440127Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745/flush?api-version=2023-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/0e4f3223-2dd8-40ab-84d0-f3811798aa38?api-version=2023-11-01-preview\u0026t=638410482643231397\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745/dnsRefresh?api-version=2023-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://manag[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/6785c080-1d83-45ae-b13b-35d5fd2e6ce5?api-version=2023-11-01-preview\u0026t=638410482701200816\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745/restoreDefaults?api-version=2023-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/8dde010b-5e6e-497f-ae29-9ee1a0db1835?api-version=2023-11-01-preview\u0026t=638410483044017008\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/8dde010b-5e6e-497f-ae29-9ee1a0db1835?monitor=true\u0026api-version=2023-11-01-preview\u0026t=638410483044017008\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745/invalidate?api-version=2023-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://manag[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/8e40211d-6720-4b21-83c4-e6e9273c6116?api-version=2023-11-01-preview\u0026t=638410483233081581\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745/suspend?api-version=2023-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://manageme[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/c612e7ca-fb54-4efc-999f-536796ac0fae?api-version=2023-11-01-preview\u0026t=638410483896995710\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/resourcegroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/caches/testsc7184/storageTargets/storagetarget7745/resume?api-version=2023-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://managemen[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/46841c0e-69c8-4b17-af46-6626ecb15fc2/providers/Microsoft.StorageCache/locations/eastus/ascOperations/e66d3702-969e-4f45-ad53-d4d7ab463518?api-version=2023-11-01-preview\u0026t=638410483911995151\u0026c=MIIHADCCBeigAwIBAgITHgOOlagoZCFasxXZDQAAA46VqDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDgyNjMxWhcNMjQxMDI2MDgyNjMxWjBAMT4wPAYDVQQDEzVhc3luY29w[...]
[...]
