{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/weather/tropical/storms/json?api-version=1.1&year=2022",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "year": "2022",
            "basinId": "AL",
            "govId": 1,
            "name": "Alex",
            "isActive": false,
            "isRetired": false,
            "isSubtropical": false
          },
          {
            "year": "2022",
            "basinId": "AL",
            "govId": 2,
            "name": "Bonnie",
            "isActive": false,
            "isRetired": false,
            "isSubtropical": false
          },
          {
            "year": "2022",
            "basinId": "AL",
            "govId": 3,
            "name": "Colin",
            "isActive": false,
            "isRetired": false,
            "isSubtropical": false
          },
          {
 [...]
