{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/weather/forecast/minute/json?api-version=1.1&query=25.0338053,121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "briefPhrase60": "A break in the rain in 30 min",
          "shortPhrase": "Rain for 30 min",
          "briefPhrase": "A break in the rain in 30 min",
          "longPhrase": "A break in the rain in 30 min",
          "iconCode": 15
        },
        "intervalSummaries": [
          {
            "startMinute": 0,
            "endMinute": 29,
            "totalMinutes": 30,
            "shortPhrase": "Rain for %minute_value min",
            "briefPhrase": "A break in the rain in %minute_value min",
            "longPhrase": "A break in the rain in %minute_value min",
            "iconCode": 15
          },
          {
            "startMinute": 30,
            "endMinute": 53,
            "totalMinutes": 24,
            "shortPhrase": "Rain starting in %minute_value min",
            "briefPhrase": "Rain and a thunderstorm starting in %minute_value min",
            "longPhrase": "Rain and a thunderstorm starting in %minute_value min",
            "iconCode": 15
          },
          {
            "startMinute": 54,
            "endMinute": 84,
            "totalMinutes": 31,
            "shortPhrase": "Rain for %minute_value min",
            "briefPhrase": "Rain and a thunderstorm ending in %minute_value min",
            "longPhrase": "Rain and a thunderstorm ending in %minute_value min",
            "iconCode": 15
          },
          {
            "startMinute": 85,
            "endMinute": 119,
            "totalMinutes": 35,
            "shortPhrase": "No precip for %MINUTE_VALUE min",
            "briefPhrase": "No precipitation for at least %MINUTE_VALUE min",
            "longPhrase": "No precipitation for at least %MINUTE_VALUE min",
            "iconCode": 7
          }
        ],
        "intervals": [
          {
            "startTime": "2024-08-14T14:39:00+08:00",
            "minute": 0,
            "dbz": 34.0,
            "shortPhrase": "Rain",
            "threshold": "LIGHT-MODERATE",
            "color": {
              "red": 175,
              "green": 162,
              "blue": 1,
              "hex": "#AFA201"
            },
            "simplifiedColor": {
              "red": 255,
              "green": 215,
              "blue": 1,
              "hex": "#FFD701"
            },
            "precipitationType": "rain",
            "iconCode": 18,
            "cloudCover": 100
          },
          {
            "startTime": "2024-08-14T14:40:00+08:00",
            "minute": 1,
            "dbz": 34.0,
            "shortPhrase": "Rain",
            "threshold": "LIGHT-MODERATE",
            "color": {
              "red": 175,
              "green": 162,
              "blue": 1,
              "hex": "#AFA201"
            },
            "simplifiedColor": {
              "red": 255,
              "green": 215,
              "blue": 1,
              "hex": "#FFD70[...]
