{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/weather/route/json?api-version=1.1&query=25.033075%2C121.525694%2C0%3A25.0338053%2C121.5640089%2C2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "iconCode": 18,
          "hazards": {
            "maxHazardIndex": 2,
            "hazardDetails": [
              {
                "hazardIndex": 2,
                "hazardCode": "ModerateRain",
                "shortPhrase": "Rain"
              }
            ]
          }
        },
        "waypoints": [
          {
            "iconCode": 18,
            "shortPhrase": "Rain",
            "isDayTime": true,
            "cloudCover": 100,
            "temperature": {
              "value": 27.0,
              "unit": "C",
              "unitType": 17
            },
            "wind": {
              "direction": {
                "degrees": 325.0
              },
              "speed": {
                "value": 11.0,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "windGust": {
              "speed": {
                "value": 12.0,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "precipitation": {
              "dbz": 35.0,
              "type": "RAIN"
            },
            "lightningCount": 0,
            "sunGlare": {
              "calculatedVehicleHeading": 89,
              "glareIndex": 0
            },
            "hazards": {
              "maxHazardIndex": 2,
              "hazardDetails": [
                {
                  "hazardIndex": 2,
                  "hazardCode": "ModerateRain",
                  "shortPhrase": "Rain"
                }
              ]
            },
            "notifications": [
              {
                "type": "Onset",
                "hazardIndex": 2,
                "hazardCode": "ModerateRain",
                "shortPhrase": "Rain"
              }
            ]
          },
          {
            "iconCode": 18,
            "shortPhrase": "Rain",
            "isDayTime": true,
            "cloudCover": 100,
            "temperature": {
              "value": 26.9,
              "unit": "C",
              "unitType": 17
            },
            "wind": {[...]
