{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/weather/airQuality/forecasts/daily/json?api-version=1.1&query=25.0338053,121.5640089&duration=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "dateTime": "2024-08-13T16:00:00Z",
            "index": 38.3,
            "globalIndex": 73.0,
            "dominantPollutant": "Particulate Matter 2.5",
            "category": "Poor",
            "categoryColor": "#FDB80D",
            "description": "The air has reached a high level of pollution and is unhealthy for sensitive groups. Reduce time spent outside if you are feeling symptoms such as difficulty breathing or throat irritation."
          }
        ]
      }
    }
  ],
  "Variables": {}
}
