{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/weather/forecast/hourly/json?api-version=1.1&query=25.0338053,121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "forecasts": [
          {
            "date": "2024-08-14T15:00:00+08:00",
            "iconCode": 15,
            "iconPhrase": "Thunderstorms",
            "hasPrecipitation": true,
            "precipitationType": "Rain",
            "precipitationIntensity": "Moderate",
            "isDaylight": true,
            "temperature": {
              "value": 27.9,
              "unit": "C",
              "unitType": 17
            },
            "realFeelTemperature": {
              "value": 32.9,
              "unit": "C",
              "unitType": 17
            },
            "wetBulbTemperature": {
              "value": 26.8,
              "unit": "C",
              "unitType": 17
            },
            "dewPoint": {
              "value": 26.2,
              "unit": "C",
              "unitType": 17
            },
            "wind": {
              "direction": {
                "degrees": 100.0,
                "localizedDescription": "E"
              },
              "speed": {
                "value": 14.8,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "windGust": {
              "speed": {
                "value": 24.1,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "relativeHumidity": 91,
            "visibility": {
              "value": 6.4,
              "unit": "km",
              "unitType": 6
            },
            "cloudCover": 99,
            "ceiling": {
              "value": 488.0,
              "unit": "m",
              "unitType": 5
            },
            "uvIndex": 1,
            "uvIndexPhrase": "Low",
            "precipitationProbability": 85,
            "rainProbability": 85,
            "snowProbability": 0,
            "iceProbability": 0,
            "totalLiquid": {
              "value": 2.1,
              "unit": "mm",
              "unitType": 3
            },
            "rain": {
              "value": 2.1,
              "unit": "mm",
              "unitType": 3
            },
            "snow": {
              "value": 0.0,
              "unit": "cm",
              "unitType": 4
            },
            "ice": {
              "value": 0.0,
              "unit": "mm",
              "unitType": 3
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
