{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/weather/tropical/storms/forecasts/json?api-version=1.1&year=2021&basinId=NP&govId=2&details=false&radiiGeometry=false&windowGeometry=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "dateTime": "2021-04-25T06:00:00+00:00",
            "initializedDateTime": "2021-04-24T18:00:00+00:00",
            "location": {
              "latitude": 22.0,
              "longitude": 137.8
            },
            "maxWindGust": {
              "value": 92.6,
              "unit": "km/h",
              "unitType": 7
            },
            "sustainedWind": {
              "value": 74.1,
              "unit": "km/h",
              "unitType": 7
            },
            "status": "Tropical Storm",
            "window": {
              "left": {
                "latitude": 22.56387,
                "longitude": 137.73952
              },
              "right": {
                "latitude": 21.4361,
                "longitude": 137.86049
              }
            }
          },
          {
            "dateTime": "2021-04-25T18:00:00+00:00",
            "initializedDateTime": "2021-04-24T18:00:00+00:00",
            "location": {
              "latitude": 23.7,
              "longitude": 142.4
            },
            "maxWindGust": {
              "value": 92.6,
              "unit": "km/h",
              "unitType": 7
            },
            "sustainedWind": {
              "value": 74.1,
              "unit": "km/h",
              "unitType": 7
            },
            "status": "Tropical Storm",
            "window": {
              "left": {
                "latitude": 24.45283,
                "longitude": 142.05531
              },
              "right": {
                "latitude": 22.94641,
                "longitude": 142.74467
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
