{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem9e8c33a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Jun 2024 23:18:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC874816665CB9\"",
        "Last-Modified": "Fri, 07 Jun 2024 23:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9e8c33a1/file9e8c33a1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Jun 2024 23:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87481699586C\"",
        "Last-Modified": "Fri, 07 Jun 2024 23:18:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9e8c33a1/file9e8c33a1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-MD5": "pATZAut6HakpA2/gQf9XWw==",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 07 Jun 2024 23:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9e8c33a1/file9e8c33a1?action=flush&position=1536&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DC87481699586C\"",
        "x-ms-date": "Fri, 07 Jun 2024 23:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC874816B62660\"",
        "Last-Modified": "Fri, 07 Jun 2024 23:18:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
