{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem95ee261c?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:03:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0DF693AC77\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:03:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem95ee261c/file95ee261c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:03:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0DF6C04AC8\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:03:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem95ee261c/file95ee261c?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:03:19 GMT",
        "x-ms-permissions": "0777",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0DF6C04AC8\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:03:19 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem95ee261c/file95ee261c?action=getAccessControl&upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:03:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0DF6C04AC8\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:03:19 GMT",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
