{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem9e8c33a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 13 Jul 2024 02:50:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA2E6900FD6D7\"",
        "Last-Modified": "Sat, 13 Jul 2024 02:50:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9e8c33a1/file9e8c33a1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 13 Jul 2024 02:50:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA2E690BA296C\"",
        "Last-Modified": "Sat, 13 Jul 2024 02:50:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9e8c33a1/file9e8c33a1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-MD5": "pATZAut6HakpA2/gQf9XWw==",
        "Content-Type": "application/json",
        "x-ms-date": "Sat, 13 Jul 2024 02:50:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9e8c33a1/file9e8c33a1?action=flush&position=1536&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DCA2E690BA296C\"",
        "x-ms-date": "Sat, 13 Jul 2024 02:50:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA2E690D8A4D8\"",
        "Last-Modified": "Sat, 13 Jul 2024 02:50:33 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
