{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem2cd92eaf?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:bba2f374-e01e-0059-20ea-c53092000000\n",
        "Time:2026-04-06T17:24:03.6668781Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE94014CC6F4A0\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE94014CCD4618\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YWJj",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?position=3&retainUncommittedData=false&close=false&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE94014CEB2AF0\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:24:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?position=100&close=true&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-date": "Mon, 06 Apr 2026 17:24:04 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:2f889113-e01f-003b-16ea-c5f2b5000000\nTime:2026-04-06T17:24:04.0415636Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?position=100&close=true&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DE94014CFD8850\"",
        "x-ms-date": "Mon, 06 Apr 2026 17:24:04 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE94014D18E24C\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:24:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:24:04 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE94014D18E24C\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:24:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 06 Apr 2026 17:24:04 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYQ=="
    }
  ],
  "Variables": {}
}
