{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemd6243bc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:59:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A15C1A5A2FE\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:59:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemd6243bc8/dir1/dir2?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:59:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A15C1F59A74\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:59:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemd6243bc8?resource=filesystem&recursive=false&upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:59:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133836947465279660",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Mon, 10 Feb 2025 20:59:06 GMT",
            "name": "dir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
