{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem84a733e7?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:04:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0E18A24087\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:04:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem84a733e7/directory84a733e7?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0E18D0ADC0\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem84a733e7/directory84a733e7/filename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0E18FC3FCC\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem84a733e7/directory84a733e7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4A0E18D0ADC0\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem84a733e7/directory84a733e7/filename",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-upn": "True",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4A0E18FC3FCC\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Feb 2025 20:04:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
