{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemeb9c327d?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Mar 2026 22:28:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:2f30780f-601e-0017-0edd-b04bfb000000\n",
        "Time:2026-03-10T22:28:15.8452866Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemeb9c327d/directoryeb9c327d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Mar 2026 22:28:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7EF452CA3DBC\"",
        "Last-Modified": "Tue, 10 Mar 2026 22:28:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemeb9c327d/directoryeb9c327d/filename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Mar 2026 22:28:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7EF452D7C204\"",
        "Last-Modified": "Tue, 10 Mar 2026 22:28:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemeb9c327d/directoryeb9c327d/filename?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 10 Mar 2026 22:28:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemeb9c327d/directoryeb9c327d/filename?action=flush&position=100&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DE7EF452D7C204\"",
        "x-ms-date": "Tue, 10 Mar 2026 22:28:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7EF452F408E8\"",
        "Last-Modified": "Tue, 10 Mar 2026 22:28:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemeb9c327d/directoryeb9c327d/filename",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Mar 2026 22:28:16 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE7EF452F408E8\"",
        "Last-Modified": "Tue, 10 Mar 2026 22:28:16 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 10 Mar 2026 22:28:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYQ=="
    }
  ],
  "Variables": {}
}
