{
	"Entries": [
		{
			"RequestUri": "https://Sanitized.blob.core.windows.net/filesystema77e35dd?restype=container",
			"RequestMethod": "PUT",
			"RequestHeaders": {
				"x-ms-date": "Tue, 28 Jan 2025 20:37:34 GMT",
				"x-ms-version": "2025-07-05"
			},
			"RequestBody": null,
			"StatusCode": 201,
			"ResponseHeaders": {
				"ETag": "\"0x8DD3FDB9979350E\"",
				"Last-Modified": "Tue, 28 Jan 2025 20:37:36 GMT",
				"x-ms-version": "2025-07-05"
			},
			"ResponseBody": null
		},
		{
			"RequestUri": "https://Sanitized.dfs.core.windows.net/filesystema77e35dd//?action=setAccessControl",
			"RequestMethod": "PATCH",
			"RequestHeaders": {
				"x-ms-acl": "user::rwx,group::r-x,other::rwx",
				"x-ms-date": "Tue, 28 Jan 2025 20:37:37 GMT",
				"x-ms-version": "2025-07-05"
			},
			"RequestBody": null,
			"StatusCode": 200,
			"ResponseHeaders": {
				"ETag": "\"0x8DD3FDB99861298\"",
				"Last-Modified": "Tue, 28 Jan 2025 20:37:36 GMT",
				"x-ms-namespace-enabled": "true",
				"x-ms-version": "2025-07-05"
			},
			"ResponseBody": null
		},
		{
			"RequestUri": "https://Sanitized.dfs.core.windows.net/filesystema77e35dd//?action=getAccessControl&upn=false",
			"RequestMethod": "HEAD",
			"RequestHeaders": {
				"x-ms-date": "Tue, 28 Jan 2025 20:37:38 GMT",
				"x-ms-version": "2025-07-05"
			},
			"RequestBody": null,
			"StatusCode": 200,
			"ResponseHeaders": {
				"ETag": "\"0x8DD3FDB99861298\"",
				"Last-Modified": "Tue, 28 Jan 2025 20:37:36 GMT",
				"x-ms-acl": "user::rwx,group::r-x,other::rwx",
				"x-ms-group": "22cd328e-02c9-487e-b79c-f561696c7f54",
				"x-ms-owner": "22cd328e-02c9-487e-b79c-f561696c7f54",
				"x-ms-permissions": "rwxr-xrwx",
				"x-ms-version": "2025-07-05"
			},
			"ResponseBody": null
		}
	],
	"Variables": {}
}
