{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem8ae537be?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:41:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC93522F5837\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:41:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem8ae537be/directory8ae537be?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-client-transaction-id": "d9a752bb-3702-4336-b4fb-470bdfad",
        "x-ms-date": "Mon, 04 Nov 2024 05:41:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC935277BFC8\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem8ae537be/directory8ae537be",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCFC935277BFC8\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-client-transaction-id": "d9a752bb-3702-4336-b4fb-470bdfad",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-creation-time": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-properties": "",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem8ae537be/newdir?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-client-transaction-id": "6a9a3e11-5074-42f3-a15e-d445548d",
        "x-ms-date": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-rename-source": "Sanitized",
        "x-ms-source-lease-id": "",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC935277BFC8\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem8ae537be/newdir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:41:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCFC935277BFC8\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-client-transaction-id": "6a9a3e11-5074-42f3-a15e-d445548d",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-creation-time": "Mon, 04 Nov 2024 05:41:25 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-properties": "",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem8ae537be/newdir%2Fsubdir?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-client-transaction-id": "a4100acf-9fa1-405b-92f9-1a68fc69",
        "x-ms-date": "Mon, 04 Nov 2024 05:41:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC9356AEE554\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:41:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem8ae537be/newdir%2Fsubdir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:41:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCFC9356AEE554\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:41:32 GMT",
        "x-ms-client-transaction-id": "a4100acf-9fa1-405b-92f9-1a68fc69",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-creation-time": "Mon, 04 Nov 2024 05:41:32 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-properties": "",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem8ae537be/newdir?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:41:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133751724925873088",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
