{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemee2d305a?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 May 2026 22:37:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB775A8E3E42\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemee2d305a/directoryee2d305a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 May 2026 22:37:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB775A979F54\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemee2d305a/directoryee2d305a/filename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 May 2026 22:37:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB775A9ECEA0\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemee2d305a/directoryee2d305a/filename?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 May 2026 22:37:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "SGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQh",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemee2d305a/directoryee2d305a/filename?position=54&close=true&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DEBB775A9ECEA0\"",
        "x-ms-date": "Tue, 26 May 2026 22:37:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB775AD21600\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:23 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemee2d305a/directoryee2d305a/filename",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 May 2026 22:37:23 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-53/54",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEBB775AD21600\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 26 May 2026 22:37:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "SGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQh"
    }
  ],
  "Variables": {}
}
