{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem70413977?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:51:09 GMT",
        "x-ms-default-encryption-scope": "hnstestscope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A14A5A0ED59\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:51:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem70413977/file1?resource=file&se=Sanitized&sp=rwd&sv=Sanitized&sr=c&ses=hnstestscope1&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:51:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "EncryptionScopeNotAvailable",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "error": {
          "code": "EncryptionScopeNotAvailable",
          "message": "The given encryption scope is not available.\nRequestId:d2ca9564-401f-0035-29fd-7bb6d6000000\nTime:2025-02-10T20:51:09.8178444Z"
        }
      }
    }
  ],
  "Variables": {}
}
