{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem6a612cc7?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 22:05:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBBB815F1EB82\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 22:05:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem6a612cc7/file6a612cc7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 22:05:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBBB816259BC8\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 22:05:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem6a612cc7/file6a612cc7?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 22:05:52 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidAuthenticationInfo",
          "message": "Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\nRequestId:ce42aa99-701f-0019-42a0-ed1a3a000000\nTime:2023-09-22T22:05:53.0588724Z",
          "detail": {
            "AuthenticationErrorDetail": "Audience validation failed. Audience did not match."
          }
        }
      }
    }
  ],
  "Variables": {}
}
