{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem4952311f?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC93D80B7C08\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem4952311f/directory4952311f?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC93D84332C4\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem4952311f/directory4952311f%2Ffilename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-client-transaction-id": "d9a752bb-3702-4336-b4fb-470bdfad",
        "x-ms-date": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC93D853C168\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem4952311f/directory4952311f%2Ffilename",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCFC93D853C168\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-client-transaction-id": "d9a752bb-3702-4336-b4fb-470bdfad",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-creation-time": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-properties": "",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem4952311f/newname?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-client-transaction-id": "6a9a3e11-5074-42f3-a15e-d445548d",
        "x-ms-date": "Mon, 04 Nov 2024 05:45:10 GMT",
        "x-ms-rename-source": "Sanitized",
        "x-ms-source-lease-id": "",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCFC93D853C168\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem4952311f/newname",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:45:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCFC93D853C168\"",
        "Last-Modified": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-client-transaction-id": "6a9a3e11-5074-42f3-a15e-d445548d",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-creation-time": "Mon, 04 Nov 2024 05:45:09 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-properties": "",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem4952311f/directory4952311f?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 04 Nov 2024 05:45:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133751727107853556",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
