{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem73742b08?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDB6A3001A338\"",
        "Last-Modified": "Thu, 14 Aug 2025 19:38:47 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08/directory73742b081/file0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDB6A30972424\"",
        "Last-Modified": "Thu, 14 Aug 2025 19:38:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08?resource=filesystem&directory=directory73742b081&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133996739284706340",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 14 Aug 2025 19:38:48 GMT",
            "name": "directory73742b081/file0",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133996739286916776",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 14 Aug 2025 19:38:48 GMT",
            "name": "directory73742b081/file1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08/directory73742b082/subdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:47 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDB6A311968A0\"",
        "Last-Modified": "Thu, 14 Aug 2025 19:38:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08/directory73742b082/subdir1/file3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:47 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDB6A313A7F58\"",
        "Last-Modified": "Thu, 14 Aug 2025 19:38:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08?resource=filesystem&directory=directory73742b082&recursive=true&maxResults=2&beginFrom=subdir1%2Ffile4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:48 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBbxjMm//crR4JMBGGUYWy9wZXRlcnd1aG5zATAxREFBNjM3RUUxMUFFQjEvZmlsZXN5c3RlbTczNzQyYjA4ATAxREMwRDUzMEQ4RDE1QjAvZGlyZWN0b3J5NzM3NDJiMDgyL3N1YmRpcjIWAHUAJcgBAAA=",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133996739297403376",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 14 Aug 2025 19:38:49 GMT",
            "name": "directory73742b082/subdir1/file4",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133996739299368640",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 14 Aug 2025 19:38:49 GMT",
            "name": "directory73742b082/subdir1/file5",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08?resource=filesystem&continuation=VBbxjMm%2F%2FcrR4JMBGGUYWy9wZXRlcnd1aG5zATAxREFBNjM3RUUxMUFFQjEvZmlsZXN5c3RlbTczNzQyYjA4ATAxREMwRDUzMEQ4RDE1QjAvZGlyZWN0b3J5NzM3NDJiMDgyL3N1YmRpcjIWAHUAJcgBAAA%3D&directory=directory73742b082&recursive=true&maxResults=2&beginFrom=subdir1%2Ffile4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBad7vKtuNWRxD0YaxhhL3BldGVyd3VobnMBMDFEQUE2MzdFRTExQUVCMS9maWxlc3lzdGVtNzM3NDJiMDgBMDFEQzBENTMwRDhEMTVCMC9kaXJlY3Rvcnk3Mzc0MmIwODIvc3ViZGlyMi9maWxlNxYAdQAlyAEAAA==",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133996739301368052",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 14 Aug 2025 19:38:50 GMT",
            "name": "directory73742b082/subdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133996739303788640",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 14 Aug 2025 19:38:50 GMT",
            "name": "directory73742b082/subdir2/file6",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08?resource=filesystem&continuation=VBad7vKtuNWRxD0YaxhhL3BldGVyd3VobnMBMDFEQUE2MzdFRTExQUVCMS9maWxlc3lzdGVtNzM3NDJiMDgBMDFEQzBENTMwRDhEMTVCMC9kaXJlY3Rvcnk3Mzc0MmIwODIvc3ViZGlyMi9maWxlNxYAdQAlyAEAAA%3D%3D&directory=directory73742b082&recursive=true&maxResults=2&beginFrom=subdir1%2Ffile4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Aug 2025 19:38:49 GMT",
        "x-ms-vers[...]
