{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem9c2d2d4d?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:12:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F3AE48454\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:12:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9c2d2d4d/oldfile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F3B195650\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9c2d2d4d/oldfile?action=append&position=0&flush=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "abc",
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F3B4343C1\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem9c2d2d4d/%3F!@%23$%25%5E&*.%3Ftest?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-rename-source": "Sanitized",
        "x-ms-source-lease-id": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F3B4343C1\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem9c2d2d4d/%3F!@%23$%25%5E&*.%3Ftest",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DD4A0F3B4343C1\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Feb 2025 20:12:23 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
