{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/fakeclient?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:58:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:b51a3065-e01e-0003-14fe-7b3ba6000000\n",
        "Time:2025-02-10T20:58:13.0016792Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
