{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystembd542fee?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB77592603C8\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystembd542fee/directorybd542fee?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB77592FAF58\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystembd542fee/directorybd542fee/filename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB775936F168\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystembd542fee/directorybd542fee/filename?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YWJj",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystembd542fee/directorybd542fee/filename?position=3&retainUncommittedData=false&close=false&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DEBB775936F168\"",
        "x-ms-date": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBB775945ED24\"",
        "Last-Modified": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystembd542fee/directorybd542fee/filename?position=6&retainUncommittedData=false&close=false&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DEBB775936F168\"",
        "x-ms-date": "Tue, 26 May 2026 22:37:20 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:3e7a02a7-301f-003e-5c60-ed6bb7000000\nTime:2026-05-26T22:37:20.7170911Z"
        }
      }
    }
  ],
  "Variables": {}
}
