{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem2cd92eaf?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0B4E24B1\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0B7A1AB8\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0BA7D990\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 10 Feb 2025 20:11:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "abc",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?action=flush&position=3&retainUncommittedData=false&close=false",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0BF5685D\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?action=flush&position=100&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-date": "Mon, 10 Feb 2025 20:11:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:8e10dba9-501f-0080-4cf7-7b25c4000000\nTime:2025-02-10T20:11:04.8353727Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename?action=flush&position=100&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DD4A0F0C7C8B34\"",
        "x-ms-date": "Mon, 10 Feb 2025 20:11:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0CCD2515\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:05 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4A0F0CCD2515\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:05 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Feb 2025 20:11:05 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYQ=="
    }
  ],
  "Variables": {}
}
