{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemadb437f4?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0D5690C1\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemadb437f4/directoryadb437f4?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0D860D64\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemadb437f4/directoryadb437f4/filename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0DB342B0\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemadb437f4/directoryadb437f4/filename?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemadb437f4/directoryadb437f4/filename?action=flush&position=100&close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DD4A0F0DB342B0\"",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "spanish",
        "x-ms-date": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0F0E1015BD\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemadb437f4/directoryadb437f4/filename",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4A0F0E1015BD\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYQ=="
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemadb437f4/directoryadb437f4/filename",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 10 Feb 2025 20:11:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4A0F0E1015BD\"",
        "Last-Modified": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Feb 2025 20:11:07 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
