{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemb65928ca?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 27 May 2026 15:24:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:979fce5c-401e-0056-47ec-ed0d27000000\n",
        "Time:2026-05-27T15:24:01.9899293Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemb65928ca/directoryb65928ca?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBC03FB512D18\"",
        "Last-Modified": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBC03FB581E40\"",
        "Last-Modified": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEBC03FB581E40\"",
        "Last-Modified": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-blob-if-modified-since": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-date": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
      ],
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:97a00ba7-401e-0056-43ec-ed0d27000000\n",
        "Time:2026-05-27T15:24:12.1873511Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-blob-if-none-match": "\"0x8DEBC03FB581E40\"",
        "x-ms-date": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
      ],
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:97a00c41-401e-0056-54ec-ed0d27000000\n",
        "Time:2026-05-27T15:24:12.2753027Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-blob-if-unmodified-since": "Wed, 27 May 2026 15:24:02 GMT",
        "x-ms-date": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-blob-if-match": "\"0x8DEBC03FB581E40\"",
        "x-ms-date": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<Tags><TagSet><Tag><Key>tag4</Key><Value>fourthtag</Value></Tag><Tag><Key>tag5</Key><Value>fifthtag</Value></Tag><Tag><Key>tag6</Key><Value>sixthtag</Value></Tag></TagSet></Tags>"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YWJjMTIz",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?position=6&close=true&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DEBC04018D173C\"",
        "x-ms-date": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEBC04019BA6BC\"",
        "Last-Modified": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystemb65928ca/directoryb65928ca/fileb65928ca?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-blob-if-none-match": "\"0x8DEBC03FB581E40\"",
        "x-ms-date": "Wed, 27 May 2026 15:24:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>tag4</Key><Value>fourthtag</Value></Tag><Tag><Key>tag5</Key><Value>fifthtag</Value></Tag><Tag><Key>tag6</Key><Value>sixthtag</Value></Tag></TagSet></Tags>"
      ]
    }
  ],
  "Variables": {}
}
