{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem323b30d0?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 01:47:01 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB0DD12F3AD5\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 01:47:02 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem323b30d0/directory323b30d0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 01:47:01 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB0DD171C21F\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 01:47:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem323b30d0/directory323b30d0%2Ftestsubdir?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 01:47:02 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidAuthenticationInfo",
          "message": "Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\nRequestId:e81550f5-201f-0059-51f6-ec1d02000000\nTime:2023-09-22T01:47:03.0519047Z",
          "detail": {
            "AuthenticationErrorDetail": "Audience validation failed. Audience did not match."
          }
        }
      }
    }
  ],
  "Variables": {}
}
