{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem74bf2f83?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Jun 2024 17:44:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8FBE54B00D9C\"",
        "Last-Modified": "Tue, 18 Jun 2024 17:44:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem74bf2f83/directory74bf2f83%2Ffile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Jun 2024 17:44:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8FBE54E1C11D\"",
        "Last-Modified": "Tue, 18 Jun 2024 17:44:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem74bf2f83?resource=filesystem&directory=directory74bf2f83&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Jun 2024 17:44:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133632062810407197",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 18 Jun 2024 17:44:41 GMT",
            "name": "directory74bf2f83/file",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
