{
	"Entries": [
		{
			"RequestUri": "https://Sanitized.blob.core.windows.net/filesystem73742b08?restype=container&timeout=5",
			"RequestMethod": "PUT",
			"RequestHeaders": {
				"x-ms-date": "Wed, 26 Jun 2024 18:41:26 GMT",
				"x-ms-version": "2024-08-04"
			},
			"RequestBody": null,
			"StatusCode": 201,
			"ResponseHeaders": {
				"ETag": "\"0x8DC960F966255E0\"",
				"Last-Modified": "Wed, 26 Jun 2024 18:41:27 GMT",
				"x-ms-version": "2024-08-04"
			},
			"ResponseBody": null
		},
		{
			"RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08/directory73742b081/file0?resource=file",
			"RequestMethod": "PUT",
			"RequestHeaders": {
				"x-ms-date": "Wed, 26 Jun 2024 18:41:27 GMT",
				"x-ms-version": "2024-08-04"
			},
			"RequestBody": null,
			"StatusCode": 201,
			"ResponseHeaders": {
				"ETag": "\"0x8DC960F969F5DCD\"",
				"Last-Modified": "Wed, 26 Jun 2024 18:41:27 GMT",
				"x-ms-request-server-encrypted": "true",
				"x-ms-version": "2024-08-04"
			},
			"ResponseBody": null
		},
[...]
		{
			"RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08?resource=filesystem&directory=directory73742b081&recursive=true",
			"RequestMethod": "GET",
			"RequestHeaders": {
				"x-ms-date": "Wed, 26 Jun 2024 18:41:27 GMT",
				"x-ms-version": "2024-08-04"
			},
			"RequestBody": null,
			"StatusCode": 200,
			"ResponseHeaders": {
				"Content-Type": "application/json; charset=utf-8",
				"x-ms-version": "2024-08-04"
			},
			"ResponseBody": {
				"paths": [
					{
						"contentLength": "0",
						"creationTime": "133639008875470285",
						"etag": "Sanitized",
						"expiryTime": "0",
						"group": "$superuser",
						"lastModified": "Wed, 26 Jun 2024 18:41:27 GMT",
						"name": "directory73742b081/file0",
						"owner": "$superuser",
						"permissions": "rw-r-----"
					},
					{
						"contentLength": "0",
						"creationTime": "133639008876167779",
						"etag": "Sanitized",
						"expiryTime": "0",
						"group": "$superuser",
						"lastModified": "Wed, 26 Jun 2024 18:41:27 GMT",
						"name": "directory73742b081/file1",
						"owner": "$superuser",
						"permissions": "rw-r-----"
					}
				]
			}
		}
	],
	"Variables": {}
}
