{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/testfs2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 21:54:52 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBBB68D47BE59\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 21:54:53 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
