{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem31d52a2d?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE93FF342612F7\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem31d52a2d/existingfile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE93FF3443C2A8\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem31d52a2d/existingfile?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YQ==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem31d52a2d/existingfile?position=1&retainUncommittedData=false&close=false&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE93FF34548340\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem31d52a2d/file31d52a2d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE93FF345AD23C\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem31d52a2d/file31d52a2d?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YWJj",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem31d52a2d/file31d52a2d?position=3&retainUncommittedData=false&close=false&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE93FF3475B838\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem31d52a2d/existingfile?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-rename-source": "Sanitized",
        "x-ms-source-lease-id": "",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE93FF3475B838\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem31d52a2d/existingfile",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Apr 2026 17:09:04 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2/3",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE93FF3475B838\"",
        "Last-Modified": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 06 Apr 2026 17:09:03 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "YWJj"
    }
  ],
  "Variables": {}
}
