{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystema77e35dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Aug 2025 10:45:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE168FA4AC2D8\"",
        "Last-Modified": "Fri, 22 Aug 2025 10:45:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystema77e35dd//?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-date": "Fri, 22 Aug 2025 10:45:15 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE168FA6458D0\"",
        "Last-Modified": "Fri, 22 Aug 2025 10:45:15 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystema77e35dd//?action=getAccessControl&upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Aug 2025 10:45:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE168FA6458D0\"",
        "Last-Modified": "Fri, 22 Aug 2025 10:45:15 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-group": "22cd328e-02c9-487e-b79c-f561696c7f54",
        "x-ms-owner": "22cd328e-02c9-487e-b79c-f561696c7f54",
        "x-ms-permissions": "rwxr-xrwx",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
