{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem518e3be2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 May 2026 17:50:46 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidAuthenticationInfo</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:ca1ef801-201e-0018-6e13-eafc1e000000\n",
        "Time:2026-05-22T17:50:48.5047098Z</Message><AuthenticationErrorDetail>Issuer validation failed. Issuer did not match.</AuthenticationErrorDetail></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem518e3be2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 May 2026 17:50:46 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB82AA99FE02C\"",
        "Last-Modified": "Fri, 22 May 2026 17:50:50 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem518e3be2/file518e3be2?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 May 2026 17:50:50 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB82AA9BB1CB0\"",
        "Last-Modified": "Fri, 22 May 2026 17:50:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem518e3be2/file518e3be2?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 22 May 2026 17:50:50 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "YWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJjYWJ[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem518e3be2/file518e3be2?position=1541&close=true&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\"0x8DEB82AA9BB1CB0\"",
        "x-ms-date": "Fri, 22 May 2026 17:50:50 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB82AA9CD55E4\"",
        "Last-Modified": "Fri, 22 May 2026 17:50:51 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem518e3be2/file518e3be2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 May 2026 17:50:51 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1541",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB82AA9CD55E4\"",
        "Last-Modified": "Fri, 22 May 2026 17:50:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 22 May 2026 17:50:50 GMT",
        "x-ms-group": "353bcc77-ad4b-4f46-a3f5-d6d99ef0f038",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "353bcc77-ad4b-4f46-a3f5-d6d99ef0f038",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYmNhYhr+ksg6p5n2Gv6SyDqnmfY="
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem518e3be2/file518e3be2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEB82AA9CD55E4\"",
        "x-ms-date": "Fri, 22 May 2026 17:50:51 GMT",
        "x-ms-range": "bytes=1536-1540",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1536-1540/1541",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB82AA9CD55E4\"",
        "Last-Modified": "Fri, 22 May 2026 17:50:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 22 May 2026 17:50:50 GMT",
        "x-ms-group": "353bcc77-ad4b-4f46-a3f5-d6d99ef0f038",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "353bcc77-ad4b-4f46-a3f5-d6d99ef0f038",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "5",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "ASwAAAAAAAAAAQABAAEABQAAAAAAAABhYmNkZRMSRmfQ5LMKExJGZ9Dkswo="
    }
  ],
  "Variables": {}
}
