{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem73742b08?restype=container&timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Jun 2024 17:39:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8FBDA41F86D8\"",
        "Last-Modified": "Tue, 18 Jun 2024 17:39:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08/directory73742b08%2Ffile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Jun 2024 17:39:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8FBDA45AE70B\"",
        "Last-Modified": "Tue, 18 Jun 2024 17:39:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem73742b08?resource=filesystem&directory=directory73742b08&recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Jun 2024 17:39:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133632059848779531",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 18 Jun 2024 17:39:44 GMT",
            "name": "directory73742b08/file",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
