{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/EFF06A57EF7116BEA4E03811C6A5D4560D442E20A6C7365CAE?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:05:55 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224900a1d5-0000-0700-0000-65415e270000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:05:59 GMT",
        "trace-id": "aa7e8b7e-4df7-89b2-af6b-e628e4388544"
      },
      "ResponseBody": {
        "id": "EFF06A57EF7116BEA4E03811C6A5D4560D442E20A6C7365CAE",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224900a1d5-0000-0700-0000-65415e270000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/sdk-ER0Z7Htp5US4uvshJQIiKA--queue?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:05:56 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "EFF06A57EF7116BEA4E03811C6A5D4560D442E20A6C7365CAE",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c018347-0000-0700-0000-65415e280000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:06:00 GMT",
        "trace-id": "a4a339c4-8c4b-02c0-2b4c-7b2c4003f56b"
      },
      "ResponseBody": {
        "id": "sdk-ER0Z7Htp5US4uvshJQIiKA--queue",
        "name": "test",
        "distributionPolicyId": "EFF06A57EF7116BEA4E03811C6A5D4560D442E20A6C7365CAE",
        "labels": {
          "Id": "sdk-ER0Z7Htp5US4uvshJQIiKA--queue"
        },
        "etag": "\u00220c018347-0000-0700-0000-65415e280000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-ER0Z7Htp5US4uvshJQIiKA--CancellationScenario?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:05:56 GMT"
      },
      "RequestBody": {
        "channelId": "3C0A936580A522E452B48F9FB9FC02C54FD6673C20750A6575",
        "queueId": "sdk-ER0Z7Htp5US4uvshJQIiKA--queue",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-598d-77cd4cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:06:00 GMT",
        "trace-id": "732fbffd-4dc3-835d-5990-73f86243f9c4"
      },
      "ResponseBody": {
        "id": "JobId-sdk-ER0Z7Htp5US4uvshJQIiKA--CancellationScenario",
        "status": "created",
        "channelId": "3C0A936580A522E452B48F9FB9FC02C54FD6673C20750A6575",
        "queueId": "sdk-ER0Z7Htp5US4uvshJQIiKA--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-598d-77cd4cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-ER0Z7Htp5US4uvshJQIiKA--CancellationScenario?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:05:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-f14c-90cd4cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:06:00 GMT",
        "trace-id": "ccfb2dd5-ed99-8413-b395-1774070293f7"
      },
      "ResponseBody": {
        "id": "JobId-sdk-ER0Z7Htp5US4uvshJQIiKA--CancellationScenario",
        "status": "queued",
        "enqueuedAt": "2023-10-31T20:06:00.4212977\u002B00:00",
        "channelId": "3C0A936580A522E452B48F9FB9FC02C54FD6673C20750A6575",
        "queueId": "sdk-ER0Z7Htp5US4uvshJQIiKA--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000001-0000-0000-f14c-90cd4cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-ER0Z7Htp5US4uvshJQIiKA--CancellationScenario:cancel?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:05:56 GMT"
      },
      "RequestBody": {
        "dispositionCode": "dispositionCode"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d1c51cb8-13e8-08ae-15f4-feb91c4b1410"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/sdk-ER0Z7Htp5US4uvshJQIiKA--queue?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:06:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "d4397539-8286-fda7-03b9-5ae5a8845ca4"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-ER0Z7Htp5US4uvshJQIiKA-",
    "RandomSeed": "507960788"
  }
}
