{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/E36063C9E6ABE4EB4CC142A4D3D22BFAC09167A48DCC16EB3E?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:12:33 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022090019d8-0000-0700-0000-65de7a720000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:12:34 GMT",
        "trace-id": "e812b90c-70ee-f638-75fc-8fb1bf4d7ced"
      },
      "ResponseBody": {
        "id": "E36063C9E6ABE4EB4CC142A4D3D22BFAC09167A48DCC16EB3E",
        "name": "test",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022090019d8-0000-0700-0000-65de7a720000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/sdk-3C6rsJdsPEi_ADUIJ-qwng--queue?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:12:33 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "E36063C9E6ABE4EB4CC142A4D3D22BFAC09167A48DCC16EB3E"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e6021605-0000-0700-0000-65de7a720000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:12:34 GMT",
        "trace-id": "ff59a649-9fc3-3f75-d348-a30d5ba7c761"
      },
      "ResponseBody": {
        "id": "sdk-3C6rsJdsPEi_ADUIJ-qwng--queue",
        "name": "test",
        "distributionPolicyId": "E36063C9E6ABE4EB4CC142A4D3D22BFAC09167A48DCC16EB3E",
        "labels": {
          "Id": "sdk-3C6rsJdsPEi_ADUIJ-qwng--queue"
        },
        "etag": "\u0022e6021605-0000-0700-0000-65de7a720000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-3C6rsJdsPEi_ADUIJ-qwng--CancellationScenario?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:12:33 GMT"
      },
      "RequestBody": {
        "channelId": "6215ACDA4153399BC9A3D2789538555C9BA2A9A9695565CE76",
        "queueId": "sdk-3C6rsJdsPEi_ADUIJ-qwng--queue",
        "priority": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-bff3-9cf6f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:12:34 GMT",
        "trace-id": "a65b282d-1a82-49ed-071d-873b46938cb5"
      },
      "ResponseBody": {
        "id": "JobId-sdk-3C6rsJdsPEi_ADUIJ-qwng--CancellationScenario",
        "status": "created",
        "channelId": "6215ACDA4153399BC9A3D2789538555C9BA2A9A9695565CE76",
        "queueId": "sdk-3C6rsJdsPEi_ADUIJ-qwng--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-bff3-9cf6f137dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-3C6rsJdsPEi_ADUIJ-qwng--CancellationScenario?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:12:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-8aa2-acf6f137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:12:34 GMT",
        "trace-id": "2cc5affc-63d3-35af-9064-83cfcdbe2583"
      },
      "ResponseBody": {
        "id": "JobId-sdk-3C6rsJdsPEi_ADUIJ-qwng--CancellationScenario",
        "status": "queued",
        "enqueuedAt": "2024-02-28T00:12:34.4922762\u002B00:00",
        "channelId": "6215ACDA4153399BC9A3D2789538555C9BA2A9A9695565CE76",
        "queueId": "sdk-3C6rsJdsPEi_ADUIJ-qwng--queue",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000001-0000-0000-8aa2-acf6f137dc08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/JobId-sdk-3C6rsJdsPEi_ADUIJ-qwng--CancellationScenario:cancel?api-version=2024-01-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:12:35 GMT"
      },
      "RequestBody": {
        "dispositionCode": "dispositionCode"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d2f758eb-cbb8-ba39-ec36-20ebb46394dd"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/sdk-3C6rsJdsPEi_ADUIJ-qwng--queue?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:12:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "e9d489d5-05be-0331-b1d2-443b5952e4e1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-3C6rsJdsPEi_ADUIJ-qwng-",
    "RandomSeed": "583868377"
  }
}
