{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4443aff-dc9b-06de-3cf5-655f3ff4aff6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23A3209B9\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4443aff-dc9b-06de-3cf5-655f3ff4aff6/test-blob-87895a31-c854-bd99-bf6c-28207a2b0b71?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23A4CAE51\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:16.9016913Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4443aff-dc9b-06de-3cf5-655f3ff4aff6/test-blob-87895a31-c854-bd99-bf6c-28207a2b0b71?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "JxxC2KP6l65Kps6bnCHdT6bMgaFBRvRUzZP28jAm/vcjMzHd6vvyN8LbPa36/iCdj9l6rqpqMOEo7gsQA6R9JKjWd2jv/2Wr2kreZQhGWc9yWGNWq09NuANQtPvv4TMdXRgFJIa3ro90z9RgjMrY4pU8natBJnhZiL9ln0ppu/gXwAjwQDRIuqrT4tx77Sw4eNJms0OH2zefq5vHUg9FChPcSMvC6KFg8\u002BIAbkSc3puSLCd4Awe0j\u002BTRUJWZgWibjtjIn6Rgdo8wBsBgh23yA80ANCXnzAcMJ7nm8ZcMx3F6Zd9s1D/2MraXSP1HUwh33k3HmE1Ds8HQvHfqeoX3Iz5O5iGNhi\u002BOCQJvUIQJxNOxbxJKRS4kNrIemxfHDLcwnyS\u002B\u002BGzm6VceOI9L02I9xvejOQpyrd0QKrBvb\u002BsXx/1KPrFfS8tmyoa7LAyf2GJP4NQgI9KtvvJGrs68d3lrBnGRAZWx3XsrPG6DtoDQcFFNH44X96MqnIC\u002BGZz9qlMMUCWbDdfNnQNY9OZkKQdydT19b1fqVA/OZ2UU88TeLpIbdmZaNWN6f4KLvgK8xnJ5TKNfgDr8IvsWzaZxuao/ecZTSbOgF0DZAu/VX5UNEaDym6Ygf65YH1RqQ2e9CMbXS0U8aH2/2DRjhX1KJsJmCbwFfx0EHvoY\u002BypeNdPYHPo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23A5C6381\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ymK3FukIQRo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4443aff-dc9b-06de-3cf5-655f3ff4aff6/test-blob-87895a31-c854-bd99-bf6c-28207a2b0b71?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23A6B2E6C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:16.9016913Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4443aff-dc9b-06de-3cf5-655f3ff4aff6/test-blob-87895a31-c854-bd99-bf6c-28207a2b0b71?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A15Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB23A6B2E6C\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23A6B2E6C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a4443aff-dc9b-06de-3cf5-655f3ff4aff6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:15.3998786-07:00",
    "RandomSeed": "1792524069",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
