{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37d9b06f-acd2-d1d9-34fd-9fcc5eaf5f66?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23FF98B05\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37d9b06f-acd2-d1d9-34fd-9fcc5eaf5f66/test-blob-5876c102-4e12-7764-0235-d4afe67bfd51?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2400F6019\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:26.5672485Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37d9b06f-acd2-d1d9-34fd-9fcc5eaf5f66/test-blob-5876c102-4e12-7764-0235-d4afe67bfd51?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "U1w5CsuqtIG1bDIS4oVtwqmTWxJsUTBD8GyyfFQA4oZdxNTZZm9mVw31o6YbUpR8yBIGUiDr5QIs9Rpf\u002BDgttYmstR2wlFs6LQMFdq6JKJ3XNbNB\u002BZBmct7SrXFVBl/Ux\u002B0dbpx2yzO2yyQc5W5Uos18h8KE67v5RkM/3ufq5SekMK7Aa7kBYGl/iy5rSYxwfQqk2H6cUNwxJChZN\u002BxMy\u002Bb9eLW/kzYTeidYBF\u002BNjf23z2HdRgyoB\u002BDSj0eRpyh8M79HbdHWsOrTkF1XREt8o5YromiLb4XZVXDV7QPvgtP\u002B29GgRR8r4B52CbWuUMOUVeywZQXA8cQ6bhhgAcPm5A6KWWh63F12/8FKFWXPKwStQJcXPhzNPeo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37d9b06f-acd2-d1d9-34fd-9fcc5eaf5f66/test-blob-5876c102-4e12-7764-0235-d4afe67bfd51?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2401E5215\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:26.5672485Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37d9b06f-acd2-d1d9-34fd-9fcc5eaf5f66/test-blob-5876c102-4e12-7764-0235-d4afe67bfd51?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2401E5215\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2401E5215\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37d9b06f-acd2-d1d9-34fd-9fcc5eaf5f66?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:25.0631136-07:00",
    "RandomSeed": "430331526",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
