{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b376e93e-d549-0b9b-ff59-a651963d2f36?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D123592DDDB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b376e93e-d549-0b9b-ff59-a651963d2f36/test-blob-1ef91df7-57e4-b8c1-a7fa-88c28e84a1b2?sv=Sanitized&se=2025-03-08T00%3A51%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1235AD1EE6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b376e93e-d549-0b9b-ff59-a651963d2f36/test-blob-1ef91df7-57e4-b8c1-a7fa-88c28e84a1b2?sv=Sanitized&se=2025-03-08T00%3A51%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "gFsmQBdUBGa5JStWydbCHB6vH0tSumbTlG0zOHASaKNACepd6CeAohmTZb8sau7ROGuk3mVWX8b1UqupIMz1p7yHFb/rZDT2L3wyv1Smpyp+Yv8FbYo+6qkkaJV81oJNnb4DpVQv5dQ3ra/pI6BxTquAK77M8DkySSsVxvyeelj65CGWowHWT3wrzcDaVccJshnq+6vDgK2F0VspGR7XmDJW7j5+26upqttCoCJ4V/RjDBTis3+tNmR0ENKmrTZdUzWNg2aIitdtQVHPgN+KDHlnxQwK9eSzqbfaCsvZAv2l5U3t6tSN24I8dXIu3baE6QNZPucpUl5Q2tqurX8MlD5TKpuSnSGl2emKzn9yhcsBViDHgMQVe5LunBD53y0CMOAz2rMa8UzhtGT9noTe3lQOrFdfRBN[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b376e93e-d549-0b9b-ff59-a651963d2f36/test-blob-1ef91df7-57e4-b8c1-a7fa-88c28e84a1b2?sv=Sanitized&se=2025-03-08T00%3A51%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1235B6B10E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b376e93e-d549-0b9b-ff59-a651963d2f36/test-blob-1ef91df7-57e4-b8c1-a7fa-88c28e84a1b2?sv=Sanitized&se=2025-03-08T00%3A51%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1235B6B10E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1235B6B10E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b376e93e-d549-0b9b-ff59-a651963d2f36?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:51:34.6604459-08:00",
    "RandomSeed": "2135240436",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
