{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606e0e76-a932-28ab-5387-10556d8a54b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D123BE97850\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606e0e76-a932-28ab-5387-10556d8a54b8/test-blob-5384029d-339d-72de-efa3-ae52e6dbf159?sv=Sanitized&se=2025-03-08T00%3A51%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D123BF77B8B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606e0e76-a932-28ab-5387-10556d8a54b8/test-blob-5384029d-339d-72de-efa3-ae52e6dbf159?sv=Sanitized&se=2025-03-08T00%3A51%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "zBU9e/cZGQUVIpkEq7fHw6DMMjR1aF3kEx9L+2RgDmEJ/5vtsMT+hOl/PXqZ2sc42+qxGqi842S3WWjYzR2htRQ4+6wb2hPcza5L9SriSjhXEx95rvO4TBs3NVZbJrbL3ohmYN4bHAHW1Uz5cO451A4vgbr+JwYgf6+R5KW8gKf4gBeifOlaO/ceo9mnvtss/WBILKT7zLeBReEuijdbGVSlAfDXl1gk1EXD4IMtecDTZOdEdFQC/LNgITcIK7C/womEAr3qVWYII1dfOOwzU8sgWyZQF6UAogQ9dnYgHKmUAx76qXcD6A6BO1H9o8TGLM1r6NCKbqrkg1+4rd7v5weuyjTNOKlUHXIXz9tTA/9AdkmotTTYCpRzFSUYSjswkVRJT9iQ+fQkF8pdcp/OkIBgeDaURzL[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606e0e76-a932-28ab-5387-10556d8a54b8/test-blob-5384029d-339d-72de-efa3-ae52e6dbf159?sv=Sanitized&se=2025-03-08T00%3A51%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D123BFFFD7A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606e0e76-a932-28ab-5387-10556d8a54b8/test-blob-5384029d-339d-72de-efa3-ae52e6dbf159?sv=Sanitized&se=2025-03-08T00%3A51%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D123BFFFD7A\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D123BFFFD7A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-606e0e76-a932-28ab-5387-10556d8a54b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:51:45.3046360-08:00",
    "RandomSeed": "437113060",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
