{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-42c0b641-12f7-9898-94b3-f284c81e21af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690CC62EDE1\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-42c0b641-12f7-9898-94b3-f284c81e21af/test-blob-d884adaa-bf2e-7f17-21c7-8b8b4c5f7709?sv=Sanitized&se=2024-06-08T01%3A26%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690CC727D41\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:04.3235649Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-42c0b641-12f7-9898-94b3-f284c81e21af/test-blob-d884adaa-bf2e-7f17-21c7-8b8b4c5f7709?sv=Sanitized&se=2024-06-08T01%3A26%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lj8QnouGMW3va/uVFSJfcL+/jnMGQ4S0EhJ4tRH2N6+8odxaNQ56I3sW6cPDgWr/aBvLjdADAlK7XIt5DXxc+DNM2XRFBDqwRGv38FrA8JCneE31KqreuJ6Jn9mCABX/ufGPdqj2umPhG0hlCxL4+mz70ZQuZs2JbiDVvGVhLUNV+DdoMXnosb7qFA9hea2MkaRshy+A0FIjBQiHIP7+gO0FDxPbj8nzEyDWRFK+KPRzSCrA9KYU1CfkRStwYJDA65MhXGmZsQHbeXQOqowAZd0UFNfTPotH8Dvr9kqegrKPFVm+nMyK2Zcp5XoxBSmb5N9OXEy47a0H2msurrq2PPbBf5UzQckRiTpAqVgRFeoRUBJqUCZm1iirt8FgXCvdc6iDcIaUaKMWPNMReERU9sWAHV2nS+z[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-42c0b641-12f7-9898-94b3-f284c81e21af/test-blob-d884adaa-bf2e-7f17-21c7-8b8b4c5f7709?sv=Sanitized&se=2024-06-08T01%3A26%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690CC7FE999\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:04.3235649Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-42c0b641-12f7-9898-94b3-f284c81e21af/test-blob-d884adaa-bf2e-7f17-21c7-8b8b4c5f7709?sv=Sanitized&se=2024-06-08T01%3A26%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690CC7FE999\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690CC7FE999\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-42c0b641-12f7-9898-94b3-f284c81e21af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:02.7219125-05:00",
    "RandomSeed": "1520610818",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
