{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aea62897-c81b-6f92-8a10-ccee18bcf7fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB24EA8D45B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aea62897-c81b-6f92-8a10-ccee18bcf7fd/test-blob-39fe7c38-169a-bf54-a60f-7e553c391e20?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB24EBC915A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:51.1893850Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aea62897-c81b-6f92-8a10-ccee18bcf7fd/test-blob-39fe7c38-169a-bf54-a60f-7e553c391e20?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "88rEeM95LuihA3A1TTLNQnAPINRr42cTSyzWwPir23oOaFv/KN2sv04Vl5emH3J0QjvlLRlJtRBjsC2jom3w9if1J\u002BXXzRqSY2CFVUvQbSu6Yn68xq1gxLNKnHivCBzhJaFvsPeMnXUhUsq4w2DFk0IC6T/vNDB6lWMyjDGh4lpDpDCpYLw0LcUJmnPipwBShQg1rR/c8fBx9BuUWhFEf3BwdR8vGzKGzbt65pm8l\u002B1j3wYobDQ7ZrM/OGuhoNK0xRsDcjLgI2nWr\u002BBjYgtWtF0tMXsKGxM7NA5s8OPG5C3oxiF\u002BuSS7grydUbxU1wSn6YQOc29XqakHxz0kdDKGD8qyepvp2Po4cq6/bMlW5l0JxAdeuHG\u002BkRx4dvHnlg2JFkLyolxpvhCJ1QHAlz3fseDgGrArJ1dZ8\u002Bl\u002BcWEJUduhNlWHY0QAnwb21eJw/vrfmMURBnxcXe/qmK5z60yvf4QlHmHnV02b33uqNVF16fXuntic\u002BEtfRNlmnMuWjLS5RlVeSt\u002BZ\u002BEF3dSYBsiedda\u002B4hE10Eoc5xtmIgLuCBVLG8O78Fp4VVaWXJYIkXpKxySYb3QhnRTTNJYQFEHiG9G/TOsE4oF8Qoi6n3O0FFGdH1raUZidKX6u6LvEaD0QtETATUCTQeCjHCzrZv2hGyBAcvjrB8Y1HiNoWfnJt9pM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB24ECC6D98\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "IBqiGTNp3hw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aea62897-c81b-6f92-8a10-ccee18bcf7fd/test-blob-39fe7c38-169a-bf54-a60f-7e553c391e20?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB24EDA4E41\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:51.1893850Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aea62897-c81b-6f92-8a10-ccee18bcf7fd/test-blob-39fe7c38-169a-bf54-a60f-7e553c391e20?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB24EDA4E41\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB24EDA4E41\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aea62897-c81b-6f92-8a10-ccee18bcf7fd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:49.6850047-07:00",
    "RandomSeed": "294121953",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
