{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f367e36-51fe-d65d-4bdb-b14a064f6777?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690D084A124\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f367e36-51fe-d65d-4bdb-b14a064f6777/test-blob-d30eba2b-dd23-2248-3ed8-d8dbac8c7e40?sv=Sanitized&se=2024-06-08T01%3A26%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690D096ED74\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:11.2732532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f367e36-51fe-d65d-4bdb-b14a064f6777/test-blob-d30eba2b-dd23-2248-3ed8-d8dbac8c7e40?sv=Sanitized&se=2024-06-08T01%3A26%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xK+/kW8xqLrA2J9C7+oIc7WOpZ37Qt6tK7z29uWCSzSp45Cmk9um+RFUE0s9BjNUz2UmHefhRYLQEmazO7LVPoxrmAxZYt/Z56uLpi+TbyWJoiZ/XC5Mx50O1oF1875ff9W+0m0n+myFTDY8Vp9TPKJAKZmLVeFeHtFuS4xeY/PsLCda1Jy3Yae5+g/4EHH+upnfNMkl0yrzYLOcuK7gJ+lCTyl3+WcFicfx0VrSZg1fb5Hyfy4qx1j9ZnToGqj42dMltsFHhsEx2asBMwHPIPqmPUkd7ai7F4fRepLzHG8f+fiHrLBMF+nPwKWDKJNXLkV5Qtxf2usqap45dgwuPrw74joJR3RKWSZgTiwCN+/0ekxMedmTvx4MXEESEqDcoILoSEVYTebRL+m2/4y/KDOuRfzA4cXjqCMb/OoyOEaFg62qGe+qmyxle0nw3L+STTQOY82kHL69BZ8iPVH7nveiMXzeFQ5DBKnQWmZ78stjiK+2JNR54Gfu7BNPiF7aadxSTatDtDglyl8j1MJYQhLTvrShRXojKVAV8Cj69HxL9fCJKKUgINR3kFl1VQyllqoAe8mqOCRiLiRaLsQPK9bi2N/Rzhltsp3fKrUgrdREcFl9+XiyobzLJ/mBxvIQZ2WDknwt08eRk8ksyg5vQYFPFb5qkjFeMDciBaYf7Ow=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690D0A32168\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "T1/oVq+ZX7s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f367e36-51fe-d65d-4bdb-b14a064f6777/test-blob-d30eba2b-dd23-2248-3ed8-d8dbac8c7e40?sv=Sanitized&se=2024-06-08T01%3A26%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690D0B018A5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:11.2732532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f367e36-51fe-d65d-4bdb-b14a064f6777/test-blob-d30eba2b-dd23-2248-3ed8-d8dbac8c7e40?sv=Sanitized&se=2024-06-08T01%3A26%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690D0B018A5\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690D0B018A5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9f367e36-51fe-d65d-4bdb-b14a064f6777?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:09.6535173-05:00",
    "RandomSeed": "1540221519",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
