{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e635d060-eef0-9523-8ea6-b38eada55395?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D123C96F138\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e635d060-eef0-9523-8ea6-b38eada55395/test-blob-9b9dbba0-bcda-6596-efdb-9c8af85b460d?sv=Sanitized&se=2025-03-08T00%3A51%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D123CA657EA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e635d060-eef0-9523-8ea6-b38eada55395/test-blob-9b9dbba0-bcda-6596-efdb-9c8af85b460d?sv=Sanitized&se=2025-03-08T00%3A51%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ny/RrV7i7u/zeGzLForswtzSJ5TjaqkAauGBzDxY8ffd17U9t9zEvcyuqGJQyk5k7tmtJTSxKjWF0UJ8YCKzm4Z07j/Urgr/DWnHNMJGr6CSHN1iqsvDK6yAuOWaR12q+gzc29sPkD/OrhjK6fVyPyGi6UNEUPC6scKSVPYlZcUMHDm1atPEg4ydk/yz+UK2DnnE914ZZqocISoZfTxJqUhSvsy7vNRO3Wa2p730BriA20V9YW1n8raPmUmoqwVQVOmzYTp1+1GkdRr3Y7/sJxpymKH2y0jb6ssWLCOLpTJgZVLTQaV9C+D02OtScI/3onIuNRJkWoih13duX84uGdDolv1sGeV19Y3AAvJdiHk8HomxXW8f/AvKMmotDqwRxb8aatqRi4mMuECFo1iVQ079MUBFfbx[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e635d060-eef0-9523-8ea6-b38eada55395/test-blob-9b9dbba0-bcda-6596-efdb-9c8af85b460d?sv=Sanitized&se=2025-03-08T00%3A51%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D123CAF00C5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e635d060-eef0-9523-8ea6-b38eada55395/test-blob-9b9dbba0-bcda-6596-efdb-9c8af85b460d?sv=Sanitized&se=2025-03-08T00%3A51%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D123CAF00C5\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D123CAF00C5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e635d060-eef0-9523-8ea6-b38eada55395?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:51:46.4383037-08:00",
    "RandomSeed": "776563360",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
