{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1f72b5-5809-dc79-bf04-4cc1d1b7cac0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23B01CECA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1f72b5-5809-dc79-bf04-4cc1d1b7cac0/test-blob-ceaec6f6-2d39-79be-2eeb-55cff4a58239?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23B153897\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:18.2159511Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1f72b5-5809-dc79-bf04-4cc1d1b7cac0/test-blob-ceaec6f6-2d39-79be-2eeb-55cff4a58239?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ZYxyytMc19wDEzfQpFzG006U3ZPX0IYhSWp//cvgflUkXoLhUSD82u/SyiX27tTRJYGBX8juYpUFUYFonNkRIpXiq0ba5IEtmAOjBAZhKlqWrthKXx\u002BMNvzt3ACfkz0WwaeQE0KO90D/U8fFSl2OoyYm0u4AxsN2VXVK7QeBjgXFjUNe0RcYCLaXSgtXx\u002BueXjjaeMFOFfrjGr7NRAo5fsXC/70ZL9EODso3aHy3Ho6Jq47PphVEdndJerdYSsOsXsxGlccuhC5my2r2F619LPswQ5h7adevfolFz7QatcMGigqwcYjGWiZgaNqrTV/KzE67KAYqMfT0lhc\u002B6bV5TBWm8IyizbpzaelyGgH8BDApegNmXo2821kVu9txh3Fx5xvFBFzTJ/6TSL4duBfz\u002BJHmFW6xE\u002B6I6hQyjRLfAeJ3ADPlNwDTVlIF0hXOniNCIsNJinICwNQtPBpIoJrstEbcprjjDcCREr4brEDYukvx8GpPlndvdEBft/rmi7a4GB7O8fhrXhQCt3ez5hOTVILOV68vnR3PbDF3hFbFq4cIY5MiCshThZJWTN//u40sy2J4FzMGiHsA/oTG89m\u002BPQvvq4OAcEq5etEd2VA\u002Bz7GjS7jzTZRUAtsXIQtDjJK4mA7TEBAKrFsYvpxi6a8qwi/TI6cgyvB3m6mnaE4/du4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23B24EDC7\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "7OLsg6fyXmk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1f72b5-5809-dc79-bf04-4cc1d1b7cac0/test-blob-ceaec6f6-2d39-79be-2eeb-55cff4a58239?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23B8EEAED\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:18.2159511Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1f72b5-5809-dc79-bf04-4cc1d1b7cac0/test-blob-ceaec6f6-2d39-79be-2eeb-55cff4a58239?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB23B8EEAED\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23B8EEAED\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed1f72b5-5809-dc79-bf04-4cc1d1b7cac0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:16.7243974-07:00",
    "RandomSeed": "1577034988",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
