{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4706eba3-378b-41f5-20b7-31347b46da9e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB253C1DF96\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4706eba3-378b-41f5-20b7-31347b46da9e/test-blob-265c3cba-4ac2-b7e4-8638-5b8dcc3b8106?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB253D78299\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:59.7545625Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4706eba3-378b-41f5-20b7-31347b46da9e/test-blob-265c3cba-4ac2-b7e4-8638-5b8dcc3b8106?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "GWMAfVxMovsGlKDlSXV/RIwIAIS8dwzoGDIIwzspPmo9m9brp/QFbpphHy2p/m0QuRcAxDv8SaFXGGQpQ97A3VY2p66fk5yYA5HqW1fePhrF\u002BAojKXkvQVE0k46P3Cu7oELXc1a/cCV6aMCpEu5JeNpKZEvUnLTcBmZca/8OCCdmLroVB8rDBofkqcG4hi9j6xuzRXjg5wSO\u002Bm3wYgUla1\u002BZQ\u002BMzNHEPh13D7/PyI383\u002BH/kWsOvhke2hgxc06OCvj1hHkJLMLappL4aHPcRm9ftuWqFQRGb6r2cfK1ls7O5QDG1kQQ968fJO7YFlGlPpeo0bhk5/H0sxTSFr7MJQ/AKYNzGWwrSsM6jvAVallZTTdfCMESagEOzicvQtzsTv/fF\u002BzONiEngYr5LlkB30S7dMWLcRhOscN\u002BYE9I\u002BAvmSj/wOlJsixsWO4s6FTuoDO7ec8oXZN3nkGYpU9HV2oWDFuQZDaTyTu2qdTWREJiH1ldcaoQ9zuViDKXsQztJQF0BuwJXkv9J6CTcaO\u002BkVn/JpX1\u002BdXABRUf\u002BuwD/BguyYTTYj1mWMENUFn5fXWH1ubYqIp29ysrtAHG\u002BVNf\u002BSuYdKgu6z8ciM3U6KmLxoefmBP1K1ONp9JZp64rn29tvWcuYQjNaPu3zC/Moh6Bn\u002B2KN2FPWs3YGszFxTOA4OluY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB253E82200\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "9MgWWIrVn8M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4706eba3-378b-41f5-20b7-31347b46da9e/test-blob-265c3cba-4ac2-b7e4-8638-5b8dcc3b8106?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB253E82200\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:59.7545625Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4706eba3-378b-41f5-20b7-31347b46da9e/test-blob-265c3cba-4ac2-b7e4-8638-5b8dcc3b8106?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB253E82200\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB253E82200\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:59.7545625Z"
      },
      "ResponseBody": "GWMAfVxMovsGlKDlSXV/RIwIAIS8dwzoGDIIwzspPmo9m9brp/QFbpphHy2p/m0QuRcAxDv8SaFXGGQpQ97A3VY2p66fk5yYA5HqW1fePhrF\u002BAojKXkvQVE0k46P3Cu7oELXc1a/cCV6aMCpEu5JeNpKZEvUnLTcBmZca/8OCCdmLroVB8rDBofkqcG4hi9j6xuzRXjg5wSO\u002Bm3wYgUla1\u002BZQ\u002BMzNHEPh13D7/PyI383\u002BH/kWsOvhke2hgxc06OCvj1hHkJLMLappL4aHPcRm9ftuWqFQRGb6r2cfK1ls7O5QDG1kQQ968fJO7YFlGlPpeo0bhk5/H0sxTSFr7MJQ/AKYNzGWwrSsM6jvAVallZTTdfCMESagEOzicvQtzsTv/fF\u002BzONiEngYr5LlkB30S7dMWLcRhOscN\u002BYE9I\u002BAvmSj/wOlJsixsWO4s6FTuoDO7ec8oXZN3nkGYpU9HV2oWDFuQZDaTyTu2qdTWREJiH1ldcaoQ9zuViDKXsQztJQF0BuwJXkv9J6CTcaO\u002BkVn/JpX1\u002BdXABRUf\u002BuwD/BguyYTTYj1mWMENUFn5fXWH1ubYqIp29ysrtAHG\u002BVNf\u002BSuYdKgu6z8ciM3U6KmLxoefmBP1K1ONp9JZp64rn29tvWcuYQjNaPu3zC/Moh6Bn\u002B2KN2FPWs3YGszFxTOA4OluY="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4706eba3-378b-41f5-20b7-31347b46da9e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:58.2438851-07:00",
    "RandomSeed": "849480845",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
