{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e387767d-2485-e22d-437c-e2ae07f98f1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23C2FFE54\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e387767d-2485-e22d-437c-e2ae07f98f1b/test-blob-f1586ca8-1a2e-5f56-bb62-97fa56b776fc?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A18Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23C4639A0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:20.2148256Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e387767d-2485-e22d-437c-e2ae07f98f1b/test-blob-f1586ca8-1a2e-5f56-bb62-97fa56b776fc?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A18Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "gUY7TT2yRaxvOxbJbBh1r6tVzP/uCW1XY1wgc3u/kuzhtSBoYZE79iasgvMEjfKj7OhOAep2DnjY4\u002BrhktIwsKgq6Lf3DU0ZGtbZQod6U9ZpfIaScJEBa6ankH2nWWRUe9FL2aQ7q9\u002BaNOcUncvxXZAUeBVLnT8XKXwQUHzPcsByhce1L3oxLtCn\u002BDup7M7btTPtk\u002BFOCN2SNK8oKltjy8ImohcEPC4V4klEpKUDbT2uNZpJ4t7fI33pI/vKCAN1RC15gkm21nkF17CXCmQ3jsZyefTBGunkR3\u002BaGhkyS9lFz2B4iurz\u002BF8hRAotSBgZspQ0V48OsypDlTvKG7tf0ozXUToDvgPcf4GVoNXetv9mgWiE/vRKNhs2NPWvKNyjwXF\u002BVvbeFfORWNcOeRNUZd48ZJpS29SXjBoezYoNLVek8d5kYGAIh2x18qUcPL0H4c8XcsRCUeWd5sncv0dpgyuAaYc08AR\u002BM9wt3eguelBcF\u002Bu69rqTYqD5xnmWLMglC256nNI20vHKmD/nFHP8b2t5f6hbro1x7AfmOymL5wYTCNF5tN1\u002BJkT67116q00t/FcNHa0gyVzhCbDLT5fIP7E41AyhgrqN\u002BlhjYb8v9kG5uT7SfcpZ8z50mKststetMbCsQtdBi3mcgCJUvGidsRJvEpVY9sLm3uDNLOoPYEg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB23C54DD87\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "pHEXrXwogHo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e387767d-2485-e22d-437c-e2ae07f98f1b/test-blob-f1586ca8-1a2e-5f56-bb62-97fa56b776fc?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A18Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23C95ADC1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:20.2148256Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e387767d-2485-e22d-437c-e2ae07f98f1b/test-blob-f1586ca8-1a2e-5f56-bb62-97fa56b776fc?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A18Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB23C95ADC1\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23C95ADC1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e387767d-2485-e22d-437c-e2ae07f98f1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:18.7153581-07:00",
    "RandomSeed": "840743384",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
