{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f7e2bd3-9209-c631-7b85-faf7dcbdc8f4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690D6A65CED\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f7e2bd3-9209-c631-7b85-faf7dcbdc8f4/test-blob-309393be-74a2-ca9b-b88a-2e12a9278f37?sv=Sanitized&se=2024-06-08T01%3A26%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690D6BAABA3\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:21.5748268Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f7e2bd3-9209-c631-7b85-faf7dcbdc8f4/test-blob-309393be-74a2-ca9b-b88a-2e12a9278f37?sv=Sanitized&se=2024-06-08T01%3A26%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BrV+4krJUGWmZ5LlIyHkK8R/S6OwTqMFXqlGGYayUsF4rUpZN08e9EMuiTrhtqaWpgNNKdzrh7cReYShgjbe9BTRbHbXivN0YFdggcRoI6gCsHKDZCnkjSaSR77KfXEMT5UmEEkwvhsP2ciFigXyqVXcntLEW4/r7N9PREM1qePlUzEvQRNe0vFXc4tgXwIgoJ5p7t+fSPQFOyNq4HrY2i/loDfTw2dCfczgbOcEi4zcLqSky7sERQo9KQXv9PF3fplber/LTdw2J3ESv9wNALCWjbHWMw5z4VoslpliUojaae1NqBDNEOHHbqRK8YYuLylVWGY/oUuK55hlnrZD1NToOFXuv1egyXzQDsVqKfDT/mZwDPkimsiiw8F3aHIqhJrPYbgwQHDRtY/pb5KFIL6okaBQ0sf[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f7e2bd3-9209-c631-7b85-faf7dcbdc8f4/test-blob-309393be-74a2-ca9b-b88a-2e12a9278f37?sv=Sanitized&se=2024-06-08T01%3A26%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690D6C64363\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:21.5748268Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f7e2bd3-9209-c631-7b85-faf7dcbdc8f4/test-blob-309393be-74a2-ca9b-b88a-2e12a9278f37?sv=Sanitized&se=2024-06-08T01%3A26%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690D6C64363\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690D6C64363\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:26:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f7e2bd3-9209-c631-7b85-faf7dcbdc8f4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:19.9619442-05:00",
    "RandomSeed": "2067111195",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
