{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41aa6f37-937c-7897-225f-fdb8da3025c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063385825DA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41aa6f37-937c-7897-225f-fdb8da3025c7/test-blob-c934cb15-7a9d-17d0-1a0a-b80d2981a347?sv=Sanitized&se=2025-10-01T20%3A52%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006338736C4B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41aa6f37-937c-7897-225f-fdb8da3025c7/test-blob-c934cb15-7a9d-17d0-1a0a-b80d2981a347?sv=Sanitized&se=2025-10-01T20%3A52%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tDIKIuP/6gf5fZusaRWuVUfvAAmm4Swy5zUL09ub3rPibou+KASWFeEt0CDfJK0EXGPGOoGZodMG2Dut9BYsXp7nyvuK7yxCWeoneREMU8KIBnd31aQySM23uFDI6CDKAHGB91myemw2g+CWcSjC+YR4Je6ftIn6tYEt0jfceXHJXHifiltp1osKQVHDm9al9L7LUMMyKkvnh0HYhKc1WglvzBSvIm4pD05ilXM3NhqqiN54ECmtlzIttwMakFHj1edIVM7C9dFPokB0z5XXsFAnLfvJvEnfwTXigmtrDn78fr+M7+FL6JMMKG7pOcecVQez8mNWGhidaJKZ33Nm5JPBd1HWS8Bu3ERnvZTa9ohuRi1jtxwbpmSm7odOsQggpUPaJ8F2xgpHRBYe7lyEwnEKK5lFAy13ptHsL1w4Hyo8RxhQAM7G+IAjG3MG/LcIISsWRIZv2qEWY4HwiZatDyTr4qZENMKiQzMZIue5cakZ5A0wItukzG12OZ1N1m7pdQxOGhkQxO1pcwBTVbe6XPLX16WJfe1JRhY5zfolVG3EMK3aa1aQCCAgx67aUXa1u92rdv/JYPcfBNMD1/byQx+TjyUK4PGbRs6EaLY+b/WfhBEdet5u+s+1umeCjDEpLYOPR8JQqtvrDy8wRfdB4ZXeZFLk1clAJJRVVSWKGbo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063387C1521\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "VqKLhBdyVEQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41aa6f37-937c-7897-225f-fdb8da3025c7/test-blob-c934cb15-7a9d-17d0-1a0a-b80d2981a347?sv=Sanitized&se=2025-10-01T20%3A52%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00633885328F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41aa6f37-937c-7897-225f-fdb8da3025c7/test-blob-c934cb15-7a9d-17d0-1a0a-b80d2981a347?sv=Sanitized&se=2025-10-01T20%3A52%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00633885328F\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00633885328F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41aa6f37-937c-7897-225f-fdb8da3025c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:52:08.1500339-07:00",
    "RandomSeed": "1038793910",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
