{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99ae3d3c-9322-5db9-bf94-0682bc90001a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB246033E52\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99ae3d3c-9322-5db9-bf94-0682bc90001a/test-blob-43b2947b-f97c-3bff-edc9-ec8272d12e75?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2461970E3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:36.6985443Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99ae3d3c-9322-5db9-bf94-0682bc90001a/test-blob-43b2947b-f97c-3bff-edc9-ec8272d12e75?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "pkhsHk3AfQrFj6wVzEzKII7pbZqXq0EdngdS0yXWlnqKv1zRH/Lquxenfe1M6W\u002Bh/8z0iGOU3fsGT4BGbarl7vkxiwzv\u002BACc/7KD8C1U0LSXsdNZ4g4W9eFhy9Bxo01swo70G15isgbLV4ixEe3NsX7LrrzWjAvqGpUqjiwwK1xkFi2eYLRWNf7MjoqFZeT0kxlRpfSRlTaCCQDINyTZmiwsTPq/L1HKdXm9Cf6AZbWwNvoT3oVn04H3HFa0jf3a8vNeWBjpNWTHhzB61Is3AaNKFwEpxrynxXl5xxL6Fed74hcKIg2cxwGWS1ZU7P71vxqzaXX8sSw2t5OfcG1RzHJJ/vF0LN\u002BWrlD/k3plUth6gwf4R6txfzHq1Gt6/VeTRH7kC\u002B0NgZI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99ae3d3c-9322-5db9-bf94-0682bc90001a/test-blob-43b2947b-f97c-3bff-edc9-ec8272d12e75?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2462889E6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:36.6985443Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99ae3d3c-9322-5db9-bf94-0682bc90001a/test-blob-43b2947b-f97c-3bff-edc9-ec8272d12e75?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2462889E6\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2462889E6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-99ae3d3c-9322-5db9-bf94-0682bc90001a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:35.1908133-07:00",
    "RandomSeed": "702305721",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
