{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24f5da3e-c588-29cc-7893-71a873152bd6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D123CEE61BE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24f5da3e-c588-29cc-7893-71a873152bd6/test-blob-ddb1338f-7768-533e-8900-1455790825ef?sv=Sanitized&se=2025-03-08T00%3A51%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D123CFF8563\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24f5da3e-c588-29cc-7893-71a873152bd6/test-blob-ddb1338f-7768-533e-8900-1455790825ef?sv=Sanitized&se=2025-03-08T00%3A51%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "BKcUugxHABAjsm92zelQepQgNdDWsGAcerVZ1DcyJDPILmP8geMfRzKhurYHyIagr5rBWNNUGVNG90BX7SvY8I08rZ6FVPiwAe2eNfaqFLEuuSSdcctgdBQPtYqjyFkHyMkoyxvnGluhEVfltuNcnOKOKDQGO3/C3DmKdp5uDTmUl2wtgkmWRp7J/F90er4wshmnFJ8lAI1JZe/hXaS9MgMeUR53LxmZ+OKVPT8fTmF6WcOEx/iZbpbf5BxZtOj6C8lbVimfuYP/Dhy9j8JNKReOZwTgOGsKhOKIl0v9P0P5mzF2w/c4258/hbnc3N/UkboEy03kGdNdUNFGFyI4Ac7Yw/SQ12UgVotloLOyLqgDswWQ+XP1FYFeGHMm8cN9B4PqAxjqQ7pV5HXBfngfqyIpQ2Mcpwh[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24f5da3e-c588-29cc-7893-71a873152bd6/test-blob-ddb1338f-7768-533e-8900-1455790825ef?sv=Sanitized&se=2025-03-08T00%3A51%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D123D07E075\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24f5da3e-c588-29cc-7893-71a873152bd6/test-blob-ddb1338f-7768-533e-8900-1455790825ef?sv=Sanitized&se=2025-03-08T00%3A51%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D123D07E075\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D123D07E075\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:51:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:51:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24f5da3e-c588-29cc-7893-71a873152bd6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:51:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:51:47.0084248-08:00",
    "RandomSeed": "36183702",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
