{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00633F81857B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83/test-blob-3dc1009a-4792-e926-33ea-228dadc0f9b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00633F8B0729\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83/test-blob-3dc1009a-4792-e926-33ea-228dadc0f9b4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "BzA5b2zbS8xRqXC2xDdsT5R8btAEKTgB8CxsTci4KkCH44Cxk7iXvrX17OjWcCX7ftP4MVIosN33N35Ab/0EmH8wL+G3urzc5a8bDj1QK4AHcM/0wPjuXjKiulw5V0+38VNppUFERMMXG0yiDKGgpwv9Of4uD9iGQtCuFABfoo1gZB3p54U/wisL3aSsS1GQAhJQPB5QiOJ64mNwlTDCt3i+QqiEtsCGvnbSIjE02vZ/HRHuD2ZvD9w7bgQizyz7SSYr7gipDEtRyn6nfWWwRghs8Xge06cSTjPLSUi7Y+5J19kKCOvu1RHGnEXoyJF2iij8td603HV/GaDV3cMDlmaPXaaMpT0cfhtmWDdhKYahVL4fvq4Qlfpji+9LGfdOwgbfWGrr6uTq4DfCTYQ+He8ZM4kE49e[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83/test-blob-3dc1009a-4792-e926-33ea-228dadc0f9b4?sv=Sanitized&se=2025-10-01T20%3A52%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00633FB6058F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83/test-blob-3dc1009a-4792-e926-33ea-228dadc0f9b4?sv=Sanitized&se=2025-10-01T20%3A52%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "Reques[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83/test-blob-3dc1009a-4792-e926-33ea-228dadc0f9b4?sv=Sanitized&se=2025-10-01T20%3A52%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00633FC5847B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83/test-blob-3dc1009a-4792-e926-33ea-228dadc0f9b4?sv=Sanitized&se=2025-10-01T20%3A52%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00633FC5847B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00633FC5847B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3e3af245-2d49-cac8-7b6f-fc8286827b83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:52:20.2787704-07:00",
    "RandomSeed": "17648241",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
