{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f6801df-1bc0-ae5d-72ff-16bc0f5c3992?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C754564C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f6801df-1bc0-ae5d-72ff-16bc0f5c3992/test-blob-b90370d1-db81-52de-4bdc-a8211459a1a0?sv=Sanitized&se=2024-06-08T01%3A25%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C768F0AA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:55.8723754Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f6801df-1bc0-ae5d-72ff-16bc0f5c3992/test-blob-b90370d1-db81-52de-4bdc-a8211459a1a0?sv=Sanitized&se=2024-06-08T01%3A25%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "tJHlqcp4pQJ18P63b8cnv/TsMpzNkQT7hz51ELDDFkirfDrSQgBPWcsARJDcJuKDtOgtJycE0iKM6SKMApRSsdq1DPONVX3zndnRzExzH2Bc8lvHlu8hp6kXRVjdw1Y3rpK2Jxrv9V9qOYlOMwXWGcrCLxA4ixvrlGVJdg8lFtmCmh66vfhGbfz8XFxl03OkQSyNG5NG/iN2y5K1pX9QRSOwy5nmG1vSfMITOy6+hcHxpTXil/pGO5v7Q/FlkMd8qxc5tAfavSXRu5/QM8L0uEXRwwBKbq4pao/969hpbOv7lpAXhdG5F+cPEdtadQjYBouslMzGMj1oEEp33NFNZ0601Zwy3TJ0F6wZOl3SzvSHJeVMvdgeNWRSrnWGQToVwqmNpp9spShYOHwfrffglkFW8LfsAKl1laA44C+87dVyA3izRShUGn+89IVb/odscRc0MFGDKcIAFxD/M8X4nEqmral+LVEZAdU4MAwkGpYYy24YiL2E79q2sy0XVee5xFc6tVHd7UTGGi97S/m12/1552dX4BOMIr3PyHojAazufmy06mRFOt0qUW2OCKThANcwnm1/YuNErpKTDiXJohmDjcyNAfCYNK2KLI6l/RkZ7sei82M+bxuIbzzSsSu4YK5UC3vXVP/mmGnA9TZUnrB4eR9eJ6+2RB6xBJG0xYM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C775C0D2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "HqM0ZvFAxjk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f6801df-1bc0-ae5d-72ff-16bc0f5c3992/test-blob-b90370d1-db81-52de-4bdc-a8211459a1a0?sv=Sanitized&se=2024-06-08T01%3A25%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690C783A251\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:55.8723754Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f6801df-1bc0-ae5d-72ff-16bc0f5c3992/test-blob-b90370d1-db81-52de-4bdc-a8211459a1a0?sv=Sanitized&se=2024-06-08T01%3A25%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690C783A251\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690C783A251\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8f6801df-1bc0-ae5d-72ff-16bc0f5c3992?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:54.2391776-05:00",
    "RandomSeed": "1827251580",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
