{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:39:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EBF368619\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74/test-blob-f6ff9e6d-4187-e42e-14cf-2f4cd38da345",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:39:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EBF444641\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:07.0253633Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74/test-blob-f6ff9e6d-4187-e42e-14cf-2f4cd38da345?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:39:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "TN2BCx3jgIMR9WOGJMF+VjXgl55GJz4ukkmEI4PPskj1lOI9keuyih175JLeqL9SUdkW8/UE/yWeU3nUX13/QkIbkJDfQcVKLQ2AykKsUOmKMdKquL9S8ZS8nj5y3irAfKFQwhgucxAUy8bogzTi8gOPSi2KVYmCyJ/7IqKG2E/iwE6hXI3QW77Cluz5am1g2qw64pT9NSYXzfp5M1FtjfN2BcPmQZZ2v+5vyL6ciV4ym0f1TPa65YoniY+SVyhtVAn5gmSpeZgWwyKljm1oekObR5cJd0D9ux85vrgG42jGAnO0owf5iCGv34jTFVccvw5L9w+QY9zJ/MZFcLvgD+C634v5s9c8or52WZi3KabIHP+pu+xYNZ6W66ZAtBhmz8+oGDXLIgs2D1RRGgpEEdIffVO8NlT[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74/test-blob-f6ff9e6d-4187-e42e-14cf-2f4cd38da345?sv=2024-08-04&se=2024-05-02T20%3A39%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EBF627839\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:07.2242505Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74/test-blob-f6ff9e6d-4187-e42e-14cf-2f4cd38da345?sv=2024-08-04&se=2024-05-02T20%3A39%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "Reque[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74/test-blob-f6ff9e6d-4187-e42e-14cf-2f4cd38da345?sv=2024-08-04&se=2024-05-02T20%3A39%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1EBF758844\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:07.2242505Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74/test-blob-f6ff9e6d-4187-e42e-14cf-2f4cd38da345?sv=2024-08-04&se=2024-05-02T20%3A39%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1EBF758844\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1EBF758844\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9a6805e2-8477-e092-8b6a-a3f1cc4b7c74?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:39:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:39:06.9113224-07:00",
    "RandomSeed": "1704634831",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
