{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae072f17-24d8-776a-a0d4-b5efab8f7d58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB250ADD1FC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae072f17-24d8-776a-a0d4-b5efab8f7d58/test-blob-61506d95-84c7-1a72-d8b3-4f9e6651b545?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A53Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB250C276F2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:54.5844729Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae072f17-24d8-776a-a0d4-b5efab8f7d58/test-blob-61506d95-84c7-1a72-d8b3-4f9e6651b545?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A53Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "nxEMsxVXXiVpD8goFgnGQNmXg1QK09xdhV9NRTB9IZTsoK57Ea0RPQ4q\u002BLe8SgTO7Q7Ezs1hOss1ry22Chj16\u002B4zO3VbSi8rhkVF39skoDtbflghuVLGi2XjRmKAWzP1NQ3JiA6Oc6LfmEiIG1rvEA7yWozA1DKbbLAPeATNqyoST6rOWhgszAq2QSAKPm8L8zZTjQCnNWDbLhtdfvueEuwddsuwIbX2xY6BCpIRkC5BBITOeR0qahpJ8yz8z04OGC8z7MejW9GAXMhyJSvOyZ3tG3l2z5nO8wuxZi6J\u002BvY/c/Fj3aRmnqmzTRxVuEXveymODrPUl0iWZPm88fWj92LSMrI5a\u002Bv5hn3Qw4J8eTvGweoE\u002B\u002BtDa9upzXmrqqy0EFa6g4WSthA9lIg1A9TFGeu99S8Knvt2j8bWj55yTtvRHLMswfW1MwvaxmZiDWcH5LON7bR8qnJaQ/S\u002BvCZxy0asZOcgmVj1CMIkL9eVE4Ffzqvr5WAnVHJA0X4B9nfkaPsftqiA5kpamOTyWHqaxC9yX\u002B17hubmhRB14Mfa8xFLP8fcdl3Z3uhgkE17NPz3pg1Oj5aJaeEVOTCYCwaDgKTTphizvk7SmIEFGvaZalAUfTm5i2R6wdblxjwtQdPh3Q\u002BoqI7jROe\u002Be/YVhE7re8/fg47MyfU/WOVCzfcRpVc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB250D49CD1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:54 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "VCMccHdNuZ8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae072f17-24d8-776a-a0d4-b5efab8f7d58/test-blob-61506d95-84c7-1a72-d8b3-4f9e6651b545?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A53Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB251163034\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:54.5844729Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae072f17-24d8-776a-a0d4-b5efab8f7d58/test-blob-61506d95-84c7-1a72-d8b3-4f9e6651b545?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A53Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB251163034\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB251163034\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ae072f17-24d8-776a-a0d4-b5efab8f7d58?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:53.0769269-07:00",
    "RandomSeed": "1265860561",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
