{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b0d393cc-2545-19b5-6c30-f4a724fb1877?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EBE4530C0\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b0d393cc-2545-19b5-6c30-f4a724fb1877/test-blob-c276325a-2aa6-2362-e0d9-22fd56ca01f1?sv=2024-08-04&se=2024-05-02T20%3A39%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EBE5749E9\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:05.4732532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b0d393cc-2545-19b5-6c30-f4a724fb1877/test-blob-c276325a-2aa6-2362-e0d9-22fd56ca01f1?sv=2024-08-04&se=2024-05-02T20%3A39%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "A9ZLyPpKwl8w+8Cvz4UdyB8wkOUDanYx+d3t2/aYKnPl5ykFeWCjEHAXkatps1Nbu1reJjkb7phgGs4cXOZpmNBNyuhcGE6+jIB169nKyEWKkiCbugQ5yfiQpF+Rh7SKrvnbG+lr/qILH5m5pgK/lVKJksnFzd3LFADvzHPvLQXM6z3g76xcHpN9kJprfyP20A4MCPXqxOAbDwfpezIuHPKU7bvE3qalLHM2Rz1DYJTd+ftk4iUP4SZcxd+kc6NgT3Oo1pJnMfJoZ9uCs3yj2K9zC4I3yTnMhAuUaBnGAbnQ1fjJmokCdccJ/HtJjS6que0wMWcgKYU53FKG08nYoWUhsd6D2T0lcJa7Ls2+gvbd6a8sls9Rr6xzj742e6L9MFoVJ9tQJ9+vCsDRZfq4e1lbqekarAq[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b0d393cc-2545-19b5-6c30-f4a724fb1877/test-blob-c276325a-2aa6-2362-e0d9-22fd56ca01f1?sv=2024-08-04&se=2024-05-02T20%3A39%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1EBE648E62\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:05.4732532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b0d393cc-2545-19b5-6c30-f4a724fb1877/test-blob-c276325a-2aa6-2362-e0d9-22fd56ca01f1?sv=2024-08-04&se=2024-05-02T20%3A39%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1EBE648E62\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1EBE648E62\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b0d393cc-2545-19b5-6c30-f4a724fb1877?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:39:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:39:05.1519711-07:00",
    "RandomSeed": "878613693",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
