{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44feda00-9748-5e36-1a91-f212ff1a2931?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB249D47399\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44feda00-9748-5e36-1a91-f212ff1a2931/test-blob-62cac002-4d5a-b165-b3ef-8768d3b8d39d?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB249F3D2F3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:43.1639045Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44feda00-9748-5e36-1a91-f212ff1a2931/test-blob-62cac002-4d5a-b165-b3ef-8768d3b8d39d?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "sQQd8FGZijAmoSejmwtbwSAzakIrDDT9xztBuJAOSvtVEnb/sVCJaTaaO7gmwhWolMVHoE6QcaTQHygWV9GgF1YsToiUWxDQqgEMkdB71wUlmSPKx6qtxKHSL5EnchJk\u002BSRh\u002BXONEzi1d/ZMhN/TVEci8L2u1VCsfonnwix\u002BqDfvp5esGd2RmIbqFU\u002BzYEDB/tpKBIJUtSTUtXvqpVAMN86/XdxIJztqkVc3w8AA\u002BR5JJsRRNKS0mvFz12Rip/M13d2B9AJjedaf4HMqHfJj1LtcoX\u002BMuwIpCsPq1FDWB\u002BlkAebifgUb5azusVQwinz/EAKoBQZzqSHbV\u002Bk/eaSFydiKxhwMgFW2QbzSngqu\u002BYBG6sRNLQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-44feda00-9748-5e36-1a91-f212ff1a2931?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:41.6531323-07:00",
    "RandomSeed": "1368626457",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
