{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-570361c1-4fa7-d01d-d961-7aae671db605?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB25E771AED\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-570361c1-4fa7-d01d-d961-7aae671db605/test-blob-0a7fce0d-c3af-6c85-95ce-0f982649014e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB25E878C84\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:05:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:05:17.6854660Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-570361c1-4fa7-d01d-d961-7aae671db605/test-blob-0a7fce0d-c3af-6c85-95ce-0f982649014e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "p/EV5ZhNt8md7/3TgYcvsjlRUH/OP20uCy9dSoAp2j7UmDk/9OJGWygQp9jUnp2qIVBGOFXHG2iE5tlo8G1IdBS//uhN775WCvRWvZeUWmySsigw4qHpDH3Quw0I3Wu6xzPDFZ\u002B0XTKS7y5gcF7Q74xt1j1FGJFy1fJrfDSwTi2Im/Vk0UXN3lX2nfJziJsfAMuBmwYtda\u002BhUD\u002BtSOD94qEA2NVobB5Gn/joT3uf/kxWTHxpLrMmWiZGwoAFH5V1\u002BLtRc7DGtpOsO/sORSY0AlLyV/tjlLTt2X2uIqqdQIBic1bAToucj5bpvPK4GBX/EsAuE8iaEWMGY5kyF5TpD/p7q9LPc7TGVsdletjBNcForxDpby24yGHzuerxaXcC/6z4PWxDMJ4[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-570361c1-4fa7-d01d-d961-7aae671db605/test-blob-0a7fce0d-c3af-6c85-95ce-0f982649014e?sv=2024-05-04\u0026se=2024-03-28T23%3A05%3A16Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ee53fc45-601e-0006-689b-80465e000000\n",
        "Time:2024-03-27T23:05:17.9422333Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-570361c1-4fa7-d01d-d961-7aae671db605?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:05:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:05:16.4410083-07:00",
    "RandomSeed": "892027057",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
