{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ec7854bd-fb2e-546f-3ab2-c78676cfad08?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690D9F71FA8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ec7854bd-fb2e-546f-3ab2-c78676cfad08/test-blob-bf34d63e-f12d-ae37-f1a5-278e60d67672?sv=Sanitized&se=2024-06-08T01%3A26%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690DA07B9F0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:26:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:26:27.1119856Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ec7854bd-fb2e-546f-3ab2-c78676cfad08/test-blob-bf34d63e-f12d-ae37-f1a5-278e60d67672?sv=Sanitized&se=2024-06-08T01%3A26%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "90hBQqtMJ/92iGTYphLj1K3K5zIOx1Cwg2c2IyqyuYCCxLjtSxTM8q81SaSMXwjewlPglu5DYzD3kL9EFQPUxM/jVeFa9oiY/fWD2X6sIyNfV2HX0SOSPmGI9btViNyrYIXUqAkmg8vKSJj5wImxS2yb5L2i/fKsURd/0gDNQnUY2Hj513saONSVDImLmH3Y1qpOuqQfCWKSKFfxp7HL/QUi4OgQuHPxgKvpDPFpIbmZp/xVfojR+c8WZq4jKJEiyQ+EaLeVxx42XTr4NfxxKQedVwC1dn59UecY+lHEzVcaxkPi5LkBA9/eHiFO2cPSpD2nhdCQbVOQBxfQfczMcY/i3W+5j0RNnFQg11ddL3gkRVYTHUeGiVjvUd2iMYYSEa2Ra/tTGRT5Wel8b5b8M9ieqzd2uFR[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ec7854bd-fb2e-546f-3ab2-c78676cfad08?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:26:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:26:25.5013105-05:00",
    "RandomSeed": "1342739404",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
