{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b63af208-a414-c665-d54e-782b6f1fb58b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EC198EEC1\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b63af208-a414-c665-d54e-782b6f1fb58b/test-blob-f4eacdd4-f938-8551-4ffc-fb36c4baaf14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:39:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EC1A7A625\"",
        "Last-Modified": "Wed, 01 May 2024 20:39:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:39:11.0320677Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b63af208-a414-c665-d54e-782b6f1fb58b/test-blob-f4eacdd4-f938-8551-4ffc-fb36c4baaf14?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:39:10 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "VQuj9fFFXLkF2uTzhdiZ1D3ZFA6LIk7ULVthbgZKHm/wt1keN2PeCaQB3NJ6TM78gT7jnZBAyzK9z8iW5O6zurt1As1/e53a+gpqiUZ7WuGMZOzHZ4Her+wmYGebRyS1TiEXBEkBfAWgCaKF1UHsQXTnCoAB61M5llLhWRs2PrLmtDslZFWXiufnJ13fWdqqOR7ysz2ktGLN3W72HyPqasrwnyEFx90fT3+YGsT2Wj14Nh/8Q4p1QgDYV4bnoWvE/LyS77q5pXJB02S9C5me14MwfegD7Sc/elwgLG9WN64U1B0HY2uDv5Gsum8mtzdmOoACtyOCwA+VUnRdmHgD65u1qTZ8lnMYrb1XVjK3GcMlufLvU4CLkRQOcRH2JScZqc/UcA0A6qMM6gllK2rc3jmwN96FFJc[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b63af208-a414-c665-d54e-782b6f1fb58b/test-blob-f4eacdd4-f938-8551-4ffc-fb36c4baaf14?sv=2024-08-04&se=2024-05-02T20%3A39%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f1279bc1-301e-001a-7d07-9cf05d000000\n",
        "Time:2024-05-01T20:39:11.2581590Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b63af208-a414-c665-d54e-782b6f1fb58b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:39:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:39:10.9323184-07:00",
    "RandomSeed": "901201665",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
