{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0acbaa38-8f17-e675-c3a0-9be0047dff88?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006336E12076\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0acbaa38-8f17-e675-c3a0-9be0047dff88/test-blob-c5bcff22-0fa9-84b6-2252-b2d8dfde6981?sv=Sanitized&se=2025-10-01T20%3A52%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00633705BFF3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:52:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0acbaa38-8f17-e675-c3a0-9be0047dff88/test-blob-c5bcff22-0fa9-84b6-2252-b2d8dfde6981?sv=Sanitized&se=2025-10-01T20%3A52%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "1nQz1MiaD9Q3nol2MNgUD2gaQwg8QAOpjmzBOp0uVYfyDmT5VvhAh+/ojQqFP1NJPqJwxZpgRJVwikVc2dQ2CUkBgyJ0Grlv2bwYVLL5I04YePz6vo/skcrPicyy460bsYTBhLsx1STpAOveSO/id2b2Q2HYPEu5FPJXpJHsvfUO/aIuOJ+T56PYEb2jDkna7BFlu6BMQnU5B2/J2TCS/EP10EtNtD/HY1u9ACqNFQapfbh/hwFVwbot9TAvyQ1zRRR6rj79jTjRnldEjkFKq/FpIFx3EnVBoA6QH74OmJpOSrsWE2fIq/B/ruipEDJ540k/xaix+zKfOA0vbW15wgW99kOGM5eJoHVs+GSMmI/bFzx0z9LxnE+Id9pZmT6CBevi7Bru8q+xtSUzRQLNEqB+U1UwBPM[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0acbaa38-8f17-e675-c3a0-9be0047dff88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:52:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:52:05.6885430-07:00",
    "RandomSeed": "965532881",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
