{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.KeyVault%2Fvaults%27&api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.KeyVault/vaults",
            "location": "westus2",
            "tags": {}
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.KeyVault/vaults",
            "location": "westus2",
            "tags": {}
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.KeyVault/vaults",
            "location": "westus2",
            "tags": {}
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "ty[...]
[...]
