{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('ymxlriva')/search.analyze?api-version=2025-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "I dARe YoU tO reAd It IN A nORmAl vOiCE.",
        "normalizer": "lowercase"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "5",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_08_01_Preview.AnalyzeResult",
        "tokens": [
          {
            "token": "i dare you to read it in a normal voice.",
            "startOffset": 0,
            "endOffset": 40,
            "position": 0
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('ymxlriva')/search.analyze?api-version=2025-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "text": "Item ① in my ⑽ point rant is that 75⁰F is uncomfortably warm.",
        "normalizer": "asciifolding"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_08_01_Preview.AnalyzeResult",
        "tokens": [
          {
            "token": "Item 1 in my (10) point rant is that 750F is uncomfortably warm.",
            "startOffset": 0,
            "endOffset": 61,
            "position": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1933415707",
    "SearchIndexName": "ymxlriva",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch"
  }
}
