{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps?api-version=2024-03-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "mmlijnmh",
        "format": "solr",
        "synonyms": "msft=\u003EMicrosoft"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "51",
        "ETag": "\u00220x8DC376E55378DAC\u0022",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps(\u0027mmlijnmh\u0027)?api-version=2024-03-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\u00220x8DC376E55378DAC\u0022",
        "name": "mmlijnmh",
        "format": "solr",
        "synonyms": "msft=\u003EMicrosoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps(\u0027mmlijnmh\u0027)?api-version=2024-03-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DC376E55378DAC\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "mmlijnmh",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft",
        "@odata.etag": "\u00220x8DC376E55378DAC\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "ETag": "\u00220x8DC376E5540D20F\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\u00220x8DC376E5540D20F\u0022",
        "name": "mmlijnmh",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps(\u0027mmlijnmh\u0027)?api-version=2024-03-01-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u00220x8DC376E55378DAC\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "mmlijnmh",
        "format": "solr",
        "synonyms": "ms,msft=\u003EMicrosoft",
        "@odata.etag": "\u00220x8DC376E55378DAC\u0022"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "13"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps?$select=name\u0026api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "77",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "mmlijnmh"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps(\u0027mmlijnmh\u0027)?api-version=2024-03-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "If-Match": "\u00220x8DC376E5540D20F\u0022"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "14",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1418605643",
    "SearchIndexName": "tmbsxevx",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
