{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "pybioqvd",
        "scoringProfiles": [
          {
            "name": "nearest",
            "functions": [
              {
                "fieldName": "location",
                "boost": 2,
                "type": "distance",
                "distance": {
                  "referencePointParameter": "myloc",
                  "boostingDistance": 100
                }
              },
              {
                "fieldName": "geoLocation",
                "boost": 2,
                "type": "distance",
                "distance": {
                  "referencePointParameter": "mygeoloc",
                  "boostingDistance": 100
                }
              }
            ],
            "functionAggregation": "sum"
          }
        ],
        "suggesters": [
          {
            "name": "sg",
            "searchMode": "analyzingInfixMatching",
            "sourceFields": [
              "description",
              "hotelName"
            ]
          }
        ],
        "semantic": {
          "defaultConfiguration": "my-semantic-config",
          "configurations": [
            {
              "name": "my-semantic-config",
              "prioritizedFields": {
                "titleField": {
                  "fieldName": "hotelName"
                },
                "prioritizedContentFields": [
                  {
                    "fieldName": "description"
                  }
                ],
                "prioritizedKeywordsFields": [
                  {
                    "fieldName": "category"
                  }
                ]
              }
            }
          ]
        },
        "vectorSearch": {
          "profiles": [
            {
              "name": "my-vector-profile",
              "algorithm": "my-hsnw-vector-config"
            }
          ],
          "algorithms": [
            {
              "name": "my-hsnw-vector-config",
              "kind": "hnsw"
            }
          ]
        },
        "purviewEnabled": true,
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "descriptionVector",
            "type": "Collection(Edm.Single)",
            "retrievable": true,
            "searchable": true,
            "dimensions": 1536,
            "vectorSearchProfile": "my-vector-profile"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "tags",
            "type": "Collection(Edm.String)",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "fi[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('pybioqvd')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "15"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "No index with the name 'pybioqvd' was found in a service named 'azs-net-azssdktest'.",
          "details": [
            {
              "code": "IndexNotFoundInService",
              "message": "No index with the name 'pybioqvd' was found in a service named 'azs-net-azssdktest'."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1126824698",
    "SearchIndexName": "pybioqvd",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
