{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/knowledgesources?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sharepoint",
        "kind": "remoteSharePoint"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "54",
        "ETag": "\"0x8DE74C5F69366CE\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/knowledgesources('sharepoint')?api-version=2025-11-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE74C5F69366CE\"",
        "name": "sharepoint",
        "kind": "remoteSharePoint",
        "description": null,
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/knowledgesources('sharepoint')?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "sharepoint",
        "description": "Updated description",
        "kind": "remoteSharePoint",
        "@odata.etag": "\"0x8DE74C5F69366CE\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "39",
        "ETag": "\"0x8DE74C5F69DBB60\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE74C5F69DBB60\"",
        "name": "sharepoint",
        "kind": "remoteSharePoint",
        "description": "Updated description",
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/knowledgesources('sharepoint')?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "53",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "451066733",
    "SearchIndexName": "jgeaxofv",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
