{
  "Entries": [
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/synonymmaps?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hiubyhvm",
        "format": "solr",
        "synonyms": "msft=>Microsoft"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "22",
        "ETag": "\"0x8DD8D9F49BAAF2F\"",
        "Location": "https://shrejasearchtme.search.windows.net/synonymmaps('hiubyhvm')?api-version=2025-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://shrejasearchtme.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DD8D9F49BAAF2F\"",
        "name": "hiubyhvm",
        "format": "solr",
        "synonyms": "msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/synonymmaps('hiubyhvm')?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DD8D9F49BAAF2F\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hiubyhvm",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DD8D9F49BAAF2F\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "ETag": "\"0x8DD8D9F49C4684D\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://shrejasearchtme.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DD8D9F49C4684D\"",
        "name": "hiubyhvm",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/synonymmaps('hiubyhvm')?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DD8D9F49BAAF2F\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hiubyhvm",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DD8D9F49BAAF2F\""
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "9"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/synonymmaps?$select=name&api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://shrejasearchtme.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "hiubyhvm"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/synonymmaps('hiubyhvm')?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "If-Match": "\"0x8DD8D9F49C4684D\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "29",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "760247524",
    "SearchIndexName": "lpgoqfko",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "shrejasearchtme"
  }
}
