{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sfemuicn",
        "format": "solr",
        "synonyms": "msft=>Microsoft"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "19",
        "ETag": "\"0x8DC69ABD7315569\"",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps('sfemuicn')?api-version=2024-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DC69ABD7315569\"",
        "name": "sfemuicn",
        "format": "solr",
        "synonyms": "msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps('sfemuicn')?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DC69ABD7315569\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "sfemuicn",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DC69ABD7315569\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "15",
        "ETag": "\"0x8DC69ABD73AA2DB\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DC69ABD73AA2DB\"",
        "name": "sfemuicn",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps('sfemuicn')?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DC69ABD7315569\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "sfemuicn",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DC69ABD7315569\""
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "11"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps?$select=name&api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "sfemuicn"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/synonymmaps('sfemuicn')?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "If-Match": "\"0x8DC69ABD73AA2DB\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "9",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "128762901",
    "SearchIndexName": "cnndgsvn",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
