{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/synonymmaps?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "yefmsbwp",
        "format": "solr",
        "synonyms": "msft=>Microsoft"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "24",
        "ETag": "\"0x8DE053E6A5194DB\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/synonymmaps('yefmsbwp')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DE053E6A5194DB\"",
        "name": "yefmsbwp",
        "format": "solr",
        "synonyms": "msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/synonymmaps('yefmsbwp')?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE053E6A5194DB\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "yefmsbwp",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DE053E6A5194DB\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "21",
        "ETag": "\"0x8DE053E6A5A8B73\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DE053E6A5A8B73\"",
        "name": "yefmsbwp",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/synonymmaps('yefmsbwp')?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE053E6A5194DB\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "yefmsbwp",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DE053E6A5194DB\""
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "13"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/synonymmaps?$select=name&api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "yefmsbwp"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/synonymmaps('yefmsbwp')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "If-Match": "\"0x8DE053E6A5A8B73\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "14",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "986995303",
    "SearchIndexName": "qkgquccd",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch"
  }
}
