{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "web",
        "kind": "web",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "example.com"
              }
            ],
            "blockedDomains": [
              {
                "address": "blocked.com"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "558",
        "ETag": "\"0x8DEB13758A009F0\"",
        "Location": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('web')?api-version=2026-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DEB13758A009F0\"",
        "name": "web",
        "kind": "web",
        "description": null,
        "encryptionKey": null,
        "searchIndexParameters": null,
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "mcpServerParameters": null,
        "fabricOntologyParameters": null,
        "fabricDataAgentParameters": null,
        "webParameters": {
          "language": null,
          "market": null,
          "count": null,
          "freshness": null,
          "domains": {
            "allowedDomains": [
              {
                "address": "example.com",
                "includeSubpages": null
              }
            ],
            "blockedDomains": [
              {
                "address": "blocked.com",
                "includeSubpages": null
              }
            ]
          }
        },
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null,
        "fileParameters": null,
        "indexedSqlParameters": null
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('web')?api-version=2026-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "web",
        "description": "Updated description",
        "kind": "web",
        "@odata.etag": "\"0x8DEB13758A009F0\"",
        "webParameters": {
          "domains": {
            "allowedDomains": [
              {
                "address": "example.com"
              }
            ],
            "blockedDomains": [
              {
                "address": "blocked.com"
              }
            ]
          }
  [...]
[...]
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/knowledgesources('web')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "144",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "861123724",
    "SearchIndexName": "pnoyykee",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
