{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/synonymmaps?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hynmhgwu",
        "format": "solr",
        "synonyms": "msft=>Microsoft"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "ETag": "\"0x8DCE30706EFE5ED\"",
        "Location": "https://azs-net-t0eeade0124fbb432.search.windows.net/synonymmaps('hynmhgwu')?api-version=2024-09-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DCE30706EFE5ED\"",
        "name": "hynmhgwu",
        "format": "solr",
        "synonyms": "msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/synonymmaps('hynmhgwu')?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DCE30706EFE5ED\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hynmhgwu",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DCE30706EFE5ED\""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "16",
        "ETag": "\"0x8DCE30706FFB2A4\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#synonymmaps/$entity",
        "@odata.etag": "\"0x8DCE30706FFB2A4\"",
        "name": "hynmhgwu",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/synonymmaps('hynmhgwu')?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DCE30706EFE5ED\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "hynmhgwu",
        "format": "solr",
        "synonyms": "ms,msft=>Microsoft",
        "@odata.etag": "\"0x8DCE30706EFE5ED\""
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "11"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request."
        }
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/synonymmaps?$select=name&api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#synonymmaps(name)",
        "value": [
          {
            "name": "hynmhgwu"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/synonymmaps('hynmhgwu')?api-version=2024-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "If-Match": "\"0x8DCE30706FFB2A4\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "12",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "505762260",
    "SearchIndexName": "xwnjtkjo",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
