{
  "Entries": [
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/agents('vjnikrrk')?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "115",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/agents('vjnikrrk')?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "110"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "No agent with the name 'vjnikrrk' was found in service 'shrejasearchtme'."
        }
      }
    },
[...]
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/indexes('iipmrmac')?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "244",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "KnowledgeAgentName": "vjnikrrk",
    "RandomSeed": "1019886899",
    "SearchIndexName": "iipmrmac",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "shrejasearchtme"
  }
}
