{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes?$select=name\u0026api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "17",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "faurkoaf"
          },
          {
            "name": "fxeegfyp"
          },
          {
            "name": "index-1000-chunksperdoc"
          },
          {
            "name": "index-800-chunksperdoc"
          },
          {
            "name": "semantic-index-800-chunksperdoc"
          },
          {
            "name": "wymdldur"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1044587497",
    "SearchIndexName": "faurkoaf",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
