{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes?$select=name&api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "80",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearchtest4.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "jtptyjhl"
          },
          {
            "name": "juaattyc"
          },
          {
            "name": "prmhblgy"
          },
          {
            "name": "wprsfulr"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1866306129",
    "SearchIndexName": "wprsfulr",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
