{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes?$select=name&api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "agcenclh"
          },
          {
            "name": "aiykvghj"
          },
          {
            "name": "cakmltfc"
          },
          {
            "name": "cnndgsvn"
          },
          {
            "name": "cqqlmgqf"
          },
          {
            "name": "dbqaguji"
          },
          {
            "name": "erfbtksf"
          },
          {
            "name": "fedeyaxy"
          },
          {
            "name": "fkcjcdar"
          },
          {
            "na[...]
