{
  "Entries": [
    {
      "RequestUri": "https://shrejasearchtme.search.windows.net/indexstats?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "25",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://shrejasearchtme.search.windows.net/$metadata#Collection(Microsoft.Azure.Search.V2025_05_01_Preview.IndexStatisticsSummary)",
        "value": [
          {
            "name": "lpgoqfko",
            "documentCount": 10,
            "storageSize": 275995,
            "vectorIndexSize": 62640
          },
          {
            "name": "ombkhgoh",
            "documentCount": 10,
            "storageSize": 81392,
            "vectorIndexSize": 0
          },
          {
            "name": "qcebdfqo",
            "documentCount": 10,
            "storageSize": 81393,
            "vectorIndexSize": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "480590112",
    "SearchIndexName": "lpgoqfko",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "shrejasearchtme"
  }
}
