{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.search.windows.net/indexes?$select=name&api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://camaiaor.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "dnsyydhi"
          },
          {
            "name": "dwncpcek"
          },
          {
            "name": "dxtktmci"
          },
          {
            "name": "finwsciu"
          },
          {
            "name": "hfyegojd"
          },
          {
            "name": "kgiqwbwb"
          },
          {
            "name": "marsaxbi"
          },
          {
            "name": "rjdgqden"
          },
          {
            "name": "tlumuvpv"
          },
          {
            "name": "wcvecpah"
          },
          {
            "name": "wshbrusy"
          },
          {
            "name": "xbvddfma"
          },
          {
            "name": "xhnixiro"
          },
          {
            "name": "yvwaexcv"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1691948778",
    "SearchIndexName": "xbvddfma",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "camaiaor"
  }
}
