{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes?$select=name&api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "46",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "axmfiicp"
          },
          {
            "name": "ehrwllyp"
          },
          {
            "name": "eogmqpyp"
          },
          {
            "name": "jigtupur"
          },
          {
            "name": "lqlqtsov"
          },
          {
            "name": "mxvourcr"
          },
          {
            "name": "pogyssjo"
          },
          {
            "name": "qkgquccd"
          },
          {
            "name": "ruhnhvje"
          },
          {
            "name": "tpdkeulk"
          },
          {
            "name": "umxtkbrk"
          },
          {
            "name": "uqgiwbuf"
          },
          {
            "name": "ytbmoefy"
          },
          {
            "name": "ytrphtgu"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1184973963",
    "SearchIndexName": "qkgquccd",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch"
  }
}
