{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes?$select=name&api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "egmnfqwh"
          },
          {
            "name": "ksokhmeb"
          },
          {
            "name": "nqqmxyvj"
          },
          {
            "name": "nwxfgceg"
          },
          {
            "name": "tbsopmrs"
          },
          {
            "name": "uxjxrerh"
          },
          {
            "name": "xwnjtkjo"
          },
          {
            "name": "yfheaydw"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1049690197",
    "SearchIndexName": "yfheaydw",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
