{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes?$select=name\u0026api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "dvtbyftd"
          },
          {
            "name": "fcmunfcs"
          },
          {
            "name": "gqbblosc"
          },
          {
            "name": "index-1000-chunksperdoc"
          },
          {
            "name": "index-800-chunksperdoc"
          },
          {
            "name": "jadlfjqm"
          },
          {
            "name": "lfxnsuxa"
          },
          {
            "name": "lubncktu"
          },
          {
            "name": "mapqduab"
          }[...]
