{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes?$select=name\u0026api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "22",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "gujeoppy"
          },
          {
            "name": "hluvcufh"
          },
          {
            "name": "ohaywxdg"
          },
          {
            "name": "pkejorgr"
          },
          {
            "name": "qmtmoxng"
          },
          {
            "name": "snowbwro"
          },
          {
            "name": "tyhqthuo"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "436011332",
    "SearchIndexName": "qmtmoxng",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
