{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes?$select=name&api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexes(name)",
        "value": [
          {
            "name": "fxxpydex"
          },
          {
            "name": "hcxoxuua"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "449089374",
    "SearchIndexName": "fxxpydex",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
