{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.search.windows.net/indexstats?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "13",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://camaiaor.search.windows.net/$metadata#Collection(Microsoft.Azure.Search.V2025_03_01_Preview.IndexStatisticsSummary)",
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1770587251",
    "SearchIndexName": null,
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": null,
    "SEARCH_SERVICE_NAME": "camaiaor"
  }
}
