{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/servicestats?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "28",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-t0eeade0124fbb432.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_09_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 65,
            "quota": null
          },
          "indexesCount": {
            "usage": 6,
            "quota": 15
          },
          "indexersCount": {
            "usage": 0,
            "quota": 15
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 15
          },
          "storageSize": {
            "usage": 746886,
            "quota": 16106127360
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 15
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 30
          },
          "vectorIndexSize": {
            "usage": 125280,
            "quota": 5368709120
          }
        },
        "limits": {
          "maxStoragePerIndex": 16106127360,
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "823222146",
    "SearchIndexName": "uxjxrerh",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
