{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/servicestats?api-version=2023-10-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "10",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_10_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 4429,
            "quota": null
          },
          "indexesCount": {
            "usage": 5,
            "quota": 50
          },
          "indexersCount": {
            "usage": 0,
            "quota": 50
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 50
          },
          "storageSize": {
            "usage": 151121876,
            "quota": 26843545600
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 5
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 50
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 100
          },
          "vectorIndexSize": {
            "usage": 27437172,
            "quota": 3221225472
          }
        },
        "limits": {
          "maxFieldsPerIndex": 3000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1317337904",
    "SearchIndexName": "jjpvqisa",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
