{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/servicestats?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#Microsoft.Azure.Search.V2023_11_01.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 40,
            "quota": null
          },
          "indexesCount": {
            "usage": 7,
            "quota": 15
          },
          "indexersCount": {
            "usage": 0,
            "quota": 15
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 15
          },
          "storageSize": {
            "usage": 456889,
            "quota": 2147483648
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 15
          },
          "vectorIndexSize": {
            "usage": 62640,
            "quota": 1073741824
          }
        },
        "limits": {
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "280940124",
    "SearchIndexName": "qmtmoxng",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
