{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/servicestats?api-version=2024-03-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "18",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#Microsoft.Azure.Search.V2024_03_01_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 4609,
            "quota": null
          },
          "indexesCount": {
            "usage": 26,
            "quota": 50
          },
          "indexersCount": {
            "usage": 9,
            "quota": 50
          },
          "dataSourcesCount": {
            "usage": 34,
            "quota": 50
          },
          "storageSize": {
            "usage": 157099600,
            "quota": 26843545600
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 5
          },
          "skillsetCount": {
            "usage": 22,
            "quota": 50
          },
          "aliasesCount": {
            "usage": 0,
            "quota": 100
          },
          "vectorIndexSize": {
            "usage": 28752612,
            "quota": 3221225472
          }
        },
        "limits": {
          "maxFieldsPerIndex": 3000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "69445805",
    "SearchIndexName": "xmmtcybw",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
