{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "kyxsniyf",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "title",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": false,
            "facetable": false
          }
        ],
        "scoringProfiles": [
          {
            "name": "hspjcoji",
            "text": {
              "weights": {
                "title": 2
              }
            }
          }
        ],
        "defaultScoringProfile": "hspjcoji"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "375",
        "ETag": "\"0x8DC69315FEC1D44\"",
        "Location": "https://azs-net-shrejasearchservice.search.windows.net/indexes('kyxsniyf')?api-version=2024-05-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchservice.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DC69315FEC1D44\"",
        "name": "kyxsniyf",
        "defaultScoringProfile": "hspjcoji",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "title",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [
          {
            "name": "hspjcoji",
            "functionAggregation": null,
            "text": {
              "weights": {
                "title": 2.0
              }
            },
            "functions": []
          }
        ],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes('kyxsniyf')?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "105",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2123623120",
    "SearchIndexName": "kyxsniyf",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
