{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "aepjkrhu",
        "scoringProfiles": [
          {
            "name": "nearest",
            "functions": [
              {
                "fieldName": "location",
                "boost": 2,
                "type": "distance",
                "distance": {
                  "referencePointParameter": "myloc",
                  "boostingDistance": 100
                }
              },
              {
                "fieldName": "geoLocation",
                "boost": 2,
                "type": "distance",
                "distance": {
                  "referencePointParameter": "mygeoloc",
                  "boostingDistance": 100
                }
              }
            ],
            "functionAggregation": "sum"
          }
        ],
        "suggesters": [
          {
            "name": "sg",
            "searchMode": "analyzingInfixMatching",
            "sourceFields": [
              "description",
              "hotelName"
            ]
          }
        ],
        "semantic": {
          "defaultConfiguration": "my-semantic-config",
          "configurations": [
            {
              "name": "my-semantic-config",
              "prioritizedFields": {
                "titleField": {
                  "fieldName": "hotelName"
                },
                "prioritizedContentFields": [
                  {
                    "fieldName": "description"
                  }
                ],
                "prioritizedKeywordsFields": [
                  {
                    "fieldName": "category"
                  }
                ]
              }
            }
          ]
        },
        "vectorSearch": {
          "profiles": [
            {
              "name": "my-vector-profile",
              "algorithm": "my-hsnw-vector-config"
            }
          ],
          "algorithms": [
            {
              "name": "my-hsnw-vector-config",
              "kind": "hnsw"
            }
          ]
        },
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "descriptionVector",
            "type": "Collection(Edm.Single)",
            "retrievable": true,
            "searchable": true,
            "dimensions": 1536,
            "vectorSearchProfile": "my-vector-profile"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },
          {
            "name": "tags",
            "type": "Collection(Edm.String)",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "fi[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('aepjkrhu')?api-version=2026-04-01&allowIndexDowntime=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"0x8DE86BC43828C9A\"",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "aepjkrhu",
        "scoringProfiles": [
          {
            "name": "nearest",
            "functions": [
              {
                "fieldName": "location",
                "boost": 2,
                "interpolation": "linear",
                "type": "distance",
                "distance": {
                  "referencePointParameter": "myloc",
                  "boostingDistance": 100
                }
              },
              {
                "fieldName": "geoLocation",
                "boost": 2,
                "interpolation": "linear",
                "type": "distance",
                "distance": {
                  "referencePointParameter": "mygeoloc",
                  "boostingDistance": 100
                }
              }
            ],
            "functionAggregation": "sum"
          }
        ],
        "suggesters": [
          {
            "name": "sg",
            "searchMode": "analyzingInfixMatching",
            "sourceFields": [
              "description",
              "hotelName"
            ]
          }
        ],
        "analyzers": [
          {
            "@odata.type": "#Microsoft.Azure.Search.PatternAnalyzer",
            "name": "asciiTags",
            "pattern": "[0-9a-z]+",
            "flags": "CASE_INSENSITIVE|MULTILINE",
            "stopwords": [
              "a",
              "and",
              "the"
            ]
          }
        ],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "normalizers": [],
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity"
        },
        "semantic": {
          "defaultConfiguration": "my-semantic-config",
          "configurations": [
            {
              "name": "my-semantic-config",
              "prioritizedFields": {
                "titleField": {
                  "fieldName": "hotelName"
                },
                "prioritizedContentFields": [
                  {
                    "fieldName": "description"
                  }
                ],
                "prioritizedKeywordsFields": [
                  {
                    "fieldName": "category"
                  }
                ]
              },
              "rankingOrder": "BoostedRerankerScore"
            }
          ]
        },
        "vectorSearch": {
          "profiles": [
            {
              "name": "my-vector-profile",
              "algorithm": "my-hsnw-vector-config"
            }
          ],
          "algorithms": [
            {
              "name": "my-hsnw-vector-config",
              "kind": "hnsw",
              "hnswParameters": {
                "m": 4,
                "efConstruction": 400,
                "efSearch": 500,
                "metric": "cosine"
              }
            }
          ],
          "vectorizers": [],
          "compressions": []
        },
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "stored": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": true,
            "synonymMaps": []
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "stored": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false,
            "synonymMaps": []
          },
          {
            "name": "description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
        [...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('aepjkrhu')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "187",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1463431349",
    "SearchIndexName": "aepjkrhu",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
