{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883035572104462?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "500",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEB94D0A189E7\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:39:16 GMT",
        "x-ms-share-included-burst-iops": "5000",
        "x-ms-share-max-burst-credits-for-iops": "16200000",
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "500",
        "x-ms-share-quota": "32",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883035572104462?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-file-share-snapshot-usage-bytes": "0",
        "x-ms-file-share-usage-bytes": "0",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share172883035572104462"
  }
}
