{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/indexes/azure-search-index-test/versions/1.2?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "type": "AzureSearch",
        "connectionName": "test-connection-name",
        "indexName": "test-index-name"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1c9e93ad-0505-44d2-9df3-acd3ca9f0313",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.195"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "test-connection-name",
        "indexName": "test-index-name",
        "name": "azure-search-index-test",
        "version": "1.2"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/indexes?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ef26aa49-a82f-4163-afb5-a331a05cd33a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.696"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "test-connection-name",
            "indexName": "test-index-name",
            "name": "azure-search-index-test",
            "version": "1.2"
          },
          {
            "type": "AzureSearch",
            "connectionName": "test-connection-name",
            "indexName": "test-index-name",
            "name": "test-azure-search-index",
            "version": "1.1"
          },
          {
            "type[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/indexes/azure-search-index-test/versions?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5a7f7915-ffcd-44aa-9c8e-2c5812505f40",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.152"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "test-connection-name",
            "indexName": "test-index-name",
            "name": "azure-search-index-test",
            "version": "1.2"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
