{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/search/fuzzy/json?api-version=1.0&query=Taipei%20101&lat=25.0338053&lon=121.5640089&topLeft=0.0%2C%200.0&btmRight=0.0%2C%200.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "summary": {
          "query": "taipei 101",
          "queryType": "NON_NEAR",
          "queryTime": 267,
          "numResults": 10,
          "offset": 0,
          "totalResults": 100,
          "fuzzyLevel": 1,
          "geoBias": {
            "lat": 25.0338053,
            "lon": 121.5640089
          },
          "queryIntent": []
        },
        "results": [
          {
            "type": "POI",
            "id": "deLn5siAsY1iek7MTGswDw",
            "score": 0.9992738962,
            "dist": 94.715835,
            "info": "search:ta:158008000011052-TW",
            "poi": {
              "name": "Taipei 101",
              "phone": "+886 2 8101 8960",
              "categorySet": [
                {
                  "id": 9382
                }
              ],
              "url": "www.taipei-101.com.tw",
              "categories": [
                "commercial building"
              ],
              "classifications": [
                {
                  "code": "COMMERCIAL_BUILDING",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "commercial building"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetNumber": "7",
              "streetName": "Xinyi Road Section 5",
              "municipalitySubdivision": "Xinyi District",
              "municipality": "Taipei City",
              "countrySubdivision": "Taipei City",
              "postalCode": "110",
              "extendedPostalCode": "11049",
              "countryCode": "TW",
              "country": "Taiwan",
              "countryCodeISO3": "TWN",
              "freeformAddress": "7, Xinyi Road Section 5, Xinyi District, Taipei City 11049",
              "localName": "Xinyi District"
            },
            "position": {
              "lat": 25.034536,
              "lon": 121.564492
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 25.03616,
                "lon": 121.5627
              },
              "btmRightPoint": {
                "lat": 25.03291,
                "lon": 121.56628
              }
            },
            "entryPoints": [
              {
                "type": "minor",
                "position": {
                  "lat": 25.03407,
                  "lon": 121.56355
                }
              },
              {
                "type": "minor",
                "position": {
                  "lat": 25.03439,
                  "lon": 121.56533
                }
              },
              {
                "type": "minor",
                "position": {
                  "lat": 25.03297,
               [...]
