{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/geocode:batch?api-version=2023-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "Sanitized"
      },
      "RequestBody": {
        "batchItems": [
          {
            "top": 5,
            "query": "15127 NE 24th Street, Redmond, WA 98052",
            "view": "auto"
          },
          {
            "top": 5,
            "query": "15127 NE 24th Street, Redmond, WA 98052",
            "view": "auto"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.138669,
                    47.630359
                  ]
                },
                "bbox": [
                  -122.14631082421619,
                  47.62649628242932,
                  -122.1310271757838,
                  47.634221717570675
                ],
                "properties": {
                  "type": "Address",
                  "confidence": "High",
                  "matchCodes": [
                    "Good"
                  ],
                  "geocodePoints": [
                    {
                      "calculationMethod": "Rooftop",
                      "usageTypes": [
                        "Display"
                      ],
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.138669,
                          47.630359
                        ]
                      }
                    },
                    {
                      "calculationMethod": "Rooftop",
                      "usageTypes": [
                        "Route"
                      ],
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.1386667,
                          47.630218
                        ]
                      }
                    }
                  ],
                  "address": {
                    "addressLine": "15127 NE 24th St",
                    "postalCode": "98052",
                    "locality": "Redmond",
                    "formattedAddress": "15127 NE 24th St, Redmond, WA 98052",
                    "countryRegion": {
                      "name": "United States",
                      "ISO": "US"
                    },
                    "adminDistricts": [
                      {
                        "shortName": "WA"
                      },
                      {
                        "shortName": "King County"
                      }
                    ]
                  }
                }
              }
            ]
          },
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.138669,
    [...]
