{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/search/alongRoute/json?api-version=1.0&query=burger&maxDetourTime=1000",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "Sanitized"
      },
      "RequestBody": {
        "route": {
          "coordinates": [
            [
              -122.143035,
              47.653536
            ],
            [
              -122.187164,
              47.617556
            ],
            [
              -122.114981,
              47.570599
            ],
            [
              -122.132756,
              47.654009
            ]
          ],
          "type": "LineString"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "summary": {
          "query": "burger",
          "queryType": "NON_NEAR",
          "queryTime": 813,
          "numResults": 8,
          "offset": 0,
          "totalResults": 8,
          "fuzzyLevel": 1,
          "geobiasCountry": "US"
        },
        "results": [
          {
            "type": "POI",
            "id": "lFnRaMeata7uGDl4hv4xmQ",
            "score": 2.75344491,
            "dist": 4936.37307,
            "query": "burger",
            "info": "search:ta:840536000028352-US",
            "poi": {
              "name": "Crossroads Grill & Burgers",
              "phone": "+1 425-531-7914",
              "categorySet": [
                {
                  "id": 7315020
                }
              ],
              "url": "crossroadsburgersbellevue.com/",
              "categories": [
                "grill",
                "restaurant"
              ],
              "classifications": [
                {
                  "code": "RESTAURANT",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "restaurant"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "grill"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetName": "156th Avenue Northeast",
              "municipality": "Bellevue",
              "neighbourhood": "Lake Hills",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "countrySubdivisionCode": "WA",
              "postalCode": "98008",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "156th Avenue Northeast, Bellevue, WA 98008",
              "localName": "Bellevue"
            },
            "position": {
              "lat": 47.61049,
              "lon": -122.13219
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 47.61139,
                "lon": -122.13352
              },
              "btmRightPoint": {
                "lat": 47.60959,
                "lon": -122.13086
              }
            },
            "entryPoints": [
              {
                "type": "main",
                "position": {
                  "lat": 47.61049,
                  "lon": -122.13226
                }
              }
            ],
            "detourTime": 171,
            "detourDistance": -5070
          },
          {
            "type": "POI",
            "id": "qvuDifsg0HrgMpQccxQFZg",
            "score": 2.732732296,
            "dist": 3599.7924,
            "query": "burger",
            "info": "search:ta:840537000050569-US",
            "poi": {
              "name": "Mugshots Burger N' Brew",
              "phone": "+1 425-746-8852",
              "categorySet": [
                {
                  "id": 7315020
                }
              ],
              "categories": [
                "grill",
                "restaurant"
              ],
              "classifications": [
                {
                  "code": "RESTAURANT",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "restaurant"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "grill"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetName": "156th Avenue Northeast",
              "municipality": "Bellevue",
              "neighbourhood": "Crossroads",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "countrySubdivisionCode": "WA",
              "postalCode": "98007",
              "extendedPostalCode": "98007-4421",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "156th Avenue Northeast, Bellevue, WA 98007",
              "localName": "Bellevue"
            },
            "position": {
              "lat": 47.623023,
              "lon": -122.132223
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 47.62392,
                "lon": -122.13356
     [...]
