{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/search/fuzzy/json?api-version=1.0&query=No.%20221%2C%20Sec.%202%2C%20Zhishan%20Rd.%2C%20Shilin%20Dist.%2C%20Taipei%20City%20111%2C%20Taiwan%20%28R.O.C.%29&lat=0.0&lon=0.0&topLeft=0.0%2C%200.0&btmRight=0.0%2C%200.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "summary": {
          "query": "no 221 sec 2 zhishan rd shilin dist taipei city 111 taiwan r o c",
          "queryType": "NON_NEAR",
          "queryTime": 943,
          "numResults": 10,
          "offset": 0,
          "totalResults": 100,
          "fuzzyLevel": 2,
          "queryIntent": []
        },
        "results": [
          {
            "type": "Point Address",
            "id": "eDieSMoIzAGQHWT5AwGH0A",
            "score": 0.00438772,
            "dist": 13151941.238136,
            "address": {
              "streetNumber": "3-2",
              "streetName": "Zhishan Road Section 2",
              "municipalitySubdivision": "Shilin District",
              "municipality": "Taipei City",
              "countrySubdivision": "Taipei City",
              "postalCode": "111",
              "extendedPostalCode": "11143",
              "countryCode": "TW",
              "country": "Taiwan",
              "countryCodeISO3": "TWN",
              "freeformAddress": "3-2, Zhishan Road Section 2, Shilin District, Taipei City 11143",
              "localName": "Shilin District"
            },
            "position": {
              "lat": 25.097642,
              "lon": 121.543338
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 25.09854,
                "lon": 121.54234
              },
              "btmRightPoint": {
                "lat": 25.09674,
                "lon": 121.54433
              }
            },
            "entryPoints": [
              {
                "type": "main",
                "position": {
                  "lat": 25.09725,
                  "lon": 121.54332
                }
              }
            ]
          },
          {
            "type": "Point Address",
            "id": "6HUtQKenMNv0HWm0B7w3OA",
            "score": 0.00438772,
            "dist": 13151958.628641,
            "address": {
              "streetNumber": "5-2",
              "streetName": "Zhishan Road Section 2",
         [...]
