{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/search/nearby/json?api-version=1.0&lat=25.0338053&lon=121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "summary": {
          "queryType": "NEARBY",
          "queryTime": 218,
          "numResults": 10,
          "offset": 0,
          "totalResults": 100,
          "fuzzyLevel": 1,
          "geoBias": {
            "lat": 25.0338053,
            "lon": 121.5640089
          }
        },
        "results": [
          {
            "type": "POI",
            "id": "FqHqxOw0pYqiH60uJh8kMg",
            "score": 99.9819717407,
            "dist": 18.021202,
            "info": "search:ta:158009001742422-TW",
            "poi": {
              "name": "Starbucks星巴克咖啡10135F門市",
              "phone": "+886 2 8101 0701",
              "brands": [
                {
                  "name": "Starbucks"
                },
                {
                  "name": "星巴克"
                },
                {
                  "name": "ㄒㄧㄥ ㄅㄚ ㄎㄜˋ"
                }
              ],
              "categorySet": [
                {
                  "id": 9376006
                }
              ],
              "categories": [
                "café/pub",
                "coffee shop"
              ],
              "classifications": [
                {
                  "code": "CAFE_PUB",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "coffee shop"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "café/pub"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetNumber": "7",
              "streetName": "信義路五段",
              "municipalitySubdivision": "信義區",
              "municipality": "台北市",
              "countrySubdivision": "台北市",
              "postalCode": "110",
              "extendedPostalCode": "11049",
              "countryCode": "TW",
              "country": "台灣",
              "countryCodeISO3": "TWN",
              "freeformAddress": "7, 信義路五段, 信義區, 台北市 11049",
              "localName": "信義區"
            },
            "position": {
              "lat": 25.033965,
              "lon": 121.564037
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 25.03521,
                "lon": 121.56266
              },
              "btmRightPoint": {
                "lat": 25.03272,
                "lon": 121.56541
              }
            },
            "entryPoints": [
              {
                "type": "minor",
                "position": {
                  "lat": 25.03407,
                  "lon": 121.56355
                }
              },
              {
                "type": "minor",
                "position": {
                  "lat": 25.03439,
                  "lon": 121.56533
                }
              },
              {
                "type": "minor",
                "position": {
                  "lat": 25.03297,
               [...]
