{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores/my_memory_store?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "31",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "MemoryStore 'my_memory_store' not found",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "6858a5799ff60e5cc4c8001597148b4d"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "chat_model": "sanitized-gpt-memory",
          "embedding_model": "text-embedding-ada-002",
          "kind": "default"
        },
        "description": "Example memory store for conversations",
        "name": "my_memory_store"
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "31",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "server_error",
          "message": "An error occurred while processing your request. You can retry your request, or contact us if the error persists. Please include the request ID fd37e112983f9bf97da5bf5cee23f00d in your message.",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "fd37e112983f9bf97da5bf5cee23f00d"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "chat_model": "sanitized-gpt-memory",
          "embedding_model": "text-embedding-ada-002",
          "kind": "default"
        },
        "description": "Example memory store for conversations",
        "name": "my_memory_store"
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "33",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "server_error",
          "message": "An error occurred while processing your request. You can retry your request, or contact us if the error persists. Please include the request ID b1cd52e2c7797a894467d3382dacb567 in your message.",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "b1cd52e2c7797a894467d3382dacb567"
          }
        }
      }
    }
  ],
  "Variables": {}
}
