{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores/my_memory_store?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "81",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "MemoryStore 'my_memory_store' not found",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "2f04f1a8083593c7ce5353daa27019fd"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "chat_model": "sanitized-gpt-memory",
          "embedding_model": "text-embedding-ada-002",
          "options": {
            "user_profile_enabled": true,
            "chat_summary_enabled": true
          },
          "kind": "default"
        },
        "description": "Example memory store for conversations",
        "name": "my_memory_store"
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "69",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "server_error",
          "message": "An error occurred while processing your request. You can retry your request, or contact us if the error persists. Please include the request ID 535c66de2626366b5937a9847fd71e4b in your message.",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "535c66de2626366b5937a9847fd71e4b"
          }
        }
      }
    },
[...]
