{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores/my_memory_store?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "MemoryStore 'my_memory_store' not found",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "b95bd45c2b95071738c7fee3705b63fa"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "chat_model": "sanitized-gpt-memory",
          "embedding_model": "text-embedding-ada-002",
          "kind": "default"
        },
        "description": "Example memory store for conversations",
        "name": "my_memory_store"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "memory_store",
        "id": "memstore_a5ee07e712f6008d00oRlMauv0AoIDHsOSaFMrN4lxIu4uTDZD",
        "created_at": 1773331538,
        "updated_at": 1773331538,
        "name": "my_memory_store",
        "description": "Example memory store for conversations",
        "metadata": {},
        "definition": {
          "kind": "default",
          "chat_model": "sanitized-gpt-memory",
          "embedding_model": "text-embedding-ada-002",
          "options": {
            "user_profile_enabled": true,
            "chat_summary_enabled": true
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores?limit=10&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "memory_store",
            "id": "memstore_a5ee07e712f6008d00oRlMauv0AoIDHsOSaFMrN4lxIu4uTDZD",
            "created_at": 1773331538,
            "updated_at": 1773331538,
            "name": "my_memory_store",
            "description": "Updated description",
            "metadata": {},
            "definition": {
              "kind": "default",
              "chat_model": "sanitized-gpt-memory",
              "embedding_model": "text-embedding-ada-002",
              "options": {
                "user_profile_enabled": true,
                "chat_summary_enabled": true
              }
            }
          }
        ],
        "first_id": "memstore_a5ee07e712f6008d00oRlMauv0AoIDHsOSaFMrN4lxIu4uTDZD",
        "last_id": "memstore_a5ee07e712f6008d00oRlMauv0AoIDHsOSaFMrN4lxIu4uTDZD",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores?limit=10&after=memstore_a5ee07e712f6008d00oRlMauv0AoIDHsOSaFMrN4lxIu4uTDZD&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "first_id": "",
        "last_id": "",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/memory_stores/my_memory_store?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Foundry-Features": "MemoryStores=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "memory_store.deleted",
        "name": "my_memory_store",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
