{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/agents/MyAgent/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Foundry-Features": "HostedAgents=V1Preview,WorkflowAgents=V1Preview,AgentEndpoints=V1Preview,CodeAgents=V1Preview,ExternalAgents=V1Preview,AgentsOptimization=V2Preview"
      },
      "RequestBody": {
        "definition": {
          "model": "sanitized-model-deployment-name",
          "instructions": "You are a helpful agent that can use MCP tools to assist users. Use the available MCP tools to answer questions and perform tasks.",
          "tools": [
            {
              "server_label": "{{mcp_server_label}}",
              "server_url": "{{ServerUrl}}",
              "headers": {
                "X-Demo-Header": "{{mcp_header_value}}"
              },
              "require_approval": "always",
              "type": "mcp"
            }
          ],
          "structured_inputs": {
            "mcp_server_label": {
              "description": "Label for the MCP server.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            "mcp_header_value": {
              "description": "Value for X-Demo-Header passed to the MCP server.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            "ServerUrl": {
              "description": "URL for the MCP server.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          },
          "kind": "prompt"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "invalid_payload",
          "message": "The supplied value is invalid.",
          "param": "",
          "type": "invalid_request_error",
          "details": [],
          "additionalInfo": {
            "request_id": "f555a6594fe66c14dc91f84bd3a13286"
          }
        }
      }
    }
  ],
  "Variables": {}
}
