{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21428364-60b1-b8a8-5f30-624cc1055c78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:50 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3CBA9F79038\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21428364-60b1-b8a8-5f30-624cc1055c78/foo/cf037adf-ddda-b1f9-2042-e3d993ec62f0/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:50 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "aw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jOSxayK1iJSqhsQh6HWd8w==",
        "ETag": "\"0x8DCE3CBAA0B6CB5\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:45 GMT",
        "x-ms-content-crc64": "uxC0vGGJ7tQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21428364-60b1-b8a8-5f30-624cc1055c78/foo/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:50 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Xw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sUp7gFnZwFWVTJJnTOYAMg==",
        "ETag": "\"0x8DCE3CBAA0C5605\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:45 GMT",
        "x-ms-content-crc64": "txY3vV5trZQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21428364-60b1-b8a8-5f30-624cc1055c78?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:50 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-21428364-60b1-b8a8-5f30-624cc1055c78\"><Blobs><Blob><Name>foo/3414912d-650f-2c0b-6801-81585437d76d/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 16:51:45 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 16:51:45 GMT</Last-Modified><Etag>0x8DCE3CBAA09E7CB</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>valbBPKWh2SiggDkaMd6Fw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>foo/blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 16:51:45 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 16:51:45 GMT</Last-Modified><Etag>0x8DCE3CBAA0C5605</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>sUp7gFnZwFWVTJJnTOYAMg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessT[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21428364-60b1-b8a8-5f30-624cc1055c78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:50 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1557216520",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
