{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3CBAC3843D8\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35/sourceFolder%5Cblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "7g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/BJidGQkQCJ46I9sHwL1gQ==",
        "ETag": "\"0x8DCE3CBAC41F074\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-content-crc64": "+OaLuPMPjvg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35/sourceFolder%5Cbar%5Cblob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "ug==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "a8GvJYR17BJtG+Zua+6HOg==",
        "ETag": "\"0x8DCE3CBAC538FE5\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-content-crc64": "mRIa0gbPVp4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35/sourceFolder%5Cpik%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Gw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9hbIPy8PGIJlxwBNgdRXIw==",
        "ETag": "\"0x8DCE3CBAC5CAD6A\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-content-crc64": "V40YX5BSlYo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35?restype=container&comp=list&prefix=&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35\"><Blobs><Blob><Name>sourceFolder/bar/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 16:51:48 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 16:51:48 GMT</Last-Modified><Etag>0x8DCE3CBAC538FE5</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>a8GvJYR17BJtG+Zua+6HOg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>sourceFolder/blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 16:51:48 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 16:51:48 GMT</Last-Modified><Etag>0x8DCE3CBAC41F074</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>/BJidGQkQCJ46I9sHwL1gQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35/sourceFolder/pik/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3CBAC5CAD6A",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3CBAC5CAD6A\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-blob-content-md5": "9hbIPy8PGIJlxwBNgdRXIw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "Gw=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35/sourceFolder/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3CBAC4AC02C",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3CBAC4AC02C\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-blob-content-md5": "1SfKB01BLZ0P/IRIcsRgPA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "ow=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35/sourceFolder/bar/blob2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3CBAC538FE5",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3CBAC538FE5\"",
        "Last-Modified": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-blob-content-md5": "a8GvJYR17BJtG+Zua+6HOg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 16:51:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "ug=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3619cc5e-30fb-0c73-d9d8-3c0219e83d35?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 16:51:54 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1042860249",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
