{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80ba9a7b-8116-3854-331a-9f37dfcdcbe8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1FDB3773A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80ba9a7b-8116-3854-331a-9f37dfcdcbe8/test-blob-f0c6016f-a486-61a4-e78e-4997957b3a99",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1FDC393F2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:35.3398770Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80ba9a7b-8116-3854-331a-9f37dfcdcbe8/test-blob-f0c6016f-a486-61a4-e78e-4997957b3a99?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "kbF09ulpS9yx\u002Bm\u002Bnladb8iQ3afzUl2gdRIJ6DlLLUwZj6nkez2TKBbbqP4w1/ctAM1ZyXRI9xPpJV7Fn7zyJ5aZpQ6ouPSPAbGNG6ljb50e2Odv8WPXzJSZ/1XeyYxZ5YFnlzLkhEvYysvGv99qhbW9qsbVhjIywdR6ErmerDglNzIn\u002B9huNlCflyaYEQy1L3WcIR7FgF9PMNVaanGOOhqPnYitRondU3ByNfMPlqzHwONAAo8ZX7LS1MsHE8/jEVkIDHeEC\u002Bjrws2qV0psQ5okkqmSSjuPdkHZ2m3C1kOkkySWA4o5Q7j2WD\u002B9bwhkZpEs4n0mTMchfJoxri17JOiOBcQl1kAP61Lsm/H/zgc5cXfclffGgkJddILwC5WLfzNTM2l[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80ba9a7b-8116-3854-331a-9f37dfcdcbe8/test-blob-f0c6016f-a486-61a4-e78e-4997957b3a99?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A34Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1FDD32217\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:35.3398770Z"
      },
      "ResponseBody": "kbF09ulpS9yx\u002Bm\u002Bnladb8iQ3afzUl2gdRIJ6DlLLUwZj6nkez2TKBbbqP4w1/ctAM1ZyXRI9xPpJV7Fn7zyJ5aZpQ6ouPSPAbGNG6ljb50e2Odv8WPXzJSZ/1XeyYxZ5YFnlzLkhEvYysvGv99qhbW9qsbVhjIywdR6ErmerDglNzIn\u002B9huNlCflyaYEQy1L3WcIR7FgF9PMNVaanGOOhqPnYitRondU3ByNfMPlqzHwONAAo8ZX7LS1MsHE8/jEVkIDHeEC\u002Bjrws2qV0psQ5okkqmSSjuPdkHZ2m3C1kOkkySWA4o5Q7j2WD\u002B9bwhkZpEs4n0mTMchfJoxri17JOiOBcQl1kAP61Lsm/H/zgc5cXfclffGgkJddILwC5WLfzNTM2lEQoxNHPcqNbTVJbKS\u002BDi5npL0y4OBxF3BH\u002BO9YRy\u002BqJqd9TLrj3T8mEyJiFLQXQ9Y0eCcXmvlwnoujAEXbNCYFnkX9QcJ0g8d9DM29DwO7L7QZJM4Ik4ytDK0uP935St78XHVuGgITwPRgmo4rso\u002BI59CRwhBX/Qu5UDQURUTqg8HvwbKNTRWyBWPap/j\u002BgVoeplcMaIjNpF9qtcnN/3qwdhbNPPDc\u002Bpq7372tfFUSu87a9p/s3Rs4IR1TI5hL5AXoKjHhMERpQau9UIjLICcJV/n78wnbw5j7lBs="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80ba9a7b-8116-3854-331a-9f37dfcdcbe8/test-blob-f0c6016f-a486-61a4-e78e-4997957b3a99?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A34Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1FDD32217\u0022",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1FDD32217\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80ba9a7b-8116-3854-331a-9f37dfcdcbe8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:02:34.0757779-07:00",
    "RandomSeed": "341329698",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
