{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c994ef86-3dd3-52f7-6f8d-31711c5cdf8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:37:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E91403C92\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c994ef86-3dd3-52f7-6f8d-31711c5cdf8d/test-blob-e5773660-0035-1cb8-5b92-e38b110c3e0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:37:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E914EB580\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:37:49.9195530Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c994ef86-3dd3-52f7-6f8d-31711c5cdf8d/test-blob-e5773660-0035-1cb8-5b92-e38b110c3e0e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:37:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NGSK3en2OVgHkKvlpTQTf030bAYithiHIvoDJtrRteVZOFetgmEkuofAVh4sLtet+6aYcgkzh31LArrv8xN+NdrGjGzdZv3s0LF+YmD5W/MjViszOEPbJbHZYX+mNMd0QSBEZaFq0JSorKFYtSQcUqbGzJ3oSvyX6me7AwV9RZvpCSE/tfVSuYaWi4yhg2+MvQ7Z32gqjPckrXs6rsyPKmYGbqsD3J2wdBMWUb9v9mb3L0b2pGYzvn0pGwh6GAq5B2AmmxXEiOBxKGtVEzo4tLcUQn+GmIYA0q8t2cGUNlwIXUpfSVpRM6ZmhHz73qtD8WdRZdaLM27ZJshmlq8f3PEPTLbv2Wpcww7YIBMJBPQE6uhaQ9CFfCnchSOS6p33R6iL7JH0VBj89KLHshNa0CHTYavGxZg[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c994ef86-3dd3-52f7-6f8d-31711c5cdf8d/test-blob-e5773660-0035-1cb8-5b92-e38b110c3e0e?sv=2024-08-04&se=2024-05-02T20%3A37%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E915CE43B\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:37:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:37:49.9195530Z"
      },
      "ResponseBody": "NGSK3en2OVgHkKvlpTQTf030bAYithiHIvoDJtrRteVZOFetgmEkuofAVh4sLtet+6aYcgkzh31LArrv8xN+NdrGjGzdZv3s0LF+YmD5W/MjViszOEPbJbHZYX+mNMd0QSBEZaFq0JSorKFYtSQcUqbGzJ3oSvyX6me7AwV9RZvpCSE/tfVSuYaWi4yhg2+MvQ7Z32gqjPckrXs6rsyPKmYGbqsD3J2wdBMWUb9v9mb3L0b2pGYzvn0pGwh6GAq5B2AmmxXEiOBxKGtVEzo4tLcUQn+GmIYA0q8t2cGUNlwIXUpfSVpRM6ZmhHz73qtD8WdRZdaLM27ZJshmlq8f3PEPTLbv2Wpcww7YIBMJBPQ[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c994ef86-3dd3-52f7-6f8d-31711c5cdf8d/test-blob-e5773660-0035-1cb8-5b92-e38b110c3e0e?sv=2024-08-04&se=2024-05-02T20%3A37%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E915CE43B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E915CE43B\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c994ef86-3dd3-52f7-6f8d-31711c5cdf8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:37:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:37:49.8140837-07:00",
    "RandomSeed": "1247797929",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
