{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90b097a8-8bea-3cfe-b446-94c9fc0a8911?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690BB1CA73D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90b097a8-8bea-3cfe-b446-94c9fc0a8911/test-blob-61048263-aa3a-ea2a-244d-95169692c049",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690BB2B8593\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:35.3372051Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90b097a8-8bea-3cfe-b446-94c9fc0a8911/test-blob-61048263-aa3a-ea2a-244d-95169692c049?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "uBsI+WbyZnqe08S1vLgUQ9vH0YYS6I3DdMbsNIyzPnVlUV16isbiAI0qlXjbWIG88dqb5N1hMdCNRYWgBTHt6pVPUGtamrkU5ND551IV5xtEMEOxGFmXBB+N7ERAQftbPKvjiwgWYVchhv8NZ0p9eF1qXNXuPNE7t0tMza101KLUnaqmMlwSLs7sj5FZiZzUD3Tn1uUmbADZp9S9yZOqrbJdOcqf10UBVy0GAqxA4i2ud744jP69rTCqzYuHVWQ6QeLf/FDSNTgu5n64IGpTmcSmDlLVcSCzn4uZ9Qq6eQHIy8DJYeXc20KFCaZ/BI3GVjPG4EcSZc/CK1zFOT8uc2x871SpijjfyjMQT2h5NJv+0p/W9Jm6tmbwBzWJF6ECV5U6AxU4Hcz75hYUARVnSPfBxmegV3/[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90b097a8-8bea-3cfe-b446-94c9fc0a8911/test-blob-61048263-aa3a-ea2a-244d-95169692c049?sv=Sanitized&se=2024-06-08T01%3A25%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690BB37446D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:35.3372051Z"
      },
      "ResponseBody": "uBsI+WbyZnqe08S1vLgUQ9vH0YYS6I3DdMbsNIyzPnVlUV16isbiAI0qlXjbWIG88dqb5N1hMdCNRYWgBTHt6pVPUGtamrkU5ND551IV5xtEMEOxGFmXBB+N7ERAQftbPKvjiwgWYVchhv8NZ0p9eF1qXNXuPNE7t0tMza101KLUnaqmMlwSLs7sj5FZiZzUD3Tn1uUmbADZp9S9yZOqrbJdOcqf10UBVy0GAqxA4i2ud744jP69rTCqzYuHVWQ6QeLf/FDSNTgu5n64IGpTmcSmDlLVcSCzn4uZ9Qq6eQHIy8DJYeXc20KFCaZ/BI3GVjPG4EcSZc/CK1zFOT8uc2x871SpijjfyjMQT2h5NJv[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90b097a8-8bea-3cfe-b446-94c9fc0a8911/test-blob-61048263-aa3a-ea2a-244d-95169692c049?sv=Sanitized&se=2024-06-08T01%3A25%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690BB37446D\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690BB37446D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-90b097a8-8bea-3cfe-b446-94c9fc0a8911?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:33.9114490-05:00",
    "RandomSeed": "1923692963",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
