{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9526a99-7204-e7a2-364b-e258c55e116c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB22546A55F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9526a99-7204-e7a2-364b-e258c55e116c/test-blob-4cbf08de-4c9b-3e4d-e0a3-a71f8e8ee83d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB225586C18\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:41.7464856Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9526a99-7204-e7a2-364b-e258c55e116c/test-blob-4cbf08de-4c9b-3e4d-e0a3-a71f8e8ee83d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "OjU19TnR4Ei3qc5jli4dapLog0ES6Dd7oxyjrx8tCgecS\u002BRZWfIEXIV7Cc2UAAx6zsKMS1XFSVL9uVIdLjEoiZ/Gx0pJwxCf5Ce7lt5q56MPKOBdoL6y1wGSXKCg5i1UUoAtzTnBMAux7WctCrJzktGuDQVQy\u002BjhFO9Jt2dw/v35Z0RePBppTvfVq7NXhMxPH8nO8tkoA4aXTLhJeHmjQe5pNKJuFFa3Rb8NeyA1iY8j\u002BZeeogwj0WS9x\u002B9hH9V9MWrE7VAq4ApyFqwaGodmYcIpJn7hBZ7iRWM\u002BsE1mViXpj0q2cZs/\u002BBiNK4tfCbbcVmUtOPlWnCzL4qjt6y\u002B8DMCHMIo9sPAm6S1lVNkTgjysYVroOR4rk/Md6o7z[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9526a99-7204-e7a2-364b-e258c55e116c/test-blob-4cbf08de-4c9b-3e4d-e0a3-a71f8e8ee83d?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2256BA330\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:03:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:41.7464856Z"
      },
      "ResponseBody": "OjU19TnR4Ei3qc5jli4dapLog0ES6Dd7oxyjrx8tCgecS\u002BRZWfIEXIV7Cc2UAAx6zsKMS1XFSVL9uVIdLjEoiZ/Gx0pJwxCf5Ce7lt5q56MPKOBdoL6y1wGSXKCg5i1UUoAtzTnBMAux7WctCrJzktGuDQVQy\u002BjhFO9Jt2dw/v35Z0RePBppTvfVq7NXhMxPH8nO8tkoA4aXTLhJeHmjQe5pNKJuFFa3Rb8NeyA1iY8j\u002BZeeogwj0WS9x\u002B9hH9V9MWrE7VAq4ApyFqwaGodmYcIpJn7hBZ7iRWM\u002BsE1mViXpj0q2cZs/\u002BBiNK4tfCbbcVmUtOPlWnCzL4[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9526a99-7204-e7a2-364b-e258c55e116c/test-blob-4cbf08de-4c9b-3e4d-e0a3-a71f8e8ee83d?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2256BA330\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2256BA330\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9526a99-7204-e7a2-364b-e258c55e116c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:03:40.5005914-07:00",
    "RandomSeed": "1285585153",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
