{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92a91744-3f7b-6ea3-87ac-a0cb69d1c9ee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2030D799A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92a91744-3f7b-6ea3-87ac-a0cb69d1c9ee/test-blob-67f82076-5cfb-753d-ba6d-82c589205272",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2031E9232\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:44.3248178Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92a91744-3f7b-6ea3-87ac-a0cb69d1c9ee/test-blob-67f82076-5cfb-753d-ba6d-82c589205272?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "AREM\u002BxywvBcPDbncTLIdjvPKmvavmFUgfJe4EUKy4osQecN4E1ZW4yw/DEGbyBT8zIuXx5NmWWm77H\u002BF\u002BKrVXSoty9PvpXqcdLbJb4sUhLSCu0W2Gxr4qSBavCfX0OuCaq8WbfxADScR\u002B1Pcnendp2fLAjxlHkEQNSGzlOhTxaPLRwXc/Re3Qa4dpSDHGww2fBS/C86vHEttBjjbjXg\u002BvTWwEVXkAapQFMCOR3khSBkVfRjTlLnVHCq5bvbe27Q13ujqFwq3UXtqb/cNIdXSTL0exhBgail82/UqK5KzcTgMWGiQNzEPXSucaSTBx/tV5iI5wBWk1XO\u002BbTwUjCbpt/2/AchsQRSLDmjlwwEEuhP61URvebEiZ4L00sn1\u002[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92a91744-3f7b-6ea3-87ac-a0cb69d1c9ee/test-blob-67f82076-5cfb-753d-ba6d-82c589205272?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2032F58A4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:44.3248178Z"
      },
      "ResponseBody": "AREM\u002BxywvBcPDbncTLIdjvPKmvavmFUgfJe4EUKy4osQecN4E1ZW4yw/DEGbyBT8zIuXx5NmWWm77H\u002BF\u002BKrVXSoty9PvpXqcdLbJb4sUhLSCu0W2Gxr4qSBavCfX0OuCaq8WbfxADScR\u002B1Pcnendp2fLAjxlHkEQNSGzlOhTxaPLRwXc/Re3Qa4dpSDHGww2fBS/C86vHEttBjjbjXg\u002BvTWwEVXkAapQFMCOR3khSBkVfRjTlLnVHCq5bvbe27Q13ujqFwq3UXtqb/cNIdXSTL0exhBgail82/UqK5KzcTgMWGiQNzEPXSucaSTBx/tV5iI5wBWk1XO\u002Bb[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92a91744-3f7b-6ea3-87ac-a0cb69d1c9ee/test-blob-67f82076-5cfb-753d-ba6d-82c589205272?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2032F58A4\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2032F58A4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-92a91744-3f7b-6ea3-87ac-a0cb69d1c9ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:02:43.0692402-07:00",
    "RandomSeed": "1609497841",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
