{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0de36dc6-c384-07b7-eb31-a98dc4a07375?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1FCDED0A1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0de36dc6-c384-07b7-eb31-a98dc4a07375/test-blob-1fab7731-16d5-0bae-851f-d8f8b075d3ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1FCF0AAE8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:33.9576552Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0de36dc6-c384-07b7-eb31-a98dc4a07375/test-blob-1fab7731-16d5-0bae-851f-d8f8b075d3ca?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "JHI5ORk5IZtV2xZePRTHIVeAD7x07mE923u0M6HVHbwAsq\u002BJ2Pl5\u002BFYQyvr/T81xWLagMGYWVTYQ\u002B16dhe75f71aXotlPUldBhdmZCNnPoyuQ9rqNO1V6Vx4ed2b23JnFko8pfBCDBttQilPsPESqb3R70ITDkvQBHUv7MRrwSuk/k3ZK5mbaze/fPHEBjhqZs8fyuwwUwf\u002Ba6B7Ex9XAoH\u002BqrKjOH4kNoMKVJJaDP48xIX0S/c\u002BdKpF2r/4IFgXaHpwxVyGxi1R\u002B5NoJf51pF\u002BiPk6aYraJvzYHXV2/KxYq8\u002BwX6Uahtv1Xo09j1U6r0DZfVuEKfQXE5wYmf2nPktB9PjESXroZAIdRQr9mJernW40nX9[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0de36dc6-c384-07b7-eb31-a98dc4a07375/test-blob-1fab7731-16d5-0bae-851f-d8f8b075d3ca?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A32Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1FD00871E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:33.9576552Z"
      },
      "ResponseBody": "JHI5ORk5IZtV2xZePRTHIVeAD7x07mE923u0M6HVHbwAsq\u002BJ2Pl5\u002BFYQyvr/T81xWLagMGYWVTYQ\u002B16dhe75f71aXotlPUldBhdmZCNnPoyuQ9rqNO1V6Vx4ed2b23JnFko8pfBCDBttQilPsPESqb3R70ITDkvQBHUv7MRrwSuk/k3ZK5mbaze/fPHEBjhqZs8fyuwwUwf\u002Ba6B7Ex9XAoH\u002BqrKjOH4kNoMKVJJaDP48xIX0S/c\u002BdKpF2r/4IFgXaHpwxVyGxi1R\u002B5NoJf51pF\u002BiPk6aYraJvzYHXV2/KxYq8\u002BwX6Uahtv1Xo09j1U6r0DZfVuEKfQXE5wYmf2nPktB9PjESXroZAIdRQr9mJernW40nX9Q0IHbnUwJAezeUiBB/5pccmXJ7RlZZuDpGXcEbPiPbqDL8SR27Kgq42YRQvLqu5z5SysEbrBl\u002B2mc7oPVBJD0TuN/dgp15YW5nw23RCPuAl3aCyXNiwPwZfm62f4kVdrRHPQPa0GSh2WlSs\u002BisrNFruwl/vlvJsPjjxAQuw\u002BLkUky4isv4pccS4e8KDwwTbNGcSsOAlrhZfY0L9wtfchaGbWGc9CIGcxVCbd1rvqDs0FgzkngeZLyTXgw\u002B7K67sm7Zg6KqdniultatPijb7r/sHiazK\u002BCdaAmlCZUWyIZnh7pukTr\u002BQVnfhPw="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0de36dc6-c384-07b7-eb31-a98dc4a07375/test-blob-1fab7731-16d5-0bae-851f-d8f8b075d3ca?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A32Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1FD00871E\u0022",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1FD00871E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0de36dc6-c384-07b7-eb31-a98dc4a07375?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:02:32.7010051-07:00",
    "RandomSeed": "1805856060",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
