{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8d6366e-c1f0-1f15-4c19-dc29e2d340bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2043B743C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8d6366e-c1f0-1f15-4c19-dc29e2d340bf/test-blob-be182737-49af-e42b-5965-473fa992554a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2044BC33B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:46.2987067Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8d6366e-c1f0-1f15-4c19-dc29e2d340bf/test-blob-be182737-49af-e42b-5965-473fa992554a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "iBiPsrlX175YTvONgX/vw2ILVZ3ikWpznFtxzKPEqdruS5rKPzihC28tc7DPA2ZLikw660pvYvetHBZd5goblKQZnzblJIMpakoutR25pJn1JUFWir6PfuiiHCIiRCRkEd8MtWMvZWbIEIEAQa3Z9Hh8aMDJxArmiSFNQgdgByYlyaM9re42xcDajXk8jz07yCiqpdtkm03VJSxC4iJfZwhb2ncJnEaKRqIA7jaQqfrjEnnetmJKwS5WaIjB8\u002BOdeyZx4bTGMSzhH144Y6wWRHsxXs\u002BogLGlERlJsjO\u002ByFO/YnMQHshGHeBM/ZYEEV2BQCMMj5UT9Pp0y9CbfX75IlcLeAE5BSWz60HvW4Maof\u002B7x3IPsji\u002BrG14m1P3qqBhU9o/\u[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8d6366e-c1f0-1f15-4c19-dc29e2d340bf/test-blob-be182737-49af-e42b-5965-473fa992554a?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A45Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2045B7867\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:46.2987067Z"
      },
      "ResponseBody": "iBiPsrlX175YTvONgX/vw2ILVZ3ikWpznFtxzKPEqdruS5rKPzihC28tc7DPA2ZLikw660pvYvetHBZd5goblKQZnzblJIMpakoutR25pJn1JUFWir6PfuiiHCIiRCRkEd8MtWMvZWbIEIEAQa3Z9Hh8aMDJxArmiSFNQgdgByYlyaM9re42xcDajXk8jz07yCiqpdtkm03VJSxC4iJfZwhb2ncJnEaKRqIA7jaQqfrjEnnetmJKwS5WaIjB8\u002BOdeyZx4bTGMSzhH144Y6wWRHsxXs\u002BogLGlERlJsjO\u002ByFO/YnMQHshGHeBM/ZYEEV2BQCMMj5UT9Pp0y9CbfX75IlcLeAE5[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8d6366e-c1f0-1f15-4c19-dc29e2d340bf/test-blob-be182737-49af-e42b-5965-473fa992554a?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A45Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2045B7867\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2045B7867\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d8d6366e-c1f0-1f15-4c19-dc29e2d340bf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:02:45.0328645-07:00",
    "RandomSeed": "844842167",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
