{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa43e688-d108-8606-6b36-5cb63d502811?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2330990AE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa43e688-d108-8606-6b36-5cb63d502811/test-blob-060faa3e-0618-0887-e28c-aa903cf1a415",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2331CE583\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:04.8444803Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa43e688-d108-8606-6b36-5cb63d502811/test-blob-060faa3e-0618-0887-e28c-aa903cf1a415?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "T9V3SeuD2JbOIBWrABk8HZHE1jdG4W44bFzCrDGXHAsDaZqlup3kutF5N/fw3AfIT43\u002Bdxtsz25nP9yOwSxlNgMJqJZ/l2L04BtlzKl2R5BU\u002BVyjmKXwlporPnvAVvmlFAHz5zNxSLgrCpf/BwLF8PdMOcfPwZ1eGRH7VFjmNIkiwLiog2Bc47CkeI4N8Y\u002BYZk2EdBwx1VJjlc4idfRfRNYN3UZJHWyX71UWK0kOUCeCY\u002B4LYr9s8OpmRO6SOm68RDS4ABRITkjg7YTHG6oJVESmnxEGVOIWoOxb49h\u002BBbTnWuYVVlATORWlKnU7pdVAXO\u002Bp7JpctvBRoV8n7WpwYufP38HD9P70kmb8YCpt2/sXG4fp1RkZiqP2w7Xw7EyqN[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa43e688-d108-8606-6b36-5cb63d502811/test-blob-060faa3e-0618-0887-e28c-aa903cf1a415?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A03Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2332D5DE4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:04.8444803Z"
      },
      "ResponseBody": "T9V3SeuD2JbOIBWrABk8HZHE1jdG4W44bFzCrDGXHAsDaZqlup3kutF5N/fw3AfIT43\u002Bdxtsz25nP9yOwSxlNgMJqJZ/l2L04BtlzKl2R5BU\u002BVyjmKXwlporPnvAVvmlFAHz5zNxSLgrCpf/BwLF8PdMOcfPwZ1eGRH7VFjmNIkiwLiog2Bc47CkeI4N8Y\u002BYZk2EdBwx1VJjlc4idfRfRNYN3UZJHWyX71UWK0kOUCeCY\u002B4LYr9s8OpmRO6SOm68RDS4ABRITkjg7YTHG6oJVESmnxEGVOIWoOxb49h\u002BBbTnWuYVVlATORWlKnU7pdVAXO\u002Bp7JpctvBRo[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa43e688-d108-8606-6b36-5cb63d502811/test-blob-060faa3e-0618-0887-e28c-aa903cf1a415?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A03Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2332D5DE4\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2332D5DE4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fa43e688-d108-8606-6b36-5cb63d502811?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:03.5730323-07:00",
    "RandomSeed": "1100529442",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
