{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48f76fc7-e334-f140-5a09-66a60f6aa436?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB230178D97\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48f76fc7-e334-f140-5a09-66a60f6aa436/test-blob-ea4a71b3-398f-a6c0-c31a-076d4d18ee5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB230276B43\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:59.8802755Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48f76fc7-e334-f140-5a09-66a60f6aa436/test-blob-ea4a71b3-398f-a6c0-c31a-076d4d18ee5a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "\u002BKOns/S0u9GFSoQEAn3TX\u002BxxdZG1JjPFm84sX5Y2K6O4wzZmOSgw/rZ4ZUW0vKRGR6eB3KJcpNFv4RcmiFs7Tx/hSz5GbSXDQHfaPcHuEd8p5hjutU4AWx5l9lgQCnZbPRUm0nBl/9mBvZsrgmcPgNA4/KFCTJnQ4e8g4XbNszYBfwCryD5uxOY\u002Bbfiy1Nm3VXaH1w3UGPB8VvGBRR5jswllKgJnZLiSyji6A9\u002BhHQwWaIsARtsoLGYPL3JM7X7I27nvTarXUPG99Q3VGRUQ2zjkatySYm0tPf2cVzRGRdy58igmsc9iPhiaQlDOUxNR/lQ5aIKhNXhLwRCsOvm8dq8wGybs6ilpgSzE\u002BCAcX\u002BrqS1jgDd1aF72w2vC/tgQf3[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48f76fc7-e334-f140-5a09-66a60f6aa436/test-blob-ea4a71b3-398f-a6c0-c31a-076d4d18ee5a?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23036362F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:03:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:59.8802755Z"
      },
      "ResponseBody": "\u002BKOns/S0u9GFSoQEAn3TX\u002BxxdZG1JjPFm84sX5Y2K6O4wzZmOSgw/rZ4ZUW0vKRGR6eB3KJcpNFv4RcmiFs7Tx/hSz5GbSXDQHfaPcHuEd8p5hjutU4AWx5l9lgQCnZbPRUm0nBl/9mBvZsrgmcPgNA4/KFCTJnQ4e8g4XbNszYBfwCryD5uxOY\u002Bbfiy1Nm3VXaH1w3UGPB8VvGBRR5jswllKgJnZLiSyji6A9\u002BhHQwWaIsARtsoLGYPL3JM7X7I27nvTarXUPG99Q3VGRUQ2zjkatySYm0tPf2cVzRGRdy58igmsc9iPhiaQlDOUxNR/lQ5aIKhNXhLwRCsOvm8dq8[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48f76fc7-e334-f140-5a09-66a60f6aa436/test-blob-ea4a71b3-398f-a6c0-c31a-076d4d18ee5a?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB23036362F\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB23036362F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-48f76fc7-e334-f140-5a09-66a60f6aa436?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:03:58.6082249-07:00",
    "RandomSeed": "1115620973",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
