{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02083561-dd56-1b3a-3e39-322fd87bb621?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C37F96C9\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02083561-dd56-1b3a-3e39-322fd87bb621/test-blob-fa07f004-3aa1-fb28-ef4a-83dfe15c1b25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C38FB3DD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:49.4155229Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02083561-dd56-1b3a-3e39-322fd87bb621/test-blob-fa07f004-3aa1-fb28-ef4a-83dfe15c1b25?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IFlvu7w143UGqzlGBoL8V+p32Q4QHjeF9MOR85zNuaD/OaNnuNHHzgyS9PUB4fRtTiv0aYINFQIh6cf4pPDYOPKZR8zelJ8YsAsBfilBhBLPI6Rx2E8d8SSgRc8KzikbubsDaJonjrmL3Ll2DJfZ32S1KYFMZ1+je1aoPU/QDuHi5cRuPhx4p5Xr5fyWpuWNx2VqVaWoz1JbYOxDf1Bqu87YlCbSa6FIPIHrYIFjDdRwGnbpZrk7OhVxEt4vNChEgSotvRK+ulzEIRgjvG/R+FIX02XagFUVnFoQYVjDGAhZp95WNU/CsV8ZJUSgGH2mnxmLGGHDagDVGCG4rlkDAAkPyhWQesIDVCEFwFsQdITcasE/NwCmljzegR0tCgMGFSQ7kE5oFiVXh8NAvamlxKOd20OXxMk[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02083561-dd56-1b3a-3e39-322fd87bb621/test-blob-fa07f004-3aa1-fb28-ef4a-83dfe15c1b25?sv=Sanitized&se=2024-06-08T01%3A25%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690C399EC30\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:49.4155229Z"
      },
      "ResponseBody": "IFlvu7w143UGqzlGBoL8V+p32Q4QHjeF9MOR85zNuaD/OaNnuNHHzgyS9PUB4fRtTiv0aYINFQIh6cf4pPDYOPKZR8zelJ8YsAsBfilBhBLPI6Rx2E8d8SSgRc8KzikbubsDaJonjrmL3Ll2DJfZ32S1KYFMZ1+je1aoPU/QDuHi5cRuPhx4p5Xr5fyWpuWNx2VqVaWoz1JbYOxDf1Bqu87YlCbSa6FIPIHrYIFjDdRwGnbpZrk7OhVxEt4vNChEgSotvRK+ulzEIRgjvG/R+FIX02XagFUVnFoQYVjDGAhZp95WNU/CsV8ZJUSgGH2mnxmLGGHDagDVGCG4rlkDAAkPyhWQesIDVCEFwFsQdIT[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02083561-dd56-1b3a-3e39-322fd87bb621/test-blob-fa07f004-3aa1-fb28-ef4a-83dfe15c1b25?sv=Sanitized&se=2024-06-08T01%3A25%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690C399EC30\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690C399EC30\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02083561-dd56-1b3a-3e39-322fd87bb621?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:47.9800783-05:00",
    "RandomSeed": "1552758986",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
