{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61dfb0e1-cd46-bdfc-e5e0-7c0186138943?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB217D51F58\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61dfb0e1-cd46-bdfc-e5e0-7c0186138943/test-blob-122dc276-6522-ca73-1fae-26187909deb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB217E93258\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:19.2071768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61dfb0e1-cd46-bdfc-e5e0-7c0186138943/test-blob-122dc276-6522-ca73-1fae-26187909deb1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "l/noB2e5LkM7P3ykDjyHy3HafB0GNmCyC\u002BGwZlcyOzYvVryvhbQRvJPq1uLpzrvjJlumn4zAqmGYNfuGCMfsCARGdbiA2Ea9yL\u002BJHF9\u002ByTwlzT/8i5yqb6xaF0\u002B5i7TM/c3eolkDYk4V6dbMNo0BGWu/YDuI73xonAULJcD2Az0LvR6RoCfjIWrx56LF3TkeWP3j\u002BSp4RA5RdgZT9zyNHuWYwHhucHlE3D/Rlgjaor7M7czDEgoTk3kQQCkgjyotY8i8LRzAr\u002BiDnh3qp60FdtNHhgpvygvbhCz\u002BXi9PJEwUozM/HXWhDD3kP3TsKOzMC8lV2AgfvZm94KjwwVG4M3rQ1gN5xVhepnrNi4qX71tAMlJl\u002BktE9Oa[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61dfb0e1-cd46-bdfc-e5e0-7c0186138943/test-blob-122dc276-6522-ca73-1fae-26187909deb1?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A17Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB217FC6972\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:19.2071768Z"
      },
      "ResponseBody": "l/noB2e5LkM7P3ykDjyHy3HafB0GNmCyC\u002BGwZlcyOzYvVryvhbQRvJPq1uLpzrvjJlumn4zAqmGYNfuGCMfsCARGdbiA2Ea9yL\u002BJHF9\u002ByTwlzT/8i5yqb6xaF0\u002B5i7TM/c3eog=="
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61dfb0e1-cd46-bdfc-e5e0-7c0186138943/test-blob-122dc276-6522-ca73-1fae-26187909deb1?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A17Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB217FC6972\u0022",
        "x-ms-range": "bytes=900-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 900-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB217FC6972\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:19.2071768Z"
      },
      "ResponseBody": "KxyAs9DOESU6MqZaBFl1oaOv0\u002BR0GTCHJ7Weh5oFkiioy3uh5Qq66FSTdLZfADO2Dm4q0a5gmBLr\u002BIsaMImLNaB9sTne07uZ9OuQ4aR5JyaC53ks2sB6SDJpte1\u002Bn7jKCD8W4U/52DqzkdzD0LdtcdBlmEgPXlvfA2gHdA=="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-61dfb0e1-cd46-bdfc-e5e0-7c0186138943?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:03:17.9725029-07:00",
    "RandomSeed": "1195203068",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
