{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9d8f1152-778f-27cb-68f9-fa8e9def6b6e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB213CEDA56\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9d8f1152-778f-27cb-68f9-fa8e9def6b6e/test-blob-0bfc3368-59b9-6778-e8f1-b03e1aed08b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB213DFB0C8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:12.4339912Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9d8f1152-778f-27cb-68f9-fa8e9def6b6e/test-blob-0bfc3368-59b9-6778-e8f1-b03e1aed08b0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "9Wn8w9aiu1p7yjQJ2y/F9LBRdeu7\u002BNc4YbHgwX0HN6yQXwNv/Nw1xXehj\u002B4kbou5K7yOyXgd9fyRw2Ikwvrcc5OIeXwrVffUG690GWjoE/IlJ5XBeW4zc2kH3Th5EQN8xRxbnPUPjdXEua7JqdyTqa9w/ptlG/olVAUSJHi/Wgqs91NMjHf8Fpm//b\u002B/asqNczSICRJnFqkhNkfv/WhdBV\u002BkHLGIRh04c\u002BgBpR46Zeo7hbFDNlD4ROCpKlUvDBkxYvdfG00ZBSwWT5UpZXGL59FdtHe3Gc4PrNjQ3hvHCWfP0EMm2kmcIoCELOa7zt9vHkOE0ViheUgpUG91SSYRT0YuWpQuZQyHwZH3M\u002BzoVN35YMDXQzcOLlb6/YraJ9lZc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9d8f1152-778f-27cb-68f9-fa8e9def6b6e/test-blob-0bfc3368-59b9-6778-e8f1-b03e1aed08b0?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A11Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB213F61BBA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:03:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:12.4339912Z"
      },
      "ResponseBody": "9Wn8w9aiu1p7yjQJ2y/F9LBRdeu7\u002BNc4YbHgwX0HN6yQXwNv/Nw1xXehj\u002B4kbou5K7yOyXgd9fyRw2Ikwvrcc5OIeXwrVffUG690GWjoE/IlJ5XBeW4zc2kH3Th5EQN8xRxbnPUPjdXEua7JqdyTqa9w/ptlG/olVAUSJHi/Wgqs91NMjHf8Fpm//b\u002B/asqNczSICRJnFqkhNkfv/WhdBV\u002BkHLGIRh04c\u002BgBpR46Zeo7hbFDNlD4ROCpKlUvDBkxYvdfG00ZBSwWT5UpZXGL59FdtHe3Gc4PrNjQ3hvHCWfP0EMm2kmcIoCELOa7zt9vHkOE0ViheUgpUG91SS[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9d8f1152-778f-27cb-68f9-fa8e9def6b6e/test-blob-0bfc3368-59b9-6778-e8f1-b03e1aed08b0?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A11Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB213F61BBA\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB213F61BBA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-c[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9d8f1152-778f-27cb-68f9-fa8e9def6b6e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:03:11.2180120-07:00",
    "RandomSeed": "221319938",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
