{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8602c779-6e9b-269d-c08c-6737e16ef80f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690ADBE4D5C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8602c779-6e9b-269d-c08c-6737e16ef80f/test-blob-d9728173-fc17-8fe6-3914-9b5ff9856b22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690ADCB852B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:12.8986681Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8602c779-6e9b-269d-c08c-6737e16ef80f/test-blob-d9728173-fc17-8fe6-3914-9b5ff9856b22?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ZhDHAilYjTisvmZwR0qmH0bEMkFa7gMST6K0gV0ZHqeohdONewLL4hhX0b2cXRUXubaXmrxV23cMtLOHpAvbk5++x8J2GKRD+U8oAh1GdvGMncengYPqU6lcgcZPRD4NfD0e3ZVToKARVKFtLNhZxj3C+gdENBIb03QYGpfd9LUQG4bgJ5lbOfwnlS3ifSfRArqJjEk2yEcqAgkhOoUJNF/sXBFReZ6kZsAKHZ/lOVZNRhjdVGdr2VI/tiWQOv92HWDN9SAVgIkb5CWILKuoRciy1PNtK+D3gIK+EsN5FCzBk/8+F0Q2N8aOwW9C4q2mlnBc3WULCfGA1nSdVm7GotD5x5isaS2EfJws32pwtZ7UGHtSHDbGtYoNvkHPmOBYyB6eSRoV+SxD2GDI3yqHECDWyD7ydIa[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8602c779-6e9b-269d-c08c-6737e16ef80f/test-blob-d9728173-fc17-8fe6-3914-9b5ff9856b22?sv=Sanitized&se=2024-06-08T01%3A25%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690ADDA02D9\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:12.8986681Z"
      },
      "ResponseBody": "ZhDHAilYjTisvmZwR0qmH0bEMkFa7gMST6K0gV0ZHqeohdONewLL4hhX0b2cXRUXubaXmrxV23cMtLOHpAvbk5++x8J2GKRD+U8oAh1GdvGMncengYPqU6lcgcZPRD4NfD0e3ZVToKARVKFtLNhZxj3C+gdENBIb03QYGpfd9LUQG4bgJ5lbOfwnlS3ifSfRArqJjEk2yEcqAgkhOoUJNF/sXBFReZ6kZsAKHZ/lOVZNRhjdVGdr2VI/tiWQOv92HWDN9SAVgIkb5CWILKuoRciy1PNtK+D3gIK+EsN5FCzBk/8+F0Q2N8aOwW9C4q2mlnBc3WULCfGA1nSdVm7GotD5x5isaS2EfJws32pwtZ7[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8602c779-6e9b-269d-c08c-6737e16ef80f/test-blob-d9728173-fc17-8fe6-3914-9b5ff9856b22?sv=Sanitized&se=2024-06-08T01%3A25%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690ADDA02D9\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690ADDA02D9\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8602c779-6e9b-269d-c08c-6737e16ef80f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:11.4795176-05:00",
    "RandomSeed": "32744595",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
