{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f487fa3-16d4-ab5f-e653-5dd1b4480bd0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690B57585B2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f487fa3-16d4-ab5f-e653-5dd1b4480bd0/test-blob-3d02223c-db7a-bcdb-98b6-eb19714b8675",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690B586627C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:25.8663548Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f487fa3-16d4-ab5f-e653-5dd1b4480bd0/test-blob-3d02223c-db7a-bcdb-98b6-eb19714b8675?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:24 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "bA5sIfNdgrE8jYXslxqoSuhk1gJvqtWJt5gVmGg0iv0k2WDbjLFN36BRAOxV7yV+DaAwDXSDBsE54mpbSOlICAOIx726zL03FvdiHanoNMhyl4rHA3yIoNOeoqpH8Za2CPjpzSdnw0Hj+PZ9IOgXUa2i6LFfgQSGACfqGyoS8CRgrBWx/magC9NJ5AuGCn/qh1D8pQjlV4f0Y8wAfKgW0AfRHHTTZlNHAd3eFpz5APWn/5TaFUscelWNvJqZoI4qMhMDtO0LFyD9taMrB0Dq+2PXWX0UPLu7taEfRqq4rWBPs+OJ9UsIm+h03F+n8XMUosE3wkcRFvVYR/5L7NF2RAhD3FRcYQUXz72UoF9bFMQuCqPogeoZPZ3tMa1NvK8X/ZhXZBQft0G7H/OKfHaW/DM6HeEtjcM[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f487fa3-16d4-ab5f-e653-5dd1b4480bd0/test-blob-3d02223c-db7a-bcdb-98b6-eb19714b8675?sv=Sanitized&se=2024-06-08T01%3A25%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690B59380BE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:25.8663548Z"
      },
      "ResponseBody": "bA5sIfNdgrE8jYXslxqoSuhk1gJvqtWJt5gVmGg0iv0k2WDbjLFN36BRAOxV7yV+DaAwDXSDBsE54mpbSOlICAOIx726zL03FvdiHanoNMhyl4rHA3yIoNOeoqpH8Za2CPjpzSdnw0Hj+PZ9IOgXUa2i6LFfgQSGACfqGyoS8CRgrBWx/magC9NJ5AuGCn/qh1D8pQjlV4f0Y8wAfKgW0AfRHHTTZlNHAd3eFpz5APWn/5TaFUscelWNvJqZoI4qMhMDtO0LFyD9taMrB0Dq+2PXWX0UPLu7taEfRqq4rWBPs+OJ9UsIm+h03F+n8XMUosE3wkcRFvVYR/5L7NF2RAhD3FRcYQUXz72UoF9bFMQ[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f487fa3-16d4-ab5f-e653-5dd1b4480bd0/test-blob-3d02223c-db7a-bcdb-98b6-eb19714b8675?sv=Sanitized&se=2024-06-08T01%3A25%3A24Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8690B59380BE\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690B59380BE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f487fa3-16d4-ab5f-e653-5dd1b4480bd0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:24.4398022-05:00",
    "RandomSeed": "151097965",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
