{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a63c1c51-9b98-dfcb-8e30-5c1fc8780c79?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E9CF2C7C8\"",
        "Last-Modified": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a63c1c51-9b98-dfcb-8e30-5c1fc8780c79/test-blob-59ac4650-5a6a-a6e2-cf66-4bf435572bc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E9D01837C\"",
        "Last-Modified": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:38:09.5453052Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a63c1c51-9b98-dfcb-8e30-5c1fc8780c79/test-blob-59ac4650-5a6a-a6e2-cf66-4bf435572bc7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "JaIAWqGJYj2rmuGfgqWOEmV8G6lqn4koS73GV8a8WK+AWI/6P+bZlLFBW9fjLzOlTWtJEA80P4YY2A7kwwp270IxHioVk9N+o4f3KESyRRyKIApac0igSxgJ4WfY9NCnymyVsREIj7mYy2yHPRdCZpLxWqIAHHz5kdIRDLFspq62UF3XHJMLgZFQwajbGA4BxnvU5poupq7wmyA+94IILCS90Oy5akn/5tgRsFvTHXjDD0Y2l8ATiKmv54FzzIoOSJSDHkciSFsx1P/CHfZTHH6oeuc80ZRkqUhCCoLIjBlOAmfGUP8wocfqBMPAUWuzXMsDy1Kj0Xb/HnT/3z7ZaEjlcxqOjMt+d9gfUczRpFfdj662xcHHqzDxxjGLMcKJEZx72t5QJM8AhFN5g4CpLnocIVCPIqK[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a63c1c51-9b98-dfcb-8e30-5c1fc8780c79/test-blob-59ac4650-5a6a-a6e2-cf66-4bf435572bc7?sv=2024-08-04&se=2024-05-02T20%3A38%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E9D10004A\"",
        "Last-Modified": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:38:09.5453052Z"
      },
      "ResponseBody": "JaIAWqGJYj2rmuGfgqWOEmV8G6lqn4koS73GV8a8WK+AWI/6P+bZlLFBW9fjLzOlTWtJEA80P4YY2A7kwwp270IxHioVk9N+o4f3KESyRRyKIApac0igSxgJ4WfY9NCnymyVsREIj7mYy2yHPRdCZpLxWqIAHHz5kdIRDLFspq62UF3XHJMLgZFQwajbGA4BxnvU5poupq7wmyA+94IILCS90Oy5akn/5tgRsFvTHXjDD0Y2l8ATiKmv54FzzIoOSJSDHkciSFsx1P/CHfZTHH6oeuc80ZRkqUhCCoLIjBlOAmfGUP8wocfqBMPAUWuzXMsDy1Kj0Xb/HnT/3z7ZaEjlcxqOjMt+d9gfUczRpFf[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a63c1c51-9b98-dfcb-8e30-5c1fc8780c79?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:38:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:38:09.4425332-07:00",
    "RandomSeed": "266158398",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
