{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81ee0bfd-bf4e-172a-f70b-079f2ed856f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB21925090E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81ee0bfd-bf4e-172a-f70b-079f2ed856f7/test-blob-aaaa1c6b-034b-4fad-705d-8e009c179cf4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2193A39E7\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:21.4159335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81ee0bfd-bf4e-172a-f70b-079f2ed856f7/test-blob-aaaa1c6b-034b-4fad-705d-8e009c179cf4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "htqBSw8y2YIBTmSHqrGx7jlHcRKKcmewygkPytCmV/YUyPa4Stt/oE5opqe3wxLuU0\u002BwBwHGhxRy0YEGIw6yW/dtcuG6\u002BaRdx9HEIsvA\u002BAb3IHeA9U/1TUHiRXlaeXw/tkuwSlAwNFmrU0AvAmVIsth6DgOXMWandyWg17MrAk5VhGuAD662x\u002Bsd1KIPxkvcmpOg4Gp4qITkCdIrj1ymgFDy2n75x6Iqw0cXeV3Dl7HaxD0giiHj3NvnmwbbijePd1NRHevM4tLwdRwjYS8nIXEgUcsfhfYuDv6iEiybTjkPiAEJcXrGDeFqLxQFv3usv3qVuzlsb/FdIg7tKtCmVSfjE9gtHq/2WkPptFbhKU6D9VKxBZP/oxkQq05s2OIQxNrtIayifqH[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81ee0bfd-bf4e-172a-f70b-079f2ed856f7/test-blob-aaaa1c6b-034b-4fad-705d-8e009c179cf4?sv=2024-05-04\u0026se=2024-03-28T23%3A03%3A20Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB21950A4D9\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:03:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:03:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:03:21.4159335Z"
      },
      "ResponseBody": "htqBSw8y2YIBTmSHqrGx7jlHcRKKcmewygkPytCmV/YUyPa4Stt/oE5opqe3wxLuU0\u002BwBwHGhxRy0YEGIw6yW/dtcuG6\u002BaRdx9HEIsvA\u002BAb3IHeA9U/1TUHiRXlaeXw/tkuwSlAwNFmrU0AvAmVIsth6DgOXMWandyWg17MrAk5VhGuAD662x\u002Bsd1KIPxkvcmpOg4Gp4qITkCdIrj1ymgFDy2n75x6Iqw0cXeV3Dl7HaxD0giiHj3NvnmwbbijePd1NRHevM4tLwdRwjYS8nIXEgUcsfhfYuDv6iEiybTjkPiAEJcXrGDeFqLxQFv3usv3qVuzlsb/FdIg7tKtCmVSf[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-81ee0bfd-bf4e-172a-f70b-079f2ed856f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:03:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:03:20.2792538-07:00",
    "RandomSeed": "1026295664",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
