{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-87c0491a-c589-cb81-36f3-c680d7439220?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C4C640D1\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-87c0491a-c589-cb81-36f3-c680d7439220/test-blob-436899e5-27cd-7543-20d6-2c6d23441db6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C4D66FED\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:51.5568109Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-87c0491a-c589-cb81-36f3-c680d7439220/test-blob-436899e5-27cd-7543-20d6-2c6d23441db6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "d/hKlKCop/YyJDjhQdNEmXgakasMRc6I32gBCEBPmXMepSlVFDX/V1ru58PEGp5HI3oWL2OKeDEqwrQ4p5+144vFwpup74VDGjlQHV4Kw8XJueXGOWkQky34KlGAx6+7OQM4/1cDnjT00xQpOlrSH/7vbu2676ohtC9tscQzwlOJleRb0sNtxhux0WZU5lnTJQtSkVjCAUlZF0oole1vwBDBn6R1d006gajSCR5EzM7Vmou54TH6x5ObAbp5RTEuQRBVkka0Xa69Fw+w7/grFUp8U/phtt/ex9gR2nWSwTx2pMcO7jmIID3d+8kiSdebb+xw/PI2zIswdstuo4I4K1XSOUswHSYQ8zK9hLoWvH0AdWuJIcVKQNc73XduGXy6pM9zTxCMalLFYAi/eUjQGbpObi0Xrwm[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-87c0491a-c589-cb81-36f3-c680d7439220/test-blob-436899e5-27cd-7543-20d6-2c6d23441db6?sv=Sanitized&se=2024-06-08T01%3A25%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690C4E2F200\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:51.5568109Z"
      },
      "ResponseBody": "d/hKlKCop/YyJDjhQdNEmXgakasMRc6I32gBCEBPmXMepSlVFDX/V1ru58PEGp5HI3oWL2OKeDEqwrQ4p5+144vFwpup74VDGjlQHV4Kw8XJueXGOWkQky34KlGAx6+7OQM4/1cDnjT00xQpOlrSH/7vbu2676ohtC9tscQzwlOJleRb0sNtxhux0WZU5lnTJQtSkVjCAUlZF0oole1vwBDBn6R1d006gajSCR5EzM7Vmou54TH6x5ObAbp5RTEuQRBVkka0Xa69Fw+w7/grFUp8U/phtt/ex9gR2nWSwTx2pMcO7jmIID3d+8kiSdebb+xw/PI2zIswdstuo4I4K1XSOUswHSYQ8zK9hLoWvH0[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-87c0491a-c589-cb81-36f3-c680d7439220?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:50.1402623-05:00",
    "RandomSeed": "1417539867",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
