{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1f5a16ea-db42-298b-9955-41a4d02effd4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690B7A6E77B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1f5a16ea-db42-298b-9955-41a4d02effd4/test-blob-4a08f913-6c5b-f29c-3e3d-5e20d1411b44",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690B7B7DFBB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:29.5461307Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1f5a16ea-db42-298b-9955-41a4d02effd4/test-blob-4a08f913-6c5b-f29c-3e3d-5e20d1411b44?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rVXcSxK+EZX9FrIPB0uPqQnhQUosu7uKIOpXO10lsdEjYgt5489kDsRBPjqbWonYay45Niwi0vGZUisoZ9U312Xh7KRAFsU5fTKG632B78VhftAv7HqkAY8Z35GkPKfuCmbUuW3lmFRo/7j5nOd0F2JlxugFCOvqPOsUJjY0lUGLl+AWrTVXe+V8xuzCqmWopMcuPnW+6QF76X2C0HIdNGl3bgUGXmotDUsDiUL+KJGGbIFvBVbMzK3fmsS41KpzXpGDSjxfoUZdATEpu2C/fMDr/GTwri8Sq6JXJ8OmdTigjyqwe95VJso7EQQlohBNHx0DzdhGg7BicJ+ZCHqCt4z4iSw1DwHildaatJwr7QiRCQemoqhgWQx6Tgs+ux1PuVp4LRjkGBAcITcBrM4TN4OWCP5y3BT[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1f5a16ea-db42-298b-9955-41a4d02effd4/test-blob-4a08f913-6c5b-f29c-3e3d-5e20d1411b44?sv=Sanitized&se=2024-06-08T01%3A25%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690B7C2B440\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:29.5461307Z"
      },
      "ResponseBody": "rVXcSxK+EZX9FrIPB0uPqQnhQUosu7uKIOpXO10lsdEjYgt5489kDsRBPjqbWonYay45Niwi0vGZUisoZ9U312Xh7KRAFsU5fTKG632B78VhftAv7HqkAY8Z35GkPKfuCmbUuW3lmFRo/7j5nOd0F2JlxugFCOvqPOsUJjY0lUGLl+AWrTVXe+V8xuzCqmWopMcuPnW+6QF76X2C0HIdNGl3bgUGXmotDUsDiUL+KJGGbIFvBVbMzK3fmsS41KpzXpGDSjxfoUZdATEpu2C/fMDr/GTwri8Sq6JXJ8OmdTigjyqwe95VJso7EQQlohBNHx0DzdhGg7BicJ+ZCHqCt4z4iSw1DwHildaatJwr7Qi[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1f5a16ea-db42-298b-9955-41a4d02effd4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:28.1175353-05:00",
    "RandomSeed": "236346757",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
