{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-76e009f6-2f31-737c-024f-c075bd707da3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:38:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EACCD89E7\"",
        "Last-Modified": "Wed, 01 May 2024 20:38:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-76e009f6-2f31-737c-024f-c075bd707da3/test-blob-c301a51c-57cc-030b-7199-eac3eae7abef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:38:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EACDB6631\"",
        "Last-Modified": "Wed, 01 May 2024 20:38:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:38:36.1400636Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-76e009f6-2f31-737c-024f-c075bd707da3/test-blob-c301a51c-57cc-030b-7199-eac3eae7abef?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:38:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mMJKunROx6LrzBvnkYJPtepx6SKFWX/1KqbucGGCRrR1Q31De8WNDEe63tMEOKhNiSq1PIXI+j5DVY/OX1dAaIVncU0ECzok5Nzbynur8PL+oeY3zQourUg/ACU1vq3wenVOnMZaSH3wkFio7DDDl2Sdz75wCJt7OcQExQsU7yUv608FXVMrpFlpRz2yhcAYfGjBmO/vf3Ha0mMBVYNy26EyeQDgvToQcitkB8FdybQD7EmjUlY2QGveK4rwKU/V9mucfwvAN74tsSXDinivfAmv/mg6zohK/DmUApKvH0jcjxBWwUmoQ7WKdaExcrbzLq6AQSvmmyjiUoPSKzUrfpHd5/toWbvABrqzr1nnGImDodPjL90d9fPoc27F1Rd/XvcPU4u6itXzwDtwM+vO+zn6T4phSE6[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-76e009f6-2f31-737c-024f-c075bd707da3/test-blob-c301a51c-57cc-030b-7199-eac3eae7abef?sv=2024-08-04&se=2024-05-02T20%3A38%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1EACEAF44C\"",
        "Last-Modified": "Wed, 01 May 2024 20:38:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:38:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:38:36.1400636Z"
      },
      "ResponseBody": "mMJKunROx6LrzBvnkYJPtepx6SKFWX/1KqbucGGCRrR1Q31De8WNDEe63tMEOKhNiSq1PIXI+j5DVY/OX1dAaIVncU0ECzok5Nzbynur8PL+oeY3zQourUg/ACU1vq3wenVOnMZaSH3wkFio7DDDl2Sdz75wCJt7OcQExQsU7yUv608FXVMrpFlpRz2yhcAYfGjBmO/vf3Ha0mMBVYNy26EyeQDgvToQcitkB8FdybQD7EmjUlY2QGveK4rwKU/V9mucfwvAN74tsSXDinivfAmv/mg6zohK/DmUApKvH0jcjxBWwUmoQ7WKdaExcrbzLq6AQSvmmyjiUoPSKzUrfpHd5/toWbvABrqzr1nnGIm[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-76e009f6-2f31-737c-024f-c075bd707da3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:38:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:38:36.1120224-07:00",
    "RandomSeed": "178534932",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
