{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b91578e1-df3a-5441-9c30-ddea0dee4e51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB237CF3D6C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b91578e1-df3a-5441-9c30-ddea0dee4e51/test-blob-47b41354-b909-5478-6c29-5898e118ced7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB237E07486\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:12.8369798Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b91578e1-df3a-5441-9c30-ddea0dee4e51/test-blob-47b41354-b909-5478-6c29-5898e118ced7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "HZVtTFrtWZSRMXCEomwmZSE/1aArVXNyez/wkRTK60ZoDI3NkoiJ2Drr0lOiOlm5PlcOZLWJncgi\u002BtEa/ch/xkUpHJXfWNOYtfxmP4If0EHmN1K9u4aQ3m7Fqpe3bttybAsOeB7D2uWDdq\u002B5I15GAiqQM8V1wgu\u002BmT4nGa474UYh89N2EVgiI1xtOUXX17oQf6dtJzoV/KkAT97gnMA3SJVomC\u002BKz/HRbRBpCInG5sKDFpoGzrkLC/cpdsJ5QoecNfGwbz\u002BKhrC2m7oqrPQgOWkcXIUmMHnbXIw4YFgvWCqIzNKYFnaD\u002BZDqUDL/4V8CCT1YXOYCdgV31BOyUSVYh0OQot8hiCPymWL1POBG3HstNVca1vtDhlbNIEFj0Khqk[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b91578e1-df3a-5441-9c30-ddea0dee4e51/test-blob-47b41354-b909-5478-6c29-5898e118ced7?sv=2024-05-04\u0026se=2024-03-28T23%3A04%3A11Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB237F09ECD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:04:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:04:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:04:12.8369798Z"
      },
      "ResponseBody": "HZVtTFrtWZSRMXCEomwmZSE/1aArVXNyez/wkRTK60ZoDI3NkoiJ2Drr0lOiOlm5PlcOZLWJncgi\u002BtEa/ch/xkUpHJXfWNOYtfxmP4If0EHmN1K9u4aQ3m7Fqpe3bttybAsOeB7D2uWDdq\u002B5I15GAiqQM8V1wgu\u002BmT4nGa474UYh89N2EVgiI1xtOUXX17oQf6dtJzoV/KkAT97gnMA3SJVomC\u002BKz/HRbRBpCInG5sKDFpoGzrkLC/cpdsJ5QoecNfGwbz\u002BKhrC2m7oqrPQgOWkcXIUmMHnbXIw4YFgvWCqIzNKYFnaD\u002BZDqUDL/4V8CCT1YXOYCdgV31[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b91578e1-df3a-5441-9c30-ddea0dee4e51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:04:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:04:11.5660763-07:00",
    "RandomSeed": "2118961594",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
