{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07ea3bdf-8ce2-28bf-9f8b-80ca896167c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C4758F70\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07ea3bdf-8ce2-28bf-9f8b-80ca896167c8/test-blob-4acb3354-78f7-fd70-5778-20e78a3195d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690C4848658\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:51.0199896Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07ea3bdf-8ce2-28bf-9f8b-80ca896167c8/test-blob-4acb3354-78f7-fd70-5778-20e78a3195d3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5g1JqRLC8bZ+wwv/owdn9+7DAW/6Qa2/1fDf7Oqc/atfKDvP2ql0mXfWbmbXdFIWELbQJ0zwoqVfitQh4gXM4sZfoHvLlx1ETmf4I9NG52CdydwzzNVfboWWcE/VUrdxCoygeNTXS3iZi9jk+H/SGKNzgxkpmBbwADL2NSfNbvuwhhhHpm+Mxn1jmkD9enYFw1erYc+eSHJ1r3ei4BZRyx3dM3Jmi3I057ybxf7V84a78HHPIgwsEj2m0fb46eZnEs8iIEYEnjjldnoSAoN0n7zw5vClgakQsCE0wLp7PP3WNLIvstM/t1E46auSGhC6MjE5BwP2wpAmEm8lz95+ajp8O87QRezpsC6ebJj9fZYReY6IQTX64HIhCKBjGuhzun9xFt5C6exEUFbVV1X4KJTZE1ZP9Sg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07ea3bdf-8ce2-28bf-9f8b-80ca896167c8/test-blob-4acb3354-78f7-fd70-5778-20e78a3195d3?sv=Sanitized&se=2024-06-08T01%3A25%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690C4928EDF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:51.0199896Z"
      },
      "ResponseBody": "5g1JqRLC8bZ+wwv/owdn9+7DAW/6Qa2/1fDf7Oqc/atfKDvP2ql0mXfWbmbXdFIWELbQJ0zwoqVfitQh4gXM4sZfoHvLlx1ETmf4I9NG52CdydwzzNVfboWWcE/VUrdxCoygeNTXS3iZi9jk+H/SGKNzgxkpmBbwADL2NSfNbvuwhhhHpm+Mxn1jmkD9enYFw1erYc+eSHJ1r3ei4BZRyx3dM3Jmi3I057ybxf7V84a78HHPIgwsEj2m0fb46eZnEs8iIEYEnjjldnoSAoN0n7zw5vClgakQsCE0wLp7PP3WNLIvstM/t1E46auSGhC6MjE5BwP2wpAmEm8lz95+ajp8O87QRezpsC6ebJj9fZY[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-07ea3bdf-8ce2-28bf-9f8b-80ca896167c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:49.6142516-05:00",
    "RandomSeed": "1940780512",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
