{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3441321-476f-4f47-dca6-ea3b2a56189b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690B85938BD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3441321-476f-4f47-dca6-ea3b2a56189b/test-blob-ec8c4424-c44c-f7ab-d097-c183588f6b20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690B866FC91\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:30.6937489Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3441321-476f-4f47-dca6-ea3b2a56189b/test-blob-ec8c4424-c44c-f7ab-d097-c183588f6b20?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Z3CaOgGM2ndAAtKdhfTCektjh1hOeQBeOyTn3fgux/ETsXmLICSzPobacXy/4g6EpQ39NfHAvu5vPP7dpPx+ETvgidR6N1kmsEjSdAeEnlgWYjfrMZEAUvKLG+Qm1pqJW19A31k6CW6z14Wp7knm652lxkHFk+Cp4Dfh7xt1/9muSRmoRL//21nJN1oMV2SppTBHgQ9YxMh+lv4hWRpSPter+qUwPafepero+1uGnYnSN0rrLX7JVoVRKa3A3YI/dvmCYFy/eWeJaNslb8hs+Pl1TyHPZxBY4qQg3hP5HcdoqYVhAzwsE77jYsWjpOa85DG0S45hbw7pKn64n5pTj0oTvMZDC/S8SDtj7AVLtT29Y/riRNI5Bjl2eNm+dHQkj9J6j+cgedg99wJS/oMJnXRA+jufcUt[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3441321-476f-4f47-dca6-ea3b2a56189b/test-blob-ec8c4424-c44c-f7ab-d097-c183588f6b20?sv=Sanitized&se=2024-06-08T01%3A25%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690B87182FC\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:30.6937489Z"
      },
      "ResponseBody": "Z3CaOgGM2ndAAtKdhfTCektjh1hOeQBeOyTn3fgux/ETsXmLICSzPobacXy/4g6EpQ39NfHAvu5vPP7dpPx+ETvgidR6N1kmsEjSdAeEnlgWYjfrMZEAUvKLG+Qm1pqJW19A31k6CW6z14Wp7knm652lxkHFk+Cp4Dfh7xt1/9muSRmoRL//21nJN1oMV2SppTBHgQ9YxMh+lv4hWRpSPter+qUwPafepero+1uGnYnSN0rrLX7JVoVRKa3A3YI/dvmCYFy/eWeJaNslb8hs+Pl1TyHPZxBY4qQg3hP5HcdoqYVhAzwsE77jYsWjpOa85DG0S45hbw7pKn64n5pTj0oTvMZDC/S8SDtj7AVLtT2[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3441321-476f-4f47-dca6-ea3b2a56189b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:25:29.2529138-05:00",
    "RandomSeed": "338397477",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
