{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref935?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name347\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTg1;sn=65174585",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y",
        "key": "snapshot-ref935",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name347\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref935?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NTg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTg5;sn=65174589",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y",
        "key": "snapshot-ref935",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name347\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref935?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTky;sn=65174592",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y",
        "key": "snapshot-ref935",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name347\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref935?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NTky"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTk3;sn=65174597",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "_9PqdivTkqh_u14BC0Da_5rM0EFBAzNjxl2-ZQRnv9Y",
        "key": "snapshot-ref935",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name347\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name347",
    "snapshot-ref": "snapshot-ref935"
  }
}
