{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref381?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name863\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OraHXiXvBNYgGXDEvrQwLorfPnR75c1U9lHZjitrIoI\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTcxNg==;sn=53125716",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:47 GMT"
      },
      "ResponseBody": {
        "etag": "OraHXiXvBNYgGXDEvrQwLorfPnR75c1U9lHZjitrIoI",
        "key": "snapshot-ref381",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name863\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref381-2?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTcxNg=="
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name863\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ob2luBLiKRMah2v_kMVBcap-5Z26AGEVgjVkmRpZpcI\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTcyMA==;sn=53125720",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:48 GMT"
      },
      "ResponseBody": {
        "etag": "Ob2luBLiKRMah2v_kMVBcap-5Z26AGEVgjVkmRpZpcI",
        "key": "snapshot-ref381-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name863\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=snapshot-ref381*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTcyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Bq6aR4HonAEN-KQ9kljHk7J8tNi6DisUngVBVexb-1U\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTcyMQ==;sn=53125721",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:48 GMT"
      },
      "ResponseBody": {
        "etag": "Bq6aR4HonAEN-KQ9kljHk7J8tNi6DisUngVBVexb-1U",
        "items": [
          {
            "etag": "OraHXiXvBNYgGXDEvrQwLorfPnR75c1U9lHZjitrIoI",
            "key": "snapshot-ref381",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name863\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:31:47+00:00"
          },
          {
            "etag": "Ob2luBLiKRMah2v_kMVBcap-5Z26AGEVgjVkmRpZpcI",
            "key": "snapshot-ref381-2",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name863\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:31:48+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref381-2?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTcyNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o0fI5T9MN-NG4T7hsOpbNq8WmrgxHKUMAHJ04_J6LwQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTcyOQ==;sn=53125729",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:48 GMT"
      },
      "ResponseBody": {
        "etag": "o0fI5T9MN-NG4T7hsOpbNq8WmrgxHKUMAHJ04_J6LwQ",
        "key": "snapshot-ref381-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name863\"}",
        "description": null,
        "tags": {},
        "locked": true,
        "last_modified": "2026-06-09T23:31:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref381?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTczNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oWMxLEb0FLQsQecQsoQOtoMhMOpLwMy9g3v78SQ3mcQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTczNw==;sn=53125737",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:48 GMT"
      },
      "ResponseBody": {
        "etag": "oWMxLEb0FLQsQecQsoQOtoMhMOpLwMy9g3v78SQ3mcQ",
        "key": "snapshot-ref381",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3148\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref381?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTczNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oWMxLEb0FLQsQecQsoQOtoMhMOpLwMy9g3v78SQ3mcQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTc0MA==;sn=53125740",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:48 GMT"
      },
      "ResponseBody": {
        "etag": "oWMxLEb0FLQsQecQsoQOtoMhMOpLwMy9g3v78SQ3mcQ",
        "key": "snapshot-ref381",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3148\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:48+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name863",
    "snapshot-name-3": "snapshot-name-3148",
    "snapshot-ref": "snapshot-ref381"
  }
}
