{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref817?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref817",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name867\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IFLWalHxm-g7LxJjAbo9x4Yg_oVMVxR6BsGBVVSKRQw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI4NjI=;sn=74772862",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:51 GMT"
      },
      "ResponseBody": {
        "etag": "IFLWalHxm-g7LxJjAbo9x4Yg_oVMVxR6BsGBVVSKRQw",
        "key": "snapshot-ref817",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name867\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref817?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI4NjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IFLWalHxm-g7LxJjAbo9x4Yg_oVMVxR6BsGBVVSKRQw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI4NjM=;sn=74772863",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:51 GMT"
      },
      "ResponseBody": {
        "etag": "IFLWalHxm-g7LxJjAbo9x4Yg_oVMVxR6BsGBVVSKRQw",
        "key": "snapshot-ref817",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name867\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:51+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref817?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI4Njk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"krJlT1w_qIalHXe7CGN1xagXmXvNMEYj8r5Ya_47z_0\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI4NzM=;sn=74772873",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:52 GMT"
      },
      "ResponseBody": {
        "etag": "krJlT1w_qIalHXe7CGN1xagXmXvNMEYj8r5Ya_47z_0",
        "key": "snapshot-ref817",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-221\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref817?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI4NzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"krJlT1w_qIalHXe7CGN1xagXmXvNMEYj8r5Ya_47z_0\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI4ODE=;sn=74772881",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:52 GMT"
      },
      "ResponseBody": {
        "etag": "krJlT1w_qIalHXe7CGN1xagXmXvNMEYj8r5Ya_47z_0",
        "key": "snapshot-ref817",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-221\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:52+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name867",
    "snapshot-name-2": "snapshot-name-221",
    "snapshot-ref": "snapshot-ref817"
  }
}
