{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref363?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref363",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name258\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTQ5OTc=;sn=74854997",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:47 GMT"
      },
      "ResponseBody": {
        "etag": "IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8",
        "key": "snapshot-ref363",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name258\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref363?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTQ5OTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDA=;sn=74855000",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:47 GMT"
      },
      "ResponseBody": {
        "etag": "IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8",
        "key": "snapshot-ref363",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name258\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref363?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDY=;sn=74855006",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:47 GMT"
      },
      "ResponseBody": {
        "etag": "IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8",
        "key": "snapshot-ref363",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name258\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref363?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDg=;sn=74855008",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:47 GMT"
      },
      "ResponseBody": {
        "etag": "IxTJESA8GEpBXbF-DchTQBCLz42dl8XoiR4Leluald8",
        "key": "snapshot-ref363",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name258\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:47+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name258",
    "snapshot-ref": "snapshot-ref363"
  }
}
