{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref260?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref260",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name337\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DtMMCR8nKQfbIQGqwKt4yKIWQkRZE7hvoxfs3Yl-Zjc\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk3MA==;sn=103578970",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:00 GMT"
      },
      "ResponseBody": {
        "etag": "DtMMCR8nKQfbIQGqwKt4yKIWQkRZE7hvoxfs3Yl-Zjc",
        "key": "snapshot-ref260",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name337\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref260?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODk3MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DtMMCR8nKQfbIQGqwKt4yKIWQkRZE7hvoxfs3Yl-Zjc\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk3Mg==;sn=103578972",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:00 GMT"
      },
      "ResponseBody": {
        "etag": "DtMMCR8nKQfbIQGqwKt4yKIWQkRZE7hvoxfs3Yl-Zjc",
        "key": "snapshot-ref260",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name337\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref260?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODk3OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EFB2CU5Oa00lRQfMn4pf-gG6MxWhUWzvgNa6-rbpcGE\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk4MA==;sn=103578980",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:00 GMT"
      },
      "ResponseBody": {
        "etag": "EFB2CU5Oa00lRQfMn4pf-gG6MxWhUWzvgNa6-rbpcGE",
        "key": "snapshot-ref260",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-280\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref260?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3ODk4MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EFB2CU5Oa00lRQfMn4pf-gG6MxWhUWzvgNa6-rbpcGE\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODk4Mw==;sn=103578983",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:00 GMT"
      },
      "ResponseBody": {
        "etag": "EFB2CU5Oa00lRQfMn4pf-gG6MxWhUWzvgNa6-rbpcGE",
        "key": "snapshot-ref260",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-280\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:00+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name337",
    "snapshot-name-2": "snapshot-name-280",
    "snapshot-ref": "snapshot-ref260"
  }
}
