{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref575?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name743\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cd8eXISh-fGMAfwNAsRtNqCfu-hIAcS3z4qVSlsS4b4\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY3MQ==;sn=53125671",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:40 GMT"
      },
      "ResponseBody": {
        "etag": "cd8eXISh-fGMAfwNAsRtNqCfu-hIAcS3z4qVSlsS4b4",
        "key": "snapshot-ref575",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name743\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref575?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY3MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cd8eXISh-fGMAfwNAsRtNqCfu-hIAcS3z4qVSlsS4b4\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY3MQ==;sn=53125671",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:40 GMT"
      },
      "ResponseBody": {
        "etag": "cd8eXISh-fGMAfwNAsRtNqCfu-hIAcS3z4qVSlsS4b4",
        "key": "snapshot-ref575",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name743\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:40+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref575?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY3NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ptl7AZKzWDlTzi_klGifOqz-KTR1r7wa1IMpc5q_meo\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY3NQ==;sn=53125675",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:40 GMT"
      },
      "ResponseBody": {
        "etag": "ptl7AZKzWDlTzi_klGifOqz-KTR1r7wa1IMpc5q_meo",
        "key": "snapshot-ref575",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2663\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref575?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY3NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ptl7AZKzWDlTzi_klGifOqz-KTR1r7wa1IMpc5q_meo\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY3Nw==;sn=53125677",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:40 GMT"
      },
      "ResponseBody": {
        "etag": "ptl7AZKzWDlTzi_klGifOqz-KTR1r7wa1IMpc5q_meo",
        "key": "snapshot-ref575",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2663\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:40+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name743",
    "snapshot-name-2": "snapshot-name-2663",
    "snapshot-ref": "snapshot-ref575"
  }
}
