{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref561?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name557\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fqTS3tbY4Y1oPUzEVRmtv4IL-x03e-P8URrQQTGzUJQ\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU3OA==;sn=53365578",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "fqTS3tbY4Y1oPUzEVRmtv4IL-x03e-P8URrQQTGzUJQ",
        "key": "snapshot-ref561",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name557\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref561-2?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU3OA=="
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name557\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xeLhB9U9TMq8nxbahwY68y-vro1bzu3d9b1EHHmN_zg\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU3OQ==;sn=53365579",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "xeLhB9U9TMq8nxbahwY68y-vro1bzu3d9b1EHHmN_zg",
        "key": "snapshot-ref561-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name557\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=snapshot-ref561*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU3OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"W-A6f8w0rgIBSeSq0TB-5pQ25kQuL9QcfQxOLH0_xs4\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU3OQ==;sn=53365579",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "W-A6f8w0rgIBSeSq0TB-5pQ25kQuL9QcfQxOLH0_xs4",
        "items": [
          {
            "etag": "fqTS3tbY4Y1oPUzEVRmtv4IL-x03e-P8URrQQTGzUJQ",
            "key": "snapshot-ref561",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name557\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:27:27+00:00"
          },
          {
            "etag": "xeLhB9U9TMq8nxbahwY68y-vro1bzu3d9b1EHHmN_zg",
            "key": "snapshot-ref561-2",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name557\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:27:27+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref561-2?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU4MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HRBRRo6OQoEpUtLO9Xe5-Ahc74hjHgCfpxkZ9eF5lwY\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU4Mg==;sn=53365582",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "HRBRRo6OQoEpUtLO9Xe5-Ahc74hjHgCfpxkZ9eF5lwY",
        "key": "snapshot-ref561-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name557\"}",
        "description": null,
        "tags": {},
        "locked": true,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref561?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU4OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0IUSPcJlwB2DLOtZtJrQhw7BSsnOJ3GK_CF4af5ahd4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU4OA==;sn=53365588",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "0IUSPcJlwB2DLOtZtJrQhw7BSsnOJ3GK_CF4af5ahd4",
        "key": "snapshot-ref561",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3798\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref561?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU4OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0IUSPcJlwB2DLOtZtJrQhw7BSsnOJ3GK_CF4af5ahd4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU4OQ==;sn=53365589",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "0IUSPcJlwB2DLOtZtJrQhw7BSsnOJ3GK_CF4af5ahd4",
        "key": "snapshot-ref561",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3798\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name557",
    "snapshot-name-3": "snapshot-name-3798",
    "snapshot-ref": "snapshot-ref561"
  }
}
