{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref409?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref409",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name659\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n_C4R921BezUvCaaBNq5boZv3_VKg15sVb6SIIrc8RI\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5MjQ=;sn=74772924",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "n_C4R921BezUvCaaBNq5boZv3_VKg15sVb6SIIrc8RI",
        "key": "snapshot-ref409",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name659\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref409-2?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5MjQ="
      },
      "RequestBody": {
        "key": "snapshot-ref409-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name659\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oudTUEctqrA9djDuWhhVCEtH3uH2F8adUDtBgWyQOQc\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5MzA=;sn=74772930",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "oudTUEctqrA9djDuWhhVCEtH3uH2F8adUDtBgWyQOQc",
        "key": "snapshot-ref409-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name659\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=snapshot-ref409*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5MzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ymUa6sHU42E5w9WuMogKBIBdoYNC4g09AKRyyKlaPnM\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5MzQ=;sn=74772934",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "ymUa6sHU42E5w9WuMogKBIBdoYNC4g09AKRyyKlaPnM",
        "items": [
          {
            "etag": "n_C4R921BezUvCaaBNq5boZv3_VKg15sVb6SIIrc8RI",
            "key": "snapshot-ref409",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name659\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:17:56+00:00"
          },
          {
            "etag": "oudTUEctqrA9djDuWhhVCEtH3uH2F8adUDtBgWyQOQc",
            "key": "snapshot-ref409-2",
            "label": "label-sn",
            "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
            "value": "{\"snapshot_name\":\"snapshot-name659\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:17:56+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref409-2?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5NDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HpjwKgHS56Aa2Q2i0Q2x2r5Y3cmQzJXNCc5RmDtvqF8\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NTI=;sn=74772952",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "HpjwKgHS56Aa2Q2i0Q2x2r5Y3cmQzJXNCc5RmDtvqF8",
        "key": "snapshot-ref409-2",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name659\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref409?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5Njg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wfx01GNF4NmZ3nsm5wY_GbRa1QvtArL7O_DRqN5Qprw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NzA=;sn=74772970",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:57 GMT"
      },
      "ResponseBody": {
        "etag": "Wfx01GNF4NmZ3nsm5wY_GbRa1QvtArL7O_DRqN5Qprw",
        "key": "snapshot-ref409",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3286\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref409?api-version=2023-11-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5NzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wfx01GNF4NmZ3nsm5wY_GbRa1QvtArL7O_DRqN5Qprw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NzU=;sn=74772975",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:57 GMT"
      },
      "ResponseBody": {
        "etag": "Wfx01GNF4NmZ3nsm5wY_GbRa1QvtArL7O_DRqN5Qprw",
        "key": "snapshot-ref409",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-3286\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name659",
    "snapshot-name-3": "snapshot-name-3286",
    "snapshot-ref": "snapshot-ref409"
  }
}
