{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref609?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name399\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HcJWpvIwC_Ueh-blZx6vm_G7PcLA9pL9MmtFG6trCUU\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTM0OA==;sn=53365348",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:16 GMT"
      },
      "ResponseBody": {
        "etag": "HcJWpvIwC_Ueh-blZx6vm_G7PcLA9pL9MmtFG6trCUU",
        "key": "snapshot-ref609",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name399\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref609?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTM0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HcJWpvIwC_Ueh-blZx6vm_G7PcLA9pL9MmtFG6trCUU\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTM0OA==;sn=53365348",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:16 GMT"
      },
      "ResponseBody": {
        "etag": "HcJWpvIwC_Ueh-blZx6vm_G7PcLA9pL9MmtFG6trCUU",
        "key": "snapshot-ref609",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name399\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/snapshot-ref609?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTM1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dOjBkNoNWy_7ki1nZgvMDCWYImhkMTUnnLYpoMpF54g\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTM1MA==;sn=53365350",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:16 GMT"
      },
      "ResponseBody": {
        "etag": "dOjBkNoNWy_7ki1nZgvMDCWYImhkMTUnnLYpoMpF54g",
        "key": "snapshot-ref609",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2370\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref609?api-version=2026-04-01&label=label-sn",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTM1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dOjBkNoNWy_7ki1nZgvMDCWYImhkMTUnnLYpoMpF54g\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTM1MQ==;sn=53365351",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:16 GMT"
      },
      "ResponseBody": {
        "etag": "dOjBkNoNWy_7ki1nZgvMDCWYImhkMTUnnLYpoMpF54g",
        "key": "snapshot-ref609",
        "label": "label-sn",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"snapshot-name-2370\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:16+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-name": "snapshot-name399",
    "snapshot-name-2": "snapshot-name-2370",
    "snapshot-ref": "snapshot-ref609"
  }
}
