{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "a7a2b0ce-b140-476a-ac6f-ade1811d7572",
        "description": "IRS document classifier",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://blob_sas_url",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456761344_df2e1470-4175-4b21-973e-8613ae7820a5?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456761344_df2e1470-4175-4b21-973e-8613ae7820a5?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31456761344_df2e1470-4175-4b21-973e-8613ae7820a5",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-03-05T02:44:15Z",
        "lastUpdatedDateTime": "2024-03-05T02:44:15Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/a7a2b0ce-b140-476a-ac6f-ade1811d7572?api-version=2024-02-29-preview",
        "apiVersion": "2024-02-29-preview"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456761344_df2e1470-4175-4b21-973e-8613ae7820a5?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31456761344_df2e1470-4175-4b21-973e-8613ae7820a5",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-03-05T02:44:15Z",
        "lastUpdatedDateTime": "2024-03-05T02:46:34Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/a7a2b0ce-b140-476a-ac6f-ade1811d7572?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "a7a2b0ce-b140-476a-ac6f-ade1811d7572",
          "createdDateTime": "2024-03-05T02:46:34Z",
          "expirationDateTime": "2026-03-05T02:46:34Z",
          "apiVersion": "2024-02-29-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "conta[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/a7a2b0ce-b140-476a-ac6f-ade1811d7572?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "classifierId": "a7a2b0ce-b140-476[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "a7a2b0ce-b140-476a-ac6f-ade1811d7572",
            "createdDateTime": "2024-03-05T02:46:34Z",
            "expirationDateTime": "2026-03-05T02:46:34Z",
            "apiVersion": "2024-02-29-preview",
            "docTypes": {
              "IRS-1040-A": {
                "kind": "azureBlob",
                "azureBlobSource": {
                  "containerUrl": "https://azuresdktrainingdata.blob.core.windows.net/training-data-classifier",
             [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/a7a2b0ce-b140-476a-ac6f-ade1811d7572?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {
    "classifier_id": "a7a2b0ce-b140-476a-ac6f-ade1811d7572"
  }
}
