{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//documentintelligence/documentModels/prebuilt-receipt:analyze?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidRequest",
        "x-ms-error-code": "InvalidRequest",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "InvalidContent",
            "message": "The file is corrupted or format is unsupported. Refer to documentation for the list of supported formats."
          }
        }
      }
    }
  ],
  "Variables": {}
}
