{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout:analyzeBatch?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resultContainerUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch?sv=Sanitized&sr=c&se=Sanitized&sp=rwl&sig=Sanitized",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeBatchResults/bf4f9e59-7721-440a-b7ee-8c03d293f6ed?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeBatchResults/bf4f9e59-7721-440a-b7ee-8c03d293f6ed?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultId": "bf4f9e59-7721-440a-b7ee-8c03d293f6ed",
        "status": "running",
        "percentCompleted": 0,
        "createdDateTime": "2024-12-13T23:02:17Z",
        "lastUpdatedDateTime": "2024-12-13T23:02:17Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-layout/analyzeBatchResults/bf4f9e59-7721-440a-b7ee-8c03d293f6ed?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultId": "bf4f9e59-7721-440a-b7ee-8c03d293f6ed",
        "status": "succeeded",
        "percentCompleted": 100,
        "createdDateTime": "2024-12-13T23:02:18Z",
        "lastUpdatedDateTime": "2024-12-13T23:02:17Z",
        "result": {
          "succeededCount": 0,
          "failedCount": 0,
          "skippedCount": 0,
          "details": [
            {
              "sourceUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch/Evidence_of_Property__ACORD_27-H03c (1).pdf",
              "status": "skipped",
              "error": {
                "code": "OutputExists",
                "message": "Analysis skipped because result file Evidence_of_Property__ACORD_27-H03c%20(1).pdf.ocr.json already exists."
              }
            },
            {
              "sourceUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch/Evidence_of_Property__ACORD_27-H04c.pdf",
              "status": "skipped",
              "error": {
                "code": "OutputExists",
                "message": "Analysis skipped because result file Evidence_of_Property__ACORD_27-H04c.pdf[...]
