{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "3eae38e6-d7e5-4ef5-9d96-195511c80c77",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760971_5749f90e-6ed2-40f5-b4e7-85c10ca73856?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760971_5749f90e-6ed2-40f5-b4e7-85c10ca73856?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31456760971_5749f90e-6ed2-40f5-b4e7-85c10ca73856",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-03-05T02:50:29Z",
        "lastUpdatedDateTime": "2024-03-05T02:50:30Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/3eae38e6-d7e5-4ef5-9d96-195511c80c77?api-version=2024-02-29-preview",
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760971_5749f90e-6ed2-40f5-b4e7-85c10ca73856?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31456760971_5749f90e-6ed2-40f5-b4e7-85c10ca73856",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-03-05T02:50:29Z",
        "lastUpdatedDateTime": "2024-03-05T02:50:31Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/3eae38e6-d7e5-4ef5-9d96-195511c80c77?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "3eae38e6-d7e5-4ef5-9d96-195511c80c77": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "3eae38e6-d7e5-4ef5-9d96-195511c80c77",
          "createdDateTime": "2024-03-05T02:50:30Z",
          "expirationDateTime": "2026-03-05T02:50:30Z",
          "apiVersion": "2024-02-29-preview"
        },
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/3eae38e6-d7e5-4ef5-9d96-195511c80c77?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "docTypes": {
          "3eae38e6-d7e5-[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "9fc340ff-b98e-4267-ba06-3dd2293ebeb5",
        "tags": {
          "testkey": "testvalue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "9fc340ff-b98e-4267-ba06-3dd2293ebeb5",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/9fc340ff-b98e-4267-ba06-3dd2293ebeb5?api-version=2024-02-29-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2024-03-05T03:50:35Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/3eae38e6-d7e5-4ef5-9d96-195511c80c77:copyTo?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "9fc340ff-b98e-4267-ba06-3dd2293ebeb5",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/9fc340ff-b98e-4267-ba06-3dd2293ebeb5?api-version=2024-02-29-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2024-03-05T03:50:35Z"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "apim-operation-name": "Manage\u002B-\u002BCopy\u002Bmodel",
        "Content-Type": "application/json",
        "Retry-After": "3",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Manage - Copy model Operation under Azure AI Document Intelligence 2024-02-29-preview have exceeded call rate limit of your current FormRecognizer F0 pricing tier. Please retry after 3 seconds. To increase your rate limit switch to a paid tier."
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/3eae38e6-d7e5-4ef5-9d96-195511c80c77:copyTo?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "9fc340ff-b98e-4267-ba06-3dd2293ebeb5",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/9fc340ff-b98e-4267-ba06-3dd2293ebeb5?api-version=2024-02-29-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2024-03-05T03:50:35Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760962_02b02c66-602f-4a95-992b-552d0e2f7de9?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
[...]
