{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/55065705-266f-4764-823f-2eb8d38df701:analyzeBatch?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resultContainerUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch-result?sp=racwdl&st=Sanitized&se=Sanitized&sv=Sanitized&sr=c&sig=Sanitized",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/55065705-266f-4764-823f-2eb8d38df701/analyzeBatchResults/90f61497-9385-424d-b929-e5fa64285ee5?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/55065705-266f-4764-823f-2eb8d38df701/analyzeBatchResults/90f61497-9385-424d-b929-e5fa64285ee5?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "percentCompleted": 0,
        "createdDateTime": "2024-08-29T19:06:46Z",
        "lastUpdatedDateTime": "2024-08-29T19:06:46Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/55065705-266f-4764-823f-2eb8d38df701/analyzeBatchResults/90f61497-9385-424d-b929-e5fa64285ee5?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "completed",
        "percentCompleted": 100,
        "createdDateTime": "2024-08-29T19:06:46Z",
        "lastUpdatedDateTime": "2024-08-29T19:06:46Z",
        "result": {
          "succeededCount": 6,
          "failedCount": 0,
          "skippedCount": 0,
          "details": [
            {
              "sourceUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch/Evidence_of_Property__ACORD_27-H03c (1).pdf",
              "resultUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch-result/Evidence_of_Property__ACORD_27-H03c (1).pdf.ocr.json",
              "status": "succeeded"
            },
            {
              "sourceUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch/Evidence_of_Property__ACORD_27-H04c.pdf",
              "resultUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch-result/Evidence_of_Property__ACORD_27-H04c.pdf.ocr.json",
     [...]
