{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "6d248eed-ecf5-4b31-bebb-9c96fa63f7d5",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31432236277_435a4139-b48d-4714-9134-1b49e9dc7735?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31432236277_435a4139-b48d-4714-9134-1b49e9dc7735?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432236277_435a4139-b48d-4714-9134-1b49e9dc7735",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-12-13T23:15:23Z",
        "lastUpdatedDateTime": "2024-12-13T23:15:25Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/6d248eed-ecf5-4b31-bebb-9c96fa63f7d5?api-version=2024-11-30",
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31432236277_435a4139-b48d-4714-9134-1b49e9dc7735?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432236277_435a4139-b48d-4714-9134-1b49e9dc7735",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-13T23:15:23Z",
        "lastUpdatedDateTime": "2024-12-13T23:15:26Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/6d248eed-ecf5-4b31-bebb-9c96fa63f7d5?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "6d248eed-ecf5-4b31-bebb-9c96fa63f7d5": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "6d248eed-ecf5-4b31-bebb-9c96fa63f7d5",
          "createdDateTime": "2024-12-13T23:15:26Z",
          "modifiedDateTime": "2024-12-13T23:15:26Z",
          "expirationDateTime": "2026-12-13T23:15:26Z",
          "apiVersion": "2024-11-30"
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/6d248eed-ecf5-4b31-bebb-9c96fa63f7d5?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "docTypes": {
          "6d248eed-ecf5-4b31-bebb-9c96fa63f7d5": {
 [...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "1de2f009-9fb1-41be-8423-20353c11479a",
        "tags": {
          "testkey": "testvalue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "1de2f009-9fb1-41be-8423-20353c11479a",
        "targetModelLocation": "Sanitized",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-14T00:15:31Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/6d248eed-ecf5-4b31-bebb-9c96fa63f7d5:copyTo?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "1de2f009-9fb1-41be-8423-20353c11479a",
        "targetModelLocation": "Sanitized",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-14T00:15:31Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31432236269_2209b350-e8ab-4da7-97c6-bfb1a8767b3f?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
