{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "6e608455-7b9e-4f41-aadb-66fedc3592a4",
        "description": "IRS document classifier",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "Sanitized",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "Sanitized",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "Sanitized",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "Sanitized",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "Sanitized",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31442790324_8a51285c-4a83-4107-96d2-750c9df9b215?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31442790324_8a51285c-4a83-4107-96d2-750c9df9b215?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31442790324_8a51285c-4a83-4107-96d2-750c9df9b215",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-08-13T19:34:35Z",
        "lastUpdatedDateTime": "2024-08-13T19:34:35Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/6e608455-7b9e-4f41-aadb-66fedc3592a4?api-version=2024-07-31-preview",
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31442790324_8a51285c-4a83-4107-96d2-750c9df9b215?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31442790324_8a51285c-4a83-4107-96d2-750c9df9b215",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-08-13T19:34:35Z",
        "lastUpdatedDateTime": "2024-08-13T19:34:37Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/6e608455-7b9e-4f41-aadb-66fedc3592a4?api-version=2024-07-31-preview",
        "percentCompleted": 0,
        "apiVersion": "2024-07-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31442790324_8a51285c-4a83-4107-96d2-750c9df9b215?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31442790324_8a51285c-4a83-4107-96d2-750c9df9b215",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-08-13T19:34:35Z",
        "lastUpdatedDateTime": "2024-08-13T19:35:46Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/6e608455-7b9e-4f41-aadb-66fedc3592a4?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "6e608455-7b9e-4f41-aadb-66fedc3592a4",
          "createdDateTime": "2024-08-13T19:35:46Z",
          "expirationDateTime": "2026-08-13T19:35:46Z",
          "apiVersion": "2024-07-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "Sanitized",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "Sanitized",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "Sanitized",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "Sanitized",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "Sanitized",
                "prefix": "IRS-1040-E/train"
              }
            }
          },
          "description": "IRS document classifier"
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers/6e608455-7b9e-4f41-aadb-66fedc3592a4?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "classifierId": "6e608455-7b9e-4f41-aad[...]
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "faf04894-0725-4475-9f28-22b641fc2f31",
            "createdDateTime": "2024-08-13T19:33:13Z",
            "expirationDateTime": "2026-08-13T19:33:13Z",
            "apiVersion": "2024-07-31-preview",
            "docTypes": {
              "IRS-1040-A": {
                "kind": "azureBlob",
                "azureBlobSource": {
                  "containerUrl": "Sanitized",
                  "prefix": "IRS-1040-A/train"
                }
              [...]
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers/6e608455-7b9e-4f41-aadb-66fedc3592a4?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {
    "classifier_id": "6e608455-7b9e-4f41-aadb-66fedc3592a4"
  }
}
