{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "5ab7fa8e-f6a8-4bca-a767-566c1c84d722",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "Sanitized"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31432226953_a983babd-ac23-448d-88b5-b8a8efaa7876?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31432226953_a983babd-ac23-448d-88b5-b8a8efaa7876?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432226953_a983babd-ac23-448d-88b5-b8a8efaa7876",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-12-14T01:50:46Z",
        "lastUpdatedDateTime": "2024-12-14T01:50:49Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/5ab7fa8e-f6a8-4bca-a767-566c1c84d722?api-version=2024-11-30",
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31432226953_a983babd-ac23-448d-88b5-b8a8efaa7876?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432226953_a983babd-ac23-448d-88b5-b8a8efaa7876",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-14T01:50:46Z",
        "lastUpdatedDateTime": "2024-12-14T01:50:50Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/5ab7fa8e-f6a8-4bca-a767-566c1c84d722?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "5ab7fa8e-f6a8-4bca-a767-566c1c84d722": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "5ab7fa8e-f6a8-4bca-a767-566c1c84d722",
          "createdDateTime": "2024-12-14T01:50:50Z",
          "modifiedDateTime": "2024-12-14T01:50:50Z",
          "expirationDateTime": "2026-12-14T01:50:50Z",
          "apiVersion": "2024-11-30"
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/5ab7fa8e-f6a8-4bca-a767-566c1c84d722?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "docTypes": {
          "5ab7fa8e-f6a8-4bca-a767-566c1c84d722": {
 [...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "1e8fb56e-fcee-4848-90bd-88acfcfb5c0f",
        "tags": {
          "testkey": "testvalue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "1e8fb56e-fcee-4848-90bd-88acfcfb5c0f",
        "targetModelLocation": "Sanitized",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-14T02:50:55Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentModels/5ab7fa8e-f6a8-4bca-a767-566c1c84d722:copyTo?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "1e8fb56e-fcee-4848-90bd-88acfcfb5c0f",
        "targetModelLocation": "Sanitized",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-14T02:50:55Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31432226945_813b28f9-558f-406d-aa76-db0ccb184687?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
