{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "944c7aef-bc66-4a3b-a840-8ad56a7df617",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "apim-operation-name": "Create\u002B-\u002BBuild\u002Bmodel",
        "Content-Type": "application/json",
        "Retry-After": "5",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Create - Build model Operation under Azure AI Document Intelligence 2024-02-29-preview have exceeded call rate limit of your current FormRecognizer F0 pricing tier. Please retry after 5 seconds. To increase your rate limit switch to a paid tier."
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "944c7aef-bc66-4a3b-a840-8ad56a7df617",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760946_7be180c5-f7af-41b3-928a-dbafdc80aea6?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760946_7be180c5-f7af-41b3-928a-dbafdc80aea6?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "apim-operation-name": "Operations\u002B-\u002BGet\u002Boperation",
        "Content-Type": "application/json",
        "Retry-After": "4",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Operations - Get operation Operation under Azure AI Document Intelligence 2024-02-29-preview have exceeded call rate limit of your current FormRecognizer F0 pricing tier. Please retry after 4 seconds. To increase your rate limit switch to a paid tier."
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760946_7be180c5-f7af-41b3-928a-dbafdc80aea6?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31456760946_7be180c5-f7af-41b3-928a-dbafdc80aea6",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-03-05T02:50:53Z",
        "lastUpdatedDateTime": "2024-03-05T02:50:55Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/944c7aef-bc66-4a3b-a840-8ad56a7df617?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "944c7aef-bc66-4a3b-a840-8ad56a7df617": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "944c7aef-bc66-4a3b-a840-8ad56a7df617",
          "createdDateTime": "2024-03-05T02:50:55Z",
          "expirationDateTime": "2026-03-05T02:50:55Z",
          "apiVersion": "2024-02-29-preview"
        },
        "apiVersion": "2024-02-29-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/944c7aef-bc66-4a3b-a840-8ad56a7df617?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "apim-operation-name": "Manage\u002B-\u002BGet\u002Bmodel",
        "Content-Type": "application/json",
        "Retry-After": "5",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Manage - Get model Operation under Azure AI Document Intelligence 2024-02-29-preview have exceeded call rate limit of your current FormRecognizer F0 pricing tier. Please retry after 5 seconds. To increase your rate limit switch to a paid tier."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704",
        "tags": {
          "testkey": "testvalue"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "apim-operation-name": "Manage\u002B-\u002BGenerate\u002Bcopy\u002Bauthorization",
        "Content-Type": "application/json",
        "Retry-After": "5",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Manage - Generate copy authorization Operation under Azure AI Document Intelligence 2024-02-29-preview have exceeded call rate limit of your current FormRecognizer F0 pricing tier. Please retry after 5 seconds. To increase your rate limit switch to a paid tier."
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704",
        "tags": {
          "testkey": "testvalue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704?api-version=2024-02-29-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2024-03-05T03:51:09Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/944c7aef-bc66-4a3b-a840-8ad56a7df617:copyTo?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704?api-version=2024-02-29-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2024-03-05T03:51:09Z"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "apim-operation-name": "Manage\u002B-\u002BCopy\u002Bmodel",
        "Content-Type": "application/json",
        "Retry-After": "5",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Manage - Copy model Operation under Azure AI Document Intelligence 2024-02-29-preview have exceeded call rate limit of your current FormRecognizer F0 pricing tier. Please retry after 5 seconds. To increase your rate limit switch to a paid tier."
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/944c7aef-bc66-4a3b-a840-8ad56a7df617:copyTo?api-version=2024-02-29-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "region",
        "targetModelId": "b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704?api-version=2024-02-29-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2024-03-05T03:51:09Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760926_2d123fdb-2a14-4f95-8b86-9bc7b0c09780?api-version=2024-02-29-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31456760926_2d123fdb-2a14-4f95-8b86-9bc7b0c09780?api-version=2024-02-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31456760926_2d123fdb-2a14-4f95-8b86-9bc7b0c09780",
        "kind": "documentModelCopyTo",
        "status": "succeeded",
        "createdDateTime": "2024-03-05T02:51:14Z",
        "lastUpdatedDateTime": "2024-03-05T02:51:14Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704?api-version=2024-02-29-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "b6aa0814-bb95-4cb5-ab0d-c2c2f36c7704": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
       [...]
[...]
