{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "0bfdb5a7-925d-4719-8398-f2fcd45b32ef",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-A.jsonl"
            }
          },
          "IRS-1040-B": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-B.jsonl"
            }
          },
          "IRS-1040-C": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-C.jsonl"
            }
          },
          "IRS-1040-D": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-D.jsonl"
            }
          },
          "IRS-1040-E": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-E.jsonl"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31432236563_98b27cd6-bfa4-4a6b-9a0b-02d8caa76a5e?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31432236563_98b27cd6-bfa4-4a6b-9a0b-02d8caa76a5e?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432236563_98b27cd6-bfa4-4a6b-9a0b-02d8caa76a5e",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-12-13T23:10:36Z",
        "lastUpdatedDateTime": "2024-12-13T23:10:36Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/0bfdb5a7-925d-4719-8398-f2fcd45b32ef?api-version=2024-11-30",
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31432236563_98b27cd6-bfa4-4a6b-9a0b-02d8caa76a5e?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432236563_98b27cd6-bfa4-4a6b-9a0b-02d8caa76a5e",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-12-13T23:10:36Z",
        "lastUpdatedDateTime": "2024-12-13T23:10:38Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/0bfdb5a7-925d-4719-8398-f2fcd45b32ef?api-version=2024-11-30",
        "percentCompleted": 0,
        "apiVersion": "2024-11-30"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31432236563_98b27cd6-bfa4-4a6b-9a0b-02d8caa76a5e?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432236563_98b27cd6-bfa4-4a6b-9a0b-02d8caa76a5e",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-13T23:10:36Z",
        "lastUpdatedDateTime": "2024-12-13T23:12:01Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/0bfdb5a7-925d-4719-8398-f2fcd45b32ef?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "classifierId": "0bfdb5a7-925d-4719-8398-f2fcd45b32ef",
          "createdDateTime": "2024-12-13T23:10:50Z",
          "modifiedDateTime": "2024-12-13T23:10:50Z",
          "expirationDateTime": "2026-12-13T23:10:50Z",
          "apiVersion": "2024-11-30",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-A.jsonl"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-B.jsonl"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-C.jsonl"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-D.jsonl"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-E.jsonl"
              }
            }
          }
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers/0bfdb5a7-925d-4719-8398-f2fcd45b32ef?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "classifierId": "0bfdb5a7-925d-4719-8398-f2fcd4[...]
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "0bfdb5a7-925d-4719-8398-f2fcd45b32ef",
            "createdDateTime": "2024-12-13T23:10:50Z",
            "modifiedDateTime": "2024-12-13T23:10:50Z",
            "expirationDateTime": "2026-12-13T23:10:50Z",
            "apiVersion": "2024-11-30",
            "docTypes": {
              "IRS-1040-A": {
                "kind": "azureBlobFileList",
                "azureBlobFileListSource": {
                  "containerUrl": "Sanitized",
               [...]
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers/0bfdb5a7-925d-4719-8398-f2fcd45b32ef?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {
    "classifier_id": "0bfdb5a7-925d-4719-8398-f2fcd45b32ef"
  }
}
