{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "66d42152-4e62-4e06-98a1-16358f26e4f9",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-A.jsonl"
            }
          },
          "IRS-1040-B": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-B.jsonl"
            }
          },
          "IRS-1040-C": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-C.jsonl"
            }
          },
          "IRS-1040-D": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-D.jsonl"
            }
          },
          "IRS-1040-E": {
            "azureBlobFileListSource": {
              "containerUrl": "Sanitized",
              "fileList": "IRS-1040-E.jsonl"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31431985840_5ec228ac-7d49-40ae-a819-10d8005c006d?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31431985840_5ec228ac-7d49-40ae-a819-10d8005c006d?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31431985840_5ec228ac-7d49-40ae-a819-10d8005c006d",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-12-16T20:49:19Z",
        "lastUpdatedDateTime": "2024-12-16T20:49:19Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/66d42152-4e62-4e06-98a1-16358f26e4f9?api-version=2024-11-30",
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31431985840_5ec228ac-7d49-40ae-a819-10d8005c006d?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31431985840_5ec228ac-7d49-40ae-a819-10d8005c006d",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-12-16T20:49:19Z",
        "lastUpdatedDateTime": "2024-12-16T20:49:20Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/66d42152-4e62-4e06-98a1-16358f26e4f9?api-version=2024-11-30",
        "percentCompleted": 0,
        "apiVersion": "2024-11-30"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/operations/31431985840_5ec228ac-7d49-40ae-a819-10d8005c006d?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31431985840_5ec228ac-7d49-40ae-a819-10d8005c006d",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-16T20:49:19Z",
        "lastUpdatedDateTime": "2024-12-16T20:50:37Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentClassifiers/66d42152-4e62-4e06-98a1-16358f26e4f9?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "classifierId": "66d42152-4e62-4e06-98a1-16358f26e4f9",
          "createdDateTime": "2024-12-16T20:49:32Z",
          "modifiedDateTime": "2024-12-16T20:49:32Z",
          "expirationDateTime": "2026-12-16T20:49:32Z",
          "apiVersion": "2024-11-30",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-A.jsonl"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-B.jsonl"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-C.jsonl"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-D.jsonl"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "Sanitized",
                "fileList": "IRS-1040-E.jsonl"
              }
            }
          }
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers/66d42152-4e62-4e06-98a1-16358f26e4f9?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "classifierId": "66d42152-4e62-4e06-98a1-16358f[...]
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "classifierId": "66d42152-4e62-4e06-98a1-16358f26e4f9",
            "createdDateTime": "2024-12-16T20:49:32Z",
            "modifiedDateTime": "2024-12-16T20:49:32Z",
            "expirationDateTime": "2026-12-16T20:49:32Z",
            "apiVersion": "2024-11-30",
            "docTypes": {
              "IRS-1040-A": {
                "kind": "azureBlobFileList",
                "azureBlobFileListSource": {
                  "containerUrl": "Sanitized",
               [...]
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/documentintelligence/documentClassifiers/66d42152-4e62-4e06-98a1-16358f26e4f9?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Resource not found.",
          "innererror": {
            "code": "ModelNotFound",
            "message": "The requested model was not found."
          }
        }
      }
    }
  ],
  "Variables": {
    "classifier_id": "66d42152-4e62-4e06-98a1-16358f26e4f9"
  }
}
