{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "storageResourceUri": "https://joncardekvstorage.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://joncarde-kv-tests.managedhsm.azure.net/backup/ced56063fe5c4b16981d711b678aaaf1/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0ef8869e-1abe-4d6f-802a-20576b464ac5",
        "Retry-After": "10",
        "x-ms-server-latency": "341"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1781293423,
        "endTime": null,
        "jobId": "ced56063fe5c4b16981d711b678aaaf1",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup/ced56063fe5c4b16981d711b678aaaf1/pending?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cdbe8f59-f648-4311-a228-0aa1d8413e18",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "64"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "ced56063fe5c4b16981d711b678aaaf1",
        "startTime": 1781293423,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup/ced56063fe5c4b16981d711b678aaaf1/pending?ap[...]
