{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "cd7fc4ae-9511-44e1-baa4-a113f3077ce3",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "mynamespacexxx",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "88888888-8888-8888-8888-888888888888",
          "createdAt": "2024-03-12T07:55:59.88+00:00",
          "updatedAt": "2026-05-29T09:25:41.94+00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Enabled",
          "networkAcls": {
            "ipRules": [
              {
                "ipMask": "185.48.100.00/24",
                "rights": [
                  "Manage",
                  "Send",
                  "Listen"
                ]
              }
            ],
            "publicNetworkRule": {
              "rights": [
                "Listen"
              ]
            }
          },
          "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx",
        "name": "mynamespacexxx",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    }
  ],
  "Variables": {}
}
