{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-imageSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/image/pieChart.jpg"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/27ab938e-16aa-490c-9f2f-483da85ae49d?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "27ab938e-16aa-490c-9f2f-483da85ae49d",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-25T16:37:33Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/27ab938e-16aa-490c-9f2f-483da85ae49d?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "27ab938e-16aa-490c-9f2f-483da85ae49d",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-25T16:37:33Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/27ab938e-16aa-490c-9f2f-483da85ae49d?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "27ab938e-16aa-490c-9f2f-483da85ae49d",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-25T16:37:33Z",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "![image](pages/1)\n",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The image is a 3D pie chart showing the distribution of hours spent in four categories. The largest segment is '60+ hours' at 37.8%, followed closely by '50-60 hours' at 36.6%. The '40-50 hours' category accounts for 18.9%, and the smallest segment is '1-39 hours' at 6.7%."
                }
              },
              "kind": "document",
              "startPageNumber": 1,
              "endPageNumber": 1,
              "unit": "pixel",
              "pages": [
                {
                  "pageNumber": 1,
                  "spans": []
                }
              ],
              "analyzerId": "prebuilt-imageSearch",
              "mimeType": "image/jpeg"
            }
          ]
        },
        "usage": {
          "contextualizationTokens": 1000,
          "tokens": {
            "gpt-4.1-mini-input": 279,
            "gpt-4.1-mini-output": 87
          }
        }
      }
    }
  ],
  "Variables": {}
}
