{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-documentSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/document/mixed_financial_invoices.pdf"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/38f1afdb-b126-4f80-9a68-761a49f8b80b?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "38f1afdb-b126-4f80-9a68-761a49f8b80b",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-documentSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-25T08:03:23Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/38f1afdb-b126-4f80-9a68-761a49f8b80b?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "38f1afdb-b126-4f80-9a68-761a49f8b80b",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-documentSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-25T08:03:23Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/38f1afdb-b126-4f80-9a68-761a49f8b80b?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "38f1afdb-b126-4f80-9a68-761a49f8b80b",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-documentSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-25T08:03:23Z",
          "stringEncoding": "utf16",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "<!-- PageNumber: Page 1 of 10 -->\n<!-- PageHeader: THIS DOCUMENT IS ENTIRELY FICTIONAL AND INTENDED FOR SOFTWARE DEMONSTRATION PURPOSES ONLY. All vendor names, addresses, amounts, and other data are fabricated. -->\n\nCONTOSO SUPPLIES\nContoso Headquarters\n1200 Contoso Way, Suite 400\nSeattle, WA 98101\n\nAdventureWorks Industrial\n500 Innovation Blvd\nRedmond, WA 98052\n\n\n# INVOICE\n\n\n<table>\n<tr>\n<td>INVOICE:</td>\n<td>INV-2026-A-00147</td>\n</tr>\n<tr>\n<td>INVOICE DATE:</td>\n<td>03/01/2026</td>\n</tr>\n<tr>\n<td>DUE DATE:</td>\n<td>03/31/2026</td>\n</tr>\n<tr>\n<td>CUSTOMER NAME:</td>\n<td>ADVENTUREWORKS INDUSTRIAL</td>\n</tr>\n<tr>\n<td>CUSTOMER ID:</td>\n<td>CID-AWI-5500</td>\n</tr>\n</table>\n\n\nBILL TO:\nAdventureWorks Finance\n500 Innovation Blvd\nRedmond, WA 98052\n\nSHIP TO:\nAdventureWorks Warehouse\n600 Distribution Dr\nRedmond, WA 98052\n\nSALESPERSON\n\nJ. Martinez\n\nP.O. NUMBER\n\nPO-7821\n\nTERMS\n\nNet 30\n\n\n<table>\n<tr>\n<th>ITEM CODE</th>\n<th>DESCRIPTION</th>\n<th>QTY</th>\n<th>UM</th>\n<th>PRICE</th>\n<th>TAX</th>\n<th>AMOUNT</th>\n</tr>\n<tr>\n<td>A4-PPR</td>\n<td>Premium A4 Copy Paper (5 reams)</td>\n<td>20</td>\n<td>EA</td>\n<td>$12.50</td>\n<td>$21.25</td>\n<td>$271.25</td>\n</tr>\n<tr>\n<td>INK-CX2</td>\n<td>Black Ink Cartridge - Model CX200</td>\n<td>10</td>\n<td>EA</td>\n<td>$34.99</td>\n<td>$29.74</td>\n<td>$379.64</td>\n</tr>\n<tr>\n<td>KB-ERG</td>\n<td>Wireless Ergonomic Keyboard</td>\n<td>5</td>\n<td>E[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-documentSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/document/mixed_financial_invoices.pdf",
            "range": "1"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/10c32ec2-74a1-4aa4-bba2-0e5a4e12f120?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "10c32ec2-74a1-4aa4-bba2-0e5a4e12f120",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-documentSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-25T08:03:48Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
