{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.communication.azure.com/identities?api-version=2025-03-02-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:58:47 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "voip"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "24ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDQ4MjI3MjYuNDg3fQ==.adM-ddBZZlQ1WlN3pdPBOF5G4Wh9iZpxNP_fSvpF4cWs",
          "expiresOn": "2025-04-17T15:58:47.9559337+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/identities?api-version=2025-03-02-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:58:47 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "voip"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDQ4MjI3MjYuNDg3fQ==.adM-ddBZZlQ1WlN3pdPBOF5G4Wh9iZpxNP_fSvpF4cWs",
          "expiresOn": "2025-04-17T15:58:48.0360782+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:58:47 GMT"
      },
      "RequestBody": {
        "participants": {
          "Sanitized": {
            "role": "Presenter"
          },
          "Sanitized": {
            "role": "Collaborator"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99546032896949925",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99546032896949925",
        "createdAt": "2025-04-16T15:58:48.0855941+00:00",
        "validFrom": "2025-04-16T15:58:48.1051076+00:00",
        "validUntil": "2025-10-13T15:58:48.1051076+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/rooms/99546032896949925/participants?api-version=2025-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:58:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "Sanitized",
            "role": "Presenter"
          },
          {
            "rawId": "Sanitized",
            "role": "Collaborator"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/rooms/99546032896949925?api-version=2025-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 16 Apr 2025 15:58:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
