{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 01:23:37 GMT"
      },
      "RequestBody": {
        "participants": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99478157567535602",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99478157567535602",
        "createdAt": "2025-03-06T01:23:37.8536112+00:00",
        "validFrom": "2025-03-06T01:23:37.7582806+00:00",
        "validUntil": "2025-09-02T01:23:37.7582806+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 01:23:38 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "voip"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "32ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDEyMjc3OTQuMDM2fQ==.adM-ddBZZlQ1WlN3pdPBOF5G4Wh9iZpxNP_fSvpF4cWs",
          "expiresOn": "2025-03-07T01:23:38.0396726+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/rooms/99478157567535602?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 01:23:38 GMT"
      },
      "RequestBody": {
        "validFrom": "202[...]
