{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 20:38:53 GMT"
      },
      "RequestBody": {
        "createTokenWithScopes": [
          "voip"
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "22ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        },
        "accessToken": {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDEyMTA3MjQuNzA4fQ==.adM-ddBZZlQ1WlN3pdPBOF5G4Wh9iZpxNP_fSvpF4cWs",
          "expiresOn": "2025-03-06T20:38:53.663719+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 20:38:53 GMT"
      },
      "RequestBody": {
        "validFrom": "2025-03-05T20:38:44.000Z",
        "validUntil": "2025-03-05T20:43:44.000Z",
        "participants": {
          "Sanitized": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99416058272689607",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99416058272689607",
        "createdAt": "2025-03-05T20:38:53.7760625+00:00",
        "validFrom": "2025-03-05T20:38:44+00:00",
        "validUntil": "2025-03-05T20:43:44+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/rooms/99416058272689607?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 05 Mar 2025 20:38:53 GMT"
      },
      "RequestBody": {
        "validFrom": "2025-03-05T20:38:44.000Z",[...]
