{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0c8d039f-1476-e8cd-74f5-a4247a557668?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B35F3AE100\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0c8d039f-1476-e8cd-74f5-a4247a557668/test-file-8e856347-0b27-e5ea-c9af-5d810595ae5f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0c8d039f-1476-e8cd-74f5-a4247a557668/test-file-8e856347-0b27-e5ea-c9af-5d810595ae5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B35F57D9BD\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:43.4329021Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:43.4329021Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:43.4329021Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0c8d039f-1476-e8cd-74f5-a4247a557668/test-file-8e856347-0b27-e5ea-c9af-5d810595ae5f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:42 GMT",
        "x-ms-range": "bytes=0-199",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "ohk63y\u002BGMJwFEaB62\u002BldvgB08NWPxGPesEAmiQdy7M9\u002Bfq1ntRRqwDPpiBZrcAnfUZ\u002BBkaXY0N62XC/uX6aVkyTR\u002B1079QnrCS\u002BipTtMcz83Rjdn8Vsppa7PsVjlfGCMVPTymXSspFuVlYh1NiqiaenvtxlvLaLIp1aua0SxBozOFVFGWtnLi6Lb0lvStG\u002BDLUdu9cVHHSdSKfIe/TkX5I/7piDZWw8QJCt3k1tH9vPmKj78QhDHh/gq9DDmrI1oxO3L1w1PqtE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "\u002BPOHayEMbio2m49RnBu7Dw==",
        "ETag": "\u00220x8DBC0B35F656C4D\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-file-last-write-time": "2023-09-29T06:14:43.5218509Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0c8d039f-1476-e8cd-74f5-a4247a557668/test-file-8e856347-0b27-e5ea-c9af-5d810595ae5f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC0B35FAA816B\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:43.9745899Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:43.4329021Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:43.9745899Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "ohk63y\u002BGMJwFEaB62\u002BldvgB08NWPxGPesEAmiQdy7M9\u002Bfq1ntRRqwDPpiBZrcAnfUZ\u002BBkaXY0N62XC/uX6aVkyTR\u002B1079QnrCS\u002BipTtMcz83Rjdn8Vsppa7PsVjlfGCMVPTymXSspFuVlYh1NiqiaenvtxlvLaLIp1aua0SxBozOFVFGWtnLi6Lb0lvStG\u002BDLUdu9cVHHSdSKfIe/TkX5I/7piDZWw8QJCt3k1tH9vPmKj78QhDHh/gq9DDmrI1oxO3L1w1PqtE4XtCZ0IrMCzP/ONL6GqJ\u002BNB8nr2beKXieDs5tex7ll4Bsw\u002BNALbZuXun853S7bqpLTaPtJ/tqWjVY\u00[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0c8d039f-1476-e8cd-74f5-a4247a557668?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "921396943",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
