{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d12789c6-5735-7481-2dbe-b46db1a3bf36?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B358286335\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d12789c6-5735-7481-2dbe-b46db1a3bf36/test-file-c05c18c5-75d5-7801-d6c1-162cb34df980",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d12789c6-5735-7481-2dbe-b46db1a3bf36/test-file-c05c18c5-75d5-7801-d6c1-162cb34df980",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "4096",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B358458486\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:31.5687046Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:31.5687046Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:31.5687046Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d12789c6-5735-7481-2dbe-b46db1a3bf36/test-file-c05c18c5-75d5-7801-d6c1-162cb34df980?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "QJg23IpSifoOOmeZzaNVj27hbmFRvEfB05\u002BW6huB/pR//8549L04c49ispoOZ6oybIa\u002B0t\u002BXL4NRdAnru57ejDzSGc3U3ZqwqfrS7gqss2v1ZH6Vwyy159BLJoC0TLjwhCVeO07cXo7rDinkxUB5pMCd9lcgSckQHDL8ibYa\u002B1xC4mrlTncdGAXvqbQC0SKQ0YK/F1Zh0DtcTR8b39TY0RPNouLVlFVJgN1RMJ8VDUsQbLczWuQF4BEviABYAjkwF9ehNS8/uz0sdpZ5EJ\u002BbR0DTCnMdpHYuyMHRpgtU8H6kIBnHc9cb0bF5BuNNi9Bxk0G/hPfFE3Jhcm1tbRUy14YY1e\u002BG09NptznCo52T4DzwXxLJlGyG3gynZgFprWObRy5dNLXh68BuVsy9A3DUzZExfQ4CaUIZkvfi323S/wnVJlxuNayGD3RSWj6fyNqc0phvODBVmd3rQ6K\u002B/gxSnFbC6N0TZZjlqm2asA4EeskcRgzUYsfZgI1\u002BgvEJxxFn/77n3OD9iGz/iY7CuujP58nZorf/fTmP6WhPleOn2\u002BJcMrFQHJ3oHr6g1Nk4FsWkr5snMCVZaIGEWPN4rfOJWK2rZog2f8os8IT5X6lgVtKiquZHf6u9Askvy8SpcHDKFnwrjbA9bjDQ\u002B0ChYAnYJAEg1QINQtgC7mO\u002BBrMFgn8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0zCfAUaobpX3ui98e1B9Jw==",
        "ETag": "\u00220x8DBC0B35852F000\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:31 GMT",
        "x-ms-file-last-write-time": "2023-09-29T06:14:31.6566528Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d12789c6-5735-7481-2dbe-b46db1a3bf36/test-file-c05c18c5-75d5-7801-d6c1-162cb34df980",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:31 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC0B358B3034F\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:32.2862927Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:31.5687046Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:32.2862927Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "QJg23IpSifoOOmeZzaNVj27hbmFRvEfB05\u002BW6huB/pR//8549L04c49ispoOZ6oybIa\u002B0t\u002BXL4NRdAnru57ejDzSGc3U3ZqwqfrS7gqss2v1ZH6Vwyy159BLJoC0TLjwhCVeO07cXo7rDinkxUB5pMCd9lcgSckQHDL8ibYa\u002B1xC4mrlTncdGAXvqbQC0SKQ0YK/F1Zh0DtcTR8b39TY0RPNouLVlFVJgN1RMJ8VDUsQbLczWuQF4BEviABYAjkwF9ehNS8/uz0sdpZ5EJ\u002BbR0DTCnMdpHYuyMHRpgtU8H6kIBnHc9cb0bF5BuNNi9Bxk0G/hPfFE3Jhcm1tbRUy14YY1e\u002BG09NptznCo52T4Dz[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d12789c6-5735-7481-2dbe-b46db1a3bf36?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "638162887",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
