{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1b524fa1-7844-f366-41e3-900498fb648d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B3672DB2FF\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1b524fa1-7844-f366-41e3-900498fb648d/test-file-9a74ffb1-e00f-cea8-8017-fd69f101876b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1b524fa1-7844-f366-41e3-900498fb648d/test-file-9a74ffb1-e00f-cea8-8017-fd69f101876b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B36761FF24\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:56.9211684Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:56.9211684Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:56.9211684Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1b524fa1-7844-f366-41e3-900498fb648d/test-file-9a74ffb1-e00f-cea8-8017-fd69f101876b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "lvE2GJTXIFlttm99snI7R5Kxsmxhso/t15gMVi0zife4tMUNoC9C2t4aLVhxKxwN27XXQE4aCeRiSEH8y8osOS13xf6sLqdib9iNR4Q2fKt7/np3XEionarhqlftRQ4U7fQr\u002BWYdYK0OdNF2jcFfLMyVgMxPtd3kzydUy4NPdSnKeFmQCoJFXp3NaOd3Mg/ogX6LWMVBxTgWRyo\u002ByZUpvv\u002BnrBRozyJJUCEugUz1bJwYa0oFxBxjiLMgecJYBpUIo6noz4b7gLFbQgekE0PsINuNJl1LJPriRCRgR1Vg8EqLJd6iDZwWHeuYqYIVv3RwNFjmyt84vX\u002BvBYtimjlc\u002B1G9GO1lSRM/dwlysnt3zYWv8BL8eSZqU2he8ggQs4KxO60xV6aHC\u002BtFp1LWxQoDODcGs6kmX4IrUsSFBlYKLsOGw[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1b524fa1-7844-f366-41e3-900498fb648d/test-file-9a74ffb1-e00f-cea8-8017-fd69f101876b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC0B3676F91B4\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:57.0101172Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:56.9211684Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:57.0101172Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "lvE2GJTXIFlttm99snI7R5Kxsmxhso/t15gMVi0zife4tMUNoC9C2t4aLVhxKxwN27XXQE4aCeRiSEH8y8osOS13xf6sLqdib9iNR4Q2fKt7/np3XEionarhqlftRQ4U7fQr\u002BWYdYK0OdNF2jcFfLMyVgMxPtd3kzydUy4NPdSnKeFmQCoJFXp3NaOd3Mg/ogX6LWMVBxTgWRyo\u002ByZUpvv\u002BnrBRozyJJUCEugUz1bJwYa0oFxBxjiLMgecJYBpUIo6noz4b7gLFbQgekE0PsINuNJl1LJPriRCRgR1Vg8EqLJd6iDZwWHeuYqYIVv3RwNFjmyt84vX\u002BvBYtimjlc\u002B1G9GO1lSRM/dwlysnt3zYWv8BL8[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1b524fa1-7844-f366-41e3-900498fb648d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "761619559",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
