{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5bdc18dd-ce71-c289-537f-54710bdface6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B355F0524A\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5bdc18dd-ce71-c289-537f-54710bdface6/test-file-4750ed94-2fc7-b1a0-de15-cd603eb7bd84",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5bdc18dd-ce71-c289-537f-54710bdface6/test-file-4750ed94-2fc7-b1a0-de15-cd603eb7bd84",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B3562369DE\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:27.9897566Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:27.9897566Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:27.9897566Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5bdc18dd-ce71-c289-537f-54710bdface6/test-file-4750ed94-2fc7-b1a0-de15-cd603eb7bd84?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:26 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "5v/pPJvXskYemN9IIdQLRlQlPRd9UIxXLpH1HeUSoQX4hX67XoDOvDoJKS5QWI8KCoYLGHmlB5ZykQ4K4ZRhDPbaT5tWT\u002BfUVoHdcyddB9UB6xNeBomLUn7nSc1xxNqmqBw4dgj0s7ufN8H4yJNvFIo4CPWBAwZtTvwdbgYaYpGmN8sKJZDNDThXv87Hk4rqeDRCObzlJKUWyigM1kS1hNQvUZHIZe/5a/q9KUM3prtyM/bR1ynVwRIl81powTfzojr5l0H4IRNFSc3BJ/ph3iRsmaNO46yrWpB/o3GUkKrDyYcJPQ55eRHjjI5bE5kXwxU1\u002ByeUpb\u002BOTj2weX6isLgj/l1zWKAW8x\u002BRalYdUEb2Z99bXpWCLyTHeu/RyACTQdzWNxU8o2t0HwgHAjpocP72uhGeRlEjoM85q92wRCof/il6RxgwusN05z\u002BMei3qXwnx2g7u9PqKs5dGAviNw9ve6AMQ7inlxf9OKl8SliWiTkzUv2kbMAov75OB6rfL5iNjrpIp2XHfCxQPoMmbeBxxpLOruQRxwrj54f6WZNtHgkM7ruiTeHXb9LNUDI9Ak3d2D0UDHy0f8uvZL/dySaY5xx6FX8k03Ss\u002B0MRRHLYouE6GH1WVQ2MWHLz9uUh\u002BaKoMG0RxuzOuQjIaxU5oztU1sHep7ClRo4O7b0MNNyM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "uNKQBHLmuKsXaHOkIJ7s0A==",
        "ETag": "\u00220x8DBC0B35631BF9E\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:28 GMT",
        "x-ms-file-last-write-time": "2023-09-29T06:14:28.0837022Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5bdc18dd-ce71-c289-537f-54710bdface6/test-file-4750ed94-2fc7-b1a0-de15-cd603eb7bd84",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC0B3563F5231\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:28.1726513Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:27.9897566Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:28.1726513Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "5v/pPJvXskYemN9IIdQLRlQlPRd9UIxXLpH1HeUSoQX4hX67XoDOvDoJKS5QWI8KCoYLGHmlB5ZykQ4K4ZRhDPbaT5tWT\u002BfUVoHdcyddB9UB6xNeBomLUn7nSc1xxNqmqBw4dgj0s7ufN8H4yJNvFIo4CPWBAwZtTvwdbgYaYpGmN8sKJZDNDThXv87Hk4rqeDRCObzlJKUWyigM1kS1hNQvUZHIZe/5a/q9KUM3prtyM/bR1ynVwRIl81powTfzojr5l0H4IRNFSc3BJ/ph3iRsmaNO46yrWpB/o3GUkKrDyYcJPQ55eRHjjI5bE5kXwxU1\u002ByeUpb\u002BOTj2weX6isLgj/l1zWKAW8x\u002BRalYdUEb2Z99bXpWCL[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5bdc18dd-ce71-c289-537f-54710bdface6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1446527409",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
