{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6739195-ec4c-865f-a86c-2b40c6e16fcc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B3603FA7CE\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6739195-ec4c-865f-a86c-2b40c6e16fcc/test-file-9382d2e6-b367-e67d-5780-a8b3ac2f4554",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B3604E989C\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:45.0499740Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:45.0499740Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:45.0499740Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6739195-ec4c-865f-a86c-2b40c6e16fcc/test-file-9382d2e6-b367-e67d-5780-a8b3ac2f4554?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "tZVIbdEXEtlCCY5D8ljBQlcto/aK3bldyhLheWdouIM26f0X5tiCqp7axOj7xHxZLAq9ADBUNNjb66K\u002BNplx2lELDQlaqlt\u002BqvlXsBjRYQaVh0xcqrhS4bQlO/o1xHQFaOqX77Zz/oKuP1U3/YS/ComcKa9MFS\u002BZuCtUNW5gSeaFUUcuOXJQIojKrWtiGuQwZjBwmZrEuFO6/TeKHskTTvVusqs8kNAXTAYmgmfENp1HI84\u002B769LwJn0dDs6xQO\u002Bt19182g59NZfWU2Unjbr9ceZQ/v71V5GI/IRSBuU3YYCaMoIT0I1DS/43pZityJiCH90oYIIw\u002BEBLtB2J6y6ynvGkjVr46WEZDXLAvbH5GzQrz\u002BcIDsE\u002BaToBiByv\u002BaDPRMamyTs9iTa7z1MPcDrOUpkpXdsHq[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6739195-ec4c-865f-a86c-2b40c6e16fcc/test-file-9382d2e6-b367-e67d-5780-a8b3ac2f4554",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC0B3605BDD29\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:45.1369257Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:45.0499740Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:45.1369257Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a6739195-ec4c-865f-a86c-2b40c6e16fcc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "501631824",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
