{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-195d1a39-15da-dbeb-60fb-568971bd2812?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B360990561\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-195d1a39-15da-dbeb-60fb-568971bd2812/test-file-26b92b6b-59fb-4912-84ff-dcd729c467a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC0B360AA3FBA\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:45.6506298Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:45.6506298Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:45.6506298Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-195d1a39-15da-dbeb-60fb-568971bd2812/test-file-26b92b6b-59fb-4912-84ff-dcd729c467a2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "/pG7SATfy6n/AxqLEPgRIPy/S8/tperhozgX2T\u002BFuy7/E9mXCB\u002BdFsTcYGxv/HAVEPiQzwov21in2qTMx/FqeUjri/0feRfcIjULEEV9cafIAslG9Osk0DeA7y560E7ScuYkhHBz9pfhs63VI8sTKmn9BMUoI4Vcx7vFnonpYVHmOZ5eWew2VAsxZUA\u002BT6xrbcXFfcyJqk5hx7y1rVcN91Jc7uostdF8x6\u002B59r5EHngOWTHDJOSEXY9P/JEwgKe0JG3u4WDCP7j0SLYdz7OPHahEp1MlSdNt15Fb3Lg/TEYHBNJRVTwXSxp5z9suZ43bwN/p69lUjtqZgArOZ2L/tfxvFcrhPcdrLVs4rHr4P28EfxzYVWBss3b4uNUySOS4eRnevlLC\u002BYIYfb5\u002BG\u002BJfoECbyudFJ1\u002BbAmF[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-195d1a39-15da-dbeb-60fb-568971bd2812/test-file-26b92b6b-59fb-4912-84ff-dcd729c467a2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBC0B360B82059\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 06:14:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-29T06:14:45.7415769Z",
        "x-ms-file-creation-time": "2023-09-29T06:14:45.6506298Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-29T06:14:45.7415769Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-195d1a39-15da-dbeb-60fb-568971bd2812?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 29 Sep 2023 06:14:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1965236510",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
