{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.HealthcareApis/workspaces/resourcetest11?api-version=2025-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0700446d-0000-0400-0000-6a2692f80000\"",
        "mise-correlation-id": "892b08d5-0a5c-4103-a76e-02d24397695b",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.HealthcareApis/workspaces/resourcetest11",
        "name": "resourcetest11",
        "type": "Microsoft.HealthcareApis/workspaces",
        "etag": "Sanitized",
        "location": "eastus",
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2026-06-08T10:01:28.0911931Z",
          "lastModifiedAt": "2026-06-08T10:01:28.0911931Z"
        }
      }
    }
  ],
  "Variables": {}
}
