{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "1538868754",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31485821906_04c2d1c3-dffa-444e-b60b-21b3b9e82f2e?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31485821906_04c2d1c3-dffa-444e-b60b-21b3b9e82f2e?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31485821906_04c2d1c3-dffa-444e-b60b-21b3b9e82f2e",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-03T18:21:34Z",
        "lastUpdatedDateTime": "2023-04-03T18:21:34Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1538868754?api-version=2023-02-28-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31485821906_04c2d1c3-dffa-444e-b60b-21b3b9e82f2e?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31485821906_04c2d1c3-dffa-444e-b60b-21b3b9e82f2e",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-03T18:21:34Z",
        "lastUpdatedDateTime": "2023-04-03T18:22:30Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1538868754?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "1538868754",
          "createdDateTime": "2023-04-03T18:22:30Z",
          "expirationDateTime": "2025-04-02T18:22:30Z",
          "apiVersion": "2023-02-28-preview",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1538868754:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1538868754/analyzeResults/b76d81c1-2627-4bb1-9d96-2a71113f84bb?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1538868754/analyzeResults/b76d81c1-2627-4bb1-9d96-2a71113f84bb?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-04-03T18:22:30Z",
        "lastUpdatedDateTime": "2023-04-03T18:22:30Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1538868754/analyzeResults/b76d81c1-2627-4bb1-9d96-2a71113f84bb?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-03T18:22:30Z",
        "lastUpdatedDateTime": "2023-04-03T18:22:44Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "stringIndexType": "utf16CodeUnit",
          "content": "",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ],
              "kind": "document"
            }
          ],
          "documents": [
            {
              "docType": "IRS-1040-A",
              "boundingRegions": [
                {
                  "pageNumber": 1,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                }
              ],
              "fields": {},
              "confidence": 0.001,
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ]
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1538868754?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "FORM_RECOGNIZER_API_KEY": "Sanitized",
    "FORM_RECOGNIZER_CLASSIFIER_TRAINING_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "FORM_RECOGNIZER_ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "1280513809"
  }
}
