{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "758137496",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483694783_ba317143-f3c1-44c5-b6ed-ced0e36e4ebe?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483694783_ba317143-f3c1-44c5-b6ed-ced0e36e4ebe?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483694783_ba317143-f3c1-44c5-b6ed-ced0e36e4ebe",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-28T09:13:37Z",
        "lastUpdatedDateTime": "2023-04-28T09:13:37Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/758137496?api-version=2023-02-28-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483694783_ba317143-f3c1-44c5-b6ed-ced0e36e4ebe?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483694783_ba317143-f3c1-44c5-b6ed-ced0e36e4ebe",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-28T09:13:37Z",
        "lastUpdatedDateTime": "2023-04-28T09:14:24Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/758137496?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "758137496",
          "createdDateTime": "2023-04-28T09:14:24Z",
          "expirationDateTime": "2025-04-27T09:14:24Z",
          "apiVersion": "2023-02-28-preview",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/758137496:analyze?stringIndexType=utf16CodeUnit\u0026api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/758137496/analyzeResults/1b8d7c8d-9cac-48e1-84de-798ac293fe8d?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/758137496/analyzeResults/1b8d7c8d-9cac-48e1-84de-798ac293fe8d?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-04-28T09:14:24Z",
        "lastUpdatedDateTime": "2023-04-28T09:14:24Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/758137496/analyzeResults/1b8d7c8d-9cac-48e1-84de-798ac293fe8d?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T09:14:24Z",
        "lastUpdatedDateTime": "2023-04-28T09:14:32Z",
        "analyzeResult": {
          "apiVersion": "2023-02-28-preview",
          "stringIndexType": "utf16CodeUnit",
          "content": "",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ],
              "kind": "document"
            }
          ],
          "documents": [
            {
              "docType": "IRS-1040-A",
              "boundingRegions": [
                {
                  "pageNumber": 1,
                  "polygon": [
                    0,
                    0,
                    8.5,
                    0,
                    8.5,
                    11,
                    0,
                    11
                  ]
                }
              ],
              "fields": {},
              "confidence": 0.001,
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ]
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/758137496?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "1845769017"
  }
}
