{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
        "displayName": "Microsoft Azure Sponsorship 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/2310200010003188?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/2310200010003188",
        "name": "2310200010003188",
        "type": "Microsoft.Support/supportTickets",
        "properties": {
          "description": "test case\n\nProblem start date and time\nNot sure, use current time",
          "problemClassificationId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemClassifications/03014459-4572-f8f0-32b0-88833f234f25",
          "problemClassificationDisplayName": "Test Support Topic 1",
          "severity": "Minimal",
          "require24X7Response": false,
          "enrollmentId": "",
          "contactDetails": {
            "firstName": "Devin",
            "lastName": "Stoen",
            "preferredContactMethod": "Email",
            "primaryEmailAddress": "test@gmail.com",
            "phoneNumber": "4255124083",
            "preferredTimeZone": "Pacific Standard Time",
            "country": "USA",
            "preferredSupportLanguage": "en-US"
          },
          "serviceLevelAgreement": {
            "startTime": "2023-10-20T19:13:35Z",
            "expirationTime": "2023-10-20T23:13:35Z",
            "slaMinutes": 240
          },
          "supportEngineer": {
            "emailAddress": "rarandiv@microsoft.com"
          },
          "supportPlanType": "ProDirect",
          "supportPlanDisplayName": "Azure Support Plan \u2013 ProDirect",
          "advancedDiagnosticConsent": "Yes",
          "isTemporaryTicket": "No",
          "supportPlanId": "U291cmNlOkVBLFN1YnNjcmlwdGlvbklkOkNDQTAzMjZDLTRDMzEtNDZEOC04RkNCLUM2NzAyM0E0NkY0QixPZmZlcklkOk1TLUFaUi0wMDQyUCxTb3ZlcmVpZ25DbG91ZDpQdWJsaWMs",
          "fileWorkspaceName": "2310200010003188",
          "supportTicketId": "2310200010003188",
          "title": "test case, please close",
          "serviceId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201",
          "serviceDisplayName": "Test Product Case Submission - Preview",
          "status": "Closed",
          "problemStartTime": "2023-10-20T19:13:00Z",
          "createdDate": "2023-10-20T19:13:35Z",
          "modifiedDate": "2023-10-20T19:15:32Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/2310200010003188/chatTranscripts?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/2310200010003188/chatTranscripts/0c948886-cae4-4752-9e3a-9a1eca5ccf07",
            "name": "0c948886-cae4-4752-9e3a-9a1eca5ccf07",
            "type": "Microsoft.Support/chatTranscripts",
            "properties": {
              "messages": [
                {
                  "body": "Hello,  Thank you for contacting Azure Chat support!",
                  "communicationDirection": "Outbound",
                  "contentType": "text",
                  "sender": "Rahul",
                  "createdDate": "2023-10-20T19:14:16Z"
                },
                {
                  "body": "How are you doing today?",
                  "communicationDirection": "Outbound",
                  "contentType": "text",
                  "sender": "Rahul",
                  "createdDate": "2023-10-20T19:14:21Z"
                },
                {
                  "body": "Hi, this is a test chat",
                  "communicationDirection": "Inbound",
        [...]
