{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Private Test Sub ZUH",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/resourcegroups/testRg2249?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/resourceGroups/testRg2249",
        "name": "testRg2249",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/resourceGroups/testRg2249/providers/Microsoft.App/managedEnvironments/resource8659?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/providers/Microsoft.App/locations/westus/managedEnvironmentOperationStatuses/16573ec4-a73b-488f-8871-768415708c6c?api-version=2023-05-01\u0026azureAsyncOperation=true",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "id": "/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/resourceGroups/testRg2249/providers/Microsoft.App/managedEnvironments/resource8659",
        "name": "resource8659",
        "type": "Microsoft.App/managedEnvironments",
        "location": "West US",
        "tags": {},
        "systemData": {
          "createdBy": "edf98152-ec97-4284-82be-abad238669ce",
          "createdByType": "Application",
          "createdAt": "2023-08-04T09:35:51.1548753Z",
          "lastModifiedBy": "edf98152-ec97-4284-82be-abad238669ce",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T09:35:51.1548753Z"
        },
        "properties": {
          "provisioningState": "Waiting",
          "daprAIInstrumentationKey": null,
          "daprAIConnectionString": null,
          "vnetConfiguration": null,
          "defaultDomain": "mangoisland-3fda862c.westus.azurecontainerapps.io",
          "staticIp": "20.66.10.238",
          "appLogsConfiguration": {
            "destination": null,
            "logAnalyticsConfiguration": null
          },
          "zoneRedundant": false,
          "kedaConfiguration": {
            "version": "2.10.0"
          },
          "daprConfiguration": {
            "version": "1.10.8"
          },
          "eventStreamEndpoint": "https://westus.azurecontainerapps.dev/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/resourceGroups/testRg2249/managedEnvironments/resource8659/eventstream",
          "customDomainConfiguration": {
            "customDomainVerificationId": "79CA8690E6B618792A80838552EF20F439BB6386E447A1FE057FC382E98FF1B3",
            "dnsSuffix": null,
            "certificateValue": null,
            "certificatePassword": null,
            "thumbprint": null,
            "subjectName": null,
            "expirationDate": null
          },
          "workloadProfiles": null,
          "firstPartyConfiguration": null,
          "infrastructureResourceGroup": null,
          "peerAuthentication": {
            "mtls": {
              "enabled": false
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/providers/Microsoft.App/locations/westus/managedEnvironmentOperationStatuses/16573ec4-a73b-488f-8871-768415708c6c?api-version=2023-05-01\u0026azureAsyncOperation=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/1642eb12-ffc3-4f5c-a0dc-50b4ec6e208c/providers/Microsoft.App/locations/westus/managedEnvironmentOperationStatuses/16573ec4-a73b-488f-8871-768415708c6c",
        "name": "16573ec4-a73b-488f-8871-768415708c6c",
        "status": "InProgress",
        "startTime": "2023-08-04T09:35:53.733101"
      }
    },
[...]
