{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1?api-version=2025-07-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "publicNetworkAccess": "Enabled",
          "inboundIpRules": [
            {
              "ipMask": "12.18.30.15",
              "action": "Allow"
            },
            {
              "ipMask": "12.18.176.1",
              "action": "Allow"
            }
          ]
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "PatchResourceNotFound",
          "target": "exampledomain1",
          "message": "The resource '/subscriptions/azure_subscription_id/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1' was not found when evaluating policies for a PATCH operation."
        }
      }
    }
  ],
  "Variables": {}
}
