{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Shares><Share><Name>share172296529983407309</Name><Properties><Last-Modified>Tue, 06 Aug 2024 17:28:30 GMT</Last-Modified><Etag>\"0x8DCB63D3098221B\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 06 Aug 2024 17:28:30 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share172296562712501595</Name><Properties><Last-Modified>Tue, 06 Aug 2024 17:33:57 GMT</Last-Modified><Etag>\"0x8DCB63DF372936E\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 06 Aug 2024 17:33:57 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</Def[...]
