{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1166520d-4a52-45fa-8155-cf8ec6a0fc7f",
        "traceresponse": "00-59af05179323e15e843af97a1318c2fb-f96055b79c65b62b-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsFloor%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bca2fe98-1127-40f9-a5e1-9d4519ca518a",
        "traceresponse": "00-67f8f65ddec02ff4da83a6d1d1df4ecd-a04d27792b2c040b-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsFloor;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a6e434b6-806d-48ae-bc78-55062b7cd6bd",
        "traceresponse": "00-d989b85a753f2c9b0097ebb6bb4bd6ab-0c28ccc2c5516fbf-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTRelationshipsTestsRoom;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"properties\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Floor\",\"contents\":[{\"@type\":\"Relationship\",\"name\":\"Sanitized\",\"target\":\"dtmi:samples:DTRelationshipsTestsRoom;1\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"}]},{\"@id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Room\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"boolean\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d3c9664a-5d2c-46bb-8ca8-2125e282f1ae",
        "traceresponse": "00-56832ca0a623c1bafbd03f03a1f2763d-50c713743893e3aa-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTRelationshipsTestsBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-09T04:42:07.6628251+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsFloor;1\",\"description\":{},\"displayName\":{\"en\":\"Floor\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-09T04:42:07.6628433+00:00\"},{\"id\":\"dtmi:samples:DTRelationshipsTestsRoom;1\",\"description\":{},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-09T04:42:07.6628522+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e9546cfb-1417-4eb9-b5bb-10771646561e",
        "traceresponse": "00-66cf6bda14cd0fffe0b172a01a94bd91-1092c2a5b0ea6613-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsBuildingTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ba208cc4-5967-4af7-8251-0b4339728598",
        "traceresponse": "00-311a932e9c4dd9cbfabbaf537c0e87f5-8122ad31434eda5d-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsFloorTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "130e686c-85b5-48c1-8c19-09758ff68f8b",
        "traceresponse": "00-4fb5898ee6cee352e8e48cbb486a0eeb-1f728a2fcd24bd7a-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipsTestsRoomTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"46b73029-7af6-4a3b-9990-d69ae244f5fa\"",
        "mise-correlation-id": "6a833839-021f-459a-ac3d-3c83474fb2d8",
        "traceresponse": "00-8888cedc1e368bbd7d61b85c2207f68f-76da918e36bc1338-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsBuildingTwin",
        "$etag": "W/\"46b73029-7af6-4a3b-9990-d69ae244f5fa\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsBuilding;1",
          "$lastUpdateTime": "2025-05-09T04:42:07.8697178Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-09T04:42:07.8697178Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"446d768f-648f-40f2-952f-c519e5a40fec\"",
        "mise-correlation-id": "2da61fe4-a0f4-4a44-a473-d97a05c31b69",
        "traceresponse": "00-8e0ec7fe834336262bbb399a601d139c-208699c798f484a1-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipsTestsRoomTwin",
        "$etag": "W/\"446d768f-648f-40f2-952f-c519e5a40fec\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:DTRelationshipsTestsRoom;1",
          "$lastUpdateTime": "2025-05-09T04:42:07.9906346Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-09T04:42:07.9906346Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-09T04:42:07.9906346Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "BuildingHasFloor",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d1ceecef-2a6b-4388-98bd-e548bac34c73\"",
        "mise-correlation-id": "587313e6-daf3-4db6-824b-c48d0829cb09",
        "traceresponse": "00-6381b4d41a8a65ec321ac4df40e4a8af-ffcdc27d43392d6e-01"
      },
      "ResponseBody": {
        "$relationshipId": "BuildingHasFloor",
        "$etag": "W/\"d1ceecef-2a6b-4388-98bd-e548bac34c73\"",
        "$sourceId": "DTRelationshipsTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipsTestsFloorTwin",
        "isAccessRestricted": false
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"remove\",\"path\":\"/isAccessRestricted\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"e5c3ce79-ebb9-4710-8d17-13a645b74c0a\"",
        "mise-correlation-id": "a2edbfc2-8512-41f8-ba99-7dfcec90405b",
        "traceresponse": "00-721d6f331e10aa01b7412cbb5139805b-d9e543e980c2a207-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipsTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/isAccessRestricted\",\"value\":true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"d5e54ce1-1965-4287-9974-71aa4bc37819\"",
        "mise-correlation-id": "aabf32ed-f716-4612-a563-fb2881bf2090",
        "traceresponse": "00-22f8602f550d43f2246cfb3f5626270b-828c25c14fc691d7-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTRelationshipsTestsRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9cced689-a04e-4aee-843e-2591608ab814",
        "traceresponse": "00-b7c786dce24c0ffa4afb5e28f531f3ed-789788795f9be476-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
