{
  "Entries": [
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16497",
        "x-ms-ratelimit-remaining-subscription-reads": "1097"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-rp-recording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16496",
        "x-ms-ratelimit-remaining-subscription-reads": "1096"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording",
        "name": "rg-chaos-sdk-rp-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2025-04-17T20:48:25.3578804+00:00",
          "Owners": "renzopretto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus-0/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"870066cc-0000-0100-0000-67f5998a0000\"",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "599"
      },
      "ResponseBody": {
        "properties": {},
        "name": "Microsoft-VirtualMachineScaleSet",
        "location": "eastus",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus-0/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
        "type": "Microsoft.Chaos/targets",
        "systemData": {
          "createdByType": "User",
          "createdAt": "2025-04-07T20:55:26.007+00:00",
          "lastModifiedAt": "2025-04-08T21:47:54.209+00:00"
        }
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus",
    "RandomSeed": "1460226925",
    "RESOURCE_GROUP": "rg-chaos-sdk-rp-recording",
    "SERVICE_MANAGEMENT_URL": "https://management.core.windows.net/",
    "SUBSCRIPTION_ID": "fb74b135-894b-4c1d-9b2e-8a3c231abc14"
  }
}
