{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-ID": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "kind": "template",
        "channelRegistrationId": "75476a19-a68d-4e10-806c-3680f099e069",
        "to": [
          "+14254360097"
        ],
        "template": {
          "name": "Sanitized",
          "language": "en_us",
          "values": [
            {
              "kind": "text",
              "name": "Sanitized",
              "text": "3"
            }
          ],
          "bindings": {
            "kind": "whatsApp",
            "body": [
              {
                "refValue": "first"
              }
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "736ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "55a1d8fd-56d0-44c5-aaec-f6ec1dcfd9d0",
            "to": "sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
