{
  "Entries": [
    {
      "RequestUri": "https://sanitized.unitedstates.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-ID": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "kind": "template",
        "channelRegistrationId": "b045be8c-45cd-492a-b2a2-47bae7c36959",
        "to": [
          "\u002B14254360097"
        ],
        "template": {
          "name": "gathering_invitation",
          "language": "en_US",
          "values": [
            {
              "kind": "text",
              "name": "first",
              "text": "11-18-2024"
            }
          ],
          "bindings": {
            "kind": "whatsApp",
            "body": [
              {
                "refValue": "first"
              }
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "301ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "50525ace-ab63-4350-b464-0aaa23fc0781",
            "to": "sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
