{
  "Entries": [
    {
      "RequestUri": "https://sanitized.unitedstates.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-ID": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "kind": "image",
        "channelRegistrationId": "b045be8c-45cd-492a-b2a2-47bae7c36959",
        "to": [
          "\u002B14254360097"
        ],
        "mediaUri": "https://aka.ms/acsicon1"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "340ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "2f9c9362-f0f2-4a67-b6bf-064159b4bbbd",
            "to": "sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
