{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,2|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.24.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/abfa948a-f0c7-4c26-8d2f-605271d1779a?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A07.9120188Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474",
        "name": "sdk-py-tests-acc-1-e3f62474",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A07.9120188Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-21T09:18:07.4075801Z"
        },
        "properties": {
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-21T09:18:07.7987767Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-21T09:18:07.7987767Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/abfa948a-f0c7-4c26-8d2f-605271d1779a?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/abfa948a-f0c7-4c26-8d2f-605271d1779a",
        "name": "abfa948a-f0c7-4c26-8d2f-605271d1779a",
        "status": "Succeeded",
        "startTime": "2023-09-21T09:18:07.9057561Z",
        "endTime": "2023-09-21T09:18:07.9720556Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474",
          "action": "CREATE"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A07.9800207Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474",
        "name": "sdk-py-tests-acc-1-e3f62474",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A07.9800207Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-21T09:18:07.4075801Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "09ef3da0-c3dd-8e10-a69c-04a84d8ebc85",
              "username": "sdkuser",
              "password": "****************",
              "domain": "sdkdomain",
              "dns": "192.0.2.2",
              "status": "Created",
              "smbServerName": "PSSMBSName",
              "organizationalUnit": "CN=Computers",
              "adName": "ps1792",
              "aesEncryption": false,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-21T09:18:07.7987767Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-21T09:18:07.7987767Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium",
          "coolAccess": false,
          "encryptionType": "Single"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/f6795c44-3265-46c1-9d8e-953678e0ed14?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A10.941707Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1",
        "name": "sdk-py-tests-acc-1-e3f62474/sdk-py-tests-pool-1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A10.941707Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-21T09:18:10.2598482Z"
        },
        "properties": {
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "totalThroughputMibps": 0.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-21T09:18:10.7675533Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-21T09:18:10.7675533Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A11.4378192Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1",
        "name": "sdk-py-tests-acc-1-e3f62474/sdk-py-tests-pool-1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A11.4378192Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-21T09:18:10.2598482Z"
        },
        "properties": {
          "poolId": "2633aa83-77d1-9284-abf2-63cd7bc1180c",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-21T09:18:10.7675533Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-21T09:18:10.7675533Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1",
            "name": "sdk-py-tests-acc-1-e3f62474/sdk-py-tests-pool-1",
            "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
            "etag": "W/\u0022datetime\u00272023-09-21T09%3A18%3A11.4378192Z\u0027\u0022",
            "location": "westus2",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1?api-version=2023-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/a90414c9-6bba-444d-af82-0930dfe97ff6?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/a90414c9-6bba-444d-af82-0930dfe97ff6?api-version=2023-05-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/a90414c9-6bba-444d-af82-0930dfe97ff6?api-version=2023-05-01\u0026operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "poolId": "2633aa83-77d1-9284-abf2-63cd7bc1180c",
        "serviceLevel": "Premium",
        "size": 4398046511104,
        "qosType": "Auto",
        "totalThroughputMibps": 256.0,
        "utilizedThroughputMibps": 0.0,
        "encryptionType": "Single",
        "coolAccess": false
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1\u0027 is not found."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474?api-version=2023-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "CannotDeleteResource",
          "message": "Cannot delete resource while nested resources exist. Some existing nested resource IDs include: \u0027Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-2, Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474/capacityPools/sdk-py-tests-pool-1\u0027. Please delete all nested resources before deleting this resource."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource with identifier \u0027/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-e3f62474\u0027 is not found."
        }
      }
    }
  ],
  "Variables": {}
}
