{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,2|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.24.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/c70d9a4c-9cc6-4b46-b492-9719c6136cf3?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A29.7779501Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b",
        "name": "sdk-py-tests-acc-1-b2-86eb264b",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A29.7779501Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:39:29.2174691Z"
        },
        "properties": {
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:39:29.6499612Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:39:29.6499612Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/c70d9a4c-9cc6-4b46-b492-9719c6136cf3?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11851"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/c70d9a4c-9cc6-4b46-b492-9719c6136cf3",
        "name": "c70d9a4c-9cc6-4b46-b492-9719c6136cf3",
        "status": "Succeeded",
        "startTime": "2023-09-20T16:39:29.7732229Z",
        "endTime": "2023-09-20T16:39:29.820138Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b",
          "action": "CREATE"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A29.8347555Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11850"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b",
        "name": "sdk-py-tests-acc-1-b2-86eb264b",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A29.8347555Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:39:29.2174691Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "09ef3da0-c3dd-8e10-a69c-04a84d8ebc85",
              "username": "sdkuser",
              "password": "****************",
              "domain": "sdkdomain",
              "dns": "192.0.2.2",
              "status": "Created",
              "smbServerName": "PSSMBSName",
              "organizationalUnit": "CN=Computers",
              "adName": "ps1792",
              "aesEncryption": false,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:39:29.6499612Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:39:29.6499612Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium",
          "coolAccess": false,
          "encryptionType": "Single"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/570c27e3-8886-4022-9294-9e3f3c60bb28?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A33.5304538Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1",
        "name": "sdk-py-tests-acc-1-b2-86eb264b/sdk-py-tests-pool-1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A33.5304538Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:39:32.8788467Z"
        },
        "properties": {
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "totalThroughputMibps": 0.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:39:33.3687446Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:39:33.3687446Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A33.6808452Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11847"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1",
        "name": "sdk-py-tests-acc-1-b2-86eb264b/sdk-py-tests-pool-1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A33.6808452Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:39:32.8788467Z"
        },
        "properties": {
          "poolId": "d278cf22-96fc-2292-9e7a-4aed408c2f5b",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:39:33.3687446Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:39:33.3687446Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-3-b2-86eb264b?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "creationToken": "sdk-py-tests-vol-3-b2-86eb264b",
          "serviceLevel": "Premium",
          "usageThreshold": 107374182400,
          "protocolTypes": [
            "NFSv3"
          ],
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.Network/virtualNetworks/sdk-python-tests-perma-VNET/subnets/sdk-python-tests-subnet",
          "networkFeatures": "Standard",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "isLargeVolume": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/3fbc727f-1a90-4229-a218-4aa7c3215963?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A36.2773784Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-3-b2-86eb264b",
        "name": "sdk-py-tests-acc-1-b2-86eb264b/sdk-py-tests-pool-1/sdk-py-tests-vol-3-b2-86eb264b",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A39%3A36.2773784Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:39:35.5884979Z"
        },
        "properties": {
          "volumeType": "",
          "serviceLevel": "Premium",
          "creationToken": "sdk-py-tests-vol-3-b2-86eb264b",
          "usageThreshold": 107374182400,
          "protocolTypes": [
            "NFSv3"
          ],
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.Network/virtualNetworks/sdk-python-tests-perma-VNET/subnets/sdk-python-tests-subnet",
          "networkFeatures": "Standard",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "maximumNumberOfFiles": 100000000,
          "isLargeVolume": false,
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:39:36.1031455Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:39:36.1031455Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-3-b2-86eb264b?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A44%3A39.3747897Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11834"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-3-b2-86eb264b",
        "name": "sdk-py-tests-acc-1-b2-86eb264b/sdk-py-tests-pool-1/sdk-py-tests-vol-3-b2-86eb264b",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A44%3A39.3747897Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:39:35.5884979Z"
        },
        "properties": {
          "volumeType": "",
          "fileSystemId": "6621b2af-59d9-6e7c-edb5-abf63e62112f",
          "serviceLevel": "Premium",
          "creationToken": "sdk-py-tests-vol-3-b2-86eb264b",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_f9d641bf",
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.Network/virtualNetworks/sdk-python-tests-perma-VNET/subnets/sdk-python-tests-subnet",
          "networkFeatures": "Standard",
          "networkSiblingSetId": "8dd1978e-584b-5087-bfc6-c261b926b7ba",
          "storageToNetworkProximity": "T2",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "6621b2af-59d9-6e7c-edb5-abf63e62112f",
              "fileSystemId": "6621b2af-59d9-6e7c-edb5-abf63e62112f",
              "ipAddress": "10.0.0.5"
            }
          ],
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Disabled",
          "maximumNumberOfFiles": 100000000,
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "isLargeVolume": false,
          "provisionedAvailabilityZone": "1",
          "actualThroughputMibps": 6.25,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:39:36.1031455Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:39:36.1031455Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2-b2-86eb264b?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/095b67fb-6bb6-4154-b8ee-93c60b343049?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11832"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/095b67fb-6bb6-4154-b8ee-93c60b343049",
        "name": "095b67fb-6bb6-4154-b8ee-93c60b343049",
        "status": "Succeeded",
        "startTime": "2023-09-20T16:44:42.2099789Z",
        "endTime": "2023-09-20T16:44:42.2599882Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2-b2-86eb264b",
          "action": "CREATE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2-b2-86eb264b/capacityPools/sdk-py-tests-pool-2?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "size": 4398046511104,
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2-b2-86eb264b/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-4-b2-86eb264b?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "creationToken": "sdk-py-tests-vol-4-b2-86eb264b",
          "serviceLevel": "Premium",
          "usageThreshold": 107374182400,
          "protocolTypes": [
            "NFSv3"
          ],
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.Network/virtualNetworks/sdk-python-tests-remote-perma-VNET/subnets/sdk-python-tests-remote-subnet",
          "networkFeatures": "Basic",
          "volumeType": "DataProtection",
          "dataProtection": {
            "replication": {
              "endpointType": "dst",
              "replicationSchedule": "_10minutely",
              "remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-3-b2-86eb264b"
            }
          },
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Micro[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-3-b2-86eb264b/authorizeReplication?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2-b2-86eb264b/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-4-b2-86eb264b"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/d007d654-a9a6-49bc-96fd-116f4f3adaca?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/d007d654-a9a6-49bc-96fd-116f4f3adaca?api-version=2023-05-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2-b2-86eb264b/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-4-b2-86eb264b?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A50%3A27.3669314Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11808"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-R-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2-b2-86eb264b/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-4-b2-86eb264b",
        "name": "sdk-py-tests-acc-2-b2-86eb264b/sdk-py-tests-pool-2/sdk-py-tests-vol-4-b2-86eb264b",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A50%3A27.3669314Z\u0027\u0022",
        "location": "eastus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:44:46.2019572Z"
        },
        "properties": {
          "volumeType": "DataProtection",
          "dataProtection": {
            "replication": {
              "replicationId": "eb7c410d-a931-7ee0-7372-8488b03b1895",
              "endpointType": "Dst",
              "replicationSchedule": "_10minutely",
              "remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1-b2-86eb264b/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-3-b2-86eb264b",
              "remoteVolumeRegion": "westus2"
            }
          },
          "fileSystemId": "0f08e5b7-5a07-4563-e81b-c3ece604706a",
          "serviceLevel": "Premium",
          "creationToken": "sdk-py-tests-vol-4-b2-86eb264b",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
[...]
