{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/updateNetworkSiblingSet?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "networkSiblingSetId": "9760acf5-4638-11e7-9bdb-020073ca3333",
        "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.Network/virtualNetworks/testVnet/subnets/sdk-python-tests-subnet",
        "networkSiblingSetStateId": "herpiderp",
        "networkFeatures": "Standard"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "error": {
          "code": "NetworkSiblingSetChanged",
          "message": "The network sibling set has changed, please refresh the volume being updated and try again."
        }
      }
    }
  ],
  "Variables": {}
}
