{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,2|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.24.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/2494c159-3164-4a50-8566-e6f1ee6d1d2d?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A13%3A03.2033998Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account",
        "name": "sdk-python-perma-account",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A13%3A03.2033998Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:04:09.3299777Z"
        },
        "properties": {
          "provisioningState": "Updating",
          "activeDirectories": [
            {
              "activeDirectoryId": "09ef3da0-c3dd-8e10-a69c-04a84d8ebc85",
              "username": "sdkuser",
              "password": "****************",
              "domain": "sdkdomain",
              "dns": "192.0.2.2",
              "status": "Created",
              "smbServerName": "PSSMBSName",
              "organizationalUnit": "CN=Computers",
              "adName": "ps1792",
              "aesEncryption": false,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "encryption": {
            "keySource": "Microsoft.NetApp"
          }
        },
        "systemData": {
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:04:09.5173827Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/2494c159-3164-4a50-8566-e6f1ee6d1d2d?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11964"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/2494c159-3164-4a50-8566-e6f1ee6d1d2d",
        "name": "2494c159-3164-4a50-8566-e6f1ee6d1d2d",
        "status": "Succeeded",
        "startTime": "2023-09-20T16:13:03.2034791Z",
        "endTime": "2023-09-20T16:13:03.7313431Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account",
          "action": "UPDATE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium",
          "coolAccess": false,
          "encryptionType": "Single"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/22f75ccd-8a34-49fb-9fff-95850a75c05c?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A13%3A06.5168336Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool",
        "name": "sdk-python-perma-account/sdk-python-perma-pool",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A13%3A06.5168336Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:04:12.1539560Z"
        },
        "properties": {
          "provisioningState": "Updating",
          "poolId": "89596580-0d7e-f9cd-4146-2c8a74d18641",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 12.5,
          "encryptionType": "Single",
          "coolAccess": false
        },
        "systemData": {
          "createdBy": "b-eitrau@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-03-20T13:50:41.8887656Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:04:12.3455411Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "creationToken": "sdk-py-tests-vol-3-8b73262e",
          "serviceLevel": "Premium",
          "usageThreshold": 107374182400,
          "protocolTypes": [
            "NFSv3"
          ],
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.Network/virtualNetworks/sdk-python-tests-perma-VNET/subnets/sdk-python-tests-subnet",
          "networkFeatures": "Standard",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Enabled",
          "isLargeVolume": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/78821a3d-f755-4aef-9a61-e327e5b0d151?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A13%3A09.3431297Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e",
        "name": "sdk-python-perma-account/sdk-python-perma-pool/sdk-py-tests-vol-3-8b73262e",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A13%3A09.3431297Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:13:08.5610375Z"
        },
        "properties": {
          "volumeType": "",
          "serviceLevel": "Premium",
          "creationToken": "sdk-py-tests-vol-3-8b73262e",
          "usageThreshold": 107374182400,
          "protocolTypes": [
            "NFSv3"
          ],
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.Network/virtualNetworks/sdk-python-tests-perma-VNET/subnets/sdk-python-tests-subnet",
          "networkFeatures": "Standard",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Enabled",
          "maximumNumberOfFiles": 100000000,
          "isLargeVolume": false,
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:13:09.0846921Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:13:09.0846921Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-20T16%3A18%3A12.8868894Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e",
        "name": "sdk-python-perma-account/sdk-python-perma-pool/sdk-py-tests-vol-3-8b73262e",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272023-09-20T16%3A18%3A12.8868894Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-20T16:13:08.5610375Z"
        },
        "properties": {
          "volumeType": "",
          "fileSystemId": "0862c1a3-fe7c-5d29-e055-c9a7b4f66c1b",
          "serviceLevel": "Premium",
          "creationToken": "sdk-py-tests-vol-3-8b73262e",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_22a36f41",
          "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.Network/virtualNetworks/sdk-python-tests-perma-VNET/subnets/sdk-python-tests-subnet",
          "networkFeatures": "Standard",
          "networkSiblingSetId": "8dd1978e-584b-5087-bfc6-c261b926b7ba",
          "storageToNetworkProximity": "T2",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "0862c1a3-fe7c-5d29-e055-c9a7b4f66c1b",
              "fileSystemId": "0862c1a3-fe7c-5d29-e055-c9a7b4f66c1b",
              "ipAddress": "10.0.0.5"
            }
          ],
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Enabled",
          "maximumNumberOfFiles": 100000000,
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "isLargeVolume": false,
          "provisionedAvailabilityZone": "1",
          "actualThroughputMibps": 6.25,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-20T16:13:09.0846921Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-20T16:13:09.0846921Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e/subvolumes/sdk-py-tests-subvolume-1-8b73262e?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "path": "/sub_vol_4.txt",
          "size": 123
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/87941818-791b-4ed2-b31d-35b008c36f60?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/87941818-791b-4ed2-b31d-35b008c36f60?api-version=2023-05-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e/subvolumes/sdk-py-tests-subvolume-1-8b73262e",
        "name": "sdk-python-perma-account/sdk-python-perma-pool/sdk-py-tests-vol-3-8b73262e/sdk-py-tests-subvolume-1-8b73262e",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes/subvolumes",
        "properties": {
          "path": "/sub_vol_4.txt",
          "provisioningState": "Creating",
          "size": 123
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e/subvolumes/sdk-py-tests-subvolume-1-8b73262e/getMetadata?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "Response[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/26b05a07-cd91-45f7-b20d-b063d67c394b?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11941"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/26b05a07-cd91-45f7-b20d-b063d67c394b",
        "name": "26b05a07-cd91-45f7-b20d-b063d67c394b",
        "status": "Succeeded",
        "startTime": "2023-09-20T16:18:46.9502583Z",
        "endTime": "2023-09-20T16:18:47.1509321Z",
        "percentComplete": 100.0,
        "properties": {
          "path": "/sub_vol_4.txt",
          "size": 123,
          "bytesUsed": 0,
          "permissions": "644",
          "creationTimeStamp": "2023-09-20T16:18:15Z",
          "accessedTimeStamp": "2023-09-20T16:18:15Z",
          "modifiedTimeStamp": "2023-09-20T16:18:15Z",
          "changedTimeStamp": "2023-09-20T16:18:15Z",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e/subvolumes/sdk-py-tests-subvolume-1-8b73262e?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Error getting sub volume. The requested sub volume was not found. Please make sure that the sub volume was created successfully and try again."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/7030b766-632f-4290-bdd7-5759d815755f?api-version=2023-05-01\u0026operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-python-tests-rg-tmp/providers/Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.NetApp/netAppAccounts/sdk-python-perma-account/capacityPools/sdk-python-perma-pool/volumes/sdk-py-tests-vol-3-8b73262e\u0027 under resource group \u0027sdk-python-tests-rg-tmp\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {}
}
