{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/quotaLimits?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/quotaLimits/accountsPerSubscription",
            "name": "westus2/accountsPerSubscription",
            "type": "Microsoft.NetApp/locations/quotaLimits",
            "properties": {
              "current": 20,
              "default": 10
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/quotaLimits/poolsPerAccount",
            "name": "westus2/poolsPerAccount",
            "type": "Microsoft.NetApp/locations/quotaLimits",
            "properties": {
              "current": 40,
              "default": 25
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/provide[...]
