{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171617444222404174?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 03:07:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7879F7BB0945\"",
        "Last-Modified": "Mon, 20 May 2024 03:07:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container171617444222404174"
  }
}
