{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2d480617-d487-a85f-53af-44bccfa3a83a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:26:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE12F4790969\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:26:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2d480617-d487-a85f-53af-44bccfa3a83a/test-blob-5b25ec85-684e-e022-9b41-ab8da3adc8d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Sep 2024 01:26:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE12F48180AA\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:26:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-06T01:26:38.6628778Z",
        "x-ms-file-creation-time": "2024-09-06T01:26:38.6628778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-06T01:26:38.6628778Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2d480617-d487-a85f-53af-44bccfa3a83a/test-blob-5b25ec85-684e-e022-9b41-ab8da3adc8d6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Sep 2024 01:26:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "8vMstXiy1ZuzokYOIJ7qTKYu3JaOHbYHWP6KvtZUbLJQac7L2lOdLWJ51+KcYYtunVhXDFiRu9Q9JVx6JxfEXzWTvbbQH3FSkK8zFUbUa/ZyHCB+/V9Zvq75jbX2IwVLtHesCKTUnX7mBHupXaaOabpmBwv2RmHWOf8I15G8W2yp6GHOKGJSnX6imPjjsGAIayT7kBv5VW0V1c+lzMbtKqgP/3VEv0FXFGqNVK5p8oieAGxswctRr5LzuFKTrdC3tW5P1LHqw6vjo3yxbAG/rONGBsxagGjdvU/jUAbuxGaZ1Z9AGh3WszzAiR1On0ORNAxuTaYEXTQFcRZiB3Ok9N8VGJdifpLFb1KPmfZKjh4MUhv6gHfAlHdqO6gHdKzJG5U+OYerL7Z6qd1TdMM+uuP4VrVXqnRoVYMf90Ppvvqmxn1hDFWWYCNlgNeZbCCzLIDFDh73cXEg1uMEjDdykOrira5F3K2NYfWS8Sqdzulja8vCJK/cr1QMQDZyktTr8u/str5xbk/TN6woZIBHgwf5oCBrsGs6Bv5ZOZt3Gs8hpv86sBgr8f187+wDs0rUxb0uePG0gEKEsa/AGDS0Wx3dB76ADNPvzq8i78B+N1OzhXPeSKHdbSW8tf5oa9nIx5PPJayMU7jpP6pCkZGCBXpcDJLA1RJ7AJqYxFfUhmPWWScsrxGnJzG79An3mtuUOrCEC15GB/KBUyUR845hFbhHbDdqVVVoteVhBeAIhGW+BIqmT3sEj1E0q1vslTSjWt9Rry6kKeRaG1V55QIReM+/Uu4EusU9QtzlNar6eyCxvasBt9Q3GtulTDQli6pPIzOMLUJFnp8aE21RvvQ6YKA1xydXD8D6hzgTXm6RF7YxlhF2bU7dax8M56Rn5VvnauuT8MOD+BNykqUKMj8wiPy2Hyjiw/NRV1wISygckqHcLPOD/Sfyrp7+BNqo0znf216nscUzBKf4Qphne6zrVgAELQVLrYvUw3GK478YqYQiKG/JdOHbqSdMiruPizPxE67ZpKUzky7T0+1UqCHn35gTRFI9IeEfKITe/yLPRTg+mdARPwTf75VB9qHzhwAGZasie0bhs/HMunwgVZQMA461Fg9Q1qCUNFW8/CtALKGD15l2rcrxXeXeRYSIvpkBNfITPnDxtY4LjkbwJLfGi47bnX36lVbDw7kqcZEbC3a8u8Y4Le0wkiEKax6DATgtGLn2rSEbB5+cT3q3x0T98IPQNGnxjV2gqwpb7yo3QMKA/FnXJF1UoLMmnN5yeMrdDXqbsszPPIpbVgIWvxh1ZA64NsrqJssle5S1yvB/LTJAfuGvm431scDOe85bPuCbsTjPukEA8uavdjc4GnKa3A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "bcEql6dZ+bphVWi2wvC9gQ==",
        "ETag": "\"0x8DCCE12F4898DF1\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:26:38 GMT",
        "x-ms-file-last-write-time": "2024-09-06T01:26:38.7156465Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2d480617-d487-a85f-53af-44bccfa3a83a/test-blob-5b25ec85-684e-e022-9b41-ab8da3adc8d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:26:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE12F4898DF1\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:26:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-06T01:26:38.7156465Z",
        "x-ms-file-creation-time": "2024-09-06T01:26:38.6628778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-06T01:26:38.7156465Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2d480617-d487-a85f-53af-44bccfa3a83a/test-blob-5b25ec85-684e-e022-9b41-ab8da3adc8d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:26:39 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE12F4898DF1\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:26:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-06T01:26:38.7156465Z",
        "x-ms-file-creation-time": "2024-09-06T01:26:38.6628778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-06T01:26:38.7156465Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2d480617-d487-a85f-53af-44bccfa3a83a/test-blob-5b25ec85-684e-e022-9b41-ab8da3adc8d6?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Fri, 06 Sep 2024 01:26:39 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE12F4B10DB1\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:26:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-06T01:26:38.9745073Z",
        "x-ms-file-creation-time": "2024-09-06T01:26:38.6628778Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-06T01:26:38.9745073Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2d480617-d487-a85f-53af-44bccfa3a83a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:26:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1153105580",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
