{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-723bd520-740a-2269-c1e9-0ee9b61e6ecd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:20:00 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC0D1A1B0746\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-723bd520-740a-2269-c1e9-0ee9b61e6ecd/test-blob-9e0a842b-a2d6-8527-9a71-e71efe5cbf21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC0D1A3699CF\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T20:20:01.2239311Z",
        "x-ms-file-creation-time": "2024-09-23T20:20:01.2239311Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T20:20:01.2239311Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-723bd520-740a-2269-c1e9-0ee9b61e6ecd/test-blob-9e0a842b-a2d6-8527-9a71-e71efe5cbf21?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "Uo2TrqTVZecWkOMIx0W6cT0Au9iIqtJ8iLV7nUqUD4MM89HavP1pWHiurWrzqEg3YH3tmk4dMae7FyXvWcedgoFf+9N04LQ/l2Ng2f1oieBsRDzNpnQ178IpH6XYev6wESrok611w4DIrQPqvViqU41FghWK0NsMKgwQSsAPZxxlr8fSf/Yy94G7BPlxSjJqf8wXk/foJkBP22ihZHjAuEXmhQ2Q19OXEouUzsvhm+DZpsv0+NQkfImGg6ONkZMI+0yzisQk2qf4f4BsU1d1bUCIx72sy8BxwgmDCVQvCYD3jNJ/LhAbtcwj/HhTtygyERVjBcrVWzCLQci7odBTyHYAdceE9T8vbBLxiM5HHgrgUfg/zAO1ITCh8+xIYBP70DMCU0JhrRvWNJm45NJhRCO+2k/YFPxySlOX4gFS5gz+9riaRcrHf6TcaJhq/T1dP6/JioXDIrw3kAjvysoZhE2Nuu0ax/9Y9lur/KtkB00VOaJSiFyGOtP7Y7XC2LXZwuRK3UNPQ3iwcJQpGCYR04i72pAnx/vwBn8aHmNKlh6m0TrHGSoKxfUqohjIXSKt6o8sBv4ksvroWtbDNSQVZtl2g0bsSrldsRSa/SXjKKldbTTTHY8fgR8/3r9TRo/RFTw+UtnbwKDWz1XpibXVBTEtZcjwQUhKVgEnrWv6CWqEyejopdbPgqyT/U06NvdqadmNJuHH4NPz9PzYtBM028XqZcDM7WBbXeMbXEP7DyAJvUOSbOOJvegU9bHZ986ZXiKIT9E3nXx4Msj+q4SQ9+TczvbPoW7hYafYuPeugWYUgv4hc79O0iDHGTobihFkg/3M/SjXybyzpu4pX+SEyrBh6SiGb4QljfzWCIg0xteWczT64oQ9PblBbczRJXM7Qk+KuqHo3hR4p3AsAME0f+AWkuuviucsI6tvRAG3U2eJm8U4qgs2rZUggTsTET33DO7supOHi7doXpb1eJkSwFQJomT8/NTU4OVVjwmsGBJueDgTy5jUAQ8N0Ex1QDT8DcDnCm7Y+xAZGNqtMvyuvEWEhwBg//W7NKFV7iyIXqCwWIFIxQ2jlXwo+bK+Js4TXhQG8Lk0nA7LK9XNgwzkkbk6/dl6Zfc44fGDOAZC/Q7SQY8Ygm7mfLxzfZk31hJwQ2j4hCj1mfgczQ/IsGMHiC7H+kJ9zA5LU4EdBuhdAQrfE/SeSnjm3aeW+7ReHctZbPVrcNvQ83dZrTCn15MQv8wE6Z1uaT614R2a5tFZ7TW1xJry8pAvDyB8RJxIPgUUhjvoWTQu6gK3tY6+NQymAMD68RP5Hcw71dp88SWhbaIXhl+VcJMBh9mXOzwCcdkT1kTcTU3yGmhurYRasfjcFg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "52aexFOD9OxBZ5XuIAZ5Vw==",
        "ETag": "\"0x8DCDC0D1A453DB2\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-file-last-write-time": "2024-09-23T20:20:01.3198770Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-723bd520-740a-2269-c1e9-0ee9b61e6ecd/test-blob-9e0a842b-a2d6-8527-9a71-e71efe5cbf21",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDC0D1A453DB2\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T20:20:01.3198770Z",
        "x-ms-file-creation-time": "2024-09-23T20:20:01.2239311Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T20:20:01.3198770Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-723bd520-740a-2269-c1e9-0ee9b61e6ecd/test-blob-9e0a842b-a2d6-8527-9a71-e71efe5cbf21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDC0D1A453DB2\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T20:20:01.3198770Z",
        "x-ms-file-creation-time": "2024-09-23T20:20:01.2239311Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T20:20:01.3198770Z",
        "x-ms-file-parent-id": "0",[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-723bd520-740a-2269-c1e9-0ee9b61e6ecd/test-blob-9e0a842b-a2d6-8527-9a71-e71efe5cbf21?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-file-attributes": "Preserve",
        "x-ms-file-creation-time": "Preserve",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-permission": "Preserve",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC0D1A8682FE\"",
        "Last-Modified": "Mon, 23 Sep 2024 20:20:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T20:20:01.7476350Z",
        "x-ms-file-creation-time": "2024-09-23T20:20:01.2239311Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T20:20:01.7476350Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-723bd520-740a-2269-c1e9-0ee9b61e6ecd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 20:20:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "660926544",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
