{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Cdn/profiles/myprofilexxx/endpoints?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "497"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.Cdn/profiles/myprofilexxx/endpoints/myendpointxxx",
            "type": "Microsoft.Cdn/profiles/endpoints",
            "name": "myendpointxxx",
            "location": "WestUs",
            "tags": {
              "key1": "value1"
            },
            "properties": {
              "hostName": "myendpointxxx.azureedge.net",
              "originHostHeader": "www.bing.com",
              "originPath": "/image",
              "contentTypesToCompress": [
                "text/html",
                "application/octet-stream"
              ],
              "isCompressionEnabled": true,
              "isHttpAllowed": true,
              "isHttpsAllowed": true,
              "queryStringCachingBehavior": "BypassCaching",
              "optimizationType": null,
              "probePath": null,
              "origins": [
                {
                  "name": "origin1",
                  "properties": {
                    "hostName": "host1.hello.com",
                    "httpPort": null,
                    "httpsPort": null,
                    "originHostHeader": null,
                    "priority": null,
                    "weight": null,
                    "enabled": true,
                    "privateLinkAlias": null,
                    "privateLinkResourceId": null,
                    "privateLinkLocation": null,
                    "privateEndpointStatus": null,
                    "privateLinkApprovalMessage": null
                  }
                }
              ],
              "originGroups": [],
              "defaultOriginGroup": null,
              "customDomains": [],
              "geoFilters": [],
              "deliveryPolicy": null,
              "urlSigningKeys": null,
              "webApplicationFirewallPolicyLink": null,
              "resourceState": "Running",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
