{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4af706a5-2c41-4516-99d0-efe316bb1abb",
        "traceresponse": "00-6cb61bc4427b0ebe3654fdfbdb875f2e-d68acf6ab926c8ea-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsModel;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9259797d-392d-4a8f-b936-f967f8d0c78d",
        "traceresponse": "00-b2229a7b8aac6a3791ff0000649c1d67-105db4e0f88f9968-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsComponent;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Component1\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]},{\"@id\":\"dtmi:samples:DTComponentTestsModel;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"TempModel\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Component\",\"name\":\"Sanitized\",\"schema\":\"dtmi:samples:DTComponentTestsComponent;1\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e51987c2-6bd6-4a9c-b3aa-03c63373c61a",
        "traceresponse": "00-e2c804bc4ba6a51bfe81c01d7a8af2db-515eecfe037f7bac-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:54:24.1366668+00:00\"},{\"id\":\"dtmi:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:54:24.1366965+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9ccb6600-b5c0-40de-989b-8aaa88e3f851",
        "traceresponse": "00-a93e36ddfbfcf40e0a5eb9d89b8863a0-c0a8bf74e38f4d76-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTComponentTestsTempTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"66e66f61-1fc6-4e48-a78f-771ea6216d9c\"",
        "mise-correlation-id": "5eceecbb-fbd1-4969-8b10-251a7c1c5756",
        "traceresponse": "00-06b12b96d1f97d2c876bcbfb46ffd782-b0905b9155a3a70d-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"66e66f61-1fc6-4e48-a78f-771ea6216d9c\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-05-07T05:54:24.3587078Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-05-07T05:54:24.3587078Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-05-07T05:54:24.3587078Z",
          "Prop1": {
            "lastUpdateTime": "2025-05-07T05:54:24.3587078Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json",
        "If-Match": "W/\"66e66f61-1fc6-4e48-a78f-771ea6216d9c\""
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/ComponentProp1\",\"value\":\"value2\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"e94fc0a5-33b6-4a16-a3cc-2c831ed29aba\"",
        "mise-correlation-id": "f0f9035c-bbd5-4ee2-ac27-df2b8b49b4b9",
        "traceresponse": "00-e8ce0006c47463546ab3f4dba57ac7f6-cfc724f936f7f5b2-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "26b675ee-30f4-4575-b98c-e2f0acb7886a",
        "traceresponse": "00-485694ebbb0c47ea8225b951ad836246-dabdf298f2e436cd-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
