{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "363f24a3-806a-4004-9ba3-43795986ceb8",
        "traceresponse": "00-1da84ba251954d0717df3efa7e59c432-ac445aa0dbb7cf04-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsModel;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0a835e21-3e5b-4a0e-ac86-998f0c7d1dd3",
        "traceresponse": "00-d7901675a4e8d1473b7ad711662a9e48-4f320b080a50b82a-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsComponent;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Component1\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]},{\"@id\":\"dtmi:samples:DTComponentTestsModel;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"TempModel\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Component\",\"name\":\"Sanitized\",\"schema\":\"dtmi:samples:DTComponentTestsComponent;1\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3dcf593d-693a-4fdc-8edb-8f9846d04c89",
        "traceresponse": "00-8c312a2799d590d3de901c353f87d258-c64820e80998d8aa-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-20T16:04:00.6176765+00:00\"},{\"id\":\"dtmi:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-20T16:04:00.6176991+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "33cfa746-c755-4428-8c83-13e53aa053f8",
        "traceresponse": "00-72b9679f6e9c2c21b001479efc73fd1f-f9b208185aeca395-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTComponentTestsTempTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"9cd49872-d865-4fe4-95c6-70cbb9b9242d\"",
        "mise-correlation-id": "00639fae-5943-4b22-bd54-550bd10cbb69",
        "traceresponse": "00-869ff9b86d29c93a1fd54c20857e65db-ad34b3c89426cd1b-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"9cd49872-d865-4fe4-95c6-70cbb9b9242d\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-05-20T16:04:00.7143682Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-05-20T16:04:00.7143682Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-05-20T16:04:00.7143682Z",
          "Prop1": {
            "lastUpdateTime": "2025-05-20T16:04:00.7143682Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/ComponentProp1\",\"value\":\"value2\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"d510f211-4d86-4a3a-bfcc-3faf3fc5f35c\"",
        "mise-correlation-id": "e7fb59da-61d5-4f8d-b6e3-b93e9084ea58",
        "traceresponse": "00-8ae3bc5d8c8a564089d21cdd4d1a15fe-a270a20cfaf948b7-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "30a7f255-4ad2-4ccc-9925-694afa9e0fd4",
        "traceresponse": "00-434395dd5d2718966be15898710735ec-62351543e011b474-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
