{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cb58c3be-68cf-4423-a602-8b11b28aa2f4",
        "traceresponse": "00-f795d267dfefb90164973c2fe59deb33-488c199c069ff528-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsModel;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "25ca4722-7a98-4859-ab29-18bbe961e861",
        "traceresponse": "00-5da6bfffeab831abee7cdaa9d0eac36a-ed2bf11fd601d0c7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTComponentTestsComponent;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Component1\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]},{\"@id\":\"dtmi:samples:DTComponentTestsModel;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"TempModel\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"},{\"@type\":\"Component\",\"name\":\"Sanitized\",\"schema\":\"dtmi:samples:DTComponentTestsComponent;1\"},{\"@type\":\"Telemetry\",\"name\":\"Sanitized\",\"schema\":\"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a06fe39a-6e0d-4b2b-a4eb-67163104892e",
        "traceresponse": "00-6a6e1dbb66af3195d8fdaebd48aaf627-2f1dd954d42be358-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:54:17.2116661+00:00\"},{\"id\":\"dtmi:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:54:17.2116901+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d158517e-d4eb-4e0f-bd55-8c2b7d8e3eec",
        "traceresponse": "00-5c59621e98b1c3c126c9eaf5d62ac020-b263c942be91c699-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTComponentTestsTempTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"18c4e109-5a86-4bef-a567-3a5918a1b9ee\"",
        "mise-correlation-id": "71c062f7-7430-4ae4-b12f-f1e30aeb8ae0",
        "traceresponse": "00-d85a40f8cf4a9a124dc4019126e4ed4a-ebf9a7d16e0da302-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"18c4e109-5a86-4bef-a567-3a5918a1b9ee\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-05-07T05:54:17.5659362Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-05-07T05:54:17.5659362Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-05-07T05:54:17.5659362Z",
          "Prop1": {
            "lastUpdateTime": "2025-05-07T05:54:17.5659362Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/ComponentProp1\",\"value\":\"value2\"},{\"op\":\"remove\",\"path\":\"/ComponentProp1\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"bc4e9ab3-c5cb-479c-9bfe-ec7f94f0b5f6\"",
        "mise-correlation-id": "55444d64-8f68-476c-b75e-5e56efa2e379",
        "traceresponse": "00-3e60396fc9a5fd409931be77ce83f9bc-19c87c678baaed22-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a29b322c-a2b2-4981-942a-e5804623bfdf",
        "traceresponse": "00-8500324cdf6c47a06edefe7e2e554ca9-59fe26a12cb81828-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
