{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceNetworking/trafficControllers/TC1?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"58e6bcc9-00b0-4aca-8e3f-0c51adafdfec\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "properties": {
          "configurationEndpoints": [
            "2e5d0165d7c74b8aa21e9ac9807c1c78.alb.azure.com"
          ],
          "frontends": [],
          "associations": [],
          "securityPolicies": [],
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceNetworking/trafficControllers/TC1",
        "name": "TC1",
        "type": "Microsoft.ServiceNetworking/TrafficControllers",
        "etag": "Sanitized",
        "location": "centraluseuap",
        "tags": {
          "key1": "value1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-09-29T07:10:29.8398301Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-09-29T07:10:29.8398301Z"
        }
      }
    }
  ],
  "Variables": {}
}
