{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC2C88C649\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:13 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870/dir169830145310101324?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC2C9AC703\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:14.0396291Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:14.0396291Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:24:14.0396291Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870/pre1698301453216169830145321609758dir0169830145321608760?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC2CABDB7E\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:14.1515646Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:14.1515646Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:24:14.1515646Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870/pre1698301453216169830145321609758file0169830145355205302?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC2CDF18F7\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:24:14.4873719Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:14.4873719Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-10-26T06:24:14.4873719Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870/?comp=list\u0026prefix=pre1698301453216169830145321609758\u0026maxresults=2\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022 ShareName=\u0022share169830145299003870\u0022 DirectoryPath=\u0022\u0022\u003E\u003CPrefix\u003Epre1698301453216169830145321609758\u003C/Prefix\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Epre1698301453216169830145321609758dir0169830145321608760\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Epre1698301453216169830145321609758dir1169830145332709164\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker\u003E1!76!cHJlMTY5ODMwMTQ1MzIxNjE2OTgzMDE0NTMyMTYwOTc1OGRpcjIxNjk4MzAxNDUzNDM3MDMzMzY-\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870/?comp=list\u0026prefix=pre1698301453216169830145321609758\u0026marker=1!76!cHJlMTY5ODMwMTQ1MzIxNjE2OTgzMDE0NTMyMTYwOTc1OGRpcjIxNjk4MzAxNDUzNDM3MDMzMzY-\u0026maxresults=2\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870/?comp=list\u0026prefix=pre1698301453216169830145321609758\u0026marker=1!76!cHJlMTY5ODMwMTQ1MzIxNjE2OTgzMDE0NTMyMTYwOTc1OGZpbGUxMTY5ODMwMTQ1MzcyMzA3NzI2\u0026maxresults=2\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830145299003870?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169830145310101324",
    "now": "2023-10-26T06:24:13.216Z",
    "pre1698301453216": "pre1698301453216169830145321609758",
    "pre1698301453216169830145321609758dir0": "pre1698301453216169830145321609758dir0169830145321608760",
    "pre1698301453216169830145321609758dir1": "pre1698301453216169830145321609758dir1169830145332709164",
    "pre1698301453216169830145321609758dir2": "pre1698301453216169830145321609758dir2169830145343703336",
    "pre1698301453216169830145321609758file0": "pre1698301453216169830145321609758file0169830145355205302",
    "pre1698301453216169830145321609758file1": "pre1698301453216169830145321609758file1169830145372307726",
    "pre1698301453216169830145321609758file2": "pre1698301453216169830145321609758file2169830145383407931",
    "share": "share169830145299003870"
  }
}
