{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F72F2FA2A5\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:40 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735/dir175855941704702892?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F72F5DCC70\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T16:43:40.3393136Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:40.3393136Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-22T16:43:40.3393136Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735/pre1758559417360175855941736008020dir0175855941736001698?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F72F8D0BCA\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T16:43:40.6489546Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:40.6489546Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-22T16:43:40.6489546Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735/pre1758559417360175855941736008020file0175855941825309667?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F730159F82\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-22T16:43:41.5440258Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:41.5440258Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-09-22T16:43:41.5440258Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735/?comp=list&prefix=pre1758559417360175855941736008020&maxresults=2&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175855941674902735\" DirectoryPath=\"\"><Prefix>pre1758559417360175855941736008020</Prefix><MaxResults>2</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1758559417360175855941736008020dir0175855941736001698</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1758559417360175855941736008020dir1175855941765804859</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker>1!76!cHJlMTc1ODU1OTQxNzM2MDE3NTg1NTk0MTczNjAwODAyMGRpcjIxNzU4NTU5NDE3OTU1MDcxODU-</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735/?comp=list&prefix=pre1758559417360175855941736008020&marker=1!76!cHJlMTc1ODU1OTQxNzM2MDE3NTg1NTk0MTczNjAwODAyMGRpcjIxNzU4NTU5NDE3OTU1MDcxODU-&maxresults=2&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175855941674902735\" DirectoryPath=\"\"><Prefix>pre1758559417360175855941736008020</Prefix><Marker>1!76!cHJlMTc1ODU1OTQxNzM2MDE3NTg1NTk0MTczNjAwODAyMGRpcjIxNzU4NTU5NDE3OTU1MDcxODU-</Marker><MaxResults>2</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1758559417360175855941736008020dir2175855941795507185</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>pre1758559417360175855941736008020file0175855941825309667</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!76!cHJlMTc1ODU1OTQxNzM2MDE3NTg1NTk0MTczNjAwODAyMGZpbGUxMTc1ODU1OTQxODU2MTA1NDI3</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735/?comp=list&prefix=pre1758559417360175855941736008020&marker=1!76!cHJlMTc1ODU1OTQxNzM2MDE3NTg1NTk0MTczNjAwODAyMGZpbGUxMTc1ODU1OTQxODU2MTA1NDI3&maxresults=2&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175855941674902735\" DirectoryPath=\"\"><Prefix>pre1758559417360175855941736008020</Prefix><Marker>1!76!cHJlMTc1ODU1OTQxNzM2MDE3NTg1NTk0MTczNjAwODAyMGZpbGUxMTc1ODU1OTQxODU2MTA1NDI3</Marker><MaxResults>2</MaxResults><DirectoryId>0</DirectoryId><Entries><File><Name>pre1758559417360175855941736008020file1175855941856105427</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1758559417360175855941736008020file2175855941886306722</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855941674902735?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175855941704702892",
    "now": "2025-09-22T16:43:37.360Z",
    "pre1758559417360": "pre1758559417360175855941736008020",
    "pre1758559417360175855941736008020dir0": "pre1758559417360175855941736008020dir0175855941736001698",
    "pre1758559417360175855941736008020dir1": "pre1758559417360175855941736008020dir1175855941765804859",
    "pre1758559417360175855941736008020dir2": "pre1758559417360175855941736008020dir2175855941795507185",
    "pre1758559417360175855941736008020file0": "pre1758559417360175855941736008020file0175855941825309667",
    "pre1758559417360175855941736008020file1": "pre1758559417360175855941736008020file1175855941856105427",
    "pre1758559417360175855941736008020file2": "pre1758559417360175855941736008020file2175855941886306722",
    "share": "share175855941674902735"
  }
}
