{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855938387401098?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F71B977581\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855938387401098/dir175855938417502518?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F71BC5F9BD\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T16:43:07.4676157Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:07.4676157Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-22T16:43:07.4676157Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855938387401098/dir175855938417502518/dir0175855938447800840?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F71BF38D4B\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T16:43:07.7663051Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:07.7663051Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-22T16:43:07.7663051Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855938387401098/dir175855938417502518/file0175855938537400936?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F71C7CBC93\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-22T16:43:08.6653587Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:08.6653587Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-09-22T16:43:08.6653587Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855938387401098/dir175855938417502518?comp=list&restype=directory&include=Timestamps,Etag,Attributes,PermissionKey&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175855938387401098\" DirectoryPath=\"dir175855938417502518\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>dir0175855938447800840</Name><FileId>11529285414812647424</FileId><Properties><CreationTime>2025-09-22T16:43:07.7663051Z</CreationTime><LastAccessTime>2025-09-22T16:43:07.7663051Z</LastAccessTime><LastWriteTime>2025-09-22T16:43:07.7663051Z</LastWriteTime><ChangeTime>2025-09-22T16:43:07.7663051Z</ChangeTime><Last-Modified>Mon, 22 Sep 2025 16:43:07 GMT</Last-Modified><Etag>\"0x8DDF9F71BF38D4B\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><Directory><Name>dir1175855938477606269</Name><FileId>16140971433240035328</FileId><Properties><CreationTime>2025-09-22T16:43:08.0649940Z</CreationTime><LastAccessTime>2025-09-22T16:43:08.0649940Z</LastAccessTime><LastWriteTime>2025-09-22T16:43:08.0649940Z</LastWriteTime><ChangeTime>2025-09-22T16:43:08.0649940Z</ChangeTime><Last-Modified>Mon, 22 Sep 2025 16:43:08 GMT</Last-Modified><Etag>\"0x8DDF9F71C2120D4\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><Directory><Name>dir2175855938507503612</Name><FileId>10376363910205800448</FileId><Properties><CreationTime>2025-09-22T16:43:08.3626885Z</CreationTime><LastAccessTime>2025-09-22T16:43:08.3626885Z</LastAccessTime><LastWriteTime>2025-09-22T16:43:08.3626885Z</LastWriteTime><ChangeTime>2025-09-22T16:43:08.3626885Z</ChangeTime><Last-Modified>Mon, 22 Sep 2025 16:43:08 GMT</Last-Modified><Etag>\"0x8DDF9F71C4E8D85\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><File><Name>file0175855938537400936</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length><CreationTime>2025-09-22T16:43:08.6653587Z</CreationTime><LastAccessTime>2025-09-22T16:43:08.6653587Z</LastAccessTime><LastWriteTime>2025-09-22T16:43:08.6653587Z</LastWriteTime><ChangeTime>2025-09-22T16:43:08.6653587Z</ChangeTime><Last-Modified>Mon, 22 Sep 2025 16:43:08 GMT</Last-Modified><Etag>\"0x8DDF9F71C7CBC93\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>6070331687120522831*18203214069713872577</PermissionKey></File><File><Name>file1175855938568007[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855938387401098?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175855938417502518",
    "dir0": "dir0175855938447800840",
    "dir1": "dir1175855938477606269",
    "dir2": "dir2175855938507503612",
    "file0": "file0175855938537400936",
    "file1": "file1175855938568007389",
    "file2": "file2175855938598103039",
    "share": "share175855938387401098"
  }
}
