{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855937894607765?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F718A7DD06\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855937894607765/dir175855937925100863?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F718D707AE\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T16:43:02.5462190Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:02.5462190Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-22T16:43:02.5462190Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855937894607765/dir175855937925100863/dir0175855937956003465?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F719055DAD\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T16:43:02.8498861Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:02.8498861Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-22T16:43:02.8498861Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855937894607765/dir175855937925100863/file0175855938045909919?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF9F7198EB3DD\"",
        "Last-Modified": "Mon, 22 Sep 2025 16:43:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-22T16:43:03.7499357Z",
        "x-ms-file-creation-time": "2025-09-22T16:43:03.7499357Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-09-22T16:43:03.7499357Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855937894607765/dir175855937925100863?comp=list&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share175855937894607765\" DirectoryPath=\"dir175855937925100863\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>dir0175855937956003465</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>dir1175855937986004450</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>dir2175855938016103856</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>file0175855938045909919</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file1175855938076507657</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2175855938106808755</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175855937894607765?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175855937925100863",
    "dir0": "dir0175855937956003465",
    "dir1": "dir1175855937986004450",
    "dir2": "dir2175855938016103856",
    "file0": "file0175855938045909919",
    "file1": "file1175855938076507657",
    "file2": "file2175855938106808755",
    "share": "share175855937894607765"
  }
}
