{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768813419805771?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C246FC8DE17\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:08:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768813419805771/dir173768813431703024?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C246FDBED9D\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:08:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T03:08:54.9651869Z",
        "x-ms-file-creation-time": "2025-01-24T03:08:54.9651869Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T03:08:54.9651869Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768813419805771?restype=share&comp=filepermission&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-permission-format": "Binary",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiQVFBRWdMUUFBQURBQUFBQUFBQUFBQlFBQUFBQ0FLQUFCd0FBQUFBREdBRC9BUjhBQVFJQUFBQUFBQVVnQUFBQUlBSUFBQUFERkFEL0FSOEFBUUVBQUFBQUFBVVNBQUFBQUFBWUFLa0FFZ0FCQWdBQUFBQUFCU0FBQUFBaEFnQUFBQXNZQUFBQUFLQUJBZ0FBQUFBQUJTQUFBQUFoQWdBQUFBTVVBTDhCRXdBQkFRQUFBQUFBQlFzQUFBQUFBQlFBL3dFZkFBRUJBQUFBQUFBRkVnQUFBQUFMRkFBQUFBQVFBUUVBQUFBQUFBTUFBQUFBQVFFQUFBQUFBQVVTQUFBQUFRRUFBQUFBQUFVU0FBQUEiLCJmb3JtYXQiOiJiaW5hcnkifQ=="
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768813419805771/dir173768813431703024173768813454400406?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Hidden|System|Directory|Archive|Offline|NotContentIndexed|NoScrubData",
        "x-ms-file-creation-time": "2025-01-24T03:08:54.5450000Z",
        "x-ms-file-last-write-time": "2025-01-24T03:08:54.5450000Z",
        "x-ms-file-permission": "AQAEgLQAAADAAAAAAAAAABQAAAACAKAABwAAAAADGAD/AR8AAQIAAAAAAAUgAAAAIAIAAAADFAD/AR8AAQEAAAAAAAUSAAAAAAAYAKkAEgABAgAAAAAABSAAAAAhAgAAAAsYAAAAAKABAgAAAAAABSAAAAAhAgAAAAMUAL8BEwABAQAAAAAABQsAAAAAABQA/wEfAAEBAAAAAAAFEgAAAAALFAAAAAAQAQEAAAAAAAMAAAAAAQEAAAAAAAUSAAAAAQEAAAAAAAUSAAAA",
        "x-ms-file-permission-format": "Binary",
        "x-ms-meta-key": "value",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C246FFE8BC3\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:08:55 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Directory | Archive | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2025-01-24T03:08:55.1920579Z",
        "x-ms-file-creation-time": "2025-01-24T03:08:54.5450000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T03:08:54.5450000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768813419805771/dir173768813431703024173768813454400406?restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C246FFE8BC3\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:08:55 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Directory | Archive | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2025-01-24T03:08:55.1920579Z",
        "x-ms-file-creation-time": "2025-01-24T03:08:54.5450000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T03:08:54.5450000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-meta-key": "value",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768813419805771?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173768813431703024",
    "dir173768813431703024": "dir173768813431703024173768813454400406",
    "now": "2025-01-24T03:08:54.545Z",
    "share": "share173768813419805771"
  }
}
