{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC344F3664\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:26 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833/dir169830146614500991?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC3461AB06\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:27.0871302Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:27.0871302Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:24:27.0871302Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833/sourceParentdir169830146626304110?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC34729875\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:27.1980661Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:27.1980661Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:24:27.1980661Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833/sourceParentdir169830146626304110/sourcedir169830146637103337?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC3482E9BB\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:27.3050043Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:27.3050043Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-10-26T06:24:27.3050043Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833/destParentdir169830146648604974?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC3494C16A\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:27.4219370Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:27.4219370Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2023-10-26T06:24:27.4219370Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833/destParentdir169830146648604974/destdir169830146659607379?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC34A5AEE1\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:27.5328737Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:27.3050043Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-10-26T06:24:27.3050043Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833/destParentdir169830146648604974/destdir169830146659607379?restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC34A5AEE1\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:24:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:24:27.5328737Z",
        "x-ms-file-creation-time": "2023-10-26T06:24:27.3050043Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-10-26T06:24:27.3050043Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833/sourceParentdir169830146626304110/sourcedir169830146637103337?restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:d4479b43-601a-0056-5dd5-0762ce000000\n",
        "Time:2023-10-26T06:24:27.7467332Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830146603608833?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir169830146659607379",
    "destParentdir": "destParentdir169830146648604974",
    "dir": "dir169830146614500991",
    "share": "share169830146603608833",
    "sourcedir": "sourcedir169830146637103337",
    "sourceParentdir": "sourceParentdir169830146626304110"
  }
}
