{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768815354700398?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C247B51A65D\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:09:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768815354700398/dir173768815366101604?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C247B63E4C8\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:09:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T03:09:14.3111880Z",
        "x-ms-file-creation-time": "2025-01-24T03:09:14.3111880Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T03:09:14.3111880Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768815354700398/pre1737688153779173768815377907107dir0173768815377901644?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C247B74D23F\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:09:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T03:09:14.4221247Z",
        "x-ms-file-creation-time": "2025-01-24T03:09:14.4221247Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T03:09:14.4221247Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768815354700398/pre1737688153779173768815377907107file0173768815410707383?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C247BA6D777\"",
        "Last-Modified": "Fri, 24 Jan 2025 03:09:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T03:09:14.7499383Z",
        "x-ms-file-creation-time": "2025-01-24T03:09:14.7499383Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-01-24T03:09:14.7499383Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768815354700398/?comp=list&prefix=pre1737688153779173768815377907107&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share173768815354700398\" DirectoryPath=\"\"><Prefix>pre1737688153779173768815377907107</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1737688153779173768815377907107dir0173768815377901644</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1737688153779173768815377907107dir1173768815388803901</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>pre1737688153779173768815377907107dir2173768815399808128</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>pre1737688153779173768815377907107file0173768815410707383</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1737688153779173768815377907107file1173768815422101304</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1737688153779173768815377907107file2173768815433306297</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173768815354700398?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173768815366101604",
    "now": "2025-01-24T03:09:13.779Z",
    "pre1737688153779": "pre1737688153779173768815377907107",
    "pre1737688153779173768815377907107dir0": "pre1737688153779173768815377907107dir0173768815377901644",
    "pre1737688153779173768815377907107dir1": "pre1737688153779173768815377907107dir1173768815388803901",
    "pre1737688153779173768815377907107dir2": "pre1737688153779173768815377907107dir2173768815399808128",
    "pre1737688153779173768815377907107file0": "pre1737688153779173768815377907107file0173768815410707383",
    "pre1737688153779173768815377907107file1": "pre1737688153779173768815377907107file1173768815422101304",
    "pre1737688153779173768815377907107file2": "pre1737688153779173768815377907107file2173768815433306297",
    "share": "share173768815354700398"
  }
}
