{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F2ED9FB8F\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:19:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir176409477242801607?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F2F085BF4\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:19:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:19:33.6304628Z",
        "x-ms-file-creation-time": "2025-11-25T18:19:33.6304628Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:19:33.6304628Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir1%EF%BF%BE176409477273106725?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F2F3633D7\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:19:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:19:33.9309015Z",
        "x-ms-file-creation-time": "2025-11-25T18:19:33.9309015Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:19:33.9309015Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir1%EF%BF%BE176409477273106725/dir%EF%BF%BE0-1176409477303200188?restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:b763a431-901a-0018-0b38-5e729c000000\n",
        "Time:2025-11-25T18:19:34.2344770Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir1%EF%BF%BE176409477273106725/dir%EF%BF%BE0-1176409477303200188?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F2F924C61\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:19:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:19:34.5344609Z",
        "x-ms-file-creation-time": "2025-11-25T18:19:34.5344609Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-11-25T18:19:34.5344609Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir1%EF%BF%BE176409477273106725/file%EF%BF%BE0176409477483502849?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F30773599\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:19:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T18:19:36.0346521Z",
        "x-ms-file-creation-time": "2025-11-25T18:19:36.0346521Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-11-25T18:19:36.0346521Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir1%EF%BF%BE176409477273106725?comp=list&restype=directory&include=Timestamps,Etag,Attributes,PermissionKey&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share176409477212708952\" Encoded=\"true\" DirectoryPath=\"dir1%EF%BF%BE176409477273106725\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name Encoded=\"true\">dir%EF%BF%BE0-1176409477303200188</Name><FileId>16140971433240035328</FileId><Properties><CreationTime>2025-11-25T18:19:34.5344609Z</CreationTime><LastAccessTime>2025-11-25T18:19:34.5344609Z</LastAccessTime><LastWriteTime>2025-11-25T18:19:34.5344609Z</LastWriteTime><ChangeTime>2025-11-25T18:19:34.5344609Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 18:19:34 GMT</Last-Modified><Etag>\"0x8DE2C4F2F924C61\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><Directory><Name Encoded=\"true\">dir%EF%BF%BE1-1176409477363502831</Name><FileId>10376363910205800448</FileId><Properties><CreationTime>2025-11-25T18:19:35.1323480Z</CreationTime><LastAccessTime>2025-11-25T18:19:35.1323480Z</LastAccessTime><LastWriteTime>2025-11-25T18:19:35.1323480Z</LastWriteTime><ChangeTime>2025-11-25T18:19:35.1323480Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 18:19:35 GMT</Last-Modified><Etag>\"0x8DE2C4F2FED8758\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><Directory><Name Encoded=\"true\">dir%EF%BF%BE2-1176409477423301433</Name><FileId>14988049928633188352</FileId><Properties><CreationTime>2025-11-25T18:19:35.7349678Z</CreationTime><LastAccessTime>2025-11-25T18:19:35.7349678Z</LastAccessTime><LastWriteTime>2025-11-25T18:19:35.7349678Z</LastWriteTime><ChangeTime>2025-11-25T18:19:35.7349678Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 18:19:35 GMT</Last-Modified><Etag>\"0x8DE2C4F30497B2E\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>10684201687090704712*18203214069713872577</PermissionKey></Directory><File><Name Encoded=\"true\">file%EF%BF%BE0176409477483502849</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length><CreationTime>2025-11-25T18:19:36.0346521Z</CreationTime><LastAccessTime>2025-11-25T18:19:36.0346521Z</LastAccessTime><LastWriteTime>2025-11-25T18:19:36.0346521Z</LastWriteTime><ChangeTime>2025-11-25T18:19:36.0346521Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 18:19:36 GMT</Last-Modified><Etag>\"0x8DE2C4F30773599\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>6070331687120522831*18203214069713872577</PermissionKey></File><File><Name Encoded=\"true\">fil[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir1%EF%BF%BE176409477273106725?comp=list&prefix=dir%EF%BF%BE&restype=directory&include=Timestamps,Etag,Attributes,PermissionKey&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share176409477212708952\" Encoded=\"true\" DirectoryPath=\"dir1%EF%BF%BE176409477273106725\"><Prefix Encoded=\"true\">dir%EF%BF%BE</Prefix><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name Encoded=\"true\">dir%EF%BF%BE0-1176409477303200188</Name><FileId>16140971433240035328</FileId><Properties><CreationTime>2025-11-25T18:19:34.5344609Z</CreationTime><LastAccessTime>2025-11-25T18:19:34.5344609Z</LastAccessTime><LastWriteTime>2025-11-25T18:19:34.5344609Z</LastWriteTime><ChangeTime>2025-11-25T18:19:34.5344609Z</ChangeTime><Last-Modified>Tue, 25 Nov 2025 18:19:34 GMT</Last-Mo[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952/dir1%EF%BF%BE176409477273106725?comp=list&prefix=file%EF%BF%BE&restype=directory&include=Timestamps,Etag,Attributes,PermissionKey&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477212708952?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409477242801607",
    "dir0-1": "dir\uFFFE0-1176409477303200188",
    "dir1": "dir1\uFFFE176409477273106725",
    "dir1-1": "dir\uFFFE1-1176409477363502831",
    "dir2-1": "dir\uFFFE2-1176409477423301433",
    "file0": "file\uFFFE0176409477483502849",
    "file1": "file\uFFFE1176409477514003088",
    "file2": "file\uFFFE2176409477544400683",
    "share": "share176409477212708952"
  }
}
