{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439361853105101?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6847AA724A9C\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:26:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439361853105101/dir171439361867200724?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6847AA887EFB\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:26:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T12:26:59.2806651Z",
        "x-ms-file-creation-time": "2024-04-29T12:26:59.2806651Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T12:26:59.2806651Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439361853105101/pre1714393618790171439361879004634dir0171439361879005363?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6847AA99E19D\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:26:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T12:26:59.3946013Z",
        "x-ms-file-creation-time": "2024-04-29T12:26:59.3946013Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T12:26:59.3946013Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439361853105101/pre1714393618790171439361879004634file0171439361913206702?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6847AACE3080\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:26:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T12:26:59.7374080Z",
        "x-ms-file-creation-time": "2024-04-29T12:26:59.7374080Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-04-29T12:26:59.7374080Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439361853105101/?comp=list&prefix=pre1714393618790171439361879004634&maxresults=3&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share171439361853105101\" DirectoryPath=\"\"><Prefix>pre1714393618790171439361879004634</Prefix><MaxResults>3</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>pre1714393618790171439361879004634dir0171439361879005363</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pre1714393618790171439361879004634dir1171439361890402288</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>pre1714393618790171439361879004634dir2171439361901805065</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker>1!76!cHJlMTcxNDM5MzYxODc5MDE3MTQzOTM2MTg3OTAwNDYzNGZpbGUwMTcxNDM5MzYxOTEzMjA2NzAy</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439361853105101/?comp=list&prefix=pre1714393618790171439361879004634&marker=1!76!cHJlMTcxNDM5MzYxODc5MDE3MTQzOTM2MTg3OTAwNDYzNGZpbGUwMTcxNDM5MzYxOTEzMjA2NzAy&maxresults=6&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share171439361853105101\" DirectoryPath=\"\"><Prefix>pre1714393618790171439361879004634</Prefix><Marker>1!76!cHJlMTcxNDM5MzYxODc5MDE3MTQzOTM2MTg3OTAwNDYzNGZpbGUwMTcxNDM5MzYxOTEzMjA2NzAy</Marker><MaxResults>6</MaxResults><DirectoryId>0</DirectoryId><Entries><File><Name>pre1714393618790171439361879004634file0171439361913206702</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1714393618790171439361879004634file1171439361924804819</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>pre1714393618790171439361879004634file2171439361936203829</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439361853105101?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171439361867200724",
    "now": "2024-04-29T12:26:58.790Z",
    "pre1714393618790": "pre1714393618790171439361879004634",
    "pre1714393618790171439361879004634dir0": "pre1714393618790171439361879004634dir0171439361879005363",
    "pre1714393618790171439361879004634dir1": "pre1714393618790171439361879004634dir1171439361890402288",
    "pre1714393618790171439361879004634dir2": "pre1714393618790171439361879004634dir2171439361901805065",
    "pre1714393618790171439361879004634file0": "pre1714393618790171439361879004634file0171439361913206702",
    "pre1714393618790171439361879004634file1": "pre1714393618790171439361879004634file1171439361924804819",
    "pre1714393618790171439361879004634file2": "pre1714393618790171439361879004634file2171439361936203829",
    "share": "share171439361853105101"
  }
}
