{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:27:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1939530605"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272024-02-26T20%3A27%3A42.0715015Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1939530605\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName1939530605",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_00000000-0000-0000-0000-000000000000",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:27:43 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF9hZWM4MWFmZi1mOTQ3LTQxZDMtNjc1MS01ZDljOGQ5MTg5N2UNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfOGU1YzEwNGYtY2Y1MC00NGQxLTZhZDUtMDMyMDk1MDg0OTNlDQoNCi0tY2hhbmdlc2V0XzhlNWMxMDRmLWNmNTAtNDRkMS02YWQ1LTAzMjA5NTA4NDkzZQ0KQ29udGVudC1UcmFuc2Zlci1FbmNvZGluZzogYmluYXJ5DQpDb250ZW50LVR5cGU6IGFwcGxpY2F0aW9uL2h0dHANCg0KUE9TVCBodHRwczovL2poZW5kcml4cHJpbS50YWJsZS5jb3Ntb3MuYXp1cmUuY29tL3RhYmxlTmFtZTE5Mzk1MzA2MDUoUGFydGl0aW9uS2V5PSdwYXJ[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/tableName1939530605()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:27:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272024-02-26T20%3A27%3A42.9185543Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Bool": true,
            "Byte": "c29tZWJ5dGVz",
            "DateTime": "2021-07-13T00:00:00Z",
            "Float": 3.14159,
            "Integer": 1,
            "String": "someString",
            "Timestamp": "2024-02-26T20:27:42.9185543Z"
          }
        ],
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#tableName1939530605"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName1939530605\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 26 Feb 2024 20:27:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
