{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1720731170225?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1720731170225",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UJ76wlq3rilez4og--SwGcSd2i9glQw8W_DZKfkD2tk\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:52:53 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzgw;sn=2805780"
      },
      "ResponseBody": {
        "etag": "UJ76wlq3rilez4og--SwGcSd2i9glQw8W_DZKfkD2tk",
        "key": "key1-1720731170225",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:52:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720731170225?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzgw"
      },
      "RequestBody": {
        "key": "key2-1720731170225",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"znGedcfF2l2QBZvxxSR6fkaIIUR1ki0HbV46-cc79ng\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:52:53 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzgx;sn=2805781"
      },
      "ResponseBody": {
        "etag": "znGedcfF2l2QBZvxxSR6fkaIIUR1ki0HbV46-cc79ng",
        "key": "key2-1720731170225",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:52:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720731170225?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzgx"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1720731170225",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"fC6IVq9n3eiitpPxa-ZlwRJUeSoO9tLmTeVwMS7-saY\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:52:53 GMT",
        "Link": "</kv?snapshot=snapshot-1720731170225&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1720731170225&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzgy;sn=2805782"
      },
      "ResponseBody": {
        "etag": "fC6IVq9n3eiitpPxa-ZlwRJUeSoO9tLmTeVwMS7-saY",
        "name": "snapshot-1720731170225",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1720731170225",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:52:53+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1720731170225&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzgy;sn=2805782"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1720731170225?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzgz"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"li4T8NVzfMNN2YUy4cpm0EP9FqqnvTYyx1VWPR3FW2M\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:52:53 GMT",
        "Link": "</kv?snapshot=snapshot-1720731170225&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzg0;sn=2805784"
      },
      "ResponseBody": {
        "etag": "li4T8NVzfMNN2YUy4cpm0EP9FqqnvTYyx1VWPR3FW2M",
        "name": "snapshot-1720731170225",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1720731170225",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:52:53+00:00",
        "expires": "2024-08-10T20:53:14.3624473+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1720731170225?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1Nzg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"znGedcfF2l2QBZvxxSR6fkaIIUR1ki0HbV46-cc79ng\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:52:53 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1Nzg2;sn=2805786"
      },
      "ResponseBody": {
        "etag": "znGedcfF2l2QBZvxxSR6fkaIIUR1ki0HbV46-cc79ng",
        "key": "key2-1720731170225",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:52:53+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1720731170225",
    "key2": "key2-1720731170225",
    "snapshot1": "snapshot-1720731170225"
  }
}
