{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762281383093?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762281383093",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4kjfm82kR5y5QroTviV_OUxgkv8Mg1Zpfpq70YFmc8Y\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:36:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MTA=;sn=75060410",
        "x-ms-date": "Tue, 04 Nov 2025 18:36:25 GMT"
      },
      "ResponseBody": {
        "etag": "4kjfm82kR5y5QroTviV_OUxgkv8Mg1Zpfpq70YFmc8Y",
        "key": "key1-1762281383093",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:36:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762281383093?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MTA="
      },
      "RequestBody": {
        "key": "key2-1762281383093",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eCFNpth534LC6mzPZBRkUC8E5KI-Jb8s5n6ZyXQN9Po\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:36:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MTE=;sn=75060411",
        "x-ms-date": "Tue, 04 Nov 2025 18:36:25 GMT"
      },
      "ResponseBody": {
        "etag": "eCFNpth534LC6mzPZBRkUC8E5KI-Jb8s5n6ZyXQN9Po",
        "key": "key2-1762281383093",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:36:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762281383093?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MTE="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762281383093",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"IGk309EDiT4mC9Do3rxPQRXUPZV-YTAgzaQR15IH2go\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:36:25 GMT",
        "Link": "</kv?snapshot=snapshot-1762281383093&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762281383093&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MTI=;sn=75060412",
        "x-ms-date": "Tue, 04 Nov 2025 18:36:25 GMT"
      },
      "ResponseBody": {
        "etag": "IGk309EDiT4mC9Do3rxPQRXUPZV-YTAgzaQR15IH2go",
        "name": "snapshot-1762281383093",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762281383093",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:36:25.8181424+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762281383093",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MTI=;sn=75060412",
        "x-ms-date": "Tue, 04 Nov 2025 18:36:25 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762281383093?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MTM="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"7OOeAlN9lJ0N0M3BXJO7UnQ_5FW1kDTMaMby4fNF-f8\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:36:30 GMT",
        "Link": "</kv?snapshot=snapshot-1762281383093&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MTQ=;sn=75060414",
        "x-ms-date": "Tue, 04 Nov 2025 18:36:37 GMT"
      },
      "ResponseBody": {
        "etag": "7OOeAlN9lJ0N0M3BXJO7UnQ_5FW1kDTMaMby4fNF-f8",
        "name": "snapshot-1762281383093",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762281383093",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:36:25+00:00",
        "expires": "2025-12-04T18:36:37.2608225+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762281383093?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA0MTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eCFNpth534LC6mzPZBRkUC8E5KI-Jb8s5n6ZyXQN9Po\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:36:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA0MTY=;sn=75060416",
        "x-ms-date": "Tue, 04 Nov 2025 18:36:37 GMT"
      },
      "ResponseBody": {
        "etag": "eCFNpth534LC6mzPZBRkUC8E5KI-Jb8s5n6ZyXQN9Po",
        "key": "key2-1762281383093",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:36:25+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762281383093",
    "key2": "key2-1762281383093",
    "snapshot1": "snapshot-1762281383093"
  }
}
