{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781548653282?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MtNYE3lG4ja74HWiabomaJTPDDGnqdU4d0HFR8BltRE\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQyNg==;sn=53372426",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:37 GMT"
      },
      "ResponseBody": {
        "etag": "MtNYE3lG4ja74HWiabomaJTPDDGnqdU4d0HFR8BltRE",
        "key": "key1-1781548653282",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:37:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548653282?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQyNg=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6PohnynvWN6ORCVTdOBH_P6lC0GqYHkesCoLnuveRys\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQyNw==;sn=53372427",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:37 GMT"
      },
      "ResponseBody": {
        "etag": "6PohnynvWN6ORCVTdOBH_P6lC0GqYHkesCoLnuveRys",
        "key": "key2-1781548653282",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:37:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548653282?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQyNw=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781548653282",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Zj7s7ENgJWkVypZaZkDzWy6nll40uS5pKPEuMetp5Ig\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:37 GMT",
        "Link": "</kv?snapshot=snapshot-1781548653282&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781548653282&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQyOA==;sn=53372428",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:37 GMT"
      },
      "ResponseBody": {
        "etag": "Zj7s7ENgJWkVypZaZkDzWy6nll40uS5pKPEuMetp5Ig",
        "name": "snapshot-1781548653282",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781548653282",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:37:37.5474373+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781548653282",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQyOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQyOA==;sn=53372428",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:37 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548653282?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQyOQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"l05S-3e7LtcpV4csBvMHq_tVAev81Ek1Onp_kYGmCxg\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:42 GMT",
        "Link": "</kv?snapshot=snapshot-1781548653282&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQzMA==;sn=53372430",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:47 GMT"
      },
      "ResponseBody": {
        "etag": "l05S-3e7LtcpV4csBvMHq_tVAev81Ek1Onp_kYGmCxg",
        "name": "snapshot-1781548653282",
        "description": "a snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1781548653282",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:37:37+00:00",
        "expires": "2026-07-15T18:37:47.85756+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548653282?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjQzMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6PohnynvWN6ORCVTdOBH_P6lC0GqYHkesCoLnuveRys\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:37:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjQzMg==;sn=53372432",
        "x-ms-date": "Mon, 15 Jun 2026 18:37:47 GMT"
      },
      "ResponseBody": {
        "etag": "6PohnynvWN6ORCVTdOBH_P6lC0GqYHkesCoLnuveRys",
        "key": "key2-1781548653282",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:37:37+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781548653282",
    "key2": "key2-1781548653282",
    "snapshot1": "snapshot-1781548653282"
  }
}
