{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759424534033?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759424534033",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cVZZRhEC8YHRqNNJMs9xkVP18jKUKZs3d7bUyaxcFQA\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNzY=;sn=74235176"
      },
      "ResponseBody": {
        "etag": "cVZZRhEC8YHRqNNJMs9xkVP18jKUKZs3d7bUyaxcFQA",
        "key": "key1-1759424534033",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:02:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759424534033?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxNzY="
      },
      "RequestBody": {
        "key": "key2-1759424534033",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3pFtOv7OguD3s_ZGR3W_nSiyWdiv1qmGLF_LyXG7QWM\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNzc=;sn=74235177"
      },
      "ResponseBody": {
        "etag": "3pFtOv7OguD3s_ZGR3W_nSiyWdiv1qmGLF_LyXG7QWM",
        "key": "key2-1759424534033",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:02:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759424534033?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxNzc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1759424534033",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"uYseB8J5MHggyGVFnPOI5K3CC-M8n4eODGE90hqwxIE\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:17 GMT",
        "Link": "</kv?snapshot=snapshot-1759424534033&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759424534033&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNzg=;sn=74235178"
      },
      "ResponseBody": {
        "etag": "uYseB8J5MHggyGVFnPOI5K3CC-M8n4eODGE90hqwxIE",
        "name": "snapshot-1759424534033",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1759424534033",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T17:02:17.0693226+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1759424534033&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxNzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNzg=;sn=74235178"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759424534033?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxNzk="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1759424534033",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxNzk=;sn=74235179"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759424534033?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxNzk="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"ih8NeAQ8pDQd5Yaa7HAwtHEbeT7kb5Js2KBVKfxhSQg\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:27 GMT",
        "Link": "</kv?snapshot=snapshot-1759424534033&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODA=;sn=74235180"
      },
      "ResponseBody": {
        "etag": "ih8NeAQ8pDQd5Yaa7HAwtHEbeT7kb5Js2KBVKfxhSQg",
        "name": "snapshot-1759424534033",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1759424534033",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T17:02:17+00:00",
        "expires": "2025-11-01T17:02:28.1004488+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759424534033?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUxODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3pFtOv7OguD3s_ZGR3W_nSiyWdiv1qmGLF_LyXG7QWM\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:02:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUxODI=;sn=74235182"
      },
      "ResponseBody": {
        "etag": "3pFtOv7OguD3s_ZGR3W_nSiyWdiv1qmGLF_LyXG7QWM",
        "key": "key2-1759424534033",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:02:16+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759424534033",
    "key2": "key2-1759424534033",
    "snapshot1": "snapshot-1759424534033"
  }
}
