{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758790504578?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758790504578",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LPWTsqH3inGbGx-xdG4Pb_7bDx7Gm9ZZbvdBpK3buDA\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:55:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTU5NTQ=;sn=74015954"
      },
      "ResponseBody": {
        "etag": "LPWTsqH3inGbGx-xdG4Pb_7bDx7Gm9ZZbvdBpK3buDA",
        "key": "key1-1758790504578",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:55:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758790504578?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTU5NTQ="
      },
      "RequestBody": {
        "key": "key2-1758790504578",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bPxWBlCKOaNeHWiZBXSY_CJGRIMR9VUbsQoaH8u8wic\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:55:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTU5NTU=;sn=74015955"
      },
      "ResponseBody": {
        "etag": "bPxWBlCKOaNeHWiZBXSY_CJGRIMR9VUbsQoaH8u8wic",
        "key": "key2-1758790504578",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:55:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758790504578?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTU5NTU="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758790504578",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"CIF2rbkoCZKUqwlXj2rCBn4ZbTnokbGMbAEIYaLsaMc\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:55:07 GMT",
        "Link": "</kv?snapshot=snapshot-1758790504578&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758790504578&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTU5NTY=;sn=74015956"
      },
      "ResponseBody": {
        "etag": "CIF2rbkoCZKUqwlXj2rCBn4ZbTnokbGMbAEIYaLsaMc",
        "name": "snapshot-1758790504578",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758790504578",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:55:07.5401435+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758790504578",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTU5NTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTU5NTY=;sn=74015956"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758790504578?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTU5NTc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758790504578",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTU5NTc=;sn=74015957"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758790504578?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTU5NTc="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"qwq8fvg6iMLAv9zdr_WCOByM9CkMPVT49aTyqW2CeXA\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:55:09 GMT",
        "Link": "</kv?snapshot=snapshot-1758790504578&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTU5NTg=;sn=74015958"
      },
      "ResponseBody": {
        "etag": "qwq8fvg6iMLAv9zdr_WCOByM9CkMPVT49aTyqW2CeXA",
        "name": "snapshot-1758790504578",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758790504578",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:55:07+00:00",
        "expires": "2025-10-25T08:55:18.685213+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758790504578?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTU5NTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bPxWBlCKOaNeHWiZBXSY_CJGRIMR9VUbsQoaH8u8wic\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:55:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTU5NjA=;sn=74015960"
      },
      "ResponseBody": {
        "etag": "bPxWBlCKOaNeHWiZBXSY_CJGRIMR9VUbsQoaH8u8wic",
        "key": "key2-1758790504578",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:55:07+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758790504578",
    "key2": "key2-1758790504578",
    "snapshot1": "snapshot-1758790504578"
  }
}
