{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1780004995957?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ot452g3sD3k8Xgn7EVfDyWFWoDzfl1-6lPxLDVZDjRs\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk4Mw==;sn=115291983",
        "x-ms-date": "Thu, 28 May 2026 21:49:56 GMT"
      },
      "ResponseBody": {
        "etag": "Ot452g3sD3k8Xgn7EVfDyWFWoDzfl1-6lPxLDVZDjRs",
        "key": "key1-1780004995957",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:49:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780004995957?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk4Mw=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mgtxZGA3V7M8OjcnqaE0wHKTYzIClgHtLjh9KdZGilA\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk4NA==;sn=115291984",
        "x-ms-date": "Thu, 28 May 2026 21:49:56 GMT"
      },
      "ResponseBody": {
        "etag": "mgtxZGA3V7M8OjcnqaE0wHKTYzIClgHtLjh9KdZGilA",
        "key": "key2-1780004995957",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:49:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780004995957?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk4NA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1780004995957",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"327KyPHzW56m8ZwyK5N5Uzoi-AWE4LTNacMelJSIeSo\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:56 GMT",
        "Link": "</kv?snapshot=snapshot-1780004995957&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1780004995957&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk4NQ==;sn=115291985",
        "x-ms-date": "Thu, 28 May 2026 21:49:56 GMT"
      },
      "ResponseBody": {
        "etag": "327KyPHzW56m8ZwyK5N5Uzoi-AWE4LTNacMelJSIeSo",
        "name": "snapshot-1780004995957",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1780004995957",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:49:56.1097716+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1780004995957",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk4NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk4NQ==;sn=115291985",
        "x-ms-date": "Thu, 28 May 2026 21:49:56 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780004995957?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk5OA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"-wfYfg2W7dej_vfaP64v8y4Q8NL7CXYCWHEKVaTPfLg\"",
        "Last-Modified": "Thu, 28 May 2026 21:50:20 GMT",
        "Link": "</kv?snapshot=snapshot-1780004995957&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk5OQ==;sn=115291999",
        "x-ms-date": "Thu, 28 May 2026 21:50:24 GMT"
      },
      "ResponseBody": {
        "etag": "-wfYfg2W7dej_vfaP64v8y4Q8NL7CXYCWHEKVaTPfLg",
        "name": "snapshot-1780004995957",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1780004995957",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:49:56+00:00",
        "expires": "2026-06-27T21:50:24.2005902+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780004995957?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjAwMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mgtxZGA3V7M8OjcnqaE0wHKTYzIClgHtLjh9KdZGilA\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjAwMQ==;sn=115292001",
        "x-ms-date": "Thu, 28 May 2026 21:50:24 GMT"
      },
      "ResponseBody": {
        "etag": "mgtxZGA3V7M8OjcnqaE0wHKTYzIClgHtLjh9KdZGilA",
        "key": "key2-1780004995957",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:49:56+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1780004995957",
    "key2": "key2-1780004995957",
    "snapshot1": "snapshot-1780004995957"
  }
}
