{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762328001044?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762328001044",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zYOsN0OFe3BVlt4pHvNMB1AbgdqVQhdFXdezk3QcUeA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:33:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMzNTY=;sn=75083356",
        "x-ms-date": "Wed, 05 Nov 2025 07:33:23 GMT"
      },
      "ResponseBody": {
        "etag": "zYOsN0OFe3BVlt4pHvNMB1AbgdqVQhdFXdezk3QcUeA",
        "key": "key1-1762328001044",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:33:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762328001044?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMzNTY="
      },
      "RequestBody": {
        "key": "key2-1762328001044",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"axAHDjhC4oYpwvSWg_GJDdLywEyyI6gTKKpz6pvocFA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:33:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMzNTc=;sn=75083357",
        "x-ms-date": "Wed, 05 Nov 2025 07:33:23 GMT"
      },
      "ResponseBody": {
        "etag": "axAHDjhC4oYpwvSWg_GJDdLywEyyI6gTKKpz6pvocFA",
        "key": "key2-1762328001044",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:33:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762328001044?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMzNTc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762328001044",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"slaLADHMW-WtvwnLxvz53Twy6pbgrUSgZYGBdEAz0N0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:33:23 GMT",
        "Link": "</kv?snapshot=snapshot-1762328001044&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762328001044&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMzNTg=;sn=75083358",
        "x-ms-date": "Wed, 05 Nov 2025 07:33:23 GMT"
      },
      "ResponseBody": {
        "etag": "slaLADHMW-WtvwnLxvz53Twy6pbgrUSgZYGBdEAz0N0",
        "name": "snapshot-1762328001044",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762328001044",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:33:23.6516619+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762328001044",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMzNTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMzNTg=;sn=75083358",
        "x-ms-date": "Wed, 05 Nov 2025 07:33:23 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762328001044?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMzNTk="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762328001044",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMzNTk=;sn=75083359",
        "x-ms-date": "Wed, 05 Nov 2025 07:33:34 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/already-exists",
        "title": "The resource already exists.",
        "status": 409,
        "detail": ""
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762328001044?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMzNTk="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"5tf8HFKL722D6koUhk23_TdYhDBr2TP9G7vhD9Vgf7U\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:33:32 GMT",
        "Link": "</kv?snapshot=snapshot-1762328001044&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMzNjA=;sn=75083360",
        "x-ms-date": "Wed, 05 Nov 2025 07:33:34 GMT"
      },
      "ResponseBody": {
        "etag": "5tf8HFKL722D6koUhk23_TdYhDBr2TP9G7vhD9Vgf7U",
        "name": "snapshot-1762328001044",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762328001044",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:33:23+00:00",
        "expires": "2025-12-05T07:33:34.6870061+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762328001044?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMzNjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"axAHDjhC4oYpwvSWg_GJDdLywEyyI6gTKKpz6pvocFA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:33:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMzNjI=;sn=75083362",
        "x-ms-date": "Wed, 05 Nov 2025 07:33:35 GMT"
      },
      "ResponseBody": {
        "etag": "axAHDjhC4oYpwvSWg_GJDdLywEyyI6gTKKpz6pvocFA",
        "key": "key2-1762328001044",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:33:23+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762328001044",
    "key2": "key2-1762328001044",
    "snapshot1": "snapshot-1762328001044"
  }
}
