{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759138716164?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759138716164",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Iwr7Ak3U1q2lOgShtCbUeILLoiQzktt4EU3jttonuGc\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyNTY=;sn=74105256"
      },
      "ResponseBody": {
        "etag": "Iwr7Ak3U1q2lOgShtCbUeILLoiQzktt4EU3jttonuGc",
        "key": "key1-1759138716164",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:38:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759138716164?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyNTY="
      },
      "RequestBody": {
        "key": "key2-1759138716164",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KotIpOwXuK2MsXpkSqZF95NijlFBZwkyrKVAg6lOw_E\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyNTc=;sn=74105257"
      },
      "ResponseBody": {
        "etag": "KotIpOwXuK2MsXpkSqZF95NijlFBZwkyrKVAg6lOw_E",
        "key": "key2-1759138716164",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:38:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759138716164?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyNTc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1759138716164",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"_r733jPfLwEsIjScNhFGaHcqnlOmMlUsKLN7R5IkS0w\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:39 GMT",
        "Link": "</kv?snapshot=snapshot-1759138716164&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759138716164&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyNTg=;sn=74105258"
      },
      "ResponseBody": {
        "etag": "_r733jPfLwEsIjScNhFGaHcqnlOmMlUsKLN7R5IkS0w",
        "name": "snapshot-1759138716164",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1759138716164",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-29T09:38:39.0219176+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1759138716164",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyNTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyNTg=;sn=74105258"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759138716164?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyNTk="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"BcuWF6BjMGs69PRUW5nCQdSWOP7dIu0MEQJlHEM6Qrc\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:41 GMT",
        "Link": "</kv?snapshot=snapshot-1759138716164&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyNjA=;sn=74105260"
      },
      "ResponseBody": {
        "etag": "BcuWF6BjMGs69PRUW5nCQdSWOP7dIu0MEQJlHEM6Qrc",
        "name": "snapshot-1759138716164",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1759138716164",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-29T09:38:39+00:00",
        "expires": "2025-10-29T09:38:50.2803936+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759138716164?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyNjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KotIpOwXuK2MsXpkSqZF95NijlFBZwkyrKVAg6lOw_E\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyNjI=;sn=74105262"
      },
      "ResponseBody": {
        "etag": "KotIpOwXuK2MsXpkSqZF95NijlFBZwkyrKVAg6lOw_E",
        "key": "key2-1759138716164",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:38:38+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759138716164",
    "key2": "key2-1759138716164",
    "snapshot1": "snapshot-1759138716164"
  }
}
