{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1769396881411?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1769396881411",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eCw12x2wKhM6kMXiXxFeiICE_9YaJky3FkmYgb_8mTU\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAxOA==;sn=103849018",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:04 GMT"
      },
      "ResponseBody": {
        "etag": "eCw12x2wKhM6kMXiXxFeiICE_9YaJky3FkmYgb_8mTU",
        "key": "key1-1769396881411",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:08:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396881411?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAxOA=="
      },
      "RequestBody": {
        "key": "key2-1769396881411",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iYs-B40GABYG1EUpMEekobaNOYKdzxaMJKGFIPIv9IU\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAxOQ==;sn=103849019",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:04 GMT"
      },
      "ResponseBody": {
        "etag": "iYs-B40GABYG1EUpMEekobaNOYKdzxaMJKGFIPIv9IU",
        "key": "key2-1769396881411",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:08:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396881411?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAxOQ=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1769396881411",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"TV-1coheCGiDFThCekwnyj0hHgHidmhybQW0HchiWPk\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:04 GMT",
        "Link": "</kv?snapshot=snapshot-1769396881411&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1769396881411&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAyMA==;sn=103849020",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:04 GMT"
      },
      "ResponseBody": {
        "etag": "TV-1coheCGiDFThCekwnyj0hHgHidmhybQW0HchiWPk",
        "name": "snapshot-1769396881411",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1769396881411",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T03:08:04.8090071+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1769396881411",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAyMA==;sn=103849020",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:04 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396881411?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAyMQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"mvKa_tHbmrjlpzfVmRXNlYyq0cyErHfjdzgrmT3zblY\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:18 GMT",
        "Link": "</kv?snapshot=snapshot-1769396881411&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAyMg==;sn=103849022",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:25 GMT"
      },
      "ResponseBody": {
        "etag": "mvKa_tHbmrjlpzfVmRXNlYyq0cyErHfjdzgrmT3zblY",
        "name": "snapshot-1769396881411",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1769396881411",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T03:08:04+00:00",
        "expires": "2026-02-25T03:08:25.5874168+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396881411?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTAyMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iYs-B40GABYG1EUpMEekobaNOYKdzxaMJKGFIPIv9IU\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:08:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTAyNA==;sn=103849024",
        "x-ms-date": "Mon, 26 Jan 2026 03:08:25 GMT"
      },
      "ResponseBody": {
        "etag": "iYs-B40GABYG1EUpMEekobaNOYKdzxaMJKGFIPIv9IU",
        "key": "key2-1769396881411",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:08:04+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1769396881411",
    "key2": "key2-1769396881411",
    "snapshot1": "snapshot-1769396881411"
  }
}
