{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/virtualMachines?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "d6bbd691-5825-4801-8e34-768a73456e5a",
          "0354dccc-f06d-443c-b574-3a4d006173ad"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "typespec-ide",
            "id": "Sanitized",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "southcentralus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-southcentralus": {
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                }
              }
            },
            "properties": {
              "hardwareProfile": {
                "vmSize": "Standard_D2s_v3"
              },
              "provisioningState": "Succeeded",
              "vmId": "ef9f96d4-7378-4018-b9ff-f7d57faf7b19",
              "additionalCapabilities": {
                "hibernationEnabled": false
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "microsoftwindowsdesktop",
                  "offer": "windows-11",
                  "sku": "win11-23h2-pro",
                  "version": "latest",
                  "exactVersion": "22631.3737.240607"
                },
                "osDisk": {
                  "osType": "Windows",
                  "name": "typespec-ide_OsDisk_1_6897521fc7e24be087e8bc958591e8ac",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "id": "Sanitized"
                  },
                  "deleteOption": "Delete"
                },
                "dataDisks": [],
                "diskControllerType": "SCSI"
              },
              "osProfile": {
                "computerName": "typespec-ide",
                "adminUsername": "wenjiefu",
                "windowsConfiguration": {
                  "provisionVMAgent": true,
                  "enableAutomaticUpdates": true,
                  "patchSettings": {
                    "patchMode": "AutomaticByOS",
                    "assessmentMode": "ImageDefault",
                    "enableHotpatching": false
                  },
                  "enableVMAgentPlatformUpdates": true
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "securityProfile": {
                "uefiSettings": {
                  "secureBootEnabled": true,
                  "vTpmEnabled": true
                },
                "securityType": "TrustedLaunch"
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "Sanitized",
                    "properties": {
                      "deleteOption": "Detach"
                    }
                  }
                ]
              },
              "diagnosticsProfile": {
                "bootDiagnostics": {
                  "enabled": true
                }
              },
              "licenseType": "Windows_Client",
              "timeCreated": "2024-07-02T06:50:01.3407052+00:00"
            },
            "etag": "Sanitized",
            "zones": [
              "3"
            ],
            "resources": [
              {
                "id": "Sanitized"
              },
              {
                "id": "Sanitized"
              },
              {
                "id": "Sanitized"
              }
            ]
          },
          {
            "name": "typespec-ide-linux-vm",
            "id": "Sanitized",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "southcentralus",
            "tags": {
              "azsecpack": "nonprod",
              "platform[...]
