{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/disks?api-version=2024-03-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "93dba1e7-3184-4f57-aab3-8afa321254de",
          "ff30a330-1ee4-4820-beb0-63a3f56d8dff",
          "a73d20c3-7960-442d-b35e-db458ee8e646"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "typespec-ide-linux-vm_OsDisk_1_c72a4971c4284ca1a4df2dc6376dbf61",
            "id": "Sanitized",
            "type": "Microsoft.Compute/disks",
            "location": "southcentralus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "zones": [
              "1"
            ],
            "managedBy": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/wenjiefu/providers/Microsoft.Compute/virtualMachines/typespec-ide-linux-vm",
            "sku": {
              "name": "Premium_LRS",
              "tier": "Premium"
            },
            "properties": {
              "osType": "Linux",
              "hyperVGeneration": "V2",
              "supportsHibernation": true,
              "supportedCapabilities": {
                "diskControllerTypes": "SCSI, NVMe",
                "acceleratedNetwork": true,
                "architecture": "x64"
              },
              "creationData": {
                "createOption": "FromImage",
                "imageReference": {
                  "id": "Sanitized"
                }
              },
              "diskSizeGB": 30,
              "diskIOPSReadWrite": 120,
              "diskMBpsReadWrite": 25,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "securityProfile": {
                "securityType": "TrustedLaunch"
              },
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2024-07-04T05:02:02.2355273+00:00",
              "provisioningState": "Succeeded",
              "diskState": "Reserved",
              "LastOwnershipUpdateTime": "2024-07-04T18:01:36.202089+00:00",
              "diskSizeBytes": 32213303296,
              "uniqueId": "c72a4971-c428-4ca1-a4df-2dc6376dbf61",
              "tier": "P4"
            }
          },
          {
            "name": "typespec-ide_OsDisk_1_6897521fc7e24be087e8bc958591e8ac",
            "id": "Sanitized",
            "type": "Microsoft.Compute/disks",
            "location": "southcentralus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "zones": [
[...]
