{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Microsoft.Compute/artifacttypes/vmextension/types/VMAccessAgent/versions/1.0.2?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetVMExtension3Min;9999,Microsoft.Compute/GetVMExtension30Min;21999",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "properties": {
          "operatingSystem": "Windows",
          "computeRole": "IaaS",
          "architecture": [
            "x64"
          ],
          "vmScaleSetEnabled": false,
          "supportsMultipleExtensions": false,
          "supportsMigration": false,
          "rollbackSupported": false,
          "isInternalExtension": false,
          "isJsonExtension": false
        },
        "location": "eastus2",
        "name": "1.0.2",
        "id": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Microsoft.Compute/artifacttypes/vmextension/types?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/ListVMExtensionTypes3Min;17999,Microsoft.Compute/ListVMExtensionTypes30Min;22499",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": "[{\"location\":\"eastus2\",\"name\":\"BGInfo\",\"id\":\"Sanitized\"},{\"location\":\"eastus2\",\"name\":\"CustomScriptExtension\",\"id\":\"Sanitized\"},{\"location\":\"eastus2\",\"name\":\"JsonADDomainExtension\",\"id\":\"Sanitized\"},{\"location\":\"eastus2\",\"name\":\"VMAccessAgent\",\"id\":\"Sanitized\"}]"
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/publishers/Microsoft.Compute/artifacttypes/vmextension/types/VMAccessAgent/versions?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-re[...]
