{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1795ded6-c716-f10b-cec9-19cba8cee66f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:52 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE793175B0089\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1a5a2c-b77a-908f-503c-b0378b16fb74?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:52 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE793176F3E55\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1a5a2c-b77a-908f-503c-b0378b16fb74/test-blob-90f1ce72-805e-d9ef-19cd-7e770f618d47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:52 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "Xx/y7kq3LXDr9wRHZ7119tPoA8NgSINMZ4noMldfEAPHjWZWPimO8aSeMsN7Bqw3NtWYjlGquBacpYbBz/sZi\u002BcAgNlWH7ipWREewRa/0WHdsfuCxoGyHNVQuZmizSKphabceobS4Bcd7zVAi/YA3NMl4x7/l8RlTmMEBmUeBovudDxv41fbC9DkZNdMcpHeT9zFfeoDqu3hdiwizdqx/umqURa6kfl8StdOGzLtGdzSJbaIWIig68pPjWwruD31MmbuoiF6JL7jSTIStY\u002B69F1PUKcjKKZgCWVLawONUZKaWOjM/3a7WAH4pQ9WjjY7lJkO22eV0grAjZm7Lri6VvegeFym7vXmlP[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1795ded6-c716-f10b-cec9-19cba8cee66f/test-blob-2bd301a1-facd-f25d-c053-4329f710f180",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7931795651F\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:31:54.4932639Z",
        "x-ms-file-creation-time": "2023-11-17T17:31:54.4932639Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:31:54.4932639Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1795ded6-c716-f10b-cec9-19cba8cee66f/test-blob-2bd301a1-facd-f25d-c053-4329f710f180?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A52Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7931795651F\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:31:54.4932639Z",
        "x-ms-file-creation-time": "2023-11-17T17:31:54.4932639Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:31:54.4932639Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1a5a2c-b77a-908f-503c-b0378b16fb74/test-blob-90f1ce72-805e-d9ef-19cd-7e770f618d47?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A52Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-1795ded6-c716-f10b-cec9-19cba8cee66f/test-blob-2bd301a1-facd-f25d-c053-4329f710f180?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A52Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:4ddb1a03-d01e-0094-7f7b-1926eb000000\n",
        "Time:2023-11-17T17:31:54.8458851Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1a5a2c-b77a-908f-503c-b0378b16fb74/test-blob-90f1ce72-805e-d9ef-19cd-7e770f618d47?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A52Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZG\u002BTmiItNSHCtY5Vs0wdUA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7931781738E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:31:54.3625614Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ca1a5a2c-b77a-908f-503c-b0378b16fb74/test-blob-90f1ce72-805e-d9ef-19cd-7e770f618d47?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A52Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE7931781738E\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7931781738E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-blob-content-md5": "ZG\u002BTmiItNSHCtY5Vs0wdUA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:31:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:31:54.3625614Z"
      },
      "ResponseBody": "Xx/y[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1795ded6-c716-f10b-cec9-19cba8cee66f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:31:52.8062405-08:00",
    "RandomSeed": "1410451584",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
