{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-97a5c711-457c-d5e9-6bcb-b1cc515fe039?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63D0E1EDD15\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9f934691-7ecd-2e4a-2341-c7c281d74173?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63D0E286789\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9f934691-7ecd-2e4a-2341-c7c281d74173/test-blob-2be59461-ba44-dedf-94ce-9e62415053ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "9A1RwSgC5qZSwr/NA38s3lu81HZ6Tx3XQQW91cBMovOkamOMcJVPIFGuyVphvxM/rVBa63py3KTweYAjRRDmBR/LKJgbn23FbLQkzIXCdoHyfShw8bd4MY2/nPcVLNpAyMQ6lZZ6Iw3jlX7GTRAeLQL+McjndhNoUvYKXAN2r0DZ4wTBiOHrd1kbjFw4suN9oG/0FvsSWVGw0UKgb8cJbeU+7GkMXKQhE7luzOm3MKASjbuUgZhFx4qyEbaeSgeSER92+cV6cETK0gNBo4xo+aGijeILdetM+SXeWkvugsiy3LrJQDbamBx3ya6VAyP9ShgU/L0lhpw0KQCgmxb53FA6jsfSnrhrx/TFlKw8t/UB[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-97a5c711-457c-d5e9-6bcb-b1cc515fe039/test-blob-d19419f8-25dc-cd38-234b-847ddfabe748",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63D0E3DD3BB\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-97a5c711-457c-d5e9-6bcb-b1cc515fe039/test-blob-d19419f8-25dc-cd38-234b-847ddfabe748?sv=Sanitized&se=2024-08-07T17%3A27%3A32Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63D0E3DD3BB\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9f934691-7ecd-2e4a-2341-c7c281d74173/test-blob-2be59461-ba44-dedf-94ce-9e62415053ab?sv=Sanitized&se=2024-08-07T17%3A27%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-97a5c711-457c-d5e9-6bcb-b1cc515fe039/test-blob-d19419f8-25dc-cd38-234b-847ddfabe748?sv=sanitized-value&se=2024-08-07T17%3A27%3A32Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:27fa0611-d01e-0084-1f25-e8e383000000\n",
        "Time:2024-08-06T17:27:33.0049841Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9f934691-7ecd-2e4a-2341-c7c281d74173/test-blob-2be59461-ba44-dedf-94ce-9e62415053ab?sv=Sanitized&se=2024-08-07T17%3A27%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cu7MU6M41FTDLs+ebpCKqg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63D0E323BB8\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:27:32.7201208Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9f934691-7ecd-2e4a-2341-c7c281d74173/test-blob-2be59461-ba44-dedf-94ce-9e62415053ab?sv=Sanitized&se=2024-08-07T17%3A27%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB63D0E323BB8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63D0E323BB8\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-blob-content-md5": "cu7MU6M41FTDLs+ebpCKqg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:27:32.7201208Z"
      },
      "ResponseBody": "9A1RwSgC5[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-97a5c711-457c-d5e9-6bcb-b1cc515fe039?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:27:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-06T12:27:32.2791856-05:00",
    "RandomSeed": "1800354186",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
