{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e6242564-2095-f328-7853-2ede06a4d00a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:48:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC7A14F2CBF\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8572084e-f4b9-f446-3acc-56dab6b3b9af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:48:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC7A1577E8A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8572084e-f4b9-f446-3acc-56dab6b3b9af/test-blob-4055807b-f88d-9b93-7ecb-283112abb30a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:48:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xC6HKq8NpwRW/RiYw6ygvi23XB37uGAxuCmZaZU3+X2w1GLsNjPNIjgRXQpkm8bZT33J+/A/+gzNVnKGdD1uHwOa5+5JtIf66jnk6VtWzB1iwBkXbf6NcNlWHuDAR637oz0GyrPYkJr2zxC3WxGwd4lVI7QjVrIFDXcV8pamOaOL6UYdTwJpijB+IZ3t1hXIpaZXayP510yLAb08wp0EUJZtK3LKkyeH65mEpTUUGDdhTEzvT85/khH6kk5FLceSetAHf6qj/RJ/z3+JdTIWd+iF2nZQFQHI7Zlg0ADYQr7S8SpkDJiMvk45b39O9Rzf4xtlv1JRQmXPP5ERQiwSpo3At4QHsmpQ+RwnFqWBefd8[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e6242564-2095-f328-7853-2ede06a4d00a/test-blob-239ef479-1b34-37ad-4f28-da997a835859",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:48:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC7A16AD728\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e6242564-2095-f328-7853-2ede06a4d00a/test-blob-239ef479-1b34-37ad-4f28-da997a835859?sv=Sanitized&se=2024-07-03T18%3A48%3A58Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC7A16AD728\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8572084e-f4b9-f446-3acc-56dab6b3b9af/test-blob-4055807b-f88d-9b93-7ecb-283112abb30a?sv=Sanitized&se=2024-07-03T18%3A48%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-e6242564-2095-f328-7853-2ede06a4d00a/test-blob-239ef479-1b34-37ad-4f28-da997a835859?sv=Sanitized&se=2024-07-03T18%3A48%3A58Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:13af96ba-001e-002f-51b0-cc782a000000\n",
        "Time:2024-07-02T18:48:57.9117653Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8572084e-f4b9-f446-3acc-56dab6b3b9af/test-blob-4055807b-f88d-9b93-7ecb-283112abb30a?sv=Sanitized&se=2024-07-03T18%3A48%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "c24CdB8/K+wbDTrZc6q2Ew==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC7A160DB60\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:48:57.6416608Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8572084e-f4b9-f446-3acc-56dab6b3b9af/test-blob-4055807b-f88d-9b93-7ecb-283112abb30a?sv=Sanitized&se=2024-07-03T18%3A48%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC7A160DB60\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC7A160DB60\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-blob-content-md5": "c24CdB8/K+wbDTrZc6q2Ew==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:48:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:48:57.6416608Z"
      },
      "ResponseBody": "xC6HKq8NpwRW/RiYw6ygvi23XB37uGAxuCmZaZU3+X2w1GLsNjPNIjgRXQpkm8bZT33J+/A/+gz[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-e6242564-2095-f328-7853-2ede06a4d00a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:48:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:48:58.5172472-07:00",
    "RandomSeed": "1396011092",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
