{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d63b38e5-db3a-eb04-e325-0113f3f83239?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:48 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7931526733E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:50 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0f722568-1051-6c7e-bf99-c866260f3be6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:48 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79315392A5B\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:50 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0f722568-1051-6c7e-bf99-c866260f3be6/test-blob-ea26e23a-e73b-bd68-64af-32826f63bb20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:48 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "KAoxLKhFcc6WN\u002BbNLdywbJDJwxiK2GSXPNi78ZTLOCgWWOyGbiM52hvYS1slYa6N0VoTrlf3d1CmmvDQin86y/6\u002BttTwKf5tkOn9so0JcdopLSA5uIrQH\u002BGb4NMyaU\u002Bbnn9cZ6vanKhcph5u\u002BcTDnSgVplxfABJ07ZfzVEkqOieZYRMNrAovT5F43RFsYSUc2EKrHcLzPJ5t53kT50heMWz21JextfAe5lfL5yMBCItx1nsGfx1kpiV1oMSQG2dIGauldY2OaiJSjTZqKFV6bN/toRDMV7JPki5yPBUrjcrvgs13W5L\u002B42tZtPHm\u002Bn3Q\u002BjTk[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d63b38e5-db3a-eb04-e325-0113f3f83239/test-blob-2202a3f9-b6e6-8bf2-c8cb-5815b7e41f75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7931565903E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-creation-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d63b38e5-db3a-eb04-e325-0113f3f83239/test-blob-2202a3f9-b6e6-8bf2-c8cb-5815b7e41f75?sv=2025-04-05\u0026se=2023-11-18T17%3A31%3A49Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7931565903E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-creation-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0f722568-1051-6c7e-bf99-c866260f3be6/test-blob-ea26e23a-e73b-bd68-64af-32826f63bb20?sv=2025-04-05\u0026se=2023-11-18T17%3A31%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-d63b38e5-db3a-eb04-e325-0113f3f83239/test-blob-2202a3f9-b6e6-8bf2-c8cb-5815b7e41f75?sv=2025-04-05\u0026se=2023-11-18T17%3A31%3A49Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE793158F1401\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:51 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:31:51.0974225Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0f722568-1051-6c7e-bf99-c866260f3be6/test-blob-ea26e23a-e73b-bd68-64af-32826f63bb20?sv=2025-04-05\u0026se=2023-11-18T17%3A31%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE793158F1401\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:31:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:31:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:31:51.0974225Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d63b38e5-db3a-eb04-e325-0113f3f83239/test-blob-2202a3f9-b6e6-8bf2-c8cb-5815b7e41f75?sv=2025-04-05\u0026se=2023-11-18T17%3A31%3A49Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7931565903E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-creation-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:31:50.8243518Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0f722568-1051-6c7e-bf99-c866260f3be6/test-blob-ea26e23a-e73b-bd68-64af-32826f63bb20?sv=2025-04-05\u0026se=2023-11-18T17%3A31%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE793158F1401\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE793158F1401\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:51 GMT",
        "x-ms-blob-content-md5": "DzQ7CTESaiDxM9Z8KwGKOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:31:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 17 Nov 2023 17:31:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:31:51.0974225Z"
      },
      "ResponseBody": "AAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d63b38e5-db3a-eb04-e325-0113f3f83239?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:31:49.0882474-08:00",
    "RandomSeed": "1717558852",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
