{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-80a25703-aaad-29a7-f7b7-8d2dd63b1a4c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46A5A8746\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2c82a556-f13f-aab5-9b3a-305873076951?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46A65CDA2\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2c82a556-f13f-aab5-9b3a-305873076951/test-blob-950cd911-eff9-0591-f3df-a2ecd7317c34",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AvUL1eoXaQn3K6LPq4MtiHQjbEXPcTon01fBuzRvpnEI166whBe5X7fRfpxNoCG/cWbhCDu/3JG65AGTVq3ViIQwxtTUfQRcaQyN/fKe2TM2AUrNjZ41Sfsd9Z8WJgkK+/UXHNlN6/RihZ4vMd6eHAvNXFRiB/vm+33YtodkRkMCgwH9hrxZ6RZWawf/Bhccf9iUSMm1p/T6MSFcdDRs/T9bLa7coZZOc3M+DJvz5vRluzeu0P15TdsNA1Wa/XXh6W7IpNhoQN5CRdRWdptZBkos9rj8vi1B4d/Sz55AtHb9XCItKkEb/XtZa4opI9ZAtPwKbQa85CtBh8P5lXE/AZFdWBp4K9sJEfk9o1KiF70J[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-80a25703-aaad-29a7-f7b7-8d2dd63b1a4c/test-blob-5aa4d74b-800b-c6ce-08c3-8bc8567b8c5b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46A7F36D2\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:25:57.0757330Z",
        "x-ms-file-creation-time": "2024-07-02T18:25:57.0757330Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:25:57.0757330Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-80a25703-aaad-29a7-f7b7-8d2dd63b1a4c/test-blob-5aa4d74b-800b-c6ce-08c3-8bc8567b8c5b?sv=Sanitized&se=2024-07-03T18%3A25%3A57Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC46A7F36D2\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:25:57.0757330Z",
        "x-ms-file-creation-time": "2024-07-02T18:25:57.0757330Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:25:57.0757330Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2c82a556-f13f-aab5-9b3a-305873076951/test-blob-950cd911-eff9-0591-f3df-a2ecd7317c34?sv=Sanitized&se=2024-07-03T18%3A25%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-80a25703-aaad-29a7-f7b7-8d2dd63b1a4c/test-blob-5aa4d74b-800b-c6ce-08c3-8bc8567b8c5b?sv=Sanitized&se=2024-07-03T18%3A25%3A57Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:8e2c34b2-301e-0056-54ad-cc840e000000\n",
        "Time:2024-07-02T18:25:57.3502313Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2c82a556-f13f-aab5-9b3a-305873076951/test-blob-950cd911-eff9-0591-f3df-a2ecd7317c34?sv=Sanitized&se=2024-07-03T18%3A25%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "shRDuoDs+o6vgzZ09DqEUA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC46A70C8E8\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:25:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:25:56.9811688Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2c82a556-f13f-aab5-9b3a-305873076951/test-blob-950cd911-eff9-0591-f3df-a2ecd7317c34?sv=Sanitized&se=2024-07-03T18%3A25%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC46A70C8E8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC46A70C8E8\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:25:56 GMT",
        "x-ms-blob-content-md5": "shRDuoDs+o6vgzZ09DqEUA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:25:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:25:56.9811688Z"
      },
      "ResponseBody": "AvUL1eoXaQn3K6LPq4MtiHQjbEXPcTon01fBuzRvpnEI166whBe5X7fRfpxNoCG/cWbhCDu/3JG[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-80a25703-aaad-29a7-f7b7-8d2dd63b1a4c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:25:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:25:57.7583357-07:00",
    "RandomSeed": "966043916",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
