{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-aa459019-04fe-6b1d-903f-ddb2dcd8893e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DDB3F7930\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-196b0517-5435-055d-2087-7bbda8607b36?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DDB51CB47\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-196b0517-5435-055d-2087-7bbda8607b36/test-blob-51ff3142-7db4-1f41-b60f-1e8e03035aa5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "WoauM5HziN5+tnITaG6/ZRmOtS41jCGSGuIPjMjI9YgA6qWoRiW9jypVn7SXr1PFTtOtg9lqZ81lGxiv5PwWtsDpE33JFh/00SUD4Oxs+muPST70GnKulYPXQyoMDqsuP+n0rpvV/DezubKzZ4fh+CGtIJq+IZxOO3758dL16MJ61aADeEzQuUwGQWG/+i789UsJXu0QcB5MpXId2wtlvtHvOZLm3oDU3WdOt+A7j0BQ/fuH7InVaWSCttPZst1BoYKP0MGcFRfLNIGGwrg9ERUyzN0P3dJIGtAtZCes+iqJDBVdq79+tOfkvLcHTqerRKS9puX/MsOwR7XxbrHvHjpW/bWi32ZWtBj2KyEbQMso[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-aa459019-04fe-6b1d-903f-ddb2dcd8893e/test-blob-42af7562-5ef1-32da-1d0a-d3e3805c0fb2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DDB752431\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:05:01.0165809Z",
        "x-ms-file-creation-time": "2024-06-07T01:05:01.0165809Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:05:01.0165809Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-aa459019-04fe-6b1d-903f-ddb2dcd8893e/test-blob-42af7562-5ef1-32da-1d0a-d3e3805c0fb2?sv=Sanitized&se=2024-06-08T01%3A04%3A59Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DDB752431\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:05:01.0165809Z",
        "x-ms-file-creation-time": "2024-06-07T01:05:01.0165809Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:05:01.0165809Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-196b0517-5435-055d-2087-7bbda8607b36/test-blob-51ff3142-7db4-1f41-b60f-1e8e03035aa5?sv=Sanitized&se=2024-06-08T01%3A04%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-aa459019-04fe-6b1d-903f-ddb2dcd8893e/test-blob-42af7562-5ef1-32da-1d0a-d3e3805c0fb2?sv=Sanitized&se=2024-06-08T01%3A04%3A59Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:38186a60-101e-0035-6476-b89a35000000\n",
        "Time:2024-06-07T01:05:01.2857670Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-196b0517-5435-055d-2087-7bbda8607b36/test-blob-51ff3142-7db4-1f41-b60f-1e8e03035aa5?sv=Sanitized&se=2024-06-08T01%3A04%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rdYE3PXfEB+ODLCGLd8diQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DDB6610B5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:05:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:05:00.9177781Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-196b0517-5435-055d-2087-7bbda8607b36/test-blob-51ff3142-7db4-1f41-b60f-1e8e03035aa5?sv=Sanitized&se=2024-06-08T01%3A04%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868DDB6610B5\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DDB6610B5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:05:00 GMT",
        "x-ms-blob-content-md5": "rdYE3PXfEB+ODLCGLd8diQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:05:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:05:00.9177781Z"
      },
      "ResponseBody": "WoauM5HziN5+tnITaG6/ZRmOtS41jCGSGuIPjMjI9YgA6qWoRiW9jypVn7SXr1PFTtOtg9lqZ81[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-aa459019-04fe-6b1d-903f-ddb2dcd8893e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:05:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:04:59.4248445-05:00",
    "RandomSeed": "1043421622",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
