{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c294b6b9-6fdf-c93a-60b3-65e2d6bee4fe?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:01:06 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7028810E06B\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dd2f37b8-a2ee-6563-692f-842f7e8c4ace?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:01:07 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702881AE0B0\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c294b6b9-6fdf-c93a-60b3-65e2d6bee4fe/test-blob-32f9b7b6-dd6f-a34c-3208-970dc852981f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
        "x-ms-date": "Wed, 07 Aug 2024 17:01:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7028826DF0E\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c294b6b9-6fdf-c93a-60b3-65e2d6bee4fe/test-blob-32f9b7b6-dd6f-a34c-3208-970dc852981f?sv=Sanitized&se=2024-08-08T17%3A01%3A07Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7028826DF0E\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dd2f37b8-a2ee-6563-692f-842f7e8c4ace/test-blob-afdc700d-0297-3a6c-ac34-8c51af39da72?sv=Sanitized&se=2024-08-08T17%3A01%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-c294b6b9-6fdf-c93a-60b3-65e2d6bee4fe/test-blob-32f9b7b6-dd6f-a34c-3208-970dc852981f?sv=sanitized-value&se=2024-08-08T17%3A01%3A07Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7028851033E\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:01:08.4596030Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dd2f37b8-a2ee-6563-692f-842f7e8c4ace/test-blob-afdc700d-0297-3a6c-ac34-8c51af39da72?sv=Sanitized&se=2024-08-08T17%3A01%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-MD5": "v2GerAzfP2jUluqTRBN+iw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7028851033E\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:01:08.4596030Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c294b6b9-6fdf-c93a-60b3-65e2d6bee4fe/test-blob-32f9b7b6-dd6f-a34c-3208-970dc852981f?sv=Sanitized&se=2024-08-08T17%3A01%3A07Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7028826DF0E\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
 [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dd2f37b8-a2ee-6563-692f-842f7e8c4ace/test-blob-afdc700d-0297-3a6c-ac34-8c51af39da72?sv=Sanitized&se=2024-08-08T17%3A01%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7028851033E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7028851033E\"",
        "Last-Modified": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-blob-content-md5": "v2GerAzfP2jUluqTRBN+iw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 17:01:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T17:01:08.4596030Z"
      },
      "ResponseBody": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c294b6b9-6fdf-c93a-60b3-65e2d6bee4fe?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 17:01:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T10:01:07.1698787-07:00",
    "RandomSeed": "1809636849",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
