{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-07fe838e-3dd3-ce2a-b079-b86ab61bc70f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46DFAF5E1\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80fd0d2f-b2aa-fc98-0bdd-e9d4edb72db1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46E065FEC\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80fd0d2f-b2aa-fc98-0bdd-e9d4edb72db1/test-blob-d1c37621-9a73-49af-506f-634914b89689",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Fx+29G4By791hNgjp+w8gVTAkcEgdn4tFepNrcmh/A7ntFgCzQqJXODID567+dRUMVAbhGJxW6Ggid+DtB711IfKO/OUOrNJNjXgWGbfcRwW+Ht5hXerdVm2YUQrBqjB0joX8b3gwPec0U0skAI6wRfDbLujfE4QHsWa3dhvHjCNH4UsyIBeNTiD3LQpfuVWfJ8sZ5nsHlXrBtP3RuIfLbMdn3F8DvmXZDaDH6Ca5p/gRGE5QraXoQAwQMGsZu9VZK8BDN9z2W2mlQJiaP61USAzFgGB5ur8hv5wTM046v5GLrvwmdq/bWrzkq2zNDgCeu6geU/u037FBIbhAoygbqsEGzpCxLhGc6mWjVM9SFHF[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-07fe838e-3dd3-ce2a-b079-b86ab61bc70f/test-blob-b534b326-2d17-c6fe-188c-224e68f2cd69",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46E1BFF9B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:03.1363995Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:03.1363995Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:26:03.1363995Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-07fe838e-3dd3-ce2a-b079-b86ab61bc70f/test-blob-b534b326-2d17-c6fe-188c-224e68f2cd69?sv=Sanitized&se=2024-07-03T18%3A26%3A03Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC46E1BFF9B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:03.1363995Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:03.1363995Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:26:03.1363995Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80fd0d2f-b2aa-fc98-0bdd-e9d4edb72db1/test-blob-d1c37621-9a73-49af-506f-634914b89689?sv=Sanitized&se=2024-07-03T18%3A26%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-07fe838e-3dd3-ce2a-b079-b86ab61bc70f/test-blob-b534b326-2d17-c6fe-188c-224e68f2cd69?sv=Sanitized&se=2024-07-03T18%3A26%3A03Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:8e2c40eb-301e-0056-03ad-cc840e000000\n",
        "Time:2024-07-02T18:26:03.3777565Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-07fe838e-3dd3-ce2a-b079-b86ab61bc70f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:26:03.8345647-07:00",
    "RandomSeed": "1217262525",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
