{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f4e45c44-410b-8e9e-01c2-385134f89d2f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:34 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7930C8B247E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7a415f6c-a554-c294-fb93-857408f40f40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:34 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7930C9E009D\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7a415f6c-a554-c294-fb93-857408f40f40/test-blob-3c5e2b2f-efb7-78c1-8312-acf48b37bdd2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:34 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "ZkGVpE/DizbQOVnZKpsroRS7gO0jhggeGtn\u002BRAQS6cEYFYOsmnt4ecesIBa\u002BYrbR\u002BsWI7BmHbOA5d4p1xEYxvlCYwRQYfwaYQgYldmXxX7ciLEk/iv2okamjcyPxArWAe2LGJqGiuXu\u002B76kSYfV6RxjSU5f98TNT7zBrdAvjp0BRpfsDKjgWgHPNgZtTlS\u002B0KCsKHq8dg4kuczZwNkRv2kdpwLz5dxzgvNMkL3CY/1oAtkvg2ImQNCFy1LcBpUkuXqZT6dVzu7EOKmHc\u002BFMYlnPcb4D5jwG\u002B2IuahqNl3heJ9tDJRRWEjfua0a4ntDvNWT5DJTXIN[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f4e45c44-410b-8e9e-01c2-385134f89d2f/test-blob-b98b8c45-dd36-d657-f6eb-e0abed200d85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7930CC29A1A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:31:36.3345946Z",
        "x-ms-file-creation-time": "2023-11-17T17:31:36.3345946Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:31:36.3345946Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f4e45c44-410b-8e9e-01c2-385134f89d2f/test-blob-b98b8c45-dd36-d657-f6eb-e0abed200d85?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A34Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7930CC29A1A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:31:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:31:36.3345946Z",
        "x-ms-file-creation-time": "2023-11-17T17:31:36.3345946Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:31:36.3345946Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7a415f6c-a554-c294-fb93-857408f40f40/test-blob-3c5e2b2f-efb7-78c1-8312-acf48b37bdd2?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A34Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-f4e45c44-410b-8e9e-01c2-385134f89d2f/test-blob-b98b8c45-dd36-d657-f6eb-e0abed200d85?sv=2024-08-04\u0026se=2023-11-18T17%3A31%3A34Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:4ddad52a-d01e-0094-497b-1926eb000000\n",
        "Time:2023-11-17T17:31:36.7033834Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f4e45c44-410b-8e9e-01c2-385134f89d2f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:31:34.6455150-08:00",
    "RandomSeed": "2044596917",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
