{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a89c1870-aca6-5c6b-4d8c-88730cfd5d84?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:58 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7931B2A14E4\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:00 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fde13205-196c-d973-e523-0f462cc08af3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:58 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7931B3CB6D4\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:00 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fde13205-196c-d973-e523-0f462cc08af3/test-blob-f18e66ea-ea1b-857a-7092-387d0f04e7d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:59 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "2rNSGD0XkgJXAxZLsue4dOUwfHegzjQwx3C2PVBGtaHemDrs\u002Bc0FvyLfF9e\u002BXX2\u002BvjlDPTnzcQx\u002BIlDMYVWxEE11bBmty3sYK7xVwLZdcWny934XAnho6ycubtd8OF7NLgeJSPFkEfK\u002BKxJ8nbBWILDm2WnWmg3VDYDyf12km/JeiJKu1Ch4juaLWddl6012100mll/09pP5tDtxcZKUGo8gHhUdp0yHbkqDSkA2cCEye6cQfQWTaZH\u002BtSDtBxxU9j9HRc04WTABnycUcatTwkQaPvbrhJyKjLSDH/IrmmcuL1MB7ipU\u002BiJ2Dt3dfvjlq/Lc0sgla[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a89c1870-aca6-5c6b-4d8c-88730cfd5d84/test-blob-79bd8294-3ff9-4274-ff68-1d993868b8fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7931B64079D\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:32:00.8806301Z",
        "x-ms-file-creation-time": "2023-11-17T17:32:00.8806301Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:32:00.8806301Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a89c1870-aca6-5c6b-4d8c-88730cfd5d84/test-blob-79bd8294-3ff9-4274-ff68-1d993868b8fa?sv=2024-02-04\u0026se=2023-11-18T17%3A31%3A59Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7931B64079D\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:32:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:32:00.8806301Z",
        "x-ms-file-creation-time": "2023-11-17T17:32:00.8806301Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:32:00.8806301Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fde13205-196c-d973-e523-0f462cc08af3/test-blob-f18e66ea-ea1b-857a-7092-387d0f04e7d0?sv=2024-02-04\u0026se=2023-11-18T17%3A31%3A59Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.file.core.windows.net/test-share-a89c1870-aca6-5c6b-4d8c-88730cfd5d84/test-blob-79bd8294-3ff9-4274-ff68-1d993868b8fa?sv=2024-02-04\u0026se=2023-11-18T17%3A31%3A59Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:c6acf101-d01e-003d-747b-19e799000000\n",
        "Time:2023-11-17T17:32:01.2246277Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-a89c1870-aca6-5c6b-4d8c-88730cfd5d84?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:31:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:31:59.1881838-08:00",
    "RandomSeed": "1070179474",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
