{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-727320ff-a519-6fd0-26b9-06fb0d915332?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46C93AA76\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825dcc19-1219-c46d-0791-424a8b83b4a4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46C9EE926\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825dcc19-1219-c46d-0791-424a8b83b4a4/test-blob-dfa32546-c550-d77f-4689-6f4e035966f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KQ+ugp2dMGmOqqYDMO3oLNSSSZlIJPvwM/Z3SqF+N/YxtxXzM656T3y9VkuOwfAF8uH2hj4a9AQTvk+mJubID3Kw0XnY9fgmF/oci82wYXEGcVfAiLG3F8IR33Ve1CmW9UfY3vB2Lfzo0G5E/Wg3Y1zeoLSOCIfB+Lm3xxWDyEPQhZaG14OAj0Rb17dCcxlZ2XwZgDN0CO2/F+Y2v2bnZAgqc3fSsIzYXRBwMzDPfoSfXe2YakcPW32oxr+dSs/ec3KvGP+hhijwQCMjBNW875hhl2J4TvrAGxj6KenMOxNAkr+9H2aF/dbEqCkk7Feo69cmO7JtZSR47/3np10+JAUQ4nIV/9Ay3JmLtKbQmy7B[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-727320ff-a519-6fd0-26b9-06fb0d915332/test-blob-fc4727ab-a059-7261-ce71-6f5195ca553e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC46CB91F22\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:00.8106786Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:00.8106786Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:26:00.8106786Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-727320ff-a519-6fd0-26b9-06fb0d915332/test-blob-fc4727ab-a059-7261-ce71-6f5195ca553e?sv=Sanitized&se=2024-07-03T18%3A26%3A01Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC46CB91F22\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:00.8106786Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:00.8106786Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:26:00.8106786Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-825dcc19-1219-c46d-0791-424a8b83b4a4/test-blob-dfa32546-c550-d77f-4689-6f4e035966f4?sv=Sanitized&se=2024-07-03T18%3A26%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-727320ff-a519-6fd0-26b9-06fb0d915332/test-blob-fc4727ab-a059-7261-ce71-6f5195ca553e?sv=Sanitized&se=2024-07-03T18%3A26%3A01Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:8e2c3b8c-301e-0056-1aad-cc840e000000\n",
        "Time:2024-07-02T18:26:01.0498271Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-727320ff-a519-6fd0-26b9-06fb0d915332?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:26:01.5077621-07:00",
    "RandomSeed": "22379611",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
