{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-50bda23c-cdb8-f3a3-055f-2aba249337d8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BDAAD93EF\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4290028e-c014-5358-0c12-ca00ca358e3a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BDAB795AE\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4290028e-c014-5358-0c12-ca00ca358e3a/test-blob-4b32f8a8-2d54-6400-5cc8-7cb28b913cc3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ex1UxtG4d87LV6qo1plcmHEfV2SsDjuC9mOFVzFMIjpHh\u002B6V\u002BYDwNjTZJbKo\u002BkTk6focnrzoImzh0dBtMiCcfzVwYU\u002Bqxp7wLiEv0umJ2vsfoW42L4R9XmWCsyewgwMUPKZ8N5n1OSJbLG\u002BbuU\u002BDWPfUTZGxZk\u002Bx8wLqKBN3QKseGpZDDKJiKmdM2wIU4qUV/lsv2zVxY9ZWy0SWChEP5OzDfZ65QEtUcSMqZYpNnBBc1Cq3R2R2rLe/7EFezB9WPPYWUWUHW74P2moRR/1LCS4zOjXmV52ITNDn\u002BVMJ9qUD1CiTNkurVHlrqGz6ZGW5dOIT[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-50bda23c-cdb8-f3a3-055f-2aba249337d8/test-blob-07a69371-4553-338b-d6db-1d3bf130375d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BDACC80C4\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:13:03.0698180Z",
        "x-ms-file-creation-time": "2024-03-28T21:13:03.0698180Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:13:03.0698180Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-50bda23c-cdb8-f3a3-055f-2aba249337d8/test-blob-07a69371-4553-338b-d6db-1d3bf130375d?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A01Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BDACC80C4\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:13:03.0698180Z",
        "x-ms-file-creation-time": "2024-03-28T21:13:03.0698180Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:13:03.0698180Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4290028e-c014-5358-0c12-ca00ca358e3a/test-blob-4b32f8a8-2d54-6400-5cc8-7cb28b913cc3?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-50bda23c-cdb8-f3a3-055f-2aba249337d8/test-blob-07a69371-4553-338b-d6db-1d3bf130375d?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A01Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0e565e65-e01e-0037-0254-81a74d000000\n",
        "Time:2024-03-28T21:13:03.3123078Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-50bda23c-cdb8-f3a3-055f-2aba249337d8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:13:01.2394355-07:00",
    "RandomSeed": "1632106075",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
