{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e4d8b0ca-f232-03b3-da0d-d913279ca515?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DD58CC2AB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9a9f629-6a1c-f134-dbba-6c05a76a52d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DD598A898\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9a9f629-6a1c-f134-dbba-6c05a76a52d1/test-blob-5dd5de0a-984b-ee72-5579-ed279570a827",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "aNZw5i9pGvhCEfbI660pHy5H/USEEpFroCrHgn75aV6Skfcl36w+RpdXHXGJZGGzA9btclgU5lVEBEYFoph6SaeXNlq2BD+BCLesLPUf4jvIE36oC/YGfauh4NpmOaP+3dPJ8S4H/f+Wa2mgZ7lgJSIKPY8a0j2xkLivFSRkG88Trk8hVfANwRV+EaCMZRbxQLu4W/wU5AqVGGB1WOjbMU+ajblqPs8y/Ht5m8CdJCuhvdRorL/T/8lEiz2Pl2gto99Q8thdhgHshV+Am0lJ+PM105oTcoWQxo3vJrORo2QTS/fhTTJTRDfTfCZgU2R/+pNJWsTOGjBawCtKbmBOWuL6bE9RaKrB4o9jQPZfL3Mo[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e4d8b0ca-f232-03b3-da0d-d913279ca515/test-blob-65dc83cc-8b57-fa16-11cc-ef20cf4d6eed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868DD5BA551B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:04:51.4037019Z",
        "x-ms-file-creation-time": "2024-06-07T01:04:51.4037019Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:04:51.4037019Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e4d8b0ca-f232-03b3-da0d-d913279ca515/test-blob-65dc83cc-8b57-fa16-11cc-ef20cf4d6eed?sv=Sanitized&se=2024-06-08T01%3A04%3A49Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868DD5BA551B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:04:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:04:51.4037019Z",
        "x-ms-file-creation-time": "2024-06-07T01:04:51.4037019Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:04:51.4037019Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9a9f629-6a1c-f134-dbba-6c05a76a52d1/test-blob-5dd5de0a-984b-ee72-5579-ed279570a827?sv=Sanitized&se=2024-06-08T01%3A04%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.file.core.windows.net/test-share-e4d8b0ca-f232-03b3-da0d-d913279ca515/test-blob-65dc83cc-8b57-fa16-11cc-ef20cf4d6eed?sv=Sanitized&se=2024-06-08T01%3A04%3A49Z&sr=f&sp=rcwd&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:381863f0-101e-0035-7976-b89a35000000\n",
        "Time:2024-06-07T01:04:51.6738589Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-e4d8b0ca-f232-03b3-da0d-d913279ca515?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:04:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:04:49.8131844-05:00",
    "RandomSeed": "1133799560",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
