{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2950b27-dd5c-9336-4801-c6ab42213e28?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BDC1023F7\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b50fd89-08d5-d1b2-8856-9bc160914bfe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BDC1A51C2\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b50fd89-08d5-d1b2-8856-9bc160914bfe/test-blob-5ebbb1fc-ff77-9f05-22d2-7efbee99032d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "YaVS/CeUTOdZ3A1u0fmMJ2w6cxL7cyHen6Tc1vQsweuEBp4bRhSY4eXYu\u002BqlDIblnTV0YMA0Uu6Ec1yCuHbyLRsh6ctaceBXopItI7c2OZMe9ji\u002Bt2EqULOwl9O4FSlu5Y7PgyK6iytUHL4uBy82TjnIZME9M3W69pkXqtoNn4xovj0pZrZxY2sMapqi/EmEeUmZ77BoMbIYFYyJo\u002BFRR3wxxknyDeeDVwFWMMnaF/pPkzCQdLDcAIyKEVAp58CJuiIecDUAkWxhFpevEQDoPf2ROQ\u002BwwNLMVcW8Z/yWWW9BzHamvKbFTwLDL10YLO6MotNSmK2w2PlQURtvRClwyr0n[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2950b27-dd5c-9336-4801-c6ab42213e28/test-blob-d978a8b4-8df0-b755-48ae-ed16db7222a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6BDC38111A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:13:05.4524698Z",
        "x-ms-file-creation-time": "2024-03-28T21:13:05.4524698Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:13:05.4524698Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2950b27-dd5c-9336-4801-c6ab42213e28/test-blob-d978a8b4-8df0-b755-48ae-ed16db7222a8?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A03Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6BDC38111A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:13:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-28T21:13:05.4524698Z",
        "x-ms-file-creation-time": "2024-03-28T21:13:05.4524698Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-28T21:13:05.4524698Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4b50fd89-08d5-d1b2-8856-9bc160914bfe/test-blob-5ebbb1fc-ff77-9f05-22d2-7efbee99032d?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.file.core.windows.net/test-share-b2950b27-dd5c-9336-4801-c6ab42213e28/test-blob-d978a8b4-8df0-b755-48ae-ed16db7222a8?sv=2024-05-04\u0026se=2024-03-29T21%3A13%3A03Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:0e566388-e01e-0037-2b54-81a74d000000\n",
        "Time:2024-03-28T21:13:05.6943323Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2950b27-dd5c-9336-4801-c6ab42213e28?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:13:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:13:03.6204692-07:00",
    "RandomSeed": "377524079",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
