{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "GithubCopilotForAzure-Testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "drawbridge.com",
              "expresslogic.com",
              "euevents.microsoft.com",
              "nonprofits.microsoft.com",
              "benefits.microsoft.com",
              "forzaesports.com",
              "bons.ai",
              "azmosa.io",
              "fslogix.com",
              "Howdy.ai",
              "Xoxco.com",
              "Botkit.ai",
              "glintinc.com",
              "maquette.ms",
              "tibazdev.microsoft.com",
              "[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/vigera-Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vigera-Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "Owners": "sanitized",
          "DeleteAfter": "2026-05-20T14:22:50.4609309Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.App/agents' and resourceGroup =~ 'vigera-Sanitized' | limit 50"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-incomplete-scopes-state": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.2534458",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 1,
        "count": 1,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vigera-Sanitized/providers/Microsoft.App/agents/Sanitized",
            "name": "Sanitized",
            "type": "microsoft.app/agents",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "",
            "location": "eastus2",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": null,
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "powerState": "Running",
              "logConfiguration": null,
              "permissions": null,
              "outboundIpAddresses": [
                "40.75.0.212"
              ],
              "upgradeChannel": "Preview",
              "vnetConfiguration": {
                "subnetResourceId": null
              },
              "agentIdentity": null,
              "experimentalSettings": null,
              "defaultModel": {
                "name": "Sanitized",
                "provider": "Anthropic"
              },
              "monthlyAgentUnitLimit": 10000,
              "gitHubConfiguration": null,
              "incidentManagementConfiguration": null,
              "dashboardConfiguration": null,
              "firstPartyConfiguration": null,
              "mcpServers": null,
              "outboundConnectionConfiguration": null,
              "actionConfiguration": null,
              "knowledgeGraphConfiguration": null,
              "agentSpaceId": null,
              "runningState": "BuildingKnowledgeGraph",
              "agentEndpoint": "https://sanitized.eastus2.azuresre.ai"
            },
            "tags": null,
            "identity": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "zones": null,
            "extendedLocation": null
          }
        ],
        "facets": [],
        "resultTruncated": "false"
      }
    },
    {
      "RequestUri": "https://sanitized.eastus2.azuresre.ai/api/v1/threads",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
      },
      "ResponseBody": "Rm9yYmlkZGVuOiBBY2Nlc3MgZGVuaWVkIGJ5IFBEUA=="
    }
  ],
  "Variables": {}
}
