{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vigera-Sanitized/providers/Microsoft.App/agents/Sanitized/connectors/live-test-mcp-connector?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": {
        "properties": {
          "name": "Sanitized",
          "dataConnectorType": "Mcp",
          "dataSource": "https://example.com/mcp",
          "identity": "system",
          "extendedProperties": {
            "type": "http",
            "endpoint": "https://example.com/mcp"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview, 2026-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vigera-Sanitized/providers/Microsoft.App/agents/Sanitized/connectors/live-test-mcp-connector",
        "name": "Sanitized",
        "type": "Microsoft.App/agents/connectors",
        "properties": {
          "source": "Sanitized",
          "name": "Sanitized",
          "dataConnectorType": "Mcp",
          "provisioningState": "Succeeded",
          "deploymentError": null,
          "dataSource": null,
          "keyVaultUri": null,
          "endpoint": null,
          "identity": "system",
          "extendedProperties": {
            "type": null,
            "endpoint": null
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vigera-Sanitized/providers/Microsoft.App/agents/Sanitized/connectors/live-test-mcp-connector?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview, 2026-01-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus2/sreAgentOperationStatuses/YWdlbnRzL2Nvbm5lY3RvcnM6OTFhMWM3MmItYTZhZi00ZjJlLWE0NTAtM2Q4ZWY2ZDNlYjZj?api-version=2025-05-01-preview&t=639148555687702657&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5[...]
