{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestfilemetadata?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED58A609916\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestfilemetadata/473Vh3KwM6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED58A985838\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestfilemetadata/473Vh3KwM6?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-meta-metacqpii": "beWHBoRG3s",
        "x-ms-meta-metacydtd": "0P6HzAuT4G",
        "x-ms-meta-metardsxu": "w3iwJqc4YH",
        "x-ms-meta-metartwve": "vz1sxDwMIZ",
        "x-ms-meta-metasd6ai": "WV4JxTJOjx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED58AC8A708\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestfilemetadata/473Vh3KwM6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8ED58AC8A708\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-group": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 13:58:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-metacqpii": "beWHBoRG3s",
        "x-ms-meta-metacydtd": "0P6HzAuT4G",
        "x-ms-meta-metardsxu": "w3iwJqc4YH",
        "x-ms-meta-metartwve": "vz1sxDwMIZ",
        "x-ms-meta-metasd6ai": "WV4JxTJOjx",
        "x-ms-owner": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestfilemetadata/473Vh3KwM6?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:19 GMT",
        "x-ms-meta-meta7xcpy": "IpbN4dZALS",
        "x-ms-meta-metamhpj1": "y7IrcLNSfe",
        "x-ms-meta-metamo4ti": "nwVj1LoYge",
        "x-ms-meta-metapywof": "UzFVguPEmR",
        "x-ms-meta-metas6ydz": "lZn3dWBzff",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED58B2ECD9C\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestfilemetadata/path1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:19 GMT",
        "x-ms-properties": "metacqpii=YmVXSEJvUkczcw==,metacydtd=MFA2SHpBdVQ0Rw==,metardsxu=dzNpd0pxYzRZSA==,metartwve=dnoxc3hEd01JWg==,metasd6ai=V1Y0SnhUSk9qeA==",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED58B959898\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestfilemetadata/path1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8ED58B959898\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 13:58:20 GMT",
        "x-ms-group": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 13:58:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-metacqpii": "beWHBoRG3s",
        "x-ms-meta-metacydtd": "0P6HzAuT4G",
        "x-ms-meta-metardsxu": "w3iwJqc4YH",
        "x-ms-meta-metartwve": "vz1sxDwMIZ",
        "x-ms-meta-metasd6ai": "WV4JxTJOjx",
        "x-ms-owner": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestfilemetadata/path1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133631063013897440",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestfilemetadata?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
