{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakepathclienttestgetaccesscontrollistwithuserprincipalname?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 03:00:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE80E8FE42D98\"",
        "Last-Modified": "Wed, 09 Oct 2024 03:00:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakepathclienttestgetaccesscontrollistwithuserprincipalname/kE7RnIiC9P?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 03:00:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE80E9017DEDC\"",
        "Last-Modified": "Wed, 09 Oct 2024 03:00:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakepathclienttestgetaccesscontrollistwithuserprincipalname/kE7RnIiC9P?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user:72a3f86f-271f-439e-b031-25678907d381:rwx",
        "x-ms-date": "Wed, 09 Oct 2024 03:00:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE80E9017DEDC\"",
        "Last-Modified": "Wed, 09 Oct 2024 03:00:42 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakepathclienttestgetaccesscontrollistwithuserprincipalname/kE7RnIiC9P?action=getAccessControl&upn=true",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 03:00:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE80E9017DEDC\"",
        "Last-Modified": "Wed, 09 Oct 2024 03:00:42 GMT",
        "x-ms-acl": "user::rw-,user:kat@microsoft.com:rwx,group::r--,mask::rwx,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-rwx---+",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakepathclienttestgetaccesscontrollistwithuserprincipalname/kE7RnIiC9P?action=getAccessControl&upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 03:00:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE80E9017DEDC\"",
        "Last-Modified": "Wed, 09 Oct 2024 03:00:42 GMT",
        "x-ms-acl": "user::rw-,user:72a3f86f-271f-439e-b031-25678907d381:rwx,group::r--,mask::rwx,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-rwx---+",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakepathclienttestgetaccesscontrollistwithuserprincipalname?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 03:00:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
