{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestflushfilewithlease?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED59DF4D6C4\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/QMNIPdi3s5?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED59E2B74A8\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/Ktgi3sEJpB_acquire?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED59E5BAEF4\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/Ktgi3sEJpB_acquire?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Mw==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/Ktgi3sEJpB_acquire?action=flush&position=1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:51 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "20",
        "x-ms-proposed-lease-id": "2495c62d-80a1-8b1f-e1e9-dbda91c7dacb",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED59EC755D4\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestflushfilewithlease/Ktgi3sEJpB_acquire",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8ED59EC755D4\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 13:58:51 GMT",
        "x-ms-group": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-lease-duration": "fixed",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-owner": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/hBBVi66hor_auto_renew?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED59F29CE04\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/hBBVi66hor_auto_renew?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "20",
        "x-ms-proposed-lease-id": "001dad37-e190-6e35-0bca-08182fcef0bb",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Mw==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/hBBVi66hor_auto_renew?action=flush&position=1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:53 GMT",
        "x-ms-lease-action": "auto-renew",
        "x-ms-lease-id": "001dad37-e190-6e35-0bca-08182fcef0bb",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED59F8F51F4\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:53 GMT",
        "x-ms-lease-renewed": "false",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestflushfilewithlease/hBBVi66hor_auto_renew",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8ED59F8F51F4\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 13:58:52 GMT",
        "x-ms-group": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 13:58:53 GMT",
        "x-ms-lease-duration": "fixed",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-owner": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/hLnCF6Hc2s_release?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED59FF1D768\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/hLnCF6Hc2s_release?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "20",
        "x-ms-proposed-lease-id": "fe3194d7-7755-bd8f-9184-c8944d8f66ee",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Mw==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/hLnCF6Hc2s_release?action=flush&position=1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "fe3194d7-7755-bd8f-9184-c8944d8f66ee",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED5A059435C\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestflushfilewithlease/hLnCF6Hc2s_release",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8ED5A059435C\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-group": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 13:58:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/kzGlww1ent_acquire_release?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED5A0BC4AA8\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/kzGlww1ent_acquire_release?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Mw==",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/datalakefileclienttestflushfilewithlease/kzGlww1ent_acquire_release?action=flush&position=1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:55 GMT",
        "x-ms-lease-action": "acquire-release",
        "x-ms-lease-duration": "20",
        "x-ms-proposed-lease-id": "774ac2b9-2578-3864-ffbf-3015f30f510e",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8ED5A11EEDDC\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:56 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestflushfilewithlease/kzGlww1ent_acquire_release",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8ED5A11EEDDC\"",
        "Last-Modified": "Mon, 17 Jun 2024 13:58:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 17 Jun 2024 13:58:55 GMT",
        "x-ms-group": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-last-access-time": "Mon, 17 Jun 2024 13:58:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "bef27580-2fe4-4782-b432-99a2cd303ddf",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/datalakefileclienttestflushfilewithlease?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 13:58:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
