{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobdeleteaccesstierifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:47:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8B707FA10EB8\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:47:22 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobdeleteaccesstierifunmodifiedsincefalse/gotestblobblobdeleteaccesstierifunmodifiedsincefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:47:22 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\"0x8DE8B707FDE1E4D\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:47:23 GMT",
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobdeleteaccesstierifunmodifiedsincefalse/gotestblobblobdeleteaccesstierifunmodifiedsincefalse",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:47:23 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE8B707FDE1E4D\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:47:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Thu, 26 Mar 2026 19:47:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2026 19:47:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobdeleteaccesstierifunmodifiedsincefalse/gotestblobblobdeleteaccesstierifunmodifiedsincefalse",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier-if-unmodified-since": "Thu, 26 Mar 2026 19:47:13 GMT",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:47:23 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AccessTierChangeTimeConditionNotMet",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccessTierChangeTimeConditionNotMet</Code><Message>The condition specified using access tier change time conditional header(s) is not met.\n",
        "RequestId:9fd34b09-001e-0036-2f59-bd521f000000\n",
        "Time:2026-03-26T19:47:23.7137251Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobdeleteaccesstierifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:47:23 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
