{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsetmetadataifmatchtrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:56:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB24057A227A40\u0022",
        "Last-Modified": "Mon, 13 Mar 2023 20:56:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsetmetadataifmatchtrue/gotestblobappendblobsetmetadataifmatchtrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:56:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB24057A37E5C7\u0022",
        "Last-Modified": "Mon, 13 Mar 2023 20:56:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-03-13T20:56:54.6977223Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsetmetadataifmatchtrue/gotestblobappendblobsetmetadataifmatchtrue",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:56:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB24057A37E5C7\u0022",
        "Last-Modified": "Mon, 13 Mar 2023 20:56:54 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 13 Mar 2023 20:56:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-03-13T20:56:54.6977223Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsetmetadataifmatchtrue/gotestblobappendblobsetmetadataifmatchtrue?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DB24057A37E5C7\u0022",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:56:56 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB24057A507332\u0022",
        "Last-Modified": "Mon, 13 Mar 2023 20:56:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-03-13T20:56:54.8606289Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsetmetadataifmatchtrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:56:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
