{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9DA974300B94\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9DA974373CA6\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T16:05:32.7868070Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/copygotestblobcopyunsealedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
        "X-Ms-Date": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-seal-blob": "true",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9DA9743F9FDF\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-copy-id": "f98a269a-eb0f-4ee5-9517-8ae003b16287",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T16:05:32.8417759Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/copygotestblobcopyunsealedblob",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9DA9743F9FDF\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-sealed": "true",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-copy-id": "f98a269a-eb0f-4ee5-9517-8ae003b16287",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob/gotestblobcopyunsealedblob",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T16:05:32.8417759Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccopyunsealedblob?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 16:05:32 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
