{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchsettierusingsharedkey0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB3B465BD8BE1E\u0022",
        "Last-Modified": "Wed, 12 Apr 2023 11:09:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchsettierusingsharedkey0/blockblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DB3B465BFE982C\u0022",
        "Last-Modified": "Wed, 12 Apr 2023 11:09:18 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchsettierusingsharedkey0?comp=list\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:21 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
 [...]
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_00000000-0000-0000-0000-000000000000",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:22 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "LS1iYXRjaF9mZjI1ZDc2YS01OGUzLTQwNDktN2VkNC04ZTdlZmQ4M2ExOWINCkNvbnRlbnQtSUQ6IDANCkNvbnRlbnQtVHJhbnNmZXIt[...]
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchsettierusingsharedkey4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:24 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
