{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocpagegetaccountinfo?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 27 May 2026 07:15:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "KeyBasedAuthenticationNotPermitted"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>KeyBasedAuthenticationNotPermitted</Code><Message>Key based authentication is not permitted on this storage account.\n",
        "RequestId:07f48f81-d01e-0000-5fa8-ed9766000000\n",
        "Time:2026-05-27T07:15:53.6982458Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
