{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsethttpheaderifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:58:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2405AC498044\u0022",
        "Last-Modified": "Mon, 13 Mar 2023 20:58:18 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsethttpheaderifunmodifiedsincefalse/gotestblobappendblobsethttpheaderifunmodifiedsincefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:58:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2405AC528CFB\u0022",
        "Last-Modified": "Mon, 13 Mar 2023 20:58:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-03-13T20:58:18.7584763Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsethttpheaderifunmodifiedsincefalse/gotestblobappendblobsethttpheaderifunmodifiedsincefalse?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:58:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "QXBwZW5kaW5nIGJsb2NrCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2405AC5C76A2\u0022",
        "Last-Modified": "Mon, 13 Mar 2023 20:58:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "F3xJF8HTFZQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsethttpheaderifunmodifiedsincefalse/gotestblobappendblobsethttpheaderifunmodifiedsincefalse?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Mon, 13 Mar 2023 20:58:08 GMT",
        "x-ms-blob-content-disposition": "my_disposition",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:58:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4a49139a-401e-0064-54ee-55dc63000000\n",
        "Time:2023-03-13T20:58:18.9060450Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblobsethttpheaderifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 13 Mar 2023 20:58:20 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
