{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=properties&restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Wed, 22 May 2024 05:06:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>0</Days></DeleteRetentionPolicy></StorageServiceProperties>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\n",
        "RequestId:3fa8f884-101e-00c0-7a05-ace688000000\n",
        "Time:2024-05-22T05:06:10.3907814Z</Message><LineNumber>2</LineNumber><LinePosition>89</LinePosition><Reason>Retention days must be greater than 0 and less than or equal to 365 days.</Reason></Error>"
      ]
    }
  ],
  "Variables": {}
}
