{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC765B145ADA65\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "LQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "M21evFQ2U05h0W5j3fyjJw==",
        "ETag": "\"0x8DC765B147DB758\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-content-crc64": "qZnwPj9XCzQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:13.7652568Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc-?versionid=2024-05-17T10%3A21%3A13.7652568Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "M21evFQ2U05h0W5j3fyjJw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B147DB758\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:13.7652568Z"
      },
      "ResponseBody": "LQ=="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Lg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UFjxr4OIYz9gnK23WnXcnQ==",
        "ETag": "\"0x8DC765B14C4D0A6\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-content-crc64": "IgKubmdGuLU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:14.2312102Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc.?versionid=2024-05-17T10%3A21%3A14.2312102Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UFjxr4OIYz9gnK23WnXcnQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B14C4D0A6\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:14.2312102Z"
      },
      "ResponseBody": "Lg=="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc_",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Xw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sUp7gFnZwFWVTJJnTOYAMg==",
        "ETag": "\"0x8DC765B150BC31B\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-content-crc64": "txY3vV5trZQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:14.6961691Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc_?versionid=2024-05-17T10%3A21%3A14.6961691Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sUp7gFnZwFWVTJJnTOYAMg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B150BC31B\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:14.6961691Z"
      },
      "ResponseBody": "Xw=="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc%2F",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Lw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ZmbNdvlpVkaee+OddQzH2Q==",
        "ETag": "\"0x8DC765B155E4147\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-content-crc64": "W4ubXq+21so=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:15.2377896Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc/?versionid=2024-05-17T10%3A21%3A15.2377896Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZmbNdvlpVkaee+OddQzH2Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B155E4147\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:15.2377896Z"
      },
      "ResponseBody": "Lw=="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc%28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "KA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hMQEc0FMry7Up7EoPki79A==",
        "ETag": "\"0x8DC765B15A533B7\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-content-crc64": "X6aEloRCB4I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:15.7017527Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc%28?versionid=2024-05-17T10%3A21%3A15.7017527Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hMQEc0FMry7Up7EoPki79A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B15A533B7\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:15.7017527Z"
      },
      "ResponseBody": "KA=="
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc$",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "JA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "w+l91ul/tRJWiMl/NnIMvg==",
        "ETag": "\"0x8DC765B1632CAC4\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:16 GMT",
        "x-ms-content-crc64": "pe7RZkNLee0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:16.6296772Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc$?versionid=2024-05-17T10%3A21%3A16.6296772Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "w+l91ul/tRJWiMl/NnIMvg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B1632CAC4\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:16.6296772Z"
      },
      "ResponseBody": "JA=="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc=",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "PQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Q+w+Xe5ucGr3dm//6lEnIQ==",
        "ETag": "\"0x8DC765B1679E414\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:17 GMT",
        "x-ms-content-crc64": "KPZOtgSo60w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:17.0956308Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc=?versionid=2024-05-17T10%3A21%3A17.0956308Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Q+w+Xe5ucGr3dm//6lEnIQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B1679E414\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:17.0956308Z"
      },
      "ResponseBody": "PQ=="
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc%2C",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "LA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "wMtfD88jmrPZwfzTH/8e/A==",
        "ETag": "\"0x8DC765B170AF9A2\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:18 GMT",
        "x-ms-content-crc64": "0BDFDvenZUs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:18.0464546Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc,?versionid=2024-05-17T10%3A21%3A18.0464546Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wMtfD88jmrPZwfzTH/8e/A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B170AF9A2\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:18.0464546Z"
      },
      "ResponseBody": "LA=="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc~",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "fg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "THYfFw4BaDb/hEmCArmYJw==",
        "ETag": "\"0x8DC765B1755DF3E\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:18 GMT",
        "x-ms-content-crc64": "zEB+nOFjAho=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:18.5372990Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc~?versionid=2024-05-17T10%3A21%3A18.5372990Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "THYfFw4BaDb/hEmCArmYJw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B1755DF3E\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:18.5372990Z"
      },
      "ResponseBody": "fg=="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "MA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "z80ghJXVZe9m59/5+Ydk2g==",
        "ETag": "\"0x8DC765B179D1F74\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:19 GMT",
        "x-ms-content-crc64": "qzcudgtR+1w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:19.0042484Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid/abc0?versionid=2024-05-17T10%3A21%3A19.0042484Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z80ghJXVZe9m59/5+Ydk2g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B179D1F74\"",
        "Last-Modified": "Fri, 17 May 2024 10:21:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:21:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:21:19.0042484Z"
      },
      "ResponseBody": "MA=="
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccreateanddownloadblobspecialcharacterswithvid?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:21:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
