{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB70754D035EB1\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit?blockid=ICAgICAw\u0026comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Cool",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EICAgICAw\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB70754D192106\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-content-crc64": "Wd5d5YVUSXI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-06-19T03:28:51.0034182Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit?blocklisttype=committed\u0026comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DB70754D192106\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-blob-content-length": "15",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CBlockList\u003E\u003CCommittedBlocks\u003E\u003CBlock\u003E\u003CName\u003EICAgICAw\u003C/Name\u003E\u003CSize\u003E15\u003C/Size\u003E\u003C/Block\u003E\u003C/CommittedBlocks\u003E\u003C/BlockList\u003E"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB70754D192106\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-06-19T03:28:51.0034182Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit?blockid=ICAgICAw\u0026comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Hot",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EICAgICAw\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB70754D438632\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-content-crc64": "Wd5d5YVUSXI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-06-19T03:28:51.2812594Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit?blocklisttype=committed\u0026comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DB70754D438632\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-blob-content-length": "15",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CBlockList\u003E\u003CCommittedBlocks\u003E\u003CBlock\u003E\u003CName\u003EICAgICAw\u003C/Name\u003E\u003CSize\u003E15\u003C/Size\u003E\u003C/Block\u003E\u003C/CommittedBlocks\u003E\u003C/BlockList\u003E"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB70754D438632\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-06-19T03:28:51.2812594Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit?blockid=ICAgICAw\u0026comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Cold",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EICAgICAw\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB70754D6B2CA9\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-content-crc64": "Wd5d5YVUSXI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-06-19T03:28:51.5411113Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit?blocklisttype=committed\u0026comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DB70754D6B2CA9\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-blob-content-length": "15",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CBlockList\u003E\u003CCommittedBlocks\u003E\u003CBlock\u003E\u003CName\u003EICAgICAw\u003C/Name\u003E\u003CSize\u003E15\u003C/Size\u003E\u003C/Block\u003E\u003C/CommittedBlocks\u003E\u003C/BlockList\u003E"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB70754D6B2CA9\u0022",
        "Last-Modified": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-06-19T03:28:51.5411113Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 19 Jun 2023 03:28:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
