{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainerrestorefailures?comp=undelete\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:26:03 GMT",
        "x-ms-deleted-container-name": "goccontainerrestorefailures",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EMissingRequiredHeader\u003C/Code\u003E\u003CMessage\u003EAn HTTP header that\u0026apos;s mandatory for this request is not specified.\n",
        "RequestId:d9e8ad1a-601e-0028-7984-cfa9de000000\n",
        "Time:2023-08-15T14:26:03.7398307Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-deleted-container-version\u003C/HeaderName\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=undelete\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:26:03 GMT",
        "x-ms-deleted-container-name": "",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CError\u003E\u003CCode\u003EMissingRequiredHeader\u003C/Code\u003E\u003CMessage\u003EAn HTTP header that\u0026apos;s mandatory for this request is not specified.\n",
        "RequestId:d9e8ad45-601e-0028-1f84-cfa9de000000\n",
        "Time:2023-08-15T14:26:03.7828072Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-deleted-container-name\u003C/HeaderName\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
