{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC765B092A73FC\"",
        "Last-Modified": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\"0x8DC765B094D8E27\"",
        "Last-Modified": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:20:54.9956882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC765B094D8E27\"",
        "Last-Modified": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-05-17T10:20:55.2296681Z",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:20:55.2306681Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?comp=list&include=snapshots&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.blob.core.windows.net/\" ContainerName=\"gocblockblobsettieronsnapshots\"><Blobs><Blob><Name>gotestblobblockblobsettieronsnapshots</Name><Snapshot>2024-05-17T10:20:55.2296681Z</Snapshot><Properties><Creation-Time>Fri, 17 May 2024 10:20:54 GMT</Creation-Time><Last-Modified>Fri, 17 May 2024 10:20:54 GMT</Last-Modified><Etag>0x8DC765B094D8E27</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>ebncwguMQu9sgPmr0GazhA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>gotestblobblockblobsettieronsnapshots</Name><Snapshot>2024-05-17T10:20:55.4636401Z</Snapshot><Properties><Creation-Time>Fri, 17 May 2024 10:20:54 GMT</Creation-Time><Last-Modified>Fri, 17 May 2024 10:20:54 GMT</Last-Modified><Etag>0x8DC765B094D8E27</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>ebncwguMQu9sgPmr0GazhA==</Content-MD5><Cache-Control /><Content-Di[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=tier&snapshot=2024-05-17T10%3A20%3A55.2296681Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?snapshot=2024-05-17T10%3A20%3A55.2296681Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B094D8E27\"",
        "Last-Modified": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Fri, 17 May 2024 10:20:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?snapshot=2024-05-17T10%3A20%3A55.9285988Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC765B094D8E27\"",
        "Last-Modified": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 May 2024 10:20:54 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=tier&snapshot=2024-05-17T10%3A20%3A55.2296681Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobOperationNotSupported",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobOperationNotSupported</Code><Message>Blob operation is not supported.\n",
        "RequestId:148a2751-001e-005a-4043-a87851000000\n",
        "Time:2024-05-17T10:20:58.7020075Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:20:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
