{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=properties&restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Fri, 17 May 2024 10:14:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\n",
        "RequestId:9d3bc537-801e-009f-7c42-a852b4000000\n",
        "Time:2024-05-17T10:14:06.1586050Z</Message><LineNumber>2</LineNumber><LinePosition>75</LinePosition><Reason>Element is missing: Days.</Reason></Error>"
      ]
    }
  ],
  "Variables": {}
}
