{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblobfromurlwithheaders?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 Feb 2023 23:33:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0FAD1B751E42\u0022",
        "Last-Modified": "Wed, 15 Feb 2023 23:33:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblobfromurlwithheaders/gotestblobblobputblobfromurlwithheaders",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Wed, 15 Feb 2023 23:33:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DB0FAD1B80A7D1\u0022",
        "Last-Modified": "Wed, 15 Feb 2023 23:33:56 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-02-15T23:33:56.8232401Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblobfromurlwithheaders/gotestblobblobputblobfromurlwithheaders",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "control",
        "x-ms-blob-content-disposition": "my_disposition",
        "x-ms-blob-content-encoding": "my_encoding",
        "x-ms-blob-content-language": "my_language",
        "x-ms-blob-content-type": "my_type",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Wed, 15 Feb 2023 23:33:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DB0FAD1B982406\u0022",
        "Last-Modified": "Wed, 15 Feb 2023 23:33:56 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-02-15T23:33:56.9791521Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblobfromurlwithheaders/gotestblobblobputblobfromurlwithheaders",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 Feb 2023 23:33:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "my_disposition",
        "Content-Language": "my_language",
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "my_type",
        "ETag": "\u00220x8DB0FAD1B982406\u0022",
        "Last-Modified": "Wed, 15 Feb 2023 23:33:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 15 Feb 2023 23:33:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-02-15T23:33:56.9791521Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblobfromurlwithheaders/gotestblobblobputblobfromurlwithheaders",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "control",
        "x-ms-blob-content-disposition": "my_disposition",
        "x-ms-blob-content-encoding": "my_encoding",
        "x-ms-blob-content-language": "my_language",
        "x-ms-blob-content-type": "my_type",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://fakestorage.blob.core.windows.net/gocblobputblobfromurlwithheaders/gotestblobblobputblobfromurlwithheaders?se=2049-06-11T20%3A00%3A00Z\u0026sig=pw%2Bvn9GZsECEI5uVf86fnd11TCmZk%2BEC2wVND1ErzOA%3D\u0026sp=rl\u0026spr=https\u0026srt=co\u0026ss=b\u0026sv=2020-02-10",
        "X-Ms-Date": "Wed, 15 Feb 2023 23:33:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0FAD1BB6560E\u0022",
        "Last-Modified": "Wed, 15 Feb 2023 23:33:57 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-02-15T23:33:57.1760414Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblobfromurlwithheaders?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 Feb 2023 23:33:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
