{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB26E47394AB17\u0022",
        "Last-Modified": "Fri, 17 Mar 2023 12:38:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy/gotestblobputblocklistwithimmutabilitypolicy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DB26E473C0E50E\u0022",
        "Last-Modified": "Fri, 17 Mar 2023 12:38:03 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-03-17T12:38:03.9477518Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy/gotestblobputblocklistwithimmutabilitypolicy?blockid=AAAAAA%3D%3D\u0026comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy/gotestblobputblocklistwithimmutabilitypolicy?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:03 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 11 Jun 2049 20:00:00 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EAAAAAA==\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB26E474153A2F\u0022",
        "Last-Modified": "Fri, 17 Mar 2023 12:38:04 GMT",
        "x-ms-content-crc64": "\u002B4yvd89kHyE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-03-17T12:38:04.5014335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy/gotestblobputblocklistwithimmutabilitypolicy",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB26E474153A2F\u0022",
        "Last-Modified": "Fri, 17 Mar 2023 12:38:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Mar 2023 12:38:04 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 11 Jun 2049 20:00:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02",
        "x-ms-version-id": "2023-03-17T12:38:04.5014335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy/gotestblobputblocklistwithimmutabilitypolicy?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:11 GMT",
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy/gotestblobputblocklistwithimmutabilitypolicy?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocputblocklistwithimmutabilitypolicy/gotestblobputblocklistwithimmutabilitypolicy",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 Mar 2023 12:38:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
