{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7A1D6AC720A0\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit?blockid=ICAgICAw&comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Cool",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<BlockList><Latest>ICAgICAw</Latest></BlockList>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7A1D6B111578\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-content-crc64": "Wd5d5YVUSXI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-22T05:09:54.8689784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit?blocklisttype=committed&comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC7A1D6B111578\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-blob-content-length": "15",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>ICAgICAw</Name><Size>15</Size></Block></CommittedBlocks></BlockList>"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coolgotestblobblobsettieroncommit",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7A1D6B111578\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 22 May 2024 05:09:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-22T05:09:54.8689784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit?blockid=ICAgICAw&comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Hot",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<BlockList><Latest>ICAgICAw</Latest></BlockList>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7A1D6BA278BC\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-content-crc64": "Wd5d5YVUSXI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-22T05:09:55.8217916Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit?blocklisttype=committed&comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC7A1D6BA278BC\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-blob-content-length": "15",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>ICAgICAw</Name><Size>15</Size></Block></CommittedBlocks></BlockList>"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/hotgotestblobblobsettieroncommit",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7A1D6BA278BC\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 22 May 2024 05:09:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-22T05:09:55.8217916Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit?blockid=ICAgICAw&comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Cold",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<BlockList><Latest>ICAgICAw</Latest></BlockList>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7A1D6C3B4DAE\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-content-crc64": "Wd5d5YVUSXI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-22T05:09:56.8233902Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit?blocklisttype=committed&comp=blocklist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC7A1D6C3B4DAE\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-blob-content-length": "15",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>ICAgICAw</Name><Size>15</Size></Block></CommittedBlocks></BlockList>"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit/coldgotestblobblobsettieroncommit",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7A1D6C3B4DAE\"",
        "Last-Modified": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 22 May 2024 05:09:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-22T05:09:56.8233902Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/testgocblobsettieroncommit?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
