{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainersetpermissionsaclmorethanfive?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 12:05:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC798E4E791EAD\"",
        "Last-Modified": "Tue, 21 May 2024 12:05:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainersetpermissionsaclmorethanfive?comp=acl&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "blob",
        "X-Ms-Date": "Tue, 21 May 2024 12:05:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<SignedIdentifiers><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0000</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0001</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0002</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0003</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0004</Id></SignedIdentifier><SignedIdentifier><AccessPolicy><Permission>r</Permission><Expiry>2049-06-11T20:00:00Z</Expiry><Start>2021-06-11T20:00:00Z</Start></AccessPolicy><Id>0005</Id></SignedIdentifier></SignedIdentifiers>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\n",
        "RequestId:4c9e97d2-301e-007e-2877-ab8ef1000000\n",
        "Time:2024-05-21T12:05:29.0925824Z</Message><LineNumber>0</LineNumber><LinePosition>0</LinePosition><Reason /></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainersetpermissionsaclmorethanfive?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 12:05:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
