{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "blob",
        "X-Ms-Date": "Fri, 17 May 2024 10:03:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidQueryParameterValue"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:5d3d6364-001e-00dc-3f41-a8b4e8000000\n",
        "Time:2024-05-17T10:03:46.6559850Z</Message><QueryParameterName>comp</QueryParameterName><QueryParameterValue /><Reason /></Error>"
      ]
    }
  ],
  "Variables": {}
}
