{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadpagesfromurlsourcecpkfail?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:43:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE74A627EFE6D8\"",
        "Last-Modified": "Wed, 25 Feb 2026 19:43:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadpagesfromurlsourcecpkfail/gotestblobsrc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:43:31 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE74A62827EA5F\"",
        "Last-Modified": "Wed, 25 Feb 2026 19:43:32 GMT",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-02-25T19:43:32.0286815Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadpagesfromurlsourcecpkfail/gotestblobsrc?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:43:32 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "V96mIkVqthug9iZQjM1CBWV0hV4QzXQM4ou8KH7sJdw4WHstXQdiKZanCOf3trt+p2L4wZbA3nksjAj+S+G3Zr1HC5MPprFk1HIQC6ylmKER4YCbSGKBPz9HW5fZXIf54jEmOoeFWf5c+SMvq70pXfMNe20wmgyxkPut1NIq1wsN3713KGWBCjDdMrKeCFQ7QN7zcysnFUVoW3/qiirhIx3BrH3fMT77ugpFll6l5Zryvh771ahHf/OH7S2vAoHjwud5o4BfA6zkYKcgUmym5QQVRVFvvnskiDgEpvVW+VFrvw4k1HLxMWMsCtan/ntA8eo/TT3FSb1jkLN/J6nv6uIz/mY6pp0hgfklU3Wpo3NMfpfcHrDak1N/D9PFQO+H6ava5zkzUcOiC1754drn7SIM5NecosmSKE0gfzePnmgFp8dsjmNOtAgfa8OllIKn9KkR6N414uvLYM3ZjDb5Im3a3xmhj9qMOxniA6AEdE3eLB1Tq6W/Ep7Lh8EapNnHU4F5V9SCvI4RpqeBiAB+UTSohweq09R20Ad1v7YwIZtYOB7jxmUgoZQD1FSUHbrln3dgBKj6WIoTUlMrE/vIoE/E8Yd7nheuI9zese9YeWscn2JQfHliamXVXnRyjqn+2CIMdhprHuJy7oZScB+myw1iBGn80BFIZrA8lNqQ9D4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE74A62855092D\"",
        "Last-Modified": "Wed, 25 Feb 2026 19:43:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "1zeaJZtwJYg=",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadpagesfromurlsourcecpkfail/gotestblobdest",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "5120",
        "x-ms-blob-type": "PageBlob",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:43:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE74A6288668E4\"",
        "Last-Modified": "Wed, 25 Feb 2026 19:43:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-02-25T19:43:32.6479588Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadpagesfromurlsourcecpkfail/gotestblobdest?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:43:39 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-encryption-algorithm": "AES256",
        "x-ms-source-encryption-key": "mumbojumbo",
        "x-ms-source-encryption-key-sha256": "mumbojumbohash",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "InvalidHeaderValue",
        "x-ms-copy-source-status-code": "400",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:6f455273-401e-00cd-148f-a62e5c000000\n",
        "Time:2026-02-25T19:43:39.8239868Z</Message><CopySourceStatusCode>400</CopySourceStatusCode><CopySourceErrorCode>InvalidHeaderValue</CopySourceErrorCode><CopySourceErrorMessage>The value for one of the HTTP headers is not in the correct format.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadpagesfromurlsourcecpkfail?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
