{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=properties&restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Wed, 27 May 2026 07:15:12 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<StorageServiceProperties><Logging><Delete>true</Delete><Read>true</Read><RetentionPolicy><Enabled>true</Enabled><Days>5</Days></RetentionPolicy><Version>1.0</Version><Write>true</Write></Logging></StorageServiceProperties>"
      ],
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "KeyBasedAuthenticationNotPermitted"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>KeyBasedAuthenticationNotPermitted</Code><Message>Key based authentication is not permitted on this storage account.\n",
        "RequestId:bf276b73-701e-0044-46a8-ed1d59000000\n",
        "Time:2026-05-27T07:15:10.3841754Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
