{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblocklistifmatchfalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:19:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC765AE8D9E4BA\"",
        "Last-Modified": "Fri, 17 May 2024 10:20:00 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblocklistifmatchfalse/gotestblobblobputblocklistifmatchfalse?blockid=AAAAAA%3D%3D&comp=block",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Fri, 17 May 2024 10:19:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblocklistifmatchfalse/gotestblobblobputblocklistifmatchfalse?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Fri, 17 May 2024 10:19:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<BlockList><Latest>AAAAAA==</Latest></BlockList>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC765AE9210537\"",
        "Last-Modified": "Fri, 17 May 2024 10:20:01 GMT",
        "x-ms-content-crc64": "+4yvd89kHyE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T10:20:01.0157367Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblocklistifmatchfalse/gotestblobblobputblocklistifmatchfalse?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "garbage",
        "X-Ms-Date": "Fri, 17 May 2024 10:19:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<BlockList><Latest>AAAAAA==</Latest></BlockList>"
      ],
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1489d10e-001e-005a-5943-a87851000000\n",
        "Time:2024-05-17T10:20:01.2634937Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobputblocklistifmatchfalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:19:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
