{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/goccontainerlistblobsflatarrowformat?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 07 Apr 2026 06:10:01 GMT",
        "x-ms-version": ""
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:124e5857-201e-000b-3255-c6df4d000000\n",
        "Time:2026-04-07T06:10:01.2324448Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request 'aAMA6X7CBzoJNolemb0IDSnLVSDutqzhm/NNB0/5vGs=' is not the same as any computed signature. Server used following string to sign: 'PUT\n\n",
        "\n\n",
        "x-ms-date:Tue, 07 Apr 2026 06:10:01 GMT\n",
        "/y75xscnchi23pe01cx/goccontainerlistblobsflatarrowformat'.</AuthenticationErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {}
}
