{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 May 2024 09:05:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8150E25C0851\"",
        "Last-Modified": "Fri, 31 May 2024 09:05:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Fri, 31 May 2024 09:05:56 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8150E2846FD0\"",
        "Last-Modified": "Fri, 31 May 2024 09:05:57 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-31T09:05:57.7464784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Fri, 31 May 2024 09:05:56 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "QUFBIA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8150E2AA6AB8\"",
        "Last-Modified": "Fri, 31 May 2024 09:05:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "6dmbGE8Kwf0=",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope/gotestblobappendblockwithcpkscope",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 May 2024 09:05:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8150E2F466E3\"",
        "Last-Modified": "Fri, 31 May 2024 09:05:58 GMT",
        "x-ms-blob-committed-block-count": "3",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 May 2024 09:05:57 GMT",
        "x-ms-encryption-scope": "blobgokeytestscope",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-31T09:05:57.7464784Z"
      },
      "ResponseBody": "QUFBIEJCQiBDQ0Mg"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocappendblockwithcpkscope?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 May 2024 09:05:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
