{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=blobs&where=%22key%22%3D%27value%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:15:37 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.blob.core.windows.net/\"><Where>&quot;key&quot;=&apos;value&apos;</Where><Blobs/><NextMarker/></EnumerationResults>"
      ]
    }
  ],
  "Variables": {}
}
