{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/goccontainerlistblobsflatarrowmatchesxml?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 09 Apr 2026 06:28:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE960130811A1C\"",
        "Last-Modified": "Thu, 09 Apr 2026 06:28:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/goccontainerlistblobsflatarrowmatchesxml/matchblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Thu, 09 Apr 2026 06:28:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\"0x8DE960130AF449A\"",
        "Last-Modified": "Thu, 09 Apr 2026 06:28:18 GMT",
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/goccontainerlistblobsflatarrowmatchesxml?comp=list&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 09 Apr 2026 06:28:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/\" ContainerName=\"goccontainerlistblobsflatarrowmatchesxml\"><Blobs><Blob><Name>matchblob0</Name><Properties><Creation-Time>Thu, 09 Apr 2026 06:28:18 GMT</Creation-Time><Last-Modified>Thu, 09 Apr 2026 06:28:18 GMT</Last-Modified><Etag>0x8DE960130AF449A</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding/><Content-Language/><Content-CRC64/><Content-MD5>ebncwguMQu9sgPmr0GazhA==</Content-MD5><Cache-Control/><Content-Disposition/><LastAccessTime>Thu, 09 Apr 2026 06:28:18 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata/></Blob><Blob><Name>matchblob1</Name><Properties><Creation-Time>Thu, 09 Apr 2026 06:28:19 GMT</Creation-Time><Last-Modified>Thu, 09 Apr 2026 06:28:19 GMT</Last-Modified><Etag>0x8DE960130DD708E</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding/><Content-Language/><Content-CRC64/><Content-MD5>ebncwguMQu9sgPmr0GazhA==</Content-MD5><Cache-Control/><Content-Disposition/><LastAccessTime>Thu, 09[...]
[...]
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/goccontainerlistblobsflatarrowmatchesxml?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 09 Apr 2026 06:28:24 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
