{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:01:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB3B454BB31802\u0022",
        "Last-Modified": "Wed, 12 Apr 2023 11:01:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey0/blockblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:01:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DB3B454BD8C8F3\u0022",
        "Last-Modified": "Wed, 12 Apr 2023 11:01:41 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey0?comp=list\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:01:44 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
  [...]
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_9423fc80-fa2c-4226-7570-7018a8aff96d",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:01:45 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "LS1iYXRjaF85NDIzZmM4MC1mYTJjLTQyMjYtNzU3MC03MDE4YThhZmY5NmQNCkNvbnRlbnQtSUQ6IDANCkNvbnRlbnQtVHJhbnNmZXIt[...]
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:01:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
