{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/gocgetlayoutpagercpkfalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:29:12 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8B6DF5C6C3B3\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:29:12 GMT",
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/gocgetlayoutpagercpkfalse/gotestblobgetlayoutpagercpkfalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:29:12 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\"0x8DE8B6DF5D4BD88\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:29:12 GMT",
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-request-priority": "3",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/gocgetlayoutpagercpkfalse/gotestblobgetlayoutpagercpkfalse?comp=layout",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:29:12 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>BlobUsesCustomerSpecifiedEncryption</Code><Message>The blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:60f60719-c01e-0016-1856-bd4a92000000\n",
        "Time:2026-03-26T19:29:12.5843181Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.preprod.core.windows.net/gocgetlayoutpagercpkfalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 26 Mar 2026 19:29:12 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
