{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 27 Apr 2026 20:22:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49AA9BB3267\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:22:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession/gotestblobblobrandomrestcallsusebearerexceptgetusessession",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Mon, 27 Apr 2026 20:22:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "ETag": "\"0x8DEA49AA9C5D1FB\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:22:11 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession?comp=session&restype=container",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<CreateSessionRequest><AuthenticationType>HMAC</AuthenticationType></CreateSessionRequest>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<CreateSessionResult><Id>948e6c278e93424db569ba363c40d837</Id><Expiration>Mon, 27 Apr 2026 20:27:16 GMT</Expiration><AuthenticationType>HMAC</AuthenticationType><Credentials><SessionToken>IAAAIAAAADk0OGU2YzI3OGU5MzQyNGRiNTY5YmEzNjNjNDBkODM3EQAAAG1zLWNkbTA5cHJkc3RyMDFlw0kANw==</SessionToken><SessionKey>Q7JS+t6KIyKwCbM+p4YfAIV58as8yLO3MAGXAfliVEQ=</SessionKey></Credentials></CreateSessionResult>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession/gotestblobblobrandomrestcallsusebearerexceptgetusessession",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 27 Apr 2026 20:22:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA49AA9C5D1FB\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:22:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Apr 2026 20:22:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "aGVsbG8gd29ybGQ="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession/gotestblobblobrandomrestcallsusebearerexceptgetusessession?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-meta-a": "b",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49AACBE631F\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:22:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession/gotestblobblobrandomrestcallsusebearerexceptgetusessession?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49AACC8DEA0\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:22:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession/gotestblobblobrandomrestcallsusebearerexceptgetusessession?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:adc6684d-d01e-0018-0883-d6af58000000\n",
        "Time:2026-04-27T20:22:16.4829415Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobrandomrestcallsusebearerexceptgetusessession?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 27 Apr 2026 20:22:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
