{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/foo%20bar?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "blob",
        "X-Ms-Date": "Tue, 21 May 2024 12:03:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidResourceName",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidResourceName</Code><Message>The specifed resource name contains invalid characters.\n",
        "RequestId:4c9d46f3-301e-007e-2e76-ab8ef1000000\n",
        "Time:2024-05-21T12:03:42.6452910Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
