{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadblobfromurlsourcecpkfail?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:44:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE74A65866DD00\"",
        "Last-Modified": "Wed, 25 Feb 2026 19:44:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadblobfromurlsourcecpkfail/gotestblobsrc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:44:53 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0dZNDRlS0FCb3YyU0RnWmo2UmtLWXpKcHUwNHN3ZVFlazR1V0hPOG5kUG5ZbFowdG5GUzYxaGpuRlo1SWt2SUdHWTQ0ZUtBQm92MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0dZND[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadblobfromurlsourcecpkfail/gotestblobdest",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:44:53 GMT",
        "x-ms-source-encryption-algorithm": "AES256",
        "x-ms-source-encryption-key": "mumbojumbo",
        "x-ms-source-encryption-key-sha256": "mumbojumbohash",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "InvalidHeaderValue",
        "x-ms-copy-source-status-code": "400",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:630e8599-501e-0025-568f-a6b7ca000000\n",
        "Time:2026-02-25T19:44:53.6224254Z</Message><CopySourceStatusCode>400</CopySourceStatusCode><CopySourceErrorCode>InvalidHeaderValue</CopySourceErrorCode><CopySourceErrorMessage>The value for one of the HTTP headers is not in the correct format.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocuploadblobfromurlsourcecpkfail?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Feb 2026 19:44:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
