{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeletespecificblobversion?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9D9E353A915C\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeletespecificblobversion/gotestblobdeletespecificblobversion",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "ZGF0YTA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "c9//V/4k6Ae9T7G8TgfNcw==",
        "ETag": "\u00220x8DB9D9E35417495\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-content-crc64": "OQLrmUNsesY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T14:45:02.6932885Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeletespecificblobversion?comp=list\u0026include=versions\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeletespecificblobversion/gotestblobdeletespecificblobversion?versionid=2023-08-15T14%3A45%3A02.6932885Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeletespecificblobversion/gotestblobdeletespecificblobversion?versionid=2023-08-15T14%3A45%3A02.8272127Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eTafePeILBuqu8fUXcXaoA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9D9E3555BCEF\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T14:45:02.8272127Z"
      },
      "ResponseBody": "ZGF0YTM="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeletespecificblobversion/gotestblobdeletespecificblobversion?versionid=2023-08-15T14%3A45%3A02.8671893Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:45:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cyFggIQSogw/C/rSs4ItGw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9D9E355BAF71\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 15 Aug 2023 14:45:02 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T14:45:02.8671893Z"
      },
      "ResponseBody": "ZGF0YTQ="
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocdeletespecificblobversion?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:45:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
