{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:08:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB3B464FFC1F12\u0022",
        "Last-Modified": "Wed, 12 Apr 2023 11:08:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey0/blockblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:08:57 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DB3B46502A3698\u0022",
        "Last-Modified": "Wed, 12 Apr 2023 11:08:58 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey0?comp=list\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
  [...]
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/mixed; boundary=batch_00000000-0000-0000-0000-000000000000",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "LS1iYXRjaF8yYTA2ZTU1NC0wZjEzLTRjZDItNzIxZC1jNTM5M2JhZDAzZGQNCkNvbnRlbnQtSUQ6IDANCkNvbnRlbnQtVHJhbnNmZXIt[...]
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocserviceblobbatchdeleteusingsharedkey4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Apr 2023 11:09:05 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
