{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobappendblockifmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:54:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764EF0E60C8F\"",
        "Last-Modified": "Fri, 17 May 2024 08:54:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobappendblockifmodifiedsincefalse/gotestblobblobappendblockifmodifiedsincefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Fri, 17 May 2024 08:54:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764EF10B653F\"",
        "Last-Modified": "Fri, 17 May 2024 08:54:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T08:54:20.3350335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobappendblockifmodifiedsincefalse/gotestblobblobappendblockifmodifiedsincefalse?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Fri, 17 May 2024 08:54:30 GMT",
        "X-Ms-Date": "Fri, 17 May 2024 08:54:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c5b81715-a01e-0098-2e37-a83ed7000000\n",
        "Time:2024-05-17T08:54:20.5813118Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblobappendblockifmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:54:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
