{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainercreatesessionnonexistentcontainer?comp=session&restype=container",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<CreateSessionRequest><AuthenticationType>HMAC</AuthenticationType></CreateSessionRequest>"
      ],
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:90a429ec-901e-0036-6083-d6fd4f000000\n",
        "Time:2026-04-27T20:24:03.2838460Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
