{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainercreatesessionmultipletimes?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA227360E0E57\"",
        "Last-Modified": "Fri, 24 Apr 2026 17:30:42 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainercreatesessionmultipletimes?comp=session&restype=container",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<CreateSessionRequest><AuthenticationType>HMAC</AuthenticationType></CreateSessionRequest>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<CreateSessionResult><Id>ca90f9da5a0040b78831062f36574722</Id><Expiration>Fri, 24 Apr 2026 17:35:42 GMT</Expiration><AuthenticationType>HMAC</AuthenticationType><Credentials><SessionToken>IAAAIAAAAGNhOTBmOWRhNWEwMDQwYjc4ODMxMDYyZjM2NTc0NzIyEQAAAG1zLWNkbTA5cHJkc3RyMDFlj8VNtg==</SessionToken><SessionKey>t6v2caJmOHN+OgjedNHKAdjUpNnL7k0zNKTqtdVA5LE=</SessionKey></Credentials></CreateSessionResult>"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainercreatesessionmultipletimes?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
