{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainerrestorefailures?comp=undelete&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:08:49 GMT",
        "x-ms-deleted-container-name": "goccontainerrestorefailures",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that&apos;s mandatory for this request is not specified.\n",
        "RequestId:3faa8322-101e-00c0-3b06-ace688000000\n",
        "Time:2024-05-22T05:08:49.4961951Z</Message><HeaderName>x-ms-deleted-container-version</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=undelete&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 22 May 2024 05:08:49 GMT",
        "x-ms-deleted-container-name": "",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that&apos;s mandatory for this request is not specified.\n",
        "RequestId:3faa83a1-101e-00c0-2c06-ace688000000\n",
        "Time:2024-05-22T05:08:49.7192144Z</Message><HeaderName>x-ms-deleted-container-name</HeaderName></Error>"
      ]
    }
  ],
  "Variables": {}
}
