{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9D9E30E595FE\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\u00220x8DB9D9E30ED1610\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-content-crc64": "\u002BJGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T14:44:55.4294800Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9D9E30ED1610\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2023-08-15T14:44:55.4714563Z",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-08-15T14:44:55.4724563Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?comp=list\u0026include=snapshots\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=tier\u0026snapshot=2023-08-15T14%3A44%3A55.4714563Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?snapshot=2023-08-15T14%3A44%3A55.4714563Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9D9E30ED1610\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?snapshot=2023-08-15T14%3A44%3A55.7073200Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9D9E30ED1610\u0022",
        "Last-Modified": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots/gotestblobblockblobsettieronsnapshots?comp=tier\u0026snapshot=2023-08-15T14%3A44%3A55.4714563Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobOperationNotSupported",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobOperationNotSupported\u003C/Code\u003E\u003CMessage\u003EBlob operation is not supported.\n",
        "RequestId:e2be4490-201e-0024-3a87-cf472f000000\n",
        "Time:2023-08-15T14:44:56.1538825Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocblockblobsettieronsnapshots?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 15 Aug 2023 14:44:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
