{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:17:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7649D2EF81CA\"",
        "Last-Modified": "Fri, 17 May 2024 08:17:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot/gotestblobundeleteappendblobsnapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "X-Ms-Date": "Fri, 17 May 2024 08:17:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7649D317E41A\"",
        "Last-Modified": "Fri, 17 May 2024 08:17:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T08:17:42.6016282Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot/gotestblobundeleteappendblobsnapshot?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Fri, 17 May 2024 08:17:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "QXBwZW5kaW5nIGJsb2NrCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7649D33D437D\"",
        "Last-Modified": "Fri, 17 May 2024 08:17:42 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "F3xJF8HTFZQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot/gotestblobundeleteappendblobsnapshot?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:17:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7649D33D437D\"",
        "Last-Modified": "Fri, 17 May 2024 08:17:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-05-17T08:17:43.0894951Z",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2024-05-17T08:17:43.0904951Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot?comp=list&include=snapshots&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:17:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.blob.core.windows.net/\" ContainerName=\"gocundeleteappendblobsnapshot\"><Blobs><Blob><Name>gotestblobundeleteappendblobsnapshot</Name><Snapshot>2024-05-17T08:17:43.0894951Z</Snapshot><Properties><Creation-Time>Fri, 17 May 2024 08:17:42 GMT</Creation-Time><Last-Modified>Fri, 17 May 2024 08:17:42 GMT</Last-Modified><Etag>0x8DC7649D33D437D</Etag><Content-Length>16</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>gotestblobundeleteappendblobsnapshot</Name><Snapshot>2024-05-17T08:17:43.3314329Z</Snapshot><Properties><Creation-Time>Fri, 17 May 2024 08:17:42 GMT</Creation-Time><Last-Modified>Fri, 17 May 2024 08:17:42 GMT</Last-Modified><Etag>0x8DC7649D33D437D</Etag><Content-Length>16</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</Blo[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot/gotestblobundeleteappendblobsnapshot?snapshot=2024-05-17T08%3A17%3A43.0894951Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:17:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot/gotestblobundeleteappendblobsnapshot?comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:17:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocundeleteappendblobsnapshot?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:18:05 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
