{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocsettiersmartlistblobs?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE9B1FFDA34F06\"",
        "Last-Modified": "Wed, 15 Apr 2026 18:51:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocsettiersmartlistblobs/smartblob1gotestblobsettiersmartlistblobs",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "R29CbG9ja0Jsb2JEYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ebncwguMQu9sgPmr0GazhA==",
        "ETag": "\"0x8DE9B1FFDD093B8\"",
        "Last-Modified": "Wed, 15 Apr 2026 18:51:23 GMT",
        "x-ms-content-crc64": "+JGsS7CR5kg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-15T18:51:23.7785528Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocsettiersmartlistblobs/smartblob1gotestblobsettiersmartlistblobs?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Smart",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocsettiersmartlistblobs?comp=list&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.blob.core.windows.net/\" ContainerName=\"gocsettiersmartlistblobs\"><Blobs><Blob><Name>smartblob1gotestblobsettiersmartlistblobs</Name><VersionId>2026-04-15T18:51:23.7785528Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 15 Apr 2026 18:51:23 GMT</Creation-Time><Last-Modified>Wed, 15 Apr 2026 18:51:23 GMT</Last-Modified><Etag>0x8DE9B1FFDD093B8</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>ebncwguMQu9sgPmr0GazhA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 15 Apr 2026 18:51:23 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Smart</AccessTier><AccessTierChangeTime>Wed, 15 Apr 2026 18:51:24 GMT</AccessTierChangeTime><SmartAccessTier>Hot</SmartAccessTier><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>smartblob2gotestblobsettiersmartlistblobs</Name><VersionId>2026-04-15T18:51:24.0543408Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 15 Apr 2026 18:51:24 GMT</Creation-Time><Last-Modified>Wed, 15 Apr 2026 18:51:24 GMT</Last-Modified><Etag>0x8DE9B1FFDFAA8B0</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>ebncwguMQu9sgPmr0GazhA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 15 Apr 2026 18:51:24 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Smart</AccessTier><AccessTierChangeTime>Wed, 15 Apr 2026 18:51:24 GMT</AccessTierChangeTime><SmartAccessTier>Hot</SmartAccessTier><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocsettiersmartlistblobs?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
