{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=properties&restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:50 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>"
      ],
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=properties&restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Wed, 22 May 2024 05:09:51 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<StorageServiceProperties><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"
      ],
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
