{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocsasserviceclient?restype=container\u0026se=2023-02-07T23%3A30%3A58Z\u0026sig=6rhKXzYCTpsPvX7HI0BYMm5rhIeP41Lml%2FbNRojYbKg%3D\u0026sp=rwdxylacupft\u0026spr=https\u0026srt=sco\u0026ss=b\u0026sv=2020-02-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB095AFCE17F2C\u0022",
        "Last-Modified": "Tue, 07 Feb 2023 22:30:59 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gocsasserviceclient?restype=container\u0026se=2023-02-07T23%3A30%3A58Z\u0026sig=6rhKXzYCTpsPvX7HI0BYMm5rhIeP41Lml%2FbNRojYbKg%3D\u0026sp=rwdxylacupft\u0026spr=https\u0026srt=sco\u0026ss=b\u0026sv=2020-02-10",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
