{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/goccontainerrestorefailures?comp=undelete&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:16:44 GMT",
        "x-ms-deleted-container-name": "goccontainerrestorefailures",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that&apos;s mandatory for this request is not specified.\n",
        "RequestId:5bc4c94a-d01e-0082-2143-a85f08000000\n",
        "Time:2024-05-17T10:16:46.5913518Z</Message><HeaderName>x-ms-deleted-container-version</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=undelete&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 10:16:45 GMT",
        "x-ms-deleted-container-name": "",
        "x-ms-deleted-container-version": "",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that&apos;s mandatory for this request is not specified.\n",
        "RequestId:5bc4c9bb-d01e-0082-0943-a85f08000000\n",
        "Time:2024-05-17T10:16:46.8223362Z</Message><HeaderName>x-ms-deleted-container-name</HeaderName></Error>"
      ]
    }
  ],
  "Variables": {}
}
