{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "27cafca8-b9a4-4264-b399-45d0c9cca1ab",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AZURE-CDN-TEST",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test",
        "name": "azure_cli_test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testAFDProfile?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "4999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testAFDProfile",
        "type": "Microsoft.Cdn/profiles",
        "name": "testAFDProfile",
        "location": "Global",
        "kind": "frontdoor",
        "sku": {
          "name": "Standard_AzureFrontDoor"
        },
        "properties": {
          "originResponseTimeoutSeconds": 60,
          "logScrubbing": null,
          "frontDoorId": "f08ca7af-2937-4448-8015-120b09547104",
          "extendedProperties": {},
          "resourceState": "Active",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testAFDProfile/customDomains/domainupdatetest-clitest-azfdtest-xyz-edc3?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/azure_cli_test/providers/Microsoft.Cdn/profiles/testAFDProfile/customdomains/domainupdatetest-clitest-azfdtest-xyz-edc3",
        "type": "Microsoft.Cdn/profiles/customdomains",
        "name": "domainupdatetest-clitest-azfdtest-xyz-edc3",
        "properties": {
          "hostName": "domainupdatetest.clitest.azfdtest.xyz",
          "tlsSettings": {
            "certificateType": "ManagedCertificate",
            "minimumTlsVersion": "TLS10",
            "secret": {
              "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azure_cli_test/providers/Microsoft.Cdn/Profiles/testAFDProfile/secrets/0--fc07cbe3-1806-47f6-b1aa-d6c66ce7a414-domainupdatetest-clitest-azfdtest-xyz"
            }
          },
          "validationProperties": {
            "validationToken": "tz9fnr9dqwrr6tkd307k78s4dr7pl1p4",
            "expirationDate": "2024-04-22T08:16:19.0276314\u002B00:00"
          },
          "azureDnsZone": {
            "id": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/azfdtest.xyz/providers/Microsoft.Network/dnszones/clitest.azfdtest.xyz"
          },
          "domainValidationState": "Approved",
          "preValidatedCustomDomainResourceId": null,
          "referencedRoutePaths": null,
          "extendedProperties": null,
          "provisioningState": "Succeeded",
          "deploymentStatus": "Succeeded"
        }
      }
    },
[...]
