{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName2262274532"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName2262274532"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName2262274532(PartitionKey='parti%27%27tion',RowKey='one%27%27')",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "parti'tion",
        "RowKey": "one'",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A20.3446787Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName2262274532(PartitionKey='parti%27%27tion',RowKey='one%27%27')?%24format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A20.3446787Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#tableName2262274532/@Element",
        "odata.type": "Sanitized.tableName2262274532",
        "odata.id": "https://Sanitized.table.core.windows.net/tableName2262274532(PartitionKey='parti''tion',RowKey='one''')",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A20.3446787Z'\"",
        "odata.editLink": "tableName2262274532(PartitionKey='parti''tion',RowKey='one''')",
        "PartitionKey": "parti'tion",
        "RowKey": "one'",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2024-10-16T23:02:20.3446787Z",
        "Bool": true,
        "Integer": 1,
        "String": "some string 1"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName2262274532(PartitionKey='partition',RowKey='1')",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Integer": 1,
        "MergeProperty": "foo",
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A20.4322948Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableName2262274532()?%24filter=RowKey+eq+%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#tableName2262274532",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A20.4322948Z'\"",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2024-10-16T23:02:20.4322948Z",
            "Integer": 1,
            "MergeProperty": "foo",
            "String": "some string 1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName2262274532')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:02:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
