{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.queue.core.windows.net/queue174975178278308872?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Jun 2025 18:09:42 GMT",
        "x-ms-version": "3025-01-01"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:0be44ae8-a003-0004-48c5-db7406000000\n",
        "Time:2025-06-12T18:09:44.0798802Z</Message><HeaderName>x-ms-version</HeaderName><HeaderValue>3025-01-01</HeaderValue></Error>"
      ]
    }
  ],
  "Variables": {
    "queue": "queue174975178278308872"
  }
}
