{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873336E9A\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873528ADF\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:45.0109663Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.0109663Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.0109663Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78736CECE1\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.1838689Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.1838689Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.1838689Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "N4XYbawnHmdLDCbBIi1b+QcKIqCaTPNwdZizCk7guGsNEyDM7ABypiGbWyUieL+UyQLWv11tkeqSaPgTcxQYa1O6tA8Njw0HmHt//vHOTvzZH0BMCfgOn4E1OoQIXjIMg/DRZ8Svhzn1zyfi7pP4xBn7OlTTzGFarBSO11WI/jlIcnsB/Oc3KZcHVzrRLLHuPHVrDCTeObaPdruvIa/kbNHtmXsX98gywxC8zHUmiYBjoJrfHfEVajjFcoUsiAjnIupp45I11kWtOEgUIW1BaO06TIEVBU/f2C9DUYVCBjsI1amKvabtLslVMeSoAUnLhAqY8TyG0hybiQtj8oW/azINC0zDtqpHTR24wNRrNtbleM17qhX/gQKN7zSaiTxDlcWxm/X9B81gUaMezhJIL1I0fXq3RMAdDYpJNsZ1rMPhdCoOuZvh6HD/G1lx4bPwRL/hZQzCjFEFk41rs9EH6qTfPFroOXa3U5QJuClnrCzXWfEHlEa3H+jZCSYNdjWe+DC0kaRZCApJKhJ3uNMnnedhk1rfAFZdKBxxDjBPqtxfar/4sxqIflHmvWo0P2cUsWs+rOLbv/jaVmmH5/na+X82GE0TLurM2RUI+ELsKei1XVzEEP36hKvHHlyxAJZYDMPq/ScZAIOBctPN0sa17iyA0oqcFeiCPJOiSxCNG9h+sOx+AivAm1zZQ54qLLHkEi8wMC0Mu/fbaMGTd7Ry81b6TiLaNuwAwDYtw9FJVw/ivTngXeqqcvX0o5lqLCSnZ09HL96PCtxDL3D33vglkRCysbp7kZZrT9wt5ZJSlpMShlyCAicwU7JdnC56s5P8zxKJt3tpLNW53OACYiVJ8Zjc5Fico4/ogl4HHvVo8ZxIMBV/yN8YqFmGySVHLvGNE6uVnc46YCyDoDQcYg7gUOpEuTIPyii5xDv+FdlpoVRteQpJ0lPNDs/p+yeq+0ZLpng7A3S/fkmC29mTO0tSGv/gr+gDln2Xd6tiJc4ADsj1s25hLZ7grvrAx/d5OdKEluEoyUtdRxD6o4zIXFl7gc0RnYjc8exhAAHtQs+GHT3Z3o7t2ER8l2teZooSF1GhRUUpaJxJp6X0x8lKbwRAc4VO737KjqmIlAYcfopiT+mwTP2KXLWgjzbp+BF7MihnHfIEwyjT17ebodOWLSkakXjgmiMHthbPrl9H4JWYDGLdtWCYXYzB3HRG7rvhCmEMz2eZm5cEX2bbNBXIi/ciA5VxuHfIgTTrH72uwchb7qP+OxAu/3HK2VX6vCh2+FF9I+slb1LpRE0yrXzaVZ6df0ZxylDm9AMjp94izsUMdSZrMZ3dNn5QFPbC+1L174O2XDzhBS4Bli/nAchzx3WIJg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dwuiTdHB4WyzOEYvBN6+AQ==",
        "ETag": "\"0x8DDBA78737AF499\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.2758169Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873821F83\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.3227907Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.3227907Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.3227907Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/file%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "R[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%3Dbar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA787391FBB4\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:45.4267316Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.4267316Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.4267316Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78739A5EED\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.4817005Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.4817005Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.4817005Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "u[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873ABE895\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.5966357Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.5966357Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.5966357Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
 [...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%2540bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873BA3E62\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:45.6905826Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.6905826Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.6905826Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873C2C8A8\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.7465512Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.7465512Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.7465512Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%2540bar/different%21file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
    [...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/space%20folder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873D208B4\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:45.8464948Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.8464948Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.8464948Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873D8E585\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.8914693Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.8914693Z",
        "x-ms-file-id": "12105746167116070912",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.8914693Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/space%20folder/space%20file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17\" DirectoryPath=\"source=path@#%\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file=test!@#$%</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>folder%40bar</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>folder=bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>space folder</Name><FileId>14411589176329764864</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%2540bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7873BA3E62\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:45.6905826Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.6905826Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.6905826Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%2540bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17\" DirectoryPath=\"source=path@#%/folder%40bar\"><DirectoryId>17293892937846882304</DirectoryId><Entries><File><Name>different!file</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA78737AF499\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.2758169Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.1838689Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.2758169Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/folder%3Dbar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17\" DirectoryPath=\"source=path@#%/folder=bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>subfile=test!@#$%</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA78737AF499\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:45.2758169Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:45.1838689Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-03T21:27:45.2758169Z",
        "x-ms-file-parent-id": "138[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17/source%3Dpath%40%23%25/space%20folder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17\" DirectoryPath=\"source=path@#%/space folder\"><DirectoryId>14411589176329764864</DirectoryId><Entries><File><Name>space file</Name><FileId>12105746167116070912</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0a085d77-fd83-8c57-446c-8cb4b1c15b17?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1782261926",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
