{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E9E498D51\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E9E501EAD\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:30.9784749Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:30.9784749Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T23:25:30.9784749Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E9E54868A\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:31.0073482Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:31.0073482Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:25:31.0073482Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo/folder0/test-file-26efd80e-7eeb-f4f1-2156-3f4f6f20d778",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E9E58C784\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:31.0352260Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:31.0352260Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:31.0352260Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo/folder0/test-file-26efd80e-7eeb-f4f1-2156-3f4f6f20d778?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "d0SuoSnAkdPAgmA/ztbSoT/pandX2HIGoNW4DJ1AuU7aupl/ypKJD0M523stxgiR7G6ijBkB657RqAFTB4Q2gMkRZRQ9UtatX1ozHf322NrNJiAvniw12M/7rSKRNge+A1uyHGDzVJmY9Cy/zs2h2s8nhuFkB+Kc3I1FQqWzHClSdRqhRLx52dKGl6n/dgoCWdJTaq8mWvx5FUDTrhL05NgDbFmy/5YTrawO3XA4nGaCQujSYLJ5KxoeKC58pirAkrLR/AmxT1o8P7wDF3yMQXnaUGsqIYQliUE+lNdnlgeCTku9Z6Bc0fONliD1dhOekue1olW+lnAuq3LHc7qC1ai1gckwztnYfX94nItjMBMtnwLwsfSyw7jbj7stlV05C8B3QPVKbsMN3SXVRvrly3temtO4kiO0A70QVT8eq+ghP5DK6+8e4zE+49TP3Hy+9cRAzvqJgHmdwz03ORiE7zE9swdpGt+LQLeiea5P5CZAUl973dztl74XLSiy5qkYufSikih1VNvktY1D5wbKTd4W9ue5CRFVTxtIUey22FoNicC6rVL+y/2ElidOqbC3TeBJnO/CX7DiTUINLALuLdwzNV1GD6CLGCvpNHPpBqZrkQQMbDxqSyoQ2GAQ8J77lWhLG3NTcT0/voPD2So8+Eacopv94sCgyOozNjdAeyeN7p8KnusyFx/HzK64p3L/098ZdE4C/bKnq1KJIDoF/0JcNuqKMVlaaYp7NhUS5yF3M2NXJgfYivHsY/OZqffkws1sXHCHdaGFvwrEhsedlcMwEezXrtg6hKv5nc5mwcCSl3NIpYuw777B0Wf9EwQpT80vaJcKDBT0MdfFjtfSH/1JMu9TVe84fyEuFtxwPXCnz04AN1gph4pfU3Sz62Hn77Jps+EU1vre9+l13PY3g/RnHb6I0uilIKpl8wF7hJPARycpB4qPkvlUIj9us6uTKM9/TM2jXhzKxJI2r+P4YnJVtZTPDXxp2IvFNK+oNm3+0csy+zjGHOgKX0L3WOMVW8DNGf4XwxpTFnRC3iptIo4lON4YxmY6j5irxa46cX+nr9jv2h1u5w2w3uXEgz6+nD200h8F/ZVZk4lla/5rGKT0mi9RfUdxtlDQZ+eAdQxa7ShxhZ9gorFDlUeTCXwPRcVB0OgPbB/1QxzPNZat2B19Cn3V+pMElPh9Duf/3a3UwCEhPqUjS4AJe0KDkG0albwqFf7+OkoyPTzwkV439mVv+nR0i5p4Wr78y35RgQOKY3gq1ciu1YXW7gFpM7oi0YTcFJX4pQkisrs/AW7M4bs4Zi7lDCGdwCXunp2YDiYE2vr5dGxtkb1uByIMbtQXCg1FMM2MPcVjP1NwCgdsig==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "+rGUnb450b8SZgOpRu0R+w==",
        "ETag": "\"0x8DD933E9E5F4FE0\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:31 GMT",
        "x-ms-file-last-write-time": "2025-05-14T23:25:31.0780384Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E9E54868A\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:31.0073482Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:31.0073482Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:25:31.0073482Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-26efd80e-7eeb-f4f1-2156-3f4f6f20d778</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo/folder0/test-file-26efd80e-7eeb-f4f1-2156-3f4f6f20d778",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933E9E5F4FE0\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:31.0780384Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:31.0352260Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:31.0780384Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058/foo/folder0/test-file-26efd80e-7eeb-f4f1-2156-3f4f6f20d778",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933E9E5F4FE0\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:31.0780384Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:31.0352260Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:31.0780384Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-85dbc5cf-a361-da83-bd7a-395c3cde5058?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1021007540",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
