{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B280D0CFC\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B2816ECE9\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:26:44.8997609Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:44.8997609Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:26:44.8997609Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B28203150\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:26:44.9604944Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:44.9604944Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:26:44.9604944Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/bar/test-file-839fdd55-2332-afea-4db8-41a78af2c8cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B28294ED2\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:26:45.0202322Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:45.0202322Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:26:45.0202322Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/bar/test-file-839fdd55-2332-afea-4db8-41a78af2c8cf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "qBdhi30lgdVsd+Nm0IhHEpz733JiO0fd2HQ5OV5m22FTJdc6zVg9afz69hJVxvsnTTnl8Ec0xW3PhLMJ60d2BpyCE6uwDUVDvXZ1aEQ1hxF4EuwkgOoZHl9qakmlNH60g/B207NQdj/0oTPQvl0omvyikNhbUoWxaPRLRqL7non4weRUvrRdKJysMN+3SF8CQc9MAqOlWTFqxWq+BTCc+AKp2P141NxIRGg8riGm+h+USAXTr5zlU2iz6vlJnyJsEDjcDXBiiWzzBL07aKoQw8pLKbwqyUlmxIWVxeri/qVF0J7pyuyvMr6Z36requq9oyYu/XVmQUbudUnqzcSBEQYX9ZcMJvnenPf9keqfiBqa1yLEswAw349X+lSjxGT6F86kxrRTsXwsUGF+aLBcT+0uUPWhvV0F5xUItCylOtiSA3ob+8JlRiammGOfsnff+qpndHNvWFlwnt6eS/xPhhWJ62Q1QFQryQnP+yX6ZjSeKLmBPsVkI6ogq1zjxvspVhFNFsYSqblWPKtqn100djipACJCzkhQJMi6FJX3RwINpqQUrFBui3//KgEa+oNN7DQkOcXZ5ojI/fH+WJQkXvSoXPm4H8noO3WjQ6NHNSlEbShh0w49NMAcTK9ebzLq28wNcZ6KlM1qO/1PNqPlgcfHuetsw4rlayc5nNMaictDuGfWOcSLudhb9pgR7f4cNsrnlrVGfRhBJwV2Uff5ULExC307DkcDPAATEczy1H4pHGUIMvMV/TpOlRG+FGfhYabm4OGA4SiD5Fq1M2xMTlOHTDWR8B2+Gw5C7Hg1RCeYMbAmDPOdqTs9hU6ZYMrOAka+N8gyT3CIJ8TSPfSvTp8yHQG7JkJf6qP6VGvPJLtEdOkydw1fZeE/neQvymtGjTavZkLIE9wDXk0kOPsEuQMJjskKfdaR07gffIheMB83s8Y0H714e2ANLhjAOi3mO+PhJTuiPBBgHZOKqZZTpS0t7IQ0z5lFkBJo/U690ZiKOUClfAvklXa21AIq7tLJuYnrkk6osWtJnJUoOT/Cokz7/29WrigiSVYNfvqXGqFAnkTF0j5K4YfVXOB1u1w39DK2Lu9icwtgyEn3mzNwsYHz6Jr6/M8NsR7ogFFIrI361onH4Oyy3So5ZQr1UkZTZKpfgtLBPPdjqX3RevO5Fxu7/cSqqNGVQApwwZfFGF7XlRum6Cq6OJmSZDdu4WM3f03uOVWBqbzZykHIUXtfnpAe+eTYEi7xAMQrF0SZJl+nOEFK1t4JVutfzB7o8uceMsWnUOd+X2we/DmRVZF3QKPhIRg5FcexFaP5eEUQCQ3cDeV+8tZ3KNnULNqldwBa54x7BtHO5R3+9TtEheYnDg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "o0FR8CQJTC7ziLTWjkH+hQ==",
        "ETag": "\"0x8DD161B28332ECB\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-file-last-write-time": "2024-12-06T17:26:45.0849483Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/rul?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B283C257E\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:26:45.1436926Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:45.1436926Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-06T17:26:45.1436926Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/rul/test-file-2ff7e8d5-be0c-5882-9aba-922ca0fd38ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B28467A0E\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:26:45.2113934Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:45.2113934Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-06T17:26:45.2113934Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/rul/test-file-2ff7e8d5-be0c-5882-9aba-922ca0fd38ec?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      [...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B2858674B\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:26:45.3288779Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:45.3288779Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-12-06T17:26:45.3288779Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/pik/test-file-a9911e69-3bc7-75a6-789d-cd4fb9c8a48d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B2862950E\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:26:45.3955854Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:45.3955854Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-12-06T17:26:45.3955854Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/pik/test-file-a9911e69-3bc7-75a6-789d-cd4fb9c8a48d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      [...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/bar?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-839fdd55-2332-afea-4db8-41a78af2c8cf</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/pik?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-a9911e69-3bc7-75a6-789d-cd4fb9c8a48d</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/bar/test-file-839fdd55-2332-afea-4db8-41a78af2c8cf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B28332ECB\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:26:45.0849483Z",
        "x-ms-file-creation-time": "2024-12-06T17:26:45.0202322Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:26:45.0849483Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "qBdhi30lgdVsd+Nm0IhHEpz733JiO0fd2HQ5OV5m22FTJdc6zVg9afz69hJVxvsnTTnl8Ec0xW3PhLMJ60d2BpyCE6uwDUVDvXZ1aEQ1hxF4EuwkgOoZHl9qakmlNH60g/B207NQdj/0oTPQvl0omvyikNhbUoWxaPRLRqL7non4weRUvrRdKJysMN+3SF8CQc9MAqOlWTFqxWq+BTCc+AKp2P141NxIRGg8riGm+h+USAXTr5zlU2iz6vlJnyJsEDjcDXBiiWzzBL07aKoQw8pLKbwqyUlmxIWVxeri/qVF0J7pyuyvMr6Z36requq9oyYu/XVmQUbudUnqzcSBEQYX9ZcMJvnenPf9keqfiBqa1yLEswAw349X+lSjxGT6F86kxrRTsXwsUGF+aLBcT+0uUPWhvV0F5xUItCylOtiSA3ob+8JlRiammGOfsnff+qpndHNvWFlwnt6eS/xPhhWJ62Q1QFQryQnP+yX6ZjSeKLmBPsVkI6ogq1zjxvspVhFNFsYSqblWPKtqn100djipACJCzkhQJMi6FJX3RwINpqQUrFBui3//KgEa+oNN7DQkOcXZ5ojI/fH+WJQkXvSoXPm4H8noO3WjQ6NHNSlEbShh0w49NMAcTK9ebzLq28wNcZ6KlM1qO/1PNqPlgcfHuetsw4rlayc5nNMaictDuGfWOcSLudhb9pgR7f4cNsrnlrVGfRhBJwV2Uff5ULExC307DkcDPAATEczy1H4pHGUIMvMV/TpOlRG+FGfhYabm4OGA4SiD5Fq1M2xMTlOHTDWR8B2+Gw5C7Hg1RCeYMbAmDPOdqTs9hU6ZYMrOAka+N8gyT3CIJ8TSPfSvTp8yHQG7JkJf6qP6VGvPJLtEdOkydw1fZeE/neQvymtGjTavZkLIE9wDXk0kOPsEuQMJjskKfdaR07gffIheMB83s8Y0H714e2ANLhjAOi3mO+PhJTuiPBBgHZOKqZZTpS0t7IQ0z5lFkBJo/U690ZiKOUClfAvklXa21AIq7tLJuYnrkk6osWtJnJUoOT/Cokz7/29WrigiSVYNfvqXGqFAnkTF0j5K4YfVXOB1u1w39DK2Lu9icwtgyEn3mzNwsYHz6Jr6/M8NsR7ogFFIrI361onH4Oyy3So5ZQr1UkZTZKpfgtLBPPdjqX3RevO5Fxu7/cSqqNGVQApwwZfFGF7XlRum6Cq6OJmSZDdu4WM3f03uOVWBqbzZykHIUXtfnpAe+eTYEi7xAMQrF0SZJl+nOEFK1t4JVutfzB7o8uceMsWnUOd+X2we/DmRVZF3QKPhIRg5FcexFaP5eEUQCQ3cDeV+8tZ3KNnULNqldwBa54x7BtHO5R3+9TtEheYnDg=="
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/rul?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-2ff7e8d5-be0c-5882-9aba-922ca0fd38ec</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-839fdd55-2332-afea-4db8-41a78af2c8cf</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-a9911e69-3bc7-75a6-789d-cd4fb9c8a48d</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca/foo/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-be04597a-3998-638c-fd2f-68f28d1c37ca\" DirectoryPath=\"foo/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-2ff7e8d5-be0c-5882-9aba-922ca0fd38ec</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-be04597a-3998-638c-fd2f-68f28d1c37ca?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:26:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "547806456",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
