{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE170D38A2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE17122F39\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:58.5853241Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.5853241Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.5853241Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE1715D4A4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:58.6092196Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.6092196Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.6092196Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/test-file-94288d5f-4708-f44c-cc01-d468f066a2aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE171A3C7A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:58.6380922Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.6380922Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.6380922Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/test-file-94288d5f-4708-f44c-cc01-d468f066a2aa?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "nm8sQCn24gX7nJ3EvP172TEvo9PHagv54yzJRZQncyIm4ZfqQGbVtpFCPmtaj4kUXFW1uJqGkzNjM1z9LJ1x1Cl7ndpmkZjKWe1ChCygnlSjtek+cbqHoE1jhg0J2In00WpB3/Gvrsu86l6tQw4Gw5UIWnezMmJv8/2MAgqLwYFkTrPCXr5j9AYegodb2lw/XMJ3AH4RQJ4I0uvzIqvAMCndSPVbRGTWpWZwlbDaExmgTaZHE8ADUw0VuozTb9FbXVFefZFm4xheoVsYoKvtLb7SU9UFeR1o2vXoRonYAzaUFTdffJWHOWmN6XJk67JiJ43OABv8VeQ09aOcfp2OhZ4lg4p0jrAoShlreI+qA+9Chh/8CgIamL9SKoby6rvL/mPTP2cn7ZjcpbYCkN1VifG0Wfh+knucC+vLIWQpNmBdoHkr1sSHG5iGIGRMFwji/KCVPpDDTGznNzN8XMw0sm5VpO9kKbIsLD5g93IWT/Tj6CXDlPjPmlMMRJ6RC77MUm329nIYfdPtaBFSYlT60eg/mXOncB11hgqbV+UUmyCAlKUEIFmBymtR1SvmfTf/EnO2UXJLJeJPgHBofCXu2czx0c6v9rCOvc4IVZvyjwjSnEVyXUquNG7DtJ/pGU5FY/tf9atpTxvCKJOkQ89GXfFnlt/fe3yCQp1f7EERpaR/wvGfkpldaUwqsDW2CvGffFaugoNuZed/3LMOCWPasYPuJIDdp8pYCSyStctHyzirwHDqYiIhEVwKILbmT1/pUP6xx+VxwdWLVXhW27AcNxB6Ykjz705gzRMk04YUcrrNqWXMlQNSOv6bXw2qyjWs7eila+wX9mCwUfrSTO1Od+O+iTJKT6IMJyhJWJBAtgPdd+WdbgbOtrIEHEMJf+0QTOcp60ECYp5GmEPDzZ7Qb5v39dUIsAnc79N/RTNeA6c7OQuoF8rB2hVHV9XCCugUNKyoEooXCJveTfxughxr6JWciJOTKFjRNRq/wVkzGuTqaxGGtvAdIzBvysnOU1j5228/JoJVgQxT191wWEdCqjIXgxYL5DGkf2RjI12OAuHCxuXq8/NileoFMt4TrMvpLSCWts9B7vY9m6cd8V2uxdT7rZFhV7Y/tO4sBbJSkdKZevY990sSgdjvrVhMRKONVm0KGP85h9VpVwLgFOhE6gnVhHdmcc2I6Cy4cqpe8nBLnq5ESHnTYPIh06BJMWzwqsNPd78sJ+Wggi/SgBQqC2SRlXY5/6KQASSERJ0sPrfAyMfnDnuwH3fJo8VJAN/d9sg7uJz2tqogv3Wbp+JHc0R4ErdMQ/zp4Xb+cFvcRgFEpk7V8YYayhIcxk8FFHeVgTCB0e4nkLLLUdcl90VPRA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sOFNWYi+Q9f5uItw1uMYuQ==",
        "ETag": "\"0x8DDC4CE172249C6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.6908614Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE172663DE\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:58.7177438Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.7177438Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.7177438Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/folder1/test-file-c9f6d2b1-bdd1-e521-12e9-cfb021cb39cb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE172ACBB5\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:58.7466165Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.7466165Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.7466165Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/folder1/test-file-c9f6d2b1-bdd1-e521-12e9-cfb021cb39cb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-writ[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5583f705-42b9-d8e7-4a22-665cb045fe34\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE1715D4A4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:58.6092196Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.6092196Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.6092196Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5583f705-42b9-d8e7-4a22-665cb045fe34\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-94288d5f-4708-f44c-cc01-d468f066a2aa</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5583f705-42b9-d8e7-4a22-665cb045fe34\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-c9f6d2b1-bdd1-e521-12e9-cfb021cb39cb</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/test-file-94288d5f-4708-f44c-cc01-d468f066a2aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE172249C6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:58.6908614Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.6380922Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.6908614Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34/foo/folder0/test-file-94288d5f-4708-f44c-cc01-d468f066a2aa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE172249C6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:58.6908614Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:58.6380922Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-17T01:05:58.6908614Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5583f705-42b9-d8e7-4a22-665cb045fe34?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1536011676",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
