{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D98EFC367\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D98F94ED6\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:52.4082390Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.4082390Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.4082390Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D9905EADC\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:52.4908764Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.4908764Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.4908764Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/test-file-64428191-65b7-2bee-47c0-df0b30c1263c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D990C2569\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:52.5316969Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.5316969Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.5316969Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/test-file-64428191-65b7-2bee-47c0-df0b30c1263c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "OK0sWUouclbCpsqsvFTtvyji8DNwCXDBCUPxOoDEBHYLlQhnHhLBB1llIa0l1WH9kjAeslZe3y49a08GPDfV/aFUoSZLhaAVIOjZCufDnDTi9KhQplIfrbbZKrPCussikCML0TQ6sQ2QCJFuhNRHes4bJEePhVdPNPNwclrsUmUct3rEt8oAp0Obv53AsCjhkrDkp5aDkgvLvJxAyT6ypLUsUcxagsIEG3wE9MW6j4TKjuCqB6vPmSRv+Pstv94E6BvnlF5chw/t4Isaf55FESwYdTpeCJwKXLin64rH1lue/wuq0volbgfQvCYftRmGKebOFUmjpuB+3TemtJuFJgowe3+Smj4y8wYzjUt16qeeIcGj+MAR+1gqK/XDfrpsS5Uc7zma9I6onCJDbxiVCfKPCJPZ4i5JHoAnZ29JbnRMxkK2WfpuBCwz+lyezotAlSICNHYnkmln0tG4cowfXy6t9qjW3q/4IQRmpufRq0/15tFNRjr+JTTZToYptZGgE5su8NjiardyChJxwOuBlSaBw4y70Rjzr9F0/JApzmtyxpJLo7t3Enwa2zwnjGRIV7hfqPIF5UGDOkAGbW0mSTun/vpZNvJrCbAPoPbczCJsLKTXySZ5beBQyGl6cKQP9JEAgI1p7yHG9J5B9URLp20dmkHIToAVLZAZCG6I8JgLAKxl20yUAzyDENSHOHicBSD7XNZiRqUR61L8T+ezPgMGNfSY5sshiZYFRT2rjvUYfQJNjZTBqboHU/D5mLNV0NLRgQODBB9V2tNAXQBnZl1d5NLkZbFvRIw6kJLbJ/Hjr3Vr2QzylHni+LPAgUu5oO2TnLPhcGohYT12SXOMebLiXK2L/IxQa09YAm39rsJAgfClSIs9AT8KSXjPe0sFVX4A3SSdLaRgQzFjiG79I7J6NciD5zEnpVtugbIUgO8EUqzu/dGdo1NMRAVZ2XjQDSXFVEWDgm5N2TjJL6zxTMJBXzXBDibh3ZJ0NqIszcvinXSNTyupgNA+oSOY03OnW/hCGHlCD/7+43eyDkzLIQxt5pE3Y/yXl99lg2wCSQkezdup6bRRn451jmy093GEcoAXK+zhb/j7q4Ca3YuS/Jltk0FxIjdXG0cDwtSQ46Bt4RHs6x0cPV3jrj40t8IC45LSRmMwE1BIwBCl3q0jasjfLft6pRB7UFbkjnP5I2OEAN9Bvpw9PM7BoysNd16wv0N2VIrGiD2BVvUMTIXcT5ysId3O4awrovAtuQHlbtn4M84wgs7ZvXihv2imMfBJ5VSOYVaB4t2WSrGZmc88nOgcFBi2q8zO0mNkLCJEhXH/49OtVwyDdlHxmTgcQCSoZCN/ihzYkjmHwI7yHLW7Ug==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dvQZ2dSVeW/S3HtVkbk5Aw==",
        "ETag": "\"0x8DD7B7D9914807F\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.5864575Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D991B5697\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:52.6312599Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.6312599Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.6312599Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1/test-file-c7c32c8b-3e08-9aca-6a33-b45bb37a02f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D992205D6\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:52.6750678Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.6750678Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.6750678Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1/test-file-c7c32c8b-3e08-9aca-6a33-b45bb37a02f9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-writ[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1/folder2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D992C5A80\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:52.7427712Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.7427712Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.7427712Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1/folder2/test-file-a4e63588-f9ce-9eb0-5629-591f283d6ce6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D99326E28\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:52.7825960Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.7825960Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.7825960Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1/folder2/test-file-a4e63588-f9ce-9eb0-5629-591f283d6ce6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D9905EADC\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:52.4908764Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.4908764Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.4908764Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-64428191-65b7-2bee-47c0-df0b30c1263c</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-c7c32c8b-3e08-9aca-6a33-b45bb37a02f9</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/test-file-64428191-65b7-2bee-47c0-df0b30c1263c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B7D9914807F\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:52.5864575Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:52.5316969Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T17:55:52.5864575Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "OK0sWUouclbCpsqsvFTtvyji8DNwCXDBCUPxOoDEBHYLlQhnHhLBB1llIa0l1WH9kjAeslZe3y49a08GPDfV/aFUoSZLhaAVIOjZCufDnDTi9KhQplIfrbbZKrPCussikCML0TQ6sQ2QCJFuhNRHes4bJEePhVdPNPNwclrsUmUct3rEt8oAp0Obv53AsCjhkrDkp5aDkgvLvJxAyT6ypLUsUcxagsIEG3wE9MW6j4TKjuCqB6vPmSRv+Pstv94E6BvnlF5chw/t4Isaf55FESwYdTpeCJwKXLin64rH1lue/wuq0volbgfQvCYftRmGKebOFUmjpuB+3TemtJuFJgowe3+S[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab/foo/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab\" DirectoryPath=\"foo/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-a4e63588-f9ce-9eb0-5629-591f283d6ce6</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-01507e46-98e1-4c39-4ee9-94c70b5cdfab?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:56:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1997312011",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
