{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE1970D086\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f/test-file-6234492d-393d-1947-b9e9-9ed09338f2b2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE197583D8\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:06:02.5917400Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:02.5917400Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:06:02.5917400Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f/test-file-6234492d-393d-1947-b9e9-9ed09338f2b2/test-file-14554826-7881-0297-763d-5db1dbd5b45c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE19792948\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:02.6156360Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:02.6156360Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:06:02.6156360Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f/test-file-6234492d-393d-1947-b9e9-9ed09338f2b2/test-file-14554826-7881-0297-763d-5db1dbd5b45c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "NUHTU6PJUZ7LxP9NC9kj21dQUyhRZr4G4t93Lpt8tH72iYmdx5Fpk2Lkgdn3D6rYDhGpi0MVks6DzHDDUiICTxCAVoJQhhPF57/FbOTlD9M1niCK0ig74fa6GvsgpUE/4TLJdrgnh4j946SDTybqnbydjrMCeHznRHWLlmsXpEF+hoqyHJkaDRaXjO+DuJHPz3w+gxaNPWm14TFDm/Ec5T5iBcmbOIEjgoCcauuNY4zjvMbv2SEr8Egg/Dpn13EleqawIbLINJf6GwCW8NJ+KH6kX98rLAwdNxSAejtHu6sOd+9E3ELaGogv9b4glP92otS8w3iR+U6ak+mdSLlbs19Vh3niOUs7ykRX/DdO/aMVCdhni/gyfH6hqklZPNLP00Jeyg2GlGiIgPgzOv0WS5ZGiD7g8ydnIgr7QI8B4o1yiCj17zKWj3Vv3wr//0KAi16zE7ST7uAa96gCilPZhp1rwbHVIFxjr/nJcRQdZyPIerUwTs/Z3ppH2/iKkwQhllhtlD6Qq2oCT2O7ynzM/ZCEOhCeqDjOkeIXjUVk2Rz0p9u7r9LlN85KLv5sHRQde95nBVnzg+0gngJbeR4knnVGxiKhEE29nwJBU3k5YXTN+hFn/NTCASTtmxDQib6wJZCIJVfxe2uQqmVXsi9z5j2Ojn4NvaGhhMX+tHQ87BZDkS7psDwc236l1lFuak/0ebXTQfs/omju56CS88f3VL5PEyABijUBcbIAZ+ZQMhl2Cjq/aKobBO7F+smbiui3roKTHlcu8+9/0s9IPzqBnbSGHOmMN+wTNA8yO49rZefJSLlkvRTCRxZKQJXa0sSzRFwVFG3/KnaWgOpH+7dgE2zof/eBHOCgxNTSQfdWOGJLf/cyVlF5yR1Dzj0pekxf6iwo8lLNMid8dVCZLeh+P0iI/Hy/Lb0bbrXZPk6jdkmHclbKLUUPfU3QtuAA4Jw1xI71oX7Pn71vDISd8/PZ2P8HEbuRsxICeH4v73fcG44ZpHq/rtTKt9KZWyDBcYpZ9t3h+M7hoxB88ij/oLBFkvH1g095GSoqPFno+FjyQQf01viZ+iK/OABpQ7yryxciU8guy+0639yztrx0+Ku3ibEhC8q3rJjONUtOD9ZtfnFCxqSPw3UZuvYb5kRmSz9VsrkKisBMaqcwX5Wi688GRTdKMjIGKMU7CFDUm8VTaOoM+F0cY/Sx9Vv8XmTgd84nFaAMGxgMT4r0z4FveM/i3PeqlfJx6eJCmDzXCclhW5GCrYUkR0zS/6nTKJNzQn2LGoJsNeHbtSy+yYLbNUXBknPv7MtJvZWq2JVJnsBOz1a/S+9G9CavpvhZZn7J9spkEpUfg1WyQl3swlxMkhZrbw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/6L/9nBK/sa9FJ8/ZDwuWA==",
        "ETag": "\"0x8DDC4CE197DDEF2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-file-last-write-time": "2025-07-17T01:06:02.6465010Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f/test-file-6234492d-393d-1947-b9e9-9ed09338f2b2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f\" DirectoryPath=\"test-file-6234492d-393d-1947-b9e9-9ed09338f2b2\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>test-file-14554826-7881-0297-763d-5db1dbd5b45c</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f/test-file-6234492d-393d-1947-b9e9-9ed09338f2b2/test-file-14554826-7881-0297-763d-5db1dbd5b45c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE197DDEF2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:02.6465010Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:02.6156360Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:06:02.6465010Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f/test-file-6234492d-393d-1947-b9e9-9ed09338f2b2/test-file-14554826-7881-0297-763d-5db1dbd5b45c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE197DDEF2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:02.6465010Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:02.6156360Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:06:02.6465010Z",
        "x-ms-file-parent-id": "138[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee33385b-b1d9-65fb-4810-032072ce9f3f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "83391713",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
