{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93231CF01E57\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93231CF5250A\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:37.5444746Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:37.5444746Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:08:37.5444746Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93231CF93F27\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:37.5713575Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:37.5713575Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:37.5713575Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo/folder0/test-file-52d7448d-978a-1a73-896e-ef39e17889d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93231CFD0B6B\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:37.5962475Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:37.5962475Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:37.5962475Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo/folder0/test-file-52d7448d-978a-1a73-896e-ef39e17889d6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "WnN4v0Uf5UIK7Ik207lEhbXB/IRo4s/SPKKDwUBAsyuVc61gV4zRLyjFRnJJV6aUCvOVm0ZG8nikpoKimyQCyjhdoV8L5C4o78xbopxcieX77rZNqhjlT4A1u7EJL5MDw3s667ZHiCbEbax56k/bRxydpq1utB8feFHe1ih9Hr85V98gIp4utGWPiD1sa2QxWXOVbIjllQ5bGnNkaLL9R07sP5JvuiV9b/JH3iziswzsrXy06LI3U8LRxAcryUuzkUDufyzRwZ9NF/2WnbbheWZmeLs2SF+ctOzQnfYeUqWmlEzr8zTgGuzdZtC1obUM8EugxFGQfEnhUspAASOpL8RX7wlp9oYyhl3OWOKO5xM2w62qfY1TFRcDCqBpoBnINDcMXbGso/rFbj70wSRmUmu3CT11/rE2A9nxZevlyeZDBiSqgolhiSCz5Q9PX1Pznbc1spbbUzWF1lnXuz4O36VYsLv/vNDhVX8dwhii56SF/cg0sBZPaLPuJKwwic7hpQVp9q6Y8+DmU1wWvZAd4u61Ur122S+OCEgIEZckscuxPBwTOfD17QnnTVy6OKsi0UK9ezcRa8vV2u1mj+JJwaGRZYF0Can+v2SzjozT1NCd5j9VZzaTn9BRPV4Cj10nnoy6KNMprseZvrzTXdw/AgYdyamj9Fpr/cWxIsxK/C8GjPD/GKz8czd4vKl6wELzEjpY5MW0hKoxTyoNeIv7TsGMzNHsP+paIVVxKjiw8T2DvRCR8hhpUghGzsiB7vqrfG3n7vNwBtJQ/sJvQllygV7tirt7aVupInrIpnEh2DJbxa7KyANKErY9QPRV+RCv00xqlGQ/MBIRPst5p2BhLyWQFHyrqLhaoncEPilnUyhpGdIktkTOG5WbuIo30GpW2xHPxeWTBCuUD/HsO/HpquqjD46NPXjgwfnnD+8uI9IMrmMXmI5D1hWnkKZT4eCjsQ2flMHcyJ6Y7gPrrPQ7Zuwf4I2O0RJbXzl55qzSjeAZQ17ijo8RMOXEfqqKVykgayq6NAFSFd/7RDSHYuLxxmAj0mmWWdddDbCnylNn0AcPWHuCF1nexi5+5kpbic0D0rhJZ4XAihFSXSZRq0qMlHMsdwpmb64HRAs7F3ONAYTipPebHWmCT85qL7ozjRvj8lLWLhHDnGMJQiJ6hHOdxVuhbgZT8XYJqig7/ED007fwVyQhttNyHweTkdtGCMpazGpfkR8UjwHczYTph58jFG5riixOfA6HLk//v1+aw6Jd4DDVlEKY28gjRelOiZdncH1s232dC1Bb12LPFc+iQQnii6ZvTX8s065kKzckOKW3l07hLugkv9Tgeb3fyMb4gQPfbP3w+CP9PwfPOeAYNw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2ALMZU/WeFRK3uzK2aSYLQ==",
        "ETag": "\"0x8DD93231D02AA70\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-file-last-write-time": "2025-05-14T20:08:37.6330864Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93231CF93F27\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:37.5713575Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:37.5713575Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:37.5713575Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-52d7448d-978a-1a73-896e-ef39e17889d6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo/folder0/test-file-52d7448d-978a-1a73-896e-ef39e17889d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93231D02AA70\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:37.6330864Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:37.5962475Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:37.6330864Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b/foo/folder0/test-file-52d7448d-978a-1a73-896e-ef39e17889d6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93231D02AA70\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:37.6330864Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:37.5962475Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:37.6330864Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-6729276c-4b90-9d6c-f9ce-12b1d7409f7b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1312018573",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
