{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D16827BC4\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D168DEE69\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T19:46:45.5484009Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.5484009Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.5484009Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/test-file-5491c11d-7551-405e-2b23-153ca197ac7d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D16927D26\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T19:46:45.5782694Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.5782694Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.5782694Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/test-file-5491c11d-7551-405e-2b23-153ca197ac7d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "PQysk+TOCuCFYpfQkMUG7od5MCNgWarVtYmIolSeonwgPRtp5d3bGOkO4RCUDlw3tPxrHbOOquNi195aRWeL578br1OqnQmpnRc6UneaQactUO1YMoTJkpI4Bg7/gdKBg/pQeF4IjRfzwn+bVFhryJY2LPV6MrQ7Uh3AcZb7qhxFuM59SchIJcPWZXAELT05zD53yFTdB1BGFSZBRxuA9xdjVZuJ7n7N7gcyo81DNiTfh6VYg+LHZ7F+NjShBt2nVW1ZodiisN6/qdlNq2ODAt8CYsB2J3Q0m+7qC7dKLOcqik1f6pRMPdfGmdkIerxN+jNVn6QcMS74JAXqt6QmdX3yIyAWIxhKtiTpr46bLCExnRCE9IxCDVkfZsWPYoUyoCRbFlecN9cbC+l/M4KfXffjuBqTooDwrxXH9rxSulOftg5qPxbKlWY5aOmjw9nWfwnOq6lqnv6ja2ZB1EAayFCV4HxzNR3hGSO0WjmXTOw78HazhA+qNBgQxtSviMAlHqCYDuJdY0rr7JKGtkPFDB56BePJZkRB66tkYm5JMpBjjjyY/z4J3o0syJh9JH7US7q2NYPcW7dcViM3+ADboboBIicHLA3fcSZWnZ6sxMYtkBe0kv0NhjKEPKgb0uaMUCbdewFWzB+t18Nchb4ZsJFcCWjpJw+99Jz0gu9kw55Ayk13zkjF18P4B7s5sAB0a4wWv8h9oykXIIdkYUkvSBMlHLtxoeFIljKk8B9ThEObgBdiTQTVwiYjYK3BYHV5yL6oE5RFA8mqzSiW2bIJw5xEyeEyzPoOT1mVTUAzhza8Kyhhq3CuVnxNt4DcPulzGZwRfJeUR/vDmsQ6r7aId0Xy2q2KqBgslXNl5BV6MRBwITOkIgqfKOQsnRCrdKbGxEA66mQ76XGD5OcjLmLmSGizyo6C5FQ7U7LJXQoHgCHMnh/UQEesNDjCID0je/mBRlWo+KkYQ9/s/5aycYtmfGTGV5BDEQggB5VVwMQWF9i4SBe1X4h3tFs/6EGw+cKtW6TZXSRpPjRMh/AUwoMb1ee++Sl0sRzcTqI0AynGbw3SqGUgPbqzTwriaNeXY/LXJBJa8QCZOaqH/A6BNDoLhRjiQRoe+5csC6kekUhFROuwXN8WbH0NOW+6mECrMhvP1+K/tSHXuSl7LeZWeqdhQrgj0ddb9Bia1QirY2JWgdiOT7plho/J2KO2mz+Wtr7HWVaIiGBDdOLJJOAYLFbGJawOyCvs/LwpWfg0pVnZAx5K4woLzvl3S9rXm2GvsatM73aTiO6T21yaXi5oDs+J8CHBzklMuleyln1QFWBbeqhM6LXjRXovtgetcW/KDzwLTao/7eJi/zQe4PJxQsX8Pw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "VjLNC67g1KxfugDJst4A4Q==",
        "ETag": "\"0x8DD7B8D1697F548\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.6141128Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D16A4B834\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T19:46:45.6977460Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.6977460Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.6977460Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar/test-file-6c391bc6-d1eb-cafa-5bfe-29ae275a5369",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D16A92011\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T19:46:45.7266193Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.7266193Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.7266193Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar/test-file-6c391bc6-d1eb-cafa-5bfe-29ae275a5369?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D16B216B6\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T19:46:45.7853622Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.7853622Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.7853622Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar/pik/test-file-f79c1720-d9a3-7d1e-81f8-3917184fc11c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D16B7DCA1\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T19:46:45.8231969Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.8231969Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.8231969Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar/pik/test-file-f79c1720-d9a3-7d1e-81f8-3917184fc11c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "upd[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d898e354-3281-daee-f930-a6de5e96f512\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-5491c11d-7551-405e-2b23-153ca197ac7d</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-a49d5a0b-9f57-9840-1a3a-5d0f7f0f2281</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B8D16A4B834\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T19:46:45.6977460Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.6977460Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.6977460Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d898e354-3281-daee-f930-a6de5e96f512\" DirectoryPath=\"foo/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-6c391bc6-d1eb-cafa-5bfe-29ae275a5369</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/test-file-a49d5a0b-9f57-9840-1a3a-5d0f7f0f2281",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B8D16A0773C\"",
        "Last-Modified": "Mon, 14 Apr 2025 19:46:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T19:46:45.6698684Z",
        "x-ms-file-creation-time": "2025-04-14T19:46:45.6409946Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T19:46:45.6698684Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "o//uFlykkitSILaBMPrKh5aNbByNd0RqDjODw9daxbl7iCggcdTaVNkFqt2PoibGZrYBVNkBRSy7hAcpIM5U+Fv8BajSqRXBshhCh8xm2mwNvVwgWHDfeUP8Ze3MsDMLsbKCk5x+9L2gQKHBv71fVKmbHGNyM5/qHIxk1kMo9ALkN9Ya5EfPj8iefxjOHrqFnBFEMZTQmH0Sl3YQGR15eEuf3IjnRHBhzI2a07OGHP7S3zky48NtE55YB0zRv3WrJAbNLkExnleg4mQHNsTKi3t3PjrkR5WIMsnpjzwkkA0X766tue28oEDhkQBeZd3ZjnzQWYA7xt1xRfx4Rw8bfFJX8EYV[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512/foo/bar/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d898e354-3281-daee-f930-a6de5e96f512\" DirectoryPath=\"foo/bar/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-f79c1720-d9a3-7d1e-81f8-3917184fc11c</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d898e354-3281-daee-f930-a6de5e96f512?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 19:46:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2118144501",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
