{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93232020A499\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932320251D6E\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:42.8920174Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:42.8920174Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:08:42.8920174Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/test-file-4187d833-0694-c666-e5a1-b6c626313ca8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 14 May 2025 20:08:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323202910A3\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:42.9179043Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:42.9179043Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:42.9179043Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/test-file-4187d833-0694-c666-e5a1-b6c626313ca8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:45 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "7kwuM0VSbMLoMnoMfPJ4TVr+6zAI5gUQI9vAsvr+u027/kwscAau5W/D6rREIq77LNJ0SG8p/whGHg9pkbnI6XYtUH2lTN1UTwXBRPtRywAtxYUninPdkv9E5VH2RVS1+wE+F9EwVeD1H/hqaLoM9VMOO8s0oF4CT75+YGaMXgqxDEn6E7Mv/XCkMmt6cilEOPD+5wmIgFqjO8cTsfR5acHuuVxxEeGf3z1bj27yiN2UOih2jXYAKIvuV9fsHEx8KsiqjLnN0yYOXgfLLfHrsLPqfnfMA9tK7ZDRgroKssPx32SmSPwjxmYBZy5vNfuZA6YkAp3UryftX54o/FBsBKxE2U2NRWe2xrcQypus2riVN38T5bAlHS89uOhd+soWlWOCK1utDL4/bTvmw+WLQYXlksXRWB77HrweT4x/Wcvt+jU4Ka9d6CvA1Hd1P1lKsXdjeGgERTx[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93232054AA97\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:43.2036503Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:43.2036503Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-14T20:08:43.2036503Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/bar/test-file-40e9870f-28b2-cafd-b106-e6714b9c1c11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 14 May 2025 20:08:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932320589DCC\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:43.2295372Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:43.2295372Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2025-05-14T20:08:43.2295372Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/bar/test-file-40e9870f-28b2-cafd-b106-e6714b9c1c11?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:45 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "upd[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/rul?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93232072984C\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:43.3997900Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:43.3997900Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2025-05-14T20:08:43.3997900Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/rul/test-file-0d951bab-3962-657f-95a7-38fe854b00c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932320768B7B\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:43.4256763Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:43.4256763Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2025-05-14T20:08:43.4256763Z",
        "x-ms-file-parent-id": "16717432185543458816",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/rul/test-file-0d951bab-3962-657f-95a7-38fe854b00c3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "upd[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>16717432185543458816</FileId><Properties /></Directory><File><Name>test-file-0b07147f-72ca-def1-3d0a-e399d595b978</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>test-file-4187d833-0694-c666-e5a1-b6c626313ca8</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>test-file-4f043ee7-6e6a-2f8d-edc8-2d3798b66ddc</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>test-file-90e294b0-f77a-c025-e6a9-048a22ccf150</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>test-file-cdc7d6c2-501b-3e27-de92-da3b7161fa5c</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93232054AA97\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:43.2036503Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:43.2036503Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-14T20:08:43.2036503Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed\" DirectoryPath=\"foo/bar\"><DirectoryId>17293892937846882304</DirectoryId><Entries><File><Name>test-file-33538aa1-aa5c-41f2-07b3-a3b2caed2830</Name><FileId>14411589176329764864</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>test-file-40e9870f-28b2-cafd-b106-e6714b9c1c11</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>test-file-9a7a283c-b0e3-bf9d-4039-9e63881be350</Name><FileId>12105746167116070912</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/test-file-4187d833-0694-c666-e5a1-b6c626313ca8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9323202EAF9E\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:42.9547422Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:42.9179043Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:42.9547422Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed\" DirectoryPath=\"foo/rul\"><DirectoryId>16717432185543458816</DirectoryId><Entries><File><Name>test-file-0d951bab-3962-657f-95a7-38fe854b00c3</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>test-file-2334b5dd-8121-f02e-ec94-f2230b8eb9ec</Name><FileId>15564510680936611840</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed/foo/test-file-0b07147f-72ca-def1-3d0a-e399d595b978",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:46 GMT",
        "x-ms-range": "bytes=1536-2047",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 1536-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93232036E3C6\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:43.0085062Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:42.9796328Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:43.0085062Z",
        "x-ms-file-parent-id": "[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-89ceb90c-7473-54cd-1366-a78da6bf77ed?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "581118050",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
