{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE150A41B7\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE150EDE33\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:55.2081459Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.2081459Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.2081459Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE1512AA84\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.2330372Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.2330372Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.2330372Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "UfETmqamDOOBsy1pkMb+Iy4TKZGS7pck7+l5dsGc8SggKQOah2pQM5rHZFBzYGGYVhDdV5MmaGNa7qu9LZYi5MEFSGbDY5zEw/b2yolGsY6I4R+wv5qU+cGfQJm/kwUEpYCObRf61PJ0GJOdL53aEz0cNEx3cSQncE6kJCMDBS/x8iUJuEN3jQwsPKYG98kjxCxbol65jDNbZ/3IVbDPcRNkrD140Vv6pKc/SzV9IXiEgV/2p2LQN2XxrlFFrjdcXMuToUuMq/PRYf22eUH+3UaEQ9RQ2Mmxk3TYhiMKtPVw4+5p6n8t+NVrJUZkGr4j89ALwWtiDIQB4Q7XtCTQxq0HRpZTlPLGV0v+5LODTHm1tJJS//OKDtdqaAlxVUSxm16ZXNMn0F/eRGkgYyfRfZWUIf+Sfse5fTi/6SzpVQEGTUlU6u+ljeQzdLuJaqqvmep03DRFHxyX39+baOcz9O5oGRbdfZOl7pMaXgkMMBKND09BdXnNwS4svAsQCSX9AH/MIFCU0hxWzu2gKsATi67MDVmX8X91m1jnsMCIlOVuHV2JPw/C+Twz6qaLLJZtGTBcQ/zLZg8AVoX4rCFbzjkIMQ1iiUyfChQcZAbY6m7CeZaQK1Hoo7dOiOiKyk0a1xtsg/uIC5DkvTjnrgEIKGwWNTKLy6PoH45WEwBjFUDHAYzqa2ZzOW4GrG4YAfS1RmB8c5Qajwx4hGNtMveQgaj3IKx1HbwFo/zEhB81zx6Zoc2f5qGsrXJ/cucDBgd3dirGIeBHPyijds+XVQrtQ7RF05Ap8JoGS3M69avVAp31TA70b649UmKk+3DRFVdnki4yvTN2TYWQv9ZtDEl9znMyogj7+dQGCIAuhPQpNDYb02N8okRqfv+JY6/Yz0UYJy38n3JOa5haLLWySMmRZoqfUTnlACwuyCMJcpUlLTg7FV3HLZXDzGfKInWPtzY19/0kOH0LMicAzdZPRfkDNP59djJsyTn13IXSGt23nxDs03qYAPW6L+I1x1++c4dux+12EUEEyS7ELlv4ORhJSC3GYnF+azQJw0dPNgLZN2n9ZFPvQY7P6AlM09GZwfbK7H4x+BAW71u5bE76tZMr6/fy+9XEWQef9npnMZdjbwFQhEmEpz9Y53T4NtQ/1TJ2IOjZp8YhBpJ2kQGVrr3DVv1NqTBJp0O4mRNgzCMzYCFI8RGvicg6L323DRU9wji2NODX8iwBLHmlIQ2ywDpuQzHgTb2sFM00Enmykpoue9fbqZhDW271RsSXCme6h25DSMnkXXR6Ch8Sot+yTpned6Y21xeiK+fC6wf4FApleosKb0nQSR1iYJ94MLmPQvcquJPBhK9XoR3hIXJtgfUVrQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "5iMO6loUT1zFIhCeFmnHDQ==",
        "ETag": "\"0x8DDC4CE151A4319\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.2828185Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE151D2612\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.3017362Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.3017362Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.3017362Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/file%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
   [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%3Dbar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE15261CB1\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:55.3604785Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.3604785Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.3604785Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE152AAB6B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.3903467Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.3903467Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.3903467Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE1533A20A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.4490890Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.4490890Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.4490890Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "upda[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%2540bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE153D0D56\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:55.5108182Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.5108182Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.5108182Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE1541276B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.5377003Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.5377003Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.5377003Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%2540bar/different%21file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/space%20folder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE154A44ED\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:55.5974381Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.5974381Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.5974381Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE154ED3A8\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.6273064Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.6273064Z",
        "x-ms-file-id": "12105746167116070912",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.6273064Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/space%20folder/space%20file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
   [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b\" DirectoryPath=\"source=path@#%\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file=test!@#$%</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>folder%40bar</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>folder=bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>space folder</Name><FileId>14411589176329764864</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%2540bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE153D0D56\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:05:55.5108182Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.5108182Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.5108182Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%2540bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b\" DirectoryPath=\"source=path@#%/folder%40bar\"><DirectoryId>17293892937846882304</DirectoryId><Entries><File><Name>different!file</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/folder%3Dbar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b\" DirectoryPath=\"source=path@#%/folder=bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>subfile=test!@#$%</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE151A4319\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.2828185Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.2330372Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.2828185Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/space%20folder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b\" DirectoryPath=\"source=path@#%/space folder\"><DirectoryId>14411589176329764864</DirectoryId><Entries><File><Name>space file</Name><FileId>12105746167116070912</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE151A4319\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:05:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:05:55.2828185Z",
        "x-ms-file-creation-time": "2025-07-17T01:05:55.2330372Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:05:55.2828185Z",
        "x-ms-file-parent-id": "138[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-5dc9a8d1-1a7b-5773-7759-7f840f13b50b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:05:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "829795349",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
