{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D95C6D949\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D95D29ACD\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:47.1214285Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:47.1214285Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T17:55:47.1214285Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D95DE9B3A\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:47.2000826Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:47.2000826Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T17:55:47.2000826Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo/folder0/test-file-131cb32e-3e02-b6dd-9862-2d14548d10dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D95ECE311\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:47.2936721Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:47.2936721Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T17:55:47.2936721Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo/folder0/test-file-131cb32e-3e02-b6dd-9862-2d14548d10dc?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "/Y9/gpk2/maB/c57PbyI/RGJ5a3Mgr2brTNGLmbBMdOsQKsUCbegL6YyAhO56AkXkRPV/y3hB3rR49Vm79AAwMv7zv0Rc/RZ6LUHmX+p4sUpL51S6zKmyzgwQiXiOkDWMUJIvhkMBR0ffBZ32m37KAEQPMAzrdWZVQPE4TDOd651MGg8YSSrHSl/M28cLvHLNBok0v6Ao4NtrmkWRyTsUQVoAqkFv8bcZB+Ws3plfSYR+awWqaSv9Yzkz7K7ldUFkuFqsyxHxXVTR23f6e8IBzFCBE131qdguAwdIO8TIc5JkCGZ+8n6yjM3wmI20Ayc28iBeJGIjbs5CvsfKqSGPyWelVjObwtnRzoZQBRFKecAgEUnkqk9wQNlX/HN2p+PsII8mDqzzWu8GTBWbkyn9OETH6lfX618YdRVaRAamW2aio+SCZGsTbLZanh45lK2vmoQurr2L1HUvzZmXWRboYDDvOO9FepPZ9L2hvQ1BHqBn6ulCt+ypFs9vUpaRu9Ofcj4tCpv+aiAwFPo/6ldn7q85b64tZegERiIf1eg9SDjqAgrPVBPEqUCJUmMyqSx4B2PnWEwlccwV6MS5nlQ38oyBFagMWJqbNMYtpBNE0Zz1p46EVi/shNA+uWtPSsssUV/WsVNEa+7JTCOGN8340RcnhDbFs5yclJDYDZ8vS6n7ARLzrmBJcXvfuwnMZozCRehUJ8aUJp2DOdzCbB5PmcB5iva6xSL23hK7JjiS0G4D1ce22yPjZtp1MLRDhsUdT+EJUpuWR0DFnUmz2QClMGluvpZWmL7clmPcBdSucxcNnZYXiX3SrY6GsX2aL03Z0AAK1MhuxvcibPx3ukFsVyoyZnuqjWbrnBDHz+dBAmcWAnWUY15O3pae9VyBWvNNGlpTp4jSb0KZX3i3pzbP4SpVYXgLmDOL44fky5gKKkEdurWNLZqeA9LzOsQll3dfztQybDm7QUJmh8QBLaOqTzU3mexBQvOPtx2lGJ0vpgxQRPyEF/4HonlzZmXWnRZvSKvPLj1LHowgYrTb1mildyG3sKim5nc27/ezDhxN+RoHdc/xIHgPBWZwo7VJa8wQje9EHuxtiGJ02H4FmBCvkqma1KBY9BapqKtCdkLBrYQrokAsyZotma2tvEg5yW0VgNEL7pcrt9nY2rYA61Hfcyr52fWQgsjPbTry6zeOb59+LLWxtf8swCpmE+8j7K4bjgldf+93RT3IPEFceIziCqrWwv7cbf0rzRnLam7Zq0BMlxzucS+vxqe3qXl9kIddg8lEDOnvf2BMMbLVrBqPLpDBD6Gv89m7ZzwXZIRDrjxSbaallZ5WXVf8Yj98mhpM6LrofEEl7c/vyOXt2BqcA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Y1YAUI1ftx9U8DPyVk4szw==",
        "ETag": "\"0x8DD7B7D95F39252\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:47 GMT",
        "x-ms-file-last-write-time": "2025-04-14T17:55:47.3374802Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-209b216c-9f4c-5c02-2c68-a6406266f832\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D95DE9B3A\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:47.2000826Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:47.2000826Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T17:55:47.2000826Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-209b216c-9f4c-5c02-2c68-a6406266f832\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-131cb32e-3e02-b6dd-9862-2d14548d10dc</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832/foo/folder0/test-file-131cb32e-3e02-b6dd-9862-2d14548d10dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B7D95F39252\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:47.3374802Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:47.2936721Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T17:55:47.3374802Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "/Y9/gpk2/maB/c57PbyI/RGJ5a3Mgr2brTNGLmbBMdOsQKsUCbegL6YyAhO56AkXkRPV/y3hB3rR49Vm79AAwMv7zv0Rc/RZ6LUHmX+p4sUpL51S6zKmyzgwQiXiOkDWMUJIvhkMBR0ffBZ32m37KAEQPMAzrdWZVQPE4TDOd651MGg8YSSrHSl/M28cLvHLNBok0v6Ao4NtrmkWRyTsUQVoAqkFv8bcZB+Ws3plfSYR+awWqaSv9Yzkz7K7ldUFkuFqsyxHxXVTR23f6e8IBzFCBE131qdguAwdIO8TIc5JkCGZ+8n6yjM3wmI20Ayc28iBeJGIjbs5CvsfKqSGPyWelVjO[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-209b216c-9f4c-5c02-2c68-a6406266f832?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1741787199",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
