{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA52CA0F4\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA531CF5F\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:42.5238879Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.5238879Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.5238879Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/test-file-821629f3-802e-13df-f760-3976675e590b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA5376E63\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:42.5607267Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.5607267Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.5607267Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/test-file-821629f3-802e-13df-f760-3976675e590b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "vgOjl/hBiez78mRzhND0gQOzR78V89Kg31W3rbJrXzGAAwYkBM/i75YKU+ewWUW8Vb0WbbgN78sxA7ijits5j5Iy8oHK0H000VgpCqDr74UP+lj1VfJ5chM78gAXPmS70cNUfg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ucUAQ/RPZJU4NeqC9s2luQ==",
        "ETag": "\"0x8DD933EA53D344B\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.5985611Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA54AB9AD\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:42.6871725Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.6871725Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.6871725Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar/test-file-67662357-af85-ad78-1001-af5843188580",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA54FE402\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:42.7210242Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.7210242Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.7210242Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar/test-file-67662357-af85-ad78-1001-af5843188580?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "e8tjJ+GUyOCPuOGIr2f3Xi6uF+uPLPtvVEjdbWeyNx0otbzgV9arkkQ/XmOTL4gDtq8fqSDvuk/P9NOZtlp53IDDX/qrFgdXAoWnT82X2yS/2ra4k479OfttEGIDEtvpxoLj0A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "usQZhXH8wxGHapNpz+YGmw==",
        "ETag": "\"0x8DD933EA5550E57\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.7548759Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA5597643\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:42.7837507Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.7837507Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.7837507Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar/pik/test-file-967281dd-8cc0-1c95-296b-8e78df0b42ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA55DDE15\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:42.8126229Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.8126229Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.8126229Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar/pik/test-file-967281dd-8cc0-1c95-296b-8e78df0b42ab?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "cWWvtVU9+o+luVS75qZzIMhsqXP+RxRcI74LrwbyD6Ql2fLQv5vXHQUoBL0vV91aN4GeEGPkMSlRUpKWMUqIsqqwlQyzo2EslYxu1kJWLMzhsXiFVP5BQKjIf2wJQOu6oFETfw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "x0NT3bxbGSCnIfYavTtoNw==",
        "ETag": "\"0x8DD933EA5646672\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.8554354Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-824ce670-e772-eab8-a762-512807db7dba\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-18faaa30-d6c6-aa00-f3b5-a0d3d04bab8d</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>100</Content-Length></Properties></File><File><Name>test-file-821629f3-802e-13df-f760-3976675e590b</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>100</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA54AB9AD\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:42.6871725Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.6871725Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.6871725Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-824ce670-e772-eab8-a762-512807db7dba\" DirectoryPath=\"foo/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-67662357-af85-ad78-1001-af5843188580</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>100</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/test-file-18faaa30-d6c6-aa00-f3b5-a0d3d04bab8d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933EA545DD21\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:42.6553121Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.6254425Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.6553121Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/test-file-18faaa30-d6c6-aa00-f3b5-a0d3d04bab8d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933EA545DD21\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:42.6553121Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:42.6254425Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:42.6553121Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "qk2vohRJh7CNxkmf8T59MZA36B42rFPirDfzpCzzrU2uF4TD/UnPYE6HAMJpJfUY5XUyjR9NP/75zPXdVeKDmhn88dq5ujRGaIjQr6uReIZB2r+3wB8tYNeGyjBT8QprA2apbQ=="
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba/foo/bar/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-824ce670-e772-eab8-a762-512807db7dba\" DirectoryPath=\"foo/bar/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-967281dd-8cc0-1c95-296b-8e78df0b42ab</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>100</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-824ce670-e772-eab8-a762-512807db7dba?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "530859012",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
