{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932324EBEF85\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932324F18D52\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:50.9427026Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:50.9427026Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:08:50.9427026Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932324F61C12\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:50.9725714Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:50.9725714Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:50.9725714Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/test-file-27c931fc-a41c-5269-5c4b-d3d18d29a178",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932324FA3627\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:50.9994535Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:50.9994535Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:50.9994535Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/test-file-27c931fc-a41c-5269-5c4b-d3d18d29a178?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "dcNEHttl12zZWQwn0VckTaiutWBqTRdfJhKWHJo2eX2fBcawi3+bkUe7JlwFTcVTdX6ZrcutMCis5PjIz7rSouCOiMyQdMIpEiMYria6WthNQqccnMuy8dSeA6aG0sKN6YN7dsX5wgC7cJunlIEC8okge4wTtgYU3Jb38nEcoj9hi8WiP+QTVH+mYCwwClxSnBEcZlc2eTN9ZpkuAdCOn81bRgm8X7KlDScMbFXZ5NI5pFZg/zzoKxKSJdhK5FKvF8Ff1cRTlj1ed1kwKgzdo4LH9V16Lp+Rcxv3KTnaWijUXFSUeg8N5g4YAojitwAFtYJWg+/1NekhzmGpXGwEgxwwW824SChzug9OYSwWrrsa8nS2hNc53idrc6ytZImiFH5ssVwzTGxZ4sngptO9Cx+mjmr3Tf9F93ymTdV7xVWFrEytqv1f5qUHXKEOWTdTrWeNB9Ufqsd/J7rfjf+X3R1zWvqHD2AiRqjE7/BdNp1EUp9t7r5/ZgKFLoNCgFmlcH6Emv49zJ4Ga8AtWrrWIfAcmjpgKu9f9PT4AeHd38ZOHn9x2ZyfB4UAZoP9UQtHrgySJuUfRUaPJaYKRcq8KYv63zs7ZUhTfZK0X8NrYaLosFPUSrngL9k54rT1lMK6RD34AnLQDEnEP6lSauaCI8MEIZR3597SGbBiAYKTXujQ+hqFc18vGKQKEAsQjcXytr7w8XMuQ1xfJejCbQrGMODAgm/L/LBk1AnvbdfSwovrb0vEomx1ora+Jk12baqZQ98rTwtVJ7kNjB1pPtaFjWNd1v2/Ao50S9+5DdZi7WZfVin3p3N/lUiRthZPC2TfOZnqGZas2kFRtgMsmxnjq562Cuisjebw3UG1LUt3JT972dM9d9TPsnvopvBvU/ourgt3mAF7M6yy+jtV96z22ZHEsMJGpTPJ5ldsxOb1gIlGhn9AAIw9/6Ynin2YebvP8sxeqqM46AnXrbGqD27FvXmyD3EstdkFhrEbHhq1MGycnNIZltbmDp12aFPak+84Ys0D5mpKozzzWSTyHMruIXxEDnObqyajzADTtk2GKvLB47xNskoCUfmWJjyy8/HSh0bWloV8nLanYBlqduzubS8xMDgOoW8xQrx6BYXp8dgOAC4Hr5RtREcFpVEwl9sMqLgNgMK5xObWpFPJApYxvW9AW3W95r6bxOzxCPseAavhbV3N23AVVTxIMQpAo0Kw1Ofh7ztlT8H6crzWx7zrt6Oo6JU5ZOL+KwY5dbSzWiCpQDQTPBFvex2b0mm0P41/XHpnmLutdnAF48Q1LNkNRxicLYaI13qSOGx3npF4Sut4uRg6S8Fk+8nDDVlMOk9EjotRFxEG94T/1V9PNtjejQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "iFmVxbwA9DaUsbPyF2CA3Q==",
        "ETag": "\"0x8DD932324FEEBCE\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-file-last-write-time": "2025-05-14T20:08:51.0303182Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93232502DEFB\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:51.0562043Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:51.0562043Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:08:51.0562043Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1/test-file-4360bcbc-a244-2a36-7921-538436104293",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93232506F911\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:51.0830865Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:51.0830865Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-14T20:08:51.0830865Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1/test-file-4360bcbc-a244-2a36-7921-538436104293?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1/folder2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323250F2D3A\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:51.1368506Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:51.1368506Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-14T20:08:51.1368506Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1/folder2/test-file-20a0a39e-2e4b-9d8d-b28d-e7b282ea4f01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93232513E2E2\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:51.1677154Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:51.1677154Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-14T20:08:51.1677154Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1/folder2/test-file-20a0a39e-2e4b-9d8d-b28d-e7b282ea4f01?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
      [...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932324F61C12\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:50.9725714Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:50.9725714Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:50.9725714Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-27c931fc-a41c-5269-5c4b-d3d18d29a178</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-4360bcbc-a244-2a36-7921-538436104293</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/test-file-27c931fc-a41c-5269-5c4b-d3d18d29a178",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD932324FEEBCE\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:51.0303182Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:50.9994535Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:51.0303182Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/test-file-27c931fc-a41c-5269-5c4b-d3d18d29a178",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD932324FEEBCE\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:51.0303182Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:50.9994535Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:51.0303182Z",
        "x-ms-file-parent-id": "115[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633/foo/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633\" DirectoryPath=\"foo/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-20a0a39e-2e4b-9d8d-b28d-e7b282ea4f01</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c519652d-fbb9-f3c5-8e12-67a25f24e633?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1989713528",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
