{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7C8ADA6\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7CE8E4E\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:15:37.9747406Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:37.9747406Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-15T19:15:37.9747406Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7D2CF4D\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:15:38.0026189Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.0026189Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.0026189Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/test-file-d3e66289-30f9-ca4b-f780-2a212ff738fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7D7D2BA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:15:38.0354746Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.0354746Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.0354746Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/test-file-d3e66289-30f9-ca4b-f780-2a212ff738fd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "10T2xwday3gma4gScJ8Y2LLhjfZfj+p7DwLqqXdyCpsevOoTfIg2drKHCDiUIttw+7zkg4x9T0haercEbyIAs2Hs9LS1BFwqqhdE14ax5+wneq26joYOoWyhuAHQMQaPh1XWpy4muvdguth1OXfBqZPK3PV1RSTa3VNHE0xaWXgQtFAx2z++Ab+2WtOtmWj04A9uBVQRGkIw+8rb3qerBmFgZIQnkM1UDNs1v+tRLETrUzM861Mj/5oOAN904iIYC1NyTTTjzVBBGvh53FpW38+G8ItzbhoNPGXpGY/u3ym5HLOX3t8PB4Xi+tFaqiI/tyEP7vKWpJw4ZRDP+rTBUjrPv7+mvwDvd+gGkXRJspJCqWFt3vE3I3cXXnnOPw3RIaeXi+tjmPchIHcJkBMo77N+jFBSU3NJl5xHj2CGITfbNW/MsSam3xFpS755LZNj727GT7K8fs0zTfNOGwmXm/5ALVukWz2M160/6Ae1z2oJ5J/xv9GEH7ahmGQyWMMH0rDAOf84v5MwOXcEfZbFfn2JRTdppdssuw6kA8PZWn/qNxZX9ZZq0CUMwIVaf6Eg2xrmqRKMnizVk33xk7zQVt/3GkV/bonnH3URXeRV0jxshCep87BtXZnpgmEYeD1pO2mlYmRcoGyQ/omdekBIf8FBhA+UJ2Mvirysluwnz6Y3qCF6r2/XEOS6GPUm0ONYoAKg1/Qu1BQGdtinrwmAaC/jZdEfzc9RaXMq2g9tCLnZU/Xqh/ixCdQNczmXL2DaOq/GQ2sROdMyTm2AA/oFmW4ezlwUluE3MVz9EVmWuTkSUJ9fpsROyBkitziKMQXZCNrKeGEExqPOjxEOFCd6m5U0bbJapfKp0AVD8t+orABWIwl/zEHXDor7kRezP7TxqBujVsNTf2LnIKhcwdTEJeIRuPAe+s9TXF8oXhTb9pFRUUnDBVY9A6Sml6uZe022N2s0oobD0q1LT/ljKyBODCoXCm+KASCM07VMd2MjuuAScSepplQKjX6cd7Vc2diEWIqBgnDdLDVKqM7Rd1pJKJUZUbn4pGbVDH3x7YlrMPrdyB/ZojhvNETxX/6FOBUjU08gQ4cei7Mkq3Xz7D+s3njU8687b4VcqRx0BkVoT9NnzZk6S+xyvzxrtfbDfEgFRYCGsURm6OPJw5lrqYRuu1uhjB6lcZOLYTRyz7qPmS3Tb8HF4p6OAeW2cIdSBxW4/fmaIu8qX9Ps+lAP8xgoOipslzrCqNm9Eos47wELOFofutLB9Hc9qQ/t2OdNfg3NjTVd5m/b9VUf3Q9j8XDS4ML28DhGZ0azL+0q1c/yb5N9a2HLrlLqRMR9oRZn2bifG/ckV47VhyXvqbaCsCCFLA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "LFyAltjcor42X3/Ik+m1xA==",
        "ETag": "\"0x8DD7C51E7E006E3\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.0892387Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7E50A57\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:15:38.1220951Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.1220951Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.1220951Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1/test-file-dfb2f462-2c82-c0cd-cb74-d2cc6e1d58b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7E97234\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:15:38.1509684Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.1509684Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.1509684Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1/test-file-dfb2f462-2c82-c0cd-cb74-d2cc6e1d58b9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-writ[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1/folder2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7F32B4C\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:15:38.2146892Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.2146892Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.2146892Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1/folder2/test-file-b45e4d9c-7b84-1ce5-0cf3-1f776b42eea2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7F71E7A\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:15:38.2405754Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.2405754Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.2405754Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1/folder2/test-file-b45e4d9c-7b84-1ce5-0cf3-1f776b42eea2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee49f066-01c8-4edf-67b0-d300364043c5\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C51E7D2CF4D\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:15:38.0026189Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.0026189Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.0026189Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee49f066-01c8-4edf-67b0-d300364043c5\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-d3e66289-30f9-ca4b-f780-2a212ff738fd</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee49f066-01c8-4edf-67b0-d300364043c5\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-dfb2f462-2c82-c0cd-cb74-d2cc6e1d58b9</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/test-file-d3e66289-30f9-ca4b-f780-2a212ff738fd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7C51E7E006E3\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:15:38.0892387Z",
        "x-ms-file-creation-time": "2025-04-15T19:15:38.0354746Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-15T19:15:38.0892387Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "10T2xwday3gma4gScJ8Y2LLhjfZfj+p7DwLqqXdyCpsevOoTfIg2drKHCDiUIttw+7zkg4x9T0haercEbyIAs2Hs9LS1BFwqqhdE14ax5+wneq26joYOoWyhuAHQMQaPh1XWpy4muvdguth1OXfBqZPK3PV1RSTa3VNHE0xaWXgQtFAx2z++Ab+2WtOtmWj04A9uBVQRGkIw+8rb3qerBmFgZIQnkM1UDNs1v+tRLETrUzM861Mj/5oOAN904iIYC1NyTTTjzVBBGvh53FpW38+G8ItzbhoNPGXpGY/u3ym5HLOX3t8PB4Xi+tFaqiI/tyEP7vKWpJw4ZRDP+rTBUjrPv7+m[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5/foo/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ee49f066-01c8-4edf-67b0-d300364043c5\" DirectoryPath=\"foo/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-b45e4d9c-7b84-1ce5-0cf3-1f776b42eea2</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ee49f066-01c8-4edf-67b0-d300364043c5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:15:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1200043966",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
