{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6D31F2AA\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6D39F52E\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T19:59:51.0597934Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:51.0597934Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-18T19:59:51.0597934Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6D412010\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T19:59:51.1067664Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:51.1067664Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-18T19:59:51.1067664Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/test-file-e56f1674-6b56-b8e1-63d7-ffaefd9c4090",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6D484AF4\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T19:59:51.1537396Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:51.1537396Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-18T19:59:51.1537396Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/test-file-e56f1674-6b56-b8e1-63d7-ffaefd9c4090?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "JKn0iCA27KYx71qJrJaHqlHPbDhfGabwFhlRuoBy8zQa5K7Kc479GACb56QEZ/jm0LTZfWgErgoCA3EH5DIlv/wlbsjovTfC0lM3xDEB7K8ga+nLmHbMFTWjx28c9TPOdSeo3/gw/hJ9F6sUzerZABfC53lIWiaGWFiSRfbHpdwgaU4KWQ228G3XToHKt0hKysZYWg66hhsBIoafnbkbtnHO9GObz6cKDPYLcAyku6AQSHswbkvNZeIzCDaGFlK0u5cQ+8PkrvoeTk0YrhUPXGblj1U+60cmAY6BaMZwg/ajV7R0lL/dK5mAESD9tbfMJKzPoYb9dtBQ6fo0Y0Y0rcpXdFZhmsenB2S7vtknKEvXtEMaoOJwpuHjJKvFqcdSS2RVpkBga4nkKJkhQbj2KMGuXK8DGgzn5851fXYc4l6daXJ10YELdki5NXhJTmQp7PvpFkwXTzBXbb9y6+4Sx0Y7hNhFgVY/o+ZmSeSUnphpTJB7MssRhRlBHmPCmItapm0xDsmM42ukqnJmsQVMws8mCJ9dl5V6Kf++BGLzfQtaDKJ3Y5DO3Wgk1ohYqtQU9VyUm5Dr/Q/YtuTKzd8IsS1nC6Vj1F8/WCo2OMAMIn8rqg4GXuJ6bw6Tn6ysBA+JHCVb8J8vsCD8VUNltcROy5RlnyPQAlJK7JyWzzWzk1MbrRybsTHg/PntCQmfFbpKRNMXRmXsuBrSEAMCmOHrScLvSgensxpjhaMq4vhJq9fiS4tim0zuL/UCyKAt3WMYAsBHr8uyopC5s8HBwdUhiWQsH01Via12ABsSpet5Nqc/EeA4AvwLL6j6qOiKLG0f4D88AL0VwnkS0a+woP2lP30agq/16YZoIfCkW+DF69Ot8sSrPDXpKU9nJTFMWo+rVGlqcKq9Kva41N/NcWeYTOXbAq04+QNIMFhgjcNVG8Zg+QZ3W3so8MjN82hWHLjoztlLcFjhclpmIj9SXJwyYrgZbXdgIfFqshLlagaa8hSfeL/qCapufoasETk71pMrm5CvPK9Ah6zn4b5F/AhUyzArsuTdSFgOqu7xtBC4Ltx+us916rVlXvASAijsKIJ+WEUJECSvTVM4oZLBT9OcL7PixkE43uB6xlPzy0UwIYJrc1vKrx63z2x8PUgjow8ddtN1CmFBRXlljknQu4INB4AQVdx40YCUKvbVvKCXVyJD1lRyuhcgKi3hZSDU5xTqbjXIE04zpaRS4N9rbIjYzTYnjOQtm0xo7yuulmtfwELi601rzkTUEDGvH9o3tb6kCJjqrFovvNLoYCMihQ458x+ciIA7bf7xU3yzfXxyMDptCY3TdBPosi56gm4hsosidiu6miw9aZuZ+FnefD5Wdg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XsgUKZFWcwrU0IOgkPV8iQ==",
        "ETag": "\"0x8DCEFAF6D4FEAF6\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-last-write-time": "2024-10-18T19:59:51.2037110Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6D56EED1\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T19:59:51.2496849Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:51.2496849Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-18T19:59:51.2496849Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/folder1/test-file-eb10be52-1110-1967-0012-da02b3655130",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6D5E19B2\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T19:59:51.2966578Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:51.2966578Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-10-18T19:59:51.2966578Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/folder1/test-file-eb10be52-1110-1967-0012-da02b3655130?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d4596ee0-3752-f9cc-288f-c124c91d6005\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d4596ee0-3752-f9cc-288f-c124c91d6005\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-e56f1674-6b56-b8e1-63d7-ffaefd9c4090</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/folder1?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d4596ee0-3752-f9cc-288f-c124c91d6005\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-eb10be52-1110-1967-0012-da02b3655130</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/test-file-e56f1674-6b56-b8e1-63d7-ffaefd9c4090",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEFAF6D4FEAF6\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T19:59:51.2037110Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:51.1537396Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-18T19:59:51.2037110Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "JKn0iCA27KYx71qJrJaHqlHPbDhfGabwFhlRuoBy8zQa5K7Kc479GACb56QEZ/jm0LTZfWgErgoCA3EH5DIlv/wlbsjovTfC0lM3xDEB7K8ga+nLmHbMFTWjx28c9TPOdSeo3/gw/hJ9F6sUzerZABfC53lIWiaGWFiSRfbHpdwgaU4KWQ228G3XToHKt0hKysZYWg66hhsBIoafnbkbtnHO9GObz6cKDPYLcAyku6AQSHswbkvNZeIzCDaGFlK0u5cQ+8PkrvoeTk0YrhUPXGblj1U+60cmAY6BaMZwg/ajV7R0lL/dK5mAESD9tbfMJKzPoYb9dtBQ6fo0Y0Y0rcpXdFZhmsenB2S7vtknKEvXtEMaoOJwpuHjJKvFqcdSS2RVpkBga4nkKJkhQbj2KMGuXK8DGgzn5851fXYc4l6daXJ10YELdki5NXhJTmQp7PvpFkwXTzBXbb9y6+4Sx0Y7hNhFgVY/o+ZmSeSUnphpTJB7MssRhRlBHmPCmItapm0xDsmM42ukqnJmsQVMws8mCJ9dl5V6Kf++BGLzfQtaDKJ3Y5DO3Wgk1ohYqtQU9VyUm5Dr/Q/YtuTKzd8IsS1nC6Vj1F8/WCo2OMAMIn8rqg4GXuJ6bw6Tn6ysBA+JHCVb8J8vsCD8VUNltcROy5RlnyPQAlJK7JyWzzWzk1MbrRybsTHg/PntCQmfFbpKRNMXRmXsuBrSEAMCmOHrScLvSgensxpjhaMq4vhJq9fiS4tim0zuL/UCyKAt3WMYAsBHr8uyopC5s8HBwdUhiWQsH01Via12ABsSpet5Nqc/EeA4AvwLL6j6qOiKLG0f4D88AL0VwnkS0a+woP2lP30agq/16YZoIfCkW+DF69Ot8sSrPDXpKU9nJTFMWo+rVGlqcKq9Kva41N/NcWeYTOXbAq04+QNIMFhgjcNVG8Zg+QZ3W3so8MjN82hWHLjoztlLcFjhclpmIj9SXJwyYrgZbXdgIfFqshLlagaa8hSfeL/qCapufoasETk71pMrm5CvPK9Ah6zn4b5F/AhUyzArsuTdSFgOqu7xtBC4Ltx+us916rVlXvASAijsKIJ+WEUJECSvTVM4oZLBT9OcL7PixkE43uB6xlPzy0UwIYJrc1vKrx63z2x8PUgjow8ddtN1CmFBRXlljknQu4INB4AQVdx40YCUKvbVvKCXVyJD1lRyuhcgKi3hZSDU5xTqbjXIE04zpaRS4N9rbIjYzTYnjOQtm0xo7yuulmtfwELi601rzkTUEDGvH9o3tb6kCJjqrFovvNLoYCMihQ458x+ciIA7bf7xU3yzfXxyMDptCY3TdBPosi56gm4hsosidiu6miw9aZuZ+FnefD5Wdg=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d4596ee0-3752-f9cc-288f-c124c91d6005\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d4596ee0-3752-f9cc-288f-c124c91d6005\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-e56f1674-6b56-b8e1-63d7-ffaefd9c4090</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-d4596ee0-3752-f9cc-288f-c124c91d6005\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-eb10be52-1110-1967-0012-da02b3655130</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-d4596ee0-3752-f9cc-288f-c124c91d6005?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "63977398",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
