{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322C499EE\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322C90383\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:47.3215875Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.3215875Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.3215875Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/test-file-f1e43d6c-0f05-f146-5876-a2fd185f298e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322CCF6AB\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:47.3474731Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.3474731Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.3474731Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/test-file-f1e43d6c-0f05-f146-5876-a2fd185f298e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "x47dmRHlbV59aJgjvGIuncR5pcxBpMet5fZ+qQ8g8wd6eY2gXslu3xJcSCAGuLQO/oNfpkSarSPGL7MbZ8RPXHWRqEPUjT/6CsW65FumpyxBb6qLwU3D38xq2i4VU3hODeurdA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SJM9Z/HiRV6VlJPceOmqhA==",
        "ETag": "\"0x8DD932322D1FA24\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.3803300Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322DE962D\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:47.4629677Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.4629677Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.4629677Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar/test-file-f9892896-194a-b454-ec31-e0295a78d542",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322E372AE\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:47.4948270Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.4948270Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.4948270Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar/test-file-f9892896-194a-b454-ec31-e0295a78d542?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "8JqG1xpfkTKpOtqpDaNkQdOVE70EK3SvD2wjs039dPsgiU3ef8hsd9QcgAbdgFB8gJLkIVOyY8Um18etPN3lrMbeiIRWhsELKZvp6Kpt0Y8cpzO6GFKobiaIuKgAvjr2N9NA/w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pyphIMuHq418OF3VGWVgUg==",
        "ETag": "\"0x8DD932322E78CC4\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.5217092Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322EB590E\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:47.5465998Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.5465998Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.5465998Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar/pik/test-file-8a7cc18e-2505-5db7-d826-f96a4dfc6951",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322EFC0E9\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:47.5754729Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.5754729Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.5754729Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar/pik/test-file-8a7cc18e-2505-5db7-d826-f96a4dfc6951?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "mtDgKXFvJuuR2crrtYJovPZdQopQmy0mrC4p5mHpZRHjSquk0jZeBx1RKc3Zq6mHUiMzru7mfP6juX1CRT+JqHS4CGrWxOq//zts/3JfTQGFoZQ+trYj/M6tABi5G8HdyIFZIA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "taCdBtaqkKdsSjwOv8teOQ==",
        "ETag": "\"0x8DD932322F4C467\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.6083303Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-216e08c8-800e-5f55-bc38-9e5c88a94704\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-5497452d-0f87-bd64-f89a-c24a870629e1</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>100</Content-Length></Properties></File><File><Name>test-file-f1e43d6c-0f05-f146-5876-a2fd185f298e</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>100</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932322DE962D\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:47.4629677Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.4629677Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.4629677Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-216e08c8-800e-5f55-bc38-9e5c88a94704\" DirectoryPath=\"foo/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-f9892896-194a-b454-ec31-e0295a78d542</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>100</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/test-file-f1e43d6c-0f05-f146-5876-a2fd185f298e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD932322D1FA24\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:47.3803300Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.3474731Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.3803300Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/test-file-f1e43d6c-0f05-f146-5876-a2fd185f298e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD932322D1FA24\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T20:08:47.3803300Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:47.3474731Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:47.3803300Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "x47dmRHlbV59aJgjvGIuncR5pcxBpMet5fZ+qQ8g8wd6eY2gXslu3xJcSCAGuLQO/oNfpkSarSPGL7MbZ8RPXHWRqEPUjT/6CsW65FumpyxBb6qLwU3D38xq2i4VU3hODeurdA=="
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704/foo/bar/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-216e08c8-800e-5f55-bc38-9e5c88a94704\" DirectoryPath=\"foo/bar/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-8a7cc18e-2505-5db7-d826-f96a4dfc6951</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>100</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-216e08c8-800e-5f55-bc38-9e5c88a94704?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "632254881",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
