{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519EC03062\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519EC7FB51\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:13:35.4579793Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.4579793Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.4579793Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/test-file-57834c6c-e4b1-aaac-6c81-2016e55f77eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519ECCFECA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:13:35.4908362Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.4908362Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.4908362Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/test-file-57834c6c-e4b1-aaac-6c81-2016e55f77eb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "7XTVzOPVhQavYFbMggadwGbA1HlotyDVtfUfLj97Gx91jBe+5E/b8L1IuXMVlbxWkp2QaIvrLDZT/xfttVfHM0U3V/Xv39sW5OO7H/6twB85yZuh6rOTiWDgauQ47jtmgYUt3j7HZ7PBeYOoLww4pj/3tOu8JUiSo82UDnT23vanVZ54gOLhcWLn4HEv6llUqMSlQDlPqVw8mjpwM1g/ypuNANptvyZcFkKJ1EXXY7h0P2WvUZ28WKtCPOWocT4JqBXWoep/5umeSCr3xdUWZDeB+/Pyj3n90aguK4NAtKQDgCwwAcHO9Fh8EQhzxJLWK9euJnVLFhib2NBCUbtlXZSF9EWp5mN1sgeadn1xiQwWWP+sko0ut2kTlCjwjKOdFrR07dBMLUV0OHRusaCaKU7ELPm7ucoGVjzcllE6hCZj/F/J/Zw7ySq6OFoZwAbIeGvZLGCq4l3pbZaUcJfzObNNCrRB0SyyiGLOAIFw7ZY1Ex3mYFjGuRoC4JAFp1mTxv6mzLVRh6c+J6T93OHbeIAAXlx5Ddlbh1GaP/CcreEJOjmDySDg44t2pzm0yNw4JmcPBUj8GrkkS0Rjt0i2onnC9KGoWK5fH3rRAmWgp750YhiJjKiYDCCAXn7bfCxDwAW/8dQ7kM24sOXOKxdThKOG71UwLRbRKueBJ/owg6JNjkJg4LbqOdFK0NvCyeEILdrbVY3XEpLv7sbsuWjTiC1DgJzV8qPtm7WD5V06DmAFePogVC0UdnuvcfLv/n9pd0euf0lEMzo37rnYVC01tN9l5kFtszP/LgohJYGw/Z01GW4VjI8XwEXA6GZzPCJNebwSihc++8MUrlA/Iw25hvAcojq/IChQTSX8rcrNi/Ln1KvEnnKG9h6qAd0/2J03BmJ1V5nnjlmUwTzxQk35RiJdV09i9eh+lasbFR9KEXWIxKZoVzRZ/0VSL9w2lbTQsLq74YFO1RF698LtzHg6SbDHaX2mke/uBFcJEMULRwD3S2Rljy/0Oe+V7V9xazPMGOYrbys2Kh/KzNwpRcVLbq/B9oEU1LmA0i+NEaOPfJkjPPff39jUwCBEmsJSyvQqSX+vsHWyuEMsqpz7qRh8OlBDBQjNbI7X7DVg0Dr3LQc7Y8gk38wkcIO0szQ72BcIx19yD8TrXdzw2MM/UugINH2UwEVQWFqEH5WFGLhamxQeVwjahB5CTwXrNAcJ5B2bq363pxjRt28F7u8vZkUjlT2vIPrgLrBeUXFAZSRTejp36Ww6ovT7TKCY1ZYuE+m/x57JWcMju33OWVWnkFFLsXO0uHzZ6fNJs9RaR1kZLz6HgJ6GiSB3VC7va0meVLxOTSMjeVts5t2qgKbvyHMjtA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "O6f25YBCjUUS3bIOuE5Zsg==",
        "ETag": "\"0x8DD7C519ED2C4AA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.5286698Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519EE070E8\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:13:35.6182760Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.6182760Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.6182760Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar/test-file-d90168e2-a779-21f9-4c0e-6816e41851e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519EE48B04\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:13:35.6451588Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.6451588Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.6451588Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar/test-file-d90168e2-a779-21f9-4c0e-6816e41851e4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519EED81A2\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:13:35.7039010Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.7039010Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.7039010Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar/pik/test-file-d5a421a4-a3a6-d00b-7b82-7f99bcb820f4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519EF5B5C7\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:13:35.7576647Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.7576647Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.7576647Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar/pik/test-file-d5a421a4-a3a6-d00b-7b82-7f99bcb820f4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "upd[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-57834c6c-e4b1-aaac-6c81-2016e55f77eb</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-6efb78eb-9b13-00d1-d717-27f48a784009</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C519EE070E8\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:13:35.6182760Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.6182760Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.6182760Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168\" DirectoryPath=\"foo/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-d90168e2-a779-21f9-4c0e-6816e41851e4</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/test-file-57834c6c-e4b1-aaac-6c81-2016e55f77eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7C519ED2C4AA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:13:35.5286698Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:35.4908362Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T19:13:35.5286698Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "7XTVzOPVhQavYFbMggadwGbA1HlotyDVtfUfLj97Gx91jBe+5E/b8L1IuXMVlbxWkp2QaIvrLDZT/xfttVfHM0U3V/Xv39sW5OO7H/6twB85yZuh6rOTiWDgauQ47jtmgYUt3j7HZ7PBeYOoLww4pj/3tOu8JUiSo82UDnT23vanVZ54gOLhcWLn4HEv6llUqMSlQDlPqVw8mjpwM1g/ypuNANptvyZcFkKJ1EXXY7h0P2WvUZ28WKtCPOWocT4JqBXWoep/5umeSCr3xdUWZDeB+/Pyj3n90aguK4NAtKQDgCwwAcHO9Fh8EQhzxJLWK9euJnVLFhib2NBCUbtlXZSF9EWp[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168/foo/bar/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168\" DirectoryPath=\"foo/bar/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-d5a421a4-a3a6-d00b-7b82-7f99bcb820f4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-cc0f7442-6c0a-9dcd-e8ea-230067cd7168?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "129484879",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
