{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA6A701EB\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:44 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA6AC3F8C\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:45.0040204Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:45.0040204Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T23:25:45.0040204Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA6B0A773\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:45.0328947Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:45.0328947Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:25:45.0328947Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo/folder0/test-file-c27615d4-b739-6749-b647-4489bc511270",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA6B8DB92\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:45.0866578Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:45.0866578Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:45.0866578Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo/folder0/test-file-c27615d4-b739-6749-b647-4489bc511270?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Tfs9Oaxv/dbnsSb1J3DSyxerWs0ZVkMiCyxe6q0dO1i1I90Jy9MH5x8c0wiwCK3x9fx/ZZ3CTfa4Gi5/ERIpynXOQAOTyP9DpHKt/IM6cgJ+bfWxnda689bmULGlh9YN8gmS4cipXiz8PMErFVBzfacrAKMceCyfFEwtrHdOnhybnwp6qJE51Q/JtGEUjt2Gc9MJeYYy8Hrc8s17fLG0rZ2lkHVG+NUW8SuUU8PLioVvpzmkRSSVaK6PnrXDvlheFAfDb/5nP3r98odanp23EGhIDNV3D2h5DyfGt1ogUjPTNj67BxuGB2e/plKdOsoR141Me7KD5gWfSl/XoIgf3Z9Th2de+wlMwQRtuGgV29Rdtd/N09eBUE85HL27r2bfoMmySbNistuDALqtFS6cim6LeuuoUQnI0jcXJd9MkRGejheeYpIh+gMEStMc1DohnZJOMDV7Nk7A6XZ7Soz8N26oD4cW/SfcaX/opAc1rP789ohN/WDcIlfJ3ngbpa92CBJkdMSzCp9qcsa1k5JHij14f1QErjkOzOwwTR+vwMPPcZv00Tc5Sevo4ouZJo/EgVM6oyZbclnZVqjYgr2Au7ED5SH2U7kFPzVoG8ytdKVda8vLdB2ddP9CG3uPYcYuaCfalkBtzS6aNGPw81aMK+ICehbxtEaUZnEitDc9dt5uOrKl091k756dMD+5rIGote+YjeavPLPgRTDOSxn2XL6Fgrik51cEnYp4U4QH27nwef5Hpej3vv3+xI6slqSFptSAMyrIBM6Yk+9bN+gv2Wl23tIar7fVjcO6pSLJVwfm8q2vhqiPKHQwrxH5nIcVz+skNrjSavccqqVmDV+rzjzndEQ7f1PB5rVd6v+m3PE7pdY3pSFPFIe1k9sCKBoVhOHVEidC2U+YYk8CdID4ds60K2iJdCkal2C8hex3v76aSGUe0cnJ+cuHnkLSTZ8HvR0MTv2yjA+3unrHhlNiIKORZywa2qQE6jKcAtbnSErAtcjPanHA6LtWZhZPAnN3JH2fQOVz7ON4CGPLFoo50HIvBtCKk7Yx0H9wxHOOtei+JN1YSAdkTcnlVmIO9dIxHJakH/ui7JDHbXBmAidv6lJ6DPGs4Ihqy7kHpTxTI9utPqfc6ZXtHDdNkdqX/kuhdWwPk+jghTwOOVRCm0dUc0mUucN/kwC9jfC5X0+t08xtZS/PRI/zzLlrza9BqoHw+B6QAkWHIeJrUgb4JibtYWaH1DUYhC65oewJE8VRe+JuyWYwHNCH5UNNZPKJ+6WTfmxJudZM13Tv12FZfQ4cGtYkiV2/vESV/+7xyyA8MKZGdpVZB8ELIvLxQUVvLmg1MEkbZHFI08Ins7nnWgxUsw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Dib1dOQSlUkDFqHIqZqUnQ==",
        "ETag": "\"0x8DD933EA6BE2CCD\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-file-last-write-time": "2025-05-14T23:25:45.1215053Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo/folder0?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933EA6B0A773\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:25:45.0328947Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:45.0328947Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:25:45.0328947Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-c27615d4-b739-6749-b647-4489bc511270</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo/folder0/test-file-c27615d4-b739-6749-b647-4489bc511270",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933EA6BE2CCD\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:45.1215053Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:45.0866578Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:45.1215053Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0/foo/folder0/test-file-c27615d4-b739-6749-b647-4489bc511270",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933EA6BE2CCD\"",
        "Last-Modified": "Wed, 14 May 2025 23:25:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-14T23:25:45.1215053Z",
        "x-ms-file-creation-time": "2025-05-14T23:25:45.0866578Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:25:45.1215053Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7b062ec9-ddbf-c5c3-a3f3-dcf1b751acc0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1679832195",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
