{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1682F467D0\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1682FDD3B3\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:22.4815027Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:22.4815027Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:22:22.4815027Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16830607D7\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:22.5352663Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:22.5352663Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:22:22.5352663Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/test-file-ee9b3d36-ca96-1687-b0bf-1334bbf3320d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16830F4C35\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:22.5959989Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:22.5959989Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:22:22.5959989Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/test-file-ee9b3d36-ca96-1687-b0bf-1334bbf3320d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "BlVjszRGz32Vqrv6I6NirWV9WS3Q2S42U/6IbW6FlUSEjm1c5brKG3WyDR6OK/g+7SJ6IpBRfy0nLV82vmEOEBV2dpQ2Bcersz23HssQpygFSYBLCnK0Mg4/NbdblFwUo/wIF7VjCOdazm9SmmFhFoU2MHTgwgWiwkOG9s8PUB/ho3rPB49zokGZ8TwDYZit3h8xJGTnM+D2ZlVy3REXSn1Pcffmkg72w44zR9HJnmCq2Riw3Sy7+W+Z2KE6AcQvgaa+s/ChxkwQO2DWtOsPLcf0xwT5Z2xRlHiHTLltu8LJA8UrCutwCRLMn6LM5USEiqrZRjnANho5bR94GXmSo4CdDLAl5CPchL3xLcfKha4zA8IPlHWICMyr8Z3L+O+YOfshLtiTXqWH/MJ8zglSbudwRBa3gw8LFAPkevKFEIvNWfPLqVbWn6Qch5ezDDrDWIK1W7PZ4bbsFRnVr+SzAes2rnUWh8WQmqVxmvt3WAfJICJvz7XY9Hg935M9Ae/AaYarfF7FrNG9JcAOZ0a6dL0RC4/CQzE2Xbn82acyU5m1sTF0zNupBHRQsqr1yY0ygmrWK/Vg/iVUdR6kyNMpi9EnWLUURajhZwcbcZCGQZMsylc9XCekVbILIFe8BTugJyfZzXHXHTzC9MPtRY2VzjOKd/187C+pggICCCVQJGLLekpprXMiVa0aemdkthAldlEjMo4+Izr3L0pu1BQWcc9hIspCKyDAaCJQYXHHRczy3JLULPLUjVYPcn4os4CYBAiXA5RF40swY8lr7cLIL+p+e/eCQkXdjJRzM7iil7ShuF1pL0E4rflGo8kpaJ+URkKUqjiJFcLDunb/0a+SjssVyjVkX/+oRc79O558syP03+x2Du18GKKapXXLONtKtBT9E55qL+dC7GRpi9ojRwZSCvLDG4DemLGSybmK3Qzzs4eKfqCFiq8FNCKJE43Id15ueC7oh5iUH3vt12Yttw9XdddSmchmzX9DvedeVIUkylJbHGTeCyzu9V8kmLNI13wTMp21dd6VB6qupMmwNcr1yQ0T0ZuqeGmrY6NoQTXM+uVrSyLoblR0xRS6MGdjPsCVL86lNQbgaLkzCRI7LMV14anjROqnDVq4nwuG70gCSCXj0xJmJ8Xfi+JptGRCOZlPRU6+f/nV7SJ07JX6WXlwMcHsV1izDrrjA7kIPlj1dmZyN6r6RMgrDebw8jov5TFp+IOjVeFAnDeU2nxAza/Jf3YvhyLPduz5wUpywhx/sx2InkXVUSGFMptzZmpL6z82JnPEAF4OmoKWqpSWzdkaFCZety5p9C1UqVSGWxCCrdYKPJypu7K/eQTCPqeN7mXCWFFD7TMRzDJFb1YJhw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FRLFIfeIOfIcS2qe7DFuAw==",
        "ETag": "\"0x8DD5D16831842CB\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:22:22.6547403Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168320EB96\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:22.7114902Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:22.7114902Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:22:22.7114902Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/folder1/test-file-ca6d2215-45ce-19eb-a1b3-9d3865230318",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D168329E232\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:22.7702322Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:22.7702322Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:22:22.7702322Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/folder1/test-file-ca6d2215-45ce-19eb-a1b3-9d3865230318?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "up[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-ee9b3d36-ca96-1687-b0bf-1334bbf3320d</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/folder1?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-ca6d2215-45ce-19eb-a1b3-9d3865230318</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/test-file-ee9b3d36-ca96-1687-b0bf-1334bbf3320d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D16831842CB\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:22.6547403Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:22.5959989Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:22:22.6547403Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "BlVjszRGz32Vqrv6I6NirWV9WS3Q2S42U/6IbW6FlUSEjm1c5brKG3WyDR6OK/g+7SJ6IpBRfy0nLV82vmEOEBV2dpQ2Bcersz23HssQpygFSYBLCnK0Mg4/NbdblFwUo/wIF7VjCOdazm9SmmFhFoU2MHTgwgWiwkOG9s8PUB/ho3rPB49zokGZ8TwDYZit3h8xJGTnM+D2ZlVy3REXSn1Pcffmkg72w44zR9HJnmCq2Riw3Sy7+W+Z2KE6AcQvgaa+s/ChxkwQO2DWtOsPLcf0xwT5Z2xRlHiHTLltu8LJA8UrCutwCRLMn6LM5USEiqrZRjnANho5bR94GXmSo4CdDLAl5CPchL3xLcfKha4zA8IPlHWICMyr8Z3L+O+YOfshLtiTXqWH/MJ8zglSbudwRBa3gw8LFAPkevKFEIvNWfPLqVbWn6Qch5ezDDrDWIK1W7PZ4bbsFRnVr+SzAes2rnUWh8WQmqVxmvt3WAfJICJvz7XY9Hg935M9Ae/AaYarfF7FrNG9JcAOZ0a6dL0RC4/CQzE2Xbn82acyU5m1sTF0zNupBHRQsqr1yY0ygmrWK/Vg/iVUdR6kyNMpi9EnWLUURajhZwcbcZCGQZMsylc9XCekVbILIFe8BTugJyfZzXHXHTzC9MPtRY2VzjOKd/187C+pggICCCVQJGLLekpprXMiVa0aemdkthAldlEjMo4+Izr3L0pu1BQWcc9hIspCKyDAaCJQYXHHRczy3JLULPLUjVYPcn4os4CYBAiXA5RF40swY8lr7cLIL+p+e/eCQkXdjJRzM7iil7ShuF1pL0E4rflGo8kpaJ+URkKUqjiJFcLDunb/0a+SjssVyjVkX/+oRc79O558syP03+x2Du18GKKapXXLONtKtBT9E55qL+dC7GRpi9ojRwZSCvLDG4DemLGSybmK3Qzzs4eKfqCFiq8FNCKJE43Id15ueC7oh5iUH3vt12Yttw9XdddSmchmzX9DvedeVIUkylJbHGTeCyzu9V8kmLNI13wTMp21dd6VB6qupMmwNcr1yQ0T0ZuqeGmrY6NoQTXM+uVrSyLoblR0xRS6MGdjPsCVL86lNQbgaLkzCRI7LMV14anjROqnDVq4nwuG70gCSCXj0xJmJ8Xfi+JptGRCOZlPRU6+f/nV7SJ07JX6WXlwMcHsV1izDrrjA7kIPlj1dmZyN6r6RMgrDebw8jov5TFp+IOjVeFAnDeU2nxAza/Jf3YvhyLPduz5wUpywhx/sx2InkXVUSGFMptzZmpL6z82JnPEAF4OmoKWqpSWzdkaFCZety5p9C1UqVSGWxCCrdYKPJypu7K/eQTCPqeN7mXCWFFD7TMRzDJFb1YJhw=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-ee9b3d36-ca96-1687-b0bf-1334bbf3320d</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-ca6d2215-45ce-19eb-a1b3-9d3865230318</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4cab4f84-0170-a01f-9f03-e5d29ff8c896?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "3496137",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
