{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1683CAD3E8\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1683D7393C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:23.9062332Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:23.9062332Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:22:23.9062332Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1683E056B3\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:23.9659699Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:23.9659699Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:22:23.9659699Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/test-file-38ca9682-4daa-729d-c309-6b54e6742917",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1683E8B1B9\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:24.0207289Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:24.0207289Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:22:24.0207289Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/test-file-38ca9682-4daa-729d-c309-6b54e6742917?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "8Hsz+ZUYuKLWHNUj4kSSpjIyqWAacf1DKjkmcEontWemdH5h068LdRdIJPX9d5n0epQhZfjOvn9+785c8kdXr2ZufW3GMdKCJzNI0kwIRrOfMva2BVBu2Lb+4+PhroLP8HWOjvorLkjBnj7EheszdakavcBRoakWAKS3x07voHiweeHWebe4cwSu9GcRqVLKy205xvHCfk/MeI5VdGb60v3GEwwKXPzxYkm8oq1CBFZS7fzhtdqG7vqSCgApY/+dsyFpS5VGv29wSGSoBtuiiXQ3A4ZpGR0jPyUSeFH7x/9KHu6L2bjBCy2NcG113uce74CM8l94M5oERQtvNEcddYBlXejsF7C7dvdZ3KivrmE+84jQb9Wf0upUhpOsUdflb/vsD4D/MtjQ0HxnH1fyVJaqMUC/TQWrxYv9mJAdDiQgc2ytw57gPsGvAJ5YOLKSYjH8Ah+WJiL1QUn1AZlIssJXR6vqRJH3yvJ/EExnUo3YazZeIAwEiUxKt4FV6j0nZk3cAfAGpx2gBTctFhXVju+7HJVj6ZK1U71foIwPot+0WKn/ilGd0cMYvhvV13I3dCmSmc6nxHy6Jq4zpwaQkWJXeL5s1gOeHkrSSit34HtKJyxjfAkRDZMsRGSjaSm8hy24fV+zyp4l9HqD1XlRQkYy6H/aLRRYRWsrP5Gf+rUgFsL+vmIbllyOPoiOjjcZ2wEdcIGq4loYYDj0iIsMhfnFYr+2UoPjF1EiS++MybczEWOPgYozdjNo5V4qJw7RgbiOySx4Y4h9Olkvh5ZqjJaBwXcnfQNvkeuLTmwluPBDUco3/gCLuq7aEUcxBO+d/VnIqWWWqQS0HjdA7RQcWIFo6zXMM46V9QbJTGu8PY377VATXA+KrafGgt/ISs2ZvrjFyBi60cnLM7NfzV2Y9+GqRP/ECfxy3j6OBbGuzKs5L42z93V1QRyGRylbK99KLYv+HgbN1bW8U+rZLMsYHGYIJZ3P5QBrNQLjPcHTFrNfQ9gmsK6la1rY96OKmxVQbivCUwVBekiKkukD6pf06Dw3eujz8mu4Y7pD9+1c4Zntks6VEMOtHcmPmx7EoYDC4w5nUyAtXXy/CvBK/oNbLrBPFljJXtd5iVweY1ZN88E5gRPf9Y14vzRS1QbTYh9GNG1tdIso+YU27snDDvklchYuEX1vezgj1lYjdojRpSY92C/p3382EIeOqAbDtLA7LWLvpFGi1rg0Sp00BYP8ZUijhjXKPJOX9wD14dMxXyGm6Ekl4QHVmwJ2tJXhAgsEkUO+IC56cPDPWKxQrfTkAup7jh061oNHzeozU4j+tvX18E+Qcz/zK3dYVohUhO4NkbGqZXTtyru/d1JDRx1o0Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "q9PUFZzaeDa0DTmez7KDGg==",
        "ETag": "\"0x8DD5D1683F1CF36\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:22:24.0804662Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1683FA5119\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:24.1362201Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:24.1362201Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:22:24.1362201Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1/test-file-1318f998-1a12-c3ab-3196-ff22c12f5d7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16840320CD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:24.1939661Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:24.1939661Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:22:24.1939661Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1/test-file-1318f998-1a12-c3ab-3196-ff22c12f5d7f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "up[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1/folder2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1684147273\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:24.3074675Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:24.3074675Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-03-07T01:22:24.3074675Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1/folder2/test-file-be44fed7-383e-bb1a-89c8-5a614bfa6dac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16841D8FE3\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:24.3672035Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:24.3672035Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-03-07T01:22:24.3672035Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1/folder2/test-file-be44fed7-383e-bb1a-89c8-5a614bfa6dac?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-wri[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-38ca9682-4daa-729d-c309-6b54e6742917</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-1318f998-1a12-c3ab-3196-ff22c12f5d7f</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/test-file-38ca9682-4daa-729d-c309-6b54e6742917",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1683F1CF36\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:24.0804662Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:24.0207289Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:22:24.0804662Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "8Hsz+ZUYuKLWHNUj4kSSpjIyqWAacf1DKjkmcEontWemdH5h068LdRdIJPX9d5n0epQhZfjOvn9+785c8kdXr2ZufW3GMdKCJzNI0kwIRrOfMva2BVBu2Lb+4+PhroLP8HWOjvorLkjBnj7EheszdakavcBRoakWAKS3x07voHiweeHWebe4cwSu9GcRqVLKy205xvHCfk/MeI5VdGb60v3GEwwKXPzxYkm8oq1CBFZS7fzhtdqG7vqSCgApY/+dsyFpS5VGv29wSGSoBtuiiXQ3A4ZpGR0jPyUSeFH7x/9KHu6L2bjBCy2NcG113uce74CM8l94M5oERQtvNEcddYBlXejsF7C7dvdZ3KivrmE+84jQb9Wf0upUhpOsUdflb/vsD4D/MtjQ0HxnH1fyVJaqMUC/TQWrxYv9mJAdDiQgc2ytw57gPsGvAJ5YOLKSYjH8Ah+WJiL1QUn1AZlIssJXR6vqRJH3yvJ/EExnUo3YazZeIAwEiUxKt4FV6j0nZk3cAfAGpx2gBTctFhXVju+7HJVj6ZK1U71foIwPot+0WKn/ilGd0cMYvhvV13I3dCmSmc6nxHy6Jq4zpwaQkWJXeL5s1gOeHkrSSit34HtKJyxjfAkRDZMsRGSjaSm8hy24fV+zyp4l9HqD1XlRQkYy6H/aLRRYRWsrP5Gf+rUgFsL+vmIbllyOPoiOjjcZ2wEdcIGq4loYYDj0iIsMhfnFYr+2UoPjF1EiS++MybczEWOPgYozdjNo5V4qJw7RgbiOySx4Y4h9Olkvh5ZqjJaBwXcnfQNvkeuLTmwluPBDUco3/gCLuq7aEUcxBO+d/VnIqWWWqQS0HjdA7RQcWIFo6zXMM46V9QbJTGu8PY377VATXA+KrafGgt/ISs2ZvrjFyBi60cnLM7NfzV2Y9+GqRP/ECfxy3j6OBbGuzKs5L42z93V1QRyGRylbK99KLYv+HgbN1bW8U+rZLMsYHGYIJZ3P5QBrNQLjPcHTFrNfQ9gmsK6la1rY96OKmxVQbivCUwVBekiKkukD6pf06Dw3eujz8mu4Y7pD9+1c4Zntks6VEMOtHcmPmx7EoYDC4w5nUyAtXXy/CvBK/oNbLrBPFljJXtd5iVweY1ZN88E5gRPf9Y14vzRS1QbTYh9GNG1tdIso+YU27snDDvklchYuEX1vezgj1lYjdojRpSY92C/p3382EIeOqAbDtLA7LWLvpFGi1rg0Sp00BYP8ZUijhjXKPJOX9wD14dMxXyGm6Ekl4QHVmwJ2tJXhAgsEkUO+IC56cPDPWKxQrfTkAup7jh061oNHzeozU4j+tvX18E+Qcz/zK3dYVohUhO4NkbGqZXTtyru/d1JDRx1o0Q=="
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1/folder2?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-be44fed7-383e-bb1a-89c8-5a614bfa6dac</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-38ca9682-4daa-729d-c309-6b54e6742917</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-1318f998-1a12-c3ab-3196-ff22c12f5d7f</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816/foo/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816\" DirectoryPath=\"foo/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-be44fed7-383e-bb1a-89c8-5a614bfa6dac</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-cf8ec12e-49a6-7e3a-2008-be203b4e3816?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "500564187",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
