{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA787811AE7B\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA787820ED61\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:53.0744161Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.0744161Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.0744161Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78782AAFF7\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.1383799Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.1383799Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.1383799Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "t25V/tw7g50/HGWxnlsCPRmkISjXYLi7waPjoAgSueQNaUNtoSSfklYTxhcqIC8+zCV4olOb0Fe2mTw5V+KULWOAozQYlZz1BY/Rw5mhkaB0pdPjmRaRcZnrtwfnZTpzf5mzqn36JTeJg5zDygy9FQibxbIOsZNM7jGbLN2UDZ9UXUQA7ecjeX+cWRZ6zqeMLqL/TKCIZc0FZ7tLX/la9Hb9bmzIvCcheEsycld80iCJDv06lcH+zPh3+oUr1xmGQWWffF87xHF63tNUVfJ1iJWbwVD7H1+1/6JzUcGi9aAyrDDy3VbBTkqLv7btqXYGAXHwjxXIiiEG6n28x3Kw2OgyIqnBg6s/2nMGb1+ox1UrbVBPsWaLaSEP7PLYBIfX2+fOuobNRH7GsbWiwhrCXSMnkFoiYCeCp7mHspa5ZtXsLpR42gzOXinRif+w6KYGTI7OsXMttXu/SxPNRZHnDEvgtpSGSYMWWTIwUNYn0b4TgWUI6rVhv3kYuI75ARmX6n200DISgAMKt1dB/GSkmHlUusMs3iGWfvcabZD0HVgYmWZZcwGMAAFi/TNdH8MVcyAVpUZVagtcHlE79xJyFpr/KWL9SyV4yLnCyeHuOF80Bfpw33gRwi5a/VSvUAju8OeYXvVgFyj7ndyNk6EqbeXyB/IYATYi7mczo07QyHew09n5Vtpp0+3RdUKbgy+NL49uvUkW1u6wdm+OLXPZKtRl3L/HMBcLiTQERoz0hmo3pXO/YQsumvzrSOBq2qV6+EptNqdwxv53YzMVEZBivO8FV4gAGcnJN0HC3Og3oa+Oik1BhlDCx990R/3XGIlsiIvwZIIded6BpP5lreoWQMKEhoZDITaeQo+pi9LL8R64VlNcRjwscBBuv+JSXRn0XQc7U5ICKGdVUiHzdO4MtbLgrFeXuvmFVxV11GFUTOV2tC3KkJ6MtS3rB/QaOfwiYQkvcbDCXaMOtft8jFQGAAU8fMDAQiUUVPYqq7MEax4ZU3JXJNo0s1eKvNqiDynZ5Qbu3rw8YR/kGx25mLHwCUrdYznhrtsrB8loNoZLckTNUMasFoxh3fFTcwm9exulmbKPxKzv9zYqw9fz0yuZmKjY60frQ/K9fIVIjjrSbYytw5zTu62Y3VmPglO1bgrGudpg5Y/Uula/0kgmp2n7WFVLRQ+Oxd36Pw3uW8GfCA17gdRgcYj82QhGE+llcTbvkyr9aij6N/P9ZaWB5l+VIMk6qyWVm+bMTmwHSLL0lc3X/seXoZ3lgErgYwzjevOpsPMfK8YQWvhDMRu78+9BCNDXqueX/n4sVCvbtDja6dN5Xpe/1WkHx6PPU3CBKYxan1o7C9ALEbJ089aaNKa/aQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kezgeZUGLxnw5cQXcAjVGg==",
        "ETag": "\"0x8DDBA78783583D7\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.2093399Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78783D71F2\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.2613106Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.2613106Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.2613106Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/file%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%3Dbar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78784E5F73\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:53.3722483Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.3722483Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.3722483Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7878558A56\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.4192214Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.4192214Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.4192214Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-wr[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78786629BF\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.5281599Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.5281599Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.5281599Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "u[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%2540bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7878784F93\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:53.6470931Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.6470931Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.6470931Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78787F7A77\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.6940663Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.6940663Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.6940663Z",
        "x-ms-file-parent-id": "17293892937846882304",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%2540bar/different%21file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "upda[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/space%20folder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA78788E937B\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:53.7930107Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.7930107Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.7930107Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7878954941\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.8369857Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.8369857Z",
        "x-ms-file-id": "12105746167116070912",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.8369857Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/space%20folder/space%20file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-4397bb66-3517-b397-c985-cdbbea4f4d54\" DirectoryPath=\"source%21path%40%23%25\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file=test!@#$%</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>folder%40bar</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>folder=bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>space folder</Name><FileId>14411589176329764864</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%2540bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7878784F93\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-03T21:27:53.6470931Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.6470931Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.6470931Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%2540bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-4397bb66-3517-b397-c985-cdbbea4f4d54\" DirectoryPath=\"source%21path%40%23%25/folder%40bar\"><DirectoryId>17293892937846882304</DirectoryId><Entries><File><Name>different!file</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA78783583D7\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.2093399Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.1383799Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.2093399Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/folder%3Dbar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-4397bb66-3517-b397-c985-cdbbea4f4d54\" DirectoryPath=\"source%21path%40%23%25/folder=bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>subfile=test!@#$%</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA7878444EC5\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:27:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-03T21:27:53.3062853Z",
        "x-ms-file-creation-time": "2025-07-03T21:27:53.2613106Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-03T21:27:53.3062853Z",
        "x-ms-file-parent-id": "138[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54/source%2521path%2540%2523%2525/space%20folder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-4397bb66-3517-b397-c985-cdbbea4f4d54\" DirectoryPath=\"source%21path%40%23%25/space folder\"><DirectoryId>14411589176329764864</DirectoryId><Entries><File><Name>space file</Name><FileId>12105746167116070912</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-4397bb66-3517-b397-c985-cdbbea4f4d54?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:27:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1356512805",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
