{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:11 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C518E6F705C\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C518E849116\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:13:08.1726230Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:08.1726230Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-15T19:13:08.1726230Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "/VQfgwDG2+g51cXm4/WnHkABCGoNqMs8CB0MlN1ILnzLyJ+k6/Ofb4X8XDS985rQ4dd/8qFYq1SJ43vjuUYK8KZIGxtVAjJMYpnkEEyXfxWCPLIGyDzach1LGwh4vLU/8muNdNh/et+kM5AIc5oI8mRmYH2TBChqbqj+CuYq06bjpR7gCQo8A8HTYpSr0f+CQimkEls4q+1DIgYvgXD4eWDqJc58J+hZKVy8wKKTv5ype8e9hsBKqvownOcEDYJQ2ug0waswBRtBSun+fOtLsGJphQWoO/Ofn3rUTIoAVBvaa+a5Xv3weHasezvXTC4O5OyEmod9qJ71lCIxXLmQQfbNJBAFklJleQyP/L+4yFNMxWiee7mTXMNHxMrbvxu8HDpFCSceCVKaHyF77qvfPcvO5JdR8cU8OcdNvc2Hibnw0uCEcr8rLbsVBFuYGG4XaIf+DdqEayp1Cc9g0EyEEpZnihvLWsoMo7fcO+xpoyBYNlVGiXvfbGa1D2nvy11vkfLFMI5SSw698WojqDA9C2WvB5r2PogaiB21FkpgHddZbKr6pHKSBepHiZgRvMQ2dwMEQMPCeFJpqqhwnTXDXNSSyTuFQmfyHAGvr7XwCMxZfp5GXN0Tl/RXkPrKIWe1gyzEf/KJsDWcESPCEsideaHcFx+WfAD3fjJGLrJtKPuZ+iyILInZ0M5pqkq5UYQruhdY7glIHgYszQDAQoKCL+knKBicFE0XAkdRLdK1PS2tGnObFDnyUdsmXF+JGI1L5nphkihsj6bJQOvC9/Azd4/SEygO5xqvNdc8dbfujum6BUdYVKsEQIrN0dNOL1rr8uXPtgVlPf5fsVxRMBru27IBCPGp2yLkzdKdQBZGYQV8UYLSH9fkVcdI+KNOsxBw3/YhTCdoQRfC6ugyx/3oGE9W1N+XG7zaHbIpYeJ/lhrCLGAgJRTdFA9rDzTvsY3KYN9T994w2cQ5Ry90P+A1QlTOb5qcyPM6eMDPLAuH62slXgADLJ47klOc5t3ladUvNczfIEHyLpjrGH4eYKy4slzDT+DfMRa2kt1H/+EWVQ/roPY+p8opMzBoFxQfHTGm5DOBIhr0UAS2KY1kqy621cNvMsC2eQqSmRuvdhoClnWsoButlDL19lDyiH48xYgCskJQsOpw8Gop74n+RdnptJIXuAoTCECQeTxwxPCMVdOTrcPYseaLO7CwhKWo97F2CNTrJA1976oBvzatACt6nZm2a5gVEQOsi31aYoOb6IKL+bwcoDDGFb4Y1vGw3jqENucL8osZYPbRP5iQI4wmZte0IgZvXfxo71bZ/DoR+61C1Sycj/X2cpjFS2GYNvEx8nAZ+7szFNnqowI1P2O7vw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tnpF2lfzuj+pw9cX+8v4yQ==",
        "ETag": "\"0x8DD7C518E8DFC55\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:08 GMT",
        "x-ms-file-last-write-time": "2025-04-15T19:13:08.2343509Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C518E92FFC4\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:13:08.2672068Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:08.2672068Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T19:13:08.2672068Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C518E980332\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:13:08.3000626Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:08.3000626Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-15T19:13:08.3000626Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "SUGOjMpC0q54[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir1</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>dir2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>file1</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C518E92FFC4\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:13:08.2672068Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:08.2672068Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T19:13:08.2672068Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5\" DirectoryPath=\"dir1\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>file1</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5/file1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7C518E8DFC55\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:13:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:13:08.2343509Z",
        "x-ms-file-creation-time": "2025-04-15T19:13:08.1726230Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-15T19:13:08.2343509Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "/VQfgwDG2+g51cXm4/WnHkABCGoNqMs8CB0MlN1ILnzLyJ+k6/Ofb4X8XDS985rQ4dd/8qFYq1SJ43vjuUYK8KZIGxtVAjJMYpnkEEyXfxWCPLIGyDzach1LGwh4vLU/8muNdNh/et+kM5AIc5oI8mRmYH2TBChqbqj+CuYq06bjpR7gCQo8A8HTYpSr0f+CQimkEls4q+1DIgYvgXD4eWDqJc58J+hZKVy8wKKTv5ype8e9hsBKqvownOcEDYJQ2ug0waswBRtBSun+fOtLsGJphQWoO/Ofn3rUTIoAVBvaa+a5Xv3weHasezvXTC4O5OyEmod9qJ71lCIxXLmQQfbNJBAF[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-ecf942bb-6475-a093-2ab7-a23fcbf13ed5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:13:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "831046667",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
