{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D890F9642\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D89180A2D\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:25.7660973Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:25.7660973Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T17:55:25.7660973Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ai33Cd7U4JtrYwUjFBD8EZ4456+n2Ho4frv5EvD+hEh5wd4DShb6p5eIn9/rvUntUnM7yRFMd5Gyv4sj2s2qbd69qVMy+MaHPkAXHzmbTMByDMB8wrs3LUlMUIuL18zK3TEALRT1ulmss4rQNFhXF3LKsM0NLqojhnsJ5ag7/Gd0TUEHmh+sfVJmzw4xZvnw9TkYwCb+va+H3aaZ69SxcbciXOYXUH1SHjN7pl6c8R+BGfBvIjtAdZCSgLx4E5F9tV5WDgoT2aW7xaLzgxZR6uuHF9LkQk574uZVhM/A2guh/vD/ReMVbj9Ls1yYTPJ5QZbR8fu+mHMQ2ywjvVTV++uXUYUmUaQIcaiTmY/x4pX03EM47+kP42V972q28bHqdbdxAPttU+/xyH9SK//kH/iXL+ERnAwCiG4fqGE5UX/3qCPXf+Kah4hTRyZpvLdlmdByH8LQ2dmrbniMTaqNuHYAW4LcDJ8W/KhYvVXmmcu2ug+RxzK9J89KLBBpDTrexo6vaGE1iYwxXCIadxyDxNWs1pOa/PBEQzOzkuCOrO9ueffGNjBqgTGDYGsPoq+zxmc7vTenQ8qeaiUtgvaroq8zrP0kvI2kQVVhF5uFNaCD/8x4Uu+4xzYtKMwKPP8617272/axjgnZlnviRSwuGDWFqYIqMk/Ae+XH95TBmgVVJz/dylmp0XHCn7x01oEJ/g+XhZJ8D6Ru+2AR6pZ0GPx1jB3sUU7b3NgRZ5OTS6RjvvmEKhRy2Rebb874l+faTYe//kpkHK3Bu6i6a6gQ2q+7riud8O3nA7MGUeF/4kTwNhoM001a/qFLw29st21vipQfPOm7PF2Z2PqWXcvLQdhkyjSNBAZhYK+JUSx+e0xFl8ZMYKZbNPq8cvtSxKHWgIKWB+w44YaOvds5MeswG12uUcYEfuEyCJU60JELDpwOs9Gq53NfDbVAvqLKIQIPi1edpHLa0gGhZP5W/RD0gq4/K34ZhjPpTkQRw78+aOeTK0U6bWkqM+DPCYN0CA+lTDzzivaE9QUjs1YuyQ5BYvsXw9LLuRREFfedSn2vdUU0a3eDSt3wDzZAFrkT+2rRjaaHXEU82ZIor3X+5qqHdD4R+V2XvhgeJrSbi6NaMRmNzL3XJxj/+JLkW5tn8imLuKJ7AQIMOs6NaTaRoE7vzX1ccRntsEwmEQHLsmN9tzSLENIA3zAXgJHuSb7ibldD9Y0dCoAPnghVVe8AQYdrELIBBZB77u5NRfGI/2aOQ6Kqh7zVX6y0fHLKq4pAFj4KgjgM4GnGyAef0MWOh56ixxFMVrrKlrEFTYkesUJkDS6yfXwtgWM54761NY7mJfTTKON488CEP+yHBpPfpxfEOw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "i/RhlxPkWnwCoWrgmaokgQ==",
        "ETag": "\"0x8DD7B7D891D8246\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:25 GMT",
        "x-ms-file-last-write-time": "2025-04-14T17:55:25.8019398Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D8922110C\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:25.8318092Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:25.8318092Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T17:55:25.8318092Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D8926ED98\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:25.8636696Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:25.8636696Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T17:55:25.8636696Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "7ScWNAQlCxeN[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-47ea4311-f498-2e59-53be-116327cae3be\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>dir1</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>dir2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>file1</Name><FileId>13835128424026341376</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D8922110C\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:55:25.8318092Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:25.8318092Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T17:55:25.8318092Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-47ea4311-f498-2e59-53be-116327cae3be\" DirectoryPath=\"dir1\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>file1</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be/file1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B7D891D8246\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:55:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T17:55:25.8019398Z",
        "x-ms-file-creation-time": "2025-04-14T17:55:25.7660973Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T17:55:25.8019398Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "ai33Cd7U4JtrYwUjFBD8EZ4456+n2Ho4frv5EvD+hEh5wd4DShb6p5eIn9/rvUntUnM7yRFMd5Gyv4sj2s2qbd69qVMy+MaHPkAXHzmbTMByDMB8wrs3LUlMUIuL18zK3TEALRT1ulmss4rQNFhXF3LKsM0NLqojhnsJ5ag7/Gd0TUEHmh+sfVJmzw4xZvnw9TkYwCb+va+H3aaZ69SxcbciXOYXUH1SHjN7pl6c8R+BGfBvIjtAdZCSgLx4E5F9tV5WDgoT2aW7xaLzgxZR6uuHF9LkQk574uZVhM/A2guh/vD/ReMVbj9Ls1yYTPJ5QZbR8fu+mHMQ2ywjvVTV++uXUYUm[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-47ea4311-f498-2e59-53be-116327cae3be?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:55:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "232764334",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
