{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B38448766\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B384E79C0\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:12.1073600Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.1073600Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.1073600Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B3856D4CC\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:12.1621196Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.1621196Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.1621196Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/test-file-6d60d3c0-1824-e5d6-828d-531e6a2e7384",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B385FA485\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:12.2198661Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.2198661Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.2198661Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/test-file-6d60d3c0-1824-e5d6-828d-531e6a2e7384?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "3NaFJrHJ44vA5Nwceex8svelObgM/SHqN4ekTHoD9t5a4ImaEEHftMmW6itoasnYTNopUysa1N61m+8qJJYRvO3+wZhi4qG1xYTvdRP1gsy9zACf2aOyPwur5HVStJAyhS0+aagxdWk4c42mK1/LwBgibViWceJJTIKMt/0rYxH0vfDlthgjjFaWZ2YWCxSs3yRcMEc4mxNK9R0mpL5sDBB7sm5u5gkA/uEBAAp8MkBt39fYzzPJvCHdmsH6/OeXKlpWmlmmPvkbXDFmNpsIzsLducXmkz3csvVMkEtHBQL5adawJZfmx6DevXICY4aF1cz/HUMisZYceehkWa6t01cubMzFV6gq9vEkCNbL2k9vxrp+SOe+17g/k6yvgm3yMOkb0/a5wH0k1CZR/ajAUZ6Z9ZLzL4tvcJQThcT8enSEMdfssAdYtQY9WnPAbNkPf0INFo3b/wFeq2JhpTu5J1myzczR1KGXQD+MttUXrgS6BAaB72TmqTLWjgSk9g/LgzIZDZ4NPquhddZNTkksRv1ep6E1ODj1zCSa+kac8kkvwTKi/qBlrcVb4HmOmFroqkcGRk9ulkv5JEF5c0RkBIOMHo0WiUhc+frc2Ve/ZjPKsU/+laz5wSvnqNle6zmA9tz1AXrM0iD/qkxVkbzzOr0Or8L0Zm7Wk1xiL+Bu/g3AW+N7ymW4/t4v/+tfoy9u824cUDx3jJBuHm4eaaI/kKw/lTbYeHBYVrHjxWaCd+8t8zxyUq3RSc9TDav2mpQ8724/IA75lnr+w/qKk8Yp66d+8HZmzT7+bUtmhWvEYbsdp9b4QlfhNF3Cc46zRrYIKiEEeKkd1iEwQbLCkhEPOWE+bevwMalQnLwYo1qvSiaVXlpKwOkR/9G0xwGkH6FMszksddnKF/l4s9zsBTLHgfaMLDS2xHl4LG0aO2mnrHwbzPAggtVMy0Zh0QwNJfqf7UYKF/Ntle7AtEhrr9yP0Adf0ThBpv4hP2DuVPJsawdze00jnZSJrjYCYM6M4Rxp0gEErVPBXUdH6NiSf0H7U0hB9zOOazJz1SMCPkYwlV1EhILxZ720sR0G3LW89i71BwyFS+no22bPkdgvvx8BFlN6Tfq+CeyLjEYWh499t970DDY5q0l0XKgbIdblhPL+BcZhQak0Nv0g+b6j0lPXUtr5OrLox2oJBfFSoucVpghUF4LJG3U1wNY4GbKL0YpURM/87Ek/FT5bWDu34ZMWClO2T7rRDjZkw3rcr664fjRn/V4XGbm+FQFDbcM5ft9CIg5e1YLPgzaZlyjPYmaQo9oHUOQ1/vCZ9zm5jaBzKkSamY2fWaiyl3knfoGR7rKbs8rpMi36DSQdxN1IFvaVJQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "LU0zR0lFhkFIv0xlfreczA==",
        "ETag": "\"0x8DD161B3869847D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.2845821Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B3871DF90\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:12.3393424Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.3393424Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.3393424Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1/test-file-1cbbf445-7349-b1c5-c76f-89f280b10e3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B387A8860\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:12.3960928Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.3960928Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.3960928Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1/test-file-1cbbf445-7349-b1c5-c76f-89f280b10e3d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "up[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1/folder2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B388C4EB7\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:12.5125815Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.5125815Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.5125815Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1/folder2/test-file-44ad9466-0c67-36e4-1594-8e497fcddca5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B3894F78D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:12.5693325Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.5693325Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.5693325Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1/folder2/test-file-44ad9466-0c67-36e4-1594-8e497fcddca5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-wri[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-6d60d3c0-1824-e5d6-828d-531e6a2e7384</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-1cbbf445-7349-b1c5-c76f-89f280b10e3d</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/test-file-6d60d3c0-1824-e5d6-828d-531e6a2e7384",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B3869847D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:12.2845821Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:12.2198661Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:27:12.2845821Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "3NaFJrHJ44vA5Nwceex8svelObgM/SHqN4ekTHoD9t5a4ImaEEHftMmW6itoasnYTNopUysa1N61m+8qJJYRvO3+wZhi4qG1xYTvdRP1gsy9zACf2aOyPwur5HVStJAyhS0+aagxdWk4c42mK1/LwBgibViWceJJTIKMt/0rYxH0vfDlthgjjFaWZ2YWCxSs3yRcMEc4mxNK9R0mpL5sDBB7sm5u5gkA/uEBAAp8MkBt39fYzzPJvCHdmsH6/OeXKlpWmlmmPvkbXDFmNpsIzsLducXmkz3csvVMkEtHBQL5adawJZfmx6DevXICY4aF1cz/HUMisZYceehkWa6t01cubMzFV6gq9vEkCNbL2k9vxrp+SOe+17g/k6yvgm3yMOkb0/a5wH0k1CZR/ajAUZ6Z9ZLzL4tvcJQThcT8enSEMdfssAdYtQY9WnPAbNkPf0INFo3b/wFeq2JhpTu5J1myzczR1KGXQD+MttUXrgS6BAaB72TmqTLWjgSk9g/LgzIZDZ4NPquhddZNTkksRv1ep6E1ODj1zCSa+kac8kkvwTKi/qBlrcVb4HmOmFroqkcGRk9ulkv5JEF5c0RkBIOMHo0WiUhc+frc2Ve/ZjPKsU/+laz5wSvnqNle6zmA9tz1AXrM0iD/qkxVkbzzOr0Or8L0Zm7Wk1xiL+Bu/g3AW+N7ymW4/t4v/+tfoy9u824cUDx3jJBuHm4eaaI/kKw/lTbYeHBYVrHjxWaCd+8t8zxyUq3RSc9TDav2mpQ8724/IA75lnr+w/qKk8Yp66d+8HZmzT7+bUtmhWvEYbsdp9b4QlfhNF3Cc46zRrYIKiEEeKkd1iEwQbLCkhEPOWE+bevwMalQnLwYo1qvSiaVXlpKwOkR/9G0xwGkH6FMszksddnKF/l4s9zsBTLHgfaMLDS2xHl4LG0aO2mnrHwbzPAggtVMy0Zh0QwNJfqf7UYKF/Ntle7AtEhrr9yP0Adf0ThBpv4hP2DuVPJsawdze00jnZSJrjYCYM6M4Rxp0gEErVPBXUdH6NiSf0H7U0hB9zOOazJz1SMCPkYwlV1EhILxZ720sR0G3LW89i71BwyFS+no22bPkdgvvx8BFlN6Tfq+CeyLjEYWh499t970DDY5q0l0XKgbIdblhPL+BcZhQak0Nv0g+b6j0lPXUtr5OrLox2oJBfFSoucVpghUF4LJG3U1wNY4GbKL0YpURM/87Ek/FT5bWDu34ZMWClO2T7rRDjZkw3rcr664fjRn/V4XGbm+FQFDbcM5ft9CIg5e1YLPgzaZlyjPYmaQo9oHUOQ1/vCZ9zm5jaBzKkSamY2fWaiyl3knfoGR7rKbs8rpMi36DSQdxN1IFvaVJQ=="
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1/folder2?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-44ad9466-0c67-36e4-1594-8e497fcddca5</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-6d60d3c0-1824-e5d6-828d-531e6a2e7384</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-1cbbf445-7349-b1c5-c76f-89f280b10e3d</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c/foo/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c\" DirectoryPath=\"foo/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-44ad9466-0c67-36e4-1594-8e497fcddca5</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3663e04b-941b-8b9b-4cc0-fd0a08c3849c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "469567668",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
