{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9335A2D96ED3\"",
        "Last-Modified": "Wed, 14 May 2025 22:21:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9335A2E569BA\"",
        "Last-Modified": "Wed, 14 May 2025 22:21:13 GMT",
        "x-ms-file-change-time": "2025-05-14T22:21:13.1972026Z",
        "x-ms-file-creation-time": "2025-05-14T22:21:13.1972026Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T22:21:13.1972026Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9335A2F2D545\"",
        "Last-Modified": "Wed, 14 May 2025 22:21:13 GMT",
        "x-ms-file-change-time": "2025-05-14T22:21:13.2851525Z",
        "x-ms-file-creation-time": "2025-05-14T22:21:13.2851525Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T22:21:13.2851525Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b/sourceFolder/item1-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-link-text": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9335A2F915EA\"",
        "Last-Modified": "Wed, 14 May 2025 22:21:13 GMT",
        "x-ms-file-change-time": "2025-05-14T22:21:13.3261290Z",
        "x-ms-file-creation-time": "2025-05-14T22:21:13.3261290Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T22:21:13.3261290Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b/sourceFolder/item1-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9335A2F915EA\"",
        "Last-Modified": "Wed, 14 May 2025 22:21:13 GMT",
        "x-ms-file-change-time": "2025-05-14T22:21:13.3261290Z",
        "x-ms-file-creation-time": "2025-05-14T22:21:13.3261290Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T22:21:13.3261290Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-0a4d92fc-32ff-df12-c586-b4b15284151b\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item1-symlink</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>235</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9335A2F2D545\"",
        "Last-Modified": "Wed, 14 May 2025 22:21:13 GMT",
        "x-ms-file-change-time": "2025-05-14T22:21:13.2851525Z",
        "x-ms-file-creation-time": "2025-05-14T22:21:13.2851525Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T22:21:13.2851525Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "[...]
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-0a4d92fc-32ff-df12-c586-b4b15284151b?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T22%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T18:21:16.0173706-04:00",
    "RandomSeed": "525378403",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
