{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B41178574\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B4123F917\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:26.9283095Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:26.9283095Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:27:26.9283095Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:26 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B412E4DBC\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:26.9960124Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:26.9960124Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:27:26.9960124Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "aR0UuXnTX+81+tgrVnhdyI82cZhCWY+k8vMJIZeDWiL/EUoKxF+I1Xn/Ve8vQMQC5GaTWUan4w+OcMaFyj5XsqC1LEUuUgMwrpwfQgOfdbEvBjwx7wDcWC06e1SYAgs7qKNOeRR+1JJiY6uqh6AL7voUVsMBJcKg2dMY89avl6uQ5JpgUfudsDKqz4tVMtGNL4xZg6xIOYLgrqBAZuC7s8v/GaIFq53/d6WQVlY3SqcCisRJVRT+R6oXf6JaXElR7xu/VRguh4TvWgsHt+MsqWP5PtsccV23AdH47iv6pBtbP2c6d/WO1ANAWvsI94/H69Y/YR5tNH2+CFNGNZhY9Lbwq3h78TFta2nX3BZirgpBMAJUu0L87QrpfG+hR55q52VEGEsXTPmk0fa0llhmW1pJBAWWBDlz9L1ukXXCyyPKbPWxHZW+KuQJr+lMR1eygiEUWEKZ1OMr0SSOqLqD4gXS6ilitT3EitogjVRQJqxlvA5UrXPgMZgShUxxMIEqhc3jeV0uT83jUM1oeEeO26t3KOyrLzWS8riQUC/xUlpY9geHba1PN2xBcF2meLhQg6qh+giVflWXUIeknv6d8v1yEII/B23+KPF/ar/Y7Hr/P82FUFhSw3iy7xwlqpluo31fM2c2EXs8o9IWFROWv2QMpF4wGKKkIE0JjRhR2H1YEcdBeLkSyS5RSKyGO61kHC+4GQU6PYrauhIaLINj68pUvgRMVEer+tsv38/1HuWfpXHomL94HdM8Zr2m95yr7V3hMXypGMfoDR4pC1665Jwte4cSe1IL3KEwD+2JBAI+hPFyE+xo9Y2pAIugThF1gYEheXwVmHIK1VXbeQjaXggc6odsSNGvxYX5aXrGa42Pu45rZ4qFKet+aD2XjHyFzqKCg2OJCDmwcrT2HC/4Q2rHS756b/d+lsGc7d+TGDgJdJrYQ+gqBbJUuvTWjwy7hiTTz0C+C1+qBOyh7RpZHVp77aeUH/+BnUYLJbQCpwe14Ge7v0j3S2k6LT/7iReX+pyaWqJlJmYkUjL6suWqqF3l7A2znl4RhKE+WvLAhRQucyoYZ0xlT7kAl2wW/JmDj4ThFpwK5Fw9idYAJsx0Y8wezD67kkEQf5xTswby+ocIu8pt3m53I4/N2t52ZSnsizOf+DBayPxD0ZcAtjFVS45O92sCB4Rdpqiu7bhimhpzZyfTUgJXrvPNKQ3Xd2xed45PJ2296YSuQVGHq9pE4TZ8jU8JgvmM90l4Nd12hi87UHUqEnKstX2iJBCwzwIYiUjXWuodVfWUwzAkRbSnN7siTFtkGc7E0NfRZ13p3ChHX6yUnytFHfuAlU9CiG/I++xUjoKms296EooSS+2Xqw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "8C6ftCWB0UshFEXbNFl9TQ==",
        "ETag": "\"0x8DD161B413AE9C2\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-file-last-write-time": "2024-12-06T17:27:27.0786498Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B4165E821\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:27.3604129Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:27.3604129Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-06T17:27:27.3604129Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B41740910\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:27.4530064Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:27.4530064Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-06T17:27:27.4530064Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "nJ3yH+o[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B4187068B\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:27.5774603Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:27.5774603Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-12-06T17:27:27.5774603Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/foo/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B41904AF1\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:27.6381937Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:27.6381937Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-12-06T17:27:27.6381937Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/foo/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "7U0eBO/[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>foo</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/bar?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/item2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B4155F47D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:27.2558717Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:27.1563089Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:27:27.2558717Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "XFP7mRdHm95IhBzQnFFa3FEe/F2Jj4vC1M7Yb0/07knVCPjy01HkSKjL+f0JRv0Q4V152g2SH8zIOcVJbyuOVJXS+pRZZwkAOrS1vpWNuI3Qx47yexM7Q+grKpmMm9h8PKVoNktot3lUeaBZ3WE3OoA3eKidnNiBl7esLT1vc57bOILwJIJCaA8UnQFy4mWG9O8ZVCIv35/M5p+TvIo85QUBfaTfRhX99RCZiP/XDrRRJTlNVR98rFniIz7jrquF2Lj8cWTBp63ZG18Sllag9djqQZZQ7o/mhdFL/CPXGkZkFK9G2p1PkH6LdDq/aRYCQi5m+G0VNOopFuuTdaqKAQAZroGmWRs6m7EXxHlUJhu7Sbr1cSLZT9/FHMSyuxrUAXI6pruUW+gTK128/W9w1e/P2CzwlI/eQF6h4T1WiN+WQ8MHGoBgJu3R4kbFHVFwVEfV4uPt5GziXGZc8nmrvKN+Jbqsabpub7I+HrJJGCINMYz1gaX7qF5WJL4aAzR0JiWiRveXxOuNZnMxrsa6mENDT8Dttjr9gnxbVUT8U2x9yviMptIrdm2haBsyyvmYnIt717Nzh3DrpMR6O26nkBIGs+TNLfJxF9hTS00fy7eDwrm4gXy4CkOHoQINsDr/+tcIKxcVym+ZCr/aHzsizNkM93i07g+WTqigRYvvY2eeVFF2F5+gbfdKH3e83eoIZdUoAbnBSgvHcd1udITjqaZYPMvpq7U5bIqBas+Y2XC+mOC2x2Ku3ApFrqXCMvhyZnXQZKAfHrkg7pUuQOA8LpdssNykLeJEqmDBo/wPdzqRDgNZyHXQnnknldjNf5wqCIANVYEbzjiTjLpAXnu8EHdanDLc42YinBFifZgJdirDl5p8AiK4dT/Kxjy7j0D+aoRhcuJpTSUa67lwuFGgiRWPfMbgPw5VoifyERwqZwzQZBITqARIWkl0YhdpR7zuKj0mLBJ5HSp2DM+7djwI74Ssn1Q+jeARRiJ9a93361tqBOffAzv6V0fonZw0jeMMbHKSvKhosJxdFeXw/LFNfiB0UXJVKexJsUgMVvBD3Lk+cP9qZC+yAVNKgu5VCVuVmh58wDxwt0KGSQpfW1qsGTgrsYux4hnxwU8fCqf986jtd7vRxxx9zrm95BskUqX5nmi2KljP47gEi/7sUaybiVZicuSf2lIcruLR9P7+zW+qJWw+R8lPHZMCzDwdkX0NIVrEwd/AWcQWmXx1/u66Br6PQStAXEGNE1VRnA0V/hxlxNOjOQuP6cyoKK1N2h6kSMZ+jk9SzcUYN66Kb722AJtfDzobFsyyAFdflzSUPzk2rFRHl2/ME/YOigJdBHoP8ScS7crkiDH6y4748jWQhA=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571/sourceFolder/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571\" DirectoryPath=\"sourceFolder/foo\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-c1d83b45-0d1d-4ad6-4767-37b82c2c9571?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1488739606",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
