{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD970A08D8\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD9711ADFF\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:42:18.7472383Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:18.7472383Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.7472383Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD9716D84D\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:42:18.7810893Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:18.7810893Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.7810893Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Huh50LC9fNjsKkZPoR2M8M11FoU5CvGXPdenymuTgyJ8u3vHbm3ueUqCVGh+9E94s/3yS/qHdRP34pPYFbJtWKYj0+aixYJfhpw7traJGEiILxZtoDgn9EVoz4zaFmOYFfvBWiFp1u57k8RdTL9dbslKT+ab/7hu/N+gOvX1hHA5o6G6x70nHlko8Qx0yaeGCmHCj8Z9/BVDU15CyZz5hQ9TJKkdo6YLIzGMcw2r+TM3GS+TM/WqvKaMdnNf5VW9L2z9IKT+aWe6t2uV8IgHl1kqCq9sZVIaqWgCkSwzqz7bz0ShrtmOObDH2XyJFcsehN8aNdqmUMkZ43c8+9c7hwstuSFEZumAnNH+pIzWkZOc5AxNGHZjNH56h8tiUT7YjFFwW1uq2R72mpgJqKs9Q1LjnxbL7W6VyYSiyd4dHUqTJRg6ZTU48QruV37dWozTPER5frEnDZ/i25LXCBA/2HxOdoKTA94cq60L3Jbwt2/3zoyapJ6Yaxh5WIqjYOn6r34Cj+QKPzllXNMDGzEI8iMj3zmEpDPdtgpqGqtTeUrEESwY7SiK7Y5SNEfLlFDmcGVmgIGvdgpKJdnanyWOEuOJPwkE8AX7mPKqMXDrEiG5g6lF7fjJFJsizchPsE1pwyJkQVVG4oBga+eOBUSaXhO3IBx8SCTqvypu4SI9q+ekQW1Nh9DMc6Ao5YIQOg9Wh260l5Aw7Hr9eoIq2ABdIr8A6sPXTddD66x7U2Oi2YUbF1q0iBRXc1TyTwxNopufy8LDEFBMfzqWcazjtZkXW6D8D8CmqZqrqHZu5P3K9UkR3Iig38g0zpgfHRdnc7672/RsUZLb+SEoF2fa3Zo9zHtj0tgRd3zYx0AnhouCQzW3swkJXqS2NeJmd8dgWvH94lCbBKDmqmR3lIlSs3KWpdQyIyqQM27XrZ31qv+0d21PKaQ65z+V0QilkcoaZIFw0NLzLjfGba7iw1YD8P9kwh0bAorNW76UnVIh66KjvEgbhdoswUg2iLz2VyPokeEJQM6t/mH3o3UTX5HlpIEMPwYO6GolNwHU5XnN1wOaqwtwGKrT9r3nI+JkGWK2UeM66Rgc2ql24wjN2BnoKctyebOGdIzXOUhIJsSIwB6eHZSVk+3qfdFh+jShBR6k//kW8p+uMNxXY7DQ07Pk7SPpLrqEUpbdh/viJHlXNTMppCfLcs1/7+y3Pi89GakdfQ0Rt9ZjH6xiOWqkzAxj/y58pi+LGXtVaj7NzBRnn25RxKdsRn1cxoR7aDli2iPgVD4BwHJ6kWORu02XlVOY+5n8Ugdl97mwH+CrELFC848b7XjVZt/71zND2oowxDAx4myfZogbe12FUKGSz4CxT8i9fA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Un8BM8h45unE2Db3fQSw2A==",
        "ETag": "\"0x8DD87FD971CEC09\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.8209161Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD972A4A7E\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:42:18.9085310Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:18.9085310Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.9085310Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD972E8B6F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:42:18.9364079Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:18.9364079Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.9364079Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD97381DA3\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:42:18.9991331Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:18.9991331Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.9991331Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/foo/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD973C8576\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:42:19.0280054Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:19.0280054Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-30T15:42:19.0280054Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/foo/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>foo</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FD972A4A7E\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:42:18.9085310Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:18.9085310Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.9085310Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f\" DirectoryPath=\"sourceFolder/foo\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f/sourceFolder/item2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87FD97263061\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:42:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:42:18.8816481Z",
        "x-ms-file-creation-time": "2025-04-30T15:42:18.8497879Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-30T15:42:18.8816481Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "kGsMEicjDWy8J/m4F9r5RfeGs18k3oa9y1GWrlhpzZslyq/rwzO7MkYA7xO8wx7leTqEEb/DarLlT0bVjF8UU1pdk00qDYHEyoAYJO9zAAgzsTUe5bzcYWD9BnTt5qXn7Jy5Xy/Ru2u4v0Y+qkbCcU4+otsp9W2dgDHtLAcM1+PbMTdSuqHYYfXKZSV1nrcZOpQlrkTKvfYuG9795I9jq+hiYngPcLetZUDlX5BHJ+F60/Fz5yifEHRBI57C2nxmZrk9Ezs/CsrceEgE5V1m5/P9gxCd78S/w1IDzkwZ64vDfvjWChSmOskmlm/fmysX2jyqxVZryHf0fU/pOzx+w4y9QGZk[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2b9d945a-9b7e-cc21-8599-a0c68c881f1f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:42:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1898276260",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
