{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF75BA3651\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF75C287B7\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T20:00:05.3766071Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:05.3766071Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.3766071Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF75C96483\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:05.4215811Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:05.4215811Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.4215811Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "syIYout2bvARQm8ZUydYFTFgL/VBmP2G6+qlams2XRES9j+747MiZH40Hqwu6mPgUpkZqwZYGRolkrcA0QSE2uVeBlznnTF+Pst3DHlRVwCHxBfRHbELut0llVH8IZJ5sETH0OQG+bRom2074Qyh1Dq2eQ3tsr0zUkx/wgffghw4/Vw0iYccgMtiaIFD0NnRhMEXRaiFjP2Hk32XhzetiRlRAuSvbEqzmvhBikk774JzrT1FyDxzsnBfrfUKhPmUtd9o8s31Ihd3ZKqvQwKzTKT6JNn5Z8Dc3VBzT75UqBb/rdRp0v21fYsmzmSSw25urGFRD18fm04fjBR9gdJZIruUsJYtSXmnRaZN05hcShrhBaNdA5m23xKGSkboN/y5zKyp/hPYQWPnqsq50ci1w0L6nHwv+x8i3dCEpv4yvg2qlAbsskwGCMNAdVnO/Q5J0IcE7pt/idGNhyBDU5pktOy9Dj3CyRD185O474bFU9/COtZ3LtBxKgo0Xysrw7Qp28BtEe7Rhwd2DvoIx5pKxzNBgRnD7IYbTOQyjWnkyjDejhPFWELw8LPPASDVaGNw6Zj36kKbZu86UcQKnvqdkUPJKjiHhW7xUJBl9OtmReOAwqPR7eDuQigjiwd95VG5MW/cDD4r6GQqBpmyNXEE0wvhitxWy6Ri2+cPY/lmc2o+rMJ7ijmlVNk+p+ZHOw23H7f8nFt1YmbKeTBXHIVrw5Muc4muiEnRPDUCFyO+G5/aWENBadYPyElcsBAITThT0+RSGMeECJduK2AlckpCDF2RfcNCKVm8H6s/Utc4yO78r0Q/awPXVU+r0z526Vb/GqSzd9B1EaqKlvkcRbbANWJyKcMGAqFauSdzllYaRjVUPzcyhVAdh52atdUJuhCZ653cBMCS+BcDWL6pAXtTb0/ExwV+jbARVKEmbE3LUf4W2qu4PkJ0wkcgLyySc4UiRkWFRfILG13tyq8ebIzKNwe/kyfPmzANTwW+Xl2Df+EbAyYHRQsMCr5Ny3STVVW7Vfgl0+BeUqsVePbsTb0AakvNA2hmw/H8s4hogs+8evmwAghlXasBvbF68c0VH7wBTGAoxVLsVJEGKSBX9c/bWP78PEq0mwyfzEW269Ej5pTLZzVuk7Smw653XjSLqsfin5nPGOJyTLFUiPkNNWm/40KLi42ZbMRJVnicPTzXFCJ+1Ew4VM2xWRuDGgu7mY5Et3vy/x85SDLUhsJq1Q91fXTWj2Edho502jFyFVK5jbzqV4XB5RQCRIwZZM0KRoMLDp2W5AotJzDsfSXtxzLgGvgGgH6Js5dg00rVBCLBapStZge1I6ixvS9V1WjvFXxZOErVBMYFglsFNhC/WCMOKw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "RJFIbDRlzNDVsVHdJw9jNw==",
        "ETag": "\"0x8DCEFAF75D0B671\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.4695537Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF75E4FECA\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T20:00:05.6024778Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:05.6024778Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.6024778Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF75EBB490\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:05.6464528Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:05.6464528Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.6464528Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "px/if[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF75F96E2D\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T20:00:05.7364013Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:05.7364013Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.7364013Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/foo/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF76004AF9\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:05.7813753Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:05.7813753Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.7813753Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/foo/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "k6Q46[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>foo</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/bar?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/item1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEFAF75D0B671\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:05.4695537Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:05.4215811Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-18T20:00:05.4695537Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "syIYout2bvARQm8ZUydYFTFgL/VBmP2G6+qlams2XRES9j+747MiZH40Hqwu6mPgUpkZqwZYGRolkrcA0QSE2uVeBlznnTF+Pst3DHlRVwCHxBfRHbELut0llVH8IZJ5sETH0OQG+bRom2074Qyh1Dq2eQ3tsr0zUkx/wgffghw4/Vw0iYccgMtiaIFD0NnRhMEXRaiFjP2Hk32XhzetiRlRAuSvbEqzmvhBikk774JzrT1FyDxzsnBfrfUKhPmUtd9o8s31Ihd3ZKqvQwKzTKT6JNn5Z8Dc3VBzT75UqBb/rdRp0v21fYsmzmSSw25urGFRD18fm04fjBR9gdJZIruUsJYtSXmnRaZN05hcShrhBaNdA5m23xKGSkboN/y5zKyp/hPYQWPnqsq50ci1w0L6nHwv+x8i3dCEpv4yvg2qlAbsskwGCMNAdVnO/Q5J0IcE7pt/idGNhyBDU5pktOy9Dj3CyRD185O474bFU9/COtZ3LtBxKgo0Xysrw7Qp28BtEe7Rhwd2DvoIx5pKxzNBgRnD7IYbTOQyjWnkyjDejhPFWELw8LPPASDVaGNw6Zj36kKbZu86UcQKnvqdkUPJKjiHhW7xUJBl9OtmReOAwqPR7eDuQigjiwd95VG5MW/cDD4r6GQqBpmyNXEE0wvhitxWy6Ri2+cPY/lmc2o+rMJ7ijmlVNk+p+ZHOw23H7f8nFt1YmbKeTBXHIVrw5Muc4muiEnRPDUCFyO+G5/aWENBadYPyElcsBAITThT0+RSGMeECJduK2AlckpCDF2RfcNCKVm8H6s/Utc4yO78r0Q/awPXVU+r0z526Vb/GqSzd9B1EaqKlvkcRbbANWJyKcMGAqFauSdzllYaRjVUPzcyhVAdh52atdUJuhCZ653cBMCS+BcDWL6pAXtTb0/ExwV+jbARVKEmbE3LUf4W2qu4PkJ0wkcgLyySc4UiRkWFRfILG13tyq8ebIzKNwe/kyfPmzANTwW+Xl2Df+EbAyYHRQsMCr5Ny3STVVW7Vfgl0+BeUqsVePbsTb0AakvNA2hmw/H8s4hogs+8evmwAghlXasBvbF68c0VH7wBTGAoxVLsVJEGKSBX9c/bWP78PEq0mwyfzEW269Ej5pTLZzVuk7Smw653XjSLqsfin5nPGOJyTLFUiPkNNWm/40KLi42ZbMRJVnicPTzXFCJ+1Ew4VM2xWRuDGgu7mY5Et3vy/x85SDLUhsJq1Q91fXTWj2Edho502jFyFVK5jbzqV4XB5RQCRIwZZM0KRoMLDp2W5AotJzDsfSXtxzLgGvgGgH6Js5dg00rVBCLBapStZge1I6ixvS9V1WjvFXxZOErVBMYFglsFNhC/WCMOKw=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54/sourceFolder/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54\" DirectoryPath=\"sourceFolder/foo\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0b6e4824-540a-8c95-8a78-6efccdf6da54?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "557793321",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
