{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF73137412\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF731B98D7\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T20:00:00.9271511Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:00.9271511Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-18T20:00:00.9271511Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF7322EAC4\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:00.9751236Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:00.9751236Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-18T20:00:00.9751236Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "NasxOPr4xTiCNuCVwdgZCKPSa3p53XNW4dMoqSrL0BPkGdBMKxQXEjJC9Jf1rI7V0CXt9imh71g42lYmzxwOt2bNsKgHzNyPu1hHNujbYDVFU9gE3dnpQyp3E1C98EIWNDwxJ/vlzQRIXTvQWbhvXHoh4HxECdmM5G19kLmL0soWMQKsqjg5X4bUu3+eGOlxCLbWmxDG0SpjpEOOaD1KvItwuie2w7JB54D1cE1Z7suDC4cCtTa6T2DXSQb1qvdJif/0Ll3Bu0QElbOP0GHcCbZ3C1y1SAdUtmvH3nqrSz2JrOdOZb9uwVBD/R+CKn7/+z9Qfp+blED3n3fy+dzJWUl2BiR6jaT2CUkLcUvn0ozsyOM6W82d7RemV8VIe8hzeaTWCyNZhW2bWnVWjyL1D83rBjH5j/182RgN0zXerY2BmPimEcZokkN1nwBYR171sEj4XHWWeeqmWjIKTLE3vKzn1PcpTv4Hg3PthO/8JJG6GCLt5lEY6h4OALaTXUWSPeJUcHJmy2JJ8dkBqfX6qTahTzSOSdZbz+rYG05HcyUuW0YMqLMeU0zAo/V3F0EpE1aA8Q0RA/MM+aGIjq8TAn20002u7QGCgvzozqbh47iorwf4x4IXHVhSAK4SlsWcraF4w0PzeiVV/W8RKDRNKhbo39+nGjv7nLb1W+1Sb+s2SyAEaR90tTTio8kSBfQjBdWYKbfm9ZJmfSaN/h44Ao6D290UScH2dCqqxXdx6JfC0VYXukU0UFaOnuz45rYVqqA7jyoWD7wTobWNOy8b9JSPyyzIIEhIToqHhqrV/o5zlBvXNllsq8KZAxiQpxQmcqpXaBqJTYlX80CfjokRPqImGaYURL07IyBqLhwvt6d1YRMAfpVz6UeRf0MYzR05iMV1aY5tEi7sHEX6Hx5tKDuZKS11Eb8Nsy9fgsR5IlUDMKZWuU0ZCE7kE2JQecopJFYHf6Pvw3YFaLZeDo9pcvnv9+54Fm7ufyHekf1dvTplNl1ucqKyE2wvUVCXuvm+eqFoYIHbsA7oGf+BEDJ5qKt8+dgx+wBWPeOBSMUdV8UoIBZc9Fy4iYVPhVijMAM6tamlGsEhjH6gEiKdWWhJysI6WfAbHbNOw3BT4nWosw3gR5IceDwDB5OXu+I6Gi8dBruVaNYSHpj1VlZQzaoJ+F4VvBLVLVGGNlJcg2LQFKlANdy6Eko2zSj6JiLlsznojsODJF0dR9hpDzGEtZs2JUGtEJjOTuUT3+7q2gcvoIMZdPWfTfBLI+4DUQMZshiNxAHgOKKhGkDdb0VuMm3ROm6ua0GllthRYuypy/3i+i3WXRYFTmjgd1m0wd2q3PCBMReUa0bW5y0pj9W1909D+w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "DxzArg4bD6CBejOhbzFCFw==",
        "ETag": "\"0x8DCEFAF732A8ACB\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-last-write-time": "2024-10-18T20:00:01.0250955Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF733FBD5C\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T20:00:01.1640156Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:01.1640156Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-18T20:00:01.1640156Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF7346E843\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:01.2109891Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:01.2109891Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-10-18T20:00:01.2109891Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "jQIie[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF735516FD\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T20:00:01.3039357Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:01.3039357Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-10-18T20:00:01.3039357Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/foo/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF735CB6FE\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:01.3539070Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:01.3539070Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-10-18T20:00:01.3539070Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/foo/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "PpO9H[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-139820f7-c551-aa01-df8d-fbb8638eebde\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>foo</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/item1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEFAF732A8ACB\"",
        "Last-Modified": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T20:00:01.0250955Z",
        "x-ms-file-creation-time": "2024-10-18T20:00:00.9751236Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-18T20:00:01.0250955Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "NasxOPr4xTiCNuCVwdgZCKPSa3p53XNW4dMoqSrL0BPkGdBMKxQXEjJC9Jf1rI7V0CXt9imh71g42lYmzxwOt2bNsKgHzNyPu1hHNujbYDVFU9gE3dnpQyp3E1C98EIWNDwxJ/vlzQRIXTvQWbhvXHoh4HxECdmM5G19kLmL0soWMQKsqjg5X4bUu3+eGOlxCLbWmxDG0SpjpEOOaD1KvItwuie2w7JB54D1cE1Z7suDC4cCtTa6T2DXSQb1qvdJif/0Ll3Bu0QElbOP0GHcCbZ3C1y1SAdUtmvH3nqrSz2JrOdOZb9uwVBD/R+CKn7/+z9Qfp+blED3n3fy+dzJWUl2BiR6jaT2CUkLcUvn0ozsyOM6W82d7RemV8VIe8hzeaTWCyNZhW2bWnVWjyL1D83rBjH5j/182RgN0zXerY2BmPimEcZokkN1nwBYR171sEj4XHWWeeqmWjIKTLE3vKzn1PcpTv4Hg3PthO/8JJG6GCLt5lEY6h4OALaTXUWSPeJUcHJmy2JJ8dkBqfX6qTahTzSOSdZbz+rYG05HcyUuW0YMqLMeU0zAo/V3F0EpE1aA8Q0RA/MM+aGIjq8TAn20002u7QGCgvzozqbh47iorwf4x4IXHVhSAK4SlsWcraF4w0PzeiVV/W8RKDRNKhbo39+nGjv7nLb1W+1Sb+s2SyAEaR90tTTio8kSBfQjBdWYKbfm9ZJmfSaN/h44Ao6D290UScH2dCqqxXdx6JfC0VYXukU0UFaOnuz45rYVqqA7jyoWD7wTobWNOy8b9JSPyyzIIEhIToqHhqrV/o5zlBvXNllsq8KZAxiQpxQmcqpXaBqJTYlX80CfjokRPqImGaYURL07IyBqLhwvt6d1YRMAfpVz6UeRf0MYzR05iMV1aY5tEi7sHEX6Hx5tKDuZKS11Eb8Nsy9fgsR5IlUDMKZWuU0ZCE7kE2JQecopJFYHf6Pvw3YFaLZeDo9pcvnv9+54Fm7ufyHekf1dvTplNl1ucqKyE2wvUVCXuvm+eqFoYIHbsA7oGf+BEDJ5qKt8+dgx+wBWPeOBSMUdV8UoIBZc9Fy4iYVPhVijMAM6tamlGsEhjH6gEiKdWWhJysI6WfAbHbNOw3BT4nWosw3gR5IceDwDB5OXu+I6Gi8dBruVaNYSHpj1VlZQzaoJ+F4VvBLVLVGGNlJcg2LQFKlANdy6Eko2zSj6JiLlsznojsODJF0dR9hpDzGEtZs2JUGtEJjOTuUT3+7q2gcvoIMZdPWfTfBLI+4DUQMZshiNxAHgOKKhGkDdb0VuMm3ROm6ua0GllthRYuypy/3i+i3WXRYFTmjgd1m0wd2q3PCBMReUa0bW5y0pj9W1909D+w=="
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde/sourceFolder/bar?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-139820f7-c551-aa01-df8d-fbb8638eebde\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-139820f7-c551-aa01-df8d-fbb8638eebde?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 20:00:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1107316931",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
