{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF68DD7D4A\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF68E59530\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T19:59:43.7959472Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:43.7959472Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-18T19:59:43.7959472Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF68EC71FE\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T19:59:43.8409214Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:43.8409214Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-18T19:59:43.8409214Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "TfcXvjMV7M4smXql023e9LXVYBxFuu5iqq6TkBCpJVlt7qbb4DJu1RMwrk6jnK5dwNZwU3OGypIItBOFglu+g3QgOOTGAxODZosIFQygvw7/NtA6ONHm5iQU0ise6VK4cSrag2PJlr3C7OzofrSGaPUFhUyLg0qiOlLAsjDnZX04UKPhxTuqNaATd0vk/mhvjWo2GWQGLO3gN0kRCeOM24dvry0QpaK5Wk+reAz+vjvpUCXGsUsZMiO1AY7ymSy8hpzDdE46X+jHfL4UWrTh4XkNJ7i+xSk7Vn0JW6QUxsEi7/FwOkntrvE8/jSNBNdu1B8U5XFz/sByhx7RMANEsrX98WvDcaYvH3jHgcf0rlGlm4eE/+FPr/Aw/bIrG37t+Et+kBJsq2J45cX4rH35fdnMK5V8v7PUrUJ6knTzBAP62Yh7dh4/Oe8kCxobVwNzNn/ZXvDocTmYquLQ8RjuheHB/dL0fge7jfGmV7OYuFU/Blv0GqUTEmhP4ss7bkfWNoY5Wlkwfrh3HtH+QhmFAPGNkeq8+Wo7rutqpZs7fx6qzyEtX178D4ijffvUFNBOyeLart1cGTwb/atuxdgcO56yVHL3WKCSkYFiGXxvZpkbHNu5YdFBTbXkEWGzjUqvh0FdIsBdVnFCSB1b+gDArJcSU6j9Y9rMcQa9E0Y+3wM3s5I6EUTYvcVqdxm05VO0I2TKoDqhsiNmkLC6oEMqA2gZJEZuhZpSOZXjkuvBF4uyCO/hcz7IlgFu1ICTHhyBP3SwmsEMRp7KeGakvR84pXglB5hUSY8qUI1F/7Eavht5YlN3EX3KpcFQF/vYJNjhNS4HbhaELPbkhkozx0bsr7pKK1vMwJT7WmHWBDGTUSy1ZMqCEk8E9DZckoszl956ZGdBjfl9FHWaDBS1rSjEUDQdfmN8aZ1qRjYkby0JyMODXJ/JUsQyN09U5wY7T0YOmEJWFRh7/vrK10bCWKVHkUNQMlGI+/5v60YUJ4GXLvfvFtfrsrOqB16l/3t9b9+pDVbD6hz1hZxE5yrSZ9Z4M6hP00HNW9+PpSrz4/uC8Xtnahkr1EPa+pE6p8uJ2KCHLMvTLpyd27J2M0TyAqGhwfWua/y8TF9kddiwk7MUBs2Ja7cwr8Peyo5ntaD/5/jvmebV2m2jy99sbrjE7Ej+Yi13aJbqcBEx0KBuVJe+ZY3gwPnNPitg5qDXw0ELGt1GaFNzh35hBCjUownMNXZIrgkq4ytOMSMBFoL1E63QJrbDKOxESt0PfrzR+JohlLAqjxQ34Dax9zcvcXH8a/F6BH1TCAyKBGMsG2VvfDiI34HRy4OYmEWAEjC0FNhrEhLKVvMdzoykn4uxC8XRQXr+pw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "9XxocKtFP2Jr24JlXRgVow==",
        "ETag": "\"0x8DCEFAF68F3EAF7\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-file-last-write-time": "2024-10-18T19:59:43.8898935Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6908A872\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T19:59:44.0258162Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:44.0258162Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-18T19:59:44.0258162Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF690F853C\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T19:59:44.0707900Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:44.0707900Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-10-18T19:59:44.0707900Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "CxKQX[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF691D3ED8\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-18T19:59:44.1607384Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:44.1607384Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-10-18T19:59:44.1607384Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/foo/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAF6924B7D1\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T19:59:44.2097105Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:44.2097105Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-10-18T19:59:44.2097105Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/foo/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "8ugcy[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-7f417c51-39aa-6aeb-a746-e3848b80909b\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>foo</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/bar?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-7f417c51-39aa-6aeb-a746-e3848b80909b\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/item1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEFAF68F3EAF7\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:59:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-18T19:59:43.8898935Z",
        "x-ms-file-creation-time": "2024-10-18T19:59:43.8409214Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-18T19:59:43.8898935Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "TfcXvjMV7M4smXql023e9LXVYBxFuu5iqq6TkBCpJVlt7qbb4DJu1RMwrk6jnK5dwNZwU3OGypIItBOFglu+g3QgOOTGAxODZosIFQygvw7/NtA6ONHm5iQU0ise6VK4cSrag2PJlr3C7OzofrSGaPUFhUyLg0qiOlLAsjDnZX04UKPhxTuqNaATd0vk/mhvjWo2GWQGLO3gN0kRCeOM24dvry0QpaK5Wk+reAz+vjvpUCXGsUsZMiO1AY7ymSy8hpzDdE46X+jHfL4UWrTh4XkNJ7i+xSk7Vn0JW6QUxsEi7/FwOkntrvE8/jSNBNdu1B8U5XFz/sByhx7RMANEsrX98WvDcaYvH3jHgcf0rlGlm4eE/+FPr/Aw/bIrG37t+Et+kBJsq2J45cX4rH35fdnMK5V8v7PUrUJ6knTzBAP62Yh7dh4/Oe8kCxobVwNzNn/ZXvDocTmYquLQ8RjuheHB/dL0fge7jfGmV7OYuFU/Blv0GqUTEmhP4ss7bkfWNoY5Wlkwfrh3HtH+QhmFAPGNkeq8+Wo7rutqpZs7fx6qzyEtX178D4ijffvUFNBOyeLart1cGTwb/atuxdgcO56yVHL3WKCSkYFiGXxvZpkbHNu5YdFBTbXkEWGzjUqvh0FdIsBdVnFCSB1b+gDArJcSU6j9Y9rMcQa9E0Y+3wM3s5I6EUTYvcVqdxm05VO0I2TKoDqhsiNmkLC6oEMqA2gZJEZuhZpSOZXjkuvBF4uyCO/hcz7IlgFu1ICTHhyBP3SwmsEMRp7KeGakvR84pXglB5hUSY8qUI1F/7Eavht5YlN3EX3KpcFQF/vYJNjhNS4HbhaELPbkhkozx0bsr7pKK1vMwJT7WmHWBDGTUSy1ZMqCEk8E9DZckoszl956ZGdBjfl9FHWaDBS1rSjEUDQdfmN8aZ1qRjYkby0JyMODXJ/JUsQyN09U5wY7T0YOmEJWFRh7/vrK10bCWKVHkUNQMlGI+/5v60YUJ4GXLvfvFtfrsrOqB16l/3t9b9+pDVbD6hz1hZxE5yrSZ9Z4M6hP00HNW9+PpSrz4/uC8Xtnahkr1EPa+pE6p8uJ2KCHLMvTLpyd27J2M0TyAqGhwfWua/y8TF9kddiwk7MUBs2Ja7cwr8Peyo5ntaD/5/jvmebV2m2jy99sbrjE7Ej+Yi13aJbqcBEx0KBuVJe+ZY3gwPnNPitg5qDXw0ELGt1GaFNzh35hBCjUownMNXZIrgkq4ytOMSMBFoL1E63QJrbDKOxESt0PfrzR+JohlLAqjxQ34Dax9zcvcXH8a/F6BH1TCAyKBGMsG2VvfDiI34HRy4OYmEWAEjC0FNhrEhLKVvMdzoykn4uxC8XRQXr+pw=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b/sourceFolder/foo?restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-7f417c51-39aa-6aeb-a746-e3848b80909b\" DirectoryPath=\"sourceFolder/foo\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-7f417c51-39aa-6aeb-a746-e3848b80909b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:59:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "991035578",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
