{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/WebMercatorQuad/WMTSCapabilities.xml?api-version=2026-04-15&assets=image&asset_bidx=image%7C1%2C2%2C3&tile_format=png&tile_scale=1&minzoom=7&maxzoom=14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": [
        "<Capabilities xmlns=\"http://www.opengis.net/wmts/1.0\" xmlns:ows=\"http://www.opengis.net/ows/1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gml=\"http://www.opengis.net/gml\" xsi:schemaLocation=\"http://www.opengis.net/wmts/1.0 http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd\" version=\"1.0.0\">\n",
        "    <ows:ServiceIdentification>\n",
        "        <ows:Title></ows:Title>\n",
        "        <ows:ServiceType>OGC WMTS</ows:ServiceType>\n",
        "        <ows:ServiceTypeVersion>1.0.0</ows:ServiceTypeVersion>\n",
        "    </ows:ServiceIdentification>\n",
        "    <ows:OperationsMetadata>\n",
        "        <ows:Operation name=\"GetCapabilities\">\n",
        "            <ows:DCP>\n",
        "                <ows:HTTP>\n",
        "                    <ows:Get xlink:href=\"https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/WebMercatorQuad/WMTSCapabilities.xml?api-version=2026-04-15&amp;assets=image&amp;asset_bidx=image%7C1%2C2%2C3&amp;tile_format=png&amp;tile_scale=1&amp;minzoom=7&amp;maxzoom=14\">\n",
        "                        <ows:Constraint name=\"GetEncoding\">\n",
        "                            <ows:AllowedValues>\n",
        "                                <ows:Value>RESTful</ows:Value>\n",
        "                            </ows:AllowedValues>\n",
        "                        </ows:Constraint>\n",
        "                    </ows:Get>\n",
        "                </ows:HTTP>\n",
        "            </ows:DCP>\n",
        "        </ows:Operation>\n",
        "        <ows:Operation name=\"GetTile\">\n",
        "            <ows:DCP>\n",
        "                <ows:HTTP>\n",
        "                    <ows:Get xlink:href=\"https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/WebMercatorQuad/WMTSCapabilities.xml?api-version=2026-04-15&amp;assets=image&amp;asset_bidx=image%7C1%2C2%2C3&amp;tile_format=png&amp;tile_scale=1&amp;minzoom=7&amp;maxzoom=14\">\n",
        "                        <ows:Constraint name=\"GetEncoding\">\n",
        "                            <ows:AllowedValues>\n",
        "                                <ows:Value>RESTful</ows:Value>\n",
        "                            </ows:AllowedValues>\n",
        "                        </ows:Constraint>\n",
        "                    </ows:Get>\n",
        "                </ows:HTTP>\n",
        "            </ows:DCP>\n",
        "        </ows:Operation>\n",
        "    </ows:OperationsMetadata>\n",
        "    <Contents>\n",
        "    <Layer>\n",
        "            <ows:Title>TiTiler</ows:Title>\n",
        "            <ows:Identifier>default</ows:Identifier>\n",
        "            <ows:Abstract>default</ows:Abstract>\n",
        "            <ows:WGS84BoundingBox crs=\"urn:ogc:def:crs:OGC:2:84\">\n",
        "                <ows:LowerCorner>-84.44157 33.621853</ows:LowerCorner>\n",
        "                <ows:UpperCorner>-84.370894 33.690654</ows:UpperCorner>\n",
        "            </ows:WGS84BoundingBox>\n",
        "            <Style isDefault=\"true\">\n",
        "                <ows:Identifier>default</ows:Identifier>\n",
        "            </Style>\n",
        "            <Format>image/png</Format>\n",
        "            <TileMatrixSetLink>\n",
        "                <TileMatrixSet>WebMercatorQuad</TileMatrixSet>\n",
        "            </TileMatrixSetLink>\n",
        "            <ResourceURL format=\"image/png\" resourceType=\"tile\" template=\"https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/items/ga_m_3308421_se_16_060_20211114/tiles/WebMercatorQuad/{TileMatrix}/{TileCol}/{TileRow}@1x.png?api-version=2026-04-15&amp;assets=image&amp;asset_bidx=image%7C1%2C2%2C3\" />\n",
        "        </Layer>\n",
        "        <TileMatrixSet>\n",
        "            <ows:Identifier>WebMercatorQuad</ows:Identifier>\n",
        "            <ows:SupportedCRS>http://www.opengis.net/def/crs/EPSG/0/3857</ows:SupportedCRS>\n",
        "            \n",
        "                        <TileMatrix>\n",
        "                            <ows:Identifier>7</ows:Identifier>\n",
        "                            <ScaleDenominator>4367830.18772435</ScaleDenominator>\n",
        "                            <TopLeftCorner>-20037508.342789244 20037508.342789244</TopLeftCorner>\n",
        "                            <TileWidth>256</TileWidth>\n",
        "                            <TileHeight>256</TileHeight>\n",
        "                            <MatrixWidth>128</MatrixWidth>\n",
        "                            <MatrixHeight>128</MatrixHeight>\n",
        "                        </TileMatrix>\n",
        "                        <TileMatrix>\n",
        "                            <ows:Identifier>8</ows:Identifier>\n",
        "                            <ScaleDenominator>2183915.09386217</ScaleDenominator>\n",
        "                            <TopLeftCorner>-20037508.342789244 20037508.342789244</TopLeftCorner>\n",
        "                            <TileWidth>256</TileWidth>\n",
        "                 [...]
