{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/collections/naip-atl-00000000/items/fake-item-id/info.geojson?api-version=2025-04-30-preview&assets=image",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "type": "Feature",
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                -84.44157,
                33.621853
              ],
              [
                -84.370894,
                33.621853
              ],
              [
                -84.370894,
                33.690654
              ],
              [
                -84.44157,
                33.690654
              ],
              [
                -84.44157,
                33.621853
              ]
            ]
          ]
        },
        "properties": {
          "image": {
            "bounds": [
              -84.44157036219231,
              33.62185311275707,
              -84.37089430625126,
              33.690654419926105
            ],
            "band_metadata": [
              [
                "b1",
                {}
              ],
              [
                "b2",
                {}
              ],
              [
                "b3",
                {}
              ],
              [
                "b4",
                {}
              ]
            ],
            "band_descriptions": [
              [
                "b1",
                ""
              ],
              [
                "b2",
                ""
              ],
              [
                "b3",
                ""
              ],
              [
                "b4",
                ""
              ]
            ],
            "dtype": "uint8",
            "nodata_type": "None",
            "colorinterp": [
              "red",
              "green",
              "blue",
              "undefined"
            ],
            "minzoom": 12,
            "maxzoom": 18,
            "crs": "http://www.opengis.net/def/crs/EPSG/0/4326",
            "driver": "GTiff",
            "count": 4,
            "width": 10620,
            "height": 12460,
            "overviews": [
              2,
              4,
              8,
              16,
              32
            ]
          }
        }
      }
    }
  ],
  "Variables": {}
}
