{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:33 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3DCAA73AE82\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:27 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188/sourceFolder/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:33 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Zg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "j6FM3XVPkcxlVMnnGSnM5w==",
        "ETag": "\"0x8DCE3DCAA7B82F9\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:27 GMT",
        "x-ms-content-crc64": "ONHUfG5w/sQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188/sourceFolder/bar/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:33 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "UA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "RMKe2xA6KHL1Ga0Mmg/aqg==",
        "ETag": "\"0x8DCE3DCAA89F1B0\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:27 GMT",
        "x-ms-content-crc64": "xsU8HcF1YHo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188/sourceFolder/pik/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:33 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "mw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tj9GiB5fzqQTEyeyCyGA/Q==",
        "ETag": "\"0x8DCE3DCAA91B12D\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:27 GMT",
        "x-ms-content-crc64": "4kRT87nB+RA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188?restype=container&comp=list&prefix=&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:33 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188\"><Blobs><Blob><Name>sourceFolder/bar/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:53:27 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:53:27 GMT</Last-Modified><Etag>0x8DCE3DCAA89F1B0</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>RMKe2xA6KHL1Ga0Mmg/aqg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>sourceFolder/blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:53:27 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:53:27 GMT</Last-Modified><Etag>0x8DCE3DCAA7B82F9</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>j6FM3XVPkcxlVMnnGSnM5w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188/sourceFolder/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3DCAA82F4AC",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:33 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3DCAA82F4AC\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:27 GMT",
        "x-ms-blob-content-md5": "AhKbuGEGHRoFLFkuLcazgw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:53:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "WA=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-263e7dce-cc36-8961-0f9f-ef55cf00a188?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:33 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "177646310",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
