{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EDA14F70D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e/sourceFolder/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Hw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "rR5Bzr1D5krxoo1NcNyeMA==",
        "ETag": "\"0x8DE005EDA1EAC71\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:51 GMT",
        "x-ms-content-crc64": "2DtZx+O390M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e/sourceFolder/bar/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "BQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "i7bBeDhkP5aRzGpN5sUXCQ==",
        "ETag": "\"0x8DE005EDA3099AE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-content-crc64": "3riYR/xF1mM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e/sourceFolder/pik/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "KQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "k3HXouOuhqAKq0dx450lXQ==",
        "ETag": "\"0x8DE005EDA396971\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-content-crc64": "Ji+xpkyyaf0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e?restype=container&comp=list&prefix=&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/blob0</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:20:51 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:20:51 GMT</Last-Modified><Etag>0x8DE005EDA1EAC71</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>rR5Bzr1D5krxoo1NcNyeMA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>sourceFolder/blob1</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:20:52 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:20:52 GMT</Last-Modified><Etag>0x8DE005EDA27A315</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>MVUaOuWfBZbZZ7P3V2YolA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Conte[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e/sourceFolder/blob0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE005EDA1EAC71",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EDA1EAC71\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:51 GMT",
        "x-ms-blob-content-md5": "rR5Bzr1D5krxoo1NcNyeMA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:20:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "Hw=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Conte[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-68e1ac6a-7660-d8e4-384b-42523ba6f91e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1019910440",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
