{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc7982f-46f7-2f86-0374-a0543e813291?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3D620A86FDD\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc7982f-46f7-2f86-0374-a0543e813291/709abc32-e483-e864-7a4d-4e319e1d1c71/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "qw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "JAitEfnrgw2nSeKjainv9w==",
        "ETag": "\"0x8DCE3D620B9AD99\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-content-crc64": "YfSRavXA2Jk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc7982f-46f7-2f86-0374-a0543e813291/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Iw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Aav8dQoMlCFnZRxA0IhTHQ==",
        "ETag": "\"0x8DCE3D620B95FD2\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-content-crc64": "ocPOrmi/qKU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc7982f-46f7-2f86-0374-a0543e813291?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-4dc7982f-46f7-2f86-0374-a0543e813291\"><Blobs><Blob><Name>709abc32-e483-e864-7a4d-4e319e1d1c71/blob3</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:39 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:39 GMT</Last-Modified><Etag>0x8DCE3D620B9AD99</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>JAitEfnrgw2nSeKjainv9w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:39 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:39 GMT</Last-Modified><Etag>0x8DCE3D620BA2241</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>7GMdczWr7NMY8J9WUV7WPA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierI[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc7982f-46f7-2f86-0374-a0543e813291?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:45 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1365463552",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
