{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45b6436d-052f-b395-1430-20ae2cc0352a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3DCAD8E932F\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45b6436d-052f-b395-1430-20ae2cc0352a/sourceFolder/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "iA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dkRjRhR9amMYDSjg5qawcg==",
        "ETag": "\"0x8DCE3DCAD98F23F\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:32 GMT",
        "x-ms-content-crc64": "6LCzK9ovquk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45b6436d-052f-b395-1430-20ae2cc0352a/sourceFolder/bar/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Pg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zt+NoFRmu1RwgmizxpSnjw==",
        "ETag": "\"0x8DCE3DCADAD4DBD\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:32 GMT",
        "x-ms-content-crc64": "o20Q5ly5WM0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45b6436d-052f-b395-1430-20ae2cc0352a/sourceFolder/pik/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "zQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "5s8qqC+jcbaGFx7NanNOXQ==",
        "ETag": "\"0x8DCE3DCADB75498\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:32 GMT",
        "x-ms-content-crc64": "caKp+dzg/Ig=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45b6436d-052f-b395-1430-20ae2cc0352a?restype=container&comp=list&prefix=&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-45b6436d-052f-b395-1430-20ae2cc0352a\"><Blobs><Blob><Name>sourceFolder/bar/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:53:32 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:53:32 GMT</Last-Modified><Etag>0x8DCE3DCADAD4DBD</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>zt+NoFRmu1RwgmizxpSnjw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>sourceFolder/blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:53:32 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:53:32 GMT</Last-Modified><Etag>0x8DCE3DCAD98F23F</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>dkRjRhR9amMYDSjg5qawcg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45b6436d-052f-b395-1430-20ae2cc0352a/sourceFolder/bar/blob2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3DCADAD4DBD",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:38 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3DCADAD4DBD\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:32 GMT",
        "x-ms-blob-content-md5": "zt+NoFRmu1RwgmizxpSnjw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:53:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "Pg=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45b6436d-052f-b395-1430-20ae2cc0352a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "575536128",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
