{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-28617bc8-8d38-613e-9d0b-680a3a17d72f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005ED5748627\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-28617bc8-8d38-613e-9d0b-680a3a17d72f/foo/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "mg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "bTqbrhciaFAxB2qwMJQl/A==",
        "ETag": "\"0x8DE005ED5931C4D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-content-crc64": "m81mw3Exl28=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-28617bc8-8d38-613e-9d0b-680a3a17d72f/foo/6f08d9fd-0aa4-473f-333b-f03e6f4d2cd0/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Mw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7MvIfktc4v4oMI/Z8qe68w==",
        "ETag": "\"0x8DE005ED5989457\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-content-crc64": "IKxwJlNASN0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-28617bc8-8d38-613e-9d0b-680a3a17d72f?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-28617bc8-8d38-613e-9d0b-680a3a17d72f\"><Blobs><Blob><Name>foo/409b1b03-31e9-4062-b08e-473e0fc0b795/blob3</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:20:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:20:44 GMT</Last-Modified><Etag>0x8DE005ED59BC50F</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>YenAbqmoWlCIpJnfZFjSdg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>foo/6f08d9fd-0aa4-473f-333b-f03e6f4d2cd0/blob2</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:20:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:20:44 GMT</Last-Modified><Etag>0x8DE005ED5989457</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>7MvIfktc4v4oMI/Z8qe68w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-28617bc8-8d38-613e-9d0b-680a3a17d72f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:44 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "721636394",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
