{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c1c00f25-c716-bcee-460a-539e581b5d83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:48 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005ED83C2FD7\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:48 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c1c00f25-c716-bcee-460a-539e581b5d83/sourceFolder/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:48 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "DQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "3Lm+L2BOXfkd65ZZvtR0jQ==",
        "ETag": "\"0x8DE005ED84659DE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:48 GMT",
        "x-ms-content-crc64": "q0aML0ipysU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c1c00f25-c716-bcee-460a-539e581b5d83/sourceFolder/bar/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "wA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SEOkhocU+nWJ6O+HdWvKzw==",
        "ETag": "\"0x8DE005ED8590994\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:48 GMT",
        "x-ms-content-crc64": "8mPJOdMZ7Jg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c1c00f25-c716-bcee-460a-539e581b5d83/sourceFolder/pik/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Ig==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sVg18TP/LifHyygRe/ro9A==",
        "ETag": "\"0x8DE005ED8624DFD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-content-crc64": "2Er7nqBPxto=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c1c00f25-c716-bcee-460a-539e581b5d83?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-c1c00f25-c716-bcee-460a-539e581b5d83\"><Prefix>sourceFolder/pik/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/pik/blob3</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:20:49 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:20:49 GMT</Last-Modified><Etag>0x8DE005ED8624DFD</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>sVg18TP/LifHyygRe/ro9A==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c1c00f25-c716-bcee-460a-539e581b5d83/sourceFolder/pik/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE005ED8624DFD",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005ED8624DFD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-blob-content-md5": "sVg18TP/LifHyygRe/ro9A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "Ig=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c1c00f25-c716-bcee-460a-539e581b5d83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:20:49 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2134260243",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
