{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-371906ec-744d-59fb-fb9e-072434515c83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3D61B28C4CC\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-371906ec-744d-59fb-fb9e-072434515c83/sourceFolder%5Cblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "PQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Q+w+Xe5ucGr3dm//6lEnIQ==",
        "ETag": "\"0x8DCE3D61B51AC84\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:30 GMT",
        "x-ms-content-crc64": "KPZOtgSo60w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-371906ec-744d-59fb-fb9e-072434515c83/sourceFolder%5Cbar%5Cblob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "tA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "E3M6bnPH0COGUfdQfEeVUw==",
        "ETag": "\"0x8DCE3D61B684F65\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:30 GMT",
        "x-ms-content-crc64": "kUgkQlEn9Q8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-371906ec-744d-59fb-fb9e-072434515c83/sourceFolder%5Cpik%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Fg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "v21sgZ7JdbBDrsUCFnw9FQ==",
        "ETag": "\"0x8DCE3D61B727D26\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:30 GMT",
        "x-ms-content-crc64": "1Ex4n5+rhZo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-371906ec-744d-59fb-fb9e-072434515c83?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:36 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-371906ec-744d-59fb-fb9e-072434515c83\"><Prefix>sourceFolder/pik/</Prefix><Blobs><Blob><Name>sourceFolder/pik/blob3</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:30 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:30 GMT</Last-Modified><Etag>0x8DCE3D61B727D26</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>v21sgZ7JdbBDrsUCFnw9FQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-371906ec-744d-59fb-fb9e-072434515c83/sourceFolder/pik/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3D61B727D26",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:36 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3D61B727D26\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:30 GMT",
        "x-ms-blob-content-md5": "v21sgZ7JdbBDrsUCFnw9FQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:06:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "Fg=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-371906ec-744d-59fb-fb9e-072434515c83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:36 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1625998390",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
