{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73af90c8-8f54-1ee5-dc12-290a3185421e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3D61DB6DA6A\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:34 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73af90c8-8f54-1ee5-dc12-290a3185421e/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Aw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hmZoNQaqzZALvVp0rE7faA==",
        "ETag": "\"0x8DCE3D61DCA93E9\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:34 GMT",
        "x-ms-content-crc64": "oxyyvx9BaVQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73af90c8-8f54-1ee5-dc12-290a3185421e/0038a672-db94-0eef-26ff-92dd25b5fdb3/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "gg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "WS7sjTLrSQ5pGSU9nKY3TQ==",
        "ETag": "\"0x8DCE3D61DC90F03\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:34 GMT",
        "x-ms-content-crc64": "b1zMI/4ia7E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73af90c8-8f54-1ee5-dc12-290a3185421e?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-73af90c8-8f54-1ee5-dc12-290a3185421e\"><Blobs><Blob><Name>0038a672-db94-0eef-26ff-92dd25b5fdb3/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:34 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:34 GMT</Last-Modified><Etag>0x8DCE3D61DC90F03</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>WS7sjTLrSQ5pGSU9nKY3TQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>26f50ff5-5abd-c325-1edc-8a742fc05904/blob3</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:34 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:34 GMT</Last-Modified><Etag>0x8DCE3D61DCB089A</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>fAuAKci86+M4uSzrUE+RKg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><Ac[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-73af90c8-8f54-1ee5-dc12-290a3185421e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "851968319",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
