{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB35A865DAB\"",
        "Last-Modified": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d/sourceFolder/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Sw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pfPGoRsDg51Gr5+0PJfBiA==",
        "ETag": "\"0x8DD8DB35A8F4630\"",
        "Last-Modified": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-content-crc64": "uc/IrRZ3LyU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2025-05-07T22:06:01.4479920Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d/sourceFolder/bar/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "UQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "8JVkycpWhQ1M1rMxnlQa7g==",
        "ETag": "\"0x8DD8DB35AA1BA14\"",
        "Last-Modified": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-content-crc64": "v0wJLQmFDgU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2025-05-07T22:06:01.5689236Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d/sourceFolder/pik/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Wg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IcLllTHIcQFW00o8MKyB1Q==",
        "ETag": "\"0x8DD8DB35AA896E7\"",
        "Last-Modified": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-content-crc64": "QSlDFeV4oSI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2025-05-07T22:06:01.6138983Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d?restype=container&comp=list&prefix=&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-90e118f3-2418-60ec-307e-75ce76e54d8d\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-90e118f3-2418-60ec-307e-75ce76e54d8d\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/blob0</Name><VersionId>2025-05-07T22:06:01.4479920Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:06:01 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:06:01 GMT</Last-Modified><Etag>0x8DD8DB35A8F4630</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>pfPGoRsDg51Gr5+0PJfBiA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 07 May 2025 22:06:01 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>sourceFolder/blob1</Name><VersionId>2025-05-07T22:06:01.5119556Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:06:01 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:06:01 GMT</Last-Modified><Etag>0x8DD8DB35A9908C4</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>XbyY3MmDpwcovQgtGkdUbg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 07 May 2025 22:06:01 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Con[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d/sourceFolder/blob0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD8DB35A8F4630",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB35A8F4630\"",
        "Last-Modified": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-blob-content-md5": "pfPGoRsDg51Gr5+0PJfBiA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2025-05-07T22:06:01.4479920Z"
      },
      "ResponseBody": "Sw=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:06:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Con[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-90e118f3-2418-60ec-307e-75ce76e54d8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:06:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1750885448",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
