{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f6b8f283-479f-4f02-fc04-825f3f094a37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3D61D7300A7\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f6b8f283-479f-4f02-fc04-825f3f094a37/foo/ab500691-eff2-2971-38da-dd79372360e9/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "JA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "w+l91ul/tRJWiMl/NnIMvg==",
        "ETag": "\"0x8DCE3D61D8746D6\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-content-crc64": "pe7RZkNLee0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f6b8f283-479f-4f02-fc04-825f3f094a37/foo/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Nw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jxTkX87qFnpaNt7dS+olQw==",
        "ETag": "\"0x8DCE3D61D86F8FD\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-content-crc64": "rxoxviClKhQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f6b8f283-479f-4f02-fc04-825f3f094a37?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-f6b8f283-479f-4f02-fc04-825f3f094a37\"><Blobs><Blob><Name>foo/3b22330d-02ce-577a-41c8-00e145292433/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:33 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:33 GMT</Last-Modified><Etag>0x8DCE3D61D87BB76</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>xmhTTSILryHKPMbfW37R1Q==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>foo/ab500691-eff2-2971-38da-dd79372360e9/blob3</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:33 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:33 GMT</Last-Modified><Etag>0x8DCE3D61D8746D6</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>w+l91ul/tRJWiMl/NnIMvg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f6b8f283-479f-4f02-fc04-825f3f094a37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1372845419",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
