{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3D61CF7D25D\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4/sourceFolder%5Cblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "FA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FfQaLpa640Hd5IW7Dnj0hQ==",
        "ETag": "\"0x8DCE3D61D02A629\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:32 GMT",
        "x-ms-content-crc64": "Jl4T/w9KWGQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4/sourceFolder%5Cbar%5Cblob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "sw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7IchCXPVe1gpRcr8X9XdYw==",
        "ETag": "\"0x8DCE3D61D18AD89\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-content-crc64": "lWU7inrTJEc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4/sourceFolder%5Cpik%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "hA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7GMdczWr7NMY8J9WUV7WPA==",
        "ETag": "\"0x8DCE3D61D23022A\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-content-crc64": "Evjm2x0m1IY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4?restype=container&comp=list&prefix=&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4\"><Blobs><Blob><Name>sourceFolder/bar/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:33 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:33 GMT</Last-Modified><Etag>0x8DCE3D61D18AD89</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>7IchCXPVe1gpRcr8X9XdYw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>sourceFolder/blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:32 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:32 GMT</Last-Modified><Etag>0x8DCE3D61D02A629</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>FfQaLpa640Hd5IW7Dnj0hQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4/sourceFolder/pik/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3D61D23022A",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3D61D23022A\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-blob-content-md5": "7GMdczWr7NMY8J9WUV7WPA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "hA=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4/sourceFolder/blob0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3D61D02A629",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3D61D02A629\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:32 GMT",
        "x-ms-blob-content-md5": "FfQaLpa640Hd5IW7Dnj0hQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:06:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "FA=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4/sourceFolder/bar/blob2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3D61D18AD89",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3D61D18AD89\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-blob-content-md5": "7IchCXPVe1gpRcr8X9XdYw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:06:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "sw=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4c75d885-b5d5-7b0d-8b16-186a38fb13f4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "480403589",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
