{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3D61F7DCCD1\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4/sourceFolder%5Cblob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "JA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "w+l91ul/tRJWiMl/NnIMvg==",
        "ETag": "\"0x8DCE3D61F8850D6\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-content-crc64": "pe7RZkNLee0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4/sourceFolder%5Cbar%5Cblob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "nQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Ckdtg++c70vOf5AlUivjtQ==",
        "ETag": "\"0x8DCE3D61F9CD340\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-content-crc64": "n+B5C1rFRic=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4/sourceFolder%5Cpik%5Cblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "oQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "c4f41EegDP1UjPL3VzimYA==",
        "ETag": "\"0x8DCE3D61FA727DD\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-content-crc64": "5hjuYtHNGcE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4?restype=container&comp=list&prefix=&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4\"><Blobs><Blob><Name>sourceFolder/bar/blob2</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:37 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:37 GMT</Last-Modified><Etag>0x8DCE3D61F9CD340</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>Ckdtg++c70vOf5AlUivjtQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>sourceFolder/blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:06:37 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:06:37 GMT</Last-Modified><Etag>0x8DCE3D61F8850D6</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>w+l91ul/tRJWiMl/NnIMvg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4/sourceFolder/bar/blob2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3D61F9CD340",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:43 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3D61F9CD340\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-blob-content-md5": "Ckdtg++c70vOf5AlUivjtQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "nQ=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4/sourceFolder/blob0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3D61F8850D6",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:43 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3D61F8850D6\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-blob-content-md5": "w+l91ul/tRJWiMl/NnIMvg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "JA=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4/sourceFolder/pik/blob3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCE3D61FA727DD",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:43 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/1",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE3D61FA727DD\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-blob-content-md5": "c4f41EegDP1UjPL3VzimYA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Oct 2024 18:06:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "oQ=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1785c342-7372-c5a0-ac6e-0cb9e3481bb4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1876945607",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
