{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd12777d-9868-a7ed-2436-fec174f87f15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3D61E57B7E0\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd12777d-9868-a7ed-2436-fec174f87f15/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "AQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "VaVACK0bpYmqIQ0mKcHfQQ==",
        "ETag": "\"0x8DCE3D61E6562C5\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-content-crc64": "UQ7Z34+gtKo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd12777d-9868-a7ed-2436-fec174f87f15/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:41 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Fw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hP8U+kW+PKRznnwCdxelQQ==",
        "ETag": "\"0x8DCE3D61E75CB1B\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-content-crc64": "rcVNr1db6+U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd12777d-9868-a7ed-2436-fec174f87f15/8512ba62-fc96-102b-ff15-acf2105ea6e2/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:41 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "kQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "QEEiAokjGNUoIuYhlaZXYg==",
        "ETag": "\"0x8DCE3D61E7383C0\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:06:35 GMT",
        "x-ms-content-crc64": "Zags+53MOEg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd12777d-9868-a7ed-2436-fec174f87f15/blob0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:41 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "1g==",
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:a157d92e-701e-0022-43be-1565ab000000\n",
        "Time:2024-10-03T18:06:35.3292096Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd12777d-9868-a7ed-2436-fec174f87f15?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:06:41 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "694103509",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
