{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41c6a616-0f41-395d-59b3-68f9e07753ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE3DCAEF4682B\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:34 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41c6a616-0f41-395d-59b3-68f9e07753ea/foo/c4a53690-c5b6-611b-9863-4446971537ee/blob2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "4A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7C0RAodm4GrDNkji8KZzIA==",
        "ETag": "\"0x8DCE3DCAF0519FA\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:34 GMT",
        "x-ms-content-crc64": "8Ly1KKTnLWk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41c6a616-0f41-395d-59b3-68f9e07753ea/foo/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Mg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "yB5yjZ1ML2NvBn+JzBSGLA==",
        "ETag": "\"0x8DCE3DCAF04F314\"",
        "Last-Modified": "Thu, 03 Oct 2024 18:53:34 GMT",
        "x-ms-content-crc64": "WSVFFpuwJqI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41c6a616-0f41-395d-59b3-68f9e07753ea?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-41c6a616-0f41-395d-59b3-68f9e07753ea\"><Blobs><Blob><Name>foo/4b6f8278-2a39-329f-95a9-f8a2badf409c/blob3</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:53:34 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:53:34 GMT</Last-Modified><Etag>0x8DCE3DCAF060353</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>2VZ5dSE0otnrYdvXuRxLzA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>foo/blob0</Name><Properties><Creation-Time>Thu, 03 Oct 2024 18:53:34 GMT</Creation-Time><Last-Modified>Thu, 03 Oct 2024 18:53:34 GMT</Last-Modified><Etag>0x8DCE3DCAF0540DC</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>+63p42o/NtPWdsG4CEUd1w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessT[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-41c6a616-0f41-395d-59b3-68f9e07753ea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Oct 2024 18:53:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "639576663",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
