{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-6368/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-847?api-version=2024-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-6368/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-847",
        "name": "dbaccount-847",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2024-02-29T06:32:30.3429455Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-847.documents.azure.com:443/",
          "sqlEndpoint": "https://dbaccount-847.documents.azure.com:443/",
          "mongoEndpoint": "https://dbaccount-847.mongo.cosmos.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
          "instanceId": "aaa77302-d9ae-42f3-a691-27bb8d1e97ae",
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enablePerRegionPerPartitionAutoscale": false,
          "enableBurstCapacity": false,
          "enablePriorityBasedExecution": false,
          "defaultPriorityLevel": "High",
          "minMaxThresholdsForPriorityBasedExecution": {
            "minPercentForLowPriorityRequests": 0,
            "maxPercentForLowPriorityRequests": 100,
            "minPercentForHighPriorityRequests": 0,
            "maxPercentForHighPriorityRequests": 100
          },
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {
            "EnableBsonSchema": "True",
            "EnablePerRegionPerPartitionAutoscaleOptIn": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-847-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-847-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-847-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-847-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-847-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-847-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-847-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2024-02-29T06:32:30.3429455Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2024-02-29T06:32:30.3429455Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2024-02-29T06:32:30.3429455Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2024-02-29T06:32:30.3429455Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-6368/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-847/privateLinkResources?api-version=2024-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-6368/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-847/privateLinkResources/MongoDB",
            "name": "MongoDB",
            "type": "Microsoft.DocumentDB/databaseAccounts/privateLinkResources",
            "properties": {
              "groupId": "MongoDB",
              "requiredMembers": [
                "dbaccount-847-westus",
                "dbaccount-847"
              ],
              "requiredZoneNames": [
                "privatelink.mongo.cosmos.azure.com"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-6368/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-847/privateLinkResources/MongoDB?api-version=2024-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/resourceGroups/dbaccount-6368/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-847/privateLinkResources/MongoDB",
        "name": "MongoDB",
        "type": "Microsoft.DocumentDB/databaseAccounts/privateLinkResources",
        "properties": {
          "groupId": "MongoDB",
          "requiredMembers": [
            "dbaccount-847-westus",
            "dbaccount-847"
          ],
          "requiredZoneNames": [
            "privatelink.mongo.cosmos.azure.com"
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "677946210",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "23587e98-b6ac-4328-a753-03bcd3c8e744"
  }
}
