{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/indexes/azure-search-index-test/versions/1.2?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "type": "AzureSearch",
        "connectionName": "test-connection-name",
        "indexName": "test-index-name"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c04e20a8-047c-4df8-bae8-47a4f51fc0be",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.714"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "test-connection-name",
        "indexName": "test-index-name",
        "name": "azure-search-index-test",
        "version": "1.2"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/indexes?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "85cdfc1f-8b10-4845-b98b-ea2803e0c959",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.362"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection-name",
            "indexName": "my-ai-search-index-name",
            "name": "my-index",
            "version": "1.0"
          },
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection-name",
            "indexName": "my-ai-search-index-name",
            "name": "index-test-6-23",
            "version": "1.0"
          },
          {
        [...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/indexes/azure-search-index-test/versions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5a1fb001-9739-425b-a6a6-1c5b498598b7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.223"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "test-connection-name",
            "indexName": "test-index-name",
            "name": "azure-search-index-test",
            "version": "1.3"
          },
          {
            "type": "AzureSearch",
            "connectionName": "test-connection-name",
            "indexName": "test-index-name",
            "name": "azure-search-index-test",
            "version": "1.2"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
