{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Avere_AscTIP4_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourcegroups/rg-amajaistoragecache?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache",
        "name": "rg-amajaistoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/importJobs?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/autoExportJobs?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "testautoexportjob1774",
            "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/RG-AMAJAISTORAGECACHE/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/autoExportJobs/testautoexportjob1774",
            "type": "Microsoft.StorageCache/amlFilesystems/autoExportJobs",
            "location": "canadacentral",
            "properties": {
              "provisioningState": "Succeeded",
              "autoExportPrefixes": [
                "/path"
              ],
              "adminStatus": "Disable",
              "status": {
                "state": "Disabled",
                "totalFilesExported": 0,
                "totalMiBExported": 0,
                "totalFilesFailed": 0,
                "exportIterationCount": 0,
                "currentIterationFilesDiscovered": 0,
                "currentIterationMiBDiscovered": 0,
                "currentIterationFilesExported": 0,
                "currentIterationMiBExported": 0,
                "currentIterationFilesFailed": 0,
                "lastSuccessfulIterationCompletionTime": "2025-09-03T14:40:03+00:00",
                "lastStartedTime": "2025-09-03T14:40:03.6724245+00:00",
                "lastCompletionTime": "2025-09-03T14:40:11.7817684+00:00"
              }
            }
          },
          {
            "name": "testAutoExportJob933",
            "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/RG-AMAJAISTORAGECACHE/providers/Microsoft.StorageCache/amlFilesystems/testamlFS1458/autoExportJobs/testAutoExportJob933",
            "type": "Microsoft.StorageCache/amlFilesystems/autoExportJobs",
            "location": "canadacentral",
            "tags": {},
     [...]
