{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/microsoftsamples_command_component_basic_with_paths_test/versions/1?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-response-type": "standard",
        "x-request-time": "0.507"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/microsoftsamples_command_component_basic_with_paths_test/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "client_component_hash": "7354451a-a0ca-023e-b375-f35e82a31567"
          },
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "microsoftsamples_command_component_basic_with_paths_test",
            "version": "1",
            "display_name": "CommandComponentBasic",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "inputs": {
              "component_in_path_1": {
                "type": "uri_folder",
                "optional": "False"
              },
              "component_in_path_2": {
                "type": "uri_folder",
                "optional": "False"
              },
              "component_in_number": {
                "type": "number",
                "optional": "False",
                "default": "10.99",
                "description": "A number"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/3bf5bd40-ef88-406a-8fa1-daa4d828e98c/versions/1",
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo Hello World & echo ${{inputs.component_in_number}} & echo ${{inputs.component_in_path_1}} & echo ${{inputs.component_in_path_2}}"
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2026-02-26T16:27:59.2639407+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-26T16:27:59.3454758+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.105"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-b0f1ba9e-8ee1-4137-b14e-89f18df895c7",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2026-02-25T23:13:42.5764464+00:00",
          "lastModifiedAt": "2026-02-25T23:13:44.1036497+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.149"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-b0f1ba9e-8ee1-4137-b14e-89f18df895c7/LocalUpload/00000000000000000000000000000000/data/sample1.csv?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Feb 2026 19:57:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "x-ms-error-code": "KeyBasedAuthenticationNotPermitted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_override_name": "test_760182068338"
  }
}
