{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.073"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2026-02-25T23:13:46.4523183+00:00",
          "modifiedOn": "2026-02-25T23:13:57.1248117+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 2,
            "targetNodeCount": 1,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 2,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2026-02-27T20:38:11.419+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestxj2nmna6k5cze",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiep2ojtu6hiywu",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false,
            "enableFirewallLog": false
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crep2ojtu6hiywu",
          "creationTime": "2026-02-25T23:13:13.3878914Z",
          "notebookInfo": {
            "resourceId": "8b068416c20e42baa378e44e9bcaecfa",
            "fqdn": "ml-sdkvnextcli-westus-b0f1ba9e-8ee1-4137-b14e-89f18df895c7.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "b0f1ba9e-8ee1-4137-b14e-89f18df895c7",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "ad4db683-227d-4cf9-b788-db8d151f62e0",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2026-02-25T23:13:13.3878914Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-25T23:13:13.3878914Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_94962644313?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with inline command job having inputs",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_94962644313",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "component_out_path_1": {
                  "value": "${{parent.outputs.job_out_path_1}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/3c50b616-4123-4df9-b4b0-86b56bc64321"
            },
            "hello_world_inline_commandjob_2": {
              "name": "hello_world_inline_commandjob_2",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/dabe3060-3253-43ce-83f9-f2ed0ee635b3"
            }
          },
          "outputs": {
            "job_out_path_1": {
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_94962644313?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.846"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_94962644313",
        "name": "test_94962644313",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job with inline command job having inputs",
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {},
          "displayName": "test_94962644313",
          "status": "NotStarted",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_94962644313?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "YAML.JOB"
          },
          "jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "c[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_94962644313?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.078"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_94962644313",
        "name": "test_94962644313",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job with inline command job having inputs",
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.DatasetAccessMode": "Asset",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "True",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.enforceRerun": "False",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_94962644313",
          "status": "Running",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": [...]
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-type": "standard",
        "x-request-time": "0.023"
      },
      "ResponseBody": {
        "api": "https://westus.api.azureml.ms",
        "catalog": "Sanitized",
        "experimentation": "https://westus.experiments.azureml.net",
        "history": "https://westus.experiments.azureml.net",
        "hyperdrive": "https://westus.experiments.azureml.net",
        "labeling": "https://westus.experiments.azureml.net",
        "modelmanagement": "https://westus.modelmanagement.azureml.net",
        "pipelines": "https://westus.aether.ms",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata?api-version=v1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "runId": "test_94962644313",
        "selectRunMetadata": true,
        "selectRunDefinition": true,
        "selectJobSpecification": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a0b5eb8-0c71-4cee-950d-a58a102fa261",
        "x-ms-response-type": "standard",
        "x-request-time": "0.034"
      },
      "ResponseBody": {
        "runMetadata": {
          "runNumber": 1772224701,
          "rootRunId": "test_94962644313",
          "createdUtc": "2026-02-27T20:38:21.1658016+00:00",
          "createdBy": {
            "userObjectId": "fa54e51e-ab45-4fa9-b655-4b8b601b82c4",
            "userPuId": "10032001C552CAF5",
            "userIdp": null,
            "userAltSecId": null,
            "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "userName": "Sanitized",
            "upn": null,
            "clientApplicationId": null,
            "applicationACR": null
          },
          "userId": "Sanitized",
          "token": null,
          "tokenExpiryTimeUtc": null,
          "error": {
            "error": {
              "code": "UserError",
              "severity": null,
              "message": "Pipeline has failed child jobs. Failed nodes: /hello_world_inline_commandjob_2, /hello_world_inline_commandjob_1. For more details and logs, please go to the job detail page and check the child jobs.",
              "messageFormat": "Pipeline has failed child jobs. {0}",
              "messageParameters": {},
              "referenceCode": "PipelineHasStepJobFailed",
              "detailsUri": null,
              "target": null,
              "details": [],
              "innerError": null,
              "debugInfo": null,
              "additionalInfo": null
            },
            "correlation": null,
            "environment": "westus",
            "location": "westus",
            "time": "2026-02-27T20:39:28.3169481+00:00",
            "componentName": ""
          },
          "warnings": null,
          "revision": 9,
          "statusRevision": 4,
          "runUuid": "541faeaf-0cd7-4296-8b85-e20538060166",
          "parentRunUuid": null,
          "rootRunUuid": "541faeaf-0cd7-4296-8b85-e20538060166",
          "lastStartTimeUtc": null,
          "currentComputeTime": null,
          "computeDuration": "00:01:04.6827706",
          "effectiveStartTimeUtc": null,
          "lastModifiedBy": {
            "userObjectId": "fa54e51e-ab45-4fa9-b655-4b8b601b82c4",
            "userPuId": "10032001C552CAF5",
            "userIdp": null,
            "userAltSecId": null,
            "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "userName": "Sanitized",
            "upn": null,
            "clientApplicationId": null,
            "applicationACR": null
          },
          "lastModifiedUtc": "2026-02-27T20:39:28.5980191+00:00",
          "duration": "00:01:04.6827706",
          "cancelationReason": null,
          "currentAttemptId": 1,
          "runId": "test_94962644313",
          "parentRunId": null,
          "experimentId": "feaf39dd-e0de-4b57-9b9a-d5837337665a",
          "status": "Failed",
          "startTimeUtc": "2026-02-27T20:38:24.0276528+00:00",
          "endTimeUtc": "2026-02-27T20:39:28.7104234+00:00",
          "scheduleId": null,
          "displayName": "test_94962644313",
          "name": null,
          "dataContainerId": "dcid.test_94962644313",
          "description": "The hello world pipeline job with inline command job having inputs",
          "hidden": false,
          "runType": "azureml.PipelineRun",
          "runTypeV2": {
            "orchestrator": "Pipeline",
            "traits": [
              "azureml.PipelineRun",
              "MFE",
              "HTTP",
              "DevPlatv2"
            ],
            "attribution": null,
            "computeType": null
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.DatasetAccessMode": "Asset",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "True",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.enforceRerun": "False",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun",
            "azureml.pipelines.stages": "{\"Initialization\":null,\"Execution\":{\"StartTime\":\"2026-02-27T20:38:24.4280989+00:00\",\"EndTime\":\"2026-02-27T20:39:28.5520023+00:00\",\"Status\":\"Failed\"}}"
          },
          "parameters": {},
          "actionUris": {
            "Cancel": "https://westus.api.azureml.ms/studioservice/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/workspaces/00000/PipelineRuns/test_94962644313/cancel"
          },
          "scriptName": null,
          "target": null,
          "uniqueChildRunComputeTargets": [
            "cpu-cluster"
          ],
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "settings": {},
          "services": {},
          "inputDatasets": [],
          "outputDatasets": [],
          "runDefinition": null,
          "jobSpecification": null,
          "primaryMetricName": null,
          "createdFrom": null,
          "cancelUri": "https://westus.api.azureml.ms/studioservice/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/workspaces/00000/PipelineRuns/test_94962644313/cancel",
          "completeUri": null,
          "diagnosticsUri": null,
          "computeRequest": null,
          "compute": null,
          "retainForLifetimeOfWorkspace": false,
          "queueingInfo": null,
          "inputs": {},
          "outputs": null
        },
        "runDefinition": {
          "JobType": "Pipeline",
          "PipelineJobType": "AzureML",
          "Pipeline": null,
          "ComputeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "RunId": null,
          "Settings": {
            "_source": "YAML.JOB"
          },
          "ComponentJobs": null,
          "Inputs": null,
          "Outputs": null,
          "Bindings": null,
          "Jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "component_out_path_1": {
                  "value": "${{parent.outputs.job_out_path_1}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/3c50b616-4123-4df9-b4b0-86b56bc64321"
            },
            "hello_world_inline_commandjob_2": {
              "name": "hello_world_inline_commandjob_2",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/dabe3060-3253-43ce-83f9-f2ed0ee635b3"
            }
          },
          "InputBindings": null,
          "OutputBindings": {
            "job_out_path_1": {
              "DatastoreId": null,
              "PathOnDatastore": null,
              "PathOnCompute": null,
              "Description": null,
              "Uri": null,
              "Mode": "ReadWriteMount",
              "AssetUri": null,
              "IsAssetJobOutput": true,
              "JobOutputType": 3,
              "AssetName": null,
              "AssetVersion": null,
              "AutoDeleteSetting": null
            }
          },
          "SourceJobId": null,
          "ProvisioningState": "Succeeded",
          "ParentJobName": null,
          "DisplayName": "test_94962644313",
          "ExperimentName": "azure-ai-ml",
          "Status": "NotStarted",
          "InteractionEndpoints": null,
          "Identity": null,
          "Compute": null,
          "Priority": null,
          "Output": null,
          "IsArchived": false,
          "Schedule": null,
          "ComponentId": null,
          "NotificationSetting": null,
          "SecretsConfiguration": null,
          "Description": "The hello world pipeline job with inline command job having inputs",
          "Tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "Properties": {}
        },
        "jobSpecification": null,
        "systemSettings": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&count=30&isDefault=true&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.065"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
            "name": "workspaceblobstore",
            "type": "Microsoft.MachineLearningServices/workspaces/datastores",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "AccountKey"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroup": "00000",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "azureml-blobstore-b0f1ba9e-8ee1-4137-b14e-89f18df895c7",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2026-02-25T23:13:42.5764464+00:00",
              "lastModifiedAt": "2026-02-25T23:13:44.1036497+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; c[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.369"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml?restype=container&comp=list&prefix=ExperimentRun%2Fdcid.test_94962644313%2F&include=metadata&sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "GET",
      "RequestHeaders": {
[...]
