{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01\u0026hash=0cdbab22e0cdd2993f8a3a1da62816dfa9ffe292fa15f48221347e5fbb2b440a\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.063"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "0cdbab22e0cdd2993f8a3a1da62816dfa9ffe292fa15f48221347e5fbb2b440a",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sdknotebstorageac44a264e.blob.core.windows.net:443/7e48c4fe-6-50c6ea53-5389-54c8-9037-b275cc7bf0fe/code_with_additional_includes",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-08-31T01:18:47.5567227\u002B00:00",
              "createdBy": "Xingzhi Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-08-31T01:18:47.5567227\u002B00:00",
              "lastModifiedBy": "Xingzhi Zhang",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
  [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_29588360613/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "client_component_hash": "104f7d55-102d-33a4-18a4-749a0b192b3d"
          },
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_29588360613",
            "version": "1",
            "is_deterministic": true,
            "type": "promptflow_parallel",
            "_source": "YAML.COMPONENT",
            "code": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "flow_definition_uri": "https://sdknotebstorageac44a264e.blob.core.windows.net/7e48c4fe-6-50c6ea53-5389-54c8-9037-b275cc7bf0fe/code_with_additional_includes/flow.dag.yaml"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_29588360613/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "5.300"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_29588360613/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "client_component_hash": "104f7d55-102d-33a4-18a4-749a0b192b3d"
          },
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "name": "test_29588360613",
            "version": "1",
            "display_name": "test_29588360613",
            "is_deterministic": "True",
            "type": "parallel",
            "inputs": {
              "data": {
                "type": "uri_folder",
                "optional": "False"
              },
              "run_outputs": {
                "type": "uri_folder",
                "optional": "True"
              },
              "connections.classify_with_llm.connection": {
                "type": "string",
                "optional": "True",
                "default": "azure_open_ai_connection"
              },
              "connections.summarize_text_content.connection": {
                "type": "string",
                "optional": "True",
                "default": "azure_open_ai_connection"
              },
              "connections.classify_with_llm.deployment_name": {
                "type": "string",
                "optional": "True",
                "default": "text-davinci-003"
              },
              "connections.summarize_text_content.deployment_name": {
                "type": "string",
                "optional": "True",
                "default": "text-davinci-003"
              },
              "url": {
                "type": "string",
                "optional": "False",
                "default": "https://www.microsoft.com/en-us/d/xbox-wireless-controller-stellar-shift-special-edition/94fbjc7h0h6h"
              }
            },
            "outputs": {
              "flow_outputs": {
                "type": "uri_folder"
              },
              "debug_info": {
                "type": "uri_folder"
              }
            },
            "task": {
              "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/d4c4e39f-5292-4f44-a238-f03e35e2ab78/versions/1",
              "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/promptflow-runtime/versions/20230816.v10",
              "program_arguments": "--amlbi_pf_enabled True --amlbi_pf_run_mode component --amlbi_mini_batch_rows 1 --amlbi_file_format jsonl $[[--amlbi_pf_run_outputs ${{inputs.run_outputs}}]] --amlbi_pf_debug_info ${{outputs.debug_info}} --amlbi_pf_connections \u0022$[[classify_with_llm.connection=${{inputs.connections.classify_with_llm.connection}},]]$[[summarize_text_content.connection=${{inputs.connections.summarize_text_content.connection}},]]\u0022 --amlbi_pf_deployment_names \u0022$[[classify_with_llm.deployment_name=${{inputs.connections.classify_with_llm.deployment_name}},]]$[[summarize_text_content.deployment_name=${{inputs.connections.summarize_text_content.deployment_name}},]]\u0022 --amlbi_pf_input_url ${{inputs.url}}",
              "entry_script": "driver/azureml_user/parallel_run/prompt_flow_entry.py",
              "type": "run_function",
              "append_row_to": "${{outputs.flow_outputs}}"
            },
            "input_data": "${{inputs.data}}",
            "error_threshold": "-1",
            "logging_level": "INFO",
            "max_concurrency_per_instance": "1",
            "mini_batch_error_threshold": "0",
            "mini_batch_size": "1",
            "retry_settings": {
              "max_retries": "2",
              "timeout": "3600"
            }
          }
        },
        "systemData": {
          "createdAt": "2023-08-31T01:29:34.3729156\u002B00:00",
          "createdBy": "Xingzhi Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2023-08-31T01:29:34.4618297\u002B00:00",
          "lastModifiedBy": "Xingzhi Zhang",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_29588360613"
  }
}
