{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "owners": "bebroder,wesh",
              "DoNotDelete": ""
            },
            "subscriptionId": "00000000-0000-0000-0000-000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "Azure SDK Test Resources - TME",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000"
        ],
        "query": "resources\n    | where type == 'microsoft.machinelearningservices/virtualclusters'\n    | order by tolower(name) asc\n    | project id, subscriptionId, resourceGroup, name, location, tags, type",
        "options": {
          "resultFormat": "objectArray",
          "allowPartialScopes": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.0874189",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 0,
        "count": 0,
        "data": [],
        "facets": [],
        "resultTruncated": "false"
      }
    }
  ],
  "Variables": {}
}
