{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.069"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2026-02-25T23:13:46.4523183+00:00",
          "modifiedOn": "2026-02-25T23:13:57.1248117+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2026-02-27T20:27:15.16+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "ls ${{inputs.mltable_output}}",
            "environment": "azureml:AzureML-Minimal:1",
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": true,
            "inputs": {
              "mltable_output": {
                "type": "mltable"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "1.083"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/43a5983d-f2d1-4c66-b850-0e5982dd9939",
        "name": "43a5983d-f2d1-4c66-b850-0e5982dd9939",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": "True",
            "type": "command",
            "inputs": {
              "mltable_output": {
                "type": "mltable",
                "optional": "False"
              }
            },
            "environment": "azureml://registries/azureml/environments/AzureML-Minimal/versions/1",
            "resources": {
              "instance_count": "1"
            },
            "command": "ls ${{inputs.mltable_output}}"
          },
          "provisioningState": "Succeeded",
          "stage": "Logged"
        },
        "systemData": {
          "createdAt": "2026-02-26T16:50:02.1358483+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-26T16:50:02.2301792+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.095"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-b0f1ba9e-8ee1-4137-b14e-89f18df895c7",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2026-02-25T23:13:42.5764464+00:00",
          "lastModifiedAt": "2026-02-25T23:13:44.1036497+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798",
        "x-ms-response-type": "standard",
        "x-request-time": "0.124"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-b0f1ba9e-8ee1-4137-b14e-89f18df895c7/LocalUpload/00000000000000000000000000000000/train/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Feb 2026 20:28:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "x-ms-error-code": "KeyBasedAuthenticationNotPermitted"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "name": "test_116024309963"
  }
}
