{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "hotel-live-test-1079879",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "category",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": true
          },[...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgesources?api-version=2025-11-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "search-ks-hotel-live-test-1079879",
        "kind": "searchIndex",
        "searchIndexParameters": {
          "searchIndexName": "hotel-live-test-1079879",
          "searchFields": [
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ],
          "semanticConfigurationName": "semantic-configuration"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "117",
        "ETag": "\"0x8DE64E2CC4909D6\"",
        "Location": "https://subdomain.search.windows.net/knowledgesources('search-ks-hotel-live-test-1079879')?api-version=2025-11-01-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#knowledgesources/$entity",
        "@odata.etag": "\"0x8DE64E2CC4909D6\"",
        "name": "search-ks-hotel-live-test-1079879",
        "kind": "searchIndex",
        "description": null,
        "encryptionKey": null,
        "searchIndexParameters": {
          "searchIndexName": "hotel-live-test-1079879",
          "semanticConfigurationName": "semantic-configuration",
          "sourceDataFields": [],
          "searchFields": [
            {
              "name": "hotelName"
            },
            {
              "name": "description"
            }
          ]
        },
        "azureBlobParameters": null,
        "mcpToolParameters": null,
        "webParameters": null,
        "remoteSharePointParameters": null,
        "indexedSharePointParameters": null,
        "indexedOneLakeParameters": null
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgesources?api-version=2025-11-01-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "154",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://subdomain.search.windows.net/$metadata#knowledgesources",
        "value": [
          {
            "@odata.etag": "\"0x8DE64E2CC4909D6\"",
            "name": "search-ks-hotel-live-test-1079879",
            "kind": "searchIndex",
            "description": null,
            "encryptionKey": null,
            "searchIndexParameters": {
              "searchIndexName": "hotel-live-test-1079879",
              "semanticConfigurationName": "semantic-configuration",
              "sourceDataFields": [],
              "searchFields": [
                {
                 [...]
    {
      "RequestUri": "https://Sanitized.search.windows.net/knowledgesources('search-ks-hotel-live-test-1079879')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "134",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1079879')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 503,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "2904",
        "Preference-Applied": "odata.include-annotations=\"*\"",
        "throttle-reason": "rateLimitExceeded"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "You are sending too many requests. Please try again later."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.search.windows.net/indexes('hotel-live-test-1079879')?api-version=2025-11-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "930",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_INDEX_NAME": "hotel-live-test-1079879"
  }
}
