{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FA2BA96\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FAF6EAA\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FB9141D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:30.2257181Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.2257181Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.2257181Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/test-file-5024bc65-22f8-a01b-cad1-8af9017c8e42?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FC368C3\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:30.2934211Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.2934211Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.2934211Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FD74F98\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:30.4238488Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.4238488Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.4238488Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FE1A441\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:30.4915521Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.4915521Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.4915521Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FEB5D58\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:30.5552728Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.5552728Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.5552728Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/pik/test-file-8c618350-b1cf-c2c1-6adb-0e000ce285ef?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FF58B18\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:30.6219800Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.6219800Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.6219800Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-2f45c919-723a-4154-a28b-a621606532ba\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-5024bc65-22f8-a01b-cad1-8af9017c8e42</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-f5182a98-9c82-f2d6-66f5-00586aedd271</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB65FD74F98\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:30.4238488Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.4238488Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.4238488Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-2f45c919-723a-4154-a28b-a621606532ba\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/test-file-f5182a98-9c82-f2d6-66f5-00586aedd271?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB65FCE58F6\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:30.3651062Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.3651062Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.3651062Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-2f45c919-723a-4154-a28b-a621606532ba\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-8c618350-b1cf-c2c1-6adb-0e000ce285ef</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/test-file-f5182a98-9c82-f2d6-66f5-00586aedd271?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6602AE70D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/test-file-f5182a98-9c82-f2d6-66f5-00586aedd271?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/test-file-f5182a98-9c82-f2d6-66f5-00586aedd271?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66034C712\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66036C0AA\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/pik/test-file-8c618350-b1cf-c2c1-6adb-0e000ce285ef?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6603C868E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB660416336\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/pik/test-file-8c618350-b1cf-c2c1-6adb-0e000ce285ef?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/pik/test-file-8c618350-b1cf-c2c1-6adb-0e000ce285ef?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB660468D71\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570?restype=container&comp=list&prefix=destFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:24:31 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:24:31 GMT</Last-Modified><Etag>0x8DE6EB660416336</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-8c618350-b1cf-c2c1-6adb-0e000ce285ef</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:24:31 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:24:31 GMT</Last-Modified><Etag>0x8DE6EB660468D71</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unl[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB660416336\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba/sourceFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB65FE1A441\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:30.4915521Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:30.4915521Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:24:30.4915521Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-065b4be9-9e92-55c7-06a7-8fd4a970c570/destFolder/bar/test-file-d91d2fcf-f88d-34e9-0ab7-82545e1b03cd?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB660416336\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB660416336\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-tim[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2f45c919-723a-4154-a28b-a621606532ba?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A30Z&se=2026-02-18T07%3A24%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:24:30.0675391-08:00",
    "RandomSeed": "1189288793",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
