{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB865D09EBF\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB865E4F8EF\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB865F1B10B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:38:59.6565259Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:59.6565259Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:38:59.6565259Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/test-file-3f31112e-ba35-20a8-fb41-f94cb5d966fd?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB865FB6A16\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:59.7202454Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:59.7202454Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:38:59.7202454Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8661A411B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:38:59.9223579Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:59.9223579Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:38:59.9223579Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86623D35B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:59.9850843Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:59.9850843Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:38:59.9850843Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8662EC38B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:39:00.0567691Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:00.0567691Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-02-18T06:39:00.0567691Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/pik/test-file-f9f6c157-3fa9-2347-7527-825acdd6883e?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB86639DAA7\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:39:00.1294503Z",
        "x-ms-file-creation-time": "2026-02-18T06:39:00.1294503Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-02-18T06:39:00.1294503Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-3f31112e-ba35-20a8-fb41-f94cb5d966fd</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-f2097914-ba39-2168-66fb-0b306ef51f3b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8661A411B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:38:59.9223579Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:59.9223579Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:38:59.9223579Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/test-file-f2097914-ba39-2168-66fb-0b306ef51f3b?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB866071CC2\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:59.7969090Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:59.7969090Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-02-18T06:38:59.7969090Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-f9f6c157-3fa9-2347-7527-825acdd6883e</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/test-file-f2097914-ba39-2168-66fb-0b306ef51f3b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8667A01BA\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8668B8E4D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/pik/test-file-f9f6c157-3fa9-2347-7527-825acdd6883e?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB866967E7F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/test-file-3f31112e-ba35-20a8-fb41-f94cb5d966fd?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/test-file-3f31112e-ba35-20a8-fb41-f94cb5d966fd?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB8669A71B5\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB866A1BC85\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/pik/test-file-f9f6c157-3fa9-2347-7527-825acdd6883e?comp=appendblock&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/pik/test-file-f9f6c157-3fa9-2347-7527-825acdd6883e?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB866A6E6D9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b?restype=container&comp=list&prefix=destFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:39:00 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:39:00 GMT</Last-Modified><Etag>0x8DE6EB866A1BC85</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-f9f6c157-3fa9-2347-7527-825acdd6883e</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:39:00 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:39:00 GMT</Last-Modified><Etag>0x8DE6EB866A6E6D9</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unl[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB866A1BC85\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1/sourceFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB86623D35B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:38:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:38:59.9850843Z",
        "x-ms-file-creation-time": "2026-02-18T06:38:59.9850843Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:38:59.9850843Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-05b7ab3e-672b-a2bb-21e5-0af7c000d76b/destFolder/bar/test-file-589fa7e4-cfc4-c7cc-bdd9-ef0b1daa55a8?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB866A1BC85\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB866A1BC85\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:39:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-tim[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3b9670cc-c0bb-599a-b40a-01eea5b46ee1?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A38%3A59Z&se=2026-02-18T07%3A38%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:38:59.4348770-08:00",
    "RandomSeed": "1816345305",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
