{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8CEA047\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8D615E4\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8DDD925\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:19.5096869Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.5096869Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.5096869Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/test-file-0d214587-e59e-5b20-a651-4b442a4c5861",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8E35148\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:19.5455304Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.5455304Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.5455304Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8ECBC93\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:19.6072595Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.6072595Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.6072595Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/bar/test-file-bd160b17-b11c-7a97-72af-c26f25b47644",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8F17236\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:19.6381238Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.6381238Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.6381238Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8F7113C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:19.6749628Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.6749628Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.6749628Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/pik/test-file-dcc46df0-ab72-d948-2c69-148da300cbfa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8FB7913\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:19.7038355Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.7038355Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.7038355Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-0d214587-e59e-5b20-a651-4b442a4c5861</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-def0b11c-6842-0aec-500c-5764d2811d3c</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8ECBC93\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:19.6072595Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.6072595Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.6072595Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A8F7113C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:12:19.6749628Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.6749628Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.6749628Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-bd160b17-b11c-7a97-72af-c26f25b47644</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/test-file-def0b11c-6842-0aec-500c-5764d2811d3c?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90A8E82DD3\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:19.5773907Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.5773907Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.5773907Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-dcc46df0-ab72-d948-2c69-148da300cbfa</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/bar/test-file-bd160b17-b11c-7a97-72af-c26f25b47644?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90A8F17236\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:19.6381238Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.6381238Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.6381238Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/pik/test-file-dcc46df0-ab72-d948-2c69-148da300cbfa?sv=Sanitized&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90A8FB7913\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:12:19.7038355Z",
        "x-ms-file-creation-time": "2025-04-14T20:12:19.7038355Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:12:19.7038355Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7/destFolder/test-file-def0b11c-6842-0aec-500c-5764d2811d3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A9211B83\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:19.9504771Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7/destFolder/test-file-def0b11c-6842-0aec-500c-5764d2811d3c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/test-file-def0b11c-6842-0aec-500c-5764d2811d3c?sv=sanitized-value&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A9270848\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7/destFolder/bar/test-file-bd160b17-b11c-7a97-72af-c26f25b47644",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A927A3D4\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:19.9932884Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7/destFolder/pik/test-file-dcc46df0-ab72-d948-2c69-148da300cbfa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A929C454\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:12:20.0082231Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7/destFolder/bar/test-file-bd160b17-b11c-7a97-72af-c26f25b47644?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/bar/test-file-bd160b17-b11c-7a97-72af-c26f25b47644?sv=sanitized-value&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A92DB781\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:20 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7/destFolder/pik/test-file-dcc46df0-ab72-d948-2c69-148da300cbfa?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/pik/test-file-dcc46df0-ab72-d948-2c69-148da300cbfa?sv=sanitized-value&se=2025-04-15T20%3A12%3A28Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90A9332F9F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:20 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-0d214587-e59e-5b20-a651-4b442a4c5861</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-def0b11c-6842-0aec-500c-5764d2811d3c</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-bd160b17-b11c-7a97-72af-c26f25b47644</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-f69a7900-eaed-a1e9-1e7b-a41cf0088e02\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-dcc46df0-ab72-d948-2c69-148da300cbfa</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-bd160b17-b11c-7a97-72af-c26f25b47644</Name><VersionId>2025-04-14T20:12:19.9932884Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:12:19 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:12:20 GMT</Last-Modified><Etag>0x8DD7B90A92DB781</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-dcc46df0-ab72-d948-2c69-148da300cbfa</Name><VersionId>2025-04-14T20:12:20.0082231Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:12:20 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:12:20 GMT</Last-Modified><Etag>0x8DD7B90A9332F9F</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-M[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-0d486a7b-46bf-1634-aa9e-0e4cf1605bc7/destFolder/bar/test-file-bd160b17-b11c-7a97-72af-c26f25b47644",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:12:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B90A92DB781\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:12:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
[...]
