{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159AA50528\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159AAE2240\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159ACE21CA\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:15:52.9375178Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:52.9375178Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:15:52.9375178Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/test-file-848dc057-dfbc-ca05-c9ca-b940582bd6e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159AD6A3B8\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:15:52.9932728Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:52.9932728Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:15:52.9932728Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159AE890E6\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:15:53.1107558Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:53.1107558Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:15:53.1107558Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159AF112D0\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159AF9BBA2\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:15:53.2232610Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:53.2232610Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-03-07T01:15:53.2232610Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/pik/test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159B02B23B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:15:53.2820027Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:53.2820027Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-03-07T01:15:53.2820027Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder?sv=Sanitized&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3e238052-45f7-6da2-d2cb-8a728291888f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-848dc057-dfbc-ca05-c9ca-b940582bd6e9</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-9ac2679b-84d3-5648-66f3-4006d9de223b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/bar?sv=Sanitized&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3e238052-45f7-6da2-d2cb-8a728291888f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/test-file-848dc057-dfbc-ca05-c9ca-b940582bd6e9?sv=Sanitized&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D159AD6A3B8\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:15:52.9932728Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:52.9932728Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:15:52.9932728Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/pik?sv=Sanitized&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3e238052-45f7-6da2-d2cb-8a728291888f\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1?sv=Sanitized&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D159AF112D0\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/pik/test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa?sv=Sanitized&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D159B02B23B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:15:53.2820027Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:53.2820027Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-03-07T01:15:53.2820027Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/test-file-9ac2679b-84d3-5648-66f3-4006d9de223b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159B2F921E\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159B3420E5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/test-file-9ac2679b-84d3-5648-66f3-4006d9de223b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/test-file-9ac2679b-84d3-5648-66f3-4006d9de223b?sv=sanitized-value&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159B392456\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1?sv=sanitized-value&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159B3DD9FF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/pik/test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159B406F22\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/pik/test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/pik/test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa?sv=sanitized-value&se=2025-03-08T01%3A15%3A53Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D159B498CAE\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3e238052-45f7-6da2-d2cb-8a728291888f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-848dc057-dfbc-ca05-c9ca-b940582bd6e9</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-9ac2679b-84d3-5648-66f3-4006d9de223b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3e238052-45f7-6da2-d2cb-8a728291888f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-3e238052-45f7-6da2-d2cb-8a728291888f\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:15:53 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:15:53 GMT</Last-Modified><Etag>0x8DD5D159B3DD9FF</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-30efcc0d-cb24-06af-fbfe-23a5ce68d1aa</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:15:53 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:15:53 GMT</Last-Modified><Etag>0x8DD5D159B498CAE</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unl[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D159B3DD9FF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f/sourceFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D159AF112D0\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-creation-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:15:53.1665104Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45c1cb23-5fdf-b917-d01f-8fd9c8791cae/destFolder/bar/test-file-fcade0c3-1b9d-0e8e-f325-ca7a7a92afd1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D159B3DD9FF\"",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D159B3DD9FF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:15:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-m[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-3e238052-45f7-6da2-d2cb-8a728291888f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:15:55 GMT",
        "x-ms-delete-snapshots": "include",
[...]
