{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D340160219\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3401A2A26\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3401F843A\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:42:54.9429306Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:54.9429306Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:42:54.9429306Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/test-file-022eec73-3f9e-80e6-e6d2-d56ed300197e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D34023776C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:42:54.9688172Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:54.9688172Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:42:54.9688172Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3402C4729\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:42:55.0265641Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.0265641Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.0265641Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/bar/test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D340314A96\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:42:55.0594198Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.0594198Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.0594198Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3403564A5\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:42:55.0863013Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.0863013Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.0863013Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/pik/test-file-7115f03c-a829-2059-205e-5275b47c72b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D34039F367\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:42:55.1161703Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.1161703Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.1161703Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-00dd0986-e841-c65e-d578-0586bc52afeb</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-022eec73-3f9e-80e6-e6d2-d56ed300197e</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/bar?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3402C4729\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:42:55.0265641Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.0265641Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.0265641Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/pik?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3403564A5\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:42:55.0863013Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.0863013Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.0863013Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/bar?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/pik?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7115f03c-a829-2059-205e-5275b47c72b2</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/test-file-00dd0986-e841-c65e-d578-0586bc52afeb?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D340293D4D\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:42:55.0066509Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.0066509Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.0066509Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/bar/test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D340314A96\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:42:55.0594198Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.0594198Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.0594198Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac/destinationFolder/test-file-00dd0986-e841-c65e-d578-0586bc52afeb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3405324EB\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:42:55.2822742Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/pik/test-file-7115f03c-a829-2059-205e-5275b47c72b2?sv=Sanitized&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D34039F367\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:42:55.1161703Z",
        "x-ms-file-creation-time": "2025-07-17T01:42:55.1161703Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:42:55.1161703Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac/destinationFolder/bar/test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3405655AA\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:42:55.3021866Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac/destinationFolder/test-file-00dd0986-e841-c65e-d578-0586bc52afeb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/test-file-00dd0986-e841-c65e-d578-0586bc52afeb?sv=sanitized-value&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3405765E5\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac/destinationFolder/pik/test-file-7115f03c-a829-2059-205e-5275b47c72b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D34057B3A6\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:42:55.3111462Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac/destinationFolder/bar/test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/bar/test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5?sv=sanitized-value&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3405A6FC2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac/destinationFolder/pik/test-file-7115f03c-a829-2059-205e-5275b47c72b2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/pik/test-file-7115f03c-a829-2059-205e-5275b47c72b2?sv=sanitized-value&se=2025-07-18T01%3A42%3A55Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D3405C1B84\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-00dd0986-e841-c65e-d578-0586bc52afeb</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-022eec73-3f9e-80e6-e6d2-d56ed300197e</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-36b86ea7-e528-236d-95a8-d77c5a6c4e0a\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7115f03c-a829-2059-205e-5275b47c72b2</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5</Name><VersionId>2025-07-17T01:42:55.3021866Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 17 Jul 2025 01:42:55 GMT</Creation-Time><Last-Modified>Thu, 17 Jul 2025 01:42:55 GMT</Last-Modified><Etag>0x8DDC4D3405A6FC2</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-7115f03c-a829-2059-205e-5275b47c72b2</Name><VersionId>2025-07-17T01:42:55.3111462Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 17 Jul 2025 01:42:55 GMT</Creation-Time><Last-Modified>Thu, 17 Jul 2025 01:42:55 GMT</Last-Modified><Etag>0x8DDC4D3405C1B84</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Co[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-30cce5a7-9357-2da9-8baa-3c061b35a0ac/destinationFolder/bar/test-file-d11969ce-52dd-f411-ba40-10d67da5ffc5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D3405A6FC2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:42:55 GMT",
        "x-ms-blob-committed-block-count": "1",
[...]
