{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A4A41ABD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A4AE32A3\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A4B84089\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:16:09.5713417Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.5713417Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.5713417Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A4C1371F\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:16:09.6300831Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.6300831Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.6300831Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/test-file-0bd97e43-095b-c803-d2b7-276f01986931",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A4CA2DB4\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:16:09.6888244Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.6888244Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.6888244Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A4D34B39\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:16:09.7485625Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.7485625Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.7485625Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A4DC8F91\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder?sv=Sanitized&se=2025-03-08T01%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0?sv=Sanitized&se=2025-03-08T01%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5\" DirectoryPath=\"sourceFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-0bd97e43-095b-c803-d2b7-276f01986931</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/folder1?sv=Sanitized&se=2025-03-08T01%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5\" DirectoryPath=\"sourceFolder/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/test-file-0bd97e43-095b-c803-d2b7-276f01986931?sv=Sanitized&se=2025-03-08T01%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D15A4CA2DB4\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:16:09.6888244Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.6888244Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.6888244Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83?sv=Sanitized&se=2025-03-08T01%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D15A4DC8F91\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782/destFolder/folder0/test-file-0bd97e43-095b-c803-d2b7-276f01986931",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A50F904F\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782/destFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A516DB17\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782/destFolder/folder0/test-file-0bd97e43-095b-c803-d2b7-276f01986931?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/test-file-0bd97e43-095b-c803-d2b7-276f01986931?sv=sanitized-value&se=2025-03-08T01%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A518ADD2\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782/destFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83?sv=sanitized-value&se=2025-03-08T01%3A16%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D15A5209439\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5\" DirectoryPath=\"sourceFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-0bd97e43-095b-c803-d2b7-276f01986931</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5\" DirectoryPath=\"sourceFolder/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:16:10 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:16:10 GMT</Last-Modified><Etag>0x8DD5D15A5209439</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/folder0/test-file-0bd97e43-095b-c803-d2b7-276f01986931</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:16:10 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:16:10 GMT</Last-Modified><Etag>0x8DD5D15A518ADD2</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782/destFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D15A5209439\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5/sourceFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D15A4DC8F91\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-creation-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:16:09.8092945Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d17fd33f-708f-ed3b-0ae0-38efe233a782/destFolder/folder0/folder1/test-file-b61645ef-46f7-52b5-a802-6ecb6b8e7b83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D15A5209439\"",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D15A5209439\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:16:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-m[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-04f9f11d-7755-78ce-5fe0-ae2bf0b531c5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:16:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T17:16:09.8592129-08:00",
    "RandomSeed": "1321918543",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
