{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/assets?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=\"8a14c6ca-5550-48f9-9069-2f07d3ab3fd9\""
      },
      "RequestBody": [
        "--8a14c6ca-5550-48f9-9069-2f07d3ab3fd9\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=data\r\n",
        "\r\n",
        "{\"key\":\"test-asset-to-be-deleted\",\"href\":\"https://example.com/test-asset-to-delete.txt\",\"type\":\"text/plain\",\"roles\":[\"metadata\"],\"title\":\"Test Asset To Be Deleted\"}",
        "\r\n",
        "--8a14c6ca-5550-48f9-9069-2f07d3ab3fd9\r\n",
        "Content-Disposition: form-data; name=file; filename=test-asset-to-delete.txt; filename*=utf-8''test-asset-to-delete.txt\r\n",
        "\r\n",
        "b64:VGVzdCBhc3NldCBjb250ZW50IGZvciBkZWxldGlvbg==",
        "\r\n",
        "--8a14c6ca-5550-48f9-9069-2f07d3ab3fd9--\r\n"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip",
        "stac_version": "1.0.0",
        "description": "Replicated from Open Planetary Computer. Original description: The [National Agriculture Imagery Program](https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/) (NAIP) \nprovides U.S.-wide, high-resolution aerial imagery, with four spectral bands (R, G, B, IR). \nNAIP is administered by the [Aerial Field Photography Office](https://www.fsa.usda.gov/programs-and-services/aerial-photography/) (AFPO) \nwithin the [US Department of Agriculture](https://www.usda.gov/) (USDA). \nData are captured at least once every three years for each state. \nThis dataset represents NAIP data from 2010-present, in [cloud-optimized GeoTIFF](https://www.cogeo.org/) format.\nYou can visualize the coverage of current and past collections [here](https://naip-usdaonline.hub.arcgis.com/). \n",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip"
          }
        ],
        "stac_extensions": [
          "https://stac-extensions.github.io/item-assets/v1.0.0/schema.json",
          "https://stac-extensions.github.io/table/v1.2.0/schema.json"
        ],
        "item_assets": {
          "image": {
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile",
            "eo:bands": [
              {
                "name": "Red",
                "common_name": "red"
              },
              {
                "name": "Green",
                "common_name": "green"
              },
              {
                "name": "Blue",
                "common_name": "blue"
              },
              {
                "name": "NIR",
                "common_name": "nir",
                "description": "near-infrared"
              }
            ]
          },
          "metadata": {
            "type": "text/plain",
            "roles": [
              "metadata"
            ],
            "title": "FGDC Metdata"
          },
          "thumbnail": {
            "type": "image/jpeg",
            "roles": [
              "thumbnail"
            ],
            "title": "Thumbnail"
          }
        },
        "msft:_created": "2026-03-07T22:46:40.1697857Z",
        "msft:_updated": "2026-06-29T07:58:20.517764Z",
        "title": "NAIP: National Agriculture Imagery Program",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -124.784,
                24.744,
                -66.951,
                49.346
              ],
              [
                -156.003,
                19.059,
                -154.809,
                20.127
              ],
              [
                -67.316,
                17.871,
                -65.596,
                18.565
              ],
              [
                -64.94,
                17.622,
                -64.56,
                17.814
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2010-01-01T00:00:00Z",
                "2023-12-31T00:00:00Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "keywords": [
          "NAIP",
          "Aerial",
          "Imagery",
          "USDA",
          "AFPO",
          "Agriculture",
          "United States",
          "replicated",
          "open-planetary-computer"
        ],
        "providers": [
          {
            "name": "USDA Farm Service Agency",
            "roles": [
              "producer",
              "licensor"
            ],
            "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/"
          },
          {
            "name": "Esri",
            "roles": [
              "processor"
            ],
            "url": "https://www.esri.com/"
          },
          {
            "name": "Microsoft",
            "roles": [
              "host",
              "processor"
            ],
            "url": "https://planetarycomputer.microsoft.com"
          },
          {
            "name": "Open PC to MPC Pro Replicator",
            "description": "Replicated from Open Planetary Computer using collection replicator",
            "roles": [
              "processor"
            ]
          }
        ],
        "summaries": {
          "gsd": [
            0.3,
            0.6,
            1
          ],
          "eo:bands": [
            {
              "name": "Red",
              "common_name": "red",
              "description": "visible red"
            },
            {
              "name": "Green",
              "common_name": "green",
              "description": "visible green"
            },
            {
              "name": "Blue",
              "common_name": "blue",
              "description": "visible blue"
            },
            {
              "name": "NIR",
              "common_name": "nir",
              "description": "near-infrared"
            }
          ]
        },
        "assets": {
          "test-asset": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-bf48131e/collection-assets/test-asset/test-asset.txt",
            "type": "text/plain",
            "title": "Test Asset - Updated",
            "roles": [
              "metadata"
            ]
          },
          "test-asset-to-be-deleted": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-bf48131e/collection-assets/test-asset-to-be-deleted/test-asset-to-delete.txt",
            "type": "text/plain",
            "title": "Test Asset To Be Deleted",
            "roles": [
              "metadata"
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip/assets/test-asset-to-be-deleted?api-version=2026-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip",
 [...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "naip",
        "type": "Collection",
        "links": [
          {
     [...]
