{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/testlifecyclecol?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "testlifecyclecol",
        "type": "Collection",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/testlifecyclecol/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/testlifecyclecol"
          },
          {
            "rel": "http://www.opengis.net/def/rel/ogc/1.0/queryables",
            "type": "application/schema+json",
            "title": "Queryables",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/testlifecyclecol/queryables"
          }
        ],
        "title": "Test Collection",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -180,
                -90,
                180,
                90
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2018-01-01T00:00:00Z",
                "2018-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "CC-BY-4.0",
        "description": "Test collection",
        "stac_version": "1.0.0",
        "msft:_created": "2026-06-29T07:58:43.739638Z",
        "msft:_updated": "2026-06-29T07:58:43.739638Z"
      }
    },
[...]
