{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "connection1",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1",
            "type": "AzureOpenAI",
            "target": "https://Sanitized.azure.com/",
            "isDefault": true,
            "credentials": {
              "type": "ApiKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1",
              "ApiVersion": "2023-07-01-preview",
              "DeploymentApiVersion": "2023-10-01-preview"
            }
          },
          {
            "name": "connection1-app-insights",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1-app-insights",
            "type": "AppInsights",
            "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/microsoft.insights/components/Sanitized",
            "isDefault": true,
            "credentials": {
              "type": "ApiKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1"
            }
          },
          {
            "name": "connection1-byo-storage",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1-byo-storage",
            "type": "AzureStorageAccount",
            "target": "_",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus",
              "ContainerName": "1dptestcontainer",
              "AccountName": "balapvbyostoragecanary",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1"
            }
          },
          {
            "name": "balapvbinggroundingresponses",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/balapvbinggro[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.045"
      },
      "ResponseBody": {
        "name": "connection1",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1",
        "type": "AzureOpenAI",
        "target": "https://Sanitized.azure.com/",
        "isDefault": true,
        "credentials": {
          "type": "ApiKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1",
          "ApiVersion": "2023-07-01-preview",
          "DeploymentApiVersion": "2023-10-01-preview"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1-app-insights?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.043"
      },
      "ResponseBody": {
        "name": "connection1-app-insights",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1-app-insights",
        "type": "AppInsights",
        "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/microsoft.insights/components/Sanitized",
        "isDefault": true,
        "credentials": {
          "type": "ApiKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1-byo-storage?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "name": "connection1-byo-storage",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1-byo-storage",
        "type": "AzureStorageAccount",
        "target": "_",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus",
          "ContainerName": "1dptestcontainer",
          "AccountName": "balapvbyostoragecanary",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/balapvbinggroundingresponses?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": {
        "name": "balapvbinggroundingresponses",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/balapvbinggroundingresponses",
        "type": "ApiKey",
        "target": "https://Sanitized.azure.com/",
        "isDefault": true,
        "credentials": {
          "type": "ApiKey"
        },
        "metadata": {
          "type": "bing_grounding",
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Bing/accounts/balapv-bing-grounding-responses"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/balapvbyostoragecanary?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": {
        "name": "balapvbyostoragecanary",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/balapvbyostoragecanary",
        "type": "AzureStorageAccount",
        "target": "_",
        "isDefault": false,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/balapvbyostoragecanary"
        }
      }
    }
  ],
  "Variables": {}
}
