{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotationtracing-740/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotationtracing-740/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/keyrotationtracing-740/24deb166ed134d5c82d7b51d6cd04083",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0N7uaq9bpy4knYsy5HLpm2tBdspWLLFzOQAJ7Tzc2ib_ARmYtwwh_ra2WxGMtaCnXVJGbq19Et5JL9rStRfcBVWse9g_XkMmyppfCXFeFcfnJiZJfwru4nVt2neW2UV5B6JPDb7FFvWFeYqWVEig1UT_sKZ15lwvl8f7-1tWkEz4BGLzOIFCFHLQ8yNnO3vJSPel7-yTvvpRiHDw_3XN1xFzjhM5uI0naUfxSKnALuJ2aZ3KcpCNwq_rd3NElY-R8xXHrvCLAEAQDBw7lv3hMWNY9QzJOo7GGrsGxlLsNVQzRvbpLMJiSH-e2rTkrLl_neL00zErtCWKQOuKXxzq2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137572,
          "updated": 1777137572,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotationtracing-740/rotationpolicy?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P50D"
            },
            "action": {
              "type": "Rotate"
            }
          }
        ],
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P50D"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1777137573,
          "updated": 1777137573
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/keyrotationtracing-740/rotationpolicy?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "lifetimeActions": [
          {
            "trigger": {
              "timeAfterCreate": "P50D"
            },
            "action": {
              "type": "Rotate"
            }
          },
          {
            "trigger": {
              "timeBeforeExpiry": "P30D"
            },
            "action": {
              "type": "Notify"
            }
          }
        ],
        "attributes": {
          "created": 1777137573,
          "updated": 1777137573
        }
      }
    }
  ],
  "Variables": {
    "keyrotationtracing": "keyrotationtracing-740"
  }
}
