{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-889553b3-ed96-3461-2149-2ae3c039f8e6.testdomain.com": {
            "sipSignalingPort": 5555
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "R7\u002BwwT4jKECFx1BjS3tF\u002Bw.0",
        "X-Processing-Time": "1012ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-889553b3-ed96-3461-2149-2ae3c039f8e6.testdomain.com": {
            "sipSignalingPort": 5555
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:52:30 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Pjo8Lb3VWkiukqxCOWy2Yg.0",
        "X-Processing-Time": "302ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-889553b3-ed96-3461-2149-2ae3c039f8e6.testdomain.com": {
            "sipSignalingPort": 5555
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:52:31 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-889553b3-ed96-3461-2149-2ae3c039f8e6.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ye\u002BI/mw3Nk6oJCka4taR8A.0",
        "X-Processing-Time": "386ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1161956108"
  }
}
