{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/route/matrix/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": {
        "origins": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85106,
              52.36006
            ],
            [
              4.85056,
              52.36187
            ]
          ]
        },
        "destinations": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85003,
              52.36241
            ],
            [
              13.42937,
              52.50931
            ]
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://us.atlas.microsoft.com/route/matrix/e3005a97-fb2a-4f71-9d1e-7b9721beffd9?api-version=1.0",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.atlas.microsoft.com/route/matrix/e3005a97-fb2a-4f71-9d1e-7b9721beffd9?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "matrix": [
          [
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 494,
                  "travelTimeInSeconds": 120,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2024-08-07T05:42:41+02:00",
                  "arrivalTime": "2024-08-07T05:44:40+02:00"
                }
              }
            },
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 669495,
                  "travelTimeInSeconds": 22516,
                  "trafficDelayInSeconds": 408,
                  "trafficLengthInMeters": 32839,
                  "departureTime": "2024-08-07T05:42:41+02:00",
                  "arrivalTime": "2024-08-07T11:57:56+02:00[...]
