{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageMover/storageMovers?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "227acfe3-1431-4a7d-aa6b-c7736b02c0a4",
          "b8b6cbfe-4bb4-4307-bfd3-556db303d697",
          "a910aa29-f4cf-4def-a044-d0ab6f8c2f65",
          "3a6b4af0-c861-48f1-987f-42a43cce9864"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName",
            "name": "storageMoverName",
            "type": "microsoft.storagemover/storagemovers",
            "location": "eastus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-10-08T01:36:50.0507859Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-10-08T01:36:50.0507859Z"
            },
            "properties": {
              "description": "Example Storage Mover Description",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
