{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageMover/storageMovers?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "435207a1-8695-41cc-a956-75a0e027a267",
          "2d71cbb6-cb22-4a1c-80ff-0a1adbe54eb1",
          "0a242d46-8b8c-423f-b0d9-c976e7930026",
          "4007186e-778d-4e5d-bed9-4b202a087db2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName",
            "name": "storageMoverName",
            "type": "microsoft.storagemover/storagemovers",
            "location": "eastus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-07-14T01:55:08.9529975Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-07-14T01:55:08.9529975Z"
            },
            "properties": {
              "description": "Example Storage Mover Description",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
