{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1758790016387?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1758790016387",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lvjnW5gxmhrgOYpQ3yJTpv4usrQiyyz5AIGQk6yVn1o\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM3OTc=;sn=74013797"
      },
      "ResponseBody": {
        "etag": "lvjnW5gxmhrgOYpQ3yJTpv4usrQiyyz5AIGQk6yVn1o",
        "key": "key1-1758790016387",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758790016387?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM3OTc="
      },
      "RequestBody": {
        "key": "key2-1758790016387",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g_YvK3aoMorjHQ0h7sipKLzBNGNcHshxUIkedLd1jGc\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM4MDA=;sn=74013800"
      },
      "ResponseBody": {
        "etag": "g_YvK3aoMorjHQ0h7sipKLzBNGNcHshxUIkedLd1jGc",
        "key": "key2-1758790016387",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758790016387?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM4MDA="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1758790016387",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"t8o9sqLrmq8ZYlcR2sFwSjBsy9qxK6oTG1GJO74vJC0\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:59 GMT",
        "Link": "</kv?snapshot=snapshot-1758790016387&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1758790016387&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM4MDM=;sn=74013803"
      },
      "ResponseBody": {
        "etag": "t8o9sqLrmq8ZYlcR2sFwSjBsy9qxK6oTG1GJO74vJC0",
        "name": "snapshot-1758790016387",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1758790016387",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:46:59.3028583+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758790016387",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM4MDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM4MDU=;sn=74013805"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1758790016387?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM5MzA="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"WWNZV0954nOwRy2vvp1boMqvbewHYQnI8vyk2JLSECg\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:47:04 GMT",
        "Link": "</kv?snapshot=snapshot-1758790016387&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM5MzM=;sn=74013933"
      },
      "ResponseBody": {
        "etag": "WWNZV0954nOwRy2vvp1boMqvbewHYQnI8vyk2JLSECg",
        "name": "snapshot-1758790016387",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1758790016387",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-25T08:46:59+00:00",
        "expires": "2025-10-25T08:47:10.1721615+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1758790016387?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM5MzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g_YvK3aoMorjHQ0h7sipKLzBNGNcHshxUIkedLd1jGc\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:46:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM5Mzk=;sn=74013939"
      },
      "ResponseBody": {
        "etag": "g_YvK3aoMorjHQ0h7sipKLzBNGNcHshxUIkedLd1jGc",
        "key": "key2-1758790016387",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:46:59+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1758790016387",
    "key2": "key2-1758790016387",
    "snapshot1": "snapshot-1758790016387"
  }
}
