{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781047966831?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tHzGnAxH7gNfIu_fbFFYHeBSBK99R8U4aVonpBGD--8\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjE0MQ==;sn=53126141",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:49 GMT"
      },
      "ResponseBody": {
        "etag": "tHzGnAxH7gNfIu_fbFFYHeBSBK99R8U4aVonpBGD--8",
        "key": "key1-1781047966831",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781047966831?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjE0MQ=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i0dw7wm3P0uhO3Mv5cjkE-d3pp3JearWBt1RAl2ed5I\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjE0NA==;sn=53126144",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:49 GMT"
      },
      "ResponseBody": {
        "etag": "i0dw7wm3P0uhO3Mv5cjkE-d3pp3JearWBt1RAl2ed5I",
        "key": "key2-1781047966831",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781047966831?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjE0NA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781047966831",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"1UnIOypvHoOSf3-ZDZkPFTPZMj30Jfo6ifoQjumjJ2s\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:49 GMT",
        "Link": "</kv?snapshot=snapshot-1781047966831&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781047966831&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjE0Nw==;sn=53126147",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:49 GMT"
      },
      "ResponseBody": {
        "etag": "1UnIOypvHoOSf3-ZDZkPFTPZMj30Jfo6ifoQjumjJ2s",
        "name": "snapshot-1781047966831",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781047966831",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:32:49.2501476+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781047966831",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjE0Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjE0Nw==;sn=53126147",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:49 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781047966831?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjU0MQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Sh4iMsW5LvoWAAwQeF0YP8AEwV2ZGtYcuUjs6NUwyMA\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:56 GMT",
        "Link": "</kv?snapshot=snapshot-1781047966831&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU0Mg==;sn=53126542",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:59 GMT"
      },
      "ResponseBody": {
        "etag": "Sh4iMsW5LvoWAAwQeF0YP8AEwV2ZGtYcuUjs6NUwyMA",
        "name": "snapshot-1781047966831",
        "description": "a snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1781047966831",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:32:49+00:00",
        "expires": "2026-07-09T23:32:59.4327383+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781047966831?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNjU0Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i0dw7wm3P0uhO3Mv5cjkE-d3pp3JearWBt1RAl2ed5I\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:32:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNjU0NA==;sn=53126544",
        "x-ms-date": "Tue, 09 Jun 2026 23:32:59 GMT"
      },
      "ResponseBody": {
        "etag": "i0dw7wm3P0uhO3Mv5cjkE-d3pp3JearWBt1RAl2ed5I",
        "key": "key2-1781047966831",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:32:49+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781047966831",
    "key2": "key2-1781047966831",
    "snapshot1": "snapshot-1781047966831"
  }
}
