{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759424014625?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759424014625",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oaOlTTRB62CqDzCK5EM9-PXsI6KXOFcnAO5w2QZ4ox8\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5MjU=;sn=74232925"
      },
      "ResponseBody": {
        "etag": "oaOlTTRB62CqDzCK5EM9-PXsI6KXOFcnAO5w2QZ4ox8",
        "key": "key1-1759424014625",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759424014625?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5MjU="
      },
      "RequestBody": {
        "key": "key2-1759424014625",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PfoWCtSolO-_CC2J3uhThbTrjBFO6mOUKLlbaSmFp7o\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5Mjc=;sn=74232927"
      },
      "ResponseBody": {
        "etag": "PfoWCtSolO-_CC2J3uhThbTrjBFO6mOUKLlbaSmFp7o",
        "key": "key2-1759424014625",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759424014625?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5Mjc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1759424014625",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"iwiZnuDS2KFGjxQzbX7y3r4E4BXlvMiJYSJ8rbFxPr0\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:39 GMT",
        "Link": "</kv?snapshot=snapshot-1759424014625&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759424014625&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5MzA=;sn=74232930"
      },
      "ResponseBody": {
        "etag": "iwiZnuDS2KFGjxQzbX7y3r4E4BXlvMiJYSJ8rbFxPr0",
        "name": "snapshot-1759424014625",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1759424014625",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T16:53:39.0595034+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1759424014625&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5MzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5MzE=;sn=74232931"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759424014625?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5ODE="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"WXSaBJNcX_zz0V3c5SdJ-MG1Iwx3MdEDRvpChsJahag\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:58 GMT",
        "Link": "</kv?snapshot=snapshot-1759424014625&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5ODI=;sn=74232982"
      },
      "ResponseBody": {
        "etag": "WXSaBJNcX_zz0V3c5SdJ-MG1Iwx3MdEDRvpChsJahag",
        "name": "snapshot-1759424014625",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1759424014625",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T16:53:39+00:00",
        "expires": "2025-11-01T16:54:00.1965198+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759424014625?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5ODM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PfoWCtSolO-_CC2J3uhThbTrjBFO6mOUKLlbaSmFp7o\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5ODQ=;sn=74232984"
      },
      "ResponseBody": {
        "etag": "PfoWCtSolO-_CC2J3uhThbTrjBFO6mOUKLlbaSmFp7o",
        "key": "key2-1759424014625",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:38+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759424014625",
    "key2": "key2-1759424014625",
    "snapshot1": "snapshot-1759424014625"
  }
}
