{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762327480407?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762327480407",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-ByXBpaCz3AdK7U-ICE0npwYDcGdXSGi2C9NuayecVI\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:42 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNDE=;sn=75081041",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:42 GMT"
      },
      "ResponseBody": {
        "etag": "-ByXBpaCz3AdK7U-ICE0npwYDcGdXSGi2C9NuayecVI",
        "key": "key1-1762327480407",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:42+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762327480407?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNDE="
      },
      "RequestBody": {
        "key": "key2-1762327480407",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qY1LdhnGIgqBv6xQI_DlsPdXpDWLM6d566--HUv6k3U\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:43 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNDI=;sn=75081042",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:43 GMT"
      },
      "ResponseBody": {
        "etag": "qY1LdhnGIgqBv6xQI_DlsPdXpDWLM6d566--HUv6k3U",
        "key": "key2-1762327480407",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762327480407?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNDI="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762327480407",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"UcmLkUm3g8lLt7_s_XimLAIa_Wki3j-1BD9o1MpMZqE\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:43 GMT",
        "Link": "</kv?snapshot=snapshot-1762327480407&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762327480407&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNDM=;sn=75081043",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:43 GMT"
      },
      "ResponseBody": {
        "etag": "UcmLkUm3g8lLt7_s_XimLAIa_Wki3j-1BD9o1MpMZqE",
        "name": "snapshot-1762327480407",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762327480407",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:24:43.2882418+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762327480407",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNDM=;sn=75081043",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:43 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762327480407?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNzQ="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"5_IvFPVEhZ51JtBIUfyAwnsQXM39QQxCp5XBPAPoU6o\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:50 GMT",
        "Link": "</kv?snapshot=snapshot-1762327480407&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwNzY=;sn=75081076",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:54 GMT"
      },
      "ResponseBody": {
        "etag": "5_IvFPVEhZ51JtBIUfyAwnsQXM39QQxCp5XBPAPoU6o",
        "name": "snapshot-1762327480407",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762327480407",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:24:43+00:00",
        "expires": "2025-12-05T07:24:54.2101284+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762327480407?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEwNzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qY1LdhnGIgqBv6xQI_DlsPdXpDWLM6d566--HUv6k3U\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:43 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEwODA=;sn=75081080",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:54 GMT"
      },
      "ResponseBody": {
        "etag": "qY1LdhnGIgqBv6xQI_DlsPdXpDWLM6d566--HUv6k3U",
        "key": "key2-1762327480407",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:43+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762327480407",
    "key2": "key2-1762327480407",
    "snapshot1": "snapshot-1762327480407"
  }
}
