{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1769396306772?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1769396306772",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YlgkvUip1BYaoG0bs45BnzvAN5vcBNW8RRphZIOrXws\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQ2MA==;sn=103846460",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:29 GMT"
      },
      "ResponseBody": {
        "etag": "YlgkvUip1BYaoG0bs45BnzvAN5vcBNW8RRphZIOrXws",
        "key": "key1-1769396306772",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396306772?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjQ2MA=="
      },
      "RequestBody": {
        "key": "key2-1769396306772",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"POZcJWixUn8-TxrawHF1GP_7OoTHe9MkzLAIY1bAPaQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQ2Mw==;sn=103846463",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:29 GMT"
      },
      "ResponseBody": {
        "etag": "POZcJWixUn8-TxrawHF1GP_7OoTHe9MkzLAIY1bAPaQ",
        "key": "key2-1769396306772",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396306772?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjQ2Mw=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1769396306772",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"JzbmFtejM2sKYOQG_k2PtnQ155Od3mZh2XHK8P4rurU\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:29 GMT",
        "Link": "</kv?snapshot=snapshot-1769396306772&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1769396306772&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQ2Ng==;sn=103846466",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:29 GMT"
      },
      "ResponseBody": {
        "etag": "JzbmFtejM2sKYOQG_k2PtnQ155Od3mZh2XHK8P4rurU",
        "name": "snapshot-1769396306772",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1769396306772",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T02:58:29.917991+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1769396306772",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjQ2Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjQ2OA==;sn=103846468",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:30 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769396306772?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjYzOQ=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"8cnrj_usTgHjubICFAxHcptLXCymnYOcp8vTgrjWWDo\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:39 GMT",
        "Link": "</kv?snapshot=snapshot-1769396306772&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjY0Mg==;sn=103846642",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:40 GMT"
      },
      "ResponseBody": {
        "etag": "8cnrj_usTgHjubICFAxHcptLXCymnYOcp8vTgrjWWDo",
        "name": "snapshot-1769396306772",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1769396306772",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T02:58:29+00:00",
        "expires": "2026-02-25T02:58:40.5803991+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769396306772?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjY0NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"POZcJWixUn8-TxrawHF1GP_7OoTHe9MkzLAIY1bAPaQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:58:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjY0NQ==;sn=103846645",
        "x-ms-date": "Mon, 26 Jan 2026 02:58:40 GMT"
      },
      "ResponseBody": {
        "etag": "POZcJWixUn8-TxrawHF1GP_7OoTHe9MkzLAIY1bAPaQ",
        "key": "key2-1769396306772",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T02:58:29+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1769396306772",
    "key2": "key2-1769396306772",
    "snapshot1": "snapshot-1769396306772"
  }
}
