{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1716930382819?api-version=2023-10-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1716930382819",
        "label": "label1",
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"29SkRa4oqcjNALcVdkwySwBnA_73Ic4NJj6_AwZp3fw\"",
        "Last-Modified": "Tue, 28 May 2024 21:06:23 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4MjU=;sn=2611825"
      },
      "ResponseBody": {
        "etag": "29SkRa4oqcjNALcVdkwySwBnA_73Ic4NJj6_AwZp3fw",
        "key": "key1-1716930382819",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:06:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1716930382819?api-version=2023-10-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4MjU="
      },
      "RequestBody": {
        "key": "key2-1716930382819",
        "label": "label2",
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dt-GV7wG4kw23pWgxNY48DWZH-megJOwDOkb85zvUow\"",
        "Last-Modified": "Tue, 28 May 2024 21:06:23 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4MjY=;sn=2611826"
      },
      "ResponseBody": {
        "etag": "Dt-GV7wG4kw23pWgxNY48DWZH-megJOwDOkb85zvUow",
        "key": "key2-1716930382819",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:06:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1716930382819?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4MjY="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1716930382819",
            "label": "label1"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"aYiChavkkOs1IWtgHrtem3Zng1__2bXymPF30-b5t0E\"",
        "Last-Modified": "Tue, 28 May 2024 21:06:23 GMT",
        "Link": "</kv?snapshot=snapshot-1716930382819&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1716930382819&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4Mjc=;sn=2611827"
      },
      "ResponseBody": {
        "etag": "aYiChavkkOs1IWtgHrtem3Zng1__2bXymPF30-b5t0E",
        "name": "snapshot-1716930382819",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1716930382819",
            "label": "label1"
          }
        ],
        "composition_type": "key",
        "created": "2024-05-28T21:06:23+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1716930382819&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4Mjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4Mjc=;sn=2611827"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1716930382819?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4Mjg="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"wQvRo8eI_m3HAFMgv6xvXA8bDxt6roxF7YNToCvMIgY\"",
        "Last-Modified": "Tue, 28 May 2024 21:06:23 GMT",
        "Link": "</kv?snapshot=snapshot-1716930382819&api-version=2023-10-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4Mjk=;sn=2611829"
      },
      "ResponseBody": {
        "etag": "wQvRo8eI_m3HAFMgv6xvXA8bDxt6roxF7YNToCvMIgY",
        "name": "snapshot-1716930382819",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1716930382819",
            "label": "label1"
          }
        ],
        "composition_type": "key",
        "created": "2024-05-28T21:06:23+00:00",
        "expires": "2024-06-27T21:06:53.6571161+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1716930382819?api-version=2023-10-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4MzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dt-GV7wG4kw23pWgxNY48DWZH-megJOwDOkb85zvUow\"",
        "Last-Modified": "Tue, 28 May 2024 21:06:23 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4MzE=;sn=2611831"
      },
      "ResponseBody": {
        "etag": "Dt-GV7wG4kw23pWgxNY48DWZH-megJOwDOkb85zvUow",
        "key": "key2-1716930382819",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:06:23+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1716930382819",
    "key2": "key2-1716930382819",
    "snapshot1": "snapshot-1716930382819"
  }
}
