{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762282737086?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762282737086",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8tEeMwpDyIptZRW764s4oNlFC8m-dsVegDl_eN_ISqg\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE4MTc=;sn=75061817",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:59 GMT"
      },
      "ResponseBody": {
        "etag": "8tEeMwpDyIptZRW764s4oNlFC8m-dsVegDl_eN_ISqg",
        "key": "key1-1762282737086",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762282737086?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE4MTc="
      },
      "RequestBody": {
        "key": "key2-1762282737086",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UdYIAUPaTI4X57S-O2ZtyhPtKC1U8DXruyHEvm3jA_o\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE4MTg=;sn=75061818",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:59 GMT"
      },
      "ResponseBody": {
        "etag": "UdYIAUPaTI4X57S-O2ZtyhPtKC1U8DXruyHEvm3jA_o",
        "key": "key2-1762282737086",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762282737086?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE4MTg="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762282737086",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"sVfhAgMkhICxo9Cz_9u1V37v_1P2R9nkvpknoXUP40w\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:59 GMT",
        "Link": "</kv?snapshot=snapshot-1762282737086&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762282737086&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE4MTk=;sn=75061819",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:59 GMT"
      },
      "ResponseBody": {
        "etag": "sVfhAgMkhICxo9Cz_9u1V37v_1P2R9nkvpknoXUP40w",
        "name": "snapshot-1762282737086",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762282737086",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:58:59.7876758+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762282737086",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE4MTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE4MTk=;sn=75061819",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:59 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762282737086?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE4ODQ="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xVJ1Auw4VlzXY1eFt0LyrDTJ694SrVjqJwcRcieiQ0E\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:59:17 GMT",
        "Link": "</kv?snapshot=snapshot-1762282737086&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE4ODc=;sn=75061887",
        "x-ms-date": "Tue, 04 Nov 2025 18:59:20 GMT"
      },
      "ResponseBody": {
        "etag": "xVJ1Auw4VlzXY1eFt0LyrDTJ694SrVjqJwcRcieiQ0E",
        "name": "snapshot-1762282737086",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762282737086",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:58:59+00:00",
        "expires": "2025-12-04T18:59:20.8749918+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762282737086?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE4OTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UdYIAUPaTI4X57S-O2ZtyhPtKC1U8DXruyHEvm3jA_o\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE4OTM=;sn=75061893",
        "x-ms-date": "Tue, 04 Nov 2025 18:59:21 GMT"
      },
      "ResponseBody": {
        "etag": "UdYIAUPaTI4X57S-O2ZtyhPtKC1U8DXruyHEvm3jA_o",
        "key": "key2-1762282737086",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:59+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762282737086",
    "key2": "key2-1762282737086",
    "snapshot1": "snapshot-1762282737086"
  }
}
