{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster0603/firewallRules/testfilerule?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster0603/firewallRules/testfilerule",
        "name": "testfilerule",
        "type": "Microsoft.DocumentDB/mongoClusters/firewallRules",
        "systemData": {},
        "properties": {
          "provisioningState": "Succeeded",
          "startIpAddress": "0.0.0.0",
          "endIpAddress": "255.255.255.255"
        }
      }
    }
  ],
  "Variables": {}
}
