{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster",
            "name": "testmongocluster",
            "type": "Microsoft.DocumentDB/mongoClusters",
            "tags": {},
            "location": "eastus",
            "systemData": {
              "createdAt": "2024-08-29T02:42:50.9947914Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-08-29T02:42:50.9947914Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "clusterStatus": "Ready",
              "administrator": {
                "userName": "Sanitized"
              },
              "serverVersion": "5.0",
              "compute": {
                "tier": "M30"
              },
              "storage": {
                "sizeGb": 128
              },
              "sharding": {
                "shardCount": 1
              },
              "highAvailability": {
                "targetMode": "Disabled"
              },
              "connectionString": "Sanitized",
              "backup": {},
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Enabled",
              "infrastructureVersion": "1.0"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
