{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1/privateEndpointConnections/testPEC.a5cde8bf-8144-4ba5-98a3-0498ebd88d26?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "testPEC.a5cde8bf-8144-4ba5-98a3-0498ebd88d26",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1/privateEndpointConnections/testPEC.a5cde8bf-8144-4ba5-98a3-0498ebd88d26",
        "type": "Microsoft.DocumentDB/mongoClusters/privateEndpointConnections",
        "systemData": {
          "createdAt": "2024-08-29T02:54:52.7566358Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-08-29T02:54:52.7566358Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpoint": {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/privateEndpoints/testPEC"
          },
          "groupIds": [
            "MongoCluster"
          ],
          "privateLinkServiceConnectionState": {
            "status": "Rejected",
            "description": null,
            "actionsRequired": "None"
          }
        }
      }
    }
  ],
  "Variables": {}
}
