{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster",
        "name": "testmongocluster",
        "type": "Microsoft.DocumentDB/mongoClusters",
        "tags": {},
        "location": "eastus",
        "systemData": {
          "createdAt": "2024-07-11T05:57:47.9716187Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-07-11T05:57:47.9716187Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterStatus": "Ready",
          "administratorLogin": "mongoAdmin",
          "serverVersion": "5.0",
          "nodeGroupSpecs": [
            {
              "name": "",
              "kind": "Shard",
              "sku": "M30",
              "diskSizeGB": 128,
              "enableHa": true,
              "nodeCount": 1
            }
          ],
          "connectionString": "Sanitized",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "infrastructureVersion": "1.0"
        }
      }
    }
  ],
  "Variables": {}
}
