{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1/privateEndpointConnections/testPEC.a6e42523-47aa-45cf-bfb2-837e71decd88?api-version=2024-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "name": "testPEC.a6e42523-47aa-45cf-bfb2-837e71decd88",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1/privateEndpointConnections/testPEC.a6e42523-47aa-45cf-bfb2-837e71decd88",
        "type": "Microsoft.DocumentDB/mongoClusters/privateEndpointConnections",
        "systemData": {
          "createdAt": "2024-09-18T08:42:04.3275333Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-09-18T08:42:04.3275333Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpoint": {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/privateEndpoints/testPEC"
          },
          "groupIds": [
            "MongoCluster"
          ],
          "privateLinkServiceConnectionState": {
            "status": "Rejected",
            "description": null,
            "actionsRequired": "None"
          }
        }
      }
    }
  ],
  "Variables": {}
}
