{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1",
            "name": "resourcetest1",
            "type": "Microsoft.DocumentDB/mongoClusters",
            "tags": {},
            "location": "eastus",
            "systemData": {
              "createdAt": "2024-06-18T09:33:25.64331Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-06-18T09:33:25.64331Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "clusterStatus": "Ready",
              "administratorLogin": "mongoAdmin",
              "serverVersion": "5.0",
              "nodeGroupSpecs": [
                {
                  "name": "",
                  "kind": "Shard",
                  "sku": "M30",
                  "diskSizeGB": 128,
                  "enableHa": true,
                  "nodeCount": 1
                }
              ],
              "connectionString": "Sanitized",
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Enabled"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
