{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxMwEwMWRiYTRkMzgxNzIxYjQ1",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser0"
          },
          {
            "TableName": "ListTableTestbrowser1"
          },
          {
            "TableName": "ListTableTestbrowser10"
          },
          {
            "TableName": "ListTableTestbrowser11"
          },
          {
            "TableName": "ListTableTestbrowser12"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxMwEwMWRiYTRkMzgxNzIxYjQ1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxOAEwMWRiYTRkMzgxOGM1NWY0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser13"
          },
          {
            "TableName": "ListTableTestbrowser14"
          },
          {
            "TableName": "ListTableTestbrowser15"
          },
          {
            "TableName": "ListTableTestbrowser16"
          },
          {
            "TableName": "ListTableTestbrowser17"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxOAEwMWRiYTRkMzgxOGM1NWY0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!bGlzdHRhYmxldGVzdGJyb3dzZXI1ATAxZGJhNGQzODE0N2RkNzk-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser18"
          },
          {
            "TableName": "ListTableTestbrowser19"
          },
          {
            "TableName": "ListTableTestbrowser2"
          },
          {
            "TableName": "ListTableTestbrowser3"
          },
          {
            "TableName": "ListTableTestbrowser4"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!52!bGlzdHRhYmxldGVzdGJyb3dzZXI1ATAxZGJhNGQzODE0N2RkNzk-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!44!bWFudWFsbGlzdGJ5cGFnZQEwMWRiYTRiY2FhMmUxNzA4",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser5"
          },
          {
            "TableName": "ListTableTestbrowser6"
          },
          {
            "TableName": "ListTableTestbrowser7"
          },
          {
            "TableName": "ListTableTestbrowser8"
          },
          {
            "TableName": "ListTableTestbrowser9"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z&spr=https&sig=fakesigval&$top=5&NextTableName=1!44!bWFudWFsbGlzdGJ5cGFnZQEwMWRiYTRiY2FhMmUxNzA4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "dataserviceversion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "manualListByPage"
          },
          {
            "TableName": "SpecialCharacterTestNode"
          },
          {
            "TableName": "SpecialCharacterTestNodeBatch"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
