{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "DataFactory-5845",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-09T04:16:13.7678513Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u0022470214c1-0000-0800-0000-654c5d0d0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845/pipelines/pipeline-4320?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845/pipelines/pipeline-4320",
        "name": "pipeline-4320",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "40000408-0000-0800-0000-654c5d110000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845/triggers/trigger-9684?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-4320"
              }
            }
          ],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Month",
              "interval": 1,
              "startTime": "2017-04-14T13:00:00.0000000Z",
              "endTime": "2018-04-14T13:00:00.0000000Z",
              "timeZone": "UTC"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845/triggers/trigger-9684",
        "name": "trigger-9684",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-4320"
              }
            }
          ],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Month",
              "interval": 1,
              "startTime": "2017-04-14T13:00:00Z",
              "endTime": "2018-04-14T13:00:00Z",
              "timeZone": "UTC"
            }
          },
          "runtimeState": "Stopped"
        },
        "etag": "40000808-0000-0800-0000-654c5d120000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845/triggers/trigger-9684?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The document could not be retrieved because it does not exist.",
          "target": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-533/providers/Microsoft.DataFactory/factories/datafactory-5845/triggers/trigger-9684",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "698842806",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
