{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7442/providers/Microsoft.DataFactory/factories/datafactory-6370?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "name": "DataFactory-6370",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7442/providers/Microsoft.DataFactory/factories/datafactory-6370",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:29:39.8229118Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u0022f2019991-0000-0800-0000-6549cb430000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7442/providers/Microsoft.DataFactory/factories/datafactory-6370/pipelines/pipeline-5795?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7442/providers/Microsoft.DataFactory/factories/datafactory-6370/pipelines/pipeline-5795",
        "name": "pipeline-5795",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "eb0102c0-0000-0800-0000-6549cb4f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7442/providers/Microsoft.DataFactory/factories/datafactory-6370/triggers/trigger-351?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-5795"
              }
            }
          ],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Month",
              "interval": 1,
              "startTime": "2017-04-14T13:00:00.0000000Z",
              "endTime": "2018-04-14T13:00:00.0000000Z",
              "timeZone": "UTC"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7442/providers/Microsoft.DataFactory/factories/datafactory-6370/triggers/trigger-351",
        "name": "trigger-351",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-5795"
              }
            }
          ],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Month",
              "interval": 1,
              "startTime": "2017-04-14T13:00:00Z",
              "endTime": "2018-04-14T13:00:00Z",
              "timeZone": "UTC"
            }
          },
          "runtimeState": "Stopped"
        },
        "etag": "eb010dc0-0000-0800-0000-6549cb500000"
      }
    },
[...]
