{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "name": "DataFactory-8129",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-09T04:17:46.9896103Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u002247022ace-0000-0800-0000-654c5d6b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/pipelines/pipeline-1104?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/pipelines/pipeline-1104",
        "name": "pipeline-1104",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "880054e5-0000-0800-0000-654c5d780000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/triggers/trigger-7629?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-1104"
              }
            }
          ],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Month",
              "interval": 1,
              "startTime": "2017-04-14T13:00:00.0000000Z",
              "endTime": "2018-04-14T13:00:00.0000000Z",
              "timeZone": "UTC"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/triggers/trigger-7629",
        "name": "trigger-7629",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-1104"
              }
            }
          ],
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {
              "frequency": "Month",
              "interval": 1,
              "startTime": "2017-04-14T13:00:00Z",
              "endTime": "2018-04-14T13:00:00Z",
              "timeZone": "UTC"
            }
          },
          "runtimeState": "Stopped"
        },
        "etag": "880057e5-0000-0800-0000-654c5d790000"
      }
    },
[...]
