{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "name": "DataFactory-8129",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-09T04:17:46.9896103Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u002247022ace-0000-0800-0000-654c5d6b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/pipelines/pipeline-6511?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/pipelines/pipeline-6511",
        "name": "pipeline-6511",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "88006fe5-0000-0800-0000-654c5d800000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/linkedservices/linkedService_6439?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/linkedservices/linkedService_6439",
        "name": "linkedService_6439",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEM0REUwREQwLUZEQUQtNEZCMy1CQ0ZELTVFMDc4QjM3N0RBOV9jMTNjNzdkMC03MzM1LTRjODgtODM3Yi0zZjgwYjY2MmVkYzkiDQp9"
          }
        },
        "etag": "880079e5-0000-0800-0000-654c5d820000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/triggers/trigger-1724?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipelines": [
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-6511"
              },
              "parameters": {
                "mySinkDatasetFolderPath": "blobtriggertestoutput",
                "mySourceDatasetFolderPath": {
                  "type": "Expression",
                  "value": "@split(triggerBody().path, \u0027/\u0027)[1]"
                },
                "mySourceDatasetFilePath": {
                  "type": "Expression",
                  "value": "@split(triggerBody().path, \u0027/\u0027)[2]"
                }
              }
            },
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-2728"
              }
            },
            {
              "pipelineReference": {
                "type": "PipelineReference",
                "referenceName": "pipeline-8273"
              }
            }
          ],
          "type": "BlobTrigger",
          "typeProperties": {
            "folderPath": "blobtriggertestpath",
            "maxConcurrency": 10,
            "linkedService": {
              "type": "LinkedServiceReference",
              "referenceName": "linkedService_6439"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/d[...]
