{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "name": "DataFactory-3008",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T03:58:25.5111516Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u0022a701e742-0000-0800-0000-654712e10000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008/pipelines/pipeline-8531?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1156"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008/pipelines/pipeline-8531",
        "name": "pipeline-8531",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "32011f5e-0000-0800-0000-654713200000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008/triggers/trigger-3376?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-8531"
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Hour",
            "interval": 12,
            "startTime": "2023-10-31T00:00:00.0000000Z",
            "maxConcurrency": 50
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1155"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008/triggers/trigger-3376",
        "name": "trigger-3376",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-8531"
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Hour",
            "interval": 12,
            "startTime": "2023-10-31T00:00:00Z",
            "maxConcurrency": 50
          },
          "runtimeState": "Stopped"
        },
        "etag": "3201265e-0000-0800-0000-654713200000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008/triggers/trigger-3376/start?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8846/providers/Microsoft.DataFactory/factories/datafactory-3008/queryTriggerRuns?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lastUpdatedAfter": "2017-04-14T13:00:00.0000000Z",
        "lastUpdatedBefore": "2030-04-14T13:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "value": [
          {
            "triggerName": "trigger-8492",
            "triggerRunId": "08585024501519511653488852004CU15",
            "triggerType": "TumblingWindowTrigger",
            "triggerRunTimestamp": "2023-11-05T03:58:53.5362621Z",
            "status": "Succeeded",
            "message": null,
            "properties": {
              "TriggerTime": "11/05/2023 03:58:53",
              "windowStartTime": "10/31/2023 00:00:00",
              "windowEndTime": "10/31/2023 12:00:00"
            },
            "triggeredPipelines": {
              "pipeline-5659": "f99082da-3047-4a76-9424-9714dec4e77c"
            },
            "groupId": "08585024501519511653488852004CU15",
            "dependencyStatus": {}
          },
          {
            "triggerName": "trigger-8492",
            "triggerRunId": "08585024501518477719259391871CU15",
            "triggerType": "TumblingWindowTrigger",
            "triggerRunTimestamp": "2023-11-05T03:58:53.659589Z",
            "status": "Succeeded",
            "message": null,
            "properties": {
              "TriggerTime": "11/05/2023 03:58:53",
              "windowStartTime": "10/31/2023 12:00:00",
              "windowEndTime": "11/01/2023 00[...]
