{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11936"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-3828?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1008"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828",
        "name": "adf-rg-3828",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1007"
      },
      "ResponseBody": {
        "name": "adf-5986",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-22T06:56:48.5716189Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00226c04a3ad-0000-0800-0000-655da6300000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986/pipelines/pipeline-2542?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1006"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986/pipelines/pipeline-2542",
        "name": "pipeline-2542",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "68009f9b-0000-0800-0000-655da6310000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986/linkedservices/linkedService_5984?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1003"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986/linkedservices/linkedService_5984",
        "name": "linkedService_5984",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDM4NzkxQTc2LUM3RjYtNEU0NC1CMjg2LUNERjk3ODJFNjdEQ19kZWYyMGRiNS05YzZmLTRhYjYtODgxNS03MWY2YmYzMzBhODQiDQp9"
          }
        },
        "etag": "6800a89b-0000-0800-0000-655da6330000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986/triggers/trigger-7270?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-2542"
            },
            "parameters": {
              "windowStart": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowStartTime}"
              },
              "windowEnd": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowEndTime}"
              }
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Month",
            "interval": 3,
            "startTime": "2017-04-14T13:00:00.0000000Z",
            "delay": "00:00:01",
            "maxConcurrency": 10,
            "retryPolicy": {
              "count": 3,
              "intervalInSeconds": 30
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1002"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-3828/providers/Microsoft.DataFactory/factories/adf-5986/triggers/trigger-7270",
        "name": "trigger-7270",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-2542"
            },
            "parameters": {
              "windowStart": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowStartTime}"
              },
              "windowEnd": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowEndTime}"
              }
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Month",
            "interval": 3,
            "startTime": "2017-04-14T13:00:00Z",
            "delay": "00:00:01",
            "maxConcurrency": 10,
            "retryPolicy": {
              "count": 3,
              "intervalInSeconds": 30
            }
          },
          "runtimeState": "Stopped"
        },
        "etag": "6800aa9b-0000-0800-0000-655da6330000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "689065336",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
