{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11582"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-1247?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "146"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247",
        "name": "adf-rg-1247",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "145"
      },
      "ResponseBody": {
        "name": "adf-7586",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:16:11.2554404Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e042bdb-0000-0800-0000-655f266b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/pipelines/pipeline-6752?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "144"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/pipelines/pipeline-6752",
        "name": "pipeline-6752",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "0400ed06-0000-0800-0000-655f266b0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/pipelines/pipeline-173?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "142"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/pipelines/pipeline-173",
        "name": "pipeline-173",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "0400f306-0000-0800-0000-655f266c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/linkedservices/linkedService_813?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "141"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/linkedservices/linkedService_813",
        "name": "linkedService_813",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ1MDVERURGLTkyOUQtNEVBOC04MjNELUIzOTFFODY4RTAxNl82MmNhYjNhMy1kZTY2LTQwNTMtYjMzZi1iY2ZkMGQ1Y2I1ZjMiDQp9"
          }
        },
        "etag": "0400f606-0000-0800-0000-655f266c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/triggers/trigger-2754?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-6752"
            },
            "parameters": {
              "windowStart": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowStartTime}"
              },
              "windowEnd": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowEndTime}"
              }
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Hour",
            "interval": 3,
            "startTime": "2017-04-14T13:00:00.0000000Z",
            "delay": "00:00:01",
            "maxConcurrency": 10,
            "retryPolicy": {
              "count": 3,
              "intervalInSeconds": 30
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "140"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-1247/providers/Microsoft.DataFactory/factories/adf-7586/triggers/trigger-2754",
        "name": "trigger-2754",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-6752"
            },
            "parameters": {
              "windowStart": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowStartTime}"
              },
              "windowEnd": {
                "type": "Expression",
                "value": "@{trigger().outputs.windowEndTime}"
              }
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Hour",
            "interval": 3,
            "startTime": "2017-04-14T13:00:00Z",
            "delay": "00:00:01",
            "maxConcurrency": 10,
            "retryPolicy": {
              "count": 3,
              "intervalInSeconds": 30
            }
          },
          "runtimeState": "Stopped"
        },
        "etag": "0400f806-0000-0800-0000-655f266c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "979766848",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
