{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "name": "DataFactory-8129",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-09T04:17:46.9896103Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          }
        },
        "eTag": "\u002247022ace-0000-0800-0000-654c5d6b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/triggers/trigger-7568?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CustomEventsTrigger",
          "typeProperties": {
            "subjectBeginsWith": "B",
            "subjectEndsWith": "E",
            "events": [
              "Microsoft.Storage.BlobCreated",
              "123"
            ],
            "scope": "/subscriptions/b371d9e7-d3c2-4b1a-83ec-84e1f50c2222"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5663/providers/Microsoft.DataFactory/factories/datafactory-8129/triggers/trigger-7568",
        "name": "trigger-7568",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "type": "CustomEventsTrigger",
          "typeProperties": {
            "subjectBeginsWith": "B",
            "subjectEndsWith": "E",
            "events": [
              "Microsoft.Storage.BlobCreated",
              "123"
            ],
            "scope": "/subscriptions/b371d9e7-d3c2-4b1a-83ec-84e1f50c2222"
          },
          "runtimeState": "Stopped"
        },
        "etag": "88008ee5-0000-0800-0000-654c5d860000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "534425316",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
