{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11941"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-7121?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1028"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121",
        "name": "adf-rg-7121",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1027"
      },
      "ResponseBody": {
        "name": "adf-7993",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-22T06:56:19.8626292Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00226c04c0aa-0000-0800-0000-655da6130000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993/pipelines/pipeline-5843?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1026"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993/pipelines/pipeline-5843",
        "name": "pipeline-5843",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {},
        "etag": "ab10cf7e-0000-0800-0000-655da6140000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993/triggers/trigger-9385?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-5843"
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Hour",
            "interval": 12,
            "startTime": "2023-10-31T00:00:00.0000000Z",
            "maxConcurrency": 50
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1025"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993/triggers/trigger-9385",
        "name": "trigger-9385",
        "type": "Microsoft.DataFactory/factories/triggers",
        "properties": {
          "pipeline": {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pipeline-5843"
            }
          },
          "type": "TumblingWindowTrigger",
          "typeProperties": {
            "frequency": "Hour",
            "interval": 12,
            "startTime": "2023-10-31T00:00:00Z",
            "maxConcurrency": 50
          },
          "runtimeState": "Stopped"
        },
        "etag": "ab10dd7e-0000-0800-0000-655da6150000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993/triggers/trigger-9385/start?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-7121/providers/Microsoft.DataFactory/factories/adf-7993/queryTriggerRuns?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lastUpdatedAfter": "2017-04-14T13:00:00.0000000Z",
        "lastUpdatedBefore": "2030-04-14T13:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "value": [
          {
            "triggerName": "trigger-9385",
            "triggerRunId": "08585009707018112289154501817CU14",
            "triggerType": "TumblingWindowTrigger",
            "triggerRunTimestamp": "2023-11-22T06:56:23.6760122Z",
            "status": "Waiting",
            "message": null,
            "properties": {
              "TriggerTime": "11/22/2023 06:56:23",
              "windowStartTime": "10/31/2023 00:00:00",
              "windowEndTime": "10/31/2023 12:00:00"
            },
            "triggeredPipelines": {},
            "groupId": "08585009707018112289154501817CU14",
            "dependencyStatus": {}
          },
          {
            "triggerName": "trigger-9385",
            "triggerRunId": "08585009707016799577166066121CU14",
            "triggerType": "TumblingWindowTrigger",
            "triggerRunTimestamp": "2023-11-22T06:56:23.8414063Z",
            "status": "Waiting",
            "message": null,
            "properties": {
              "TriggerTime": "11/22/2023 06:56:23",
              "windowStartTime": "10/31/2023 12:00:00",
              "windowEndTime": "11/01/2023 00:[...]
