{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-GA-sdk-nfc071923?api-version=2023-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "annotation": "annotation",
          "infrastructureExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName",
              "expressRouteAuthorizationKey": "1234ABCD-0A1B-1234-5678-123456ABCDEF"
            }
          ],
          "workloadExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName",
              "expressRouteAuthorizationKey": "1234ABCD-0A1B-1234-5678-123456ABCDEF"
            }
          ],
          "managedResourceGroupConfiguration": {
            "name": "managedResourceGroupName",
            "location": "eastus"
          },
          "isWorkloadManagementNetworkEnabled": "True",
          "ipv4AddressSpace": "172.253.0.0/19",
          "ipv6AddressSpace": "::/60",
          "nfcSku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/742eeb09-9aac-46e7-8ffd-bea7613eaabb*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778?api-version=2023-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000449a-0000-3400-0000-64b7bebd0000\u0022",
        "mise-correlation-id": "e9c0aab3-0070-4d3c-aac2-eb548c752fb6",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-GA-sdk-nfc071923",
        "name": "nfa-tool-ts-GA-sdk-nfc071923",
        "type": "microsoft.managednetworkfabric/networkfabriccontrollers",
        "location": "eastus2euap",
        "tags": {},
        "systemData": {
          "createdBy": "v-mnali@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-07-19T10:45:16.7293515Z",
          "lastModifiedBy": "v-mnali@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-07-19T10:45:16.7293515Z"
        },
        "properties": {
          "annotation": "annotation",
          "infrastructureExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName"
            }
          ],
          "workloadExpressRouteConnections": [
            {
              "expressRouteCircuitId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName"
            }
          ],
          "managedResourceGroupConfiguration": {
            "location": "eastus",
            "name": "managedResourceGroupName"
          },
          "isWorkloadManagementNetworkEnabled": "True",
          "ipv4AddressSpace": "172.253.0.0/19",
          "ipv6AddressSpace": "::/60",
          "nfcSku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/742eeb09-9aac-46e7-8ffd-bea7613eaabb*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000325c-0000-3400-0000-64b7bebd0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/742eeb09-9aac-46e7-8ffd-bea7613eaabb*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778",
        "name": "742eeb09-9aac-46e7-8ffd-bea7613eaabb*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778",
        "resourceId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-GA-sdk-nfc071923",
        "status": "Accepted",
        "startTime": "2023-07-19T10:45:17.8413238Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/742eeb09-9aac-46e7-8ffd-bea7613eaabb*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "service"
      },
      "ResponseBody": {
        "error": {
          "code": "GatewayTimeout",
          "message": "The gateway did not receive a response from \u0027Microsoft.ManagedNetworkFabric\u0027 within the specified time period."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "a434e5dc-99ed-4f31-9cfe-6bf6cda84d4c",
          "590861c5-9baa-4148-a9fe-5be2d2598c76",
          "dc87c3c5-2d23-4ea7-b681-f8d84933402d",
          "17456cb1-1a25-4025-98b6-474304650d8a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11922"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-GA-sdk-nfc071923",
            "name": "nfa-tool-ts-GA-sdk-nfc071923",
            "type": "microsoft.managednetworkfabric/networkfabriccontrollers",
            "location": "eastus2euap",
            "tags": {},
            "systemData": {
              "createdBy": "v-mnali@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-07-19T10:45:16.7293515Z",
              "lastModifiedBy": "d1bd24c7-b27f-477e-86dd-939e107873d7",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-07-19T11:39:03.9862152Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "ipv4AddressSpace": "172.253.0.0/19",
              "ipv6AddressSpace": "::/60",
              "workloadManagementNetwork": true,
              "isWorkloadManagementNetworkEnabled": "True",
              "infrastructureExpressRouteConnections": [
                {
                  "expressRouteCircuitId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName"
                }
              ],
              "workloadExpressRouteConnections": [
                {
                  "expressRouteCircuitId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuitName"
                }
              ],
              "infrastructureServices": {
                "ipv4AddressSpaces": [
                  "172.253.0.0/21"
                ],
                "ipv6AddressSpaces": []
              },
              "workloadServices": {
                "ipv4AddressSpaces": [
                  "172.253.28.0/22"
                ],
                "ipv6AddressSpaces": []
              },
              "managedResourceGroupConfiguration": {},
              "nfcSku": "Standard"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-GA-sdk-nfc071923?api-version=2023-06-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/f5252c02-4fa9-4a9d-b6f1-242947c63dee*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778?api-version=2023-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000039c-0000-3400-0000-64b7cba20000\u0022",
        "Location": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/f5252c02-4fa9-4a9d-b6f1-242947c63dee*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778?api-version=2023-06-15",
        "mise-correlation-id": "468524b0-e030-4c25-81d4-56eb77141b8c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/f5252c02-4fa9-4a9d-b6f1-242947c63dee*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
    [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/f5252c02-4fa9-4a9d-b6f1-242947c63dee*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000e15d-0000-3400-0000-64b7cfaa0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11883"
      },
      "ResponseBody": {
        "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/f5252c02-4fa9-4a9d-b6f1-242947c63dee*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778",
        "name": "f5252c02-4fa9-4a9d-b6f1-242947c63dee*33A1B90E9147CC59C36554D44284AC47FC6610406BF7C056ADEA9E6E80151778",
        "resourceId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-GA-sdk-nfc071923",
        "status": "Succeeded",
        "startTime": "2023-07-19T11:40:18.3167635Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus2euap",
    "NFC_NAME": "nfa-tool-ts-GA-sdk-nfc071923",
    "RandomSeed": "484138867",
    "RESOURCE_GROUP_NAME": "nfa-tool-ts-clisdktest-GA-nfrg071323",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9531faa8-8c39-4165-b033-48697fe943db"
  }
}
