{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:43 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3DX\u002BYqisfkutSHCecpgFpw.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-bb3f-f38d-09482200b955"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:43 GMT"
      },
      "RequestBody": {
        "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-bb3f-f38d-09482200b955",
        "routeType": "nearest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BNnv1uG4XE2H\u002BQO15QNxTA.0",
        "X-Processing-Time": "154ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "BQAASAb6JgAB2j8OsHaMjlbfv18Yk1YxzQ3e5oCTDrMAAAAMARClunhw7wVOK5kBd1H6op4gAhAAAAAdaiS7P/ONCUgiALlVluGJqaDOCe60yTX9KfiCzbnqpd0=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2024-01-04T13:00:44.1222164\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1378277972"
  }
}
