{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:45 GMT"
      },
      "RequestBody": {
        "ttl": 5000
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TzRCadLXd02KQlKYKBzdFw.0",
        "X-Processing-Time": "151ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:relay.communication.microsoft.com:3478",
              "turn:relay.communication.microsoft.com:3478"
            ],
            "username": "BQAANkunhQAB2j2HIb4wLMtxmHm/86ajDdklpz9C3LwAAAAMARClunhw7wVOK5kBd1H6op4gKMtV0KarSLiNmufLWuYr3sMQH0M=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "BQAANkunhQAB2j2HIb4wLMtxmHm/86ajDdklpz9C3LwAAAAMARClunhw7wVOK5kBd1H6op4gKMtV0KarSLiNmufLWuYr3sMQH0M=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2024-01-02T14:24:06.5228435\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "712956924"
  }
}
