{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ttl": 5000
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "l3So9aKzNU64N92qlCajOA.0",
        "X-Processing-Time": "152ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:relay.communication.microsoft.com:3478",
              "turn:relay.communication.microsoft.com:3478"
            ],
            "username": "BQAANkxAG4AB2j2H8CmDA2tJ4wzXO/H/A\u002BsTQ/twiSMAAAAMARClunhw7wVOK5kBd1H6op4gs5/LTalCQ6Z19PZpX0Y5mPbe65Y=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "BQAANkxAG4AB2j2H8CmDA2tJ4wzXO/H/A\u002BsTQ/twiSMAAAAMARClunhw7wVOK5kBd1H6op4gs5/LTalCQ6Z19PZpX0Y5mPbe65Y=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2024-01-02T14:24:07.3745749\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2090360822"
  }
}
