{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:40 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kgqrIIkuCUeI4glNMf5EgA.0",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-b062-f38d-09482200b950"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:40 GMT"
      },
      "RequestBody": {
        "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-b062-f38d-09482200b950",
        "routeType": "any"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "NP8fiFQgLk6KyHz7mO6Wtw.0",
        "X-Processing-Time": "154ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:relay.communication.microsoft.com:3478",
              "turn:relay.communication.microsoft.com:3478"
            ],
            "username": "BQAASAUwYoAB2j8O2s/DHeGZ/1T1GoS0YwsI8IUoFB0AAAAMARClunhw7wVOK5kBd1H6op4gAhAAAAAdaiSwYvONCUgiALlQ1P7Y6Jl24X12IBVeY5vuMBiaEgo=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2024-01-04T13:00:41.3432502\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "984982780"
  }
}
