{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:24 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IBEKVCLvTEufBRuZYzNdvA.0",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-7371-f38d-09482200b93e"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:25 GMT"
      },
      "RequestBody": {
        "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-7371-f38d-09482200b93e"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "wKZerrD2DEWbUluyq0zRBw.0",
        "X-Processing-Time": "155ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:relay.communication.microsoft.com:3478",
              "turn:relay.communication.microsoft.com:3478"
            ],
            "username": "BQAASPum\u002BoAB2j8NwiEMctRCVNNPqI6WMBzCOi5mF30AAAAMARClunhw7wVOK5kBd1H6op4gAhAAAAAdaiRzcfONCUgiALk\u002BmsVRLWdhnbMJrLQtD6ms4M5jS14=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "BQAASPum\u002BoAB2j8NwiEMctRCVNNPqI6WMBzCOi5mF30AAAAMARClunhw7wVOK5kBd1H6op4gAhAAAAAdaiRzcfONCUgiALk\u002BmsVRLWdhnbMJrLQtD6ms4M5jS14=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2024-01-04T13:00:25.7437274\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "253476799"
  }
}
