{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Help/operations?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Help/register/action",
            "isDataAction": false,
            "display": {
              "description": "Registers Help Resource Provider",
              "operation": "Registers Help Resource Provider",
              "provider": "Microsoft.Help",
              "resource": "Help Resource Provider"
            }
          },
          {
            "name": "Microsoft.Help/unregister/action",
            "isDataAction": false,
            "display": {
              "description": "Unregisters Help Resource Provider",
              "operation": "Unregisters Help Resource Provider",
              "provider": "Microsoft.Help",
              "resource": "Help Resource Provider"
            }
          },
          {
            "name": "Microsoft.Help/discoverySolution[...]
