{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "871"
      },
      "ResponseBody": {
        "name": "DataFactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:16:47.3569312Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901f803-0000-0800-0000-6545efdf0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393/linkedservices/linkedService_1847?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DynamicsAX",
          "typeProperties": {
            "url": "https://testorganization.ax.dynamics.com/data",
            "servicePrincipalId": "fakeServicePrincipalId",
            "servicePrincipalKey": {
              "value": "fakeServicePrincipalKey",
              "type": "SecureString"
            },
            "tenant": "fakeTenantId",
            "aadResourceId": "fakeAddResourceId"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "870"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393/linkedservices/linkedService_1847",
        "name": "linkedService_1847",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "DynamicsAX",
          "typeProperties": {
            "url": "https://testorganization.ax.dynamics.com/data",
            "servicePrincipalId": "fakeServicePrincipalId",
            "tenant": "fakeTenantId",
            "aadResourceId": "fakeAddResourceId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDFDNUYwNEE1LTJCQjEtNDg1RS04RTZGLUE0NTVGRDA0NUMzMl85MTRiZTE1My0zZTE0LTRmYTktYjViYi0zMGMyMDZjZWJhNGYiDQp9"
          }
        },
        "etag": "1500c2af-0000-0800-0000-6545efe00000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393/datasets/dataset_1914?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DynamicsAXResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1847"
          },
          "typeProperties": {
            "path": "fakeTestPath"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "869"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393/datasets/dataset_1914",
        "name": "dataset_1914",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DynamicsAXResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1847"
          },
          "typeProperties": {
            "path": "fakeTestPath"
          }
        },
        "etag": "1500c5af-0000-0800-0000-6545efe00000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393/linkedservices/linkedService_4021?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "868"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393/linkedservices/linkedService_4021",
        "name": "linkedService_4021",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "1500c7af-0000-0800-0000-6545efe10000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-9a5b4849-a071-3dd4-b942-67e54eaa99d6-393/pipelines/pipeline-9589?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_1914"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_579"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_1847"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "task-7107",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "$top=1",
                  "httpRequestTimeout": "00:05:00",
                  "type": "DynamicsAXSource"
                },
                "sink": {
                  "copyBehavior": "FlattenHierarchy",
                  "type": "AzureDataLakeStoreSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "866"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories[...]
