{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10646"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-5477?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "722"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5477",
        "name": "DataFactory-RG-5477",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5477/providers/Microsoft.DataFactory/factories/DataFactory-4644?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "721"
      },
      "ResponseBody": {
        "name": "DataFactory-4644",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T10:06:16.2782791Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00226703cb79-0000-0800-0000-6555e9980000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/linkedservices/linkedService_9594?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Presto",
          "typeProperties": {
            "host": "192.168.222.160",
            "serverVersion": "0.148-t",
            "catalog": "test",
            "authenticationType": "Anonymous"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "720"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/linkedservices/linkedService_9594",
        "name": "linkedService_9594",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Presto",
          "typeProperties": {
            "host": "192.168.222.160",
            "serverVersion": "0.148-t",
            "catalog": "test",
            "authenticationType": "Anonymous"
          }
        },
        "etag": "1900448b-0000-0800-0000-6555e9980000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/datasets/dataset_7671?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "PrestoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9594"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "719"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/datasets/dataset_7671",
        "name": "dataset_7671",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "PrestoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9594"
          },
          "typeProperties": {}
        },
        "etag": "1900468b-0000-0800-0000-6555e9990000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/linkedservices/linkedService_9674?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "718"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/linkedservices/linkedService_9674",
        "name": "linkedService_9674",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDE1OEM3MjMxLTlFRDEtNDBENi1CNkM1LUU1NUQwM0Q3RDM5OF9iYTRjYWI5NC03MjhmLTRiNjYtYWRmNy01YzVmYzFmOTM3Y2EiDQp9"
          }
        },
        "etag": "1900498b-0000-0800-0000-6555e99a0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/pipelines/pipeline-6838?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_7671"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_278"
                }
              ],
              "name": "task-5424",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from a table",
                  "type": "PrestoSource"
                },
                "sink": {
                  "type": "BlobSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "716"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5477/providers/Microsoft.DataFactory/factories/datafactory-4644/pipelines/pipeline-6838",
        "name": "pipeline-6838",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_7671"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_278"
                }
              ],
              "name": "task-5424",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from a table",
                  "type": "PrestoSource"
                },
                "sink": {
                  "type": "BlobSink"
                }
              }
            }
          ]
        },
        "etag": "19004e8b-0000-0800-0000-6555e99a0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1330738226",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
