{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10215"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-3118?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "975"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3118",
        "name": "DataFactory-RG-3118",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3118/providers/Microsoft.DataFactory/factories/DataFactory-32?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "974"
      },
      "ResponseBody": {
        "name": "DataFactory-32",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T10:07:28.7700611Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002267036a80-0000-0800-0000-6555e9e00000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/linkedservices/linkedService_3897?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapHana",
          "typeProperties": {
            "connectionString": "Sanitized",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "973"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/linkedservices/linkedService_3897",
        "name": "linkedService_3897",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapHana",
          "typeProperties": {
            "connectionString": "Sanitized",
            "password": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "760020db-0000-0800-0000-6555e9e10000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/datasets/dataset_3923?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapHanaTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_3897"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "972"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/datasets/dataset_3923",
        "name": "dataset_3923",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapHanaTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_3897"
          },
          "typeProperties": {}
        },
        "etag": "760023db-0000-0800-0000-6555e9e20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/linkedservices/linkedService_4090?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "971"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/linkedservices/linkedService_4090",
        "name": "linkedService_4090",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "760026db-0000-0800-0000-6555e9e20000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/pipelines/pipeline-9040?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_3923"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_458"
                }
              ],
              "name": "task-9543",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "",
                  "partitionOption": {
                    "type": "Expression",
                    "value": "pipeline().parameters.parallelOption"
                  },
                  "partitionSettings": {
                    "partitionColumnName": "INTEGERTYPE"
                  },
                  "type": "SapHanaSource"
                },
                "sink": {
                  "storeSettings": {
                    "type": "AzureDataLakeStoreWriteSettings",
                    "maxConcurrentConnections": 3,
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "quoteAllText": true,
                    "fileExtension": ".csv",
                    "type": "DelimitedTextWriteSettings"
                  },
                  "type": "DelimitedTextSink"
                }
              }
            }
          ],
          "parameters": {
            "parallelOption": {
              "type": "String",
              "defaultValue": "fakeValue"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "969"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3118/providers/Microsoft.DataFactory/factories/datafactory-32/pipelines/pipeline-9040",
        "name": "pipeline-9040",
        "type": "M[...]
