{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-sapcloudforcustomer-7848?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1151"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848",
        "name": "adf-rg-sapcloudforcustomer-7848",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1150"
      },
      "ResponseBody": {
        "name": "adf-sapcloudforcustomer-840",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T09:57:56.3118425Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e045d4c-0000-0800-0000-655f22240000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840/linkedservices/adf_linkedservice_sapcloudforcustomer_8702?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapCloudForCustomer",
          "typeProperties": {
            "url": "www.fakeuri.com",
            "username": "fakeUsername",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1149"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840/linkedservices/adf_linkedservice_sapcloudforcustomer_8702",
        "name": "adf_linkedservice_sapcloudforcustomer_8702",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapCloudForCustomer",
          "typeProperties": {
            "url": "www.fakeuri.com",
            "username": "fakeUsername",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEJGNDVDMkQwLTIwOEQtNDQ2MC04NEJELTNGRjY2MjBFNzg3OF80NTM0ODA2MC00N2JmLTQ3ZWUtODU0YS02MTg0NDNmODE2M2UiDQp9"
          }
        },
        "etag": "4a003a19-0000-0800-0000-655f22240000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840/datasets/adf-dataset-sapcloudforcustomer-6295?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapCloudForCustomerResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_sapcloudforcustomer_8702"
          },
          "typeProperties": {
            "path": "fakePath"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1148"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840/datasets/adf-dataset-sapcloudforcustomer-6295",
        "name": "adf-dataset-sapcloudforcustomer-6295",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapCloudForCustomerResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_sapcloudforcustomer_8702"
          },
          "typeProperties": {
            "path": "fakePath"
          }
        },
        "etag": "4a003c19-0000-0800-0000-655f22250000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840/linkedservices/adf_linkedservice_sapcloudforcustomer_7572?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1147"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840/linkedservices/adf_linkedservice_sapcloudforcustomer_7572",
        "name": "adf_linkedservice_sapcloudforcustomer_7572",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "4a004019-0000-0800-0000-655f22250000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFactory/factories/adf-sapcloudforcustomer-840/pipelines/adf-pipeline-sapcloudforcustomer-1577?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-sapcloudforcustomer-6295"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-sapcloudforcustomer-4677"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "adf_linkedservice_sapcloudforcustomer_8702"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "adf-pipeline-task-8629",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "$select=Column0",
                  "httpRequestTimeout": "00:05:00",
                  "type": "SapCloudForCustomerSource"
                },
                "sink": {
                  "copyBehavior": "FlattenHierarchy",
                  "type": "AzureDataLakeStoreSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1145"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-sapcloudforcustomer-7848/providers/Microsoft.DataFact[...]
