{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "470"
      },
      "ResponseBody": {
        "name": "DataFactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:26:14.3882937Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901e237-0000-0800-0000-6545f2160000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093/linkedservices/linkedService_8916?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDW",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "469"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093/linkedservices/linkedService_8916",
        "name": "linkedService_8916",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDW",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDVCOUFGRUNFLTYxMkYtNEUzNy05MTRDLUE3NTJGNzc0QTVBRV85OWYwMjRhNy1kMDk3LTQyZDEtOTlmNy04OThkMWNjZDNmMzgiDQp9"
          }
        },
        "etag": "6404377a-0000-0800-0000-6545f2170000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093/datasets/dataset_9619?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDWTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_8916"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "468"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093/datasets/dataset_9619",
        "name": "dataset_9619",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureSqlDWTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_8916"
          },
          "typeProperties": {}
        },
        "etag": "6404497a-0000-0800-0000-6545f2170000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093/pipelines/pipeline-7119?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_9619"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_9159"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_8916"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "task-5530",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "sqlReaderQuery": "$EncryptedString$MyEncryptedQuery",
                  "sqlReaderStoredProcedureName": "CopyTestSrcStoredProcedureWithParameters",
                  "storedProcedureParameters": {
                    "stringData": {
                      "value": "test",
                      "type": "String"
                    },
                    "id": {
                      "value": "3",
                      "type": "Int"
                    }
                  },
                  "type": "SqlDWSource"
                },
                "sink": {
                  "allowPolyBase": true,
                  "polyBaseSettings": {
                    "rejectType": "percentage",
                    "rejectValue": 20.42341,
                    "rejectSampleValue": 80,
                    "useTypeDefault": true
                  },
                  "type": "SqlDWSink",
                  "writeBatchSize": 1000000,
                  "writeBatchTimeout": "01:00:00"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "465"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-3364b426-fed5-3ab8-9be0-3f9994a3e35a-4093/pipel[...]
