{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11884"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-executewarnglingdataflow-4167?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1010"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167",
        "name": "adf-rg-executewarnglingdataflow-4167",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1009"
      },
      "ResponseBody": {
        "name": "adf-executewarnglingdataflow-2631",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T09:52:49.733923Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04f625-0000-0800-0000-655f20f10000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/linkedservices/DS_AzureSqlDatabase1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1008"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/linkedservices/DS_AzureSqlDatabase1",
        "name": "DS_AzureSqlDatabase1",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDU4RDhCQ0E1LTRDMDUtNEM4Ni05QjE0LUJCOEY2RUFFQjYyN181ZTdiODllNy00MzNmLTRhZDMtODk3MC1mZjgyZTIxODUzNTYiDQp9"
          }
        },
        "etag": "2e088e6a-0000-0800-0000-655f20f20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/datasets/DS_AzureSqlDatabase1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "DS_AzureSqlDatabase1"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1007"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/datasets/DS_AzureSqlDatabase1",
        "name": "DS_AzureSqlDatabase1",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "DS_AzureSqlDatabase1"
          },
          "typeProperties": {}
        },
        "etag": "2e08a56a-0000-0800-0000-655f20f20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/linkedservices/linkedService_7017?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ty[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/datasets/DS_AzureBlobStorage1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/integrationRuntimes/integrationRuntime3588?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1002"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/integrationruntimes/integrationRuntime3588",
        "name": "integrationRuntime3588",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "2e082b6b-0000-0800-0000-655f20f40000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/dataflows/powerquery1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "WranglingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: \u0027READ_UNCOMMITTED\u0027,\n\tformat: \u0027table\u0027) ~\u003E  DS_AzureSqlDatabase1",
                "name": "DS_AzureSqlDatabase1",
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "DS_AzureSqlDatabase1"
                }
              }
            ],
            "script": "section Section1;\r\nshared DS_AzureSqlDatabase1 = let AdfDoc = Sql.Database(\u0022**********\u0022, \u0022**********\u0022, [CreateNavigationProperties = false]), InputTable = AdfDoc{[Schema=\u0022undefined\u0022,Item=\u0022undefined\u0022]}[Data] in InputTable;\r\nshared UserQuery = let Source = #\u0022DS_AzureSqlData[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executewarnglingdataflow-4167/providers/Microsoft.DataFactory/factories/adf-executewarnglingdataflow-2631/pipelines/adf-pipeline-executewarnglingdataflow-8447?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "testPowerQuery",
              "type": "ExecuteWranglingDataflow",
              "typeProperties": {
                "dataFlow": {
                  "type": "DataFlowReference",
                  "referenceName": "powerquery1"
                },
                "staging": {
                  "linkedService": {
                    "type": "LinkedServiceReference",
                    "referenceName": "linkedService_3066"
                  },
                  "folderPath": "adfjobs/staging"
                },
                "integrationRuntime": {
                  "type": "IntegrationRuntimeReference",
                  "referenceName": "integrationRuntime3588"
                },
                "queries": [
                  {
                    "queryName": "UserQuery",
                    "dataflowSinks": [
                      {
                        "script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tSampleId as string,\n\t\tSampleDetail as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: \u0027table\u0027,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: \u0027stopOnFirstError\u0027) ~\u003E UserQueryDSAzureSqlDatabase2",
                        "name": "UserQuery[...]
