{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "303"
      },
      "ResponseBody": {
        "name": "DataFactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:30:51.4900486Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901144f-0000-0800-0000-6545f32b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559/linkedservices/linkedService_344?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "302"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559/linkedservices/linkedService_344",
        "name": "linkedService_344",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "000037ac-0000-0800-0000-6545f32c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559/datasets/dataset_9823?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStoreFile",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_344"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "301"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559/datasets/dataset_9823",
        "name": "dataset_9823",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureDataLakeStoreFile",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_344"
          },
          "typeProperties": {}
        },
        "etag": "000039ac-0000-0800-0000-6545f32c0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-9ca6b877-6221-39d0-ab5a-7133dc6fdb05-8559/pipelines/pipeline-1107?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_9823"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_655"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_344"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "task-2814",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "AzureDataLakeStoreSource"
                },
                "sink": {
                  "type": "AzureDataLakeStoreSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "298"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-9ca6b[...]
