{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11714"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-saptable-3598?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "369"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598",
        "name": "adf-rg-saptable-3598",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "368"
      },
      "ResponseBody": {
        "name": "adf-saptable-2886",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:12:31.7511102Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e0477bf-0000-0800-0000-655f258f0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886/linkedservices/adf_linkedservice_saptable_7781?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "testserver",
            "clientId": "1",
            "userName": "admin",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            },
            "sncMode": "false"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "367"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886/linkedservices/adf_linkedservice_saptable_7781",
        "name": "adf_linkedservice_saptable_7781",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "testserver",
            "clientId": "1",
            "userName": "admin",
            "sncMode": "false",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEIzNzhBODNDLUUzN0YtNDZEQy05RUY5LUZCNjMzQTBBRUQzNl8xMzE2M2NiMy0yMjg3LTQzNzYtYTRmNy0wMWI4ZGY3MTU1YzgiDQp9"
          }
        },
        "etag": "0b1402ce-0000-0800-0000-655f25900000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886/datasets/adf-dataset-saptable-7295?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTableResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_saptable_7781"
          },
          "typeProperties": {
            "tableName": "fakeName"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "366"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886/datasets/adf-dataset-saptable-7295",
        "name": "adf-dataset-saptable-7295",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapTableResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_saptable_7781"
          },
          "typeProperties": {
            "tableName": "fakeName"
          }
        },
        "etag": "0b141cce-0000-0800-0000-655f25900000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886/linkedservices/adf_linkedservice_saptable_8592?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "365"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886/linkedservices/adf_linkedservice_saptable_8592",
        "name": "adf_linkedservice_saptable_8592",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEIzNzhBODNDLUUzN0YtNDZEQy05RUY5LUZCNjMzQTBBRUQzNl83MDFkMzRmMi05MWI0LTRjZDktYWQ1My1kNGY5NmNiOTU0NDgiDQp9"
          }
        },
        "etag": "0b1431ce-0000-0800-0000-655f25900000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factories/adf-saptable-2886/pipelines/adf-pipeline-saptable-6682?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-saptable-7295"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-saptable-1022"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "adf_linkedservice_saptable_7781"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "adf-pipeline-task-9354",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "rowCount": 3,
                  "type": "SapTableSource"
                },
                "sink": {
                  "copyBehavior": "FlattenHierarchy",
                  "type": "AzureDataLakeStoreSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "363"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-saptable-3598/providers/Microsoft.DataFactory/factorie[...]
