{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11873"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-hdinsight-8033?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "934"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033",
        "name": "adf-rg-hdinsight-8033",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "933"
      },
      "ResponseBody": {
        "name": "adf-hdinsight-9084",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T09:54:10.9906731Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04ca30-0000-0800-0000-655f21430000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/linkedservices/adf_linkedservice_hdinsight_4344?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "932"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/linkedservices/adf_linkedservice_hdinsight_4344",
        "name": "adf_linkedservice_hdinsight_4344",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        },
        "etag": "46009a09-0000-0800-0000-655f21430000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/linkedservices/adf_linkedservice_hdinsight_6287?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "931"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/linkedservices/adf_linkedservice_hdinsight_6287",
        "name": "adf_linkedservice_hdinsight_6287",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDUyNjYwMzdBLTg2RDQtNDU3OS04MjM1LTQzQUE5QjgyOEE5MF8yMDk0MzYyMi1iNzc2LTQzYmEtODJhNS0zMzAzMWYzZWEzNjkiDQp9"
          }
        },
        "etag": "46009c09-0000-0800-0000-655f21430000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/datasets/adf-dataset-hdinsight-1490?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_hdinsight_6287"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "930"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/datasets/adf-dataset-hdinsight-1490",
        "name": "adf-dataset-hdinsight-1490",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_hdinsight_6287"
          },
          "typeProperties": {}
        },
        "etag": "46009e09-0000-0800-0000-655f21440000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/pipelines/adf-pipeline-hdinsight-4863?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-4173",
              "type": "HDInsightPig",
              "typeProperties": {
                "storageLinkedServices": [
                  {
                    "type": "LinkedServiceReference",
                    "referenceName": "adf_linkedservice_hdinsight_6287"
                  }
                ],
                "scriptPath": "scripts/script.pig",
                "scriptLinkedService": {
                  "type": "LinkedServiceReference",
                  "referenceName": "adf_linkedservice_hdinsight_4344"
                },
                "defines": {
                  "PropertyBagPropertyName1": "PropertyBagValue1"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "929"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-hdinsight-8033/providers/Microsoft.DataFactory/factories/adf-hdinsight-9084/pipelines/adf-pipeline-hdinsi[...]
