{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "243"
      },
      "ResponseBody": {
        "name": "DataFactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:32:11.3873292Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002289016756-0000-0800-0000-6545f37b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424/linkedservices/linkedService_7884?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "242"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424/linkedservices/linkedService_7884",
        "name": "linkedService_7884",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        },
        "etag": "88014728-0000-0800-0000-6545f37c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424/datasets/dataset_9624?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Binary",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_7884"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "241"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424/datasets/dataset_9624",
        "name": "dataset_9624",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "Binary",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_7884"
          },
          "typeProperties": {}
        },
        "etag": "88017228-0000-0800-0000-6545f37c0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-596a658d-80c1-3ef8-a7dc-e86116380ecb-424/pipelines/pipeline-7638?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_9624"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_3302"
                }
              ],
              "name": "task-9070",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "storeSettings": {
                    "recursive": true,
                    "enablePartitionDiscovery": true,
                    "type": "FileServerReadSettings"
                  },
                  "type": "BinarySource"
                },
                "sink": {
                  "storeSettings": {
                    "operationTimeout": "01:00:00",
                    "useTempFileRename": true,
                    "type": "SftpWriteSettings",
                    "maxConcurrentConnections": 3,
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "type": "BinarySink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "238"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/[...]
