{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11614"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-webhook-4204?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "229"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204",
        "name": "adf-rg-webhook-4204",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "228"
      },
      "ResponseBody": {
        "name": "adf-webhook-4017",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:14:34.2002736Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04c9ce-0000-0800-0000-655f260a0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/linkedservices/adf_linkedservice_webhook_6673?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapOpenHub",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "12",
            "clientId": "1",
            "userName": "admin"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "227"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/linkedservices/adf_linkedservice_webhook_6673",
        "name": "adf_linkedservice_webhook_6673",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapOpenHub",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "12",
            "clientId": "1",
            "userName": "admin"
          }
        },
        "etag": "1500c05e-0000-0800-0000-655f260a0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/datasets/adf-dataset-webhook-5521?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapOpenHubTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_webhook_6673"
          },
          "typeProperties": {
            "openHubDestinationName": "fakeName"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "226"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/datasets/adf-dataset-webhook-5521",
        "name": "adf-dataset-webhook-5521",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapOpenHubTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_webhook_6673"
          },
          "typeProperties": {
            "openHubDestinationName": "fakeName"
          }
        },
        "etag": "1500c25e-0000-0800-0000-655f260a0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/linkedservices/adf_linkedservice_webhook_9074?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "225"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/linkedservices/adf_linkedservice_webhook_9074",
        "name": "adf_linkedservice_webhook_9074",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "1500c45e-0000-0800-0000-655f260b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/pipelines/adf-pipeline-webhook-5577?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-6816",
              "type": "WebHook",
              "typeProperties": {
                "method": "get",
                "url": "http://www.bing.com",
                "authentication": {
                  "username": "testuser",
                  "password": {
                    "store": {
                      "type": "LinkedServiceReference",
                      "referenceName": "adf_linkedservice_webhook_9074"
                    },
                    "secretName": "pfxpwd",
                    "type": "AzureKeyVaultSecret"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "224"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-webhook-4204/providers/Microsoft.DataFactory/factories/adf-webhook-4017/pipelines/adf-pipeline-webhook-5577",
        "name": "adf-pipeline-webhook-5577",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-6816",
              "type": "WebHook",
              "typeProperties": {
                "method": "get",
                "url": "http://www.bing.com",
                "authentication": {
                  "username": "testuser",
                  "password": {
                    "store": {
                      "type": "LinkedServiceReference",
                      "referenceName": "adf_linkedservice_webhook_9074"
                    },
                    "secretName": "pfxpwd",
                    "type": "AzureKeyVaultSecret"
                  }
                }
              }
            }
          ]
        },
        "etag": "1500c65e-0000-0800-0000-655f260b0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "980425615",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
