{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "189"
      },
      "ResponseBody": {
        "name": "DataFactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:34:02.0975491Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002289017860-0000-0800-0000-6545f3ea0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549/linkedservices/linkedService_9557?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "serviceUri": "https://test.crm.dynamics.com",
            "authenticationType": "ServicePrincipalKey",
            "servicePrincipalId": "fakeServicePrincipalId",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "servicePrincipalCredential": {
              "value": "fakeServicePrincipalCredential",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549/linkedservices/linkedService_9557",
        "name": "linkedService_9557",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "serviceUri": "https://test.crm.dynamics.com",
            "authenticationType": "ServicePrincipalKey",
            "servicePrincipalId": "fakeServicePrincipalId",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDJBODcxMzYyLTZBRTUtNDhGNy1BRDMzLTNDNDcyQUY2Rjc4NV82N2Q5MjI4ZS1hOWM1LTRmMjgtYWEzOC1jZGQxZTU0OTE2ZDEiDQp9"
          }
        },
        "etag": "6200ac41-0000-0800-0000-6545f3ea0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549/datasets/dataset_3876?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CommonDataServiceForAppsEntity",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9557"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549/datasets/dataset_3876",
        "name": "dataset_3876",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "CommonDataServiceForAppsEntity",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9557"
          },
          "typeProperties": {}
        },
        "etag": "6200af41-0000-0800-0000-6545f3eb0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549/pipelines/pipeline-5778?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_3876"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_2670"
                }
              ],
              "name": "task-3714",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "FetchXML",
                  "type": "CommonDataServiceForAppsSource"
                },
                "sink": {
                  "writeBehavior": "Upsert",
                  "ignoreNullValues": true,
                  "alternateKeyName": "keyName",
                  "type": "CommonDataServiceForAppsSink",
                  "writeBatchSize": 5000
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "184"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-f6106711-afa3-3d36-82a3-daec6b9d9577-549/pipelines/pi[...]
