{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11656"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-6099?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-6099",
        "name": "DataFactory-RG-6099",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-6099/providers/Microsoft.DataFactory/factories/DataFactory-4799?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1178"
      },
      "ResponseBody": {
        "name": "DataFactory-4799",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T09:29:05.5050612Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002266039da4-0000-0800-0000-6555e0e10000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799/linkedservices/linkedService_9921?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRdsForOracle",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799/linkedservices/linkedService_9921",
        "name": "linkedService_9921",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AmazonRdsForOracle",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "2b02d9d6-0000-0800-0000-6555e0e20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799/datasets/dataset_8599?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRdsForOracleTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9921"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799/datasets/dataset_8599",
        "name": "dataset_8599",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AmazonRdsForOracleTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9921"
          },
          "typeProperties": {}
        },
        "etag": "2b02dfd6-0000-0800-0000-6555e0e20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799/linkedservices/linkedService_5287?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzurePostgreSql",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799/linkedservices/linkedService_5287",
        "name": "linkedService_5287",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzurePostgreSql",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEI2M0JDMUUzLUMxRDEtNEU5RC1CRTNELTJDOTgxNzE4NTNBQl9iYmViYzJlYi05Y2Q2LTQwNzEtOWNlYS00YzAxMTk2ZGM4OGMiDQp9"
          }
        },
        "etag": "2b02e6d6-0000-0800-0000-6555e0e30000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafactory-4799/pipelines/pipeline-2751?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_8599"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_8179"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "task-6640",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "oracleReaderQuery": "select * from faketable",
                  "type": "AmazonRdsForOracleSource"
                },
                "sink": {
                  "preCopyScript": "fake script",
                  "type": "AzurePostgreSqlSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6099/providers/Microsoft.DataFactory/factories/datafa[...]
