{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11409"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-web-4965?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-web-4965",
        "name": "adf-rg-web-4965",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-web-4965/providers/Microsoft.DataFactory/factories/adf-web-6576?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "name": "adf-web-6576",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-web-4965/providers/Microsoft.DataFactory/factories/adf-web-6576",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T09:30:42.8391045Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00224404e48c-0000-0800-0000-655c78c20000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-web-4965/providers/Microsoft.DataFactory/factories/adf-web-6576/pipelines/adf-pipeline-web-9640?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-4378",
              "type": "WebActivity",
              "typeProperties": {
                "method": "GET",
                "url": "http://www.bing.com"
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-web-4965/providers/Microsoft.DataFactory/factories/adf-web-6576/pipelines/adf-pipeline-web-9640",
        "name": "adf-pipeline-web-9640",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-4378",
              "type": "WebActivity",
              "typeProperties": {
                "method": "GET",
                "url": "http://www.bing.com"
              }
            }
          ]
        },
        "etag": "26007f5e-0000-0800-0000-655c78c30000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1921559018",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
