{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1118"
      },
      "ResponseBody": {
        "name": "DataFactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:48:46.9254511Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002289019aaf-0000-0800-0000-6545f75e0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/linkedservices/linkedService_4568?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1117"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/linkedservices/linkedService_4568",
        "name": "linkedService_4568",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        },
        "etag": "7b004e01-0000-0800-0000-6545f75f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/linkedservices/linkedService_7966?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1116"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/linkedservices/linkedService_7966",
        "name": "linkedService_7966",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEY5OUQxNTY3LUIwMTctNDQxMi05OTRFLTFGQUNGRDBEMTI3M19iOGQyZmY3ZC0xNTcwLTRkOGUtODhlYi0wYTZhOGE2NGI3N2QiDQp9"
          }
        },
        "etag": "7b005501-0000-0800-0000-6545f7600000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/datasets/dataset_5373?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_7966"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1115"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/datasets/dataset_5373",
        "name": "dataset_5373",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_7966"
          },
          "typeProperties": {}
        },
        "etag": "7b005901-0000-0800-0000-6545f7600000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/pipelines/pipeline-5668?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "task-9254",
              "type": "HDInsightPig",
              "typeProperties": {
                "storageLinkedServices": [
                  {
                    "type": "LinkedServiceReference",
                    "referenceName": "linkedService_7966"
                  }
                ],
                "scriptPath": "scripts/script.pig",
                "scriptLinkedService": {
                  "type": "LinkedServiceReference",
                  "referenceName": "linkedService_4568"
                },
                "defines": {
                  "PropertyBagPropertyName1": "PropertyBagValue1"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1114"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-295df44e-d209-35bc-8c17-65dc89ace8a9-4818/pipelines/pipeline-5668",
        "name": "pipeline-5668",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {
          "activities": [
            {
              "name": "task-9254",
              "type": "HDInsightPig",
              "typeProperties": {
                "storageLinkedServices": [
                  {
                    "type": "LinkedServiceReference",
                    "referenceName": "linkedService_7966"
                  }
                ],
                "scriptPath": "scripts/script.pig",
                "scriptLinkedService": {
                  "type": "LinkedServiceReference",
                  "referenceName": "linkedService_4568"
                },
                "defines": {
                  "PropertyBagPropertyName1": "PropertyBagValue1"
                }
              }
            }
          ]
        },
        "etag": "7b005f01-0000-0800-0000-6545f7610000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1507206832",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
