{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-getmetadata-2447?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447",
        "name": "adf-rg-getmetadata-2447",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "name": "adf-getmetadata-4184",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T09:20:49.2150544Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002244042b46-0000-0800-0000-655c76710000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184/linkedservices/adf_linkedservice_getmetadata_9810?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184/linkedservices/adf_linkedservice_getmetadata_9810",
        "name": "adf_linkedservice_getmetadata_9810",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQ0RjUxMTZCLTIwQkItNDEzRC04MDY1LUY0QTA5MkEyRjhFRl84MDQzNTA4Mi01MGIwLTRhNmMtYmQ3Yy1iY2RlYzUwY2Q1ZWIiDQp9"
          }
        },
        "etag": "9501a6f2-0000-0800-0000-655c76720000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184/datasets/adf-dataset-getmetadata-8518?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_getmetadata_9810"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184/datasets/adf-dataset-getmetadata-8518",
        "name": "adf-dataset-getmetadata-8518",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_getmetadata_9810"
          },
          "typeProperties": {}
        },
        "etag": "9501abf2-0000-0800-0000-655c76730000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184/pipelines/adf-pipeline-getmetadata-4960?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-9378",
              "type": "GetMetadata",
              "typeProperties": {
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-getmetadata-8518"
                },
                "fieldList": [
                  "columnCount",
                  "exists"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-getmetadata-2447/providers/Microsoft.DataFactory/factories/adf-getmetadata-4184/pipelines/adf-pipeline-getmetadata-4960",
        "name": "adf-pipeline-getmetadata-4960",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-9378",
              "type": "GetMetadata",
              "typeProperties": {
                "dataset": {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-getmetadata-8518"
                },
                "fieldList": [
                  "columnCount",
                  "exists"
                ]
              }
            }
          ]
        },
        "etag": "9501aef2-0000-0800-0000-655c76730000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "20564961",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
