{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11607"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-8732?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "994"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8732",
        "name": "DataFactory-RG-8732",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8732/providers/Microsoft.DataFactory/factories/DataFactory-8751?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "993"
      },
      "ResponseBody": {
        "name": "DataFactory-8751",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T09:56:34.0858075Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00226703e03f-0000-0800-0000-6555e7520000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/linkedservices/linkedService_6985?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "992"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/linkedservices/linkedService_6985",
        "name": "linkedService_6985",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        },
        "etag": "1d004b50-0000-0800-0000-6555e7520000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/datasets/linkedService_4882?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Xml",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_6985"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "991"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/datasets/linkedService_4882",
        "name": "linkedService_4882",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "Xml",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_6985"
          },
          "typeProperties": {}
        },
        "etag": "1d004d50-0000-0800-0000-6555e7530000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/linkedservices/linkedService_9876?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "990"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/linkedservices/linkedService_9876",
        "name": "linkedService_9876",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ1MDExMjYyLUQyOTctNDczNi1BNjdDLTI1MDFFM0IyRERERV82Y2Q3YjUxMi01NjgyLTQ5MDgtOWRkZS0wY2QwNGFlMTMwNjEiDQp9"
          }
        },
        "etag": "1d004f50-0000-0800-0000-6555e7540000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/datasets/dataset_4522?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9876"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "989"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/datasets/dataset_4522",
        "name": "dataset_4522",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9876"
          },
          "typeProperties": {}
        },
        "etag": "1d005250-0000-0800-0000-6555e7540000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/pipelines/pipeline-8171?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "linkedService_4882"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_4522"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_6985"
              },
              "name": "task-8884",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "recursive": true,
                  "type": "FileSystemSource"
                },
                "sink": {
                  "copyBehavior": "FlattenHierarchy",
                  "type": "FileSystemSink",
                  "writeBatchSize": 1000000,
                  "writeBatchTimeout": "01:00:00"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "988"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8732/providers/Microsoft.DataFactory/factories/datafactory-8751/pipelines/pipeline-8171",
        "name": [...]
