{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-1371?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1147"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-1371",
        "name": "DataFactory-RG-1371",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-1371/providers/Microsoft.DataFactory/factories/DataFactory-6136?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1146"
      },
      "ResponseBody": {
        "name": "DataFactory-6136",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T09:07:57.5357011Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00226603d526-0000-0800-0000-6555dbed0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/linkedservices/linkedService_519?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1145"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/linkedservices/linkedService_519",
        "name": "linkedService_519",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDdCREVEMERCLTQ2NzItNDE5Ri05QzYzLTUyNjdEMEExNkU4MF9kZDM3NGE4ZC1iNWE3LTQxOWItYWU3Mi01MDBhMjEzMTU3ZWIiDQp9"
          }
        },
        "etag": "33005062-0000-0800-0000-6555dbee0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/datasets/dataset_2064?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_519"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1144"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/datasets/dataset_2064",
        "name": "dataset_2064",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_519"
          },
          "typeProperties": {}
        },
        "etag": "33005262-0000-0800-0000-6555dbee0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/linkedservices/linkedService_7706?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1143"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/linkedservices/linkedService_7706",
        "name": "linkedService_7706",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        },
        "etag": "33005762-0000-0800-0000-6555dbef0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/pipelines/pipeline-106?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_2064"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_5784"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_519"
              },
              "name": "task-3355",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "treatEmptyAsNull": true,
                  "type": "BlobSource",
                  "sourceRetryCount": 2,
                  "sourceRetryWait": "00:00:01"
                },
                "sink": {
                  "type": "FileSystemSink",
                  "writeBatchSize": 1000000,
                  "writeBatchTimeout": "01:00:00"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1141"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-1371/providers/Microsoft.DataFactory/factories/datafactory-6136/pipelines/pipeline-106",
        "name": [...]
