{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-dynamicsax-3832?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832",
        "name": "adf-rg-dynamicsax-3832",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "name": "adf-dynamicsax-5260",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T09:19:17.4771376Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00224404113c-0000-0800-0000-655c76150000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260/linkedservices/adf_linkedservice_dynamicsax_879?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DynamicsAX",
          "typeProperties": {
            "url": "https://testorganization.ax.dynamics.com/data",
            "servicePrincipalId": "fakeServicePrincipalId",
            "servicePrincipalKey": {
              "value": "fakeServicePrincipalKey",
              "type": "SecureString"
            },
            "tenant": "fakeTenantId",
            "aadResourceId": "fakeAddResourceId"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260/linkedservices/adf_linkedservice_dynamicsax_879",
        "name": "adf_linkedservice_dynamicsax_879",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "DynamicsAX",
          "typeProperties": {
            "url": "https://testorganization.ax.dynamics.com/data",
            "servicePrincipalId": "fakeServicePrincipalId",
            "tenant": "fakeTenantId",
            "aadResourceId": "fakeAddResourceId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ5NDcyOEY2LUZCMEYtNEExNS05NTI5LTE2RTYyNzhGNEQ1Ql8xYTM1YzBhNy1hNDI4LTQxNmMtYjNlOC1hNmI2NmRlODk4NTAiDQp9"
          }
        },
        "etag": "4600c698-0000-0800-0000-655c76160000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260/datasets/adf-dataset-dynamicsax-9608?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DynamicsAXResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_dynamicsax_879"
          },
          "typeProperties": {
            "path": "fakeTestPath"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260/datasets/adf-dataset-dynamicsax-9608",
        "name": "adf-dataset-dynamicsax-9608",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DynamicsAXResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_dynamicsax_879"
          },
          "typeProperties": {
            "path": "fakeTestPath"
          }
        },
        "etag": "4600c898-0000-0800-0000-655c76170000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260/linkedservices/adf_linkedservice_dynamicsax_7275?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260/linkedservices/adf_linkedservice_dynamicsax_7275",
        "name": "adf_linkedservice_dynamicsax_7275",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "4600ca98-0000-0800-0000-655c76170000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/factories/adf-dynamicsax-5260/pipelines/adf-pipeline-dynamicsax-6563?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-dynamicsax-9608"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-dynamicsax-8648"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "adf_linkedservice_dynamicsax_879"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "adf-pipeline-task-7055",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "$top=1",
                  "httpRequestTimeout": "00:05:00",
                  "type": "DynamicsAXSource"
                },
                "sink": {
                  "copyBehavior": "FlattenHierarchy",
                  "type": "AzureDataLakeStoreSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamicsax-3832/providers/Microsoft.DataFactory/facto[...]
