{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11851"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-466?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1028"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-466",
        "name": "DataFactory-RG-466",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-466/providers/Microsoft.DataFactory/factories/DataFactory-8813?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1027"
      },
      "ResponseBody": {
        "name": "DataFactory-8813",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-466/providers/Microsoft.DataFactory/factories/datafactory-8813",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T09:46:37.5236332Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002267032b09-0000-0800-0000-6555e4fd0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-466/providers/Microsoft.DataFactory/factories/datafactory-8813/linkedservices/linkedService_8826?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "serviceUri": "https://test.crm.dynamics.com",
            "authenticationType": "ServicePrincipalKey",
            "servicePrincipalId": "fakeServicePrincipalId",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "servicePrincipalCredential": {
              "value": "fakeServicePrincipalCredential",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1026"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-466/providers/Microsoft.DataFactory/factories/datafactory-8813/linkedservices/linkedService_8826",
        "name": "linkedService_8826",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "serviceUri": "https://test.crm.dynamics.com",
            "authenticationType": "ServicePrincipalKey",
            "servicePrincipalId": "fakeServicePrincipalId",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDk5MzA4NzE3LUI5M0MtNENBRi1BMjQyLTA5OTdBQjk3NzJCRl85YzhhMDMyNS1iNzRhLTQ0NTctYmIwZi1lNzlkYjM4NDIxYzIiDQp9"
          }
        },
        "etag": "6d001652-0000-0800-0000-6555e4fe0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-466/providers/Microsoft.DataFactory/factories/datafactory-8813/datasets/dataset_8160?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CommonDataServiceForAppsEntity",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_8826"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1025"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-466/providers/Microsoft.DataFactory/factories/datafactory-8813/datasets/dataset_8160",
        "name": "dataset_8160",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "CommonDataServiceForAppsEntity",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_8826"
          },
          "typeProperties": {}
        },
        "etag": "6d001b52-0000-0800-0000-6555e4fe0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-466/providers/Microsoft.DataFactory/factories/datafactory-8813/pipelines/pipeline-1811?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_8160"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_4283"
                }
              ],
              "name": "task-4479",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "FetchXML",
                  "type": "CommonDataServiceForAppsSource"
                },
                "sink": {
                  "writeBehavior": "Upsert",
                  "ignoreNullValues": true,
                  "alternateKeyName": "keyName",
                  "type": "CommonDataServiceForAppsSink",
                  "writeBatchSize": 5000
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1022"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-466/providers/Microsoft.DataFactory/factories/datafactory-8813/pipelines/pipeline-1811",
        "name": "pipel[...]
