{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "2cd617ea-1866-46b1-90e3-fffb087ebf9b",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/adf-rg-saptable-5946?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946",
        "name": "adf-rg-saptable-5946",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800"
      },
      "ResponseBody": {
        "name": "adf-saptable-7440",
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2025-02-20T06:17:16.2059902Z",
          "version": "2018-06-01"
        },
        "eTag": "\"fa00d9cb-0000-0800-0000-67b6c8ec0000\"",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/linkedservices/adf_linkedservice_saptable_8826?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "testserver",
            "clientId": "00000000-0000-0000-0000-000000000000",
            "userName": "Sanitized",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            },
            "sncMode": false
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/linkedservices/adf_linkedservice_saptable_8826",
        "name": "adf_linkedservice_saptable_8826",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "testserver",
            "clientId": "00000000-0000-0000-0000-000000000000",
            "userName": "Sanitized",
            "sncMode": false,
            "encryptedCredential": "Sanitized"
          }
        },
        "etag": "55038576-0000-0800-0000-67b6c8ef0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/datasets/adf-dataset-saptable-2964?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTableResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_saptable_8826"
          },
          "typeProperties": {
            "tableName": "fakeName"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/datasets/adf-dataset-saptable-2964",
        "name": "adf-dataset-saptable-2964",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapTableResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_saptable_8826"
          },
          "typeProperties": {
            "tableName": "fakeName"
          }
        },
        "etag": "55036677-0000-0800-0000-67b6c8f10000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/linkedservices/adf_linkedservice_saptable_3111?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/linkedservices/adf_linkedservice_saptable_3111",
        "name": "adf_linkedservice_saptable_3111",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "55030078-0000-0800-0000-67b6c8f20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/datasets/adf-dataset-saptable-932?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStoreFile",
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factories/adf-saptable-7440/pipelines/adf-pipeline-saptable-7244?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-3742",
              "type": "Copy",
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "adf_linkedservice_saptable_8826"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-saptable-2964"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-saptable-932"
                }
              ],
              "typeProperties": {
                "source": {
                  "type": "SapTableSource",
                  "rowCount": 3,
                  "sapDataColumnDelimiter": "|",
                  "partitionOption": "pipeline().parameters.parallelOption",
                  "partitionSettings": {
                    "partitionColumnName": "fakeColumn",
                    "partitionUpperBound": "20190405",
                    "partitionLowerBound": "20170809",
                    "maxPartitionsNumber": 3
                  }
                },
                "sink": {
                  "type": "AzureDataLakeStoreSink"
                }
              }
            }
          ],
          "parameters": {
            "parallelOption": {
              "type": "String"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/adf-rg-saptable-5946/providers/Microsoft.DataFactory/factorie[...]
