{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "991"
      },
      "ResponseBody": {
        "name": "DataFactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:13:07.6994737Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022880102f0-0000-0800-0000-6545ef030000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982/linkedservices/linkedService_4748?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Db2",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "990"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982/linkedservices/linkedService_4748",
        "name": "linkedService_4748",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Db2",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "1a00a7b7-0000-0800-0000-6545ef040000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982/datasets/dataset_5120?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Db2Table",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_4748"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "989"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982/datasets/dataset_5120",
        "name": "dataset_5120",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "Db2Table",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_4748"
          },
          "typeProperties": {}
        },
        "etag": "1a00aab7-0000-0800-0000-6545ef050000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982/linkedservices/linkedService_4632?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "988"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982/linkedservices/linkedService_4632",
        "name": "linkedService_4632",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEVCQUE3MDkzLTMzNUMtNDdCNC05QkZGLTU2N0EwOEUxRjc3OV8zMWVhYjI2NS05ZGIzLTRiYmUtODkxMC0xMDZlMDcwNTY5ZTUiDQp9"
          }
        },
        "etag": "1a00acb7-0000-0800-0000-6545ef050000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-521bcd94-3d44-302b-b07b-874bb88ff557-6982/pipelines/pipeline-2434?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_5120"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_3475"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "task-4228",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from faketable",
                  "type": "Db2Source"
                },
                "sink": {
                  "preCopyScript": "fake script",
                  "type": "AzureMySqlSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "986"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-[...]
