{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1152"
      },
      "ResponseBody": {
        "name": "DataFactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:09:20.2634677Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002288012cdd-0000-0800-0000-6545ee200000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313/linkedservices/linkedService_4553?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "endpoint",
            "database": "database"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1151"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313/linkedservices/linkedService_4553",
        "name": "linkedService_4553",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "endpoint",
            "database": "database"
          }
        },
        "etag": "290023cf-0000-0800-0000-6545ee210000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313/datasets/dataset_914?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataExplorerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_4553"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1150"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313/datasets/dataset_914",
        "name": "dataset_914",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureDataExplorerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_4553"
          },
          "typeProperties": {}
        },
        "etag": "290025cf-0000-0800-0000-6545ee210000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-06b64e70-20e7-3b2a-83f3-8168d00b9599-4313/pipelines/pipeline-8985?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_914"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_5179"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "task-7863",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "CustomLogEvent | top 10 by TIMESTAMP | project TIMESTAMP, Tenant, EventId, ActivityId",
                  "noTruncation": false,
                  "queryTimeout": "00:00:15",
                  "type": "AzureDataExplorerSource"
                },
                "sink": {
                  "ingestionMappingName": "MappingName",
                  "ingestionMappingAsJson": "Mapping",
                  "flushImmediately": true,
                  "type": "AzureDataExplorerSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1147"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0[...]
