{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "4"
      },
      "ResponseBody": {
        "name": "DataFactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:38:20.7234899Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901587a-0000-0800-0000-6545f4ec0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/linkedservices/linkedService_9934?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "3"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/linkedservices/linkedService_9934",
        "name": "linkedService_9934",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        },
        "etag": "cc005509-0000-0800-0000-6545f4ed0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/datasets/dataset_1919?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9934"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "2"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/datasets/dataset_1919",
        "name": "dataset_1919",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_9934"
          }
        },
        "etag": "cc005909-0000-0800-0000-6545f4ee0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/linkedservices/linkedService_9115?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/linkedservices/linkedService_9115",
        "name": "linkedService_9115",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEIzMDVCN0ZELTAyRDItNDREOC1BODBGLTg3NTYxREM0Qjc3N19jNGExMWVhNi03Y2Q1LTRiNTQtOTY4Zi0xODllOWZlMDk0YzIiDQp9"
          }
        },
        "etag": "cc005b09-0000-0800-0000-6545f4ee0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/integrationRuntimes/integrationRuntime-3786?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "-1"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/integrationruntimes/integrationRuntime-3786",
        "name": "integrationRuntime-3786",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "cc006009-0000-0800-0000-6545f4ef0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/dataflows/task-490?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "dataset_1919"
              }
            ],
            "sinks": [
              {
                "name": "dataset_7604"
              }
            ]
          }
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "303",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "SubscriptionRequestsThrottled",
          "message": "Number of write requests for subscription \u0027da1d7b9a-a759-41c8-bb73-093a1818e03a\u0027 exceeded the limit of \u00271200\u0027 for time interval \u002701:00:00\u0027. Please try again after \u0027303\u0027 seconds."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-78e0d67b-b88f-372e-a38d-565db1d7cd1f-8472/pipelines/pipeline-5844?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "task-470",
              "type": "ExecuteDataFlow",
              "typeProperties": {
                "dataFlow": {
                  "type": "DataFlowReference",
                  "referenceName": "task-490"
                },
                "staging": {
                  "linkedService": {
                    "type": "LinkedServiceReference",
                    "referenceName": "linkedService_9115"
                  },
                  "folderPath": "adfjobs/staging"
                },
                "integrationRuntime": {
                  "type": "IntegrationRuntimeReference",
                  "referenceName": "integrationRuntime-3786"
                },
                "compute": {
                  "computeType": {
                    "type": "Expression",
                    "value": "@parameters(\u0022MemoryOptimized\u0022)"
                  },
                  "coreCount": {
                    "type": "Expression",
                    "value": "@parameters(\u00228\u0022)"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody"[...]
