{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "name": "DataFactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:08:42.4742506Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228801bed9-0000-0800-0000-6545edfa0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325/linkedservices/linkedService_1286?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRdsForSqlServer",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325/linkedservices/linkedService_1286",
        "name": "linkedService_1286",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AmazonRdsForSqlServer",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDE1MjIwMTEwLTAzOTYtNENERS1BQ0UxLTMyRUJBRDUxQTFFOF8yOWE2NzAwMy0xYmMyLTQwOWYtYTMxMC04MWE1YmJiZDdlZmEiDQp9"
          }
        },
        "etag": "0e0008bc-0000-0800-0000-6545edfb0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325/datasets/dataset_8463?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRdsForSqlServerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1286"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325/datasets/dataset_8463",
        "name": "dataset_8463",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AmazonRdsForSqlServerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1286"
          },
          "typeProperties": {}
        },
        "etag": "0e000abc-0000-0800-0000-6545edfb0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0b7876d7-50a5-3562-ac4e-ca86b233ef36-7325/pipelines/pipeline-2511?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_8463"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_1320"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_1286"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "task-1046",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "sqlReaderQuery": "$EncryptedString$MyEncryptedQuery",
                  "sqlReaderStoredProcedureName": "CopyTestSrcStoredProcedureWithParameters",
                  "storedProcedureParameters": {
                    "stringData": {
                      "value": "test",
                      "type": "String"
                    },
                    "id": {
                      "value": "3",
                      "type": "Int"
                    }
                  },
                  "isolationLevel": "ReadCommitted",
                  "type": "AmazonRdsForSqlServerSource",
                  "sourceRetryCount": 2,
                  "sourceRetryWait": "00:00:01"
                },
                "sink": {
                  "blobWriterAddHeader": true,
                  "type": "BlobSink",
                  "writeBatchSize": 100000,
                  "writeBatchTimeout": "01:00:00"
                },
                "translator": {
                  "type": "TabularTranslator",
                  "columnMappings": "PartitionKey:PartitionKey"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1171"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-0b7876d7-50a5-3562-ac4e-ca86b[...]
