{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11723"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-relational-2117?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "432"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117",
        "name": "adf-rg-relational-2117",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "431"
      },
      "ResponseBody": {
        "name": "adf-relational-5088",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:11:39.9633809Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e04c7b7-0000-0800-0000-655f255c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088/linkedservices/adf_linkedservice_relational_7947?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SqlServer",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "430"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088/linkedservices/adf_linkedservice_relational_7947",
        "name": "adf_linkedservice_relational_7947",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SqlServer",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDBCREI5MzI0LTA0ODUtNDdDOS04NTQ3LUM5RTg1Q0I4RTA0NV85ZjYxOGQxNS1mZjllLTRjOGEtYjFkYy1mZGZhNWY2ZWE1YWMiDQp9"
          }
        },
        "etag": "0c001fb6-0000-0800-0000-655f255c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088/datasets/adf-dataset-relational-9925?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SqlServerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_relational_7947"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "429"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088/datasets/adf-dataset-relational-9925",
        "name": "adf-dataset-relational-9925",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SqlServerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_relational_7947"
          },
          "typeProperties": {}
        },
        "etag": "0c0021b6-0000-0800-0000-655f255c0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088/pipelines/adf-pipeline-relational-4524?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-relational-9925"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-relational-513"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "adf-pipeline-task-9770",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from northwind_mysql.orders",
                  "type": "RelationalSource"
                },
                "sink": {
                  "blobWriterAddHeader": true,
                  "type": "BlobSink",
                  "writeBatchSize": 100000,
                  "writeBatchTimeout": "01:00:00"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "426"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-relational-2117/providers/Microsoft.DataFactory/factories/adf-relational-5088/pipelines/adf-pipeline-relational-45[...]
