{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11450"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-db2-2805?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805",
        "name": "adf-rg-db2-2805",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "name": "adf-db2-9287",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T09:16:03.4834144Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002244040825-0000-0800-0000-655c75530000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/linkedservices/adf_linkedservice_db2_564?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Db2",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/linkedservices/adf_linkedservice_db2_564",
        "name": "adf_linkedservice_db2_564",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Db2",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "22001d04-0000-0800-0000-655c75540000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/datasets/adf-dataset-db2-5633?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Db2Table",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_db2_564"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/datasets/adf-dataset-db2-5633",
        "name": "adf-dataset-db2-5633",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "Db2Table",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_db2_564"
          },
          "typeProperties": {}
        },
        "etag": "22001f04-0000-0800-0000-655c75540000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/linkedservices/adf_linkedservice_db2_1508?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/linkedservices/adf_linkedservice_db2_1508",
        "name": "adf_linkedservice_db2_1508",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQwNUJCN0NGLUEzMTAtNDQ5NS1CNTBBLUI3MTIyQjNFQkEyQ19lNzBmZWMxMi1lOGNiLTRjMDItOWUxZC00NGNkNmExZWFiZTciDQp9"
          }
        },
        "etag": "22002104-0000-0800-0000-655c75550000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/pipelines/adf-pipeline-db2-6954?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-db2-5633"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-db2-4112"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "adf-pipeline-task-7247",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from faketable",
                  "type": "Db2Source"
                },
                "sink": {
                  "preCopyScript": "fake script",
                  "type": "AzureMySqlSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-db2-2805/providers/Microsoft.DataFactory/factories/adf-db2-9287/pi[...]
