{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "78"
      },
      "ResponseBody": {
        "name": "DataFactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:36:40.6099752Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002289018770-0000-0800-0000-6545f4880000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085/linkedservices/linkedService_5935?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "77"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085/linkedservices/linkedService_5935",
        "name": "linkedService_5935",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "3d0093f3-0000-0800-0000-6545f4890000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085/datasets/dataset_5406?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_5935"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "76"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085/datasets/dataset_5406",
        "name": "dataset_5406",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_5935"
          },
          "typeProperties": {}
        },
        "etag": "3d0099f3-0000-0800-0000-6545f4890000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085/pipelines/pipeline-5653?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_5406"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_7682"
                }
              ],
              "name": "task-9602",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "storeSettings": {
                    "recursive": true,
                    "enablePartitionDiscovery": true,
                    "type": "AzureDataLakeStoreReadSettings"
                  },
                  "formatSettings": {
                    "skipLineCount": 10,
                    "type": "DelimitedTextReadSettings",
                    "\\N": "NULL"
                  },
                  "additionalColumns": [
                    {
                      "Key": "name",
                      "Value": {}
                    },
                    {
                      "Key": "value",
                      "Value": {}
                    }
                  ],
                  "type": "DelimitedTextSource"
                },
                "sink": {
                  "storeSettings": {
                    "type": "AzureDataLakeStoreWriteSettings",
                    "maxConcurrentConnections": 3,
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "quoteAllText": true,
                    "fileExtension": ".csv",
                    "maxRowsPerFile": 10,
                    "fileNamePrefix": "orcSinkFile",
                    "type": "DelimitedTextWriteSettings"
                  },
                  "type": "DelimitedTextSink"
                },
                "logSettings": {
                  "enableCopyActivityLog": true,
                  "copyActivityLogSettings": {
                    "logLevel": "Info",
                    "enableReliableLogging": true
                  },
                  "logLocationSettings": {
                    "linkedServiceName": {
                      "type": "LinkedServiceReference",
                      "referenceName": "linkedService_5935"
                    },
                    "path": "test"
                  }
                },
                "validateDataConsistency": true,
                "skipErrorFile": {
                  "fileMissing": true,
                  "dataInconsistency": true
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "73"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-8a19c9cb-fd34-3c31-8509-ce625b5c6b7c-5085/pipelines/pi[...]
