{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "560"
      },
      "ResponseBody": {
        "name": "DataFactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:24:14.7245979Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901252e-0000-0800-0000-6545f19e0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329/linkedservices/linkedService_1514?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Salesforce",
          "typeProperties": {
            "environmentUrl": "https://login.salesforce.com",
            "username": "admin",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            },
            "securityToken": {
              "value": "fakeToken",
              "type": "SecureString"
            },
            "apiVersion": "54.0"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "559"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329/linkedservices/linkedService_1514",
        "name": "linkedService_1514",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Salesforce",
          "typeProperties": {
            "environmentUrl": "https://login.salesforce.com",
            "username": "admin",
            "apiVersion": "54.0",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEFERUE5NEFGLTY5N0YtNEZDOS04NzRDLUNCOTM4N0QwMUQwNV9iYjlkOTViMy00ZDAyLTRmNzItODUyZC0wYmUwOTIwZGJhYTIiDQp9"
          }
        },
        "etag": "1a006cbb-0000-0800-0000-6545f19f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329/datasets/dataset_1574?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SalesforceObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1514"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "558"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329/datasets/dataset_1574",
        "name": "dataset_1574",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SalesforceObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1514"
          },
          "typeProperties": {}
        },
        "etag": "1a0075bb-0000-0800-0000-6545f1a00000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-bb45dc8e-0bcd-39b1-b5c4-0b771796529d-4329/pipelines/pipeline-2422?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_1574"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_6948"
                }
              ],
              "name": "task-5788",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select Id from table",
                  "readBehavior": "QueryAll",
                  "type": "SalesforceSource"
                },
                "sink": {
                  "writeBehavior": "Insert",
                  "ignoreNullValues": false,
                  "type": "SalesforceSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "555"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-bb45dc8e[...]
