{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "674"
      },
      "ResponseBody": {
        "name": "DataFactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:21:36.3838764Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002289015f20-0000-0800-0000-6545f1000000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647/linkedservices/linkedService_1347?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MariaDB",
          "typeProperties": {
            "connectionString": {
              "value": "SecureString",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "673"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647/linkedservices/linkedService_1347",
        "name": "linkedService_1347",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "MariaDB",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "74003320-0000-0800-0000-6545f1010000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647/datasets/dataset_4823?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MariaDBTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1347"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "672"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647/datasets/dataset_4823",
        "name": "dataset_4823",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "MariaDBTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1347"
          },
          "typeProperties": {}
        },
        "etag": "74003520-0000-0800-0000-6545f1020000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647/linkedservices/linkedService_819?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "671"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647/linkedservices/linkedService_819",
        "name": "linkedService_819",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDc0QTZENjU3LUMzQTMtNDY1Mi1COENBLTM4ODBDQjBDRDg1M184YzIwY2E3NS00YjdmLTQ4ZTUtOGM1MS0zYmU2ZjU3OTk5NzUiDQp9"
          }
        },
        "etag": "74003720-0000-0800-0000-6545f1020000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-b214-00b27a83e5d0-3647/pipelines/pipeline-5382?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_4823"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_1119"
                }
              ],
              "name": "task-3830",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from a table",
                  "type": "MariaDBSource"
                },
                "sink": {
                  "type": "BlobSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "669"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-cbd0b03e-6213-350d-[...]
