{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "96"
      },
      "ResponseBody": {
        "name": "DataFactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:36:16.8989485Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901626e-0000-0800-0000-6545f4700000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82/linkedservices/linkedService_1673?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Hdfs",
          "typeProperties": {
            "url": "10.10.10.10"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "95"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82/linkedservices/linkedService_1673",
        "name": "linkedService_1673",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Hdfs",
          "typeProperties": {
            "url": "10.10.10.10"
          }
        },
        "etag": "11009c67-0000-0800-0000-6545f4710000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82/datasets/dataset_4998?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1673"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "94"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82/datasets/dataset_4998",
        "name": "dataset_4998",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DelimitedText",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1673"
          },
          "typeProperties": {}
        },
        "etag": "11009e67-0000-0800-0000-6545f4720000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82/linkedservices/linkedService_437?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "93"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82/linkedservices/linkedService_437",
        "name": "linkedService_437",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "1100a067-0000-0800-0000-6545f4720000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-2ccf3358-a967-3e11-a579-2dbaf1287693-82/pipelines/pipeline-2317?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_4998"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_5601"
                }
              ],
              "name": "task-8061",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "storeSettings": {
                    "recursive": true,
                    "wildcardFolderPath": "A*",
                    "wildcardFileName": "*.csv",
                    "enablePartitionDiscovery": true,
                    "modifiedDatetimeStart": "2019-07-02T00:00:00.000Z",
                    "modifiedDatetimeEnd": "2019-07-03T00:00:00.000Z",
                    "deleteFilesAfterCompletion": true,
                    "type": "HdfsReadSettings"
                  },
                  "formatSettings": {
                    "skipLineCount": 10,
                    "type": "DelimitedTextReadSettings",
                    "\\N": "NULL"
                  },
                  "type": "DelimitedTextSource"
                },
                "sink": {
                  "storeSettings": {
                    "type": "AzureDataLakeStoreWriteSettings",
                    "maxConcurrentConnections": 3,
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "quoteAllText": true,
                    "fileExtension": ".csv",
                    "type": "DelimitedTextWriteSettings"
                  },
                  "type": "DelimitedTextSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "91"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/d[...]
