{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1170"
      },
      "ResponseBody": {
        "name": "DataFactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:08:50.6730665Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002288014bda-0000-0800-0000-6545ee020000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/linkedservices/linkedService_1659?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRedshift",
          "typeProperties": {
            "server": "server",
            "database": "database"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/linkedservices/linkedService_1659",
        "name": "linkedService_1659",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AmazonRedshift",
          "typeProperties": {
            "server": "server",
            "database": "database"
          }
        },
        "etag": "05006339-0000-0800-0000-6545ee030000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/datasets/dataset_804?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRedshiftTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1659"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1168"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/datasets/dataset_804",
        "name": "dataset_804",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AmazonRedshiftTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_1659"
          },
          "typeProperties": {}
        },
        "etag": "05006639-0000-0800-0000-6545ee040000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/linkedservices/linkedService_617?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1167"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/linkedservices/linkedService_617",
        "name": "linkedService_617",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDRFMUM4OTkyLThGNDItNDIyNy05MjcxLTY5RjExMDBDQjhCMV82MmYyOTdlZS1hNDVlLTQwZjgtODlkOS1iMDY0Yjg1NzRhNDEiDQp9"
          }
        },
        "etag": "05006b39-0000-0800-0000-6545ee040000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/pipelines/pipeline-867?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_804"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_9582"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "task-9245",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from faketable",
                  "type": "AmazonRedshiftSource"
                },
                "sink": {
                  "type": "BlobSink",
                  "writeBatchSize": 1000000,
                  "writeBatchTimeout": "01:00:00"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1165"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-d015c73f-4cff-3209-b280-cd3389dac8f4-6070/pipe[...]
