{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9687/providers/Microsoft.DataFactory/factories/DataFactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "524"
      },
      "ResponseBody": {
        "name": "DataFactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:25:02.4439888Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901c431-0000-0800-0000-6545f1ce0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597/linkedservices/linkedService_5205?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapOpenHub",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "12",
            "clientId": "1",
            "userName": "admin"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "523"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597/linkedservices/linkedService_5205",
        "name": "linkedService_5205",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapOpenHub",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "12",
            "clientId": "1",
            "userName": "admin"
          }
        },
        "etag": "1900cedf-0000-0800-0000-6545f1cf0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597/datasets/dataset_7808?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapOpenHubTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_5205"
          },
          "typeProperties": {
            "openHubDestinationName": "fakeName"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "522"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597/datasets/dataset_7808",
        "name": "dataset_7808",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapOpenHubTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_5205"
          },
          "typeProperties": {
            "openHubDestinationName": "fakeName"
          }
        },
        "etag": "1900d1df-0000-0800-0000-6545f1cf0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597/linkedservices/linkedService_5939?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "521"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597/linkedservices/linkedService_5939",
        "name": "linkedService_5939",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDA2NENEQzI0LURCODQtNDUwNi04QjlCLTYzNTI5MEFEMDExQl8yNzVkNzM0YS1jMDgyLTQ3MjYtODQ2OC00YTQ3M2I2YjdkZjkiDQp9"
          }
        },
        "etag": "1900d3df-0000-0800-0000-6545f1d00000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories/datafactory-870d84d1-fc93-3633-a66d-6652b163e5ea-597/pipelines/pipeline-3501?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_7808"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_3854"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_5205"
              },
              "policy": {
                "timeout": "00:00:05",
                "retry": 3
              },
              "name": "task-3756",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "excludeLastRequest": false,
                  "baseRequestId": 123,
                  "customRfcReadTableFunctionModule": "fakecustomRfcReadTableFunctionModule",
                  "sapDataColumnDelimiter": "|",
                  "type": "SapOpenHubSource"
                },
                "sink": {
                  "copyBehavior": "FlattenHierarchy",
                  "type": "AzureDataLakeStoreSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "519"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9687/providers/Microsoft.DataFactory/factories[...]
