{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11721"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-salesforceservicecloud-9442?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "418"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442",
        "name": "adf-rg-salesforceservicecloud-9442",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/factories/adf-salesforceservicecloud-1795?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "417"
      },
      "ResponseBody": {
        "name": "adf-salesforceservicecloud-1795",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/factories/adf-salesforceservicecloud-1795",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:11:52.9113895Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e0405ba-0000-0800-0000-655f25680000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/factories/adf-salesforceservicecloud-1795/linkedservices/adf_linkedservice_salesforceservicecloud_3670?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SalesforceServiceCloud",
          "typeProperties": {
            "environmentUrl": "https://login.salesforce.com",
            "username": "fakeUsername",
            "securityToken": {
              "value": "fakeSecurityToken",
              "type": "SecureString"
            },
            "apiVersion": "54.0"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "416"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/factories/adf-salesforceservicecloud-1795/linkedservices/adf_linkedservice_salesforceservicecloud_3670",
        "name": "adf_linkedservice_salesforceservicecloud_3670",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SalesforceServiceCloud",
          "typeProperties": {
            "environmentUrl": "https://login.salesforce.com",
            "username": "fakeUsername",
            "apiVersion": "54.0",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEIxQ0ZCNUFFLTdBMjItNDQxMi1BMUVELTMzM0Y4QTg5NjQ1MF84ZDMzM2M2My03ODIyLTQyZjQtODBlOS00MDhkNmFjYTkxZTkiDQp9"
          }
        },
        "etag": "400073e7-0000-0800-0000-655f25690000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/factories/adf-salesforceservicecloud-1795/datasets/adf-dataset-salesforceservicecloud-4406?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SalesforceServiceCloudObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_salesforceservicecloud_3670"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "415"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/factories/adf-salesforceservicecloud-1795/datasets/adf-dataset-salesforceservicecloud-4406",
        "name": "adf-dataset-salesforceservicecloud-4406",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SalesforceServiceCloudObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_salesforceservicecloud_3670"
          },
          "typeProperties": {}
        },
        "etag": "400075e7-0000-0800-0000-655f25690000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/factories/adf-salesforceservicecloud-1795/pipelines/adf-pipeline-salesforceservicecloud-2295?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-salesforceservicecloud-4406"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-salesforceservicecloud-8671"
                }
              ],
              "name": "adf-pipeline-task-7766",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from my_table",
                  "readBehavior": "QueryAll",
                  "type": "SalesforceServiceCloudSource"
                },
                "sink": {
                  "writeBehavior": "Upsert",
                  "type": "SalesforceServiceCloudSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "412"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-salesforceservicecloud-9442/providers/Microsoft.DataFactory/[...]
