{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11392"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-quickbooks-5935?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935",
        "name": "adf-rg-quickbooks-5935",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "name": "adf-quickbooks-9110",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T08:49:15.790176Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002243047a61-0000-0800-0000-655c6f0b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/linkedservices/adf_linkedservice_quickbooks_8285?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "QuickBooks",
          "typeProperties": {
            "endpoint": "quickbooks.api.intuit.com",
            "companyId": "fakeCompanyId",
            "consumerKey": "fakeConsumerKey",
            "consumerSecret": {
              "value": "fakeConsumerSecret",
              "type": "SecureString"
            },
            "accessToken": {
              "value": "fakeAccessToken",
              "type": "SecureString"
            },
            "accessTokenSecret": {
              "value": "fakeAccessTokenSecret",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/linkedservices/adf_linkedservice_quickbooks_8285",
        "name": "adf_linkedservice_quickbooks_8285",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "QuickBooks",
          "typeProperties": {
            "endpoint": "quickbooks.api.intuit.com",
            "companyId": "fakeCompanyId",
            "consumerKey": "fakeConsumerKey",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ5ODU5MDI1LTA4MkYtNDk1My1BNERFLTkzNjc5ODU4OTI2Q19lOWI1NzBiYS1hYzA4LTRmYTgtYjk0ZS0yZDI1NDhiZDYzNmYiDQp9"
          }
        },
        "etag": "ab09229a-0000-0800-0000-655c6f0d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/datasets/adf-dataset-quickbooks-2566?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "QuickBooksObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_quickbooks_8285"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/datasets/adf-dataset-quickbooks-2566",
        "name": "adf-dataset-quickbooks-2566",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "QuickBooksObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_quickbooks_8285"
          },
          "typeProperties": {}
        },
        "etag": "ab09779a-0000-0800-0000-655c6f0f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/linkedservices/adf_linkedservice_quickbooks_373?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/linkedservices/adf_linkedservice_quickbooks_373",
        "name": "adf_linkedservice_quickbooks_373",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ5ODU5MDI1LTA4MkYtNDk1My1BNERFLTkzNjc5ODU4OTI2Q19iNTA0ZTFjYy0wNWU5LTQ3OTgtYWFmZS1lN2Y2OGU4ZWZkYzciDQp9"
          }
        },
        "etag": "ab09189b-0000-0800-0000-655c6f100000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/pipelines/adf-pipeline-quickbooks-4792?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-quickbooks-2566"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-quickbooks-6463"
                }
              ],
              "name": "adf-pipeline-task-5631",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from a table",
                  "type": "QuickBooksSource"
                },
                "sink": {
                  "type": "BlobSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-quickbooks-5935/providers/Microsoft.DataFactory/factories/adf-quickbooks-9110/pipelin[...]
