{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-azuredatabricks-9740?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1065"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740",
        "name": "adf-rg-azuredatabricks-9740",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740/providers/Microsoft.DataFactory/factories/adf-azuredatabricks-9812?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1064"
      },
      "ResponseBody": {
        "name": "adf-azuredatabricks-9812",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740/providers/Microsoft.DataFactory/factories/adf-azuredatabricks-9812",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:01:12.1980559Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e043865-0000-0800-0000-655f22e80000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740/providers/Microsoft.DataFactory/factories/adf-azuredatabricks-9812/linkedservices/adf_linkedservice_azuredatabricks_1414?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDatabricksDeltaLake",
          "typeProperties": {
            "domain": {
              "value": "https://abc-1234567890123456.7.azuredatabricks.net",
              "type": "SecureString"
            },
            "accessToken": {
              "value": "testtoken",
              "type": "SecureString"
            },
            "clusterId": "123456"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1063"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740/providers/Microsoft.DataFactory/factories/adf-azuredatabricks-9812/linkedservices/adf_linkedservice_azuredatabricks_1414",
        "name": "adf_linkedservice_azuredatabricks_1414",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDatabricksDeltaLake",
          "typeProperties": {
            "domain": {
              "type": "SecureString",
              "value": "**********"
            },
            "clusterId": "123456",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDcxNjc3MUVDLTJCQzUtNDg4MC1BODYxLTkzMjA5REUwM0NGN18wZDk3YzczOS1kYjFjLTQ0NWQtYTBjYS04NzUwOGUyYzIxZWIiDQp9"
          }
        },
        "etag": "3403219f-0000-0800-0000-655f22e80000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740/providers/Microsoft.DataFactory/factories/adf-azuredatabricks-9812/datasets/adf-dataset-azuredatabricks-593?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDatabricksDeltaLakeDataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_azuredatabricks_1414"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1062"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740/providers/Microsoft.DataFactory/factories/adf-azuredatabricks-9812/datasets/adf-dataset-azuredatabricks-593",
        "name": "adf-dataset-azuredatabricks-593",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureDatabricksDeltaLakeDataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_azuredatabricks_1414"
          },
          "typeProperties": {}
        },
        "etag": "3403249f-0000-0800-0000-655f22e90000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuredatabricks-9740/providers/Microsoft.DataFactory/factories/adf-azuredatabricks-9812/pipelines/adf-pipeline-azuredatabricks-264?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-azuredatabricks-593"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-azuredatabricks-3323"
                }
              ],
              "name": "adf-pipeline-task-8515",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "abc",
                  "exportSettings": {
                    "dateFormat": "xxx",
                    "timestampFormat": "xxx",
                    "type": "AzureDatabricksDeltaLakeExportCommand"
                  },
                  "type": "AzureDatabricksDeltaLakeSource"
                },
                "sink": {
                  "preCopyScript": "abc",
                  "importSettings": {
                    "dateFormat": "xxx",
                    "timestampFormat": "xxx",
                    "type": "AzureDatabricksDeltaLakeImportCommand"
                  },
                  "type": "AzureDatabricksDeltaLakeSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1059"
      },
  [...]
