{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-datalakeanalyticsusql-8197?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197",
        "name": "adf-rg-datalakeanalyticsusql-8197",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "adf-datalakeanalyticsusql-5541",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T09:50:20.2186108Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e048512-0000-0800-0000-655f205c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/linkedservices/adf_linkedservice_datalakeanalyticsusql_980?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "testaccount",
            "tenant": "12345678-1234-1234-1234-123456789012"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/linkedservices/adf_linkedservice_datalakeanalyticsusql_980",
        "name": "adf_linkedservice_datalakeanalyticsusql_980",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "testaccount",
            "tenant": "12345678-1234-1234-1234-123456789012"
          }
        },
        "etag": "0c007576-0000-0800-0000-655f205c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/linkedservices/adf_linkedservice_datalakeanalyticsusql_6344?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/linkedservices/adf_linkedservice_datalakeanalyticsusql_6344",
        "name": "adf_linkedservice_datalakeanalyticsusql_6344",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ3NTc2RUY1LTZGQ0UtNENCNC1CMUQ4LUZERkUxOTA4QTlGOF82YjMzNDQ0Ny0yNTVmLTRkNDktYWNkNC1jNDQ0N2VkZjZkMTAiDQp9"
          }
        },
        "etag": "0c007776-0000-0800-0000-655f205d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/datasets/adf-dataset-datalakeanalyticsusql-5223?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_datalakeanalyticsusql_6344"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/datasets/adf-dataset-datalakeanalyticsusql-5223",
        "name": "adf-dataset-datalakeanalyticsusql-5223",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_datalakeanalyticsusql_6344"
          },
          "typeProperties": {}
        },
        "etag": "0c007976-0000-0800-0000-655f205d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/pipelines/adf-pipeline-datalakeanalyticsusql-5752?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-6462",
              "type": "DataLakeAnalyticsU-SQL",
              "typeProperties": {
                "scriptPath": "fakepath",
                "scriptLinkedService": {
                  "type": "LinkedServiceReference",
                  "referenceName": "adf_linkedservice_datalakeanalyticsusql_6344"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-datalakeanalyticsusql-8197/providers/Microsoft.DataFactory/factories/adf-datalakeanalyticsusql-5541/pipelines/adf-pipeline-datalakeanalyticsusql-5752",
        "name": "adf-pipeline-datalakeanalyticsusql-5752",
        "type": "Microsoft.DataFactory/factories/pipelines",
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-6462",
              "type": "DataLakeAnalyticsU-SQL",
              "typeProperties": {
                "scriptPath": "fakepath",
                "scriptLinkedService": {
                  "type": "LinkedServiceReference",
                  "referenceName": "adf_linkedservice_datalakeanalyticsusql_6344"
                }
              }
            }
          ]
        },
        "etag": "0c007b76-0000-0800-0000-655f205d0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "486867378",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
