{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11599"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-azuremariadb-1298?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298",
        "name": "adf-rg-azuremariadb-1298",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "name": "adf-azuremariadb-8945",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T08:30:38.0638148Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002242047ed6-0000-0800-0000-655c6aae0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/linkedservices/adf_linkedservice_azuremariadb_8909?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMariaDB",
          "typeProperties": {
            "connectionString": {
              "value": "SecureString",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/linkedservices/adf_linkedservice_azuremariadb_8909",
        "name": "adf_linkedservice_azuremariadb_8909",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureMariaDB",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "ba02fbd3-0000-0800-0000-655c6aaf0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/datasets/adf-dataset-azuremariadb-6600?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMariaDBTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_azuremariadb_8909"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/datasets/adf-dataset-azuremariadb-6600",
        "name": "adf-dataset-azuremariadb-6600",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureMariaDBTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_azuremariadb_8909"
          },
          "typeProperties": {}
        },
        "etag": "ba0207d4-0000-0800-0000-655c6aaf0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/linkedservices/adf_linkedservice_azuremariadb_1979?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/linkedservices/adf_linkedservice_azuremariadb_1979",
        "name": "adf_linkedservice_azuremariadb_1979",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDE0NzU3RDU2LTE5QkYtNDdBNy04NzQ1LTA5RDdBRDJDMzEyOV81ODkyYzk2Ni1lNGIyLTRkYjMtYTg2OC1kYzZkZDkyODVjYjgiDQp9"
          }
        },
        "etag": "ba020ed4-0000-0800-0000-655c6ab00000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/pipelines/adf-pipeline-azuremariadb-1070?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-azuremariadb-6600"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-azuremariadb-3636"
                }
              ],
              "name": "adf-pipeline-task-6833",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "select * from a table",
                  "type": "AzureMariaDBSource"
                },
                "sink": {
                  "type": "BlobSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-azuremariadb-1298/providers/Microsoft.DataFactory/factories/adf-azuremariadb-8945/pip[...]
