{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-delimitedtext-6785?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785",
        "name": "adf-rg-delimitedtext-6785",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "name": "adf-delimitedtext-3497",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T09:16:43.6655822Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00224404ea29-0000-0800-0000-655c757b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497/linkedservices/adf_linkedservice_delimitedtext_9573?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobFS",
          "typeProperties": {
            "url": "https://test.dfs.core.windows.net/",
            "servicePrincipalId": "fakeServicePrincipalId",
            "tenant": "fakeTenant",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "servicePrincipalCredential": {
              "value": "fakeServicePrincipalCredential",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497/linkedservices/adf_linkedservice_delimitedtext_9573",
        "name": "adf_linkedservice_delimitedtext_9573",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobFS",
          "typeProperties": {
            "url": "https://test.dfs.core.windows.net/",
            "servicePrincipalId": "fakeServicePrincipalId",
            "tenant": "fakeTenant",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDEzQ0Q3RTY2LTZFRUUtNDBGQy04QTk2LUQ4MTVDMURGOEExN183ZDdhODA0OS1hYWI1LTRlYmEtODI4MS02MTNiODdhOTAzNmEiDQp9"
          }
        },
        "etag": "8b003e40-0000-0800-0000-655c757c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497/datasets/adf-dataset-delimitedtext-2207?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobFSFile",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_9573"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497/datasets/adf-dataset-delimitedtext-2207",
        "name": "adf-dataset-delimitedtext-2207",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlobFSFile",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_delimitedtext_9573"
          },
          "typeProperties": {}
        },
        "etag": "8b004040-0000-0800-0000-655c757d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497/linkedservices/adf_linkedservice_delimitedtext_7755?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497/linkedservices/adf_linkedservice_delimitedtext_7755",
        "name": "adf_linkedservice_delimitedtext_7755",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "https://test.azuredatalakestore.net/testindex/v1"
          }
        },
        "etag": "8b004240-0000-0800-0000-655c757e0000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-delimitedtext-6785/providers/Microsoft.DataFactory/factories/adf-delimitedtext-3497/pipelines/adf-pipeline-delimitedtext-3854?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-2207"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-delimitedtext-8346"
                }
              ],
              "name": "adf-pipeline-task-6845",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "storeSettings": {
                    "recursive": true,
                    "enablePartitionDiscovery": true,
                    "modifiedDatetimeStart": "2019-07-02T00:00:00.000Z",
                    "modifiedDatetimeEnd": "2019-07-03T00:00:00.000Z",
                    "type": "AzureBlobFSReadSettings"
                  },
                  "formatSettings": {
                    "skipLineCount": 10,
                    "type": "DelimitedTextReadSettings",
                    "\\N": "NULL"
                  },
                  "type": "DelimitedTextSource"
                },
                "sink": {
                  "storeSettings": {
                    "type": "AzureDataLakeStoreWriteSettings",
                    "maxConcurrentConnections": 3,
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "quoteAllText": true,
                    "fileExtension": ".csv",
                    "type": "DelimitedTextWriteSettings"
                  },
                  "type": "DelimitedTextSink"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups[...]
