{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "225"
      },
      "ResponseBody": {
        "name": "DataFactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:32:44.3491652Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002289015059-0000-0800-0000-6545f39c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/linkedservices/linkedService_5892?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureTableStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "224"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/linkedservices/linkedService_5892",
        "name": "linkedService_5892",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureTableStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "1500b6b6-0000-0800-0000-6545f3a20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/datasets/linkedService_5180?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_5892"
          },
          "typeProperties": {
            "tableName": "fakeTable"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "223"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/datasets/linkedService_5180",
        "name": "linkedService_5180",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_5892"
          },
          "typeProperties": {
            "tableName": "fakeTable"
          }
        },
        "etag": "1500bcb6-0000-0800-0000-6545f3a60000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/linkedservices/linkedService_573?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "222"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/linkedservices/linkedService_573",
        "name": "linkedService_573",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDc5RUNEOENDLTQ3NzctNDFCNy04NkI4LTFBQ0RFMzgyRERENl8xMDUzYTRlYi0zNzQxLTQ0M2EtYTUwZS0wMjc2NDdjOTc3MTYiDQp9"
          }
        },
        "etag": "1500c4b6-0000-0800-0000-6545f3a80000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/datasets/dataset_8322?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Azu[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/pipelines/pipeline-3373?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "linkedService_5180"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_8322"
                }
              ],
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "linkedService_5892"
              },
              "name": "task-4357",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "BlobSource"
                },
                "sink": {
                  "azureTableDefaultPartitionKeyValue": "defaultParitionKey",
                  "type": "AzureTableSink",
                  "writeBatchSize": 1000000,
                  "writeBatchTimeout": "01:00:00"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "220"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-56d2715c-a88b-3923-ae79-99fcb5b4e50f-2105/pipel[...]
