{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11738"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-odata-3098?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "495"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098",
        "name": "adf-rg-odata-3098",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "494"
      },
      "ResponseBody": {
        "name": "adf-odata-710",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:10:52.0320483Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229e0450b1-0000-0800-0000-655f252c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/linkedservices/adf_linkedservice_odata_5611?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "OData",
          "typeProperties": {
            "url": "http:\\test.com"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "493"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/linkedservices/adf_linkedservice_odata_5611",
        "name": "adf_linkedservice_odata_5611",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "OData",
          "typeProperties": {
            "url": "http:\\test.com"
          }
        },
        "etag": "0c0006b6-0000-0800-0000-655f252c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/datasets/adf-dataset-odata-503?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ODataResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_odata_5611"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "492"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/datasets/adf-dataset-odata-503",
        "name": "adf-dataset-odata-503",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "ODataResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_odata_5611"
          },
          "typeProperties": {}
        },
        "etag": "0c0008b6-0000-0800-0000-655f252c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/linkedservices/adf_linkedservice_odata_9793?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "491"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/linkedservices/adf_linkedservice_odata_9793",
        "name": "adf_linkedservice_odata_9793",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEE2RDMyNzVBLTUxNDItNDQxMC1CQTgzLTc1Qjk5NEU3QkI0Rl8xMTA2NTNjYS1hZTY1LTRiMjItYTY2ZC0zOWI3ZTBmMjJjYTYiDQp9"
          }
        },
        "etag": "0c000ab6-0000-0800-0000-655f252d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/datasets/adf-dataset-odata-6744?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_odata_9793"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "490"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/datasets/adf-dataset-odata-6744",
        "name": "adf-dataset-odata-6744",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureBlob",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_odata_9793"
          },
          "typeProperties": {}
        },
        "etag": "0c000cb6-0000-0800-0000-655f252d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/pipelines/adf-pipeline-odata-6384?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-odata-503"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "adf-dataset-odata-6744"
                }
              ],
              "policy": {
                "timeout": "01:00:00",
                "retry": 2
              },
              "name": "adf-pipeline-task-2372",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "query": "$top=1",
                  "httpRequestTimeout": "00:05:00",
                  "type": "ODataSource"
                },
                "sink": {
                  "type": "BlobSink",
                  "writeBatchSize": 1000000,
                  "writeBatchTimeout": "01:00:00"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "489"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-odata-3098/providers/Microsoft.DataFactory/factories/adf-odata-710/pipelines/adf-pipeline-odata-6384",
        "na[...]
