{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-executedataflow-3172?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172",
        "name": "adf-rg-executedataflow-3172",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "adf-executedataflow-7562",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T10:38:14.162446Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00224604327b-0000-0800-0000-655c88960000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/linkedservices/adf_linkedservice_executedataflow_4072?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/linkedservices/adf_linkedservice_executedataflow_4072",
        "name": "adf_linkedservice_executedataflow_4072",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        },
        "etag": "6c00b11a-0000-0800-0000-655c88970000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/datasets/adf-dataset-executedataflow-5147?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_executedataflow_4072"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/datasets/adf-dataset-executedataflow-5147",
        "name": "adf-dataset-executedataflow-5147",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf_linkedservice_executedataflow_4072"
          }
        },
        "etag": "6c00b71a-0000-0800-0000-655c88970000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/linkedservices/adf_linkedservice_executedataflow_3985?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/linkedservices/adf_linkedservice_executedataflow_3985",
        "name": "adf_linkedservice_executedataflow_3985",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEI3QUZFOURFLTg0RDEtNEVDRC1CM0ZELTA4RTJEMjM5QkNCRl9mY2ExYjhkMC0wMTJjLTQ4MzgtOGU0Yi1lZGFlZDQ5YjA5NjUiDQp9"
          }
        },
        "etag": "6c00b91a-0000-0800-0000-655c88980000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/integrationRuntimes/adf-integraionruntime-995?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/integrationruntimes/adf-integraionruntime-995",
        "name": "adf-integraionruntime-995",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "6c00c41a-0000-0800-0000-655c889a0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/dataflows/adf-dataflow-2985?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "adf-dataset-executedataflow-5147"
              }
            ],
            "sinks": [
              {
                "name": "adf-dataset-executedataflow-2988"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/dataflows/adf-dataflow-2985",
        "name": "adf-dataflow-2985",
        "type": "Microsoft.DataFactory/factories/dataflows",
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "adf-dataset-executedataflow-5147"
              }
            ],
            "sinks": [
              {
                "name": "adf-dataset-executedataflow-2988"
              }
            ]
          }
        },
        "etag": "6c00cb1a-0000-0800-0000-655c889b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-executedataflow-3172/providers/Microsoft.DataFactory/factories/adf-executedataflow-7562/pipelines/adf-pipeline-executedataflow-5270?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "adf-pipeline-task-8625",
              "type": "ExecuteDataFlow",
              "typeProperties": {
                "dataFlow": {
                  "type": "DataFlowReference",
                  "referenceName": "adf-dataflow-2985"
                },
                "staging": {
                  "linkedService": {
                    "type": "LinkedServiceReference",
                    "referenceName": "adf_linkedservice_executedataflow_3985"
                  },
                  "folderPath": "adfjobs/staging"
                },
                "integrationRuntime": {
                  "type": "IntegrationRuntimeReference",
                  "referenceName": "adf-integraionruntime-995"
                },
                "compute": {
                  "computeType": {
                    "type": "Expression",
                    "value": "@parameters(\u0022MemoryOptimized\u0022)"
                  },
                  "coreCount": {
                    "type": "Expression",
                    "value": "@parameters(\u00228\u0022)"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody"[...]
