{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "12"
      },
      "ResponseBody": {
        "name": "DataFactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:38:11.3319921Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002289018d79-0000-0800-0000-6545f4e30000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/linkedservices/linkedService_6718?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "11"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/linkedservices/linkedService_6718",
        "name": "linkedService_6718",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapBW",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "123456",
            "clientId": "fakeClientId"
          }
        },
        "etag": "6f01cf19-0000-0800-0000-6545f4e40000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/datasets/dataset_126?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_6718"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/datasets/dataset_126",
        "name": "dataset_126",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapBwCube",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_6718"
          }
        },
        "etag": "6f016a1a-0000-0800-0000-6545f4e40000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/linkedservices/linkedService_6978?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "9"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/linkedservices/linkedService_6978",
        "name": "linkedService_6978",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEVGRDNERDA1LTg2NzQtNEFBOC05NjFELTVGMTlGMEMyNERBN18xMzI1NmE2Ny1iNGUyLTQ2ZTctOGUzZS0yZGEyYmNhMzIxZWUiDQp9"
          }
        },
        "etag": "6f01bd1a-0000-0800-0000-6545f4e50000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/integrationRuntimes/integrationRuntime-7848?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "7"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/integrationruntimes/integrationRuntime-7848",
        "name": "integrationRuntime-7848",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "6f017a1b-0000-0800-0000-6545f4e60000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/dataflows/task-884?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "dataset_126"
              }
            ],
            "sinks": [
              {
                "name": "dataset_2852"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "6"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/dataflows/task-884",
        "name": "task-884",
        "type": "Microsoft.DataFactory/factories/dataflows",
        "properties": {
          "type": "MappingDataFlow",
          "typeProperties": {
            "sources": [
              {
                "name": "dataset_126"
              }
            ],
            "sinks": [
              {
                "name": "dataset_2852"
              }
            ]
          }
        },
        "etag": "6f01b71b-0000-0800-0000-6545f4e60000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-7abcebd5-581d-3600-aa7c-82856bf40711-2955/pipelines/pipeline-7319?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "name": "task-1235",
              "type": "ExecuteDataFlow",
              "typeProperties": {
                "dataFlow": {
                  "type": "DataFlowReference",
                  "referenceName": "task-884"
                },
                "staging": {
                  "linkedService": {
                    "type": "LinkedServiceReference",
                    "referenceName": "linkedService_6978"
                  },
                  "folderPath": "adfjobs/staging"
                },
                "integrationRuntime": {
                  "type": "IntegrationRuntimeReference",
                  "referenceName": "integrationRuntime-7848"
                },
                "compute": {
                  "computeType": "MemoryOptimized",
                  "coreCount": 8
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "5"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFac[...]
