{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4386/providers/Microsoft.DataFactory/factories/DataFactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1004"
      },
      "ResponseBody": {
        "name": "DataFactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T07:51:12.5907717Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228901efbc-0000-0800-0000-6545f7f00000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659/linkedservices/linkedService_2262?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MongoDbAtlas",
          "typeProperties": {
            "connectionString": {
              "value": "mongodb\u002Bsrv://myDatabaseUser:@server.example.com",
              "type": "SecureString"
            },
            "database": "TestDB",
            "driverVersion": "v2"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1003"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659/linkedservices/linkedService_2262",
        "name": "linkedService_2262",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "MongoDbAtlas",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "database": "TestDB",
            "driverVersion": "v2"
          }
        },
        "etag": "cc005410-0000-0800-0000-6545f7f10000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659/datasets/dataset_2489?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MongoDbAtlasCollection",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_2262"
          },
          "typeProperties": {
            "collection": "TestCollection"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1002"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659/datasets/dataset_2489",
        "name": "dataset_2489",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "MongoDbAtlasCollection",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedService_2262"
          },
          "typeProperties": {
            "collection": "TestCollection"
          }
        },
        "etag": "cc005610-0000-0800-0000-6545f7f10000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659/pipelines/pipeline-3771?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "activities": [
            {
              "inputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_2489"
                }
              ],
              "outputs": [
                {
                  "type": "DatasetReference",
                  "referenceName": "dataset_7730"
                }
              ],
              "name": "task-5039",
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "filter": {
                    "type": "Expression",
                    "value": "@dataset().MyFilter"
                  },
                  "cursorMethods": {
                    "project": {
                      "type": "Expression",
                      "value": "@dataset().MyProject"
                    },
                    "sort": "{ age : 1 }",
                    "skip": 3,
                    "limit": 10
                  },
                  "batchSize": 5,
                  "type": "MongoDbAtlasSource"
                },
                "sink": {
                  "writeBehavior": "upsert",
                  "type": "MongoDbV2Sink",
                  "writeBatchSize": 5000
                }
              }
            }
          ],
          "parameters": {
            "MyFilter": {
              "type": "String"
            },
            "MyProject": {
              "type": "String"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "999"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4386/providers/Microsoft.DataFactory/factories/datafactory-0f3baf90-59d7-34ed-a591-e319b8e0424f-6659/pipelines/pipelin[...]
