{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768454650306015?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD04FD3926293\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:02:27 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768454650306015/blob169768454661408293?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DBD04FD3A364F7\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:02:27 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-19T03:02:27.4751735Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768454650306015/blob169768454661408293?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Etag1\u003C/Key\u003E\u003CValue\u003Eval1\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003Etag2\u003C/Key\u003E\u003CValue\u003Eval2\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768454650306015/blob169768454661408293?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-if-tags": "tag1 = \u0027val2\u0027",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:9e186a36-601e-0034-5938-02a0e9000000\n",
        "Time:2023-10-19T03:02:27.6965058Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768454650306015?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169768454661408293",
    "container": "container169768454650306015"
  }
}
