{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key-1777140850591/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key-1777140850591/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "64"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777140856,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777140856
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/key-1777140850591/8af1a1f2f86f447288723f17d4a52341",
          "kty": "RSA-HSM",
          "n": "jK0hYCSOKArf9-WRl0U5ce3xbHTUfztfwWRlmjLN2XKJYIKzEEf_lFnz8iwMJVADdGWXkM8VhhQKvycZqfa88HjM4XDmf6-GhtwvdnMwhcYhGTaDhqqbt33mUWWJoN6R4807xpz3ZKUzYqbNUPpQdzPVv0VGlJuJv4yohPBGF6mAPcWWsj-zOiIhKHs3X5-yWISw4UY0CpSdm9iw8e2ago_iRyZLbICsH8_HWwVQXTrrpwvbX4zFNl-L4txEyaTNpUyqia9BE71NCeRdKyo5R0HZKjCe0a-vetMbpZW3i5yMfsx2qUohZeMYsATuB8zA5rhNEHUWZ7rjs_iB7qJykw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/f2d0f6fb03504739adf49de9b1035dc9/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "18f09aec-b47c-431a-8e13-dab2439e54d1",
        "Retry-After": "10",
        "x-ms-server-latency": "511"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1777140861,
        "endTime": null,
        "jobId": "f2d0f6fb03504739adf49de9b1035dc9",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/f2d0f6fb03504739adf49de9b1035dc9/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "40429dd1-5970-495f-89f3-b66e796793d7",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "67"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "f2d0f6fb03504739adf49de9b1035dc9",
        "startTime": 1777140861,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key-1777140850591/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net/uri",
          "useManagedIdentity": true
        },
        "folder": "mhsm-t1b276dea41386279hsm-2026042518142142"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/restore/6351c2eb1e3942a7904e2c67feb0b58f/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b6824c80-d003-4887-8c63-b3e3194455ba",
        "Retry-After": "10",
        "x-ms-server-latency": "400"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "6351c2eb1e3942a7904e2c67feb0b58f",
        "startTime": 1777140895,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/6351c2eb1e3942a7904e2c67feb0b58f/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ab6e3cc6-78c5-4a83-93b3-65466c24c73d",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "6351c2eb1e3942a7904e2c67feb0b58f",
        "startTime": 1777140895,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/6351c2eb1e3942a7904e2c67feb0b58f/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d779b696-db0e-4770-b8a2-c1c076489873",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "102"
      },
      "ResponseBody": {
        "endTime": 1777140926,
        "error": null,
        "jobId": "6351c2eb1e3942a7904e2c67feb0b58f",
        "startTime": 1777140895,
        "status": "Succeeded",
        "statusDetails": "Number of successful key versions restored: 0, Number of key versions could not overwrite: 2"
      }
    }
  ],
  "Variables": {
    "keyName": "key-1777140850591"
  }
}
