{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key-1777141034336/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key-1777141034336/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777141039,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777141039
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/key-1777141034336/33057b72b4a80c598a08f6a03f6069db",
          "kty": "RSA-HSM",
          "n": "quBS3tK9tU0_zhTwZ3EV86im8M_cwSVJHYU4nlK2L2RZb7gYqK9vAuVEi3dnxWdlIViUOidHBl-CgS-jWI4mk56s9WkJHHIqj6McA4XWPeTWcpw5RL0N52QXibYXlLurEmxospugU2Rzfc4b3RqS55Sn2hbNR0z4jsCwf8ute-kakaXTgbAUIvLLaM-YqhLqtWMUzSfZMyVV3-OTqpEq6qsi5ucYzhhPVlLee8FTEVTOmesSDdpuUCoUa4AvXhs1BUAWJsOp3zKHvx25Zo7S2zFaCHTVx6bjz6pw2rZlpU_2YT2EsKRnvFTFvjfB3ryNxwluzSxGboF1IBD7XtBOSQ"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/d6fb2d22123a4de3a0c6790d1623b6ac/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "27b95ddf-6ccc-4c95-9b26-35c96b801b96",
        "Retry-After": "10",
        "x-ms-server-latency": "543"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1777141044,
        "endTime": null,
        "jobId": "d6fb2d22123a4de3a0c6790d1623b6ac",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/d6fb2d22123a4de3a0c6790d1623b6ac/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a432901f-8767-4b55-ad55-b9b6bba32cc9",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "75"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "d6fb2d22123a4de3a0c6790d1623b6ac",
        "startTime": 1777141044,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/key-1777141034336/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://uri.blob.core.windows.net/uri",
          "useManagedIdentity": true
        },
        "folder": "mhsm-t1b276dea41386279hsm-2026042518172406"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/restore/c74a8a613e5a47b39fea0aa2ad62ae71/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "933fb786-1157-475f-afa8-e74b409350b5",
        "Retry-After": "10",
        "x-ms-server-latency": "383"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "c74a8a613e5a47b39fea0aa2ad62ae71",
        "startTime": 1777141078,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/c74a8a613e5a47b39fea0aa2ad62ae71/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7ac46636-0165-4af0-958f-b0eeef81f1c3",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "71"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "c74a8a613e5a47b39fea0aa2ad62ae71",
        "startTime": 1777141078,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/c74a8a613e5a47b39fea0aa2ad62ae71/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3a6c68be-cfbc-4b1d-aa12-4fee8a9442b4",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "endTime": 1777141115,
        "error": null,
        "jobId": "c74a8a613e5a47b39fea0aa2ad62ae71",
        "startTime": 1777141078,
        "status": "Succeeded",
        "statusDetails": "Number of successful key versions restored: 0, Number of key versions could not overwrite: 2"
      }
    }
  ],
  "Variables": {
    "keyName": "key-1777141034336"
  }
}
