{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-9edd8011-69fe-4fbd-3357-9b4be56e9cc2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8834E05A18\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-9edd8011-69fe-4fbd-3357-9b4be56e9cc2/test-file-d0066047-3481-1183-eb8b-3fbdf4d9cf6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "8Ej1R+XfT5bIP+DgS1Sv+Q==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "��F}\u000F\u0004�D\u000E5:�xO���\r",
        ",��\u0005���ũ�߰[\u001Eh���\u0015\u0017~\u001B�����\u0012�c\u0016�?\u001A\\j�磥JZCd^�\u001BK�|����\u0010�*|\u07BF\u001A��\u001Fɰ\u001C\u0003\u000Bq=\frq4�T\u001B)��qur�TT�\to@\u0018\b䋗�$���\u0018@+?�O9ZO�\u000ES���=H�t[l��0%\u0003��!0�{A�1J3�\u0005\u001BU��1�(��YV�&RP\u001E��\u0019��R�.g�ןHw�\u0015�o@\u0016@��`ۡ\u0003CʒZ)�P\u0019\u001DCȗ�p�툣jgA�\u00119����� Ozc�3����[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-9edd8011-69fe-4fbd-3357-9b4be56e9cc2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "430259222",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
