{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6214b222-594f-717c-12ea-3045c49508cc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0C5CD40DDE0\"",
        "Last-Modified": "Thu, 21 Aug 2025 15:17:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6214b222-594f-717c-12ea-3045c49508cc/test-file-bf24a1cc-9540-d051-d822-0f4472f5f09c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:11 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "oE/9cr846K45hiRa6XY+z48trf2itOYOzYfjTZi0XTH90WXkRelEX95DG19gClJi2ww1Al/6++xo76U3VZoWhCjyXBgRWomm6E0eX5mGrsM1gXGLf1rRA9V5e1ZDDApDLZY2ba06UYGCjxoS25xS4kHiAtQoiwXOIVlCl94zYtxD2jECT0AV+zDwCO9Avyc4JpgVYQk2G6GQaExU97miTy0+zwBqUJIAzAejOIIWjWExCnFFHgDSDL+Qcuf0wQN3TbjCAvAnzdYGFJUCkuIfetvqIu1IXDEta8JA2t2rDAsELOrKU4txCTyaPwlq0HrdcfcMCZ4WLvGHlZYu5vP4WweJ/mX4VCZPeBmwrR0nwptHY2nmnwNt7f35Qr70QyNJoeMB4NIU5RzQvJCFZoHUX9P75oOJErwEHBBn/hJ[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6214b222-594f-717c-12ea-3045c49508cc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "335220707",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
