{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d42a877e-cb1d-ec11-ba28-9e9c70be962b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF883556E2B8\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d42a877e-cb1d-ec11-ba28-9e9c70be962b/test-file-a95476d3-8067-e0bd-4dfe-ce6690bcdf4c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "7U2ZSYIgBL+eMZ3VVbQJEw==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "a�~ʼ�*-�I��t�E�\u001A���z�A\u001D��+u��P���DU\u0003Ş�g�{G�ʠ\n",
        "sP�\u0014�s���\u0018�\u0002wh\u0018�#����8�S�\u0012������jlk-<QF\n",
        "���\u001C�}�Ї#�>�4;a\t��`���\u001F�v\f����_E�\u001B�\u0004��A\u0013\u0018>�\u0016x�61\n",
        "#zd�G���*%q\u0003#�<��\n",
        "\u0019�]j\n",
        "�L��\u0016\by��ʢ�l�`}#�8t��\u0010�}u�~�\u001Cw��p���r�°j�8�\u001Dψ���'$�z�<�\u0007�v�\n",
        "�S���[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-d42a877e-cb1d-ec11-ba28-9e9c70be962b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1862224817",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
