{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-77fa6114-d6d0-06d7-2cc0-aff7a4417298?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0C5CCEFC284\"",
        "Last-Modified": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-77fa6114-d6d0-06d7-2cc0-aff7a4417298/test-file-217417ee-7ada-af14-c799-3b5767f21f88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ATt+3LWtpk+G9uyHRd9EWg==",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "20wdOg2Xb2DlhG8Q3hpF2CYEwzfGdiyw5c+sCrl038gvMeB0Nl+dnP4aFueQMlfLcSHhkX1Y/2UgbFU+62SmcaWm4aw60KHGZyY5rF9EILN34JmXkk1K1zJ6VMoKXrGZc6RC6VGqkKCAGipXHlMF20yhxgrLD95XWwl6wHzXvAh1oDi7AjZizVD4F3gj87jedHh9aJimzmTF6o1HL9AkqV4h4X4aStgWP/m60vdmNGhRnEsDWVRvztHU9RipGp2A1G4aARE5xCqfZyif7PtsX7Ul9pOEIE8JsROsRVXAbCRbOv6JTDNWF9ghZPEr0OLWaJZigyQK+7MeEE/+jH7U3/oDRLH84hOCzt67Y7xd3uEw1t2/XegAUT9LazvjV4pZTIX3J4ww2YWC37RFTpf3wDFuzbahFYERA/JysXf[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-77fa6114-d6d0-06d7-2cc0-aff7a4417298?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "96323426",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
