{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6059f92-ecc0-e49d-eff2-ae7848d67e57?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jun 2025 15:40:40 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB33577BECF0A\"",
        "Last-Modified": "Tue, 24 Jun 2025 15:40:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6059f92-ecc0-e49d-eff2-ae7848d67e57/test-file-3a126216-816f-102b-3c0f-7621dc8c17a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "2/sIKUsE/dkyiXH62O8PRg==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 24 Jun 2025 15:40:41 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "�lǖ�\u001CL��/\r",
        "lt����)������aW�\u0003?�Pj�XȤg�\u001C*(p\u0013j�v\u000B\u001C�\u0011�\t���\u001F5=aIs⓼\u0001�e�ߌ;���_G���C�\"���a�Y\u0013�2�VӶF�Vi�\u0011$<fֺE\u0006�l�>�\u001DPP�\n",
        "\u0011��\f�ZY���\u0019\u0019k=��2�咳�\u001Bʺ���\u000E8�f\\�E��\u0004Q�\r",
        "K&U�\u0001M���|kWV\u001F�1R+`e{[m����¼.�\u0003�h���4��A\u001BM\u0006�\u0005{%F��%�����:�iU�7��g��U�S\u001D��#`\r",
        "g�[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a6059f92-ecc0-e49d-eff2-ae7848d67e57?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jun 2025 15:40:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "574076022",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
