{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-975cfea2-62c3-efa0-c49f-184fe8f417b0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0C5CD0BEB6D\"",
        "Last-Modified": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-975cfea2-62c3-efa0-c49f-184fe8f417b0/test-file-369a4190-6434-bd0c-7377-bb1429402552",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "fjC/upMHtDgt1/At8DUGIA==",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "91bGl7ziebvvP8WuNoJebxBO1BfJaNOBZBEb3boi9p9j6CY6jvYNmVZvwJ40WLU4wr3c112ZeY+DRTOqxpwAzUgmS01bJOAaQTrBWag1TQxb4xr9RR5ByW+Xt0nCYtK5bvJVDgxo3Z7cwpYi1x/nTfcmTuOCA4cp5IHew22XV99oCOu14D//8wV7IYOIHvJPsGlRmxPuNmprKymLiRkwRGq3us80Mm24J1vdBuIEocWPjxIDRrvLedGASbQVdGrsSt0Z0GQiG378mXS4ETCIZ4lk+/oGLf2u60D+s+i4orLw8bwE6tBhbXSUB61GE2ig9+IqsXhw5h3fauUjI2eWQ/bBxx9zhHy4Ao6GciVPZ9fXXbsFjfE6gAueJYDrPUkM/cS3hUxILHNmcq7q6XP4jwINS8askbUEh0YU1V7[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-975cfea2-62c3-efa0-c49f-184fe8f417b0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1231479192",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
