{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-b0ec5566-01d3-2053-e7cc-f68edd72fb17?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0249768136E\"",
        "Last-Modified": "Wed, 20 Aug 2025 20:03:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-b0ec5566-01d3-2053-e7cc-f68edd72fb17/test-file-8d7a914e-cd8c-cc6a-262e-1424e23787e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ooXnQflJ8P5yyi+Gyz/xuQ==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:12 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "{\u0016*\u0007�IK3���)ov>�F\u001E)\f�\u0006jY�r��Oޜ�)�a�\u0002\u007F8\u001B�uL�(��B�)�c\bs\u001Au��n,Jd��2%��\u0014r���\r",
        "�S��0���\u0010&V9����\u001F1\u0011\f� ���\u0003��.dq�}��Ǻ ��o�S�t��I.'S���=f�8�,�ʍ�������1��C�B��\r",
        "����\u0006\u0011�\f���\u0006�As(�\u0000�\b�=�\u007Fa�T�q=���++��\u0004��ʇ\u0018�EƯ�\u001D\u001A�A%�-v�0c\u0010���e��\u0019W\u0015�1�y\f=X$�9�F��VF�t ���ơv���)Z�X�T�V�\u0[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-b0ec5566-01d3-2053-e7cc-f68edd72fb17?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 20:03:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2131367241",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
