{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ca0e94b5-d35a-5072-fbb8-3703080894c5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0C5CCC81398\"",
        "Last-Modified": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ca0e94b5-d35a-5072-fbb8-3703080894c5/test-file-43775c67-d3e6-2bad-0a70-a7691e7f7c31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xMIJu+D9vQBM7j2ko3AX8g==",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "Y/S+2FcEpS8bTndvuP9zEKRWFWV+8ncGEqqqpoOXxHD9bRDpLDuJ6f1ahv5gW1TSYvI+pM2HL298t8WsWf6rg4oGcUruieNozSxoJGx4prdW10SQWR+idT6gbHV13I/+rgJ0WekJ49gP1dahHwoCAxEOVoK5GypqZPsMTR1u8/GcaXZqBEzNTPNsgYNJAVYznmljZoYNRZPXCfXu/Za7oeHlBLaUl/7FQQmOTJmmIWKl2K+zCoxqjiTik/tW3k5dsd+iY/yfnwZqniV8f/j5MOiTSSXmB5dVe3WRsQQDb2K7MJu6BL1lBTioSWxm7Q8s6WMTwpUpd6pITOiHDe0CZi7CwU5dPysqLkPsPb0q7o1mZcih8K3NkbnwcbjU3vdLpuM9pCvAzqk36JRRPTntHl1aIKclYXaB9DCVbM5[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-ca0e94b5-d35a-5072-fbb8-3703080894c5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Aug 2025 15:17:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1213038426",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
