{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-b1614793-605c-814e-172d-eb3ae5e3c023?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8834800370\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-b1614793-605c-814e-172d-eb3ae5e3c023/test-file-eec96aed-2909-9c11-e9ae-51a3f30dffe6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ErWYk8YGOvVsUeMUYUR2dw==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "�d���ƭ�Ώm'��.�\\(\u0018\u001D֫��\u000E5(�\u001BƦ�4�=TR�\u001D\r",
        "~A��B�\u0018Z\u0005�\u0000z����\u0005�wm�t��7���L\t2�\u0010Xi�!bP\u001C��p�+��jOl>����HL\u000B\u000Bgi���~�6���g[��\u0004�UV\r",
        "�����Uq����WE�c-���3ou�l��J���h�����\u0003�(;y�\u001D\r",
        ",\"�<�4�#�A\uF474\u001C\u000Br\u001E�NߢG\u0004�r�\u001E����x^����Г�N�_o�*N�\u001D�[\u0014�.�ڡ�[i�#+��w2�hf�N?ΐ\u0010蔌H}`f.�z�/1�\u000[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-b1614793-605c-814e-172d-eb3ae5e3c023?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1880638656",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
