{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-02dc88b9-cdf8-0fb1-bbb9-902f44ef9f34?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDF8834A48855\"",
        "Last-Modified": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-02dc88b9-cdf8-0fb1-bbb9-902f44ef9f34/test-file-5729e868-5818-15a9-d035-ed378dc2c1fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "NUHRfSu8QZx8cRNP2bvAVw==",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "攰\r",
        "�H'\u0004��t���~����\u0004��n��4��\u001F\u000Ba��.�>�^�\u0018; ��)�4���P:�\u007F\\%�\u0018\u001C\u0014�\u001B��\u0012��m���*��sh��ˣ\u0000��l�'\u0017n��p�B�� K��_&�0r�&<�\u000B��Mx\u0013�1h1�T��\u001B\u0002�\u001DeS\u001D�+k}8�w���Zb�P���������+�V�>\u001FW��ǥ���\u0001�ڞ\u0000W�\\{~\u001EP�d:\r",
        "D��\r",
        ", �T�\u0003�\u0007������4\b\u0012�U�n&�\\ ��S��`#P�Ԛ&I5TG�Ԁ�P_�01�^hʞ\u0006D[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-02dc88b9-cdf8-0fb1-bbb9-902f44ef9f34?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 01:23:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1012985763",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
