{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-dcbebd0c-54e0-0ed9-c8e8-b06d07b2a291?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E50FA1960\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-dcbebd0c-54e0-0ed9-c8e8-b06d07b2a291/test-file-90f311a6-72a3-6a3b-7726-943386a6794e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E510BD521\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:42.2506273Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:42.2506273Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:42.2506273Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-dcbebd0c-54e0-0ed9-c8e8-b06d07b2a291/test-file-90f311a6-72a3-6a3b-7726-943386a6794e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "MklTffQvZARGg4\u002B0yohPYGxXbCrilL7thfcE501ehtduOx51FP5k0XjLx080nOvkdVqrXAmTbJ2LZvj9K3226P23RY5p2Utu85uyF81vuOgMIHLzsirN28\u002BA6q4GZqX7FN5SfFdcepsOPWlu4VTPG60P8QsKwzbT6Wq/6O\u002BdZ4z1tgPvHTyRr6XW5HTAX/p6sM4B9nSa8FCof5LsnJKscdXceSpR4P5wfkFlNN/BEopwRTchm3EXWsazRp2ppBITKnOe5ObPKNDPkHczNLxw52wIfFdai9VkxB5knpphxtovUgprIy2joBxnUQv65CUJQl8woSe6uZ\u002BeOiDHa4o1bsmdA\u002BKxBcQ/ZNs78jnJat/5Wls7MCWydJlrzegM2zWRMuNBXeFDVz2b8TxMf8dl1M9BzhAu\u002Bj6j6o9JRjfbMoimq[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-dcbebd0c-54e0-0ed9-c8e8-b06d07b2a291/test-file-90f311a6-72a3-6a3b-7726-943386a6794e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E511A7B1C\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:42.3466268Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:42.2506273Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:42.3466268Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAySVN99C9kBEaDj7TKiE9gbFdsKuKUvu2F9wTnTV6G1247HnUU/mTReMvHTzSc6\u002BR1WqtcCZNsnYtm\u002BP0rfbbo/bdFjmnZS27zm7IXzW\u002B46AwgcvOyKs3bz4DqrgZmpfsU3lJ8V1x6mw49aW7hVM8brQ/xCwrDNtPpar/o751njPW2A\u002B8dPJGvpdbkdMBf\u002BnqwzgH2dJrwUKh/kuyckqxx1dx5KlHg/nB\u002BQWU038ESinBFNyGbcRdaxrNGnamkEhMqc57k5s8o0M\u002BQdzM0vHDnbAh8V1qL1WTEHmSemmHG2i9SCmsjLaOgHGdRC/rkJQlCXzChJ7[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-dcbebd0c-54e0-0ed9-c8e8-b06d07b2a291?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1308658958",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
