{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cd4edf7c-d4eb-dbfe-5db4-509eaa78eda6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E501118E3\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cd4edf7c-d4eb-dbfe-5db4-509eaa78eda6/test-file-947881c3-81e2-f3c2-24b8-e165cae34a6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E502FF3CC\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:40.8096204Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:40.8096204Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:40.8096204Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cd4edf7c-d4eb-dbfe-5db4-509eaa78eda6/test-file-947881c3-81e2-f3c2-24b8-e165cae34a6b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "0n9M7FUeR8LEi582LG/PEWjVMCxbQXJMVs0e\u002BFM2K4Lem72M/14lTjVa6KgbqWwIyFV7wXqpsZAN/5WHAE9vjWAdV5CyQxIKr\u002BH2AFnJMK1hFTD\u002Bu2oHNeosf//InU7m61pI/VLbVoVCcBGYs7A3Q87oJuoecNH1FiKlhsMTQRGTDxT\u002BgTNahb\u002BrvEpZboE59Dsw4HdjyHuIUucvNtDBLy//BaOcOcKbjaErc7SHnKega5GI4mGaL0eZdS5LK0/v6owbWWjenbt5lVLVOFTGAbU/jso\u002BOEzNZNZbAsSTUGJSPIgnbEM\u002Bws3WD00Oxfby0nR4C5yFsLFATfSSgpv25UTwg/zMnpRyAMv8aCn/vp/faC9PGkTFzYvX5x9OrD8y3ykIHkH5JjPfBgrQiEeIQY5Vsxprp8oAKrZw9Ld1[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cd4edf7c-d4eb-dbfe-5db4-509eaa78eda6/test-file-947881c3-81e2-f3c2-24b8-e165cae34a6b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E5043C9F8\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:40.9396216Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:40.8096204Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:40.9396216Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADSf0zsVR5HwsSLnzYsb88RaNUwLFtBckxWzR74UzYrgt6bvYz/XiVONVroqBupbAjIVXvBeqmxkA3/lYcAT2\u002BNYB1XkLJDEgqv4fYAWckwrWEVMP67agc16ix//8idTubrWkj9UttWhUJwEZizsDdDzugm6h5w0fUWIqWGwxNBEZMPFP6BM1qFv6u8SllugTn0OzDgd2PIe4hS5y820MEvL/8Fo5w5wpuNoStztIecp6BrkYjiYZovR5l1LksrT\u002B/qjBtZaN6du3mVUtU4VMYBtT\u002BOyj44TM1k1lsCxJNQYlI8iCdsQz7CzdYPTQ7F9vLSdHgLnIWwsUBN9JKCm/blRPCD/M[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cd4edf7c-d4eb-dbfe-5db4-509eaa78eda6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1768348078",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
