{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c5ccad7f-75f1-2ee7-aa07-6d1c75676441?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E59569BA9\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c5ccad7f-75f1-2ee7-aa07-6d1c75676441/test-file-9d980430-3be2-c9af-d7f0-f23e469ca6bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E5966825C\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:56.2666588Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:56.2666588Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:56.2666588Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c5ccad7f-75f1-2ee7-aa07-6d1c75676441/test-file-9d980430-3be2-c9af-d7f0-f23e469ca6bb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Z2fNPc4EZTRwBsyZQxQXKVttWrF2OtiM4gai5ohnKHV5A2yvs28xvV28uWLWv5Mlx5h6MCkstyyPQVrIYn\u002BrCd1XIECoaHbrPJxUuoB1tSNyfB/w7PhLTEs/H3EVaFvdEK\u002BEf59TfV4ij/ON2P2rGYw2VuVgux3lC9T0aUgE1dRAdqrR8DWEHv/AzVwEvXROkwbl3hF2fVWSn3TKXxQWHrkfTGFT2ihWsjjln\u002B7A4U1gpdZCHvfCyvhVPlHBub7rqq6j5XAS\u002B7jejivZkN5m0r4mark\u002B1P/CXIJo/ZzWlfl5\u002BvU/HfzcTaodY4/L6Toa7muTmk4Frdau4Yjuqv0bB/gyX5boJrXCSR0PIHBv9nJHTQ8wQ/uqdEwfkTxz7qOsAVyXmYmkMse20FAx9YxlPuoVplzu68P9h\u002BtJyJV5[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c5ccad7f-75f1-2ee7-aa07-6d1c75676441/test-file-9d980430-3be2-c9af-d7f0-f23e469ca6bb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E59750143\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:56.3616579Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:56.2666588Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:56.3616579Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABnZ809zgRlNHAGzJlDFBcpW21asXY62IziBqLmiGcodXkDbK\u002BzbzG9Xby5Yta/kyXHmHowKSy3LI9BWshif6sJ3VcgQKhodus8nFS6gHW1I3J8H/Ds\u002BEtMSz8fcRVoW90Qr4R/n1N9XiKP843Y/asZjDZW5WC7HeUL1PRpSATV1EB2qtHwNYQe/8DNXAS9dE6TBuXeEXZ9VZKfdMpfFBYeuR9MYVPaKFayOOWf7sDhTWCl1kIe98LK\u002BFU\u002BUcG5vuuqrqPlcBL7uN6OK9mQ3mbSviZquT7U/8Jcgmj9nNaV\u002BXn69T8d/NxNqh1jj8vpOhrua5OaTgWt1q7hiO6q[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c5ccad7f-75f1-2ee7-aa07-6d1c75676441?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "272491752",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
