{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a75a2aa3-eec8-181d-e7e5-3edd5cb44a25?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 18:02:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA81CE7A94326\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 18:02:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a75a2aa3-eec8-181d-e7e5-3edd5cb44a25/test-file-e37c7d7a-8c56-cda0-ab7c-d6ac0b7d9d71",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Jul 2024 18:02:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA81CE7BC4F53\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 18:02:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T18:02:08.0196435Z",
        "x-ms-file-creation-time": "2024-07-19T18:02:08.0196435Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T18:02:08.0196435Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a75a2aa3-eec8-181d-e7e5-3edd5cb44a25/test-file-e37c7d7a-8c56-cda0-ab7c-d6ac0b7d9d71?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Jul 2024 18:02:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "wETCyRFtmurlzELZAY2doKcExwAS1tbCkKO5NzBNb0WMCs82hHMoqMG3joM4DgnhJudPGldi0Opu/zlutGO6l138TPe\u002BZhwz3B4/WkdSiYGZ1xBI/VTuKjnkx4Q5ufRd/fYmPMIRI8DLHD44InWiHHa41NxScZoJDSK92Z6Y\u002BSIq4V1QLE2\u002Bh7RQfeEVtgfEQqsNgeQXC4tcHS6gVEkhMiIcDkEXUe8p\u002BkwoAvO481ca\u002BZfying9EtXR9A4eHjNqLkq\u002B\u002BKjGrPC75IaX7wmYoynXhVqxLqep3/trRl3hCtsYvtOo\u002BfuuVE2nN6bxpSPMOVDlR5nZuP\u002BiFRmsWmWS2tqrfjE176kuKDENCvcBuDnYng0N\u002B8JCPwXTBeThAvnnFFzLRibxlkqmtx9oy64IoV3g1[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a75a2aa3-eec8-181d-e7e5-3edd5cb44a25/test-file-e37c7d7a-8c56-cda0-ab7c-d6ac0b7d9d71",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 18:02:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA81CE7CC7BCC\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 18:02:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T18:02:08.1256396Z",
        "x-ms-file-creation-time": "2024-07-19T18:02:08.0196435Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T18:02:08.1256396Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADARMLJEW2a6uXMQtkBjZ2gpwTHABLW1sKQo7k3ME1vRYwKzzaEcyiowbeOgzgOCeEm508aV2LQ6m7/OW60Y7qXXfxM975mHDPcHj9aR1KJgZnXEEj9VO4qOeTHhDm59F399iY8whEjwMscPjgidaIcdrjU3FJxmgkNIr3Znpj5IirhXVAsTb6HtFB94RW2B8RCqw2B5BcLi1wdLqBUSSEyIhwOQRdR7yn6TCgC87jzVxr5l/KKeD0S1dH0Dh4eM2ouSr74qMas8LvkhpfvCZijKdeFWrEup6nf\u002B2tGXeEK2xi\u002B06j5\u002B65UTac3pvGlI8w5UOVHmdm4/6IVGaxaZZLa2qt\u0[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a75a2aa3-eec8-181d-e7e5-3edd5cb44a25?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 18:02:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "484519925",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
