{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1b1e7c5a-7edf-8748-dcbe-c9cd14b082d2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:59:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673EA7ACA45\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:59:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1b1e7c5a-7edf-8748-dcbe-c9cd14b082d2/test-file-f4c55c66-91b1-e8ac-7597-9b918875fd67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Thu, 06 Jun 2024 21:59:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673EA878283\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:59:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:59:19.3878147Z",
        "x-ms-file-creation-time": "2024-06-06T21:59:19.3878147Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:59:19.3878147Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1b1e7c5a-7edf-8748-dcbe-c9cd14b082d2/test-file-f4c55c66-91b1-e8ac-7597-9b918875fd67",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:59:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8673EA878283\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:59:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:59:19.3878147Z",
        "x-ms-file-creation-time": "2024-06-06T21:59:19.3878147Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:59:19.3878147Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1b1e7c5a-7edf-8748-dcbe-c9cd14b082d2/test-file-f4c55c66-91b1-e8ac-7597-9b918875fd67?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "hnZOeZkG6Cx8Mi+t7CJE3w==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 21:59:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "HVUlg+LGz8S/wSoYCjLWO//C7qbIwLYFLC3yWBPhGYOUpPlcejskF54kAlryYVbVNUfbgH+MB1yeIFe11Haw3qemhGU4esDEntYIpL5cEsrWHSLMBZkDCJ2dvlrjbkMncyOyTN3xnLuGF+Gog2OeQQ6M37dU5NgNonvIm7xm4DCT4TCaqsXt5YBnRe64W4Q5/nxLV4+M0o5LpKlhKAH/HzaxFaEyBJZIn/o27Z7pVUf2jpw/G4mhBw6iTgUci7x+aCa4BkXjB/rmAriUVeXvYU5happlvwStEA2SkLWRLBM+uIV4MU8CE4ehWRjQDLEpsuy2uyAiGagiCvY4UHZEVdakVp1gdzD/X1cSw2br3ARbad7I2nHyHJ/cViZZycIQXANCK7UUyDq8t1vJD1VBNi7x3OeXfHtksTr9hCEKppWUAmdiqLBOR6GjDCIVKQxJmh/4Z+3beOC[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1b1e7c5a-7edf-8748-dcbe-c9cd14b082d2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:59:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "272602892",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
