{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b49ca35c-81f4-2990-0cac-41af12d33110?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC54D2B60C\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:31:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b49ca35c-81f4-2990-0cac-41af12d33110/test-file-c6b4e876-5ed1-8ad8-e0ac-fd600b09663d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:48 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC54DC8FD3\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:31:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-04T01:31:48.0570835Z",
        "x-ms-file-creation-time": "2025-03-04T01:31:48.0570835Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-04T01:31:48.0570835Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6843315939057358021*13605289663960228771",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b49ca35c-81f4-2990-0cac-41af12d33110/test-file-c6b4e876-5ed1-8ad8-e0ac-fd600b09663d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5ABC54DC8FD3\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:31:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-04T01:31:48.0570835Z",
        "x-ms-file-creation-time": "2025-03-04T01:31:48.0570835Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-04T01:31:48.0570835Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6843315939057358021*13605289663960228771",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b49ca35c-81f4-2990-0cac-41af12d33110/test-file-c6b4e876-5ed1-8ad8-e0ac-fd600b09663d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABR53CixRqG2HMLl6AsTbaGBxpcu3H2rl63t/WX90vrwEC38ooVAmE50InHV6csVwh7BdyLAFgrWjkS6g4k7uAnH9ZfdVsscAS4IuroLle2i1/tHPJuYMDni5dRAxdTFeKonzjQzOGsT5TY0t1tQyvjW1+uNtLuuL8Vd+rE2m3sZQ0IP48e5b9+Qcxdlo3jekdsbqi4pd4Pued4ulT36HQn7G3PZAOcxHWgMPUFkCIyMv2iV2zENMAv+IaopSprhllYNqogExZDz6kyGHTpCinERohWVJAIYresoGt99B5KNKmcrVl4Eh/nXojDkhxLRu5c41+iFDLIT9Tyc3KqxtuK5+PLTV3PTDRob/UIRdCbYVp9IBC/qCB3012FhZ6sPZisOKo4gPiRjZcrOqQ8wAoEVhEYLKXLyz/CVHn/ScaVuzJ[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b49ca35c-81f4-2990-0cac-41af12d33110?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "20091723",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
