{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9ab760e4-30c9-22da-6622-e3f10020153c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA764515D7C8A\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:00:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9ab760e4-30c9-22da-6622-e3f10020153c/test-file-5693bad4-bbb0-8d9b-9b37-24ae1ebbd2bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA764516D9989\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:00:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-18T20:00:48.4473225Z",
        "x-ms-file-creation-time": "2024-07-18T20:00:48.4473225Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-18T20:00:48.4473225Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9ab760e4-30c9-22da-6622-e3f10020153c/test-file-5693bad4-bbb0-8d9b-9b37-24ae1ebbd2bd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA764516D9989\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:00:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-18T20:00:48.4473225Z",
        "x-ms-file-creation-time": "2024-07-18T20:00:48.4473225Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-18T20:00:48.4473225Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9ab760e4-30c9-22da-6622-e3f10020153c/test-file-5693bad4-bbb0-8d9b-9b37-24ae1ebbd2bd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABI1JiYTL9dBuIxfWYs2q\u002BQv0znXgiLCP4/69yYt22p53BXt549yktKRRGnAuf\u002Boh36l1GPTpSjvcuZWGDjxE51h5b21SIQUvQBnBj34wYWQUi\u002BnSAcGZnbtPnSpHLqZ4DDMntRB8z76kRcjrF7q9rFghYXJCYtWW38GiEpPa2BFzSYM7GLxDl8w7Pbv4vnXwgfDSFb0kNaldgNVe2r0a2X2nZ943gpOr7dm2FzUZriFbsYCi\u002BMJkXxPZ7YfW9M0PEGROQUanuQ9dNjfjbh50M\u002BK0Axksd9CrQxjKXZULxOkMpwbA21zao/iBRcKagOD1ZamlIvGz4piDkw497VtqUXFO1rcXo2iV6V8QqzIeEMInxPf7ZpH3WMRuTThOnMadFuRBS6op3cIxD0mSkzdW[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9ab760e4-30c9-22da-6622-e3f10020153c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2072448945",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
