{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a2af4d46-f2fa-997b-bd1c-49dd6169936d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E5F5E0A03\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a2af4d46-f2fa-997b-bd1c-49dd6169936d/test-file-c47c47bd-90f6-6f8c-b307-3b51c37646f2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E5F6DF0C9\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:18:06.3816905Z",
        "x-ms-file-creation-time": "2024-07-19T16:18:06.3816905Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:18:06.3816905Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a2af4d46-f2fa-997b-bd1c-49dd6169936d/test-file-c47c47bd-90f6-6f8c-b307-3b51c37646f2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "nfivMa2T1Bz7nKlyJ4dX0CTqFiJX7SO7H1PTEPeRZUAuC1ZJPcayM2r1qa2iGeFt7GKcw6E2aK/U8xJZwMMlaTZpQxsxDZNdOOO4YUN2GQZxZiSU9KKe96OndUq0WHOm0EB3OdXGPN7PP4u\u002BfgZrXtkL6FmekHSUykx4iphIqOBvEpED/\u002BAxqypFxbUW4HmdOxdwqW8ZB0DL4m\u002BITrJGh5erTmx0Z1752jwvWcu/fenS2k6B1/9wVgpROBxwqF13/z4ea5ENKNS4d88z6a51C2WFtnNjxa\u002BYOvhhIy9CiDHft1mMoRFYxbF6yF8vPGxb2yy36/LpFDqOhjCYqwWkdu6dVDFU6GpTLPDB6fxPaP6MBUcDip0/9aMf/hvhvxms1VFxkeg6BvPBY74BKCo9Px0yDKW9oetRXl6ONelPcmzWFRSq3tYVUf9[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a2af4d46-f2fa-997b-bd1c-49dd6169936d/test-file-c47c47bd-90f6-6f8c-b307-3b51c37646f2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E5F7C6FCA\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:18:06.4766922Z",
        "x-ms-file-creation-time": "2024-07-19T16:18:06.3816905Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:18:06.4766922Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a2af4d46-f2fa-997b-bd1c-49dd6169936d/test-file-c47c47bd-90f6-6f8c-b307-3b51c37646f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E5F7C6FCA\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:18:06.4766922Z",
        "x-ms-file-creation-time": "2024-07-19T16:18:06.3816905Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:18:06.4766922Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACd\u002BK8xrZPUHPucqXInh1fQJOoWIlftI7sfU9MQ95FlQC4LVkk9xrIzavWpraIZ4W3sYpzDoTZor9TzElnAwyVpNmlDGzENk10447hhQ3YZBnFmJJT0op73o6d1SrRYc6bQQHc51cY83s8/i75\u002BBmte2QvoWZ6QdJTKTHiKmEio4G8SkQP/4DGrKkXFtRbgeZ07F3CpbxkHQMvib4hOskaHl6tObHRnXvnaPC9Zy7996dLaToHX/3BWClE4HHCoXXf/Ph5rkQ0o1Lh3zzPprnULZYW2c2PFr5g6\u002BGEjL0KIMd\u002B3WYyhEVjFsXrIXy88bFvbLLfr8ukUOo6GMJirBaR27p1UMVToalMs8MHp/E9o/owFRwOKnT/1ox/\u002BG\u002BG/GazVUXGR6DoG88FjvgEoKj0/HTIMpb2h61FeXo416U9ybNYVFKre1hVR/1NBJ949zXnhv/2us3TvNGYfM4qs0Qly8VErEhaSYEcdu6ZpYMRzIZEVUypRw7liJt9EvqOKpS1KzjWMEbpiT162kffNhdOhrBH4ln3fIS6XyOw2TqGjkhV4H5GO5g/WsgTMmjLBlaAMohKSkQ6wa60H9UnOKwG8E/7iVGZCE8YBIuR5Eob81TNLKquPEQAHyLTkh/HGCIYDD4cz30A6yo9MkG8qNlgmCx8VggFVLQH\u002B2ouxXYzVOmknWPIlGoybaSdY8iUajJs="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a2af4d46-f2fa-997b-bd1c-49dd6169936d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "908617112",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
