{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-eb9c4c1d-7506-409d-e81d-edfed6f4536f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E5590925A\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-eb9c4c1d-7506-409d-e81d-edfed6f4536f/test-file-a7e44280-d0fd-fcd6-d4a8-8589ab2e4226",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E55A0C770\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:49.9376496Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:49.9376496Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:49.9376496Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-eb9c4c1d-7506-409d-e81d-edfed6f4536f/test-file-a7e44280-d0fd-fcd6-d4a8-8589ab2e4226?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "HjaPtcWZY5cVwE7bhDyRyseiGFR9ljXac5b1C17wDiX5nEJ5jp\u002BFTB7ep3mpaOaIplx\u002BK17b14gAtUIvo1g4JbIp4ej5FzwnHcw2nu68MQuvbWQCceLGHsW6edhdVajGpoLGf4b\u002Bjo4gVw6SpTiaQ4Q2fzXzNrTPYsMjPp5jyscjb/hs9bGFsd/V4RrTNHiMIDZUJtVz0m/N9x3C20/wvYxHbjY/Lk3Ssc5WHVSa\u002By5Llh5nDqPxsJyJnv6UwtWP5SSNjMVCTPHognQHHLUaM/vudkUxia7pVb6Zto9OPu75xzgwDW5oCUksfowu6pPnbmsDpUuQXVx1pDcGqJZimkSGDVV86iaMhm37BAoiumsrsUgkS5iiaGncumg3YmCzyuRHqNw\u002Ba4NEdh/elFlRUurM2/dNPU6r46XroC\u002B9VSMMS[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-eb9c4c1d-7506-409d-e81d-edfed6f4536f/test-file-a7e44280-d0fd-fcd6-d4a8-8589ab2e4226",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E55AF9468\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:50.0346472Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:49.9376496Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:50.0346472Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-eb9c4c1d-7506-409d-e81d-edfed6f4536f/test-file-a7e44280-d0fd-fcd6-d4a8-8589ab2e4226",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:50 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E55AF9468\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:17:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:17:50.0346472Z",
        "x-ms-file-creation-time": "2024-07-19T16:17:49.9376496Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:17:50.0346472Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAeNo\u002B1xZljlxXATtuEPJHKx6IYVH2WNdpzlvULXvAOJfmcQnmOn4VMHt6nealo5oimXH4rXtvXiAC1Qi\u002BjWDglsinh6PkXPCcdzDae7rwxC69tZAJx4sYexbp52F1VqMamgsZ/hv6OjiBXDpKlOJpDhDZ/NfM2tM9iwyM\u002BnmPKxyNv\u002BGz1sYWx39XhGtM0eIwgNlQm1XPSb833HcLbT/C9jEduNj8uTdKxzlYdVJr7LkuWHmcOo/GwnIme/pTC1Y/lJI2MxUJM8eiCdAcctRoz\u002B\u002B52RTGJrulVvpm2j04\u002B7vnHODANbmgJSSx\u002BjC7qk\u002BduawOlS5BdXHWkNwaolmKaRIYNVXzqJoyGbfsECiK6ayuxSCRLmKJoady6aDdiYLPK5Eeo3D5rg0R2H96UWVFS6szb9009TqvjpeugL71VIwxIOSXaEY7tRsTf1XnE0xCKZ35qh2lljZacxTdSy1OHIPvSTB8sd9g97bCIXXgyHtHaFcc\u002B65yi46yOPkxXmntxWLV98YfxXe\u002BmLJm43C8daaZmd7WLSDVeL2lynTmM5lI1FwXDtC1J6bfYmL4D6gZ9cdWl8SPF5RCAH8IefsC2GUZGg8UqWrR5HI7\u002Bs693W0Vi9Sxk5/UvbzL0Q5VqKmr3IX93vGZBUhYgK9SVxzFgCcN8u4mTUjJQFxOSNRcfDqga5Da1tYetqBrkNrW1h60="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-eb9c4c1d-7506-409d-e81d-edfed6f4536f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:17:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1354976636",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
