{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-1739915d-db01-3e0b-a0f4-071a94c536e4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD36961D686EE9\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-1739915d-db01-3e0b-a0f4-071a94c536e4/test-file-bd116b8c-a61a-4703-7b5d-714c6a807183",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD36961D74BF88\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-17T01:27:32.3663240Z",
        "x-ms-file-creation-time": "2025-01-17T01:27:32.3663240Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-17T01:27:32.3663240Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15454356690087156724*3769234489255881874",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-1739915d-db01-3e0b-a0f4-071a94c536e4/test-file-bd116b8c-a61a-4703-7b5d-714c6a807183",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD36961D74BF88\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-17T01:27:32.3663240Z",
        "x-ms-file-creation-time": "2025-01-17T01:27:32.3663240Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-17T01:27:32.3663240Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15454356690087156724*3769234489255881874",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-1739915d-db01-3e0b-a0f4-071a94c536e4/test-file-bd116b8c-a61a-4703-7b5d-714c6a807183?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-range": "bytes=0-199",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "200",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Ae8AAAAAAAAAAQABAAEAyAAAAAAAAACQwxn8KDmt2ggw/It/vSiLi/mQKzP7U0qcz8X4qGyHLixZvVP7bOVQu7cyYAJgJOg2TpCHWx3PlW/OX1hztDKcqM1fJv/Ujx8UP3B8yPJIO6rdwVnbANMPiSjkLAyM3QaElrg0Af7oYb9xchusU8x8hiStlfLZwaf6UJzX8GISh2Jp9zI6Ezqs9WCaaY24YjVbZ6bo30cUq9QQOrFhEHFcX+u5Q1yaQXLpAKCSP1gaQu1mfIi8KqgaVExdKdmJSuTuPgqi/h/ZwIg8HTwqp2zZiDwdPCqnbNk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Lq3sFDlR6UB5SnfDCycYnQ==",
        "ETag": "\"0x8DD36961D89DD7A\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-file-last-write-time": "2025-01-17T01:27:32.5047162Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-1739915d-db01-3e0b-a0f4-071a94c536e4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:27:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2075082401",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
