{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-43c659f5-aa18-11d7-3e7e-9da27ec52093?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE1B7D327D\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-43c659f5-aa18-11d7-3e7e-9da27ec52093/test-file-426e5f3f-3544-f95d-e5f5-18b3d3943764",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE1B8D841F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-24T21:16:08.2877471Z",
        "x-ms-file-creation-time": "2024-09-24T21:16:08.2877471Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-24T21:16:08.2877471Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-43c659f5-aa18-11d7-3e7e-9da27ec52093/test-file-426e5f3f-3544-f95d-e5f5-18b3d3943764",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDCDE1B8D841F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-24T21:16:08.2877471Z",
        "x-ms-file-creation-time": "2024-09-24T21:16:08.2877471Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-24T21:16:08.2877471Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-43c659f5-aa18-11d7-3e7e-9da27ec52093/test-file-426e5f3f-3544-f95d-e5f5-18b3d3943764?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAABN1xfgCIE2+gr565g+7NcnjaKKEGW2jovZaUw3LDs7cwC2SeEf+b2UaihjEM+3AnQ4CJ35HQGa1wiMBp90/43P/nhXiKL1x9Qk9eZ9U328YmbX/yOdAhY/G7KYk/LeH2paU1KXH7nRAkCJlCcbHUOKz6R4nMBqMrwiGK0wHTQhRtZ74v/rJQLtBrzi064u4/4vDcQOZYJp8CDWdQbMoSUMqE1Q3zqDn6phi5YDh17OMzSvAQ9v0uET0jKfFLA74GWXlmsg3gTDa24ZrNosJmjByEHSHZ/V3JVsPM0H5Ir6Zaswq/Dz7VUv65WhFmYHJ6uJnQxuaYKFgfnV9KE3+4ajH0cu+7p4DhssonIKdIZvZNUhfge+jDwoqun3Hfiz+DAO/jce2GwxUY7xQYdQu01zpk/MFn1/JJMLBlDQQPAieO[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-43c659f5-aa18-11d7-3e7e-9da27ec52093?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2010468323",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
