{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa0a6e37-bc65-2e61-a76e-46aa46d624ec?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18CF9F2906\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa0a6e37-bc65-2e61-a76e-46aa46d624ec/test-file-f34c0f99-d766-f496-443c-ca85df46c674",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:10 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18CFA82722\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:11.0297378Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:11.0297378Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:11.0297378Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa0a6e37-bc65-2e61-a76e-46aa46d624ec/test-file-f34c0f99-d766-f496-443c-ca85df46c674",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEE18CFA82722\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:11.0297378Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:11.0297378Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:11.0297378Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa0a6e37-bc65-2e61-a76e-46aa46d624ec/test-file-f34c0f99-d766-f496-443c-ca85df46c674?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "rzmjJ18UCxIL0FVqob0kPg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ugs7M5gXBDu/xGn7Tkd14l8AdF1sAxUI/cP8xf5lShZtQmCuiduuHuQuYhKdSpENLxvq+7Wev7X1MjXUGz49WXpTjgvmx1iDUlZ5PqADarIx7pbie05gzoKruFem2QKl8AmYSryGJmfDZqlfJYEV8siCoyyoW90r88CIOw4B3XhT1E2Wah/2q8gvHxSlAKkBlcaOIzbW/JUrbVf7/etYwYkwC1AzfoeojPdkeTzIhfIXh6ZIcrlCfNe4a/3I+q7d1l2LdfVYzRc+5ZY+coNZY+hl5HVEEE7P7o55exOK4JFJhqLePQ/8vrmPCY0jAwpTXwcUYhY4mMUOu4dm3lIDtAUF9OvgeiXYaCW8tQfBrOqEJRwLdX17Ee7dz4KIlt9ni1SHHQ4ecuTiPPnwfOK+TA6d4rg29z6HiuP9A6qjUNJGVCqyOo/bZbM3KTmEipQMHoJz67MmMZM[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-aa0a6e37-bc65-2e61-a76e-46aa46d624ec?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1647799865",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
