{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0c50400d-06b5-122a-0542-82c98b81e5d2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC1602EE6D9\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0c50400d-06b5-122a-0542-82c98b81e5d2/test-file-a24376c5-7598-3f3e-fe2c-534099f6d053",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC1604454CF\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-13T17:57:19.7940943Z",
        "x-ms-file-creation-time": "2024-08-13T17:57:19.7940943Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-13T17:57:19.7940943Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0c50400d-06b5-122a-0542-82c98b81e5d2/test-file-a24376c5-7598-3f3e-fe2c-534099f6d053",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBBC1604454CF\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-13T17:57:19.7940943Z",
        "x-ms-file-creation-time": "2024-08-13T17:57:19.7940943Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-13T17:57:19.7940943Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0c50400d-06b5-122a-0542-82c98b81e5d2/test-file-a24376c5-7598-3f3e-fe2c-534099f6d053?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAFNOSAxHPI8W5hESoUmUhJZdAC/h9V299ZBZVpR8nt8t5+i5bXXe1TxXAglsLQ/BXGiqIwBa1UsFgFJr/dX6mlcx9LlQ6xcgjirziuNEYciQiAo70nvOwxKto90jYudWbHeyKjhGcGFBeZTlZ1pnsT6J22XbzrfbYyGmszdKDRtDrS5rkieQSgeo6mjm6VvIRfKemZdxip3P5scGr80592x5kcor/C8W+ZFeMtRe9HnV7n00q3ODwhKAq6tQiapKfuL8bVeRnEnTh6AGE0fJYPJNMLFf9Vv45d+nq0Bztm/nE8PhUociNFIjYSPDja7at0q5A0jo6nmXA3d36eEJX8EwHw+D2A5rKvxvPIQoNWgg3OQFyqMm/ilKWl8fqlphKgFig36vRu88Xehcib31ft4fRx0M85UeGRDWSY2/S3CiD[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0c50400d-06b5-122a-0542-82c98b81e5d2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1608893244",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
