{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b49b4085-8411-1687-8e8d-e00dd44fb35b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:39:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F535A4F79CC\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:39:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b49b4085-8411-1687-8e8d-e00dd44fb35b/test-file-2e10fd4a-1eed-0d2f-e680-f035876ac37c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 08 Jul 2024 13:39:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F535A603648\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:39:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-08T13:39:12.7124552Z",
        "x-ms-file-creation-time": "2024-07-08T13:39:12.7124552Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-08T13:39:12.7124552Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b49b4085-8411-1687-8e8d-e00dd44fb35b/test-file-2e10fd4a-1eed-0d2f-e680-f035876ac37c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:39:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F535A603648\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:39:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-08T13:39:12.7124552Z",
        "x-ms-file-creation-time": "2024-07-08T13:39:12.7124552Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-08T13:39:12.7124552Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b49b4085-8411-1687-8e8d-e00dd44fb35b/test-file-2e10fd4a-1eed-0d2f-e680-f035876ac37c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "BOOjFx\u002BJK/NLabJaIle/hQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:39:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "vGWVU0pcuBG6yVkNZEKzg1VOHpnmqz1ADKCLrwz6pFxabof9deRHkoJXTFV5feVPLOM03\u002BAPyxAnVEap0AgFwCT9s/W6tQ5xBosXj17ox466PIMoxsV7SqN31iGdnsJ5UYwwfMrvlHfVw9hU9zuxP42475SF3flfgWhSQ9/t02jJnj7St0rEyqgLUwLsJ1NnxZaT5a8t83OS0fphnVCY5/Bwi1n934hC9CTseor2cloV6n5IWe25m6rKP\u002BVQYi1Xc2sSfJv5auUNUfGKQXnpnF\u002BgTLLST44Ct/CuMqCj8pH3lAYf4/a\u002BG3\u002BYOgf8Llkx4aKFrxZ6hCPcEMWrSzhFal9fk6xyybhp4jAyOhSGBoiWfFD9HUJ7fA/iQtMwEtBHUtConJusvxjqHM3mR0oPVgk8Fc7oSE0c5Badj4fkOM9f6\u002[...]
[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b49b4085-8411-1687-8e8d-e00dd44fb35b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:39:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1518079343",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
