{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a0e305b9-60f8-99db-1c2a-32b0e7e0ee35?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC151A7EE23\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:56:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a0e305b9-60f8-99db-1c2a-32b0e7e0ee35/test-file-6bdea99c-d395-2874-2b56-abd306a6dbaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC151B90893\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:56:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-13T17:56:55.3930899Z",
        "x-ms-file-creation-time": "2024-08-13T17:56:55.3930899Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-13T17:56:55.3930899Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a0e305b9-60f8-99db-1c2a-32b0e7e0ee35/test-file-6bdea99c-d395-2874-2b56-abd306a6dbaf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBBC151B90893\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:56:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-13T17:56:55.3930899Z",
        "x-ms-file-creation-time": "2024-08-13T17:56:55.3930899Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-13T17:56:55.3930899Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a0e305b9-60f8-99db-1c2a-32b0e7e0ee35/test-file-6bdea99c-d395-2874-2b56-abd306a6dbaf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:56 GMT",
        "x-ms-range": "bytes=0-199",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "200",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Ae8AAAAAAAAAAQABAAEAyAAAAAAAAABu+RnSA8zbtMTdg/kXDoAo5YAiXyG00VNiTC086R4VWLBTXyDacq7BrQp1hk649ZVn8jtvoe/TuSjFb7efnsumxytJw69gTnPSYbIXPkoFqVaX1PbiprfBgKX4FQL2Ig4+z78jbzHmB6TInT89u3vdwMZgB8rVwyFzh0IJaDlw2z6j2W6K4Tklsc1RGgh3hMUpGlU8lRpDaAydr+fu3J9rV8IBmeENU96MO1X9g6gY/AN94E3kNEUkX3Bh7DFSNtUt5sJGdurjGzJCEfp2u63KMkIR+na7rco=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "qlxqbTiIee11eUBH1/SWDQ==",
        "ETag": "\"0x8DCBBC151DB5D95\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:56:55 GMT",
        "x-ms-file-last-write-time": "2024-08-13T17:56:55.6180885Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a0e305b9-60f8-99db-1c2a-32b0e7e0ee35?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:56:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "984521314",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
