{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-558fa1e9-93e1-4314-78a6-5c51994fb61f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E5D539393\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-558fa1e9-93e1-4314-78a6-5c51994fb61f/test-file-14755111-333d-4101-8d63-7d0a3c405840",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA80E5D63533E\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:18:02.9566782Z",
        "x-ms-file-creation-time": "2024-07-19T16:18:02.9566782Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:18:02.9566782Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-558fa1e9-93e1-4314-78a6-5c51994fb61f/test-file-14755111-333d-4101-8d63-7d0a3c405840?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "5MPNIReIIQAVo\u002ButGYGHxhw/v7cUbltdQYp3N/ekTgm4Sq745GkECcA7MiALKSbTpSrKXqDEG3VocOCNEeoIcVTi9c/Sj\u002BKzO7X22Dw6URhkpJLM2vBp8y45j3SJd/fVMsHLKTNXABVIFyPqzkI5Lh7HKW1YO5ZkeAGgmQBtKcO\u002BIKZ7bifkDaN8hMPNfiXrAGFVwU2KffcqZ7EytmcV2\u002B1fLK2cvb/34xzK3LfTl/rctJmeGGh1NKOuUAd2slY7Z6jWbVJ3TkKiXd0xv6FAV8\u002B2VQHOdsKE6fgJ7m24gTHFjnQO/CmoZWVW/LqLRHQCbvk3v1xUbfHmUYRZbWDU6dyrbDEsMVqmDvCbd3kI\u002BKWEB390gMHVcCGCKKqkTvcFgRLe39dC1TyekbFsufV33Vnf1WbhYGka1vsQqQmvAb/4l[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-558fa1e9-93e1-4314-78a6-5c51994fb61f/test-file-14755111-333d-4101-8d63-7d0a3c405840",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E5D724768\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:18:03.0546792Z",
        "x-ms-file-creation-time": "2024-07-19T16:18:02.9566782Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:18:03.0546792Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-558fa1e9-93e1-4314-78a6-5c51994fb61f/test-file-14755111-333d-4101-8d63-7d0a3c405840",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:03 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCA80E5D724768\u0022",
        "Last-Modified": "Fri, 19 Jul 2024 16:18:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-19T16:18:03.0546792Z",
        "x-ms-file-creation-time": "2024-07-19T16:18:02.9566782Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-19T16:18:03.0546792Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADkw80hF4ghABWj660ZgYfGHD\u002B/txRuW11Binc396ROCbhKrvjkaQQJwDsyIAspJtOlKspeoMQbdWhw4I0R6ghxVOL1z9KP4rM7tfbYPDpRGGSkksza8GnzLjmPdIl399UywcspM1cAFUgXI\u002BrOQjkuHscpbVg7lmR4AaCZAG0pw74gpntuJ\u002BQNo3yEw81\u002BJesAYVXBTYp99ypnsTK2ZxXb7V8srZy9v/fjHMrct9OX\u002Bty0mZ4YaHU0o65QB3ayVjtnqNZtUndOQqJd3TG/oUBXz7ZVAc52woTp\u002BAnubbiBMcWOdA78KahlZVb8uotEdAJu\u002BTe/XFRt8eZRhFltYNTp3KtsMSwxWqYO8Jt3eQj4pYQHf3SAwdVwIYIoqqRO9wWBEt7f10LVPJ6RsWy59XfdWd/VZuFgaRrW\u002BxCpCa8Bv/iW9WYpGc1BMUPV7xBotysLSlHFeZEkIanECdwyKzLuj/FzIgAQtD8RkzSdinkJbkPlnr9dO0ZnctS9ZQ/wDwYQ52Ae9JUr\u002BpUStOVdhpYvupuZTYxzkFOrDLArU08vIIQujaMZ6nmuuaQpS4dhCuw9jqp0V8J5nFYMc\u002Bjl/6dG4pNgL/jyFdAh65PoSUTMSQLD7cSlusnBtPFMDXeQyLr942nzANvzSnjaU2wvkVIRQCrmIRHioSfKnnoHpghYkRm3DSE\u002B4sgDGbcNIT7iyAM="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-558fa1e9-93e1-4314-78a6-5c51994fb61f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 16:18:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "62351130",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
