{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a3b216fc-d5bc-83dd-95a8-ed6c5684a8d2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04A709FDEC\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:23 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a3b216fc-d5bc-83dd-95a8-ed6c5684a8d2/test-file-61434aa5-310d-75fc-0141-54fc69784e1d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04A71AB255\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-12T19:26:23.7575765Z",
        "x-ms-file-creation-time": "2024-08-12T19:26:23.7575765Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-12T19:26:23.7575765Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a3b216fc-d5bc-83dd-95a8-ed6c5684a8d2/test-file-61434aa5-310d-75fc-0141-54fc69784e1d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCBB04A71AB255\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-12T19:26:23.7575765Z",
        "x-ms-file-creation-time": "2024-08-12T19:26:23.7575765Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-12T19:26:23.7575765Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a3b216fc-d5bc-83dd-95a8-ed6c5684a8d2/test-file-61434aa5-310d-75fc-0141-54fc69784e1d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "60Xa+HMn+CvNUmhQ1rBdsA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "BMa3r+t9m8hv5B//Rwe3ffgpdrUrdZrG5caHf1KoeDSdadEFYADYdwWPxFNlMYlHa2QFLNlo+Y8s8Mkk9ht2xmvqYd41sRz4UP+wm7FGYbM8QBPuo0xbNHBB2W82s4HqGf3ne9CrEbpHDNvZuF3e5Y8W6LYIhyMfjixu9Niswp1+xYGzX+XkkC5ZppdwgXwSYvPgIMvK4ZHZx+yiPB3hm0o+W/LbKoapMVeHr+CMrw2wXJHkzKLRs+Tv2pf5QVQRdwtMMiaJNjhtNu5zQzKwTRje8uCL/M6nbKcO61DusO8DdjfVP3zmJyVZd5azXnCyPox+Gk9zhXo8pcZ+ekrnfob+cMz62w6b+Mq7MoU49A43XKzEcJWgkPC8mZq2Z63acfgPte6jt2N+4iKFt1P1A7G4Rx6dIw7wXt/cPUJ05ZAd4cGMKD4fk6VJRo1yGtidx5Xp/iCOPE7[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-a3b216fc-d5bc-83dd-95a8-ed6c5684a8d2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "674094527",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
