{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7e5d7603-a3f9-b711-8e05-ceecba1357b0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE650A5160966\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7e5d7603-a3f9-b711-8e05-ceecba1357b0/test-file-9ea1de64-e72d-2f51-caea-900a83cc8fa3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:39 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE650A527FBF8\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-28T16:33:39.9111672Z",
        "x-ms-file-creation-time": "2025-08-28T16:33:39.9111672Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-28T16:33:39.9111672Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12354486258521407330*5279369405593028612",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7e5d7603-a3f9-b711-8e05-ceecba1357b0/test-file-9ea1de64-e72d-2f51-caea-900a83cc8fa3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA4tGxCMj7Zx/UpIS8a2g+WGbmPzBKC9vOJGEmSJo5IzPBy/vOLqOIeEznfkaubd/7iftkxAAwDtb54uRr0R6Bm4FU+p9wcC3DXcLjZo2VI7qBKsKi0Fsvkb0g0Eu/HKcyZeLBWXNAixnJoWpBTKhJZMMt5qpb3scmJWjeT5/iBD0frQCq08ZHQJ+o1S7w7kEU22+EjTn82ocbnzQGYj95550pIaOnnpD85qIKswWUMTcryXAwXXcHItZ5kzSOQOJgLu2Ry8ihbTzai6aX8id9g2n82pTLSYomJgLJLg9cbqXDpoAYBmlqilw3VdHQbyyu/A/KkWZJlOVnb6XJ1EMtehkA1E+jZX0AklA4k/O0VbbSGi3/ldk/eg2esJrDoLIZCdu0z5bhC5qOygMWDQT1rxXu+7oRLeRDwV4+BLDmPPGe[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7e5d7603-a3f9-b711-8e05-ceecba1357b0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1902219650",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
