{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-d30d8ba4-1c02-13ee-9282-84d1239413b5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DEB363283\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-d30d8ba4-1c02-13ee-9282-84d1239413b5/test-file-898474e1-6534-2741-0c6d-a7a249603567",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 08 May 2025 22:16:02 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DEB4159A1\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-08T22:16:02.5463201Z",
        "x-ms-file-creation-time": "2025-05-08T22:16:02.5463201Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-08T22:16:02.5463201Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15964167861348062608*4592540625403323126",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-d30d8ba4-1c02-13ee-9282-84d1239413b5/test-file-898474e1-6534-2741-0c6d-a7a249603567?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:16:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD7g9vB5lfU1i3k8bVF+cDjEbZySK4yYyMQfTUtSr6/9Ja7+s/Tr+cHBg+zbSOA7Pb1oI2ze21tyB+3sWkipotuJfwfiv/wD2LOa0Kef/YAj5E+N6owC3kpTjGvHP1+5F+DREgmYWH3BZAr5RArzkkptyLY5G7hPhmD9jvNQPNlT4biGzut2i4vRjIZBSVp/YDohWXbpgDwogYuomomKsSdxpWJSLMNfNzzqZ48yDnzGvi75bqNiamG8Xg1fjfDCRttez+Q37XN2gmI6P1itNrMO4dyakUJDzzrA1c62P2lL6CCzkz6YztD7gqxBaGsIzyeaEOwUZ7WZGsCpNxdkgIL47hd4OaN0tdML3w6WAqbP98anG+69d4Bq2ng975f5VsIpSLpT0NWEJVrYyIinAthZ2X8QvaSUe7ZWzR8rdsY7Uk[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-d30d8ba4-1c02-13ee-9282-84d1239413b5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1569360480",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
