{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-368be7dd-fa4d-a828-d01a-11cac35ccbec?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC5DF83F21\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:32:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-368be7dd-fa4d-a828-d01a-11cac35ccbec/test-file-04688749-6c26-976f-6f9f-a7ada8834bf1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:03 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC5E024373\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:32:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-04T01:32:03.4036595Z",
        "x-ms-file-creation-time": "2025-03-04T01:32:03.4036595Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-04T01:32:03.4036595Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6843315939057358021*13605289663960228771",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-368be7dd-fa4d-a828-d01a-11cac35ccbec/test-file-04688749-6c26-976f-6f9f-a7ada8834bf1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACmTRnAsKRGL5h4yZsNPoKaxFT4lft/0+mD19sucjAvdqdSQ9gblQwt5zGzoPeH8tsxoFqO/XWfJ3owPdjJGL1oSVLzuvuqfy5Hy67JzDPx++X//dHVoXkyshtd61czZM9zSlakkzfghiEsRjHH1VtGP0LyyRrskqfZwQjfTJTWFGfeVYHcTGeuH3awqVpHa9zAFqwVQJq0h7evy9IvADqMVjLK6IDZavLaRKmkO+lMkVUrHjXowNPMKs3KLYCVfx48I1MofYNc5qy5O/zwEEzOYjp8A+EEpJVe/b6yDz1yRMWLZxeWJBTSzjiJLoTX2xqB/MpGGHs8N3+9yX/EqtduR/Y3Zag1OD4lqjWpe3URhyGkMBNzKyxJTi+X2FqUDSRgGueNn3VxTMSMIG5Gk7wJrEJdIHnE+xvK7Rd4nV/jkZw[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-368be7dd-fa4d-a828-d01a-11cac35ccbec?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "604396334",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
