{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e56238f1-6aba-15c2-744b-68e8f047a967?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C20A798A\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e56238f1-6aba-15c2-744b-68e8f047a967/test-file-3c9ca20c-4450-9a46-9292-a88fc2ff7338",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C2139B70\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:28:48.2458480Z",
        "x-ms-file-creation-time": "2024-10-16T19:28:48.2458480Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:28:48.2458480Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e56238f1-6aba-15c2-744b-68e8f047a967/test-file-3c9ca20c-4450-9a46-9292-a88fc2ff7338?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "8GVhkQNqavgwTPdTmGuuIg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "9O+YsXobjPfLo1S1LujW8xqZ0kF8jQmXPk9xUF5Z5Knt0+VP6H9T+iLTUbrpFKIfe6j5QBXW7WflAXIrqTyYcb+qx1oDhwqaRtgeqDtPriqtUdS2YKOTFuZ9aecMJ1HlO9/6PkxHHPSdXvo9t0QrllJIfldo4hAbFrB0hR0jjR6GOWxbVG/dZTXgGAGoVl+hUdOUxKn5fVnP3yic0pfXetHctn7Y0EHjaxgih8kOcr9R0zNJjsl0jLsTjHVHQZOdCZ4wzJ/gyIGSsViQ1/WPwGxoSv9jjesHaCnDxEPLmyqFhH4q3qYfcQqyt91w47XFg8wI3/aUOnuzKWR2HQQ9xhUuC1N2ZOLGSNn0sNYOloR0/UB3w7wz8UkDd7RCqVMGdPDIQthiTh7qQpYdn4qkpZLfAR/DxgNY+xkJc+0tg56F7jzmRVSsEa4hjYAmFlK/X9IiYqczQq7[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e56238f1-6aba-15c2-744b-68e8f047a967?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "149785187",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
