{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5aa42c23-5e05-dc7b-f52a-c8e35c2e8070?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C1498783\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5aa42c23-5e05-dc7b-f52a-c8e35c2e8070/test-file-43f45f36-c7ad-e040-6e2d-562210ff5994",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:46 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C152B1CF\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:28:46.9815759Z",
        "x-ms-file-creation-time": "2024-10-16T19:28:46.9815759Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:28:46.9815759Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5aa42c23-5e05-dc7b-f52a-c8e35c2e8070/test-file-43f45f36-c7ad-e040-6e2d-562210ff5994?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Ogksy1sFxk5wd0FgF3VeVg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "MR1xuxe5uuExHSVhP1farAEXSS4eEYjmipu1DGUEG6/0mfHk122Y33MuPckqABZ4NC/1UzuBZx+VizB7BK58LAJ1baZl9dSTfmq78NS+u4qEPNc1Dsh0czHST0w9HdvEshDHtZJwEj5aYdTRxXZL1tCl98fWRh45Afp0k6aIVmGO9j7D9wb4FCmZ2qz0oq27hnl7mCYU7mvyjbOY+36Y0QtyQs44iN7KreKdPWtxRV5NuA0tDb07egjS0GpSYBiqAQihgV/eg/2asetDdrEAgUhUSkJxa8RNNsjFZbh0d03J8jtiz8P/bjUPklvS+ANX0k4i/RXVOZZDU0qXGB1FJjmdeoR1nbGEVdwNYdhpej7FbpNpUno487ilHnx4aFUXymwhNX5/4jScnac4yNi92tgM0aqK3NS/ZYbLz381C+2G9ZZrSEXARYtezLTT/yvg50SjbJaqje6[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-5aa42c23-5e05-dc7b-f52a-c8e35c2e8070?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "368443832",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
