{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-d6fc29ed-1143-14da-d25c-cf192724d8c9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC1565EE22D\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-d6fc29ed-1143-14da-d25c-cf192724d8c9/test-file-d4ae99ce-c8f8-e009-6b45-2677fb6cd0ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC156750A0F\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-13T17:57:03.3360911Z",
        "x-ms-file-creation-time": "2024-08-13T17:57:03.3360911Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-13T17:57:03.3360911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-d6fc29ed-1143-14da-d25c-cf192724d8c9/test-file-d4ae99ce-c8f8-e009-6b45-2677fb6cd0ed?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABIXT1Ca4i/aYKK0iMgIfD/wkSfCHmv4W3svYt9SwOr+mC4ccaWVh/xX0KmXbzGaS50OeCBabe+mHvPVq78Qh1/39fCaK8paGskrak3CISwJlRcCBIiKZCp+dhLxgBx9RwkJ33lBAB/StB0XbsNh5D2Hy9ZnzkLXLZGGG/W3qJrs7iMEuEHyyJT3b5BrszUm3FIVafRF1bjGcrHnuuRqGwtCakDgHSu71MNBsF7ya7pcnz9jon7mpxhqfkWPy02wjVRE6Qi0Rv8mmVTwxCVaE8c3SxukxniMm8Nodd6l68m1kSMKbYJx6FhAPQjqNaLzECq+mIAyC4bb+E1FS9DgQK2LO3MCD+YExaKDZIlv4mZgtSX0JxMJQ4VcLrV07JxHn7xbHzovsMBEedMdrqc9a9XnJJarLFlagbft5iFwz9jGO8[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-d6fc29ed-1143-14da-d25c-cf192724d8c9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1795785628",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
