{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fc060e0c-3f5d-9419-3abe-20d7668ef6aa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C33ECE5D\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fc060e0c-3f5d-9419-3abe-20d7668ef6aa/test-file-cd9781bd-9b2f-61bd-fc4b-f3fd4c8b5df2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C347CF5B\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:28:50.2656859Z",
        "x-ms-file-creation-time": "2024-10-16T19:28:50.2656859Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:28:50.2656859Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fc060e0c-3f5d-9419-3abe-20d7668ef6aa/test-file-cd9781bd-9b2f-61bd-fc4b-f3fd4c8b5df2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "qL6vdNLFlJ5Ej2PtfpFX4g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "3XSTIJcGiOA5CKH70KGH6VtO1/mDvYEY7OabFkY0LxzsV5qXvUI6+eQq/yD5LiBXOv1Ef2Z7kx/zezSxa3KZBdmED3kG8CsZFN4UWL5gH77FQ9tI76+2cMN6pEIOiI5ykPlGdB+nUUrSK2uIZzphklt27CeWURUqzp61i0voC4tQosfEGqueHvKQdsRELQmJGRLml5xm2z/kHKWB8cX/6SDgOMVznHew1801BdpR5qGULHE4AnPu6caI4P4FHSwskY2kZPREFX2aNsDOMNZkkjUD7MVUxues8U7/67t5qrmhCXRNrYKsTxb0ncuyH7nvI03IATBn18qm93KlRSrBIYsGLSdhF+WzVp2uYCgb+tGVD8dtsKiIOTGpp7UPBwnrMnxAq/KRjgtnFaqTuHehivyhDzZiU3DifvP1uHAvo0+Twy6s207fBIC8Bpv99YG6Bxy5bvfTiN4[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-fc060e0c-3f5d-9419-3abe-20d7668ef6aa?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1254615958",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
