{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a2fa937a-cb0f-3948-d653-68af395ebcaf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18D97D551A\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a2fa937a-cb0f-3948-d653-68af395ebcaf/test-file-a015bf98-fc14-c35f-00f4-f8f329e88c65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18D986516F\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:27.5852143Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:27.5852143Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:27.5852143Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a2fa937a-cb0f-3948-d653-68af395ebcaf/test-file-a015bf98-fc14-c35f-00f4-f8f329e88c65?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "fT1GV7Pb54fw2GGNdFPOQQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "YIh+GFjZCbrPIWxJ2q8V4M+4RnM6832RshCVIUWUuTOhSjebd2xXj7xp+hABFhD0mplhZryxbG0L7GZIROh0Omc5qI93emhjYLa20Phsj5sAoYarM1N2793KkIsFD0vU9L+pyG6AfCAx/QUG+pt1nl3KSKNhyQcTwrixrendXVFq4ts5wsYtfyRmejVNcPRCVPEuO8eociu3lQa1zs42U6C0mxjAPNyWnch++07SxlLEb1j4ryGKwm+wgSzAd7FVLyaUmdTbgRgUl57+KXfc5c+z8V52PaR+KtioD7qv1iUXKMsnPSx96O0/4xeDi5j405xdDIZS3/KCFW/7M3FeZcF45wCstaeiNghwNlmM+p4/sDweUcmfxUnZpSi9gbV84X5WC6SYTB70utZ94amY9RvQvII1PxP32CG30w9/5LRT9FTbNu/6p2QeKZbzIuOgQLAM7cUyRqJ[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-a2fa937a-cb0f-3948-d653-68af395ebcaf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "568855930",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
