{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9b631d45-2f29-c9e0-9686-dc4a78189c52?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE2382B162\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9b631d45-2f29-c9e0-9686-dc4a78189c52/test-file-1b631bac-c367-5730-cc20-c6ea769e0305",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE23924FB7\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-24T21:16:21.7409463Z",
        "x-ms-file-creation-time": "2024-09-24T21:16:21.7409463Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-24T21:16:21.7409463Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9b631d45-2f29-c9e0-9686-dc4a78189c52/test-file-1b631bac-c367-5730-cc20-c6ea769e0305?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB1XEoDAY0FS8ya8PguGYkpXBFgeL3DXnaK+1kCUqbyUo0pUeMiJshc+Q8MWTsCYKQAfU7E+CoZsv7TeAU0A/gmp55qBcilBjVJBH+utgQ6iJu0AdVXLlljD57lT67CJ/UW5bKdmFvcWnYZe/Sqa/z5mPBqfwIjz3lEBvUqwLeHhtyKl9FRnO8/16ZePrJluKSh67a9WKfz8xY5WZFlspq/kfUXINMrp/sAKqhcxZHG3k1RiNQByi00lqS6GENe2iULnqy9TpjRdkO6vS3/ly6EcnpDFCrFvcfH4okucI+4oVCCUCbkCJC1gBGRRgwANf92NqbIG8b6RuHl9msOoga0AhvcfEcHoGrqjZMYNHe6xq2KuDro74aKhwlF/hEkpt0K3EPwI7i4bpU83o0y4RJpKzC+hOrMyxOVUfQ9wqFYxea[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-9b631d45-2f29-c9e0-9686-dc4a78189c52?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "313783426",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
