{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0f384c17-56cf-8e28-368b-13842321134d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673BD31EEE0\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0f384c17-56cf-8e28-368b-13842321134d/test-file-002e4f45-8786-e357-ef97-0261e4d05a49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673BD411687\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:58:03.4288263Z",
        "x-ms-file-creation-time": "2024-06-06T21:58:03.4288263Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:58:03.4288263Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0f384c17-56cf-8e28-368b-13842321134d/test-file-002e4f45-8786-e357-ef97-0261e4d05a49?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:02 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "PRrZTxVwvc/rffSBrwiBUbRptPls5rff5jX85hhWN/TW2eLyC4iUX2zlQRncTdPWZt1WGXF/YVZi+mjgc9e3lUUAqtYljkUr1FSNhqWeAplhJn86AB2DVneLjxAftOyULqvT26L9sNiXKkQc8tuxxPfOfkxXfZUofVRfmf41DCBo+Fj5yib3ZHWno9XYZmSb2soZUDafPLAWql5OnhbZYh4ks/mDuPrR1xrWsNq/Txbvw78zHLvqybun4yDIqcZfzUC3s7NqFyLQSHkcyIzWVlpHXtpXpUZjOuo+3NTaCC1Td+KZCJxjhKydYtNBzgAv0I3FgErrCCj6VHnILDtN9j9LyFGpPU6+5NouuUJyIWzqDgxHFIjjZ2+6n7Qim1dwUGyU9QWvhpI/BpxwvU7lhzIM3h4vBuG3aGDh7p6ZnEiCvWnW3StmOod5CA7rcqog1ReBFrw4QUm[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0f384c17-56cf-8e28-368b-13842321134d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1804403184",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
