{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b8441e95-7cc1-effa-bdd9-f7ae7f0dc98d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDFE5FDA85\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:15:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b8441e95-7cc1-effa-bdd9-f7ae7f0dc98d/test-file-c74c600e-2a80-4537-87b0-0dfcfbf8c34a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDFE6F5579\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:15:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-24T21:15:19.4360185Z",
        "x-ms-file-creation-time": "2024-09-24T21:15:19.4360185Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-24T21:15:19.4360185Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b8441e95-7cc1-effa-bdd9-f7ae7f0dc98d/test-file-c74c600e-2a80-4537-87b0-0dfcfbf8c34a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACEgU2+bloO0xjQg1VNbWnddBEO/EuWaF5oM6Ob3B1cEpz7BwSTpnhFdO4aVNqzEXjGCHMGFNLn7hnuVTq3cvb6dHC5UmVlSs2YyYddexODtSEq1NSqVv7KExnqpFA9jgH3H+Bq+b8SYL2mbUpKiXMGaqAYjJ4iUB5x7z5Me6V8WzuFZVsyGbtiGHMWA+mzf4ml5DmvJQFj1c/C+QqAxeUYKRIPxCMY01HltnQqC0w1vW+0p5ZrzDU5IpCMcCCw4lKO/trWpLtljRHnym6NOcmCjTubyx5OrFzc1qKTjGIxNdMimw1yXhm0TxmFhALHrOjGCePkFBYzP1J++s0Y0gGutZSbap28EC4h53wEySdZFSq6zIJ+TSG87ly69GNLm3wY1s5uK0FKCvm1wi2aLnUqJOWjXgZ+MGhz3ntBARvK1Uv[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b8441e95-7cc1-effa-bdd9-f7ae7f0dc98d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "91027977",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
