{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a1ea8107-7411-8eef-b2af-6b74ca245ca6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD36964D0A3D51\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:28:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a1ea8107-7411-8eef-b2af-6b74ca245ca6/test-file-8ccaeefb-ee72-8488-0967-2dc77e9b0046",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:52 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD36964D1AB6BA\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:28:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-17T01:28:52.3069114Z",
        "x-ms-file-creation-time": "2025-01-17T01:28:52.3069114Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-17T01:28:52.3069114Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15454356690087156724*3769234489255881874",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a1ea8107-7411-8eef-b2af-6b74ca245ca6/test-file-8ccaeefb-ee72-8488-0967-2dc77e9b0046?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACIKpLGVopqzpP3bglzP9wCDVeUQE2orj4gk6tOaUlJwBwDJoYd271VHgggAAVnG+VwzZZS3aqv4HxUpcPeHGVKrq3tbxlW5TGaPiJFh605uXfF3Zuy9uJxVEYKyDb5dgGj1lJXeavMGuhkt56HaVjOG+tLGD7Jl7fKexvSSxz7oMchobFb4T/L+cOzTT9D6uruPK1KrV7D2j6ajP6Q+s/MaRbXZsemcjmsgB96FUp4h5Ew5A9usPJpXcdzwFRBOv/05+QobIMjR8lzni0/SMT0IgVsYBW/XbgjbQgAM7HkakUghi5mTxoNDZxF+xLFKhUDfp5P1NnpNIorBP56IhQYjjPoHsGWjtLrX1N5emKmXkPz/LQTlZZrNlGkOksbk+qHLWze3AtTbe/LY3WGb7knhKW7hyVfBPidfOhv8VOH0Mt[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a1ea8107-7411-8eef-b2af-6b74ca245ca6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1005661073",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
