{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4185cbd6-def0-47b9-2e7d-6a05ba724a52?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA76454AF8C0A\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:00:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4185cbd6-def0-47b9-2e7d-6a05ba724a52/test-file-60aeacd3-d902-4686-3a44-c95e3a826a82",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA76454C094C1\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:00:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-18T20:00:54.0243137Z",
        "x-ms-file-creation-time": "2024-07-18T20:00:54.0243137Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-18T20:00:54.0243137Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4185cbd6-def0-47b9-2e7d-6a05ba724a52/test-file-60aeacd3-d902-4686-3a44-c95e3a826a82?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABZIiW7DPi1olxTB0pcW3O22RfXKNAseM5GXicxmipUBnv\u002BA7FT6EY13f7BhTYkCXVw4mrFWgGzLalXdK7Rgwgy/wHOXVfBY/DRokrRavOXIlSxwbfAjqt5StUI\u002B3SXZFn2joY1Vasdr39687i34sK2v1JZH8JRcnBVVBOCuWd8OT3x29xsYc2plBE4RZrzwmgSUTwhPkSXpBwV4ACYm/YX/rp6xQbmSV2FsIqwGCzVYpGqb2crWvv5WTbAV4HMEPkbIEfgeP1hLAfenI655ovvQH1u7SyO7KO\u002BgWvQJvLbuJ\u002BRlPjk9OqUSUNfTL1tP3Oq0BYEXSPMjDSkIfaRkQUVA\u002BPuKFKTCkuT2qTpL5/lUUL4JVbb11t8xAjDQNLzA7g9SknZfhcgF8XLcYN\u0[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4185cbd6-def0-47b9-2e7d-6a05ba724a52?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1801103337",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
