{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-addb4174-7cf1-cc99-49f6-10d8ec894f80?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C39E0E62\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-addb4174-7cf1-cc99-49f6-10d8ec894f80/test-file-f2bd1c02-0a0c-a41d-d1b6-8c04b45396f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C3A8CCDD\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:28:50.9013213Z",
        "x-ms-file-creation-time": "2024-10-16T19:28:50.9013213Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:28:50.9013213Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-addb4174-7cf1-cc99-49f6-10d8ec894f80/test-file-f2bd1c02-0a0c-a41d-d1b6-8c04b45396f1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "zYaAPZYndiRp4PCipXnJsg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "BiDfFZuj1EAeB97oVCQa5weBs/lYyccgkIdHujmAm/N7IG6RgtnzgR7wZ7HxalC1nBOatyeUrzxYvoUUWxkGnWvrbDO2iWUtjjLaZ2IWLyU2kh0m5uTL5nEyOcNU3iUF6slFBv4d/xOtbCj0ukfZQo5f3cn74LeHH4bCg0+i2a8M1X2Y0CknGZMJeHq71iwpWPY19AFcCQkSvuZ3WnvEC5J56OTJQHJkN8M28Wg9zEhZmSpZbeSusMt0hhJCr78XRW3nQu5IXxeE0L09Jhih1fGeHsFQap2uyjcYVbpfIYgEHqv6VYlZETkT1JwncImz07Ego5H+xtvPOXe2LwpdJK40OQhspn9nRQyHPZUBhlqtZIEIP332BlfQKhwSouIutbDu8jeBRywxuF6EdolFzrIdCcqJVOUwPTOwm3xiVaIqWYflE5MiLB1U14YfcY/Oi1tp9ZkXpWH[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-addb4174-7cf1-cc99-49f6-10d8ec894f80?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "533099299",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
