{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c6930d16-7ce4-9a17-1e9e-2dc4196cab61?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC167024FBE\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c6930d16-7ce4-9a17-1e9e-2dc4196cab61/test-file-4ca3483c-0151-f6af-48d7-da848010b6e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC16711D184\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-13T17:57:31.2071044Z",
        "x-ms-file-creation-time": "2024-08-13T17:57:31.2071044Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-13T17:57:31.2071044Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c6930d16-7ce4-9a17-1e9e-2dc4196cab61/test-file-4ca3483c-0151-f6af-48d7-da848010b6e7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABprwp5L68I/mIXnYNXnU+2v4wgaDUae3Hc5olIKOmhu77UEZtdZXH0qDguzcsgJG9POgFNTTkbTzOYnEgmv9V5duHEg4y0WFkaLMD9662lvMIa+e3nVG6EucFnxMgozehitVfqW6Djm+KoMyF5HWSF8+CFC8bokSJyP8rKTJOQ8V7YmjVWu2AiN10LPyFNC5td4tHoosIheiQ1dxzWGE9OF0HCoYMuLziAY9Rp3FEBJTMvbGnCqE+ctiAQIERDSx4NvSjfimoXLrKZZz7tuJ3TNFLopqvljG7yJupjHg/zPBe2Wx8pIZrJFz23KEAQrv6CPOvyWqVyKDG57WR/tBCjpSsmN1x+qhO3H49uLWMu4nfs4OEjAeFyQzLubzM2SWItFIMV6XehBJLYOjsVBPrNiwvsk9Qvf6NKtPMpkDrggdU[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-c6930d16-7ce4-9a17-1e9e-2dc4196cab61?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2141818045",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
