{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e08c4210-30c0-1ec4-4c4b-ed2f2a218f01?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA76453B54E00\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:00:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e08c4210-30c0-1ec4-4c4b-ed2f2a218f01/test-file-2ce2e776-2b40-ed9d-7410-981b4dd20ae5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA76453C544F4\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:00:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-18T20:00:52.3773172Z",
        "x-ms-file-creation-time": "2024-07-18T20:00:52.3773172Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-18T20:00:52.3773172Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e08c4210-30c0-1ec4-4c4b-ed2f2a218f01/test-file-2ce2e776-2b40-ed9d-7410-981b4dd20ae5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD1zDDuaQ6HwhLp6ulza2w1tOkwn4LJ0NcD\u002BxH8zkflneOxY\u002BXmqZnwAtyzSKNZJZxdSTPUJlWJLPxZ6m79i/TKBE0FwgeHTgpQQJymFYgzqdV0noQUEHeNJzfojb4q8nfn6UNWVGKV1vsog\u002Ba44xZ0JUGZiexvtvPVd5rPnsBMJk0kvixE3FVy3siJ64yR1UQgdGd8kWmLeDNPgNzHxjc73F2YlCTqL0nrJqoj5spmRKJWripYz5TkmUb49Ft5qheRTg8v\u002BEEfNkQekGu\u002BZ5Fo6Tw5cRcN4gzJs/re8TrtcnuSkpi7N0xhNnjlOT4pJjK0kAsfQDkAhGsCZkVGQUQKMR7vK9X4rLHv1zqfJ6jOn43HKWEvzTJBkg0sudEHG/Uz2wggOftdu\u002BNaL[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e08c4210-30c0-1ec4-4c4b-ed2f2a218f01?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:00:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1912692749",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
