{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-85b9c4fe-ccbf-624b-5c07-dc8f52ddba92?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DECC36B8F\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-85b9c4fe-ccbf-624b-5c07-dc8f52ddba92/test-file-450b5270-4b38-8bdf-84ef-f3e61bdfd102",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 08 May 2025 22:16:05 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DECCDDD0D\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-08T22:16:05.1449101Z",
        "x-ms-file-creation-time": "2025-05-08T22:16:05.1449101Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-08T22:16:05.1449101Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15964167861348062608*4592540625403323126",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-85b9c4fe-ccbf-624b-5c07-dc8f52ddba92/test-file-450b5270-4b38-8bdf-84ef-f3e61bdfd102?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:16:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC/nApHf361jzFN6xT1A5EZoPI6TBUNOCbesfqBFhGrt4YRiDQ3H2rXUDh8DBmED/QGPuDOqNevsmTkaM2DM3ggojSO5Htd4oGHY/vckSsMWqIFetcw3A6vYdbQUrecUxy/XGnl9St5qFxfRkTb0iA41w0rfrmh78Ul34KljY/J6hDfHDXCJ2R2i9F70JbK0461l3uqcdRjHmykvxap1BvMlls0/LXrdq+otfPnJh8vWwvz8PUUH3k7fP7IHWhOzLe2rjk6ldbZySHLArvhe/dMdGMKtuQluHfh+IC3IlhHWug7MXfl9MU1GibUSBy+WgAGe6gEQxbSkfbCWJ1WIabJhKfTpUmAZ4Cd1Zy9UW9aI55/sKevQhfSaKCAI5wo3/iACsN06rS2hhQoZm16FT+HaDT/1nH/GkGQATyp/0Tkdfa[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-85b9c4fe-ccbf-624b-5c07-dc8f52ddba92?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1792010427",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
