{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7f2a96ce-a4c4-4eb4-16ef-8b375bda79b2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC449AA930\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:31:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7f2a96ce-a4c4-4eb4-16ef-8b375bda79b2/test-file-5b475a80-f240-f33f-7cff-aa909cbb08c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:20 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC44A46C6E\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:31:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-04T01:31:20.8456302Z",
        "x-ms-file-creation-time": "2025-03-04T01:31:20.8456302Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-04T01:31:20.8456302Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6843315939057358021*13605289663960228771",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7f2a96ce-a4c4-4eb4-16ef-8b375bda79b2/test-file-5b475a80-f240-f33f-7cff-aa909cbb08c6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACmM/i4MT+boqmIO2pBbLe0f+EAbxG6+k2xnSLP7LGJWQhBoWNpt3j3UCYUL+/WBSG2irs26eEQ6ziqBpMczLX3/uJh/8tTS8doCB/qpste25gBGWL1U3AnMbUrv7Dk24NxHTAMdAVVYj/0zeDBJUVsSyv7G7NSAapxOs4VKIwXhC2beYibUWaTq7YjAYaPZgtwvnOE6b/QHhuFmjo3QDmy3UizJay80fnFaHD8L/8k4tTCpWoYkppty1ptFbcsW2t9cCQ93EBfs+x5v4FP1O8bYbhmdJrOmUquRVpST7tCmQwEfr7b5gaTY/F+n9IYHvdqUbT+xefQr9bZj5bmDGQwNiZ1SlUxQHuy0hCpUPp4liZi5/0HQ9MkM8/nAVZvrVaMTWisotOhORE4TPPWJ17cYflvgyVnKPNSURaFST4kQiS[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-7f2a96ce-a4c4-4eb4-16ef-8b375bda79b2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1727814427",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
