{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-87bcb30b-1331-d961-c390-be7a93ed852f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C25FFFBD\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-87bcb30b-1331-d961-c390-be7a93ed852f/test-file-41260821-aec2-a578-0fbb-8fa89cec4ddb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C267F095\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:28:48.7985301Z",
        "x-ms-file-creation-time": "2024-10-16T19:28:48.7985301Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:28:48.7985301Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-87bcb30b-1331-d961-c390-be7a93ed852f/test-file-41260821-aec2-a578-0fbb-8fa89cec4ddb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "TsoeXjJIM9JSC1sM3xoXAA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "4tskS6LKaTYw/JNP7uKZZnSWIRHLZda11dMztYHQVx5NY5xkOdCFjhnr8FwtZ9Uyc+0+0rOD9X0FbnXPl7O0X6R0AYpFNSykEJL433R5h23+AEGUkoVryW4fXspatvZlN5G4uGVK7T3AmcIhixUIjOcH0JdxH80eCTgcJtdiSVmbkqjjwM4HsxME1PjDST5YFtLjUuZf8xfEma4tLsZlXlBohfhtJcsYAByEbUvUW8D5xBAEf/dzPJ+RHycg2YVMnnaoWsRF6/EHylLJ2obM7z7uNGq2YN5Z9UhZ2waj+CaXN87VLAD7s9gf/bSkqWIZxS/oMaUalj2XT2R77A/qY9IsMqK39sM984CRl2MqtEzmQBbWu8eAfKGRPdybgMfJNJrheHa/Yc5sqj4lif/abJoYlKz4FKcLq7YBJrjmonK4x2LJSDzVJ95IaRCIW/KittFBg+sb0R/[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-87bcb30b-1331-d961-c390-be7a93ed852f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1204246365",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
