{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-8f79d9fc-9803-cb47-470a-df84ede18ac1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A430D7DD\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-8f79d9fc-9803-cb47-470a-df84ede18ac1/test-file-13ec8944-00e7-23c9-6abd-57a7c7859feb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A440542A\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-16T15:11:01.9561002Z",
        "x-ms-file-creation-time": "2024-08-16T15:11:01.9561002Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-16T15:11:01.9561002Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-8f79d9fc-9803-cb47-470a-df84ede18ac1/test-file-13ec8944-00e7-23c9-6abd-57a7c7859feb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC7SioOHfC54pTGAaI3X5C15gctMLeWEgORMDBOTJeSiB+dLPBmFbpmA0df6MXDU2klFscY2BEMJTcnfOzAapb9NHmCmTKfT9FMxi1vNyo+ztzGKTXPeq8OkQe4P5jOpZmxYbRMQLk2hcf1yxHknO0M6K4P+UBgLbrJcwgr5g85fiGUvtV28Y0ikKRu2q6dKvQZrFbpvqxYUDT5g82xC564vEzwUN0Xlvch7Gmc8lMLK0kTETq4T8B0O26hfG6/cYUFtR5hrdoXAhVfyNFDvF7h7leEnfljAGyMexRvdRmIYXvkljw1qX5u/A8kWIfuMX8PwI4WO9SLorWx1THGp4z81mZWXyUirETYFaDqPqfknUqUYLWKcSWmWPSGg9RNqFSCKIEgmNJa7RRKPSYzoWMOzTfmMUfXcWRBrwYwmyhvi2x[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-8f79d9fc-9803-cb47-470a-df84ede18ac1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "145339735",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
