{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0d94c689-84ec-ca47-81bb-52fca51afb35?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673C420DEB1\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0d94c689-84ec-ca47-81bb-52fca51afb35/test-file-45378d5f-09ff-5451-cb36-d2a3fb9347c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673C42EA4BA\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:15 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:58:15.0519994Z",
        "x-ms-file-creation-time": "2024-06-06T21:58:15.0519994Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:58:15.0519994Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0d94c689-84ec-ca47-81bb-52fca51afb35/test-file-45378d5f-09ff-5451-cb36-d2a3fb9347c5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "2Qbc6bG91nVqTJHWMuSmNg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "xgxuXH/JoMAuM8BGjlSmSw3/8L7A992LUJHNGFrwdgc9iywYyFLTQkaZ1SQ4ZhD1RyOa61Soqc4u4gvt/IdlPby4CQMojoO7K654JyK5U+qA19E3VYuzlOFd6eVG5kW+M5dnf1wNzLig37+lMIGsdI4hbCW1LucwBHUhyqSddEVpuvSKUdONcwoZlnbMDmNfsXVXJHkgCQSvN3rn7AETA2p5PHaNISK6lPkanJdxY/YRwRkvRVDLSLDv2hpYpocIBpMLUtLt0Y9TnJCABWxtPdOE1Sro470arfPFnkcHYu1yEZYEZhEkI++K3KnAS0NEgpxG1NFcICLV8KTeKDNISzqiDfPWaNfCYLE6XgcTWmKvgRyqwY0cFfFzL3VsRfu8QZFvHT5PbRnFhHMfIsIawZZCLqcWnYmshvgBYjhhVRu2fRx2pD0jYBQC5Twa/PIvWW3fKRZUpqQ[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-0d94c689-84ec-ca47-81bb-52fca51afb35?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1411464914",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
