{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4225ee36-0758-67b6-33b5-91d6bf013b5a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DA7A5E68\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4225ee36-0758-67b6-33b5-91d6bf013b5a/test-file-7ccce3e3-175c-5302-7395-514e8306dbd3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DA83ED07\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:29.2472583Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:29.2472583Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:29.2472583Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4225ee36-0758-67b6-33b5-91d6bf013b5a/test-file-7ccce3e3-175c-5302-7395-514e8306dbd3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "PeCHrPTqqEh3wPnJpjn+lg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Wo+YaWRhpiiE8KoVaWINsYI0WsHUOsAJJaLh/7f83wsRU/nK6cr3GlcFfamAirSq46TrITJwdiDPjkPCf6ZxhxCfAxVpQ8i3PT9pz7wWiZvtNxwSEL7YoNzY+lqHNJuwk/WZ4YaeQKDcNOPzBqdkuAWo1UeKXndRxmI5kEhtLwmjuDvHfacUT/Z7Ntzb5Zk1dEJV319TJjV+RxojZbBXbgTZT05snTtdk4VQDieaduHJAxwGGFCqT5IGSDWN8OpGJMfYAZZLydcG90vZAhcN49E5WmGUUFa0L/+7ZVQG0KKbCupgwnRKfTpEACAE0E17+GVjU5WIstRxJNGXkGOC/yapPfgtrSFc7t0mT081r16yQG3vonwME1gV756js+zXwQD5W5NUTktDB2S4YmKEO3Ry5FD2k1ypnCqgF76CuTvwTo5OO1TLXfEhq5sYVLD1kbQqMM6c4S6[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-4225ee36-0758-67b6-33b5-91d6bf013b5a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1064182201",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
