{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-f5b564d7-45ce-f2c5-5589-0470fa51ebbe?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE650A3A48726\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-f5b564d7-45ce-f2c5-5589-0470fa51ebbe/test-file-aceb9a1d-f5b0-b61c-3a74-d2593636e208",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:37 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE650A3B3A067\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-28T16:33:37.4708839Z",
        "x-ms-file-creation-time": "2025-08-28T16:33:37.4708839Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-28T16:33:37.4708839Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12354486258521407330*5279369405593028612",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-f5b564d7-45ce-f2c5-5589-0470fa51ebbe/test-file-aceb9a1d-f5b0-b61c-3a74-d2593636e208?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADcVBIUEBrVGZOsmRxdr+mZN0KLWqFge96bz9hPICBuDmAMObWpPbHLypb3lhABaiw7A3hXwfY6fNg0eUFBhflyPoq7UHUz8PqQwJALaOXNmmSrEx2oFkxq0b3cdcRwiUSchVeGRRq2BxN9xwFmLxTzZt7clnLcySc9UX+4V3o2HzdLbuKNR1RK9AwJK09LA6Gp6Q7lk/LSwLsvSPOa/q+YR6fKGsExZR6JkqFl0p7Y8k3dD25rUIxEea0nXf9hr/ZccOOngengeIPwWwFRbO4cV1alve5BLPcbhqETCQcfKOOqCWG7MHBk/Zfqe/SK8gy/Cgaou/EIGkTsjPtHzG570DIdpmOMYSflQMBXV7ECkJOUVP8Bdm3xou4dz6N1HTAobqrBbEupMqnfw3oxsMOS6vtnsndvelrFLAR1b5KDbyO[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-f5b564d7-45ce-f2c5-5589-0470fa51ebbe?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1798796295",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
