{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-71e254e3-5b02-8987-89ad-c25f60cebe35?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369651B08A6A\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:28:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-71e254e3-5b02-8987-89ad-c25f60cebe35/test-file-57c37dc7-5f9e-191f-b4f9-7e1f824b5475",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Jan 2025 01:29:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369651BCE7BE\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:29:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-17T01:29:00.0807358Z",
        "x-ms-file-creation-time": "2025-01-17T01:29:00.0807358Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-17T01:29:00.0807358Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15454356690087156724*3769234489255881874",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-71e254e3-5b02-8987-89ad-c25f60cebe35/test-file-57c37dc7-5f9e-191f-b4f9-7e1f824b5475?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:29:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC+Ca3FyI9cp15RYe4GyAuuTlChWnK+orDFv+wyU9U7nYIRAXUsmakuqbShQgTJX4Y5OdEE0TfQ/2f9/wiiKlOJFcRr9ceWgrWnc7C+HV+r/GBm+BoDNstKQAEOL5mhi35gFyxAXWq+o7YbXV6HEuEHUQKoOzI4hd/4ILXFiFIbBucxXQUza572qFVj59ltwy0fBt6W+FBMKJJNRzy0+Bpk/1d2VbTc0+ZjspPc1J0Fil2HpYFzhA2X5DVz5iNiQa86/+eC9215QzP4M0a8b1P0R7zfLVKZ8XpJ33B+aO3CAXDkotW1gpPwDmJNe1HG2nXif55mghNcoA5sOBf8+tpGNjHV2M19PsQp7x/wS3UpgwT7nOlOW35dhwHHSUp78xOHB0Ug8AKnZEDZPZP0a1WYQ7UTAF7x+NqyeFDLtvV6rfs[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-71e254e3-5b02-8987-89ad-c25f60cebe35?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:29:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "668537242",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
