{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cc52916c-fca7-7ad0-9feb-f22367a59d91?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:32 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB09FAFB1C39\"",
        "Last-Modified": "Mon, 12 Aug 2024 20:04:31 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cc52916c-fca7-7ad0-9feb-f22367a59d91/test-file-53c859d8-d2fb-fb65-0520-0aa7b9ab1abe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB09FB131E0A\"",
        "Last-Modified": "Mon, 12 Aug 2024 20:04:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-12T20:04:32.1201674Z",
        "x-ms-file-creation-time": "2024-08-12T20:04:32.1201674Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-12T20:04:32.1201674Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cc52916c-fca7-7ad0-9feb-f22367a59d91/test-file-53c859d8-d2fb-fb65-0520-0aa7b9ab1abe?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "UST5wccz6rmPBZ07j6dIFw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "MoD3pwUI6EcJEn+r2Cz5lU0i7yDnZAK5WBMNtl+YBmigq3EBEvbKLF52Ln2ORhOE0C+hGPQ6kc1+Pk/y+zHocQwWCiy7+IJXV8LCcDaEKhH/ieUv9+10ZRqjgtSm2DAtjr1xdzznyditScAxeCGX+hM+8nJLuHoeoqQRF3WtsH+SleF5E7PVGMANgq0tQu35C4jBaOW+4dZDUtWX1bFiAJlBn+M/HuZfaNmyPjbM8V+2GAvt60eZ07MLNcDdPUMOqoIT66MKue2hYQALDKKgdmB14LyldRRRp8svM+glgiuWo5SzuAW8rF4eTIlHjccQa79gZ1yGaDVtwkTX2oUEe9/UdGgO7L1buTRehyiKChkDHsgpxRrOEDpfRfbB5NHYGdCqchlfAn8BBK4oJ+EM47gq07y927XFBmQtr6bGmdRihW1X4JcApBxJJ8BspehZUmI+lhAVGz4[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-cc52916c-fca7-7ad0-9feb-f22367a59d91?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1556858846",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
