{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6647fcfc-7a0b-a33b-7ba6-f6ddb6e26b0d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18D6E3B737\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6647fcfc-7a0b-a33b-7ba6-f6ddb6e26b0d/test-file-2e2befea-31da-b232-7e83-62ea6cf31158",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18D6ECA7AC\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:23.2227244Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:23.2227244Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:23.2227244Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6647fcfc-7a0b-a33b-7ba6-f6ddb6e26b0d/test-file-2e2befea-31da-b232-7e83-62ea6cf31158?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Mf4bw2cLl3HXwnux+ddFmq70jl9ELmC1EdczgtbUb2uK6TJfxTSZQ78tZevaD1jYdxmhIfBwUwOeZrGQ2BSaA1IQJg+k5tV5WkufFsh02wJ+Wgq8Mk57GpUuwF+DCWuqkmKYyuhIM5BEKMal0Tw6KoqvEX0J3tAElQx6dSZ29lHg9IRm2xEZNid6eAqH1klZ9JbU0/ftobORlDTbzr1qzjF0xdy31E55ldtWj2bGfL/DIIGPoSJa8lPR1EfcPmhpD6nYEhFsoR9HWz0blxFNyhd1F6072i0OGtKJ5v8GnFdz7IC87mqtV39iSEXlPlpCgwowZia6LTR8yfg+4rofQb/mqKuQkdutyL8t2ZLnKdx4R2P11jYwuL5LPyVxb3XEQgaG/pavsfIugp5mjFSilZ8cxppXKmqIte/sRVG2O1hKaJaLYCtGyJZwx1SXyStqqaqFVanabRi[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-6647fcfc-7a0b-a33b-7ba6-f6ddb6e26b0d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1313447679",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
