{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2a27e525-d4e6-a3fe-e1c9-cdf9924e6081?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867409E4FBE3\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:00:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2a27e525-d4e6-a3fe-e1c9-cdf9924e6081/test-file-cda952b6-61ea-f037-30ab-0da8704c571d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867409F4F4F5\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:00:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:00:12.1144565Z",
        "x-ms-file-creation-time": "2024-06-06T22:00:12.1144565Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:00:12.1144565Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2a27e525-d4e6-a3fe-e1c9-cdf9924e6081/test-file-cda952b6-61ea-f037-30ab-0da8704c571d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "venU5wQKITzmRGgHlA4/wg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "hivqE3KgLbNsIShKyVRADLgZQzenL673AFAbOOA0YNBjwSQ36v1BFi3zxLKdyJbPBYSMi+8Bo1Z98xMhhPTSN8BX5ggvCCG61ywKs2r7WTe5SzNcp9XhYR7NuffpIJI5IYzxRuKOoP1i0bTC9+/rgZncaDjBdZDrdYXqYU8q0Lea0JLdCRNVK6s1+tUgH2ou4jdeDLdZeKv8BtBcpD+tNwD8KCZdDXiFhzyNi3u6ylYau38Xy8T/QVjm4QNC+IdriMLUJPZE0NS/2IV7y+wwQTt6Qui/lmw8/efNdyx0Q4+1IQO45aZf1eqrV/I/hHVrtp/Ix7WerPFWmCYPd1mnS5X1xanpd1uUGm39FD95/XlxYcGMrHvaF3URYU1/UF6RAwxcSb7Mgj5DM6xIoJey3JqtnRaYG58aGq4z1xYOFMoObBEzHLO6pd+CSHnOknbeX4Wz0rNH+Oh[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-2a27e525-d4e6-a3fe-e1c9-cdf9924e6081?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1550200686",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
