{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6c65c3ee-5281-ee46-7ad6-c2328946ceb7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673C2551E87\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6c65c3ee-5281-ee46-7ad6-c2328946ceb7/test-file-2937497a-a762-1fe8-993e-3d441f28e5a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673C2668E45\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:58:12.0629829Z",
        "x-ms-file-creation-time": "2024-06-06T21:58:12.0629829Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:58:12.0629829Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6c65c3ee-5281-ee46-7ad6-c2328946ceb7/test-file-2937497a-a762-1fe8-993e-3d441f28e5a9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "3cbR/Hc0/CJr55iUtEggqQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "iHlP+JOQrv+KuVyEipv/gQiUo0Rd/KbnNOUJr1rPzfNmDSJ0qdWa/pboR1fzz8IY1RJhSXlRXIzTaMSuh/+lu+xpHnx4i9gy+aStdbRP82Uj8NlHbYN5FbGWoEER7HeXQoxribFFn0o6LlDUo+bYhHRfipYlXk1o7wjL4uqXIQwsFjIo5Gm03VCODT8zpXLKvhzMsWHhceQ+Apqoer1gow1DqI2zr6AKq61Fl1AONUqWACTNym+qS6RO6eHPC2OTLmox7/zkFw58wQa0nNqTMM1PEnmZktidmV3oZcW+O59JsWnm3EVNsekVUQho9q7KurkTf/np+ZuRlFaf/LFIvYZnaupxrFOIAmCQg0DQNKKuHqsMq7ymYLfNVUjvrbU3zJOCAYvEWA1li32ZWXVawV+z8d4GPBLKwQoyo1cLmFSrWLesTTMX6sWdph8+DAdBcpPoO7zXMZC[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-6c65c3ee-5281-ee46-7ad6-c2328946ceb7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1288595946",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
