{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-8aa659d7-1b52-ef3a-b7a7-81b38816bd41?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DEE580701\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-8aa659d7-1b52-ef3a-b7a7-81b38816bd41/test-file-63cc5711-6882-721b-1799-7bdf3073cf6f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 08 May 2025 22:16:07 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7DEE61D204\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-08T22:16:07.7922820Z",
        "x-ms-file-creation-time": "2025-05-08T22:16:07.7922820Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-08T22:16:07.7922820Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15964167861348062608*4592540625403323126",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-8aa659d7-1b52-ef3a-b7a7-81b38816bd41/test-file-63cc5711-6882-721b-1799-7bdf3073cf6f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:16:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAIouc8sSyA5JwRotA4y9/6i8W+DtJRqfDtiiSaGpkVpSSgZm7V3wvI+WDPhtxBhfnY3Ze5g09wtvj3TycH5skD/PysmGRwJay59hVygiMUqwQrwTwCWyHUMK923o/kwRKWzIngle2UaLjqAI06/TTV4qMi3CWMAKDa12e0+kcc1DQC27aZNBUXlliEF1qUmjJ7oPvrwuTtCcvoBb6F4G1xzStYOCJ+O66OCkbMCOlGRj01OVlLMBJQFNHqsC5XkrbqEkkvO2EP/WVMXbeeIQDior+AT6YUJZwZCCNQk4qANniQ4fWfFgvbJTvz/9NbsvPQCA5v1kIP1u2sFTM+v2nazCc+Dj8LQou0pSprICbJvlUwf4t8EF82gAsI8gDYnWbRGDKrHKSzxcWCujEYpLXH41fdDT/eXrvHCI00Ak+K3Af[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-8aa659d7-1b52-ef3a-b7a7-81b38816bd41?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1612928412",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
