{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4aa309d3-115c-bc77-b1e4-78a8a5be109c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A46F1970\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4aa309d3-115c-bc77-b1e4-78a8a5be109c/test-file-e00349c1-35df-36cd-3e3b-4601f0b1146b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A47EBCBE\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-16T15:11:02.3651006Z",
        "x-ms-file-creation-time": "2024-08-16T15:11:02.3651006Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-16T15:11:02.3651006Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4aa309d3-115c-bc77-b1e4-78a8a5be109c/test-file-e00349c1-35df-36cd-3e3b-4601f0b1146b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADp8L9LjsDxHR60ruqUgNCi7i3Z0XOWo3Ihe4ZQodcxJAtdDftPqbwO4y1bQy+9IcEacSWPnpWrUkxMKhI6oHxGg4reNnLUU0Rxy+1GO19CZFrFNS+yooZ2sbquAn+q00KwFMCk3+pPRR7hHdKnZRftCcW3dWtMlOADZ4W3JlDEx/eqlSeenYVvdu8Q0ISzz0yjwfi68l7XY3/foXdllx/OHFbb/M/wTmxASP97PMNcUJc4FGRXCtWY0zGnv/wNCt7QQrQu19J8s3OMeapfWye7g1DgLYO6dhKBQymdSI9vMj0gq/oPLnjFu2Dxy5AqOXcK6zurLd1bFcuirJSp32vkHUZsPq8srFXYGnEiyauBVgqxk1xTwwVgxZYvbIHkHNz1Da1JvvrI3T/m0xJrOEsfIFaK90sOkFpBC3kZ/T/T8/6[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-4aa309d3-115c-bc77-b1e4-78a8a5be109c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "638794158",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
