{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0a6b2277-362e-9666-5b9e-320d51384512?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:10:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE0594F7B925\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:10:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0a6b2277-362e-9666-5b9e-320d51384512/test-file-5ad75e2e-6fd8-e062-8a21-734152502f86",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 Aug 2024 15:10:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE0595078869\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:10:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-16T15:10:36.4180585Z",
        "x-ms-file-creation-time": "2024-08-16T15:10:36.4180585Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-16T15:10:36.4180585Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0a6b2277-362e-9666-5b9e-320d51384512/test-file-5ad75e2e-6fd8-e062-8a21-734152502f86?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 Aug 2024 15:10:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACfi4M1FD8fVUz0O9DHgB2M5205JPh8I6ITwxPGlYAreeWURu1MgLGUDep8+9jMOG/2AG3dHFPiI2fgIlAsWL/MyMHrMzkwP2a8pRcN/yfKR4uk0JUSTVyRsSOFa15gZ7QrsDIW4AQ1xsAHIXc71CQ/FtrFh4gpuXplWoEWqtMHWz1i4k71s2eGbgrVCyvkVt3+RVWEmuAsAfa3sIWCHxvs/8U62PHVSmJzPhh+VK5OgASkF2V+g8FcNuBYPQLhBE/u6Qxlqn3rKPryEVvHrq1HaDCB3ge1bXsE3aIRfQ1gkTrJj2qi6NaGuO5qi3JllYgyENTSXyVHOHuQYczb2qvtkn8h/h5CpYBZ+iUYS+IJn0gZ3204jTEUglbvEocJq95DfPnyQ5dp72tUeGT/Lu2ZhsGEwfs9tQVODHzIU5L4UE9[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-0a6b2277-362e-9666-5b9e-320d51384512?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:10:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "999473091",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
