{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-c9079105-541b-1638-a265-0c20be109bc3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:02:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6FED45C22\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:02:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-c9079105-541b-1638-a265-0c20be109bc3/test-file-e5c8e709-3750-974b-eb6d-bd6c5d82e537",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Aug 2025 02:02:51 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D6FEE09F99\"",
        "Last-Modified": "Thu, 28 Aug 2025 02:02:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-28T02:02:51.8374297Z",
        "x-ms-file-creation-time": "2025-08-28T02:02:51.8374297Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-28T02:02:51.8374297Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12354486258521407330*5279369405593028612",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-c9079105-541b-1638-a265-0c20be109bc3/test-file-e5c8e709-3750-974b-eb6d-bd6c5d82e537?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 02:02:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAANcuF5a7OQ1WArjBDMdfBMaQw+NGTibRr6boyydDfsDF80tbR0gpQv+dZYKknX4BXNbpDi8nbvKwTGfvwn3WEpP4CwmL882Od4DjqNiUPRIo535QWmChnoRIqvrQOXCBx1L+rJJ0dWkZaoauM7YqHB9VtusPdbgjVmyFQ0jCrk4AYeF1pYCPtGIVRv/aA2rOHp7rinKVckGqy1Yl7zIQRsxIncHUpHaOxgKI+i64SVMBtyS55xPbeu+f2to6WcUv9QAzkWWY+XooXMRwDIgi4nIDJDgdVm+ofSLSNNmcVHw9WPUuhLf9aL26kYpfW25XfOhoNzWdAp6giyQytrSQjAhYMrOTBG3KBct6YsTVWRHEesfxJC1GkEZWffmDurIJGgWB9yi6xHiKniF6Eq/ZyzISfjv8r2fbEaJtPIZkNlsJc[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-c9079105-541b-1638-a265-0c20be109bc3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 02:02:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "837576893",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
