{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-73a538aa-632e-385b-dc17-a05fc80d2601?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDFB106502\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:15:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-73a538aa-632e-385b-dc17-a05fc80d2601/test-file-b7393a88-85c9-eecf-2a5a-117b76d3ce60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDFB209C73\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:15:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-24T21:15:13.8869363Z",
        "x-ms-file-creation-time": "2024-09-24T21:15:13.8869363Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-24T21:15:13.8869363Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-73a538aa-632e-385b-dc17-a05fc80d2601/test-file-b7393a88-85c9-eecf-2a5a-117b76d3ce60?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABIR7t3ROl1R4zmInXhkZ9zNam/GHTI4ErjZ1qM679nOWKwgFGtarK1OlLQOngfv1ekAreuWD1dgGZxlNyP6FvNfukTMBBNxsr2Ct4i+KXRw6gC5+kHueEkUwDqO9XWJlH3A7uPDI5GVjztt01fOojAn9EzjQFyxsUI7t0QYov1IOSMK/TqQrYau5CtGgGTxRh4KpsDophQhDz2hx2xNvSw95dp0w+T1l0aGdFwxazDdCnElzjv8X1LO6a487uZaIWc/CJqKfIJ5VM+6YjH37+QMhL07J67wQYZHpdp2+OhgbBM1MiKWUs2u7LksAj0hFzmJ8GppXvm4DsbUApbnwpwnGjXegv2BtjGvTHs1hD+JJo7grMh+Ns0ZvONbglA2xundBOfHAlQ7yHo4uhK+QoqHStwHx1WTqSMohQYaZfPhuE[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-73a538aa-632e-385b-dc17-a05fc80d2601?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1320984163",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
