{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e5cea22d-dcbd-36a2-3a11-ebe4e64c147c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DAF63E05\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e5cea22d-dcbd-36a2-3a11-ebe4e64c147c/test-file-07caf941-7b22-3b69-4dd8-8c47d87ff501",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DAFEFE59\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:30.0537945Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:30.0537945Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:30.0537945Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e5cea22d-dcbd-36a2-3a11-ebe4e64c147c/test-file-07caf941-7b22-3b69-4dd8-8c47d87ff501?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Er08GgjPMaPlx9AG5EHUDg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "hgPW9Hu7jEIRx19ZeyLgug7dblMXTWctTRfiHsc2l0Ux7PlSqQ6SugfxtE0e67DYtmlMktLeXDibqKdk2W572y8ZJ48pjRH/SrNLJZkaD2FnCmhe6QVyU4/BtwBnLuGZdtgeBcQhryhYTEcfkjaegZlF/M4GHfEpptT/Z9YQmBvRsq/A+wqcRls/BZ29U8BYIzZnITESklnn9F7wIUdSR7QsTd+H3oWPqLZzxhdUa1MTp0SfqXbqvh9W2QerrCQT7b7pkQXg0ESw2Hh6n8xBkogL3XoDsp09Qo7AMQV+4/ySYNlZa9pNMtb/7tH+bx9TFEZ+oM+qDzogq092IJ8/MvR86D/y6CeuvaqjBMPMP9NvbB2+AEIs6FCfOL+L1hE2wLzcgYbgYSsf0OMlBgt2U2x8B7SCgDKyTwDuU7BnIuaYbEMH8L1MjgrynzBfB+JEKOVTD85dtD+[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e5cea22d-dcbd-36a2-3a11-ebe4e64c147c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1510110938",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
