{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a5424d0c-8e40-07d1-6ee3-d8d657fd8c0f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369650213DED\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:28:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a5424d0c-8e40-07d1-6ee3-d8d657fd8c0f/test-file-55e59c95-a4ff-eaed-650f-40a11784e1c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:57 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369650314E3C\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:28:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-17T01:28:57.4881340Z",
        "x-ms-file-creation-time": "2025-01-17T01:28:57.4881340Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-17T01:28:57.4881340Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15454356690087156724*3769234489255881874",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a5424d0c-8e40-07d1-6ee3-d8d657fd8c0f/test-file-55e59c95-a4ff-eaed-650f-40a11784e1c4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACljqJV3Rb+kOO0+5UW8ijVtBOr4NXHfWmoRvNpgzgkrD5UOVD22ecUeJjh3s9NX/bWIn1WUopO3RE4rZcilAyqj05WwrjX39orlmg95Z6aWub9k2G7zVq0BVw+vixQ8uOLNk6A9pw9/kOiK7siEPdynVKwJQGq78H0orxcmSGt2qSEsa9PGmNKv5QeGKKekfVkyyDZoMzi4UeNi1Tg4WUh9VAXnl5II4PvZmZtjNYfVRDH980A0zrXotBnwo4Pat0u/CNRh/OWG6ic6jpmdFRxbTZDGOmYISEVP/uO4GD14PuIPo+zzs4cMdskZOkAcS179lVYy1H0ldsCO0f4BztIpwo+3TXEvZ9nJ+cNdLw3Fc7OEuoLnRSqlKi0sJKHJCmg3L3fwpP3tji18KNp5iEeyiZ4KvVQPQn1k0mMEA0M4AO[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-a5424d0c-8e40-07d1-6ee3-d8d657fd8c0f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:28:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "932285474",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
