{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7a3ecc40-729f-49f3-7b95-b8b0769c4206?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673C1CDAA40\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7a3ecc40-729f-49f3-7b95-b8b0769c4206/test-file-2cdb2ede-13e9-fbf3-3372-8524ae138bd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673C1DDE1CC\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:58:11.1672780Z",
        "x-ms-file-creation-time": "2024-06-06T21:58:11.1672780Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:58:11.1672780Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7a3ecc40-729f-49f3-7b95-b8b0769c4206/test-file-2cdb2ede-13e9-fbf3-3372-8524ae138bd1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "DR84GGYQ+EVgDW501G+6pw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "KpJLth1B9RQ57N+cpz8sbjCb0jAOLkQnAJRJrnwLlwfyHYmKwa7/m1B52tW3IhEk8UFWHsHfnvxOJLWI+EeYLVXXqYm1oayBmzbglVNvb96DJb07tXhFEn+NPJ35d6MI4a1/4HiHb0+U1YKK/wmo37TWBNOKXXjdkZYKKGUPhyST17Om749m+7Vupt/1uxN15F3pInLQfoQ0oU7hfUfphU1e9ydVAu8kcAgdG7aY6NaDlUMIJWWywlkvcU5AhH5uhCGSl8PrH+JtxLFps2LNm7l4XugD4V/oqzTOJpCg4+yKrpeUBlESl3ZhmmGzSQ/2YtaVyCWWaqPCquuOHflRzeDF3wTLOZRnZcdyokb+NGIl18O5CxvH9EPz0lxmg3l9D82A7mkKKyhBLWJeI8hdxHWIaUY1l8HF/urB12c4AeJN9ZJ4fkb4GqubeN64adB6lg7m3RozSHg[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-7a3ecc40-729f-49f3-7b95-b8b0769c4206?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2130283477",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
