{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-3c9fe144-8b64-11cd-b122-472a2d499a2e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A56DEC39\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-3c9fe144-8b64-11cd-b122-472a2d499a2e/test-file-a8f07ab9-b4a1-b3d2-c1d6-4aeb9719f139",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A57D8F25\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-16T15:11:04.0351013Z",
        "x-ms-file-creation-time": "2024-08-16T15:11:04.0351013Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-16T15:11:04.0351013Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-3c9fe144-8b64-11cd-b122-472a2d499a2e/test-file-a8f07ab9-b4a1-b3d2-c1d6-4aeb9719f139?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABehEZkE9mSl3rJMbRYlRZYFPLbPFrXo0vneiBiJkoUPiGm2XYSqUF0XldIwmJToQp6LgfP71Ixh+H7fJi5L3EwtPKTsbufRmuxZ90Cj+DplNkV5/dCRU/OdVGUFyyouy7mFw5vv+9P2+icHYh1LvgBEei/o0h57W+jxTxpCi4+CauuHHfSedTpxgwPpifHWEZZkwVE6BjmbCmfzPqy5dC5XRTcxhGBL5gT1dw7akdH3Gz1EHcp+iCTyLBNMq3ZN+E8VUkT6pI02GRtMBI7qwLiWPCOvNVYkGLzSP5hM/zrOZ76/hT+M/HZwTcTvMoNWBytatq8S3oM5MXmIKKT06RngvZ0QKzu5CT/tPudRNSY5fDhs8ghLu4j7hpOFxNORu2SqznTmRdwv4a1vZZ+bp/xTTqxsh/cRVMIUFKRn8wRsG4[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-3c9fe144-8b64-11cd-b122-472a2d499a2e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "553928243",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
