{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-496f2723-c8fc-e9a0-7348-af97026fd347?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18D74AA22B\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-496f2723-c8fc-e9a0-7348-af97026fd347/test-file-f5818ad9-9461-578f-4c8b-3d539edc530d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18D753E5BF\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:23.8993343Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:23.8993343Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:23.8993343Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-496f2723-c8fc-e9a0-7348-af97026fd347/test-file-f5818ad9-9461-578f-4c8b-3d539edc530d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "JRxute6uVIZNIbcwqWce7jTyPumcUAWHlV3q4fdg/Y7ndxOuF1/NqcRMNSDA9TLzebdEXcT6CdQX5x+RxHKP7CQoSTJUb9bUJZUkUBvlx58r92hAHJ/J7G4+ly8/PORSvEj7l6wAngngcDgu1bi5MiCAZcwKTtCFX1zEFdinleiw0pTS6S/yK1hfYKtmmhe1hWUPv9YYR214djhQPIkwONpPfQMk5kjwjTp0q+4kHsREDpBzl9YSmIsmWnP3ou7PLifRFx0UkJ8cHjGbpJx/U1d0Cy34vKEEPeV4/ozU+etLpHzGUwenMH7xVnikdvTupgYbg5bB1nGGzNk3nJETSCVGT/8fuP9QzdquB2UoX8fwiVeFuXVUis0KQIYtb5Tt3g5TXib1z+4Gyra7Es8MXmwSRhI5jo6v8cUxFHh5Il1FwSlW1QCg+7ppfu6/mHf+/uIaGyiCs1C[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-496f2723-c8fc-e9a0-7348-af97026fd347?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "803287734",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
