{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-2b6ad0cc-43fd-bd21-3e0c-595273af4477?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0A83276C\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-2b6ad0cc-43fd-bd21-3e0c-595273af4477/test-file-d89fb685-1c90-d363-f2be-ff260cca02f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 08 May 2025 22:16:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0A912499\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-08T22:16:55.0786201Z",
        "x-ms-file-creation-time": "2025-05-08T22:16:55.0786201Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-08T22:16:55.0786201Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15964167861348062608*4592540625403323126",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-2b6ad0cc-43fd-bd21-3e0c-595273af4477/test-file-d89fb685-1c90-d363-f2be-ff260cca02f1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "6uKi8gAu6I56aqhgbhmeFQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:16:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "TVNhsjAiEK2ygqloMViAt5atVR+8VMAACgS/yLSeOgS/2nvpJcN72UNFPjTrxlX4fbPq/ye1eviTYKgrYkf4FEikqVbcl5HSMnzcdhWMFUSvx0sBszvdCWCCVcQbT3b7TSrrRx3+G+YhF8yr2QPjB0tjfJv89mAMx5/2WUHMtuIF4CjroM0msatk4JxuMjBcn055t9Pb/lfK3oB9B8KlVGDqpvja92Z9PcvvmBbDnpVvmbnyU/8OKeLRIcFNqanpv4s7hIw4gqjo+3oH62ZABkDqDm4IsgBh23wWCNWkMJMiBdiKiBoJNhcRCliEBz17kRuBYpo74Q2K2qgPInnSQ8vm5eaOtX0m4ddW9qio3NQ+mne6I8345yTLAK5x+RSePsaNnSFX7dudWoDD5Opl4v3U0YcBGCD+7v7BwrXPtejDuLfhGz6y5q2bHMhMNQM5Zh6wnCeMnCa[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-2b6ad0cc-43fd-bd21-3e0c-595273af4477?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1352305283",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
