{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-54403ec2-9e9c-5085-aa3c-35cd73213b19?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB09FF574B33\"",
        "Last-Modified": "Mon, 12 Aug 2024 20:04:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-54403ec2-9e9c-5085-aa3c-35cd73213b19/test-file-f89225eb-2730-c404-720e-5e53e8400f67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB09FF6B7C19\"",
        "Last-Modified": "Mon, 12 Aug 2024 20:04:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-12T20:04:39.4101785Z",
        "x-ms-file-creation-time": "2024-08-12T20:04:39.4101785Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-12T20:04:39.4101785Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-54403ec2-9e9c-5085-aa3c-35cd73213b19/test-file-f89225eb-2730-c404-720e-5e53e8400f67?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "01JAxBL15vfv5iBDCTiQ1g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "rARoZ0M2K3ZbyvRJkIzM+z6t287oNSK9jKoUdy64PO2x50x+RpZDu3nCqi0qJeCnsSHsi5bSPnbiqtqYIrNIoo4Gl6g/TrWnah9VJov0kmfJbMYMy7BW36jVm5u8q5nFeQeeI403aGJsRSF3fRfr7RhyzrXtPNbdr7j/arMZ6r+GkKyDVm7akgRjn4aP32KR6q2DSdzj1z0xwXPVOP6vUlpi8OxqZ5epmDyxipxQTc9Vbn8FlqDiorhvUpT6BFkGs00rLe51JoMV2bGfMk2h4HOjf8l+qbu5f040+xQDrpPiq9ZOJCDg4Ef877zuQm9rzXEgVoWPhwmRca2gQCtuEisevYd2UrxTwp+Cgrn/yz3fyS2j4lcNUiPMvbJyQJ8cjd2Rz4Xo9Hq1zZTlDQRPkqZwwHf9yzDTEGpjqpUJ4IIAZvTcbfu399Sz7hXDKEUefCoLAn8nHsK[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-54403ec2-9e9c-5085-aa3c-35cd73213b19?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 20:04:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "524029418",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
