{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-3759f45f-7e2d-d02d-dc7e-deba5fec8b07?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:23 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE6509B88210D\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:23 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-3759f45f-7e2d-d02d-dc7e-deba5fec8b07/test-file-9002f9b2-1c6f-c938-85a1-e7d983cedfdb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:23 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE6509B935FDC\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-28T16:33:23.8377436Z",
        "x-ms-file-creation-time": "2025-08-28T16:33:23.8377436Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-28T16:33:23.8377436Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12354486258521407330*5279369405593028612",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-3759f45f-7e2d-d02d-dc7e-deba5fec8b07/test-file-9002f9b2-1c6f-c938-85a1-e7d983cedfdb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAERMk7kpto+7LpY5wvGJ2ljpyf/sj25Ia6r+ADgQYTb4c7EO9ttK+A+CniOZXu9BzpPKy/xQpLDWBDgeK6ZHms1vQV8wetONrsHwWeFKrwy7rEGkRaVKp88AKPKTLNxZSwNWOg2QEUOwTR0qUFrPm1UrYo9Uk0UoFKmQIFHg6nH1lx7t5HT/K5sN5AiIIEd0MJ2dZ8pNBLfOPhVj/+Dx32KrJMk74bbQPDbkVr9Mn+RiG++0Q3K3qJJXL6ZvmyuqDBSl7Qt+OE7WzTuTaK4Ica4g8ePxPYvv43w25MIAcJELSkqaprLo4+Og7YZHJE/kXq4IPplHqN6YtfmPR1OM1kyqiB5jbdrrSB3wUF/1qM8sQoYkCEH3w5FsAeC5WZyQFAdJrJwhgPDDHOaLR1iOkx06YwTdWM4KosSM92v6Me5xY[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-3759f45f-7e2d-d02d-dc7e-deba5fec8b07?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1662668502",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
