{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f1d8d696-1b72-efb4-6a9c-7f4e138511de?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA76466AD8869\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:01:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f1d8d696-1b72-efb4-6a9c-7f4e138511de/test-file-133944fa-22be-fcf7-18df-b6959b0e7e85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA76466BDADAE\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:01:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-18T20:01:24.2042798Z",
        "x-ms-file-creation-time": "2024-07-18T20:01:24.2042798Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-18T20:01:24.2042798Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f1d8d696-1b72-efb4-6a9c-7f4e138511de/test-file-133944fa-22be-fcf7-18df-b6959b0e7e85?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADaPG8kx40YrtzxUW61F94augpt6a3XVe0U/n4PLpA9sUuUwtTgva1TESlcl41ief2rn66fgc8kAueCEMkOCIBMs6AiIVUKOv1cGtiDe71fsYWAZI7inTB8b7/sXazkRAipEOTtQFiooWWwQ2b3oYcqIl5DjqTxaRZvpbGVHd1Qd9bP2mvZcXEt2MMpMVrJhc44wjpNoLZjt6bNfZqmE4OIYMuQJ8YbUbHtFrbgyDi8piDjXVqiA9cgayLFC/TXh8U/odGOOV4HHHGJYIoAg\u002B9tEdd5w7Uo5Vz0b7ukVkW8Fo/xoCdnLW3B20DpGKJNIOgzV/kcXcMPFrt0mcmjY8YrzEr6DuLHBuRqt\u002Bh1P8y6p0/Scf5Mn7jL4ops8pOjHnh5vUxYUhEGa1EVsqXbmdfuuvJ50PHI3yyRL[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f1d8d696-1b72-efb4-6a9c-7f4e138511de?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "58660722",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
