{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-8b56381e-681e-bca8-4f4b-a0b6e139add7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867416DC7E77\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:00:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-8b56381e-681e-bca8-4f4b-a0b6e139add7/test-file-9d02c464-33be-b7ab-d758-06d071913481",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867416FB6E2C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:00:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:00:33.9672620Z",
        "x-ms-file-creation-time": "2024-06-06T22:00:33.9672620Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:00:33.9672620Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-8b56381e-681e-bca8-4f4b-a0b6e139add7/test-file-9d02c464-33be-b7ab-d758-06d071913481?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "teTa0nGJuYy0pYufqMW+9A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "KnyHleIgRtFwNdUOxaUlMEBot++X0DeY/s9ToauHYWLY4tgal3VV3qrQbGp/zWYIbnAAVZtHJ1lE75cSzKUl6NRzNePMCpnKE9hFx2TMGDBpSjM6hgvGkbp/1afeQhIFqoOWDJeDPGPXNkLDAmD1eNZnqYFy6mHIraQoTDXx69HGPx3gNgyY5Q7PY1DJA49ail3Qd5iQk8AhzV/zW/Au5Upw/MJCFULKz8RzoocR/qkVzcLXIHQ5NaxdvmitpIodoH0GWAbMF3QbBqjUHfE4EM+13o4tV8TVN8cW5VbZHSo6VQEJC6WjSLVNvBrMZBe7JK6Z98b78Em4MCE/tjIeQel9msfvLwQpEpXZ35qqCNKvW8GoQCVjPmW3UNqEY5KDL3oxTspQy/Spb+UxIhCuDihOj1pwdQDDGltiN98qpK4CVbAgeLkHX4/M/9A/MRtUCUGyNdM4Erl[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-8b56381e-681e-bca8-4f4b-a0b6e139add7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:00:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "121806012",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
