{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b5d9e1c0-23e5-aa17-3ab6-87c5eb8001c6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE650A7A9E6EC\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b5d9e1c0-23e5-aa17-3ab6-87c5eb8001c6/test-file-3c5b8cdc-2198-c9a0-c898-0bc0421b1433",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE650A7B73808\"",
        "Last-Modified": "Thu, 28 Aug 2025 16:33:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-28T16:33:44.2053128Z",
        "x-ms-file-creation-time": "2025-08-28T16:33:44.2053128Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-28T16:33:44.2053128Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12354486258521407330*5279369405593028612",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b5d9e1c0-23e5-aa17-3ab6-87c5eb8001c6/test-file-3c5b8cdc-2198-c9a0-c898-0bc0421b1433?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAUexG+CGlcbeKOD7V9k0s2pIKg5nfyJH/wGVVvfgDxeDz2b+TyU/y7qJsrEvQOpbVxnVrWjQw3IlaRze8U7e/hnZd5hiRnRFCF5D7cxhGL4nOf/eGmG+ovvkyNYIUMp7usSnVclB6QClkJUKjNW1tEBut7dO8OO4GsSsfY2ePLeD2DMHycL01VDvOHncpCYmPxSFqZkTLLnQ7zr0pWuDB2PthqSiveqNaeJmb7hp63audk5pGIMecLt5JuqH8C/lXDEV/y2Bc3Ep+E+2vL0BdwPEVi8dKe7gzwXpOZcABXmycQOHQ/xZHQLdPyAzZ8P+Z6/Ws6nwyDJCNSAXmDnaKeLV9Du5eiMXezksT+rOrWdB6sH3OVHPwbjBNR7MQYTI8xU9bWOYRP18z0hg1IhXg5fIxb134vCRBjJy6EUUSym0U[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.file.preprod.core.windows.net/test-share-b5d9e1c0-23e5-aa17-3ab6-87c5eb8001c6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 16:33:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "743736821",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
