{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f2a36684-6cc9-c7dc-b053-19bb35eb3e61?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE2C6A03C6\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f2a36684-6cc9-c7dc-b053-19bb35eb3e61/test-file-efb29f68-4892-893b-5ba3-8d91cb67d8be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDE2C7AD2E6\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-24T21:16:36.6865126Z",
        "x-ms-file-creation-time": "2024-09-24T21:16:36.6865126Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-24T21:16:36.6865126Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f2a36684-6cc9-c7dc-b053-19bb35eb3e61/test-file-efb29f68-4892-893b-5ba3-8d91cb67d8be?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "rWa1sCs4OE4DjL6IbPDJ0w==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "YZvE9Q8DY+65lpJBECQFMHVplLz2TYUqeFmPm+v62TlKmVUmuuigIxUHOEah+vvzr3k9ypGBzBQWmXy1dMgCvrxY9nbP3naMyXCm7hQ/iX1em+tyvQ+oyc1BECBr669NBXmJSAWEJNADsAAg2t3/1hD/VtjcjwGtsC2pjs1VId7BWematUF52XcabgwOh+7vQTkQbJTWcHV425fW25UDrY8iXoH0ZCHOhX1gwSH1nyg/uUyURbRK6+h0Itqpo/7hF8F87Cls+9wYQecWda9UgztvliFJb2jb13KZgEJGJOJ+fqpfeLP/0r5wewPNM3Y5H56eOgzdmKhYoRS203uZ0R0FmPYF9AqIb8Rj2PNlDaT8YGCkqOnVoOYBB9efSf9C1qnmyJp/NCuTFstIer+085NvuXMb9SkzL/cQA+0z6CbEIAJKfkUJfSw0EJEejSYmTBNDL4+MJ+F[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-f2a36684-6cc9-c7dc-b053-19bb35eb3e61?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:16:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1367746762",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
