{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48bb3f85-56ac-09ac-1575-450b187494f6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DCD210A2\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48bb3f85-56ac-09ac-1575-450b187494f6/test-file-b488c8b1-0335-d18d-d0fb-4664e20fcc68",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DCDB1960\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:33.1740000Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:33.1740000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:33.1740000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48bb3f85-56ac-09ac-1575-450b187494f6/test-file-b488c8b1-0335-d18d-d0fb-4664e20fcc68?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "+/JCyzlFzJdqi96FQdFjrQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "MsgCrADbuDpHoUHyadUga+V24MdsTTZ1DZka8iwl9hMiS6Mhp+LNT5jN/h2Pqka+u7LsrBLQNeSRjJ9mwcUNIqouzx4x/8QDqJAvn08Z5WNTWzd5OEoAUhW/jxtDZo3Sv9xyYdonjLvu6QSCoJaVeKY8E2aOlOlgLn0Icm+pv0ECXOBzpoSIK857i09FfbF/KRd0B1MnRCvyETJcHxpMRSrCf0S1ItEhs+iXEwiaGrDMiUlYNLju2hi1gZRRLAy0L0Ukg/5tyQdFUlNrjzAiV/aCkJbR8xFx1KQrAKE8z4fc4+TDdZeyX79CEuFlgkvnkimez5x24js0s65ZQchlCYPLj6tMX+Fe0DDWj+AvDFFZQ253ngDrZQGpjsLpWR323AlemfOfmzNIP/9rn1NaBadc//1a7mqC4Cmqo9AfdXYS4LLX0XJduqg6L18AgMatTokbjVkgm+6[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-48bb3f85-56ac-09ac-1575-450b187494f6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "328597796",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
