{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-93201a39-39d6-1a7b-1dc9-91c19dea50c8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 15:20:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48282D12FC07\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:20:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-93201a39-39d6-1a7b-1dc9-91c19dea50c8/test-file-e457941b-b1c2-0900-45d7-5f5478f71d5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 19 Mar 2024 15:20:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48282D639C6B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:20:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-03-19T15:20:57.7162347Z",
        "x-ms-file-creation-time": "2024-03-19T15:20:57.7162347Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-03-19T15:20:57.7162347Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-93201a39-39d6-1a7b-1dc9-91c19dea50c8/test-file-e457941b-b1c2-0900-45d7-5f5478f71d5d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "5YFyX3VgppsjlxCAUmAnzw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 15:20:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "uwzBXtyKMpikPI0xyRfLDX9vCTRCBjvlZ54pj7XzIWD5iapCTupFLTcPpVAViVKsf90CUpx2pLPQ3Pc\u002BYKPjsRosN0BsiL\u002BVKdz8MmHq0N5LfQ/Y8c/Eg\u002BT3cnHzBs2TLPM26FERQPcebSi/eXFS5gwY8uOTC8BKaLRbdRZNoSIOaQZts\u002BiMOTwXuYSmBAlzpItl2hTq/yEz63\u002Bdtcvh0MsFsRBq5TIkjLimfFE8pGSq6NCK6McOJGnlOcdo7oNxNem4oFP5CL9ZQE5bQ4PQ90cb8836V\u002BgE94ynhatqu500NEZogwMQseAQMad4s\u002BDlFUGATPu2d94AtKnGUYIT7oWxJg88Z3RDCkHs6iZBi0SrwW9p6m\u002Bhfb1oZ85aSV9d/EIixozRqK3NPEK6yo23vyllG48SqgQVEKh[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-93201a39-39d6-1a7b-1dc9-91c19dea50c8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 15:20:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "742851679",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
