{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-d2807593-0dc3-f2ce-e3e7-fec836f70ba5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD619CE4353FAE\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:34:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-d2807593-0dc3-f2ce-e3e7-fec836f70ba5/test-file-88051675-c9b4-6f45-d5f9-8fe43e24bdf2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:22 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD619CE43E20AA\"",
        "Last-Modified": "Wed, 12 Mar 2025 19:34:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-12T19:34:22.8547754Z",
        "x-ms-file-creation-time": "2025-03-12T19:34:22.8547754Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-12T19:34:22.8547754Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6843315939057358021*13605289663960228771",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-d2807593-0dc3-f2ce-e3e7-fec836f70ba5/test-file-88051675-c9b4-6f45-d5f9-8fe43e24bdf2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "KGvWO2k5KTq5gfQHFC8IYw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "mfROsQIWPH36vT1f/NOAel8vLwOXaK5gDX/enJMAtT6rImJ+GdXLgvbiqTnJlT07TQcb3Se0VjFF7qSDN6Dq+Qj+tNlxAWCJY6wNtb51lndBo06M5dcW9swwOCsxSEtW+LAxy+JjykymkXp7p6Fy0FcsQZRRXRMw574NQMg1Vxtgt7wNQ8uW3tgC5lNdm08qvWjUBQa3BJqdAOMjVomDcDlfG+/kZYyMlWO7T3e/00xv4oNgYVIUqLIicELnc4hOf3Ua/oBfRVjbR2+j+7Qj3S2Xs3MGIg/nSnI8wvRJpCLabNACpdXLD5wqhBnjcaz+/pIVUL8VR1xlMrMOIoNjkqNMyI/kIThYy6TW3J32A9nFPsNhNFNixSRznHIhvewZxvJ1lqkdGd1avIQbPmu+by/aSeO/Al5P6QJqcITFNg63vBWrgG0vpyXlB3fPR4a5tCxDR3QJWsS[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-d2807593-0dc3-f2ce-e3e7-fec836f70ba5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Mar 2025 19:34:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "773747224",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
