{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-59fa9eed-d0e7-4b83-0e40-3f4bb6817eec?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C587FD4C\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-59fa9eed-d0e7-4b83-0e40-3f4bb6817eec/test-file-7687d6cc-2d8b-d130-0712-07a342a9227f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18C592053D\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:28:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:28:54.1074749Z",
        "x-ms-file-creation-time": "2024-10-16T19:28:54.1074749Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:28:54.1074749Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-59fa9eed-d0e7-4b83-0e40-3f4bb6817eec/test-file-7687d6cc-2d8b-d130-0712-07a342a9227f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "90XEyA6IrT8DVoEgv+k8Ig==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Drj2yJfpB+XEobYsOlmcJIS/sGu+YChsoDU1wgbcL53bERv29PTosEPdWSK4OkPbcdx5aFVzxq6PiSdis0Xf6HEYUSg9pTCQ1/8n4QYFs2XyWlApY8ZHaEttZmrMhf3+/XGxn+kansus6JFVS+SoidbCb1n0tYWq0ejd0D7Gw1ECKOSUVBN82LyFfXo18R1mxNyTChWjCkjsBs4BPM2M5iU/UyMAEzXCRZedbzgKdN/KdgthMrk7Xx2bqE1Fepvu+JdV9p76ZrGn0cR+BpsQ4ZHvNsXCKrNrA/QFZGvnfcv7r3agtX5A0A9aumD1vViCi8a8VkTWK83j6fOq9AJFv1T4glYkbysTrmW1aHBSdUWbg9ikKyaHJYOpvcuKltwNFPoM/DsBXRybqKfeIMNckHOtD3EqoZQtcVzTe7FfiBeJqFN1RnkKmSW7CIJ/qAS/TCxY3Ydr43J[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-59fa9eed-d0e7-4b83-0e40-3f4bb6817eec?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:28:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1528843122",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
