{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-026a044c-77af-aa9b-3b32-5c4ff701aa08?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:17:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0E7053A7\"",
        "Last-Modified": "Thu, 08 May 2025 22:17:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-026a044c-77af-aa9b-3b32-5c4ff701aa08/test-file-743df31f-6309-9217-fe61-65f3f0ff573a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 08 May 2025 22:17:01 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0E7B5D00\"",
        "Last-Modified": "Thu, 08 May 2025 22:17:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-08T22:17:01.6467712Z",
        "x-ms-file-creation-time": "2025-05-08T22:17:01.6467712Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-08T22:17:01.6467712Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15964167861348062608*4592540625403323126",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-026a044c-77af-aa9b-3b32-5c4ff701aa08/test-file-743df31f-6309-9217-fe61-65f3f0ff573a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "f8XmRw8kZ9WlZpciY3nX1w==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:17:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "xy4ez6iEcmCwUa577rKaMJX+DnB47H1ZFmspsyA09j947iHg7c61uxQoDjn9uOndhJuKIwZKIduxxLg9W75Ae1tuAwCRuULHSVNcUN5DW12CSy+EqtI4Lc1FLygVd2BW6JLdj7bpS8pYwtqz7tH9bmlbuw+Ou9CJNtUyTIoastLyBWhLZcynmABkLOf4hT/7R8C/ubxRxyzBVFjgtv9APhAHwehpsgicsyIOKo/okbCWNwXJW/gVoD47iRFzx+IBI+3X8MNWkpW4IgWaQpyd2MKoSX/6duIY8SCqLSj3Kew/DQahEaHtQKRvETnye16hnrFOy31jB60Lvv6jq2RswPgZWjSV+8chugnaimSpJXbCCI93qF5v3AZZllKjSpRAA1BA2SEpC6LqLRBziHxIYZiI4KPU9Riaqn0uPGV0fnB1mocTaExUmfzsjXpN+1OJEDS6Gmnxaw0[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-026a044c-77af-aa9b-3b32-5c4ff701aa08?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:17:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "562496401",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
