{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-fc7c0733-6a9a-a471-fb09-231e2a5b4c15?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA764675ED78A\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:01:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-fc7c0733-6a9a-a471-fb09-231e2a5b4c15/test-file-04cfa4d8-52f7-f13d-e886-40fed4ce02cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCA764676EADDF\u0022",
        "Last-Modified": "Thu, 18 Jul 2024 20:01:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-18T20:01:25.3642719Z",
        "x-ms-file-creation-time": "2024-07-18T20:01:25.3642719Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-18T20:01:25.3642719Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-fc7c0733-6a9a-a471-fb09-231e2a5b4c15/test-file-04cfa4d8-52f7-f13d-e886-40fed4ce02cd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADkDEMTPWYuWmAeBM8hbZeEkWqGvmC4MeXiNGhVmBpjVxfWH/8zZXwxPqAyxas1ydY\u002Bu/uOGvUSK9teMQj92cFFu624S02XUSvtVYDAhm05rWuSFtwf1Dwhw/Mk1DR0M2Te7Ar\u002BfX6IpmrPoMR1UqVvJYSca8LlJuZwlodZc3z3eSEb4ZliOi/tCnBxUDN3rHFNta6w18ii\u002BMYjjeb2LjPu1yeiWXAMDepUr2FSc9Wy\u002BeoWDL7OR6FZeenSPq1I9ts8g3kM1FIBQafEWyhnT4XxcZT84CJ0H4\u002BGSeCHOs49C7iFFfBbpSSXFcoWCux48ilk4MwZTBa4yGPqhotxeQbYhlBw4TqUlctwZMpXXhWjDVa2IlkCI7\u002BhzE2McR\u002BYJZvEPYObCBHv[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-fc7c0733-6a9a-a471-fb09-231e2a5b4c15?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 18 Jul 2024 20:01:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "214778443",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
