{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-acebc139-b007-5ef1-fe75-aef62564b5b3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDFFD3B466\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:15:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-acebc139-b007-5ef1-fe75-aef62564b5b3/test-file-6876d6df-b735-00ef-751b-759d3313584e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDDFFE3803F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:15:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-24T21:15:21.8750527Z",
        "x-ms-file-creation-time": "2024-09-24T21:15:21.8750527Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-24T21:15:21.8750527Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-acebc139-b007-5ef1-fe75-aef62564b5b3/test-file-6876d6df-b735-00ef-751b-759d3313584e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD1EEBWZ9DOY8PsZ41Ara9Ou3mb7GvypAMlektn7gZIwC6qTp5vYsyKapX+Il/ZbGgCmTs86V5aAmw8MO2FZ3S8o6dell4Q31itEILW9IGkTA7iZVXLC9bQT0sxMjLfBQIhQX63etYK8bnij9nchA7qmOTeowIe8ZjQjUYS3q0mzgp/tbID7NE32HOc6Xv888s9RplNAGIAAlDm5u2Q9xIMu8HOXM9c56wTp8qOggcc1Jl61ZcU2c2of7JhHQXkp+FhkC66LZf84F/sOlmXcX9JyRJTFSF69+LzJt0c+8qnLv/oLfLZYqYCfvU4J550EA0yGFPykZLA5phLxge63+WURQtZrkSNb2dsUJcsQtBDfxXP6eN2tJ1tKEdajZyeSJ4Po+GSGmHJpajshkD6lKPHCEbx6/YCHZFu7Ib9MuHKzQj[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-acebc139-b007-5ef1-fe75-aef62564b5b3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:15:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "606658463",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
