{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-94485858-8647-865d-b623-5e414d9a1222?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DD3416E3\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-94485858-8647-865d-b623-5e414d9a1222/test-file-9b1ce37e-5f58-bcfc-1432-228a3c41e3d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DD3D9D3E\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:33.8196286Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:33.8196286Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:33.8196286Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-94485858-8647-865d-b623-5e414d9a1222/test-file-9b1ce37e-5f58-bcfc-1432-228a3c41e3d5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "+Vw/+Q+qdaRvC6nMkouSXQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "D7SlpkVwLVubcFWBVfJ3Mi5SiCPcDk8j9pZ0cfQP42pDuFta307HSPtiZ2INaZZdh9d+oktenAFlga+v/Lxni43qPZ2XHVPgi0AoeqfsFo3/F+kckUAf5Bxa9F2eF0w++tvVIiv5xmqEnhcLNiJZeGsir+TTSvpMy1iBPSn2QXPz6X/LF/NhBVF+mPMpE676AHvxfGhna7DhiVfSd4hBjVykF02ijWF3wKqTVLEGIreqhzytBMULi33P6o6bjo7IPQqXhfxgV3Iaebu91Bb+22agKPBMk4mWmIvP06PT3DEbyxamb5y7STDJkooJTbdm0A8n+made6mBAOxwkIPPR52JoQn/V2zK5d6/ggD/jEvUaQKTq+HLfk9tJW6vS7ms+Uvsf6uuZnmjXRWI3viognOgmyeAO5u8viO5kjH9GpolE4m1Eg2gJQKJ8E3LQp9WxKP6Dq+RK72[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-94485858-8647-865d-b623-5e414d9a1222?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "351943641",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
