{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b21b533b-aada-1e44-ceb3-16729a5de81c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC16802A7F2\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b21b533b-aada-1e44-ceb3-16729a5de81c/test-file-cde233b0-23ac-8d4f-e8cd-a6592037e137",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBBC16811DC83\"",
        "Last-Modified": "Tue, 13 Aug 2024 17:57:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-13T17:57:32.8851075Z",
        "x-ms-file-creation-time": "2024-08-13T17:57:32.8851075Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-13T17:57:32.8851075Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b21b533b-aada-1e44-ceb3-16729a5de81c/test-file-cde233b0-23ac-8d4f-e8cd-a6592037e137?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAApgOL0GiVTVHJPuVftgckUzLyWQ5cAKVUg0RC0F6z/8U+LmdPX8T+2BHF1o4jyjY2VumcQcPCaKFeM00kUnjzGUMcIYef1Pdt83z4mioXNLkODHlxE7oFf8XB8Sh32omU0r1PA6iyloH2MlJGxc57Rv6UGkYDfgWFGqXB2efK9hj3Y8tsyDUQW3X7fuFrvrX3Sqot47xDlVC3xeUC7LieLzg5U2IHCn7Jh77QBAMgHV/vzpM5nRZYs856uQJMDW65XVOlMmtX7DwrYFv9c41Nk6SJFx4pYI4l3J+XjFF4fXpQFqqzfu7wm95TDji+W0A9KSVdwvpMk/zBg1HPwF/usubdrVjmmhS5lHs/1lJRa4FfVmcoHrqAA4at8fuZJNuCZF9V3K3rWo8QpCp/DLmqbBfQbGn4wpAsXa3SNKgZHHOj[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-b21b533b-aada-1e44-ceb3-16729a5de81c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 Aug 2024 17:57:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "919732557",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
