{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-adc413a2-2cc7-0e38-4bcf-cc67d90d77bf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:22 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04A63E498B\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:22 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-adc413a2-2cc7-0e38-4bcf-cc67d90d77bf/test-file-1c702f9e-5a8d-3f85-f946-15c688b81566",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB04A64EAF5E\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:26:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-12T19:26:22.4205662Z",
        "x-ms-file-creation-time": "2024-08-12T19:26:22.4205662Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-12T19:26:22.4205662Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-adc413a2-2cc7-0e38-4bcf-cc67d90d77bf/test-file-1c702f9e-5a8d-3f85-f946-15c688b81566?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ZnowqfDPZw8gVjzA1CpUgg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "mSYCVPbppjVskqggsPy0UsgWish9LutJgI8BUKR3w89PRKMy97O/9Gpa3EGq33HePnZnWKuOuWo7uNNn6FWQ9M/Y0GtYglsUVpVeIlGqnqEeIhEuEGojwYs49z7gWAsUyuhx0Q8FhbwbUgIVMJYZkBoySMVEYeNltQ7gIIocNP2KSVhoOMySGJxUE71nDZH0HmYkrQ9F0GgEDBwAJWUy/h4Ei+Y+sFhNnzAp704l/ah97AEj+IbuRHjwZCuwkvM2IhWfY4Gqtm4N1g3eHOAa3g90gjlkDgaXFkduTkwtnQ098s05hpom0jWTFiF4DyeX1oUcPA+60hMOB0w6PGgh4DkAoSkT4Fh0TbAD0fjkHgYf1nfGEWH9gyC5Kn5N65XNcTXoeG39hPUtp+5ftgAbKelFGmbwW87XAh4JWrbZJmEaNV/C/KaZIVKCmGpznswfnQCUB9Ev3RZ[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-adc413a2-2cc7-0e38-4bcf-cc67d90d77bf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:26:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "933335366",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
