{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1da2520b-2431-7326-9626-58f3097fc05e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673CF137543\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1da2520b-2431-7326-9626-58f3097fc05e/test-file-1bb82062-203b-bde0-1b87-3ba943c5bd06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673CF20E9AE\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:58:33.4169518Z",
        "x-ms-file-creation-time": "2024-06-06T21:58:33.4169518Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:58:33.4169518Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1da2520b-2431-7326-9626-58f3097fc05e/test-file-1bb82062-203b-bde0-1b87-3ba943c5bd06?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ZCL+EE8Z0bF63wirP6kGWw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "N/PEcwSAJQQFMCauIvD47eXJT2FdcOc7yTCrupH8/dA86/2H482KI4MdSkUTeetYWYdrqtbmuMYMiarT1WpyCDNVcTfycAoXPyzdQCahKE9FUmEKkVL5VjM2e1ojt00YqkISvge0Zeh9U2uqCHegamFajYIJaHbgWxsDvPWv9IjexJXkj2lHkex4jD3nT027lhH5yCnLD0LLMmLssKnyzV/izEPivNv3E/yVkNw5+AzNRybktiteE7VSGVwGW+BDhb7eBIMK2dk2AbUtNX9mkTpWHmmDDhczg7iNj6N+8LcbUgodW/OIw25MrrR2Md027Icirz13v3enqoHKfEk2txD9EeJ0SDZGzVv6N19ivVLaV6McXEB5o5OSdrByvkYlFfajeB/7waNQ2+HifIgXROwu7yWlGlvPg25P4dGG0w8U1SFpvkQy35X/y4BflyYKezLDQ84hf/u[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-1da2520b-2431-7326-9626-58f3097fc05e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1053498466",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
