{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-54117a6e-6423-bc8f-e256-e4c4babde77a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0CE4CA43\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-54117a6e-6423-bc8f-e256-e4c4babde77a/test-file-d72d4712-7218-3b21-6e92-84ec5d86aecd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 08 May 2025 22:16:59 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0CEF00AA\"",
        "Last-Modified": "Thu, 08 May 2025 22:16:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-08T22:16:59.0491818Z",
        "x-ms-file-creation-time": "2025-05-08T22:16:59.0491818Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-08T22:16:59.0491818Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15964167861348062608*4592540625403323126",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-54117a6e-6423-bc8f-e256-e4c4babde77a/test-file-d72d4712-7218-3b21-6e92-84ec5d86aecd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:16:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABx1b5aq1QzO5GfY0TMC5zzkSG5lutOR05WURnKstaPsO0ME0oxahe28JYGk0xr4j3njIHBh1qfIo5wBFk6aIm7ELNWv/dRwSYJA6ZVR7MB6m/c4iVVzSiSbfG8wWa9e4cNS4KZFCNFlstauIS0StrabhnqXoVjZkOKw1EGlQDAS4geR/wxaNZLlkxa+hSk3iMW4VJM0xwBquU/DlDRPwHKmWz7lgLeqQZDnsg5CGsu5uUu77OtdHhrHJ0W8VmFeVZKj2CnqEggNzhMCTRUyKF5ECdro1BOHCX0kHllx7esvSVx7ngKhj6cDrd7YWpDF1T8nOAyGdYG/HM7sxjPu3CAoEsP49koborpzpSY07u7sXgkaCrXeaNOavEFz9MmzVNH+sEeNDN61C5WSUtCbim4fwKfqlJFqSanwHjoIp63wwB[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-54117a6e-6423-bc8f-e256-e4c4babde77a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:16:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "224102013",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
