{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e1ea1943-0e9b-72ba-d65c-77c978a54d96?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F863B17E83B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:43:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e1ea1943-0e9b-72ba-d65c-77c978a54d96/test-file-1350ee34-0ae4-9765-3602-8528f514818c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F863B29AE90\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:43:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-08T19:43:24.6789264Z",
        "x-ms-file-creation-time": "2024-07-08T19:43:24.6789264Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-08T19:43:24.6789264Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e1ea1943-0e9b-72ba-d65c-77c978a54d96/test-file-1350ee34-0ae4-9765-3602-8528f514818c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xbIrgssTvGz6vo/3kT7w/g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "kRENGVngNwTKcb1HVwWoIvaS2v8Zqzi7EOq4wVH9VtRNUiK4pUuLDkGH2Ou61ZVdWMpbj3QHS\u002BbYUghuKHWzzBvo\u002BgXi8HyqB8u9kdNNADpVWmmGosZgRQc831NCHObM1AvP0dyQemdOsIipSbkTi1HOGc4LLSlViLT9phEpZ\u002Brk8b3HfS9exd8BOPI\u002BtvxNKVMBdAMYwKbhekgnktRWJEidxFf8Sw4ib1TuCvU3FtG4r3y9J/LnzDEW5QLmNzIKqxOpofKkUd5F3wWvKbaxqmR2b\u002BJXmf1Vtfcm5WULOzgh5F/hjXXfFF6eeEftOKN7ZDqeb8dPshEVVOv6fWx4OaTNjUVX0B3vl1uEuSC1aH1Uq4Aqbctw0TFNzDiJ5JbxJj6jH6peJJQdr9hsy/nxX\u002BttptLrTczYXbwUCQTkZbPFk[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e1ea1943-0e9b-72ba-d65c-77c978a54d96?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1488347269",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
