{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0fbe1fd-b55d-f2b4-3b1e-05850ffede9c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DD19E88A\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0fbe1fd-b55d-f2b4-3b1e-05850ffede9c/test-file-3ab6e7ee-c7e4-b2ff-6b95-b08611e06bb5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DD23D779\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:33.6507257Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:33.6507257Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:33.6507257Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-c0fbe1fd-b55d-f2b4-3b1e-05850ffede9c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "93692725",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
