{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e495bd87-e862-f7f6-8ca4-f1bbb5944294?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A6AE5C09\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e495bd87-e862-f7f6-8ca4-f1bbb5944294/test-file-67310452-7f74-5eb7-0a60-26d885481ea5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBE05A6BEC1E4\"",
        "Last-Modified": "Fri, 16 Aug 2024 15:11:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-16T15:11:06.1401060Z",
        "x-ms-file-creation-time": "2024-08-16T15:11:06.1401060Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-16T15:11:06.1401060Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e495bd87-e862-f7f6-8ca4-f1bbb5944294/test-file-67310452-7f74-5eb7-0a60-26d885481ea5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACUtEHdLvfGkNxOsQNsrk4Z7A6kRbYigQOoYW7218XHyUw5s/Qx2rQgqU1ExLn812/YBS5wxc2McjI9NM2I0LkWh+i3MvpZ6BJag5to3rxKrIn/HtGWVwR/rEHB86bmmNmULT3RRaV1fh0cFkExJJN184dEibLofy/kN4W5l/Rrc+vB1LB/eWfkip+0ekDCTYiuSwAeog8nrK4N7A0fu+YpsKJVb1Di9nogYP8SMwXvIer8C0vzTdHcmicCcYxZxM65ismebd04y1WF/UEPFHioHssiI7CaNWPQedQo34Tux5wwWak8ULQMxD/2blCPzIavWVPBNqEeHlVmzfMID+zQlzal37rPbM0XFV5wpMcSQKxOeIUxLJD7EjtT1YPABLVTJtYa6u3L4OyFqiBCrXqNU4xHupZmn2qmqsx/e5dKVhG[...]
    {
      "RequestUri": "https://smtest20240108.file.preprod.core.windows.net/test-share-e495bd87-e862-f7f6-8ca4-f1bbb5944294?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Aug 2024 15:11:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "15506256",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
