{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-87454c72-b3c3-ed8e-e2e8-669a4af57d1a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:17:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0D938132\"",
        "Last-Modified": "Thu, 08 May 2025 22:17:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-87454c72-b3c3-ed8e-e2e8-669a4af57d1a/test-file-fec73b34-29c6-6886-662d-0a2958abd151",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 08 May 2025 22:17:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7E0D9DB625\"",
        "Last-Modified": "Thu, 08 May 2025 22:17:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-08T22:17:00.1941541Z",
        "x-ms-file-creation-time": "2025-05-08T22:17:00.1941541Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-08T22:17:00.1941541Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15964167861348062608*4592540625403323126",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-87454c72-b3c3-ed8e-e2e8-669a4af57d1a/test-file-fec73b34-29c6-6886-662d-0a2958abd151?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "E2eTRAtxLYWlgN//kB0g9Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:17:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "4ZH1FxJDvAvmwyEuASJAsxTuHsYyhkP5Tdzuj3nDY0oWyIsbOrxlOMe3DxPgHueX6DqNMPy4tlpN+8k2VSyRI1/XGDmWJXhYiOb+encwGS/0Vqc/NTNNXREwzT7yLuKbJeuzCAWuAcPBNacVuTviHeKaQv+FUu4sironZVc6ZVkEYlSLfBAqRlXkff+LN6TVTrBcWOzjFdP9h35Khptrh89OEVbmVqDRcPuqodTuoFIWURen3QxsIE2BjvWS37+5ePYvPSZN7/cPi+jxOHT/DucsNDSDxKrC4fAJZcirP5A78CjdvmIsyWIgmFIke+fYgYANZauLNrRMbVw1Q4kvY0tXtUhLIU+E/2rSYytYnmYJMeRHntnlsLp0kVEG94XZ8TQGzMWfjF8wiWVAudKI9M71KxGk58VycQWO15D+fgjk+HL3UdGgaaSFFxRzpffn652CEMtzNAl[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/test-share-87454c72-b3c3-ed8e-e2e8-669a4af57d1a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:17:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "180448140",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
