{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4cfb57b3-ed53-8ab3-fb4b-3651a8911110?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673D115F864\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4cfb57b3-ed53-8ab3-fb4b-3651a8911110/test-file-e7aea7b3-e6e0-d8a1-e72b-2f22b9be6243",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8673D1240847\"",
        "Last-Modified": "Thu, 06 Jun 2024 21:58:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T21:58:36.7928391Z",
        "x-ms-file-creation-time": "2024-06-06T21:58:36.7928391Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T21:58:36.7928391Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4cfb57b3-ed53-8ab3-fb4b-3651a8911110/test-file-e7aea7b3-e6e0-d8a1-e72b-2f22b9be6243?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "l4RXdEWzdT/1mb4sGKJVGw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "yGUcMj1U8ecFOAZAEa6WHjU3SNv+fzLopE8nJ4BoKzGgrT2OwOTAs9yrjKZ8IXJPoy2zYMuWMEgzNI3uLMlmnAzVoGRwCF1QdpT/UvOLa4Pd14RTtcplCX31WoxW0oYSRe+Zp4EO35rPY+o3l91Up8kKEVVFEudCb5bne63R+qMN7Q0E8sQBzvjpg1LgLnKfoLLDS8ExzDIHVzjqJ2Pt/mhGKanPULUECEJcXI+VYUAkR9r6Da7h2yDb/JqMF6eU/ITpmgXI0FD9vkJ/1G+icvb3xd+J8vC5ZE2J9FQbePGayGAKrMY7XHeK/U9sYgewOImklFLICwqTLzW3P9z74kVR5QwPmMYvvGlo//ShTQJG2LvKduOf0r1WdnyRgxybjhsKG336oaDDddjoXwsV8uIzcWYgMWthshJPuSFJnjhMzXDZlzKFSzcbBgELtnKxQISZXRG2el2[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-4cfb57b3-ed53-8ab3-fb4b-3651a8911110?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 21:58:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1346155284",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
