{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-34e85d3e-497a-01e9-35da-ba264ac576f0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC49D47312\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:31:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-34e85d3e-497a-01e9-35da-ba264ac576f0/test-file-91e98d1e-e7bb-2096-6e9a-222a39ccddf6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:29 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC49E0F817\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:31:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-04T01:31:29.6310295Z",
        "x-ms-file-creation-time": "2025-03-04T01:31:29.6310295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-04T01:31:29.6310295Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6843315939057358021*13605289663960228771",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-34e85d3e-497a-01e9-35da-ba264ac576f0/test-file-91e98d1e-e7bb-2096-6e9a-222a39ccddf6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACvRBuRSBcl7oUHK9lmJTR0l80/SGb60C644Oybc+0WVEy5E4ilsKTP23D2GXr0NxDwZlL9dAzCtXTs2WgqinuX8NaNrRGsz+cpcG31A7ezw6ncqwybGd8/9l4TuNY8pFH1XiikZ4r/Q5dr1AOfzLG8ORa+Tt5u/Nf2TbazmBcQ7cwbAKWOD1sf3Wd1METcoCmsV37AfVZzhmJRrRrTS6t/Wuc3g8wMLim6n3F3+cySGqyNBkGYT291qHpDPGFBTJG79dVdpBxdnyhUBd3l/I2Wv5NtRURq5wt3wttRyfHIeVPfuwT2NXWQL2cYQ0mSj6ztrX3O0wZMUQ3K5eJBC9Y2jIyKBUGJn4od3RbdUaTB5TIvZBx0+aVNk2n2K0+TTyOR4ba9CIlrZA3zsfbwbgBpCf+vEae5wpPnPHLXknM6iY3[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-34e85d3e-497a-01e9-35da-ba264ac576f0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:31:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1631855489",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
