{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e17d3b19-9c0b-a9b0-cf67-50ccc77d1c45?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DD577D7B\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e17d3b19-9c0b-a9b0-cf67-50ccc77d1c45/test-file-a16850ee-3cf0-e461-693f-4e7a6c49be19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE18DD60B072\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:29:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:29:34.0494962Z",
        "x-ms-file-creation-time": "2024-10-16T19:29:34.0494962Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:29:34.0494962Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e17d3b19-9c0b-a9b0-cf67-50ccc77d1c45/test-file-a16850ee-3cf0-e461-693f-4e7a6c49be19?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "6hspQri3Z5rcfQAkOG0HMg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "JMEOOgLJLDsLnFg4u1Ve4jggyANMt8aeEQbL9lu/uF1ZWzeJ3vQuO5f1WeOuUKxqV6A4CGN2OGz7byn7/TXfTOT63l8e1AND8Y1sVl3j8MBaYZ67hq/54yPKjm/LMj1iFgz+s3FMS4Oc9RbWCeIPGH5ooZyWI8Y0Afs8U0aUd79QCj9Q5D1ODRUbH5CYI9lAu3XwY5Ggy/NGyrF2EPg8B35Xhf+jvjNBGZOHewQ2m94h+5jQpBQtsD9LChmL2Pwd3xcSQZ3ZnfxBrkn+GFDvEC/TVBVfa2NpKtXAV7MatkGWapzsI1pAR12cjvXKL5fuXPrqt4PnvXOzqBfHGUZJJ/gIZ66zAuzVkgy3w9xun/o+0fq5L/69r6woOXtCeC4XUmf8wsfpO1kOFSR3L/qWRQkciUdLkPj6S7gBi8lwkhreoHB1cdwzVZahqhrZRn+ykfNyJu/mzMJ[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-e17d3b19-9c0b-a9b0-cf67-50ccc77d1c45?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:29:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1997862344",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
