{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-0af43e29-ae55-b17a-9725-ca39ba32068e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:29:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3696552C5B09\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:29:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-0af43e29-ae55-b17a-9725-ca39ba32068e/test-file-2fb7432b-468d-2ba6-ce94-b98ea252059a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Jan 2025 01:29:05 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369655399699\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:29:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-17T01:29:05.9310233Z",
        "x-ms-file-creation-time": "2025-01-17T01:29:05.9310233Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-17T01:29:05.9310233Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15454356690087156724*3769234489255881874",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-0af43e29-ae55-b17a-9725-ca39ba32068e/test-file-2fb7432b-468d-2ba6-ce94-b98ea252059a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:29:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAyBxw2jpCjJ63vphaxwDNy7O0svH1g0jIsiArbWbgMkdwQh3YIAk58W435zLvnKev2NusKpqZu0jXpCQaGx8304hQ6oTm8aeqfr2DvZwV3RV8e5SLMAus1orVBHvlH9pO/BOqmrYiyOswBa/ZGfmswcsSnZ+KrJ+ApBf+De0vxV7jML2Ib0JjWbKtVy5b07yNKEKw1oI+xFNwJfaeJLr+BEBQ+eU4IFaEs0Ps3VVxKNBXbOWqfvLYpGxuGEVPwTT7r1LqBtnXVQvoKCdCUeb5/vkiSrfRU4lRdFF4ygQNOO4K9S4GhyH2gBvdvlLLmlaFdBlIKXqBJl/FmJKIXosD3vM1N1y483vbL8ab95E6hdn+81XuxRN3ic7SPO6TbiWQ2eNjlmb5zIChcP2z5S7KjxK0iWsxFRXjva2N6rKJS72h[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/test-share-0af43e29-ae55-b17a-9725-ca39ba32068e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:29:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1685265465",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
