{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-bbaed8cb-0686-56e7-3799-4aab69056896?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC5F4DA8C8\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:32:05 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-bbaed8cb-0686-56e7-3799-4aab69056896/test-file-4da912dd-391a-88ca-9a4b-9ddf598f56f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:05 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5ABC5F599A92\"",
        "Last-Modified": "Tue, 04 Mar 2025 01:32:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-04T01:32:05.6537746Z",
        "x-ms-file-creation-time": "2025-03-04T01:32:05.6537746Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-04T01:32:05.6537746Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6843315939057358021*13605289663960228771",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-bbaed8cb-0686-56e7-3799-4aab69056896/test-file-4da912dd-391a-88ca-9a4b-9ddf598f56f1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAe0B2zUF22hjfRMpvHxc0Odk1c154nSEl+EKLd4morprm3A7gMb6zx2+AIfCb7XWu8VL5khVnp9ojUNT+62KPNpozhEMIUAgeha/y9HssigrM3II2sxyFgzQwvNzpsNgI9O9aaGU2op1K3whlcK9i8sbKMg7gVId9rgUK15crMNDX5gOL1iGlmj3k79QQHA6I0coaI37JKJxr2L5gK88KH6o3jY6r1xylJJvQ+2ivbY32ggHJERFSCrlnI/1nQW5u3swp2I6D3P6tdP7m+C0zuG8wbanJPQ6U5YbRQLcfPeMtYhyYgZD/cqEHG5gWbxKMN2eONtfEpZ3BlPcLsphLkjcbuZoQlzraMP8ExiVyfnZwRQ1PkQsPZLiC2uyd87wIu4lk+rV0f5wstAHYw+N0TxZ8m22O+/0oDFDdjbxKPEE+[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/test-share-bbaed8cb-0686-56e7-3799-4aab69056896?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 01:32:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1813549749",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
