{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic5975/enableautoscale?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT6M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic5975/enableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE64E64DD57A47",
        "Last-Modified": "Thu, 05 Feb 2026 18:42:24 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic5975?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE64E64DD57A47",
        "Last-Modified": "Thu, 05 Feb 2026 18:42:24 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-Basic5975",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic5975",
        "eTag": "0x8DE64E64DD57A47",
        "lastModified": "2026-02-05T18:42:24.4280903Z",
        "creationTime": "2026-02-05T18:41:27.9078584Z",
        "state": "active",
        "stateTransitionTime": "2026-02-05T18:41:27.9078584Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-02-05T18:42:24.4280904Z",
        "vmSize": "standard_d2s_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 4,
        "targetDedicatedNodes": 2,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": true,
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT6M",
        "enableInterNodeCommunication": false,
        "startTask": {
          "commandLine": "/bin/bash -c 'echo hello > hello.txt'",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "userAccounts": [
          {
            "name": "nonAdminUser",
            "elevationLevel": "nonadmin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic5975"
  }
}
