{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filese351/tasks/jssdkJob-Filese351-task1/files?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "wd",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filese351/tasks/jssdkJob-Filese351-task1/files/wd",
            "isDirectory": true
          },
          {
            "name": "stdout.txt",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filese351/tasks/jssdkJob-Filese351-task1/files/stdout.txt",
            "isDirectory": false,
            "properties": {
              "lastModified": "2026-01-21T21:06:53.343955Z",
              "contentLength": "12",
              "contentType": "text/plain",
              "fileMode": "0o100644"
            }
          },
          {
            "name": "stderr.txt",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filese351/tasks/jssdkJob-Filese351-task1/files/stderr.txt",
            "isDirectory": false,
            "properties": {
              "lastModified": "2026-01-21T21:06:53.324955Z",
              "contentLength": "0",
              "contentType": "text/plain",
              "fileMode": "0o100644"
            }
          },
          {
            "name": "certs",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filese351/tasks/jssdkJob-Filese351-task1/files/certs",
            "isDirectory": true
          }
        ]
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Filese351",
    "TASK_NAME": "jssdkJob-Filese351-task1"
  }
}
