{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cc943344-3e50-4367-928f-79e03a97639d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ACI Test Automation 1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourcegroups/testRg3525?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg3525",
        "name": "testRg3525",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg3525/providers/Microsoft.ContainerInstance/containerGroupProfiles/containergrpcgp1257?api-version=2024-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "containers": [
            {
              "name": "containergrpcgp1257",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "while true; do sleep 10; done"
                ],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "livenessProbe": {
                  "exec": {
                    "command": [
                      "ls"
                    ]
                  },
                  "periodSeconds": 20
                }
              }
            }
          ],
          "restartPolicy": "Never",
          "ipAddress": {
            "ports": [
              {
                "protocol": "TCP",
                "port": 80
              }
            ],
            "type": "Public"
          },
          "osType": "Linux",
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid",
              "workspaceKey": "workspacekey"
            }
          },
          "sku": "Standard",
          "encryptionProperties": {
            "vaultBaseUrl": "https://cloudaci-cloudtest.vault.azure.net/",
            "keyName": "testencryptionkey",
            "keyVersion": "804d3f1d5ce2456b9bc3dc9e35aaa67e"
          },
          "initContainers": [
            {
              "name": "containergrpcgp1257init",
              "properties": {
                "image": "alpine",
                "command": [
                  "/bin/sh",
                  "-c",
                  "sleep 5"
                ],
                "environmentVariables": [
                  {
                    "name": "secretEnv",
                    "secureValue": "secretValue1"
                  }
                ]
              }
            }
          ]
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cc943344-3e50-4367-928f-79e03a97639d/resourceGroups/testRg3525/providers/Microsoft.ContainerInstance/containerGroupProfiles/containergrpcgp1257?api-version=2024-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "830590836",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "cc943344-3e50-4367-928f-79e03a97639d"
  }
}
