{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFE514648\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd/test-blob-17db1dd3-ea57-5bcf-9728-b9e01e317b38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFE62806E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:09.1114094Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd/test-blob-17db1dd3-ea57-5bcf-9728-b9e01e317b38?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mk0S4HmETh9rq2y1aNtEjeqZGSCzEPJ8YWARJjuSr4TY4sKFTejNQQOSEs3lJu8Kf5y4cdXIfYlbln4Ycifk2Pzn3YUZvj8CzNgdIP4klztwB6ee2j2uD2Q4KrZqtM7brjrR/Ulp8MBdtqX9q1yLN/5DqGuARf2+Oc0h4JSImBgJQXLEUprxBhbmQSSYsWQHrfK4JgxjW2g8EsR8SA8s1B2M82nqx+RkUqFUmQTYJYdpGTOh0HEMpuYJh0DVdb0Gum0GC736HeYOU9RqDsJkY+08Ei/cigOsgE2D4D+kj93jTt+X0hnKb/tMk32doZckpSNSmWKOKi9pWopvdz2masT3h8DizZHTcaMzj/eGD9+1XzscUfV6VCSvLXeOW/e+pim5pRrXQdeRfye+W5o[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd/test-blob-df65a185-7b77-1738-edb3-dfdf71668e6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFF1A9D2D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:10.3190075Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd/test-blob-df65a185-7b77-1738-edb3-dfdf71668e6b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd/test-blob-17db1dd3-ea57-5bcf-9728-b9e01e317b38",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFF2A2C3C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "gEioGYfwueg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd/test-blob-df65a185-7b77-1738-edb3-dfdf71668e6b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868EFF2A2C3C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:13:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:10.3190075Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-04d53657-b0df-90bd-ff02-2e0a239427bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1914895422",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
