{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFC4130DE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa/test-blob-669ec0f4-7591-604f-72b4-0afdcb3fcf85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFC510B8E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:05.6425634Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa/test-blob-669ec0f4-7591-604f-72b4-0afdcb3fcf85?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "FjewYF/DMvRA0rtAqx8Xl3YAQGcOqV+yG+p+WEtB0OPq0PxVy08tP1frs6DfD0lu47v16MsGdW3Y/kR1Rdmp/wHYVtsjwcsn0gEQIva/0wyhD3WQS+gX41uPfc0KuPl9QrSeBrhuSyHwzhXJ9lJ2GSs41DZkGLMZwHN/k0T9HBoIkt9BIMxTMsNToHzSTuwIGGOi0uPDGSoAhEZF7rfd8rL7wGRzNfhe5aFyEHg3R3KGd3vgW0o2RXi1QZyGDUQMdq3K142IleNrQ+xCUQmxyT3UvnY7/JZoxHvrvvNb2NdcZZnKbG/k/uKYdBhd8/NuA3dfsk7N0HkWYRIRndbvD2oU5etv5lzN78CUo4h+CtCIfLp8/CaJjpUgswpc0mALqGWtSA4I/xwbkcKOOSz[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa/test-blob-aa8bed93-ff99-a432-1325-8d43f1ee9dd2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFD0A87C7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:06.8571591Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa/test-blob-aa8bed93-ff99-a432-1325-8d43f1ee9dd2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa/test-blob-669ec0f4-7591-604f-72b4-0afdcb3fcf85",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EFD6F828A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "JwMya0dDLx0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa/test-blob-aa8bed93-ff99-a432-1325-8d43f1ee9dd2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868EFD6F828A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:13:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:06.8571591Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da34d561-218f-9c13-7798-2db9e953c5fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "757309933",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
