{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8e0c119-135f-8390-985c-68dcbb889378?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:12:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EF236A262\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:12:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8e0c119-135f-8390-985c-68dcbb889378/test-blob-2c5da34b-3278-31d5-e99a-485a411755c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:12:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868EF2439738\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:12:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:12:48.7771721Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8e0c119-135f-8390-985c-68dcbb889378/test-blob-2c5da34b-3278-31d5-e99a-485a411755c3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:12:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "qefxUHr0FMqbcCI3/Kj0KooZyWbqy0oi2yAYblkwLifpBYJVzb60nMZj7gfk08e+f/1MpBnxRt6cznVa26Vwa0H6Tfcln13LZC2fhtxCPQhZWu9b44oO+L6kuP5JWsAh8oPF6oXQmeCfgUDrUcACWpFtAYG2FIe361U4gedegglsfpRYfVOCiMEOvGJKIqb+oV5t21k/at37Dv4wlxf5QP42f9Mrqtw963i/p1gkbciuOt+I8aavLBO2XG5VUfCpFXtjE6PT0veBMPDhf8OF1qE1gV04cE9Yh1K/dU1u6JmHFpHdwFok22foB8G2zqxQMYXNIM+TcaUsC4tRE12pEkdWWWkxq[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8e0c119-135f-8390-985c-68dcbb889378/test-blob-2c5da34b-3278-31d5-e99a-485a411755c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:12:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868EF25214EF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:12:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:12:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:12:48.7771721Z"
      },
      "ResponseBody": "qefxUHr0FMqbcCI3/Kj0KooZyWbqy0oi2yAYblkwLifpBYJVzb60nMZj7gfk08e+f/1MpBnxRt6cznVa26Vwa0H6Tfcln13LZC2fhtxCPQhZWu9b44oO+L6kuP5JWsAh8oPF6oXQmeCfgUDrUcACWpFtAYG2FIe361U4gedegglsfpRYfVOCiMEOvGJKIqb+oV5t21k/at37Dv4wlxf5QP42f9Mrqtw963i/p1gkbciuOt+I8aavLBO2XG5VUfCpFXtjE6PT0veBMPDhf8OF1qE1gV04cE9Yh1K/dU1u6JmHFpHdwFok22foB8G2zqxQMYXNIM+TcaUsC4tRE12pEkdWWWkxqBZHEKb1T2iNobm[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d8e0c119-135f-8390-985c-68dcbb889378?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:12:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2080576058",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
