{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "drawbridge.com",
              "expresslogic.com",
              "euevents.microsoft.com",
              "nonprofits.microsoft.com",
              "benefits.microsoft.com",
              "forzaesports.com",
              "bons.ai",
              "azmosa.io",
              "fslogix.com",
              "Howdy.ai",
              "Xoxco.com",
              "Botkit.ai",
              "glintinc.com",
              "maquette.ms",
              "tibazdev.microsoft.com",
              "[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "EnableAzSecPackIdentityPolicy": "true",
          "azsecpack": "nonprod",
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AI_Workbooks_jgardner_RnD",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'microsoft.insights/workbooks' | where resourceGroup in~ ('Sanitized') | limit 50 | project id, name, kind, resourceGroup, subscriptionId, location, tags, properties"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.1170726",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 7,
        "count": 7,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Insights/workbooks/0fb684a9-f755-59b7-aad9-45a1a9e629b6",
            "name": "Sanitized",
            "kind": "shared",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "location": "westus",
            "tags": {
              "environment": "development",
              "project": "azure-mcp",
              "purpose": "testing",
              "hidden-title": "Sanitized Sentinel Workbook",
              "category": "filter-test"
            },
            "properties": {
              "description": "Sentinel workbook for testing different category filter",
              "version": null,
              "displayName": "Sanitized Sentinel Workbook",
              "category": "sentinel",
              "tags": null,
              "storageUri": null,
              "serializedData": null,
              "timeModified": "2026-02-04T03:57:21.173Z",
              "revision": "5e4e439c051e4e71a779e9ec80f380d7",
              "sourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/microsoft.operationalinsights/workspaces/Sanitized",
              "userId": "Sanitized"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Insights/workbooks/1bfe68b1-5e0c-5e4c-aeb7-2cdb42aa3872",
            "name": "Sanitized",
            "kind": "shared",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "location": "westus",
            "tags": {
              "hidden-title": "Sanitized Pe[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'microsoft.insights/workbooks' | where resourceGroup in~ ('Sanitized') | summarize totalCount = count()"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "13",
        "x-ms-resource-graph-request-duration": "0:00:00:00.3981543",
        "x-ms-user-quota-remaining": "13",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 1,
        "count": 1,
        "data": [
          {
            "totalCount": 7
          }
        ],
        "facets": [],
        "resultTruncated": "false"
      }
    }
  ],
  "Variables": {}
}
