{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "97db216c-169d-4ea9-9d98-114adba0aa20",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure DNS Managed Resolver (Validation) (Corp)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourcegroups/testRG-3961?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "australiaeast"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961",
        "name": "testRG-3961",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "australiaeast",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5460/providers/Microsoft.Network/virtualNetworks/dnsResolver-649?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "australiaeast",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/8"
            ]
          },
          "subnets": [
            {
              "name": "snet-endpoint",
              "properties": {
                "addressPrefix": "10.2.2.0/28"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/providers/Microsoft.Network/locations/australiaeast/operations/70dd7572-07a9-46df-839a-c789f98280b9?api-version=2023-05-01&t=638639293182422771&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/providers/Microsoft.Network/locations/australiaeast/operations/70dd7572-07a9-46df-839a-c789f98280b9?api-version=**&t=638639293182422771&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5460/providers/Microsoft.Network/virtualNetworks/dnsResolver-649?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"73a65aea-3406-4071-a60e-c783c6fb2547\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "dnsResolver-649",
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5460/providers/Microsoft.Network/virtualNetworks/dnsResolver-649",
        "etag": "W/\"73a65aea-3406-4071-a60e-c783c6fb2547\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "australiaeast",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "219916ff-4116-4b99-9911-0d24139184ec",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/8"
            ]
          },
          "subnets": [
            {
              "name": "snet-endpoint",
              "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5460/providers/Microsoft.Network/virtualNetworks/dnsResolver-649/subnets/snet-endpoint",
              "etag": "W/\"73a65aea-3406-4071-a60e-c783c6fb2547\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.2.2.0/28",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/dnsResolvers/dnsResolver-2636?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "australiaeast",
        "properties": {
          "virtualNetwork": {
            "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5460/providers/Microsoft.Network/virtualNetworks/dnsResolver-649"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/locations/australiaeast/dnsResolverOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiVXBzZXJ0RG[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/locations/australiaeast/dnsResolverOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiVXBzZXJ0RG5zUmVzb2x2ZXIiLCJPcGVyYXRpb25JZCI6IjQzZjkwYzgwLTI0NjktNDQyNC04NGJmLTI2ZGE4YmQzMGU0NiJ9?api-version=**&t=638639293334554535&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMR[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/dnsResolvers/dnsResolver-2636?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "properties": {
          "virtualNetwork": {
            "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-5460/providers/Microsoft.Network/virtualNetworks/dnsResolver-649"
          },
          "dnsResolverState": "Connected",
          "provisioningState": "Succeeded",
          "resourceGuid": "f1afdd3c-9263-4496-86bc-cd028b4c2e2f"
        },
        "etag": "\"a2009bc6-0000-1b00-0000-670442fe0000\"",
        "location": "australiaeast",
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/dnsResolvers/dnsResolver-2636",
        "name": "dnsResolver-2636",
        "type": "Microsoft.Network/dnsResolvers",
        "systemData": {
          "createdAt": "2024-10-07T20:22:12.8147886Z",
          "createdByType": "User",
          "lastModifiedAt": "2024-10-07T20:22:12.8147886Z",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/providers/Microsoft.Resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "changes",
            "locations": [],
            "apiVersions": [
              "2024-06-01-preview",
              "2023-07-01-preview",
              "2023-03-01-preview",
              "2022-05-01",
              "2022-03-01-preview"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "snapshots",
            "locations": [],
            "apiVersions": [
              "2022-11-01-preview"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/dnsResolvers/dnsResolver-2636/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/dnsResolvers/dnsResolver-2636/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/dnsResolvers/dnsResolver-2636/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "tagKeyAhEhxRwQ": "tagValue75te7rEu"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/locations/australiaeast/dnsResolverOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiVXBzZXJ0RG5zUmVzb2x2ZXIiLCJPcGVyYXRpb25JZCI6IjRjOTBmNDUxLTgzN2QtNGJjMS04OTEwLWE4ZTA4MWViODlhMCJ9?api-version=2020-04-01-preview&t=638639293532908570&c=M[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/97db216c-169d-4ea9-9d98-114adba0aa20/resourceGroups/testRG-3961/providers/Microsoft.Network/locations/australiaeast/dnsResolverOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiVXBzZXJ0RG5zUmVzb2x2ZXIiLCJPcGVyYXRpb25JZCI6IjRjOTBmNDUxLTgzN2QtNGJjMS04OTEwLWE4ZTA4MWViODlhMCJ9?api-version=**&t=638639293532908570&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMR[...]
[...]
