{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery?api-version=v1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3eda4d67-9708-4104-9d8a-cb6f30a83d7b",
        "x-ms-response-type": "standard",
        "x-request-time": "0.116"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-int.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://int.api.azureml-test.ms"
          },
          "int": {
            "uri": "https://int.api.azureml-test.ms"
          }
        },
        "intellectualPropertyPublisher": null,
        "isTradeRestricted": false
      }
    },
    {
      "RequestUri": "https://Sanitized.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/testFeed/tempdatarefs/test_417847938840/versions/2?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/testFeed/codes/test_417847938840/versions/2",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "int-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f6ae4152-4856-4c96-ac7d-7feec64ec796",
        "x-ms-response-type": "standard",
        "x-request-time": "1.597"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://feedmaster2.blob.core.windows.net:443/testfeed-16ea96b0-4c8b-51cf-adfd-4e692ad55228",
          "storageAccountArmId": "/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/shared_static_test_resources/providers/Microsoft.Storage/storageAccounts/feedmaster2",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://feedmaster2.blob.core.windows.net/testfeed-16ea96b0-4c8b-51cf-adfd-4e692ad55228?skoid=e3f42e2c-d581-4b65-a966-631cfa961328&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-02-27T09%3A30%3A38Z&ske=2026-02-28T01%3A40%3A38Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "d35aa84a-e57e-42d2-8f6c-1cab13e54751",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testfeed-16ea96b0-4c8b-51cf-adfd-4e692ad55228/code.txt?skoid=e3f42e2c-d581-4b65-a966-631cfa961328&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-02-27T09%3A30%3A38Z&ske=2026-02-28T01%3A40%3A38Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Feb 2026 17:01:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testfeed-16ea96b0-4c8b-51cf-adfd-4e692ad55228/code.txt?skoid=e3f42e2c-d581-4b65-a966-631cfa961328&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-02-27T09%3A30%3A38Z&ske=2026-02-28T01%3A40%3A38Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Feb 2026 17:01:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u+Ae7tCTyyK7j1rNww==",
        "ETag": "\"0x8DE7621DAF183B0\"",
        "Last-Modified": "Fri, 27 Feb 2026 17:01:31 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/testfeed-16ea96b0-4c8b-51cf-adfd-4e692ad55228/code.txt?comp=metadata&skoid=e3f42e2c-d581-4b65-a966-631cfa961328&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-02-27T09%3A30%3A38Z&ske=2026-02-28T01%3A40%3A38Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Feb 2026 17:01:31 GMT",
        "x-ms-meta-name": "test_417847938840",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "2",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7621DAFAD121\"",
        "Last-Modified": "Fri, 27 Feb 2026 17:01:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/testFeed/codes/test_417847938840/versions/2?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": false,
          "codeUri": "https://feedmaster2.blob.core.windows.net/testfeed-16ea96b0-4c8b-51cf-adfd-4e692ad55228/"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "int-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://int.api.azureml-test.ms/assetstore/v1.0/operations/DnXi18CvVwJv8DylPLBpJwzgJ7dcAIxIicCY4C6JoTI",
        "mise-correlation-id": "6f7e3abd-409b-41e5-9cff-8a4fd4261678",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "2.811"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://Sanitized.api.azureml-test.ms/assetstore/v1.0/operations/DnXi18CvVwJv8DylPLBpJwzgJ7dcAIxIicCY4C6JoTI",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "int-01",
        "mise-correlation-id": "a9651eb1-d381-4dbd-ade1-127d83434430",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/testFeed/codes/test_417847938840/versions/2?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "int-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4dd4c9d8-c7df-4757-8cf6-d5018c72b8ba",
        "x-ms-response-type": "standard",
        "x-request-time": "0.927"
      },
      "ResponseBody": {
        "id": "azureml://registries/testfeed/codes/test_417847938840/versions/2",
        "name": "2",
        "type": "Microsoft.MachineLearningServices/registries/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://feedmaster1-blob.dataproxy.int.api.azureml-test.ms/testfeed-16ea96b0-4c8b-51cf-adfd-4e692ad55228"
        },
        "systemData": {
          "createdAt": "2026-02-27T17:01:32.5698582+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-27T17:01:32.5698582+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
