{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/test_482800986235/versions?api-version=2023-04-01&hash=49eadfeccdc40c46a054f17f07829f9bd5bf4ff0b51fb49f2de9a63d5ddf0098&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.292"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/test_705920515069/versions/2",
            "name": "2",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "49eadfeccdc40c46a054f17f07829f9bd5bf4ff0b51fb49f2de9a63d5ddf0098",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-5nvaheat11cj7q3c4i9jjdchpx/",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2026-03-03T16:47:06.4259031+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2026-03-03T16:47:06.4259031+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/test_705920515069/versions/2?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf[...]
[...]
