{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B15031266?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5ddb1726-af40-404d-ba15-b6257e0eb053",
        "traceresponse": "00-41e4585f2a7a9d2f8f8b625f80cea43b-699dca25d949bba8-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;15031266. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B114075888?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "183230e8-433a-4539-a2b2-2802d226a905",
        "traceresponse": "00-1058d006ce303646e510948505ef51c7-8f399a9d50e038bb-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;114075888. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B161237968?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bdc8a5dc-9973-41e2-a05d-f341117ab008",
        "traceresponse": "00-04f3f9d6441576f31e6dd40242e484a1-3aecad54ae9d2d88-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;161237968. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin394564067?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6f6ecdd2-d2b5-4281-83e2-733a27e19d87",
        "traceresponse": "00-a0f6379969d5808c70e9cdb8820611e5-5a14362b9f039c5d-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin394564067. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin511050643?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f8d985d5-a1f8-4dee-9c5a-2e049a45d43f",
        "traceresponse": "00-dfbccb67a2bea063a56121b62a43d42d-01b848f017da2faf-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin511050643. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1825058093?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8bdbae07-92ed-425e-af0d-955b3ebdbe81",
        "traceresponse": "00-e2f0075a7bb743883d497ba8a1e56c19-6a2a22f59bd2b342-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1825058093. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;15031266\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b24befe5-d79e-4c5b-9203-29c25784f3ff",
        "traceresponse": "00-29bc796343cdc99655e9d11c91950dc2-5ec38430763d31ae-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin394564067?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;15031266"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022940cffb8-ccf2-4006-bdc9-521f41ead5b0\u0022",
        "mise-correlation-id": "bb34317e-bd00-46e9-b287-f107cb75c6e4",
        "traceresponse": "00-3f5a0e2d68aed66839918e2efec5cfaf-dc0f27dc73703812-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin394564067",
        "$etag": "W/\u0022940cffb8-ccf2-4006-bdc9-521f41ead5b0\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;15031266",
          "$lastUpdateTime": "2023-08-08T17:21:59.2749306Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-08-08T17:21:59.2749306Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin511050643?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;114075888"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002280888f3e-2914-43dd-9d3f-ce56aa1d2768\u0022",
        "mise-correlation-id": "2f4a4e3e-e90d-431b-b6ef-13856235b480",
        "traceresponse": "00-9f66cba08c825be9a022bebc5bb62b14-e73e58d09eb95777-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin511050643",
        "$etag": "W/\u002280888f3e-2914-43dd-9d3f-ce56aa1d2768\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;114075888",
          "$lastUpdateTime": "2023-08-08T17:21:59.4593332Z",
          "Temperature": {
            "lastUpdateTime": "2023-08-08T17:21:59.4593332Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-08-08T17:21:59.4593332Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-08-08T17:21:59.4593332Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-08-08T17:21:59.4593332Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1825058093?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;161237968"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022470e01a1-bc2f-49b6-806e-212c88e98a87\u0022",
        "mise-correlation-id": "ab955d67-d752-4694-973a-d8639dc59901",
        "traceresponse": "00-4ca0c50d3654b1fef9b97e4a250e9fb8-8ea5d66b277530ff-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1825058093",
        "$etag": "W/\u0022470e01a1-bc2f-49b6-806e-212c88e98a87\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;161237968",
          "$lastUpdateTime": "2023-08-08T17:21:59.6510393Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-08-08T17:21:59.6510393Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-08-08T17:21:59.6510393Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin394564067/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin511050643",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002247718580-812e-4018-8e24-602540667927\u0022",
        "mise-correlation-id": "dd1d1033-05b1-409d-9b60-b3a909821b97",
        "traceresponse": "00-5b72016bbbf08ce94618a80d80fa1801-f4549f37b80c8d43-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u002247718580-812e-4018-8e24-602540667927\u0022",
        "$sourceId": "floorTwin394564067",
        "$relationshipName": "contains",
        "$targetId": "roomTwin511050643",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin394564067/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "W/\u0022740071b5-de8b-40a6-8504-d2ecdd2c5be8\u0022"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9b14939a-5531-4789-8fc8-87c8d2a1dd52",
        "traceresponse": "00-2dc70ec9a3aae61e295855e72422c4a9-0f40a0caa490626a-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B161237968?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "309debdd-46b9-400d-9e33-283a524a94fb",
        "traceresponse": "00-a79258cd26d8f41a4d092772444f3162-d25477cb6f1f6c3d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B15031266?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "892b9bad-f3b4-49bc-8a37-5a8fe77c08db",
        "traceresponse": "00-1139a4a7967a53f7b80fb196c82e3968-dd7d1a98c506582f-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B114075888?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "896a33e9-ba36-4ab1-b459-95712aad9adc",
        "traceresponse": "00-e9d8d57a1c5266031062972eeef75631-ba4b22284dfb7247-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1726676901"
  }
}
