{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11214363?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4d16a1ba-d1ab-4d5b-a7c5-987e2d49a14c",
        "traceresponse": "00-0e1499e56fab0b8c32899808bf1cc594-d485062cb3f889f0-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11214363. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B117806174?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4b825396-a37b-460e-8701-82f244996c21",
        "traceresponse": "00-7c2127ecf9d29d451d1ed36232fc6734-e4880ee188772cf2-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;117806174. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B120011176?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "70614645-1ded-4767-ad67-5c29dd4acb98",
        "traceresponse": "00-4e5d0bd633a0f7e206d9ca89a6d49d04-63661e5a11da3b52-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;120011176. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1177409142?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d85419a9-fb58-4f46-b989-a1f7172e77a4",
        "traceresponse": "00-ea834abac95c993bee96f69b5d122965-f54cc20b2d3f7641-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1177409142. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2111383387?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c7fb9b75-42f6-4abe-ae92-738463b822e1",
        "traceresponse": "00-162075b7f8f719a6c3f0038dbf06b5c9-d9d3a11c1bf8de81-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin2111383387. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1578499990?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "af780016-a2fb-4141-8ad5-015ebdd65766",
        "traceresponse": "00-aa7609717953d672d5df8e9967313134-7cea60121d0f8883-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1578499990. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11214363\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;117806174\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;120011176\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;117806174\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ecee0649-126f-48fe-afcd-3cc3ee150efe",
        "traceresponse": "00-5dfdf6f0074b253dfdb6db76067f4601-7428d50fcfb9b0d7-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;112647179",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2369336+00:00"
          },
          {
            "id": "dtmi:example:room;114878339",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2911565+00:00"
          },
          {
            "id": "dtmi:example:Ward;155584273",
            "description": {
              "en"[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1177409142?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11214363"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b0575156-e6c2-4fd5-b31f-92915e9d3941\"",
        "mise-correlation-id": "0b42e003-a9eb-4f99-bbfe-df481b666dba",
        "traceresponse": "00-0cf666b9e9d7c78962515a932fa2b648-b9d57cb2ea23b56b-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1177409142",
        "$etag": "W/\"b0575156-e6c2-4fd5-b31f-92915e9d3941\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11214363",
          "$lastUpdateTime": "2025-05-02T21:01:22.3603427Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T21:01:22.3603427Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin2111383387?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;117806174"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"c328f9b0-0a76-40ed-9a7a-d18cc5f0aa3a\"",
        "mise-correlation-id": "3cdd589d-1532-429b-b4aa-552b177b031e",
        "traceresponse": "00-a6ab9f87b942d50fb4bf4d81fe0232c9-e10ee848a362b77a-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin2111383387",
        "$etag": "W/\"c328f9b0-0a76-40ed-9a7a-d18cc5f0aa3a\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;117806174",
          "$lastUpdateTime": "2025-05-02T21:01:22.4403314Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T21:01:22.4403314Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T21:01:22.4403314Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T21:01:22.4403314Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T21:01:22.4403314Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1578499990?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;120011176"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"095fd429-47fc-4e64-8412-7342f55d6a83\"",
        "mise-correlation-id": "48af60f4-e8b2-4d31-96b4-7de2638b438b",
        "traceresponse": "00-823a9f6df6b6ccd6be7352723a4fec2c-bdea5ada89a57c83-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1578499990",
        "$etag": "W/\"095fd429-47fc-4e64-8412-7342f55d6a83\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;120011176",
          "$lastUpdateTime": "2025-05-02T21:01:22.5469088Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T21:01:22.5469088Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T21:01:22.5469088Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1177409142/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin2111383387",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b15ff284-6081-4fb9-b400-aa95d7478a1f\"",
        "mise-correlation-id": "5d6d4e7f-28f7-4765-830e-b2f523d7559c",
        "traceresponse": "00-5b7b0a89927e6d5687d69c4ae619afbe-a259a885adcca345-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"b15ff284-6081-4fb9-b400-aa95d7478a1f\"",
        "$sourceId": "floorTwin1177409142",
        "$relationshipName": "contains",
        "$targetId": "roomTwin2111383387",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1177409142/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/isAccessRestricted\",\"value\":false}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"78c8614d-5d6e-49ca-9127-b72758ab1bc4\"",
        "mise-correlation-id": "592425af-552b-4bab-9573-f608ffc06669",
        "traceresponse": "00-334e7e028d100909a98bbd61e7cd38e0-5163dbde99d68db3-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1177409142/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "W/\"78c8614d-5d6e-49ca-9127-b72758ab1bc4\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "6d70ad4a-b46b-4e03-b05b-a855fa8ae03e",
        "traceresponse": "00-b73286d950848470507dcf3f7f2596a1-acb5f891c8f2ad33-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B120011176?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c8c44d7c-863d-4a70-82b0-d2d29c662e0c",
        "traceresponse": "00-035a47fc7b4db425014b9f01f15bcd21-c87d9ccfaf368aff-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B117806174?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "06650147-f3fa-43dd-bd72-91b58f630cbb",
        "traceresponse": "00-e278a5d7da09fbd996e4108376a23d05-9f82dd3de972d53c-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11214363?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "474e991b-9b56-4a6b-bf91-6809365b3543",
        "traceresponse": "00-1e2f3ae0a5328ed7cf056681a662b7e7-28f42a60007d7df0-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "2142826782"
  }
}
