{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11706482?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d07348fc-6aba-4ef0-b32e-5c7dd832671c",
        "traceresponse": "00-b14e0a76673767d0cc1f1aa42b97e3cb-3c00cb7a78830640-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11706482. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B114724528?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a30a7bbf-642c-4c11-9722-a4bcdf12916f",
        "traceresponse": "00-835536fdf281f5c2798a68e2c8911527-fbd4a31fba7c6d65-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;114724528. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B147575495?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "84f7f5c2-19fb-48f1-843d-b0bcb84df8ca",
        "traceresponse": "00-31dfb7d89063ec0c2510bf3ef60fd407-6ba5f9ea4776d362-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;147575495. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin463329814?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a431a80c-4c42-45eb-836e-87c5ed1bbb7f",
        "traceresponse": "00-80b6f5fe7bf7a03f820c3aa6a82bc6b6-8a4cd0cb4dc88487-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin463329814. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1829985900?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "afbde346-b2e1-46c3-bbd6-cc4be5e054d3",
        "traceresponse": "00-ee1985080c1440a0d6a5e263e9badfe4-5de08a02879c57e2-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1829985900. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1214413172?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "20f8a2b4-05b4-4735-88d5-ed0443ca830b",
        "traceresponse": "00-d8d54ccca9377ec6f7bc63d1a1773f7d-07b7a82dc0e59e9c-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1214413172. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11706482\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;114724528\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;147575495\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;114724528\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "228da989-c0fa-477c-9fc2-7e8fca01a21d",
        "traceresponse": "00-0a81aff06a1def370d41847c2bce44d8-1fa5396e1b022fd1-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113461504",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5623424+00:00"
          },
          {
            "id": "dtmi:example:room;146003703",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.8961014+00:00"
          },
          {
            "id": "dtmi:example:Ward;143741483",
            "description": {
              "en"[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin463329814?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11706482"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"440b9be5-c473-46c1-be43-c4c95f953e7c\"",
        "mise-correlation-id": "352e8ec0-da60-43dc-8000-6e33a22aa8fb",
        "traceresponse": "00-0db3c3478a21a05119deb1c3dbc52dc0-c3ad2fb1fcbcdec6-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin463329814",
        "$etag": "W/\"440b9be5-c473-46c1-be43-c4c95f953e7c\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11706482",
          "$lastUpdateTime": "2025-05-02T18:53:39.9062287Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T18:53:39.9062287Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1829985900?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;114724528"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"56538e45-2e99-40b0-ba24-5628cacbac73\"",
        "mise-correlation-id": "b89d1587-3369-4218-a15b-d5ad6a0cd31d",
        "traceresponse": "00-9112db810f1a9715f482daaf8ed0ca43-3113bb5411213444-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1829985900",
        "$etag": "W/\"56538e45-2e99-40b0-ba24-5628cacbac73\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;114724528",
          "$lastUpdateTime": "2025-05-02T18:53:40.0292329Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T18:53:40.0292329Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T18:53:40.0292329Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T18:53:40.0292329Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T18:53:40.0292329Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1214413172?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;147575495"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"a35dc9f1-0707-4b98-ad82-18ca83810590\"",
        "mise-correlation-id": "c297a11b-80df-4b35-a16f-c711bacc9cf2",
        "traceresponse": "00-5a254f47d8c7b06c424466249832f83a-582d84b8222d7f4e-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1214413172",
        "$etag": "W/\"a35dc9f1-0707-4b98-ad82-18ca83810590\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;147575495",
          "$lastUpdateTime": "2025-05-02T18:53:40.1309433Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T18:53:40.1309433Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T18:53:40.1309433Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin463329814/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1829985900",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"2f5e35ea-d126-4dae-8d31-de3772d7b8fb\"",
        "mise-correlation-id": "7f0eba75-0c1f-49cb-af27-dc548e792196",
        "traceresponse": "00-38e51de7c8b08c8c2e634f4d865b70b7-42cc52250b005763-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"2f5e35ea-d126-4dae-8d31-de3772d7b8fb\"",
        "$sourceId": "floorTwin463329814",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1829985900",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin463329814/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/isAccessRestricted\",\"value\":false}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"34e1aafe-8e51-441f-8672-4dd14cf591a7\"",
        "mise-correlation-id": "cdd5250e-8f52-4959-a3e6-73f18fc60d94",
        "traceresponse": "00-97bda48eaeccca2c1b5f94b00085d554-9727e97764cbce14-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin463329814/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "W/\"34e1aafe-8e51-441f-8672-4dd14cf591a7\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "44ad4cb5-0bba-4c85-ae38-514aaa000231",
        "traceresponse": "00-60405780ed8b158f7efb54ec0ad7715b-a575909a33423fd2-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B147575495?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ecea17bd-2b5a-42ba-b2fc-9e83c7c484de",
        "traceresponse": "00-d7f9bd0b899f29fa5c9c56c9f33e123b-5247093c5cec0193-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11706482?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f447892a-a87c-4544-959f-dc5f6f8f1aa7",
        "traceresponse": "00-db51baf5ee5e737523ce43b4b92b9674-fcf7f4a3d2038173-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B114724528?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b28dce22-7fd3-40d8-a3ba-da515aba2c90",
        "traceresponse": "00-dbf1d21ad24e66ecb30ef55871ed04c1-38758623168a2428-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "54907372"
  }
}
