{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11342033?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "69358e67-9907-4346-81a6-f1d21608b51e",
        "traceresponse": "00-4c58ccec5b1449a8cc32d4b83995bdc5-0552c0ecaf1d6ff9-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11342033. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B113770238?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dea2d82f-7a80-4c1c-ac11-d89e5729b261",
        "traceresponse": "00-413c5a339b55a8c853c571146ccdbfe1-e5cc1c8937906b75-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;113770238. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B114076867?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c657252c-97cd-4f8c-949f-2e23b600933e",
        "traceresponse": "00-97fb3c95218aaab7a666bd6e44e3ed88-bf0935ac32fb0633-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;114076867. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin338994611?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "13aceb19-bf88-4f58-bf03-7fa9526593b8",
        "traceresponse": "00-ed4a2c7fd836e75e9ebe475f47b42f10-939d3b022a56e019-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin338994611. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin193732682?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b98ec87a-ea54-4b36-b63c-2184e5152b27",
        "traceresponse": "00-1b2d24129641e39bca7cfc5ee56dab08-cda6fac9518a0ee5-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin193732682. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin2043377857?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "58cebf95-97c8-4167-afae-48c1765ae123",
        "traceresponse": "00-987ea350ab2ae54c249bd58d9b48ca5c-9a368da22f473138-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin2043377857. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11342033\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;113770238\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;114076867\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;113770238\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "64fbf38f-bc4d-4a57-b552-b9814d34562b",
        "traceresponse": "00-fe3c189e859b976bfe265528cbb55328-95bc3715b9f3c3a2-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113461504",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5623424+00:00"
          },
          {
            "id": "dtmi:example:room;146003703",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.8961014+00:00"
          },
          {
            "id": "dtmi:example:floor;11342033",
            "description": {
              "en": "A building story."
            },
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:53:05.1826507+00:00"
          },
          {
            "id": "dtmi:example:room;113770238",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:53:05.1826835+00:00"
          },
          {
            "id": "dtmi:example:hvac;114076867",
            "description": {
              "en": "A heating, ventilation, and air conditioning unit."
            },
            "displayName": {
              "en": "HVAC"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:53:05.1826999+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin338994611?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11342033"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"19289615-7d2c-4ce2-935d-a16ab8036a9d\"",
        "mise-correlation-id": "c32af3f7-ae2e-4023-8723-ca14a51e568e",
        "traceresponse": "00-23e5e92f64bf32cf2158a5c900fd9868-c53049373da1e5a1-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin338994611",
        "$etag": "W/\"19289615-7d2c-4ce2-935d-a16ab8036a9d\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11342033",
          "$lastUpdateTime": "2025-05-02T18:53:05.3345180Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T18:53:05.3345180Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin193732682?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;113770238"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"403e0b37-7b8f-4fc9-bb6e-13f7bdb0dc84\"",
        "mise-correlation-id": "23b8d88c-6589-4450-b0aa-8971857160f7",
        "traceresponse": "00-863c58d1d727cd4115458a474a58a910-266a24d646dfd062-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin193732682",
        "$etag": "W/\"403e0b37-7b8f-4fc9-bb6e-13f7bdb0dc84\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;113770238",
          "$lastUpdateTime": "2025-05-02T18:53:05.4094619Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T18:53:05.4094619Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T18:53:05.4094619Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T18:53:05.4094619Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T18:53:05.4094619Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin2043377857?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;114076867"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e5ad445b-b36e-497a-9842-75ca8b8b808a\"",
        "mise-correlation-id": "e7e962ea-e83e-4d8b-bb8e-c88371dbdfb1",
        "traceresponse": "00-93e7a98b3d527de226e12443fc563955-17fb7f5d2a326262-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin2043377857",
        "$etag": "W/\"e5ad445b-b36e-497a-9842-75ca8b8b808a\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;114076867",
          "$lastUpdateTime": "2025-05-02T18:53:05.5101228Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T18:53:05.5101228Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T18:53:05.5101228Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin338994611/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin193732682",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"48957bec-7c32-4822-af5b-34ba579a15ec\"",
        "mise-correlation-id": "bbe41546-4f84-44e9-819d-1885b1aa034a",
        "traceresponse": "00-2109c837609ac96e929b33464d7ec7a8-3e22add633fac697-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"48957bec-7c32-4822-af5b-34ba579a15ec\"",
        "$sourceId": "floorTwin338994611",
        "$relationshipName": "contains",
        "$targetId": "roomTwin193732682",
        "isAccessRestricted": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11342033?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "93a15536-3105-415e-9b96-200ee2ec8723",
        "traceresponse": "00-adf4b51b5b5365d87ebe0966fcb0f9e7-7911bfed1ac9143f-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B113770238?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "58033c5c-f4b0-494b-91ac-ff28a56c8b35",
        "traceresponse": "00-89d2d428deda0e21cc889b85d0188a40-c98e286b29243aa0-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B114076867?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "91a6629f-337e-48b3-bad5-72311b4f0cff",
        "traceresponse": "00-c2d9896fcf71bbda7a4b2fa1024f6467-37558a43ac792fb8-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin2043377857?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "249f5e8a-41dc-4b94-a386-e9b49c72f3ac",
        "traceresponse": "00-0894a1e218c0802d566c0c056652add9-2026fcd14e290e46-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1505996755"
  }
}
