{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12100693?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7412e01e-94fd-4964-87b8-0a59067db0d4",
        "traceresponse": "00-d06f010bb7c8ae05ac81226a937644d9-5b9c54f82ca7af9b-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;12100693. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B157871302?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "48449810-dedf-4203-b03a-f0989b5b7f4a",
        "traceresponse": "00-2b4f63dd4556ab23ea313f88ab7976d3-e95a8d0ab523e688-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;157871302. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B197541799?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a30008e7-1c71-497f-a0f9-33b0a90505a3",
        "traceresponse": "00-b588039184138ec542f97bed2e293e09-29300bd477779c0e-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;197541799. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1243134389?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8f1c1a50-6c49-4021-821e-4eacbd8fca23",
        "traceresponse": "00-048d074c6b01f7e7481f9f12f4c7cdf9-6f9fb335ddcd2ae9-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1243134389. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin390691901?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e48380f-3154-436e-adea-781ab0e75c16",
        "traceresponse": "00-b3c11037c2d7ca9d6d8a71f58ee11c42-1897ce1046eff37f-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin390691901. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin678708677?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1084d7fb-d3c8-4ade-8535-e6f282c7556e",
        "traceresponse": "00-1917b50ad465452bd51993b48f448edf-834ec7e61763f680-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin678708677. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;12100693\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;157871302\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;197541799\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;157871302\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7ecf1ab2-e464-44ed-a7ca-9462b8ef6e06",
        "traceresponse": "00-0e24edbd2216d14b22d59814cc8e2fcb-5b0ac7e5ad83157f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;112647179",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2369336+00:00"
          },
          {
            "id": "dtmi:example:room;114878339",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2911565+00:00"
          },
          {
            "id": "dtmi:example:Ward;155584273",
            "description": {
              "en"[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1243134389?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;12100693"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b95aa863-e767-4261-8164-04f15dc68447\"",
        "mise-correlation-id": "902b1afb-9842-430e-9cd4-100f6114230e",
        "traceresponse": "00-a9beaf641f96b83afbe4845bbb0db545-a43494b367b78684-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1243134389",
        "$etag": "W/\"b95aa863-e767-4261-8164-04f15dc68447\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;12100693",
          "$lastUpdateTime": "2025-05-02T21:02:22.8733178Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T21:02:22.8733178Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin390691901?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;157871302"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"742d94d5-a7dc-4ff2-a42e-7873598ad5e8\"",
        "mise-correlation-id": "05f521d0-3b46-48ff-bb37-7fe6041d91dc",
        "traceresponse": "00-d12d2ab75d90fafc6a078f488f71efe7-d77f0b0f4eb15da8-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin390691901",
        "$etag": "W/\"742d94d5-a7dc-4ff2-a42e-7873598ad5e8\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;157871302",
          "$lastUpdateTime": "2025-05-02T21:02:22.9914058Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T21:02:22.9914058Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T21:02:22.9914058Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T21:02:22.9914058Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T21:02:22.9914058Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin678708677?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;197541799"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"631fe869-8f1c-4c0c-b234-80b8c386a4bc\"",
        "mise-correlation-id": "3c77a0be-066a-4ecc-975e-dfdb7c809644",
        "traceresponse": "00-4c3fd55c7b6ba94a13bd0020b4138063-eb40ba8891be747d-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin678708677",
        "$etag": "W/\"631fe869-8f1c-4c0c-b234-80b8c386a4bc\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;197541799",
          "$lastUpdateTime": "2025-05-02T21:02:23.1128590Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T21:02:23.1128590Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T21:02:23.1128590Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1243134389/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin390691901",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"7bf43db4-c13c-4941-8abc-62596f63cab5\"",
        "mise-correlation-id": "a70eb797-ff73-4fcb-8500-b854fb03b65f",
        "traceresponse": "00-7598653ebc6de458ae19c61cce60b54c-26ebafec11b309f8-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"7bf43db4-c13c-4941-8abc-62596f63cab5\"",
        "$sourceId": "floorTwin1243134389",
        "$relationshipName": "contains",
        "$targetId": "roomTwin390691901",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1243134389/relationships/FloorToHvacRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "hvacTwin678708677",
        "$sourceId": null,
        "$relationshipName": "cooledBy",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4c04ee99-8afe-49f6-9260-ec0f14072c2b\"",
        "mise-correlation-id": "34784b53-3c95-482a-8269-3475594114bb",
        "traceresponse": "00-f4e8b7c1ad681008027160e38b2a3457-350a03fa37a4219d-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToHvacRelationship",
        "$etag": "W/\"4c04ee99-8afe-49f6-9260-ec0f14072c2b\"",
        "$sourceId": "floorTwin1243134389",
        "$relationshipName": "cooledBy",
        "$targetId": "hvacTwin678708677"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin678708677/relationships/HvacToFloorRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin1243134389",
        "$sourceId": null,
        "$relationshipName": "cools",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"7028ee6d-b49e-4812-a50d-69040285f44e\"",
        "mise-correlation-id": "73185da8-d407-4d10-b7ec-8373d314d38c",
        "traceresponse": "00-77b5dcef70c77095f1cd1a964b652404-7f475c027f0374b9-01"
      },
      "ResponseBody": {
        "$relationshipId": "HvacToFloorRelationship",
        "$etag": "W/\"7028ee6d-b49e-4812-a50d-69040285f44e\"",
        "$sourceId": "hvacTwin678708677",
        "$relationshipName": "cools",
        "$targetId": "floorTwin1243134389"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin390691901/relationships/RoomToFloorRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin1243134389",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"812b3d7a-a5c6-4056-88a6-27559e50ae51\"",
        "mise-correlation-id": "2329b87a-a19a-4a10-975b-41afc0b4965f",
        "traceresponse": "00-b1719d15ee48b995e874c70042cb0ac9-6f6f4b1024428396-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship",
        "$etag": "W/\"812b3d7a-a5c6-4056-88a6-27559e50ae51\"",
        "$sourceId": "roomTwin390691901",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin1243134389"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1243134389/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/isAccessRestricted\",\"value\":false}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"f10f26c9-f4b8-4a8a-9962-24f60b736a57\"",
        "mise-correlation-id": "2517559c-013b-4c4e-a0f5-476ce026ee23",
        "traceresponse": "00-7d86c935651e5e1681bedce954e0f2fd-e8ee3afaf949e1b9-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1243134389/incomingrelationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c134845d-89d7-4f7d-8b30-e6e6a1494f8f",
        "traceresponse": "00-056529b4841d0ad9e3f3addcc030c240-c70682b7e55b2418-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "HvacToFloorRelationship",
            "$sourceId": "hvacTwin678708677",
            "$relationshipName": "cools",
            "$relationshipLink": "https://azsdknew14.api.eus2.digitaltwins.azure.net/digitaltwins/hvacTwin678708677/relationships/HvacToFloorRelationship?api-version=2023-10-31"
          },
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$sourceId": "roomTwin390691901",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://azsdknew14.api.eus2.digitaltwins.azure.net/digitaltwins/roomTwin390691901/relationships/RoomToFloorRelationship?api-version=2023-10-31"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1243134389/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d40cad83-9c6b-4414-9142-e1454423353e",
        "traceresponse": "00-21963e00870871221f80dc8f3bfdd25c-fe14ad3a51d3cdd0-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToHvacRelationship",
            "$etag": "W/\"4c04ee99-8afe-49f6-9260-ec0f14072c2b\"",
            "$sourceId": "floorTwin1243134389",
            "$relationshipName": "cooledBy",
            "$targetId": "hvacTwin678708677"
          },
          {
            "$relationshipId": "FloorToRoomRelationship",
            "$etag": "W/\"f10f26c9-f4b8-4a8a-9962-24f60b736a57\"",
            "$sourceId": "floorTwin1243134389",
            "$relationshipName": "contains",
            "$targetId": "roomTwin390691901",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin390691901/relationships?relationshipName=containedIn&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a9750859-c9b9-463c-8223-e1a563ef010c",
        "traceresponse": "00-02cccc7d2c96f7513af96838bf547584-9657e1ecc10d0b90-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$etag": "W/\"812b3d7a-a5c6-4056-88a6-27559e50ae51\"",
            "$sourceId": "roomTwin390691901",
            "$relationshipName": "containedIn",
            "$targetId": "floorTwin1243134389"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B197541799?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4a8549a7-3b2b-491f-9c94-48f3b11c66a9",
        "traceresponse": "00-69f751436b7003e1960dbb8ee6b4558d-2f1ef65091c712f5-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B12100693?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d9862f29-928d-47c4-b57b-9439e9da95a5",
        "traceresponse": "00-9c6381a8800119e0656380e8ea54fec0-1c6714e1fb806012-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B157871302?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d985b58e-61af-40d3-9325-db695319ffd9",
        "traceresponse": "00-b6f06f44337f6b23e999ab779291372a-20e30e08e76c1c4f-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "635334811"
  }
}
