{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11458798?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f26cd3da-eb9a-41f6-bb89-824525913de9",
        "traceresponse": "00-a0bfa48c780010ca5d5c245f5809b35b-97e7c8e08d8817b3-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11458798. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B199090128?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ecadee47-da2f-4f40-aefe-ab6ae71f9895",
        "traceresponse": "00-34129d495789ef1331edd620779e31d3-4d356b9c3dabf678-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;199090128. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B113461504?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2cc68ce0-cbdf-42ec-b786-eca14182ba9c",
        "traceresponse": "00-93cdbd70b15243e9578a3d36bea1e0d0-f087b21030942bb4-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;113461504. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin460037034?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8b456f89-371b-4f13-933e-13aca3e7f64f",
        "traceresponse": "00-056cbe545f6f690335dfd54c9fa8208f-0c05aa815d7432a2-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin460037034. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin702106012?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "948fd79a-7390-495a-a837-c0f14d5a623e",
        "traceresponse": "00-c230d603f87b78c5d3025a1f1a068c55-f7bb875123c56d87-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin702106012. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1643998897?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4e379215-40be-4152-ae89-341c5e40275f",
        "traceresponse": "00-884184d29108dacac21c5325805e62fa-e13285c4479c9c26-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1643998897. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11458798\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;199090128\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;113461504\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;199090128\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bee60eed-2954-4955-8844-ec928b6ebfa2",
        "traceresponse": "00-8165d2adea57ddbee8e674d31a40ae4b-d2da748c16c77870-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113461504",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5623424+00:00"
          },
          {
            "id": "dtmi:example:wifi;114587986",
            "description": {},
            "displayName": {
              "en": "Wifi"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5952376+00:00"
          },
          {
            "id": "dtmi:example:room;146003703",
            "description": {
              "en": "An enclosure inside a building."
            },
            "dis[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin460037034?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11458798"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e959ef3e-9d25-42ce-a1f8-ddd6d2159e24\"",
        "mise-correlation-id": "320b4f43-18ac-457e-b69e-112a92b1544a",
        "traceresponse": "00-3e176cc872a1c8bcdb20b01ce011666b-a55acaaa189ca195-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin460037034",
        "$etag": "W/\"e959ef3e-9d25-42ce-a1f8-ddd6d2159e24\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11458798",
          "$lastUpdateTime": "2025-05-02T18:52:25.8180827Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T18:52:25.8180827Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin702106012?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;199090128"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"9a3deaa6-14f5-40f0-8d0c-890f5d01191d\"",
        "mise-correlation-id": "88c9661f-9deb-4c42-805b-a6e33ba43745",
        "traceresponse": "00-066e1a1235125a4338499b74832b4b39-0b74fa2ade1021d4-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin702106012",
        "$etag": "W/\"9a3deaa6-14f5-40f0-8d0c-890f5d01191d\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;199090128",
          "$lastUpdateTime": "2025-05-02T18:52:25.9021557Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T18:52:25.9021557Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T18:52:25.9021557Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T18:52:25.9021557Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T18:52:25.9021557Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1643998897?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;113461504"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"95d8e10c-b74a-49e8-bc9e-0b894cd26c19\"",
        "mise-correlation-id": "4e726f25-14e1-4da8-bed9-232525b3385f",
        "traceresponse": "00-b5636d91e85d82af57791279cc1ae70f-dab7a6f7be391382-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1643998897",
        "$etag": "W/\"95d8e10c-b74a-49e8-bc9e-0b894cd26c19\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;113461504",
          "$lastUpdateTime": "2025-05-02T18:52:25.9917208Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T18:52:25.9917208Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T18:52:25.9917208Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin460037034/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin702106012",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"f001ef83-3fe6-4b08-a8ba-39e1f0e4ea5e\"",
        "mise-correlation-id": "674ad955-bacc-42ef-9d40-ca6c48fd2b00",
        "traceresponse": "00-ba4a1d1d89d5f15376af7c90c4f31157-a0efec791b512423-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"f001ef83-3fe6-4b08-a8ba-39e1f0e4ea5e\"",
        "$sourceId": "floorTwin460037034",
        "$relationshipName": "contains",
        "$targetId": "roomTwin702106012",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin460037034/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin702106012",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "acc4a702-076f-419b-842c-145d3082fcf9",
        "traceresponse": "00-3b8a3f3423758709b919e34cb0a8caad-e1ac3aff0c36eaa2-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a relationship with the id FloorToRoomRelationship was found. Please specify a different relationship id."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B113461504?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "bdbba388-f633-456d-8964-7646cd2f7c48",
        "traceresponse": "00-54fb3ea1a2de43760fc9d4f21d2f9094-38ce661db41f6a06-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11458798?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8cbff401-c765-43cc-98cf-bfa37b8203fb",
        "traceresponse": "00-633c5792f8f27c126d35c771dcf3a0f5-a240d50006022c6d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B199090128?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "3bb0fb47-3fb7-4667-aa4f-5724cb47012b",
        "traceresponse": "00-a96ff62ac9e63453bc08ad2921ab633c-3555bdd5a79eb070-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "265361542"
  }
}
