{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11352004?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7c01c054-edd4-428e-8094-09a6bb14a4d1",
        "traceresponse": "00-b2790a87c884e9e31bbecadb559e0b3f-a349c4d44f450ff0-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11352004. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B111982911?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "06faf086-e856-488a-95d4-d474d7bdded8",
        "traceresponse": "00-b665dc8a5c35964c9614f26a66852b3b-56c3a6510d6c60c2-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;111982911. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B117740421?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3681a46c-e345-4222-b607-216ee6504b69",
        "traceresponse": "00-1d4f38cc56fccb0eed79096171666f23-00e5b17d28833873-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;117740421. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin391268969?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1aff9c21-d70c-4b36-a28c-7e31f089151f",
        "traceresponse": "00-9ffb2b079d02b4dff90e75e2cce3b25b-4c46fecfa72596b9-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin391268969. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1860536296?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f82b5af5-e46e-4afb-b5b3-9c8dc6330d96",
        "traceresponse": "00-9ef849a2f815fe9e8c279a57b7555aad-46ff6366bc19e721-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1860536296. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1692813146?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9b8bb84f-8281-4dc6-bd7f-28f56b42e2e7",
        "traceresponse": "00-c29cceb283bfd39a9cdcb7699b612ed8-eebf566b4a2e2f45-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin1692813146. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:floor;11352004\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022@context\u0022: \u0022dtmi:dtdl:context;2\u0022,    \u0022displayName\u0022: \u0022Floor\u0022,    \u0022[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a733a8cd-9aaa-45a2-aa36-f684ef689a70",
        "traceresponse": "00-1dac6027475e46296bad4844a3b07696-48c22e1532d9185a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin391268969?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11352004"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229d9d54ea-5ce2-43fa-8a53-e6716f4be32f\u0022",
        "mise-correlation-id": "6554e99a-07e3-4b0c-b75a-61a0604bb7e8",
        "traceresponse": "00-936caf66835cad7feb0a93e823f9a717-43e475c59b8fc8fa-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin391268969",
        "$etag": "W/\u00229d9d54ea-5ce2-43fa-8a53-e6716f4be32f\u0022",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11352004",
          "$lastUpdateTime": "2023-08-02T17:58:05.5699662Z",
          "AverageTemperature": {
            "lastUpdateTime": "2023-08-02T17:58:05.5699662Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1860536296?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;111982911"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00228aef38c2-9971-48d2-ab40-7c29c640e754\u0022",
        "mise-correlation-id": "8da0cb52-cd1b-4a5c-916c-4284e898b5e5",
        "traceresponse": "00-c0d43cc6b2b0a0adfcffb2faff35e919-1ab54b0ab2215ad1-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1860536296",
        "$etag": "W/\u00228aef38c2-9971-48d2-ab40-7c29c640e754\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;111982911",
          "$lastUpdateTime": "2023-08-02T17:58:05.7540907Z",
          "Temperature": {
            "lastUpdateTime": "2023-08-02T17:58:05.7540907Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-08-02T17:58:05.7540907Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-08-02T17:58:05.7540907Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-08-02T17:58:05.7540907Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1692813146?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;117740421"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022da716e02-12b8-4c41-afd3-b83a069540a1\u0022",
        "mise-correlation-id": "28b95af2-0f08-49de-8683-5b9ac1db8098",
        "traceresponse": "00-926ee36e3eb80c38b6449aa37bce67d1-7d03c3eb36a6863b-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin1692813146",
        "$etag": "W/\u0022da716e02-12b8-4c41-afd3-b83a069540a1\u0022",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;117740421",
          "$lastUpdateTime": "2023-08-02T17:58:05.9339372Z",
          "TargetTemperature": {
            "lastUpdateTime": "2023-08-02T17:58:05.9339372Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2023-08-02T17:58:05.9339372Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin391268969/relationships/FloorToRoomRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1860536296",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a84dc14a-2ea5-47af-a626-a7ca05bdb0bb\u0022",
        "mise-correlation-id": "4ce88d58-308e-4c7a-ad6b-f634304907a5",
        "traceresponse": "00-f8fcd7445e51d6550210c08b16cd2016-02a01fd996f09f9f-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\u0022a84dc14a-2ea5-47af-a626-a7ca05bdb0bb\u0022",
        "$sourceId": "floorTwin391268969",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1860536296",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin391268969/relationships/FloorToHvacRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "hvacTwin1692813146",
        "$sourceId": null,
        "$relationshipName": "cooledBy",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00228ab28ff1-2dd7-402a-b94c-aacc65de69fe\u0022",
        "mise-correlation-id": "6c5f4af0-703b-440e-b333-c86e80ef6c46",
        "traceresponse": "00-43072d23ffb2b29f8d369a315e639771-17c4213f1349d217-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToHvacRelationship",
        "$etag": "W/\u00228ab28ff1-2dd7-402a-b94c-aacc65de69fe\u0022",
        "$sourceId": "floorTwin391268969",
        "$relationshipName": "cooledBy",
        "$targetId": "hvacTwin1692813146"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin1692813146/relationships/HvacToFloorRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin391268969",
        "$sourceId": null,
        "$relationshipName": "cools",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f1d957d5-5803-42a9-b5fe-b27aaec5ebf5\u0022",
        "mise-correlation-id": "c3cb480e-72a9-4060-93db-26ddb6d282c9",
        "traceresponse": "00-212794e2d2be621ab77e95cb2a6861e0-8dca9780ba98272a-01"
      },
      "ResponseBody": {
        "$relationshipId": "HvacToFloorRelationship",
        "$etag": "W/\u0022f1d957d5-5803-42a9-b5fe-b27aaec5ebf5\u0022",
        "$sourceId": "hvacTwin1692813146",
        "$relationshipName": "cools",
        "$targetId": "floorTwin391268969"
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1860536296/relationships/RoomToFloorRelationship?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "floorTwin391268969",
        "$sourceId": null,
        "$relationshipName": "containedIn",
        "$etag": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223d00c4fb-8494-4dbf-a1f4-24fa0b2fd0e4\u0022",
        "mise-correlation-id": "d91ba801-4982-4572-bc19-0f78bd257110",
        "traceresponse": "00-384580a73a3f058fed41a84c70885c79-24ca3a71164d45e6-01"
      },
      "ResponseBody": {
        "$relationshipId": "RoomToFloorRelationship",
        "$etag": "W/\u00223d00c4fb-8494-4dbf-a1f4-24fa0b2fd0e4\u0022",
        "$sourceId": "roomTwin1860536296",
        "$relationshipName": "containedIn",
        "$targetId": "floorTwin391268969"
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin391268969/incomingrelationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cb2a79f9-eebf-4ad9-b785-59fd213df65c",
        "traceresponse": "00-88843456bd80f69775cb96b4027cd1a0-46a0b4a122dce249-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "HvacToFloorRelationship",
            "$sourceId": "hvacTwin1692813146",
            "$relationshipName": "cools",
            "$relationshipLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/hvacTwin1692813146/relationships/HvacToFloorRelationship?api-version=2023-06-30"
          },
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$sourceId": "roomTwin1860536296",
            "$relationshipName": "containedIn",
            "$relationshipLink": "https://importjobgatest.api.neu.pp.azuredigitaltwins-ppe.net/digitaltwins/roomTwin1860536296/relationships/RoomToFloorRelationship?api-version=2023-06-30"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin391268969/relationships?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f33ced78-480c-4d29-98cd-d09a88c9edb0",
        "traceresponse": "00-1f7be5e1fcd76c25cf8d6692231013db-5152175e8cff3621-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "FloorToHvacRelationship",
            "$etag": "W/\u00228ab28ff1-2dd7-402a-b94c-aacc65de69fe\u0022",
            "$sourceId": "floorTwin391268969",
            "$relationshipName": "cooledBy",
            "$targetId": "hvacTwin1692813146"
          },
          {
            "$relationshipId": "FloorToRoomRelationship",
            "$etag": "W/\u0022d8425d9b-0405-44af-9819-aad7ad42fb3d\u0022",
            "$sourceId": "floorTwin391268969",
            "$relationshipName": "contains",
            "$targetId": "roomTwin1860536296",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1860536296/relationships?relationshipName=containedIn\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e3c615e-dfbc-450c-a797-319c7f17e98a",
        "traceresponse": "00-e42223633245ff6362629ed7fd06e90b-64a8a2560965f5a9-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "RoomToFloorRelationship",
            "$etag": "W/\u00223d00c4fb-8494-4dbf-a1f4-24fa0b2fd0e4\u0022",
            "$sourceId": "roomTwin1860536296",
            "$relationshipName": "containedIn",
            "$targetId": "floorTwin391268969"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B117740421?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f74beba7-f43c-4e1d-9152-61e03660fda9",
        "traceresponse": "00-039b60433dc265d7c3296222af65c122-75b2b07d67d1ade4-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11352004?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "78f68aa9-e0e5-4749-83c1-a26ef131a347",
        "traceresponse": "00-b303e6d3e589969ffa68cb7cfb771b2b-b602975b983440f2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B111982911?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a0f50d6c-9583-4d54-bcd6-ee01ad051331",
        "traceresponse": "00-e389221f3e23cd9c1644c2d4881f3393-41a420c3adea184b-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "774025762"
  }
}
