{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11306476?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "be93b6de-d247-44f5-8871-860cba6b2ab9",
        "traceresponse": "00-0e9f283fc686735b0d19fc5cb23d07d4-0a21e1bf1e7b46cd-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11306476. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B112148260?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "359e657e-e925-42d7-a65d-b25e6ec47daa",
        "traceresponse": "00-e4c656c91e7d3f97b3246e80cf67eb17-95a1b3d2ceb9ea01-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;112148260. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/dtmi%3Aexample%3Ahvac%3B138892449?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e56e297-963b-49b4-9986-7fb7c577f489",
        "traceresponse": "00-344695fb86a49301e290c78f148dbe70-f74317e09ac7aa9a-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID dtmi:example:hvac;138892449. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1312071612?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "549c2490-53ee-40b7-a131-61ceb0cc7b12",
        "traceresponse": "00-81281c5c90b47f775c9f5bd06a6ee4fa-6811eb85698e2d4b-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID floorTwin1312071612. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1729099223?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa1ad98c-c88b-479f-b942-e28f0fa2ee59",
        "traceresponse": "00-2b551055a936fda9e4561ed748ee8f6c-6c38b6840645bee4-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1729099223. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin798125039?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "170217e5-1dd3-4ad2-92f6-2cf0b210b9b1",
        "traceresponse": "00-622f27df6d82989650c72f3ac5b0f89e-daede46680ad3b25-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID hvacTwin798125039. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:floor;11306476\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Floor\",    \"description\": \"A building story.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"contains\",            \"target\": \"dtmi:example:room;112148260\",            \"properties\": [                {                    \"@type\": \"Property\",                    \"name\": \"isAccessRestricted\",                    \"schema\": \"boolean\"                }            ]        },        {            \"@type\": \"Relationship\",            \"name\": \"cooledBy\",            \"target\": \"dtmi:example:hvac;138892449\"        },        {            \"@type\": \"Property\",            \"name\": \"AverageTemperature\",            \"schema\": \"double\"        }    ]},{    \"@id\": \"dtmi:example:room;112148260\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2524e2a6-7208-4c01-8928-c6a76a683029",
        "traceresponse": "00-60d7d7480a404b5086bac29fe8f3942d-0a1297c70cb68864-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;112647179",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2369336+00:00"
          },
          {
            "id": "dtmi:example:room;114878339",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2911565+00:00"
          },
          {
            "id": "dtmi:example:Ward;155584273",
            "description": {
              "en"[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1312071612?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11306476"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d2f10d58-a936-48ad-8507-51115c2b3676\"",
        "mise-correlation-id": "a9394345-6f46-4b3e-8f5f-3bd1dea27460",
        "traceresponse": "00-fe39e3691e43a905cac8ca905ec97908-6a20acaecb7ad8d3-01"
      },
      "ResponseBody": {
        "$dtId": "floorTwin1312071612",
        "$etag": "W/\"d2f10d58-a936-48ad-8507-51115c2b3676\"",
        "AverageTemperature": 75,
        "$metadata": {
          "$model": "dtmi:example:floor;11306476",
          "$lastUpdateTime": "2025-05-02T21:03:08.0375874Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-02T21:03:08.0375874Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1729099223?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;112148260"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"a35d866f-79b1-48e3-8564-0443b61a73d1\"",
        "mise-correlation-id": "9466635c-e25e-49b4-8480-2faf0e4404c8",
        "traceresponse": "00-2ac8ac57938f6422be340d48e9f39809-c67f8160f2bd8ccf-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1729099223",
        "$etag": "W/\"a35d866f-79b1-48e3-8564-0443b61a73d1\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;112148260",
          "$lastUpdateTime": "2025-05-02T21:03:08.1361636Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T21:03:08.1361636Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T21:03:08.1361636Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T21:03:08.1361636Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T21:03:08.1361636Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin798125039?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;138892449"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d32ec7eb-42c3-4c62-831e-b575decd6146\"",
        "mise-correlation-id": "7fd7ae46-bf59-4502-a557-9ce3213c4ac7",
        "traceresponse": "00-a9fea07696f58c03ebd31fffd8182738-9c916d035cd452c5-01"
      },
      "ResponseBody": {
        "$dtId": "hvacTwin798125039",
        "$etag": "W/\"d32ec7eb-42c3-4c62-831e-b575decd6146\"",
        "TargetTemperature": 80,
        "TargetHumidity": 25,
        "$metadata": {
          "$model": "dtmi:example:hvac;138892449",
          "$lastUpdateTime": "2025-05-02T21:03:08.2006408Z",
          "TargetTemperature": {
            "lastUpdateTime": "2025-05-02T21:03:08.2006408Z"
          },
          "TargetHumidity": {
            "lastUpdateTime": "2025-05-02T21:03:08.2006408Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1312071612/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": null,
        "$targetId": "roomTwin1729099223",
        "$sourceId": null,
        "$relationshipName": "contains",
        "$etag": null,
        "isAccessRestricted": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e2ac583a-108d-4c89-8889-f6aec2a2e088\"",
        "mise-correlation-id": "ba2f6fc1-274c-4d01-bf2a-d9521c62071d",
        "traceresponse": "00-f34adbddde816f805e456a227d5ee067-53a64ba7c6364764-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorToRoomRelationship",
        "$etag": "W/\"e2ac583a-108d-4c89-8889-f6aec2a2e088\"",
        "$sourceId": "floorTwin1312071612",
        "$relationshipName": "contains",
        "$targetId": "roomTwin1729099223",
        "isAccessRestricted": true
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1312071612/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/isAccessRestricted\",\"value\":false}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"cf786081-e868-4b20-b25c-502d14c760e5\"",
        "mise-correlation-id": "b330b057-748f-4d82-b029-59eba168e5db",
        "traceresponse": "00-539f80953e6d27d9f06c728bc30ee6b5-6cba753443d0e303-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/floorTwin1312071612/relationships/FloorToRoomRelationship?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json",
        "If-Match": "W/\"e2ac583a-108d-4c89-8889-f6aec2a2e088\""
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/isAccessRestricted\",\"value\":true}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "74f0522e-d3bd-45ed-af5d-aafb3c23b97d",
        "traceresponse": "00-e19243ed8888eb229fe6a8fa6ffa5ab7-192e72c4161a7d14-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\"e2ac583a-108d-4c89-8889-f6aec2a2e088\" doesn't match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B112148260?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "629a9113-f02f-49b6-996a-c7ec33c90fe3",
        "traceresponse": "00-ffaa3dcfbdc0decf858277c8f719664d-d2cd87c466a6f493-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11306476?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4cbe3a41-9701-4fc8-aa0c-469c1f4e3ef4",
        "traceresponse": "00-14b2acd01f95f0413f3658062ba58e6f-6885adeb3c192c81-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Ahvac%3B138892449?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "cc0a506a-3372-452b-9f10-f7fde9c085d3",
        "traceresponse": "00-8798f3e02751319901b906e80c51b07d-68912973e4e46a33-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/hvacTwin798125039?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f1ae1241-5b96-483a-9068-2ee9a34af6c7",
        "traceresponse": "00-1fef317ef05eb87fd093e38b7f4faa51-9b0f17975ba848f4-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "532627850"
  }
}
