{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/?sv=Sanitized&ss=btqf&srt=sco&se=sanitizedexpiry&sp=wd&sig=sanitizedsig&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:a2e8ada8-501e-001d-25dc-b4f55c000000\n",
        "Time:2026-03-16T00:32:52.1761736Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-03-16T00:32:51.771Z"
  }
}
