{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem177257071534902817?ses=test2&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-default-encryption-scope": "test2",
        "x-ms-deny-encryption-scope-override": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7965C6BFDB45\"",
        "Last-Modified": "Tue, 03 Mar 2026 20:45:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem177257071534902817?ses=test2&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "filesystem": "filesystem177257071534902817",
    "tmr": "2026-03-03T20:45:15.347Z"
  }
}
