{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617465903609563?ses=test2&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-default-encryption-scope": "test2",
        "x-ms-deny-encryption-scope-override": "true",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC787A78F4CD41\"",
        "Last-Modified": "Mon, 20 May 2024 03:10:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171617465903609563?ses=test2&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "filesystem": "filesystem171617465903609563",
    "tmr": "2024-05-20T03:10:59.035Z"
  }
}
