{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177362132701900902?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-default-encryption-scope": "fakeencryptionscope1",
        "x-ms-deny-encryption-scope-override": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82F3EB6D3071\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:35:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177362132701900902/directory177362132710000034?sv=Sanitized&se=sanitizedexpiry&ses=sanitizedses&sr=d&sp=racwdlmeop&sig=sanitizedsig&sdd=1&resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82F3EB7B5C48\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:35:27 GMT",
        "x-ms-encryption-scope": "fakeencryptionscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177362132701900902/directory177362132710000034?sv=Sanitized&se=sanitizedexpiry&ses=sanitizedses&sr=d&sp=racwdlmeop&sig=sanitizedsig&sdd=1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE82F3EB7B5C48\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:35:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Mar 2026 00:35:27 GMT",
        "x-ms-encryption-scope": "fakeencryptionscope1",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory177362132710000034",
    "filesystem": "filesystem177362132701900902",
    "tmr": "2026-03-16T00:35:27.100Z"
  }
}
