{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176783196407805876?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-default-encryption-scope": "fakeencryptionscope1",
        "x-ms-deny-encryption-scope-override": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4C81B0CF6F\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:26:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176783196407805876/file176783196420705006?sv=Sanitized&se=sanitizedexpiry&ses=sanitizedses&sr=b&sp=racwdmeop&sig=sanitizedsig&resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4C81C1C234\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:26:03 GMT",
        "x-ms-encryption-scope": "fakeencryptionscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176783196407805876/file176783196420705006?sv=Sanitized&se=sanitizedexpiry&ses=sanitizedses&sr=b&sp=racwdmeop&sig=sanitizedsig",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE4E4C81C1C234\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:26:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 08 Jan 2026 00:26:03 GMT",
        "x-ms-encryption-scope": "fakeencryptionscope1",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file176783196420705006",
    "filesystem": "filesystem176783196407805876",
    "tmr": "2026-01-08T00:26:04.207Z"
  }
}
