{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:0f2b74ec-701e-004d-684e-ab6217000000\n",
        "Time:2026-03-03T20:45:17.4207197Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-03-03T20:45:16.150Z"
  }
}
