{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.AppComplianceAutomation/reports?api-version=2024-06-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "mise-correlation-id": "8a43d13f-3fe0-42d8-b723-4b7a08af6526",
        "x-ms-failure-cause": "service",
        "X-ms-Operation-Id": "c831e75b8b1059c45a7f26d428748e69",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11990"
      },
      "ResponseBody": {
        "error": {
          "code": "invalid_access_token",
          "message": "Invalid access token"
        }
      }
    }
  ],
  "Variables": {}
}
