{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=cs&from=es&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"Hola mundo\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "10",
        "X-MT-System": "Microsoft",
        "X-RequestId": "d278c2f1-f5fd-4836-9953-4629c4ffd05a.USW2.0501T2311"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"Ahoj světe\",\"to\":\"cs\"}]}]"
    }
  ],
  "Variables": {}
}
