{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "<span class=notranslate>今天是怎么回事是</span>非常可怕的",
            "targets": [
              {
                "language": "en"
              }
            ],
            "language": "zh-chs",
            "textType": "Html"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "sourcecharacterscharged": "44",
        "x-mt-system": "Microsoft",
        "x-requestid": "66defbf6-66b9-4196-a9ec-4210207ab0fa.USW2.1208T0500"
      },
      "ResponseBody": {
        "value": [
          {
            "translations": [
              {
                "language": "en",
                "text": "<span class=notranslate>今天是怎么回事是</span>Very scary",
                "sourceCharacters": 44
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
