{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "<html><body>This <b>is</b> a test.</body></html>",
            "targets": [
              {
                "language": "cs"
              }
            ],
            "textType": "Html"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "sourcecharacterscharged": "48",
        "x-mt-system": "Microsoft",
        "x-requestid": "b9fb9225-5d05-4faf-80f0-0b5a27f9cfda.USW2.1114T2202"
      },
      "ResponseBody": {
        "value": [
          {
            "detectedLanguage": {
              "language": "en",
              "score": 1.0
            },
            "translations": [
              {
                "language": "cs",
                "text": "<html><body>Toto <b>je</b> test.</body></html>",
                "sourceCharacters": 48
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
