{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "hudha akhtabar.",
            "targets": [
              {
                "language": "zh-Hans",
                "script": "Latn"
              }
            ],
            "language": "ar",
            "script": "Latn"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "sourcecharacterscharged": "15",
        "x-mt-system": "Microsoft",
        "x-requestid": "67ba37a2-4abe-46a0-a84d-f3a7f6fdbbaa.USW2.1114T2202"
      },
      "ResponseBody": {
        "value": [
          {
            "translations": [
              {
                "language": "zh-Hans",
                "script": "Latn",
                "text": "zhè shìgè cèshì。",
                "sourceCharacters": 15
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
