{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?to=cs&to=es&to=de&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"This is a test.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "45",
        "X-MT-System": "Microsoft,Microsoft,Microsoft",
        "X-RequestId": "52bf7dc2-3b6d-4923-b23d-56789ce2abdf.USW2.1015T0100"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"Tohle je test.\",\"to\":\"cs\"},{\"text\":\"Esto es una prueba.\",\"to\":\"es\"},{\"text\":\"Dies ist ein Test.\",\"to\":\"de\"}]}]"
    }
  ],
  "Variables": {}
}
