{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?to=cs&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"This is a test.\"}, {\"text\": \"Esto es una prueba.\"}, {\"text\": \"Dies ist ein Test.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "52",
        "X-MT-System": "Microsoft,Microsoft,Microsoft",
        "X-RequestId": "13f6b68e-7c6d-42bb-8d09-f22f8010392f.USW2.1015T0100"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"Tohle je test.\",\"to\":\"cs\"}]},{\"detectedLanguage\":{\"language\":\"es\",\"score\":1.0},\"translations\":[{\"text\":\"Tohle je test.\",\"to\":\"cs\"}]},{\"detectedLanguage\":{\"language\":\"de\",\"score\":1.0},\"translations\":[{\"text\":\"Tohle je test.\",\"to\":\"cs\"}]}]"
    }
  ],
  "Variables": {}
}
