{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?language=zh-Hans&script=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"zh\\u00e8 sh\\u00ec g\\u00e8 c\\u00e8 sh\\u00ec\\u3002\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "a73ca4a0-0b23-453a-ba3d-55b5a460f3c5.USW2.0501T2310"
      },
      "ResponseBody": "[{\"sentLen\":[18]}]"
    }
  ],
  "Variables": {}
}
