{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=es&from=en&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"The word < mstrans:dictionary translation =\\\"wordomatic\\\">wordomatic</mstrans:dictionary> is a dictionary entry.\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "110",
        "X-MT-System": "Microsoft",
        "X-RequestId": "8f3cf77a-69df-4abe-b337-d6bda6deb6db.USW2.0501T2312"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"La palabra < mstrans:dictionary translation =\\\"wordomatic\\\">wordomatic</mstrans:dictionary> es una entrada de diccionario.\",\"to\":\"Sanitized\"}]}]"
    }
  ],
  "Variables": {}
}
