{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022: \u0022Hello world\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "e8356d43-7482-48dd-8a65-29be01a2d918.USW2.0321T1714"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:0.98},\u0022sentLen\u0022:[11]}]"
    }
  ],
  "Variables": {}
}
