{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?to=en&from=zh-chs&textType=Html&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"<span class=notranslate>\\u4eca\\u5929\\u662f\\u600e\\u4e48\\u56de\\u4e8b\\u662f</span>\\u975e\\u5e38\\u53ef\\u6015\\u7684\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "44",
        "X-MT-System": "Microsoft",
        "X-RequestId": "33b39afa-bb22-4c74-8c4b-02da6c970975.USW2.1015T0100"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"<span class=notranslate>今天是怎么回事是</span>Very scary\",\"to\":\"en\"}]}]"
    }
  ],
  "Variables": {}
}
