{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/transliterate?language=zh-Hans&fromScript=Hans&toScript=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"\\u8fd9\\u91cc\\u600e\\u4e48\\u4e00\\u56de\\u4e8b?\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "8",
        "X-MT-System": "Microsoft",
        "X-RequestId": "396283ec-d621-400a-b99a-10e026dd3736.USW2.0501T2313"
      },
      "ResponseBody": "[{\"text\":\"zhèlǐ zěnme yìhuíshì?\",\"script\":\"Latn\"}]"
    }
  ],
  "Variables": {}
}
