{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=cs&from=es&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"Hola mundo\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "10",
        "X-MT-System": "Microsoft",
        "X-RequestId": "57fc97fd-a380-4a22-b561-48984728f332.USW2.0501T2312"
      },
      "ResponseBody": "[{\"translations\":[{\"text\":\"Ahoj světe\",\"to\":\"cs\"}]}]"
    }
  ],
  "Variables": {}
}
