{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/text/v3.0/translate?to=fr&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"It is a beautiful morning\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "25",
        "x-ms-region": "West US",
        "X-MT-System": "Microsoft",
        "X-RequestId": "a7277589-4e72-4e9e-a465-501e25f31643.USW2.1015T0100"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":1.0},\"translations\":[{\"text\":\"C’est une belle matinée\",\"to\":\"fr\"}]}]"
    }
  ],
  "Variables": {}
}
