{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "Hola mundo",
            "targets": [
              {
                "language": "cs"
              }
            ],
            "language": "es"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "sourcecharacterscharged": "10",
        "x-mt-system": "Microsoft",
        "x-requestid": "314515ff-dd17-46a7-8c24-a1437684fa3a.USW2.1114T2202"
      },
      "ResponseBody": {
        "value": [
          {
            "translations": [
              {
                "language": "cs",
                "text": "Ahoj světe",
                "sourceCharacters": 10
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
