{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/transliterate?language=hi&fromScript=Deva&toScript=Latn&api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "यहएककसौटीहैयहएककसौटीहै"
          },
          {
            "text": "यहएककसौटीहै"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-metered-usage": "33",
        "x-mt-system": "Microsoft",
        "x-requestid": "b1940b62-f58f-46c0-b254-beecc8c7e148.USW2.1114T2202"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "yheckasoutihaichetyhai",
            "script": "Latn"
          },
          {
            "text": "yahekakasautihai",
            "script": "Latn"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
