{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=cs\u0026includeAlignment=true\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022: \u0022It is a beautiful morning\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "25",
        "X-MT-System": "Microsoft",
        "X-RequestId": "a4ff6de7-9550-465d-b03d-d2d7492532b0.USW2.0321T1905"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:1.0},\u0022translations\u0022:[{\u0022text\u0022:\u0022Je kr\u00E1sn\u00E9 r\u00E1no\u0022,\u0022to\u0022:\u0022cs\u0022,\u0022alignment\u0022:{\u0022proj\u0022:\u00220:1-0:1 8:16-3:8 18:24-10:13\u0022}}]}]"
    }
  ],
  "Variables": {}
}
