{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=en\u0026from=zh-chs\u0026textType=Html\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022: \u0022\u003Cspan class=notranslate\u003E\\u4eca\\u5929\\u662f\\u600e\\u4e48\\u56de\\u4e8b\\u662f\u003C/span\u003E\\u975e\\u5e38\\u53ef\\u6015\\u7684\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "44",
        "X-MT-System": "Microsoft",
        "X-RequestId": "ba675570-714c-47e2-8fee-e0dd9de43643.USW2.0321T1714"
      },
      "ResponseBody": "[{\u0022translations\u0022:[{\u0022text\u0022:\u0022\u003Cspan class=notranslate\u003E\u4ECA\u5929\u662F\u600E\u4E48\u56DE\u4E8B\u662F\u003C/span\u003EVery scary\u0022,\u0022to\u0022:\u0022en\u0022}]}]"
    }
  ],
  "Variables": {}
}
