{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"hello world\"}, {\"text\": \"\\u0627\\u0644\\u0639\\u0627\\u0644\\u0645 \\u0647\\u0648 \\u0645\\u0643\\u0627\\u0646 \\u0645\\u062b\\u064a\\u0631 \\u062c\\u062f\\u0627 \\u0644\\u0644\\u0627\\u0647\\u062a\\u0645\\u0627\\u0645\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "9f93bfd6-e3e2-45b1-a264-4189a28f1ecc.USW2.0501T2310"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":0.98},\"sentLen\":[11]},{\"detectedLanguage\":{\"language\":\"ar\",\"score\":1.0},\"sentLen\":[32]}]"
    }
  ],
  "Variables": {}
}
