{
  "Entries": [
    {
      "RequestUri": "https://fakeCustomEndpoint.cognitiveservices.azure.com/translator/text/v3.0/translate?to=fr\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022: \u0022It is a beautiful morning\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "25",
        "x-ms-region": "Central US",
        "X-MT-System": "Microsoft",
        "X-RequestId": "a2bb392d-db95-424a-afb7-2c25053cc618.USW2.0321T1905"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:1.0},\u0022translations\u0022:[{\u0022text\u0022:\u0022C\u2019est une belle matin\u00E9e\u0022,\u0022to\u0022:\u0022fr\u0022}]}]"
    }
  ],
  "Variables": {}
}
