{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/translate?api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "Shit this is fucking crazy",
            "targets": [
              {
                "language": "zh-cn",
                "profanityAction": "Marked",
                "profanityMarker": "Asterisk"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "sourcecharacterscharged": "26",
        "x-mt-system": "Microsoft",
        "x-requestid": "4a894641-e551-480a-a8ca-4046b4fa3418.USW2.1208T0500"
      },
      "ResponseBody": {
        "value": [
          {
            "detectedLanguage": {
              "language": "en",
              "score": 0.77
            },
            "translations": [
              {
                "language": "zh-Hans",
                "text": "***，这真他妈疯狂",
                "sourceCharacters": 26
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
