{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/transliterate?language=hi&fromScript=Deva&toScript=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"\\u092f\\u0939\\u090f\\u0915\\u0915\\u0938\\u094c\\u091f\\u0940\\u0939\\u0948\\u092f\\u0939\\u090f\\u0915\\u0915\\u0938\\u094c\\u091f\\u0940\\u0939\\u0948\"}, {\"text\": \"\\u092f\\u0939\\u090f\\u0915\\u0915\\u0938\\u094c\\u091f\\u0940\\u0939\\u0948\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "33",
        "X-MT-System": "Microsoft",
        "X-RequestId": "93581750-69df-430f-b7e8-c668749e57da.USW2.0501T2313"
      },
      "ResponseBody": "[{\"text\":\"yhekakasautihekasautihai\",\"script\":\"Latn\"},{\"text\":\"yhekakasoutihai\",\"script\":\"Latn\"}]"
    }
  ],
  "Variables": {}
}
