{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitive.microsofttranslator.com/breaksentence?language=zh-Hans&script=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\": \"zh\\u00e8 sh\\u00ec g\\u00e8 c\\u00e8 sh\\u00ec\\u3002\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "9d2d7f54-aa08-475a-bf78-46e01a978c7f.USW2.1015T0058"
      },
      "ResponseBody": "[{\"sentLen\":[18]}]"
    }
  ],
  "Variables": {}
}
