{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11863"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1020642667"
        },
        "subscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CPlat SDK/PowerShell",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-6570?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1097"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570",
        "name": "testRG-6570",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11862"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce22727-ffce-45a9-930c-ddb2e56fa131"
          },
          {
            "applicationId": "486c78bf-a0f7-45f1-92fd-37215929e116",
            "roleDefinitionId": "98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"
          },
          {
            "applicationId": "19947cfd-0303-466c-ac3c-fcc19a7a1570",
            "roleDefinitionId": "d813ab6c-bfb7-413e-9462-005b21f0ce09"
          },
          {
            "applicationId": "341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd",
            "roleDefinitionId": "8141843c-c51c-4c1e-a5bf-0d351594b86c"
          },
          {
            "applicationId": "328fd23b-de6e-462c-9433-e207470a5727",
            "roleDefinitionId": "79e29e06-4056-41e5-a6b2-959f1f47747e"
          },
          {
            "applicationId": "6d057c82-a784-47ae-8d12-ca7b38cf06b4",
            "roleDefinitionId": "c27dd31e-c1e5-4ab0-93e1-a12ba34f182e",
            "managedByRoleDefinitionId": "82e8942a-bcb6-444a-b1c4-31a3ea463a7d"
          },
          {
            "applicationId": "b4ca0290-4e73-4e31-ade0-c82ecfaabf6a",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "79d7fb34-4bef-4417-8184-ff713af7a679",
            "roleDefinitionId": "1c1f11ef-abfa-4abe-a02b-226771d07fc7"
          },
          {
            "applicationId": "38808189-fa7a-4d8a-807f-eba01edacca6",
            "roleDefinitionId": "7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"
          },
          {
            "applicationId": "6e02f8e9-db9b-4eb5-aa5a-7c8968375f68",
            "roleDefinitionId": "787424c7-f9d2-416b-a939-4d59deb2d259"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "virtualNetworkGateways",
            "locations": [
              "West US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "North Central US",
              "South Central US",
              "Central US",
              "East US 2",
              "Japan East",
              "Japan West",
              "Brazil South",
              "Australia East",
              "Australia Southeast",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "West Central US",
              "West US 2",
              "UK West",
              "UK South",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "West US 3",
              "Jio India West",
              "Sweden Central",
              "Qatar Central",
              "Poland Central",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2023-05-01",
              "2023-04-01",
              "2023-02-01",
              "2022-11-01",
              "2022-09-01",
              "2022-07-01",
              "2022-05-01",
              "2022-01-01",
              "2021-12-01",
              "2021-08-01",
              "2021-06-01",
              "2021-05-01",
              "2021-04-01",
              "2021-03-01",
              "2021-02-01",
              "2021-01-01",
              "2020-11-01",
              "2020-0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/virtualNetworks/testVNet-4792?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-8298",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network/locations/westus2/operations/74cc95b7-d91d-4bb6-badc-b88e15f95ccf?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1096"
      },
      "ResponseBody": {
        "name": "testVNet-4792",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/virtualNetworks/testVNet-4792",
        "etag": "W/\"d658d842-90f6-441b-8b3d-4f817d2149af\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "34666c98-1e18-4fee-b876-f6217d968b52",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-8298",
              "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/virtualNetworks/testVNet-4792/subnets/testSubnet-8298",
              "etag": "W/\"d658d842-90f6-441b-8b3d-4f817d2149af\"",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Network/locations/westus2/operations/74cc95b7-d91d-4bb6-badc-b88e15f95ccf?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11861"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/virtualNetworks/testVNet-4792?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"9e1b156a-5e24-48f8-8f43-8d882c04a468\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11859"
      },
      "ResponseBody": {
        "name": "testVNet-4792",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/virtualNetworks/testVNet-4792",
        "etag": "W/\"9e1b156a-5e24-48f8-8f43-8d882c04a468\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "properties": {
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/networkInterfaces/testNic-397?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/virtualNetworks/testVNet-4792/subnets/testSubnet-8298"
                }
              }
            }
          ]
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/networkInterfaces/testNic-5776?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
         [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Compute/virtualMachines/testVM-4916?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_F2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest"
            },
            "osDisk": {
              "osType": "Linux",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              }
            }
          },
          "osProfile": {
            "computerName": "testVM-4916",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                  }
                ]
              }
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/networkInterfaces/testNic-397",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/operations/1c99a727-9123-44bb-82b0-b4a33a91ba07?p=4bed644a-a596-4634-b1fa-8009f92f8b59&api-version=2023-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;236,Microsoft.Compute/PutVM30Min;1149",
        "x-ms-ratelimit-remaining-subscription-writes": "1092"
      },
      "ResponseBody": {
        "name": "testVM-4916",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Compute/virtualMachines/testVM-4916",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "westus2",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "properties": {
          "vmId": "559399de-f03c-49e3-9281-60d9a9700d1f",
          "hardwareProfile": {
            "vmSize": "Standard_F2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest",
              "exactVersion": "16.04.202109280"
            },
            "osDisk": {
              "osType": "Linux",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "testVM-4916",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                  }
                ]
              },
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": false
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Network/networkInterfaces/testNic-397",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "provisioningState": "Creating",
          "timeCreated": "2023-08-15T05:01:58.2759169+08:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/operations/1c99a727-9123-44bb-82b0-b4a33a91ba07?p=4bed644a-a596-4634-b1fa-8009f92f8b59&api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "35",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14980,Microsoft.Compute/GetOperation30Min;29935",
        "x-ms-ratelimit-remaining-subscription-reads": "11851"
      },
      "ResponseBody": {
        "startTime": "2023-08-15T05:01:58.2759169+08:00",
        "status": "InProgress",
        "name": "1c99a727-9123-44bb-82b0-b4a33a91ba07"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/operations/1c99a727-9123-44bb-82b0-b4a33a91ba07?p=4bed644a-a596-4634-b1fa-8009f92f8b59&api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14978,Microsoft.Compute/GetOperation30Min;29931",
        "x-ms-ratelimit-remaining-subscription-reads": "11850"
      },
      "ResponseBody": {
        "startTime": "2023-08-15T05:01:58.2759169+08:00",
        "endTime": "2023-08-15T05:02:23.5414152+08:00",
        "status": "Succeeded",
        "name": "1c99a727-9123-44bb-82b0-b4a33a91ba07"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Compute/virtualMachines?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGet3Min;137,Microsoft.Compute/HighCostGet30Min;693",
        "x-ms-ratelimit-remaining-subscription-reads": "11844"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "testVM-4916",
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-6570/providers/Microsoft.Compute/virtualMachines/testVM-4916",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "westus2",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-eastus": {
                  "principalId": "df6f2c83-d70b-461c-9ab3-328c60bdf46b",
                  "clientId": "a36da594-d77e-47c7-bcef-476c45011809"
                }
              }
            },
            "properties": {
              "vmId": "559399de-f03c-49e3-9281-60d9a9700d1f",
              "hardwareProfile": {
                "vmSize": "Standard_F2"
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "Canonical",
                  "offer": "UbuntuServer",
                  "sku": "16.04-LTS",
                  "version": "late[...]
