{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?sv=Sanitized&ss=btqf&srt=co&spr=https%2Chttp&se=sanitizedexpiry&sp=rwdlacup&sig=sanitizedsig&restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationResourceTypeMismatch",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationResourceTypeMismatch</Code><Message>This request is not authorized to perform this operation using this resource type.\n",
        "RequestId:ad807911-901e-002d-02d5-b44b93000000\n",
        "Time:2026-03-15T23:43:21.3930475Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-03-15T23:43:21.125Z"
  }
}
