{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732243822208454?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D3E639604\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:39 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732243822208454/appendblob177732243833507043",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:38 GMT",
        "x-ms-tags": "tag1=val1&tag2=val2",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D3E74E7D7\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:40:39.7858775Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732243822208454?sdd=undefined&comp=blobs&where=tag1%3D%27val1%27&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.blob.core.windows.net/\"><Where>tag1=&apos;val1&apos;</Where><Blobs><Blob><Name>appendblob177732243833507043</Name><ContainerName>container177732243822208454</ContainerName><Tags><TagSet><Tag><Key>tag1</Key><Value>val1</Value></Tag></TagSet></Tags></Blob></Blobs><NextMarker/></EnumerationResults>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732243822208454?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:40 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "appendblob": "appendblob177732243833507043",
    "container": "container177732243822208454",
    "tmr": "2026-04-27T20:40:38.222Z"
  }
}
