{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container172848914617605002?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 15:52:26 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE87A5FBAEC97\"",
        "Last-Modified": "Wed, 09 Oct 2024 15:52:26 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container172848914617605002/appendblob172848914628109109?ses=test1&",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-encryption-scope": "test1",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE87A5FCA2AB8\"",
        "Last-Modified": "Wed, 09 Oct 2024 15:52:27 GMT",
        "x-ms-encryption-scope": "test1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-10-09T15:52:27.0506680Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container172848914617605002?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 15:52:26 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "appendblob": "appendblob172848914628109109",
    "container": "container172848914617605002",
    "now": "2024-10-09T15:52:26.176Z",
    "tmr": "2024-10-09T15:52:26.176Z"
  }
}
