{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container1177732243181109236?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:31 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D3A9151A5\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container1177732243181109236/blobname1177732243192403292",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:31 GMT",
        "x-ms-tags": "key177732243192407181=val1177732243192500918&key2177732243192408968=default",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D3AA2BFF5\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:40:33.3754357Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?sdd=undefined&comp=blobs&where=key177732243192407181%3D%27val1177732243192500918%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.blob.core.windows.net/\"><Where>key177732243192407181=&apos;val1177732243192500918&apos;</Where><Blobs><Blob><Name>blobname1177732243192403292</Name><ContainerName>container1177732243181109236</ContainerName><Tags><TagSet><Tag><Key>key177732243192407181</Key><Value>val1177732243192500918</Value></Tag></TagSet></Tags></Blob></Blobs><NextMarker/></EnumerationResults>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container1177732243181109236?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:34 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blobname1": "blobname1177732243192403292",
    "blobname2": "blobname2177732243203703667",
    "container1": "container1177732243181109236",
    "key": "key177732243192407181",
    "key2": "key2177732243192408968",
    "now": "2026-04-27T20:40:31.810Z",
    "tmr": "2026-04-27T20:40:31.810Z",
    "val1": "val1177732243192500918",
    "val2": "val2177732243203709135"
  }
}
