{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894698199602856?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE58709CC59EC5\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:09:42 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894698199602856/blob176894698208207089",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE58709CD3C990\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:09:42 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:09:42.3895952Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2026-01-20T22:04:42Z</Start><Expiry>2026-01-21T22:09:42Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>51291b7b-d07c-424e-b934-042c148c6a56</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-01-20T22:04:42Z</SignedStart><SignedExpiry>2026-01-21T22:09:42Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894698199602856/blob176894698208207089?versionid=2026-01-20T22%3A09%3A42.3895952Z&sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-01-20T22%3A04%3A42Z&ske=2026-01-21T22%3A09%3A42Z&sks=b&skv=2026-02-06&sr=bv&sp=racwdx&sig=sanitizedsig",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894698199602856/blob176894698208207089?versionid=2026-01-20T22%3A09%3A42.3895952Z&sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-01-20T22%3A04%3A42Z&ske=2026-01-21T22%3A09%3A42Z&sks=b&skv=2026-02-06&sr=bv&sp=racwdx&sig=sanitizedsig",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-is-soft-deleted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894698199602856?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176894698208207089",
    "container": "container176894698199602856",
    "now": "2026-01-20T22:09:42.276Z",
    "tmr": "2026-01-20T22:09:42.276Z"
  }
}
