{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764699750409234?sv=Sanitized&ss=btqf&srt=sco&spr=https%2Chttp&se=sanitizedexpiry&sp=rwdlacup&sig=sanitizedsig&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:3fd163cb-401e-0063-2986-7e1c26000000\n",
        "Time:2026-01-05T21:03:17.5928443Z</Message><AuthenticationErrorDetail>Signed expiry time [Sun, 04 Jan 2026 21:03:17 GMT] has to be after signed start time [Mon, 05 Jan 2026 21:03:17 GMT]</AuthenticationErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {
    "container": "container176764699750409234",
    "tmr": "2026-01-05T21:03:17.503Z"
  }
}
