{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?sv=Sanitized&ss=btqf&srt=co&spr=https%2Chttp&se=sanitizedexpiry&sp=rwdlacup&sig=sanitizedsig&restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationResourceTypeMismatch",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationResourceTypeMismatch</Code><Message>This request is not authorized to perform this operation using this resource type.\n",
        "RequestId:0cea7ddc-101e-00c0-3f59-8ab5fa000000\n",
        "Time:2026-01-20T22:06:58.4698887Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-01-20T22:06:58.097Z"
  }
}
