{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177256915697605342?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 20:19:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE796225D1E370\"",
        "Last-Modified": "Tue, 03 Mar 2026 20:19:18 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177256915697605342/appendblob177256915707906998?ses=test1&",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-encryption-scope": "test1",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE796225E18B77\"",
        "Last-Modified": "Tue, 03 Mar 2026 20:19:18 GMT",
        "x-ms-encryption-scope": "test1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-03T20:19:18.2483319Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177256915697605342?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 20:19:17 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "appendblob": "appendblob177256915707906998",
    "container": "container177256915697605342",
    "now": "2026-03-03T20:19:16.976Z",
    "tmr": "2026-03-03T20:19:16.976Z"
  }
}
