{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894682366407981?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE58703E7419DA\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:07:04 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894682366407981/blob176894682376800171",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "content-type-original",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE58703E881E59\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:07:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:07:04.1878617Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894682366407981/blob176894682376800171?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE58703E881E59\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:07:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2026-01-20T22:07:04.2904205Z",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:07:04.2914205Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894682366407981/blob176894682376800171?snapshot=2026-01-20T22%3A07%3A04.2904205Z&sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&sr=bs&sp=racwd&sig=sanitizedsig&rscc=cache-control-override&rscd=content-disposition-override&rsce=content-encoding-override&rscl=content-language-override&rsct=content-type-override",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "content-disposition-override",
        "Content-Language": "content-language-override",
        "Content-Type": "content-type-override",
        "ETag": "\"0x8DE58703E881E59\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:07:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 20 Jan 2026 22:07:04 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894682366407981?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176894682376800171",
    "container": "container176894682366407981",
    "now": "2026-01-20T22:07:03.653Z",
    "tmr": "2026-01-20T22:07:03.664Z"
  }
}
