{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container172848914405809669?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 15:52:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE87A5E77A49A\"",
        "Last-Modified": "Wed, 09 Oct 2024 15:52:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container172848914405809669/blob172848914416008045",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 09 Oct 2024 15:52:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE87A5E8692DD\"",
        "Last-Modified": "Wed, 09 Oct 2024 15:52:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-10-09T15:52:24.9299677Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container172848914405809669/blob172848914416008045?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE87A5E8692DD\"",
        "Last-Modified": "Wed, 09 Oct 2024 15:52:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 15:52:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-10-09T15:52:24.9299677Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob172848914416008045",
    "container": "container172848914405809669",
    "now": "2024-10-09T15:52:24.057Z",
    "tmr": "2024-10-09T15:52:24.057Z"
  }
}
