{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894700806607080?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5870AC4AA6E8\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:10:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894700806607080/blob176894700815806445?sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&sr=b&sp=racwdy&sig=sanitizedsig",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5870AC58FB17\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:10:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:10:08.4283159Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894700806607080/blob176894700815806445?sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&sr=b&sp=racwdy&sig=sanitizedsig",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894700806607080?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176894700815806445",
    "container": "container176894700806607080",
    "now": "2026-01-20T22:10:08.066Z",
    "tmr": "2026-01-20T22:10:08.066Z"
  }
}
