{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830474108203371?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A63665DF55\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830474108203371/appendblob175830474119006362?sv=Sanitized&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&ses=sanitizedses&sr=c&sp=racwdl&sig=sanitizedsig",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-encryption-scope": "encryptionScope1",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A63678AC20\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:00 GMT",
        "x-ms-encryption-scope": "encryptionScope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:59:00.6988320Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830474108203371?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "appendblob": "appendblob175830474119006362",
    "container": "container175830474108203371",
    "now": "2025-09-19T17:59:01.081Z",
    "tmr": "2025-09-19T17:59:01.082Z"
  }
}
