{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?sv=Sanitized&ss=btqf&srt=sco&se=sanitizedexpiry&sp=wdlcup&sig=sanitizedsig&restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:b0343144-e01e-0008-3b95-29e2ef000000\n",
        "Time:2025-09-19T18:41:58.7830805Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2025-09-19T18:41:59.459Z"
  }
}
