{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732229833609705?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:38:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49CEB00CE41\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:38:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732229833609705/dir1177732229845202923/dir2177732229845302461?sdd=2&",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49CEB135D85\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:38:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:38:19.8957445Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732229833609705/dir1177732229845202923/dir2177732229845302461/blob177732229845301264?sdd=2&",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49CEB24E725\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:38:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:38:20.0106789Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732229833609705/dir1177732229845202923/dir2177732229845302461/blob177732229845301264?sdd=2&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "aGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49CEB3697D0\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:38:20 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "V0JSBnCFdzM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732229833609705/dir1177732229845202923/dir2177732229845302461?sdd=2&",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:5308cb7a-201e-003b-2c85-d6175c000000\n",
        "Time:2026-04-27T20:38:20.2426908Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732229833609705?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:38:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177732229845301264",
    "container": "container177732229833609705",
    "dir1": "dir1177732229845202923",
    "dir2": "dir2177732229845302461",
    "now": "2026-04-27T20:38:18.336Z",
    "tmr": "2026-04-27T20:38:18.336Z"
  }
}
