{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361832398808803?sv=Sanitized&ss=btqf&srt=sco&spr=https%2Chttp&se=sanitizedexpiry&sp=rwdlacup&sig=sanitizedsig&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:f6e8b2c7-301e-0034-3bd5-b4cb28000000\n",
        "Time:2026-03-15T23:45:24.4044673Z</Message><AuthenticationErrorDetail>Signed expiry time [Sat, 14 Mar 2026 23:45:23 GMT] has to be after signed start time [Sun, 15 Mar 2026 23:45:24 GMT]</AuthenticationErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {
    "container": "container177361832398808803",
    "tmr": "2026-03-15T23:45:23.987Z"
  }
}
