{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?comp=properties&restype=account",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_LRS",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "now": "2024-10-09T15:49:35.772Z",
    "tmr": "2024-10-09T15:49:35.774Z"
  }
}
