{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911742551904365?sv=Sanitized&ss=btqf&srt=sco&spr=https%2Chttp&se=sanitizedexpiry&sp=rwdlacup&sig=sanitizedsig&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:ae4a88f3-201e-0000-23e6-8b4dc4000000\n",
        "Time:2026-01-22T21:30:26.4299504Z</Message><AuthenticationErrorDetail>Signed expiry time [Wed, 21 Jan 2026 21:30:25 GMT] has to be after signed start time [Thu, 22 Jan 2026 21:30:26 GMT]</AuthenticationErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {
    "container": "container176911742551904365",
    "tmr": "2026-01-22T21:30:25.518Z"
  }
}
