{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?sv=Sanitized&ss=tqf&srt=sco&se=sanitizedexpiry&sp=rwdlacup&sig=sanitizedsig&restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationServiceMismatch"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationServiceMismatch</Code><Message>This request is not authorized to perform this operation using this service.\n",
        "RequestId:0cea7da4-101e-00c0-0a59-8ab5fa000000\n",
        "Time:2026-01-20T22:06:58.1937224Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "tmr": "2026-01-20T22:06:57.859Z"
  }
}
