{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?sdd=undefined&comp=properties&restype=account",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "now": "2026-04-27T20:38:15.443Z",
    "tmr": "2026-04-27T20:38:15.445Z"
  }
}
