{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343973769901011?sv=Sanitized&ss=btqf&srt=sco&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&sp=rwdlacupy&sig=sanitizedsig&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814D1FB19767\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:08:57 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343973769901011/blobname177343973777904045?sv=Sanitized&ss=btqf&srt=sco&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&sp=rwdlacupy&sig=sanitizedsig",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814D1FBE9E6C\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:08:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:08:57.8240108Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343973769901011/blobname177343973777904045?sv=Sanitized&ss=btqf&srt=sco&spr=https%2Chttp&st=sanitizedspr&se=sanitizedexpiry&sp=rwdlacupy&sig=sanitizedsig",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blobname": "blobname177343973777904045",
    "container": "container177343973769901011",
    "now": "2026-03-13T22:08:57.698Z",
    "tmr": "2026-03-13T22:08:57.698Z"
  }
}
