{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732244411606124?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:44 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D41E6F09B\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:45 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732244411606124/blob177732244423109371",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "content-type-original",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:44 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D41F8BF7F\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:40:45.6830847Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732244411606124/blob177732244423109371?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:44 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D41F8BF7F\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2026-04-27T20:40:45.8000192Z",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-04-27T20:40:45.8010192Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732244411606124/blob177732244423109371?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-type": "content-type-original1",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:44 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA49D421B0F8E\"",
        "Last-Modified": "Mon, 27 Apr 2026 20:40:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732244411606124/blob177732244423109371?snapshot=2026-04-27T20%3A40%3A45.8000192Z&rscc=cache-control-override&rscd=content-disposition-override&rsce=content-encoding-override&rscl=content-language-override&rsct=content-type-override&",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177732244411606124?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 20:40:44 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177732244423109371",
    "container": "container177732244411606124",
    "now": "2026-04-27T20:40:44.116Z",
    "tmr": "2026-04-27T20:40:44.116Z"
  }
}
