{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container171747101909003731?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:8bd8178b-601e-0034-5a2d-b6a0e9000000\n",
        "Time:2024-06-04T03:17:00.1931167Z</Message><AuthenticationErrorDetail>Signed expiry time [Mon, 03 Jun 2024 03:16:59 GMT] has to be after signed start time [Tue, 04 Jun 2024 03:17:00 GMT]</AuthenticationErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {
    "container": "container171747101909003731",
    "tmr": "2024-06-04T03:16:59.088Z"
  }
}
