{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/route/directions/json?query=47.6133869%2C-122.0235832%3A47.5565375%2C-122.1411044&api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": {
        "supportingPoints": {
          "type": "GeometryCollection",
          "geometries": [
            {
              "type": "Point",
              "coordinates": [
                -122.2471259,
                47.5434278
              ]
            },
            {
              "type": "Point",
              "coordinates": [
                -122.2962099,
                47.526172
              ]
            }
          ]
        },
        "avoidVignette": [
          "AUS",
          "CHE"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.12",
        "routes": [
          {
            "summary": {
              "lengthInMeters": 76968,
              "travelTimeInSeconds": 5085,
              "trafficDelayInSeconds": 0,
              "trafficLengthInMeters": 0,
              "departureTime": "2024-08-06T20:42:05-07:00",
              "arrivalTime": "2024-08-06T22:06:49-07:00"
            },
            "legs": [
              {
                "summary": {
                  "lengthInMeters": 76968,
                  "travelTimeInSeconds": 5085,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2024-08-06T20:42:05-07:00",
                  "arrivalTime": "2024-08-06T22:06:49-07:00"
                },
                "points": [
                  {
                    "latitude": 47.61378,
                    "longitude": -122.02358
                  },
                  {
                    "latitude": 47.61378,
                    "longitude": -122.02303
                  },
                  {
                    "latitude": 47.6138,
                    "longitude": -122.02294
                  },
                  {
                    "latitude": 47.61385,
                    "longitude": -122.02282
                  },
                  {
                    "latitude": 47.61394,
                    "long[...]
