{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic1be2/nodes/tvmps_4d3f13018e48561d27077492bc8245b94a5d13ce91f157927745bc5563b2d23f_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 18:19:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes/@Element",
        "id": "tvmps_4d3f13018e48561d27077492bc8245b94a5d13ce91f157927745bc5563b2d23f_d",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic1be2/nodes/tvmps_4d3f13018e48561d27077492bc8245b94a5d13ce91f157927745bc5563b2d23f_d",
        "state": "idle",
        "schedulingState": "enabled",
        "stateTransitionTime": "2026-02-03T18:18:03.355029Z",
        "lastBootTime": "2026-02-03T18:17:56.370149Z",
        "allocationTime": "2026-02-03T18:11:55.3971038Z",
        "ipAddress": "10.0.0.5",
        "affinityId": "TVM:tvmps_4d3f13018e48561d27077492bc8245b94a5d13ce91f157927745bc5563b2d23f_d",
        "vmSize": "standard_d1_v2",
        "totalTasksRun": 0,
        "totalTasksSucceeded": 0,
        "runningTasksCount": 0,
        "runningTaskSlotsCount": 0,
        "startTask": {
          "commandLine": "cmd /c echo hello > hello.txt",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "startTaskInfo": {
          "state": "completed",
          "startTime": "2026-02-03T18:18:03.120638Z",
          "endTime": "2026-02-03T18:18:03.339405Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0
        },
        "isDedicated": true,
        "nodeAgentInfo": {
          "lastUpdateTime": "2026-02-03T18:17:56.370149Z",
          "version": "1.12.39"
        },
        "virtualMachineInfo": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-Datacenter",
            "version": "latest",
            "exactVersion": "latest"
          }
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic1be2"
  }
}
