{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2611/nodes/tvmps_148667cab9474f392bca0702df8053607caa8a8dbaea5c04ddc5d87eef8e4516_d/users/JSSDKTestUser?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 24 Oct 2025 23:25:07 GMT"
      },
      "RequestBody": {
        "password": "kt#_gahr!@aGERDXA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2611/nodes/tvmps_148667cab9474f392bca0702df8053607caa8a8dbaea5c04ddc5d87eef8e4516_d/users/JSSDKTestUser",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic2611"
  }
}
