{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic2611/nodes/tvmps_3ed578058442e93e47afdeb4ba876b2743dd6bb10e0435750ab6dcbcb5a8cba4_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 24 Oct 2025 23:25:12 GMT"
      },
      "RequestBody": {
        "containerUrl": "https://teststorage.blob.core.windows.net/fakecontainer",
        "startTime": "2018-02-25T00:00:00.000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "jssdkhobobatchacctadff-22EC15227A0E3B27/jssdkpool-basic2611/tvmps_3ed578058442e93e47afdeb4ba876b2743dd6bb10e0435750ab6dcbcb5a8cba4_d/0f47441c-9e72-4f9c-8af4-94d5c8e778aa",
        "numberOfFilesUploaded": 4
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic2611"
  }
}
