{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 21 Mar 2024 19:26:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC49DCBE6BEB1D\u0022",
        "Last-Modified": "Thu, 21 Mar 2024 19:26:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8/test-blob-b59b0076-9402-6de8-4ca3-6a182b58932e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 21 Mar 2024 19:26:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC49DCBE783A2B\u0022",
        "Last-Modified": "Thu, 21 Mar 2024 19:26:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-21T19:26:01.6950827Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8/test-blob-b59b0076-9402-6de8-4ca3-6a182b58932e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 Mar 2024 19:26:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "O31Dqdg9KZWGnyLkfI2hxdq181oEhM0KJJYZpGT/twS7fiBOQyDb56e\u002BicEmaR7eNLahjpoHlLavOIRCJIQwhucdKf1sU4G52QyzRfsM47p3OnCtXihps\u002BlpngqbmcMijQLZCUAhcuE157WOVE\u002B7o1XJy\u002BkUgyi/s3UUArR3Hj9IkLf4M9p6VsiOeHdz21\u002Barvu10c7aDgraGlXKDG8svsh1RcOXwnB6TnQghQqwS9gVeVS5wUxxboKsHhiEsElZYrqu/ZWbA\u002ByKO4NZuYj/Kc58tJMbc/x8BNdB6qNX9Z4rxyNQAk5DenVnLoXJGLX[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8/test-blob-b59b0076-9402-6de8-4ca3-6a182b58932e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Mar 2024 19:26:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC49DCBE81D5B8\u0022",
        "Last-Modified": "Thu, 21 Mar 2024 19:26:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 21 Mar 2024 19:26:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-21T19:26:01.6950827Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8/test-blob-b596d269-a175-4332-df46-83260eac8b14?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8/test-blob-b59b0076-9402-6de8-4ca3-6a182b58932e",
        "x-ms-date": "Thu, 21 Mar 2024 19:26:00 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC49DCBEA6BD5F\u0022",
        "Last-Modified": "Thu, 21 Mar 2024 19:26:01 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "sxInz8Za3K8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8/test-blob-b59b0076-9402-6de8-4ca3-6a182b58932e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC49DCBE81D5B8\u0022",
        "x-ms-date": "Thu, 21 Mar 2024 19:26:00 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC49DCBE81D5B8\u0022",
        "Last-Modified": "Thu, 21 Mar 2024 19:26:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 21 Mar 2024 19:26:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4852bc6-a9ea-ef41-ffcc-672932a7d7a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 Mar 2024 19:26:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1210134100",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
