{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC485EE714395C\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "x9OpcoGGv2GgzdOw0pUyqzOLKTrXnJwwgzEpkDyLO2Iri/muLfkpQdFoyJDtBmRkqv5PQ\u002BSgrSs3eO9PXS8kFZFwhUabhH45Yedpb9QLQ3zNxOU\u002BO/d\u002Bi93Od7QK2uSiQ7P\u002BfIEdyCZ/FeH8Nj5XKzVygphJ5dma8vpozQ3JL4cDxywhDcf7r/y/viYWglSfd0t/mFhLWF3ZZIqHtfsZtuZa\u002BG8RNh1tdtKciiezg2\u002BlyFbBSpcvuG7PR6k9dPoApgg/u4rljUEuESGGrs42JuAa4eylV2tPKj8AQu5zMALXm\u002BMedMflvzoUkjl1qQqgmCHJI5IOW[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/Uw52kZHsZt8xijYX2HfWw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC485EE71DB5A2\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-19T21:52:42.1377442Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-source-range": "bytes=0-199",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "/5UYPfO9Tjo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b?comp=block\u0026blockid=yAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-source-range": "bytes=200-399",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "7WuWim3JhMM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b?comp=block\u0026blockid=WAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-source-range": "bytes=600-799",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "NVgw30dW27s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b?comp=block\u0026blockid=6AMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-source-range": "bytes=1000-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "sEMaJQlFjxc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b?comp=block\u0026blockid=kAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-source-range": "bytes=400-599",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "ygDCGpPOw2w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b?comp=block\u0026blockid=IAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-053f70d8-acc2-328c-32ff-654b0db40f7b",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-source-range": "bytes=800-999",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "7ZV0r7Rt8r8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EkAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EWAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EIAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003E6AMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC485EE76EFE08\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-content-crc64": "KcRi2J8nBCM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-19T21:52:42.6704392Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19/test-blob-fe27af50-11ed-d1bb-fa16-d8612be6a35b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC485EE76EFE08\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7bbd7337-84cf-46a4-6e05-12cedcea1d19?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 21:52:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "340835124",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
