{
  "Entries": [
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-9815ed96-eec9-9331-9eba-c88bfa080890?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC431377574987\u0022",
        "Last-Modified": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-9815ed96-eec9-9331-9eba-c88bfa080890/test-blob-f81ad374-b093-ca33-9ad3-7ac0bfdafd8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "9/JZu/8goXFFSjIE9uKzwm784sP4yUKBCj5MG5aqICTbSnmcAt4yVDKos0h\u002BLtO4ILhSw/g6ki6v17DA04XamioNKatoF7\u002BPyY6RUBX5A9xqlPvdWF0sobdK7CotcYCszRkecAUoTwn5wvlqqUIYttTUVT\u002BJ/ULN4YjzHiqUYlgN5IL825LWQkTy5JVkwfd1MjVWWBxBI9DXUY99NDHeZGChXMTAG9tB/hL6lhisaR\u002BQfuv0Pgk7y8CxJYoDWA4SFIA0wmUztBZaFFkJRoy3Kudv7bVG6SVWZZEED/ZRPqUD6IKYeKa6XcnUmiqwMoUz\u002Bfqik2tZzCpa3V3ULqU[...]
[...]
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-9815ed96-eec9-9331-9eba-c88bfa080890/test-blob-356e99de-e0af-62aa-e1ea-67e4d8bfb3f6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Io0kepPwnY2W8drLXxu3\u002BQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC431377636CD9\u0022",
        "Last-Modified": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-13T04:10:06.6212057Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-9815ed96-eec9-9331-9eba-c88bfa080890/test-blob-f81ad374-b093-ca33-9ad3-7ac0bfdafd8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4313777EEC2C\u0022",
        "Last-Modified": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-content-crc64": "5fYd/rmJpaw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-13T04:10:06.8024124Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-9815ed96-eec9-9331-9eba-c88bfa080890/test-blob-f81ad374-b093-ca33-9ad3-7ac0bfdafd8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4313777EEC2C\u0022",
        "Last-Modified": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-blob-content-md5": "Io0kepPwnY2W8drLXxu3\u002BQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-13T04:10:06.8024124Z"
      },
      "ResponseBody": "XVfT[...]
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-9815ed96-eec9-9331-9eba-c88bfa080890?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Mar 2024 04:10:06 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "521665037",
    "Storage_TestConfigDefault": "ProductionTenant\nte9be3179e7e2a108prim\nU2FuaXRpemVk\nhttps://te9be3179e7e2a108prim.blob.core.windows.net\nhttps://te9be3179e7e2a108prim.file.core.windows.net\nhttps://te9be3179e7e2a108prim.queue.core.windows.net\nhttps://te9be3179e7e2a108prim.table.core.windows.net\n\n\n\n\nhttps://te9be3179e7e2a108prim-secondary.blob.core.windows.net\nhttps://te9be3179e7e2a108prim-secondary.file.core.windows.net\nhttps://te9be3179e7e2a108prim-secondary.queue.core.windows.net\nhttps://te9be3179e7e2a108prim-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://te9be3179e7e2a108prim.blob.core.windows.net/;QueueEndpoint=https://te9be3179e7e2a108prim.queue.core.windows.net/;FileEndpoint=https://te9be3179e7e2a108prim.file.core.windows.net/;BlobSecondaryEndpoint=https://te9be3179e7e2a108prim-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://te9be3179e7e2a108prim-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://te9be3179e7e2a108prim-secondary.file.core.windows.net/;AccountName=te9be3179e7e2a108prim;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
