{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4862316D6662\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b/test-blob-bb3acefc-89ba-ed3f-bf6c-0e8a38142a02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-tags": "tagKey0=tagValue0\u0026tagKey1=tagValue1",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "HILIdX2iiLgyC1uvkzSS\u002BAJf8qb2UKLn8ubwvDPPhCWeTJ07jr/AWkaBiK8tj1qK2hWI2CKEDMzf4YKWssyEY4c2EUaXV2pDn5dfdMjzumKMZeIdRqsCGT/RW608Kah6/SQo9n4T84OrRTmKJJgD7CYfCkzpZh3cNPcGxfu8Bnbv5Xejy8PkeHFfcgFxePSnzW\u002BGHB5bkJYHTMKGDS2H7j7Dmz4hYCBjO5HbivQbarwCX/iLNupXk1XhnH8BXWtD14TDrty1hW1PI\u002BGMgAWh7OEGg601\u002B7dTawfpQMOhYd0ml7JwWLvfTdmKPBMIyxNPP7Cd\u002B9m9DtvMb0PUzEWprcIDZuhTMZMmJjbUqr\u00[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b/test-blob-bb3acefc-89ba-ed3f-bf6c-0e8a38142a02",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "aV9BwwXVScdnN9i7pLkZYg==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC4862317A1118\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-19T22:16:15.3846040Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b/test-blob-c752e6e9-6f85-74fa-8781-8d1e46ac95aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b/test-blob-bb3acefc-89ba-ed3f-bf6c-0e8a38142a02",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48623198DF32\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-content-crc64": "E9SQ2oiGZnk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-19T22:16:15.5864882Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b/test-blob-c752e6e9-6f85-74fa-8781-8d1e46ac95aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aV9BwwXVScdnN9i7pLkZYg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC48623198DF32\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-19T22:16:15.5864882Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b/test-blob-bb3acefc-89ba-ed3f-bf6c-0e8a38142a02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC4862317A1118\u0022",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC4862317A1118\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-blob-content-md5": "aV9BwwXVScdnN9i7pLkZYg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "2",
        "x-ms-version": "2024-02[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b/test-blob-c752e6e9-6f85-74fa-8781-8d1e46ac95aa?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet/\u003E\u003C/Tags\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2b12e1ee-f63d-5365-e18f-e9a45ce6a11b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 Mar 2024 22:16:15 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1967859168",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
