{
  "Entries": [
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-08f357a2-8fef-164d-59dd-57d1888b83ef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4313EA789B4F\u0022",
        "Last-Modified": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-08f357a2-8fef-164d-59dd-57d1888b83ef/test-blob-a832800d-ef50-c7c2-83ec-c87b7cda234d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "BpRkctn60Wy\u002BvdvZvo5JZ\u002BvS8I5EZXjoV0udK7CrC9qpQnXodbF0P2MJSUlJTih829gr6Li0QKEbexqOXaW8ErEBMHsZYfE6XrArOxsvnwgiIVDXgCMh9QLTzPmW5eK9TDeXSB6tYnnn8YoIiASF7NwSazxV5ZKO4Dp5RZX3pHjNbu/kl1bqdb7W8I6YGGz9Tt8cg3qmaGelCWjjMxzk8E0SOhoVoFWGKPZ9fvQD9cfNfPe22iD\u002BJwaHP43uBkGh8gBBht5S566JlluDKOlyoROhFbclLhUtExMUjWDHmCK13Iz0wW/oe5RILEPEe/4cFJ16TPCKe8PqFHLKPlpNwf45zUxdf[...]
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-08f357a2-8fef-164d-59dd-57d1888b83ef/test-blob-a832800d-ef50-c7c2-83ec-c87b7cda234d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vFrKIrX3XdQWx7nIAGtqWQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4313EA7E1F10\u0022",
        "Last-Modified": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-13T04:13:19.7341456Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-08f357a2-8fef-164d-59dd-57d1888b83ef/test-blob-0775353a-2506-e728-0b24-3f17bba94385",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4313EA916A48\u0022",
        "Last-Modified": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-content-crc64": "qyDoh2I6qAI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-03-13T04:13:19.8605896Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://te9be3179e7e2a108prim.blob.core.windows.net/test-container-08f357a2-8fef-164d-59dd-57d1888b83ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 Mar 2024 04:13:19 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "952278028",
    "Storage_TestConfigDefault": "ProductionTenant\nte9be3179e7e2a108prim\nU2FuaXRpemVk\nhttps://te9be3179e7e2a108prim.blob.core.windows.net\nhttps://te9be3179e7e2a108prim.file.core.windows.net\nhttps://te9be3179e7e2a108prim.queue.core.windows.net\nhttps://te9be3179e7e2a108prim.table.core.windows.net\n\n\n\n\nhttps://te9be3179e7e2a108prim-secondary.blob.core.windows.net\nhttps://te9be3179e7e2a108prim-secondary.file.core.windows.net\nhttps://te9be3179e7e2a108prim-secondary.queue.core.windows.net\nhttps://te9be3179e7e2a108prim-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://te9be3179e7e2a108prim.blob.core.windows.net/;QueueEndpoint=https://te9be3179e7e2a108prim.queue.core.windows.net/;FileEndpoint=https://te9be3179e7e2a108prim.file.core.windows.net/;BlobSecondaryEndpoint=https://te9be3179e7e2a108prim-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://te9be3179e7e2a108prim-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://te9be3179e7e2a108prim-secondary.file.core.windows.net/;AccountName=te9be3179e7e2a108prim;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
