{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f9284469-105f-f584-71a6-0f859bf52bca?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF06901971BB\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f9284469-105f-f584-71a6-0f859bf52bca/test-file-781a5ba3-a49f-9285-f1e7-d6f3e2ce88a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF069034D1F4\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T20:25:48.5235700Z",
        "x-ms-file-creation-time": "2023-11-06T20:25:48.5235700Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T20:25:48.5235700Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f9284469-105f-f584-71a6-0f859bf52bca/test-file-781a5ba3-a49f-9285-f1e7-d6f3e2ce88a4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "0rtoe8WH2/nmafJz9s6cTFz7EhGyW7R5mp2xBy4qovtWPLHobZNtG38hkTWyEZwiSoqX5rt28XcH7\u002BEn1tPKvMf2HLkdtN7IjveRkcl\u002BxogBj72kkrtA4Es64X6xRkWrVtVuvPXjBJarzlfD5F\u002BtiChZJkYWJSkLtTxt49NgFkiy5Tv0EAqTHYon\u002BcRjffvsjFhVWCD\u002BlDCrYwa4dSDCS7cPEP4kuHgexgi87yxlpzhBgVZ6Cr4otFEKSawD2qhpZK4MVGz8yNTgN5IXQqUERrvOdvTJSED551ytGW7LGutfUot\u002BWFPMRLiCmdIrEHKrBgPxNWSznxttE2wQT65lFRynuO8Zhe5nATE7R65uzdfpARNr2eSGrLJvEUTnvPUJHIS1hFiCkoAUijMyeFhs/0aVJk2b\u002Bjs4IAs8qXSp[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f9284469-105f-f584-71a6-0f859bf52bca/test-file-781a5ba3-a49f-9285-f1e7-d6f3e2ce88a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF069041A154\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T20:25:48.6075220Z",
        "x-ms-file-creation-time": "2023-11-06T20:25:48.5235700Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T20:25:48.6075220Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "0rtoe8WH2/nmafJz9s6cTFz7EhGyW7R5mp2xBy4qovtWPLHobZNtG38hkTWyEZwiSoqX5rt28XcH7\u002BEn1tPKvMf2HLkdtN7IjveRkcl\u002BxogBj72kkrtA4Es64X6xRkWrVtVuvPXjBJarzlfD5F\u002BtiChZJkYWJSkLtTxt49NgFkiy5Tv0EAqTHYon\u002BcRjffvsjFhVWCD\u002BlDCrYwa4dSDCS7cPEP4kuHgexgi87yxlpzhBgVZ6Cr4otFEKSawD2qhpZK4MVGz8yNTgN5IXQqUERrvOdvTJSED551ytGW7LGutfUot\u002BWFPMRLiCmdIrEHKrBgPxNWSznxttE2wQT65lFRynuO8Zhe5nATE7R65uzdf[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f9284469-105f-f584-71a6-0f859bf52bca?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "278561425",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
