{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-971b1bae-69d7-ce21-0ecd-0d7a9cfe2c68?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E66C49711\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:09:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-971b1bae-69d7-ce21-0ecd-0d7a9cfe2c68/test-file-679d8aa3-64b1-4e56-63f6-f1abc27055e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E66D58D22\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:09:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:09:48.1972002Z",
        "x-ms-file-creation-time": "2023-10-11T21:09:48.1972002Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:09:48.1972002Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-971b1bae-69d7-ce21-0ecd-0d7a9cfe2c68/test-file-679d8aa3-64b1-4e56-63f6-f1abc27055e1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "y150aDPEOhUtiQIAaqjyPcDy4fC9Ps59zY7iqfRSqhmsUrfZrBusHVzCOx6scxawWX/KXpuBDYyP9puk4ZEg2t7oVBjxGZClRcOU\u002BgOw0Vl3MVB1h0x\u002BK0UqSbV/BzvLoWA/wx/\u002Bvz/uJRjX7RKI3yVCLa9Bq1KSainTxtDbJj2IyFiicQ06eHIQh2I0pj0yoWmQPNqMifYOrFn1K/lvE//aTyS55W4YCLQ9MCTwXsProCRmSulj\u002Bz9ilMSzRE14oXNiWVYZeLz7dzQlT1jSHk6WCorUCMgVd1TlV1GpZcNnxI\u002BwjQVt0ShoatO0Pazmj3Z2HTrCpJirTeECNCFqUhJwvovJIZFJKDhibJ71YDqo/8faM0iJpCD3BUAja50G/RjARH4hHG7lLfQBYDf6teynWTVZkB7K5xpq0RxQJb2bW26FNB[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-971b1bae-69d7-ce21-0ecd-0d7a9cfe2c68/test-file-679d8aa3-64b1-4e56-63f6-f1abc27055e1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:43 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCA9E66E409C5\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:09:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:09:48.2921413Z",
        "x-ms-file-creation-time": "2023-10-11T21:09:48.1972002Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:09:48.2921413Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "y150aDPEOhUtiQIAaqjyPcDy4fC9Ps59zY7iqfRSqhmsUrfZrBusHVzCOx6scxawWX/KXpuBDYyP9puk4ZEg2t7oVBjxGZClRcOU\u002BgOw0Vl3MVB1h0x\u002BK0UqSbV/BzvLoWA/wx/\u002Bvz/uJRjX7RKI3yVCLa9Bq1KSainTxtDbJj2IyFiicQ06eHIQh2I0pj0yoWmQPNqMifYOrFn1K/lvE//aTyS55W4YCLQ9MCTwXsProCRmSulj\u002Bz9ilMSzRE14oXNiWVYZeLz7dzQlT1jSHk6WCorUCMgVd1TlV1GpZcNnxI\u002BwjQVt0ShoatO0Pazmj3Z2HTrCpJirTeECNCFqUhJwvovJIZFJKDhibJ71YDqo/8fa[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-971b1bae-69d7-ce21-0ecd-0d7a9cfe2c68?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1747012027",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
