{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4cc503e6-0513-4879-f077-7af883adf692?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA860248607\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:21:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4cc503e6-0513-4879-f077-7af883adf692/test-file-8f398575-7205-8659-c3c5-37276204ac2d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA86037082A\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:21:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:21:12.0592938Z",
        "x-ms-file-creation-time": "2023-10-11T22:21:12.0592938Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:21:12.0592938Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4cc503e6-0513-4879-f077-7af883adf692/test-file-8f398575-7205-8659-c3c5-37276204ac2d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "NfX9J2lghATqHJiQcdmC7x4K/xaJsn\u002BIAb7RR\u002BrIhU/bwC\u002BIJ6UvFAA0penZyRTqQ0cIWAWVpIN1dSaqjjwZIZZItLCq\u002Bsd52uoWVA2Vrjep5wSivy1KRhusErJ\u002BhIXEGoNTkRVkP0iAjn0bf1B24MbvAac3d2Fp/m6U/egV\u002BlZkUTmJQh0hRae8IjCwLsbLNjHrj4PejKMh6pKmz0Jfa5Qnti0X7J6pzbz/e1QwuM\u002Bnyce3KWvThcWVaFiKe3VlXLaciHeZtEmTQsHG3xBO8DHC/gV6qEIoVDFngYNGHlJHmR\u002BelC9XDhV9I\u002BaqDKa1Rncmx3xv67N0dDRGMTLGTSNvf0XxsFwBa/Dw/IRbfkeLsjoLH1fW165rKR/7Ed3it9bCOo1hw5UbJVyLfu4uGfXtu374ui[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4cc503e6-0513-4879-f077-7af883adf692/test-file-8f398575-7205-8659-c3c5-37276204ac2d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:07 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCAA8604584D7\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:21:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:21:12.1542359Z",
        "x-ms-file-creation-time": "2023-10-11T22:21:12.0592938Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:21:12.1542359Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "NfX9J2lghATqHJiQcdmC7x4K/xaJsn\u002BIAb7RR\u002BrIhU/bwC\u002BIJ6UvFAA0penZyRTqQ0cIWAWVpIN1dSaqjjwZIZZItLCq\u002Bsd52uoWVA2Vrjep5wSivy1KRhusErJ\u002BhIXEGoNTkRVkP0iAjn0bf1B24MbvAac3d2Fp/m6U/egV\u002BlZkUTmJQh0hRae8IjCwLsbLNjHrj4PejKMh6pKmz0Jfa5Qnti0X7J6pzbz/e1QwuM\u002Bnyce3KWvThcWVaFiKe3VlXLaciHeZtEmTQsHG3xBO8DHC/gV6qEIoVDFngYNGHlJHmR\u002BelC9XDhV9I\u002BaqDKa1Rncmx3xv67N0dDRGMTLGTSNvf0Xx[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4cc503e6-0513-4879-f077-7af883adf692?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2125636728",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
