{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-64e1963b-bd9f-8119-e4bf-79f6b73b1b36?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E7CF47ECB\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-64e1963b-bd9f-8119-e4bf-79f6b73b1b36/test-file-cb1b68c7-27ac-15f1-4e3f-464f712f972a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E7D075375\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:25.4332789Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:25.4332789Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:25.4332789Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-64e1963b-bd9f-8119-e4bf-79f6b73b1b36/test-file-cb1b68c7-27ac-15f1-4e3f-464f712f972a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "S/kaRqDuPPXJwCHlArSULNONFXG7AOkEzi4LxtTVWzN7m0mteIX6NYFWElCO6VGbmUQiAex3BEsPFXhy43Ug82TtamZr5rRNkuDwZO6ZduTdbyyQs1pGA5f\u002BnWMMiFILNh/roH7qMLOP1G4Mh59ddp\u002BTlXNIkD8Kp2fPbEhRQQqO5C7OrdVm8j95AN/rOnv3oSfDefPewqbf4fkWG8NqPpNkfqJxjsjKLKI0z49gHmzr2MshjccWryKI78zbT9Z8D8JMh7zYhhNe\u002BUxQqvMWfsONK0P3SLHLTs6A6Z777t3Mt7/NFJavE1G4w5R7xQUucXEJTiSThcYQgTnuV5x0YgtvhPIzSGos3RfxPoUcT4jIUXct8qC4ODL4vJJdwbu1Q2CJDEAS\u002BygG3XAMoUZB9DGwJQUlR3BqtkzAOozXzhxcPPslk0NItlZ[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-64e1963b-bd9f-8119-e4bf-79f6b73b1b36/test-file-cb1b68c7-27ac-15f1-4e3f-464f712f972a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:20 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCA9E7D43B6B5\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:25.8290357Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:25.4332789Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:25.8290357Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "S/kaRqDuPPXJwCHlArSULNONFXG7AOkEzi4LxtTVWzN7m0mteIX6NYFWElCO6VGbmUQiAex3BEsPFXhy43Ug82TtamZr5rRNkuDwZO6ZduTdbyyQs1pGA5f\u002BnWMMiFILNh/roA=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-64e1963b-bd9f-8119-e4bf-79f6b73b1b36?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "889418564",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
