{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9ae7b091-039e-1840-487b-f290189fa09f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E5DB1FC33\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:09:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9ae7b091-039e-1840-487b-f290189fa09f/test-file-07b7fb69-0221-fdd1-b407-a2e337674be1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E5DC2C422\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:09:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:09:32.9745954Z",
        "x-ms-file-creation-time": "2023-10-11T21:09:32.9745954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:09:32.9745954Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9ae7b091-039e-1840-487b-f290189fa09f/test-file-07b7fb69-0221-fdd1-b407-a2e337674be1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "AsoOMffaBcw\u002BPr5Th7q6uzQweboFagbdvzTQVRGmuyEC0nxQBTOVRy18EXnPgiA57D6J9KUA4JfEMXLCCbC7l4KdUbQ\u002BarYBmzKNiVmMDjwUl2nSHcd7AfHljNPA0z59wXn3MjBr\u002B4KIiFhzc1c\u002BNyM2rnJG6Hq7IU/DWN3iQMjzD8jflNsLqJvnSZVuB46aplWwiiXLNtj/PBDhqKKlpkeQf2OOX6NHKgXWX5/lTBnBKLKIMbWjJ9nv31jLKv/5QaNN3ogrC0exaV8f9dY4Gu/2H4DwHHSS7VeJn39KewAG3R38l26Rlhxq1shVgzICtsVo1Qp/CSQuu/AwoWzIZ\u002B1fGRi5PIKBZIljhkarPGklh\u002Bi54ab1htT4zdx9YfSwoW7b9moaSXpC53CBHILegn\u002BHCxmED4VGaZJEwG6m[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9ae7b091-039e-1840-487b-f290189fa09f/test-file-07b7fb69-0221-fdd1-b407-a2e337674be1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCA9E5DD0A49F\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:09:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:09:33.0655391Z",
        "x-ms-file-creation-time": "2023-10-11T21:09:32.9745954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:09:33.0655391Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "AsoOMffaBcw\u002BPr5Th7q6uzQweboFagbdvzTQVRGmuyEC0nxQBTOVRy18EXnPgiA57D6J9KUA4JfEMXLCCbC7l4KdUbQ\u002BarYBmzKNiVmMDjwUl2nSHcd7AfHljNPA0z59wXn3MjBr\u002B4KIiFhzc1c\u002BNyM2rnJG6Hq7IU/DWN3iQMjzD8jflNsLqJvnSZVuB46aplWwiiXLNtj/PBDhqKKlpkeQf2OOX6NHKgXWX5/lTBnBKLKIMbWjJ9nv31jLKv/5QaNN3ogrC0exaV8f9dY4Gu/2H4DwHHSS7VeJn39KewAG3R38l26Rlhxq1shVgzICtsVo1Qp/CSQuu/AwoWzIZ\u002B1fGRi5PIKBZIljhkarPGklh\u002Bi54ab1htT4zdx9YfSwoW7b9moaSXpC53CBHILegn\u002BHCxmED4VGaZJEwG6mAwOUsuTX0EX\u002BCz1tdvo2dGlRGkpd9lXaK5LplIzX1YkLnONs7GmeBrI5iADcFpiKEPQp86UjSQ2uuoZR7ju4JjW0YtoXyYgAshSYI21V/hX6XoOXruLj51PVvjLiTBh2gGHLJ7S9c0ZsKECRiyWgWLtxV4\u002B4IHhS0HqGQQtWHWb7IqILitZhPOs8K4WhUVwtNWV2cfSIvmDpeFc5NzE7FgvalWmClc7kDxuje/XysX4eWQym36txcmNCIRJ/KAW5ARU="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9ae7b091-039e-1840-487b-f290189fa09f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:09:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "62100589",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
