{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d69ea316-81af-b2ba-10d5-f42dd4f9f65b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA862E89569\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:21:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d69ea316-81af-b2ba-10d5-f42dd4f9f65b/test-file-c499c96f-77e6-b9aa-8e57-1a5c4b316a49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA862F8A085\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:21:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:21:16.6834821Z",
        "x-ms-file-creation-time": "2023-10-11T22:21:16.6834821Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:21:16.6834821Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d69ea316-81af-b2ba-10d5-f42dd4f9f65b/test-file-c499c96f-77e6-b9aa-8e57-1a5c4b316a49?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "5mMFRzzbwoY0c40pUrNpf6u4GX4sKaqw4gOMQGt6FmorwHp6NmBAkwcTj3PpgGba7pqxkxfsHb24VWQ5ToEbulwj/pI470hLd4Z2GZk2xmGdsVLQyYNSPqK9weH7B0SF99UWxoLTov9RZhyRdQQjgY8Cm5wuS/HZ0L/wey5nT29B8CHEIP/fyg9TfmNmwMmemT9S\u002BWynVqzkPfbD4yfQ6hasUITiX2GPItGN28yNcg/2UeHvFVUDmZl14OMJHObogpNMuXBEuzrdwtaaGnvfVsrnzJFG4dXAqbfqbX5\u002BhQbqpVk4QbmesZamEVJ/aH4elYkZIk9VoaC\u002BixC5WU28Xj3Qr3UipxQRSBv6n8\u002BDQUA4zNj1ZWO3lAO4erao5VhI6rMVr7gJ/O10B9o0WgHQO0nPgY10xvnZGBtxaSxeaGLCsbUcbpKHLs/[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d69ea316-81af-b2ba-10d5-f42dd4f9f65b/test-file-c499c96f-77e6-b9aa-8e57-1a5c4b316a49",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:11 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCAA863071D34\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:21:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:21:16.7784244Z",
        "x-ms-file-creation-time": "2023-10-11T22:21:16.6834821Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:21:16.7784244Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "5mMFRzzbwoY0c40pUrNpf6u4GX4sKaqw4gOMQGt6FmorwHp6NmBAkwcTj3PpgGba7pqxkxfsHb24VWQ5ToEbulwj/pI470hLd4Z2GZk2xmGdsVLQyYNSPqK9weH7B0SF99UWxoLTov9RZhyRdQQjgY8Cm5wuS/HZ0L/wey5nT29B8CHEIP/fyg9TfmNmwMmemT9S\u002BWynVqzkPfbD4yfQ6hasUITiX2GPItGN28yNcg/2UeHvFVUDmZl14OMJHObogpNMuXBEuzrdwtaaGnvfVsrnzJFG4dXAqbfqbX5\u002BhQbqpVk4QbmesZamEVJ/aH4elYkZIk9VoaC\u002BixC5WU28Xj3Qr3UipxQRSBv6n8\u002BDQUA4zNj1ZWO3l[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d69ea316-81af-b2ba-10d5-f42dd4f9f65b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:21:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "813057501",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
