{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-acf8af58-a7b7-98bf-eae5-4ec11e98ba86?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E799667DE\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-acf8af58-a7b7-98bf-eae5-4ec11e98ba86/test-file-cd43e374-eadf-17a2-4fd4-68c9e4f5a7c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E79A85C8A\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:19.7777546Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:19.7777546Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:19.7777546Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-acf8af58-a7b7-98bf-eae5-4ec11e98ba86/test-file-cd43e374-eadf-17a2-4fd4-68c9e4f5a7c9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "jPNk3K1\u002BgXj/3\u002BVO5rh30c93et9QN\u002BiBqwNDQELizxwaOcuXLWk3T8Z3A1h/FzHnjZdnNMay71QL4zGqOkE1HBDIM6zt4KNlPysZ2TSPAZPSXLKre5tVaEl2jEk4jRWEQedItuOE\u002Ba3zAfSbmRYge\u002BGd2N6PiaB0c8tjd1NaLbIWlJdNR0uwTWMFuHqmus4yVhBom7U29LdG00MYIYJZmdRChQR/0zSW7Yp7idEmzbn9MCBD8pL836DfBnMHmCzgrB\u002BlZDTJs4Pc0a0ru2vmIAWKGvBhFqdCRaZkn8zAj1Rdmt2ygGmEM32dZiDk0SM0\u002BeZufX08f5V4Yx\u002BOZBS2G0JZzSGNNJ\u002BcBuZzxK\u002BGXXOCL6XmUhHXIRpHOhxJ9c5o5kveiwQBp8VG0XeWyLvm8QarD[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-acf8af58-a7b7-98bf-eae5-4ec11e98ba86/test-file-cd43e374-eadf-17a2-4fd4-68c9e4f5a7c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:14 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCA9E79B72749\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:19.8746953Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:19.7777546Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:19.8746953Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "jPNk3K1\u002BgXj/3\u002BVO5rh30c93et9QN\u002BiBqwNDQELizxwaOcuXLWk3T8Z3A1h/FzHnjZdnNMay71QL4zGqOkE1HBDIM6zt4KNlPysZ2TSPAZPSXLKre5tVaEl2jEk4jRWEQedItuOE\u002Ba3zAfSbmRYge\u002BGd2N6PiaB0c8tjd1NaLbIWlJdNR0uwTWMFuHqmus4yVhBom7U29LdG00MYIYJZmdRChQR/0zSW7Yp7idEmzbn9MCBD8pL836DfBnMHmCzgrB\u002BlZDTJs4Pc0a0ru2vmIAWKGvBhFqdCRaZkn8zAj1Rdmt2ygGmEM32dZiDk0SM0\u002BeZufX08f5V4Yx\u002BOZBS2G0JZzSGNNJ\u0[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-acf8af58-a7b7-98bf-eae5-4ec11e98ba86?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "95691751",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
