{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9e7ebafa-9c12-e94f-f126-22a88e4607a0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E719BADEC\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9e7ebafa-9c12-e94f-f126-22a88e4607a0/test-file-bf4c4181-0d14-bff1-6a9b-a716b8db4c40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E71ABB88C\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:06.3779980Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:06.3779980Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:06.3779980Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9e7ebafa-9c12-e94f-f126-22a88e4607a0/test-file-bf4c4181-0d14-bff1-6a9b-a716b8db4c40?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:01 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "Dw4d8uPc5pV0kB3NFhpZUx7kxrDtmHcHzkhpmcCjoiW1xyLqhufZsWK978goYMyYRX53wONW6neXFSSack3V0O34GE74bs02CxROL6mu3m580VNBLOJCXtyrU3DDPz4U6B/bMEd\u002Bn9exQbTOB7vO6De2HqH6lKMKtblxTRtdcszVOkeJ060m/TF8kOstc1ch3Wo4DSCdGlN70HuODFK7VM7o\u002Bc1zRBWJkCFvfgS33EFhUG\u002BwJGWrNyDzDQMyl/DfwDsdRXqKrZhVr3z/LptPxPM5LLziCjBoPcGsfzYRV/gwj73ImpfH16LXW3XorAmEpEkQ\u002BWo0/LULtAi53S1iRFeEz57ehylbcVUZC6\u002B6gJC4KNvsAV2N\u002B5MHvOaPDvp0dBcdZNxqph0gtIgVG/AGUTR3ALRSdUL69tQK1spCzGNap[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9e7ebafa-9c12-e94f-f126-22a88e4607a0/test-file-bf4c4181-0d14-bff1-6a9b-a716b8db4c40",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:01 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCA9E71B9E71F\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:06.4709407Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:06.3779980Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:06.4709407Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "Dw4d8uPc5pV0kB3NFhpZUx7kxrDtmHcHzkhpmcCjoiW1xyLqhufZsWK978goYMyYRX53wONW6neXFSSack3V0O34GE74bs02CxROL6mu3m580VNBLOJCXtyrU3DDPz4U6B/bMEd\u002Bn9exQbTOB7vO6De2HqH6lKMKtblxTRtdcszVOkeJ060m/TF8kOstc1ch3Wo4DSCdGlN70HuODFK7VM7o\u002Bc1zRBWJkCFvfgS33EFhUG\u002BwJGWrNyDzDQMyl/DfwDsdRXqKrZhVr3z/LptPxPM5LLziCjBoPcGsfzYRV/gwj73ImpfH16LXW3XorAmEpEkQ\u002BWo0/LULtAi53S1iRFeEz57ehylbcVUZC6\u002B6gJC4KNvs[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9e7ebafa-9c12-e94f-f126-22a88e4607a0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "255247357",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
