{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7dcebd59-c369-097f-f5a6-79b92f44fa05?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC133B4A11F2A5\u0022",
        "Last-Modified": "Fri, 12 Jan 2024 06:54:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7dcebd59-c369-097f-f5a6-79b92f44fa05/test-file-b3fcd5b6-4078-b5e9-fd87-475fcff29f5c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC133B4A1FB49C\u0022",
        "Last-Modified": "Fri, 12 Jan 2024 06:54:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-01-12T06:54:14.7357852Z",
        "x-ms-file-creation-time": "2024-01-12T06:54:14.7357852Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-01-12T06:54:14.7357852Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7dcebd59-c369-097f-f5a6-79b92f44fa05/test-file-b3fcd5b6-4078-b5e9-fd87-475fcff29f5c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "6JjKuconsrtXv1M0Eo9Cjxgu1pWcCmmtjMTVyyp\u002BWK5aNUds2jj7jyNAXLjttaNtRbhGoRsKwN4vHSwFUeaR2Wek2dxI1bXfM0dyW62wwNchaIZyN7aTUHVpPb0M9T08r4JQSNvGJXADZ27TmGQwfl1U4\u002BlgH6KxEIhm3pf30z0JNawrYHf8W0IWbtBIv7gROL9gtxJU3JDgnzdSX0bYC5MxyWK4BR7lWIimSrDSaFHQVabXlxwrtVkcSsA/qfv8PWM8F/ZWWDOgel6JrZLfDjbmggmgAHN3BRMJm7pdpq\u002BMqgxMlVFaevxyNh29oQjHPDyJWCbxWzzwxRHiTLx4Q9Sv/AKFk3jliwgMLclVuWQLQl991E2Imk7QXM8/eC0/\u002BvNJDqQFQanDpMwe5S5ymgut1gpd\u002Bm6HJmG0tDaopRPbzDPVDK[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7dcebd59-c369-097f-f5a6-79b92f44fa05/test-file-b3fcd5b6-4078-b5e9-fd87-475fcff29f5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:14 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC133B4A2D4730\u0022",
        "Last-Modified": "Fri, 12 Jan 2024 06:54:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-01-12T06:54:14.8247344Z",
        "x-ms-file-creation-time": "2024-01-12T06:54:14.7357852Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-01-12T06:54:14.8247344Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "6JjKuconsrtXv1M0Eo9Cjxgu1pWcCmmtjMTVyyp\u002BWK5aNUds2jj7jyNAXLjttaNtRbhGoRsKwN4vHSwFUeaR2Wek2dxI1bXfM0dyW62wwNchaIZyN7aTUHVpPb0M9T08r4JQSNvGJXADZ27TmGQwfl1U4\u002BlgH6KxEIhm3pf30z0JNawrYHf8W0IWbtBIv7gROL9gtxJU3JDgnzdSX0bYC5MxyWK4BR7lWIimSrDSaFHQVabXlxwrtVkcSsA/qfv8PWM8F/ZWWDOgel6JrZLfDjbmggmgAHN3BRMJm7pdpq\u002BMqgxMlVFaevxyNh29oQjHPDyJWCbxWzzwxRHiTLx4Q9Sv/AKFk3jliwgMLclVuWQLQl991E2Imk7QXM8/eC0/\u002BvNJDqQFQanDpMwe5S5ymgut1gpd\u002Bm6HJmG0tDaopRPbzDPVDKu/BQC1ujCAarUfXsHEkqEi4v\u002BFwedDUY1yG/65Qhj7nI5f7dAKp0A\u002BBryrlFZ15BJxueozUErEfLRzQ58xxiedJMEzZKTQFzq/Rroql702/DbrSIktyEtDmnEcl2ShDECUDm\u002BVQn9uoKGvdAqQmeX3PEZoRn6dcFx18MkztIDWHTl6lohNobq3fafofVRBsgGMJVodOcbB950TH1K1Ouwh2VbQFQNcqZuMscjWtfIIND3Ipo4luORzuJ8="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-7dcebd59-c369-097f-f5a6-79b92f44fa05?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "124404845",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
