{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57fabba5-77b3-db6a-67c3-a168d27b81c7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E7C576B46\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57fabba5-77b3-db6a-67c3-a168d27b81c7/test-file-78325da4-9bb5-f50e-1042-48137accb10c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCA9E7C700D41\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:24.4418881Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:24.4418881Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:24.4418881Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57fabba5-77b3-db6a-67c3-a168d27b81c7/test-file-78325da4-9bb5-f50e-1042-48137accb10c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "BGexD4h9Z8pY70Z1\u002B1kywr8JZRvnvfHMNZpOX4cwVyK1vM/qDWUhjYfZGjrxlDHlKBFkTxzKOEd15druLgdDKJgkwD\u002BKSLVZ59eUDaO32qFoaTZ1ywcF6oOHdSeLM19/lvGizdPyWuBbCmhFNiqjvgo4hcXRzV2RHta7AtOOzrN4FHaxFA3OdQ9VGsCfwLNY5LYcUq2ZrcmUEa79NlcNzTy0zCK08qn8ag\u002B2e7Oc8V0iYh4ccXwF3matHANe0T\u002B3R0yE6/ORpPEMH\u002Bid4zIV\u002BB9Q2tQ48VzAru67BtWmnpnQ/jRmGAZqkb4tD1GTZ/o0lyTjDvdqf1bwxDwF1Z0cZoFOzeX\u002Br\u002BAZ5kgWC\u002BEKLEbzhm\u002Bxwo\u002BiZX/ddVPJZLsgEKnQRJoVNuhDyieuVHN1[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57fabba5-77b3-db6a-67c3-a168d27b81c7/test-file-78325da4-9bb5-f50e-1042-48137accb10c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCA9E7C7E89F3\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 21:10:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T21:10:24.5368307Z",
        "x-ms-file-creation-time": "2023-10-11T21:10:24.4418881Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T21:10:24.5368307Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "BGexD4h9Z8pY70Z1\u002B1kywr8JZRvnvfHMNZpOX4cwVyK1vM/qDWUhjYfZGjrxlDHlKBFkTxzKOEd15druLgdDKJgkwD\u002BKSLVZ59eUDaO32qFoaTZ1ywcF6oOHdSeLM19/lvGizdPyWuBbCmhFNiqjvgo4hcXRzV2RHta7AtOOzrN4FHaxFA3OdQ9VGsCfwLNY5LYcUq2ZrcmUEa79NlcNzTy0zCK08qn8ag\u002B2e7Oc8V0iYh4ccXwF3matHANe0T\u002B3R0yE6/ORpPEMH\u002Bid4zIV\u002BB9Q2tQ48VzAru67BtWmnpnQ/jRmGAZqkb4tD1GTZ/o0lyTjDvdqf1bwxDwF1Z0cZoFOzeX\u002Br\u002BAZ5[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57fabba5-77b3-db6a-67c3-a168d27b81c7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 21:10:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "365592788",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
