{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-b6f0f5d1-168b-8f58-3cee-164ec6c469d4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEACAF240B6\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:29:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-b6f0f5d1-168b-8f58-3cee-164ec6c469d4/test-file-b8e14a31-d2e7-b171-6fb4-0f23a8c449ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEACB147808\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:29:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:29:27.9003656Z",
        "x-ms-file-creation-time": "2023-11-02T21:29:27.9003656Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:29:27.9003656Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-b6f0f5d1-168b-8f58-3cee-164ec6c469d4/test-file-b8e14a31-d2e7-b171-6fb4-0f23a8c449ba?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "4u6FnyQ8KeLA2IHm8Rk3DirSYvugU0D2tO689vW1jylIdIkVE5139CH\u002B\u002BA5Ri79WfQD51WJNGo\u002Buj\u002Bs2fzLsC0hXnX2PIfuNWm7aoVoxpCkvZnn1u7rH\u002Bln6Z4OyQXTuEu3G\u002Be1Cx1sEa3v0c3k0fOvBBhm490\u002BOkKIjlbp42xn5649ta6o77Z8e8FA/0ofgxeuY8DpbNhqeN2lKHjGgjJBh\u002B4fqxxBAhhl5mQf\u002BT70bQs/O4OvenbV0zzNB8M5tfWPA3dcA9v3aV2kh4ZwTn\u002BirL9ti0aylg13Rdfjc/5VLDBujPnHmGkzR9IiBvbwZYS9LlcHyCqy3Glp6LoAF/VjU1dWAb2B2xRSPkN0jI8WguBTIkWnUWAFv7CMXbOzMzPYvrOfnmfHP1NCsY3rOlPeU2[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-b6f0f5d1-168b-8f58-3cee-164ec6c469d4/test-file-b8e14a31-d2e7-b171-6fb4-0f23a8c449ba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEACB2F0103\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:29:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:29:28.0742659Z",
        "x-ms-file-creation-time": "2023-11-02T21:29:27.9003656Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:29:28.0742659Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "4u6FnyQ8KeLA2IHm8Rk3DirSYvugU0D2tO689vW1jylIdIkVE5139CH\u002B\u002BA5Ri79WfQD51WJNGo\u002Buj\u002Bs2fzLsC0hXnX2PIfuNWm7aoVoxpCkvZnn1u7rH\u002Bln6Z4OyQXTuEu3G\u002Be1Cx1sEa3v0c3k0fOvBBhm490\u002BOkKIjlbp42xn5649ta6o77Z8e8FA/0ofgxeuY8DpbNhqeN2lKHjGgjJBh\u002B4fqxxBAhhl5mQf\u002BT70bQs/O4OvenbV0zzNB8M5tfWPA3dcA9v3aV2kh4ZwTn\u002BirL9ti0aylg13Rdfjc/5VLDBujPnHmGkzR9IiBvbwZYS9LlcHyCqy3Glp6LoAF/VjU1dWAb2B2xRSPkN0jI8WguBTIkWnUWAFv7CMXbOzMzPYvrOfnmfHP1NCsY3rOlPeU2XZsPGvvAH3TEIM8X1kowsTm83feuR8i\u002Bb2YJ/SHoVcsg5J2YI\u002BKQKxqE4huknR3hKC156B/th9WSUKuVtiITG8rD9zGsWI1W7LKdKaWs2ZIIaNT0rm3rcxyHxZM3OrT4cYZQ4KYsNI\u002Bf4vttEJ5wJXcZTQ1NXq1dGIPU5JL6H/I95LffXDksHDQFVIuyfiK\u002BV\u002BAcHe1nqxMY88giVw/8pYMJb2vmUIl\u002BLTDZB8nh6pqhFozy3gHE1jmkxmhwycUkCK7IaQ6218cW3jC8Tk="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-b6f0f5d1-168b-8f58-3cee-164ec6c469d4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "97072718",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
