{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9f432344-bef0-7fe9-3fc7-cd0b9bea98eb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA8468D3700\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9f432344-bef0-7fe9-3fc7-cd0b9bea98eb/test-file-f1e3201d-feb7-5596-8114-e04ea4aaef21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA846AE06C6\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:29.2183750Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:29.2183750Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:29.2183750Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9f432344-bef0-7fe9-3fc7-cd0b9bea98eb/test-file-f1e3201d-feb7-5596-8114-e04ea4aaef21?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "sYZH6wojzkxFE7H7d\u002BMmFDZRIG46JJDFGorzCPeMnWWvVguBZIC9\u002BlGXrKNMm96e7cwYU4qA5432gdF/MMZVuHVLTCHXpa\u002B2kyYdo3fseX6sVRordErbLm9\u002Bi\u002BKuPcmLQfMuAE68xkgcYb9jY0MVCghS09usKUQrcB2yWRnNB1ZckWGEvXgv747RDxOKd8oraIHZXGru3xivApAxCm0vTllpB9LikUyQIuNM2xoxofhThvCY86rrbbJJ1Lvo/uQgosC5IXD4SNc1STqGogT9fmGX3YN9l1uufZkfmbyQqCP\u002BKzhad3\u002BIWz4YYqpwZMuuS1ZaUCFgowpkCqPX2K4bpKEXiHbLowbhD4JFZDSxPhjNcU5lNlcCnogu9W3bsIOP/b4IWdxV4qhQeEGfGz7Ws8yLCWZgtW5KFentna2Y[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9f432344-bef0-7fe9-3fc7-cd0b9bea98eb/test-file-f1e3201d-feb7-5596-8114-e04ea4aaef21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCAA846C50D9E\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:29.3692830Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:29.2183750Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:29.3692830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "sYZH6wojzkxFE7H7d\u002BMmFDZRIG46JJDFGorzCPeMnWWvVguBZIC9\u002BlGXrKNMm96e7cwYU4qA5432gdF/MMZVuHVLTCHXpa\u002B2kyYdo3fseX6sVRordErbLm9\u002Bi\u002BKuPcmLQfMuAE68xkgcYb9jY0MVCghS09usKUQrcB2yWRnNB1ZckWGEvXgv747RDxOKd8oraIHZXGru3xivApAxCm0vTllpB9LikUyQIuNM2xoxofhThvCY86rrbbJJ1Lvo/uQgosC5IXD4SNc1STqGogT9fmGX3YN9l1uufZkfmbyQqCP\u002BKzhad3\u002BIWz4YYqpwZMuuS1ZaUCFgowpkCqPX2K4bpKEXiHbLowbhD4JFZDSxPhjNcU5lNlcCnogu9W3bsIOP/b4IWdxV4qhQeEGfGz7Ws8yLCWZgtW5KFentna2YBV7\u002BtWd2qOU7eI6lFb0VYoJJV0KhUKcdL0dPvkTzZ0X7t3LjoGXWYArmUJHXu6CwNLJnpEVq97W24YYfJuqgSBBJql1LMsIccvY3uv8VRXOnn4qSi8P/kMC9LL/ftzogRgeAjhBDZQHwSjFPMjy1oJsSeIZfDrxNSRmcjgYCPbu8F3T4lbdiZDqIoUCRsF2EB4skzD6zwDdLM0X3ptf77Q12khvIvQvjrxRL12x7vJi8GIZ63nF9CFY9rWFya71jjbQ="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9f432344-bef0-7fe9-3fc7-cd0b9bea98eb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "7877",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
