{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc66bb6f-0c35-4615-67f9-2269e2174e44?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA8481E9980\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc66bb6f-0c35-4615-67f9-2269e2174e44/test-file-fdac0df3-6407-cf8d-9f9e-577fd0a83f3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA8482EC571\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:31.7398385Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:31.7398385Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:31.7398385Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc66bb6f-0c35-4615-67f9-2269e2174e44/test-file-fdac0df3-6407-cf8d-9f9e-577fd0a83f3b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "/OFakwhIX5rps82vapnXGoXXefl//zmqwUBmRnuMCB2U\u002BoUO/51cqq0SE1OW3WQGxzz5\u002BC9Fu/yor9HI4RgeXKuwG28UyBvne85MbevmE\u002BTbYH4\u002Bkw/tTz\u002BIZk/Mk8mU87an5sL18f8hEXxh\u002BU0Qwpzt7IGZ38mbwswwi2LLGucFt3k0Pi0h5m5/HYGTjFXxd6Oz36dI\u002BhTtDCP2xGacVveUXELU24RuywYSGsJICDV2PxO\u002BFztAvbxlRzIKKyII48aK/jATHJwfRRShNeBSpQPtf4RS3T\u002B7VJ6Fb5RSZKDkCTf8vgkFYiJ3n9Enn4fbEqIuHKudtgWGzqqRja0HzeFzvSypVuf66B1i2j5ulLUXqVzxI0f1RlIxde9ec9R0cNLws\u002BFaMry7MzSOO9zHGDn1e[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc66bb6f-0c35-4615-67f9-2269e2174e44/test-file-fdac0df3-6407-cf8d-9f9e-577fd0a83f3b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:26 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCAA8483CA5F6\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:31.8307830Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:31.7398385Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:31.8307830Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "/OFakwhIX5rps82vapnXGoXXefl//zmqwUBmRnuMCB2U\u002BoUO/51cqq0SE1OW3WQGxzz5\u002BC9Fu/yor9HI4RgeXKuwG28UyBvne85MbevmE\u002BTbYH4\u002Bkw/tTz\u002BIZk/Mk8mU87an5sL18f8hEXxh\u002BU0Qwpzt7IGZ38mbwswwi2LLGucFt3k0Pi0h5m5/HYGTjFXxd6Oz36dI\u002BhTtDCP2xGacVveUXELU24RuywYSGsJICDV2PxO\u002BFztAvbxlRzIKKyII48aK/jATHJwfRRShNeBSpQPtf4RS3T\u002B7VJ6Fb5RSZKDkCTf8vgkFYiJ3n9Enn4fbEqIuHKudtgWGzqqRja0HzeFzvSypVuf66B1i2j5ulLUXqVzxI0f1RlIxde9ec9R0cNLws\u002BFaMry7MzSOO9zHGDn1euNRFamZfnbZd\u002BD3m3RI7WpsfeHTvHefNvATZwt2al21afnwIlooVzRrgbrcw5e/RU1xW5pYIb1sst\u002B5hRdqYw2DQTF7V8oQQyasZzu9w3JYUyG\u002BBA/CXUc8hHB6b9EcAR2sWIJlRO6CYRd0q7qBru5sYDL2rF7\u002BwePqP9JZldNUkGYdEGrw8g8yO6P3TbKNutWBDg\u002BfJlS/rpeeewUbKcxEIBtTY56EfG4iw3G6B3MxXIT92IbEtWoRXmLSUXYKFxLXsy2XOlc3/ZKhfGI="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-cc66bb6f-0c35-4615-67f9-2269e2174e44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "863609080",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
