{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-05695f78-386c-cd27-53e8-461a471a1898?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA849D7C921\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-05695f78-386c-cd27-53e8-461a471a1898/test-file-11b725ad-8022-cd4b-e0f4-baff82294c3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA849E7C962\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:34.6300770Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:34.6300770Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:34.6300770Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-05695f78-386c-cd27-53e8-461a471a1898/test-file-11b725ad-8022-cd4b-e0f4-baff82294c3b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "r09PW2CECh4KlCaM/oSKTvCqug/Dy6ycDg2D7fa\u002BCG6qrVAy2vHazg9b5iXqiqsKqzucGrY6SeOis0xSAR0oS4u44VAzV3T/z\u002BwAZ\u002BSHsYNheEG6Iu63b2RtjyekiM3yM5uZMqlb11PHnErKOuH\u002BGgHJ8IjbbSmdAXLrxcdNWkcfDTRJ7n/aBqHu84Wj7DSDbnUm25dEF8Vx/DE2bxGLekICqi2stCyB7urn7Hqj\u002BRQ\u002BaFZSJ3\u002Bw2/Zv1/FOo5aPY3hDoEIH1rlIpOysXSpKzgMd\u002BAa6OFPCUs82PN07MktTV4gBX1jRN5GcCoKTA37LJQnuMauP1SslgE5y0JrcDXKgWQWiSG6qS8F0HS7QL05RaxfUTQGfw4Fd3N8KX2b3wPwQ8qp4Kd2aQ\u002BbpGrf9VFH/IGSCCM[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-05695f78-386c-cd27-53e8-461a471a1898/test-file-11b725ad-8022-cd4b-e0f4-baff82294c3b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:29 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCAA849F61F03\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:34.7240195Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:34.6300770Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:34.7240195Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "r09PW2CECh4KlCaM/oSKTvCqug/Dy6ycDg2D7fa\u002BCG6qrVAy2vHazg9b5iXqiqsKqzucGrY6SeOis0xSAR0oS4u44VAzV3T/z\u002BwAZ\u002BSHsYNheEG6Iu63b2RtjyekiM3yM5uZMqlb11PHnErKOuH\u002BGgHJ8IjbbSmdAXLrxcdNWkcfDTRJ7n/aBqHu84Wj7DSDbnUm25dEF8Vx/DE2bxGLekICqi2stCyB7urn7Hqj\u002BRQ\u002BaFZSJ3\u002Bw2/Zv1/FOo5aPY3hDoEIH1rlIpOysXSpKzgMd\u002BAa6OFPCUs82PN07MktTV4gBX1jRN5GcCoKTA37LJQnuMauP1SslgE5y0JrcDXKgWQWiSG6qS[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-05695f78-386c-cd27-53e8-461a471a1898?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1973170434",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
