{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-afb93a9e-71d8-6759-3cdf-c6e5a50049e4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAD4B631AD\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-afb93a9e-71d8-6759-3cdf-c6e5a50049e4/test-file-f5fc3cec-01c0-04b6-6ccd-186878713613",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAD4C1FF0C\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:29:44.1370892Z",
        "x-ms-file-creation-time": "2023-11-02T21:29:44.1370892Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:29:44.1370892Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-afb93a9e-71d8-6759-3cdf-c6e5a50049e4/test-file-f5fc3cec-01c0-04b6-6ccd-186878713613?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "lmdY7mT7iHFx0/D0wqIEMIG2\u002B/QsU56L/5fhjsmzaWQYxZV/DwDe8bOKhO0RwkLKyOjnwXZB5kLIzO/MGvqovWmL2/wNhSGA1wpBos6xejxVFsXhzKfu1t9StkIREte54seDheZFvUPHZuprAEN0F1KydgM0xvDBnQUcu87eb8Qzh8AHLfRWEFmCGma9gtWb3p/wXpzThRvWwujhKAJ06PYlOHmDbOpdXGWpsayKAxovgN0v7hAnXwKkMWsMdOdXDTFvmElcGHG0kgI2KtNuTL7NsaclRfrl/dl23zt/UOd\u002BUqR6G2vQ02hrelsO8TQuNeSsP8M/Msc3iZtw5Tk2NUEbuNgv9DFT/N4/ucue1wykSKlW0hEjPh/cQpHPYO0vNEQZ8jhc/0GzWEPlAHj8mbGOy52P4GIw93m4U7Gfg5vwD4WGheTTSEhnonrOPj6n4[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-afb93a9e-71d8-6759-3cdf-c6e5a50049e4/test-file-f5fc3cec-01c0-04b6-6ccd-186878713613",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAD4CD961D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:29:44.2130461Z",
        "x-ms-file-creation-time": "2023-11-02T21:29:44.1370892Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:29:44.2130461Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "lmdY7mT7iHFx0/D0wqIEMIG2\u002B/QsU56L/5fhjsmzaWQYxZV/DwDe8bOKhO0RwkLKyOjnwXZB5kLIzO/MGvqovWmL2/wNhSGA1wpBos6xejxVFsXhzKfu1t9StkIREte54seDheZFvUPHZuprAEN0F1KydgM0xvDBnQUcu87eb8Qzh8AHLfRWEFmCGma9gtWb3p/wXpzThRvWwujhKAJ06PYlOHmDbOpdXGWpsayKAxovgN0v7hAnXwKkMWsMdOdXDTFvmElcGHG0kgI2KtNuTL7NsaclRfrl/dl23zt/UOd\u002BUqR6G2vQ02hrelsO8TQuNeSsP8M/Msc3iZtw5Tk2NUEbuNgv9DFT/N4/ucue1wykSKlW0hEjPh/cQpHPYO0[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-afb93a9e-71d8-6759-3cdf-c6e5a50049e4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:29:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1410196344",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
