{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c285c388-64cf-60f3-933d-201469aceae6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA84782BE4E\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c285c388-64cf-60f3-933d-201469aceae6/test-file-595a9a3d-e90f-7126-c7b1-00d6b6dde4db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA84794E760\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:30.7314528Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:30.7314528Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:30.7314528Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c285c388-64cf-60f3-933d-201469aceae6/test-file-595a9a3d-e90f-7126-c7b1-00d6b6dde4db?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "jgnD1GFvtEccVLSka//6ZxMh2OBcVQdnbtm0gL0ejbOvz27PlhErzuYTPLs1gQXIt5nDlQQDfjgCXGWHujOJ/sYA9ZyQK9AB9Qr6SBhMMe3T7MgkW/evrFA1zTqroxOyij30NIxpN4zIwaD6CTUftSp4s85qZKPOUUhMWl2VVlH2R77aV/1garQ8W5lXtaMaFRcQMu9FSCWaJuNDHNwuM2tPA8F3RF4sF0kaLgkJd5ylMkVGhSNhsf\u002BYQDEaHU7YDiguB7HhotC54xqmKxkckK5GneqX6K1H7VLC3wQtEvr7QR/h22/rxI90jaEIuoblfK\u002BC039jQCV65hpfHsPMi9Agq\u002Bn5O7U\u002BW9laI1sMPzLL3GJUqz97lwH6ZvRVjKXMpwHQ6A\u002Bd60H6Q3emCR3Kbafnk0FgeOCRpRPn/9TA6c8zjntZO1[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c285c388-64cf-60f3-933d-201469aceae6/test-file-595a9a3d-e90f-7126-c7b1-00d6b6dde4db",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:25 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCAA847A53884\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:30.8383876Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:30.7314528Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:30.8383876Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "jgnD1GFvtEccVLSka//6ZxMh2OBcVQdnbtm0gL0ejbOvz27PlhErzuYTPLs1gQXIt5nDlQQDfjgCXGWHujOJ/sYA9ZyQK9AB9Qr6SBhMMe3T7MgkW/evrFA1zTqroxOyij30NIxpN4zIwaD6CTUftSp4s85qZKPOUUhMWl2VVlH2R77aV/1garQ8W5lXtaMaFRcQMu9FSCWaJuNDHNwuM2tPA8F3RF4sF0kaLgkJd5ylMkVGhSNhsf\u002BYQDEaHU7YDiguB7HhotC54xqmKxkckK5GneqX6K1H7VLC3wQtEvr7QR/h22/rxI90jaEIuoblfK\u002BC039jQCV65hpfHsPMi9Agq\u002Bn5O7U\u002BW9laI1sMPzLL3GJUqz97lwH6ZvRVjKXMpwHQ6A\u002Bd60H6Q3emCR3Kbafnk0FgeOCRpRPn/9TA6c8zjntZO1YjLvEhWWfH1I7jL/hMbvljay8gP0P7tetsOVmocnqicDJRw2RQPx54ydCFBM/bdHvW0CJLOPwSKHkFtB8NH2ITQb/G\u002B6qUEywRqHVzdrEckcXe0aJYVjc1PpvqS4r\u002Ba6ptcsIQFHnQQb31OpCHn7LI6SNZLk7AuuqHkbwPqceiEj3LBQTuC3xMDo/kYhumrZ7pImFnpDxcrbfXiIO8wJj1UyhTu5mu2t2nDSC\u002B21jP4OMdJodlOm0Ab1g="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c285c388-64cf-60f3-933d-201469aceae6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1055898341",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
