{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-50d9259e-75bf-1d72-a3fa-6dd7ac66cd75?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:13:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE8A1FA2C39\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:13:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-50d9259e-75bf-1d72-a3fa-6dd7ac66cd75/test-file-6e3301c9-5bed-1c00-d80d-00294d60fdb3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE8A204259E\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:14:00.0133534Z",
        "x-ms-file-creation-time": "2023-11-02T21:14:00.0133534Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:14:00.0133534Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-50d9259e-75bf-1d72-a3fa-6dd7ac66cd75/test-file-6e3301c9-5bed-1c00-d80d-00294d60fdb3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "PGAY4HO\u002BHuDya/UqyCM2RWv7Rx68Tx5jy9Y3SUF2GqqVBe008Um4C\u002BNSfIJl1VO01rq9Uhjf9uxBtRSdhtSee1BKlcI2AlMhQzw6atOc/faDgnKHuMiRtg8B8jw0GoQOswAxGw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "k88NtuSiRA0JldrjXuh3Og==",
        "ETag": "\u00220x8DBDBE8A21058DA\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-file-last-write-time": "2023-11-02T21:14:00.0933082Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-50d9259e-75bf-1d72-a3fa-6dd7ac66cd75/test-file-6e3301c9-5bed-1c00-d80d-00294d60fdb3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE8A21058DA\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:14:00.0933082Z",
        "x-ms-file-creation-time": "2023-11-02T21:14:00.0133534Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:14:00.0933082Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "PGAY4HO\u002BHuDya/UqyCM2RWv7Rx68Tx5jy9Y3SUF2GqqVBe008Um4C\u002BNSfIJl1VO01rq9Uhjf9uxBtRSdhtSee1BKlcI2AlMhQzw6atOc/faDgnKHuMiRtg8B8jw0GoQOswAxGw=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-50d9259e-75bf-1d72-a3fa-6dd7ac66cd75?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1727484309",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
