{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f11952e5-ee9d-00a6-9541-27891a0df5c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE8A26B53C0\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f11952e5-ee9d-00a6-9541-27891a0df5c0/test-file-fc03030f-f860-2865-7741-b90e9f7ce467",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE8A276FAE3\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:14:00.7659235Z",
        "x-ms-file-creation-time": "2023-11-02T21:14:00.7659235Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:14:00.7659235Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f11952e5-ee9d-00a6-9541-27891a0df5c0/test-file-fc03030f-f860-2865-7741-b90e9f7ce467?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "n6n9ohc6BljQTpp5fXXfBg\u002BBGhgqph6UEsxEd5bzbl6c2MdOM9y11PyrKxFd66sBYrP\u002BHmHMPfiKaZBK9Y7B3eA73aSukdIyzEYbf3sMNiYhQhXj9E/80JvOw8pMat9t6U0wIg4HU9Hgy1EbsL59fjNqKbJ53emQPgwJ380I5mJmrZUt3BQXGu9EAyj\u002B4R/dUUWW4kAs9Atkn\u002BMC/XMD1\u002BXvtAIoUKEfUg/DNdrAkl3sK46HcQMhOrmKyDwxFBx7QCtDDi0dtQCjd48xaL8wpA2FFdLkfGXhznlJnYdl7j3zR/SvfIMwz3aN4/p079L6WSQvq/9Kl8TFYUCz0xd5PolRPiHKgSeKVUVbV5hrbd6nT0RiNkM\u002BqbAw6RtCfPtfFKVxIrGwL9j9pVW57j8sWvRhDITTFgdGE5VxmpcMR9lJ\[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f11952e5-ee9d-00a6-9541-27891a0df5c0/test-file-fc03030f-f860-2865-7741-b90e9f7ce467",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE8A281599E\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:14:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-02T21:14:00.8338846Z",
        "x-ms-file-creation-time": "2023-11-02T21:14:00.7659235Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-02T21:14:00.8338846Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "n6n9ohc6BljQTpp5fXXfBg\u002BBGhgqph6UEsxEd5bzbl6c2MdOM9y11PyrKxFd66sBYrP\u002BHmHMPfiKaZBK9Y7B3eA73aSukdIyzEYbf3sMNiYhQhXj9E/80JvOw8pMat9t6U0wIg4HU9Hgy1EbsL59fjNqKbJ53emQPgwJ380I5mJmrZUt3BQXGu9EAyj\u002B4R/dUUWW4kAs9Atkn\u002BMC/XMD1\u002BXvtAIoUKEfUg/DNdrAkl3sK46HcQMhOrmKyDwxFBx7QCtDDi0dtQCjd48xaL8wpA2FFdLkfGXhznlJnYdl7j3zR/SvfIMwz3aN4/p079L6WSQvq/9Kl8TFYUCz0xd5PolRPiHKgSeKVUVbV5hrbd6nT0Ri[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f11952e5-ee9d-00a6-9541-27891a0df5c0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:14:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2053745205",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
