{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fca91ed5-d720-0378-3238-6d3c5cd9a8ea?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA858049288\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fca91ed5-d720-0378-3238-6d3c5cd9a8ea/test-file-f7f085e6-98ea-0ff8-22fa-51140b30d9f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCAA85814B601\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:58.4125953Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:58.4125953Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:58.4125953Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fca91ed5-d720-0378-3238-6d3c5cd9a8ea/test-file-f7f085e6-98ea-0ff8-22fa-51140b30d9f8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "FdJOkTZuya\u002BIsUzksqIIDq9rYKVJKrBU0pQWJrKPMFtWGkTUTcspd7tBbzlME1yA8UJloM8zr\u002Bsh\u002Br6hV6L9\u002BYDxjZddNMDkQenpB7t3CL43ljRvKZCLI2tZslMMhx8ZRHa4WobEIr2BgV7mSqcwqvIAasFtjc/wZWosBIJt2LrJ0MNEv604cnN37qgxpdjDKQhgCx1eq7enyPQbmB47E6ikHHrk6\u002BtEyPdN9p4mvsCRaNt5DMycayQLnfe4HNpVO9oAjYhe3j0dHEMmELUYgQk0iS9DwQbbB7FV2U30jKsc\u002BLrDJTE3M4mdXPCJdlpv8hzthJOrEnnUJIXXCAXwKY\u002BXCRj6VFvY/FalpWUVUpBW5uYwBggYceZA7wGrYCqErDJh8W1CdJ7BFYc8BWwUvtH1gSEfvyKHf5gyuWVZ[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fca91ed5-d720-0378-3238-6d3c5cd9a8ea/test-file-f7f085e6-98ea-0ff8-22fa-51140b30d9f8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:53 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCAA858224873\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 22:20:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-11T22:20:58.5015411Z",
        "x-ms-file-creation-time": "2023-10-11T22:20:58.4125953Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-11T22:20:58.5015411Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "FdJOkTZuya\u002BIsUzksqIIDq9rYKVJKrBU0pQWJrKPMFtWGkTUTcspd7tBbzlME1yA8UJloM8zr\u002Bsh\u002Br6hV6L9\u002BYDxjZddNMDkQenpB7t3CL43ljRvKZCLI2tZslMMhx8ZRHa4WobEIr2BgV7mSqcwqvIAasFtjc/wZWosBIJt2LrJ0MNEv604cnN37qgxpdjDKQhgCx1eq7enyPQbmB47E6ikHHrk6\u002BtEyPdN9p4mvsCRaNt5DMycayQLnfe4HNpVO9oAjYhe3j0dHEMmELUYgQk0iS9DwQbbB7FV2U30jKsc\u002BLrDJTE3M4mdXPCJdlpv8hzthJOrEnnUJIXXCAXwKY\u002BXCRj6VFvY/FalpWUVUpBW5uYwBggYceZA7wGrYCqErDJh8W1CdJ7BFYc8BWwUvtH1gSEfvyKHf5gyuWVZLJwrIfgytGAjFHFHbvCA22t5LDEvtt8IZOwP2XHUD7s5Z\u002BjrEeRz4Qpx0W2v11EyB6QsuIw0Kna8IrwLI9rvTwS2DgcIlcqGBksmvuRyWI2b3dLNp1YuBD1xLu4oZ74vgYJo\u002BchJKXLaprJBDWuSSsovcEUIIqetiAnJlmbbXp6M9zxiCV/EUbNg8gGk7PfR3\u002BMk\u002BPd4Jl/bunG\u002BgJML/kgTtBUvL0Fqax6Rpy\u002BlCZsS97aCt2WnE9Ddh07uBdEgVPQ="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-fca91ed5-d720-0378-3238-6d3c5cd9a8ea?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 22:20:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "889236113",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
