{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e4d74fe-8959-e9b8-1b6b-aeede1d70bfe?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:32:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC752694BC2A0F\"",
        "Last-Modified": "Wed, 15 May 2024 21:32:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e4d74fe-8959-e9b8-1b6b-aeede1d70bfe/test-file-50e04da4-b899-ee10-b56a-cbf6ef9f1aee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "x-ms-date": "Wed, 15 May 2024 21:32:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC752694CB9FFB\"",
        "Last-Modified": "Wed, 15 May 2024 21:32:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:32:54.5347579Z",
        "x-ms-file-creation-time": "2024-05-15T21:32:54.5347579Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-15T21:32:54.5347579Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e4d74fe-8959-e9b8-1b6b-aeede1d70bfe/test-file-50e04da4-b899-ee10-b56a-cbf6ef9f1aee",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:32:54 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Range": "bytes */0",
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidRange",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidRange</Code><Message>The range specified is invalid for the current size of the resource.\n",
        "RequestId:f960befd-e01a-006b-240f-a71676000000\n",
        "Time:2024-05-15T21:32:54.7682440Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e4d74fe-8959-e9b8-1b6b-aeede1d70bfe/test-file-50e04da4-b899-ee10-b56a-cbf6ef9f1aee",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:32:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC752694CB9FFB\"",
        "Last-Modified": "Wed, 15 May 2024 21:32:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:32:54.5347579Z",
        "x-ms-file-creation-time": "2024-05-15T21:32:54.5347579Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-15T21:32:54.5347579Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e4d74fe-8959-e9b8-1b6b-aeede1d70bfe?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:32:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "960089883",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
