{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3273a07f-944b-791b-5f63-13983638bef9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF068C2EAB0F\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 20:25:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3273a07f-944b-791b-5f63-13983638bef9/test-file-a3db4fd8-a2b9-df96-63de-d104ca064948",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF068C367390\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 20:25:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T20:25:41.8233744Z",
        "x-ms-file-creation-time": "2023-11-06T20:25:41.8233744Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T20:25:41.8233744Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3273a07f-944b-791b-5f63-13983638bef9/test-file-a3db4fd8-a2b9-df96-63de-d104ca064948?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "rVY94Dq1xr8RB20mU0acmsCvkjSCCyLqWQvrgQfzNsMRKFZ0yWgOVM11fUl/znxxmv/i\u002BQ2YJqEzUocvykW3HdGqFCvvKNFXoD1mDI3Za4qOeeYIET21eQG0QHfh3oqIvV931blRgXEui1jQMRoUWef8oVBerwyT9JspOuhadcKz3U4uYZXQPPh02YXl5UfnoOeQ5T05KQ1T5OEeKEaJ0xaVHFPL5fhRK2RY6tWGrg5UQZoByo\u002BFerRA2320shSx6gZvT8jzHLruPrrZ4D84zDXSyuesiAmGEKKfigp6nHhQp//PF19FYCXfEovVrJl0CA5H4ugtBWH86T4lU5GvdKFBiTk/aLXWjGnCzXZ\u002BsGQJK4H8MrqQIqGd0y4hIAyTL53plCJfNaBZcVV\u002BajfrfjjZHCgQs0HnsWaXoZWGtGxdLp3YlBxBqvb[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3273a07f-944b-791b-5f63-13983638bef9/test-file-a3db4fd8-a2b9-df96-63de-d104ca064948",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:41 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF068C439106\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 20:25:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T20:25:41.9093254Z",
        "x-ms-file-creation-time": "2023-11-06T20:25:41.8233744Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T20:25:41.9093254Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "rVY94Dq1xr8RB20mU0acmsCvkjSCCyLqWQvrgQfzNsMRKFZ0yWgOVM11fUl/znxxmv/i\u002BQ2YJqEzUocvykW3HdGqFCvvKNFXoD1mDI3Za4qOeeYIET21eQG0QHfh3oqIvV931blRgXEui1jQMRoUWef8oVBerwyT9JspOuhadcKz3U4uYZXQPPh02YXl5UfnoOeQ5T05KQ1T5OEeKEaJ0xaVHFPL5fhRK2RY6tWGrg5UQZoByo\u002BFerRA2320shSx6gZvT8jzHLruPrrZ4D84zDXSyuesiAmGEKKfigp6nHhQp//PF19FYCXfEovVrJl0CA5H4ugtBWH86T4lU5GvdKFBiTk/aLXWjGnCzXZ\u002BsGQJK4H8MrqQIqGd0y[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-3273a07f-944b-791b-5f63-13983638bef9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 20:25:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1354625299",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
