{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-da8b732d-2376-4737-bb7a-b4b0e08b1c9c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC133B4C57F50C\u0022",
        "Last-Modified": "Fri, 12 Jan 2024 06:54:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-da8b732d-2376-4737-bb7a-b4b0e08b1c9c/test-file-6e09fd59-7bfe-2cb6-7927-5277b3a69215",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC133B4C65CD45\u0022",
        "Last-Modified": "Fri, 12 Jan 2024 06:54:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-01-12T06:54:18.5506117Z",
        "x-ms-file-creation-time": "2024-01-12T06:54:18.5506117Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-01-12T06:54:18.5506117Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-da8b732d-2376-4737-bb7a-b4b0e08b1c9c/test-file-6e09fd59-7bfe-2cb6-7927-5277b3a69215?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "XEsX3Otm00nbNYIC4bfTpoWvN7ebr2odTXM8oZFlaVKMCeREyZ3U8yrAksn5s0rCVKzyBG7beq3g\u002Bo93KjG4dcswdtfSjt3o2kSM2xyhJJkoek3kcmXjsI83ZM8NXcj4Bx39yD1z78XPCikqT56RP9b1Tq/k0wNmTMVHmyoN2n17k9P/o1tctYqHFWg8uWHxpiX5GA4ZFDQal3t3K1ObwTCrrrvKkZt6mJgkXL2aKpNkVvUFFMFvYn\u002Bf5Qvf5Yo37FQ4kAulJhSJfn929Ld2f23oE9RelaxuPEs8KqyQmrMN7XBpYpmHvi/ge5ZC\u002BW7HKWWe9tK22FaoyVS/aPxo\u002BePMaAZHDB3TYVSkfhoWK0PddAFG8aTgVxUZwZhFx1YzeIKydZFngBxIypV\u002BEVo8kZ0R4vP7IQc/6xDxLUuEjpn\u002Bc[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-da8b732d-2376-4737-bb7a-b4b0e08b1c9c/test-file-6e09fd59-7bfe-2cb6-7927-5277b3a69215",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:18 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC133B4C72EABA\u0022",
        "Last-Modified": "Fri, 12 Jan 2024 06:54:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-01-12T06:54:18.6365626Z",
        "x-ms-file-creation-time": "2024-01-12T06:54:18.5506117Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-01-12T06:54:18.6365626Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "XEsX3Otm00nbNYIC4bfTpoWvN7ebr2odTXM8oZFlaVKMCeREyZ3U8yrAksn5s0rCVKzyBG7beq3g\u002Bo93KjG4dcswdtfSjt3o2kSM2xyhJJkoek3kcmXjsI83ZM8NXcj4Bx39yD1z78XPCikqT56RP9b1Tq/k0wNmTMVHmyoN2n17k9P/o1tctYqHFWg8uWHxpiX5GA4ZFDQal3t3K1ObwTCrrrvKkZt6mJgkXL2aKpNkVvUFFMFvYn\u002Bf5Qvf5Yo37FQ4kAulJhSJfn929Ld2f23oE9RelaxuPEs8KqyQmrMN7XBpYpmHvi/ge5ZC\u002BW7HKWWe9tK22FaoyVS/aPxo\u002BePMaAZHDB3TYVSkfhoWK0PddAFG8aTgVxUZwZhFx1YzeIKydZFngBxIypV\u002BEVo8kZ0R4vP7IQc/6xDxLUuEjpn\u002BcQWXY7aydfTk/SYOYka73S/6M\u002BViOFZ7c4qAdlPRxDz8f59UpS7nX23/FiPgMYjJNVAbilqzmziuHPAsMf6hEjnqEeKnZjcBEtR3YyEymkEBt0ACtTrhSORmpYk9uy1vXQTq9h\u002BlIs4YGneGPDgXe4GuKnq9nl3/Ccn\u002BQMGuw1amCAUdSKQiW5Ry6pvCWgyrTykHjpGzsb\u002Bm6\u002B1WpuINaVYg3zMz\u002BTPdi8/lS7TCPK68U/CXpzTF81dFdl22zLQ="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-da8b732d-2376-4737-bb7a-b4b0e08b1c9c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Jan 2024 06:54:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1730895781",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
