{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/firstAgent/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-5-mini",
          "instructions": "You are a helpful agent"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "13",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.088"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "firstAgent:1",
        "name": "firstAgent",
        "version": "1",
        "description": "",
        "created_at": 1761862620,
        "definition": {
          "kind": "prompt",
          "model": "gpt-5-mini",
          "instructions": "You are a helpful agent"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/firstAgent?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "83",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.104"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "firstAgent",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
