{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "120",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "01fe859b-eca3-485c-8389-d1228b1fc497",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.348"
      },
      "ResponseBody": {
        "id": "asst_8Ziq9RZ97o9Cn4qMirVdZ4wg",
        "object": "assistant",
        "created_at": 1751922370,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/assistants/asst_8Ziq9RZ97o9Cn4qMirVdZ4wg?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "389",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "751e1cf0-7e5b-4dad-8553-84031a3c8307",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.254"
      },
      "ResponseBody": {
        "id": "asst_8Ziq9RZ97o9Cn4qMirVdZ4wg",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
