{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "846",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "650d3e94-3b8b-4089-a848-73a726a4313e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.476"
      },
      "ResponseBody": {
        "id": "asst_cLuYq2GhiOmpDP0UAEVka8VH",
        "object": "assistant",
        "created_at": 1748300243,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/assistants/asst_cLuYq2GhiOmpDP0UAEVka8VH?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "132",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cd920ada-3dfd-4496-854c-a6d4a97d6171",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.623"
      },
      "ResponseBody": {
        "id": "asst_cLuYq2GhiOmpDP0UAEVka8VH",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
