{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.111"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2026-03-03T16:25:22.7010596+00:00",
          "lastModifiedAt": "2026-03-03T16:25:25.1353607+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.211"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/train/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 16:57:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/train/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "iMKQSVJbaaUjPs+E2UY2zQ==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Mar 2026 16:57:53 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "cGF0aHM6CiAgLSBmaWxlOiBodHRwczovL2F1dG9tbHNhbXBsZW5vdGVib29rZGF0YS5ibG9iLmNvcmUud2luZG93cy5uZXQvYXV0b21sLXNhbXBsZS1ub3RlYm9vay1kYXRhL2JhbmttYXJrZXRpbmdfdHJhaW4uY3N2CnRyYW5zZm9ybWF0aW9uczoKICAtIHJlYWRfZGVsaW1pdGVkOgogICAgICBkZWxpbWl0ZXI6ICcsJwogICAgICBlbmNvZGluZzogJ2FzY2lpJwogICAgICBlbXB0eV9hc19zdHJpbmc6IGZhbHNlCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "iMKQSVJbaaUjPs+E2UY2zQ==",
        "ETag": "\"0x8DE794602A5EA85\"",
        "Last-Modified": "Tue, 03 Mar 2026 16:57:53 GMT",
        "x-ms-content-crc64": "nRLlQQ/E2m0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/train/MLTable?comp=metadata&sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 16:57:53 GMT",
        "x-ms-meta-name": "7f6c8c5b-efaa-489a-b7f0-f7224a10d171",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "0664e8e0-6298-4690-9590-8794fa560851",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE794602AD6384\"",
        "Last-Modified": "Tue, 03 Mar 2026 16:57:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/automl-cpu-cluster",
          "displayName": "000000000000000000000",
          "experimentName": "DPv2-classification",
          "isArchived": false,
          "jobType": "AutoML",
          "outputs": {},
          "taskDetails": {
            "limitSettings": {
              "enableEarlyTermination": true,
              "maxConcurrentTrials": 1,
              "maxTrials": 1,
              "sweepConcurrentTrials": 0,
              "sweepTrials": 0,
              "timeout": "PT10H",
              "trialTimeout": "PT10M"
            },
            "logVerbosity": "Info",
            "targetColumnName": "y",
            "taskType": "Classification",
            "trainingData": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train",
              "jobInputType": "mltable"
            },
            "primaryMetric": "Accuracy",
            "trainingSettings": {
              "enableStackEnsemble": false,
              "enableVoteEnsemble": false
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "2.023"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "000000000000000000000",
          "status": "NotStarted",
          "experimentName": "DPv2-classification",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/automl-cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": {},
          "jobType": "AutoML",
          "resources": {
            "instanceCount": 1,
            "maxInstanceCount": null,
            "instanceType": null,
            "locations": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null
          },
          "environmentId": null,
          "environmentVariables": null,
          "taskDetails": {
            "logVerbosity": "Info",
            "trainingData": {
              "description": null,
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train",
              "mode": "ReadOnlyMount",
              "pathOnCompute": null,
              "jobInputType": "mltable"
            },
            "targetColumnName": "y",
            "limitSettings": {
              "maxTrials": 1,
              "trialTimeout": "PT10M",
              "timeout": "PT10H",
              "maxConcurrentTrials": 1,
              "maxNodes": 1,
              "maxCoresPerTrial": -1,
              "exitScore": null,
              "enableEarlyTermination": true,
              "sweepTrials": 0,
              "sweepConcurrentTrials": 0
            },
            "sweepSettings": null,
            "fixedParameters": null,
            "searchSpace": null,
            "nCrossValidations": null,
            "cvSplitColumnNames": null,
            "weightColumnName": null,
            "validationData": null,
            "testData": null,
            "validationDataSize": null,
            "testDataSize": null,
            "featurizationSettings": null,
            "taskType": "Classification",
            "primaryMetric": "Accuracy",
            "trainingSettings": {
              "enableOnnxCompatibleModels": false,
              "stackEnsembleSettings": null,
              "enableStackEnsemble": false,
              "enableVoteEnsemble": false,
              "ensembleModelDownloadTimeout": "PT5M",
              "enableModelExplainability": true,
              "enableDnnTraining": false,
              "trainingMode": "Auto",
              "allowedTrainingAlgorithms": null,
              "blockedTrainingAlgorithms": null
            },
            "positiveLabel": null
          },
          "outputs": {},
          "queueSettings": {
            "jobTier": "Null",
            "priority": null
          }
        },
        "systemData": {
          "createdAt": "2026-03-03T16:57:55.1923956+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "1.881"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {
            "_aml_system_automl_mltable_data_json": "{\"Type\":\"MLTable\",\"TrainData\":{\"Uri\":\"azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train\",\"ResolvedUri\":null,\"AssetId\":null},\"TestData\":null,\"ValidData\":null}",
            "model_explain_run": "best_run",
            "_aml_system_automl_run_workspace_id": "23329d4e-9b5f-403d-a218-c4e4f8323f5a",
            "_aml_system_azureml.automlComponent": "AutoML"
          },
          "properties": {
            "num_iterations": "1",
            "training_type": "TrainFull",
            "acquisition_function": "EI",
            "primary_metric": "accuracy",
            "train_split": "0",
            "acquisition_parameter": "0",
            "num_cross_validation": "",
            "target": "automl-cpu-cluster",
            "AMLSettingsJsonString": "{\"is_subgraph_orchestration\":false,\"is_automode\":false,\"path\":\"./sample_projects/DPv2-classification\",\"subscription_id\":\"00000000-0000-0000-0000-000000000\",\"resource_group\":\"00000\",\"workspace_name\":\"00000\",\"compute_target\":\"automl-cpu-cluster\",\"iterations\":1,\"primary_metric\":\"accuracy\",\"task_type\":\"classification\",\"IsImageTask\":false,\"IsTextDNNTask\":false,\"n_cross_validations\":null,\"preprocess\":true,\"is_timeseries\":false,\"time_column_name\":null,\"grain_column_names\":null,\"max_cores_per_iteration\":-1,\"max_concurrent_iterations\":1,\"max_nodes\":1,\"iteration_timeout_minutes\":10,\"enforce_time_on_windows\":false,\"experiment_timeout_minutes\":600,\"exit_score\":\"NaN\",\"experiment_exit_score\":\"NaN\",\"auto_blacklist\":false,\"blacklist_samples_reached\":false,\"exclude_nan_labels\":false,\"verbosity\":20,\"model_explainability\":true,\"enable_onnx_compatible_models\":false,\"enable_feature_sweeping\":false,\"send_telemetry\":true,\"enable_early_stopping\":true,\"early_stopping_n_iters\":20,\"distributed_dnn_max_node_check\":false,\"enable_distributed_featurization\":true,\"enable_distributed_dnn_training\":true,\"enable_distributed_dnn_training_ort_ds\":false,\"ensemble_iterations\":1,\"enable_tf\":false,\"enable_cache\":false,\"enable_subsampling\":false,\"metric_operation\":\"maximize\",\"enable_streaming\":false,\"use_incremental_learning_override\":false,\"force_streaming\":false,\"enable_dnn\":false,\"is_gpu_tmp\":false,\"enable_run_restructure\":false,\"featurization\":\"auto\",\"vm_priority\":\"dedicated\",\"label_column_name\":\"y\",\"weight_column_name\":null,\"miro_flight\":\"default\",\"many_models\":false,\"many_models_process_count_per_node\":0,\"automl_many_models_scenario\":null,\"enable_batch_run\":true,\"save_mlflow\":true,\"track_child_runs\":true,\"test_include_predictions_only\":false,\"enable_mltable_quick_profile\":\"True\",\"has_multiple_series\":false,\"_enable_future_regressors\":false,\"enable_ensembling\":false,\"enable_stack_ensembling\":false,\"ensemble_download_models_timeout_sec\":300.0,\"stack_meta_learner_train_percentage\":0.2,\"vm_type\":\"STANDARD_DS2_V2\",\"process_count_per_instance\":0,\"gpu_memory_gb\":0.0,\"blacklist_algos\":[\"TensorFlowLinearClassifier\",\"TensorFlowDNN\"]}",
            "DataPrepJsonString": null,
            "EnableSubsampling": "False",
            "runTemplate": "AutoML",
            "azureml.runsource": "automl",
            "ClientType": "Mfe",
            "_aml_system_scenario_identification": "Remote.Parent",
            "PlatformVersion": "DPV2",
            "environment_cpu_name": "AzureML-ai-ml-automl",
            "environment_cpu_label": "38",
            "environment_gpu_name": "AzureML-ai-ml-automl-gpu",
            "environment_gpu_label": "38",
            "root_attribution": "automl",
            "attribution": "AutoML",
            "Orchestrator": "AutoML",
            "CancelUri": "https://westus.api.azureml.ms/jasmine/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/c80bb698-0d23-4b3f-bb97-a0708469f842/cancel/000000000000000000000",
            "mltable_data_json": "{\"Type\":\"MLTable\",\"TrainData\":{\"Uri\":\"azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train\",\"ResolvedUri\":\"azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train/\",\"AssetId\":\"azureml://locations/westus/workspaces/23329d4e-9b5f-403d-a218-c4e4f8323f5a/data/azureml_000000000000000000000_input_data_TrainData/versions/1\"},\"TestData\":null,\"ValidData\":null}",
            "ClientSdkVersion": null,
            "snapshotId": "00000000-0000-0000-0000-000000000000",
            "SetupRunId": "000000000000000000000_setup",
            "SetupRunContainerId": "dcid.000000000000000000000_setup"
          },
          "displayName": "000000000000000000000",
          "status": "Running",
          "experimentName": "DPv2-classification",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/0[...]
[...]
