{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.125"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2026-03-03T16:25:22.7010596+00:00",
          "lastModifiedAt": "2026-03-03T16:25:25.1353607+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2996",
        "x-ms-ratelimit-remaining-subscription-writes": "196",
        "x-ms-response-type": "standard",
        "x-request-time": "0.134"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/train/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:10:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/train/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "RT6QM5qlzxpgduQheARCyg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Mar 2026 18:10:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "cGF0aHM6CiAgLSBmaWxlOiBodHRwczovL2F1dG9tbHNhbXBsZW5vdGVib29rZGF0YS5ibG9iLmNvcmUud2luZG93cy5uZXQvYXV0b21sLXNhbXBsZS1ubHAtZGF0YS90ZXh0LW5lcl90cmFpbi50eHQKdHJhbnNmb3JtYXRpb25zOgogIC0gdGFrZTogMQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "RT6QM5qlzxpgduQheARCyg==",
        "ETag": "\"0x8DE7950176D47D6\"",
        "Last-Modified": "Tue, 03 Mar 2026 18:10:03 GMT",
        "x-ms-content-crc64": "E9Tp1rn8pac=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/train/MLTable?comp=metadata&sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:10:03 GMT",
        "x-ms-meta-name": "301edfb7-3cec-479c-90b2-164e27da31e0",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "d8b365cf-d0a3-4757-bd1f-87aac83debec",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795017764732\"",
        "Last-Modified": "Tue, 03 Mar 2026 18:10:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/valid/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:10:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-23329d4e-9b5f-403d-a218-c4e4f8323f5a/LocalUpload/00000000000000000000000000000000/valid/MLTable?comp=metadata&sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:10:03 GMT",
        "x-ms-meta-name": "340cab7a-90f0-4991-a143-9708cc528b3b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "a12def43-0d32-4c61-8e17-94e6710f6faf",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE795017F30625\"",
        "Last-Modified": "Tue, 03 Mar 2026 18:10:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/gpu-cluster",
          "displayName": "000000000000000000000",
          "experimentName": "DPv2-text-ner",
          "isArchived": false,
          "jobType": "AutoML",
          "outputs": {},
          "taskDetails": {
            "limitSettings": {
              "maxConcurrentTrials": 1,
              "maxNodes": 1,
              "maxTrials": 1,
              "timeout": "PT1H"
            },
            "validationData": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/valid",
              "jobInputType": "mltable"
            },
            "taskType": "TextNER",
            "trainingData": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train",
              "jobInputType": "mltable"
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2997",
        "x-ms-ratelimit-remaining-subscription-writes": "197",
        "x-ms-response-type": "error",
        "x-request-time": "0.416"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The AutoMLJob input is invalid. Compute gpu-cluster not found in workspace 00000",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "aaec67658169aabd5733606de50efc9d",
                  "request": "66513907346133c2"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2026-03-03T18:10:05.4311765+00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "AutoMLJobInvalidParameter",
                  "innerError": null
                }
              }
            },
            {
              "type": "MessageFormat",
              "info": {
                "value": "The AutoMLJob input is invalid. {errors}"
              }
            },
            {
              "type": "MessageParameters",
              "info": {
                "value": {
                  "errors": "Compute gpu-cluster not found in workspace 00000"
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
