{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.130"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-5881e5dc-6e3e-408e-b99e-754026b4a07b",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2025-01-28T08:58:44.5246982+00:00",
          "lastModifiedAt": "2025-01-28T08:58:45.3980427+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.128"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-5881e5dc-6e3e-408e-b99e-754026b4a07b/LocalUpload/00000000000000000000000000000000/train/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 28 Jan 2025 14:30:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "iMKQSVJbaaUjPs+E2UY2zQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3FA4CED92440\"",
        "Last-Modified": "Tue, 28 Jan 2025 14:05:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 28 Jan 2025 14:05:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "5eecad3f-5420-4df2-a780-16d831a7eed1",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "7f36fa6f-7da2-4ce8-9304-349af219e532",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-5881e5dc-6e3e-408e-b99e-754026b4a07b/az-ml-artifacts/00000000000000000000000000000000/train/MLTable?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 28 Jan 2025 14:30:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/epic_carpet_50mp78jyjg?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/automl-cpu-cluster",
          "displayName": "epic_carpet_50mp78jyjg",
          "experimentName": "DPv2-classification-fail-without-featurization",
          "isArchived": false,
          "jobType": "AutoML",
          "outputs": {},
          "taskDetails": {
            "featurizationSettings": {
              "mode": "off",
              "transformerParams": {}
            },
            "limitSettings": {
              "enableEarlyTermination": true,
              "maxConcurrentTrials": 1,
              "maxTrials": 1,
              "sweepConcurrentTrials": 0,
              "sweepTrials": 0,
              "timeout": "PT10H",
              "trialTimeout": "PT10M"
            },
            "logVerbosity": "Info",
            "targetColumnName": "y",
            "taskType": "Classification",
            "trainingData": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train",
              "jobInputType": "mltable"
            },
            "primaryMetric": "Accuracy",
            "trainingSettings": {
              "enableStackEnsemble": false,
              "enableVoteEnsemble": false
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/epic_carpet_50mp78jyjg?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "1.458"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/epic_carpet_50mp78jyjg",
        "name": "epic_carpet_50mp78jyjg",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "displayName": "epic_carpet_50mp78jyjg",
          "status": "NotStarted",
          "experimentName": "DPv2-classification-fail-without-featurization",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/epic_carpet_50mp78jyjg?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/automl-cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": {},
          "jobType": "AutoML",
          "resources": {
            "instanceCount": 1,
            "maxInstanceCount": null,
            "instanceType": null,
            "locations": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null
          },
          "environmentId": null,
          "environmentVariables": null,
          "taskDetails": {
            "logVerbosity": "Info",
            "trainingData": {
              "description": null,
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train",
              "mode": "ReadOnlyMount",
              "pathOnCompute": null,
              "jobInputType": "mltable"
            },
            "targetColumnName": "y",
            "limitSettings": {
              "maxTrials": 1,
              "trialTimeout": "PT10M",
              "timeout": "PT10H",
              "maxConcurrentTrials": 1,
              "maxNodes": 1,
              "maxCoresPerTrial": -1,
              "exitScore": null,
              "enableEarlyTermination": true,
              "sweepTrials": 0,
              "sweepConcurrentTrials": 0
            },
            "sweepSettings": null,
            "fixedParameters": null,
            "searchSpace": null,
            "nCrossValidations": null,
            "cvSplitColumnNames": null,
            "weightColumnName": null,
            "validationData": null,
            "testData": null,
            "validationDataSize": null,
            "testDataSize": null,
            "featurizationSettings": {
              "datasetLanguage": null,
              "mode": "Off",
              "blockedTransformers": null,
              "columnNameAndTypes": null,
              "transformerParams": {},
              "enableDnnFeaturization": false
            },
            "taskType": "Classification",
            "primaryMetric": "Accuracy",
            "trainingSettings": {
              "enableOnnxCompatibleModels": false,
              "stackEnsembleSettings": null,
              "enableStackEnsemble": false,
              "enableVoteEnsemble": false,
              "ensembleModelDownloadTimeout": "PT5M",
              "enableModelExplainability": true,
              "enableDnnTraining": false,
              "trainingMode": "Auto",
              "allowedTrainingAlgorithms": null,
              "blockedTrainingAlgorithms": null
            },
            "positiveLabel": null
          },
          "outputs": {},
          "queueSettings": {
            "jobTier": "Null",
            "priority": null
          }
        },
        "systemData": {
          "createdAt": "2025-01-28T14:30:07.1037279+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/epic_carpet_50mp78jyjg?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.098"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/epic_carpet_50mp78jyjg",
        "name": "epic_carpet_50mp78jyjg",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {
            "_aml_system_automl_mltable_data_json": "{\"Type\":\"MLTable\",\"TrainData\":{\"Uri\":\"azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train\",\"ResolvedUri\":null,\"AssetId\":null},\"TestData\":null,\"ValidData\":null}",
            "model_explain_run": "best_run",
            "_aml_system_automl_run_workspace_id": "5881e5dc-6e3e-408e-b99e-754026b4a07b",
            "_aml_system_azureml.automlComponent": "AutoML"
          },
          "properties": {
            "num_iterations": "1",
            "training_type": "TrainFull",
            "acquisition_function": "EI",
            "primary_metric": "accuracy",
            "train_split": "0",
            "acquisition_parameter": "0",
            "num_cross_validation": "",
            "target": "automl-cpu-cluster",
            "AMLSettingsJsonString": "{\"is_subgraph_orchestration\":false,\"is_automode\":false,\"path\":\"./sample_projects/DPv2-classification-fail-without-featurization\",\"subscription_id\":\"00000000-0000-0000-0000-000000000\",\"resource_group\":\"00000\",\"workspace_name\":\"00000\",\"compute_target\":\"automl-cpu-cluster\",\"iterations\":1,\"primary_metric\":\"accuracy\",\"task_type\":\"classification\",\"IsImageTask\":false,\"IsTextDNNTask\":false,\"n_cross_validations\":null,\"preprocess\":false,\"is_timeseries\":false,\"time_column_name\":null,\"grain_column_names\":null,\"max_cores_per_iteration\":-1,\"max_concurrent_iterations\":1,\"max_nodes\":1,\"iteration_timeout_minutes\":10,\"enforce_time_on_windows\":false,\"experiment_timeout_minutes\":600,\"exit_score\":\"NaN\",\"experiment_exit_score\":\"NaN\",\"auto_blacklist\":false,\"blacklist_samples_reached\":false,\"exclude_nan_labels\":false,\"verbosity\":20,\"model_explainability\":true,\"enable_onnx_compatible_models\":false,\"enable_feature_sweeping\":false,\"send_telemetry\":true,\"enable_early_stopping\":true,\"early_stopping_n_iters\":20,\"distributed_dnn_max_node_check\":false,\"enable_distributed_featurization\":true,\"enable_distributed_dnn_training\":true,\"enable_distributed_dnn_training_ort_ds\":false,\"ensemble_iterations\":1,\"enable_tf\":false,\"enable_cache\":false,\"enable_subsampling\":false,\"metric_operation\":\"maximize\",\"enable_streaming\":false,\"use_incremental_learning_override\":false,\"force_streaming\":false,\"enable_dnn\":false,\"is_gpu_tmp\":false,\"enable_run_restructure\":false,\"featurization\":\"off\",\"vm_priority\":\"dedicated\",\"label_column_name\":\"y\",\"weight_column_name\":null,\"miro_flight\":\"default\",\"many_models\":false,\"many_models_process_count_per_node\":0,\"automl_many_models_scenario\":null,\"enable_batch_run\":true,\"save_mlflow\":true,\"track_child_runs\":true,\"test_include_predictions_only\":false,\"enable_mltable_quick_profile\":\"True\",\"has_multiple_series\":false,\"_enable_future_regressors\":false,\"enable_ensembling\":false,\"enable_stack_ensembling\":false,\"ensemble_download_models_timeout_sec\":300.0,\"stack_meta_learner_train_percentage\":0.2,\"vm_type\":\"STANDARD_DS2_V2\",\"process_count_per_instance\":0,\"gpu_memory_gb\":0.0,\"blacklist_algos\":[\"TensorFlowLinearClassifier\",\"TensorFlowDNN\"]}",
            "DataPrepJsonString": null,
            "EnableSubsampling": "False",
            "runTemplate": "AutoML",
            "azureml.runsource": "automl",
            "ClientType": "Mfe",
            "_aml_system_scenario_identification": "Remote.Parent",
            "PlatformVersion": "DPV2",
            "environment_cpu_name": "AzureML-ai-ml-automl",
            "environment_cpu_label": "12",
            "environment_gpu_name": "AzureML-ai-ml-automl-gpu",
            "environment_gpu_label": "13",
            "root_attribution": "automl",
            "attribution": "AutoML",
            "Orchestrator": "AutoML",
            "CancelUri": "https://eastus.api.azureml.ms/jasmine/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/e5404fdd-905d-4655-bc9b-42ee3c6584d3/cancel/epic_carpet_50mp78jyjg"
          },
          "displayName": "epic_carpet_50mp78jyjg",
          "status": "Failed",
          "experimentName": "DPv2-classification-fail-without-featurization",
          "services": {
            "Tracking": {
              "jobSer[...]
