{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/simplechat/:removeFromGroups?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "groups": [
          "group1",
          "group2"
        ],
        "filter": "userId eq 'user 1'"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01, 2022-11-01, 2023-07-01, 2024-01-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.webpubsub.azure.com/api/hubs/simplechat/:removeFromGroups?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "groups": [
          "group1",
          "group2"
        ],
        "filter": "invalid filter"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "x-ms-error-code": "Error.BadRequest"
      },
      "ResponseBody": {
        "code": "Error.BadRequest",
        "message": "Invalid syntax for 'invalid filter': Syntax error at position 14 in 'invalid filter'. (Parameter 'filter')",
        "target": "Filter",
        "errors": {
          "Filter": [
            "Invalid syntax for 'invalid filter': Syntax error at position 14 in 'invalid filter'. (Parameter 'filter')"
          ]
        },
        "type": null,
        "title": "One or more validation errors occurred.",
        "status": 400,
        "detail": null,
        "instance": null,
        "extensions": {}
      }
    }
  ],
  "Variables": {}
}
