{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "msft-finetuning-2",
        "openai-processing-ms": "14636",
        "openai-version": "2020-10-01"
      },
      "ResponseBody": {
        "created": 1712356416,
        "data": [
          {
            "revised_prompt": "An intensely detailed acrylic painting depicting a blooming sunflower. The sunflower is radiant, each petal is luscious and golden-yellow, contrasting beautifully with the inner dark brown, seed-filled disk. Fluttering around it are bees, their bodies covered in fine, bristling hairs and wings fluttering at an incredible speed, each one collecting nectar and spreading pollen. The backdrop of the painting is a soft blue sky that gently contrasts with the vibrancy of the main subject, subtly enhancing the sunflower\u0027s glowing ambiance.",
            "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-hTGGKhbVgQIQFEXlrcWgLHk9/user-Cvg7tm6zMbKYmuSlMdMpv82r/img-Ia5D2qM4VhS2Lfb9xnm0nqND.png?st=2024-04-05T21%3A33%3A36Z\u0026se=2024-04-05T23%3A33%3A36Z\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026rscd=inline\u0026rsct=image/png\u0026skoid=6aaadede-4fb3-4698-a8f6-684d7786b067\u0026sktid=a48cca56-e6da-484e-a814-9c849652bcb3\u0026skt=2024-04-04T23%3A39%3A18Z\u0026ske=2024-04-05T23%3A39%3A18Z\u0026sks=b\u0026skv=2021-08-06\u0026sig=eXhMRLMUKBB6nt8SCuGj4xik/ajUdt87z7px%2B/9IDCs%3D"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
