{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/embeddings?api-version=2024-02-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "input": [
          "\u0022Your text string goes here\u0022"
        ],
        "model": "text-embedding-ada-002"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-model": "text-embedding-ada-002",
        "openai-organization": "msft-finetuning-2",
        "openai-processing-ms": "23",
        "openai-version": "2020-10-01",
        "x-ratelimit-limit-requests": "10000",
        "x-ratelimit-limit-tokens": "10000000",
        "x-ratelimit-remaining-requests": "9999",
        "x-ratelimit-remaining-tokens": "9999993",
        "x-ratelimit-reset-requests": "6ms",
        "x-ratelimit-reset-tokens": "0s"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "embedding",
            "index": 0,
            "embedding": [
              -0.018584002,
              0.009457104,
              -0.000577448,
              -0.01042791,
              -0.020736946,
              0.027525984,
              -0.026548574,
              -0.019112332,
              -0.00937125,
              -0.007092828,
              0.0043223985,
              0.004464387,
              -0.009470312,
              0.000030053918,
              0.0071654734,
              -0.00472525,
              0.020089742,
              0.0013744831[...]
