{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations?api-version=2024-02-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "msft-finetuning-2",
        "openai-processing-ms": "13490",
        "openai-version": "2020-10-01"
      },
      "ResponseBody": {
        "created": 1708742337,
        "data": [
          {
            "revised_prompt": "Render an acrylic painting of a robust sunflower bathing in sunlight. Its golden petals fan out in vibrant bursts, encircling a deep, rich, dark center. Its green leaves rustle around its thick stalk. Small fuzzy bees, their wings a blur of motion, are drawn to the sunflower, hovering around it to gather pollen. The scenery exudes a serene summer vibe, the warm hues and softness reflective of a peaceful moment in nature.",
            "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-hTGGKhbVgQIQFEXlrcWgLHk9/user-Cvg7tm6zMbKYmuSlMdMpv82r/img-25Q0bgahqWwJEDtnXiKXX5SJ.png?st=2024-02-24T01%3A38%3A57Z\u0026se=2024-02-24T03%3A38%3A57Z\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026rscd=inline\u0026rsct=image/png\u0026skoid=6aaadede-4fb3-4698-a8f6-684d7786b067\u0026sktid=a48cca56-e6da-484e-a814-9c849652bcb3\u0026skt=2024-02-23T17%3A53%3A48Z\u0026ske=2024-02-24T17%3A53%3A48Z\u0026sks=b\u0026skv=2021-08-06\u0026sig=jAblDstlWoAOwJgLh6lnd6tHJJE9tPHEsWFOSrwhmmE%3D"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
