{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations?api-version=2024-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "msft-finetuning-2",
        "openai-processing-ms": "15351",
        "openai-version": "2020-10-01"
      },
      "ResponseBody": {
        "created": 1714685389,
        "data": [
          {
            "revised_prompt": "Create an image of an acrylic painted scene composed of a bright, radiant sunflower with yellow petals and a dark brown center. The sunflower should be standing tall and strong in the warm sunlight. A few bees, identifiable by their black and yellow stripes, should be seen buzzing around the sunflower, perhaps one landing on a petal and another hovering near the center of the flower. The background might be a simple field or garden with hints of grasses or other plants, reflecting the typical setting of a sunflower.",
            "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-hTGGKhbVgQIQFEXlrcWgLHk9/user-Cvg7tm6zMbKYmuSlMdMpv82r/img-tRoS0FKDkPVw0SRxfXUTIhBr.png?st=2024-05-02T20%3A29%3A49Z&se=Sanitized&sp=Sanitized&sv=Sanitized&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2024-05-01T23%3A41%3A25Z&ske=2024-05-02T23%3A41%3A25Z&sks=b&skv=2021-08-06&sig=Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
