{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com//openai/deployments/dall-e-3/images/generations?api-version=2023-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "a cat",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central",
        "x-ratelimit-remaining-requests": "2"
      },
      "ResponseBody": {
        "created": 1701482140,
        "data": [
          {
            "revised_prompt": "An illustration of a domestic short-haired cat, its soft furry coat is predominantly white with patches of black. It sits on a red rug in a warm living room filled with sunlight. It\u0027s gazing with curiosity at a little green ball that lies before it, its tail slightly twitchy.",
            "url": "https://dalleprodsec.blob.core.windows.net/private/images/1d0a0698-01e3-4f95-9487-35e882c9c5ce/generated_00.png?se=2023-12-03T01%3A55%3A57Z\u0026sig=qo1%2FekkEB9xjQDeddelPiYzC3iFKVi2nKxWzgDUuh6s%3D\u0026ske=2023-12-06T23%3A34%3A57Z\u0026skoid=e52d5ed7-0657-4f62-bc12-7e5dbb260a96\u0026sks=b\u0026skt=2023-11-29T23%3A34%3A57Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2020-10-02\u0026sp=r\u0026spr=https\u0026sr=b\u0026sv=2020-10-02"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
