{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/dall-e-3/images/generations?api-version=2024-02-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central",
        "x-ratelimit-remaining-requests": "2"
      },
      "ResponseBody": {
        "created": 1708733334,
        "data": [
          {
            "content_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "prompt_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "profanity": {
                "detected": false,
                "filtered": false
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "revised_prompt": "A finely detailed acrylic painting showcasing a vibrant sunflower in full bloom. The sunflower, with its radiant yellow petals and deep brown center, is bathed in golden sunlight. Busy around the sunflower are bees, marked by their characteristic black and yellow striping. They are captured mid-flight with their delicate wings vibrantly detailed, garnering nectar from the sunflower. The background remains a soft, muted green, evoking a sense of a peaceful summer day in the countryside.",
            "url": "https://dalleprodsec.blob.core.windows.net/private/images/23eac9d4-4a29-40b5-83e9-8930ff417b7c/generated_00.png?se=2024-02-25T00%3A09%3A10Z\u0026sig=YaPdbpcUIDM47dItByiWcvquOrg2HEpCWqGoTxKSWbA%3D\u0026ske=2024-03-01T22%3A49%3A25Z\u0026skoid=e52d5ed7-0657-4f62-bc12-7e5dbb260a96\u0026sks=b\u0026skt=2024-02-23T22%3A49%3A25Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2020-10-02\u0026sp=r\u0026spr=https\u0026sr=b\u0026sv=2020-10-02"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
