{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/dall-e-3/images/generations?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central",
        "x-ratelimit-remaining-requests": "2"
      },
      "ResponseBody": {
        "created": 1710968317,
        "data": [
          {
            "content_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "prompt_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "profanity": {
                "detected": false,
                "filtered": false
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "revised_prompt": "An acrylic painting showcasing the warmth, brilliance, and energy of a sunflower. The sunflower stands tall and radiant, its sturdy stem supporting a large, vibrant yellow head with a dark brown center. Golden petals overlap each other around the core, catching the light beautifully. A couple of bees, perfectly proportioned and meticulously detailed, hover near the sunflower, their tiny wings a blur of motion as they go about their work. The background is a serene blue sky that enhances the sunflower\u0027s vibrancy, setting a tranquil ambiance for the busy bees.",
            "url": "https://dalleprodsec.blob.core.windows.net/private/images/51ff8d0d-eac9-4e1c-8999-86d822cd315c/generated_00.png?se=2024-03-21T20%3A58%3A54Z\u0026sig=E%2FjuBKLMsi%2FS%2F7zW9SCNj08DdBLBt9T7BRMSlFMFf3g%3D\u0026ske=2024-03-26T22%3A28%3A38Z\u0026skoid=e52d5ed7-0657-4f62-bc12-7e5dbb260a96\u0026sks=b\u0026skt=2024-03-19T22%3A28%3A38Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2020-10-02\u0026sp=r\u0026spr=https\u0026sr=b\u0026sv=2020-10-02"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
