{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/dall-e-3/images/generations?api-version=2023-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central",
        "x-ratelimit-remaining-requests": "2"
      },
      "ResponseBody": {
        "created": 1701903244,
        "data": [
          {
            "revised_prompt": "Acrylic painting showcasing a vibrant sunflower in full bloom. The sunflower, with its petals radiating in hues of bright yellow and gold, stands tall against a background of soft hazy blues and greens, representing the sky and the leaves respectively. Swarming the sunflower are a group of bees, their bodies glossy and black with distinct yellow strips. They are depicted mid-flight, with their wings fluttering rapidly, busily collecting pollen.",
            "url": "https://dalleprodsec.blob.core.windows.net/private/images/8ca0a479-4e03-4031-a1dc-3241b1f18ac1/generated_00.png?se=2023-12-07T22%3A54%3A20Z\u0026sig=PMGIn2CzvvdklVl11QzmtvieDezbc071w5M137rlRXs%3D\u0026ske=2023-12-07T12%3A53%3A43Z\u0026skoid=e52d5ed7-0657-4f62-bc12-7e5dbb260a96\u0026sks=b\u0026skt=2023-11-30T12%3A53%3A43Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2020-10-02\u0026sp=r\u0026spr=https\u0026sr=b\u0026sv=2020-10-02"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
