{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "prompt": "a cat",
        "response_format": "url",
        "size": "256x256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "microsoft",
        "openai-processing-ms": "6249",
        "openai-version": "2020-10-01"
      },
      "ResponseBody": {
        "created": 1695251745,
        "data": [
          {
            "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-rocrupyvzgcl4yf25rqq6d1v/user-Cvg7tm6zMbKYmuSlMdMpv82r/img-peFMrGUBZtcKIyaM1hYV48Ih.png?st=2023-09-20T22%3A15%3A45Z\u0026se=2023-09-21T00%3A15%3A45Z\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026rscd=inline\u0026rsct=image/png\u0026skoid=6aaadede-4fb3-4698-a8f6-684d7786b067\u0026sktid=a48cca56-e6da-484e-a814-9c849652bcb3\u0026skt=2023-09-20T21%3A55%3A10Z\u0026ske=2023-09-21T21%3A55%3A10Z\u0026sks=b\u0026skv=2021-08-06\u0026sig=9BhSlXGNJPKEk/XAjr4%2BsuF6xMSP3oQ4aEvtLbG5Rbs%3D"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
