{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/thisdoesntexist/embeddings?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "thisdoesntexist"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "DeploymentNotFound",
          "message": "The API deployment for this resource does not exist. If you created the deployment within the last 5 minutes, please wait a moment and try again."
        }
      }
    }
  ],
  "Variables": {}
}
