{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/dall-e-3/images/generations?api-version=2024-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central",
        "x-ratelimit-remaining-requests": "2"
      },
      "ResponseBody": {
        "created": 1714685351,
        "data": [
          {
            "content_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "prompt_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "profanity": {
                "detected": false,
                "filtered": false
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "revised_prompt": "Acrylic painting capturing the vibrant essence of a tall sunflower in full bloom, vivid yellow petals contrasting with the dark brown of the center. The sunflower is basking in the warm sunlight, delicately swaying with the breeze against the bright blue backdrop of the sky. The slight rustling awakens a small hive of bees busy at work. They're flying around it, tirelessly going from petal to petal, gathering nectar. Their tiny wings are a blur of motion as they diligently contribute to the intricate dance of nature. The detail brings the scene to life, making the viewer feel they're part of this beautiful sunlit afternoon.",
            "url": "https://dalleprodsec.blob.core.windows.net/private/images/86fe4d2a-3f98-4431-b97f-06cb880a3ca4/generated_00.png?se=Sanitized&sig=Sanitized&ske=2024-05-07T07%3A45%3A08Z&skoid=e52d5ed7-0657-4f62-bc12-7e5dbb260a96&sks=b&skt=2024-04-30T07%3A45%3A08Z&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skv=2020-10-02&sp=Sanitized&spr=https&sr=b&sv=Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
