{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations?api-version=2023-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "ignored",
        "prompt": "a cat",
        "response_format": "url",
        "size": "256x256"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "WWW-Authenticate": "Basic realm=\u0022OpenAI API\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "invalid_api_key",
          "message": "Incorrect API key provided: bogus-ap*-key. You can find your API key at https://platform.openai.com/account/api-keys.",
          "param": null,
          "type": "invalid_request_error"
        }
      }
    }
  ],
  "Variables": {}
}
