{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "prompt": "a cat",
        "response_format": "url",
        "size": "256x256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "microsoft",
        "openai-processing-ms": "6324",
        "openai-version": "2020-10-01"
      },
      "ResponseBody": {
        "created": 1692827328,
        "data": [
          {
            "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-rocrupyvzgcl4yf25rqq6d1v/user-Cvg7tm6zMbKYmuSlMdMpv82r/img-UPpBwvMMjqpidG9C5O3lDxJD.png?st=2023-08-23T20%3A48%3A48Z\u0026se=2023-08-23T22%3A48%3A48Z\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026rscd=inline\u0026rsct=image/png\u0026skoid=6aaadede-4fb3-4698-a8f6-684d7786b067\u0026sktid=a48cca56-e6da-484e-a814-9c849652bcb3\u0026skt=2023-08-23T18%3A57%3A03Z\u0026ske=2023-08-24T18%3A57%3A03Z\u0026sks=b\u0026skv=2021-08-06\u0026sig=7z2E6FNhZcwTeSQ5rvrLVvT97QhpgQUDhkvpvx4cicI%3D"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
