{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/dall-e-3/images/generations?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central",
        "x-ratelimit-remaining-requests": "2"
      },
      "ResponseBody": {
        "created": 1710893054,
        "data": [
          {
            "content_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "prompt_filter_results": {
              "hate": {
                "filtered": false,
                "severity": "safe"
              },
              "profanity": {
                "detected": false,
                "filtered": false
              },
              "self_harm": {
                "filtered": false,
                "severity": "safe"
              },
              "sexual": {
                "filtered": false,
                "severity": "safe"
              },
              "violence": {
                "filtered": false,
                "severity": "safe"
              }
            },
            "revised_prompt": "Create an image of a vibrant sunflower in full bloom, its bright yellow petals boldly contrasting with its dark brown center. This flower, rendered in the textured medium of acrylic paint, is positioned against a clear light blue sky. Curving green leaves and a sturdy stem anchor the sunflower, hinting at a healthy, vigorous plant. Buzzing around the radiant blossom are several bees, their bodies striped black and yellow. Their translucent wings shimmer in the sunlight as they collect golden pollen, contributing to the cycle of life and enhancing the overall vitality of the scene.",
            "url": "https://dalleprodsec.blob.core.windows.net/private/images/e6759d46-e8c8-40e0-a23f-d0f151eebe2d/generated_00.png?se=2024-03-21T00%3A04%3A31Z\u0026sig=lyaRHPJL%2FPNRODMr2vJznAKw%2BS9m%2FC3itZGJEeWp78k%3D\u0026ske=2024-03-26T10%3A18%3A23Z\u0026skoid=e52d5ed7-0657-4f62-bc12-7e5dbb260a96\u0026sks=b\u0026skt=2024-03-19T10%3A18%3A23Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2020-10-02\u0026sp=r\u0026spr=https\u0026sr=b\u0026sv=2020-10-02"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
