{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations?api-version=2023-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "acrylic painting of a sunflower with bees",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "msft-finetuning-2",
        "openai-processing-ms": "14155",
        "openai-version": "2020-10-01"
      },
      "ResponseBody": {
        "created": 1701903274,
        "data": [
          {
            "revised_prompt": "Create an image of an acrylic painting showcasing a vibrant sunflower in full bloom. Surround the sunflower with several busy bees, their translucent wings sparkling in the light as they hover around the petals collecting nectar. As you craft the scene, remember to capture the thick, textured feel that\u0027s typical of acrylic paint.",
            "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-hTGGKhbVgQIQFEXlrcWgLHk9/user-Cvg7tm6zMbKYmuSlMdMpv82r/img-1xJ9eja0l29NZxjITQ7m98OH.png?st=2023-12-06T21%3A54%3A34Z\u0026se=2023-12-06T23%3A54%3A34Z\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026rscd=inline\u0026rsct=image/png\u0026skoid=6aaadede-4fb3-4698-a8f6-684d7786b067\u0026sktid=a48cca56-e6da-484e-a814-9c849652bcb3\u0026skt=2023-12-06T19%3A58%3A11Z\u0026ske=2023-12-07T19%3A58%3A11Z\u0026sks=b\u0026skv=2021-08-06\u0026sig=rJtBkG3OrX4spmcmhRg6eM/2fHNQEukeWLWw%2Bw%2BuFtE%3D"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
