{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/images/generations?api-version=2023-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "dall-e-3",
        "prompt": "a cat",
        "response_format": "url",
        "size": "1024x1792"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "msft-finetuning-2",
        "openai-processing-ms": "13246",
        "openai-version": "2020-10-01"
      },
      "ResponseBody": {
        "created": 1701482171,
        "data": [
          {
            "revised_prompt": "Create an image of a small domestic cat with soft, short fur. The cat is a vibrant orange tabby with enchanting emerald green eyes that sparkle with curiosity. Its ears are alert, with tufts of white hair at the edges, and a long tail that gracefully curls towards its end. The cat is playfully crouched with its bottom slightly raised in a playful pounce posture. The background is a calm, cozy indoor setting with a warm, soft lighting.",
            "url": "https://oaidalleapiprodscus.blob.core.windows.net/private/org-hTGGKhbVgQIQFEXlrcWgLHk9/user-Cvg7tm6zMbKYmuSlMdMpv82r/img-C557lLq6xY0DCK9qLEAfdIdm.png?st=2023-12-02T00%3A56%3A11Z\u0026se=2023-12-02T02%3A56%3A11Z\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026rscd=inline\u0026rsct=image/png\u0026skoid=6aaadede-4fb3-4698-a8f6-684d7786b067\u0026sktid=a48cca56-e6da-484e-a814-9c849652bcb3\u0026skt=2023-12-01T22%3A49%3A15Z\u0026ske=2023-12-02T22%3A49%3A15Z\u0026sks=b\u0026skv=2021-08-06\u0026sig=0wlP5nD8BIax8BzcCarl1EFjjNRVjlhU%2B0yMlmo4ycA%3D"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
