{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/images/generations:submit?api-version=2023-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "prompt": "a cat",
        "response_format": "url",
        "size": "256x256"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "OpenAI-Processing-Ms": "54.9178",
        "operation-location": "https://sdk8428.openai.azure.com/openai/operations/images/4411075e-d5af-4b70-96a2-3b4d4795695f?api-version=2023-08-01-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "4411075e-d5af-4b70-96a2-3b4d4795695f",
        "status": "notRunning"
      }
    },
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/operations/images/00000000-AAAA-BBBB-CCCC-DDDDDDDDDDDD?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Api-Key": "redacted"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "OpenAI-Processing-Ms": "18.001",
        "Retry-After": "6",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "created": 1692827316,
        "id": "4411075e-d5af-4b70-96a2-3b4d4795695f",
        "status": "notRunning"
      }
    },
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/operations/images/00000000-AAAA-BBBB-CCCC-DDDDDDDDDDDD?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Api-Key": "redacted"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "OpenAI-Processing-Ms": "10.9942",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "created": 1692827316,
        "expires": 1692913721,
        "id": "4411075e-d5af-4b70-96a2-3b4d4795695f",
        "result": {
          "created": 1692827316,
          "data": [
            {
              "url": "https://dalleproduse.blob.core.windows.net/private/images/19cfaecd-35ec-4d59-8c9d-c6fe5d00d1cc/generated_00.png?se=2023-08-24T21%3A48%3A41Z\u0026sig=Lo209YdWE2lnvUItyF5pYuEjj7zFLDBxXSoXjWGR59I%3D\u0026ske=2023-08-30T18%3A52%3A52Z\u0026skoid=09ba021e-c417-441c-b203-c81e5dcd7b7f\u0026sks=b\u0026skt=2023-08-23T18%3A52%3A52Z\u0026sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d\u0026skv=2020-10-02\u0026sp=r\u0026spr=https\u0026sr=b\u0026sv=2020-10-02"
            }
          ]
        },
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
