{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "911089353",
        "description": "This classifier was generated by a .NET test.",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobFileListSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "fileList": "IRS-1040-A.jsonl"
            }
          },
          "IRS-1040-B": {
            "azureBlobFileListSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "fileList": "IRS-1040-B.jsonl"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443313925_67651cfb-e918-48a7-bdfa-9939978c0d54?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443313925_67651cfb-e918-48a7-bdfa-9939978c0d54?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443313925_67651cfb-e918-48a7-bdfa-9939978c0d54",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-08-07T18:07:54Z",
        "lastUpdatedDateTime": "2024-08-07T18:07:54Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/911089353?api-version=2024-07-31-preview",
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443313925_67651cfb-e918-48a7-bdfa-9939978c0d54?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443313925_67651cfb-e918-48a7-bdfa-9939978c0d54",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-08-07T18:07:54Z",
        "lastUpdatedDateTime": "2024-08-07T18:07:55Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/911089353?api-version=2024-07-31-preview",
        "percentCompleted": 0,
        "apiVersion": "2024-07-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31443313925_67651cfb-e918-48a7-bdfa-9939978c0d54?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31443313925_67651cfb-e918-48a7-bdfa-9939978c0d54",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-08-07T18:07:54Z",
        "lastUpdatedDateTime": "2024-08-07T18:08:24Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/911089353?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "911089353",
          "createdDateTime": "2024-08-07T18:08:24Z",
          "expirationDateTime": "2026-08-07T18:08:24Z",
          "apiVersion": "2024-07-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "fileList": "IRS-1040-A.jsonl"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "fileList": "IRS-1040-B.jsonl"
              }
            }
          },
          "description": "This classifier was generated by a .NET test."
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/911089353?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "DateTimeOffsetNow": "2024-08-07T11:07:54.6463100-07:00",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "541011760"
  }
}
