{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "518606606",
        "description": "This classifier was generated by a .NET test.",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobFileListSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "fileList": "IRS-1040-A.jsonl"
            }
          },
          "IRS-1040-B": {
            "azureBlobFileListSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "fileList": "IRS-1040-B.jsonl"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31438279830_973403ff-9a8a-476d-8b05-43d6318b6274?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31438279830_973403ff-9a8a-476d-8b05-43d6318b6274?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438279830_973403ff-9a8a-476d-8b05-43d6318b6274",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-10-05T00:29:29Z",
        "lastUpdatedDateTime": "2024-10-05T00:29:29Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/518606606?api-version=2024-07-31-preview",
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31438279830_973403ff-9a8a-476d-8b05-43d6318b6274?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438279830_973403ff-9a8a-476d-8b05-43d6318b6274",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-10-05T00:29:29Z",
        "lastUpdatedDateTime": "2024-10-05T00:29:30Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/518606606?api-version=2024-07-31-preview",
        "percentCompleted": 0,
        "apiVersion": "2024-07-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/operations/31438279830_973403ff-9a8a-476d-8b05-43d6318b6274?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438279830_973403ff-9a8a-476d-8b05-43d6318b6274",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-10-05T00:29:29Z",
        "lastUpdatedDateTime": "2024-10-05T00:30:02Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/518606606?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "518606606",
          "createdDateTime": "2024-10-05T00:29:36Z",
          "expirationDateTime": "2026-10-05T00:29:36Z",
          "apiVersion": "2024-07-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "fileList": "IRS-1040-A.jsonl"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlobFileList",
              "azureBlobFileListSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "fileList": "IRS-1040-B.jsonl"
              }
            }
          },
          "description": "This classifier was generated by a .NET test."
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentClassifiers/518606606?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "DateTimeOffsetNow": "2024-10-04T17:29:27.3526067-07:00",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "757633466"
  }
}
