{
  "Entries": [
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "964736590",
        "description": "This classifier was generated by a .NET test.",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466500547_5822076d-7e1e-45d2-9ab4-be4c15921b17?api-version=2023-10-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466500547_5822076d-7e1e-45d2-9ab4-be4c15921b17?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466500547_5822076d-7e1e-45d2-9ab4-be4c15921b17",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-11-13T09:24:12Z",
        "lastUpdatedDateTime": "2023-11-13T09:24:12Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers/964736590?api-version=2023-10-31-preview",
        "apiVersion": "2023-10-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/operations/31466500547_5822076d-7e1e-45d2-9ab4-be4c15921b17?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31466500547_5822076d-7e1e-45d2-9ab4-be4c15921b17",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-11-13T09:24:12Z",
        "lastUpdatedDateTime": "2023-11-13T09:24:45Z",
        "resourceLocation": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers/964736590?api-version=2023-10-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "964736590",
          "createdDateTime": "2023-11-13T09:24:45Z",
          "expirationDateTime": "2025-11-12T09:24:45Z",
          "apiVersion": "2023-10-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          },
          "description": "This classifier was generated by a .NET test."
        },
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers/964736590?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "cla[...]
    {
      "RequestUri": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/documentintelligence/documentClassifiers/964736590?api-version=2023-10-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://vdi-fr-test-eastus.ppe.cognitiveservices.azure.com/",
    "RandomSeed": "1278011491"
  }
}
