{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/westus/checkNameAvailability?api-version=2023-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "resourceWeouKZ",
        "type": "Microsoft.SignalRService/SignalR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/signalR/resourceWeouKZ?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "kind": "SignalR",
        "location": "westus",
        "properties": {
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "disableAadAuth": false,
          "disableLocalAuth": false,
          "features": [
            {
              "flag": "ServiceMode",
              "properties": {},
              "value": "Serverless"
            },
            {
              "flag": "EnableConnectivityLogs",
              "properties": {},
              "value": "True"
            },
            {
              "flag": "EnableMessagingLogs",
              "properties": {},
              "value": "False"
            },
            {
              "flag": "EnableLiveTrace",
              "properties": {},
              "value": "False"
            }
          ],
          "liveTraceConfiguration": {
            "categories": [
              {
                "enabled": "true",
                "name": "ConnectivityLogs"
              }
            ],
            "enabled": "false"
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "privateEndpoints": [
              {
                "allow": [
                  "ServerConnection"
                ],
                "name": "resourceWeouKZ.00000000-0000-0000-0000-000000000000"
              }
            ],
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ]
            }
          },
          "publicNetworkAccess": "Enabled",
          "serverless": {
            "connectionTimeoutInSeconds": 5
          },
          "tls": {
            "clientCertEnabled": false
          },
          "upstream": {
            "templates": [
              {
                "auth": {
                  "managedIdentity": {
                    "resource": "api://example"
                  },
                  "type": "ManagedIdentity"
                },
                "categoryPattern": "*",
                "eventPattern": "connect,disconnect",
                "hubPattern": "*",
                "urlTemplate": "https://example.com/chat/api/connect"
              }
            ]
          }
        },
        "sku": {
          "capacity": 1,
          "name": "Premium_P1",
          "tier": "Premium"
        },
        "tags": {
          "key1": "value1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium_P1",
          "tier": "Premium",
          "size": "P1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "resourceweoukz.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "resourceweoukz",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            },
            {
              "flag": "EnableLiveTrace",
              "value": "False",
              "properties": {}
            }
          ],
          "liveTraceConfiguration": {
            "enabled": "false",
            "categories": [
              {
                "name": "ConnectivityLogs",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": null,
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "serverless": {
            "connectionTimeoutInSeconds": 5
          },
          "upstream": {
            "templates": [
              {
                "hubPattern": "*",
                "eventPattern": "connect,disconnect",
                "categoryPattern": "*",
                "urlTemplate": "https://example.com/chat/api/connect",
                "auth": {
                  "type": "ManagedIdentity",
                  "managedIdentity": {
                    "resource": "api://example"
                  }
                }
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ],
              "deny": null
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ",
        "name": "resourceWeouKZ",
        "type": "Microsoft.SignalRService/SignalR",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-09-04T08:22:35.5255923Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T08:22:35.5255923Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "startTime": "2023-09-04T08:22:37.7221833Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "startTime": "2023-09-04T08:22:37.7221833Z",
        "endTime": "2023-09-04T08:23:30.3659714Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.SignalRService/operations?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.SignalRService/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Register Resource Provider Microsoft.SignalRService",
              "description": "Registers the \u0027Microsoft.SignalRService\u0027 resource provider with a subscription"
            },
            "properties": {}
          },
          {
            "name": "Microsoft.SignalRService/unregister/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Unregister Resource Provider Microsoft.SignalRService",
              "description": "Unregisters t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/signalR?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-rp-server-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/signalR?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/signalR/resourceWeouKZ/skus?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "Microsoft.SignalRService/SignalR",
            "sku": {
              "name": "Free_F1",
              "tier": "Free",
              "capacity": null
            },
            "capacity": {
              "minimum": 1,
              "maximum": 1,
              "default": 1,
              "allowedValues": [
                1
              ],
              "scaleType": "Manual"
            }
          },
          {
            "resourceType": "Microsoft.SignalRService/SignalR",
            "sku": {
              "name": "Standard_S1",
              "tier": "Standard",
              "capacity": null
            },
            "capacity": {
              "minimum": 1,
              "maximum": 100,
              "default": 1,
              "allowedValues": [
                1,
                2,
                3,
                4,
                5,
         [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/signalR/resourceWeouKZ/restart?api-version=2023-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/signalR/resourceWeouKZ/regenerateKey?api-version=2023-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "",
        "secondaryKey": "",
        "primaryConnectionString": "Endpoint=https://resourceweoukz.service.signalr.net;AccessKey=;Version=1.0;",
        "secondaryConnectionString": "Endpoint=https://resourceweoukz.service.signalr.net;AccessKey=;Version=1.0;"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/signalR/resourceWeouKZ/listKeys?api-version=2023-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "",
        "secondaryKey": "",
        "primaryConnectionString": "Endpoint=https://resourceweoukz.service.signalr.net;AccessKey=;Version=1.0;",
        "secondaryConnectionString": "Endpoint=https://resourceweoukz.service.signalr.net;AccessKey=;Version=1.0;"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "epsignalr-nic",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "epsignalr",
                "type": "string"
              },
              "signalrId": {
                "defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "epsignalrvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2020-11-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027virtualNetworksName\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "default",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "privateEndpointIpConfig",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027privateEndpointName\u0027)]",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "[parameters(\u0027privateEndpointName\u0027)]",
                      "properties": {
                        "groupIds": [
                          "signalr"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters(\u0027signalrId\u0027)]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworksName\u0027))]"
                ],
                "name": "[concat(parameters(\u0027virtualNetworksName\u0027), \u0027/default\u0027)]",
                "properties": {
                  "addressPrefix": "10.0.0.0/24",
                  "delegations": [],
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled"
                },
                "type": "Microsoft.Network/virtualNetworks/subnets"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationResults/08585077909240766138?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint",
        "name": "Create_PrivateEndpoint",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "4598281100255166661",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus"
            },
            "networkInterfaceName": {
              "type": "String",
              "value": "epsignalr-nic"
            },
            "privateEndpointName": {
              "type": "String",
              "value": "epsignalr"
            },
            "signalrId": {
              "type": "String",
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/SignalR/resourceWeouKZ"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "epsignalrvnet"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2023-09-04T08:26:03.8214213Z",
          "duration": "PT0.0001669S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "privateEndpoints",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "virtualNetworks/subnets",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/virtualNetworks/epsignalrvnet/subnets/default",
                  "resourceType": "Microsoft.Network/virtualNetworks/subnets",
                  "resourceName": "epsignalrvnet/default"
                }
              ],
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/networkInterfaces/epsignalr-nic",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "epsignalr-nic"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationResults/08585077909240766138?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.SignalRService/signalR/resourceWeouKZ/privateEndpointConnections?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/privateEndpoints/epsignalr"
              },
[...]
