{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/westus/checkNameAvailability?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "type": "Microsoft.SignalRService/SignalR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/signalR/resourcemlf5C8?api-version=2025-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "kind": "SignalR",
        "location": "westus",
        "properties": {
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "disableAadAuth": false,
          "disableLocalAuth": false,
          "features": [
            {
              "flag": "ServiceMode",
              "properties": {},
              "value": "Serverless"
            },
            {
              "flag": "EnableConnectivityLogs",
              "properties": {},
              "value": "True"
            },
            {
              "flag": "EnableMessagingLogs",
              "properties": {},
              "value": "False"
            },
            {
              "flag": "EnableLiveTrace",
              "properties": {},
              "value": "False"
            }
          ],
          "liveTraceConfiguration": {
            "categories": [
              {
                "enabled": "true",
                "name": "Sanitized"
              }
            ],
            "enabled": "false"
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "privateEndpoints": [
              {
                "allow": [
                  "ServerConnection"
                ],
                "name": "Sanitized"
              }
            ],
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ]
            }
          },
          "publicNetworkAccess": "Enabled",
          "serverless": {
            "connectionTimeoutInSeconds": 5
          },
          "tls": {
            "clientCertEnabled": false
          },
          "upstream": {
            "templates": [
              {
                "auth": {
                  "managedIdentity": {
                    "resource": "api://example"
                  },
                  "type": "ManagedIdentity"
                },
                "categoryPattern": "*",
                "eventPattern": "connect,disconnect",
                "hubPattern": "*",
                "urlTemplate": "https://example.com/chat/api/connect"
              }
            ]
          }
        },
        "sku": {
          "capacity": 1,
          "name": "Sanitized",
          "tier": "Premium"
        },
        "tags": {
          "key1": "value1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149475694130957&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149475694130957&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bm[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/signalR/resourcemlf5C8?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "sku": {
          "name": "Sanitized",
          "tier": "Premium",
          "size": "P1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Succeeded",
          "externalIP": "20.189.170.20",
          "hostName": "resourcemlf5c8.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "resourcemlf5c8",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            },
            {
              "flag": "EnableLiveTrace",
              "value": "False",
              "properties": {}
            }
          ],
          "liveTraceConfiguration": {
            "enabled": "false",
            "categories": [
              {
                "name": "Sanitized",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": null,
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "serverless": {
            "connectionTimeoutInSeconds": 5,
            "keepAliveIntervalInSeconds": 15
          },
          "upstream": {
            "templates": [
              {
                "hubPattern": "*",
                "eventPattern": "connect,disconnect",
                "categoryPattern": "*",
                "urlTemplate": "https://example.com/chat/api/connect",
                "auth": {
                  "type": "ManagedIdentity",
                  "managedIdentity": {
                    "resource": "api://example"
                  }
                }
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ],
              "deny": null
            },
            "privateEndpoints": [],
            "ipRules": [
              {
                "value": "0.0.0.0/0",
                "action": "Allow"
              },
              {
                "value": "::/0",
                "action": "Allow"
              }
            ]
          },
          "applicationFirewall": {
            "clientConnectionCountRules": [],
            "clientTrafficControlRules": [],
            "maxClientConnectionLifetimeInSeconds": null
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false,
          "regionEndpointEnabled": "Enabled",
          "resourceStopped": "false",
          "routeSettings": null
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.SignalRService/SignalR",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-21T08:06:03.7411941Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-21T08:06:03.7411941Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.SignalRService/operations?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Register Resource Provider Microsoft.SignalRService",
              "description": "Registers the 'Microsoft.SignalRService' resource provider with a subscription"
            },
            "properties": {}
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Unregister Resource Provider Microsoft.SignalRService",
              "description": "Unregisters the 'Microsoft.SignalRService' resource prov[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/signalR?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Sanitized",
              "tier": "Premium",
              "size": "P1",
              "capacity": 1
            },
            "properties": {
        [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/signalR?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "00000000-0000-0[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/signalR/resourcemlf5C8/skus?api-version=2025-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "Microsoft.SignalRService/SignalR",
            "sku": {
              "name": "Sanitized",
              "tier": "Free",
              "capacity": null
            },
            "capacity": {
              "minimum": 1,
              "maximum": 1,
              "default": 1,
              "allowedValues": [
                1
              ],
              "scaleType": "Manual"
            }
          },
          {
            "resourceType": "Microsoft.SignalRService/SignalR",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard",
              "capacity": null
            },
            "capacity": {
              "minimum": 1,
              "maximum": 100,
              "default": 1,
              "allowedValues": [
                1,
                2,
                3,
                4,
                5,
           [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149476394587523&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bm[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/signalR/resourcemlf5C8/restart?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-000[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149476710050680&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bm[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationResults/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149476710206908&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmN[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/signalR/resourcemlf5C8/regenerateKey?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149477633020705&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSB[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149477633020705&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bm[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8/operationResults/00000000-0000-0000-0000-000000000000?api-version=2025-01-01-preview&t=639149477633176948&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmN[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/signalR/resourcemlf5C8/listKeys?api-version=2025-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Endpoint=https://resourcemlf5c8.service.signalr.net;AccessKey=r8QUfklW82R0Hecg0qwFkjY4TA3cWSA4asyh72Mbw6HPAljk2CFbJQQJ99CEAC4f1cMXJ3w3AAAAASRSpu5Z;Version=1.0;",
        "secondaryConnectionString": "Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "epsignalr-nic",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "epsignalr",
                "type": "string"
              },
              "signalrId": {
                "defaultValue": "Sanitized",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "epsignalrvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2024-07-01",
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "defaultOutboundAccess": false,
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "Sanitized"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "groupIds": [
                          "signalr"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters('signalrId')]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "Sanitized"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              },
              {
                "apiVersion": "2024-07-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks', parameters('virtualNetworksName'))]"
                ],
                "name": "Sanitized",
                "properties": {
                  "addressPrefix": "10.0.0.0/24",
                  "defaultOutboundAccess": false,
                  "delegations": [],
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled"
                },
                "type": "Microsoft.Network/virtualNetworks/subnets"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08584222558882957302?api-version=2025-04-01&t=639149477981252209&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXV[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08584222558882957302?api-version=2025-04-01&t=639149477981252209&c=MIIHlDCCBnygAwIBAgIQezb8rseFMm1IRs195n9vVzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDE1NFoXDTI2MTAwMzA1NDE1NFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWd[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "3031182017702962365",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus"
            },
            "networkInterfaceName": {
              "type": "String",
              "value": "epsignalr-nic"
            },
            "privateEndpointName": {
              "type": "String",
              "value": "epsignalr"
            },
            "signalrId": {
              "type": "String",
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.SignalRService/SignalR/resourcemlf5C8"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "epsignalrvnet"
            }
          },
          "extensions": [],
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2026-05-21T08:10:57.5233498Z",
          "duration": "PT1M0.3512961S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "privateEndpoints",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "virtualNetworks/subnets",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks/subnets",
                  "resourceName": "epsignalrvnet/default"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "epsignalr-nic"
            },
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks/subnets",
                  "resourceName": "epsignalrvnet/default"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/privateEndpoints",
              "resourceName": "epsignalr"
            },
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
[...]
