{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-98e4c3ea-9446-788c-48e6-d719ac1f252a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE00D6092CA71\"",
        "Last-Modified": "Wed, 20 Aug 2025 17:17:01 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-98e4c3ea-9446-788c-48e6-d719ac1f252a/test-directory-9038bb9a-0286-0e94-8a8c-c9cde6d24e90?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE00D6098FEED\"",
        "Last-Modified": "Wed, 20 Aug 2025 17:17:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-20T17:17:01.6314605Z",
        "x-ms-file-creation-time": "2025-08-20T17:17:01.6314605Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-20T17:17:01.6314605Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-98e4c3ea-9446-788c-48e6-d719ac1f252a/test-directory-9038bb9a-0286-0e94-8a8c-c9cde6d24e90/test-file-0e96ea57-000e-5593-c062-ef10956dacfa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE00D609F605E\"",
        "Last-Modified": "Wed, 20 Aug 2025 17:17:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T17:17:01.6732766Z",
        "x-ms-file-creation-time": "2025-08-20T17:17:01.6732766Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-08-20T17:17:01.6732766Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Start>2025-08-20T16:17:01Z</Start><Expiry>2025-08-20T18:17:01Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-20T16:17:01Z</SignedStart><SignedExpiry>2025-08-20T18:17:01Z</SignedExpiry><SignedService>f</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-98e4c3ea-9446-788c-48e6-d719ac1f252a/test-directory-9038bb9a-0286-0e94-8a8c-c9cde6d24e90/test-file-0e96ea57-000e-5593-c062-ef10956dacfa?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-20T16%3A17%3A01Z&ske=2025-08-20T18%3A17%3A01Z&sks=f&skv=2026-02-06&sv=Sanitized&se=2025-08-20T18%3A17%3A01Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE00D609F605E\"",
        "Last-Modified": "Wed, 20 Aug 2025 17:17:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-20T17:17:01.6732766Z",
        "x-ms-file-creation-time": "2025-08-20T17:17:01.6732766Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-08-20T17:17:01.6732766Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-98e4c3ea-9446-788c-48e6-d719ac1f252a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-20T12:17:01.6683598-05:00",
    "RandomSeed": "1445331223",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
