{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate724?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate724",
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FAn5r9Z4Zj4Z3U4QpnRMrys8rAM41OCYON1fS0qhoUk\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNTg4;sn=59783588"
      },
      "ResponseBody": {
        "etag": "FAn5r9Z4Zj4Z3U4QpnRMrys8rAM41OCYON1fS0qhoUk",
        "key": "getConfigurationSettingByDate724",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:14:22+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate724?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNTg4"
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate724",
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rwWUAa2fHqtSvxOpdzR9DuoOUnJcgwHBT6a7IIKYX9s\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:23 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNTg5;sn=59783589"
      },
      "ResponseBody": {
        "etag": "rwWUAa2fHqtSvxOpdzR9DuoOUnJcgwHBT6a7IIKYX9s",
        "key": "getConfigurationSettingByDate724",
        "label": null,
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:14:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate724?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2024-10-08T17:14:22.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FAn5r9Z4Zj4Z3U4QpnRMrys8rAM41OCYON1fS0qhoUk\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:22 GMT",
        "Link": "</kv/getConfigurationSettingByDate724?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Tue, 08 Oct 2024 17:14:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNTkw;sn=59783590"
      },
      "ResponseBody": {
        "etag": "FAn5r9Z4Zj4Z3U4QpnRMrys8rAM41OCYON1fS0qhoUk",
        "key": "getConfigurationSettingByDate724",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:14:22+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigurationSettingByDate": "getConfigurationSettingByDate724"
  }
}
