{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTestNA15?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY1OQ==;sn=115290659",
        "x-ms-date": "Thu, 28 May 2026 21:47:42 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "getConfigTestNA": "getConfigTestNA15"
  }
}
