{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate625?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate625",
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BREie3DUTXTeWxlVedDQxIUYCjr78D-CATcddheMj_k\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:52:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzIxNA==;sn=103583214",
        "x-ms-date": "Fri, 23 Jan 2026 08:52:49 GMT"
      },
      "ResponseBody": {
        "etag": "BREie3DUTXTeWxlVedDQxIUYCjr78D-CATcddheMj_k",
        "key": "getConfigurationSettingByDate625",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:52:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate625?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzIxNA=="
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate625",
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WsZ1aU-2XhT5N6Qbyw5zicRxOqwsHALAYFCqqmSgxSE\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:52:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzIxNQ==;sn=103583215",
        "x-ms-date": "Fri, 23 Jan 2026 08:52:50 GMT"
      },
      "ResponseBody": {
        "etag": "WsZ1aU-2XhT5N6Qbyw5zicRxOqwsHALAYFCqqmSgxSE",
        "key": "getConfigurationSettingByDate625",
        "label": null,
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:52:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate625?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-01-23T08:52:49.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzIxNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BREie3DUTXTeWxlVedDQxIUYCjr78D-CATcddheMj_k\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:52:49 GMT",
        "Link": "</kv/getConfigurationSettingByDate625?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Fri, 23 Jan 2026 08:52:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzIxNg==;sn=103583216",
        "x-ms-date": "Fri, 23 Jan 2026 08:52:50 GMT"
      },
      "ResponseBody": {
        "etag": "BREie3DUTXTeWxlVedDQxIUYCjr78D-CATcddheMj_k",
        "key": "getConfigurationSettingByDate625",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:52:49+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigurationSettingByDate": "getConfigurationSettingByDate625"
  }
}
