{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate63?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate63",
        "value": "value1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1cAI9ii2Gx0_6-Xw5Sf5ODeEl0Htu6k_5joKXtGpHp4\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:34:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxMTQ=;sn=74104114"
      },
      "ResponseBody": {
        "etag": "1cAI9ii2Gx0_6-Xw5Sf5ODeEl0Htu6k_5joKXtGpHp4",
        "key": "getConfigurationSettingByDate63",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:34:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate63?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxMTQ="
      },
      "RequestBody": {
        "key": "getConfigurationSettingByDate63",
        "value": "value2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-fvXf4vLcKsIKZiZ63eu8XZT7kwaPtaepHxef4ZW1T4\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:34:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxMTU=;sn=74104115"
      },
      "ResponseBody": {
        "etag": "-fvXf4vLcKsIKZiZ63eu8XZT7kwaPtaepHxef4ZW1T4",
        "key": "getConfigurationSettingByDate63",
        "label": null,
        "content_type": null,
        "value": "value2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:34:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigurationSettingByDate63?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-09-29T09:34:37.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxMTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1cAI9ii2Gx0_6-Xw5Sf5ODeEl0Htu6k_5joKXtGpHp4\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:34:37 GMT",
        "Link": "</kv/getConfigurationSettingByDate63?api-version=2023-11-01>; rel=\"original\"",
        "Memento-Datetime": "Mon, 29 Sep 2025 09:34:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxMTY=;sn=74104116"
      },
      "ResponseBody": {
        "etag": "1cAI9ii2Gx0_6-Xw5Sf5ODeEl0Htu6k_5joKXtGpHp4",
        "key": "getConfigurationSettingByDate63",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:34:37+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigurationSettingByDate": "getConfigurationSettingByDate63"
  }
}
