{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTestNA153?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIxNTY=;sn=75082156",
        "x-ms-date": "Wed, 05 Nov 2025 07:28:49 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "getConfigTestNA": "getConfigTestNA153"
  }
}
