{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest630?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest630",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-r6RRDpRO-IEl0AYssqMzn7mo1uA1aozDhLZOIejHVc\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:32:28 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyOTM=;sn=75059293",
        "x-ms-date": "Tue, 04 Nov 2025 18:32:28 GMT"
      },
      "ResponseBody": {
        "etag": "-r6RRDpRO-IEl0AYssqMzn7mo1uA1aozDhLZOIejHVc",
        "key": "getConfigTest630",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:32:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/getConfigTest630?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyOTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nX3GOLXoSTsPk25lAwGx-LBwjkmA7B42CuC7Nv4sGUA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:32:28 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyOTQ=;sn=75059294",
        "x-ms-date": "Tue, 04 Nov 2025 18:32:28 GMT"
      },
      "ResponseBody": {
        "etag": "nX3GOLXoSTsPk25lAwGx-LBwjkmA7B42CuC7Nv4sGUA",
        "key": "getConfigTest630",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": true,
        "last_modified": "2025-11-04T18:32:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest630?$select=locked,content_type,last_modified,label&api-version=2023-11-01&label=a%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyOTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nX3GOLXoSTsPk25lAwGx-LBwjkmA7B42CuC7Nv4sGUA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:32:28 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyOTU=;sn=75059295",
        "x-ms-date": "Tue, 04 Nov 2025 18:32:28 GMT"
      },
      "ResponseBody": {
        "label": "a label",
        "content_type": "a content type",
        "locked": true,
        "last_modified": "2025-11-04T18:32:28+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest630"
  }
}
