{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest411?api-version=2023-11-01&label=a+label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest411",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z-c3lAqmyFOWP4vEhXk6nmki1Hs7EtCnBP8fv_kb2Rc\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:50:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4MzE=;sn=74014831"
      },
      "ResponseBody": {
        "etag": "Z-c3lAqmyFOWP4vEhXk6nmki1Hs7EtCnBP8fv_kb2Rc",
        "key": "getConfigTest411",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:50:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/getConfigTest411?api-version=2023-11-01&label=a+label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4MzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eLl-q2V1QC5EgVNPP87NIby0GFgfvps1Ofs6Cp0VUfs\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:50:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4MzI=;sn=74014832"
      },
      "ResponseBody": {
        "etag": "eLl-q2V1QC5EgVNPP87NIby0GFgfvps1Ofs6Cp0VUfs",
        "key": "getConfigTest411",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-25T08:50:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest411?%24select=locked%2Ccontent_type%2Clast_modified%2Clabel&api-version=2023-11-01&label=a+label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4MzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eLl-q2V1QC5EgVNPP87NIby0GFgfvps1Ofs6Cp0VUfs\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:50:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4MzM=;sn=74014833"
      },
      "ResponseBody": {
        "label": "a label",
        "content_type": "a content type",
        "locked": true,
        "last_modified": "2025-09-25T08:50:56+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest411"
  }
}
