{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTestNA392?api-version=2026-04-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTA3Nw==;sn=53371077",
        "x-ms-date": "Mon, 15 Jun 2026 18:35:06 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "getConfigTestNA": "getConfigTestNA392"
  }
}
