{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest256?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest256",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LWPsbrLtLzQ29ql7Y6dcwKeiWlIqaE7uf7YaXnrRLH8\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2Njk=;sn=74230669"
      },
      "ResponseBody": {
        "etag": "LWPsbrLtLzQ29ql7Y6dcwKeiWlIqaE7uf7YaXnrRLH8",
        "key": "getConfigTest256",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:35:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/getConfigTest256?api-version=2023-11-01&label=a%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA2Njk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"83mjF_K3_loqDT-SgQxvL1ZXePGofUjOuoEwnmPuyTQ\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2NzA=;sn=74230670"
      },
      "ResponseBody": {
        "etag": "83mjF_K3_loqDT-SgQxvL1ZXePGofUjOuoEwnmPuyTQ",
        "key": "getConfigTest256",
        "label": "a label",
        "content_type": "a content type",
        "value": "value that will not be retrieved",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-02T15:35:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest256?api-version=2023-11-01&label=a%20label&$Select=locked,content_type,last_modified,label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA2NzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"83mjF_K3_loqDT-SgQxvL1ZXePGofUjOuoEwnmPuyTQ\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2NzE=;sn=74230671"
      },
      "ResponseBody": {
        "label": "a label",
        "content_type": "a content type",
        "locked": true,
        "last_modified": "2025-10-02T15:35:12+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest256"
  }
}
