{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest788?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest788",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pgEaZv9I2nD1R8dDViS5Gom6irB2gXoBWb2silalzaA\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:49:20 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjU0;sn=2804654"
      },
      "ResponseBody": {
        "etag": "pgEaZv9I2nD1R8dDViS5Gom6irB2gXoBWb2silalzaA",
        "key": "getConfigTest788",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:49:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest788?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjU0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pgEaZv9I2nD1R8dDViS5Gom6irB2gXoBWb2silalzaA\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:49:20 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjU0;sn=2804654"
      },
      "ResponseBody": {
        "etag": "pgEaZv9I2nD1R8dDViS5Gom6irB2gXoBWb2silalzaA",
        "key": "getConfigTest788",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:49:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest788?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjU0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pgEaZv9I2nD1R8dDViS5Gom6irB2gXoBWb2silalzaA\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:49:20 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjU1;sn=2804655"
      },
      "ResponseBody": {
        "etag": "pgEaZv9I2nD1R8dDViS5Gom6irB2gXoBWb2silalzaA",
        "key": "getConfigTest788",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2024-07-11T20:49:20+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest788"
  }
}
