{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTestNA819?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3ODQ5Mw==;sn=102478493",
        "x-ms-date": "Tue, 13 Jan 2026 06:14:04 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "getConfigTestNA": "getConfigTestNA819"
  }
}
