{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest615?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "getConfigTest615",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KF8G5ZWbP3D76O4hqjzkx0YuOQMjSL1kXgdCH3y4NwE\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:57:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwMzY=;sn=74234036"
      },
      "ResponseBody": {
        "etag": "KF8G5ZWbP3D76O4hqjzkx0YuOQMjSL1kXgdCH3y4NwE",
        "key": "getConfigTest615",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:57:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest615?api-version=2023-11-01&label=test",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQwMzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KF8G5ZWbP3D76O4hqjzkx0YuOQMjSL1kXgdCH3y4NwE\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:57:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwMzY=;sn=74234036"
      },
      "ResponseBody": {
        "etag": "KF8G5ZWbP3D76O4hqjzkx0YuOQMjSL1kXgdCH3y4NwE",
        "key": "getConfigTest615",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:57:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/getConfigTest615?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQwMzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KF8G5ZWbP3D76O4hqjzkx0YuOQMjSL1kXgdCH3y4NwE\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:57:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQwMzc=;sn=74234037"
      },
      "ResponseBody": {
        "etag": "KF8G5ZWbP3D76O4hqjzkx0YuOQMjSL1kXgdCH3y4NwE",
        "key": "getConfigTest615",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:57:54+00:00"
      }
    }
  ],
  "Variables": {
    "getConfigTest": "getConfigTest615"
  }
}
