{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969359600400?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969359600400/messages?visibilitytimeout=10&timeout=30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText>foo</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>892836a9-e100-4fe6-aaf2-6221882dca5c</MessageId><InsertionTime>Tue, 30 Apr 2024 06:48:14 GMT</InsertionTime><ExpirationTime>Tue, 07 May 2024 06:48:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1EUQZsqa2gE=</PopReceipt><TimeNextVisible>Tue, 30 Apr 2024 06:48:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969359600400/messages/892836a9-e100-4fe6-aaf2-6221882dca5c?popreceipt=AgAAAAMAAAAAAAAA1EUQZsqa2gE%3D&visibilitytimeout=0&timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-popreceipt": "AwAAAAMAAAAAAAAARSsrYMqa2gEAAAAA",
        "x-ms-time-next-visible": "Tue, 30 Apr 2024 06:48:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969359600400/messages?timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>892836a9-e100-4fe6-aaf2-6221882dca5c</MessageId><InsertionTime>Tue, 30 Apr 2024 06:48:14 GMT</InsertionTime><ExpirationTime>Tue, 07 May 2024 06:48:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAs20dcsqa2gE=</PopReceipt><TimeNextVisible>Tue, 30 Apr 2024 06:48:44 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>foo</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue171445969359600400?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue171445969359600400"
  }
}
