{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 10 Jun 2025 22:20:39 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-16bc-a381-09482200699a"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/Sanitized/:issueAccessToken?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 10 Jun 2025 22:20:39 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "26ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2025-06-11T22:20:43.1502248+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2025-03-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "Sanitized"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Async Test",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-16bc-a381-09482200699a",
              "communicationUser": {
                "id": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-16bc-a381-09482200699a"
              }
            }
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-1734-a381-09482200699b",
              "communicationUser": {
                "id": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-1734-a381-09482200699b"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview, 2025-03-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://global.chat.ppe.communication.microsoft.com/chat/threads/19%3AacsV1_9vBvkjLGQbjhAZkkYqqzusChLluHuVJRfHrJWx-GqsA1@thread.v2",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "731ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:acsV1_9vBvkjLGQbjhAZkkYqqzusChLluHuVJRfHrJWx-GqsA1@thread.v2",
          "topic": "Thread topic - ReadReceipts Async Test",
          "createdOn": "2025-06-10T22:20:44Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-16bc-a381-09482200699a",
            "communicationUser": {
              "id": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-16bc-a381-09482200699a"
            }
          },
          "retentionPolicy": {
            "kind": "none"
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AacsV1_9vBvkjLGQbjhAZkkYqqzusChLluHuVJRfHrJWx-GqsA1%40thread.v2/messages?api-version=2025-03-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content",
        "type": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview, 2025-03-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://global.chat.ppe.communication.microsoft.com/chat/threads/19%3AacsV1_9vBvkjLGQbjhAZkkYqqzusChLluHuVJRfHrJWx-GqsA1@thread.v2/messages/1749594044138",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "226ms"
      },
      "ResponseBody": {
        "id": "1749594044138"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AacsV1_9vBvkjLGQbjhAZkkYqqzusChLluHuVJRfHrJWx-GqsA1%40thread.v2/readReceipts?api-version=2025-03-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1749594044506"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview, 2025-03-15",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "260ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AacsV1_9vBvkjLGQbjhAZkkYqqzusChLluHuVJRfHrJWx-GqsA1%40thread.v2/readReceipts?api-version=2025-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview, 2025-03-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "220ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-16bc-a381-09482200699a",
              "communicationUser": {
                "id": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-16bc-a381-09482200699a"
              }
            },
            "chatMessageId": "1749594044506",
            "readOn": "2025-06-10T22:20:44Z"
          },
          {
            "senderCommunicationIdentifier": {
              "rawId": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-1734-a381-09482200699b",
              "communicationUser": {
                "id": "8:acs:356ba684-a8dc-4806-b39c-0fbf447c9b2e_00000027-fbd0-1734-a381-09482200699b"
              }
            },
            "chatMessageId": "1749594044138",
            "readOn": "2025-06-10T22:20:45Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AacsV1_9vBvkjLGQbjhAZkkYqqzusChLluHuVJRfHrJWx-GqsA1%40thread.v2?api-version=2025-03-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview, 2025-03-15",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "328ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1338680800"
  }
}
