{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Nov 2023 02:44:56 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PrLQnLmCZ0GEMbGM6kRP3Q.0",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/Sanitized/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 23 Nov 2023 02:44:56 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "iF4KnIlCrEmcP0suXnJA3Q.0",
        "X-Processing-Time": "33ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2023-11-24T02:44:56.8748109\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-97d0-99c6-593a0d00964a",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-97d0-99c6-593a0d00964a"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9822-d68a-0848220092be",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9822-d68a-0848220092be"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2",
        "MS-CV": "YtKnmztU/E\u002BlbKHZS0GnAA.0",
        "X-Processing-Time": "576ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:zu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2023-11-23T02:44:58Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
            "communicationUser": {
              "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/participants?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BXXd5f/t1UyEtgonVaTqjQ.0",
        "X-Processing-Time": "144ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-97d0-99c6-593a0d00964a",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-97d0-99c6-593a0d00964a"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9822-d68a-0848220092be",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9822-d68a-0848220092be"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "etEPIuu3yk\u002BbihDFTeY6sQ.0",
        "X-Processing-Time": "349ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2/messages/1700707500295",
        "MS-CV": "h\u002BiN\u002B0iitUKkskiuCNzFVg.0",
        "X-Processing-Time": "139ms"
      },
      "ResponseBody": {
        "id": "1700707500295"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3ADsXbPsa05a2WTpyZVEpHWzw9IoHMvDITdA1d9z98e1Y1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3ADsXbPsa05a2WTpyZVEpHWzw9IoHMvDITdA1d9z98e1Y1@thread.v2/messages/1700707500582",
        "MS-CV": "AmGgKMhIb0ad8\u002B7BPigx4g.0",
        "X-Processing-Time": "307ms"
      },
      "ResponseBody": {
        "id": "1700707500582"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 7",
        "senderDisplayName": "DisplayName sender message options message 7",
        "type": "html",
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]",
          "key": "value key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2/messages/1700707501918",
        "MS-CV": "KtpTevsxoUGo\u002BL7gSSX9ew.0",
        "X-Processing-Time": "183ms"
      },
      "ResponseBody": {
        "id": "1700707501918"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/messages/1700707500295?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "5Km\u002BUMgVNEeH67W/GBiGrw.0",
        "X-Processing-Time": "158ms"
      },
      "ResponseBody": {
        "id": "1700707500295",
        "type": "text",
        "sequenceId": "4",
        "version": "1700707500295",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-23T02:45:00Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3ADsXbPsa05a2WTpyZVEpHWzw9IoHMvDITdA1d9z98e1Y1%40thread.v2/messages/1700707500582?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "J5T4YQqyNkmKKHu9oJbDCQ.0",
        "X-Processing-Time": "139ms"
      },
      "ResponseBody": {
        "id": "1700707500582",
        "type": "html",
        "sequenceId": "3",
        "version": "1700707500582",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-23T02:45:00Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/messages?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 20[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:zu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2/messages?syncState=3e3900000031393a7a75316e36444658674c4a73544539327a416b7a4242613777644a61364342537a4a64355f65505936504931407468726561642e763201530611fa8b0100005e0711fa8b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authori[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:zu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2/messages?syncState=3e3900000031393a7a75316e36444658674c4a73544539327a416b7a4242613777644a61364342537a4a64355f65505936504931407468726561642e763201070111fa8b0100005e0711fa8b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "W6qR4iRmz0Wd2jalmheeNA.0",
        "X-Processing-Time": "228ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1700707499870",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1700707499870",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
                "communicationUser": {
                  "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
                }
              }
            },
            "createdOn": "2023-11-23T02:44:59Z"
          },
          {
            "id": "1700707498647",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1700707498647",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
                "communicationUser": {
                  "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
                }
              }
            },
            "createdOn": "2023-11-23T02:44:58Z"
          }
        ],
        "nextLink": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:zu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2/messages?syncState=3e3900000031393a7a75316e36444658674c4a73544539327a416b7a4242613777644a61364342537a4a64355f65505936504931407468726561642e76320197fa10fa8b0100005e0711fa8b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/messages/1700707500295?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZLFxE\u002BTs0U63rnWS36XYsg.0",
        "X-Processing-Time": "156ms"
      },
      "ResponseBody": {
        "id": "1700707500295",
        "type": "text",
        "sequenceId": "4",
        "version": "1700707504852",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-23T02:45:00Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9764-e3c7-593a0d00a26f"
          }
        },
        "editedOn": "2023-11-23T02:45:04Z"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/participants/:add?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9ac9-e3c7-593a0d00a271",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9ac9-e3c7-593a0d00a271"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "aYzUQq4DgEarprCOaY0Lsg.0",
        "X-Processing-Time": "216ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/participants?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:zu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/participants/:remove?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9ac9-e3c7-593a0d00a271",
        "communicationUser": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-99f2-9ac9-e3c7-593a0d00a271"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "Ktd9fS4pJkGsilLWOBFNOQ.0",
        "X-Processing-Time": "407ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2/typing?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "GhGXGpacikuTNRyp1Dcwzg.0",
        "X-Processing-Time": "77ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VJ6D8X73d0e/N2bpjuvulw.0",
        "X-Processing-Time": "106ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:zu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2023-11-23T02:45:06Z"
          },
          {
            "id": "19:DsXbPsa05a2WTpyZVEpHWzw9IoHMvDITdA1d9z98e1Y1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2023-11-23T02:45:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3Azu1n6DFXgLJsTE92zAkzBBa7wdJa6CBSzJd5_ePY6PI1%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "1IUpDTNnI0SXjXcmFpBOtQ.0",
        "X-Processing-Time": "182ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "372015768"
  }
}
