{
  "Entries": [
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Nov 2023 23:58:07 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dgU8l8CpDke1DHIo/5K7Bw.0",
        "X-Processing-Time": "22ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
        }
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/identities/8%3Aacs%3Ab6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Nov 2023 23:58:07 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2cg6C8rDiUu28QClwRIFSg.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2023-11-23T23:58:07.8304599\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-ddfb-99c6-593a0d0081ca",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-ddfb-99c6-593a0d0081ca"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-de52-99c6-593a0d0081cb",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-de52-99c6-593a0d0081cb"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2",
        "MS-CV": "1FqJirO17EW3XxE4csA6jA.0",
        "X-Processing-Time": "568ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:JQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2023-11-22T23:58:08Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
            "communicationUser": {
              "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/participants?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3u56p43gdEm7YMesbptSUQ.0",
        "X-Processing-Time": "102ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-ddfb-99c6-593a0d0081ca",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-ddfb-99c6-593a0d0081ca"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-de52-99c6-593a0d0081cb",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-de52-99c6-593a0d0081cb"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "Kbf\u002BzumPqkO6M/XkSeyTAA.0",
        "X-Processing-Time": "247ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2/messages/1700697490503",
        "MS-CV": "DX2PmBRRxUeK48CCcsKjRA.0",
        "X-Processing-Time": "208ms"
      },
      "ResponseBody": {
        "id": "1700697490503"
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AB73CnK29Hl4s8LVhse__2swDfLokGuTn0sFFzCeSlwY1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AB73CnK29Hl4s8LVhse__2swDfLokGuTn0sFFzCeSlwY1@thread.v2/messages/1700697490740",
        "MS-CV": "vTyFiYfO0Ui1RlrEpA/Zbw.0",
        "X-Processing-Time": "190ms"
      },
      "ResponseBody": {
        "id": "1700697490740"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 7",
        "senderDisplayName": "DisplayName sender message options message 7",
        "type": "html",
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]",
          "key": "value key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2/messages/1700697491995",
        "MS-CV": "b4tXDxlz/ketibcpAmDDHQ.0",
        "X-Processing-Time": "117ms"
      },
      "ResponseBody": {
        "id": "1700697491995"
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/messages/1700697490503?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3DFe/RWnhUOiwHsvpOhRZg.0",
        "X-Processing-Time": "152ms"
      },
      "ResponseBody": {
        "id": "1700697490503",
        "type": "text",
        "sequenceId": "4",
        "version": "1700697490503",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-22T23:58:10Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
          }
        }
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AB73CnK29Hl4s8LVhse__2swDfLokGuTn0sFFzCeSlwY1%40thread.v2/messages/1700697490740?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hzTGr366VUmlX4jQDBaxyQ.0",
        "X-Processing-Time": "92ms"
      },
      "ResponseBody": {
        "id": "1700697490740",
        "type": "html",
        "sequenceId": "3",
        "version": "1700697490740",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-22T23:58:10Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/messages?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:JQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2/messages?syncState=3e3900000031393a4a516952486c726c42386d5175577744794e395a52643264485056687667413657545879616979594d6c5931407468726561642e763201474978f98b0100001b4a78f98b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
  [...]
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:JQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2/messages?syncState=3e3900000031393a4a516952486c726c42386d5175577744794e395a52643264485056687667413657545879616979594d6c5931407468726561642e763201474478f98b0100001b4a78f98b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "omvKXI/BpkuPsZluQChfeA.0",
        "X-Processing-Time": "137ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1700697490135",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1700697490135",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
                "communicationUser": {
                  "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
                }
              }
            },
            "createdOn": "2023-11-22T23:58:10Z"
          },
          {
            "id": "1700697488992",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1700697488992",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
                "communicationUser": {
                  "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
                }
              }
            },
            "createdOn": "2023-11-22T23:58:08Z"
          }
        ],
        "nextLink": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:JQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2/messages?syncState=3e3900000031393a4a516952486c726c42386d5175577744794e395a52643264485056687667413657545879616979594d6c5931407468726561642e763201603e78f98b0100001b4a78f98b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/messages/1700697490503?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6Vd7lz\u002BW4UWZ6KtQqzf3wA.0",
        "X-Processing-Time": "158ms"
      },
      "ResponseBody": {
        "id": "1700697490503",
        "type": "text",
        "sequenceId": "4",
        "version": "1700697495030",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-22T23:58:10Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dd99-99c6-593a0d0081c9"
          }
        },
        "editedOn": "2023-11-22T23:58:15Z"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/participants/:add?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dea9-99c6-593a0d0081cc",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dea9-99c6-593a0d0081cc"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tT44nIs\u002BskqKggYP8Ap8xw.0",
        "X-Processing-Time": "371ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/participants?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:JQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-previ[...]
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/participants/:remove?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dea9-99c6-593a0d0081cc",
        "communicationUser": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-9959-dea9-99c6-593a0d0081cc"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "Sjgyaest4E6sc3Hl\u002BhE2LQ.0",
        "X-Processing-Time": "408ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2/typing?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "fgW8h\u002BtMN0q4Qkt0l3QeoA.0",
        "X-Processing-Time": "181ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BhxbydXxMUKOm4aRK\u002Bzx9Q.0",
        "X-Processing-Time": "108ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:JQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2023-11-22T23:58:17Z"
          },
          {
            "id": "19:B73CnK29Hl4s8LVhse__2swDfLokGuTn0sFFzCeSlwY1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2023-11-22T23:58:10Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AJQiRHlrlB8mQuWwDyN9ZRd2dHPVhvgA6WTXyaiyYMlY1%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "VjZm/5GJnUyaVWCQ\u002BirMZA.0",
        "X-Processing-Time": "260ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1933486980"
  }
}
