{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:43:31 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ipzD67ApiUqWC4W9zopI7g.0",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities/Sanitized/:issueAccessToken?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:43:32 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xI6cdw7HFEORuCBZL7jgIw.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2024-01-03T09:43:32.5722561\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
              "communicationUser": {
                "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-365e-b688-09482200b599",
              "communicationUser": {
                "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-365e-b688-09482200b599"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-38a7-b688-09482200b59a",
              "communicationUser": {
                "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-38a7-b688-09482200b59a"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://test-petrsvihlik.ppe.communication.azure.net/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2",
        "MS-CV": "n9Dg0LuLWEupkbb3mJzY7w.0",
        "X-Processing-Time": "662ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2024-01-02T09:43:35Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
            "communicationUser": {
              "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/participants?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FdAX03GqQUWiAGSs6nCKQA.0",
        "X-Processing-Time": "101ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
              "communicationUser": {
                "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-365e-b688-09482200b599",
              "communicationUser": {
                "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-365e-b688-09482200b599"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-38a7-b688-09482200b59a",
              "communicationUser": {
                "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-38a7-b688-09482200b59a"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "ZAO2Z4Jl8EKj8hMwVdkKSA.0",
        "X-Processing-Time": "262ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://test-petrsvihlik.ppe.communication.azure.net/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2/messages/1704188618894",
        "MS-CV": "rOCu/Z6R0kqWi9Z8XlbwJA.0",
        "X-Processing-Time": "191ms"
      },
      "ResponseBody": {
        "id": "1704188618894"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AMG-mayAFhGCntg43nRa2tIZwTH9UXuH3kRkFbx_4-nc1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://test-petrsvihlik.ppe.communication.azure.net/chat/threads/19%3AMG-mayAFhGCntg43nRa2tIZwTH9UXuH3kRkFbx_4-nc1@thread.v2/messages/1704188619313",
        "MS-CV": "sA32BLhPJUW3aShasGmwpg.0",
        "X-Processing-Time": "192ms"
      },
      "ResponseBody": {
        "id": "1704188619313"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 7",
        "senderDisplayName": "DisplayName sender message options message 7",
        "type": "html",
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]",
          "key": "value key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://test-petrsvihlik.ppe.communication.azure.net/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2/messages/1704188621806",
        "MS-CV": "fJJP02H8jkKwHJwFjDVkYQ.0",
        "X-Processing-Time": "118ms"
      },
      "ResponseBody": {
        "id": "1704188621806"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/messages/1704188618894?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3ym1RjefSUuGP0KqNbq8WQ.0",
        "X-Processing-Time": "90ms"
      },
      "ResponseBody": {
        "id": "1704188618894",
        "type": "text",
        "sequenceId": "4",
        "version": "1704188618894",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2024-01-02T09:43:38Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
          "communicationUser": {
            "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AMG-mayAFhGCntg43nRa2tIZwTH9UXuH3kRkFbx_4-nc1%40thread.v2/messages/1704188619313?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nA9vFusaNES4wIuI4Vd0Ug.0",
        "X-Processing-Time": "91ms"
      },
      "ResponseBody": {
        "id": "1704188619313",
        "type": "html",
        "sequenceId": "3",
        "version": "1704188619313",
        "content": {
          "message": "Content for message 2",
          "attachments": []
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2024-01-02T09:43:39Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
          "communicationUser": {
            "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/messages?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 20[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2/messages?syncState=3e3900000031393a305a6964444154316c4737464862487958714e414d53395861596b79576e75525a42446d425a703130383431407468726561642e76320139b28ec98c010000eeb38ec98c010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authori[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2/messages?syncState=3e3900000031393a305a6964444154316c4737464862487958714e414d53395861596b79576e75525a42446d425a703130383431407468726561642e7632018ea88ec98c010000eeb38ec98c010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qGcWTj5eT0G8XB79zN3zUw.0",
        "X-Processing-Time": "102ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1704188618058",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1704188618058",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
                "communicationUser": {
                  "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
                }
              }
            },
            "createdOn": "2024-01-02T09:43:38Z"
          },
          {
            "id": "1704188615774",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1704188615774",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
                "communicationUser": {
                  "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
                }
              }
            },
            "createdOn": "2024-01-02T09:43:35Z"
          }
        ],
        "nextLink": "https://test-petrsvihlik.ppe.communication.azure.net/chat/threads/19:0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2/messages?syncState=3e3900000031393a305a6964444154316c4737464862487958714e414d53395861596b79576e75525a42446d425a703130383431407468726561642e7632015e9c8ec98c010000eeb38ec98c010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/messages/1704188618894?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "qtzYHQPmUkSbq0cKpn/FpQ.0",
        "X-Processing-Time": "91ms"
      },
      "ResponseBody": {
        "id": "1704188618894",
        "type": "text",
        "sequenceId": "4",
        "version": "1704188628038",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2024-01-02T09:43:38Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598",
          "communicationUser": {
            "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-32a9-b688-09482200b598"
          }
        },
        "editedOn": "2024-01-02T09:43:48Z"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/participants/:add?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-3b33-b688-09482200b59b",
              "communicationUser": {
                "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-3b33-b688-09482200b59b"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Yrq0RAAatU\u002B8qTUpQ86toA.0",
        "X-Processing-Time": "260ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/participants?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/participants/:remove?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rawId": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-3b33-b688-09482200b59b",
        "communicationUser": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6970-3b33-b688-09482200b59b"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "C1zsvsBgWkO/ZQA4maDNSg.0",
        "X-Processing-Time": "321ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2/typing?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "pNCE\u002BeZxPEy8Ki02KWKbzw.0",
        "X-Processing-Time": "166ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6vePVkzp7kWXvYebw/rvuA.0",
        "X-Processing-Time": "162ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2024-01-02T09:43:51Z"
          },
          {
            "id": "19:MG-mayAFhGCntg43nRa2tIZwTH9UXuH3kRkFbx_4-nc1@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2024-01-02T09:43:39Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3A0ZidDAT1lG7FHbHyXqNAMS9XaYkyWnuRZBDmBZp10841%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "5HcaHxd8vEKu5KavAVx/eA.0",
        "X-Processing-Time": "199ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1690542507"
  }
}
