{
  "Entries": [
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:55:38 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "tgFnkDUBPkmt2gP2BqlVsg.0",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
        }
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/identities/8%3Aacs%3Ab6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85/:issueAccessToken?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:55:38 GMT"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Mb6EoWsJ80uP7y510Z\u002BwEQ.0",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "token": "Sanitized",
        "expiresOn": "2023-11-22T21:55:38.7682807\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "repeatability-request-id": "contoso-C0A747F1-6245-4307-8267-B974340677DC"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
              }
            },
            "displayName": "user1"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5ea9-99c6-593a0d00ca86",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5ea9-99c6-593a0d00ca86"
              }
            },
            "displayName": "user2"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f03-99c6-593a0d00ca87",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f03-99c6-593a0d00ca87"
              }
            },
            "displayName": "user3"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2",
        "MS-CV": "rr3Ov3SSDUGEjBoTVuDEXg.0",
        "X-Processing-Time": "355ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:OV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2023-11-21T21:55:39Z",
          "createdByCommunicationIdentifier": {
            "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
            "communicationUser": {
              "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/participants?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dCTfzxAfckCuX5MCqrOyCQ.0",
        "X-Processing-Time": "178ms"
      },
      "ResponseBody": {
        "value": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
              }
            },
            "displayName": "user1",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5ea9-99c6-593a0d00ca86",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5ea9-99c6-593a0d00ca86"
              }
            },
            "displayName": "user2",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f03-99c6-593a0d00ca87",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f03-99c6-593a0d00ca87"
              }
            },
            "displayName": "user3",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "93mwR2Q0YU\u002BEjeR0WpXoHA.0",
        "X-Processing-Time": "178ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2/messages/1700603740807",
        "MS-CV": "0MeFhxmud0m4hmwCS1PBsQ.0",
        "X-Processing-Time": "120ms"
      },
      "ResponseBody": {
        "id": "1700603740807"
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3Asu5d5jYEwXgHDYdcTm-QCdkwUyMULOtVp26DLVH6Sp81%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "html"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3Asu5d5jYEwXgHDYdcTm-QCdkwUyMULOtVp26DLVH6Sp81@thread.v2/messages/1700603741049",
        "MS-CV": "\u002B8gyKg5edkyQnPDW0nEBJw.0",
        "X-Processing-Time": "298ms"
      },
      "ResponseBody": {
        "id": "1700603741049"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/messages?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Content for message 7",
        "senderDisplayName": "DisplayName sender message options message 7",
        "type": "html",
        "metadata": {
          "tags": "tag value",
          "deliveryMode": "deliveryMode value",
          "onedriveReferences": "onedriveReferences value",
          "amsreferences": "[\u0022test url file 1\u0022,\u0022test url file2\u0022]",
          "key": "value key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2/messages/1700603741958",
        "MS-CV": "\u002BjvnF\u002BzRUkiJvWbK/ZWCNQ.0",
        "X-Processing-Time": "174ms"
      },
      "ResponseBody": {
        "id": "1700603741958"
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/messages/1700603740807?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "SYZBgpGH2kOLE66T8\u002BAGzQ.0",
        "X-Processing-Time": "60ms"
      },
      "ResponseBody": {
        "id": "1700603740807",
        "type": "text",
        "sequenceId": "4",
        "version": "1700603740807",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-21T21:55:40Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
          }
        }
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3Asu5d5jYEwXgHDYdcTm-QCdkwUyMULOtVp26DLVH6Sp81%40thread.v2/messages/1700603741049?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "92xcUPcKvUyM4\u002BGkK\u002B163w.0",
        "X-Processing-Time": "146ms"
      },
      "ResponseBody": {
        "id": "1700603741049",
        "type": "html",
        "sequenceId": "3",
        "version": "1700603741049",
        "content": {
          "message": "Content for message 2"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-21T21:55:41Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/messages?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:OV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2/messages?syncState=3e3900000031393a4f5633324c56644b6b5958664c305f4d723763363079573053766879313368667530593656357a306e785931407468726561642e76320161c6e1f38b01000006c7e1f38b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
  [...]
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:OV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2/messages?syncState=3e3900000031393a4f5633324c56644b6b5958664c305f4d723763363079573053766879313368667530593656357a306e785931407468726561642e76320187c2e1f38b01000006c7e1f38b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lmAJ/3ZgEE2Lrh58IwynUA.0",
        "X-Processing-Time": "76ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1700603740445",
            "type": "topicUpdated",
            "sequenceId": "3",
            "version": "1700603740445",
            "content": {
              "topic": "Updated topic - C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
                "communicationUser": {
                  "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
                }
              }
            },
            "createdOn": "2023-11-21T21:55:40Z"
          },
          {
            "id": "1700603739362",
            "type": "topicUpdated",
            "sequenceId": "2",
            "version": "1700603739362",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiatorCommunicationIdentifier": {
                "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
                "communicationUser": {
                  "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
                }
              }
            },
            "createdOn": "2023-11-21T21:55:39Z"
          }
        ],
        "nextLink": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:OV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2/messages?syncState=3e3900000031393a4f5633324c56644b6b5958664c305f4d723763363079573053766879313368667530593656357a306e785931407468726561642e763201e2bce1f38b01000006c7e1f38b010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2023-11-07"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/messages/1700603740807?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0NcXKeWxPE6xCpz2N7qtlg.0",
        "X-Processing-Time": "56ms"
      },
      "ResponseBody": {
        "id": "1700603740807",
        "type": "text",
        "sequenceId": "4",
        "version": "1700603743953",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2023-11-21T21:55:40Z",
        "senderCommunicationIdentifier": {
          "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85",
          "communicationUser": {
            "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5e4d-99c6-593a0d00ca85"
          }
        },
        "editedOn": "2023-11-21T21:55:43Z"
      }
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/participants/:add?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f59-99c6-593a0d00ca88",
              "communicationUser": {
                "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f59-99c6-593a0d00ca88"
              }
            },
            "displayName": "user4"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8u2NhmV6RUasw0g9vI\u002Bj2A.0",
        "X-Processing-Time": "198ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/participants?maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19:OV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-previ[...]
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/participants/:remove?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f59-99c6-593a0d00ca88",
        "communicationUser": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_0000001c-93c3-5f59-99c6-593a0d00ca88"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "i7A9\u002BzWht0eIGO2yqz3\u002BKg.0",
        "X-Processing-Time": "246ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2/typing?api-version=2023-11-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "RxSbYjOf6USSUHEsNMUM6Q.0",
        "X-Processing-Time": "158ms"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2auzAZJ4pUyT7ldgoNhS1w.0",
        "X-Processing-Time": "113ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:OV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2023-11-21T21:55:45Z"
          },
          {
            "id": "19:su5d5jYEwXgHDYdcTm-QCdkwUyMULOtVp26DLVH6Sp81@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2023-11-21T21:55:41Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://acs-ui-dev.unitedstates.communication.azure.com/chat/threads/19%3AOV32LVdKkYXfL0_Mr7c60yW0Svhy13hfu0Y6V5z0nxY1%40thread.v2?api-version=2023-11-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview",
        "MS-CV": "YLajPpjO8EmO4dONiaMKKg.0",
        "X-Processing-Time": "215ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1837037269"
  }
}
