{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1679856469/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1679856469/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1679856469/84a670f5060641268670a28b853f116b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sPHD-l9FgNn1rNbh94YCwaC18GP6t3AdCWQJOPtOzOT0ioWXc6YNKK9Fd2aoahveVVzglS1VI0l0fF3DD9iQYbWZkj0KiprNPh6YwWs9jmML6f6yZv0WufUs4wb2RgNw4ot1KHcBxV0AaTGYzl_lvnEGGJ_xoNJ9SFQyoOV7-YyGACFVa3B8EbGo3F_gEqChgHodLI9L_9QWE7DjF5Iwjrk99v8FcWVD5sRaHHbuyljegBl7iSTQiNVsZVyDetu-kRdThIEYKED8PHuxJubQMkYFx4tq0NoJaJp9DJk3S250N97YXq8KL78Em83L6jC70x7tYGhUVyLDlAorsTTRNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202733,
          "updated": 1724202733,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1679856469/84a670f5060641268670a28b853f116b?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1679856469/84a670f5060641268670a28b853f116b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sPHD-l9FgNn1rNbh94YCwaC18GP6t3AdCWQJOPtOzOT0ioWXc6YNKK9Fd2aoahveVVzglS1VI0l0fF3DD9iQYbWZkj0KiprNPh6YwWs9jmML6f6yZv0WufUs4wb2RgNw4ot1KHcBxV0AaTGYzl_lvnEGGJ_xoNJ9SFQyoOV7-YyGACFVa3B8EbGo3F_gEqChgHodLI9L_9QWE7DjF5Iwjrk99v8FcWVD5sRaHHbuyljegBl7iSTQiNVsZVyDetu-kRdThIEYKED8PHuxJubQMkYFx4tq0NoJaJp9DJk3S250N97YXq8KL78Em83L6jC70x7tYGhUVyLDlAorsTTRNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724202733,
          "updated": 1724202733,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1679856469/84a670f5060641268670a28b853f116b/unwrapKey?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ET9Qm3e25OdGIZ4CW5LmY2fa7OAQLQH1Rf8AmyP6HkxQkqe_QswSUc5E8v5mKBAQZ-Aq3NUQohc0dBg1kld9-aDgDozHx2gAmBsa0V-iHu1URzWs4vCGXhw18BIp5CnSJpRrledhMdBjdqlMVKNv7M1ubmKtW5L_0ykpWk6U168BIonL7f4nF3OT4nLA8PyyB5JFh1fzxyU9UPZlEQk7zJ1sAQb2ubXrBqgbS2s5MuQXQumCMwT0n9THkc9gDFv3JOkeYjPsElmsz2veZJ0QKyz2TqLpf_T2SdqZ_BJ9fkPyFtoa9VHQkgk_p8qJNwyvPK02hupOzTZPUNcIfCOlMw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1679856469/84a670f5060641268670a28b853f116b",
        "value": "5aRoXP-Y2RuDExNfYISwMoK0i24AVtWgafKwkMrl-g4"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "395298366"
  }
}
