{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1678560558?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "0VWDB6XdZSlfvrfTgAau1D070XgF0-RiKeYIuQHT7tk",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "0VWDB6XdZSlfvrfTgAau1D070XgF0-RiKeYIuQHT7tk",
        "contentType": "application/octet-stream",
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1678560558/6e8f37b74c1843208c540decd98d36dc",
        "attributes": {
          "enabled": true,
          "created": 1707530241,
          "updated": 1707530241,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1678560558/6e8f37b74c1843208c540decd98d36dc?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1678560558/6e8f37b74c1843208c540decd98d36dc?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "0VWDB6XdZSlfvrfTgAau1D070XgF0-RiKeYIuQHT7tk",
        "contentType": "application/octet-stream",
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1678560558/6e8f37b74c1843208c540decd98d36dc",
        "attributes": {
          "enabled": true,
          "created": 1707530241,
          "updated": 1707530241,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1588424948"
  }
}
