{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/691815749/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/691815749/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/691815749/9e3e41f4af654c369efaceac04ab41ac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0dUflod8RP4LrDCsCQ-fqaY-rtnaJhEG1umzRcc5Jw-AJcLFrcvUU2cDe8g7CWsgJo4THBZc_Q_kxhaZPCUbY9sWHoYBJjtqiZ_P0pYrTvd_Vr2rit2NtuCxAVJSTsv4DxMnletrJo6BOa3tjmodL3er_cCZnWhtkqUI2enDKJsbNcBpnh1LnJiyIhtvzQZzWIa1_XhfZlWWUJiN7A5CzkK44K6movrmbT6J1-c7UrQTafU1BDh0eQzKUiMl2EAUKI4sCNRtSdMiNTroh_fftHIyIRRbQfd2wut5TOI_0o6W7m1KawMCVLRhIzOvEXxViqVdK5Pq_kptJXRY3oGnoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530241,
          "updated": 1707530241,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/691815749/9e3e41f4af654c369efaceac04ab41ac?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/691815749/9e3e41f4af654c369efaceac04ab41ac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0dUflod8RP4LrDCsCQ-fqaY-rtnaJhEG1umzRcc5Jw-AJcLFrcvUU2cDe8g7CWsgJo4THBZc_Q_kxhaZPCUbY9sWHoYBJjtqiZ_P0pYrTvd_Vr2rit2NtuCxAVJSTsv4DxMnletrJo6BOa3tjmodL3er_cCZnWhtkqUI2enDKJsbNcBpnh1LnJiyIhtvzQZzWIa1_XhfZlWWUJiN7A5CzkK44K6movrmbT6J1-c7UrQTafU1BDh0eQzKUiMl2EAUKI4sCNRtSdMiNTroh_fftHIyIRRbQfd2wut5TOI_0o6W7m1KawMCVLRhIzOvEXxViqVdK5Pq_kptJXRY3oGnoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530241,
          "updated": 1707530241,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/691815749/9e3e41f4af654c369efaceac04ab41ac/unwrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "owGAfrM0qD15sAkRWbVY4OZYtTtYPWngi3exeteo876tRamIe6h93UUsSOrOJDc8k2fW4JhLp-7K6isPA7mb4mEQUIGKhSn5QU67lnrFx2Hci70lj7YjLyQpUbjJZ1PbZ6Uz8f80R_eXgoxba0kdAcWcNgZhjNgGokPYFy3UBpO7AMSSujgPHwuuVr-VaF-44-iFM7AyG2flQeFNSOKmteDjT1YP8ski6JF5o4tA1xKT5rIfVfVoMl0kGVHPp7VWIU8uMFIUIWhtbpKC-Sj_ZTIFpW_megF7j38rtsgyCedbdVZBjDVsogOIwlgRsyPvup80K_vH_Uwn-D-cHnrL7A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/691815749/9e3e41f4af654c369efaceac04ab41ac",
        "value": "tFL7TihvJuwhuqqjjG6WenHPJJmuHBPt4MG5eBNNTr8"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "498130082"
  }
}
