{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1493592338/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1493592338/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1493592338/bf859414b41541ffa2c3ee52608fddf2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ou4So6T3HH6lkItcH15-n0pQC2bJ0_b2L0Ovq5kOgZktGIbKH2OOOJ_L9BAQDU6HnNOMX8N_icnn2KMI22k6y0n-NvcyBuRbQJNstlnTlVBKcaSvQd68I7DMI8Mpxq_rLqXFwaTwq5j8Ww2m0nK1u3TfdPWc4VUnAB1x3S6f-Sz-5YwPXrjfAgDznWwzk5UuUeZ9C8Rf7KAMwAydR8UUHf5ixP_f6OHiVSqGPHsZv8OvE2qLqcKW6F_3XOVBOLauGK56M41VyvRWXujTcWtHDd-WTLi-HdFQCZtzzsQjynJ8bJqvJ857-xfv-_1Ht6IH-3A3MDZKbH2twxI4kXrg_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530237,
          "updated": 1707530237,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1493592338/bf859414b41541ffa2c3ee52608fddf2?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1493592338/bf859414b41541ffa2c3ee52608fddf2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ou4So6T3HH6lkItcH15-n0pQC2bJ0_b2L0Ovq5kOgZktGIbKH2OOOJ_L9BAQDU6HnNOMX8N_icnn2KMI22k6y0n-NvcyBuRbQJNstlnTlVBKcaSvQd68I7DMI8Mpxq_rLqXFwaTwq5j8Ww2m0nK1u3TfdPWc4VUnAB1x3S6f-Sz-5YwPXrjfAgDznWwzk5UuUeZ9C8Rf7KAMwAydR8UUHf5ixP_f6OHiVSqGPHsZv8OvE2qLqcKW6F_3XOVBOLauGK56M41VyvRWXujTcWtHDd-WTLi-HdFQCZtzzsQjynJ8bJqvJ857-xfv-_1Ht6IH-3A3MDZKbH2twxI4kXrg_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530237,
          "updated": 1707530237,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1493592338/bf859414b41541ffa2c3ee52608fddf2/unwrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "gmWxSPvGGWqzam-Zz_uPG4pRI0ppO7tKSj2_Vxtv3cgpPC-FEZU0KxIdIbWI8RjQFsUMirYQKM39vYzg_Xx8MkIRqpxbWyEDSqLiFQEUOdzulP7duzYMyFAFXQTYCS9y_6jkN2hRL-UCBDEdHW3FZkUDeuZUPKZuzUhlWZkHUw3bGEM2FbVvbSIHW8lkRgRRSKP1YsHG51iAuLtJ8sQ5j8fP8ECgzEmoSJ6-3EuSFCKI2XbdeM0m4KAp-ukK191czfYW6a62bqAMMddElr5LOhrQ7eEZaph0krNVz4gPNLPbAW6yIkxvvyblAXbIdM7usRFcOaKoS0mnT6l9lELa3Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1493592338/bf859414b41541ffa2c3ee52608fddf2",
        "value": "y03-p0eRL4tHUb5WplG_7cSY5EWjNRYmiEtT3qcsJPI"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1109617674"
  }
}
