{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/secrets/1146743669?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "91CdOJleufksK-JJiZiFPClhFAelAJGvldSnEemlHoc",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "91CdOJleufksK-JJiZiFPClhFAelAJGvldSnEemlHoc",
        "contentType": "application/octet-stream",
        "id": "https://rgjoncardekvv76.vault.azure.net/secrets/1146743669/7727b4aac9bc48e095b3a4b2e4adb5ab",
        "attributes": {
          "enabled": true,
          "created": 1750762262,
          "updated": 1750762262,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/secrets/1146743669/7727b4aac9bc48e095b3a4b2e4adb5ab?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/secrets/1146743669/7727b4aac9bc48e095b3a4b2e4adb5ab?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "91CdOJleufksK-JJiZiFPClhFAelAJGvldSnEemlHoc",
        "contentType": "application/octet-stream",
        "id": "https://rgjoncardekvv76.vault.azure.net/secrets/1146743669/7727b4aac9bc48e095b3a4b2e4adb5ab",
        "attributes": {
          "enabled": true,
          "created": 1750762262,
          "updated": 1750762262,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1405739365"
  }
}
