{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1202907983/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1202907983/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1202907983/8777788219174a80a24e81af02efc656",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qv-h5sR1-AN_RlVmg_GrNuaMNVpMNFIP71Nd4DJCH-1toV078ngh0ugWPcBNQSwyD2-HOQciNG7Dmrzezt6DPIu5g3tiTFA3dprqpHWQ7sFe_VpaqYLXDCwpM4H2U9CHQ_tBYzItpJXMRzSg3Zz2IJ1GYfqI5X9hx2rEKTFTzLOY0Cdy5RX8LRMRGjGvyDmckPmA_5b_-lUkGnvS6M57zj_MqsXqiylwYiT3sZTd-2NBSf-rl3EgTwWt8raTwYkgaYQtK1zjbq7nNJhLV9Jx_4OtEM69CJ2EUOY6M3jydf360jqHOAUxyVN3MEFExfjpym2e9TMjQ_Lj4zKeVLB_-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419926,
          "updated": 1756419926,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1202907983/8777788219174a80a24e81af02efc656?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
