{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv042.vault.azure.net/secrets/159918403?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "Fqp-AP5ya4E-FxlKWq4rzwKyuubfrdS3rFU_NAZs_FE",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Fqp-AP5ya4E-FxlKWq4rzwKyuubfrdS3rFU_NAZs_FE",
        "contentType": "application/octet-stream",
        "id": "https://rgjoncardekv042.vault.azure.net/secrets/159918403/09d9c26c289d47e4ac8601cf819e35c4",
        "attributes": {
          "enabled": true,
          "created": 1743619969,
          "updated": 1743619969,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv042.vault.azure.net/secrets/159918403/09d9c26c289d47e4ac8601cf819e35c4?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv042.vault.azure.net/secrets/159918403/09d9c26c289d47e4ac8601cf819e35c4?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Fqp-AP5ya4E-FxlKWq4rzwKyuubfrdS3rFU_NAZs_FE",
        "contentType": "application/octet-stream",
        "id": "https://rgjoncardekv042.vault.azure.net/secrets/159918403/09d9c26c289d47e4ac8601cf819e35c4",
        "attributes": {
          "enabled": true,
          "created": 1743619969,
          "updated": 1743619969,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv042.vault.azure.net/",
    "RandomSeed": "1409861436"
  }
}
