{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/2057400049/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/2057400049/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/2057400049/7a90989475aa40f5881181f27f663cd3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ssmgm6kqLGm-4GI4zBgi7bIRIlflq4lG_5AH97yv18l6bsklKQ2njW8RkPUtmeu4AeuugmbInzYac5J4sbTDvJS-9REqOopoQQt9tLIvsLuXeYxXUXilWFrR_wKqkqGUT5ImTDWH54HUO8Gz0q5Yb3J1c8bki21ROESTReKlbnha2HiY0xr4yaZquSlpaQvwmeC0mTctvNoSJ8IQ3HmUPJ2VhqZ0CGvOcBiBP21FBODYvYBQvyDF-o4mA9nCC_u8ZzceAf1sUxWijTA5nx-Fu67Ff9u-GtnpuhlUAJOGIC7YYf3Hgiv3NFMtYQs4jcncbEAFRrbi_3bmEkY9-3jkOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780404491,
          "updated": 1780404491,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/2057400049/7a90989475aa40f5881181f27f663cd3?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "[...]
