{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1563868514?api-version=2025-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "Ri2xmxafnRJ4onCXVx3V1RQTkCc9jyPgdCuNiuJ_Qtk",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Ri2xmxafnRJ4onCXVx3V1RQTkCc9jyPgdCuNiuJ_Qtk",
        "contentType": "application/octet-stream",
        "id": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1563868514/0275d1a1cc754e978e7c953d78faa800",
        "attributes": {
          "enabled": true,
          "created": 1756944228,
          "updated": 1756944228,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1563868514/0275d1a1cc754e978e7c953d78faa800?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1563868514/0275d1a1cc754e978e7c953d78faa800?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Ri2xmxafnRJ4onCXVx3V1RQTkCc9jyPgdCuNiuJ_Qtk",
        "contentType": "application/octet-stream",
        "id": "https://tc01f7546f76b53e9.vault.azure.net/secrets/1563868514/0275d1a1cc754e978e7c953d78faa800",
        "attributes": {
          "enabled": true,
          "created": 1756944228,
          "updated": 1756944228,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tc01f7546f76b53e9.vault.azure.net/",
    "RandomSeed": "265723422"
  }
}
