{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/410174452/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/410174452/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/410174452/ce43753eda824ca99e786333c0c70df8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "snN9gWS3ptHSvEJeeTf7yfg6SSN31TM_YejdGmRA8vt2uPl0QGIAxHk7hS3Zpie7MuOqdj9pVGPZ-hdwJt2F9ivbxS56dK8FFXr7rDMMkACSmReM8vhnJ_jHzJ9V8M4yDUCadcpqhTZ8SjObzDo1s7sjnnXhMgTLy9KsaRcfgxLBCFCoUJT3yM9PVkik5tdKz7h_86uc2yMlKs5lx6sWc8yb_JuVnxHLTLPkomkyl8ARAkrb1P0sN4ZTOH03J1ZFH306zLR6xSxNYvmgMTL4PqATsjTGHVkQ67E5ZTP90yVh0coZ04YgR-M7Z0qbOx4pnczPcUjs2h_rFgQs3aRsNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530235,
          "updated": 1707530235,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/410174452/ce43753eda824ca99e786333c0c70df8?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/410174452/ce43753eda824ca99e786333c0c70df8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "snN9gWS3ptHSvEJeeTf7yfg6SSN31TM_YejdGmRA8vt2uPl0QGIAxHk7hS3Zpie7MuOqdj9pVGPZ-hdwJt2F9ivbxS56dK8FFXr7rDMMkACSmReM8vhnJ_jHzJ9V8M4yDUCadcpqhTZ8SjObzDo1s7sjnnXhMgTLy9KsaRcfgxLBCFCoUJT3yM9PVkik5tdKz7h_86uc2yMlKs5lx6sWc8yb_JuVnxHLTLPkomkyl8ARAkrb1P0sN4ZTOH03J1ZFH306zLR6xSxNYvmgMTL4PqATsjTGHVkQ67E5ZTP90yVh0coZ04YgR-M7Z0qbOx4pnczPcUjs2h_rFgQs3aRsNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707530235,
          "updated": 1707530235,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "2028756145"
  }
}
