{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/267580533/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/267580533/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/267580533/67ce5369d7fd471ea2637aaf2027d800",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qCpBq3DO4yPZ-QDbLUy_kIjbAKN1bznBKO9-Uss5S5UmGGgI44PjU8Fu631oEj8A_PYJUP5BkTOFuCYRmqJJ5s7_hnHqUmvI4dv2USgKQJuvtwqHHS50PurLuaobX0Wn5V_qFm2lnfxYWG9LVrvphQH_gOkV3xYMr1Y-VVezjczYiavZ7G8V1FvzZpMpOnJ803TaFMNkk12tsOZUYOkbpMH2dAKPXkzPl0liuRic-Lf3St3WtqVSyg4LVGk2oz9KtheUvz5DLcMXzMStTpA-y-CwZapN22u_BtSOqjMwE-cq9_iPSfJ9fqzxKxQLZi-xIsu7YCvmhxa-zNLLCqWNGQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756943983,
          "updated": 1756943983,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/267580533/67ce5369d7fd471ea2637aaf2027d800?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
