{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/secrets/1711715432?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "TyZFEsHFiortvRTiVQAbsArlBQidgpCqufCxiZY_n_Q",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "TyZFEsHFiortvRTiVQAbsArlBQidgpCqufCxiZY_n_Q",
        "contentType": "application/octet-stream",
        "id": "https://rgjoncardekv318.vault.azure.net/secrets/1711715432/fce3aca123e14e27bb9c60f940b15961",
        "attributes": {
          "enabled": true,
          "created": 1742931350,
          "updated": 1742931350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/secrets/1711715432/fce3aca123e14e27bb9c60f940b15961?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/secrets/1711715432/fce3aca123e14e27bb9c60f940b15961?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://rgjoncardekv318.vault.azure.net/secrets/1711715432/fce3aca123e14e27bb9c60f940b15961",
        "value": "TyZFEsHFiortvRTiVQAbsArlBQidgpCqufCxiZY_n_Q",
        "contentType": "application/octet-stream",
        "attributes": {
          "enabled": true,
          "created": 1742931350,
          "updated": 1742931350,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1613764527"
  }
}
