{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/386489701/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/386489701/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/386489701/852d57d56525443cbf44db3859e9e48d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2IXjXD3OtX4ZfrL1JvkEZWFb9nG5pufTYZIuYjTfz59rf7lAgANpdMChLO3JPMruRcFTVz2XI9p9-8uw7MWuOlOEPEuYD1Au2rxTWZmMCN2kAlYd6Z3scSHE73pP00YcGytnLw7MXX9ovBYWf8egSlrKMtzzah3-aQqRpKHuHemZYeQTGYxaF1E07e6JapuZykpdrHsflI_TGUn9D3_T4m3yWnDWzfAfBiZU4cb_RM22u6EoyYzfepUzUm5fKlf6yistlsgXcIdbnIHEFlFt7SlP7vYdzT5reac6RtwhHSWSOCS_3gZZ-jNSuUVgSYSkRpDKdkLc3gHIxGDAltqt8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756420098,
          "updated": 1756420098,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/386489701/852d57d56525443cbf44db3859e9e48d?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
