{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1314886716?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "uTv0o2xd4eLjpzwEUK1qxph5BUuB42Xf5oL5tYEMzkM",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "uTv0o2xd4eLjpzwEUK1qxph5BUuB42Xf5oL5tYEMzkM",
        "contentType": "application/octet-stream",
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1314886716/398b4323069547729fea99187d13a508",
        "attributes": {
          "enabled": true,
          "created": 1692998513,
          "updated": 1692998513,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1314886716/398b4323069547729fea99187d13a508?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1314886716/398b4323069547729fea99187d13a508?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "uTv0o2xd4eLjpzwEUK1qxph5BUuB42Xf5oL5tYEMzkM",
        "contentType": "application/octet-stream",
        "id": "https://tcac7e9c41ef52cec.vault.azure.net/secrets/1314886716/398b4323069547729fea99187d13a508",
        "attributes": {
          "enabled": true,
          "created": 1692998513,
          "updated": 1692998513,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1570450008"
  }
}
