{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1832141417/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1832141417/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1832141417/3ba03116f476479eb9105a59f900291b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wG7FBh2Gjd-D2Js-D2vN2WNUexaFlFoe5bEe5ewQGcxaDYoPVg_AuJ5T27T-gd6670M0xmJM-mQc0KFmDecUs2KW_vGvZhk4wv86epQ3AzIAwkYMfkNflIpFfJVNiFKfGIsxsM888311UO_-ZW0-j9rVVehvw-3Ctl7kqmlirKSaZf1xfrQck3pcOUailcqly8nXo7dHFiahrWA8hvdLJFg_6KRfEPyRwiaX-GdoQS4AUBguXALLNAlMl57rOQNUOY7wxo3bAtdvT6JSi4nUv269R5tcFnaHgXTxQ-SucWjQXula_XyZ-LZVy8eA_0N8eD4nXgKumIMLPzFeHcadIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998507,
          "updated": 1692998507,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1832141417/3ba03116f476479eb9105a59f900291b?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1832141417/3ba03116f476479eb9105a59f900291b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wG7FBh2Gjd-D2Js-D2vN2WNUexaFlFoe5bEe5ewQGcxaDYoPVg_AuJ5T27T-gd6670M0xmJM-mQc0KFmDecUs2KW_vGvZhk4wv86epQ3AzIAwkYMfkNflIpFfJVNiFKfGIsxsM888311UO_-ZW0-j9rVVehvw-3Ctl7kqmlirKSaZf1xfrQck3pcOUailcqly8nXo7dHFiahrWA8hvdLJFg_6KRfEPyRwiaX-GdoQS4AUBguXALLNAlMl57rOQNUOY7wxo3bAtdvT6JSi4nUv269R5tcFnaHgXTxQ-SucWjQXula_XyZ-LZVy8eA_0N8eD4nXgKumIMLPzFeHcadIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998507,
          "updated": 1692998507,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1832141417/3ba03116f476479eb9105a59f900291b/unwrapKey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "hfygPyJTkesBv7qi3dSeo2ysawqLJHmCdzuDBNPITuJ9Os-JwDuhd_vQJeJSbRRSkyfsn76d5ZIRPVI-Xv3XvTok4QCRHIyAlDrhuxLsNKvxGkYMVet0nGVQirktBQKoUyxcvRp6Z1Q7DVBBaUSpgQKVO8UxpYDsvoySRftU8njA6DId-Pv4TMBwxCPA9bfs2-z7pdvBtdZilYOZa_aDDB1IoXXmajqzMC_di69JPWktjVWk5jt7jDZmUFhiqN97Ta-n-WOcCJ3hjXYP1HPzSHgQk_lsDae0zO4b2ts7VpG5Rp2HQS2hFWEacu4ViAfNeLPCuXlaSvYrhmzCkF-GOQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1832141417/3ba03116f476479eb9105a59f900291b",
        "value": "lsIAYRB9oIBnMxz35sDeA8LdWYQWDhCpcno6CVDokMI"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "291999482"
  }
}
