{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/secrets/2054750791?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "PEp_ydpr_OBdvYEBLqKQ9wpLIjsLUvfYSC0TyfO1Ie8",
        "contentType": "application/octet-stream"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "PEp_ydpr_OBdvYEBLqKQ9wpLIjsLUvfYSC0TyfO1Ie8",
        "contentType": "application/octet-stream",
        "id": "https://externalkeysdk.vault.azure.net/secrets/2054750791/e1ce7fc436484e09b63c4885ff0e102a",
        "attributes": {
          "enabled": true,
          "created": 1780404508,
          "updated": 1780404508,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/secrets/2054750791/e1ce7fc436484e09b63c4885ff0e102a?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/secrets/2054750791/e1ce7fc436484e09b63c4885ff0e102a?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "PEp_ydpr_OBdvYEBLqKQ9wpLIjsLUvfYSC0TyfO1Ie8",
        "contentType": "application/octet-stream",
        "id": "https://externalkeysdk.vault.azure.net/secrets/2054750791/e1ce7fc436484e09b63c4885ff0e102a",
        "attributes": {
          "enabled": true,
          "created": 1780404508,
          "updated": 1780404508,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "692701368"
  }
}
