{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/854229377/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/854229377/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/854229377/3e5b7a7c82a64a4aabffc9909efe8ce6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vuAz06g5wrWqrFNIG8pnvzmkcutwbYXU35H9HyX2x3F-fLrepS9uUtYYrQyVCa5F7DrUEsWbqhASa35YEFH4WZmbENYF8YtjFR5V8Rz8bDOcwSzZRwnHGazzJEZBzor3elaHC5aPsw3KNumv41IXlknbyk1FACTgOcswrlYPPfqsglUWo8P7rkfjaH6vA06gY6IvXWrF3eK9RmgE6i-nzbMcp7IBVw4HvOamKkX1vh_4Yp-CGsVZYIc-2hoDTTq6aKFQ8u_6E_lNhhhr2xlUlU2QGP7K68shO6f4mi6aOdA1x0Znj9hcEFkyxQId3JmgnH-QhavQisFm0NQ9tLTj1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756944198,
          "updated": 1756944198,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/854229377/3e5b7a7c82a64a4aabffc9909efe8ce6?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
