{
  "Entries": [
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtable53fqdicn"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-11T22%3A42%3A57.0698769Z'\"",
        "Location": "https://san-cdb-uksouth-test.table.cosmos.azure.com/Tables('testtable53fqdicn')"
      },
      "ResponseBody": {
        "TableName": "testtable53fqdicn",
        "odata.metadata": "https://san-cdb-uksouth-test.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtable53fqdicn?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.5,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-09-11T22%3A42%3A57.5898641Z'\"",
        "Location": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtable53fqdicn(PartitionKey='somPartition',RowKey='01')",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtable53fqdicn?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2020-12-06"
  [...]
