{
  "Entries": [
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablem8n3nry2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-11T22%3A44%3A17.9610641Z'\"",
        "Location": "https://san-cdb-uksouth-test.table.cosmos.azure.com/Tables('testtablem8n3nry2')"
      },
      "ResponseBody": {
        "TableName": "testtablem8n3nry2",
        "odata.metadata": "https://san-cdb-uksouth-test.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtablem8n3nry2(PartitionKey='somPartition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-09-11T22%3A44%3A18.4669201Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtablem8n3nry2()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-09-11T22%3A44%3A18.4669201Z'\"",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "SomeStringProperty": "This is the original",
            "Timestamp": "2024-09-11T22:44:18.4669201Z"
          }
        ],
        "odata.metadata": "https://san-cdb-uksouth-test.table.cosmos.azure.com/$metadata#testtablem8n3nry2"
      }
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtablem8n3nry2(PartitionKey='somPartition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "[...]
