{
  "Entries": [
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtablepyyyee6l"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-11T22%3A26%3A58.7473937Z'\"",
        "Location": "https://san-cdb-uksouth-test.table.cosmos.azure.com/Tables('testtablepyyyee6l')"
      },
      "ResponseBody": {
        "TableName": "testtablepyyyee6l",
        "odata.metadata": "https://san-cdb-uksouth-test.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtablepyyyee6l?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "partition",
        "RowKey": "1",
        "CurrentCount": 10,
        "LastCount": 5,
        "renamed_property": "foo"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-09-11T22%3A26%3A59.2726033Z'\"",
        "Location": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtablepyyyee6l(PartitionKey='partition',RowKey='1')",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtablepyyyee6l(PartitionKey='partition',RowKey='1')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-11T22%3A26%3A59.2726033Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://san-cdb-uksouth-test.table.cosmos.azure.com/testtablepyyyee6l/$metadata#testtablepyyyee6l/@Element",
        "odata.etag": "W/\"datetime'2024-09-11T22%3A26%3A59.2726033Z'\"",
        "PartitionKey": "partition",
        "RowKey": "1",
        "CurrentCount": 10,
        "LastCount": 5,
        "renamed_property": "foo",
        "Timestamp": "2024-09-11T22:26:59.2726033Z"
      }
    },
    {
      "RequestUri": "https://san-cdb-uksouth-test.table.cosmos.azure.com/Tables('testtablepyyyee6l')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "49689948",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_COSMOS_ACCOUNT_NAME": "san-cdb-uksouth-test",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg==",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "t729561e092ecf3cbprim"
  }
}
