{
  "Entries": [
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtableshgn2q36"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2025-08-26T20%3A25%3A55.7569543Z'\"",
        "Location": "https://te798ca7661da04b0prim.table.cosmos.azure.com/Tables('testtableshgn2q36')"
      },
      "ResponseBody": {
        "TableName": "testtableshgn2q36",
        "odata.metadata": "https://te798ca7661da04b0prim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.cosmos.azure.com/testtableshgn2q36(PartitionKey='PartitionWithi%27%27singleQuote',RowKey='01%27%27')?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "PartitionKey": "PartitionWithi'singleQuote",
        "RowKey": "01'",
        "SomeStringProperty": "This is table entity number 01",
        "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
        "SomeDateProperty@odata.type": "Edm.DateTime",
        "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "SomeGuidProperty@odata.type": "Edm.Guid",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeBinaryProperty@odata.type": "Edm.Binary",
        "SomeInt64Property": "1",
        "SomeInt64Property@odata.type": "Edm.Int64",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty0@odata.type": "Edm.Double",
        "SomeDoubleProperty1": 1.5,
        "SomeDoubleProperty1@odata.type": "Edm.Double",
        "SomeIntProperty": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2025-08-26T20%3A25%3A56.1644039Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.cosmos.azure.com/testtableshgn2q36()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=PartitionKey%20eq%20%27PartitionWithi%27%27singleQuote%27%20and%20RowKey%20eq%20%2701%27%27%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2025-08-26T20%3A25%3A56.1644039Z'\"",
            "PartitionKey": "PartitionWithi'singleQuote",
            "RowKey": "01'",
            "SomeStringProperty": "This is table entity number 01",
            "SomeDateProperty@odata.type": "Edm.DateTime",
            "SomeDateProperty": "2020-01-01T01:02:00.0000000Z",
            "SomeGuidProperty@odata.type": "Edm.Guid",
            "SomeGuidProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
            "SomeBinaryProperty@odata.type": "Edm.Binary",
            "SomeBinaryProperty": "AQIDBAU=",
            "SomeInt64Property@odata.type": "Edm.Int64",
            "SomeInt64Property": "1",
            "SomeDoubleProperty0": 1.0,
            "SomeDoubleProperty1": 1.5,
            "SomeIntProperty": 1,
            "Timestamp": "2025-08-26T20:25:56.1644039Z"
          }
        ],
        "odata.metadata": "https://te798ca7661da04b0prim.table.cosmos.azure.com/$metadata#testtableshgn2q36"
      }
    },
[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.cosmos.azure.com/Tables('testtableshgn2q36')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": "cosmos.azure.com",
    "RandomSeed": "227448844",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_COSMOS_ACCOUNT_NAME": "te798ca7661da04b0prim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg==",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "te798ca7661da04b0prim"
  }
}
