{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('ebyfntci')/docs/search.index?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Id": "a",
            "Name": "Document a"
          },
          {
            "@search.action": "upload",
            "Id": "b",
            "Name": "Document b"
          },
          {
            "@search.action": "upload",
            "Id": "c",
            "Name": "Document c"
          },
          {
            "@search.action": "upload",
            "Id": "A",
            "Name": "Document A"
          },
          {
            "@search.action": "upload",
            "Id": "B",
            "Name": "Document B"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "122",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "a",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "b",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "c",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "A",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "B",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('ebyfntci')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "171",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "452188258",
    "SearchIndexName": "ebyfntci",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
