{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027surhsemu\u0027)/docs/search.index?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "delete",
            "Id": "1",
            "Name": "Document #1"
          },
          {
            "@search.action": "upload",
            "Id": "2",
            "Name": "Document #2"
          },
          {
            "@search.action": "mergeOrUpload",
            "Id": "3",
            "Name": "Document #3"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "51",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 200
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027surhsemu\u0027)/docs/$count?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": 0
    },
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027surhsemu\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "188",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "341185226",
    "SearchIndexName": "surhsemu",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
