{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027vaqjvula\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "190",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1563815830",
    "SearchIndexName": "vaqjvula",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
