{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('kkqbvfdf')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "122",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "681044027",
    "SearchIndexName": "kkqbvfdf",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
