{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('uhffplog')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "136",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1852027466",
    "SearchIndexName": "uhffplog",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
