{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('fswqrdxr')/docs/search.index?api-version=2026-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "Id": "1",
            "Name": "Document #1"
          },
          {
            "@search.action": "upload",
            "Id": "2",
            "Name": "Document #2"
          },
          {
            "@search.action": "upload",
            "Id": "3",
            "Name": "Document #3"
          },
          {
            "@search.action": "upload",
            "Id": "4",
            "Name": "Document #4"
          },
          {
            "@search.action": "upload",
            "Id": "5",
            "Name": "Document #5"
          },
          {
            "@search.action": "upload",
            "Id": "6",
            "Name": "Document #6"
          },
          {
            "@search.action": "upload",
            "Id": "7",
            "Name": "Document #7"
          },
          {
            "@search.action": "upload",
            "Id": "8",
            "Name": "Document #8"
          },
          {
            "@search.action": "upload",
            "Id": "9",
            "Name": "Document #9"
          },
          {
            "@search.action": "upload",
            "Id": "10",
            "Name": "Document #10"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "193",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "2",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "3",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "4",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "5",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "6",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "7",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "8",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "9",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "10",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('fswqrdxr')/docs/$count?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "elapsed-time": "3",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": 0
    },
[...]
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('fswqrdxr')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "194",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2024898140",
    "SearchIndexName": "fswqrdxr",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
