{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('yaqwvivo')?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "20",
        "ETag": "\"0x8DEB0834DFC36E2\"",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azsearchsdktest.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DEB0834DFC36E2\"",
        "name": "yaqwvivo",
        "description": null,
        "defaultScoringProfile": null,
        "permissionFilterOption": null,
        "purviewEnabled": false,
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "searchable": true,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "permissionFilter": null,
            "sensitivityLabelId": null,
            "sensitivityLabelName": null,
            "sourceDocumentId": null,
            "sharepointSiteUrl": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "normalizers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": null,
        "sharePointConnectorAppRegistration": null
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('yaqwvivo')?api-version=2026-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "167",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1311622425",
    "SearchIndexName": "yaqwvivo",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
