{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('rbbikoqj')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "merge",
            "Id": "1",
            "Name": "Document #1"
          },
          {
            "@search.action": "merge",
            "Id": "2",
            "Name": "Document #2"
          }
        ]
      },
      "StatusCode": 207,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "62",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": false,
            "errorMessage": "Document not found.",
            "statusCode": 404
          },
          {
            "key": "2",
            "status": false,
            "errorMessage": "Document not found.",
            "statusCode": 404
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('rbbikoqj')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "205",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "291033887",
    "SearchIndexName": "rbbikoqj",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
