{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/F853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:45 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyF853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4004f98-0000-0700-0000-65525fd70000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:41:43 GMT",
        "trace-id": "b7e5ca6d-ac6a-6cfd-bd5b-77986596a629"
      },
      "ResponseBody": {
        "id": "F853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399",
        "name": "LongestIdleDistributionPolicyF853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4004f98-0000-0700-0000-65525fd70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:45 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862",
        "distributionPolicyId": "F853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259027d5d-0000-0700-0000-65525fd80000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:41:44 GMT",
        "trace-id": "b60fc813-052b-9e0a-7559-c4275fff0146"
      },
      "ResponseBody": {
        "id": "1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862",
        "name": "DefaultQueue-Sdk-Test1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862",
        "distributionPolicyId": "F853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399",
        "labels": {
          "Label_1": "Value_1",
          "Id": "1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862"
        },
        "etag": "\u002259027d5d-0000-0700-0000-65525fd80000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/F853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:45 GMT"
      },
      "RequestBody": {
        "queues": [
          "1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "availableForOffers": false,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-43f8-92cd6fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:41:44 GMT",
        "trace-id": "e52b93cf-734d-8289-0c6f-61ea93d8dcdb"
      },
      "ResponseBody": {
        "id": "F853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399",
        "state": "inactive",
        "queues": [
          "1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "F853EFB74E9BD08EBE9D703DA03BDDEEE2067BD8EE704D0399"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "\u002200000000-0000-0000-43f8-92cd6fe4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/1255861DFD9718F10D2A5D9D787D46786CB5C00973A50D5862?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "451b0dae-7243-1daf-5d29-c828056aea0a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-PzDi34RhlUa5VCPM-kFlRQ-",
    "RandomSeed": "77318755"
  }
}
