{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:10 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4005997-0000-0700-0000-65525fb40000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:41:08 GMT",
        "trace-id": "309ecf6c-5eb3-de8e-8279-333aa76fd4c1"
      },
      "ResponseBody": {
        "id": "78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9",
        "name": "LongestIdleDistributionPolicy78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4005997-0000-0700-0000-65525fb40000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:10 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A",
        "distributionPolicyId": "78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902395a-0000-0700-0000-65525fb50000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:41:09 GMT",
        "trace-id": "d7890f4d-373f-e3cf-3164-c58bde611915"
      },
      "ResponseBody": {
        "id": "760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A",
        "name": "DefaultQueue-Sdk-Test760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A",
        "distributionPolicyId": "78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9",
        "labels": {
          "Label_1": "Value_1",
          "Id": "760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A"
        },
        "etag": "\u00225902395a-0000-0700-0000-65525fb50000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:10 GMT"
      },
      "RequestBody": {
        "queues": [
          "760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "availableForOffers": false,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-4e3e-9cb86fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:41:09 GMT",
        "trace-id": "be09a048-ffe6-9243-8b4e-f7f9eec632fe"
      },
      "ResponseBody": {
        "id": "78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9",
        "state": "inactive",
        "queues": [
          "760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "78F25B2C8430C0B43C86EED4E65A161E3A34FC13ABED78CCA9"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "\u002200000000-0000-0000-4e3e-9cb86fe4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/760E63140A7BD4A524E0DCFCE678629DADDD78C16D3C53361A?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:41:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "4f906335-ce83-09c5-a88b-a640a1181143"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-D4pcPWfLbUupFNtPUjXO0w-",
    "RandomSeed": "705257100"
  }
}
