{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:10:26 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220900f1d7-0000-0700-0000-65de79f30000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:10:27 GMT",
        "trace-id": "17b4a0e1-ab23-4784-b928-a76fe58ae1d1"
      },
      "ResponseBody": {
        "id": "51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685",
        "name": "LongestIdleDistributionPolicy51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220900f1d7-0000-0700-0000-65de79f30000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FD7A07B123D64B67EED3C1ACDBAC4EEBE4F9FE6ED0796243C8?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:10:26 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestFD7A07B123D64B67EED3C1ACDBAC4EEBE4F9FE6ED0796243C8",
        "distributionPolicyId": "51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e50259fa-0000-0700-0000-65de79f30000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:10:27 GMT",
        "trace-id": "8a1b8123-c59d-73cc-d7e9-d37a88d50daa"
      },
      "ResponseBody": {
        "id": "FD7A07B123D64B67EED3C1ACDBAC4EEBE4F9FE6ED0796243C8",
        "name": "DefaultQueue-Sdk-TestFD7A07B123D64B67EED3C1ACDBAC4EEBE4F9FE6ED0796243C8",
        "distributionPolicyId": "51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685",
        "labels": {
          "Label_1": "Value_1",
          "Id": "FD7A07B123D64B67EED3C1ACDBAC4EEBE4F9FE6ED0796243C8"
        },
        "etag": "\u0022e50259fa-0000-0700-0000-65de79f30000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:10:26 GMT"
      },
      "RequestBody": {
        "queues": [
          "FD7A07B123D64B67EED3C1ACDBAC4EEBE4F9FE6ED0796243C8"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-986e-f3aaf137dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:10:27 GMT",
        "trace-id": "98f92d48-69d1-af6c-fd31-9742f6a65992"
      },
      "ResponseBody": {
        "id": "51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685",
        "state": "inactive",
        "queues": [
          "FD7A07B123D64B67EED3C1ACDBAC4EEBE4F9FE6ED0796243C8"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "\u002200000000-0000-0000-986e-f3aaf137dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/51D90E5C69EE43DB0745F565FC9A71D4A72F5706FFE82E9685?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=dQP07WZsGBHTXp3Xfd5F7M5VgSorR1tupKTcHVr6h2s=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Wed, 28 Feb 2024 00:10:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "0c4e67ab-bb9e-cb6d-47f5-df89534bcff2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-raEm9RoPpU61tVj_KxiRNw-",
    "RandomSeed": "1811069727"
  }
}
