{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:01:49 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242006627-0000-0700-0000-653fef8c0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:01:48 GMT",
        "trace-id": "8dc9aa93-e242-7a96-01dd-5b73fc8b0957"
      },
      "ResponseBody": {
        "id": "606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582",
        "name": "LongestIdleDistributionPolicy606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242006627-0000-0700-0000-653fef8c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D36C5F6445F9264A203791CE75C650DF1CB41E974D4D3DB068?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:01:49 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestD36C5F6445F9264A203791CE75C650DF1CB41E974D4D3DB068",
        "distributionPolicyId": "606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f0006d29-0000-0700-0000-653fef8c0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:01:48 GMT",
        "trace-id": "0c56bec9-b709-7f05-161e-7d9e054bf3cb"
      },
      "ResponseBody": {
        "id": "D36C5F6445F9264A203791CE75C650DF1CB41E974D4D3DB068",
        "name": "DefaultQueue-Sdk-TestD36C5F6445F9264A203791CE75C650DF1CB41E974D4D3DB068",
        "distributionPolicyId": "606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582",
        "labels": {
          "Label_1": "Value_1",
          "Id": "D36C5F6445F9264A203791CE75C650DF1CB41E974D4D3DB068"
        },
        "etag": "\u0022f0006d29-0000-0700-0000-653fef8c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:01:49 GMT"
      },
      "RequestBody": {
        "queues": [
          "D36C5F6445F9264A203791CE75C650DF1CB41E974D4D3DB068"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "availableForOffers": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-69c0-684972d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:01:48 GMT",
        "trace-id": "99053661-9b6b-b74a-7555-57f57d0e50db"
      },
      "ResponseBody": {
        "id": "606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582",
        "state": "inactive",
        "queues": [
          "D36C5F6445F9264A203791CE75C650DF1CB41E974D4D3DB068"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "606AC1103D450A8A0DFDA999C63F6C96668A44F24693E47582"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "\u002200000000-0000-0000-69c0-684972d9db08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-qnuCoo5Fm06YWPZBNJHJ_Q-",
    "RandomSeed": "495485140"
  }
}
