{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-xaY1Ecjne02fzq8uR4YypQ--WorkerIDRegisterWorker?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 00:24:58 GMT"
      },
      "RequestBody": {
        "queueAssignments": {},
        "totalCapacity": 100,
        "channelConfigurations": {},
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-9bef-aaaab9cadb08\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 00:24:58 GMT",
        "trace-id": "9a81956a-0c0a-c8e2-0e53-38f3087fa124"
      },
      "ResponseBody": {
        "id": "sdk-xaY1Ecjne02fzq8uR4YypQ--WorkerIDRegisterWorker",
        "state": "active",
        "queueAssignments": {},
        "totalCapacity": 100,
        "labels": {
          "Id": "sdk-xaY1Ecjne02fzq8uR4YypQ--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channelConfigurations": {},
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-xaY1Ecjne02fzq8uR4YypQ-",
    "RandomSeed": "1774828266"
  }
}
