{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-Yz53YYp0Ek6MnP1b0eV9BQ--WorkerIDRegisterWorker?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:01:52 GMT"
      },
      "RequestBody": {
        "capacity": 100,
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-59eb-514b72d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:01:51 GMT",
        "trace-id": "aa48ce76-648a-89e5-7cb9-3debbed3b978"
      },
      "ResponseBody": {
        "id": "sdk-Yz53YYp0Ek6MnP1b0eV9BQ--WorkerIDRegisterWorker",
        "state": "active",
        "queues": [],
        "capacity": 100,
        "labels": {
          "Id": "sdk-Yz53YYp0Ek6MnP1b0eV9BQ--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channels": [],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-59eb-514b72d9db08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-Yz53YYp0Ek6MnP1b0eV9BQ-",
    "RandomSeed": "654729388"
  }
}
