{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-xkCvItV34kGQeBmdWDDsQA--WorkerIDRegisterWorker?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 15:47:26 GMT"
      },
      "RequestBody": {
        "capacity": 100,
        "availableForOffers": true,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-6f32-e0d55fe4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 15:47:26 GMT",
        "trace-id": "3498a187-f5b3-4fff-d34f-f2a9489c38a0"
      },
      "ResponseBody": {
        "id": "sdk-xkCvItV34kGQeBmdWDDsQA--WorkerIDRegisterWorker",
        "state": "active",
        "queues": [],
        "capacity": 100,
        "labels": {
          "Id": "sdk-xkCvItV34kGQeBmdWDDsQA--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channels": [],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-6f32-e0d55fe4db08\u0022"
      }
    },
[...]
