{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-HEV7cY8QvUSx_GF0qR44Qw--WorkerIDRegisterWorker?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:17:32 GMT"
      },
      "RequestBody": {
        "capacity": 100,
        "availableForOffers": true,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-dcce-e2b7e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:17:31 GMT",
        "trace-id": "e72fd591-928b-7b1b-418b-7688b075cf93"
      },
      "ResponseBody": {
        "id": "sdk-HEV7cY8QvUSx_GF0qR44Qw--WorkerIDRegisterWorker",
        "state": "active",
        "queues": [],
        "capacity": 100,
        "labels": {
          "Id": "sdk-HEV7cY8QvUSx_GF0qR44Qw--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channels": [],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-dcce-e2b7e7dfdb08\u0022"
      }
    },
[...]
