{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/sdk-hkDxW5zdX0GLXfR3XeVVnw--WorkerIDRegisterWorker?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:03:43 GMT"
      },
      "RequestBody": {
        "capacity": 100,
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-f1b9-6babd828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:03:43 GMT",
        "trace-id": "5e6b34a1-32da-829d-c851-9532eb5d08dd"
      },
      "ResponseBody": {
        "id": "sdk-hkDxW5zdX0GLXfR3XeVVnw--WorkerIDRegisterWorker",
        "state": "active",
        "queues": [],
        "capacity": 100,
        "labels": {
          "Id": "sdk-hkDxW5zdX0GLXfR3XeVVnw--WorkerIDRegisterWorker"
        },
        "tags": {},
        "channels": [],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-f1b9-6babd828dc08\u0022"
      }
    },
[...]
