{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/C086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 00:24:54 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyC086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220a00ff62-0000-0700-0000-65273cd70000\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 00:24:55 GMT",
        "trace-id": "785ad51e-05ba-683b-e53d-7cba642120e9"
      },
      "ResponseBody": {
        "id": "C086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C",
        "name": "LongestIdleDistributionPolicyC086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D285F12A4666BE4972050A64B0801835409B9D36ADC5E84298?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 00:24:55 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-TestD285F12A4666BE4972050A64B0801835409B9D36ADC5E84298",
        "distributionPolicyId": "C086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C",
        "labels": {
          "Label_1": "Value_1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002223016ae4-0000-0700-0000-65273cd70000\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 00:24:55 GMT",
        "trace-id": "45ce7dc8-ed93-c766-ab32-6ff1b1adf0bb"
      },
      "ResponseBody": {
        "id": "D285F12A4666BE4972050A64B0801835409B9D36ADC5E84298",
        "name": "DefaultQueue-Sdk-TestD285F12A4666BE4972050A64B0801835409B9D36ADC5E84298",
        "distributionPolicyId": "C086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C",
        "labels": {
          "Label_1": "Value_1",
          "Id": "D285F12A4666BE4972050A64B0801835409B9D36ADC5E84298"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/C086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 00:24:55 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "D285F12A4666BE4972050A64B0801835409B9D36ADC5E84298": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "tags": {
          "test_tag_1": "tag",
          "test_tag_2": 12
        },
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          },
          "ACS_Voice_Channel": {
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 3
          }
        },
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-dc2c-daa8b9cadb08\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 00:24:55 GMT",
        "trace-id": "4911a079-0110-7877-454e-9369f1f263c7"
      },
      "ResponseBody": {
        "id": "C086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C",
        "state": "active",
        "queueAssignments": {
          "D285F12A4666BE4972050A64B0801835409B9D36ADC5E84298": {}
        },
        "totalCapacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "C086207BDD3DF2E9E0EF960D0134D70AE057E3DCC0A0A4907C"
        },
        "tags": {
          "test_tag_1": "tag",
          "test_tag_2": 12
        },
        "channelConfigurations": {
          "ACS_Chat_Channel": {
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          },
          "ACS_Voice_Channel": {
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 3
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    },
[...]
