{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:19:48 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a00697c-0000-0700-0000-65417d890000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:19:53 GMT",
        "trace-id": "10ed3921-87f4-5f92-a102-cdce24ccd00c"
      },
      "ResponseBody": {
        "id": "1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116",
        "name": "LongestIdleDistributionPolicy1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a00697c-0000-0700-0000-65417d890000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:19:49 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueue-Sdk-Test2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B",
        "distributionPolicyId": "1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e01b1b1-0000-0700-0000-65417d890000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:19:53 GMT",
        "trace-id": "49a05e65-ff80-0ba8-089f-ce9b11aae04c"
      },
      "ResponseBody": {
        "id": "2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B",
        "name": "DefaultQueue-Sdk-Test2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B",
        "distributionPolicyId": "1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116",
        "labels": {
          "Label_1": "Value_1",
          "Id": "2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B"
        },
        "etag": "\u00220e01b1b1-0000-0700-0000-65417d890000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:19:49 GMT"
      },
      "RequestBody": {
        "queues": [
          "2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12
        },
        "tags": {
          "test_tag_1": "tag",
          "test_tag_2": 12
        },
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          },
          {
            "channelId": "ACS_Voice_Channel",
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 3
          }
        ],
        "availableForOffers": true,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-7380-8d815fdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 22:19:53 GMT",
        "trace-id": "f8d1affb-a36d-775d-f4cd-41195f563c45"
      },
      "ResponseBody": {
        "id": "1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116",
        "state": "active",
        "queues": [
          "2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B"
        ],
        "capacity": 100,
        "labels": {
          "test_label_1": "testLabel",
          "test_label_2": 12,
          "Id": "1334CB378B976C4BD57103FC9A79D9DDD30E4276C775CB8116"
        },
        "tags": {
          "test_tag_1": "tag",
          "test_tag_2": 12
        },
        "channels": [
          {
            "channelId": "ACS_Chat_Channel",
            "capacityCostPerJob": 20,
            "maxNumberOfJobs": 5
          },
          {
            "channelId": "ACS_Voice_Channel",
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 3
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-7380-8d815fdadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/2F2E879F3AFEC6D3704608CE176BF75C9956253784CEED3B2B?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 22:19:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "cd9ac636-2c33-1c48-992d-74b4e10c8ea5"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-l1DfDGvaF0WofOWny-kujg-",
    "RandomSeed": "136283919"
  }
}
