{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname-secondary.queue.core.windows.net/?restype=service&comp=stats&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu, 12 Mar 2026 01:51:03 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    }
  ],
  "Variables": {}
}
