{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/?comp=list&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.queue.core.windows.net/\"><Queues><Queue><Name>queue176836082519105359</Name></Queue><Queue><Name>queue176836150007500952176836150681906902</Name></Queue><Queue><Name>queue176836152205607607</Name></Queue><Queue><Name>queue176836158969900633</Name></Queue><Queue><Name>queue176836199468904982</Name></Queue><Queue><Name>queue176836202421404688</Name></Queue><Queue><Name>queue176836215177205293</Name></Queue><Queue><Name>queue176836219758907251</Name></Queue><Queue><Name>queue176836269131902820176836269835204853</Name></Queue><Queue><Name>queue176836270527505744176836271113902523</Name></Queue><Queue><Name>queue176836271214002519</Name></Queue><Queue><Name>queue176836272476707485</Name></Queue><Queue><Name>queue176836612550600036176836613109607510</Name></Queue><Queue><Name>queue176836614435008783</Name></Queue><Queue><Name>queue176836614829909248x0</Name></Queue><Queue><Name>queue176836614829909248x1</Name></Queue><Queue><Name>queue176836614829909248x2</Name></Queue><Queue><Name>queue176836614829909248x3</Name></Queue><Queue><Name>queue176836616503408384</Name></Queue><Queue><Name>queue176836808577102036176836809169405763</Name></Queue><Queue><Name>queue176836810443604734</Name></Queue><Queue><Name>queue176841059330806591</Name></Queue><Queue><Name>queue176841095511108142176841096074208049</Name></Queue><Queue><Name>queue176841097352507237</Name></Queue><Queue><Name>queue176841125253809380</Name></Queue></Queues><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
