{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/healthinsights/trialmatcher/jobs?api-version=2023-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "patients": [
          {
            "id": "Sanitized",
            "info": {
              "sex": "MALE",
              "birthDate": "1965-11-26T00:00:00.000Z",
              "clinicalInfo": [
                {
                  "system": "http://www.nlm.nih.gov/research/umls",
                  "code": "C0006826",
                  "name": "Sanitized",
                  "value": "true"
                },
                {
                  "system": "http://www.nlm.nih.gov/research/umls",
                  "code": "C1512162",
                  "name": "Sanitized",
                  "value": "1"
                },
                {
                  "system": "http://www.nlm.nih.gov/research/umls",
                  "code": "C0019693",
                  "name": "Sanitized",
                  "value": "false"
                },
                {
                  "system[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/healthinsights/trialmatcher/jobs/aec98e0a-359d-4146-80dc-5591ef9c8c21?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "jobId": "aec98e0a-359d-4146-80dc-5591ef9c8c21",
        "createdDateTime": "2024-06-05T09:35:21Z",
        "expirationDateTime": "2024-06-06T09:35:21Z",
        "lastUpdateDateTime": "2024-06-05T09:35:21Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/healthinsights/trialmatcher/jobs/aec98e0a-359d-4146-80dc-5591ef9c8c21?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "results": {
          "patients": [
            {
              "id": "Sanitized",
              "inferences": [
                {
                  "type": "trialEligibility",
                  "id": "Sanitized",
                  "source": "Sanitized",
                  "value": "Ineligible",
                  "confidenceScore": 1.0
                },
                {
                  "type": "trialEligibility",
                  "id": "Sanitized",
                  "source": "Sanitized",
                  "value": "Ineligible",
                  "confidenceScore": 1.0
                },
                {
                  "type": "trialEligibility",
                  "id": "Sanitized",
                  "source": "Sanitized",
                  "value": "Ineligible",
                  "confidenceScore": 1.0
                },
                {
                  "type": "trialEligibility",
                  "id": "Sanitized",
                  "source": "Sanitized",
                  "value": "Eligible",
                  "confidenceScore": 1.0
                },
                {
                  "type": "trialEligibility",
                  "id": "Sanitized",
                  "source": "Sanitized",
                  "value": "Eligible",
                  "confidenceScore": 1.0
                },
                {
                  "type": "trialEligibility",
                  "id": "Sanitized",
                  "source": "Sanitized",
                  "value": "Eligible",
                  "confidenceScore": 1.0
                }
              ],
              "neededClinicalInfo": [
                {
                  "semanticType": "T047",
                  "category": "Diagnosis",
                  "system": "http://www.nlm.nih.gov/research/umls",
                  "code": "C1513041",
                  "name": "Sanitized",
                  "value": ";EntityType:Diagnosis"
                },
                {
                  "semanticType": "T061",
                  "category": "TreatmentName",
                  "system": "http://www.nlm.nih.gov/research/umls",
                  "code": "C1515119",
                  "name": "Sanitized",
                  "value": ";EntityType:TreatmentName"
                },
                {
                  "semanticType": "T061",
                  "category": "TreatmentName",
                  "system": "http://www.nlm.nih.gov/research/umls",
                  "code": "C0920425",
                  "name": "Sanitized",
                  "value": ";EntityType:TreatmentName"
                }
              ]
            }
          ],
          "modelVersion": "2023-03-01-preview",
          "knowledgeGraphLastUpdateDate": "04/14/2024"
        },
        "jobId": "aec98e0a-359d-4146-80dc-5591ef9c8c21",
        "createdDateTime": "2024-06-05T09:35:21Z",
        "expirationDateTime": "2024-06-06T09:35:21Z",
        "lastUpdateDateTime": "2024-06-05T09:35:25Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
