{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "Sanitized",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Sanitized",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized-Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2025-12-20T09:46:07.2606756Z",
          "Owners": "Sanitized"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.EventGrid/topics?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "4000fce9-000a-e200-b63f-84710c7967bb",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "endpoint": "https://Sanitized.Sanitized-1.eventgrid.azure.net/api/events",
              "minimumTlsVersionAllowed": "1.0",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "dc53664f-a0f6-483a-adfc-c5f1565bbc81",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Sanitized"
            },
            "kind": "Azure",
            "systemData": null,
            "location": "westus",
            "tags": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized-Sanitized/providers/Microsoft.EventGrid/topics/Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.EventGrid/topics"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.Sanitized-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"id\":\"89463c40-44fa-46c7-b204-59fcbf33daeb\",\"subject\":\"/default/subject\",\"eventType\":\"CustomEvent\",\"dataVersion\":\"1.0\",\"eventTime\":\"2025-12-20T03:25:41.4435722\\u002B00:00\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "custom_event_id": "89463c40-44fa-46c7-b204-59fcbf33daeb",
    "custom_event_time": "2025-12-20T03:25:41.4435722+00:00",
    "custom_occurred_time": "2025-12-20T03:25:41Z",
    "custom_order_time": "639017979414435799"
  }
}
