{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-8b6ba22b-31c3-36b5-8714-94579f5de2ee-380?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "835"
      },
      "ResponseBody": {
        "name": "DataFactory-8b6ba22b-31c3-36b5-8714-94579f5de2ee-380",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8b6ba22b-31c3-36b5-8714-94579f5de2ee-380",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:44:18.1484106Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200021834-0000-0800-0000-655600920000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8b6ba22b-31c3-36b5-8714-94579f5de2ee-380/linkedservices/LinkedService3041?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "834"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8b6ba22b-31c3-36b5-8714-94579f5de2ee-380/linkedservices/LinkedService3041",
        "name": "LinkedService3041",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "9d0000da-0000-0800-0000-655600920000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8b6ba22b-31c3-36b5-8714-94579f5de2ee-380/linkedservices/LinkedService3041?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11410"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8b6ba22b-31c3-36b5-8714-94579f5de2ee-380/linkedservices/LinkedService3041",
        "name": "LinkedService3041",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "9d0000da-0000-0800-0000-655600920000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2052960682",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
