{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-facb5916-c7f7-3e85-a2a6-59eab7d052a7-2910?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "name": "DataFactory-facb5916-c7f7-3e85-a2a6-59eab7d052a7-2910",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-facb5916-c7f7-3e85-a2a6-59eab7d052a7-2910",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:26:36.3342562Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022ff01a6ef-0000-0800-0000-6555fc6c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-facb5916-c7f7-3e85-a2a6-59eab7d052a7-2910/linkedservices/LinkedService9826?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-facb5916-c7f7-3e85-a2a6-59eab7d052a7-2910/linkedservices/LinkedService9826",
        "name": "LinkedService9826",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "04005515-0000-0800-0000-6555fc6d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-facb5916-c7f7-3e85-a2a6-59eab7d052a7-2910/linkedservices?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-facb5916-c7f7-3e85-a2a6-59eab7d052a7-2910/linkedservices/LinkedService9826",
            "name": "LinkedService9826",
            "type": "Microsoft.DataFactory/factories/linkedservices",
            "properties": {
              "type": "AzureBlobStorage",
              "typeProperties": {
                "connectionString": "Sanitized"
              }
            },
            "etag": "04005515-0000-0800-0000-6555fc6d0000"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1485903666",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
