{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-c944098d-f307-325a-9361-dd1173728f62-5868?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1154"
      },
      "ResponseBody": {
        "name": "DataFactory-c944098d-f307-325a-9361-dd1173728f62-5868",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-c944098d-f307-325a-9361-dd1173728f62-5868",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:16:50.0130435Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a8010bf8-0000-0800-0000-654725420000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-c944098d-f307-325a-9361-dd1173728f62-5868/linkedservices/LinkedService923?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": {
              "value": "\u0022server=10.0.0.122;port=3306;database=db;user=https:\\\\\\\\test.com;sslmode=1;usesystemtruststore=0\u0022",
              "type": "SecureString"
            },
            "serviceEndpoint": "fakeserviceEndpoint",
            "servicePrincipalKey": {
              "value": "fakeservicePrincipalKey",
              "type": "SecureString"
            },
            "accountKind": "Storage"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1153"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-c944098d-f307-325a-9361-dd1173728f62-5868/linkedservices/LinkedService923",
        "name": "LinkedService923",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "serviceEndpoint": "fakeserviceEndpoint",
            "servicePrincipalKey": {
              "type": "SecureString",
              "value": "**********"
            },
            "accountKind": "Storage"
          }
        },
        "etag": "310000a4-0000-0800-0000-654725420000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "755191665",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
