{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-d5bffc28-e65e-395b-a7bc-313cf715e667-6976?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1080"
      },
      "ResponseBody": {
        "name": "DataFactory-d5bffc28-e65e-395b-a7bc-313cf715e667-6976",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-d5bffc28-e65e-395b-a7bc-313cf715e667-6976",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:32:08.2239556Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200029b06-0000-0800-0000-6555fdb80000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-d5bffc28-e65e-395b-a7bc-313cf715e667-6976/linkedservices/LinkedService1581?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1079"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-d5bffc28-e65e-395b-a7bc-313cf715e667-6976/linkedservices/LinkedService1581",
        "name": "LinkedService1581",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "2100b698-0000-0800-0000-6555fdb90000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-d5bffc28-e65e-395b-a7bc-313cf715e667-6976/linkedservices/LinkedService7367?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureStorage",
          "typeProperties": {
            "sasUri": "fakeSasUri",
            "sasToken": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService1581"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1078"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-d5bffc28-e65e-395b-a7bc-313cf715e667-6976/linkedservices/LinkedService7367",
        "name": "LinkedService7367",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureStorage",
          "typeProperties": {
            "sasUri": "fakeSasUri",
            "sasToken": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService1581"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "2100ba98-0000-0800-0000-6555fdb90000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1434585897",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
