{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-1d88fda4-285c-3b5f-8208-92137c7d421a-8576?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "849"
      },
      "ResponseBody": {
        "name": "DataFactory-1d88fda4-285c-3b5f-8208-92137c7d421a-8576",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-1d88fda4-285c-3b5f-8208-92137c7d421a-8576",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:25:10.6284979Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9017f26-0000-0800-0000-654727360000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-1d88fda4-285c-3b5f-8208-92137c7d421a-8576/linkedservices/LinkedService2298?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Xero",
          "typeProperties": {
            "connectionProperties": {
              "host": "api.xero.com",
              "consumerKey": {
                "type": "SecureString",
                "value": "some secret"
              },
              "privateKey": {
                "type": "SecureString",
                "value": "some secret"
              },
              "useEncryptedEndpoints": true,
              "useHostVerification": true,
              "usePeerVerification": true
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "848"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-1d88fda4-285c-3b5f-8208-92137c7d421a-8576/linkedservices/LinkedService2298",
        "name": "LinkedService2298",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Xero",
          "typeProperties": {
            "connectionProperties": {
              "host": "api.xero.com",
              "useEncryptedEndpoints": true,
              "useHostVerification": true,
              "usePeerVerification": true,
              "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ4NDM2MjRDLTE4RjgtNDc0RC05NDY5LTgxMzk5NDk0NzI0NF9lNTNiYmUxZC01M2YzLTRmYjktYWRmZS04MTA2YWZhMWNkNjYiDQp9"
            }
          }
        },
        "etag": "b90052f6-0000-0800-0000-654727370000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "298546347",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
