{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-4a02714c-f83f-3885-8fd3-0becc82a60ca-7134?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1001"
      },
      "ResponseBody": {
        "name": "DataFactory-4a02714c-f83f-3885-8fd3-0becc82a60ca-7134",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-4a02714c-f83f-3885-8fd3-0becc82a60ca-7134",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:32:56.1755909Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901944f-0000-0800-0000-654729080000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-4a02714c-f83f-3885-8fd3-0becc82a60ca-7134/linkedservices/LinkedService2160?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Hubspot",
          "typeProperties": {
            "clientId": "11b5516f1322-11e6-9653-93a39db85acf",
            "clientSecret": {
              "value": "abCD\u002BE1f2Gxhi3J4klmN/OP5QrSTuvwXYzabcdEF",
              "type": "SecureString"
            },
            "accessToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "refreshToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1000"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-4a02714c-f83f-3885-8fd3-0becc82a60ca-7134/linkedservices/LinkedService2160",
        "name": "LinkedService2160",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Hubspot",
          "typeProperties": {
            "clientId": "11b5516f1322-11e6-9653-93a39db85acf",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDhDOTNGQjY0LTc4REItNDgwRi1CMTcxLUQxRDE0RjdFREM2Ql9mZTQyMmI1MC04MWJiLTRjMGYtOTRkNS00MTBmMGFmMDZmMDMiDQp9"
          }
        },
        "etag": "32011ddf-0000-0800-0000-654729080000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1942443799",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
