{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-1d1ea2ce-4fdf-3c91-b495-e03b87f5a1db-5208?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "997"
      },
      "ResponseBody": {
        "name": "DataFactory-1d1ea2ce-4fdf-3c91-b495-e03b87f5a1db-5208",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-1d1ea2ce-4fdf-3c91-b495-e03b87f5a1db-5208",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:10:44.3095891Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040237bd-0000-0800-0000-65564d140000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-1d1ea2ce-4fdf-3c91-b495-e03b87f5a1db-5208/linkedservices/LinkedService8777?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-1d1ea2ce-4fdf-3c91-b495-e03b87f5a1db-5208/linkedservices/LinkedService8777",
        "name": "LinkedService8777",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "5e007526-0000-0800-0000-65564d150000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-1d1ea2ce-4fdf-3c91-b495-e03b87f5a1db-5208/linkedservices/LinkedService7822?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Greenplum",
          "typeProperties": {
            "connectionString": "Sanitized",
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService8777"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "995"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-1d1ea2ce-4fdf-3c91-b495-e03b87f5a1db-5208/linkedservices/LinkedService7822",
        "name": "LinkedService7822",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Greenplum",
          "typeProperties": {
            "connectionString": "Sanitized",
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService8777"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "5e007826-0000-0800-0000-65564d150000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1412525507",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
