{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-1654?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "780"
      },
      "ResponseBody": {
        "name": "DataFactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-1654",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-1654",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:47:01.290544Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200020b3e-0000-0800-0000-655601350000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-1654/linkedservices/LinkedService1482?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "description": "test description",
          "typeProperties": {
            "dataLakeStoreUri": "fakeUrl",
            "servicePrincipalId": "fakeid",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "779"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-1654/linkedservices/LinkedService1482",
        "name": "LinkedService1482",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "description": "test description",
          "typeProperties": {
            "dataLakeStoreUri": "fakeUrl",
            "servicePrincipalId": "fakeid",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQERFRDNCNDY0LUU2NjQtNDBBQi1CMTk0LUZDMjBERUZBNEFBN19kZWQ0MDEyZC03MTI5LTQyMjctODc4Ni01NWQ1YWRlZjJlMjQiDQp9"
          }
        },
        "etag": "4e00b8e0-0000-0800-0000-655601360000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2009176931",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
