{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-88e22da6-a42c-3f37-80f5-108c398f898f-6754?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "705"
      },
      "ResponseBody": {
        "name": "DataFactory-88e22da6-a42c-3f37-80f5-108c398f898f-6754",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-88e22da6-a42c-3f37-80f5-108c398f898f-6754",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:21:02.5352402Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f501bc0a-0000-0800-0000-6549e55e0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-88e22da6-a42c-3f37-80f5-108c398f898f-6754/linkedservices/LinkedService1894?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "connectionString": {
              "value": "mongodb://username:password@localhost:27017/?authSource=admin",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "704"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-88e22da6-a42c-3f37-80f5-108c398f898f-6754/linkedservices/LinkedService1894",
        "name": "LinkedService1894",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "190062f5-0000-0800-0000-6549e55f0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1622724910",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
