{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-8132134f-4bcd-3ae1-a877-ca93510e9122-5566?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "784"
      },
      "ResponseBody": {
        "name": "DataFactory-8132134f-4bcd-3ae1-a877-ca93510e9122-5566",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8132134f-4bcd-3ae1-a877-ca93510e9122-5566",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:46:46.9614938Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002313d-0000-0800-0000-655601270000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8132134f-4bcd-3ae1-a877-ca93510e9122-5566/linkedservices/LinkedService9312?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "https://fakecluster.eastus2.kusto.windows.net",
            "servicePrincipalId": "fakeSPID",
            "servicePrincipalKey": {
              "value": "fakepwd",
              "type": "SecureString"
            },
            "database": "MyDatabase",
            "tenant": "faketenant"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "783"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-8132134f-4bcd-3ae1-a877-ca93510e9122-5566/linkedservices/LinkedService9312",
        "name": "LinkedService9312",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "https://fakecluster.eastus2.kusto.windows.net",
            "servicePrincipalId": "fakeSPID",
            "database": "MyDatabase",
            "tenant": "faketenant",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQyRTA4QjFDLUU5NUUtNDM4Mi04OUVBLUY5RUFBOEQ2RTBFMl82ZTkwMWU0OS05MWU4LTRlZDgtODhmZC0zYTNkYmNkNzc2NmEiDQp9"
          }
        },
        "etag": "0000eec9-0000-0800-0000-655601270000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1539476216",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
