{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-b08f1121-a5d6-3887-9412-c942c2ad36bb-2979?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "621"
      },
      "ResponseBody": {
        "name": "DataFactory-b08f1121-a5d6-3887-9412-c942c2ad36bb-2979",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-b08f1121-a5d6-3887-9412-c942c2ad36bb-2979",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:28:28.2084555Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002205024302-0000-0800-0000-6556513c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-b08f1121-a5d6-3887-9412-c942c2ad36bb-2979/linkedservices/LinkedService5187?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Hive",
          "typeProperties": {
            "host": "192.168.12.122",
            "port": 1000,
            "serverType": "Hiveserver",
            "thriftTransportProtocol": "Binary",
            "authenticationType": "Anonymous",
            "serviceDiscoveryMode": true,
            "zooKeeperNameSpace": "",
            "useNativeQuery": true,
            "username": "name",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            },
            "httpPath": "/gateway/sandbox/hbase/version",
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "620"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-b08f1121-a5d6-3887-9412-c942c2ad36bb-2979/linkedservices/LinkedService5187",
        "name": "LinkedService5187",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Hive",
          "typeProperties": {
            "host": "192.168.12.122",
            "port": 1000,
            "serverType": "Hiveserver",
            "thriftTransportProtocol": "Binary",
            "authenticationType": "Anonymous",
            "serviceDiscoveryMode": true,
            "zooKeeperNameSpace": "",
            "useNativeQuery": true,
            "username": "name",
            "httpPath": "/gateway/sandbox/hbase/version",
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDk4OTdFQjNBLUIwNEQtNEI4QS04MzdELTZBQ0NBNzZDRDRBMl8zYzdkOWE4Ny0zMjk4LTQzNDctYjU0MS01Y2Q3OWNhZjc5YTUiDQp9"
          }
        },
        "etag": "2000efbe-0000-0800-0000-6556513d0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1693920462",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
