{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-151?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "942"
      },
      "ResponseBody": {
        "name": "DataFactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-151",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-151",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:34:28.1845761Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9015958-0000-0800-0000-654729640000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-151/linkedservices/LinkedService2168?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "RestService",
          "typeProperties": {
            "url": "testUri",
            "enableServerCertificateValidation": true,
            "authenticationType": "OAuth2ClientCredential",
            "clientId": "FakeclientID",
            "clientSecret": {
              "value": "somesecret",
              "type": "SecureString"
            },
            "tokenEndpoint": "fakeTokenEndpoint",
            "resource": "fakeResource",
            "scope": "FakeScope"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "941"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-151/linkedservices/LinkedService2168",
        "name": "LinkedService2168",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "RestService",
          "typeProperties": {
            "url": "testUri",
            "enableServerCertificateValidation": true,
            "authenticationType": "OAuth2ClientCredential",
            "clientId": "FakeclientID",
            "tokenEndpoint": "fakeTokenEndpoint",
            "resource": "fakeResource",
            "scope": "FakeScope",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEM2RTBFRkYyLThEMDItNDlGRi1CRTU4LTU2RkVEMzdCQkNENV83NjQ0NmE3Zi01MjNlLTRjYmQtOTcwNy0xZjk3ZTZhMWZlOTkiDQp9"
          }
        },
        "etag": "3201ade0-0000-0800-0000-654729640000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "430790276",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
