{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-16b4d3ed-419b-3045-8101-9f7b411b3765-4165?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1065"
      },
      "ResponseBody": {
        "name": "DataFactory-16b4d3ed-419b-3045-8101-9f7b411b3765-4165",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-16b4d3ed-419b-3045-8101-9f7b411b3765-4165",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:07:41.6025501Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220402b5b2-0000-0800-0000-65564c5d0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-16b4d3ed-419b-3045-8101-9f7b411b3765-4165/linkedservices/LinkedService3090?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Concur",
          "typeProperties": {
            "clientId": "f145kn9Pcyq9pr4lvumdapfl4rive",
            "username": "jsmith",
            "password": {
              "value": "somesecret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1064"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-16b4d3ed-419b-3045-8101-9f7b411b3765-4165/linkedservices/LinkedService3090",
        "name": "LinkedService3090",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Concur",
          "typeProperties": {
            "clientId": "f145kn9Pcyq9pr4lvumdapfl4rive",
            "username": "jsmith",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDMwNTJEODEwLUUwMjctNDNCOC05MTIxLTMxQ0YzMDIyODk5Q18xYjIyZTE1Mi05Yjk5LTRmMGEtODgyMy1lNzBkNmIzOWQ3OGMiDQp9"
          }
        },
        "etag": "be000a65-0000-0800-0000-65564c5e0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "692189976",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
