{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-eed783ef-6e5d-3870-96a9-6a23d66e83e5-9250?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "872"
      },
      "ResponseBody": {
        "name": "DataFactory-eed783ef-6e5d-3870-96a9-6a23d66e83e5-9250",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-eed783ef-6e5d-3870-96a9-6a23d66e83e5-9250",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:24:32.013684Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901d722-0000-0800-0000-654727100000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-eed783ef-6e5d-3870-96a9-6a23d66e83e5-9250/linkedservices/LinkedService7734?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Square",
          "typeProperties": {
            "connectionProperties": {
              "host": "mystore.mysquare.com",
              "clientId": "clientIdFake",
              "clientSecret": {
                "type": "SecureString",
                "value": "some secret"
              },
              "redirectUri": "http://localhost:2500",
              "useEncryptedEndpoints": true,
              "useHostVerification": true,
              "usePeerVerification": true
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "871"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-eed783ef-6e5d-3870-96a9-6a23d66e83e5-9250/linkedservices/LinkedService7734",
        "name": "LinkedService7734",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Square",
          "typeProperties": {
            "connectionProperties": {
              "host": "mystore.mysquare.com",
              "clientId": "clientIdFake",
              "redirectUri": "http://localhost:2500",
              "useEncryptedEndpoints": true,
              "useHostVerification": true,
              "usePeerVerification": true,
              "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQzNDAxQ0JELUI4NDItNDRDNC1BMzEwLTI1Nzk5N0ZFQzREOF9iNDgxZWY3NS03N2Y5LTRlNmQtYThjZi1jNmFjN2VhYTA0MmYiDQp9"
            }
          }
        },
        "etag": "2c00c231-0000-0800-0000-654727100000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "260826165",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
