{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9392/providers/Microsoft.DataFactory/factories/DataFactory-16b4d3ed-419b-3045-8101-9f7b411b3765-8602?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1065"
      },
      "ResponseBody": {
        "name": "DataFactory-16b4d3ed-419b-3045-8101-9f7b411b3765-8602",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-16b4d3ed-419b-3045-8101-9f7b411b3765-8602",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:01:45.5338731Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f4014799-0000-0800-0000-6549e0d90000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-16b4d3ed-419b-3045-8101-9f7b411b3765-8602/linkedservices/LinkedService379?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Concur",
          "typeProperties": {
            "clientId": "f145kn9Pcyq9pr4lvumdapfl4rive",
            "username": "jsmith",
            "password": {
              "value": "somesecret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1064"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-16b4d3ed-419b-3045-8101-9f7b411b3765-8602/linkedservices/LinkedService379",
        "name": "LinkedService379",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Concur",
          "typeProperties": {
            "clientId": "f145kn9Pcyq9pr4lvumdapfl4rive",
            "username": "jsmith",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDk5NjM1OUZDLUU2QzItNEI1OC1BQjI4LUVBMUZCQjY1NzBGM19jOGQwYmU2NC04OTk4LTRiODQtOGZjOC1hOTBhYzE4MjlhZTciDQp9"
          }
        },
        "etag": "4500a03d-0000-0800-0000-6549e0da0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1957538778",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
