{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-e53ac3a7-ab50-3546-adb9-20c1472eb304-1994?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "541"
      },
      "ResponseBody": {
        "name": "DataFactory-e53ac3a7-ab50-3546-adb9-20c1472eb304-1994",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-e53ac3a7-ab50-3546-adb9-20c1472eb304-1994",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:32:17.2413702Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002205026b14-0000-0800-0000-655652210000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-e53ac3a7-ab50-3546-adb9-20c1472eb304-1994/linkedservices/LinkedService3213?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapHana",
          "description": "test description",
          "typeProperties": {
            "server": "fakeserver",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "540"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-e53ac3a7-ab50-3546-adb9-20c1472eb304-1994/linkedservices/LinkedService3213",
        "name": "LinkedService3213",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapHana",
          "description": "test description",
          "typeProperties": {
            "server": "fakeserver",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEMwNTc3OTI5LUQ0QkMtNDYyRS05MkI1LTVFMzQyMEE3M0NCNF8yNzE1MDQ3OC1lODYxLTQxYjMtOGVjMC0xZDIwNTYyOGIwNmYiDQp9"
          }
        },
        "etag": "8000cf70-0000-0800-0000-655652220000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1786613451",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
