{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9201?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "782"
      },
      "ResponseBody": {
        "name": "DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9201",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9201",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:21:19.93098Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040243e5-0000-0800-0000-65564f8f0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9201/linkedservices/LinkedService5533?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            },
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "781"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9201/linkedservices/LinkedService5533",
        "name": "LinkedService5533",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQwM0M2QUY5LTMwNzYtNEYyQS04MEU0LTg1QTY3RUVGNEExMl8yMzNjOGNjNC01ZDczLTQ3MzYtYTY5Yy1jY2JjOWNmMjgzNzYiDQp9"
          }
        },
        "etag": "990091c7-0000-0800-0000-65564f900000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2067985260",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
