{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-4911?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1005"
      },
      "ResponseBody": {
        "name": "DataFactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-4911",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-4911",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:35:28.5948487Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200023413-0000-0800-0000-6555fe800000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-4911/linkedservices/LinkedService8558?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "GoogleAdWords",
          "typeProperties": {
            "connectionProperties": {
              "connectionProperties": {
                "clientCustomerID": "fakeClientCustomerID",
                "developerToken": {
                  "type": "SecureString",
                  "value": "some secret"
                }
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1004"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-4911/linkedservices/LinkedService8558",
        "name": "LinkedService8558",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "GoogleAdWords",
          "typeProperties": {
            "connectionProperties": {
              "connectionProperties": {
                "clientCustomerID": "fakeClientCustomerID",
                "developerToken": {
                  "type": "SecureString",
                  "value": "**********"
                }
              }
            }
          }
        },
        "etag": "4801f971-0000-0800-0000-6555fe810000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1944197410",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
