{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-5660?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "782"
      },
      "ResponseBody": {
        "name": "DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-5660",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-5660",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:46:53.5717108Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002a63d-0000-0800-0000-6556012d0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-5660/linkedservices/LinkedService8730?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            },
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "781"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-5660/linkedservices/LinkedService8730",
        "name": "LinkedService8730",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDEwRDIwMDkxLUM0MTItNDM4MC1CNDhELUI1MDgzRjlDQzY5NF84OGJhZjYwNy1mODc3LTQxMjItYTU5Mi0yOWE3NmFkYWM4MDIiDQp9"
          }
        },
        "etag": "21006c47-0000-0800-0000-6556012f0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1093256359",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
