{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-8132134f-4bcd-3ae1-a877-ca93510e9122-3976?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1142"
      },
      "ResponseBody": {
        "name": "DataFactory-8132134f-4bcd-3ae1-a877-ca93510e9122-3976",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-8132134f-4bcd-3ae1-a877-ca93510e9122-3976",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:17:11.4511213Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a801e1f9-0000-0800-0000-654725570000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-8132134f-4bcd-3ae1-a877-ca93510e9122-3976/linkedservices/LinkedService7157?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "https://fakecluster.eastus2.kusto.windows.net",
            "servicePrincipalId": "fakeSPID",
            "servicePrincipalKey": {
              "value": "fakepwd",
              "type": "SecureString"
            },
            "database": "MyDatabase",
            "tenant": "faketenant"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1141"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-8132134f-4bcd-3ae1-a877-ca93510e9122-3976/linkedservices/LinkedService7157",
        "name": "LinkedService7157",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "https://fakecluster.eastus2.kusto.windows.net",
            "servicePrincipalId": "fakeSPID",
            "database": "MyDatabase",
            "tenant": "faketenant",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEYzNUI4M0ZDLTFENkMtNEU1Ny1BNjYxLTY3RDVCM0MzNUExMV8yYTQ5MWE3NC04NTdmLTQzNWQtYWE4NC0xZjAxNWEyMGY2OWEiDQp9"
          }
        },
        "etag": "4900c58a-0000-0800-0000-654725580000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1592430807",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
