{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-0d0851af-bc8e-393f-b6c4-526bccdef491-8119?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1074"
      },
      "ResponseBody": {
        "name": "DataFactory-0d0851af-bc8e-393f-b6c4-526bccdef491-8119",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-0d0851af-bc8e-393f-b6c4-526bccdef491-8119",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:07:20.4155616Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040295b1-0000-0800-0000-65564c480000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-0d0851af-bc8e-393f-b6c4-526bccdef491-8119/linkedservices/LinkedService6708?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "hostName": "hostname.com",
            "port": 1234,
            "organizationName": "contoso",
            "authenticationType": "Office365",
            "username": "fakeuser@contoso.com",
            "password": {
              "value": "fakepassword",
              "type": "SecureString"
            },
            "encryptedCredential": "fake credential"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1073"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-0d0851af-bc8e-393f-b6c4-526bccdef491-8119/linkedservices/LinkedService6708",
        "name": "LinkedService6708",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "hostName": "hostname.com",
            "port": 1234,
            "organizationName": "contoso",
            "authenticationType": "Office365",
            "username": "fakeuser@contoso.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDUzOEQ3RERBLTBEN0EtNEY2Qi1CRTUyLUYxMUEwRUZBOUE1RV82NDAyMDQwNS1mYzFjLTQ1OTYtODgwMy0xMmZmODRkMzMyMzAiDQp9"
          }
        },
        "etag": "0901d40e-0000-0800-0000-65564c490000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1290987312",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
