{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-0c5263ba-5344-3d44-9df1-8f66909e55fd-2307?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "893"
      },
      "ResponseBody": {
        "name": "DataFactory-0c5263ba-5344-3d44-9df1-8f66909e55fd-2307",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-0c5263ba-5344-3d44-9df1-8f66909e55fd-2307",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:15:33.4723254Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220402cfcd-0000-0800-0000-65564e350000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-0c5263ba-5344-3d44-9df1-8f66909e55fd-2307/linkedservices/LinkedService5135?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ServiceNow",
          "typeProperties": {
            "endpoint": "http://instance.service-now.com",
            "authenticationType": "Basic",
            "username": "admin",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "892"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-0c5263ba-5344-3d44-9df1-8f66909e55fd-2307/linkedservices/LinkedService5135",
        "name": "LinkedService5135",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "ServiceNow",
          "typeProperties": {
            "endpoint": "http://instance.service-now.com",
            "authenticationType": "Basic",
            "username": "admin",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDFGMjI5NkFDLTkyRUEtNEM3Qi1CMTc0LTRDQzRCNEUzQjA4Ml83NTg0MzdjNS0xMTNkLTRmOTEtODU5Yy1hOGQ2YTFlOTc2OWUiDQp9"
          }
        },
        "etag": "65005838-0000-0800-0000-65564e360000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "815016229",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
