{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-4709?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1054"
      },
      "ResponseBody": {
        "name": "DataFactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-4709",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-4709",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:33:16.5824436Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002ae0a-0000-0800-0000-6555fdfc0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-4709/linkedservices/LinkedService9729?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDbMongoDbApi",
          "typeProperties": {
            "isServerVersionAbove32": true,
            "connectionString": {
              "value": "mongodb\u002Bsrv://myDatabaseUser:@server.example.com",
              "type": "SecureString"
            },
            "database": "TestDB"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1053"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-4709/linkedservices/LinkedService9729",
        "name": "LinkedService9729",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDbMongoDbApi",
          "typeProperties": {
            "isServerVersionAbove32": true,
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "database": "TestDB"
          }
        },
        "etag": "0701cc42-0000-0800-0000-6555fdfd0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "584805396",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
