{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-fb5d6313-7ade-3516-901a-f328afe65b40-5569?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "649"
      },
      "ResponseBody": {
        "name": "DataFactory-fb5d6313-7ade-3516-901a-f328afe65b40-5569",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-fb5d6313-7ade-3516-901a-f328afe65b40-5569",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:27:15.8153939Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002204022cfd-0000-0800-0000-655650f30000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-fb5d6313-7ade-3516-901a-f328afe65b40-5569/linkedservices/LinkedService5188?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "GoogleAdWords",
          "typeProperties": {
            "clientCustomerID": "myclientcustomerID",
            "developerToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "authenticationType": "ServiceAuthentication",
            "refreshToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "clientId": "MyclientID",
            "clientSecret": {
              "value": "some secret",
              "type": "SecureString"
            },
            "email": "someone@microsoft.com",
            "keyFilePath": "Mykeyfilepath",
            "trustedCertPath": "mytrustedCetpath",
            "useSystemTrustStore": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "648"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-fb5d6313-7ade-3516-901a-f328afe65b40-5569/linkedservices/LinkedService5188",
        "name": "LinkedService5188",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "GoogleAdWords",
          "typeProperties": {
            "clientCustomerID": "myclientcustomerID",
            "authenticationType": "ServiceAuthentication",
            "clientId": "MyclientID",
            "email": "someone@microsoft.com",
            "keyFilePath": "Mykeyfilepath",
            "trustedCertPath": "mytrustedCetpath",
            "useSystemTrustStore": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDczMkVDNDlGLTY3OTctNEQ1NS04NkEyLTNCOEVENTA3NzVEQ18xYTBlMGUxOC00ZTRjLTQxZTAtYWU3MC0zOWM1NWRhYTM4NzQiDQp9"
          }
        },
        "etag": "1400767b-0000-0800-0000-655650f40000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "161582723",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
