{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-3166?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "994"
      },
      "ResponseBody": {
        "name": "DataFactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-3166",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-3166",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:21:06.1795159Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901c00f-0000-0800-0000-654726420000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-3166/linkedservices/LinkedService8036?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HBase",
          "typeProperties": {
            "host": "192.168.12.122",
            "httpPath": "/gateway/sandbox/hbase/version",
            "authenticationType": "Anonymous",
            "enableSsl": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "993"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-3166/linkedservices/LinkedService8036",
        "name": "LinkedService8036",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HBase",
          "typeProperties": {
            "host": "192.168.12.122",
            "httpPath": "/gateway/sandbox/hbase/version",
            "authenticationType": "Anonymous",
            "enableSsl": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        },
        "etag": "0500af75-0000-0800-0000-654726420000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "335943324",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
