{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-2138?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1015"
      },
      "ResponseBody": {
        "name": "DataFactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-2138",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-2138",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:09:50.103309Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040255ba-0000-0800-0000-65564cde0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-2138/linkedservices/LinkedService6537?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Eloqua",
          "typeProperties": {
            "endpoint": "eloqua.example.com",
            "username": "username",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1014"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-2138/linkedservices/LinkedService6537",
        "name": "LinkedService6537",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Eloqua",
          "typeProperties": {
            "endpoint": "eloqua.example.com",
            "username": "username",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDgxRjI5QUJBLUJFMzUtNEZFNi1CRTMyLURBOEMxOTM0NDcwNl83ODY5OGE2MS05ZmZlLTRiOWItOTk3Zi1kZTljNDNhNzQ2NWUiDQp9"
          }
        },
        "etag": "3600ad8f-0000-0800-0000-65564cde0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2018262982",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
