{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-635e25cb-4092-3cb2-ab3e-bae95d70673d-1782?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "562"
      },
      "ResponseBody": {
        "name": "DataFactory-635e25cb-4092-3cb2-ab3e-bae95d70673d-1782",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-635e25cb-4092-3cb2-ab3e-bae95d70673d-1782",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:28:06.6400062Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f5014731-0000-0800-0000-6549e7060000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-635e25cb-4092-3cb2-ab3e-bae95d70673d-1782/linkedservices/LinkedService3715?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "RestService",
          "typeProperties": {
            "url": "https://fakeurl/",
            "authenticationType": "Basic",
            "userName": "user",
            "password": {
              "value": "fakepwd",
              "type": "SecureString"
            },
            "azureCloudType": "azurepublic"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "561"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-635e25cb-4092-3cb2-ab3e-bae95d70673d-1782/linkedservices/LinkedService3715",
        "name": "LinkedService3715",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "RestService",
          "typeProperties": {
            "url": "https://fakeurl/",
            "authenticationType": "Basic",
            "userName": "user",
            "azureCloudType": "azurepublic",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEM2NDMwMTgzLTJBQUItNEU3Mi05REQ5LTc4MzA1QkM3NTJDNl8wMzVkMjE3ZS1mMDQ4LTQ3MTEtOTRhNy0wNTE2ZmVlYzI5M2QiDQp9"
          }
        },
        "etag": "8100d5bf-0000-0800-0000-6549e7070000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1096884496",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
