{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-0912e9de-a943-3b8c-994e-f246a9a74efd-5677?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1158"
      },
      "ResponseBody": {
        "name": "DataFactory-0912e9de-a943-3b8c-994e-f246a9a74efd-5677",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-0912e9de-a943-3b8c-994e-f246a9a74efd-5677",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:28:50.9847175Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901493a-0000-0800-0000-654728130000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-0912e9de-a943-3b8c-994e-f246a9a74efd-5677/linkedservices/LinkedService7712?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1157"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-0912e9de-a943-3b8c-994e-f246a9a74efd-5677/linkedservices/LinkedService7712",
        "name": "LinkedService7712",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "6b002a64-0000-0800-0000-654728130000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-0912e9de-a943-3b8c-994e-f246a9a74efd-5677/linkedservices/LinkedService2496?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureFileStorage",
          "typeProperties": {
            "connectionString": {
              "value": "fakeconnection",
              "type": "SecureString"
            },
            "accountKey": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService7712"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1156"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-0912e9de-a943-3b8c-994e-f246a9a74efd-5677/linkedservices/LinkedService2496",
        "name": "LinkedService2496",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureFileStorage",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "accountKey": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService7712"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "6b002c64-0000-0800-0000-654728140000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2005311206",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
