{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-403?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "560"
      },
      "ResponseBody": {
        "name": "DataFactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-403",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-403",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:57:06.1769946Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002a462-0000-0800-0000-655603920000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-403/linkedservices/LinkedService2646?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "RestService",
          "typeProperties": {
            "url": "testUri",
            "enableServerCertificateValidation": true,
            "authenticationType": "OAuth2ClientCredential",
            "clientId": "FakeclientID",
            "clientSecret": {
              "value": "somesecret",
              "type": "SecureString"
            },
            "tokenEndpoint": "fakeTokenEndpoint",
            "resource": "fakeResource",
            "scope": "FakeScope"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "559"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-cad863ec-da41-3e64-9eb3-1fb628c57c49-403/linkedservices/LinkedService2646",
        "name": "LinkedService2646",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "RestService",
          "typeProperties": {
            "url": "testUri",
            "enableServerCertificateValidation": true,
            "authenticationType": "OAuth2ClientCredential",
            "clientId": "FakeclientID",
            "tokenEndpoint": "fakeTokenEndpoint",
            "resource": "fakeResource",
            "scope": "FakeScope",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEU2QzlFOUMyLTUxMjYtNDAyRC1CMTFDLUU0OThFRjQ4RkZGOF8xNzlmZDMzNy05ZjBkLTRlZWQtYjFjMy1jZTI0ODI2YzcxYzEiDQp9"
          }
        },
        "etag": "580382ee-0000-0800-0000-655603930000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2098996269",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
