{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-6642?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1164"
      },
      "ResponseBody": {
        "name": "DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-6642",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-6642",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:28:39.6709144Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9014539-0000-0800-0000-654728070000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-6642/linkedservices/LinkedService8227?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            },
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1163"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-6642/linkedservices/LinkedService8227",
        "name": "LinkedService8227",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQERGODdFMjUwLTNFMkItNEEzRS1CMEFDLUY1Mzk5Mjg2MzAzRF84ZmZlMzY1Ny05ZWMwLTRlNDktOWQ4Ny1kYzIxMzJjNTlmMDUiDQp9"
          }
        },
        "etag": "0e009523-0000-0800-0000-654728080000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "9023795",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
