{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11677"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-6287?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1086"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-6287",
        "name": "DataFactory-RG-6287",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-6287/providers/Microsoft.Storage/storageAccounts/datafactory6503?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/0f200e4e-6402-45b3-beec-9394997e6668?monitor=true\u0026api-version=2022-09-01\u0026t=638357868153756805\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pb[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/0f200e4e-6402-45b3-beec-9394997e6668?monitor=true\u0026api-version=2022-09-01\u0026t=638357868153756805\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVh[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/0f200e4e-6402-45b3-beec-9394997e6668?monitor=true\u0026api-version=2022-09-01\u0026t=638357868157507186\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVh[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-6287/providers/Microsoft.Storage/storageAccounts/datafactory6503/listKeys?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11974"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2023-11-17T03:00:10.9004584Z",
            "keyName": "key1",
            "value": "Sanitized",
            "permissions": "FULL"
          },
          {
            "creationTime": "2023-11-17T03:00:10.9004584Z",
            "keyName": "key2",
            "value": "Sanitized",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-6287/providers/Microsoft.DataFactory/factories/DataFactory-9522?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1084"
      },
      "ResponseBody": {
        "name": "DataFactory-9522",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6287/providers/Microsoft.DataFactory/factories/datafactory-9522",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-17T03:00:36.453359Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022820387d4-0000-0800-0000-6556d7540000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6287/providers/Microsoft.DataFactory/factories/datafactory-9522/linkedservices/LinkedService9891?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "accountEndpoint": "https://fakecosmosdb.documents.azure.com:443/",
            "database": "testdb",
            "accountKey": {
              "value": "fakeconnectstring",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1083"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-6287/providers/Microsoft.DataFactory/factories/datafactory-9522/linkedservices/LinkedService9891",
        "name": "LinkedService9891",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "accountEndpoint": "https://fakecosmosdb.documents.azure.com:443/",
            "database": "testdb",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDJCQjQ1OUIzLTIyMkYtNDhBRi05MkQ5LTE1NkMzRTQ2NDI1NV8zMmI0YjM2Mi03YWYxLTQxNmYtODJkYy05ZjZlNjU5NDQwMmMiDQp9"
          }
        },
        "etag": "450078a9-0000-0800-0000-6556d7550000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "104385891",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
