{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-1d88fda4-285c-3b5f-8208-92137c7d421a-4944?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "491"
      },
      "ResponseBody": {
        "name": "DataFactory-1d88fda4-285c-3b5f-8208-92137c7d421a-4944",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-1d88fda4-285c-3b5f-8208-92137c7d421a-4944",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T12:00:24.0717304Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002906e-0000-0800-0000-655604580000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-1d88fda4-285c-3b5f-8208-92137c7d421a-4944/linkedservices/LinkedService3175?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Xero",
          "typeProperties": {
            "connectionProperties": {
              "host": "api.xero.com",
              "consumerKey": {
                "type": "SecureString",
                "value": "some secret"
              },
              "privateKey": {
                "type": "SecureString",
                "value": "some secret"
              },
              "useEncryptedEndpoints": true,
              "useHostVerification": true,
              "usePeerVerification": true
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "490"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-1d88fda4-285c-3b5f-8208-92137c7d421a-4944/linkedservices/LinkedService3175",
        "name": "LinkedService3175",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Xero",
          "typeProperties": {
            "connectionProperties": {
              "host": "api.xero.com",
              "useEncryptedEndpoints": true,
              "useHostVerification": true,
              "usePeerVerification": true,
              "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDJBOUVGMEM2LThFREMtNDBFOC1CODNBLUU0NDA5M0Q0MDAzNl9hNjNhY2U3NS1iNDgxLTRlY2EtOTc1OC0xZGQzYWIwMTcxYzYiDQp9"
            }
          }
        },
        "etag": "0100c8e9-0000-0800-0000-655604580000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "285576925",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
