{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7899?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "531"
      },
      "ResponseBody": {
        "name": "DataFactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7899",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7899",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:58:38.0696875Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200025768-0000-0800-0000-655603ee0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7899/linkedservices/LinkedService1457?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "ServicePrincipalKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "530"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7899/linkedservices/LinkedService1457",
        "name": "LinkedService1457",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQ0QUJGRDY1LTc2MTctNDZGRC05MjVELTdDMkY0NjU1QUQ4OV9iZWQyODA0Yy0xOWEyLTQyN2QtYjJhYi1kNWZiODY5ZjdjYzgiDQp9"
          }
        },
        "etag": "010092e3-0000-0800-0000-655603ee0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1978034073",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
