{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-7972?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "740"
      },
      "ResponseBody": {
        "name": "DataFactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-7972",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-7972",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:19:15.3352752Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f401edff-0000-0800-0000-6549e4f30000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-7972/linkedservices/LinkedService440?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": {
              "value": "Server=tcp:myServerAddress.database.windows.net,1433;Database=myDataBase;User ID=myUsername;Password=myPassword;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;",
              "type": "SecureString"
            },
            "azureCloudType": "AzurePublic"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "739"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-7972/linkedservices/LinkedService440",
        "name": "LinkedService440",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "azureCloudType": "AzurePublic",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEYxNDIzN0IyLTAxNTgtNDJFNy04MzFBLTQ5QjhFNUNFNDU2RF8wY2NjYzhkYi0zZGY2LTQ2NjItOGNjNS1jM2ExMDc3NGY3OGUiDQp9"
          }
        },
        "etag": "19004ad4-0000-0800-0000-6549e4f40000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "885823668",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
