{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-307?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "543"
      },
      "ResponseBody": {
        "name": "DataFactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-307",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-307",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:57:57.2018511Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002b865-0000-0800-0000-655603c50000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-307/linkedservices/LinkedService7993?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBW",
          "description": "test description",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "fakeNumber",
            "clientId": "fakeId",
            "userName": "fakeName",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "542"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-307/linkedservices/LinkedService7993",
        "name": "LinkedService7993",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapBW",
          "description": "test description",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "fakeNumber",
            "clientId": "fakeId",
            "userName": "fakeName",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEZDMzY1NEVFLTBEMEEtNEQxMC1BRUI3LTlBNDgwQThGQUIxQV9jNmIyZDMyZC01NDY3LTRkZmItYTRmMy0zOTUyMzMwMjA3MjciDQp9"
          }
        },
        "etag": "0600c4e1-0000-0800-0000-655603c60000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "400947551",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
