{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-50?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "919"
      },
      "ResponseBody": {
        "name": "DataFactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-50",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-50",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:35:07.3089645Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901ae5b-0000-0800-0000-6547298b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-50/linkedservices/LinkedService8765?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "fakeserver",
            "systemNumber": "00",
            "clientId": "000",
            "userName": "user",
            "password": {
              "value": "fakepwd",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "918"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-50/linkedservices/LinkedService8765",
        "name": "LinkedService8765",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "fakeserver",
            "systemNumber": "00",
            "clientId": "000",
            "userName": "user",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDk2QUYyMEZGLTc3QzMtNEQ4RC05MkE2LTcwNjA4ODdDOTQ3RV82YmM4M2M0NC0wODQ2LTQ4ZjItYjhlNC1hMDI2MzBkNTRmYzAiDQp9"
          }
        },
        "etag": "0100596e-0000-0800-0000-6547298c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "86245716",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
