{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-8f45ff3f-0ae1-381c-9c32-a25c63bc04c0-9372?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1100"
      },
      "ResponseBody": {
        "name": "DataFactory-8f45ff3f-0ae1-381c-9c32-a25c63bc04c0-9372",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-8f45ff3f-0ae1-381c-9c32-a25c63bc04c0-9372",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:31:07.870618Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200027e02-0000-0800-0000-6555fd7b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-8f45ff3f-0ae1-381c-9c32-a25c63bc04c0-9372/linkedservices/LinkedService8393?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSearch",
          "description": "test description",
          "typeProperties": {
            "url": "fakeUrl",
            "key": {
              "value": "fakeKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-8f45ff3f-0ae1-381c-9c32-a25c63bc04c0-9372/linkedservices/LinkedService8393",
        "name": "LinkedService8393",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSearch",
          "description": "test description",
          "typeProperties": {
            "url": "fakeUrl",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDJEQzdBMDlGLTJDQ0QtNDRFMi1BMzA0LTkxRDk2NjIyMTEzNV9hZjg1ZTdjZS1lYzM0LTRmMTMtYTkxMy0xZTA3ZTZlMjRhYmMiDQp9"
          }
        },
        "etag": "3400624e-0000-0800-0000-6555fd7c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "403176568",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
