{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "506"
      },
      "ResponseBody": {
        "name": "DataFactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:31:10.9135815Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f5010a42-0000-0800-0000-6549e7be0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578/integrationRuntimes/integrationRuntime5054?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "505"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578/integrationruntimes/integrationRuntime5054",
        "name": "integrationRuntime5054",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "0c00f1b1-0000-0800-0000-6549e7bf0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578/linkedservices/LinkedService9271?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "504"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578/linkedservices/LinkedService9271",
        "name": "LinkedService9271",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "0c00f3b1-0000-0800-0000-6549e7c00000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578/linkedservices/LinkedService5780?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Teradata",
          "connectVia": {
            "type": "IntegrationRuntimeReference",
            "referenceName": "integrationRuntime5054"
          },
          "typeProperties": {
            "connectionString": "Sanitized",
            "username": "microsoft",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9271"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "503"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-5578/linkedservices/LinkedService5780",
        "name": "LinkedService5780",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Teradata",
          "connectVia": {
            "type": "IntegrationRuntimeReference",
            "referenceName": "integrationRuntime5054"
          },
          "typeProperties": {
            "connectionString": "Sanitized",
            "username": "microsoft",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9271"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "0c00f5b1-0000-0800-0000-6549e7c00000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1973825203",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
