{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-8033?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "924"
      },
      "ResponseBody": {
        "name": "DataFactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-8033",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-8033",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:39:23.692898Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200023822-0000-0800-0000-6555ff6b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-8033/linkedservices/LinkedService4112?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Quickbase",
          "typeProperties": {
            "url": "testUrl",
            "userToken": {
              "value": "FakeuerToken",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "923"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-8033/linkedservices/LinkedService4112",
        "name": "LinkedService4112",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Quickbase",
          "typeProperties": {
            "url": "testUrl",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDNCNEExMDA4LTBBNjQtNDMzQi05M0ZBLUU4MkM0QTE3Qjc0MF8xMDU3NWI1NC0xOWNmLTQwYjItYjk5My1kMTI5ODIyODYyODUiDQp9"
          }
        },
        "etag": "00000bbb-0000-0800-0000-6555ff6c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1311612463",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
