{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/adf-rg-cosmosdb-2083?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083",
        "name": "adf-rg-cosmosdb-2083",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "adf-cosmosdb-8027",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2024-04-23T08:16:55.4684645Z",
          "version": "2018-06-01"
        },
        "eTag": "\"490088b7-0000-0800-0000-66276e770000\"",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027/integrationRuntimes/adf-integrationRuntime-4192?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027/integrationruntimes/adf-integrationRuntime-4192",
        "name": "adf-integrationRuntime-4192",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "8e0090ca-0000-0800-0000-66276e780000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027/linkedservices/adf_linkedservice_akv_3795?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027/linkedservices/adf_linkedservice_akv_3795",
        "name": "adf_linkedservice_akv_3795",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "8e00a3ca-0000-0800-0000-66276e7a0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027/linkedservices/adf_linkedservice_cosmosdb_2030?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "accountEndpoint": "https://fakecosmosdb.documents.azure.com:443/",
            "database": "testdb",
            "accountKey": {
              "value": "fakeconnectstring",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-cosmosdb-2083/providers/Microsoft.DataFactory/factories/adf-cosmosdb-8027/linkedservices/adf_linkedservice_cosmosdb_2030",
        "name": "adf_linkedservice_cosmosdb_2030",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "accountEndpoint": "https://fakecosmosdb.documents.azure.com:443/",
            "database": "testdb",
            "encryptedCredential": "Sanitized"
          }
        },
        "etag": "8e00bbca-0000-0800-0000-66276e7b0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "a0124637-d34e-4d32-a623-9f47f054f162",
    "RandomSeed": "1343171972",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
