{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-3edd27fb-d710-3130-8901-5395cc5a274e-9280?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "877"
      },
      "ResponseBody": {
        "name": "DataFactory-3edd27fb-d710-3130-8901-5395cc5a274e-9280",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-3edd27fb-d710-3130-8901-5395cc5a274e-9280",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:36:15.5079441Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901c362-0000-0800-0000-654729cf0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-3edd27fb-d710-3130-8901-5395cc5a274e-9280/linkedservices/LinkedService8471?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "typeProperties": {
            "url": "http://localhost",
            "authenticationType": "ClientCertificate"
          },
          "type": "Web"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "876"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-3edd27fb-d710-3130-8901-5395cc5a274e-9280/linkedservices/LinkedService8471",
        "name": "LinkedService8471",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "typeProperties": {
            "url": "http://localhost",
            "authenticationType": "ClientCertificate"
          },
          "type": "Web"
        },
        "etag": "41008c8d-0000-0800-0000-654729d00000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2121579738",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
