{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-1ec2905e-4da0-3b86-83c8-924900fd6577-4502?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1001"
      },
      "ResponseBody": {
        "name": "DataFactory-1ec2905e-4da0-3b86-83c8-924900fd6577-4502",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-1ec2905e-4da0-3b86-83c8-924900fd6577-4502",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:35:41.78402Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200022914-0000-0800-0000-6555fe8d0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-1ec2905e-4da0-3b86-83c8-924900fd6577-4502/linkedservices/LinkedService858?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "GoogleSheets",
          "typeProperties": {
            "apiToken": {
              "value": "FakeapiToken",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1000"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-1ec2905e-4da0-3b86-83c8-924900fd6577-4502/linkedservices/LinkedService858",
        "name": "LinkedService858",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "GoogleSheets",
          "typeProperties": {
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEYwMkQ2MkY0LTY3QTAtNDc1My1CQTYzLTlCMERCNjZDODExQ181ZjlkZjVkZi05MzU3LTQzZTMtODhlMS01ZmNmOWY4OTJhOGMiDQp9"
          }
        },
        "etag": "c700fe35-0000-0800-0000-6555fe8e0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1739976100",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
