{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-2bc396b1-8ad9-3144-b853-6f910349976f-2328?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1024"
      },
      "ResponseBody": {
        "name": "DataFactory-2bc396b1-8ad9-3144-b853-6f910349976f-2328",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-2bc396b1-8ad9-3144-b853-6f910349976f-2328",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:20:17.1408689Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901180b-0000-0800-0000-654726110000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-2bc396b1-8ad9-3144-b853-6f910349976f-2328/linkedservices/LinkedService2209?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DynamicsCrm",
          "typeProperties": {
            "deploymentType": "Online",
            "hostName": "hostname.com",
            "port": 1234,
            "organizationName": "contoso",
            "authenticationType": "Office365",
            "username": "fakeuser@contoso.com",
            "password": {
              "value": "fakepassword",
              "type": "SecureString"
            },
            "encryptedCredential": "fake credential"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1023"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-2bc396b1-8ad9-3144-b853-6f910349976f-2328/linkedservices/LinkedService2209",
        "name": "LinkedService2209",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "DynamicsCrm",
          "typeProperties": {
            "deploymentType": "Online",
            "hostName": "hostname.com",
            "port": 1234,
            "organizationName": "contoso",
            "authenticationType": "Office365",
            "username": "fakeuser@contoso.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEYzOTI5REU5LTFCODYtNDZENi1CMzFDLTM3QURDODhBRjQ5Rl8wMjBlMTdmOS02MGYwLTQ1OGQtOTU2ZC00ZDM0NzFlMGU0ZDIiDQp9"
          }
        },
        "etag": "0000fabb-0000-0800-0000-654726110000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "322008666",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
