{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-970c42c6-59a7-312f-a716-f05925a95dee-5530?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "name": "DataFactory-970c42c6-59a7-312f-a716-f05925a95dee-5530",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-970c42c6-59a7-312f-a716-f05925a95dee-5530",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:28:17.4792848Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9017537-0000-0800-0000-654727f10000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-970c42c6-59a7-312f-a716-f05925a95dee-5530/linkedservices/LinkedService5497?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDatabricks",
          "typeProperties": {
            "domain": "https://westeurope.azuredatabricks.net/",
            "accessToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "existingClusterId": "1215-091927-stems91"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-970c42c6-59a7-312f-a716-f05925a95dee-5530/linkedservices/LinkedService5497",
        "name": "LinkedService5497",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDatabricks",
          "typeProperties": {
            "domain": "https://westeurope.azuredatabricks.net/",
            "existingClusterId": "1215-091927-stems91",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDdCNzVDRkIxLTU1MjYtNDVBNi1BRTk1LUI1MTA3QUFGNTE2Q19mNjE3YmNhOC00YzVhLTQ5MmYtYTQ2YS1lNmQwMTIxOTI4NTIiDQp9"
          }
        },
        "etag": "4c013330-0000-0800-0000-654727f20000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "563738716",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
