{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-1447?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "566"
      },
      "ResponseBody": {
        "name": "DataFactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-1447",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-1447",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:30:57.9621024Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220502b00c-0000-0800-0000-655651d20000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-1447/linkedservices/LinkedService3722?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Quickbase",
          "typeProperties": {
            "url": "testUrl",
            "userToken": {
              "value": "FakeuerToken",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "565"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6828d5f7-5b8b-3759-a1f2-218c1349765e-1447/linkedservices/LinkedService3722",
        "name": "LinkedService3722",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Quickbase",
          "typeProperties": {
            "url": "testUrl",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEU0NzIxNUNFLTc2QzYtNDU5My1CNDI2LTRBMEZEN0NDNDM0Q18yNDRiM2ZmOS0yYzE0LTQwOTgtOTA4Yi04OTg4MmRjZDFlZWIiDQp9"
          }
        },
        "etag": "820077ee-0000-0800-0000-655651d20000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "156480814",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
