{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9392/providers/Microsoft.DataFactory/factories/DataFactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-115?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1015"
      },
      "ResponseBody": {
        "name": "DataFactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-115",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-115",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:04:14.7693692Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f40138a8-0000-0800-0000-6549e16e0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-115/linkedservices/LinkedService9740?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Eloqua",
          "typeProperties": {
            "endpoint": "eloqua.example.com",
            "username": "username",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1014"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-115/linkedservices/LinkedService9740",
        "name": "LinkedService9740",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Eloqua",
          "typeProperties": {
            "endpoint": "eloqua.example.com",
            "username": "username",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDBFN0M4RDUxLTRBQkMtNDA0Ni04MDJGLUIxRTk1OTFEQkEzMl8xMGNlMGFlNS0zYTFhLTQxZTQtYWIwMC0wNmNiYjM3OTNjNTIiDQp9"
          }
        },
        "etag": "0d0075b8-0000-0800-0000-6549e16f0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1628186543",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
