{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-886a1235-0474-305a-8f9c-344372e11e15-2516?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "803"
      },
      "ResponseBody": {
        "name": "DataFactory-886a1235-0474-305a-8f9c-344372e11e15-2516",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-2516",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:45:46.5815879Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200029839-0000-0800-0000-655600ea0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-2516/linkedservices/LinkedService7667?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "802"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-2516/linkedservices/LinkedService7667",
        "name": "LinkedService7667",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "0500c3b6-0000-0800-0000-655600eb0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-2516/linkedservices/LinkedService8935?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobFS",
          "typeProperties": {
            "url": "https://testblobfs.dfs.core.windows.net",
            "servicePrincipalId": "9c8b1ab1-a894-4639-8fb9-75f98a36e9ab",
            "servicePrincipalKey": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService7667"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            },
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "azureCloudType": "AzurePublic"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "801"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-2516/linkedservices/LinkedService8935",
        "name": "LinkedService8935",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobFS",
          "typeProperties": {
            "url": "https://testblobfs.dfs.core.windows.net",
            "servicePrincipalId": "9c8b1ab1-a894-4639-8fb9-75f98a36e9ab",
            "servicePrincipalKey": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService7667"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            },
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "azureCloudType": "AzurePublic"
          }
        },
        "etag": "0500c5b6-0000-0800-0000-655600eb0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1067369439",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
