{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7950?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "889"
      },
      "ResponseBody": {
        "name": "DataFactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7950",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7950",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:41:14.9006226Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200029e28-0000-0800-0000-6555ffda0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7950/linkedservices/LinkedService848?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "ServicePrincipalKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "888"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-92d7df34-f550-3e82-bdcf-c3eb2f84eca1-7950/linkedservices/LinkedService848",
        "name": "LinkedService848",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDU1Njg2MkVELUQ2NEItNDBFNy1CQ0Q4LTQ3NTA2RDE5NDJBQV80MzE2NGExNi0xZGZjLTRlMGItYmYyYS0yMjk0MWIwMTZlMjMiDQp9"
          }
        },
        "etag": "7b0043c9-0000-0800-0000-6555ffdb0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "655908004",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
