{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11827"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-dynamics-2343?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1050"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343",
        "name": "adf-rg-dynamics-2343",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1049"
      },
      "ResponseBody": {
        "name": "adf-dynamics-160",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-23T10:42:03.1474123Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00229f040fad-0000-0800-0000-655f2c7b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160/integrationRuntimes/adf-integrationRuntime-2133?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1048"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160/integrationruntimes/adf-integrationRuntime-2133",
        "name": "adf-integrationRuntime-2133",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "7300c021-0000-0800-0000-655f2c7b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160/linkedservices/adf_linkedservice_akv_1143?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1047"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160/linkedservices/adf_linkedservice_akv_1143",
        "name": "adf_linkedservice_akv_1143",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "7300c221-0000-0800-0000-655f2c7b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160/linkedservices/adf_linkedservice_dynamics_4655?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Dynamics",
          "typeProperties": {
            "deploymentType": "Online",
            "hostName": "hostname.com",
            "port": 1234,
            "organizationName": "contoso",
            "authenticationType": "Office365",
            "username": "fakeuser@contoso.com",
            "password": {
              "value": "fakepassword",
              "type": "SecureString"
            },
            "encryptedCredential": "fake credential"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1046"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-dynamics-2343/providers/Microsoft.DataFactory/factories/adf-dynamics-160/linkedservices/adf_linkedservice_dynamics_4655",
        "name": "adf_linkedservice_dynamics_4655",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Dynamics",
          "typeProperties": {
            "deploymentType": "Online",
            "hostName": "hostname.com",
            "port": 1234,
            "organizationName": "contoso",
            "authenticationType": "Office365",
            "username": "fakeuser@contoso.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDA2NUVERjcyLUI1MDAtNEM3MC1CNTgxLTkwNTlFM0VBM0UxRF81NzIyOWM3ZC03NGEyLTQ3ODktODMxMi1lYjk5OWY4MTQ4ODMiDQp9"
          }
        },
        "etag": "7300c421-0000-0800-0000-655f2c7c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1403124578",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
