{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9074?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1140"
      },
      "ResponseBody": {
        "name": "DataFactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9074",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9074",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:04:04.3671909Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220402d1a6-0000-0800-0000-65564b840000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9074/linkedservices/LinkedService7007?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            },
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1139"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-b7cb8eff-d967-34a4-b756-c292f83cec9d-9074/linkedservices/LinkedService7007",
        "name": "LinkedService7007",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeAnalytics",
          "typeProperties": {
            "accountName": "fake",
            "servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
            "tenant": "fake",
            "subscriptionId": "fe273844-c808-40b8-ad85-94a46f737731",
            "dataLakeAnalyticsUri": "fake.com",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDU4QzMxN0I2LTFBMkQtNDIyMy04NEI0LUE4RjNCRkE3RDYzRF85NmZlYjk0My0xN2E2LTQ3MDEtYjU1Yy00M2Y0NDM1M2E4ZTkiDQp9"
          }
        },
        "etag": "a800ea79-0000-0800-0000-65564b850000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1518123086",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
