{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "864"
      },
      "ResponseBody": {
        "name": "DataFactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:24:46.7154901Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9013c24-0000-0800-0000-6547271e0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443/integrationRuntimes/integrationRuntime6347?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "863"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443/integrationruntimes/integrationRuntime6347",
        "name": "integrationRuntime6347",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "1600cff7-0000-0800-0000-6547271f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443/linkedservices/LinkedService6048?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "862"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443/linkedservices/LinkedService6048",
        "name": "LinkedService6048",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "1600d1f7-0000-0800-0000-654727200000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443/linkedservices/LinkedService4017?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Teradata",
          "connectVia": {
            "type": "IntegrationRuntimeReference",
            "referenceName": "integrationRuntime6347"
          },
          "typeProperties": {
            "connectionString": "Sanitized",
            "username": "microsoft",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService6048"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "861"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-f07cb8e1-1eec-3adb-aace-cf0baef1203b-4443/linkedservices/LinkedService4017",
        "name": "LinkedService4017",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Teradata",
          "connectVia": {
            "type": "IntegrationRuntimeReference",
            "referenceName": "integrationRuntime6347"
          },
          "typeProperties": {
            "connectionString": "Sanitized",
            "username": "microsoft",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService6048"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "1600d4f7-0000-0800-0000-654727200000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1438353057",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
