{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-4231?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "901"
      },
      "ResponseBody": {
        "name": "DataFactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-4231",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-4231",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:40:35.7543109Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200025326-0000-0800-0000-6555ffb30000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-4231/linkedservices/LinkedService1490?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBW",
          "description": "test description",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "fakeNumber",
            "clientId": "fakeId",
            "userName": "fakeName",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "900"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-4231/linkedservices/LinkedService1490",
        "name": "LinkedService1490",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapBW",
          "description": "test description",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "fakeNumber",
            "clientId": "fakeId",
            "userName": "fakeName",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDFGMkMzNEU4LUM5NDMtNDQ5Ri1CMzM4LUFGN0I3NkFEODQ0OV8zYWY5MDJkZS0xMjg3LTQxNmMtYWIyOS0zYmUxYjJkYjliYzkiDQp9"
          }
        },
        "etag": "ab0065a5-0000-0800-0000-6555ffb40000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "998217595",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
