{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-79deecb6-198d-3fb3-b0be-837454b20101-6073?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "564"
      },
      "ResponseBody": {
        "name": "DataFactory-79deecb6-198d-3fb3-b0be-837454b20101-6073",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-79deecb6-198d-3fb3-b0be-837454b20101-6073",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:56:53.3704874Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002bc61-0000-0800-0000-655603850000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-79deecb6-198d-3fb3-b0be-837454b20101-6073/linkedservices/LinkedService9047?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "QuickBooks",
          "typeProperties": {
            "endpoint": "quickbooks.api.intuit.com",
            "companyId": "fakeCompanyId",
            "consumerKey": "fakeConsumerKey",
            "consumerSecret": {
              "value": "some secret",
              "type": "SecureString"
            },
            "accessToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "accessTokenSecret": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "563"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-79deecb6-198d-3fb3-b0be-837454b20101-6073/linkedservices/LinkedService9047",
        "name": "LinkedService9047",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "QuickBooks",
          "typeProperties": {
            "endpoint": "quickbooks.api.intuit.com",
            "companyId": "fakeCompanyId",
            "consumerKey": "fakeConsumerKey",
            "useEncryptedEndpoints": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEMwRUY1MDczLTMyNjQtNDQzQi04NDhBLUFERTE4NDVBRkNBNF80MDE4ZTg1MC01Zjc3LTQyZWItOGQ2ZC01OTVkY2JjOWE2MTAiDQp9"
          }
        },
        "etag": "d700b6e0-0000-0800-0000-655603860000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "312938375",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
