{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-1128?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "636"
      },
      "ResponseBody": {
        "name": "DataFactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-1128",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-1128",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:27:54.1743854Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220402d1ff-0000-0800-0000-6556511a0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-1128/linkedservices/LinkedService5239?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HBase",
          "typeProperties": {
            "host": "192.168.12.122",
            "httpPath": "/gateway/sandbox/hbase/version",
            "authenticationType": "Anonymous",
            "enableSsl": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "635"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-ed678cc4-f497-3828-8a44-dfa1445bedc2-1128/linkedservices/LinkedService5239",
        "name": "LinkedService5239",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HBase",
          "typeProperties": {
            "host": "192.168.12.122",
            "httpPath": "/gateway/sandbox/hbase/version",
            "authenticationType": "Anonymous",
            "enableSsl": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        },
        "etag": "86006505-0000-0800-0000-6556511a0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "44715801",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
