{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-5739?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "780"
      },
      "ResponseBody": {
        "name": "DataFactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-5739",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-5739",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:21:26.4150537Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002204029de5-0000-0800-0000-65564f960000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-5739/linkedservices/LinkedService3364?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "description": "test description",
          "typeProperties": {
            "dataLakeStoreUri": "fakeUrl",
            "servicePrincipalId": "fakeid",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "779"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-d4e8afb0-d2cd-3e29-a8e4-fa6a181520aa-5739/linkedservices/LinkedService3364",
        "name": "LinkedService3364",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "description": "test description",
          "typeProperties": {
            "dataLakeStoreUri": "fakeUrl",
            "servicePrincipalId": "fakeid",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDk5NDY4RDg1LTQzMjUtNEQ3Ri05NDRBLTgwNjk3MTA2MEE2MV8yYjU3NjA3NS1jZWM2LTRiM2UtYjc5MC04YWExOWM3NGQ5NmEiDQp9"
          }
        },
        "etag": "d900b5a2-0000-0800-0000-65564f970000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "703769687",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
