{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-2392?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "489"
      },
      "ResponseBody": {
        "name": "DataFactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-2392",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-2392",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T12:00:30.890919Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200020f6f-0000-0800-0000-6556045e0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-2392/linkedservices/LinkedService6696?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Zendesk",
          "typeProperties": {
            "authenticationType": "Token",
            "url": "testUri",
            "apiToken": {
              "value": "FakeApiToeken",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "488"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-2392/linkedservices/LinkedService6696",
        "name": "LinkedService6696",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Zendesk",
          "typeProperties": {
            "authenticationType": "Token",
            "url": "testUri",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDczQzhFMzE3LTMyQTItNDRBRi04MzEzLThGNzI4NzYwRTlEQV9hYzlhZTEyYS0zMWU5LTQ3YjEtOTk0Ny01Y2M2MjEwMjlhNjQiDQp9"
          }
        },
        "etag": "1d001f6b-0000-0800-0000-6556045f0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "795703947",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
