{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9392/providers/Microsoft.DataFactory/factories/DataFactory-777eb317-e1cc-39b0-af71-fe1bb1a59e54-988?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1094"
      },
      "ResponseBody": {
        "name": "DataFactory-777eb317-e1cc-39b0-af71-fe1bb1a59e54-988",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-777eb317-e1cc-39b0-af71-fe1bb1a59e54-988",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:00:17.2654682Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f4012290-0000-0800-0000-6549e0810000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-777eb317-e1cc-39b0-af71-fe1bb1a59e54-988/linkedservices/LinkedService9016?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1093"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-777eb317-e1cc-39b0-af71-fe1bb1a59e54-988/linkedservices/LinkedService9016",
        "name": "LinkedService9016",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "e30066ef-0000-0800-0000-6549e0820000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-777eb317-e1cc-39b0-af71-fe1bb1a59e54-988/linkedservices/LinkedService1067?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": {
              "value": "fakeConnString",
              "type": "SecureString"
            },
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9016"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1092"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-777eb317-e1cc-39b0-af71-fe1bb1a59e54-988/linkedservices/LinkedService1067",
        "name": "LinkedService1067",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9016"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "e30076ef-0000-0800-0000-6549e0820000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1916511961",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
