{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-f4177b0e-0e57-3a9a-9dcc-af832a69d6e7-2812?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "977"
      },
      "ResponseBody": {
        "name": "DataFactory-f4177b0e-0e57-3a9a-9dcc-af832a69d6e7-2812",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-f4177b0e-0e57-3a9a-9dcc-af832a69d6e7-2812",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:33:35.4010142Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9012e53-0000-0800-0000-6547292f0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-f4177b0e-0e57-3a9a-9dcc-af832a69d6e7-2812/linkedservices/LinkedService4167?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MongoDbAtlas",
          "typeProperties": {
            "connectionString": {
              "value": "mongodb://username:password@localhost:27017/?authSource=admin",
              "type": "SecureString"
            },
            "database": "database"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "976"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-f4177b0e-0e57-3a9a-9dcc-af832a69d6e7-2812/linkedservices/LinkedService4167",
        "name": "LinkedService4167",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "MongoDbAtlas",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "database": "database",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQ2NEFERTYzLTBENTEtNDczRC04NkY3LThCOEJFNEJCNTgxMV9mNGI4NmNjZi0wNWVkLTQwYzUtYWZjYy1mZmViM2IyYTVkMDciDQp9"
          }
        },
        "etag": "0b00a3c7-0000-0800-0000-654729300000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "35067471",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
