{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-507fcda4-845e-3d85-89a6-296abcceb72d-5453?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "982"
      },
      "ResponseBody": {
        "name": "DataFactory-507fcda4-845e-3d85-89a6-296abcceb72d-5453",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-5453",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:11:18.7324826Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220402f1be-0000-0800-0000-65564d360000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-5453/linkedservices/LinkedService7486?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "981"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-5453/linkedservices/LinkedService7486",
        "name": "LinkedService7486",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        },
        "etag": "180190b0-0000-0800-0000-65564d370000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-5453/linkedservices/LinkedService5601?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsightOnDemand",
          "typeProperties": {
            "clusterSize": "4",
            "timeToLive": "01:30:00",
            "version": "3.5",
            "linkedServiceName": {
              "type": "LinkedServiceReference",
              "referenceName": "LinkedService7486"
            },
            "hostSubscriptionId": "hostSubscriptionId",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            },
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "clusterResourceGroup": "ADF",
            "clusterNamePrefix": "OnDemandHdiResource",
            "headNodeSize": "HeadNode",
            "dataNodeSize": "DataNode"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "980"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-5453/linkedservices/LinkedService5601",
        "name": "LinkedService5601",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsightOnDemand",
          "typeProperties": {
            "clusterSize": "4",
            "timeToLive": "01:30:00",
            "version": "3.5",
            "linkedServiceName": {
              "type": "LinkedServiceReference",
              "referenceName": "LinkedService7486"
            },
            "hostSubscriptionId": "hostSubscriptionId",
            "servicePrincipalId": "servicePrincipalId",
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "clusterResourceGroup": "ADF",
            "clusterNamePrefix": "OnDemandHdiResource",
            "headNodeSize": "HeadNode",
            "dataNodeSize": "DataNode",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDZDQzc0NjNGLUYyMTYtNDU3NS05M0VCLTUwMjBGRTFBMDM4Ml81NTE4MWJjOS00MGU0LTQyZjEtODExOS1iMTg5YWViMjBjZWUiDQp9"
          }
        },
        "etag": "180196b0-0000-0800-0000-65564d380000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "872930950",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
