{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-3edd27fb-d710-3130-8901-5395cc5a274e-9643?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "853"
      },
      "ResponseBody": {
        "name": "DataFactory-3edd27fb-d710-3130-8901-5395cc5a274e-9643",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-3edd27fb-d710-3130-8901-5395cc5a274e-9643",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:42:50.2720101Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002d72e-0000-0800-0000-6556003a0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-3edd27fb-d710-3130-8901-5395cc5a274e-9643/linkedservices/LinkedService6552?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "typeProperties": {
            "url": "http://localhost",
            "authenticationType": "ClientCertificate"
          },
          "type": "Web"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "852"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-3edd27fb-d710-3130-8901-5395cc5a274e-9643/linkedservices/LinkedService6552",
        "name": "LinkedService6552",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "typeProperties": {
            "url": "http://localhost",
            "authenticationType": "ClientCertificate"
          },
          "type": "Web"
        },
        "etag": "0c00cb94-0000-0800-0000-6556003b0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "44847632",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
