{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-507fcda4-845e-3d85-89a6-296abcceb72d-3687?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "982"
      },
      "ResponseBody": {
        "name": "DataFactory-507fcda4-845e-3d85-89a6-296abcceb72d-3687",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-3687",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:36:28.3863035Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200022617-0000-0800-0000-6555febc0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-3687/linkedservices/LinkedService3080?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "981"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-3687/linkedservices/LinkedService3080",
        "name": "LinkedService3080",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        },
        "etag": "4801da73-0000-0800-0000-6555febd0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-3687/linkedservices/LinkedService7487?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsightOnDemand",
          "typeProperties": {
            "clusterSize": "4",
            "timeToLive": "01:30:00",
            "version": "3.5",
            "linkedServiceName": {
              "type": "LinkedServiceReference",
              "referenceName": "LinkedService3080"
            },
            "hostSubscriptionId": "hostSubscriptionId",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            },
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "clusterResourceGroup": "ADF",
            "clusterNamePrefix": "OnDemandHdiResource",
            "headNodeSize": "HeadNode",
            "dataNodeSize": "DataNode"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "980"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-3687/linkedservices/LinkedService7487",
        "name": "LinkedService7487",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsightOnDemand",
          "typeProperties": {
            "clusterSize": "4",
            "timeToLive": "01:30:00",
            "version": "3.5",
            "linkedServiceName": {
              "type": "LinkedServiceReference",
              "referenceName": "LinkedService3080"
            },
            "hostSubscriptionId": "hostSubscriptionId",
            "servicePrincipalId": "servicePrincipalId",
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "clusterResourceGroup": "ADF",
            "clusterNamePrefix": "OnDemandHdiResource",
            "headNodeSize": "HeadNode",
            "dataNodeSize": "DataNode",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDFDNDRENTY1LUNGNTYtNDk0Ny04OEZCLTJCOTUxQTg4M0I0QV9mMTcwODk1Zi01NWMxLTQ5MGYtYWY3YS00YzRmODBlM2ZiNGQiDQp9"
          }
        },
        "etag": "4801de73-0000-0800-0000-6555febd0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2099346825",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
