{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-650e9414-aab3-3170-873e-210ec7edcf7c-4741?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "964"
      },
      "ResponseBody": {
        "name": "DataFactory-650e9414-aab3-3170-873e-210ec7edcf7c-4741",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-650e9414-aab3-3170-873e-210ec7edcf7c-4741",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:12:10.7910331Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220402c9c1-0000-0800-0000-65564d6a0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-650e9414-aab3-3170-873e-210ec7edcf7c-4741/linkedservices/LinkedService3509?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "963"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-650e9414-aab3-3170-873e-210ec7edcf7c-4741/linkedservices/LinkedService3509",
        "name": "LinkedService3509",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "890082c1-0000-0800-0000-65564d6b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-650e9414-aab3-3170-873e-210ec7edcf7c-4741/linkedservices/LinkedService3745?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MariaDB",
          "typeProperties": {
            "connectionString": {
              "value": "some connnection secret",
              "type": "SecureString"
            },
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService3509"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "962"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-650e9414-aab3-3170-873e-210ec7edcf7c-4741/linkedservices/LinkedService3745",
        "name": "LinkedService3745",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "MariaDB",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService3509"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "890084c1-0000-0800-0000-65564d6c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "814479904",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
