{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-ae3417fe-37fe-358b-852d-b2b4e659e1e9-1646?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "487"
      },
      "ResponseBody": {
        "name": "DataFactory-ae3417fe-37fe-358b-852d-b2b4e659e1e9-1646",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-ae3417fe-37fe-358b-852d-b2b4e659e1e9-1646",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T12:00:39.1411731Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002946f-0000-0800-0000-655604670000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-ae3417fe-37fe-358b-852d-b2b4e659e1e9-1646/linkedservices/LinkedService7094?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Zoho",
          "typeProperties": {
            "endpoint": "crm.zoho.com/crm/private",
            "accessToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "486"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-ae3417fe-37fe-358b-852d-b2b4e659e1e9-1646/linkedservices/LinkedService7094",
        "name": "LinkedService7094",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Zoho",
          "typeProperties": {
            "endpoint": "crm.zoho.com/crm/private",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEU1OTMyRkM4LUQ0M0MtNEY0Qi1CNTI5LUIyRjhDNkNCM0UzOV9lYjQ1OTFiMy01OGI4LTQ1MjAtYTcwZC1jM2M5ZjA1MWVhMzgiDQp9"
          }
        },
        "etag": "3a003d5c-0000-0800-0000-655604670000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1760031726",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
