{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-3867?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "657"
      },
      "ResponseBody": {
        "name": "DataFactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-3867",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-3867",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:52:40.9099564Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200020452-0000-0800-0000-655602880000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-3867/linkedservices/LinkedService4438?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Eloqua",
          "typeProperties": {
            "endpoint": "eloqua.example.com",
            "username": "username",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "656"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-60cc280a-b45e-33c6-a3e6-75c06f71196e-3867/linkedservices/LinkedService4438",
        "name": "LinkedService4438",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Eloqua",
          "typeProperties": {
            "endpoint": "eloqua.example.com",
            "username": "username",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEYxNjc3QjFGLTBFQUEtNEY5OS05NzFBLTRCMDlEQUE5RTY2QV8yMGY1YmVlMi00MWRmLTQ4YmItODhiMy1lMTI3YWM3NWM1ZWEiDQp9"
          }
        },
        "etag": "2b008caf-0000-0800-0000-6556028a0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1887063557",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
