{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-8f788a16-a8fc-364a-aef0-7a38e43a64df-4689?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "938"
      },
      "ResponseBody": {
        "name": "DataFactory-8f788a16-a8fc-364a-aef0-7a38e43a64df-4689",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-8f788a16-a8fc-364a-aef0-7a38e43a64df-4689",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:34:34.5947839Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901cf58-0000-0800-0000-6547296a0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-8f788a16-a8fc-364a-aef0-7a38e43a64df-4689/linkedservices/LinkedService2572?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "937"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-8f788a16-a8fc-364a-aef0-7a38e43a64df-4689/linkedservices/LinkedService2572",
        "name": "LinkedService2572",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "1200593d-0000-0800-0000-6547296b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-8f788a16-a8fc-364a-aef0-7a38e43a64df-4689/linkedservices/LinkedService3286?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Salesforce",
          "description": "test description",
          "typeProperties": {
            "environmentUrl": "Uri",
            "username": "admin",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService2572"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            },
            "securityToken": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService2572"
              },
              "secretName": "fakeSecretName2",
              "type": "AzureKeyVaultSecret"
            },
            "apiVersion": "27.0"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "936"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-8f788a16-a8fc-364a-aef0-7a38e43a64df-4689/linkedservices/LinkedService3286",
        "name": "LinkedService3286",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Salesforce",
          "description": "test description",
          "typeProperties": {
            "environmentUrl": "Uri",
            "username": "admin",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService2572"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            },
            "securityToken": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService2572"
              },
              "secretName": "fakeSecretName2",
              "type": "AzureKeyVaultSecret"
            },
            "apiVersion": "27.0"
          }
        },
        "etag": "12005b3d-0000-0800-0000-6547296c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1139447926",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
