{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-e095b9c4-40b2-3a9b-9624-c5e95eee5a1d-5329?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "545"
      },
      "ResponseBody": {
        "name": "DataFactory-e095b9c4-40b2-3a9b-9624-c5e95eee5a1d-5329",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-e095b9c4-40b2-3a9b-9624-c5e95eee5a1d-5329",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:29:06.7874851Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f5014c36-0000-0800-0000-6549e7420000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-e095b9c4-40b2-3a9b-9624-c5e95eee5a1d-5329/linkedservices/LinkedService3643?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SalesforceServiceCloud",
          "description": "test description",
          "typeProperties": {
            "environmentUrl": "Uri",
            "username": "admin",
            "password": {
              "value": "fakepassword",
              "type": "SecureString"
            },
            "securityToken": {
              "value": "faketoken",
              "type": "SecureString"
            },
            "apiVersion": "27.0"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "544"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-e095b9c4-40b2-3a9b-9624-c5e95eee5a1d-5329/linkedservices/LinkedService3643",
        "name": "LinkedService3643",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SalesforceServiceCloud",
          "description": "test description",
          "typeProperties": {
            "environmentUrl": "Uri",
            "username": "admin",
            "apiVersion": "27.0",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDA0RkU5QzhCLTNBRUYtNDhFNC05Qzc0LTdEQzc2MUVGRDRGMV8xMmY1NzI4MC0wZGVkLTRmMGItYjZkNy1hOWYxZmJjNGY3MTkiDQp9"
          }
        },
        "etag": "2d0023cc-0000-0800-0000-6549e7440000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1183737208",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
