{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-be98a759-8281-39c4-9d14-20752c7d9b5e-2797?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "829"
      },
      "ResponseBody": {
        "name": "DataFactory-be98a759-8281-39c4-9d14-20752c7d9b5e-2797",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-be98a759-8281-39c4-9d14-20752c7d9b5e-2797",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:44:37.1740842Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002200024f35-0000-0800-0000-655600a50000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-be98a759-8281-39c4-9d14-20752c7d9b5e-2797/linkedservices/LinkedService1899?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonMWS",
          "typeProperties": {
            "endpoint": "mws,amazonservices.com",
            "marketplaceID": "A2EUQ1WTGCTBG2",
            "sellerID": "ACGMZIK6QTD9T",
            "mwsAuthToken": {
              "value": "fakeMwsAuthToken",
              "type": "SecureString"
            },
            "accessKeyId": "128393242334",
            "secretKey": {
              "value": "fakeSecretKey",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "828"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-be98a759-8281-39c4-9d14-20752c7d9b5e-2797/linkedservices/LinkedService1899",
        "name": "LinkedService1899",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AmazonMWS",
          "typeProperties": {
            "endpoint": "mws,amazonservices.com",
            "marketplaceID": "A2EUQ1WTGCTBG2",
            "sellerID": "ACGMZIK6QTD9T",
            "accessKeyId": "128393242334",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEUyODVGQUFBLTgwRDctNDkzQy1CQTFFLTZERDY1Q0UwQUI4N18yYTRlNDlkOS0yYTA5LTQzNmMtYTBlMy02NzUyOTZkNTVkOWMiDQp9"
          }
        },
        "etag": "471008e8-0000-0800-0000-655600a60000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "447889580",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
