{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/adf-rg-azuresql-9662?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662",
        "name": "adf-rg-azuresql-9662",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "adf-azuresql-3224",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2024-04-23T08:12:37.7663556Z",
          "version": "2018-06-01"
        },
        "eTag": "\"490008b7-0000-0800-0000-66276d750000\"",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224/integrationRuntimes/adf-integrationRuntime-8022?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224/integrationruntimes/adf-integrationRuntime-8022",
        "name": "adf-integrationRuntime-8022",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "f50127ff-0000-0800-0000-66276d780000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224/linkedservices/adf_linkedservice_akv_6992?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224/linkedservices/adf_linkedservice_akv_6992",
        "name": "adf_linkedservice_akv_6992",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "f5012cff-0000-0800-0000-66276d790000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224/linkedservices/adf_linkedservice_azuresql_6668?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": {
              "value": "Server=myServerAddress.mysql.database.azure.com;Port=3306;Database=myDataBase;Uid=myUsername@myServerAddress;Pwd=myPassword;SslMode=Required;",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/adf-rg-azuresql-9662/providers/Microsoft.DataFactory/factories/adf-azuresql-3224/linkedservices/adf_linkedservice_azuresql_6668",
        "name": "adf_linkedservice_azuresql_6668",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "encryptedCredential": "Sanitized"
          }
        },
        "etag": "f5012fff-0000-0800-0000-66276d7a0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "a0124637-d34e-4d32-a623-9f47f054f162",
    "RandomSeed": "1908623147",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
