{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-4317/providers/Microsoft.DataFactory/factories/DataFactory-3e51397c-f0d9-3d95-93dc-86882a6fe422-6601?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "986"
      },
      "ResponseBody": {
        "name": "DataFactory-3e51397c-f0d9-3d95-93dc-86882a6fe422-6601",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-3e51397c-f0d9-3d95-93dc-86882a6fe422-6601",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:36:21.0059416Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002b616-0000-0800-0000-6555feb50000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-3e51397c-f0d9-3d95-93dc-86882a6fe422-6601/linkedservices/LinkedService6378?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "985"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-3e51397c-f0d9-3d95-93dc-86882a6fe422-6601/linkedservices/LinkedService6378",
        "name": "LinkedService6378",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEMyQTJGRjE3LThGQzctNEMzOS04NURELTJEMjNBMzIyMkEzNV8zYTliNjFkZS03M2U0LTQ0ZTAtODk5NC01ZmI5OWUwMWRhYzYiDQp9"
          }
        },
        "etag": "74009122-0000-0800-0000-6555feb50000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-4317/providers/Microsoft.DataFactory/factories/datafactory-3e51397c-f0d9-3d95-93dc-86882a6fe422-6601/linkedservices/LinkedService5295?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
    [...]
