{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9392/providers/Microsoft.DataFactory/factories/DataFactory-eba736f0-42db-3556-a760-1606e88fe50b-1493?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "855"
      },
      "ResponseBody": {
        "name": "DataFactory-eba736f0-42db-3556-a760-1606e88fe50b-1493",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-eba736f0-42db-3556-a760-1606e88fe50b-1493",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:12:38.9752567Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f401dcda-0000-0800-0000-6549e3670000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-eba736f0-42db-3556-a760-1606e88fe50b-1493/linkedservices/LinkedService4298?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "typeProperties": {
            "url": "http://localhost",
            "authenticationType": "ClientCertificate"
          },
          "type": "Web"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "854"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-eba736f0-42db-3556-a760-1606e88fe50b-1493/linkedservices/LinkedService4298",
        "name": "LinkedService4298",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "typeProperties": {
            "url": "http://localhost",
            "authenticationType": "ClientCertificate"
          },
          "type": "Web"
        },
        "etag": "03009074-0000-0800-0000-6549e3670000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1667453067",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
