{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-fa54e8ac-5d8c-3a0e-b0bd-a614e4cea479-2883?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1164"
      },
      "ResponseBody": {
        "name": "DataFactory-fa54e8ac-5d8c-3a0e-b0bd-a614e4cea479-2883",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-fa54e8ac-5d8c-3a0e-b0bd-a614e4cea479-2883",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:02:50.379321Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040241a2-0000-0800-0000-65564b3a0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-fa54e8ac-5d8c-3a0e-b0bd-a614e4cea479-2883/linkedservices/LinkedService4145?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1163"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-fa54e8ac-5d8c-3a0e-b0bd-a614e4cea479-2883/linkedservices/LinkedService4145",
        "name": "LinkedService4145",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDg1NEMxQkNDLTcyNTctNDQyNS1BNDA3LTAyQzI1RDMxQ0IxOV8yY2VlNmZiOC1hMjE0LTRiNGEtYWY2OC00MmMzMmNkZGM3ZjUiDQp9"
          }
        },
        "etag": "2100efd9-0000-0800-0000-65564b3b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-fa54e8ac-5d8c-3a0e-b0bd-a614e4cea479-2883/linkedservices/LinkedService4033?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBatch",
          "typeProperties": {
            "accountName": {
              "value": "parameters",
              "type": "SecureString"
            },
            "accessKey": {
              "value": "fakeAccesskey",
              "type": "SecureString"
            },
            "batchUri": "myaccount.region.batch.windows.com",
            "poolName": "myPoolname",
            "linkedServiceName": {
              "type": "LinkedServiceReference",
              "referenceName": "LinkedService4145"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1162"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-fa54e8ac-5d8c-3a0e-b0bd-a614e4cea479-2883/linkedservices/Link[...]
