{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9392/providers/Microsoft.DataFactory/factories/DataFactory-6faef100-f71a-3b6e-9d0c-8f1e014b6f4e-9286?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "948"
      },
      "ResponseBody": {
        "name": "DataFactory-6faef100-f71a-3b6e-9d0c-8f1e014b6f4e-9286",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-6faef100-f71a-3b6e-9d0c-8f1e014b6f4e-9286",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:07:48.3881768Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f40189bd-0000-0800-0000-6549e2440000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-6faef100-f71a-3b6e-9d0c-8f1e014b6f4e-9286/linkedservices/LinkedService6328?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "947"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-6faef100-f71a-3b6e-9d0c-8f1e014b6f4e-9286/linkedservices/LinkedService6328",
        "name": "LinkedService6328",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "0000a686-0000-0800-0000-6549e2450000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-6faef100-f71a-3b6e-9d0c-8f1e014b6f4e-9286/linkedservices/LinkedService5276?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Netezza",
          "typeProperties": {
            "connectionString": {
              "value": "some connection string",
              "type": "SecureString"
            },
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService6328"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "946"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-6faef100-f71a-3b6e-9d0c-8f1e014b6f4e-9286/linkedservices/LinkedService5276",
        "name": "LinkedService5276",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Netezza",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService6328"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "0000a886-0000-0800-0000-6549e2460000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1456622098",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
