{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9392/providers/Microsoft.DataFactory/factories/DataFactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-8494?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "847"
      },
      "ResponseBody": {
        "name": "DataFactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-8494",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-8494",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:13:05.4715689Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f40142dd-0000-0800-0000-6549e3810000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-8494/linkedservices/LinkedService214?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Zendesk",
          "typeProperties": {
            "authenticationType": "Token",
            "url": "testUri",
            "apiToken": {
              "value": "FakeApiToeken",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "846"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-475b68e2-e28e-3f21-a9ad-2e7cf87f0e85-8494/linkedservices/LinkedService214",
        "name": "LinkedService214",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Zendesk",
          "typeProperties": {
            "authenticationType": "Token",
            "url": "testUri",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDIxRjA3QUE0LUM3M0YtNDVBQy05MTA0LTdENzAxM0EzMjk2Ql80ZjlkYWUwZC03MjM3LTRiYTQtYjk2Yi01MDg4N2QwMzVmMTciDQp9"
          }
        },
        "etag": "3d005782-0000-0800-0000-6549e3820000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1702505606",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
