{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-5834?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1172"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5834",
        "name": "DataFactory-RG-5834",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5834/providers/Microsoft.Storage/storageAccounts/datafactory3047?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/d014368c-635b-45fc-94a9-d7a318458131?monitor=true\u0026api-version=2022-09-01\u0026t=638357861325892388\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pb[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/d014368c-635b-45fc-94a9-d7a318458131?monitor=true\u0026api-version=2022-09-01\u0026t=638357861325892388\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVh[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/d014368c-635b-45fc-94a9-d7a318458131?monitor=true\u0026api-version=2022-09-01\u0026t=638357861329173853\u0026c=MIIHHjCCBgagAwIBAgITOgI9LlF5jGEEQe1CmgAEAj0uUTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMjE0OTQ5WhcNMjQxMDI2MjE0OTQ5WjBAMT4wPAYDVQQDEzVh[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5834/providers/Microsoft.Storage/storageAccounts/datafactory3047/listKeys?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11993"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2023-11-17T02:48:49.8402750Z",
            "keyName": "key1",
            "value": "Sanitized",
            "permissions": "FULL"
          },
          {
            "creationTime": "2023-11-17T02:48:49.8402750Z",
            "keyName": "key2",
            "value": "Sanitized",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5834/providers/Microsoft.DataFactory/factories/DataFactory-7640?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1170"
      },
      "ResponseBody": {
        "name": "DataFactory-7640",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5834/providers/Microsoft.DataFactory/factories/datafactory-7640",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-17T02:49:12.7264042Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002282034889-0000-0800-0000-6556d4a80000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5834/providers/Microsoft.DataFactory/factories/datafactory-7640/linkedservices/LinkedService8532?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5834/providers/Microsoft.DataFactory/factories/datafactory-7640/linkedservices/LinkedService8532",
        "name": "LinkedService8532",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "530024ae-0000-0800-0000-6556d4a90000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5834/providers/Microsoft.DataFactory/factories/datafactory-7640/linkedservices/LinkedService8869?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": {
              "value": "fakestring",
              "type": "SecureString"
            },
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService8532"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1168"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5834/providers/Microsoft.DataFactory/factories/datafactory-7640/linkedservices/LinkedService8869",
        "name": "LinkedService8869",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureMySql",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService8532"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "530026ae-0000-0800-0000-6556d4aa0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1415966621",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
