{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-f0104ed4-f5f8-3ff8-b130-d3b654ae389e-2676?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "786"
      },
      "ResponseBody": {
        "name": "DataFactory-f0104ed4-f5f8-3ff8-b130-d3b654ae389e-2676",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-f0104ed4-f5f8-3ff8-b130-d3b654ae389e-2676",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:21:07.4207913Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002204025ce4-0000-0800-0000-65564f830000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-f0104ed4-f5f8-3ff8-b130-d3b654ae389e-2676/linkedservices/LinkedService6451?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDatabricksDeltaLake",
          "typeProperties": {
            "domain": "https://westeurope.azuredatabricks.net/",
            "accessToken": {
              "value": "mykey",
              "type": "SecureString"
            },
            "clusterId": "0714-063833-cleat653"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "785"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-f0104ed4-f5f8-3ff8-b130-d3b654ae389e-2676/linkedservices/LinkedService6451",
        "name": "LinkedService6451",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDatabricksDeltaLake",
          "typeProperties": {
            "domain": "https://westeurope.azuredatabricks.net/",
            "clusterId": "0714-063833-cleat653",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEVBQjU4RTNFLUIyOEQtNDA3Ri05N0NELTEyRTc1OEZFMjdGRF9hYmMxMzIzMS1mYjIwLTQ4MTMtYWFiYi1jOTkwMmNhMGJkNGIiDQp9"
          }
        },
        "etag": "41009dc0-0000-0800-0000-65564f840000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "92622829",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
