{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-507fcda4-845e-3d85-89a6-296abcceb72d-6014?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "624"
      },
      "ResponseBody": {
        "name": "DataFactory-507fcda4-845e-3d85-89a6-296abcceb72d-6014",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-6014",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:54:08.9437295Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002ab57-0000-0800-0000-655602e00000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-6014/linkedservices/LinkedService3799?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "623"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-6014/linkedservices/LinkedService3799",
        "name": "LinkedService3799",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsight",
          "typeProperties": {
            "clusterUri": "https://test.azurehdinsight.net"
          }
        },
        "etag": "5c00fdf7-0000-0800-0000-655602e10000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-6014/linkedservices/LinkedService953?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HDInsightOnDemand",
          "typeProperties": {
            "clusterSize": "4",
            "timeToLive": "01:30:00",
            "version": "3.5",
            "linkedServiceName": {
              "type": "LinkedServiceReference",
              "referenceName": "LinkedService3799"
            },
            "hostSubscriptionId": "hostSubscriptionId",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "fakeKey",
              "type": "SecureString"
            },
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "clusterResourceGroup": "ADF",
            "clusterNamePrefix": "OnDemandHdiResource",
            "headNodeSize": "HeadNode",
            "dataNodeSize": "DataNode"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "622"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-507fcda4-845e-3d85-89a6-296abcceb72d-6014/linkedservices/LinkedService953",
        "name": "LinkedService953",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "HDInsightOnDemand",
          "typeProperties": {
            "clusterSize": "4",
            "timeToLive": "01:30:00",
            "version": "3.5",
            "linkedServiceName": {
              "type": "LinkedServiceReference",
              "referenceName": "LinkedService3799"
            },
            "hostSubscriptionId": "hostSubscriptionId",
            "servicePrincipalId": "servicePrincipalId",
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "clusterResourceGroup": "ADF",
            "clusterNamePrefix": "OnDemandHdiResource",
            "headNodeSize": "HeadNode",
            "dataNodeSize": "DataNode",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDYzMzQxRjQ1LUEyQjQtNDhGMi1CMUFGLUYwNUU1MzY0NkE5N19kYzkyN2U2My1lZDY3LTRmMzItYjkzYS1iOWYxNGRlZDlkNzciDQp9"
          }
        },
        "etag": "5c0001f8-0000-0800-0000-655602e20000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "858107838",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
