{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10975"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/DataFactory-RG-4191?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1128"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4191",
        "name": "DataFactory-RG-4191",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4191/providers/Microsoft.Storage/storageAccounts/datafactory9234?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/180f24d3-862a-4d74-8272-c311e8c7020c?monitor=true\u0026api-version=2022-09-01\u0026t=638357962240234165\u0026c=MIIHHjCCBgagAwIBAgITOgI8aT4Zz4IgkFlLcAAEAjxpPjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMDMyMzA3WhcNMjQxMDI2MDMyMzA3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pb[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/180f24d3-862a-4d74-8272-c311e8c7020c?monitor=true\u0026api-version=2022-09-01\u0026t=638357962240234165\u0026c=MIIHHjCCBgagAwIBAgITOgI8aT4Zz4IgkFlLcAAEAjxpPjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMDMyMzA3WhcNMjQxMDI2MDMyMzA3WjBAMT4wPAYDVQQDEzVh[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/providers/Microsoft.Storage/locations/westus2/asyncoperations/180f24d3-862a-4d74-8272-c311e8c7020c?monitor=true\u0026api-version=2022-09-01\u0026t=638357962243358922\u0026c=MIIHHjCCBgagAwIBAgITOgI8aT4Zz4IgkFlLcAAEAjxpPjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMxMTAxMDMyMzA3WhcNMjQxMDI2MDMyMzA3WjBAMT4wPAYDVQQDEzVh[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4191/providers/Microsoft.Storage/storageAccounts/datafactory9234/listKeys?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11983"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2023-11-17T05:37:01.4159029Z",
            "keyName": "key1",
            "value": "Sanitized",
            "permissions": "FULL"
          },
          {
            "creationTime": "2023-11-17T05:37:01.4159029Z",
            "keyName": "key2",
            "value": "Sanitized",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-4191/providers/Microsoft.DataFactory/factories/DataFactory-7115?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1126"
      },
      "ResponseBody": {
        "name": "DataFactory-7115",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4191/providers/Microsoft.DataFactory/factories/datafactory-7115",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-17T05:37:23.928904Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002286032faf-0000-0800-0000-6556fc130000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4191/providers/Microsoft.DataFactory/factories/datafactory-7115/linkedservices/LinkedService2177?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonMWS",
          "typeProperties": {
            "endpoint": "mws,amazonservices.com",
            "marketplaceID": "A2EUQ1WTGCTBG2",
            "sellerID": "ACGMZIK6QTD9T",
            "mwsAuthToken": {
              "value": "fakeMwsAuthToken",
              "type": "SecureString"
            },
            "accessKeyId": "128393242334",
            "secretKey": {
              "value": "fakeSecretKey",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1125"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-4191/providers/Microsoft.DataFactory/factories/datafactory-7115/linkedservices/LinkedService2177",
        "name": "LinkedService2177",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AmazonMWS",
          "typeProperties": {
            "endpoint": "mws,amazonservices.com",
            "marketplaceID": "A2EUQ1WTGCTBG2",
            "sellerID": "ACGMZIK6QTD9T",
            "accessKeyId": "128393242334",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEFDNjY0NjY3LTVENTAtNEI2RS04QjM1LTIxNDRFMzhGQTM5N19lMGE4MGYzMy0yNDMxLTQwNzEtYjM3MC03MDY1MDUxNzQ5YTYiDQp9"
          }
        },
        "etag": "5400fc61-0000-0800-0000-6556fc140000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1928324006",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
