{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-2577?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "617"
      },
      "ResponseBody": {
        "name": "DataFactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-2577",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-2577",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:25:21.6253928Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f5017722-0000-0800-0000-6549e6610000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-2577/linkedservices/LinkedService9208?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "192.168.12.122",
            "authenticationType": "Anonymous",
            "username": "",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            },
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "616"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-2577/linkedservices/LinkedService9208",
        "name": "LinkedService9208",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "192.168.12.122",
            "authenticationType": "Anonymous",
            "username": "",
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEE4NkQ1RUMzLTI0MEUtNDg3Mi05NEM2LTA5QzIxN0VBNTVCMF8yMzc0ZDVkOS1kZjQ2LTQwMDYtODczMi1iOGI1MDQ3ZmFkZGMiDQp9"
          }
        },
        "etag": "2000e9e5-0000-0800-0000-6549e6620000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1032972463",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
