{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-3c5a865e-4ed2-3b5a-aa19-72b2267b0864-453?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "651"
      },
      "ResponseBody": {
        "name": "DataFactory-3c5a865e-4ed2-3b5a-aa19-72b2267b0864-453",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-3c5a865e-4ed2-3b5a-aa19-72b2267b0864-453",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:23:39.4229416Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f501fa19-0000-0800-0000-6549e5fb0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-3c5a865e-4ed2-3b5a-aa19-72b2267b0864-453/linkedservices/LinkedService2351?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "FtpServer",
          "description": "test description",
          "typeProperties": {
            "host": "fakeHost",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "650"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-3c5a865e-4ed2-3b5a-aa19-72b2267b0864-453/linkedservices/LinkedService2351",
        "name": "LinkedService2351",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "FtpServer",
          "description": "test description",
          "typeProperties": {
            "host": "fakeHost",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEQ1MEUxRjc0LTMxMjItNEE3Ni1CRjFFLTk2QzVFNzc0MUFGRl80NjI4YzcwYi1jNzJkLTQyMjUtYjY0OC0zMmUwZDE0MWIxNDQiDQp9"
          }
        },
        "etag": "0c00be51-0000-0800-0000-6549e5fc0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1175815625",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
