{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1037"
      },
      "ResponseBody": {
        "name": "DataFactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:20:00.6196426Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901ba09-0000-0800-0000-654726000000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550/integrationRuntimes/integrationRuntime5984?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1036"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550/integrationruntimes/integrationRuntime5984",
        "name": "integrationRuntime5984",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "0b00ffb8-0000-0800-0000-654726010000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550/linkedservices/LinkedService9222?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1035"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550/linkedservices/LinkedService9222",
        "name": "LinkedService9222",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "0b0001b9-0000-0800-0000-654726020000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550/linkedservices/LinkedService5059?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Dynamics",
          "connectVia": {
            "type": "IntegrationRuntimeReference",
            "referenceName": "integrationRuntime5984"
          },
          "typeProperties": {
            "deploymentType": "Online",
            "authenticationType": "Office365",
            "username": "admin",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9222"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1034"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-d45a4dbc-e41e-3d30-87a5-fd7e88cde9ad-550/linkedservices/LinkedService5059",
        "name": "LinkedService5059",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Dynamics",
          "connectVia": {
            "type": "IntegrationRuntimeReference",
            "referenceName": "integrationRuntime5984"
          },
          "typeProperties": {
            "deploymentType": "Online",
            "authenticationType": "Office365",
            "username": "admin",
            "password": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9222"
              },
              "secretName": "fakeSecretName",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "0b0003b9-0000-0800-0000-654726020000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2085323061",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
