{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-aa351821-6bb2-3071-a32e-88445027ee79-3942?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "882"
      },
      "ResponseBody": {
        "name": "DataFactory-aa351821-6bb2-3071-a32e-88445027ee79-3942",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-aa351821-6bb2-3071-a32e-88445027ee79-3942",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:36:07.6485837Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901c461-0000-0800-0000-654729c70000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-aa351821-6bb2-3071-a32e-88445027ee79-3942/linkedservices/LinkedService2170?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "881"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-aa351821-6bb2-3071-a32e-88445027ee79-3942/linkedservices/LinkedService2170",
        "name": "LinkedService2170",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "ad001473-0000-0800-0000-654729c80000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-aa351821-6bb2-3071-a32e-88445027ee79-3942/linkedservices/LinkedService7334?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Vertica",
          "typeProperties": {
            "connectionString": {
              "value": "some connection string",
              "type": "SecureString"
            },
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService2170"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "880"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-aa351821-6bb2-3071-a32e-88445027ee79-3942/linkedservices/LinkedService7334",
        "name": "LinkedService7334",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Vertica",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "pwd": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService2170"
              },
              "secretName": "fakeSecretName1",
              "type": "AzureKeyVaultSecret"
            }
          }
        },
        "etag": "ad001673-0000-0800-0000-654729c80000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1922000147",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
