{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-2510?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "740"
      },
      "ResponseBody": {
        "name": "DataFactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-2510",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-2510",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:23:17.9294944Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002204024ced-0000-0800-0000-655650050000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-2510/linkedservices/LinkedService7301?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": {
              "value": "Server=tcp:myServerAddress.database.windows.net,1433;Database=myDataBase;User ID=myUsername;Password=myPassword;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;",
              "type": "SecureString"
            },
            "azureCloudType": "AzurePublic"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "739"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-453e8dfe-a535-310b-a9c0-2a227715bcd4-2510/linkedservices/LinkedService7301",
        "name": "LinkedService7301",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureSqlDatabase",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "azureCloudType": "AzurePublic",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDZGMjkxNUYzLTg2OEYtNDYwOS1CRDk3LURGQjVBRDExMDUyQV9hZTBhMDUwMy01NDQzLTQzZTktYjYwZS00ZDhlYmQ2NDdiNGYiDQp9"
          }
        },
        "etag": "3000e48a-0000-0800-0000-655650060000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "60190752",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
