{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-65034b2e-f1cc-39b1-a223-4e70bd9bd905-121?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "961"
      },
      "ResponseBody": {
        "name": "DataFactory-65034b2e-f1cc-39b1-a223-4e70bd9bd905-121",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-65034b2e-f1cc-39b1-a223-4e70bd9bd905-121",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:21:58.0593555Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9019b14-0000-0800-0000-654726760000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-65034b2e-f1cc-39b1-a223-4e70bd9bd905-121/linkedservices/LinkedService9423?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Marketo",
          "typeProperties": {
            "endpoint": "123-ABC-321.mktorest.com",
            "clientId": "fakeClientId",
            "clientSecret": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "960"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-65034b2e-f1cc-39b1-a223-4e70bd9bd905-121/linkedservices/LinkedService9423",
        "name": "LinkedService9423",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Marketo",
          "typeProperties": {
            "endpoint": "123-ABC-321.mktorest.com",
            "clientId": "fakeClientId",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDExRTY0OTg3LUE0QjMtNEQyQS1BNUYxLUQ1MDk2N0UxRDA3NV8zYzc2MjVhNy1jZjRmLTQ2MWItYWVhYi1jNmYxYjZiNTIwOGEiDQp9"
          }
        },
        "etag": "10008218-0000-0800-0000-654726760000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "649819002",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
