{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-c11a6cf2-3b32-3e76-8e31-e9f73c351a87-7614?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "970"
      },
      "ResponseBody": {
        "name": "DataFactory-c11a6cf2-3b32-3e76-8e31-e9f73c351a87-7614",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-c11a6cf2-3b32-3e76-8e31-e9f73c351a87-7614",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:11:51.8392955Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220402d3c0-0000-0800-0000-65564d570000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-c11a6cf2-3b32-3e76-8e31-e9f73c351a87-7614/linkedservices/LinkedService4159?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Jira",
          "typeProperties": {
            "host": "192.168.12.122",
            "port": 1000,
            "username": "skroob",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "969"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-c11a6cf2-3b32-3e76-8e31-e9f73c351a87-7614/linkedservices/LinkedService4159",
        "name": "LinkedService4159",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Jira",
          "typeProperties": {
            "host": "192.168.12.122",
            "port": 1000,
            "username": "skroob",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDgxQzIzNzhGLUNBRjAtNDgwMS05RTk4LUFBNkExNjM1QjQwRl85N2MzZDMyNi02MmNlLTQzMjQtYTA5YS0zZThlYzM4MThkOTkiDQp9"
          }
        },
        "etag": "6800c512-0000-0800-0000-65564d580000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "181410325",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
