{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-9076?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "895"
      },
      "ResponseBody": {
        "name": "DataFactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-9076",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-9076",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:15:24.4979672Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040229cd-0000-0800-0000-65564e2c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-9076/linkedservices/LinkedService8927?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "fakeserver",
            "systemNumber": "00",
            "clientId": "000",
            "userName": "user",
            "password": {
              "value": "fakepwd",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "894"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-e97c21ab-8ff1-3c32-a552-351a0a17823b-9076/linkedservices/LinkedService8927",
        "name": "LinkedService8927",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "fakeserver",
            "systemNumber": "00",
            "clientId": "000",
            "userName": "user",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDUyNDFDRDlBLUM4OTQtNEI4RC1BQUFFLTUwQTg1RkM1RUNBMF82MmNlZmQ5Yi0zMTM0LTQ5N2EtYjQ4OS03Y2FmNmI2MzNkMTEiDQp9"
          }
        },
        "etag": "9a024644-0000-0800-0000-65564e2e0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1336248176",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
