{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-886a1235-0474-305a-8f9c-344372e11e15-1692?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "name": "DataFactory-886a1235-0474-305a-8f9c-344372e11e15-1692",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-1692",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:28:02.1134541Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9010b36-0000-0800-0000-654727e20000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-1692/linkedservices/LinkedService9390?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-1692/linkedservices/LinkedService9390",
        "name": "LinkedService9390",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "0500a961-0000-0800-0000-654727e20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-1692/linkedservices/LinkedService7001?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobFS",
          "typeProperties": {
            "url": "https://testblobfs.dfs.core.windows.net",
            "servicePrincipalId": "9c8b1ab1-a894-4639-8fb9-75f98a36e9ab",
            "servicePrincipalKey": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9390"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            },
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "azureCloudType": "AzurePublic"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-886a1235-0474-305a-8f9c-344372e11e15-1692/linkedservices/LinkedService7001",
        "name": "LinkedService7001",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobFS",
          "typeProperties": {
            "url": "https://testblobfs.dfs.core.windows.net",
            "servicePrincipalId": "9c8b1ab1-a894-4639-8fb9-75f98a36e9ab",
            "servicePrincipalKey": {
              "store": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService9390"
              },
              "secretName": "TestSecret",
              "type": "AzureKeyVaultSecret"
            },
            "tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "azureCloudType": "AzurePublic"
          }
        },
        "etag": "0500ab61-0000-0800-0000-654727e30000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "48406744",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
