{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-cd6ed96a-9f98-36c5-8887-a2391750ab5f-9894?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "905"
      },
      "ResponseBody": {
        "name": "DataFactory-cd6ed96a-9f98-36c5-8887-a2391750ab5f-9894",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-cd6ed96a-9f98-36c5-8887-a2391750ab5f-9894",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:23:33.4527178Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901ad1d-0000-0800-0000-654726d50000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-cd6ed96a-9f98-36c5-8887-a2391750ab5f-9894/linkedservices/LinkedService57?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SalesforceServiceCloud",
          "description": "test description",
          "typeProperties": {
            "environmentUrl": "Uri",
            "username": "admin",
            "password": {
              "value": "fakepassword",
              "type": "SecureString"
            },
            "apiVersion": "27.0"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "904"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-cd6ed96a-9f98-36c5-8887-a2391750ab5f-9894/linkedservices/LinkedService57",
        "name": "LinkedService57",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SalesforceServiceCloud",
          "description": "test description",
          "typeProperties": {
            "environmentUrl": "Uri",
            "username": "admin",
            "apiVersion": "27.0",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDc1REZGMDVCLTlEN0ItNEY0QS05RTQ1LTk2MDExMEJCMTFGM19hZDJiN2ZlNC1jNjMwLTQwODEtOGRhNS1iZGE1ZWZhNmU5MmIiDQp9"
          }
        },
        "etag": "2c002047-0000-0800-0000-654726d60000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1063695811",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
