{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-2806?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1029"
      },
      "ResponseBody": {
        "name": "DataFactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-2806",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-2806",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:32:11.7314701Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901fe4b-0000-0800-0000-654728db0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-2806/linkedservices/LinkedService1077?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "GoogleAdWords",
          "typeProperties": {
            "connectionProperties": {
              "connectionProperties": {
                "clientCustomerID": "fakeClientCustomerID",
                "developerToken": {
                  "type": "SecureString",
                  "value": "some secret"
                }
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1028"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-ca359d6c-3b35-3c58-b6ec-3b7e463f35ad-2806/linkedservices/LinkedService1077",
        "name": "LinkedService1077",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "GoogleAdWords",
          "typeProperties": {
            "connectionProperties": {
              "connectionProperties": {
                "clientCustomerID": "fakeClientCustomerID",
                "developerToken": {
                  "type": "SecureString",
                  "value": "**********"
                }
              }
            }
          }
        },
        "etag": "820126c3-0000-0800-0000-654728dc0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "820612407",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
