{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-5596/providers/Microsoft.DataFactory/factories/DataFactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-8000?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1054"
      },
      "ResponseBody": {
        "name": "DataFactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-8000",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-8000",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:19:34.9426287Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a9016707-0000-0800-0000-654725e60000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-8000/linkedservices/LinkedService5521?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDbMongoDbApi",
          "typeProperties": {
            "isServerVersionAbove32": true,
            "connectionString": {
              "value": "mongodb\u002Bsrv://myDatabaseUser:@server.example.com",
              "type": "SecureString"
            },
            "database": "TestDB"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1053"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-5596/providers/Microsoft.DataFactory/factories/datafactory-9ea6a8d4-464b-3fcd-a2c2-64cf45468727-8000/linkedservices/LinkedService5521",
        "name": "LinkedService5521",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDbMongoDbApi",
          "typeProperties": {
            "isServerVersionAbove32": true,
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "database": "TestDB"
          }
        },
        "etag": "0000a1c3-0000-0800-0000-654725e70000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "950541981",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
