{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "NRMS10318670": "20220720"
        },
        "subscriptionId": "da1d7b9a-a759-41c8-bb73-093a1818e03a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ADMS_Test_Engineering_RichTransform",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourcegroups/adf-rg-cosmosdb-4123?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123",
        "name": "adf-rg-cosmosdb-4123",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "name": "adf-cosmosdb-6260",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-21T07:46:33.725213Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002241041c32-0000-0800-0000-655c60590000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260/integrationRuntimes/adf-integrationRuntime-6759?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260/integrationruntimes/adf-integrationRuntime-6759",
        "name": "adf-integrationRuntime-6759",
        "type": "Microsoft.DataFactory/factories/integrationruntimes",
        "properties": {
          "type": "Managed",
          "typeProperties": {
            "computeProperties": {
              "location": "eastus2",
              "dataFlowProperties": {
                "computeType": "General",
                "coreCount": 4,
                "timeToLive": 10
              }
            }
          }
        },
        "etag": "9e02d9e6-0000-0800-0000-655c605a0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260/linkedservices/adf_linkedservice_akv_6193?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260/linkedservices/adf_linkedservice_akv_6193",
        "name": "adf_linkedservice_akv_6193",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureKeyVault",
          "typeProperties": {
            "baseUrl": "https://Test.vault.azure.net/"
          }
        },
        "etag": "9e02e3e6-0000-0800-0000-655c605a0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260/linkedservices/adf_linkedservice_cosmosdb_443?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "connectionString": "Sanitized",
            "servicePrincipalId": "fakeservicePrincipalId",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "servicePrincipalCredential": {
              "value": "fakeservicePrincipalCredential",
              "type": "SecureString"
            },
            "tenant": "faketenant",
            "azureCloudType": "fakeazurecloudtype",
            "connectionMode": null
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/adf-rg-cosmosdb-4123/providers/Microsoft.DataFactory/factories/adf-cosmosdb-6260/linkedservices/adf_linkedservice_cosmosdb_443",
        "name": "adf_linkedservice_cosmosdb_443",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "connectionString": "Sanitized",
            "servicePrincipalId": "fakeservicePrincipalId",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "servicePrincipalCredential": {
              "type": "SecureString",
              "value": "**********"
            },
            "tenant": "faketenant",
            "azureCloudType": "fakeazurecloudtype",
            "connectionMode": null
          }
        },
        "etag": "9e02ede6-0000-0800-0000-655c605b0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "98694300",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
