{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-6752650e-f424-3dca-9249-e3126349a6a2-964?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "502"
      },
      "ResponseBody": {
        "name": "DataFactory-6752650e-f424-3dca-9249-e3126349a6a2-964",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6752650e-f424-3dca-9249-e3126349a6a2-964",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:34:05.7613604Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220502c21b-0000-0800-0000-6556528d0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6752650e-f424-3dca-9249-e3126349a6a2-964/linkedservices/LinkedService7372?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Vertica",
          "typeProperties": {
            "connectionString": {
              "value": "some connection string",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "501"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6752650e-f424-3dca-9249-e3126349a6a2-964/linkedservices/LinkedService7372",
        "name": "LinkedService7372",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Vertica",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "5300851d-0000-0800-0000-6556528e0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1434317758",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
