{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-8812?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "925"
      },
      "ResponseBody": {
        "name": "DataFactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-8812",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-8812",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:34:56.9234369Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901ee5a-0000-0800-0000-654729800000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-8812/linkedservices/LinkedService9315?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapBW",
          "description": "test description",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "fakeNumber",
            "clientId": "fakeId",
            "userName": "fakeName",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "924"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-35d264dd-6c18-34fb-9b4d-698cb16625bb-8812/linkedservices/LinkedService9315",
        "name": "LinkedService9315",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapBW",
          "description": "test description",
          "typeProperties": {
            "server": "fakeServer",
            "systemNumber": "fakeNumber",
            "clientId": "fakeId",
            "userName": "fakeName",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEMyQUQ1M0QzLTA4NTItNEE0Ri04RTJDLTU2RTVDOEZEMURDRF9lNTc4YWM0NS1hZGIzLTRjYmQtOGRhZS1mZWExZWVhYWYwYWIiDQp9"
          }
        },
        "etag": "58012917-0000-0800-0000-654729810000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "994201529",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
