{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-6443a619-4691-3bd5-9c92-2993da022565-1823?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "778"
      },
      "ResponseBody": {
        "name": "DataFactory-6443a619-4691-3bd5-9c92-2993da022565-1823",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6443a619-4691-3bd5-9c92-2993da022565-1823",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:21:32.7232173Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040230e6-0000-0800-0000-65564f9c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6443a619-4691-3bd5-9c92-2993da022565-1823/linkedservices/LinkedService8821?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureFileStorage",
          "description": "test description",
          "typeProperties": {
            "host": "fakehost",
            "userId": "fakeaccess",
            "password": {
              "value": "fakepwd",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "777"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-6443a619-4691-3bd5-9c92-2993da022565-1823/linkedservices/LinkedService8821",
        "name": "LinkedService8821",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureFileStorage",
          "description": "test description",
          "typeProperties": {
            "host": "fakehost",
            "userId": "fakeaccess",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEE0NDZGQkJELTUwRDEtNEQ0OC1CMjc5LUZFMDUyMDRBMEMxMF81OTVmYzBhMy1lNjJiLTRmNDUtYTgxYS05YmM5YzVjOTI1MjQiDQp9"
          }
        },
        "etag": "be006c8e-0000-0800-0000-65564f9d0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "559083826",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
