{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-1963/providers/Microsoft.DataFactory/factories/DataFactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-3303?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "533"
      },
      "ResponseBody": {
        "name": "DataFactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-3303",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-3303",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:32:43.813354Z",
          "version": "2018-06-01"
        },
        "eTag": "\u002205024f16-0000-0800-0000-6556523b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-3303/linkedservices/LinkedService4913?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Sftp",
          "description": "test description",
          "typeProperties": {
            "host": "fakeHost",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            },
            "privateKeyPath": "fakeprivateKeyPath",
            "privateKeyContent": {
              "value": "fakeprivateKeyContent",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "532"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-1963/providers/Microsoft.DataFactory/factories/datafactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-3303/linkedservices/LinkedService4913",
        "name": "LinkedService4913",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Sftp",
          "description": "test description",
          "typeProperties": {
            "host": "fakeHost",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "privateKeyPath": "fakeprivateKeyPath",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQ5RTU3NjFFLUNCMjQtNDAxNS05QjQwLTE4OTIzNkFCNjA3Ml8wNTMzY2NlZi1kODk3LTQ4YjUtYjc3ZC0xMTg4MDEzMDU2ZTgiDQp9"
          }
        },
        "etag": "1800298c-0000-0800-0000-6556523c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "409132511",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
