{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-3109/providers/Microsoft.DataFactory/factories/DataFactory-79deecb6-198d-3fb3-b0be-837454b20101-8377?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "564"
      },
      "ResponseBody": {
        "name": "DataFactory-79deecb6-198d-3fb3-b0be-837454b20101-8377",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-79deecb6-198d-3fb3-b0be-837454b20101-8377",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:27:59.5348148Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f501b130-0000-0800-0000-6549e6ff0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-79deecb6-198d-3fb3-b0be-837454b20101-8377/linkedservices/LinkedService674?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "QuickBooks",
          "typeProperties": {
            "endpoint": "quickbooks.api.intuit.com",
            "companyId": "fakeCompanyId",
            "consumerKey": "fakeConsumerKey",
            "consumerSecret": {
              "value": "some secret",
              "type": "SecureString"
            },
            "accessToken": {
              "value": "some secret",
              "type": "SecureString"
            },
            "accessTokenSecret": {
              "value": "some secret",
              "type": "SecureString"
            },
            "useEncryptedEndpoints": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "563"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-3109/providers/Microsoft.DataFactory/factories/datafactory-79deecb6-198d-3fb3-b0be-837454b20101-8377/linkedservices/LinkedService674",
        "name": "LinkedService674",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "QuickBooks",
          "typeProperties": {
            "endpoint": "quickbooks.api.intuit.com",
            "companyId": "fakeCompanyId",
            "consumerKey": "fakeConsumerKey",
            "useEncryptedEndpoints": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDA4QjY0NTI4LURGMUQtNDFEQi1CRTFFLTJFMjI3M0MwMkVEMF84NTcxMWJlNi05YTkzLTQxNDYtYjI2Yi03NzcwYzZhYTA4NTYiDQp9"
          }
        },
        "etag": "0a0199f7-0000-0800-0000-6549e7000000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1979279721",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
