{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-8181/providers/Microsoft.DataFactory/factories/DataFactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-9192?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "891"
      },
      "ResponseBody": {
        "name": "DataFactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-9192",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-9192",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T17:15:40.4045988Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022040244ce-0000-0800-0000-65564e3c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-9192/linkedservices/LinkedService2459?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Sftp",
          "description": "test description",
          "typeProperties": {
            "host": "fakeHost",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            },
            "privateKeyPath": "fakeprivateKeyPath",
            "privateKeyContent": {
              "value": "fakeprivateKeyContent",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "890"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-8181/providers/Microsoft.DataFactory/factories/datafactory-56f22a67-9050-3a5c-9d3c-8107d8b2bb07-9192/linkedservices/LinkedService2459",
        "name": "LinkedService2459",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Sftp",
          "description": "test description",
          "typeProperties": {
            "host": "fakeHost",
            "authenticationType": "Basic",
            "userName": "fakeName",
            "privateKeyPath": "fakeprivateKeyPath",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEE4MDY5NTZBLTI3ODUtNEFEQS05RDNBLTI3MTA4QThEMDZBRF9lMjAwY2Q0Zi1jNDY0LTRmOTgtYjE3ZC0xOGEzODRlMGU0NjAiDQp9"
          }
        },
        "etag": "2100119e-0000-0800-0000-65564e3d0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1260383041",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
