{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-9392/providers/Microsoft.DataFactory/factories/DataFactory-4b2e69d7-7425-3681-a6d3-9c90f1ed4da7-6493?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "931"
      },
      "ResponseBody": {
        "name": "DataFactory-4b2e69d7-7425-3681-a6d3-9c90f1ed4da7-6493",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-4b2e69d7-7425-3681-a6d3-9c90f1ed4da7-6493",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T07:08:34.3190167Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f40149c2-0000-0800-0000-6549e2720000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-4b2e69d7-7425-3681-a6d3-9c90f1ed4da7-6493/linkedservices/LinkedService4926?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "PostgreSql",
          "typeProperties": {
            "connectionString": {
              "value": "Server=myServerAddress;Port=5432;Database=myDataBase;User Id=myUsername;Password=myPassword;\r\n",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "930"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-9392/providers/Microsoft.DataFactory/factories/datafactory-4b2e69d7-7425-3681-a6d3-9c90f1ed4da7-6493/linkedservices/LinkedService4926",
        "name": "LinkedService4926",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "PostgreSql",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            },
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDQyNTcwQjE1LTBBQjctNEI2Qi05Njk5LTI2NkMyODNBODIyNV9hMmE5NGJjMS0zYmFiLTQ1MDItYjQwZS1jZGYxM2Q3M2JhNTYiDQp9"
          }
        },
        "etag": "1700bc6d-0000-0800-0000-6549e2730000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2108465149",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
