{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/DataFactory-RG-5128/providers/Microsoft.DataFactory/factories/DataFactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-7664?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "617"
      },
      "ResponseBody": {
        "name": "DataFactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-7664",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-7664",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-16T11:54:30.2697862Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00220002e258-0000-0800-0000-655602f60000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-7664/linkedservices/LinkedService1610?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "192.168.12.122",
            "authenticationType": "Anonymous",
            "username": "",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            },
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "616"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/datafactory-rg-5128/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-7664/linkedservices/LinkedService1610",
        "name": "LinkedService1610",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "192.168.12.122",
            "authenticationType": "Anonymous",
            "username": "",
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDFCMTUwMEY0LUEzMTgtNDNDNi1BNjdELTQyNEI1OTZFOEE5NF80OThhZmI0NC1lNDBiLTQ3ZTUtOTYzZi02OWM2NWVjNzk4ZDEiDQp9"
          }
        },
        "etag": "30001646-0000-0800-0000-655602f70000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1606956038",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
