{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8799/providers/Microsoft.DataFactory/factories/DataFactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-467?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "999"
      },
      "ResponseBody": {
        "name": "DataFactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-467",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-467",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-05T05:32:59.9403118Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022a901f34f-0000-0800-0000-6547290b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-467/linkedservices/LinkedService8804?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "192.168.12.122",
            "authenticationType": "Anonymous",
            "username": "",
            "password": {
              "value": "some secret",
              "type": "SecureString"
            },
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "998"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8799/providers/Microsoft.DataFactory/factories/datafactory-22f7d4b9-cce9-3839-b5d0-ad4037c53407-467/linkedservices/LinkedService8804",
        "name": "LinkedService8804",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "192.168.12.122",
            "authenticationType": "Anonymous",
            "username": "",
            "enableSsl": true,
            "trustedCertPath": "",
            "useSystemTrustStore": true,
            "allowHostNameCNMismatch": true,
            "allowSelfSignedServerCert": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDYzMjYzNDdGLTIyMUItNDIzQi05NUYzLTRFOERGNTlDQzM0RV9iNjJjNGU4OC0wMGNkLTQ2YTItOTg3NC1iODAxZWZlZGU2Y2YiDQp9"
          }
        },
        "etag": "66002642-0000-0800-0000-6547290c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1056808463",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
