{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.communication.azure.com/emails:send?api-version=2023-03-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "00000000-0000-0000-0000-000000000000"
      },
      "RequestBody": {
        "senderAddress": "DoNotReply@domain.com",
        "content": {
          "subject": "Test Email from Azure MCP Live Test",
          "plainText": "This is a test email sent from Azure MCP Live Test."
        },
        "recipients": {
          "to": [
            {
              "address": "placeholder@microsoft.com",
              "displayName": ""
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview, 2025-01-15-preview, 2025-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "29e08cdb-e255-4395-be9c-c2a6544d99fd",
        "MS-CV": "Sanitized",
        "Operation-Location": "https://example.com",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "11b69394-6487-49ef-9ec7-b3b70c463975",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://Sanitized.communication.azure.com/emails/operations/11b69394-6487-49ef-9ec7-b3b70c463975?api-version=2023-03-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview, 2025-01-15-preview, 2025-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c7da2fec-c98d-4353-9c8e-f1ae8fd34833",
        "MS-CV": "Sanitized",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "11b69394-6487-49ef-9ec7-b3b70c463975",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.communication.azure.com/emails/operations/11b69394-6487-49ef-9ec7-b3b70c463975?api-version=2023-03-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview, 2025-01-15-preview, 2025-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a7aa387-b840-4c22-8b78-99ada0a38c23",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "id": "11b69394-6487-49ef-9ec7-b3b70c463975",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {}
}
