{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970924540602432?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jul 2023 19:40:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C67B914A0D\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970924540602432/dir168970924549601312?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C67BE823CF\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-18T19:37:55.5142607Z",
        "x-ms-file-creation-time": "2023-07-18T19:37:55.5142607Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-18T19:37:55.5142607Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8614286176118771184*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970924540602432/dir168970924549601312/file168970924606207994",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C67BF754F9\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-18T19:37:55.6138233Z",
        "x-ms-file-creation-time": "2023-07-18T19:37:55.6138233Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-18T19:37:55.6138233Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13256303658861622007*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970924540602432/dir168970924549601312/copiedfile168970924616203373",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C67C0CC0B4\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:55 GMT",
        "x-ms-copy-id": "2b805ea8-a85e-4c9f-93d0-b053788c3553",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970924540602432/dir168970924549601312/copiedfile168970924616203373?comp=copy\u0026copyid=2b805ea8-a85e-4c9f-93d0-b053788c3553",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-action": "abort",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "NoPendingCopyOperation",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ENoPendingCopyOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no pending copy operation.\n",
        "RequestId:2a3f016d-001a-003f-26af-b93043000000\n",
        "Time:2023-07-18T19:37:56.8845472Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970924540602432?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jul 2023 19:40:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile168970924616203373",
    "dir": "dir168970924549601312",
    "file": "file168970924606207994",
    "share": "share168970924540602432"
  }
}
