{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472009657208987?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:56 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB559ADC732E8\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:57 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472009657208987/dir169472009668007470?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB559AE1131EE\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:34:58.0136430Z",
        "x-ms-file-creation-time": "2023-09-14T19:34:58.0136430Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-14T19:34:58.0136430Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472009657208987/dir169472009668007470/file169472009716305659",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB559AE224667\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:34:58.1255783Z",
        "x-ms-file-creation-time": "2023-09-14T19:34:58.1255783Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:34:58.1255783Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472009657208987/dir169472009668007470/file169472009716305659?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2023-01-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\u00220x8DBB559AE3333DF\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:58 GMT",
        "x-ms-file-last-write-time": "2023-09-14T19:34:58.2365151Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472009657208987/dir169472009668007470/file169472009716305659?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DBB559AE5472AB\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:58 GMT",
        "x-ms-content-length": "10",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E9\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472009657208987?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169472009668007470",
    "file": "file169472009716305659",
    "share": "share169472009657208987"
  }
}
