{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970923943709320?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jul 2023 19:40:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C67802AEEA\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970923943709320/dir168970923952702038?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C6783F660D\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-18T19:37:49.3752333Z",
        "x-ms-file-creation-time": "2023-07-18T19:37:49.3752333Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-18T19:37:49.3752333Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8614286176118771184*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970923943709320/dir168970923952702038/file168970923992306728",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C6784F0BEC\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-18T19:37:49.4777836Z",
        "x-ms-file-creation-time": "2023-07-18T19:37:49.4777836Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-18T19:37:49.4777836Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13256303658861622007*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970923943709320/dir168970923952702038/file168970923992306728?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C6785ED89B\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-18T19:37:49.5813275Z",
        "x-ms-file-creation-time": "2023-07-18T19:37:49.4777836Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-18T19:37:49.4777836Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13256303658861622007*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970923943709320/dir168970923952702038/file168970923992306728",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB87C6785ED89B\u0022",
        "Last-Modified": "Tue, 18 Jul 2023 19:37:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-18T19:37:49.5813275Z",
        "x-ms-file-creation-time": "2023-07-18T19:37:49.4777836Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-18T19:37:49.4777836Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13256303658861622007*2258328373640403577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168970923943709320?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 18 Jul 2023 19:40:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168970923952702038",
    "file": "file168970923992306728",
    "share": "share168970923943709320"
  }
}
