{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762198551700777?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:46:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8A6BD4DCB1\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:46:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762198551700777/dir173762198562806790?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8A6E4AE3AA\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:46:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-23T08:46:29.8405802Z",
        "x-ms-file-creation-time": "2025-01-23T08:46:29.8405802Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-23T08:46:29.8405802Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762198551700777/dir173762198562806790/file173762198976404015",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3B8A6E5C6D53\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:46:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-23T08:46:29.9555155Z",
        "x-ms-file-creation-time": "2025-01-23T08:46:29.9555155Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-23T08:46:29.9555155Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762198551700777/dir173762198562806790/file173762198976404015?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DD3B8A6E708EA4\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:46:30 GMT",
        "x-ms-file-last-write-time": "2025-01-23T08:46:30.0874404Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762198551700777/dir173762198562806790/file173762198976404015",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-7",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-7/10",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD3B8A6E81F141\"",
        "Last-Modified": "Thu, 23 Jan 2025 08:46:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-23T08:46:30.2013761Z",
        "x-ms-file-creation-time": "2025-01-23T08:46:29.9555155Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-23T08:46:30.2013761Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "SGVsbG9Xb3I="
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share173762198551700777?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 23 Jan 2025 08:46:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir173762198562806790",
    "file": "file173762198976404015",
    "share": "share173762198551700777"
  }
}
