{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333947677700264?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8063AF85BF26\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333947677700264/dir177333947685202778?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8063AFF2C6BE\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:57.5230142Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:57.5230142Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:57.5230142Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333947677700264/dir177333947685202778/file177333947755905883",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "10",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8063B000252C\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:57.6106284Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:57.6106284Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:57.6106284Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333947677700264/dir177333947685202778/file177333947755905883?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DE8063B00D83A7\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:57 GMT",
        "x-ms-file-last-write-time": "2026-03-12T18:17:57.6982439Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333947677700264/dir177333947685202778/file177333947755905883",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE8063B02819B1\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:57.8724785Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:57.6106284Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:57.8724785Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "SAAAAAAAAAAAZA=="
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333947677700264?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir177333947685202778",
    "file": "file177333947755905883",
    "share": "share177333947677700264"
  }
}
