{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438195911203644?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:12:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C84D8695B\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438195911203644/dir171438195922109828?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C85032B2F\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T09:12:39.9194927Z",
        "x-ms-file-creation-time": "2024-04-29T09:12:39.9194927Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T09:12:39.9194927Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438195911203644/dir171438195922109828/file171438195950005926",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C8513F19C\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T09:12:40.0294300Z",
        "x-ms-file-creation-time": "2024-04-29T09:12:40.0294300Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T09:12:40.0294300Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438195911203644/dir171438195922109828/file171438195950005926?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-10",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DC682C85252D32\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:40 GMT",
        "x-ms-file-last-write-time": "2024-04-29T09:12:40.1423666Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438195911203644/dir171438195922109828/file171438195950005926",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC682C85252D32\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T09:12:40.1423666Z",
        "x-ms-file-creation-time": "2024-04-29T09:12:40.0294300Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T09:12:40.1423666Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "SGVsbG8gV29ybGQ="
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438195911203644?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:12:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171438195922109828",
    "file": "file171438195950005926",
    "share": "share171438195911203644"
  }
}
