{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75ffcloudevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"06e6bab9-577b-7f12-7fd1-0b9a0c497c91\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"property1\":\"abc\",\"property2\":123},\"time\":\"2026-01-09T09:27:18.4499094-08:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"traceparent\":\"Sanitized\"},{\"id\":\"73904cce-a51b-8030-d86f-3e7abd6898e8\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"property1\":\"abc\",\"property2\":123},\"time\":\"2026-01-09T09:27:18.4499094-08:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"},{\"id\":\"7f8c4c0f-df20-9a69-3f2d-b0c69691d891\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"property1\":\"abc\",\"property2\":123},\"time\":\"2026-01-[...]
