{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75ffcloudevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"ce3d6779-eac0-bc95-9386-e15be8eac6d4\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":\"hello\",\"time\":\"2026-01-09T09:27:18.386353-08:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"testattribute1\":\"test\",\"traceparent\":\"Sanitized\"},{\"id\":\"e75a47d7-7b82-d59f-d862-c8815593399c\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":\"hello\",\"time\":\"2026-01-09T09:27:18.386353-08:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"testattribute1\":\"test\",\"traceparent\":\"Sanitized\"},{\"id\":\"03015609-3823-697c-80fb-220a755e2757\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":\"hello\",\"time\":\"2026-01-09T09:27:18.386353-08:00\",\"specvers[...]
