{
  "Entries": [
    {
      "RequestUri": "https://jolov2partner-namespace.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-channel-name": "Sanitized",
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"3fbd965a-26ae-51bd-aa04-981c6f7cde27\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":0},\"time\":\"2024-06-12T14:48:25.9180236-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"traceparent\":\"Sanitized\"},{\"id\":\"ac041f2f-72d9-824e-5242-d33b3e659d8a\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":1},\"time\":\"2024-06-12T14:48:25.9180236-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"},{\"id\":\"6c1f1800-5e89-7051-f2ef-2d86d75c09d6\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":2},\"time\":\"2024-06-12T14:48:25.9180236-07:0[...]
