{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75ffpartner-namespace.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-channel-name": "Sanitized",
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"de55c134-c8f9-1c1a-b2e1-56fdff2d1c0a\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":0},\"time\":\"2026-01-09T09:27:27.45061-08:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"traceparent\":\"Sanitized\"},{\"id\":\"722f3cf3-01b9-8006-8486-a00854bfcd74\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":1},\"time\":\"2026-01-09T09:27:27.45061-08:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"},{\"id\":\"0519d142-024d-bd85-199d-dd22edd4d8b9\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":2},\"time\":\"2026-01-09T09:27:27.45061-08:00\",[...]
