{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75ffcustomevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"DataVersion\":\"1.0\",\"EventTime\":\"2026-01-09T09:27:21.8454601-08:00\",\"EventType\":\"Microsoft.MockPublisher.TestEvent\",\"Id\":\"907e6dbd-c089-68ec-a1ef-f34d00506206\",\"Subject\":\"Subject\",\"Topic\":\"Topic\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-09T09:27:21.8454601-08:00",
    "EVENTGRID_CUSTOM_EVENT_TOPIC_ENDPOINT": "https://t40732b48f51f75ffcustomevent-topic.westus-1.eventgrid.azure.net/api/events",
    "EVENTGRID_CUSTOM_EVENT_TOPIC_KEY": "Kg==",
    "RandomSeed": "1970515660"
  }
}
