{
  "Entries": [
    {
      "RequestUri": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"6be2be46-9ec6-c03e-848b-312f3567f989\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":null,\"time\":\"2024-06-12T13:59:34.7199116-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"traceparent\":\"Sanitized\"},{\"id\":\"a5bb4dc1-f375-65e0-94e3-451dff107c51\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":null,\"time\":\"2024-06-12T13:59:34.7199116-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"},{\"id\":\"56af40dc-a703-1446-12ce-1c6e17b4b27f\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":null,\"time\":\"2024-06-12T13:59:34.7199116-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-[...]
