{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75fftopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"id\":\"38ea276c-c6a6-160b-4647-0ec709c50dfc\",\"subject\":\"Subject-0\",\"data\":{\"Name\":\"name\",\"Age\":0},\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2026-01-09T17:27:29.7657473Z\",\"dataVersion\":\"1.0\"},{\"id\":\"da69dac4-1052-9d2e-0ccb-9c36143bdc8d\",\"subject\":\"Subject-1\",\"data\":{\"Name\":\"name\",\"Age\":1},\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2026-01-09T17:27:29.7657473Z\",\"dataVersion\":\"1.0\"},{\"id\":\"40c4b4d6-5cd5-d65e-01fe-ccc4bf6f847a\",\"subject\":\"Subject-2\",\"data\":{\"Name\":\"name\",\"Age\":2},\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2026-01-09T17:27:29.7657473Z\",\"dataVersion\":\"1.0\"},{\"id\":\"e8006[...]
