{
  "Entries": [
    {
      "RequestUri": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"f376343c-df72-8ecb-2651-6ea1bdde7e9a\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":0},\"time\":\"2024-06-12T14:48:37.5369526-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"traceparent\":\"Sanitized\"},{\"id\":\"04495dd7-cc62-4090-7af3-3b64af16db02\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":1},\"time\":\"2024-06-12T14:48:37.5369526-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"},{\"id\":\"3d9bd1ef-ff52-9860-0078-805055abbd06\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":2},\"time\":\"2024-06-12T14:48:37.5369526-07:0[...]
