{
  "Entries": [
    {
      "RequestUri": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"532f06c2-62b3-c738-6a6b-7cc94e4c3a1b\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":0},\"time\":\"2024-06-12T13:59:39.5485872-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"traceparent\":\"Sanitized\"},{\"id\":\"172e6284-6b7d-c98f-5bd0-6466b8429323\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":1},\"time\":\"2024-06-12T13:59:39.5485872-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"},{\"id\":\"04ff4ff3-0b1f-2017-b4c9-420c3c1b531f\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":2},\"time\":\"2024-06-12T13:59:39.5485872-07:0[...]
