{
  "Entries": [
    {
      "RequestUri": "https://jolov2customevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"DataVersion\":\"1.0\",\"EventTime\":\"2024-06-12T14:48:37.8516778-07:00\",\"EventType\":\"Microsoft.MockPublisher.TestEvent\",\"Id\":\"a2606fe5-5585-24fb-fd26-5ac93f325075\",\"Subject\":\"Subject-0\",\"Topic\":\"Topic-0\"},{\"DataVersion\":\"1.0\",\"EventTime\":\"2024-06-12T14:48:37.8516778-07:00\",\"EventType\":\"Microsoft.MockPublisher.TestEvent\",\"Id\":\"9b48b2cc-e719-55d5-1b29-8c5defecc384\",\"Subject\":\"Subject-1\",\"Topic\":\"Topic-1\"},{\"DataVersion\":\"1.0\",\"EventTime\":\"2024-06-12T14:48:37.8516778-07:00\",\"EventType\":\"Microsoft.MockPublisher.TestEvent\",\"Id\":\"74f73e21-838e-f1c1-0971-73f536c2e09e\",\"Subject\":\"Subject-2\",\"Topic\":\"Topic-2\"},{\"DataVersion\":\"1.0\",\"EventTim[...]
