{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75fftopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-token": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"id\":\"9a6b4592-e0ad-79c6-0be3-994d7a75a963\",\"subject\":\"Subject-0\",\"data\":\"hello\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2026-01-09T17:27:21.6085182Z\",\"dataVersion\":\"1.0\"},{\"id\":\"68dc019d-ee53-f05d-de8d-61ffc40bd34d\",\"subject\":\"Subject-1\",\"data\":\"hello\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2026-01-09T17:27:21.6085182Z\",\"dataVersion\":\"1.0\"},{\"id\":\"9de5bc46-a9ff-5a4e-be98-708780aafc09\",\"subject\":\"Subject-2\",\"data\":\"hello\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2026-01-09T17:27:21.6085182Z\",\"dataVersion\":\"1.0\"},{\"id\":\"24303ab4-3fa7-a4fb-e87b-bc1f7ec6b400\",\"subj[...]
