{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75ffpartner-namespace.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-channel-name": "Sanitized",
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"8b4c6678-3fa3-b641-9df8-4a494bc48208\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"Name\":\"name\",\"Age\":1},\"time\":\"2026-01-09T09:27:24.5186584-08:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-01-09T09:27:24.5186584-08:00",
    "EVENTGRID_PARTNER_CHANNEL_NAME": "t40732b48f51f75ffpartner-channel",
    "EVENTGRID_PARTNER_NAMESPACE_TOPIC_ENDPOINT": "https://t40732b48f51f75ffpartner-namespace.westus-1.eventgrid.azure.net/api/events",
    "EVENTGRID_PARTNER_NAMESPACE_TOPIC_KEY": "Kg==",
    "RandomSeed": "1499052356"
  }
}
