{
  "Entries": [
    {
      "RequestUri": "https://jolov2topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"id\":\"a94f855f-ece7-75fc-cb41-65cc3e6eeffc\",\"subject\":\"Subject\",\"data\":\"hello\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2024-06-12T20:59:44.6195369Z\",\"dataVersion\":\"1.0\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-12T13:59:44.6195369-07:00",
    "EVENTGRID_TOPIC_ENDPOINT": "https://jolov2topic.westus2-1.eventgrid.azure.net/api/events",
    "RandomSeed": "6816657"
  }
}
