{
  "Entries": [
    {
      "RequestUri": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"22b19492-4118-b592-4934-956881da7fbd\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":\"hello\",\"time\":\"2024-06-12T14:48:37.6992334-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"testattribute1\":\"test\",\"traceparent\":\"Sanitized\"},{\"id\":\"52262249-57a6-0035-8a04-78f7c657adbf\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":\"hello\",\"time\":\"2024-06-12T14:48:37.6992334-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"testattribute1\":\"test\",\"traceparent\":\"Sanitized\"},{\"id\":\"f30f00c9-de9d-163e-dc6c-abc50c0bc883\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":\"hello\",\"time\":\"2024-06-12T14:48:37.6992334-07:00\",\"specve[...]
