{
  "Entries": [
    {
      "RequestUri": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"fb662d8a-2a24-86f8-c0c9-26d8bdd6da2f\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":null,\"time\":\"2024-06-12T14:48:41.6191937-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject\",\"traceparent\":\"Sanitized\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-12T14:48:41.6191937-07:00",
    "EVENTGRID_CLOUD_EVENT_TOPIC_ENDPOINT": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events",
    "EVENTGRID_CLOUD_EVENT_TOPIC_KEY": "Kg==",
    "RandomSeed": "1780078454"
  }
}
