{
  "Entries": [
    {
      "RequestUri": "https://jolov2topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"id\":\"28c764d0-f571-db61-a8d6-cd2aa2d8b3e9\",\"subject\":\"Subject-0\",\"data\":{\"Name\":\"name\",\"Age\":0},\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2024-06-12T20:59:57.2872300Z\",\"dataVersion\":\"1.0\"},{\"id\":\"390c76a0-3990-bdbe-3123-c41a676ff5b4\",\"subject\":\"Subject-1\",\"data\":{\"Name\":\"name\",\"Age\":1},\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2024-06-12T20:59:57.2872300Z\",\"dataVersion\":\"1.0\"},{\"id\":\"018c11d0-ba4f-08d0-ee6f-f172d0c1c876\",\"subject\":\"Subject-2\",\"data\":{\"Name\":\"name\",\"Age\":2},\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"eventTime\":\"2024-06-12T20:59:57.2872300Z\",\"dataVersion\":\"1.0\"},{\"id\":\"75be7[...]
