{
  "Entries": [
    {
      "RequestUri": "https://jolov2customevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"DataVersion\":\"1.0\",\"EventTime\":\"2024-06-12T14:48:29.8467128-07:00\",\"EventType\":\"Microsoft.MockPublisher.TestEvent\",\"Id\":\"8b846dfb-166e-e930-266c-3bfc7f21e645\",\"Subject\":\"Subject\",\"Topic\":\"Topic\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-12T14:48:29.8467128-07:00",
    "EVENTGRID_CUSTOM_EVENT_TOPIC_ENDPOINT": "https://jolov2customevent-topic.westus2-1.eventgrid.azure.net/api/events",
    "EVENTGRID_CUSTOM_EVENT_TOPIC_KEY": "Kg==",
    "RandomSeed": "129354367"
  }
}
