{
  "Entries": [
    {
      "RequestUri": "https://jolov2customevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"DataVersion\":\"1.0\",\"EventTime\":\"2024-06-12T14:48:41.6978703-07:00\",\"EventType\":\"Microsoft.MockPublisher.TestEvent\",\"Id\":\"67ee7c8a-9ee9-126a-a21c-627427b3f610\",\"Subject\":\"Subject\",\"Topic\":\"Topic\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-12T14:48:41.6978703-07:00",
    "EVENTGRID_CUSTOM_EVENT_TOPIC_ENDPOINT": "https://jolov2customevent-topic.westus2-1.eventgrid.azure.net/api/events",
    "EVENTGRID_CUSTOM_EVENT_TOPIC_KEY": "Kg==",
    "RandomSeed": "1477214444"
  }
}
