{
  "Entries": [
    {
      "RequestUri": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"800f450a-4100-ffe9-81cb-2f1612863b7b\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"property1\":\"abc\",\"property2\":123},\"time\":\"2024-06-12T13:59:39.7896299-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-0\",\"traceparent\":\"Sanitized\"},{\"id\":\"ceaefb33-a00b-57a1-b913-1818e5ba7001\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"property1\":\"abc\",\"property2\":123},\"time\":\"2024-06-12T13:59:39.7896299-07:00\",\"specversion\":\"1.0\",\"subject\":\"Subject-1\",\"traceparent\":\"Sanitized\"},{\"id\":\"937dabad-84bd-9b59-766f-a00c2d5f9ee5\",\"source\":\"record\",\"type\":\"Microsoft.MockPublisher.TestEvent\",\"data\":{\"property1\":\"abc\",\"property2\":123},\"time\":\"2024-06-[...]
