{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75ffcustomevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"dataVersion\":\"1.0\",\"eventTime\":\"2026-01-09T09:27:32.1759081-08:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"23236f74-a0c5-633f-060f-e883c80508c0\",\"subject\":\"Subject-0\",\"topic\":\"Topic-0\"},{\"dataVersion\":\"1.0\",\"eventTime\":\"2026-01-09T09:27:32.1759081-08:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"de459643-5011-d03b-4846-5934252f0bae\",\"subject\":\"Subject-1\",\"topic\":\"Topic-1\"},{\"dataVersion\":\"1.0\",\"eventTime\":\"2026-01-09T09:27:32.1759081-08:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"17658a57-b2e9-e1fa-99d0-55fbc0a27dbd\",\"subject\":\"Subject-2\",\"topic\":\"Topic-2\"},{\"dataVersion\":\"1.0\",\"eventTim[...]
