{
  "Entries": [
    {
      "RequestUri": "https://t40732b48f51f75ffcustomevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"dataVersion\":\"1.0\",\"eventTime\":\"2026-01-09T09:27:24.5636052-08:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"b190aa53-e624-9e24-a9b8-fefd22d7dbb8\",\"subject\":\"Subject-0\",\"topic\":\"Topic-0\"},{\"dataVersion\":\"1.0\",\"eventTime\":\"2026-01-09T09:27:24.5636052-08:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"2f1cc7ea-b17b-a6df-cdba-0fb7eec51d99\",\"subject\":\"Subject-1\",\"topic\":\"Topic-1\"},{\"dataVersion\":\"1.0\",\"eventTime\":\"2026-01-09T09:27:24.5636052-08:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"cbef3103-a26b-1d0b-0c28-dce3f0f64f18\",\"subject\":\"Subject-2\",\"topic\":\"Topic-2\"},{\"dataVersion\":\"1.0\",\"eventTim[...]
