{
  "Entries": [
    {
      "RequestUri": "https://jolov2customevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"dataVersion\":\"1.0\",\"eventTime\":\"2024-06-12T14:48:45.2544121-07:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"1347f812-9537-cd77-fb54-450f5e1b76bf\",\"subject\":\"Subject-0\",\"topic\":\"Topic-0\"},{\"dataVersion\":\"1.0\",\"eventTime\":\"2024-06-12T14:48:45.2544121-07:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"29b3e4f6-9485-243b-27cc-a22d999c0111\",\"subject\":\"Subject-1\",\"topic\":\"Topic-1\"},{\"dataVersion\":\"1.0\",\"eventTime\":\"2024-06-12T14:48:45.2544121-07:00\",\"eventType\":\"Microsoft.MockPublisher.TestEvent\",\"id\":\"a9b8037c-03e7-c4bc-2c54-c90331c2a6e6\",\"subject\":\"Subject-2\",\"topic\":\"Topic-2\"},{\"dataVersion\":\"1.0\",\"eventTim[...]
