{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"hello world\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "d99a656b-6153-4dc9-897d-d47803c9a16a.USW2.0502T2000"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":0.98},\"sentLen\":[11]}]"
    }
  ],
  "Variables": {}
}
