{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?language=zh-Hans&script=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"zhè shì gè cè shì。\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "5279e0ef-dd1c-40f7-a340-b7f0f57e97ac.USW2.0502T1950"
      },
      "ResponseBody": "[{\"sentLen\":[18]}]"
    }
  ],
  "Variables": {}
}
