{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"hello world\"},{\"text\":\"العالم هو مكان مثير جدا للاهتمام\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "662b88d6-e96c-4e04-85a4-a69a0e758b62.USW2.0502T2000"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":0.98},\"sentLen\":[11]},{\"detectedLanguage\":{\"language\":\"ar\",\"score\":1.0},\"sentLen\":[32]}]"
    }
  ],
  "Variables": {}
}
