{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177255267113209595?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 15:44:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE793BC3785D6A\"",
        "Last-Modified": "Tue, 03 Mar 2026 15:44:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177255267113209595/blob177255267143606645?comp=block&blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "ziyK7ZwvoM++1Wy9pNi/Bw==",
        "x-ms-date": "Tue, 03 Mar 2026 15:44:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "SGVsbG9Xb3JsZA==",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Crc64Mismatch",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>Crc64Mismatch</Code><Message>The CRC64 value specified in the request did not match with the CRC64 value calculated by the server.\n",
        "RequestId:f9b308f1-a01e-006d-2624-abf9eb000000\n",
        "Time:2026-03-03T15:44:32.5726816Z</Message><UserSpecifiedCrc>ziyK7ZwvoM8=</UserSpecifiedCrc><ServerCalculatedCrc>8R2aIe9T07E=</ServerCalculatedCrc></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container177255267113209595?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 15:44:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177255267143606645",
    "container": "container177255267113209595"
  }
}
