{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894686963104237?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE587059C25976\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:07:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894686963104237/copiedblob176894686973809335",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE587059D3E323\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:07:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:07:49.9829027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894686963104237/copiedblob176894686973809335?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container176894686963104237/blob176894686973401006?sv=Sanitized&se=sanitizedexpiry&sr=b&sp=d&sig=sanitizedsig",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=512-1023",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "AuthorizationPermissionMismatch",
        "x-ms-copy-source-status-code": "403",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:87e5a2ae-c01e-0018-0159-8a92a3000000\n",
        "Time:2026-01-20T22:07:50.1035380Z</Message><CopySourceStatusCode>403</CopySourceStatusCode><CopySourceErrorCode>AuthorizationPermissionMismatch</CopySourceErrorCode><CopySourceErrorMessage>This request is not authorized to perform this operation using this permission.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894686963104237?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176894686973401006",
    "container": "container176894686963104237",
    "copiedblob": "copiedblob176894686973809335",
    "tmr": "2026-01-20T22:07:49.738Z"
  }
}
