{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355534093605544?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825A48970A65\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:40 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355534093605544/blob177355534100908890",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825A48A25A80\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:15:41.0466150Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355534093605544/blockblob177355534108305936",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355534093605544/blob177355534100908890?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177355534093605544/blockblob177355534108305936?sv=Sanitized&se=sanitizedexpiry&sr=b&sp=r&sig=sanitizedsig",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-copy-source-status-code": "409",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:d54d2646-e01e-0045-1f43-b42d03000000\n",
        "Time:2026-03-15T06:15:41.2337120Z</Message><CopySourceStatusCode>409</CopySourceStatusCode><CopySourceErrorCode>BlobUsesCustomerSpecifiedEncryption</CopySourceErrorCode><CopySourceErrorMessage>The blob is encrypted with customer specified encryption, but it was not provided in the request.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355534093605544/blob177355534100908890?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177355534093605544/blockblob177355534108305936?sv=Sanitized&se=sanitizedexpiry&sr=b&sp=r&sig=sanitizedsig",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-encryption-algorithm": "AES256",
        "x-ms-source-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-source-encryption-key-sha256": "3QFFFpRA5+XANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825A48D0897D\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "u661BimQ84c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355534093605544/blob177355534100908890",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE825A48DC89EB\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sun, 15 Mar 2026 06:15:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:15:41.0466150Z"
      },
      "ResponseBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWE="
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355534093605544?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177355534100908890",
    "blockblob": "blockblob177355534108305936",
    "container": "container177355534093605544",
    "expiry": "2026-03-15T06:15:41.160Z"
  }
}
