{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16497",
        "x-ms-ratelimit-remaining-subscription-reads": "1097"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {},
        "subscriptionId": "2cd617ea-1866-46b1-90e3-fffb087ebf9b",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/dotnet-testrecordings-5704?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/dotnet-testrecordings-5704",
        "name": "dotnet-testrecordings-5704",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "26620838",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cd617ea-1866-46b1-90e3-fffb087ebf9b"
  }
}
