{
  "Entries": [
    {
      "RequestUri": "https://3zqxscnby3pev24ax.file.preprod.core.windows.net/test-share-e3bf15be-13d0-1cba-6660-f3faa958e1b1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 02 Oct 2023 18:40:04 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC376FE8B99B8\u0022",
        "Last-Modified": "Mon, 02 Oct 2023 18:40:04 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://3zqxscnby3pev24ax.file.preprod.core.windows.net/test-share-e3bf15be-13d0-1cba-6660-f3faa958e1b1?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 02 Oct 2023 18:40:04 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBC376FE8B99B8\u0022",
        "Last-Modified": "Mon, 02 Oct 2023 18:40:04 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Mon, 02 Oct 2023 18:40:04 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "True",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-quota": "5120",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://3zqxscnby3pev24ax.file.preprod.core.windows.net/test-share-e3bf15be-13d0-1cba-6660-f3faa958e1b1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 02 Oct 2023 18:40:04 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1796344584",
    "Storage_TestConfigDefault": "ProductionTenant\n3zqxscnby3pev24ax\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://3zqxscnby3pev24ax.file.preprod.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://3zqxscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=3zqxscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
