{
  "Entries": [
    {
      "RequestUri": "https://x6txscnby3pev24ax.file.preprod.core.windows.net/test-share-e9dad541-33a7-9fec-6b39-5202c6dba8b8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 17:54:45 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC858896248944\"",
        "Last-Modified": "Wed, 05 Jun 2024 17:54:46 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://x6txscnby3pev24ax.file.preprod.core.windows.net/test-share-e9dad541-33a7-9fec-6b39-5202c6dba8b8?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 05 Jun 2024 17:54:45 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "13898837749375091793*7432447802796970400",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://x6txscnby3pev24ax.file.preprod.core.windows.net/test-share-e9dad541-33a7-9fec-6b39-5202c6dba8b8?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 17:54:45 GMT",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-permission-key": "13898837749375091793*7432447802796970400",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiQVFBVWhHd0FBQUNJQUFBQUFBQUFBQlFBQUFBQ0FGZ0FBd0FBQUFBQUZBRC9BUjhBQVFFQUFBQUFBQVVTQUFBQUFBQVlBUDhCSHdBQkFnQUFBQUFBQlNBQUFBQWdBZ0FBQUFBa0FLa0FFZ0FCQlFBQUFBQUFCUlVBQUFCWlViZ1habkpkSldSak93dU1tUzRBQVFVQUFBQUFBQVVWQUFBQW9HWFBmbmhMbTEvbmZJZHdyLzFJQVFFRkFBQUFBQUFGRlFBQUFLQmx6MzU0UzV0ZjUzeUhjQUVDQUFBPSIsImZvcm1hdCI6ImJpbmFyeSJ9"
    },
    {
      "RequestUri": "https://x6txscnby3pev24ax.file.preprod.core.windows.net/test-share-e9dad541-33a7-9fec-6b39-5202c6dba8b8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 17:54:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1718477250",
    "Storage_TestConfigDefault": "ProductionTenant\nx6txscnby3pev24ax\nU2FuaXRpemVk\nhttps://x6txscnby3pev24ax.blob.core.windows.net\nhttps://x6txscnby3pev24ax.file.preprod.core.windows.net\nhttps://x6txscnby3pev24ax.queue.core.windows.net\nhttps://x6txscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://x6txscnby3pev24ax-secondary.blob.core.windows.net\nhttps://x6txscnby3pev24ax-secondary.file.preprod.core.windows.net\nhttps://x6txscnby3pev24ax-secondary.queue.core.windows.net\nhttps://x6txscnby3pev24ax-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://x6txscnby3pev24ax.blob.core.windows.net/;QueueEndpoint=https://x6txscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://x6txscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://x6txscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://x6txscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://x6txscnby3pev24ax-secondary.file.preprod.core.windows.net/;AccountName=x6txscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
