{
  "Entries": [
    {
      "RequestUri": "https://x6txscnby3pev24ax.file.preprod.core.windows.net/test-share-6cc715e0-07d8-0683-5a5d-f6d70417cdbf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 17:54:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC858894A7FB2C\"",
        "Last-Modified": "Wed, 05 Jun 2024 17:54:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://x6txscnby3pev24ax.file.preprod.core.windows.net/test-share-6cc715e0-07d8-0683-5a5d-f6d70417cdbf?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Wed, 05 Jun 2024 17:54:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "13898837749375091793*7432447802796970400",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://x6txscnby3pev24ax.file.preprod.core.windows.net/test-share-6cc715e0-07d8-0683-5a5d-f6d70417cdbf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 05 Jun 2024 17:54:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "324936508",
    "Storage_TestConfigDefault": "ProductionTenant\nx6txscnby3pev24ax\nU2FuaXRpemVk\nhttps://x6txscnby3pev24ax.blob.core.windows.net\nhttps://x6txscnby3pev24ax.file.preprod.core.windows.net\nhttps://x6txscnby3pev24ax.queue.core.windows.net\nhttps://x6txscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://x6txscnby3pev24ax-secondary.blob.core.windows.net\nhttps://x6txscnby3pev24ax-secondary.file.preprod.core.windows.net\nhttps://x6txscnby3pev24ax-secondary.queue.core.windows.net\nhttps://x6txscnby3pev24ax-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://x6txscnby3pev24ax.blob.core.windows.net/;QueueEndpoint=https://x6txscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://x6txscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://x6txscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://x6txscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://x6txscnby3pev24ax-secondary.file.preprod.core.windows.net/;AccountName=x6txscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
