{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-1f9bd8c1-4b00-80dc-6c0e-b3a465af261b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:02:10 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86745166BDAD\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:02:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-1f9bd8c1-4b00-80dc-6c0e-b3a465af261b?restype=share&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:02:10 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "false",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8674516E9DAB\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:02:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-1f9bd8c1-4b00-80dc-6c0e-b3a465af261b?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:02:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8674516E9DAB\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:02:12 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "false",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 06 Jun 2024 22:02:11 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-1f9bd8c1-4b00-80dc-6c0e-b3a465af261b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:02:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1831822254",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium\nU2FuaXRpemVk\nhttps://seancanaryfilepremium.blob.core.windows.net\nhttps://seancanaryfilepremium.file.core.windows.net\nhttps://seancanaryfilepremium.queue.core.windows.net\nhttps://seancanaryfilepremium.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium-secondary.file.core.windows.net\nhttps://seancanaryfilepremium-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium;AccountKey=Sanitized\n\n\n"
  }
}
