{
  "Entries": [
    {
      "RequestUri": "https://seanprovisionedv2.file.core.windows.net/test-share-bac422d6-e8b0-cdb7-7d34-d4dbd242e84a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD9D6D554D9DA\"",
        "Last-Modified": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-share-included-burst-iops": "5000",
        "x-ms-share-max-burst-credits-for-iops": "14374800",
        "x-ms-share-provisioned-bandwidth-mibps": "61",
        "x-ms-share-provisioned-iops": "1007",
        "x-ms-share-quota": "32",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanprovisionedv2.file.core.windows.net/test-share-bac422d6-e8b0-cdb7-7d34-d4dbd242e84a?restype=share&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "3000",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD9D6D5624E06\"",
        "Last-Modified": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-share-included-burst-iops": "9000",
        "x-ms-share-max-burst-credits-for-iops": "21600000",
        "x-ms-share-next-allowed-provisioned-bandwidth-downgrade-time": "Sun, 22 Sep 2024 00:46:30 GMT",
        "x-ms-share-next-allowed-provisioned-iops-downgrade-time": "Sun, 22 Sep 2024 00:46:30 GMT",
        "x-ms-share-next-allowed-quota-downgrade-time": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "3000",
        "x-ms-share-quota": "32",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanprovisionedv2.file.core.windows.net/test-share-bac422d6-e8b0-cdb7-7d34-d4dbd242e84a?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCD9D6D5624E06\"",
        "Last-Modified": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-included-burst-iops": "9000",
        "x-ms-share-max-burst-credits-for-iops": "21600000",
        "x-ms-share-next-allowed-provisioned-bandwidth-downgrade-time": "Sun, 22 Sep 2024 00:46:30 GMT",
        "x-ms-share-next-allowed-provisioned-iops-downgrade-time": "Sun, 22 Sep 2024 00:46:30 GMT",
        "x-ms-share-next-allowed-quota-downgrade-time": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "125",
        "x-ms-share-provisioned-iops": "3000",
        "x-ms-share-quota": "32",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanprovisionedv2.file.core.windows.net/test-share-bac422d6-e8b0-cdb7-7d34-d4dbd242e84a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 21 Sep 2024 00:46:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-file-share-snapshot-usage-bytes": "0",
        "x-ms-file-share-usage-bytes": "0",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "118111228",
    "Storage_TestConfigDefault": "ProductionTenant\nseanprovisionedv2\nU2FuaXRpemVk\nhttps://seanprovisionedv2.blob.core.windows.net\nhttps://seanprovisionedv2.file.core.windows.net\nhttps://seanprovisionedv2.queue.core.windows.net\nhttps://seanprovisionedv2.table.core.windows.net\n\n\n\n\nhttps://seanprovisionedv2-secondary.blob.core.windows.net\nhttps://seanprovisionedv2-secondary.file.core.windows.net\nhttps://seanprovisionedv2-secondary.queue.core.windows.net\nhttps://seanprovisionedv2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanprovisionedv2.blob.core.windows.net/;QueueEndpoint=https://seanprovisionedv2.queue.core.windows.net/;FileEndpoint=https://seanprovisionedv2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanprovisionedv2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanprovisionedv2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanprovisionedv2-secondary.file.core.windows.net/;AccountName=seanprovisionedv2;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
