{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-3c4c9208-45a1-a04e-043c-78f6bf471711?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C518159995\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-3c4c9208-45a1-a04e-043c-78f6bf471711?restype=share&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-share-paid-bursting-enabled": "true",
        "x-ms-share-paid-bursting-max-bandwidth-mibps": "1000",
        "x-ms-share-paid-bursting-max-iops": "5000",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C5181D3534\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-3c4c9208-45a1-a04e-043c-78f6bf471711?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C5181D3534\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-share-paid-bursting-enabled": "true",
        "x-ms-share-paid-bursting-max-bandwidth-mibps": "1000",
        "x-ms-share-paid-bursting-max-iops": "5000",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium.file.core.windows.net/test-share-3c4c9208-45a1-a04e-043c-78f6bf471711?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "365905914",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium\nU2FuaXRpemVk\nhttps://seancanaryfilepremium.blob.core.windows.net\nhttps://seancanaryfilepremium.file.core.windows.net\nhttps://seancanaryfilepremium.queue.core.windows.net\nhttps://seancanaryfilepremium.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium-secondary.file.core.windows.net\nhttps://seancanaryfilepremium-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium;AccountKey=Sanitized\n\n\n"
  }
}
