{
  "Entries": [
    {
      "RequestUri": "https://1vrxscnby3pev24ax.file.preprod.core.windows.net/test-share-7bd5bbc6-03a7-6d01-469d-a272095c88a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF1E401CCA6DE\u0022",
        "Last-Modified": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://1vrxscnby3pev24ax.file.preprod.core.windows.net/test-share-7bd5bbc6-03a7-6d01-469d-a272095c88a5?restype=share\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-date": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF1E401D6505C\u0022",
        "Last-Modified": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://1vrxscnby3pev24ax.file.preprod.core.windows.net/test-share-7bd5bbc6-03a7-6d01-469d-a272095c88a5?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF1E401D6505C\u0022",
        "Last-Modified": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "True",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-quota": "5120",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://1vrxscnby3pev24ax.file.preprod.core.windows.net/test-share-7bd5bbc6-03a7-6d01-469d-a272095c88a5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Nov 2023 20:36:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2110109322",
    "Storage_TestConfigDefault": "ProductionTenant\n1vrxscnby3pev24ax\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://1vrxscnby3pev24ax.file.preprod.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://1vrxscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=1vrxscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
