{
  "Entries": [
    {
      "RequestUri": "https://seancanadapremiumfiles.file.core.windows.net/test-share-48184d4d-2ab1-2c0e-f867-9c16e0745f35?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 15:38:48 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7FF56EA49CD8\"",
        "Last-Modified": "Wed, 29 May 2024 15:38:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanadapremiumfiles.file.core.windows.net/test-share-48184d4d-2ab1-2c0e-f867-9c16e0745f35?restype=share&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 15:38:48 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "false",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7FF56EAE87F0\"",
        "Last-Modified": "Wed, 29 May 2024 15:38:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanadapremiumfiles.file.core.windows.net/test-share-48184d4d-2ab1-2c0e-f867-9c16e0745f35?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 15:38:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7FF56EAE87F0\"",
        "Last-Modified": "Wed, 29 May 2024 15:38:48 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "false",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 May 2024 15:38:47 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanadapremiumfiles.file.core.windows.net/test-share-48184d4d-2ab1-2c0e-f867-9c16e0745f35?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 15:38:48 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "701017552",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanadapremiumfiles\nU2FuaXRpemVk\nhttps://seancanadapremiumfiles.blob.core.windows.net\nhttps://seancanadapremiumfiles.file.core.windows.net\nhttps://seancanadapremiumfiles.queue.core.windows.net\nhttps://seancanadapremiumfiles.table.core.windows.net\n\n\n\n\nhttps://seancanadapremiumfiles-secondary.blob.core.windows.net\nhttps://seancanadapremiumfiles-secondary.file.core.windows.net\nhttps://seancanadapremiumfiles-secondary.queue.core.windows.net\nhttps://seancanadapremiumfiles-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seancanadapremiumfiles.blob.core.windows.net/;QueueEndpoint=https://seancanadapremiumfiles.queue.core.windows.net/;FileEndpoint=https://seancanadapremiumfiles.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanadapremiumfiles-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanadapremiumfiles-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanadapremiumfiles-secondary.file.core.windows.net/;AccountName=seancanadapremiumfiles;AccountKey=Sanitized\n\n\n"
  }
}
