{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439387555608679?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC684843A43EA8\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:31:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439387555608679/dir171439387566702950?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC684843B67591\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:31:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T12:31:16.2732945Z",
        "x-ms-file-creation-time": "2024-04-29T12:31:16.2732945Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T12:31:16.2732945Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439387555608679/dir171439387566702950/file171439387578605160?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC684843C7B12C\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:31:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T12:31:16.3862316Z",
        "x-ms-file-creation-time": "2024-04-29T12:31:16.3862316Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T12:31:16.3862316Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439387555608679/dir171439387566702950/file171439387578605160?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC684843C7B12C\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:31:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439387555608679/dir171439387566702950/file171439387578605160?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC684843C7B12C\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:31:16 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439387555608679?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171439387566702950",
    "file": "file171439387578605160",
    "share": "share171439387555608679"
  }
}
