{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830137339703869?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EBFD17791B\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:22:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830137339703869/dir169830137350609732?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EBFD2A454A\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:22:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:22:54.4493898Z",
        "x-ms-file-creation-time": "2023-10-26T06:22:54.4493898Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:22:54.4493898Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830137339703869/dir169830137350609732/file169830137362602341?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EBFD3B32BF\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:22:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:22:54.5603263Z",
        "x-ms-file-creation-time": "2023-10-26T06:22:54.5603263Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:22:54.5603263Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830137339703869/dir169830137350609732/file169830137362602341?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e9890485-bf47-4d9a-b3d0-aceb18506124",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EBFD3B32BF\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:22:54 GMT",
        "x-ms-lease-id": "e9890485-bf47-4d9a-b3d0-aceb18506124",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830137339703869/dir169830137350609732/file169830137362602341?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-range": "bytes=0-10",
        "x-ms-version": "2023-01-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:d4479721-601a-0056-75d4-0762ce000000\n",
        "Time:2023-10-26T06:22:54.7869342Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830137339703869/dir169830137350609732/file169830137362602341?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-lease-id": "e9890485-bf47-4d9a-b3d0-aceb18506124",
        "x-ms-range": "bytes=0-10",
        "x-ms-version": "2023-01-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DBD5EBFD6EE551\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:22:54 GMT",
        "x-ms-file-last-write-time": "2023-10-26T06:22:54.8991313Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830137339703869?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169830137350609732",
    "file": "file169830137362602341",
    "share": "share169830137339703869"
  }
}
