{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:39 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "80ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:43 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": {
        "callConnectionId": "2c001f80-b75a-471b-a336-5191810a3e5d",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:45 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJjYyI6Ikg0c0lBQUFBQUFBQUNzMVlhMi9qdUJYOUs0SUw5RU16dEVqcVFZbUFVVGlPazNGZWs5ZnNiZ3VqQmtWU3RpYXlwS1hrMko3WitlKzlsSjNFR2FlejZiWURyQXpJNXV2Y2N5OWY1L3BMUjRvOHZ5eWJMTTJrYUxLeTZQQXZuZFNVYy91ZHFRN3ZSRnpJbXBORUNVR1RHTVVCWnNnUGZJcVNKUFNSWUFtbEVtTVJLWCtDMjRjU3hLUUtFRWtaUTJHY1loUUVuc0FLNHpoSXc4Njdqc3JxS2hmclN6SFhIVjRzOHZ4ZFJ4ZXFLck9pR1ZtTEhnbURWSVFoQ3IxWWdDMGFvOGp6UGNRSUVSN3hsZThMQVRDNUtLWUxNZFYyekFhbEVxYkpaRmFKTFJCbG1pcWR4Z2hyVFFGSVNwUklqNkE0QkRqaHMwUnBCVUN6VENrTmpxY2[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/2c001f80-ee05-4cdc-9822-18fb99d2a673:startTranscription?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:47 GMT"
      },
      "RequestBody": {
        "locale": "en-CA",
        "operationContext": "StartTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/2c001f80-ee05-4cdc-9822-18fb99d2a673:play?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:49 GMT"
      },
      "RequestBody": {
        "playSources": [
          {
            "kind": "text",
            "text": {
              "text": "Hello, this is live test",
              "voiceKind": "male",
              "voiceName": "en-US-ElizabethNeural"
            }
          }
        ],
        "playTo": [],
        "interruptCallMediaOperation": false,
        "playOptions": {
          "loop": false
        },
        "operationContext": "playalloptionduringtranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/2c001f80-ee05-4cdc-9822-18fb99d2a673?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:49 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": {
        "callConnectionId": "2c001f80-ee05-4cdc-9822-18fb99d2a673",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzY2UtMDItcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9yQ21GYTlPdVowR2tBam5yYXFfY3RRP2k9MTAtNjAtMC00MyZlPTYzODU2OTUxNTI1ODkwOTAyNg==",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "state": "disabled"
        },
        "transcriptionSubscription": {
          "id": "Sanitized",
          "state": "active",
          "subscribedResultTypes": [
            "final"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/2c001f80-ee05-4cdc-9822-18fb99d2a673:updateTranscription?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:49 GMT"
      },
      "RequestBody": {
        "locale": "en-US",
        "operationContext": "UpdateTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/2c001f80-ee05-4cdc-9822-18fb99d2a673:stopTranscription?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:50 GMT"
      },
      "RequestBody": {
        "operationContext": "StopTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/2c001f80-ee05-4cdc-9822-18fb99d2a673:terminate?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "b0ac75f9-9b9f-4b32-b9cd-30d394fa086b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/2c001f80-ee05-4cdc-9822-18fb99d2a673?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 00:17:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "4bc34ecb-0704-4042-9480-872a6241181e",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240722.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "RandomSeed": "1472730669",
    "SERVICEBUS_STRING": "Endpoint=sb://acs-callautomationtestservicebus.servicebus.windows.net/;SharedAccessKeyName=Sanitized;SharedAccessKey=Kg==",
    "TRANSPORT_URL": "https://sanitized.skype.com"
  }
}
