{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:57:56 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:57:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:57:59 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02009880-a987-4462-91d9-b3c7d5fb6c11",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:04 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJjYyI6Ikg0c0lBQUFBQUFBQUNzMVlhMi9iT0JiOUs0SUgyQTg3cFMxU0VrVVJNQmEya3pSdUd5ZU5rMDQzTUNhZ1NNcldSSlkwbFB4cXAvOTlMMlU3Y2NiZFRuYm5nWEVRMnlRdnp6MzNpSTk3L2JrbFJaYU5panBOVWlucXRNaGIvSE1yTWNYY2ZxYXF4VnVNQzFseEhDc2hTQnloS0hCRDVBYytRWEZNZlNUQ21CRHB1b0lwLzk1dFhzUkRnakNNZEVnVWNoV0xrY3Q4Um9qcmFoYVMxcXVXU3FzeUU1dVJtT3NXenhkWjlxeHJYQ3lNaElIV0luL0lpMVVPRTNTdXlpTE42Nkhsa3lnbWZacUV5Q1BNUjc1MEF4UXBoUkdsU2dPdFdDUkJESE15a1U4WFlxcnRuSzJQVXBnNmxXa3Bka0FDUnl3TW1FSUNVNDE4RlNVb0RpS0[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1:startTranscription?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:07 GMT"
      },
      "RequestBody": {
        "locale": "en-CA",
        "operationContext": "StartTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "X-Microsoft-Skype-Chain-ID": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1:play?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:10 GMT"
      },
      "RequestBody": {
        "playSources": [
          {
            "kind": "text",
            "text": {
              "text": "Hello, this is live test",
              "voiceKind": "male",
              "voiceName": "en-US-ElizabethNeural"
            }
          }
        ],
        "playTo": [],
        "interruptCallMediaOperation": false,
        "playOptions": {
          "loop": false
        },
        "operationContext": "playalloptionduringtranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "X-Microsoft-Skype-Chain-ID": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02009880-30b3-4efa-a6b8-3d0251e69ee1",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L0llTnNaWjBsNFV5NVhYZG52Tk5GdHc/aT0xMC0xMjgtNjEtMTYwJmU9NjM4NjY0MjkyNDE5NDIxOTI0",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "state": "disabled"
        },
        "transcriptionSubscription": {
          "id": "Sanitized",
          "state": "active",
          "subscribedResultTypes": [
            "final"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1:updateTranscription?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:10 GMT"
      },
      "RequestBody": {
        "locale": "en-US",
        "operationContext": "UpdateTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "X-Microsoft-Skype-Chain-ID": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1:stopTranscription?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:11 GMT"
      },
      "RequestBody": {
        "operationContext": "StopTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "X-Microsoft-Skype-Chain-ID": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1:terminate?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "271729cf-5d16-48e7-889b-60c4b34d28ce",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 06 Nov 2024 17:58:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "77dc720d-2e59-4038-a0d5-42905fe9cd59",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20241105.1 (.NET 7.0.20; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/02009880-30b3-4efa-a6b8-3d0251e69ee1"
        }
      }
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "RandomSeed": "486994613",
    "SERVICEBUS_STRING": "Endpoint=sb://acs-callautomationtestservicebus.servicebus.windows.net/;SharedAccessKeyName=Sanitized;SharedAccessKey=Kg==",
    "TRANSPORT_URL": "https://sanitized.skype.com"
  }
}
