{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:12 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:15 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "09002480-2a9a-491f-9de0-e55e0cd7e867",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:17 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        },
        "answeredBy": {
          "id": "Sanitized"
        },
        "transcriptionOptions": {
          "transportUrl": "wss://sanitized.skype.com",
          "startTranscription": false,
          "transportType": "websocket",
          "locale": "en-CA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "09002480-9ef2-49a8-a9ca-dad01aa2e8a1",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LWpwZWEtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L3h5TXg5dlV0SVVxLTFESTUyTjBMZ0E/aT0xMC0xMjgtMjctMjI0JmU9NjM4ODMwNzgxMjM5OTIzNDQ1",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-9ef2-49a8-a9ca-dad01aa2e8a1:startTranscription?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:20 GMT"
      },
      "RequestBody": {
        "locale": "en-CA",
        "operationContext": "StartTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "operationContext": "StartTranscription",
        "subscriptionId": "a9e4a808-45b4-4acb-ae1a-5a797d8520e1"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-9ef2-49a8-a9ca-dad01aa2e8a1:play?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:23 GMT"
      },
      "RequestBody": {
        "playSources": [
          {
            "kind": "text",
            "text": {
              "text": "Hello, this is live test",
              "voiceKind": "male",
              "voiceName": "en-US-ElizabethNeural"
            }
          }
        ],
        "playTo": [],
        "interruptCallMediaOperation": false,
        "playOptions": {
          "loop": false
        },
        "operationContext": "playalloptionduringtranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-9ef2-49a8-a9ca-dad01aa2e8a1?api-version=2025-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-9ef2-49a8-a9ca-dad01aa2e8a1:updateTranscription?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:23 GMT"
      },
      "RequestBody": {
        "locale": "en-US",
        "operationContext": "UpdateTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-9ef2-49a8-a9ca-dad01aa2e8a1:stopTranscription?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:24 GMT"
      },
      "RequestBody": {
        "operationContext": "StopTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "operationContext": "StopTranscription",
        "subscriptionId": "a9e4a808-45b4-4acb-ae1a-5a797d8520e1"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-9ef2-49a8-a9ca-dad01aa2e8a1:terminate?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "3d13c7f0-6061-486b-a3c3-392fd67753c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-9ef2-49a8-a9ca-dad01aa2e8a1?api-version=2025-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f66be1c2-5aae-4b98-9675-decc4cdc7d44",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250519.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 19 May 2025 06:37:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "1676978318",
    "SERVICEBUS_STRING": "Sanitized",
    "TRANSPORT_URL": "https://sanitized.skype.com"
  }
}
