{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:18 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        },
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "455570ff-e125-46e2-90d7-61cd3bf655f1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "0a004580-5b3e-4b85-9ac6-2f87c3993ea5",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "455570ff-e125-46e2-90d7-61cd3bf655f1",
        "mediaSubscriptionId": "caa64b3e-fbf6-4806-a64d-5f4bdb512ec3",
        "dataSubscriptionId": "9a66b5b8-2182-4638-91d2-383d9f6d7958",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:20 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "455570ff-e125-46e2-90d7-61cd3bf655f1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "0a004580-380b-40a6-b4ab-5c5c424c4dbb",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVhZW4tMDUtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9BVzNPM2tuN2FVYXlocmNBWXFlWFZ3P2k9MTAtNjAtMC05MiZlPTYzODcyNzQ5MDYzODQ2NzA0OA==",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "455570ff-e125-46e2-90d7-61cd3bf655f1",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "297bffe7-dd7a-485c-aba7-d4adc2b1591a",
        "dataSubscriptionId": "df9b8589-9bda-496f-b5ab-5070cb1b003c",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/0a004580-5b3e-4b85-9ac6-2f87c3993ea5:recognize?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:23 GMT"
      },
      "RequestBody": {
        "recognizeInputType": "choices",
        "playPrompts": [
          {
            "kind": "file",
            "file": {
              "uri": "https://sanitized.skype.com/prompt.wav"
            }
          },
          {
            "kind": "text",
            "text": {
              "text": "Test prompt1",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          }
        ],
        "interruptCallMediaOperation": false,
        "recognizeOptions": {
          "interruptPrompt": false,
          "initialSilenceTimeoutInSeconds": 5,
          "targetParticipant": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          "choices": [
            {
              "label": "Confirm",
              "phrases": [
                "Confirm",
                "First",
                "One"
              ],
              "tone": "one"
            },
            {
              "label": "Cancel",
              "phrases": [
                "Cancel",
                "Second",
                "Two"
              ],
              "tone": "two"
            }
          ]
        },
        "operationContext": "choiceContext"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "455570ff-e125-46e2-90d7-61cd3bf655f1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/0a004580-5b3e-4b85-9ac6-2f87c3993ea5:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "455570ff-e125-46e2-90d7-61cd3bf655f1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/0a004580-5b3e-4b85-9ac6-2f87c3993ea5?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "7e598af3-bcfb-4c5c-91bd-07ca42db595e",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 06:54:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "FILE_SOURCE_URL": "https://sanitized.skype.com/prompt.wav",
    "PMA_Endpoint": null,
    "RandomSeed": "946931092",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
