{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:18 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "13ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:21 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        },
        "customCallingContext": {
          "voipHeaders": {}
        },
        "transcriptionOptions": {
          "transportUrl": "wss://sanitized.skype.com",
          "transportType": null,
          "locale": "en-CA",
          "startTranscription": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "00002680-2d42-4dd3-ac50-85687478e0e9",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "mediaSubscriptionId": "3a894c7c-f846-4500-83f5-52fe9714957d",
        "dataSubscriptionId": "48a42f8f-2a7e-45e3-963d-556d9eb45d41",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:23 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "00002680-4fd1-4151-863c-53d7dc628de1",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LWpwd2UtMDUtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9vNFM5bGVOTXJrMlRiM0FfamMzWkN3P2k9MTAtNjAtNy0xMjUmZT02Mzg3MzM2NzYwMjE0MzI5OTg=",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "a78f1c3a-608d-4c05-b145-925f7150ef7e",
        "dataSubscriptionId": "2fae53b1-72fd-4fc5-ae02-d5d0f0ea7dc9",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00002680-2d42-4dd3-ac50-85687478e0e9:startTranscription?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:28 GMT"
      },
      "RequestBody": {
        "locale": "en-CA",
        "operationContext": "StartTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00002680-2d42-4dd3-ac50-85687478e0e9:play?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:31 GMT"
      },
      "RequestBody": {
        "playSources": [
          {
            "kind": "text",
            "text": {
              "text": "Hello, this is live test",
              "voiceKind": "male",
              "voiceName": "en-US-ElizabethNeural"
            }
          }
        ],
        "playTo": [],
        "playOptions": {
          "loop": false,
          "interruptCallMediaOperation": false,
          "interruptHoldAudio": false
        },
        "operationContext": "playalloptionduringtranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00002680-2d42-4dd3-ac50-85687478e0e9?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Mi[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00002680-2d42-4dd3-ac50-85687478e0e9:updateTranscription?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:31 GMT"
      },
      "RequestBody": {
        "locale": "en-US",
        "operationContext": "UpdateTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00002680-2d42-4dd3-ac50-85687478e0e9:stopTranscription?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:33 GMT"
      },
      "RequestBody": {
        "operationContext": "StopTranscription"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00002680-2d42-4dd3-ac50-85687478e0e9:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "183f01d1-015f-4489-81ba-1ca2bfaa1ac0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00002680-2d42-4dd3-ac50-85687478e0e9?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "0863ea47-cc18-43a0-93f1-18975c972e1b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250129.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 29 Jan 2025 09:11:38 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": null,
    "RandomSeed": "109498698",
    "SERVICEBUS_STRING": "Sanitized",
    "TRANSPORT_URL": "https://sanitized.skype.com"
  }
}
