{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:44 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "13ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:46 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "mediaStreamingConfiguration": {
          "transportUrl": "wss://sanitized.skype.com",
          "transportType": "websocket",
          "contentType": "audio",
          "audioChannelType": "mixed",
          "startMediaStreaming": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "bf37fe53-7303-4e5a-bcce-fc3301421fad",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250214.1 (.NET 8.0.13; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "19002280-d4d7-4932-8f52-4cbd95469913",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "dataSubscriptionId": "4f32e931-15a4-457a-9821-33f06f331e1e",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "bf37fe53-7303-4e5a-bcce-fc3301421fad",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "inactive",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:48 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJjYyI6Ikg0c0lBQUFBQUFBQUNzMVkrMi9iT0JMK1Z3UWZjRDljbHpZZmVsQUVqSVBqSkswM1RlSTgydDRWeGdVVVNkbXFaVW1sNU5ocHQvLzdEV1U3Y2VyZXRyZTNlMWdGY0VSeStNMDN3OGZNNkhOSHlUeS9LSnNzelpSc3NyTG9pTStkMUpZTDl6L1RIZEhoUXFwYWhKcnpPTUFVTVIxSjVCUEpVV0pTaVRRbHFlYlk4Q2lNN25ENzBBREpNRXFRVDRsR29kUStZaUdUV0dQc3B5cnUvTlRSV1YzbDh1RkNMa3hIRk1zOGY5WjFVeTZ0Z29IT3NwZ1g1YXFBQ2FiUVZaa1Z6Y2p4U1kzaWhDdUZvb0RFeUZkK2hIakFNS0tZR2hMRnNlUXFoVG01TEtaTE9UVnV6a1pISlcyVHFheVNXeUNEVGNLVk5raXlTQ0hmU0lvNGt6SG[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/19002280-d4d7-4932-8f52-4cbd95469913:startMediaStreaming?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:50 GMT"
      },
      "RequestBody": {
        "operationContext": "startMediaStreamingContext"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "bf37fe53-7303-4e5a-bcce-fc3301421fad",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250214.1 (.NET 8.0.13; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/19002280-d4d7-4932-8f52-4cbd95469913?api-version=2024-01-22-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "bf37fe53-7303-4e5a-bcce-fc3301421fad",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250214.1 (.NET 8.0.13; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "19002280-d4d7-4932-8f52-4cbd95469913",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDMtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi83UGtaMFlRSE9raVM5a2pqaTVCX29BP2k9MTAtNjAtOS0yMTUmZT02Mzg3NTE2NDk0Nzk3MDIwMzY=",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connected",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "dataSubscriptionId": "4f32e931-15a4-457a-9821-33f06f331e1e",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "bf37fe53-7303-4e5a-bcce-fc3301421fad",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "active",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/19002280-d4d7-4932-8f52-4cbd95469913:stopMediaStreaming?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:52 GMT"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "bf37fe53-7303-4e5a-bcce-fc3301421fad",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250214.1 (.NET 8.0.13; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/19002280-d4d7-4932-8f52-4cbd95469913:terminate?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "bf37fe53-7303-4e5a-bcce-fc3301421fad",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250214.1 (.NET 8.0.13; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/19002280-d4d7-4932-8f52-4cbd95469913?api-version=2024-01-22-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "99e37eca-82a9-446c-a709-f6636558810d",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250214.1 (.NET 8.0.13; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 14 Feb 2025 22:34:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "1933590809",
    "SERVICEBUS_STRING": "Sanitized",
    "TRANSPORT_URL": "https://sanitized.skype.com"
  }
}
