{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:37 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:39 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        },
        "transcriptionOptions": {
          "transportUrl": "wss://sanitized.skype.com",
          "startTranscription": false,
          "transportType": "websocket",
          "locale": "en-CA"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "00001680-0723-4c4f-b19e-0416336ba7ff",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:42 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {},
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "00001680-95f4-4e06-acb9-9ae8927bbcd1",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L0hQbVBHMl8tb0VlYTRYUm5lVFk5NFE/aT0xMC0xMjgtNTktMjEyJmU9NjM4ODU2OTI0Mzc0NTY1Nzg1",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff:startTranscription?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:44 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "locale": "en-CA",
        "operationContext": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "operationContext": "Sanitized",
        "subscriptionId": "53f2f9be-4de3-49c1-9736-3073113c6b2b"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff:play?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:46 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "playSources": [
          {
            "kind": "text",
            "text": {
              "text": "Hello, this is live test",
              "voiceKind": "male",
              "voiceName": "en-US-ElizabethNeural"
            }
          }
        ],
        "playTo": [],
        "interruptCallMediaOperation": false,
        "playOptions": {
          "loop": false
        },
        "operationContext": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "X-Microsoft-Skype-Chain-ID": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff?api-version=2025-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:46 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Resp[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff:updateTranscription?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:46 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "locale": "en-US",
        "operationContext": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "X-Microsoft-Skype-Chain-ID": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff:stopTranscription?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:48 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": {
        "operationContext": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "operationContext": "Sanitized",
        "subscriptionId": "53f2f9be-4de3-49c1-9736-3073113c6b2b"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff:terminate?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:51 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "f88ebe3f-68bb-4f29-b70c-0844853da6e0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff?api-version=2025-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"

        "x-ms-client-request-id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:52 GMT",
        "x-ms-return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "24e8ce0a-8c8e-44fc-b208-e5ea9277c9a2",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250617.1 (.NET 9.0.6; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/00001680-0723-4c4f-b19e-0416336ba7ff"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 17 Jun 2025 17:22:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "RandomSeed": "322097422",
    "SERVICEBUS_STRING": "Sanitized",
    "TRANSPORT_URL": "https://sanitized.skype.com"
  }
}
