{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:03 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:05 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        },
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3399c9db-9a27-4837-9c60-a0c9ede347b3",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "12004980-054a-4e66-9832-7c060feca321",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "3399c9db-9a27-4837-9c60-a0c9ede347b3",
        "mediaSubscriptionId": "2e0aad85-d561-4c8e-9134-7fe4df5d7361",
        "dataSubscriptionId": "1d4f62dd-8732-4dd5-8da1-21429f499890",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:08 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3399c9db-9a27-4837-9c60-a0c9ede347b3",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "12004980-2e26-48bd-ab87-0f1a81932bff",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LW1hc28tMDQtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9nQ1BrRXBlZUYwZUpaZEJOSjVIUlhnP2k9MTAtMTI4LTM5LTExMCZlPTYzODcyNjYwMzY0ODI5MTg1NA==",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "3399c9db-9a27-4837-9c60-a0c9ede347b3",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "55dc251f-f446-43cb-b721-4da36abe1117",
        "dataSubscriptionId": "c7d688ef-3a8e-4053-94dd-54cd737ced43",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/12004980-054a-4e66-9832-7c060feca321:recognize?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:11 GMT"
      },
      "RequestBody": {
        "recognizeInputType": "dtmf",
        "playPrompts": [
          {
            "kind": "text",
            "text": {
              "text": "Test prompt1",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          },
          {
            "kind": "text",
            "text": {
              "text": "Test prompt2",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          }
        ],
        "interruptCallMediaOperation": false,
        "recognizeOptions": {
          "interruptPrompt": false,
          "initialSilenceTimeoutInSeconds": 5,
          "targetParticipant": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          "dtmfOptions": {
            "interToneTimeoutInSeconds": 5,
            "maxTonesToCollect": 2,
            "stopTones": []
          }
        },
        "operationContext": "dtmfContext"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "3399c9db-9a27-4837-9c60-a0c9ede347b3",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/12004980-054a-4e66-9832-7c060feca321:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "3399c9db-9a27-4837-9c60-a0c9ede347b3",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/12004980-054a-4e66-9832-7c060feca321?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "a088e5d1-c8f8-4117-83e2-ffc78f151af9",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250122.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 22 Jan 2025 07:14:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": null,
    "RandomSeed": "1105088969",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
