{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:46:51 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:46:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:46:54 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "04001680-1d66-4080-9cba-42534875e903",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:46:56 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {},
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "04001680-7350-4033-bc83-5aa8ea0c1271",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L0JCc3I5MHdBTVV5QlVPTEdrdmpqRXc/aT0xMC0xMjgtNTMtMjA0JmU9NjM4ODUxNzM3MTUxMjEyMjkw",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/04001680-1d66-4080-9cba-42534875e903:hold?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:46:59 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "X-Microsoft-Skype-Chain-ID": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/04001680-1d66-4080-9cba-42534875e903/participants/Sanitized?api-version=2025-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:47:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "identifier": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "isMuted": false,
        "isOnHold": true
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/04001680-1d66-4080-9cba-42534875e903:unhold?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:47:02 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "X-Microsoft-Skype-Chain-ID": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/04001680-1d66-4080-9cba-42534875e903:terminate?api-version=2025-06-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:47:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "7645b046-7d6d-4a1e-b4db-a8a2cda9cff8",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/04001680-1d66-4080-9cba-42534875e903?api-version=2025-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:47:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-09-15, 2025-05-15, 2025-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "0cb218d2-45a5-4c02-a918-cd1302e4601e",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.5.0-alpha.20250611.1 (.NET 9.0.5; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/04001680-1d66-4080-9cba-42534875e903"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Jun 2025 20:47:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "RandomSeed": "1178438988",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
