{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:13:54 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:13:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:13:57 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "34759be7-4652-4df0-b31c-92b6a665c546",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "05004780-69b7-4caa-8708-6bcd9d956ffb",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "dataSubscriptionId": "7fd872f6-74f0-42b9-94ca-156613810adb",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "34759be7-4652-4df0-b31c-92b6a665c546",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:13:59 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "34759be7-4652-4df0-b31c-92b6a665c546",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "05004780-d56f-476f-a3e7-69d63e558ac1",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LW1hc28tMDMtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9GbnpRY1FPLTEwTzBkck1CSl8xWG1BP2k9MTAtMTI4LTEyNS05OCZlPTYzODkxNzM0MTM1NTkwMDkxMQ==",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "dataSubscriptionId": "52c86c16-d0cc-4b2e-a244-1a964316b1e0",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "34759be7-4652-4df0-b31c-92b6a665c546",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05004780-69b7-4caa-8708-6bcd9d956ffb:hold?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:14:05 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "X-Microsoft-Skype-Chain-ID": "34759be7-4652-4df0-b31c-92b6a665c546",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05004780-69b7-4caa-8708-6bcd9d956ffb/participants/Sanitized?api-version=2024-01-22-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:14:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "34759be7-4652-4df0-b31c-92b6a665c546",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "identifier": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "isMuted": false,
        "isOnHold": true
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05004780-69b7-4caa-8708-6bcd9d956ffb:unhold?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:14:09 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "X-Microsoft-Skype-Chain-ID": "34759be7-4652-4df0-b31c-92b6a665c546",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05004780-69b7-4caa-8708-6bcd9d956ffb:terminate?api-version=2024-01-22-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:14:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "34759be7-4652-4df0-b31c-92b6a665c546",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/05004780-69b7-4caa-8708-6bcd9d956ffb?api-version=2024-01-22-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:14:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "78891fe3-bf09-49f3-a855-ef8ebd8fe272",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.2.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/05004780-69b7-4caa-8708-6bcd9d956ffb"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 11:14:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "2132215368",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
