{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:16 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:18 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": {
        "callConnectionId": "00009880-5a17-42aa-bb94-fc2ada1c2ab5",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:20 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {},
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": {
        "callConnectionId": "00009880-ecc5-4f2e-9297-d9efb809e955",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzZWEtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L3J5Z3IyT19QYVU2MmQ4b01sUWpvZ0E/aT0xMC0xMjgtNjUtODYmZT02MzkwNzY0OTkxMTA0NzM2OTM=",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00009880-5a17-42aa-bb94-fc2ada1c2ab5:hold?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:28 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00009880-5a17-42aa-bb94-fc2ada1c2ab5/participants/Sanitized?api-version=2026-03-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:37 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": {
        "identifier": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "isMuted": false,
        "isOnHold": true
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00009880-5a17-42aa-bb94-fc2ada1c2ab5:unhold?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:37 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00009880-5a17-42aa-bb94-fc2ada1c2ab5:terminate?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "15c0633e-e4f5-4b8a-a1ce-e6ee94b6a1b0",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00009880-5a17-42aa-bb94-fc2ada1c2ab5?api-version=2026-03-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "76d7a49b-aeb5-473b-b0c6-d0814c1fce1f",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/00009880-5a17-42aa-bb94-fc2ada1c2ab5"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:21:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "RandomSeed": "1333891606",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
