{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:53:58 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "52ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:53:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:54:00 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "370e0d28-7a3a-4142-830d-47b331955b20",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240715.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": {
        "callConnectionId": "09002080-5f6f-4f99-bc94-cbcda3c88d65",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "370e0d28-7a3a-4142-830d-47b331955b20",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:54:01 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJjYyI6Ikg0c0lBQUFBQUFBQUNzMVliVy9qdUJIK0s0SUwzSWZ1MGlLcE40cUFVVGkya3hqWlpIT0pOOXNVUmdPS3BHeHRaRWxIeWJHVHZmM3ZIY3BPNHNUYjI3UzlLODRCRklzY1B2UE04TzBaZisxSWtlZG5aWk9sbVJSTlZoWWQvcldUbW5KaC8yZXF3enVNQzFsemtpZ2hhQktqT01BUjhnT2ZvaVFKZlNTaWhGS0pzV0RLdjhIdGh4SVVxREJCSWFaZ3hCS0JoTzhKckRDV2lwRE8rNDdLNmlvWDkyZGlvVHU4V09iNSs0NHVWRlZtUlRPMkhxVkttV0J4Z21Rc1BPU0hLa1ZNcXdUNXFhOXdLSUpFTVI5Z2NsSE1sbUttN1pnTlNpVk1rOG1zRWx1Z01GSXBaWm9pVFhTQWZCRXFGTWRBUDJWTVNCeFNYNmNZZ09hWlVob0[...]
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002080-5f6f-4f99-bc94-cbcda3c88d65:hold?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:54:04 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "370e0d28-7a3a-4142-830d-47b331955b20",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240715.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002080-5f6f-4f99-bc94-cbcda3c88d65/participants/Sanitized?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:54:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "370e0d28-7a3a-4142-830d-47b331955b20",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240715.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": {
        "identifier": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "isMuted": false,
        "isOnHold": true
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002080-5f6f-4f99-bc94-cbcda3c88d65:unhold?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:54:07 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "Sanitized",
          "communicationUser": {
            "id": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "370e0d28-7a3a-4142-830d-47b331955b20",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240715.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002080-5f6f-4f99-bc94-cbcda3c88d65:terminate?api-version=2024-06-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:54:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "370e0d28-7a3a-4142-830d-47b331955b20",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240715.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002080-5f6f-4f99-bc94-cbcda3c88d65?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 16 Jul 2024 21:54:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "fcfc423b-b45b-4170-933e-52ea2181f0aa",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.3.0-alpha.20240715.1 (.NET 7.0.20; Microsoft Windows 10.0.22631)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "RandomSeed": "1971511636",
    "SERVICEBUS_STRING": "Endpoint=sb://acs-callautomationtestservicebus.servicebus.windows.net/;SharedAccessKeyName=Sanitized;SharedAccessKey=Kg=="
  }
}
