{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:01 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:04 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c0f8a27f-8b32-432a-a305-87525695eb18",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02009180-0fd4-4641-80e0-d1d50979d579",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "c0f8a27f-8b32-432a-a305-87525695eb18",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:06 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {},
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "c0f8a27f-8b32-432a-a305-87525695eb18",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "02009180-3277-410f-8f03-73e73c32af73",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L1l3TDBQeFM5NEV1MElxdk1SNjYzaEE/aT0xMC0xMjgtNzMtMTE2JmU9NjM4ODkzMjI2NjQwNTQ2NDEw",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "c0f8a27f-8b32-432a-a305-87525695eb18",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009180-0fd4-4641-80e0-d1d50979d579:play?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:09 GMT"
      },
      "RequestBody": {
        "playSources": [
          {
            "kind": "text",
            "text": {
              "text": "Test prompt1",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          },
          {
            "kind": "text",
            "text": {
              "text": "Test prompt2",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          },
          {
            "kind": "text",
            "text": {
              "text": "Test prompt3",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          }
        ],
        "playTo": [],
        "interruptCallMediaOperation": false,
        "playOptions": {
          "loop": false
        },
        "operationContext": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "X-Microsoft-Skype-Chain-ID": "c0f8a27f-8b32-432a-a305-87525695eb18",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009180-0fd4-4641-80e0-d1d50979d579:terminate?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "c0f8a27f-8b32-432a-a305-87525695eb18",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/02009180-0fd4-4641-80e0-d1d50979d579?api-version=2025-08-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "001f443e-953e-4cb0-8704-dcc224e47241",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/02009180-0fd4-4641-80e0-d1d50979d579"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 06:25:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "370254573",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
