{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:47:53 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:47:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:47:55 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        },
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "18bd47cf-dad9-496e-9e1d-6e9501bea905",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "30002180-6883-49f0-90fe-2b5179c01f71",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "18bd47cf-dad9-496e-9e1d-6e9501bea905",
        "mediaSubscriptionId": "e3948370-a67a-4e5b-b305-ee6a26ceec95",
        "dataSubscriptionId": "a7c4f4f8-4bb8-4052-b2e8-d69cca98cb32",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:47:57 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "18bd47cf-dad9-496e-9e1d-6e9501bea905",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "30002180-e1b2-43e4-9a8f-5244c5a832ef",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDMtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9NTjl0eXowMjUwV3N0ZzlaRUJwdzZBP2k9MTAtNjAtMi0xNDcmZT02Mzg3MjU3NDMzNzQzMDQ0NDM=",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "18bd47cf-dad9-496e-9e1d-6e9501bea905",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "947b5255-efdd-4435-99b0-0d215eba1682",
        "dataSubscriptionId": "bc59c822-9bfc-4876-8227-3204c2fcd29d",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/30002180-6883-49f0-90fe-2b5179c01f71:play?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:47:59 GMT"
      },
      "RequestBody": {
        "playSources": [
          {
            "kind": "text",
            "text": {
              "text": "Test prompt1",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          },
          {
            "kind": "text",
            "text": {
              "text": "Test prompt2",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          },
          {
            "kind": "text",
            "text": {
              "text": "Test prompt3",
              "voiceKind": "male",
              "voiceName": "en-US-NancyNeural"
            }
          }
        ],
        "playTo": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "playOptions": {
          "loop": false,
          "interruptCallMediaOperation": false,
          "interruptHoldAudio": false
        },
        "operationContext": "context"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "18bd47cf-dad9-496e-9e1d-6e9501bea905",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/30002180-6883-49f0-90fe-2b5179c01f71:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:48:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "18bd47cf-dad9-496e-9e1d-6e9501bea905",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/30002180-6883-49f0-90fe-2b5179c01f71?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:48:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "e131ecba-05e4-48f4-aa42-c437f7a592c6",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250117.1 (.NET 8.0.12; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 18:48:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "931705959",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
