{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:32 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "13ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:35 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        },
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "70006747-5757-4aa3-a73e-691a17d06966",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "08004780-33d1-4185-ab86-6f985ec66d81",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "70006747-5757-4aa3-a73e-691a17d06966",
        "mediaSubscriptionId": "d9699154-2709-47ef-a871-6042c772c096",
        "dataSubscriptionId": "43d9963d-e6f4-4bce-8ec0-a8d60e765a21",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:37 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "70006747-5757-4aa3-a73e-691a17d06966",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "08004780-6b4e-45f7-b983-4f10d8fc7bab",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LW1hc28tMDMtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi9jamdmRDJCb3QwZXNsUHhiTVo3R1FRP2k9MTAtMTI4LTEyNi0yMjYmZT02Mzg4OTQxODAwNzY3OTk2NTM=",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "70006747-5757-4aa3-a73e-691a17d06966",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "ce652cee-6763-4b49-982a-8905331bd4f9",
        "dataSubscriptionId": "678dd95c-0858-458c-b0b5-8a6105ba0131",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/08004780-33d1-4185-ab86-6f985ec66d81:recognize?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:39 GMT"
      },
      "RequestBody": {
        "recognizeInputType": "speechOrDtmf",
        "playPrompts": [
          {
            "kind": "file",
            "file": {
              "uri": "https://sanitized.skype.com/prompt.wav"
            }
          }
        ],
        "interruptCallMediaOperation": false,
        "recognizeOptions": {
          "interruptPrompt": true,
          "initialSilenceTimeoutInSeconds": 10,
          "targetParticipant": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          "speechLanguages": [
            "en-US",
            "en-CA"
          ],
          "dtmfOptions": {
            "interToneTimeoutInSeconds": 2,
            "maxTonesToCollect": 2,
            "stopTones": []
          },
          "speechOptions": {
            "endSilenceTimeoutInMs": 1000
          }
        },
        "operationContext": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "X-Microsoft-Skype-Chain-ID": "70006747-5757-4aa3-a73e-691a17d06966",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/08004780-33d1-4185-ab86-6f985ec66d81:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "70006747-5757-4aa3-a73e-691a17d06966",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/08004780-33d1-4185-ab86-6f985ec66d81?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "0b273bc6-1538-4423-bed9-d6a212d72274",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250730.1 (.NET 8.0.18; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/08004780-33d1-4185-ab86-6f985ec66d81"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 30 Jul 2025 09:15:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "1461402057",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
