{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:25 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:27 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {
          "cognitiveServicesEndpoint": "https://sanitized.skype.com"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f959c9cc-0387-4212-9465-fc91d41d193c",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "61006980-87ad-4422-901c-097754bfc8d7",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "f959c9cc-0387-4212-9465-fc91d41d193c",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:28 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {},
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f959c9cc-0387-4212-9465-fc91d41d193c",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "61006980-cf2f-4670-99ca-512e89534a4b",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDUtcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi91ZDhqbjFQS1NVT1pCNUFuWDRHaEVRP2k9MTAtMTI4LTQzLTE4MSZlPTYzODkwMjkzOTc3MjMzNzg5Nw==",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "f959c9cc-0387-4212-9465-fc91d41d193c",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/61006980-87ad-4422-901c-097754bfc8d7:recognize?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:30 GMT"
      },
      "RequestBody": {
        "recognizeInputType": "speechOrDtmf",
        "playPrompts": [
          {
            "kind": "file",
            "file": {
              "uri": "https://sanitized.skype.com/prompt.wav"
            }
          },
          {
            "kind": "file",
            "file": {
              "uri": "https://sanitized.skype.com/prompt.wav"
            }
          }
        ],
        "interruptCallMediaOperation": false,
        "recognizeOptions": {
          "interruptPrompt": true,
          "initialSilenceTimeoutInSeconds": 10,
          "targetParticipant": {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          "dtmfOptions": {
            "interToneTimeoutInSeconds": 2,
            "maxTonesToCollect": 2,
            "stopTones": []
          },
          "speechOptions": {
            "endSilenceTimeoutInMs": 1000
          }
        },
        "operationContext": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "X-Microsoft-Skype-Chain-ID": "f959c9cc-0387-4212-9465-fc91d41d193c",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/61006980-87ad-4422-901c-097754bfc8d7:terminate?api-version=2025-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "f959c9cc-0387-4212-9465-fc91d41d193c",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/61006980-87ad-4422-901c-097754bfc8d7?api-version=2025-08-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-15-preview, 2024-01-22-preview, 2024-06-15-preview, 2024-11-15-preview, 2025-03-30-preview, 2025-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "27337513-fc40-4caa-8b12-8a267334594b",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20250812.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Call not found.",
          "target": "/calling/callConnections/61006980-87ad-4422-901c-097754bfc8d7"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 18:28:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COGNITIVE_SERVICE_ENDPOINT": "https://sanitized.skype.com",
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "FILE_SOURCE_URL": "https://sanitized.skype.com/prompt.wav",
    "RandomSeed": "1846566438",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
