{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaCLVW6k?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "administratorLogin": "cloudsa",
          "administratorLoginPassword": "",
          "createMode": "Default",
          "minimalTlsVersion": "TLS1_2",
          "sslEnforcement": "Enabled",
          "storageProfile": {
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Enabled",
            "storageMB": 128000
          }
        },
        "sku": {
          "capacity": 2,
          "family": "Gen5",
          "name": "GP_Gen5_2",
          "tier": "GeneralPurpose"
        },
        "tags": {
          "ElasticServer": "1"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2023-08-31T08:19:18.417Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "startTime": "2023-08-31T08:19:18.417Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaCLVW6k?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5_2",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "properties": {
          "administratorLogin": "cloudsa",
          "storageProfile": {
            "storageMB": 128000,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Enabled",
            "storageAutogrow": "Disabled"
          },
          "version": "10.2",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLS1_2",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "servernaclvw6k.mariadb.database.azure.com",
          "earliestRestoreDate": "2023-08-31T08:29:18.713\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "infrastructureEncryption": "Disabled",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "tags": {
          "ElasticServer": "1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaclvw6k",
        "name": "servernaclvw6k",
        "type": "Microsoft.DBforMariaDB/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaCLVW6k/securityAlertPolicies/Default?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "state": "Enabled"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/West%20US/securityAlertPoliciesAzureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/West%20US/securityAlertPoliciesOperationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "UpsertServerThreatDetectionPolicy",
        "startTime": "2023-08-31T08:20:21.71Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/West%20US/securityAlertPoliciesAzureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "InProgress",
        "startTime": "2023-08-31T08:20:21.71Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaCLVW6k/securityAlertPolicies/Default?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled",
          "disabledAlerts": [
            ""
          ],
          "emailAddresses": [
            ""
          ],
          "emailAccountAdmins": false,
          "storageEndpoint": "",
          "storageAccountAccessKey": "",
          "retentionDays": 0,
          "creationTime": "2023-08-31T08:20:21.82Z"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaclvw6k/securityAlertPolicies/Default",
        "name": "Default",
        "type": "Microsoft.DBforMariaDB/servers/securityAlertPolicies"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaCLVW6k/securityAlertPolicies?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "state": "Enabled",
              "disabledAlerts": [
                ""
              ],
              "emailAddresses": [
                ""
              ],
              "emailAccountAdmins": false,
              "storageEndpoint": "",
              "storageAccountAccessKey": "",
              "retentionDays": 0,
              "creationTime": "2023-08-31T08:20:21.82Z"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernaclvw6k/securityAlertPolicies/Default",
            "name": "Default",
            "type": "Microsoft.DBforMariaDB/servers/securityAlertPolicies"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ2NjYtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1693469954",
    "recordingRandomSeed": "0"
  }
}
