{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "administratorLogin": "cloudsa",
          "administratorLoginPassword": "",
          "createMode": "Default",
          "minimalTlsVersion": "TLS1_2",
          "sslEnforcement": "Enabled",
          "storageProfile": {
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Enabled",
            "storageMB": 128000
          }
        },
        "sku": {
          "capacity": 2,
          "family": "Gen5",
          "name": "GP_Gen5_2",
          "tier": "GeneralPurpose"
        },
        "tags": {
          "ElasticServer": "1"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServer",
        "startTime": "2023-08-31T08:01:06.783Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "startTime": "2023-08-31T08:01:06.783Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5_2",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2
        },
        "properties": {
          "administratorLogin": "cloudsa",
          "storageProfile": {
            "storageMB": 128000,
            "backupRetentionDays": 7,
            "geoRedundantBackup": "Enabled",
            "storageAutogrow": "Disabled"
          },
          "version": "10.2",
          "sslEnforcement": "Enabled",
          "minimalTlsVersion": "TLS1_2",
          "userVisibleState": "Ready",
          "fullyQualifiedDomainName": "servernarwfmyi.mariadb.database.azure.com",
          "earliestRestoreDate": "2023-08-31T08:11:07.237\u002B00:00",
          "replicationRole": "None",
          "masterServerId": "",
          "replicaCapacity": 5,
          "byokEnforcement": "Disabled",
          "infrastructureEncryption": "Disabled",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus",
        "tags": {
          "ElasticServer": "1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarwfmyi",
        "name": "servernarwfmyi",
        "type": "Microsoft.DBforMariaDB/servers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/checkNameAvailability?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "name1",
        "type": "Microsoft.DBforMariaDB"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "reason": "AlreadyExists",
        "message": "Specified server name \u0027name1\u0027 is already used. Please use a different name and try again."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/configurations/event_scheduler?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "source": "user-override",
          "value": "off"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "operation": "UpdateElasticServerConfig",
        "startTime": "2023-08-31T08:02:11.593Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/configurations/event_scheduler?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "properties": {
          "value": "off",
          "description": "Indicates the status of the Event Scheduler. It is always OFF for a replica server to keep the replication consistency.",
          "defaultValue": "OFF",
          "dataType": "Enumeration",
          "allowedValues": "ON,OFF",
          "source": "user-override",
          "isConfigPendingRestart": "False",
          "isDynamicConfig": "True"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/configurations/event_scheduler",
        "name": "event_scheduler",
        "type": "Microsoft.DBforMariaDB/servers/configurations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/configurations?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remainin[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/databases/databaseia14Ry?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "charset": "utf8",
          "collation": "utf8_general_ci"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServerDatabase",
        "startTime": "2023-08-31T08:03:00.607Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/databases?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-sub[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/firewallRules/firewalldsP5hI?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endIpAddress": "255.255.255.255",
          "startIpAddress": "0.0.0.0"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "operation": "UpsertElasticServerFirewallRules",
        "startTime": "2023-08-31T08:03:34.57Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/firewallRules?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "startIpAddress": "0.0.0.0",
              "endIpAddress": "255.255.255.255"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarwfmyi/firewallRules/firewalldsP5hI",
            "name": "firewalldsP5hI",
            "type": "Microsoft.DBforMariaDB/servers/firewallRules"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/WestUS/performanceTiers?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Basic",
            "serviceLevelObjectives": [
              {
                "edition": "Basic",
                "vCore": 1,
                "hardwareGeneration": "Gen5",
                "minStorageMB": 5120,
                "maxStorageMB": 1048576,
                "minBackupRetentionDays": 7,
                "maxBackupRetentionDays": 35,
                "id": "B_Gen5_1"
              },
              {
                "edition": "Basic",
                "vCore": 2,
                "hardwareGeneration": "Gen5",
                "minStorageMB": 5120,
                "maxStorageMB": 1048576,
                "minBackupRetentionDays": 7,
                "maxBackupRetentionDays": 35,
                "id": "B_Gen5_2"
              }
            ],
            "minStorageMB": 5120,
            "maxStorageMB": 1048576,
            "minLargeStorageMB": 0,
            "maxLargeStorageMB": 0,
            "minBackupRetentionDays": 7,
            "maxBackupRetentionDays": 35,
            "features": [
              {
                "name": "MicrosoftDBMariaDBSTOP",
                "value": "Enabled"
              }
            ],
            "subscriptionFeatures": []
          },
          {
            "id": "GeneralPurpose",
            "serviceLevelObjectives": [
              {
                "edition": "GeneralPurpose",
                "vCore": 2,
                "hardwareGeneration": "Gen5",
                "minStorageMB": 5120,
                "maxStorageMB": 16777216,
                "minBackupRetentionDays": 7,
                "maxBackupRetentionDays": 35,
                "id": "GP_Gen5_2"
              },
              {
                "editi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/logFiles?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DBforMariaDB/operations?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.DBforMariaDB/servers/securityAlertPolicies/read",
            "display": {
              "provider": "Microsoft DB for MariaDB",
              "resource": "Server Threat Detection Policy",
              "operation": "Get server threat detection policy",
              "description": "Retrieve details of the server threat detection policy configured on a given server"
            }
          },
          {
            "name": "Microsoft.DBforMariaDB/servers/securityAlertPolicies/write",
            "display": {
              "provider": "Microsoft DB for MariaDB",
              "resource": "Server Threat Detection Policy",
              "operation"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/recoverableServers?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "enableGeoRedundantBackup": false,
        "enableStorageAutoGrow": false,
        "enableInfrastructureEncryption": false
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/replicas?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/performanceTiers?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remain[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/updateConfigurations?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "name": "event_scheduler",
            "properties": {
              "value": "OFF"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "operation": "UpdateElasticServerConfig",
        "startTime": "2023-08-31T08:04:12.757Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/servers?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "Response[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/restart?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "operation": "RestartElasticServer",
        "startTime": "2023-08-31T08:05:32.993Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/stop?api-version=2020-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "operation": "StopElasticServer",
        "startTime": "2023-08-31T08:06:34.867Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DBforMariaDB/servers/servernarWFmYi/start?api-version=2020-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/azureAsyncOperation/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMariaDB/locations/westus/operationResults/00000000-0000-0000-0000-000000000000?api-version=2018-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "operation": "StartElasticServer",
        "startTime": "2023-08-31T08:07:21.973Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_Subnet?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "subnetId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
              }
            },
            "parameters": {
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "mariadbvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2021-05-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027virtualNetworksName\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "default",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "serviceEndpoints": [
                          {
                            "service": "Microsoft.Sql"
                          }
                        ]
                      }
                    }
                  ]
                },
                "tags": {},
                "type": "Microsoft.Network/virtualNetworks"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_Subnet/operationStatuses/08585081375954541487?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Resources/deployments/Create_Subnet",
        "name": "Create_Subnet",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "2465889999385918268",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "mariadbvnet"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2023-08-31T08:08:12.7163723Z",
          "duration": "PT0.0001509S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
[...]
