{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e3b4a31e-6283-6e46-4f3e-335e26b66011?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FEC208DD8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1ce22cfe-5678-236f-c79f-07a7d134ec9b/test-blob-ede1283f-95f5-8728-63f2-5bba7618eca2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Nbd+boc0Q4w3shLxZVa55Q+go6NC2lBLI9fHPd9iBzqhc6Nj5tx2VKpvPUjluvu4/jStE5RtD1tmMkqwbQas1KvXUPGzVv4yKk7405wIZWjbDj+qtfSmM2RH/bORxeekwmidDmoKBag1euhFdTu+Xc3i1F/HAR+2MByNa1hLoWRnVBAzalf+0QiXdDoLYL4oiZ/mrvGI3MBJ5t1NfJpP6tmE3iEri/N15AJWMIzkq9BeZOK5ZfJy3ndP6oN6sFRuR4phhoKd/f2rcMruMqwzZDsN7hi3lYXmEf+p26Bv+zOu5+gCgyRNwWbkDfQnhKzKG4VIbME7t7IEenWD8yFdPHSWQErEMeAWvy2y04iQvo1S[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e3b4a31e-6283-6e46-4f3e-335e26b66011/test-blob-8eec6e5b-e95e-a42d-5d87-133baaeb8803",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FEC4BB0F0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:48.2596592Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e3b4a31e-6283-6e46-4f3e-335e26b66011/test-blob-8eec6e5b-e95e-a42d-5d87-133baaeb8803?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9511mvMLh2zVgDNFW10tHC5P/EwYJBpnvgwO1vlzxpKX3B[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e3b4a31e-6283-6e46-4f3e-335e26b66011/test-blob-8eec6e5b-e95e-a42d-5d87-133baaeb8803?sv=Sanitized&se=2024-06-08T01%3A19%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC868FEC57E4E8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:48.2596592Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1ce22cfe-5678-236f-c79f-07a7d134ec9b/test-blob-ede1283f-95f5-8728-63f2-5bba7618eca2?sv=Sanitized&se=2024-06-08T01%3A19%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-e3b4a31e-6283-6e46-4f3e-335e26b66011/test-blob-8eec6e5b-e95e-a42d-5d87-133baaeb8803?sv=Sanitized&se=2024-06-08T01%3A19%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:620604a8-101e-009c-7678-b85b47000000\n",
        "Time:2024-06-07T01:19:48.6617304Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1ce22cfe-5678-236f-c79f-07a7d134ec9b/test-blob-ede1283f-95f5-8728-63f2-5bba7618eca2?sv=Sanitized&se=2024-06-08T01%3A19%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HMNYpqzpmZa8+wVss1Z+TQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FEC3F2EDE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:48.1776862Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1ce22cfe-5678-236f-c79f-07a7d134ec9b/test-blob-ede1283f-95f5-8728-63f2-5bba7618eca2?sv=Sanitized&se=2024-06-08T01%3A19%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FEC3F2EDE\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FEC3F2EDE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:48 GMT",
        "x-ms-blob-content-md5": "HMNYpqzpmZa8+wVss1Z+TQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:48.1776862Z"
      },
      "ResponseBody": "Nbd+boc0Q4w3shLxZVa55Q+go6NC2lBLI9fHPd9iBzqhc6Nj5tx2VKpvPUjluvu4/jStE5RtD1t[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e3b4a31e-6283-6e46-4f3e-335e26b66011?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:19:46.6815226-05:00",
    "RandomSeed": "1180236527",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
