{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfd9ff44-6246-98a7-5352-6f3759de6205?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E9A7FBEDC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfd9ff44-6246-98a7-5352-6f3759de6205/test-blob-eee170aa-d486-e525-1566-f1090a583f8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E9A9B9E80\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfd9ff44-6246-98a7-5352-6f3759de6205/test-blob-eee170aa-d486-e525-1566-f1090a583f8b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "eW/vfJuUjCkGjcf3WyKiN4KdqlRjutEPAAb1TksGH9pjCNGCtdAPvb6vRc6cylU/0f1Z+HTG8b+d4HyVnj3eAG3tk1NRIIKyjuyVs3UCcjawtn1OrSZlnRYS5NRTeR6A0UVgrzYC7rB7pmqHMD1Km25G5OjAkFJHh/Y9PjutXhTOFOIwosP/rsjM0ga83WzYx0lmDZQ1wEHyGSc/xK90zUhVuRtbGvmqRjYg871MiqqKZHbyR1F/mFShPYicv+kYVwW+ZyNRfa1Qu8ZeFc2DpY58tWA4gob21SHHudxwDoZNB5u4jiOGOObJoouKIYKGHZf5HwqI4NV+x5EBisTR36w/EQ0yy[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfd9ff44-6246-98a7-5352-6f3759de6205/test-blob-eee170aa-d486-e525-1566-f1090a583f8b?sv=Sanitized&se=2025-10-01T20%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9AA57E73\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3557fcaa-5968-a0c9-6154-51cba12ac9d3/test-blob-d17b98bd-f557-aeaa-f8be-1c56891c2d57?sv=Sanitized&se=2025-10-01T20%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-dfd9ff44-6246-98a7-5352-6f3759de6205/test-blob-eee170aa-d486-e525-1566-f1090a583f8b?sv=sanitized-value&se=2025-10-01T20%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E9AD5A72A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-content-crc64": "Ab2zmn0rwhw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3557fcaa-5968-a0c9-6154-51cba12ac9d3/test-blob-d17b98bd-f557-aeaa-f8be-1c56891c2d57?sv=Sanitized&se=2025-10-01T20%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "+iTdZvDma312tqFm5YCLgQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9AD5A72A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfd9ff44-6246-98a7-5352-6f3759de6205/test-blob-eee170aa-d486-e525-1566-f1090a583f8b?sv=Sanitized&se=2025-10-01T20%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005E9AA57E73\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9AA57E73\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3557fcaa-5968-a0c9-6154-51cba12ac9d3/test-blob-d17b98bd-f557-aeaa-f8be-1c56891c2d57?sv=Sanitized&se=2025-10-01T20%3A19%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005E9AD5A72A\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9AD5A72A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-blob-content-md5": "+iTdZvDma312tqFm5YCLgQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "eW/vfJuUjCkGjcf3WyKiN4KdqlRjutEPAAb1T[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfd9ff44-6246-98a7-5352-6f3759de6205?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:19:05.5828631-07:00",
    "RandomSeed": "2144673034",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
