{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4216c2-2173-7a99-7a8f-975a6a4ba94d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC4B659002\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4216c2-2173-7a99-7a8f-975a6a4ba94d/test-blob-c92fddfc-6f12-7e35-f003-f830ec038f0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC4B79D719\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:35.4535705Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4216c2-2173-7a99-7a8f-975a6a4ba94d/test-blob-c92fddfc-6f12-7e35-f003-f830ec038f0e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "aK9kMj9K6H/9/yESfrLKOk9mlww0\u002BujICcL/N266egeTcf8nSM7yzkuGKR0OOPMapEPdzFXAdm7HnCh8SrAQQ4UafgyyovKBdMjBrtDKudHP5ZIr3K6x0/uQYKuldYSadeaY9LnmZwJQW1iN/8id/eJWrWUd5WbXaKoRIUJH3P5EJjjqMcUX6H2Q2oBVJNQy8mPJTscefJB/wYsO1EW/CX9ZSdiPs8sdP8XnjQrmgUPW3y7ffY02JamoanA5CBM30dAB/Nv7oj\u002BXqw8CN\u002B\u002BFmUBIN/UW4IvyIiMu50ha4zaxr7w65IRn2zzvR9F9NO26I9Ew8dAdI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4216c2-2173-7a99-7a8f-975a6a4ba94d/test-blob-c92fddfc-6f12-7e35-f003-f830ec038f0e?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A34Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC4B860A61\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:35.4535705Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef468ad2-1a92-9d93-e3e9-71a8875cad39/test-blob-bd5cda10-6af0-bc3f-69c9-4587e3cfb77e?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A34Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC4BA3794C\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-content-crc64": "tJ\u002BwrPqlcnI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:35.7264204Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef468ad2-1a92-9d93-e3e9-71a8875cad39/test-blob-bd5cda10-6af0-bc3f-69c9-4587e3cfb77e?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A34Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yQAN4JcxRFn0q8OE/nzqTg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC4BA3794C\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:35.7264204Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4216c2-2173-7a99-7a8f-975a6a4ba94d/test-blob-c92fddfc-6f12-7e35-f003-f830ec038f0e?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A34Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC4B860A61\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC4B860A61\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ef468ad2-1a92-9d93-e3e9-71a8875cad39/test-blob-bd5cda10-6af0-bc3f-69c9-4587e3cfb77e?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A34Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC4BA3794C\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC4BA3794C\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-blob-content-md5": "yQAN4JcxRFn0q8OE/nzqTg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:35.7264204Z"
      },
      "ResponseBody": "aK9kMj9K6H/9/yESfrLKOk9mlww0\u002BujICcL/N266egeTcf8nSM7yzkuGKR0OOPMapEPdzF[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4216c2-2173-7a99-7a8f-975a6a4ba94d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:09:34.9439406-07:00",
    "RandomSeed": "689389438",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
