{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-293b26b0-ac3a-40ff-6040-c39bc33f7b51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D104AB2F971\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-293b26b0-ac3a-40ff-6040-c39bc33f7b51/test-blob-66cf71de-8d2d-3c86-6d8f-d21c6befcf12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D104AC49441\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-293b26b0-ac3a-40ff-6040-c39bc33f7b51/test-blob-66cf71de-8d2d-3c86-6d8f-d21c6befcf12?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ZUm3uN8+LrUsyhUr8/Czb7GnaGNzZQ5/dwBVGPLktvITs+c9pYttXJSA/Hg4QFdUA9QTsLTf1/87OEDf6BXDSBMiGD8IdsomOQvO82mWRjepARUd0QY9NNzoAm1KjnN+vbNlFigXS4wK7HapEOSWpPEJNecApXcM5ONjIHRd26uYTza1MTAOkrWJE+SQlCT3UV18QFiLfhc8WDFEtCsXrRHKEMCu4HPA+qMydpGSe0++a84X4JtTDNEeeNj+yt2JcWbTxoNjSXDpu0W0WQeGqdzihkhdAMx2dwTvkGebwTDFqQUrv7XLWiJdLSVVnrLJl8/7HEOVK3GZXU5+dLgITvkV77ACW[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-293b26b0-ac3a-40ff-6040-c39bc33f7b51/test-blob-66cf71de-8d2d-3c86-6d8f-d21c6befcf12?sv=Sanitized&se=2025-03-08T00%3A37%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104ACCC85F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-922f156e-4df6-912e-9ae2-3e344b82cbea/test-blob-2f252b8a-6a74-bda5-6806-3fd182dff65b?sv=Sanitized&se=2025-03-08T00%3A37%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-293b26b0-ac3a-40ff-6040-c39bc33f7b51/test-blob-66cf71de-8d2d-3c86-6d8f-d21c6befcf12?sv=sanitized-value&se=2025-03-08T00%3A37%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D104AE36B3E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-content-crc64": "YeDM0soqh00=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-922f156e-4df6-912e-9ae2-3e344b82cbea/test-blob-2f252b8a-6a74-bda5-6806-3fd182dff65b?sv=Sanitized&se=2025-03-08T00%3A37%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "T0C+229bm0rSqn2gWRDNdg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104AE36B3E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-293b26b0-ac3a-40ff-6040-c39bc33f7b51/test-blob-66cf71de-8d2d-3c86-6d8f-d21c6befcf12?sv=Sanitized&se=2025-03-08T00%3A37%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D104ACCC85F\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104ACCC85F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-922f156e-4df6-912e-9ae2-3e344b82cbea/test-blob-2f252b8a-6a74-bda5-6806-3fd182dff65b?sv=Sanitized&se=2025-03-08T00%3A37%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D104AE36B3E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104AE36B3E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-blob-content-md5": "T0C+229bm0rSqn2gWRDNdg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "ZUm3uN8+LrUsyhUr8/Czb7GnaGNzZQ5/dwBVG[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-293b26b0-ac3a-40ff-6040-c39bc33f7b51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:37:51.2792136-08:00",
    "RandomSeed": "1250820138",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
