{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-71845c66-3689-1ee5-c9e6-2e0b3065c882?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC54971309\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-71845c66-3689-1ee5-c9e6-2e0b3065c882/test-blob-45efb1be-8096-c0cf-fd84-c3a1450aad2b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC54AB6D99\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:50.8780441Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-71845c66-3689-1ee5-c9e6-2e0b3065c882/test-blob-45efb1be-8096-c0cf-fd84-c3a1450aad2b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "NS\u002B9kg8lP5LTdJXveT99sH2\u002BM3fStW2FuXqTQ3m5T6j\u002B/xOsSoNnI3jBcN7Y\u002B0oFRdrqDUBuUX/BONiUkvsYGSXt8Xkr0WX5Vw/\u002BEUWPrL4wjf6fz0Foj66U6hKr0pF9qFa46wnQ2nR08LYwcD85MYsaZAT9eUnkhGHLl\u002BZTToR\u002BgWjv18G0YLOKKt\u002BLNx5uWriGkG6Mfy8M1GanBEKNIaExsu/XSlrJZQNRc05pWE1DXDwtzL0W8QE54gJbDFxw/Ak\u002BWYQvlxBevStqOwzhonsYZKcFYFTkG8DtnmdYblmn4HdE[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-71845c66-3689-1ee5-c9e6-2e0b3065c882/test-blob-45efb1be-8096-c0cf-fd84-c3a1450aad2b?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC54B4E227\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:50.8780441Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e2b33a5e-5ac1-eff0-f5a6-fb25bc07b683/test-blob-6a9399da-8887-58f0-2a47-653a679e0c22?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-71845c66-3689-1ee5-c9e6-2e0b3065c882/test-blob-45efb1be-8096-c0cf-fd84-c3a1450aad2b?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC54D954ED\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-content-crc64": "xouR2UWcJRo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:51.1788781Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e2b33a5e-5ac1-eff0-f5a6-fb25bc07b683/test-blob-6a9399da-8887-58f0-2a47-653a679e0c22?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "k3u7lOldoeFQPM9EIMdvCg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC54D954ED\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:51.1788781Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-71845c66-3689-1ee5-c9e6-2e0b3065c882/test-blob-45efb1be-8096-c0cf-fd84-c3a1450aad2b?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC54B4E227\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC54B4E227\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e2b33a5e-5ac1-eff0-f5a6-fb25bc07b683/test-blob-6a9399da-8887-58f0-2a47-653a679e0c22?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC54D954ED\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC54D954ED\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-blob-content-md5": "k3u7lOldoeFQPM9EIMdvCg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:51.1788781Z"
      },
      "ResponseBody": "NS\u002B9kg8lP5LTdJXveT99sH2\u002BM3fStW2FuXqTQ3m5T6j\u002B/xOsSoNnI3jBcN7Y[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-71845c66-3689-1ee5-c9e6-2e0b3065c882?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:09:50.3494326-07:00",
    "RandomSeed": "1286826665",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
