{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a0731591-3cab-9276-9980-9d72f7951b9e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1052DC16D2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a0731591-3cab-9276-9980-9d72f7951b9e/test-blob-93043aff-51ef-7e40-8172-f0cc26f64f79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1052EE4017\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a0731591-3cab-9276-9980-9d72f7951b9e/test-blob-93043aff-51ef-7e40-8172-f0cc26f64f79?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "4vQGT41v2mQEPN8BzOwuS6KBGpy6LUPuKCzySSsfMOrQoeRTOfAJDU4g83Wc5rMFpQwoTR+7IrSwFyZgfJA55Az1MSsH2xGxdwxOmjrNUkJ57aQf9uPLFH4voiHKqJG+5w5pp7WH/cr6d9USbYd648Xk54/sGe4pKRyt2Djv5857kLMrY6qN8e/aJH8NuKf2tL5c5cEB0c0gQH2Y2iWRCo8Glt3UT38bVvagEfRuG3F0tiN5kwENer7mCyIt9BbJSRrvBiLKImU+QI7LYb/ZsSUMIyMCF3eN+Rwe7kRd7mLf1sjafxVOqZS+OlJzQhj+DVr9INHzxzKjYQwFqzQh4VIs7Iv3/[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a0731591-3cab-9276-9980-9d72f7951b9e/test-blob-93043aff-51ef-7e40-8172-f0cc26f64f79?sv=Sanitized&se=2025-03-08T00%3A38%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1052F6E8E5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97521f2e-2719-2414-7024-462b4926075e/test-blob-5066eaa4-6243-3e85-1851-7391d6c35a7a?sv=Sanitized&se=2025-03-08T00%3A38%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a0731591-3cab-9276-9980-9d72f7951b9e/test-blob-93043aff-51ef-7e40-8172-f0cc26f64f79?sv=sanitized-value&se=2025-03-08T00%3A38%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10530E4E42\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:05 GMT",
        "x-ms-content-crc64": "j8YjIr4yhuA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97521f2e-2719-2414-7024-462b4926075e/test-blob-5066eaa4-6243-3e85-1851-7391d6c35a7a?sv=Sanitized&se=2025-03-08T00%3A38%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "PovSD0SVK+yU6rQNtxc2mg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10530E4E42\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a0731591-3cab-9276-9980-9d72f7951b9e/test-blob-93043aff-51ef-7e40-8172-f0cc26f64f79?sv=Sanitized&se=2025-03-08T00%3A38%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1052F6E8E5\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1052F6E8E5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-97521f2e-2719-2414-7024-462b4926075e/test-blob-5066eaa4-6243-3e85-1851-7391d6c35a7a?sv=Sanitized&se=2025-03-08T00%3A38%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10530E4E42\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10530E4E42\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:05 GMT",
        "x-ms-blob-content-md5": "PovSD0SVK+yU6rQNtxc2mg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "4vQGT41v2mQEPN8BzOwuS6KBGpy6LUPuKCzyS[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a0731591-3cab-9276-9980-9d72f7951b9e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:38:04.9771036-08:00",
    "RandomSeed": "872975200",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
