{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fefb6d6-a230-d3cc-9efd-fa4a664bd787?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:18:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E90BF88CF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:18:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a459dea0-1482-b38f-51d7-fc614e835bbc/test-blob-eb720583-5264-8b34-5b39-b26ff4a9518d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "iCE8OTbYTxE8ixdSrwtkNDBNzXKWg8ivOqIhsQIHDSPU3Jw/elUxL2MBFk637I/CcqV43m3G5wVYjf+Ttp0ONX7zfdJvJbrbG50PlWx6+E0SXj9cjy61DfWW5u1VnXnF8uDQw269U0zrnMPQtlKY3pSygFddsaVQPXDd2D7NhX0kSaOMqTXeVQvzcfJq5Vai/ghYoxwiaEA6gIX+33oNHRdFrGyuDDRf0ytLakCz5VgZOto2deJgAeFiUSiv4HaR5VTbJDnq8/LT+M/x1v3/h5st5KSf16g05KqLS7oMsPK0uoXs2MAeL0boY3wSbyvkY8qNgvvR8Q2rpkCPX6g3x0jdPRt4E67aDrVet3QsIXV+[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fefb6d6-a230-d3cc-9efd-fa4a664bd787/test-blob-f3842c14-f9f4-2621-ab47-ad46dff0f43a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E90E5BB7E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fefb6d6-a230-d3cc-9efd-fa4a664bd787/test-blob-f3842c14-f9f4-2621-ab47-ad46dff0f43a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Y1GBwCqrmV2WqGC9BXWh2yHjQxxY4P9DZzHaxFSYmS9[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fefb6d6-a230-d3cc-9efd-fa4a664bd787/test-blob-f3842c14-f9f4-2621-ab47-ad46dff0f43a?sv=Sanitized&se=2025-10-01T20%3A18%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E90EF9B64\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a459dea0-1482-b38f-51d7-fc614e835bbc/test-blob-eb720583-5264-8b34-5b39-b26ff4a9518d?sv=Sanitized&se=2025-10-01T20%3A18%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8fefb6d6-a230-d3cc-9efd-fa4a664bd787/test-blob-f3842c14-f9f4-2621-ab47-ad46dff0f43a?sv=sanitized-value&se=2025-10-01T20%3A18%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E91281F26\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-content-crc64": "viOaanazL7U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a459dea0-1482-b38f-51d7-fc614e835bbc/test-blob-eb720583-5264-8b34-5b39-b26ff4a9518d?sv=Sanitized&se=2025-10-01T20%3A18%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "WnukkK2ogMxCmVHWABxHLg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E91281F26\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fefb6d6-a230-d3cc-9efd-fa4a664bd787/test-blob-f3842c14-f9f4-2621-ab47-ad46dff0f43a?sv=Sanitized&se=2025-10-01T20%3A18%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005E90EF9B64\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E90EF9B64\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a459dea0-1482-b38f-51d7-fc614e835bbc/test-blob-eb720583-5264-8b34-5b39-b26ff4a9518d?sv=Sanitized&se=2025-10-01T20%3A18%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005E91281F26\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E91281F26\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-blob-content-md5": "WnukkK2ogMxCmVHWABxHLg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:18:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Y1GBwCqrmV2WqGC9BXWh2yHjQxxY4P9DZzHax[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fefb6d6-a230-d3cc-9efd-fa4a664bd787?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:18:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:18:49.1581384-07:00",
    "RandomSeed": "1784649901",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
