{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09ccdd7a-fc74-dfce-6583-aff372e26d07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D104DA03CBC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7629475d-4a3d-d1d9-f6cf-586cfd04b343/test-blob-d28dc0ad-975f-1348-8a3a-0b7a31582d25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "uR9f0w/cjuSWX3qK81NIGdbZtMEwtXQpdawOut9YP6P/xiBXDsh31Fb5Uaz3hn4VF9EYT/nqNQOrNV5jzdQEPR/Xiy0z8AoOYuBqN2PHMe8t+aMOQPCpFJEdrNhqEwaB9BSNIPtQ4SbGCe0Zf/6g4wRuNdMw9f0vLXacFUQxpE7Z6EJPOhH03Rd9RzcCj5SSfcjU+94zUP8XXfKEtMzhlGWeQJa8UKnyeli7s63FLJ3hCZh8XahwpZdCONwebyhLm7PRZE/+1iwf4oGFd51RUTBVo6ozZTe8Lpr/eRjM0wovbxj69MhO4zJsXXom6i368earycx+GDV7FDW0/l0TUg53VQiEVl1oB794xgi8lkRt[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09ccdd7a-fc74-dfce-6583-aff372e26d07/test-blob-dbdbcb69-191b-2b48-ca20-6d1515258dec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D104DBC7CB3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09ccdd7a-fc74-dfce-6583-aff372e26d07/test-blob-dbdbcb69-191b-2b48-ca20-6d1515258dec?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "OL+g2tg86nzI/aLP2S+wkwxHP+BBk/xrUfS8r47SxZA[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09ccdd7a-fc74-dfce-6583-aff372e26d07/test-blob-dbdbcb69-191b-2b48-ca20-6d1515258dec?sv=Sanitized&se=2025-03-08T00%3A37%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104DC5258E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7629475d-4a3d-d1d9-f6cf-586cfd04b343/test-blob-d28dc0ad-975f-1348-8a3a-0b7a31582d25?sv=Sanitized&se=2025-03-08T00%3A37%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-09ccdd7a-fc74-dfce-6583-aff372e26d07/test-blob-dbdbcb69-191b-2b48-ca20-6d1515258dec?sv=sanitized-value&se=2025-03-08T00%3A37%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D104DDD7434\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-content-crc64": "agOI+k1cODI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7629475d-4a3d-d1d9-f6cf-586cfd04b343/test-blob-d28dc0ad-975f-1348-8a3a-0b7a31582d25?sv=Sanitized&se=2025-03-08T00%3A37%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "hYBirb6Bl7BZ9f3pRpXozw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104DDD7434\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09ccdd7a-fc74-dfce-6583-aff372e26d07/test-blob-dbdbcb69-191b-2b48-ca20-6d1515258dec?sv=Sanitized&se=2025-03-08T00%3A37%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D104DC5258E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104DC5258E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7629475d-4a3d-d1d9-f6cf-586cfd04b343/test-blob-d28dc0ad-975f-1348-8a3a-0b7a31582d25?sv=Sanitized&se=2025-03-08T00%3A37%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D104DDD7434\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D104DDD7434\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-blob-content-md5": "hYBirb6Bl7BZ9f3pRpXozw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "OL+g2tg86nzI/aLP2S+wkwxHP+BBk/xrUfS8r[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09ccdd7a-fc74-dfce-6583-aff372e26d07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:37:56.1483030-08:00",
    "RandomSeed": "862307741",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
