{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cc6da73f-4675-855d-c008-eccf4fe4d0f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CBD7F6A266\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cc6da73f-4675-855d-c008-eccf4fe4d0f5/test-blob-f094e660-52fc-5531-a736-9f2acf83e7d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CBD8054F36\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:17:20.3253823Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cc6da73f-4675-855d-c008-eccf4fe4d0f5/test-blob-f094e660-52fc-5531-a736-9f2acf83e7d9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "V2hYZfmjmf0KKRgSxd3kKWmgbIBMQe3YVWd+voAiPXlviHn6RQnTeqYa94rlZ9VJC0sDZ+40OhV6gBCRJNt86Oueozxk6uRfzPHZMkpj8+6SNbI0HtaLOk1jf8X4QVbLnQ6fRsOZ5SFnpJr8WwfLF40h/+8oR8oVE2juAGsfZoubDpU8w6wq+E+RzXo7jt9GmGc410Fno1VDijJbquS1SD0PYU1yjlPg9waflnpQ2YWJqGgE5o9JNGo/+Dl5z05r3IU8LC2S1AkTV986yAzb87Ct0QF8sWGtxiziMpYaZie4M7r1FK1X9tRe8I+vDmxeZAWJzP1N7yojjmUAsKFz+fC4gpRS5[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cc6da73f-4675-855d-c008-eccf4fe4d0f5/test-blob-f094e660-52fc-5531-a736-9f2acf83e7d9?sv=Sanitized&se=2025-01-31T01%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CBD80C04F5\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:17:20.3253823Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-668515c7-23fa-8678-e825-c1e7ecd54833/test-blob-884bda1b-a6b0-c506-5e59-7155b95d8b03?sv=Sanitized&se=2025-01-31T01%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cc6da73f-4675-855d-c008-eccf4fe4d0f5/test-blob-f094e660-52fc-5531-a736-9f2acf83e7d9?sv=sanitized-value&se=2025-01-31T01%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CBD81C2F32\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-content-crc64": "P0eQLuJoeKs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:17:20.4742962Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-668515c7-23fa-8678-e825-c1e7ecd54833/test-blob-884bda1b-a6b0-c506-5e59-7155b95d8b03?sv=Sanitized&se=2025-01-31T01%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7Q6Vv61VzvfQLraNO9L5rA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CBD81C2F32\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:17:20.4742962Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cc6da73f-4675-855d-c008-eccf4fe4d0f5/test-blob-f094e660-52fc-5531-a736-9f2acf83e7d9?sv=Sanitized&se=2025-01-31T01%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CBD80C04F5\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CBD80C04F5\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-668515c7-23fa-8678-e825-c1e7ecd54833/test-blob-884bda1b-a6b0-c506-5e59-7155b95d8b03?sv=Sanitized&se=2025-01-31T01%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CBD81C2F32\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CBD81C2F32\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-blob-content-md5": "7Q6Vv61VzvfQLraNO9L5rA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:17:20.4742962Z"
      },
      "ResponseBody": "V2hYZfmjm[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-668515c7-23fa-8678-e825-c1e7ecd54833/test-blob-884bda1b-a6b0-c506-5e59-7155b95d8b03?sv=Sanitized&se=2025-01-31T01%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cc6da73f-4675-855d-c008-eccf4fe4d0f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:17:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:17:20.3869472-08:00",
    "RandomSeed": "1819576357",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
