{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cc1adf47-0803-2614-b045-6fb03c11f1cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1057B94F5B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ccad37ea-c6db-ebb5-36d0-df47b9475655/test-blob-f00e28ae-cdeb-23d4-6ce3-eb51bf9a0d3f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "S0zK6MaaMcTB/jtj9U8ggnv8xco6LNQxmjMLf2jLNA37Uh0s5bljw+cN2TfpA5jCd3Mn86ggoB93mU2SjrFb9souaKMx85zBmQHiLFKdR5ebSQj1o0Bk2rH+tExs0TQ1seNsu5v1kIPWZVqmPXPM2lG190WoZlKKyY3xMz5QVcjMrHpvMIz8pbmFHj3lvp09Mdr6ttnvjUuQ4vENA1xEhRCS2ZD4XanEuVGLI0cUpAvwswFkVp7u3R8v3k6b7qFcQJktUuQMRNQwNv2IY2kDez3mHU9a4C9ypPxwyX5bKcuvL+Ku51Em428tMx+hZXm1LGIQtNBSAWBquq7nm3tW1Qwx2DSHVZTrvzrgLa0P0D6D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cc1adf47-0803-2614-b045-6fb03c11f1cc/test-blob-7155d5be-d2c3-4a68-61fb-7a550c93b9fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1057D60736\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cc1adf47-0803-2614-b045-6fb03c11f1cc/test-blob-7155d5be-d2c3-4a68-61fb-7a550c93b9fd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "mbqjcFrp7Ek7J3nwmKhbrtaGm7KH4FRIUIxE+kg7sXP[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cc1adf47-0803-2614-b045-6fb03c11f1cc/test-blob-7155d5be-d2c3-4a68-61fb-7a550c93b9fd?sv=Sanitized&se=2025-03-08T00%3A38%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1057DEAFFF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ccad37ea-c6db-ebb5-36d0-df47b9475655/test-blob-f00e28ae-cdeb-23d4-6ce3-eb51bf9a0d3f?sv=Sanitized&se=2025-03-08T00%3A38%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-cc1adf47-0803-2614-b045-6fb03c11f1cc/test-blob-7155d5be-d2c3-4a68-61fb-7a550c93b9fd?sv=sanitized-value&se=2025-03-08T00%3A38%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1057F993DC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-content-crc64": "AMBgFepnc6M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ccad37ea-c6db-ebb5-36d0-df47b9475655/test-blob-f00e28ae-cdeb-23d4-6ce3-eb51bf9a0d3f?sv=Sanitized&se=2025-03-08T00%3A38%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "VZuDklPPoyiy7EvhpgG8GA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1057F993DC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cc1adf47-0803-2614-b045-6fb03c11f1cc/test-blob-7155d5be-d2c3-4a68-61fb-7a550c93b9fd?sv=Sanitized&se=2025-03-08T00%3A38%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1057DEAFFF\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1057DEAFFF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ccad37ea-c6db-ebb5-36d0-df47b9475655/test-blob-f00e28ae-cdeb-23d4-6ce3-eb51bf9a0d3f?sv=Sanitized&se=2025-03-08T00%3A38%3A13Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1057F993DC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1057F993DC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-blob-content-md5": "VZuDklPPoyiy7EvhpgG8GA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "mbqjcFrp7Ek7J3nwmKhbrtaGm7KH4FRIUIxE+[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cc1adf47-0803-2614-b045-6fb03c11f1cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:38:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:38:13.0880008-08:00",
    "RandomSeed": "1275120799",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
