{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5647aaec-902d-04f1-cd03-7944193b2ca3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC5533EE27\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5647aaec-902d-04f1-cd03-7944193b2ca3/test-blob-62c21f7f-ebde-6188-8b98-34ce59975204",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC55465996\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:50.4658326Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5647aaec-902d-04f1-cd03-7944193b2ca3/test-blob-62c21f7f-ebde-6188-8b98-34ce59975204?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "9rxP3yehnrYEf8m4vfzNuNX0KpLplBEXesZ2JyXvekiJDrp9ZBn3egruqD62RBXll11tokg7KWKrOGVhK3eQFAWBLq9BUFS7/bCH+uvSYDawkZDIgtgATeRY0Sy0lU+TXpQ5NRVmo0YIsaWYsy522dgvsZnnx5ItgeHK6X4oBmdg9JxXmCsgSu5Jv9AzaJm14fhUheS1rJYBDLQ0m7rI4Ks9N7+SH0CsDmarnQjC+RlHFAeG1ICDqkgGVYt26640gN8l9TDaI8K3p3Z9Cg6OPxKb7IeyQgwquY12i8m1NiO4dx0onQPobfFFzywKBqA6eBV42/8mgT7S+jyjY5f5AnFTxJLwZ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5647aaec-902d-04f1-cd03-7944193b2ca3/test-blob-62c21f7f-ebde-6188-8b98-34ce59975204?sv=Sanitized&se=2025-01-31T01%3A20%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC554D0F57\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:50.4658326Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73572195-5fe7-bb5d-7939-4023df8d0aa8/test-blob-25cdbead-b5c1-5c61-edec-43cd7b411e91?sv=Sanitized&se=2025-01-31T01%3A20%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5647aaec-902d-04f1-cd03-7944193b2ca3/test-blob-62c21f7f-ebde-6188-8b98-34ce59975204?sv=sanitized-value&se=2025-01-31T01%3A20%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC555DD5BC\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-content-crc64": "r6kbb/IN80k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:50.6197436Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73572195-5fe7-bb5d-7939-4023df8d0aa8/test-blob-25cdbead-b5c1-5c61-edec-43cd7b411e91?sv=Sanitized&se=2025-01-31T01%3A20%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "NZia0FNSOVWB/c2MeL98Eg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC555DD5BC\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:50.6197436Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5647aaec-902d-04f1-cd03-7944193b2ca3/test-blob-62c21f7f-ebde-6188-8b98-34ce59975204?sv=Sanitized&se=2025-01-31T01%3A20%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CC554D0F57\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC554D0F57\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73572195-5fe7-bb5d-7939-4023df8d0aa8/test-blob-25cdbead-b5c1-5c61-edec-43cd7b411e91?sv=Sanitized&se=2025-01-31T01%3A20%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CC555DD5BC\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC555DD5BC\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-blob-content-md5": "NZia0FNSOVWB/c2MeL98Eg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:20:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5647aaec-902d-04f1-cd03-7944193b2ca3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:20:50.5284001-08:00",
    "RandomSeed": "767452718",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
