{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-483c1338-c31a-c29b-8e84-d5322e1aca37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC53A04636\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-483c1338-c31a-c29b-8e84-d5322e1aca37/test-blob-2230c756-2674-440e-ad4b-5ff52351bf06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC53B2FCF4\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:47.8223604Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-483c1338-c31a-c29b-8e84-d5322e1aca37/test-blob-2230c756-2674-440e-ad4b-5ff52351bf06?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "UQ2u0eRnSFzUxpcdJeFLon/qXorzul98pGTKS3vX70ds7e2HLrFe0xYZ0NNJW6N6rMXH7bzfkpeuMi1/nfzh/ddPsDjzxHPNjIt02eqMM0jAT562EAGKjVpW2PyD3jYZONP8+atrhuhR+WExarmsIv7lv01eK+zVxCPdnOt2Sq1UW6AXjzmdVcm2ZBefWSKhqrb+nR/ouw3mJjWHjen82q603A8YlZLESGmDp8bVNWsAO/I0eKyNa6CTMGkEFcffuYlo63wTiBQkOVW2ZBNGEPDKh1L3x2ICJnBvhWUowDOipO08bUru7LPeED5W1waMTCB4Oo116PInZcQLpAOv+3kiFMAlC[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-483c1338-c31a-c29b-8e84-d5322e1aca37/test-blob-2230c756-2674-440e-ad4b-5ff52351bf06?sv=Sanitized&se=2025-01-31T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC53B9D9BF\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:47.8223604Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ac2d5cc2-22a7-5a2a-23bd-10af985ddf7c/test-blob-b970d995-abfc-1342-d3c8-7a1ee2fbf668?sv=Sanitized&se=2025-01-31T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-483c1338-c31a-c29b-8e84-d5322e1aca37/test-blob-2230c756-2674-440e-ad4b-5ff52351bf06?sv=sanitized-value&se=2025-01-31T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CC53CAEE41\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-content-crc64": "0E7vXIRCU9I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:47.9792705Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ac2d5cc2-22a7-5a2a-23bd-10af985ddf7c/test-blob-b970d995-abfc-1342-d3c8-7a1ee2fbf668?sv=Sanitized&se=2025-01-31T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "5uJymhgzilM1eT4L1aYBnA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC53CAEE41\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:20:47.9792705Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-483c1338-c31a-c29b-8e84-d5322e1aca37/test-blob-2230c756-2674-440e-ad4b-5ff52351bf06?sv=Sanitized&se=2025-01-31T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CC53B9D9BF\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC53B9D9BF\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ac2d5cc2-22a7-5a2a-23bd-10af985ddf7c/test-blob-b970d995-abfc-1342-d3c8-7a1ee2fbf668?sv=Sanitized&se=2025-01-31T01%3A20%3A47Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CC53CAEE41\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CC53CAEE41\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-blob-content-md5": "5uJymhgzilM1eT4L1aYBnA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:20:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-483c1338-c31a-c29b-8e84-d5322e1aca37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:20:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:20:47.8869303-08:00",
    "RandomSeed": "2092784596",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
