{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-330dc0a7-4bfb-891b-ce6c-1619e177090b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E9B63A9AF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-330dc0a7-4bfb-891b-ce6c-1619e177090b/test-blob-9899f515-575c-0f22-f84c-505fed4c60fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E9B834C8F\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-330dc0a7-4bfb-891b-ce6c-1619e177090b/test-blob-9899f515-575c-0f22-f84c-505fed4c60fd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "9K0orhE4Lqt6vqt1fsGOa0+UNPOrtq4vUpg8mv/hWZWBCvPmjfU17qcsnmy6GiEX4mk7jdtrZD3/+Vx4+5SsmGUW9HTOqN1ZXkVMfxhBdDd2JbiWpcu5Fqa15pOZvPMTgAUHpCWtSTqL4S6VHuUlvoUkAtbbFfKZXd7NGMFJwKJSOf4SOdARydt+CsScI/fBkCgOdLodN2oTbkZH3zF4QSCMQ+TmEoS0Ezj6XQou/DnmDIeYO0zoNQKT/8uJyuqqBcmjEN8T2n2jWWGBItpf5HENYdKp4AbUow7iUhO5K0hOUFhBi+xa0jEK9OHrZhIoNBpafGkXACXDzmzRMYhq6i4YM9KCH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-330dc0a7-4bfb-891b-ce6c-1619e177090b/test-blob-9899f515-575c-0f22-f84c-505fed4c60fd?sv=Sanitized&se=2025-10-01T20%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9B8CDEB8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad68bd83-6bbe-1f2a-021e-fc3ecb7fe2d3/test-blob-8e545ce1-f866-7f41-dcc4-41e6e19dfeab?sv=Sanitized&se=2025-10-01T20%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-330dc0a7-4bfb-891b-ce6c-1619e177090b/test-blob-9899f515-575c-0f22-f84c-505fed4c60fd?sv=sanitized-value&se=2025-10-01T20%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005E9BD8ADC3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:07 GMT",
        "x-ms-content-crc64": "ES/RIyJZD3o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad68bd83-6bbe-1f2a-021e-fc3ecb7fe2d3/test-blob-8e545ce1-f866-7f41-dcc4-41e6e19dfeab?sv=Sanitized&se=2025-10-01T20%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "J9ciTNXXWG4ifJHExohebQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9BD8ADC3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-330dc0a7-4bfb-891b-ce6c-1619e177090b/test-blob-9899f515-575c-0f22-f84c-505fed4c60fd?sv=Sanitized&se=2025-10-01T20%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005E9B8CDEB8\"",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9B8CDEB8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad68bd83-6bbe-1f2a-021e-fc3ecb7fe2d3/test-blob-8e545ce1-f866-7f41-dcc4-41e6e19dfeab?sv=Sanitized&se=2025-10-01T20%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005E9BD8ADC3\"",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005E9BD8ADC3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:07 GMT",
        "x-ms-blob-content-md5": "J9ciTNXXWG4ifJHExohebQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "9K0orhE4Lqt6vqt1fsGOa0+UNPOrtq4vUpg8m[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-330dc0a7-4bfb-891b-ce6c-1619e177090b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:19:07.0986294-07:00",
    "RandomSeed": "2093880361",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
