{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f69dec8f-9250-16db-bb95-c3529223cc60?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EA83C4B19\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b0e5922-818f-9e7f-2dfa-4b01bb57066b/test-blob-65988aa4-117e-01d8-f63a-011efc3aa2b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "yEUUNpf58MsyqSVsDeRj5dV5EYssq1DjAA/86X/dZUVtvtNYLBY+mmwu5i0thLBvokQ0PUtbMh31MTaH/AZMVETf/08QC7m+Oncf/sQitXtfjUY7qSj6EYy2Y/rgt51l4ZHpTYVhXpeKdQLTOzNY0nu6J2+/EKsb5e3DWqe/3YPZuRwzOWj2/S6vsTMlJtZYXZB+Jo8tpdHlzWeXngPvy5h++oEXJZgSwypAEF949r4XavwXQLf0rBRLTWwBXl8rv+aapixUQTj3a2Jl7JRybNaogDMH2IrhiU1ty9csEWTKFVF53k+SwynDH9VUj79/2eCVWN4sI+ZbuRze5nVgy1n+mtZD+Y6HFr0JQ7m1jfqO[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f69dec8f-9250-16db-bb95-c3529223cc60/test-blob-5a706fd5-b1aa-2898-4056-6809b9e77fe8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EA85D4DE2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f69dec8f-9250-16db-bb95-c3529223cc60/test-blob-5a706fd5-b1aa-2898-4056-6809b9e77fe8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "7YVj+VA+RuJ3TahH1La1mTlkRAhMv9U8paCLHyykonm[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f69dec8f-9250-16db-bb95-c3529223cc60/test-blob-5a706fd5-b1aa-2898-4056-6809b9e77fe8?sv=Sanitized&se=2025-10-01T20%3A19%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005EA86864F3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b0e5922-818f-9e7f-2dfa-4b01bb57066b/test-blob-65988aa4-117e-01d8-f63a-011efc3aa2b1?sv=Sanitized&se=2025-10-01T20%3A19%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-f69dec8f-9250-16db-bb95-c3529223cc60/test-blob-5a706fd5-b1aa-2898-4056-6809b9e77fe8?sv=sanitized-value&se=2025-10-01T20%3A19%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:005ecf85-101e-000b-2347-325bdf000000\n",
        "Time:2025-09-30T20:19:28.8981988Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b0e5922-818f-9e7f-2dfa-4b01bb57066b/test-blob-65988aa4-117e-01d8-f63a-011efc3aa2b1?sv=Sanitized&se=2025-10-01T20%3A19%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "q4kxGc4wosPH5QZA5tGSFw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EA853E292\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2b0e5922-818f-9e7f-2dfa-4b01bb57066b/test-blob-65988aa4-117e-01d8-f63a-011efc3aa2b1?sv=Sanitized&se=2025-10-01T20%3A19%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE005EA853E292\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EA853E292\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-blob-content-md5": "q4kxGc4wosPH5QZA5tGSFw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "yEUUNpf58MsyqSVsDeRj5dV5EYssq1DjAA/86X/dZUVtvtNYLBY+mmwu5i0thLBvokQ0PUtbMh31MTaH/AZMVETf/08QC7m+Oncf/sQitXtfjUY7qSj6EYy2Y/rgt51l4ZHpTYVhXpeKdQLTOzNY0nu6J2+/EKsb5e3DWqe/3YPZuRwzO[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f69dec8f-9250-16db-bb95-c3529223cc60?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:19:28.5357895-07:00",
    "RandomSeed": "1354060025",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
