{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8be61966-31fc-8086-b4f1-cd985b866b40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913CEC7ABE7\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8be61966-31fc-8086-b4f1-cd985b866b40/test-blob-933afcf0-05dc-d184-719b-844d7e4e4470",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:58 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913CEDCCDF1\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:58.9595633Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8be61966-31fc-8086-b4f1-cd985b866b40/test-blob-933afcf0-05dc-d184-719b-844d7e4e4470?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "z95abT6tuoKpKuEqV7MsLI1BUkddd\u002Bf0y10FobqDvlQ6cMVpgbP6Ez8BYEK4tveiyixPchHQXFj2ZqLhpxnHJWuM7\u002BbtwqvaRz8IXBalPBRlY9aONEtDahRschsRGWslOTrWK8cRtAeBdSvRxwBBUSqNe0RCOfEgSYTSgU\u002BPyS7U4iLczhBMVK/ODL4gcaITKiHxg50n4wBItuFCPzO48av9/eXeZYIZQSeVcywy/9fivlYunUWQrP8hkxguCRR7FhoSI3S9NcWe2EJ1km/TFbYKYIHdiVNmbFDlvNFq6jcTGV0RINxjJIiQkMUDGhqPTn1hJKmTno3HrL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8be61966-31fc-8086-b4f1-cd985b866b40/test-blob-933afcf0-05dc-d184-719b-844d7e4e4470?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913CEE61B65\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:58.9595633Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0bdc7e04-2234-644d-5749-169bdec6a3e4/test-blob-c41356c3-450b-5bef-6e3a-98455021b6f6?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913CF04E97C\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-content-crc64": "JJ3jbqhHE7w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:59.2224124Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0bdc7e04-2234-644d-5749-169bdec6a3e4/test-blob-c41356c3-450b-5bef-6e3a-98455021b6f6?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "x0o81nZB575vYWPQXV0cwg==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913CF04E97C\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:59.2224124Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8be61966-31fc-8086-b4f1-cd985b866b40/test-blob-933afcf0-05dc-d184-719b-844d7e4e4470?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC5913CEE61B65\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913CEE61B65\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0bdc7e04-2234-644d-5749-169bdec6a3e4/test-blob-c41356c3-450b-5bef-6e3a-98455021b6f6?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A58Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC5913CF04E97C\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913CF04E97C\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-blob-content-md5": "x0o81nZB575vYWPQXV0cwg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8be61966-31fc-8086-b4f1-cd985b866b40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:07:58.7475285-07:00",
    "RandomSeed": "760941866",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
