{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d22764c2-cdd8-8ba0-55ea-5e70e37f52f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913C12FE79C\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d22764c2-cdd8-8ba0-55ea-5e70e37f52f5/test-blob-6d2b240b-3541-8f8c-03e2-5181cb604ed2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913C14497C4\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:36.1516484Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d22764c2-cdd8-8ba0-55ea-5e70e37f52f5/test-blob-6d2b240b-3541-8f8c-03e2-5181cb604ed2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:35 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "YKU9p2v/mkfNOyXSQxhQIXVu5x3r6Gj0KEvbJfJqM9o/x6fUFo9PSsSMKxkKB\u002B0VIQP8xnF2A3c9SX8fI3VUYwhLknxwfAvlH51ZXr1O6iBdxgPvbmxoycQvl8wQLyZPOMgRvnRwpKX3FqfUHKS67l9ewlxyZPWc4sm4QOQ\u002B1O92CSX1PSur7CJd91fElKwfdaltsm3K3NTTddyruGPBuUK4XRJ\u002BxbE0stU6FGyd100cmMs60CKBrC1RIsdOADS\u002BnD4VDDaZoa/4Of\u002BYj8hnNZ6OjiCXh\u002BggNrHlLKPp5bKhe3gtiMoWg/ccQZci6Rxk6ewpwHETJxVW9daFs3QMD1NN9xRQOazTdwsoe0VQ/UyVgUK2vyVAjVRj15P0kc\u002BCDzJD1fEIFK8/VUhm6qvQBfeJ8DIxVk8uDWrA7WIZ3\u002BY7pmsSDChbjG2Sdmnc2aKok9GbaqGdUbnjFMeHSCdNJnZiKkQ/vfjPLmPFnt/lUTPHF1qQfnRFnlSyL/hg00RGRVDzeq9daNXYzDw92LLZ/cOUwDDNvKcBHYvwjY4Ablsef1mP8taEaq6EuLI4B8ah2DI0yxMUeIio8V0jbdtH113gH1hZSgrsEFWBSAT1yRXFTrRczKNICgbQ5gB4YP3TPeBUV\u002BdtSI4nSLu9kjCEsyhHXh4n6gu6mBVSiWQJc68=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913C14D7017\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "KySKhKvtxEk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d22764c2-cdd8-8ba0-55ea-5e70e37f52f5/test-blob-6d2b240b-3541-8f8c-03e2-5181cb604ed2?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A35Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913C14D7017\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:36.1516484Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c06b6024-7e3f-2d84-0baa-e2c31ca29592/test-blob-0da10d07-00c8-bc3b-bac0-1cd7e36e4996?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A35Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913C16A90C3\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-content-crc64": "KySKhKvtxEk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:36.4005059Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c06b6024-7e3f-2d84-0baa-e2c31ca29592/test-blob-0da10d07-00c8-bc3b-bac0-1cd7e36e4996?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A35Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "/XFyjPFH6AeTEbEao1nj\u002BQ==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913C16A90C3\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:36.4005059Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d22764c2-cdd8-8ba0-55ea-5e70e37f52f5/test-blob-6d2b240b-3541-8f8c-03e2-5181cb604ed2?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A35Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC5913C14D7017\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913C14D7017\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-f[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c06b6024-7e3f-2d84-0baa-e2c31ca29592/test-blob-0da10d07-00c8-bc3b-bac0-1cd7e36e4996?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A35Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC5913C16A90C3\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913C16A90C3\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-blob-content-md5": "/XFyjPFH6AeTEbEao1nj\u002BQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d22764c2-cdd8-8ba0-55ea-5e70e37f52f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:07:35.9385225-07:00",
    "RandomSeed": "761515095",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
