{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc23238e-d137-014e-0c47-c03a4b52658d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC4C8C868C\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac6b78f0-ab7c-bdfa-edaa-3bd96b1276ce/test-blob-b262a001-5305-077c-1ac8-ec0e2e755b9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "bfNv3Db8qjDabBAQUh8UCMjisZBB\u002BaUL7e0oqVH6HEwq4RnEzzbsQW9opHMfJ2wdk/4rgPwcXHNOZO5J1AHf30/D5XEFTzmR9nAg2VUx7MWAChZSz5tQDoWmdmpHom1uicQjW0L7GEPFmoqM\u002B4IeHXgpycnrjBC0ctfrX9nPSVMCslCQDZCDhfLSjTQQxBMCh1jyHtmjgvyzb\u002BhqD7lp9VE2iUgyjQ/npUPXGP/bo67E6NeA3Cp6Xy9T3Z2nGHU5aJfj2jvK0PpJCniVzGr818w6pifh6RgmvCoY3rBxQI3Ona9n\u002BMlz\u002BRjcN9Ky5ZLFVgXRbXJOV39\u002BvR[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc23238e-d137-014e-0c47-c03a4b52658d/test-blob-c27c81ee-02b2-3f7f-86cf-a922c3d6be5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC4CAAD8FE\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:37.4524670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc23238e-d137-014e-0c47-c03a4b52658d/test-blob-c27c81ee-02b2-3f7f-86cf-a922c3d6be5d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "nDMLnhKfO0QL0vsTCnHvM48gedbqt50EHkib0k4QO/Jg92[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc23238e-d137-014e-0c47-c03a4b52658d/test-blob-c27c81ee-02b2-3f7f-86cf-a922c3d6be5d?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A36Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC4CB3FF7D\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:37.4524670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac6b78f0-ab7c-bdfa-edaa-3bd96b1276ce/test-blob-b262a001-5305-077c-1ac8-ec0e2e755b9a?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A36Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:a4576ff6-001e-005d-38e5-867f65000000\n",
        "Time:2024-04-04T23:09:37.6833760Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac6b78f0-ab7c-bdfa-edaa-3bd96b1276ce/test-blob-b262a001-5305-077c-1ac8-ec0e2e755b9a?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A36Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oNzzMGr6iiJ/D47moLvsww==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC4CA1165B\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:37.3885019Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac6b78f0-ab7c-bdfa-edaa-3bd96b1276ce/test-blob-b262a001-5305-077c-1ac8-ec0e2e755b9a?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A36Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC4CA1165B\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC4CA1165B\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-blob-content-md5": "oNzzMGr6iiJ/D47moLvsww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:37.3885019Z"
      },
      "ResponseBody": "bfNv3Db8qjDabBAQUh8UCMjisZBB\u002BaUL7e0oqVH6HEwq4RnEzzbsQW9opHMfJ2wdk/4rgP[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-cc23238e-d137-014e-0c47-c03a4b52658d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:09:36.7962447-07:00",
    "RandomSeed": "1082784184",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
