{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da1718e0-865b-e8c6-f812-374ff147dafe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC55317BE9\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da1718e0-865b-e8c6-f812-374ff147dafe/test-blob-4b445b72-a6fe-ff0b-00ea-0e0247dc5f49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5544D8CA\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:51.8834890Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da1718e0-865b-e8c6-f812-374ff147dafe/test-blob-4b445b72-a6fe-ff0b-00ea-0e0247dc5f49?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "dWBC\u002BlXRrUheg6zeej6aOCtLqVvwGEdHN6NJIHNOeqad9aXQaaWXh9nUos/WZ6COHnpBVM\u002Bh110Y\u002BsOxiI3VDwgFQYSZyc\u002BGsyGBHHZ3cdADugH4DSXX/B5It27i5v5M/5LH0CYb9VSru6GtILvmoIjzrc6L3AHiLkVmUBJgo80jNBzjsKGp6MStTVKEKttjYhbm7zgwwCOQ5KHhtaVCSxfUiuueAvDnScQJ3o6vXgRpA\u002B37erSU8nT5U8v/yDMfagE7sJ/wxF8m/qV0JuKU4YadeLK3RtFiP5d2pa8k54GR6nONdK1keD6O1XsOIMuSZHFF[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da1718e0-865b-e8c6-f812-374ff147dafe/test-blob-4b445b72-a6fe-ff0b-00ea-0e0247dc5f49?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A51Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC554DFF32\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:51.8834890Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37388b9a-deb4-cb4c-2555-48f4f34cb24c/test-blob-c3ec5677-076b-cbd8-add0-cc327f6b29e2?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A51Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-da1718e0-865b-e8c6-f812-374ff147dafe/test-blob-4b445b72-a6fe-ff0b-00ea-0e0247dc5f49?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A51Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5567C525\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:52 GMT",
        "x-ms-content-crc64": "4\u002Bk/PwDU4UI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:52.1133609Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37388b9a-deb4-cb4c-2555-48f4f34cb24c/test-blob-c3ec5677-076b-cbd8-add0-cc327f6b29e2?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A51Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9JujWKautaUPL2WSghd5kA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC5567C525\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:52.1133609Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da1718e0-865b-e8c6-f812-374ff147dafe/test-blob-4b445b72-a6fe-ff0b-00ea-0e0247dc5f49?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A51Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC554DFF32\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC554DFF32\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-37388b9a-deb4-cb4c-2555-48f4f34cb24c/test-blob-c3ec5677-076b-cbd8-add0-cc327f6b29e2?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A51Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC54FC5567C525\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC5567C525\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:52 GMT",
        "x-ms-blob-content-md5": "9JujWKautaUPL2WSghd5kA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:52.1133609Z"
      },
      "ResponseBody": "dWBC\u002BlXRrUheg6zeej6aOCtLqVvwGEdHN6NJIHNOeqad9aXQaaWXh9nUos/WZ6COHnpBVM[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-da1718e0-865b-e8c6-f812-374ff147dafe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:09:51.3465471-07:00",
    "RandomSeed": "925064346",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
