{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ceebee3f-4539-bfb6-9a54-86eaac37a4c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:31:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DAC54E527\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ceebee3f-4539-bfb6-9a54-86eaac37a4c5/test-blob-e30af2b9-310f-922f-5f4a-1e382005944f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:31:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DAC74E325\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:25.9705125Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ceebee3f-4539-bfb6-9a54-86eaac37a4c5/test-blob-e30af2b9-310f-922f-5f4a-1e382005944f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:31:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Y5OjAU1ctXIXoCXgz1lk6FRarpXkaNO8KrdHopyLqiR5k4V9cZV7t2Ec5XmJ+fJf3pTZ1UjBgfu/5taVFRPWi/YAZzzT53e+3vY0yINaMzDF58QHstTctxGKvYq+5aJNRlmCiJK2i/YdG/dRjbl4ZLKm0C1Oz9kiI7AqSSns//hU5oEp2KqeDlvN6ZfciylYElnXGBR1/3d/YGXhi0LNMRv+/ac3TowICMLRgeVCRZiG0jfQFOfj3+cKqXhFvIIZALh73Y2CIMPMzxBSo32RPRrMWrkL/Bw0Gh6/LaQUwks/uIEtx2cLBLFzA0XWkTtpeGxdeWHJDQOcR8JvwvIeuA3EE+v8Z[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ceebee3f-4539-bfb6-9a54-86eaac37a4c5/test-blob-e30af2b9-310f-922f-5f4a-1e382005944f?sv=2024-08-04&se=2024-05-02T20%3A31%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DAC8338F2\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:25.9705125Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-54212875-da64-e6b0-ab34-44b680768b15/test-blob-de898f29-7fab-bab1-6c7c-4d97cd02361a?sv=2024-08-04&se=2024-05-02T20%3A31%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-ceebee3f-4539-bfb6-9a54-86eaac37a4c5/test-blob-e30af2b9-310f-922f-5f4a-1e382005944f?sv=2024-08-04&se=2024-05-02T20%3A31%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DACA820A8\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-content-crc64": "TEEHeBqUEzY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:26.3063208Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-54212875-da64-e6b0-ab34-44b680768b15/test-blob-de898f29-7fab-bab1-6c7c-4d97cd02361a?sv=2024-08-04&se=2024-05-02T20%3A31%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "lGuyy6aMK8IPOGbCrglz6A==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DACA820A8\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:26.3063208Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ceebee3f-4539-bfb6-9a54-86eaac37a4c5/test-blob-e30af2b9-310f-922f-5f4a-1e382005944f?sv=2024-08-04&se=2024-05-02T20%3A31%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DAC8338F2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DAC8338F2\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-54212875-da64-e6b0-ab34-44b680768b15/test-blob-de898f29-7fab-bab1-6c7c-4d97cd02361a?sv=2024-08-04&se=2024-05-02T20%3A31%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DACA820A8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DACA820A8\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-blob-content-md5": "lGuyy6aMK8IPOGbCrglz6A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ceebee3f-4539-bfb6-9a54-86eaac37a4c5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:31:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:31:25.8684145-07:00",
    "RandomSeed": "1190437024",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
