{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7868a68-1a63-1021-c4ac-815fcd7c0d17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:32:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DC324A560\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b31d54dd-7077-4738-0581-753353b9b212/test-blob-498354db-4744-8428-e130-29a721888e60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Hk6lnVBOZKcqCAjzbURQThGrDG/IBhnoX6d5pggIxYRuH/Ck3Yc/U04+Gg1w2EUkK84qSW6a1hg1vD6p1b6eIUKEhU5Tq3CJbLghiesLeIZhVHo53nwV00nYbyFJln2PoPnL7FP30H9doN22eUwsKkS3R4BDZELGbrEFejxPQNU7kenyQIwzaYT73D2eX1r8rEXdkU79TDu2BH2h8lZCDmAIe+hjOum3hN78SIgFJw9XCM73cq6GPUWtOzsOkncuuM3dluRxmHFbJQ1wAAOysd1tSumHS5yygT2jtv6uqfJnzpC7J5Ar5XBcm0yhFjxB+4peoUeNpmwxKhWmzuJzrXwbCTJz94lMQWV5K7BPEWoA[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7868a68-1a63-1021-c4ac-815fcd7c0d17/test-blob-3f132855-0d5f-3bf6-062f-e31b77c1757e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DC350A38E\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:04.3205518Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7868a68-1a63-1021-c4ac-815fcd7c0d17/test-blob-3f132855-0d5f-3bf6-062f-e31b77c1757e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "HUxtSD7/ko5eM+sPUU2yTJAZmC90DsxKFnvNdDdDayf[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7868a68-1a63-1021-c4ac-815fcd7c0d17/test-blob-3f132855-0d5f-3bf6-062f-e31b77c1757e?sv=2024-08-04&se=2024-05-02T20%3A32%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DC35ED249\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:04.3205518Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b31d54dd-7077-4738-0581-753353b9b212/test-blob-498354db-4744-8428-e130-29a721888e60?sv=2024-08-04&se=2024-05-02T20%3A32%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-b7868a68-1a63-1021-c4ac-815fcd7c0d17/test-blob-3f132855-0d5f-3bf6-062f-e31b77c1757e?sv=2024-08-04&se=2024-05-02T20%3A32%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:66783575-201e-0090-3706-9cabec000000\n",
        "Time:2024-05-01T20:32:04.6669733Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b31d54dd-7077-4738-0581-753353b9b212/test-blob-498354db-4744-8428-e130-29a721888e60?sv=2024-08-04&se=2024-05-02T20%3A32%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vuj6GexH7oI3SDETo7ESEg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1DC34274CB\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:04.2276043Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b31d54dd-7077-4738-0581-753353b9b212/test-blob-498354db-4744-8428-e130-29a721888e60?sv=2024-08-04&se=2024-05-02T20%3A32%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DC34274CB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1DC34274CB\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-blob-content-md5": "vuj6GexH7oI3SDETo7ESEg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:04.2276043Z"
      },
      "ResponseBody": "Hk6lnVBOZ[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7868a68-1a63-1021-c4ac-815fcd7c0d17?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:32:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:32:04.0312683-07:00",
    "RandomSeed": "2040169094",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
