{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b7b8c60-afce-3922-4fe2-c6315e8d2e5b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC519EE19F\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b7b8c60-afce-3922-4fe2-c6315e8d2e5b/test-blob-d7a344a2-ffa6-5234-6101-b546ac1fa3ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC51B18541\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:45.8848065Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b7b8c60-afce-3922-4fe2-c6315e8d2e5b/test-blob-d7a344a2-ffa6-5234-6101-b546ac1fa3ae?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "7KgZbber3UyMseQzKE1rGaVxtSHC\u002BOdVmresXOFGL/qgDaykXOVlNom79UfBMg7xxQAQrhUJG/PAxNIA/4BrRYLqkxugx73AC36YBwKglGipupbhNYDklvG545gSZTcIULDF15/yUf1CUKOXcRPwIC9qV0TpiQ8BBf0p5\u002BQlraVHj7dS273JtmmZnuXdTSTeyMNoqA7yHsagw9GiyGkZHaP9T\u002BJcnkRyoaDbUOsqI7fYSx8gvASWVHDxsRfrJu3/gIBB4P1CgSl\u002B9QZuFs7bdqAayXxK\u002BGCeZvpxauwth3qy29Bq6EO5lsn1osf\u002BKD6[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b7b8c60-afce-3922-4fe2-c6315e8d2e5b/test-blob-d7a344a2-ffa6-5234-6101-b546ac1fa3ae?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A45Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC51BA5DA6\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:45.8848065Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72070077-c166-72e2-e81b-e8f68c9fcfd9/test-blob-7c55bcff-6793-1c6b-7910-f2a202fd23b5?sv=2024-05-04\u0026se=2024-04-05T23%3A09%3A45Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC51D50DD5\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:09:46 GMT",
        "x-ms-content-crc64": "YieiI\u002BXVXBE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:09:46.1186780Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7b7b8c60-afce-3922-4fe2-c6315e8d2e5b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:09:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:09:45.2292816-07:00",
    "RandomSeed": "2083113330",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
