{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6cf1f879-9852-17d3-55ae-b271af81cc7a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF5B653CE6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8387580d-d0f8-9251-b599-7e356242d341/test-blob-9f2dd344-e8be-e5b6-20f9-356eb409bc2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "jeVn2UrrSN9ZU\u002BvNnFZDvie8ySCPEWPfLiVrdU0G8vNqhm55U2fFxSYsSp8Wy4vxKwxQVex8W3yCh6olgNKSUmD3YhboyWu/9wP5YsbDyGKaeklBtpwH7Svx98u8oEVTmvg/Hmh0CGKgkF7og/i2vr5IigWJUJzD8HTr99KgA1e9pcjOhKr6JXLnoCU\u002BHmozOzgMdBVAykpbey7ziRGPAI0HKt0w5zoUTWWTorB3hdEKuLyak45Bfdt9cgl8BpthV5\u002BXN/OMA1P99yawrSeZ5PZc6dFU9Wz/xa0CsnUxmEfJMUoQ303efbVpnJxnkdCz5I4SHx3KDGIzmHJGiVDdzF7f53vdi[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6cf1f879-9852-17d3-55ae-b271af81cc7a/test-blob-942ef3c5-4bf4-a7c3-63df-4ad1bf51e129",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF5B81DF24\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:44.1259051Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6cf1f879-9852-17d3-55ae-b271af81cc7a/test-blob-942ef3c5-4bf4-a7c3-63df-4ad1bf51e129?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "MxWktIGFZwrldE98NlXI0zhqvKvw6/GnBUJLo5kY6bc7p4[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6cf1f879-9852-17d3-55ae-b271af81cc7a/test-blob-942ef3c5-4bf4-a7c3-63df-4ad1bf51e129?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF5B8C64EF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:44.1259051Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8387580d-d0f8-9251-b599-7e356242d341/test-blob-9f2dd344-e8be-e5b6-20f9-356eb409bc2e?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-6cf1f879-9852-17d3-55ae-b271af81cc7a/test-blob-942ef3c5-4bf4-a7c3-63df-4ad1bf51e129?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:6335df12-101e-0023-3198-80ef22000000\n",
        "Time:2024-03-27T22:43:44.3790606Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6cf1f879-9852-17d3-55ae-b271af81cc7a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:43:42.6746174-07:00",
    "RandomSeed": "1319986741",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
