{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d78f1106-cb08-e1e8-e8e3-67cef313a67d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F76722DF9\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e9824db0-009e-1b16-33bb-3fa6c01004d8/test-blob-e1915bfd-76e9-184a-a083-fbfa263f68c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "3+GjEjmb3meG4bDjDbCorJMbgK6peyfDXcRSjR4o8GF49PERBNA+beTOi3kIurhZaHFJAioVkmO54LV0SFFIXfBOahm/lqfC3RPK2vCuuqIM+CSt3+42Y2KNVyMbySSThS2IuVCemtHJhiUWS7dzCyUSaE8sm34CGAa3MT6EpxPvN1TCJQFRbV5T5FnIHxiqGkz+CGHUZuqvhaFJ52iTRN4SJxNiseYkwfvx2bclOvjuDBfyhp6xGtBqE59gB4X1wJ96tvgESGhm2Udm44wzikupW9tQoL5AYA1D955GxLl1+xkXq4P/6cSujKxXSzZDN4lTtqyqpB/gOlXrwVDKHxWN8OhzG97IqXIWohQS6BTW[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d78f1106-cb08-e1e8-e8e3-67cef313a67d/test-blob-e0ac2496-600a-62b2-cd57-fd4cf2552c09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423F768A6673\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:37:29.5633011Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d78f1106-cb08-e1e8-e8e3-67cef313a67d/test-blob-e0ac2496-600a-62b2-cd57-fd4cf2552c09?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "I117bui2kTRBRPcjRDL/B4oglHL7k+I0MidM+hjsJ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d78f1106-cb08-e1e8-e8e3-67cef313a67d/test-blob-e0ac2496-600a-62b2-cd57-fd4cf2552c09?sv=Sanitized&se=2025-02-01T21%3A37%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423F7692C9A6\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:37:29.5633011Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e9824db0-009e-1b16-33bb-3fa6c01004d8/test-blob-e1915bfd-76e9-184a-a083-fbfa263f68c3?sv=Sanitized&se=2025-02-01T21%3A37%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-d78f1106-cb08-e1e8-e8e3-67cef313a67d/test-blob-e0ac2496-600a-62b2-cd57-fd4cf2552c09?sv=sanitized-value&se=2025-02-01T21%3A37%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe48d766-301e-0096-3528-74d313000000\n",
        "Time:2025-01-31T21:37:29.7350387Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d78f1106-cb08-e1e8-e8e3-67cef313a67d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:37:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:37:29.5392239-08:00",
    "RandomSeed": "1077471824",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
