{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7e8cc3d4-9c41-313b-c0ee-c53748c3ad5f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF5C63A66E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b7ee46c5-d5a7-8b04-9352-5c6e4b3f98ba/test-blob-ba1b3050-4609-7da2-e531-ec2287386df3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "MxVKyBB1Oa2\u002BZc\u002BReSVIehHptf0Xkhnm7JIpCFrN6sHuaAL8kE2VRiBnq0F2K1bHHwoLpNxC56D7ZNt9TDFT8HoNoxAiS\u002BrEU27csObXb8E8YehQwUblq4FhAStyGPrvFLvGaYdFpdQfR1FtZTe6JPUZQepJAi40KPePwUq\u002BUjp07JwrEAU69rwTMHr0d0ZJp9w1WNYPphGMkkGPteOJYfUW\u002BHmbjhPw3ksuNdK0QLCxRhltiflkZUaKn37EqkDYis\u002BF3n7MrhnJRXmL4HE/11GQ3W/KHNf7spMyEO\u002BUKzQKVqsDL2Iy5JcAo0N/2ITUS8gsM83RD[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7e8cc3d4-9c41-313b-c0ee-c53748c3ad5f/test-blob-358ce0d0-e62b-f410-a4e5-d7fee43cdc49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF5C8B39A5\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:45.8649267Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7e8cc3d4-9c41-313b-c0ee-c53748c3ad5f/test-blob-358ce0d0-e62b-f410-a4e5-d7fee43cdc49?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "vDtcSo3nSTmfrpoJZml/wt1IILzJ35UoyDL2AAzjxOTtIa[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7e8cc3d4-9c41-313b-c0ee-c53748c3ad5f/test-blob-358ce0d0-e62b-f410-a4e5-d7fee43cdc49?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF5C9AA0BA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:45.8649267Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b7ee46c5-d5a7-8b04-9352-5c6e4b3f98ba/test-blob-ba1b3050-4609-7da2-e531-ec2287386df3?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7e8cc3d4-9c41-313b-c0ee-c53748c3ad5f/test-blob-358ce0d0-e62b-f410-a4e5-d7fee43cdc49?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:6335e47f-101e-0023-3c98-80ef22000000\n",
        "Time:2024-03-27T22:43:46.1365933Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7e8cc3d4-9c41-313b-c0ee-c53748c3ad5f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:43:44.4121460-07:00",
    "RandomSeed": "241447484",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
