{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6441764b-9866-c3c7-d093-b08986f640ca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5AC0B77B\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6441764b-9866-c3c7-d093-b08986f640ca/test-blob-b321697e-7255-9b57-3f9c-d74631dba0cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5AD3DB4B\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:01.2093259Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6441764b-9866-c3c7-d093-b08986f640ca/test-blob-b321697e-7255-9b57-3f9c-d74631dba0cf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "9sE7B/CV0U3FvjyjJ0oJG9vsZyLFsvaO5MOaknBrl3Rh66Oti\u002BkOtkyphXYlkdWl02WHp7UMoUTLrSIs\u002Bz7cWSbIQTymW4/x3bDVGyyAaFPu9b8L5PC\u002BVUlf4d7G4bsNzCxPXU\u002BY/nfVlckFNoUXS0TOPgZ/0XQ2CevyR3qxKvz1x08AMAsEVfZHNU4muR/ESJaZ\u002BKO0jvu3GFNjprf9JGrND242Fho4yugQN5smEFDMLv7jFzJYQDlUSRi4oK4\u002BShHkWKmwjjF7YS26pFdfkQgCl3i5GQw4dc414c0CgCo60e2KQbimG5/MaLYEnpv[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6441764b-9866-c3c7-d093-b08986f640ca/test-blob-b321697e-7255-9b57-3f9c-d74631dba0cf?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC5ADCDAAE\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:01.2093259Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a218f365-8184-d8d6-1393-719932d028d3/test-blob-eba8a110-7f40-0bee-c394-2172663017f4?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-6441764b-9866-c3c7-d093-b08986f640ca/test-blob-b321697e-7255-9b57-3f9c-d74631dba0cf?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A00Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5AF715BD\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-content-crc64": "4MN9gvQBxJo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:01.4401981Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6441764b-9866-c3c7-d093-b08986f640ca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:10:00.5533155-07:00",
    "RandomSeed": "1090644715",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
