{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8aeb457a-1082-2639-fcbb-01a225f674db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FE1A14C5E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb2caf3a-725c-c6b4-13fd-858dffa51a03/test-blob-d07c3f5c-bc4b-8b36-7b66-928190d5a83a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "w5gN+/vx+iislIUDsf2xvL1hxu/TJlIvZ8dcgDAEsWzxFDUWQsmaZ2OSm1jRpeKSJZb/CV+YpJxF3pQ0lXn3p+MYEZ3Im3r0xl6LQIv6XsHlyVuaBacMWW+Z0GQ0ZdHqm/R1uJREyoobCkMBDGQQS3/ST8seXaI7C7gtL8oWwGCMoaWXhKUtoP/RfvtjC0wLiIXkYRYFyz1ROazbF5q/BUridGu/ecbZpa/MTd6n2ABrIadEMl5KhtVnRUv5UYlkEXmwgZfhTA6+CrxnOX5fqmGscPXzetLrl+2VVzR74FMlZztl9lZoitWYhiii401XB5rpTeGTcZamxempS/TaQylpQdFC+rQLQ+YgWvSqSbSg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8aeb457a-1082-2639-fcbb-01a225f674db/test-blob-3cc5e978-62f3-4189-5565-5c02f5cbfe55",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FE1CBAE6C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:30.6435180Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8aeb457a-1082-2639-fcbb-01a225f674db/test-blob-3cc5e978-62f3-4189-5565-5c02f5cbfe55?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "yq7wjoqWl/+LQTzLLprnFiJrMyYZbOdlr0BFi3pLVbQCRg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8aeb457a-1082-2639-fcbb-01a225f674db/test-blob-3cc5e978-62f3-4189-5565-5c02f5cbfe55?sv=Sanitized&se=2024-06-08T01%3A19%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC868FE1D76D3E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:30.6435180Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eb2caf3a-725c-c6b4-13fd-858dffa51a03/test-blob-d07c3f5c-bc4b-8b36-7b66-928190d5a83a?sv=Sanitized&se=2024-06-08T01%3A19%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-8aeb457a-1082-2639-fcbb-01a225f674db/test-blob-3cc5e978-62f3-4189-5565-5c02f5cbfe55?sv=Sanitized&se=2024-06-08T01%3A19%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:6205e62b-101e-009c-7378-b85b47000000\n",
        "Time:2024-06-07T01:19:30.9865525Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8aeb457a-1082-2639-fcbb-01a225f674db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:19:29.0679208-05:00",
    "RandomSeed": "1950932291",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
