{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dc48c146-d103-264f-59eb-73c8dee56595?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:32:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DC6137F91\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5bdc3d70-1c28-ed22-1dbb-91e14de0946d/test-blob-355dc29d-40e0-d05e-3232-6a74cfde8e9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kUpcMQYJV7MBAFSZqnivs9fqqq17zO/GwF/9IIlyDDpHBN3Shm9TT/wP8RNMxwrV1IzWrgMlCMRblXGnCzYqj/MZUaaa3Cxnllqxa9vbefhUJ0v8m142IvsZd/D+rETF5WIgMnVkO/dfbhepdJ3pfxx4UuPrLfOU4y+rgWU8aeoW64V5u0aD7+xTnCxHja5eL/jUhVlg2rdui09GubmSIwUskokXcMTV9WP2mJDGTVaATVFtZ+SRtRDNCi/3PDYzwXknGvolRr80/5D2aUImpz74xWxnJbshm9x4SWWU3bgsw9YXnzJbWwaROWhTm0zOpmLw/nbKy5u9Bn8drPxanyHXyaVrDwgMnWpl1etTzQCQ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dc48c146-d103-264f-59eb-73c8dee56595/test-blob-315d9816-0a0c-64b6-e0a1-3b9762a49a08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DC64E0A02\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:09.3366786Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dc48c146-d103-264f-59eb-73c8dee56595/test-blob-315d9816-0a0c-64b6-e0a1-3b9762a49a08?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:32:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IdVZIwV2XUsFFFv1JGB3bwvRKHstwY8fqWuxnv0kNOl[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dc48c146-d103-264f-59eb-73c8dee56595/test-blob-315d9816-0a0c-64b6-e0a1-3b9762a49a08?sv=2024-08-04&se=2024-05-02T20%3A32%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DC65C5FCE\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:09.3366786Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5bdc3d70-1c28-ed22-1dbb-91e14de0946d/test-blob-355dc29d-40e0-d05e-3232-6a74cfde8e9a?sv=2024-08-04&se=2024-05-02T20%3A32%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-dc48c146-d103-264f-59eb-73c8dee56595/test-blob-315d9816-0a0c-64b6-e0a1-3b9762a49a08?sv=2024-08-04&se=2024-05-02T20%3A32%3A09Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:667846db-201e-0090-0906-9cabec000000\n",
        "Time:2024-05-01T20:32:09.6884427Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dc48c146-d103-264f-59eb-73c8dee56595?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:32:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:32:09.0439962-07:00",
    "RandomSeed": "260057126",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
