{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ff701d6-4130-8b16-c2f4-a64ca431f203?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF5093A466\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ff701d6-4130-8b16-c2f4-a64ca431f203/test-blob-15ac2e63-6bf0-f78d-629a-39ea13f424fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF50B0965A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:25.9761242Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ff701d6-4130-8b16-c2f4-a64ca431f203/test-blob-15ac2e63-6bf0-f78d-629a-39ea13f424fa?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ZeaQEVbPBuldg5RwWGZOccML1S\u002BYL0vuzUKR3fDPbts2IShVuGDPFXTmFXTsiGTNY0bvxequ9zabokQUPSn4jRS5OTc\u002B\u002BLhjO8C7shnWAkTdxHqq36nxiCnyuhYcu9dL7YhfMk8sj2qNjIkp8kQcxKD/NnmuTq5rx7ANSz2iRoDocMWRd8/1sTUPHVMgx5Xk1vZ2HYRenJ7a82ueH0Mt6kUIQIJ/ikzRCoVDnzFaSwAbKXVHLCn7itQmt4NkVpHx4jIOF4YTZUuppBL/Gvxtf6hrg/XN5b4bDLauWNLJbLPzUb3/TDN5B8QpnocX/G/XuTjb\u002BNObJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ff701d6-4130-8b16-c2f4-a64ca431f203/test-blob-15ac2e63-6bf0-f78d-629a-39ea13f424fa?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A24Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF50B995C2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:25.9761242Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-805fd6c4-2eeb-a2b0-f9ed-5a86c8cf4a88/test-blob-18e49ab4-df4d-44ae-b90b-44e8a0d1cc50?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A24Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF50D4E202\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:26 GMT",
        "x-ms-content-crc64": "wDwf\u002BvZ\u002B2Ps=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:26.2139906Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ff701d6-4130-8b16-c2f4-a64ca431f203?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:43:24.4802917-07:00",
    "RandomSeed": "425408938",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
