{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-33ddaef4-6d8c-c3ca-bd16-537accdfa0da?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913CA7F87BD\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2fb213dd-7923-bba4-ee01-4d4d5966e698/test-blob-ff9dc7e3-1ce0-3a25-37c9-7a87912d45f5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "wRKvDK8edEK/al0nq3BMyUfclB4QuelMyfgsw9Wpdkj86dmxxGEoZf8s2PpyjdG/\u002Bv0HOV/VFgcpY0K38bFsFfQVK8GWmgXltC8f4\u002BDu2TwmbcjYojzoJ9LSiGAfcXNNwMMFXWIPKGD4IoUwtTImOokGkIPplHO3LAPvxBGkxkK70SMd6XvZFkVn4IC3uHGgq07WGODvZCtPTTFeIGNOU1tCdOQPCFEOLHo\u002BgbTzAHORThjDza1hzG33zptKe/bhGYwkdUSNkKP8yOtmseN3XE29zNFLi4Wu4Kh3Fzq2xLGEXGgnz4ovBL51xgXB\u002BxqJf3FNjK4klo0HdZScFnlpRgQ6[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-33ddaef4-6d8c-c3ca-bd16-537accdfa0da/test-blob-0a652847-3e7a-3be4-10e0-ec361f6a4324",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913CA9E1628\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:51.8376488Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-33ddaef4-6d8c-c3ca-bd16-537accdfa0da/test-blob-0a652847-3e7a-3be4-10e0-ec361f6a4324?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "FJjXB\u002B1NYXtLVj96FPifaibBKqK2rtaD8vvz7cOk1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-33ddaef4-6d8c-c3ca-bd16-537accdfa0da/test-blob-0a652847-3e7a-3be4-10e0-ec361f6a4324?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A51Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913CAA7D8B8\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:07:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:07:51.8376488Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2fb213dd-7923-bba4-ee01-4d4d5966e698/test-blob-ff9dc7e3-1ce0-3a25-37c9-7a87912d45f5?sv=2024-05-04\u0026se=2024-04-11T04%3A07%3A51Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:cde1d15f-701e-0047-3afc-8a1eba000000\n",
        "Time:2024-04-10T04:07:52.0946838Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-33ddaef4-6d8c-c3ca-bd16-537accdfa0da?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:07:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:07:51.5034067-07:00",
    "RandomSeed": "1801158964",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
