{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a1366ec-619a-1688-aabe-929b1599e038?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913D4ED5ECB\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a1366ec-619a-1688-aabe-929b1599e038/test-blob-236c0a83-0238-b981-97f1-e4476859ecb3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:08 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913D5029BCC\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:08:09.2736460Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a1366ec-619a-1688-aabe-929b1599e038/test-blob-236c0a83-0238-b981-97f1-e4476859ecb3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "InnsJTfho\u002BT032KZGirEhQ4wh9jipdjbCaoJ6Xq1ir/x6x4eo0ZB166Q3Qip0JX4aEbEQDLrCn2gEBuM2LpqPlSipy8LpeHH7rApUsfQMjkUEIE08UqMBuChfpIqtf/0JZ\u002BzBihm7cJk/VKCwbi1z97id8c4Nk0KFaBPaSdOnDiwNSwoHSsQriO\u002Bz/P3CkUn7K60SD03u\u002B9RqPCHFoObFWAZ0YyLjLKy0cijemZZEgtbKH14mlP7eHk91nQ7iZigI7qT3ji4m1/7AXd0lEGI\u002BJblK\u002B4GInsNHlgSTrU\u002Bd0gwA1asxjTTo4wdfJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a1366ec-619a-1688-aabe-929b1599e038/test-blob-236c0a83-0238-b981-97f1-e4476859ecb3?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5913D50BE943\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:08:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:08:09.2736460Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9eda7ee6-85ae-a867-5cfa-59fb81efe47c/test-blob-5e5897c4-303d-ca28-9957-4487d58f6039?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8a1366ec-619a-1688-aabe-929b1599e038/test-blob-236c0a83-0238-b981-97f1-e4476859ecb3?sv=2024-05-04\u0026se=2024-04-11T04%3A08%3A08Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5913D52ADE5B\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:08:09 GMT",
        "x-ms-content-crc64": "LQ7YN3wR96w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:08:09.5374939Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a1366ec-619a-1688-aabe-929b1599e038?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:08:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:08:08.9392768-07:00",
    "RandomSeed": "1933649445",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
