{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93c4620b-b1fe-9ebc-f29d-3aa451d15b21?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FF42C9338\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93c4620b-b1fe-9ebc-f29d-3aa451d15b21/test-blob-ce966f03-8a14-838a-8043-a3b3f31559a3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FF449AC06\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:01.6681990Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93c4620b-b1fe-9ebc-f29d-3aa451d15b21/test-blob-ce966f03-8a14-838a-8043-a3b3f31559a3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "jhippVVMdAGrEB83XEu+kY6MZf2uB70+8n441B1IehYhvdzJC/Z0enmEvR1APt0+bBwaeU+qJ4Zaa7LXFJ/kY5UJFZ9v9YWYF+qEKkqf/rSg+WcALQHHdpZVbqBDnWbZoFmINyg+z3eXgmJkJv07u2z+Nho34zWUQZ8JGoflVHmEqorwF8eLYirwaaqfYlCYGbIzRGdLobwk9PWJNbXwsS3o4HxyS6Olc9PwR3qK9N5PcADUsRAROAjNzCPRAS11ALd9toLUJc4PjdCTW1pBmf8WOsS0G/8d16hzpH+A1HGme0bCDT5ce0oyxCM/fdytjDIkusdowOS4X9/ZYIFPjrlf7d8Uf[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93c4620b-b1fe-9ebc-f29d-3aa451d15b21/test-blob-ce966f03-8a14-838a-8043-a3b3f31559a3?sv=Sanitized&se=2024-06-08T01%3A20%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC868FF455E003\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:20:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:01.6681990Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5be8b9a9-c8b8-9ffc-da9f-6f8bf23a0eb6/test-blob-0e66eb04-3862-3061-f53b-306eccf04cf3?sv=Sanitized&se=2024-06-08T01%3A20%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-93c4620b-b1fe-9ebc-f29d-3aa451d15b21/test-blob-ce966f03-8a14-838a-8043-a3b3f31559a3?sv=Sanitized&se=2024-06-08T01%3A20%3A00Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FF47461E8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:20:01 GMT",
        "x-ms-content-crc64": "xdKdc7pAcLU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:20:01.9491064Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93c4620b-b1fe-9ebc-f29d-3aa451d15b21?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:20:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:20:00.0938560-05:00",
    "RandomSeed": "814306090",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
