{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-85694389-55b9-c202-b39c-3396257488c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:32:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DC8003315\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9bc8ce59-b8a6-f821-c6dd-229d076c7358/test-blob-2218b336-f32f-b3c7-2145-5f408bb83b05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "a732uFlv0fPeDTlmYyqzk2czClgaw27KaGJPq/oXmJ43Fg8Z/5o1VjmKkfazZnN30xPngCljo6dOLFD3ICb4xnSaL00bmpPN/rMfjzJ4FwHu2NfnLxh103JnytNJPTYSkcqBGTclWzl/GoJ1RBN11hROCEdPEZZcJFvatM/Ag8B9Df1o9/7KyHydZxWVAI9e8fO++zXuw4AzJPTbS6dqv5fC9zYWDN8WhD/LsaqBxyTMe8LcAYiLj0p9NdIJ7n3VM6d+0glYSOUUqHb1IxHVsVzPD8/kjb4ON2jsmNcMDJbC9X4CA/QbczLdyFkRlWs5p4N1Ot6t8KXpb5ugbLANB5vgMy2S065otJydBsVl/aH8[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-85694389-55b9-c202-b39c-3396257488c7/test-blob-0e150a3a-65e2-328a-7d0a-4afb4c2aca38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DC82DF558\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:12.4828768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-85694389-55b9-c202-b39c-3396257488c7/test-blob-0e150a3a-65e2-328a-7d0a-4afb4c2aca38?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "WkiG20YFig8o0m60TO3zm8IgmJ/I9WmV7s3vlI1k+Am[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-85694389-55b9-c202-b39c-3396257488c7/test-blob-0e150a3a-65e2-328a-7d0a-4afb4c2aca38?sv=2024-08-04&se=2024-05-02T20%3A32%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1DC83C4B1C\"",
        "Last-Modified": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:32:12.4828768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9bc8ce59-b8a6-f821-c6dd-229d076c7358/test-blob-2218b336-f32f-b3c7-2145-5f408bb83b05?sv=2024-08-04&se=2024-05-02T20%3A32%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-85694389-55b9-c202-b39c-3396257488c7/test-blob-0e150a3a-65e2-328a-7d0a-4afb4c2aca38?sv=2024-08-04&se=2024-05-02T20%3A32%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:667850df-201e-0090-3d06-9cabec000000\n",
        "Time:2024-05-01T20:32:12.8020852Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-85694389-55b9-c202-b39c-3396257488c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:32:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:32:12.1920579-07:00",
    "RandomSeed": "1704110517",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
