{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72f8e50a-6742-e13a-7857-a9bc7b3822e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5B27ABCA\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d95578e1-8288-3de7-d769-f70975e8fba5/test-blob-33dda4c5-8e77-d328-caf6-fadbd81288ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Kg9SMYqnRRdQS0szZ483agXkkG0TSIgy4pf/dS4qI7KwP1NUBz6lwjQBnpK093/xqNZIy3qRfuKHIE/yqNDoJSiYgyc74mPGP845Eqn1feoYDcxX4lc4HsFxzOfushlkGHlpG3RXtsZzgYysWGs4kaJl2poEkELQYGRmyhV82Iy01PowjGF1wFcF5GHLi8ZVODtEiNh/YIc2mbsP8euw96gA\u002BINxCAVA7xpC/qzhBNSeEZHaN1C0NHRy\u002BfKmZc5rVey4y5NC4y81BJi9PGLbVJTmcd9a1cBYTMMP/g8TmolL16i/KTlBWy1ipTO39vgSl6RdwPTvEYAsYH/QM\u002BQgImkPcmW5G[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72f8e50a-6742-e13a-7857-a9bc7b3822e3/test-blob-752faf3c-c511-cf44-b255-6d64e344c5a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FC5B49E4ED\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:01.9828973Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72f8e50a-6742-e13a-7857-a9bc7b3822e3/test-blob-752faf3c-c511-cf44-b255-6d64e344c5a0?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "DM04RdAmE\u002BWj3YOcvv34oy3lzQSV9jFiS/64LvUGh[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72f8e50a-6742-e13a-7857-a9bc7b3822e3/test-blob-752faf3c-c511-cf44-b255-6d64e344c5a0?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A01Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FC5B530B69\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:10:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:10:01.9828973Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d95578e1-8288-3de7-d769-f70975e8fba5/test-blob-33dda4c5-8e77-d328-caf6-fadbd81288ab?sv=2024-05-04\u0026se=2024-04-05T23%3A10%3A01Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:a457d6b9-001e-005d-6de5-867f65000000\n",
        "Time:2024-04-04T23:10:02.2237711Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72f8e50a-6742-e13a-7857-a9bc7b3822e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:10:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:10:01.3212246-07:00",
    "RandomSeed": "994431493",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
