{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-480e95c6-d5ff-78d2-12f8-eaa94958250b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF5216D8C6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-480e95c6-d5ff-78d2-12f8-eaa94958250b/test-blob-f2e4f89e-4194-83c7-ba84-3641f817ddaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF522BB518\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:28.4617247Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-480e95c6-d5ff-78d2-12f8-eaa94958250b/test-blob-f2e4f89e-4194-83c7-ba84-3641f817ddaf?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "IVQ6EUR2lgiINJQIGrF0rsQh36uSrjTzfPyE2/Rp4KoUPWjfDN9jeMwVfHBn\u002BuSVi8bUPmHti3MfR5RH8rsUH1Pq9NxJlKHkvmfefTHDjIIY71AtlKJIJ7L0v8VLG4UQAF0cfAYHS/Yl8ID5Dg5BXLoSLgNr54uxoswqVNXbmaLiznzUpxB7EKNZCKQhThmjs2MLOeyCpRjSa9o53fcgSVbdF0CRbbWqlh5gEd/mj1OzhqFy0GC1XyhkATs2QTKrOL5NRDfZEUWuYaLOIZM569uGhldWrnn2J7cXLWx5c1XrtNggmUsc2nRbxG6\u002B5z2UKhZgr7vbVYlFVhx/weT[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-480e95c6-d5ff-78d2-12f8-eaa94958250b/test-blob-f2e4f89e-4194-83c7-ba84-3641f817ddaf?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF5234DB8F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:28.4617247Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3aff4cfd-15a4-aadc-957c-fabbd285ee56/test-blob-e3bacb2e-b136-aa99-5e84-97ec6496aae2?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-480e95c6-d5ff-78d2-12f8-eaa94958250b/test-blob-f2e4f89e-4194-83c7-ba84-3641f817ddaf?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF52511205\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:28 GMT",
        "x-ms-content-crc64": "Smi64AiEyPY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:28.7055877Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-480e95c6-d5ff-78d2-12f8-eaa94958250b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:43:27.0093972-07:00",
    "RandomSeed": "415743141",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
