{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb57be80-804e-c197-6fdf-23be0f7da1c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EAB6CEAA0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24754a89-66c7-d23b-7a16-ec4d8ae626d6/test-blob-9d618969-d6be-e0b3-5469-288fc43df449",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "/NVLNyB3rNI3n2r7Ayhy7KUlvTc/Sw3jJuJ7S1vAy5+35ZICBlWGHYRex82wmnHq/F3NOiScXLHHaBE9/GB2d9TLQx2Wb+ZQnp+y4YRAMoxxkU/+85B6G4jhOp5DSSEj6FD45FdUU412fJyF6XsshzWFy2oRd4NEUSiUtTRIDFR9j/g0SE40HD7CiHbz9DENtLNpvn23EnDMtJMvv51YLnBIB1qD+D/nUK4sT+8MUFz2hwGB3k7WxnyHZ5O6BV2gaVkGq+zWibx0gm7OisKBwGQ2ODic108icUHd+5CrLEpRjOWVBqRwH/1EDFzfBzu6BqcvhM0kA5IJ4zqq+Y4ryFUjff7c67m/xhg6V8ryQmkG[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb57be80-804e-c197-6fdf-23be0f7da1c7/test-blob-3b9e520a-97ca-936c-d3a1-e99c5ec54da1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EAB915FF8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb57be80-804e-c197-6fdf-23be0f7da1c7/test-blob-3b9e520a-97ca-936c-d3a1-e99c5ec54da1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+pSb0kt7VMYIn0MLUgaPu/cSyCsQln9EGKNn7+gwAj0[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb57be80-804e-c197-6fdf-23be0f7da1c7/test-blob-3b9e520a-97ca-936c-d3a1-e99c5ec54da1?sv=Sanitized&se=2025-10-01T20%3A19%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE005EAB9B66C4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:19:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-24754a89-66c7-d23b-7a16-ec4d8ae626d6/test-blob-9d618969-d6be-e0b3-5469-288fc43df449?sv=Sanitized&se=2025-10-01T20%3A19%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fb57be80-804e-c197-6fdf-23be0f7da1c7/test-blob-3b9e520a-97ca-936c-d3a1-e99c5ec54da1?sv=sanitized-value&se=2025-10-01T20%3A19%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:005ed8d4-101e-000b-4b47-325bdf000000\n",
        "Time:2025-09-30T20:19:34.2519461Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb57be80-804e-c197-6fdf-23be0f7da1c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:19:34 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:19:33.9014644-07:00",
    "RandomSeed": "1004440932",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
