{
  "Entries": [
    {
      "RequestUri": "https://mimat-cus-white.cognitiveservices.azure.com/translator/text/v3.0/translate?to=cs\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "centralus"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022It is a beautiful morning\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "25",
        "x-ms-region": "Central US",
        "X-MT-System": "Microsoft",
        "X-RequestId": "c5afef07-222c-4c19-bd90-e10b6bfa278a.USE2.0320T2132"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:1.0},\u0022translations\u0022:[{\u0022text\u0022:\u0022Je kr\u00E1sn\u00E9 r\u00E1no\u0022,\u0022to\u0022:\u0022cs\u0022}]}]"
    }
  ],
  "Variables": {
    "RandomSeed": "152906960",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_CUSTOM_ENDPOINT": "https://mimat-cus-white.cognitiveservices.azure.com",
    "TEXT_TRANSLATION_REGION": "centralus"
  }
}
