{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/translate?api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "The word < mstrans:dictionary translation =\"wordomatic\">wordomatic</mstrans:dictionary> is a dictionary entry.",
            "language": "en",
            "textType": "Html",
            "targets": [
              {
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "sourcecharacterscharged": "110",
        "x-mt-system": "Microsoft",
        "x-requestid": "fe19541c-7b55-41a8-8ad3-558f7ee2dfc0.USW2.1114T1749"
      },
      "ResponseBody": {
        "value": [
          {
            "translations": [
              {
                "language": "es",
                "text": "La palabra < mstrans:dictionary translation =\"wordomatic\">wordomatic es una entrada del diccionario.",
                "sourceCharacters": 110
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1947603524",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "westus"
  }
}
