{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/translate?api-version=2025-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": {
        "inputs": [
          {
            "text": "hudha akhtabar.",
            "script": "Latn",
            "language": "ar",
            "targets": [
              {
                "language": "zh-Hans",
                "script": "Latn"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "sourcecharacterscharged": "15",
        "x-mt-system": "Microsoft",
        "x-requestid": "016273f2-5c3c-4614-b1c6-ba0de49de050.USW2.1114T1749"
      },
      "ResponseBody": {
        "value": [
          {
            "translations": [
              {
                "language": "zh-Hans",
                "script": "Latn",
                "text": "zhè shìgè cèshì。",
                "sourceCharacters": 15
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1545413277",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "westus"
  }
}
