{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "location": "eastus",
        "name": "Sanitized",
        "etag": "Sanitized",
        "tags": {
          "environment": "test"
        },
        "identity": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None",
          "backupStorageVersion": "V1",
          "securitySettings": {
            "immutabilitySettings": {
              "state": "Unlocked"
            },
            "softDeleteSettings": {
              "softDeleteRetentionPeriodInDays": 30,
              "softDeleteState": "Enabled",
              "enhancedSecurityState": "Enabled"
            },
            "multiUserAuthorization": "Disabled",
            "sourceScanConfiguration": {
              "state": "Disabled"
            }
          },
          "redundancySettings": {
            "standardTierStorageRedundancy": "GeoRedundant",
            "crossRegionRestore": "Enabled"
          },
          "secureScore": "Minimum",
          "bcdrSecurityLevel": "Fair",
          "publicNetworkAccess": "Enabled",
          "restoreSettings": {
            "crossSubscriptionRestoreSettings": {
              "crossSubscriptionRestoreState": "Enabled"
            }
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Sanitized",
          "tier": "Standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupPolicies/test-afs-daily-mt-1147604541542233271?api-version=2025-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "backupManagementType": "AzureStorage",
          "workLoadType": "AzureFileShare",
          "schedulePolicy": {
            "schedulePolicyType": "SimpleSchedulePolicy",
            "scheduleRunFrequency": "Daily",
            "scheduleRunTimes": [
              "2026-05-12T02:00:00.0000000Z"
            ]
          },
          "retentionPolicy": {
            "retentionPolicyType": "LongTermRetentionPolicy",
            "dailySchedule": {
              "retentionTimes": [
                "2026-05-12T02:00:00.0000000Z"
              ],
              "retentionDuration": {
                "count": 30,
                "durationType": "Days"
              }
            },
            "weeklySchedule": {
              "daysOfTheWeek": [
                "Sunday"
              ],
              "retentionTimes": [
                "2026-05-12T02:00:00.0000000Z"
              ],
              "retentionDuration": {
                "count": 12,
                "durationType": "Weeks"
              }
            },
            "monthlySchedule": {
              "retentionScheduleFormatType": "Daily",
              "retentionScheduleDaily": {
                "daysOfTheMonth": [
                  {
                    "date": 1
                  }
                ]
              },
              "retentionTimes": [
                "2026-05-12T02:00:00.0000000Z"
              ],
              "retentionDuration": {
                "count": 12,
                "durationType": "Months"
              }
            },
            "yearlySchedule": {
              "retentionScheduleFormatType": "Daily",
              "monthsOfYear": [
                "January"
              ],
              "retentionScheduleDaily": {
                "daysOfTheMonth": [
                  {
                    "date": 1
                  }
                ]
              },
              "retentionTimes": [
                "2026-05-12T02:00:00.0000000Z"
              ],
              "retentionDuration": {
                "count": 5,
                "durationType": "Years"
              }
            }
          },
          "timeZone": "UTC"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupPolicies/test-afs-daily-mt-1147604541542233271",
        "name": "Sanitized",
        "type": "Microsoft.RecoveryServices/vaults/backupPolicies",
        "properties": {
          "backupManagementType": "AzureStorage",
          "workLoadType": "AzureFileShare",
          "schedulePolicy": {
            "schedulePolicyType": "SimpleSchedulePolicy",
            "scheduleRunFrequency": "Daily",
            "scheduleRunTimes": [
              "2026-05-12T02:00:00Z"
            ],
            "scheduleWeeklyFrequency": 0
          },
          "retentionPolicy": {
            "retentionPolicyType": "LongTermRetentionPolicy",
            "dailySchedule": {
              "retentionTimes": [
                "2026-05-12T02:00:00Z"
              ],
              "retentionDuration": {
                "count": 30,
                "durationType": "Days"
              }
            },
            "weeklySchedule": {
              "daysOfTheWeek": [
                "Sunday"
              ],
              "retentionTimes": [
                "2026-05-12T02:00:00Z"
              ],
              "retentionDuration": {
                "count": 12,
                "durationType": "Weeks"
              }
            },
            "monthlySchedule": {
              "retentionScheduleFormatType": "Daily",
              "retentionScheduleDaily": {
                "daysOfTheMonth": [
                  {
                    "date": 1,
                    "isLast": false
                  }
                ]
              },
              "retentionTimes": [
                "2026-05-12T02:00:00Z"
              ],
              "retentionDuration": {
                "count": 12,
                "durationType": "Months"
              }
            },
            "yearlySchedule": {
              "retentionScheduleFormatType": "Daily",
              "monthsOfYear": [
                "January"
              ],
              "retentionScheduleDaily": {
                "daysOfTheMonth": [
                  {
                    "date": 1,
                    "isLast": false
                  }
                ]
              },
              "retentionTimes": [
                "2026-05-12T02:00:00Z"
              ],
              "retentionDuration": {
                "count": 5,
                "durationType": "Years"
              }
            }
          },
          "timeZone": "UTC",
          "protectedItemsCount": 0
        }
      }
    }
  ],
  "Variables": {
    "createdAfsDailyMultiTierPolicyName": "test-afs-daily-mt-1147604541542233271"
  }
}
