{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355594623001520?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825BB5440A5A\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:52 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355594623001520/blob177355595284201566",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825BB55207E6\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:25:52.8876006Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355594623001520/blob177355595284201566?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825BB55E7D07\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:52 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355594623001520/copiedblob1177355595302302668",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177355594623001520/blob177355595284201566",
        "x-ms-seal-blob": "false",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825BB56E22D8\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:53 GMT",
        "x-ms-copy-id": "0485da4d-aca8-47fa-b335-0435eb149d0a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:25:53.0717912Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355594623001520/copiedblob1177355595302302668?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE825BB56E22D8\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:25:53 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sun, 15 Mar 2026 06:25:53 GMT",
        "x-ms-copy-id": "0485da4d-aca8-47fa-b335-0435eb149d0a",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container177355594623001520/blob177355595284201566",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sun, 15 Mar 2026 06:25:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:25:53.0717912Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355594623001520?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177355595284201566",
    "container": "container177355594623001520",
    "copiedblob1": "copiedblob1177355595302302668",
    "copiedblob2": "copiedblob2177355595321606027",
    "copiedblob3": "copiedblob3177355595342207835"
  }
}
