{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361868426906362?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82EDC7822861\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:51:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361868426906362/blob177361868974102730",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82EDC78DACD7\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:51:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T23:51:29.9999959Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361868426906362/blob177361868974102730?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "AQIDBAUGBwg=",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Crc64Mismatch",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>Crc64Mismatch</Code><Message>The CRC64 value specified in the request did not match with the CRC64 value calculated by the server.\n",
        "RequestId:4eac83a3-801e-0043-79d6-b41ebc000000\n",
        "Time:2026-03-15T23:51:30.1001606Z</Message><UserSpecifiedCrc>AQIDBAUGBwg=</UserSpecifiedCrc><ServerCalculatedCrc>peH8Xsgc5QI=</ServerCalculatedCrc></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361868426906362?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177361868974102730",
    "container": "container177361868426906362"
  }
}
