{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841013239708058?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF89B9B21B2E6\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:15:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841013239708058/blob175841013825808707",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF89B9B3263BF\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:15:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-20T23:15:36.3868607Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841013239708058/blob175841013825808707?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF89B9B40D280\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:15:36 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841013239708058/copiedblob1175841013847805416",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container175841013239708058/blob175841013825808707",
        "x-ms-seal-blob": "false",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF89B9B5298D4\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:15:36 GMT",
        "x-ms-copy-id": "b90a4220-7d2f-4d19-914c-b3ccf853dce1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-20T23:15:36.5979348Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841013239708058/copiedblob1175841013847805416?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF89B9B5298D4\"",
        "Last-Modified": "Sat, 20 Sep 2025 23:15:36 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Sat, 20 Sep 2025 23:15:36 GMT",
        "x-ms-copy-id": "b90a4220-7d2f-4d19-914c-b3ccf853dce1",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container175841013239708058/blob175841013825808707",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 20 Sep 2025 23:15:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-20T23:15:36.5979348Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175841013239708058?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175841013825808707",
    "container": "container175841013239708058",
    "copiedblob1": "copiedblob1175841013847805416",
    "copiedblob2": "copiedblob2175841013870906361",
    "copiedblob3": "copiedblob3175841013899409075"
  }
}
