{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b7d27b50-e22b-b077-f4f4-0dbe26b885a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:13:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F1691D530\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b7d27b50-e22b-b077-f4f4-0dbe26b885a9/test-blob-fa5f3265-23ef-3f04-dfdb-ba79623145ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:13:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "f2+j4g8fX95cudE72Ny4Z8LW4DfLeq73PmmGboOtO42gbUDP8QyYRtOBnTVRyWcCI1K3jFAO/gTBq6SlmPBar35Dmmqb6Ha1PZpkSt14pnQCg0ox9a88km48DUZo863iJu63DS78ZzrcAU62qbQnSAUvoxSlKbnOBwj7XtowTUrsgSPuwZhGBhwQVfNhhei6FcVAOE+YPP016QYlAAhfrLQDySeROIdt6Zz4ldPFbYEgQUkV7xT6VEQluNeRIAYUsKg/XbzAKNw+006yn6cpcHuEBb6+SryfCHXjbICv28mW5OUrhRDFXxls1xvGSLSd+0hbDRpHVWXsn1RH3btcjviFHLvB/uprv6alUnKh2cDA[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b7d27b50-e22b-b077-f4f4-0dbe26b885a9/test-blob-fa5f3265-23ef-3f04-dfdb-ba79623145ca?comp=block&blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:13:48 GMT",
        "x-ms-version": "2024-08-04"
      },
 [...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b7d27b50-e22b-b077-f4f4-0dbe26b885a9/test-blob-fa5f3265-23ef-3f04-dfdb-ba79623145ca?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 07 Jun 2024 01:13:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F16BCB204\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:49 GMT",
        "x-ms-content-crc64": "2lljW2IaEzY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:49.9688212Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b7d27b50-e22b-b077-f4f4-0dbe26b885a9/test-blob-fa5f3265-23ef-3f04-dfdb-ba79623145ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:13:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F16BCB204\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:13:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:49.9688212Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b7d27b50-e22b-b077-f4f4-0dbe26b885a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:13:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2016536134",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
