{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e71a4aaf-5ad6-739d-ace5-92ff6edc21a1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:51:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A4FD614EF1A\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:51:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e71a4aaf-5ad6-739d-ace5-92ff6edc21a1/test-blob-e99b7584-2fbb-2d5b-aa75-b824d8040568",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 11 Jun 2024 19:51:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eycT+KdDQ8SYJQ35OXrVMWzTGvJOu9EbQji67eZE591V46ix8A3BdE9G4WNbOCi09xeqcbMshsBV+LVviVbeVD4vpFbSI0BfEqWjCNptwAoQBvXPmnYqKF3oXPhXUuv5aI0lK5TS4tTXSl4NiX3l6DerXoNgDrnHBXv56sdHCMC6qp9NR5R2PiMh91AXHJ/fAnPBrPNomFnTXSUY2PgMj0KdU9/emKCiNCBfPhdpsOjbGudThlzNURFFeeluXWUrFWcOecnAAGnSHnfSCVpCaa09Pb0QuAnl0AHNmB63M9e7MymvWzceGxl9gGfl+0i3AxA8MSCnG1xeKKnI8mhLG+qfF9Uxkw52HiGkkjehANW4[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e71a4aaf-5ad6-739d-ace5-92ff6edc21a1/test-blob-7a0b93b8-6889-6232-2ecd-481645cd1fd5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-e71a4aaf-5ad6-739d-ace5-92ff6edc21a1/test-blob-e99b7584-2fbb-2d5b-aa75-b824d8040568?sv=Sanitized&se=2024-06-11T20%3A51%3A06Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:51:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A4FD63D1785\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:51:08 GMT",
        "x-ms-content-crc64": "+ZKWVuiRb9o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T19:51:08.1145221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e71a4aaf-5ad6-739d-ace5-92ff6edc21a1/test-blob-7a0b93b8-6889-6232-2ecd-481645cd1fd5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:51:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hPx/1/Q/Uct+U53U2YIJ6g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8A4FD63D1785\"",
        "Last-Modified": "Tue, 11 Jun 2024 19:51:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 11 Jun 2024 19:51:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 11 Jun 2024 19:51:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T19:51:08.1145221Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e71a4aaf-5ad6-739d-ace5-92ff6edc21a1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 19:51:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-11T14:51:06.9460990-05:00",
    "RandomSeed": "465849254",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
