{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e983305e-0fdd-b75a-c5e8-70b8f6db1b07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F0FF178C0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e983305e-0fdd-b75a-c5e8-70b8f6db1b07/test-blob-efbc8e6a-ed7c-87dd-f1b1-2e86c97c27cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GihzATprsdeslggIxBUH2TilYdXx0WBHQGRMfSpKI6L2WWygCSWSIpEcvycaRZOM9+lbvu3k40nIK8HWHjStYXNlEWupZtASEj5E1RE4LfrRv4VB72S1EXYj191kvARcb12ztDMo45EYSKyuoA43j/3GBV+ubHIOr//1ho7zrVU652WzhXnHqNvzKKa4BnFn60jgnrekrQLrpAUzM1wCJZtWc7iohAqE/1yDukPLVqiOjZtGEw+eljljx+B0k3V/8QMLYZO4vmY9W55aIPK/H05cpaXBvBKLuN1/RbwqEGvmBMk/wPUV1s40CLdxQ3VGo6iRF+7QvjTxgKm1OXmqE0szdBwpf19YRs/WjLRaGnRnOKEUmPh9FkaVTkBLYJxVivRrPs9ZHSRJOdEe+TF/l2U0TgDXlntTtV[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e983305e-0fdd-b75a-c5e8-70b8f6db1b07/test-blob-6cf4428d-22bd-584d-a2fe-c293644fbad5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-e983305e-0fdd-b75a-c5e8-70b8f6db1b07/test-blob-efbc8e6a-ed7c-87dd-f1b1-2e86c97c27cd",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F10FAE1A2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:40 GMT",
        "x-ms-content-crc64": "PkoEB2QrB8A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:40.3090338Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e983305e-0fdd-b75a-c5e8-70b8f6db1b07/test-blob-6cf4428d-22bd-584d-a2fe-c293644fbad5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qecTAjzbJkypQ0q9UAQnXA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F10FAE1A2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:13:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:13:40.3090338Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e983305e-0fdd-b75a-c5e8-70b8f6db1b07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1102964323",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
