{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-512cb282-0754-fc07-1f7b-e5693fa7964c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F1EBE2DF7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-512cb282-0754-fc07-1f7b-e5693fa7964c/test-blob-720ecbca-c505-8759-b2a5-e1ec8bd4308a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "nRm5nUZXCBfeNJaP5LDJQ+LRaf+Fa8bqSdmMnmI3C0f4jLOjcudjcsL3k9EvyaIB250JumsxBDFSzlRsymm0pylOllj9JdD7bfY8jtf1u383i8LELVDcx4eBUaST96hYQuuo4TJJBLbMDk109HVZXRPUND+n73rZcc7Re9QsZ3VO40zsTdpM7YcM+B8CZ9MRKPOQvsJpsVJxzm9jeIjhn6bYJhApbRA5h0e4mvdb1gr7v1Pgm6iz5DL6en5r6HX+K1h4KkDD6LvjVzd7sRdaFvhkaLg1AAT+JELeLvKSzp/RuW+f46zJN9eY/URxNzMan2SFBoC9yCpUeQX+5bnIUYmXqveouzNMmzDgnQO/jO0Ow4+ODMgfE/FES2mnylIdz6u72Y08cuQwOWpP3ComlOwY8CEqOUXBeJ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-512cb282-0754-fc07-1f7b-e5693fa7964c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "914828279",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
