{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29425378-566d-8ccb-8c12-a6b9c38974fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F13A09B39\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:13:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29425378-566d-8ccb-8c12-a6b9c38974fe/test-blob-7686df7f-6c73-3356-4b2f-344b109fd497",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "YFaHRyA+5DoLK3zubXD4n3KordhtOtzGJTXq60gTQWpQQDfFzWh9QftLa0fvZ8XbNpTZZ/H8KiZ5wCHqU/ny+OoRni04MtIJK2zcIc+V1r1vD7SzOdl4VBURTAxGku0BWHNd3cmYogTCzzyFHwhW5Opje0NFP74QmUkXJ+bFw5l+28lbOPj01myv8Gqd8jQNumgi4heqvBm1TER/gXod/QyjB0Q/+6vxb6TWlU9TcqYVCW1+o+CC1B6vpuuzdFTykvNe+uvwzr68MHNy0yfKYdqeangMnlkrIDMmj1XAPvtP5AJb9Xe7JDuuwnJsDwH25UQQFQnc5fOZMtm4yT5p+/J4Iu4lbmti4kU8XdznvhEyL6oQryjxc/8PwsOdA1v8RceA9O0S0XfZrjLDn4cXsnPIhpqUWUvJhq[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29425378-566d-8ccb-8c12-a6b9c38974fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "820417299",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
