{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5b71422-6f5e-af3c-fce8-bf8263568f6c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F1DEF08E3\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:14:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5b71422-6f5e-af3c-fce8-bf8263568f6c/test-blob-96368b54-1af5-6122-98c7-78ee333d3af7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rHpUpWFytSbTpLlx6CKXidjEqunOpU8Tm5OE713Kha1L4KzdnfEV4dUQwlFhsXh1MO4Wb5JQKAYqQQrO7sbICR8LJgd2uevmr8kUveP+seoaD75vtBYb+7ils1znRvIOSLkxVYtx/3YCL7/JPGojLI8gtN8HWFQJ8CpP0AaP/2nWBXUpzFxeqQ9IbYRXUb5NgofMx5ETBvBkKGRgIS9vcjBV8zb1+l8zwQvPv+vPsp9rAk5/wzfYwv6ExaP4/ofg2PpUAV2IV4cnmQWGQ0cFlHbF9B/h7674fTA4cDS7OsKD7+bwe7BB46rGWCoxUX63fzAtMgpo/uhMW4QtUOZTbF5CAlNgFBnGhBB0GpeExiuy[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5b71422-6f5e-af3c-fce8-bf8263568f6c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:14:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "459663519",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
