{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93b0608a-663b-f117-5c73-3d04a6eb3887?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE82568EA0E\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93b0608a-663b-f117-5c73-3d04a6eb3887/test-blob-7f100428-55e3-8932-d45c-cb6f42ae17c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE82571DD32\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:31.0171954Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93b0608a-663b-f117-5c73-3d04a6eb3887/test-blob-7f100428-55e3-8932-d45c-cb6f42ae17c6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBDBE82571DD32\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "hKvrmEGtHPTThrlq1Tb6oswlJsltQEHq/RQ2uwM3BTZ1OHjjRfdknFxMA/7Kw/do2I0sXWk62UNpAJssdmDwm4CD9Z29FlzUwYltIT1CIDkczeN2C6fMOl81ekVcNyX7W2d9R85Zq8IxV5zfzLcGJuBiD6l9epDYtro\u002BiJwXeIlkcsXVxNhqwyIgRLML7G2nL1Nk\u002Bid8fuHXpJATGyIlGd8Se1rxMGEI90yHXDXczcpMlllJs35i6PPk/R9HVqf/\u002ByrU\u002BXATtf7xWwPb9SGr\u002B9fGx4XJ3GZhsJNmDTJBwKClh2EKCNRZOeBaWFd7hvP[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93b0608a-663b-f117-5c73-3d04a6eb3887/test-blob-7f100428-55e3-8932-d45c-cb6f42ae17c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:31 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE8257B03A2\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:10:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:31.0171954Z"
      },
      "ResponseBody": "hKvrmEGtHPTThrlq1Tb6oswlJsltQEHq/RQ2uwM3BTZ1OHjjRfdknFxMA/7Kw/do2I0sXWk62UNpAJssdmDwm4CD9Z29FlzUwYltIT1CIDkczeN2C6fMOl81ekVcNyX7W2d9R85Zq8IxV5zfzLcGJuBiD6l9epDYtro\u002BiJwXeIlkcsXVxNhqwyIgRLML7G2nL1Nk\u002Bid8fuHXpJATGyIlGd8Se1rxMGEI90yHXDXczcpMlllJs35i6PPk/R9HVqf/\u002ByrU\u002BXATtf7xWwPb9SGr\u002B9fGx4XJ3GZhsJNmDTJBwKClh2EKCNRZOeBaWFd7hvPSOAJIgY8hNh7Ec0jdrK[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93b0608a-663b-f117-5c73-3d04a6eb3887?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1432109440",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
