{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2ece7c49-698f-9d99-ec8a-75968bf4a9d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5EA04889E7\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2ece7c49-698f-9d99-ec8a-75968bf4a9d6/test-blob-6b515300-8377-3e8e-4c00-c2904dd4f602",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5EA05329E1\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:21.5109601Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2ece7c49-698f-9d99-ec8a-75968bf4a9d6/test-blob-6b515300-8377-3e8e-4c00-c2904dd4f602?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5EA05329E1\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "6IRg6budAt7DL05eR/m63TlbuV4Po2qhPX8Xn\u002BdKkQYWJawAD9yrOevmkGhwgoF50V0LNFyjBkUZvqw7hmP2eJ5HRyFMuc5dr4BzKRMBMLv9nc6JP1yqch9n5lAwcLOI7xjJKTpfLRePrYTcMNwxGI7xPeiVbDhCnNQC5NN9LT/M6jr7NweAnnC2\u002BpHYzkFCNs7CPzPL8oLfh4xlXUhEEYBFD0WhNeCHcJ9333Knas6Tv64Fu\u002B4LAfi4HLB6GkAocegQkr/7oQDtO86UUxMPNx290p6aP1aSOQ1N6RkwDFZeT22KltcPlx6tF4Afd63kqOSTvEiij[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2ece7c49-698f-9d99-ec8a-75968bf4a9d6/test-blob-6b515300-8377-3e8e-4c00-c2904dd4f602",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5EA059438C\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:21.5109601Z"
      },
      "ResponseBody": "6IRg6budAt7DL05eR/m63TlbuV4Po2qhPX8Xn\u002BdKkQYWJawAD9yrOevmkGhwgoF50V0LNFyjBkUZvqw7hmP2eJ5HRyFMuc5dr4BzKRMBMLv9nc6JP1yqch9n5lAwcLOI7xjJKTpfLRePrYTcMNwxGI7xPeiVbDhCnNQC5NN9LT/M6jr7NweAnnC2\u002BpHYzkFCNs7CPzPL8oLfh4xlXUhEEYBFD0WhNeCHcJ9333Knas6Tv64Fu\u002B4LAfi4HLB6GkAocegQkr/7oQDtO86UUxMPNx290p6aP1aSOQ1N6RkwDFZeT22KltcPlx6tF4Afd63kqOSTvEiijTKSflmxrrfmvS54NQSm[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2ece7c49-698f-9d99-ec8a-75968bf4a9d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1659141451",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
