{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-43b86014-79f5-0ef2-0ed4-5dd9e6496008?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCB437D4980E8\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-43b86014-79f5-0ef2-0ed4-5dd9e6496008/test-blob-b5de644c-df24-bf60-85da-2763e2db4a77",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCB437D502136\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-12T16:51:32.8707894Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-43b86014-79f5-0ef2-0ed4-5dd9e6496008/test-blob-b5de644c-df24-bf60-85da-2763e2db4a77?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "LW9hxRuhdu13dOfdbq1R1eycyAER6sBzG/Ej9eOrY8aZIoX\u002BTihv\u002BWrc6ENuMRWD\u002BKVVaj6sPEOv7aopfoEJyxAgQ0wnU4fDLM6XNQF8BOrcn/w\u002BVvmI7eVBTmB\u002BRnvo0hwyTu3IW6UdkT1vFQdCM\u002BnATN6Fy3UWmFZm5QQnReZTrmPkSbb8E0RWIMS8GNfe/xt3vfmdYganG7aXYnag9kxXHGajXekzxDmaL6uwWn9\u002Bh\u002BbpsIfstkxdPS3/ZbHNtip4ZftxOqEyQ/nAAjNa9sE2GNuPtkXEamYaRiC7M16IzHiBOPWDD[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-43b86014-79f5-0ef2-0ed4-5dd9e6496008/test-blob-b5de644c-df24-bf60-85da-2763e2db4a77",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCB437D56AFF0\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 12 Oct 2023 16:51:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-12T16:51:32.8707894Z"
      },
      "ResponseBody": "LW9hxRuhdu13dOfdbq1R1eycyAER6sBzG/Ej9eOrY8aZIoX\u002BTihv\u002BWrc6ENuMRWD\u002BKVVaj6sPEOv7aopfoEJyxAgQ0wnU4fDLM6XNQF8BOrcn/w\u002BVvmI7eVBTmB\u002BRnvo0hwyTu3IW6UdkT1vFQdCM\u002BnATN6Fy3UWmFZm5QQnReZTrmPkSbb8E0RWIMS8GNfe/xt3vfmdYganG7aXYnag9kxXHGajXekzxDmaL6uwWn9\u002Bh\u002BbpsIfstkxdPS3/ZbHNtip4ZftxOqEyQ/nAAjNa9sE2GNuPtkXEamYaRiC7M16IzHiBOPWDDU1Et2yOLLMYAkZ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-43b86014-79f5-0ef2-0ed4-5dd9e6496008?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "646092541",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
