{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd9ee712-6565-da54-3745-fee9d6ad2b1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:31 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAAEDF393A8\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd9ee712-6565-da54-3745-fee9d6ad2b1b/test-blob-e4f8fa26-1315-14f0-cede-790de1c45f6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:31 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAAEE0234EC\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:33.1280108Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd9ee712-6565-da54-3745-fee9d6ad2b1b/test-blob-e4f8fa26-1315-14f0-cede-790de1c45f6c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC1BAAEE0234EC\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:31 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "NlEwIIfd5mrspi0OMVvTRZ6vbmJb35pc1JHSpRvePgVlnl/uWB9BwZj\u002BlCvVfHGvpluQY0M\u002B6Fe31Ez2C0BPDWgnqJL85ex/ba3KXEpuhlcgIv\u002B/TtrCJ7YIN4TSS7ZXrobDrdTes8BuEfWVdIsMSE301uhBj7\u002BNZYDb9K1orCL3c63EqtmDQW8\u002BUDzlLLMr\u002B\u002B423XTNFh7HNkdTAr4TBmTSngDdR55zcZV4Aj\u002BCpznNsPi/Mc\u002BtKV2O/XORMD6wK0rYEo6yTbNPw2zfVRPfRI8OhVLGU9WVJXSjT0oq4UB[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd9ee712-6565-da54-3745-fee9d6ad2b1b/test-blob-e4f8fa26-1315-14f0-cede-790de1c45f6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:31 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAEE10B1B6\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:33.1280108Z"
      },
      "ResponseBody": "NlEwIIfd5mrspi0OMVvTRZ6vbmJb35pc1JHSpRvePgVlnl/uWB9BwZj\u002BlCvVfHGvpluQY0M\u002B6Fe31Ez2C0BPDWgnqJL85ex/ba3KXEpuhlcgIv\u002B/TtrCJ7YIN4TSS7ZXrobDrdTes8BuEfWVdIsMSE301uhBj7\u002BNZYDb9K1orCL3c63EqtmDQW8\u002BUDzlLLMr\u002B\u002B423XTNFh7HNkdTAr4TBmTSngDdR55zcZV4Aj\u002BCpznNsPi/Mc\u002BtKV2O/XORMD6wK0rYEo6yTbNPw2zfVRPfRI8OhVLGU9WVJXSjT0oq4UBWx9f0qpWqG2JEb25izt[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fd9ee712-6565-da54-3745-fee9d6ad2b1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:31 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1294592595",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
