{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-829008f4-cb9e-1e96-f5e1-26ae00da18d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BC61EFDA8B4\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:11 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-829008f4-cb9e-1e96-f5e1-26ae00da18d4/test-blob-ccbc25fb-d715-3534-18c0-c6f670bfc459",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BC61F0C2EB5\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:11.8134453Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-829008f4-cb9e-1e96-f5e1-26ae00da18d4/test-blob-ccbc25fb-d715-3534-18c0-c6f670bfc459?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC1BC61F0C2EB5\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "Rt3739mLiKokv8v3juOsJZMtBMLkj3nvdrqLoaLtoBhGzQqr9k6/ZiYwECBHVf\u002B81YiALuQUl7ZjDGgf/\u002BYHNx\u002BzscHZAC9Fbp2btH9YqCC6z8wabXIzMTVTR\u002Brln2c/KdgBlKQ94tVZOr9GeeI2C2RHZC8a7Mqsf3\u002BLhrhEX882W4unVhN8fe33wDKz7LhTHDyGnTs3JTwOVRQkslwcFdrwEB1Xj7RQy\u002BdCIyyX\u002BZLHOGl8vsKT/zZPmAH/WMqQ2qtXw9yb\u002B4yINdJU9AIQd1yBXXnyoFcYXBHmCPeyUXMcsUiA[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-829008f4-cb9e-1e96-f5e1-26ae00da18d4/test-blob-ccbc25fb-d715-3534-18c0-c6f670bfc459",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BC61F1BE3D4\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 03:48:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:11.8134453Z"
      },
      "ResponseBody": "Rt3739mLiKokv8v3juOsJZMtBMLkj3nvdrqLoaLtoBhGzQqr9k6/ZiYwECBHVf\u002B81YiALuQUl7ZjDGgf/\u002BYHNx\u002BzscHZAC9Fbp2btH9YqCC6z8wabXIzMTVTR\u002Brln2c/KdgBlKQ94tVZOr9GeeI2C2RHZC8a7Mqsf3\u002BLhrhEX882W4unVhN8fe33wDKz7LhTHDyGnTs3JTwOVRQkslwcFdrwEB1Xj7RQy\u002BdCIyyX\u002BZLHOGl8vsKT/zZPmAH/WMqQ2qtXw9yb\u002B4yINdJU9AIQd1yBXXnyoFcYXBHmCPeyUXMcsUiAPzW2Kz3c9IjwPwo0PiG[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-829008f4-cb9e-1e96-f5e1-26ae00da18d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1494159408",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
