{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-798d085c-af52-3b4f-e1a6-ce2650c358b6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9F8AFB40\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-798d085c-af52-3b4f-e1a6-ce2650c358b6/test-blob-0d0b3e0e-3df6-be6c-9b65-79d3632f3c11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9F91CAFE\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:20.2436862Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-798d085c-af52-3b4f-e1a6-ce2650c358b6/test-blob-0d0b3e0e-3df6-be6c-9b65-79d3632f3c11?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5E9F91CAFE\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "WIlZNvoGL5IyDxvSFSq7EGTm0E4efEt5CfsICjvH8sZ1m\u002Bh6MMqX\u002B\u002BV\u002BjbX0FGBCQTDfIllgbdw93yz//iRWax1VXHpCQeCZTtVon\u002B6VhfSbxcgL589sFS0LPFGdmP3BKCGYnrjlAABPRdSE987up1k4YzhbS4RN6EdNNwSO/LXXp3fN/eY8tcXIu6H75x1fHZT3ZTXEZdycS7ZwmMj7wUkerFBWIKpz/K1zk4/jUQAp7hlwl5aAE0KaMLEwyx38zfpX3TrNCPzqg2iHUNJNufq2RqqviymynpkNu\u002B/4QzCQdsaVi3TFXOUdhR[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-798d085c-af52-3b4f-e1a6-ce2650c358b6/test-blob-0d0b3e0e-3df6-be6c-9b65-79d3632f3c11",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5E9F9880C2\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:20.2436862Z"
      },
      "ResponseBody": "WIlZNvoGL5IyDxvSFSq7EGTm0E4efEt5CfsICjvH8sZ1m\u002Bh6MMqX\u002B\u002BV\u002BjbX0FGBCQTDfIllgbdw93yz//iRWax1VXHpCQeCZTtVon\u002B6VhfSbxcgL589sFS0LPFGdmP3BKCGYnrjlAABPRdSE987up1k4YzhbS4RN6EdNNwSO/LXXp3fN/eY8tcXIu6H75x1fHZT3ZTXEZdycS7ZwmMj7wUkerFBWIKpz/K1zk4/jUQAp7hlwl5aAE0KaMLEwyx38zfpX3TrNCPzqg2iHUNJNufq2RqqviymynpkNu\u002B/4QzCQdsaVi3TFXOUdhRMu\u002BcJwTXe3eoVz[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-798d085c-af52-3b4f-e1a6-ce2650c358b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1334807285",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
