{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8adf3533-85c0-765e-1113-3261a18ed6d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEA9EC505E2\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8adf3533-85c0-765e-1113-3261a18ed6d8/test-blob-d21da2ce-d15c-512b-d3ca-69476fe4f080",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEA9ECDF6CA\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:13.6185546Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8adf3533-85c0-765e-1113-3261a18ed6d8/test-blob-d21da2ce-d15c-512b-d3ca-69476fe4f080?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBDBEA9ECDF6CA\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "J5hHhGhjIYdr\u002BAzV6N\u002BIcgKTWDw4DQ0yujTaR41gsHm1XCUvGUNtixEkeHt6OMVu8kfT4POTUxmLFMkzidr5C0eTH4u6WFm/Jc0qFJWSuIJva1RFjNCFIQkLpAR6OgI3Kmwz5hg6tJntFLomaT6E\u002BFxGxB2FtH53Dv2Br7RVROvK8\u002BooX9FpNbe7V3cVXrjLhqunNHbksXbuu9gauATlmNDPW3VUXJmL3I9mylwHYq9EtigIrRB15UF0OqP4T3yy1b\u002BnRQNDdioSHFfmfucZ5lgp1QLc3eq/WnYz4CL1ko0StPWdXxysAT/\u002B9Z[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8adf3533-85c0-765e-1113-3261a18ed6d8/test-blob-d21da2ce-d15c-512b-d3ca-69476fe4f080",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEA9ED6A816\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:13.6185546Z"
      },
      "ResponseBody": "J5hHhGhjIYdr\u002BAzV6N\u002BIcgKTWDw4DQ0yujTaR41gsHm1XCUvGUNtixEkeHt6OMVu8kfT4POTUxmLFMkzidr5C0eTH4u6WFm/Jc0qFJWSuIJva1RFjNCFIQkLpAR6OgI3Kmwz5hg6tJntFLomaT6E\u002BFxGxB2FtH53Dv2Br7RVROvK8\u002BooX9FpNbe7V3cVXrjLhqunNHbksXbuu9gauATlmNDPW3VUXJmL3I9mylwHYq9EtigIrRB15UF0OqP4T3yy1b\u002BnRQNDdioSHFfmfucZ5lgp1QLc3eq/WnYz4CL1ko0StPWdXxysAT/\u002B9ZC4jmdaWlNLz3l61vjU5[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8adf3533-85c0-765e-1113-3261a18ed6d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1393834771",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
