{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-21f57825-642c-36ff-203c-5263d8311a4b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:08 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BC61E278CE7\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-21f57825-642c-36ff-203c-5263d8311a4b/test-blob-269dfa45-d7e0-1308-56b8-047c8b12aeff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:08 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BC61E374AF0\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:10.4192500Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-21f57825-642c-36ff-203c-5263d8311a4b/test-blob-269dfa45-d7e0-1308-56b8-047c8b12aeff?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC1BC61E374AF0\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:08 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "UlM7zQ5iZkjy2/jlUuJTlY1HwflqIHs1FhZUojV7KT909dNshV2uWCtfm6j3SOhb6jH\u002BTyyMJDHYBbb3DcQSd7G4cVwO5w8vmWnOC4XSPc4u\u002BbcEfdkT59Cik3\u002BntkpmTCP2P9eLTQIizrbCvRmsBcjnyRQMDvrYpYmLbFOQiOMeaL9h2/73oqu14a8jUCm39Y63v\u002Bw2Wj0pHplN/\u002BCukUXSo1VZSynJ8CZoVyxKtFVg1HfF2Mn26A2BN71lqaLLBlBpUazTXall7s7GzQMR3mlE7Stp6bl827pI2BNsZEaDnVDc4WOojHbNYOr6MBs[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-21f57825-642c-36ff-203c-5263d8311a4b/test-blob-269dfa45-d7e0-1308-56b8-047c8b12aeff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:09 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BC61E483856\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 03:48:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:10.4192500Z"
      },
      "ResponseBody": "UlM7zQ5iZkjy2/jlUuJTlY1HwflqIHs1FhZUojV7KT909dNshV2uWCtfm6j3SOhb6jH\u002BTyyMJDHYBbb3DcQSd7G4cVwO5w8vmWnOC4XSPc4u\u002BbcEfdkT59Cik3\u002BntkpmTCP2P9eLTQIizrbCvRmsBcjnyRQMDvrYpYmLbFOQiOMeaL9h2/73oqu14a8jUCm39Y63v\u002Bw2Wj0pHplN/\u002BCukUXSo1VZSynJ8CZoVyxKtFVg1HfF2Mn26A2BN71lqaLLBlBpUazTXall7s7GzQMR3mlE7Stp6bl827pI2BNsZEaDnVDc4WOojHbNYOr6MBsKcFlTILx3YRyW7XXxi4[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-21f57825-642c-36ff-203c-5263d8311a4b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:09 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "886242864",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
