{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fe2c74a2-7f7a-0cea-fa19-229a64bc4af7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAAB9308A0\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fe2c74a2-7f7a-0cea-fa19-229a64bc4af7/test-blob-fff9c955-1918-d36b-fe08-f004477cad0a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAAB9C6BCA\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:35.1042506Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fe2c74a2-7f7a-0cea-fa19-229a64bc4af7/test-blob-fff9c955-1918-d36b-fe08-f004477cad0a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBDBEAAB9C6BCA\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Ba6N0x0IiTm06s0jDnG9AR80ymFkGBW\u002BxuZvqeo6QPwCJvRobxWeMFze4Atgfj5TYi67mmqRgOyYzww2md9PeqrQIeh8VJIJlZoFhTcJXUioHEe7f6WRcKYIz6AIZ5d8j2ZgkFxW1g2csQTQjPq0jnHEjn2XlPsFPrFBdIXyAC0DiPbRqc3rUkU6H82gwOOrU0AuRNkZ5PtrW1GrFGKIqrDWzQME4\u002BWk2Ds4XXQtZH3NliBEw7xT6aP7Zk17QD7isnUcyfPfpnBaimue4YeGPffT3n1BQ\u002Bb0g\u002BRfCXyYKJj9Vav/EJqK7e\u002Bw6TlQtQg[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fe2c74a2-7f7a-0cea-fa19-229a64bc4af7/test-blob-fff9c955-1918-d36b-fe08-f004477cad0a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAABA5441D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:35.1042506Z"
      },
      "ResponseBody": "Ba6N0x0IiTm06s0jDnG9AR80ymFkGBW\u002BxuZvqeo6QPwCJvRobxWeMFze4Atgfj5TYi67mmqRgOyYzww2md9PeqrQIeh8VJIJlZoFhTcJXUioHEe7f6WRcKYIz6AIZ5d8j2ZgkFxW1g2csQTQjPq0jnHEjn2XlPsFPrFBdIXyAC0DiPbRqc3rUkU6H82gwOOrU0AuRNkZ5PtrW1GrFGKIqrDWzQME4\u002BWk2Ds4XXQtZH3NliBEw7xT6aP7Zk17QD7isnUcyfPfpnBaimue4YeGPffT3n1BQ\u002Bb0g\u002BRfCXyYKJj9Vav/EJqK7e\u002Bw6TlQtQgcdShVqGHAoW6OKEYPgJ[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fe2c74a2-7f7a-0cea-fa19-229a64bc4af7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1735748825",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
