{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7c63ddd5-2fd8-ce77-81dd-c1ff80b93f65?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E982CE1C3\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7c63ddd5-2fd8-ce77-81dd-c1ff80b93f65/test-blob-0977f011-db9b-ae9b-1d60-ec48eeb40582",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9833839D\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:07.8817693Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7c63ddd5-2fd8-ce77-81dd-c1ff80b93f65/test-blob-0977f011-db9b-ae9b-1d60-ec48eeb40582?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5E9833839D\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "fs90uqr7sHhjDlg/CUPZl\u002B8Pf0ADLPy2i\u002ByyvBAUjRUP\u002BNkFErYzzfw5dHi2DRLVTfKJzBwL1lHTvS69SPNoT4FDLxFq1IQ427FDyriDAH7Z3W4eisH4AyGHMVSHdYQJ0CT3ct0Aa3ltUPBryAuZT72w42uESsW/Syzv4qMwsGYsOvmTjI2h2XH1sDnQjDsW7eKW15EZhIZfNyexEIjVPKCKPo0SBsIwDwr5j5mL7r7w2fTBmtnUE7ZyM1Vl78jpH3SZRk6uA\u002BcfZsiGH/Xt1EhpwDeTFKLHtSvWn9Jsyh9CEG8l8ahwQtUNoTQQTvPBhV4N[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7c63ddd5-2fd8-ce77-81dd-c1ff80b93f65/test-blob-0977f011-db9b-ae9b-1d60-ec48eeb40582",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5E983AD585\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:07.8817693Z"
      },
      "ResponseBody": "fs90uqr7sHhjDlg/CUPZl\u002B8Pf0ADLPy2i\u002ByyvBAUjRUP\u002BNkFErYzzfw5dHi2DRLVTfKJzBwL1lHTvS69SPNoT4FDLxFq1IQ427FDyriDAH7Z3W4eisH4AyGHMVSHdYQJ0CT3ct0Aa3ltUPBryAuZT72w42uESsW/Syzv4qMwsGYsOvmTjI2h2XH1sDnQjDsW7eKW15EZhIZfNyexEIjVPKCKPo0SBsIwDwr5j5mL7r7w2fTBmtnUE7ZyM1Vl78jpH3SZRk6uA\u002BcfZsiGH/Xt1EhpwDeTFKLHtSvWn9Jsyh9CEG8l8ahwQtUNoTQQTvPBhV4N/C\u002BRVQrR0pEi12[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7c63ddd5-2fd8-ce77-81dd-c1ff80b93f65?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "820728672",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
