{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2e7e564a-9538-1aee-ab6c-c9c5ae7f0109?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9C596DFC\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2e7e564a-9538-1aee-ab6c-c9c5ae7f0109/test-blob-1da4d7b9-c148-9cd9-01b5-bdbbfb48c2e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9C603CDE\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:14.8857566Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2e7e564a-9538-1aee-ab6c-c9c5ae7f0109/test-blob-1da4d7b9-c148-9cd9-01b5-bdbbfb48c2e3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5E9C603CDE\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "SdRSu129JXcjzRzahMqlZnkZ8CZbQ79/INoSWoMTnc6ZkMUiSYBGDa91W1XK1Q8WnlgmIEKuUQUU05uDq8vzEDBOQfQFgxz40\u002BN35ehqtErL/Lsr7XyL6j6/DnblwmLjgUskfJQaERs7LU1eN2wdqh5QuK4QyCKzwla2RXWmEhCBk2OdRTe1sOuf8L8vLLPRomNXlQqz07kocbk\u002BZMumlBs83aMIf2TmmwjDcdhjhJWi5KIRT30GzcCqddR\u002Bd0sf\u002BFyk808PySL/cPoC72LgxO0jm4AplUSdNg/jXQqQaCO8pHh7v5BGkht/Et\u002BDBN5[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2e7e564a-9538-1aee-ab6c-c9c5ae7f0109/test-blob-1da4d7b9-c148-9cd9-01b5-bdbbfb48c2e3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5E9C667D81\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:14.8857566Z"
      },
      "ResponseBody": "SdRSu129JXcjzRzahMqlZnkZ8CZbQ79/INoSWoMTnc6ZkMUiSYBGDa91W1XK1Q8WnlgmIEKuUQUU05uDq8vzEDBOQfQFgxz40\u002BN35ehqtErL/Lsr7XyL6j6/DnblwmLjgUskfJQaERs7LU1eN2wdqh5QuK4QyCKzwla2RXWmEhCBk2OdRTe1sOuf8L8vLLPRomNXlQqz07kocbk\u002BZMumlBs83aMIf2TmmwjDcdhjhJWi5KIRT30GzcCqddR\u002Bd0sf\u002BFyk808PySL/cPoC72LgxO0jm4AplUSdNg/jXQqQaCO8pHh7v5BGkht/Et\u002BDBN5dybDnWtzL9mIXBrw/LG[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2e7e564a-9538-1aee-ab6c-c9c5ae7f0109?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "577249767",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
