{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0847d6d-f371-1cb7-224d-83ad84bc5c44?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9B53EA07\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0847d6d-f371-1cb7-224d-83ad84bc5c44/test-blob-4c4004a9-2215-50da-24bc-3937d27c85e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9B5A64EE\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:13.1697390Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0847d6d-f371-1cb7-224d-83ad84bc5c44/test-blob-4c4004a9-2215-50da-24bc-3937d27c85e2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5E9B5A64EE\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "PpebnPjA9XDHF839KjGtQEx3cvzr8uKzCQ69PzryZJ2FNGoLSNPJBN8gy\u002BhZtJPEab7\u002BTG\u002BV2Ey16JLpArU11bIvd/XGovd4rm0cyif6WlV7\u002BNZ88xcu8FseVWBB3wIp6/Y1KTye/sbGhZ0CeA0kuo48bgrfuOGaAIeZqEyXN85r898wxDAY3PoPtW15LHdO\u002BZrSBHH3SjIUmyi1BFZ6L07PloUu9PZeJJEPzwN0INQPS66xxTJdc6isGykHY9iklYYeqpXyHwWkdN/f6HsvoHpUpbinyWobcSPcgdjMVsG5azl8VXU\u002BHSypDF[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0847d6d-f371-1cb7-224d-83ad84bc5c44/test-blob-4c4004a9-2215-50da-24bc-3937d27c85e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:13 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5E9B603078\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:13.1697390Z"
      },
      "ResponseBody": "PpebnPjA9XDHF839KjGtQEx3cvzr8uKzCQ69PzryZJ2FNGoLSNPJBN8gy\u002BhZtJPEab7\u002BTG\u002BV2Ey16JLpArU11bIvd/XGovd4rm0cyif6WlV7\u002BNZ88xcu8FseVWBB3wIp6/Y1KQ=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c0847d6d-f371-1cb7-224d-83ad84bc5c44?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1617123864",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
