{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5dc0e46f-852d-34a8-a3e4-1c46add76d69?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5EA0B45B30\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5dc0e46f-852d-34a8-a3e4-1c46add76d69/test-blob-c68ae0be-b25a-c7be-0989-99f0af89dbd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5EA0BB7961\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:22.1945697Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5dc0e46f-852d-34a8-a3e4-1c46add76d69/test-blob-c68ae0be-b25a-c7be-0989-99f0af89dbd1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5EA0BB7961\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "ideCJGSG9sOA7fB385LHvtSWpz4pY4r\u002B\u002BCbqy5DhMif0QKEoyJGewnqc91ke7EPu2quq0wewVCZNhCs\u002BnCsznrvJg7Lxn/VC9\u002BXDjWsw3wvj\u002B/DkNl8fQ\u002Bx720RlYCZOaFmeVWmQ/Tu2Z9si7ce6HKQgW6A7T2dcqT/GdcSx3Ze\u002BdSQSkYqhUv21Ls6D/VYkwb6fRASGExnxQqsqyYh2BIpEY3ejp4sZfgiihiGY2azporQGEZiSOGIKIU/fd4h1PilEPpregBkzhsb84434WGn\u002BQSfUcPPxsSoVmIY7Ogd/LEf3[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5dc0e46f-852d-34a8-a3e4-1c46add76d69/test-blob-c68ae0be-b25a-c7be-0989-99f0af89dbd1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5EA0C49FC0\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:22.1945697Z"
      },
      "ResponseBody": "ideCJGSG9sOA7fB385LHvtSWpz4pY4r\u002B\u002BCbqy5DhMif0QKEoyJGewnqc91ke7EPu2quq0wewVCZNhCs\u002BnCsznrvJg7Lxn/VC9\u002BXDjWsw3wvj\u002B/DkNl8fQ\u002Bx720RlYCZOaFmeVWmQ/Tu2Z9si7ce6HKQgW6A7T2dcqT/GdcSx3Ze\u002BdSQSkYqhUv21Ls6D/VYkwb6fRASGExnxQqsqyYh2BIpEY3ejp4sZfgiihiGY2azporQGEZiSOGIKIU/fd4h1PilEPpregBkzhsb84434WGn\u002BQSfUcPPxsSoVmIY7Ogd/LEf3VJoSCiGa04vSllTUEsj[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5dc0e46f-852d-34a8-a3e4-1c46add76d69?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2046891396",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
