{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fffa7a8-687b-5843-e4ce-4aac37036c8e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E99D4FC59\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fffa7a8-687b-5843-e4ce-4aac37036c8e/test-blob-aa23b456-5afd-36a5-6415-47e4149d005d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E99DB9E34\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:10.6611764Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fffa7a8-687b-5843-e4ce-4aac37036c8e/test-blob-aa23b456-5afd-36a5-6415-47e4149d005d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5E99DB9E34\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "gDl7vRSCp1ZN7OMj\u002BglbIwrSU2lNXfjo9Up2N/lVYRpj9Buhxk1gDgP5Vni6CAkDb\u002BMHA1gMHiNBksfJC29c94vIwAbuuVy8cUVmVAeALuxBcscVTV3CV9b3YDOGlgKTnF7t8UgDFbaGS5ETpckcwWTah5moR6ktBmgw9lkpNttC0riokzykPl0RjgLMrrEM25/Pqw5p61S1v\u002Bvf0h5cXRW20NMRcy4nNkk8lrinYVe3Ixu5WYrM2edj8tNRxGs\u002BtDDsFd7d\u002B2dxqHTFLFScDl6TKK8DogSK6vfsrYBa1XHd/eKHukt52Si0SLEWBqy[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fffa7a8-687b-5843-e4ce-4aac37036c8e/test-blob-aa23b456-5afd-36a5-6415-47e4149d005d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5E99E1DED6\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:10.6611764Z"
      },
      "ResponseBody": "gDl7vRSCp1ZN7OMj\u002BglbIwrSU2lNXfjo9Up2N/lVYRpj9Buhxk1gDgP5Vni6CAkDb\u002BMHA1gMHiNBksfJC29c94vIwAbuuVy8cUVmVAeALuxBcscVTV3CV9b3YDOGlgKTnF7t8UgDFbaGS5ETpckcwWTah5moR6ktBmgw9lkpNttC0riokzykPl0RjgLMrrEM25/Pqw5p61S1v\u002Bvf0h5cXRW20NMRcy4nNkk8lrinYVe3Ixu5WYrM2edj8tNRxGs\u002BtDDsFd7d\u002B2dxqHTFLFScDl6TKK8DogSK6vfsrYBa1XHd/eKHukt52Si0SLEWBqySx\u002BR0vZy8OxEsY[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fffa7a8-687b-5843-e4ce-4aac37036c8e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "152311821",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
