{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e74261a0-a48c-10d9-3e23-c7474c6bca48?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5EA13E3751\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e74261a0-a48c-10d9-3e23-c7474c6bca48/test-blob-1816b224-3f77-9d2a-8beb-793101705d23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5EA145CAC2\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:23.1010498Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e74261a0-a48c-10d9-3e23-c7474c6bca48/test-blob-1816b224-3f77-9d2a-8beb-793101705d23?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5EA145CAC2\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "JI8vdxMLQo0HZBLI4btM3AsLcXIrXB7jsdH81u74p\u002BAJk0nBf2hbtEy3\u002BaAAhjnXr8ym/7Mzn8hxS8ZBD2ueD70xv01xilyjr70mc2N94yqXJCciUact1vSBUDOiGaXgGenjzsfrZSVvA1D1DCtk82ibqupEe70WBOlZ8DooAZUYRVl6mhRjq78Bsk1XN8nIHVzKBm\u002B6nJ4rzcrdknXqRwK63cfR6llUOP4qQslwvswgkNLdXfomXai7Ts1JhRlJF2tLnVoB9jIDds5xj1rVuw7\u002BvQGiDOkIk38eFpyMC7Pk4StdJCFxHpqg2ucstM1O5pK\[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e74261a0-a48c-10d9-3e23-c7474c6bca48/test-blob-1816b224-3f77-9d2a-8beb-793101705d23",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:23 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5EA14BE45C\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:23.1010498Z"
      },
      "ResponseBody": "JI8vdxMLQo0HZBLI4btM3AsLcXIrXB7jsdH81u74p\u002BAJk0nBf2hbtEy3\u002BaAAhjnXr8ym/7Mzn8hxS8ZBD2ueD70xv01xilyjr70mc2N94yqXJCciUact1vSBUDOiGaXgGenjzsfrZSVvA1D1DCtk82ibqupEe70WBOlZ8DooAZUYRVl6mhRjq78Bsk1XN8nIHVzKBm\u002B6nJ4rzcrdknXqRwK63cfR6llUOP4qQslwvswgkNLdXfomXai7Ts1JhRlJF2tLnVoB9jIDds5xj1rVuw7\u002BvQGiDOkIk38eFpyMC7Pk4StdJCFxHpqg2ucstM1O5pK\u002BSscYpgqBQwna4u[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e74261a0-a48c-10d9-3e23-c7474c6bca48?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2090030346",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
