{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1968b4f8-7a24-44e5-e8a4-039bca6f76a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5E9FFB38A9\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1968b4f8-7a24-44e5-e8a4-039bca6f76a9/test-blob-600fe262-0324-48e4-5d02-c40015ddfc0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE5EA0022F97\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:20.9802647Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1968b4f8-7a24-44e5-e8a4-039bca6f76a9/test-blob-600fe262-0324-48e4-5d02-c40015ddfc0e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBCE5EA0022F97\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "zGqA4TQd8oiSp0MGTZMSq5LNO3o4lkQHSruciJv3YBqWmoTMMY7Cp6gd0iLawyARPJPGOcYM4zYleJd4gGrtm0Ypb7IORnkDC5TRG8MhLIaai0sHMSdTibZOprj3SSY9LzfcsFRuAvYawi0xO8hzA0sQ3vUe5mkf1eX8wJ/ADMFuk\u002BuLRXwyLIlV7G/5Ik7u2qNs5mswHknNvNtuckJXWrVswqfd573P3rJsyfn6JbOWDeX7UyVVPXShvYmgw7pG/pK5jF\u002BnEfLmnQi4xFVQ0pcn12RcWwaQFoQyOyo0Lhr4JctmQZhT7/zzFbYcnHkfUOvxeexV6qKLKX[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1968b4f8-7a24-44e5-e8a4-039bca6f76a9/test-blob-600fe262-0324-48e4-5d02-c40015ddfc0e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE5EA009336D\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 15:43:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T15:43:20.9802647Z"
      },
      "ResponseBody": "zGqA4TQd8oiSp0MGTZMSq5LNO3o4lkQHSruciJv3YBqWmoTMMY7Cp6gd0iLawyARPJPGOcYM4zYleJd4gGrtm0Ypb7IORnkDC5TRG8MhLIaai0sHMSdTibZOprj3SSY9LzfcsFRuAvYawi0xO8hzA0sQ3vUe5mkf1eX8wJ/ADMFuk\u002BuLRXwyLIlV7G/5Ik7u2qNs5mswHknNvNtuckJXWrVswqfd573P3rJsyfn6JbOWDeX7UyVVPXShvYmgw7pG/pK5jF\u002BnEfLmnQi4xFVQ0pcn12RcWwaQFoQyOyo0Lhr4JctmQZhT7/zzFbYcnHkfUOvxeexV6qKLKXXbdNXIsW7uwJ\u002BJ[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1968b4f8-7a24-44e5-e8a4-039bca6f76a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 15:43:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1576704555",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
