{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0af1069b-b062-b7d1-e79f-d195ab184d8c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAA04664A5\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0af1069b-b062-b7d1-e79f-d195ab184d8c/LmeycRNN",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "z6HIhNltO5de/vO0UR\u002BXC/jLGbM\u002Bc0PCxCH0mVs6oo00al5T9rcAStNpZQ6MZGRPSukOY/oNHltdBb\u002B4eaI7I1xlf\u002BfBRBVAys/g1A41NmC8pE5yLD6TJ0wC9fD4SNEwLUGxJuR9jgbTzpkrLUlNKM9f/NRUyfcd0liavk4kSIL9r6bMgw97PhZInl6lZ/kCtc0hmUz83GRKlFSM48\u002B3r4UWLX6igKS/472\u002BCyuYd2pflwmBAq82AdJCge\u002B771tGkO7Yjzp7YDUoYbWOPtA5sRzpLEvGNqzW4CyrX/61BPNid3s8wOgw4zfUWKH5qMICCc/S0sIQg[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0af1069b-b062-b7d1-e79f-d195ab184d8c/LmeycRNN",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAA060DEDD\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-blob-content-md5": "\u002BWIUSk1O94ebFZ7cIYB\u002B4A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:16.2590429Z"
      },
      "ResponseBody": "z6HIhNltO5de/vO0UR\u002BXC/jLGbM\u002Bc0PCxCH0mVs6oo00al5T9rcAStNpZQ6MZGRPSukOY/oNHltdBb\u002B4eaI7I1xlf\u002BfBRBVAys/g1A41NmC8pE5yLD6TJ0wC9fD4SNEwLUGxJuR9jgbTzpkrLUlNKM9f/NRUyfcd0liavk4kSIL9r6bMgw97PhZInl6lZ/kCtc0hmUz83GRKlFSM48\u002B3r4UWLX6igKS/472\u002BCyuYd2pflwmBAq82AdJCge\u002B771tGkO7Yjzp7YDUoYbWOPtA5sRzpLEvGNqzW4CyrX/61BPNid3s8wOgw4zfUWKH5qMICCc/S0sIQgFpBAq8N0AA2c1zCK8ZV/PEzuEgT8t0L3DhpqFYu4jIwUvcg\u002Br45IhM3neVEN3z8rQ3enhl5/I59NiV2oyeqCJAqkdjONAIz\u002BpY13FT3x6W7bftJT0QZtlZpo8OYwn7sjJRVGaWjLngKq6SDRB85hW\u002BAuzYrYLhMEdqCZZE\u002BmjcXSE\u002B/oq3/GD\u002BDPqSflnE2MB1UGAdHwSzcCQjKIMjmzBBsa/zQeePCgKP3pyITrHtoTDVz6YEwz4cj45mkNPd2nHGUMip1ZbY6kphkUBkJyFyMYdSTcuKOPJt1rJZJHUurgQqwf3lQ8\u002BZ\u002BOFfpzH9tGRo8F9Ij4imOBfaOALkf8HRMuM4OWEnjPG4="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0af1069b-b062-b7d1-e79f-d195ab184d8c/LmeycRNN",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BWIUSk1O94ebFZ7cIYB\u002B4A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAA060DEDD\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:16.2590429Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0af1069b-b062-b7d1-e79f-d195ab184d8c/LmeycRNN",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBDBEAA060DEDD\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAA060DEDD\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-blob-content-md5": "\u002BW[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0af1069b-b062-b7d1-e79f-d195ab184d8c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "176240746",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
