{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41f89ba4-611e-21ac-2770-1841ce235c47?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAAE346546\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41f89ba4-611e-21ac-2770-1841ce235c47/test-blob-2591f521-323c-bfe2-d7ef-9eb7ca32dd61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Sd2h3exDOQWp8WScXN1ongqtWU40Af5sDnhBHTVOmOkdJpzDY3/\u002B3buLfEvORmP6hwCtHNmOLUfeNc50AhzQW1l6fzVBpDuLr3uTqIWznsgUR5Y1oXsQjvlV5C6witqfuyHxU8YuuOLFIW1d\u002B4TBK5YFX7uFmrndavA768AM2iWh9O1kwUoC5o6zcIAOspN0k7iXqiofGSBnFOjV8s0iuEZIvAeXXGpLA3gt0So5zrhdx1cIdTD6gtrM/axhLPTBkbg5xvWM3TdNS6ey8Uf2LkYweCp1GkIWTjosyl\u002B\u002B6taEbEBxAAfC0OoguiqJR5CS1s9mMbTJS3d1Ini6XxLXj2HQ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41f89ba4-611e-21ac-2770-1841ce235c47/test-blob-2591f521-323c-bfe2-d7ef-9eb7ca32dd61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAE3DB606\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-blob-content-md5": "r2mTzWwXBYGQAn2TMSI1Ow==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:39.5167238Z"
      },
      "ResponseBody": "Sd2h3exDOQWp8WScXN1ongqtWU40Af5sDnhBHTVOmOkdJpzDY3/\u002B3buLfEvORmP6hwCtHNmOLUfeNc50AhzQW1l6fzVBpDuLr3uTqIWznsgUR5Y1oXsQjvlV5C6witqfuyHxU8YuuOLFIW1d\u002B4TBK5YFX7uFmrndavA768AM2iWh9O1kwUoC5o6zcIAOspN0k7iXqiofGSBnFOjV8s0iuEZIvAeXXGpLA3gt0So5zrhdx1cIdTD6gtrM/axhLPTBkbg5xvWM3TdNS6ey8Uf2LkYweCp1GkIWTjosyl\u002B\u002B6taEbEBxAAfC0OoguiqJR5CS1s9mMbTJS3d1Ini6XxLXj2HQLYUHhC4\u002BbqdAVF8YjQaqmvSQV7khuiDI/N2PB3HXSCvJuBkLilGhKMMNiPcXXZVyEMU[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41f89ba4-611e-21ac-2770-1841ce235c47/test-blob-2591f521-323c-bfe2-d7ef-9eb7ca32dd61",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "r2mTzWwXBYGQAn2TMSI1Ow==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAE3DB606\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:39.5167238Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41f89ba4-611e-21ac-2770-1841ce235c47/test-blob-2591f521-323c-bfe2-d7ef-9eb7ca32dd61",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBDBEAAE3DB606\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAE3DB606\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-blob-content-md5": "r2mTzWw[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-41f89ba4-611e-21ac-2770-1841ce235c47?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1385091702",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
