{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-181b1d73-b41d-955a-0737-551b67662d72?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE6982EE6623\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-181b1d73-b41d-955a-0737-551b67662d72/test-blob-87d0d3b6-a2e5-fddb-6001-37eaf562cd81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Gx\u002BhFeI23Pptg0p9TW1JnItFQfS1lFHXdoWVlFIDR4ykpzSxopCWf/bWGmJYXbDzuJpesCDZy4fNyp9doUeoaTu92aU4l/r7rsL933nvfxnVody3pZZsy9ys49jxOd2uLrEmm4QKuiCgYwJe3OwN3kuFh/9r8MOkUA3Ji7QiCXTkTrDIyOSVyue7F0KUDe/vnwSMa7LeQz3tgUp2QS5rfVmNeo07RBZn8LwYr9iBEEMe2eywlZ3CBQtz20eZH4m4UJnoB5JhtFruJXv2xZNla3EGV2hCu\u002Bi7y3SCyGnPzdAzYF8\u002BmQmwvSWRwm8izEB3Dm/Vk8chdZSxLDsd3\u002BvxH1iq[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-181b1d73-b41d-955a-0737-551b67662d72/test-blob-87d0d3b6-a2e5-fddb-6001-37eaf562cd81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE6982F6CBA9\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-blob-content-md5": "b/OXVk3jA9N65N8puy2gYA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:16.7157161Z"
      },
      "ResponseBody": "Gx\u002BhFeI23Pptg0p9TW1JnItFQfS1lFHXdoWVlFIDR4ykpzSxopCWf/bWGmJYXbDzuJpesCDZy4fNyp9doUeoaTu92aU4l/r7rsL933nvfxnVody3pZZsy9ys49jxOd2uLrEmm4QKuiCgYwJe3OwN3kuFh/9r8MOkUA3Ji7QiCXTkTrDIyOSVyue7F0KUDe/vnwSMa7LeQz3tgUp2QS5rfVmNeo07RBZn8LwYr9iBEEMe2eywlZ3CBQtz20eZH4m4UJnoB5JhtFruJXv2xZNla3EGV2hCu\u002Bi7y3SCyGnPzdAzYF8\u002BmQmwvSWRwm8izEB3Dm/Vk8chdZSxLDsd3\u002BvxH1iqwmQ0JtJoVZpCsPl4mf80Crr5\u002BTkJEurKjWzNk905oKIXdwnbQuedbT0t3sWbOZM76dQ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-181b1d73-b41d-955a-0737-551b67662d72/test-blob-87d0d3b6-a2e5-fddb-6001-37eaf562cd81",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "b/OXVk3jA9N65N8puy2gYA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE6982F6CBA9\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:16.7157161Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-181b1d73-b41d-955a-0737-551b67662d72/test-blob-87d0d3b6-a2e5-fddb-6001-37eaf562cd81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBCE6982F6CBA9\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE6982F6CBA9\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-blob-content-md5": "b/OXVk3[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-181b1d73-b41d-955a-0737-551b67662d72?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "388517374",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
