{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fe3fb97-5a7a-7f9c-4510-4ab0bdb983f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE69837F6D94\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fe3fb97-5a7a-7f9c-4510-4ab0bdb983f1/test-blob-da49bc2a-866f-555d-e77a-5f7cf68ddcf1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "eHs8GTciNQivsm9weIkvFXmx4\u002BYLvV/uRSx6QXWAlaJF1xO\u002B7Wp7CIZBKr0W7d1dS0kDRKn25rocTtQKqPSSLhzMKqB2cCgONdtfypOh11hPHPYsfVH5T/FYoZ6WcV\u002BSrvuhSsI859oh9A/Nlhwmend8uoz\u002BZrHK0tuvHc\u002BJeMN7zRuYAIyVEzUcColCK7jUMicnGbbTlEdK1nfnjMkKl3tLUskAjnrq5qdW4VsniKci2\u002BunYV4NpznTTikUrYZrEXMN99nv06OtPDIPfLLsIk3QxbHeYzUdPaqPLUBQ1jkh69DoGpHOMgdH\u002BiUr/SqG5yvbROjVj[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fe3fb97-5a7a-7f9c-4510-4ab0bdb983f1/test-blob-da49bc2a-866f-555d-e77a-5f7cf68ddcf1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE698386C16C\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-blob-content-md5": "rfUQyp5BA8Q2GGgndhSNjQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:17.6591724Z"
      },
      "ResponseBody": "eHs8GTciNQivsm9weIkvFXmx4\u002BYLvV/uRSx6QXWAlaJF1xO\u002B7Wp7CIZBKr0W7d1dS0kDRKn25rocTtQKqPSSLhzMKqB2cCgONdtfypOh11hPHPYsfVH5T/FYoZ6WcV\u002BSrvuhSsI859oh9A/Nlhwmend8uoz\u002BZrHK0tuvHc\u002BJeMN7zRuYAIyVEzUcColCK7jUMicnGbbTlEdK1nfnjMkKl3tLUskAjnrq5qdW4VsniKci2\u002BunYV4NpznTTikUrYZrEXMN99nv06OtPDIPfLLsIk3QxbHeYzUdPaqPLUBQ1jkh69DoGpHOMgdH\u002BiUr/SqG5yvbROjVjK498LkuX6ZjXGb57pHiAwe8AZKpl2gQ8T9/CEUUdJFQS18iqinYn9Ng452/MQ\u002BZpOMj[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fe3fb97-5a7a-7f9c-4510-4ab0bdb983f1/test-blob-da49bc2a-866f-555d-e77a-5f7cf68ddcf1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "rfUQyp5BA8Q2GGgndhSNjQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE698386C16C\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:17.6591724Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fe3fb97-5a7a-7f9c-4510-4ab0bdb983f1/test-blob-da49bc2a-866f-555d-e77a-5f7cf68ddcf1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBCE698386C16C\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE698386C16C\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-blob-content-md5": "rfUQyp5[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9fe3fb97-5a7a-7f9c-4510-4ab0bdb983f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "740495436",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
