{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f54fa9ff-c44c-5e02-c3b3-81ce5ec42734?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAA0FC7AC0\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f54fa9ff-c44c-5e02-c3b3-81ce5ec42734/PiGlG3VW",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "7NBwEyxl421OU/E2cqFzyAr/OO9iysPaPOFAVYPPZ6de\u002Bpnwm9Dp1E3YpGe5xUS5sgqKxvzZ9SINltZKJY3pfutJ2HcHgiw5FmOhiiVbIXechqN5RaGqhAV34wX6nq/A7iV8b\u002BzMsi/dUK\u002BZN2r8sXVerp7qcDlJnlRyj58nP3iz4ZwA37GL0NRznPTyEUyaezGPm/AR1X3rMtCYWiKQtRE25VbO\u002B9LD097Jd9NFV40H2BRul6SIoQseFazg8nWy4ubiuyv2y39fzMcSSF6ppttDkIIOIh1trkRKsOYl4uBoF5TtYpxhEAyUDsvcdlmsdG/RnWHzpMDJdQznqxuZOurn[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f54fa9ff-c44c-5e02-c3b3-81ce5ec42734/PiGlG3VW",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAA105E049\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-blob-content-md5": "OTX3tK63BwUGIXLrTIgKWw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:17.3404233Z"
      },
      "ResponseBody": "7NBwEyxl421OU/E2cqFzyAr/OO9iysPaPOFAVYPPZ6de\u002Bpnwm9Dp1E3YpGe5xUS5sgqKxvzZ9SINltZKJY3pfutJ2HcHgiw5FmOhiiVbIXechqN5RaGqhAV34wX6nq/A7iV8b\u002BzMsi/dUK\u002BZN2r8sXVerp7qcDlJnlRyj58nP3iz4ZwA37GL0NRznPTyEUyaezGPm/AR1X3rMtCYWiKQtRE25VbO\u002B9LD097Jd9NFV40H2BRul6SIoQseFazg8nWy4ubiuyv2y39fzMcSSF6ppttDkIIOIh1trkRKsOYl4uBoF5TtYpxhEAyUDsvcdlmsdG/RnWHzpMDJdQznqxuZOurnqTHKvEM/4YB1eRNSkTjrnTx3VEV\u002BdHLTJO2PemTx\u002B9Tg9Mwn4rcrkbvhfSqtduTU/A7eIeWlaDS\u002B95hWsGcbhH4/cZxrw7uES8KJnPdIJq0Jun5WEtnuO4yXaese1eFUxvmsbQRHaThSWdYjG8s9dtDrTfXpxHGkUDYQ1FnQZnbgNdb9m7iowVFFA7gDyx/AWfMaM4jragKHBx3ON5TfgvNfQub1P9oYQoukpMC4oYUWT3pmtTLt9crUdpSb2oq8ZoHFo4k5yxoZAfD8R8ZBzmaXuOgaeMzAck0bIMlGfWgB5z4/8/383INgTbRC8K0EkqctAyKhou20BDE8Hqo="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f54fa9ff-c44c-5e02-c3b3-81ce5ec42734/PiGlG3VW",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OTX3tK63BwUGIXLrTIgKWw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAA105E049\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:17.3404233Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f54fa9ff-c44c-5e02-c3b3-81ce5ec42734/PiGlG3VW",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBDBEAA105E049\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAA105E049\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-blob-content-md5": "OTX3tK6[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f54fa9ff-c44c-5e02-c3b3-81ce5ec42734?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1050607568",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
