{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7afe988a-e02b-137e-7e7e-0fe8bae1f8a6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:50 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAAF9197DD9\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7afe988a-e02b-137e-7e7e-0fe8bae1f8a6/test-blob-41cbec9e-28e9-04db-fb31-951d4fe9885f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:50 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "MH9Xd25e63KsAnrjY2LIwVZn9p5UDaZoZ26diYfihEnqwgmFy0C7PwBYlOau96GZadTH6PLpCyPY7w8AwGLryn0w\u002BaFYQvUVq7ed\u002B3jAuW/NBCCyGpxXAbfmrdwwun6ebMpofQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "VdQxTLdOz4udv02UaCMC0A==",
        "ETag": "\u00220x8DC1BAAF92864F9\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-content-crc64": "EKG9VRHpcK4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:51.8332153Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7afe988a-e02b-137e-7e7e-0fe8bae1f8a6/test-blob-41cbec9e-28e9-04db-fb31-951d4fe9885f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:50 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF92864F9\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-blob-content-md5": "VdQxTLdOz4udv02UaCMC0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:51.8332153Z"
      },
      "ResponseBody": "MH9Xd25e63KsAnrjY2LIwVZn9p5UDaZoZ26diYfihEnqwgmFy0C7PwBYlOau96GZadTH6PLpCyPY7w8AwGLryn0w\u002BaFYQvUVq7ed\u002B3jAuW/NBCCyGpxXAbfmrdwwun6ebMpofQ=="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7afe988a-e02b-137e-7e7e-0fe8bae1f8a6/test-blob-41cbec9e-28e9-04db-fb31-951d4fe9885f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:50 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VdQxTLdOz4udv02UaCMC0A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF92864F9\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:51.8332153Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7afe988a-e02b-137e-7e7e-0fe8bae1f8a6/test-blob-41cbec9e-28e9-04db-fb31-951d4fe9885f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC1BAAF92864F9\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:50 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF92864F9\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-blob-content-md5": "VdQxTLdOz4udv02UaCMC0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 00:33:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:51.8332153Z"
      },
      "ResponseBody": "MH9Xd25e63KsAnrjY2LIwVZn9p5UDaZoZ26diYfihEnqwgmFy0C7PwBYlOau96GZadTH6PLpCyPY7w8AwGLryn0w\u002BaFYQvUVq7ed\u002B3jAuW/NBCCyGpxXAbfmrdwwun6ebMpofQ=="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7afe988a-e02b-137e-7e7e-0fe8bae1f8a6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:50 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1434746046",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
