{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-489bea23-717a-007a-644e-706d5301c653?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE697B6A4317\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-489bea23-717a-007a-644e-706d5301c653/test-blob-f567a240-d41a-b65a-83bf-575bc6c78ce7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "UX9Sz1FtrDVZlxOKbJi9Hh3CctEVB9VGKvnV5wNgpQS7GX2egDKX0/Uym4PAz0rrATk9A1S70UqqDKVYl8Ux\u002BfEOzlIaH53qKp7b42tRhlqu6uXKI6Gv/0cz83SNPjwwAKKRsQD30OGbU9i23\u002B7eWIVKqa3fZtVPXs8L5yspXethq\u002BLIv9RZtxkEL9DI\u002BSBYVJvuQpWPUJnMQVIx6\u002Bm2cfXsVTMLFpix8PGU2zYFh2WuspOQOxpW0lpI/H6BJ8wvTb7a26TsTT4CPFGj\u002B3VjxrrsgzhWJTXbloLYwhoaL8glZI14K6vBwmVVjv/Is9fl5TXDlaST2SiJ/k[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-489bea23-717a-007a-644e-706d5301c653/test-blob-f567a240-d41a-b65a-83bf-575bc6c78ce7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:03 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE697B717B8D\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-blob-content-md5": "KU27rovjsC3EDhyD1C\u002BSOQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:04.0979853Z"
      },
      "ResponseBody": "UX9Sz1FtrDVZlxOKbJi9Hh3CctEVB9VGKvnV5wNgpQS7GX2egDKX0/Uym4PAz0rrATk9A1S70UqqDKVYl8Ux\u002BfEOzlIaH53qKp7b42tRhlqu6uXKI6Gv/0cz83SNPjwwAKKRsQD30OGbU9i23\u002B7eWIVKqa3fZtVPXs8L5yspXethq\u002BLIv9RZtxkEL9DI\u002BSBYVJvuQpWPUJnMQVIx6\u002Bm2cfXsVTMLFpix8PGU2zYFh2WuspOQOxpW0lpI/H6BJ8wvTb7a26TsTT4CPFGj\u002B3VjxrrsgzhWJTXbloLYwhoaL8glZI14K6vBwmVVjv/Is9fl5TXDlaST2SiJ/kUhE4ok5w2IfZbn6psPK8HTAJc2E\u002BKr89zkV5okkopl7y1loK7bMabxPzZA/fuZs2njw[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-489bea23-717a-007a-644e-706d5301c653/test-blob-f567a240-d41a-b65a-83bf-575bc6c78ce7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KU27rovjsC3EDhyD1C\u002BSOQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE697B717B8D\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:04.0979853Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-489bea23-717a-007a-644e-706d5301c653/test-blob-f567a240-d41a-b65a-83bf-575bc6c78ce7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBCE697B717B8D\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE697B717B8D\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-blob-content-md5": "KU27rov[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-489bea23-717a-007a-644e-706d5301c653?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:04 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1632364960",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
