{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d76e7e3b-0afe-9ba3-3747-b23f5d30ef24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE697728F497\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d76e7e3b-0afe-9ba3-3747-b23f5d30ef24/test-blob-78da7afb-9381-1061-9264-f17466db401b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "3LafAoXS\u002Br/BuZf3RR1Jw2GHzOFC8noL\u002BZmKxTI/u0i3yvIJgyWVKX8at8j8act1Gi0S3w9e2ek8lAnrRzSMgf5PQHoqP0A78aNhJzuxDo/OFasFLds5WPEJze4cqeFLjTXKrClQStrt1u1r/bGtioV5HTKJh1MiFeeJIXJRH0jCFpoG52JlfcvQF1buzltAXEJoo4yuwQbhqJdBxyhom7elqOYXp6MjE6BnuW/8M0eMSMUw6Xu8E1STJD/KI7WiaHyfSSV0KbSeRI/rRwiW5HRPtX9jOLI76JSRg4JkWe/qxVHzXekiGB8QkaTr0MxM/T/Ke242Pi/JY2CQ4qUyOeugAYG3ooeKLJ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d76e7e3b-0afe-9ba3-3747-b23f5d30ef24/test-blob-78da7afb-9381-1061-9264-f17466db401b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE69772F699A\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-blob-content-md5": "TUQ3dvhM0GI0yVBj0mUErA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:00:56.9541018Z"
      },
      "ResponseBody": "3LafAoXS\u002Br/BuZf3RR1Jw2GHzOFC8noL\u002BZmKxTI/u0i3yvIJgyWVKX8at8j8act1Gi0S3w9e2ek8lAnrRzSMgf5PQHoqP0A78aNhJzuxDo/OFasFLds5WPEJze4cqeFLjTXKrClQStrt1u1r/bGtioV5HTKJh1MiFeeJIXJRH0jCFpoG52JlfcvQF1buzltAXEJoo4yuwQbhqJdBxyhom7elqOYXp6MjE6BnuW/8M0eMSMUw6Xu8E1STJD/KI7WiaHyfSSV0KbSeRI/rRwiW5HRPtX9jOLI76JSRg4JkWe/qxVHzXekiGB8QkaTr0MxM/T/Ke242Pi/JY2CQ4qUyOeugAYG3ooeKLJxfUqYNUBjHRYVDmt2AtIYhKvmJkjV63le4S89LlVq3P07R1\u002ByJuxNHyJ0g758OH0z7l[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d76e7e3b-0afe-9ba3-3747-b23f5d30ef24/test-blob-78da7afb-9381-1061-9264-f17466db401b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "TUQ3dvhM0GI0yVBj0mUErA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE69772F699A\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:00:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:00:56.9541018Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d76e7e3b-0afe-9ba3-3747-b23f5d30ef24/test-blob-78da7afb-9381-1061-9264-f17466db401b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBCE69772F699A\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE69772F699A\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:00:56 GMT",
        "x-ms-blob-content-md5": "TUQ3dvh[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d76e7e3b-0afe-9ba3-3747-b23f5d30ef24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:00:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "464363640",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
