{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8e90a1fc-24d2-dbe4-ca2f-51ab394d6205?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE83478B33C\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8e90a1fc-24d2-dbe4-ca2f-51ab394d6205/test-blob-0f684606-9599-f399-7784-af5888293f20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "WlIy0dCoUB54086DevHPgpvJtFRBxGXizolDMb697XYqbt7pKg4BXvZKl8XHFXmFtCy9vnXr35XsTwJGZR9fuuVXWQsT5ViNyFVe9iygG7kQvXyRAC8BP45I/doLuvnX6tzfb7ttcs/UL/YfjehpTDRJNqiizrq2Vhp8y\u002Bh9gQ1chgtPwKv9okqtvdA44rKm3rCmwYNRNBwiKRmh8KfmVq3owgbcGYyITJRd9RDpfXNo1uw318CJC1LvLZaRW7GjxmYiUB\u002BrycUjHXTv8z8LOKulORq6r3/tXre07ev19vDiui\u002Bqxy1UvA0mE7lLmhcT4/Tr6yKX6BbnNfFo99vZLiaEDTkPY[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8e90a1fc-24d2-dbe4-ca2f-51ab394d6205/test-blob-0f684606-9599-f399-7784-af5888293f20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE834827347\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-blob-content-md5": "cb0hjSGOAIoeP0yvIVQEEQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:56.2917191Z"
      },
      "ResponseBody": "WlIy0dCoUB54086DevHPgpvJtFRBxGXizolDMb697XYqbt7pKg4BXvZKl8XHFXmFtCy9vnXr35XsTwJGZR9fuuVXWQsT5ViNyFVe9iygG7kQvXyRAC8BP45I/doLuvnX6tzfb7ttcs/UL/YfjehpTDRJNqiizrq2Vhp8y\u002Bh9gQ1chgtPwKv9okqtvdA44rKm3rCmwYNRNBwiKRmh8KfmVq3owgbcGYyITJRd9RDpfXNo1uw318CJC1LvLZaRW7GjxmYiUB\u002BrycUjHXTv8z8LOKulORq6r3/tXre07ev19vDiui\u002Bqxy1UvA0mE7lLmhcT4/Tr6yKX6BbnNfFo99vZLiaEDTkPYXF9UX0MlJvFocSfoQr3CgvOS9EYwpI768QxTOWTx43eA4GDbZmkilR7IZMtyFbR4iMbtcFn9[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8e90a1fc-24d2-dbe4-ca2f-51ab394d6205/test-blob-0f684606-9599-f399-7784-af5888293f20",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "cb0hjSGOAIoeP0yvIVQEEQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE834827347\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:56.2917191Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8e90a1fc-24d2-dbe4-ca2f-51ab394d6205/test-blob-0f684606-9599-f399-7784-af5888293f20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBDBE834827347\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE834827347\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-blob-content-md5": "cb0hjSG[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8e90a1fc-24d2-dbe4-ca2f-51ab394d6205?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1018093674",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
