{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c2d9a17e-e6d5-4ae2-9d39-b384d220bf50?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE69812FDFBF\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c2d9a17e-e6d5-4ae2-9d39-b384d220bf50/test-blob-73b8d3f7-ff60-6ee4-de48-9c1a99de9716",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "P1cKoZOP7UERC9ernCbCo6y1DN/Nhvt6TB5RGqt4wlHfXV13eG0EZ\u002BV2YlQoONG3hfhu49K3SLhbj1R0PtOWmEmFzD/JSis\u002BsKX6ViSnURNNmpSyCt5/KBWkHOgYkCgR4MkLow==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7VCr1umPgAkDoTeoRbodFQ==",
        "ETag": "\u00220x8DBCE69813B534B\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-content-crc64": "IJuUnFI8l9c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:13.8093899Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c2d9a17e-e6d5-4ae2-9d39-b384d220bf50/test-blob-73b8d3f7-ff60-6ee4-de48-9c1a99de9716",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE69813B534B\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-blob-content-md5": "7VCr1umPgAkDoTeoRbodFQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:13.8093899Z"
      },
      "ResponseBody": "P1cKoZOP7UERC9ernCbCo6y1DN/Nhvt6TB5RGqt4wlHfXV13eG0EZ\u002BV2YlQoONG3hfhu49K3SLhbj1R0PtOWmEmFzD/JSis\u002BsKX6ViSnURNNmpSyCt5/KBWkHOgYkCgR4MkLow=="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c2d9a17e-e6d5-4ae2-9d39-b384d220bf50/test-blob-73b8d3f7-ff60-6ee4-de48-9c1a99de9716",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7VCr1umPgAkDoTeoRbodFQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE69813B534B\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:13.8093899Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c2d9a17e-e6d5-4ae2-9d39-b384d220bf50/test-blob-73b8d3f7-ff60-6ee4-de48-9c1a99de9716",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBCE69813B534B\u0022",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE69813B534B\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-blob-content-md5": "7VCr1umPgAkDoTeoRbodFQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-16T17:01:13.8093899Z"
      },
      "ResponseBody": "P1cKoZOP7UERC9ernCbCo6y1DN/Nhvt6TB5RGqt4wlHfXV13eG0EZ\u002BV2YlQoONG3hfhu49K3SLhbj1R0PtOWmEmFzD/JSis\u002BsKX6ViSnURNNmpSyCt5/KBWkHOgYkCgR4MkLow=="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c2d9a17e-e6d5-4ae2-9d39-b384d220bf50?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 17:01:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2050868510",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
