{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-432f8fdf-52b9-d77f-4aae-df731e39b5bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAAF49ADE00\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-432f8fdf-52b9-d77f-4aae-df731e39b5bb/test-blob-38845fa6-649e-c37b-0b34-648fc78ccb09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "kCj6pl8SUN4jgLE7EhW30tbqTay85RgU\u002BxaXNvtupWgyAN4ZEaxAlA\u002BmFR6yQLD1fZG43D8eTKsQ5qpIehnjtdpJCBI2ncAqqbmdFs/6YbtloblptckoFLMyCSsB\u002BBn1wl9DaDeev9/QjjKGgDXbFoTv4thgeQARIPReA5SVKLGfp1RwtviDx\u002BLamCaWopN9V/OmERVBlUhfMkhDP7tKO2WA59jha1\u002BMbBv1heHZen5g4ayh7hecXhILEISwP4gnj13AFru7m\u002ByTGqT5SxBnhbfJ4l4OqUxO44jG1lra2y2SzvWDGWTCpUXADdRyoxICpIvN5lwqGOYQcj[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-432f8fdf-52b9-d77f-4aae-df731e39b5bb/test-blob-38845fa6-649e-c37b-0b34-648fc78ccb09",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:42 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF4AB9CEC\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-blob-content-md5": "F4xtmR5VEZv8hdcOfnUHHA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:44.3045612Z"
      },
      "ResponseBody": "kCj6pl8SUN4jgLE7EhW30tbqTay85RgU\u002BxaXNvtupWgyAN4ZEaxAlA\u002BmFR6yQLD1fZG43D8eTKsQ5qpIehnjtdpJCBI2ncAqqbmdFs/6YbtloblptckoFLMyCSsB\u002BBn1wl9DaDeev9/QjjKGgDXbFoTv4thgeQARIPReA5SVKLGfp1RwtviDx\u002BLamCaWopN9V/OmERVBlUhfMkhDP7tKO2WA59jha1\u002BMbBv1heHZen5g4ayh7hecXhILEISwP4gnj13AFru7m\u002ByTGqT5SxBnhbfJ4l4OqUxO44jG1lra2y2SzvWDGWTCpUXADdRyoxICpIvN5lwqGOYQcjIy9cWRuT53Z30a42xSBz0YTpx43EB2xDLODfTQaLUPc6YykK\u002BALlOV\u002BjyV58Ae[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-432f8fdf-52b9-d77f-4aae-df731e39b5bb/test-blob-38845fa6-649e-c37b-0b34-648fc78ccb09",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "F4xtmR5VEZv8hdcOfnUHHA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF4AB9CEC\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:44.3045612Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-432f8fdf-52b9-d77f-4aae-df731e39b5bb/test-blob-38845fa6-649e-c37b-0b34-648fc78ccb09",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC1BAAF4AB9CEC\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:42 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF4AB9CEC\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:44 GMT",
        "x-ms-blob-content-md5": "F4xtmR5[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-432f8fdf-52b9-d77f-4aae-df731e39b5bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:45 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1772776357",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
