{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ac783323-e4d4-0f19-6dda-b2c34ab9279d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:25 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BC62837B804\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ac783323-e4d4-0f19-6dda-b2c34ab9279d/test-blob-21e09af6-0fdb-81c5-4659-b402bc113e04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:25 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "/iFmsOwg\u002B7yD75Au2wsiGbkvETeJurVN1EvBSP2EI5lxw\u002BPcd2cL1p8jnet/l6U6N5pJjf8Ge0NrGdygX7K//8z2vRgoRqFRIzuYZRzKzj2mhhFiOpaZakefcF6La3fsZJ4fiA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1Fs3\u002B0gxzIec1EnFpbq0Cw==",
        "ETag": "\u00220x8DC1BC62845CBC1\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-content-crc64": "rf/UfOtxsmM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:27.2905153Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ac783323-e4d4-0f19-6dda-b2c34ab9279d/test-blob-21e09af6-0fdb-81c5-4659-b402bc113e04",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:25 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BC62845CBC1\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-blob-content-md5": "1Fs3\u002B0gxzIec1EnFpbq0Cw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:27.2905153Z"
      },
      "ResponseBody": "/iFmsOwg\u002B7yD75Au2wsiGbkvETeJurVN1EvBSP2EI5lxw\u002BPcd2cL1p8jnet/l6U6N5pJjf8Ge0NrGdygX7K//8z2vRgoRqFRIzuYZRzKzj2mhhFiOpaZakefcF6La3fsZJ4fiA=="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ac783323-e4d4-0f19-6dda-b2c34ab9279d/test-blob-21e09af6-0fdb-81c5-4659-b402bc113e04",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:25 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1Fs3\u002B0gxzIec1EnFpbq0Cw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BC62845CBC1\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:27.2905153Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ac783323-e4d4-0f19-6dda-b2c34ab9279d/test-blob-21e09af6-0fdb-81c5-4659-b402bc113e04",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC1BC62845CBC1\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:26 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BC62845CBC1\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-blob-content-md5": "1Fs3\u002B0gxzIec1EnFpbq0Cw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 03:48:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T03:48:27.2905153Z"
      },
      "ResponseBody": "/iFmsOwg\u002B7yD75Au2wsiGbkvETeJurVN1EvBSP2EI5lxw\u002BPcd2cL1p8jnet/l6U6N5pJjf8Ge0NrGdygX7K//8z2vRgoRqFRIzuYZRzKzj2mhhFiOpaZakefcF6La3fsZJ4fiA=="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ac783323-e4d4-0f19-6dda-b2c34ab9279d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 03:48:26 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "704587058",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
