{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d729863-0151-d705-eae2-22e5bc3cd64c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAAF19FBFCC\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d729863-0151-d705-eae2-22e5bc3cd64c/Xi2i0PpX",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "oBIP3oVYI5pQBC21zIhWpgLZFNTD\u002Bcz0PMjEcXLp1bCntq3kIBBWwCZLrY8bgedg7DambvOL96ZGG6G9k7IoZy99DRbacobyglOteEw92bvhZIQ7Qma8G74GnQVumSx0IkVgnXPQhXqwtOyf3n9aCEHm2y4t7CTIwPFX09SAg\u002BgmOVUG3DtHEN4Ki456HT0/rJTDiL7\u002BRzUhl9yCebGlLzAEeKUpUywGnspPImGWTqO0Fyc/vfsqKPEf5URfxZYtZFxddqSYFllovenzriTUikk4zmKKZnE12VCzCW3nptkzIr0EONj/GwHN1gASNnrNS1r7Jvc0ov7qKJxU5QzrgRYPv4tn0[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d729863-0151-d705-eae2-22e5bc3cd64c/Xi2i0PpX",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:37 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF1B8BD04\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-blob-content-md5": "9wpazaPbqdFZSeCVrA8\u002Bzw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:39.3574148Z"
      },
      "ResponseBody": "oBIP3oVYI5pQBC21zIhWpgLZFNTD\u002Bcz0PMjEcXLp1bCntq3kIBBWwCZLrY8bgedg7DambvOL96ZGG6G9k7IoZy99DRbacobyglOteEw92bvhZIQ7Qma8G74GnQVumSx0IkVgnXPQhXqwtOyf3n9aCEHm2y4t7CTIwPFX09SAg\u002BgmOVUG3DtHEN4Ki456HT0/rJTDiL7\u002BRzUhl9yCebGlLzAEeKUpUywGnspPImGWTqO0Fyc/vfsqKPEf5URfxZYtZFxddqSYFllovenzriTUikk4zmKKZnE12VCzCW3nptkzIr0EONj/GwHN1gASNnrNS1r7Jvc0ov7qKJxU5QzrgRYPv4tn0FJxObJgvI9xIqPV5r4T64Dh/4C\u002BGQ88qjb14lTpAnbvZXsIiuxF0\u002BVueAb4fv5N2JWWLcALqLZCNY97a9o7iCAs5oBDCmGTnCuaUKEJQys3pwq\u002BU9S2473ExVRdyWgLM/DlzJh\u002BCs00ApGUcFcVOPJjQ8TQfDRLdgLCfkQMNtLDjh2wI3eTuZw8ilFDIXJlr41i\u002BoajO7e8mlaVu4uIJ8y\u002B0eE6ZBR70Iknk/HjB1SPXc\u002B3qjxMH1Nl9Ikg/f0QtGOFhVCQKkp45yn8fKjF2JIBBl280X2QcbGO1HCLWtOLFt\u002BOXoIE/jKEP8ISUKOroBv3H/egVOLm9BM="
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d729863-0151-d705-eae2-22e5bc3cd64c/Xi2i0PpX",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC1BAAF1B8BD04\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:37 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF1B8BD04\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-blob-content-md5": "9wpaza[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d729863-0151-d705-eae2-22e5bc3cd64c/Xi2i0PpX",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:38 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9wpazaPbqdFZSeCVrA8\u002Bzw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAF1B8BD04\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 23 Jan 2024 00:33:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:39.3574148Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4d729863-0151-d705-eae2-22e5bc3cd64c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:38 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "638957164",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
