{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73088411-2ec7-8d47-2972-82dc67e7ff2c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAAEB9AE4C\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73088411-2ec7-8d47-2972-82dc67e7ff2c/test-blob-fe3f05e5-d43c-c180-c675-0f3f29d30d13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "TEJcU\u002B45HDfgxoB34KSJ2\u002BsbjXrVKAOrkzj/mcPS4bDpW8zGLEn7rOgIHXZUCeAh7DRUDkWTPSM/sMC2OYJzDeXPjoXYw66hH\u002BGRzQqMV4pX3q2PftJrVh6phnyIRXJmlBCRhXpbSSmFsu5kAW8Zslg2XlvV5I8SYzhmLjwyGdpuKzn5\u002B9IP/JSECcvjBlSukNMjUuYWkK\u002BBfiFC9BrsU5kU9dU1H7eGJmLGUdrELlzjuJ5pD8b0V5uJeHywzQd6l7YxzxF/eHAbnCuDUD/UvU/EXjx7gkPTH506q6Y61VlbTLkkkl9LZD8tTXOacAdbtbst7G7K/hRyXq9zRcz[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73088411-2ec7-8d47-2972-82dc67e7ff2c/test-blob-fe3f05e5-d43c-c180-c675-0f3f29d30d13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAEC34D2D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-blob-content-md5": "Q2klNWwFhubcI6gsIrL3mA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:40.3922221Z"
      },
      "ResponseBody": "TEJcU\u002B45HDfgxoB34KSJ2\u002BsbjXrVKAOrkzj/mcPS4bDpW8zGLEn7rOgIHXZUCeAh7DRUDkWTPSM/sMC2OYJzDeXPjoXYw66hH\u002BGRzQqMV4pX3q2PftJrVh6phnyIRXJmlBCRhQ=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73088411-2ec7-8d47-2972-82dc67e7ff2c/test-blob-fe3f05e5-d43c-c180-c675-0f3f29d30d13",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Q2klNWwFhubcI6gsIrL3mA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAEC34D2D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:40.3922221Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73088411-2ec7-8d47-2972-82dc67e7ff2c/test-blob-fe3f05e5-d43c-c180-c675-0f3f29d30d13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBDBEAAEC34D2D\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAEC34D2D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-blob-content-md5": "Q2klNWw[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-73088411-2ec7-8d47-2972-82dc67e7ff2c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1014006814",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
