{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39952b4e-4465-0158-bca1-f5f0379af25d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAADE82540\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39952b4e-4465-0158-bca1-f5f0379af25d/test-blob-524abf27-7ad6-38b3-fec8-5772d596af9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "wyMqHKrxdBpwBTrQJOuXNwLQm5LVjPpLZ7cDINr3nhprU34Qf9P0NUsv4dBA4xQSMCBvBfodyDcp37Ty7lRAeGcfZdFthrcv22VGpaoqCoSj8O\u002B6iJggTYtH56AeAUb272hpIX5CpKlpPyqV1iKM/tQwT/1lhfDO/xdFJZ8WEdkeULVCwOkGYEtGUEhui3Zou\u002BnL7bFJkWl3miJm/X4KUy5QdoZsST3rKu\u002BxHjWoX3Og3Gq1SiMo1b9MyiXHn2LNO/0ZHhTw\u002B3Gr4MPCl3I0zzuuxSAUVAgKKKDHIH8XJIqM5OM4jkFfsOD5CmlgZT1MF/rqGNlCuOf0DvZ0Kdvyk7w4[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39952b4e-4465-0158-bca1-f5f0379af25d/test-blob-524abf27-7ad6-38b3-fec8-5772d596af9d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAADF175F1\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-blob-content-md5": "nN6aD9OvRhwnU5xvG4PZ/g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:39.0170097Z"
      },
      "ResponseBody": "wyMqHKrxdBpwBTrQJOuXNwLQm5LVjPpLZ7cDINr3nhprU34Qf9P0NUsv4dBA4xQSMCBvBfodyDcp37Ty7lRAeGcfZdFthrcv22VGpaoqCoSj8O\u002B6iJggTYtH56AeAUb272hpIX5CpKlpPyqV1iKM/tQwT/1lhfDO/xdFJZ8WEdkeULVCwOkGYEtGUEhui3Zou\u002BnL7bFJkWl3miJm/X4KUy5QdoZsST3rKu\u002BxHjWoX3Og3Gq1SiMo1b9MyiXHn2LNO/0ZHhTw\u002B3Gr4MPCl3I0zzuuxSAUVAgKKKDHIH8XJIqM5OM4jkFfsOD5CmlgZT1MF/rqGNlCuOf0DvZ0Kdvyk7w4NbKP/EH5TxU/G0qeqsJiegiELQuxSiv7Q39L6oYFBnetJzCLvBu58cnDAp2dVmQ0Ea/Sbmax[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39952b4e-4465-0158-bca1-f5f0379af25d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "611077976",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
