{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f6ede5c3-aecf-0fd2-e581-69d2e2dcb7ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAAE764696\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f6ede5c3-aecf-0fd2-e581-69d2e2dcb7ce/test-blob-f1176005-28d8-c306-a88c-0fb759d3bc6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "uqu0OFRh8K24\u002BXb6Xu75tGSo\u002BfFg1eb0o8SsUTcrBNqENJO7fXtYo3BqON6yDGS5kltTsdnLDOTFv5WQtJ52jfWbdipbPjfoUFWA9p0HQZdf8r7c2FMBuSev9r3mx\u002B/S86vpF5U6XlQjamGDShZHvX7\u002BMMHfmrSimr0DrEh6AohmrgLxHioBJZRquG3xfm8RZzg/6Jct8ln2R3zYN7EMqGjZHJsTVZ9T/AosdeFGsBxN8UQPOxrwOLyp\u002B9etKO7iXg8FGGHT/RGY6\u002BuMAH13r5ZgikVs/G1N6OPealrIpdQcSRbRQZe6evMyd08uZDc/MUtATZ2pdmKity[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f6ede5c3-aecf-0fd2-e581-69d2e2dcb7ce/test-blob-f1176005-28d8-c306-a88c-0fb759d3bc6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAE7F704D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-blob-content-md5": "YgbsaEhfqJie5nsTMMxMCw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:39.9474765Z"
      },
      "ResponseBody": "uqu0OFRh8K24\u002BXb6Xu75tGSo\u002BfFg1eb0o8SsUTcrBNqENJO7fXtYo3BqON6yDGS5kltTsdnLDOTFv5WQtJ52jfWbdipbPjfoUFWA9p0HQZdf8r7c2FMBuSev9r3mx\u002B/S86vpF5U6XlQjamGDShZHvX7\u002BMMHfmrSimr0DrEh6AohmrgLxHioBJZRquG3xfm8RZzg/6Jct8ln2R3zYN7EMqGjZHJsTVZ9T/AosdeFGsBxN8UQPOxrwOLyp\u002B9etKO7iXg8FGGHT/RGY6\u002BuMAH13r5ZgikVs/G1N6OPealrIpdQcSRbRQZe6evMyd08uZDc/MUtATZ2pdmKity999ZO30EYXcLdmpW7/phBROoUdH4SsnzkOiFc2c9O0L4lnPIVge6YJF/OA2YvdQaeNVzzdhZ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f6ede5c3-aecf-0fd2-e581-69d2e2dcb7ce/test-blob-f1176005-28d8-c306-a88c-0fb759d3bc6c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YgbsaEhfqJie5nsTMMxMCw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAE7F704D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:39.9474765Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f6ede5c3-aecf-0fd2-e581-69d2e2dcb7ce/test-blob-f1176005-28d8-c306-a88c-0fb759d3bc6c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBDBEAAE7F704D\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAE7F704D\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:39 GMT",
        "x-ms-blob-content-md5": "YgbsaEh[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f6ede5c3-aecf-0fd2-e581-69d2e2dcb7ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "934504831",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
