{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-21902b7a-5404-751c-1d64-03ac4db934f4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE82C4C6D21\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-21902b7a-5404-751c-1d64-03ac4db934f4/test-blob-d6dee815-95e5-81ed-fcd7-95e20e7d62d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "4rXkbZEEKGc11tIn4EL/IsWKiipmqmcy86cz9ZfMA50wQQkDhO8pEcB3oQ/CxqC62HMdhPI3cThOsXrq0DLQaNI19584\u002B53WYXhq7whYcCwGeRwkr3\u002Bq\u002BNDRtdN1P0GNpjg8jM8BgtzVRiN6zYEv9UFN5FYVrLlTiv7OZkXKYSE33EjPG\u002BNdBPdATmhbMCpOob\u002BSJ1rqd/p/6QHQMhuXC\u002BUBQvE5YNpd799e1V1R91rTgMWFNznHTGROUDHhjdHcqEKDWu05FUHlNDh7i6KcLvKn/LJWEdOrOvaM6w\u002Bpe2INgiwbzZxtmmuDoAMBS8DCsSI\u002B[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-21902b7a-5404-751c-1d64-03ac4db934f4/test-blob-d6dee815-95e5-81ed-fcd7-95e20e7d62d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE82C58201B\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-blob-content-md5": "C7WoZ/oNwMK3lrvmdYfSBQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:42.5925659Z"
      },
      "ResponseBody": "4rXkbZEEKGc11tIn4EL/IsWKiipmqmcy86cz9ZfMA50wQQkDhO8pEcB3oQ/CxqC62HMdhPI3cThOsXrq0DLQaNI19584\u002B53WYXhq7whYcCwGeRwkr3\u002Bq\u002BNDRtdN1P0GNpjg8jM8BgtzVRiN6zYEv9UFN5FYVrLlTiv7OZkXKYSE33EjPG\u002BNdBPdATmhbMCpOob\u002BSJ1rqd/p/6QHQMhuXC\u002BUBQvE5YNpd799e1V1R91rTgMWFNznHTGROUDHhjdHcqEKDWu05FUHlNDh7i6KcLvKn/LJWEdOrOvaM6w\u002Bpe2INgiwbzZxtmmuDoAMBS8DCsSI\u002BOpAfhZZv1yD3rCoxPLnVbQh1gWBWOmJH0nHQqu41yjntakDR7vyVq/Z8de1AUWNJK963TS/B[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-21902b7a-5404-751c-1d64-03ac4db934f4/test-blob-d6dee815-95e5-81ed-fcd7-95e20e7d62d7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "C7WoZ/oNwMK3lrvmdYfSBQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE82C58201B\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:42.5925659Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-21902b7a-5404-751c-1d64-03ac4db934f4/test-blob-d6dee815-95e5-81ed-fcd7-95e20e7d62d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBDBE82C58201B\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE82C58201B\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-blob-content-md5": "C7WoZ/o[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-21902b7a-5404-751c-1d64-03ac4db934f4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:42 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "381477690",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
