{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6377e9c7-dab8-51a4-cb5c-bab01e0fdf4d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCC05717A59B4\u0022",
        "Last-Modified": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6377e9c7-dab8-51a4-cb5c-bab01e0fdf4d/8X5fGiZT",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "HV6HmFd6DlOOInBor7h\u002BZNXKxYBC9HWHuMIpVzPl7fOVwQlw6AUB0u6TSYHk/g9Ha98T4IegXCno/9\u002BVULcgqDV80u6uDnvPyfKSr6v0o7qy4utT0gxs9WTgh\u002Bgma4I2cqBLZyshmF1jQxeVDa1\u002B81sl4m7LzdYoEN2JzoaTqV1wWzwKqDyOkUmO8I701\u002Be3YpONAIkTa6XJI1dOmMrW0Jq6JLJwc0ofl1EkPd1INDn10WzyBajTXO\u002BXQYXlP/h/tx/zOrI0Ru5IbWk47y3HgO8dWMZd48rx5sjC2TLFOldYpYa9VPmHwYp9qpg/m23Bz8CWx\u002BYyI[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6377e9c7-dab8-51a4-cb5c-bab01e0fdf4d/8X5fGiZT",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCC057180DD9F\u0022",
        "Last-Modified": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-blob-content-md5": "9h7NFPKU6jBOtE1bKR472g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-13T15:59:55.4230687Z"
      },
      "ResponseBody": "HV6HmFd6DlOOInBor7h\u002BZNXKxYBC9HWHuMIpVzPl7fOVwQlw6AUB0u6TSYHk/g9Ha98T4IegXCno/9\u002BVULcgqDV80u6uDnvPyfKSr6v0o7qy4utT0gxs9WTgh\u002Bgma4I2cqBLZyshmF1jQxeVDa1\u002B81sl4m7LzdYoEN2JzoaTqV1wWzwKqDyOkUmO8I701\u002Be3YpONAIkTa6XJI1dOmMrW0Jq6JLJwc0ofl1EkPd1INDn10WzyBajTXO\u002BXQYXlP/h/tx/zOrI0Ru5IbWk47y3HgO8dWMZd48rx5sjC2TLFOldYpYa9VPmHwYp9qpg/m23Bz8CWx\u002BYyIdNUAVTpcW28gzMR4EmnCiz1lpc74DkyskpbAAlxLnNxJYSzaFKlnU8dwSZlLbsjGsWUoTBO9kCZIk8JjnBkSlS/oLrF9KHZUPlIHh8TzIWPN\u002BZE3Y1DIi5DGUYDnA/euXbRpYwAXiYjulA2BtghhlbKeVaKH23HfH6Lgtpb1rTqamSpQSb4j9nAICI8DBxVIZPwOSK4VJkICikOddxLyOScTJx0eEUv0up8yf9KinBiNWBHa52RMRXLoDb96Rn9dFg\u002Bn7\u002BA4alOwWY4PIqavX\u002B4rD97BF1HCxuGqNcOMejQf1WnDOqw4lO2\u002Bao2WfWLMOO3RD3agXD69pSk\u002BTnSP49\u002BZ7w187CUCMk="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6377e9c7-dab8-51a4-cb5c-bab01e0fdf4d/8X5fGiZT",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9h7NFPKU6jBOtE1bKR472g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCC057180DD9F\u0022",
        "Last-Modified": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-13T15:59:55.4230687Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6377e9c7-dab8-51a4-cb5c-bab01e0fdf4d/8X5fGiZT",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DBCC057180DD9F\u0022",
        "x-ms-date": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCC057180DD9F\u0022",
        "Last-Modified": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-blob-content-md5": "9h7NFPK[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6377e9c7-dab8-51a4-cb5c-bab01e0fdf4d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 13 Oct 2023 15:59:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1941116828",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
