{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cee2173c-bed2-265c-ec3c-bfeee4740496?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:34:02 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAB003E717D\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:34:03 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cee2173c-bed2-265c-ec3c-bfeee4740496/test-blob-770e4d3a-11c0-766a-5a14-a727f30d2c8b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 23 Jan 2024 00:34:02 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAB004D7A66\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:34:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:34:03.8202982Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cee2173c-bed2-265c-ec3c-bfeee4740496/test-blob-770e4d3a-11c0-766a-5a14-a727f30d2c8b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC1BAB004D7A66\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 00:34:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "fW2Tm1DwbDsje3rMzcyoN2RIVjP5gDhHBw9XPFPRgfeeyB9fjxQP4FTYiNdErpnEuHP0yq8igf00S5RBmS/oUvqCLgSsSahQOHbfIfdhA1h1koTf3bdIfEciKkN/zUck7zbdwYCUF27Lo5E5Ql8F00g7ywarCXRCOrG9ih5l0GsuuzHBg0HY4XsVEzklDznoHFf6RAFAeObBmobO141QZtMmCoctRE8HY\u002BqLlfU7HSt31G7Gaoxp7kJLAOm6CQntxK1m/wSxutgH8\u002BEXtePwhX1aVwIfivtHvRxF4UNmTFngndBI1R0nxRqVv3eqUThfW3tsX7IHzjqyHkLobNiVoaaHNhcSqLBfM5HoicqDnGvj5obI\u002Buym2c6WlbbbPllBAB3RIxsgTLLKDCwh[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cee2173c-bed2-265c-ec3c-bfeee4740496/test-blob-770e4d3a-11c0-766a-5a14-a727f30d2c8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:34:02 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAB005B8213\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:34:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:34:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:34:03.8202982Z"
      },
      "ResponseBody": "fW2Tm1DwbDsje3rMzcyoN2RIVjP5gDhHBw9XPFPRgfeeyB9fjxQP4FTYiNdErpnEuHP0yq8igf00S5RBmS/oUvqCLgSsSahQOHbfIfdhA1h1koTf3bdIfEciKkN/zUck7zbdwYCUF27Lo5E5Ql8F00g7ywarCXRCOrG9ih5l0GsuuzHBg0HY4XsVEzklDznoHFf6RAFAeObBmobO141QZtMmCoctRE8HY\u002BqLlfU7HSt31G7Gaoxp7kJLAOm6CQntxK1m/wSxutgH8\u002BEXtePwhX1aVwIfivtHvRxF4UNmTFngndBI1R0nxRqVv3eqUThfW3tsX7IHzjqyHkLobNiVoaaHNhcSqLBfM[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cee2173c-bed2-265c-ec3c-bfeee4740496?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:34:02 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1122998841",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
