{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-649e7d91-c9d8-7aed-7169-66682a5b00c2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCB43915EE664\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-649e7d91-c9d8-7aed-7169-66682a5b00c2/test-blob-f27b76f9-486e-2c00-9bc2-017730f41fff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCB439166BF1C\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-12T16:52:06.5734428Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-649e7d91-c9d8-7aed-7169-66682a5b00c2/test-blob-f27b76f9-486e-2c00-9bc2-017730f41fff?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "iDCkCrkkzBX7a7Mok\u002Bn4QTwNbtD0OglPn0s8qGP1ZDjXYo4CtXs65JPq6Yrfg9YNyT9JnJieXU4nVGtu5yOyBQZ7UDFb9ovA04k8CVB\u002Bbxt0L94krMigOARA22EPzPxwOOSDZDKlsdOziMgOYVT9qOVQ\u002BbhEjlg\u002B2xgsGxsqsQeNzNBs\u002Bwvoz34LcCT/kdavQjJ7v9JEK6qLRYgaeJW4idbBgJWDka3aZyk5OR00PklBfNnorvE0SaAm4LWCzVfoUudNPhFBLLCEoVioCvGMVgY/2fu8z9rljDf1XbD3WJnSUeY25v84/1AoZA2ZjD\u002BumoqvQvNbK4MMZ7LZTM7/jUi\u002B1rkKVW8GB9mqk2vMTAD4RsMmSBWldiVjKX5N[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-649e7d91-c9d8-7aed-7169-66682a5b00c2/test-blob-f27b76f9-486e-2c00-9bc2-017730f41fff",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCB43916DC2F6\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-12T16:52:06.5734428Z"
      },
      "ResponseBody": "iDCkCrkkzBX7a7Mok\u002Bn4QTwNbtD0OglPn0s8qGP1ZDjXYo4CtXs65JPq6Yrfg9YNyT9JnJieXU4nVGtu5yOyBQZ7UDFb9ovA04k8CVB\u002Bbxt0L94krMigOARA22EPzPxwOOSDZDKlsdOziMgOYVT9qOVQ\u002BbhEjlg\u002B2xgsGxsqsQeNzNBs\u002Bwvoz34LcCT/kdavQjJ7v9JEK6qLRYgaeJW4idbBgJWDka3aZyk5OR00PklBfNnorvE0SaAm4LWCzVfoUudNPhFBLLCEoVioCvGMVgY/2fu8z9rljDf1XbD3WJnSUeY25v84/1AoZA2ZjD\u002BumoqvQvNbK4MMZ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-649e7d91-c9d8-7aed-7169-66682a5b00c2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:52:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "568101002",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
