{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b0081a1e-5ae8-654c-bc10-929f1712b106?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAAAFEA670\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b0081a1e-5ae8-654c-bc10-929f1712b106/test-blob-b6d321c2-fc83-8ef2-f985-47fee5e325d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAAB0809BA\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:34.1318074Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b0081a1e-5ae8-654c-bc10-929f1712b106/test-blob-b6d321c2-fc83-8ef2-f985-47fee5e325d7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBDBEAAB0809BA\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "gbCh4HMpqhr9mNWA5ZyHN3QNBpY8BsYgFNNqcpjIRgBM3tRWIDDGzqSLIXjH/AK/gdjm59og\u002B3vqgcugvziBNFHUMwfIMBZDRzfxsOVNWRjRqvC/4l8mLONYbJ9lJQ9rCuwm8sj791DCop\u002BiLkqWnCiyzxRHwVLyrgYkb8R33iEohqb4J2ZQ1bOg/T\u002B/hP6YwtB3s1b6I0iaNETB14eMSsR\u002BeaejnXTBYvlhp8MTMikIi630/yvKLWJeXvMhj/4rE7N6QQpW9SRbtVBdmXyEhgEbuUvamEqZtExFRT\u002BBoNL6NZMQmPEfsZaImErabJPl2tfxBtayUXto4Yy\u002BEbDl2RV\u002BYmToc\u002B4Q\u002Bwe1Uf8Av0e4X2pnkJ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b0081a1e-5ae8-654c-bc10-929f1712b106/test-blob-b6d321c2-fc83-8ef2-f985-47fee5e325d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAAB110915\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:34.1318074Z"
      },
      "ResponseBody": "gbCh4HMpqhr9mNWA5ZyHN3QNBpY8BsYgFNNqcpjIRgBM3tRWIDDGzqSLIXjH/AK/gdjm59og\u002B3vqgcugvziBNFHUMwfIMBZDRzfxsOVNWRjRqvC/4l8mLONYbJ9lJQ9rCuwm8sj791DCop\u002BiLkqWnCiyzxRHwVLyrgYkb8R33iEohqb4J2ZQ1bOg/T\u002B/hP6YwtB3s1b6I0iaNETB14eMSsR\u002BeaejnXTBYvlhp8MTMikIi630/yvKLWJeXvMhj/4rE7N6QQpW9SRbtVBdmXyEhgEbuUvamEqZtExFRT\u002BBoNL6NZMQmPEfsZaImErabJPl2tfxBtayUXto4Yy\u0[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b0081a1e-5ae8-654c-bc10-929f1712b106?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "68353732",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
