{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8475e261-19d8-b35a-f47b-eaae0caba57c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:55 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAAFC3C699F\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:56 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8475e261-19d8-b35a-f47b-eaae0caba57c/test-blob-d36151f3-6e58-4c27-e7ef-312ca4b8312e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:55 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1BAAFC4B9C83\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:57.0971779Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8475e261-19d8-b35a-f47b-eaae0caba57c/test-blob-d36151f3-6e58-4c27-e7ef-312ca4b8312e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DC1BAAFC4B9C83\u0022",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:55 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "Po1IPu5bHXcwFb3cXuTzK0wKMhoK/8pGtjzIPjq0ZnjEJQPKc2Q3n2w2AE7zEaOpnBYf2mub4T7DAoeykt48fK9EGDjhKLfn0pKt0/97UqWYHqEklIsNKEPEB3HdhQyN\u002BYSfrvlqyHReOAjY7g4/R6/iGnQ9GOgjN\u002B/1HCFFCk2GINl63KOsLVYtxVuDNTo1hb/C\u002B2uYUOGbe3cJdatTGS26Uc01xGoLNeweEFOMoAG0wJdhgw/h7tD43mEroriq2qwtyONsAMBVtsV\u002Bej\u002BND9t2VbUU8ZUe2WP9PeYJ4JM0czanXtceR8DXDM1KYnSQas\u002BGtUwClegWD\u002B9/b8LaS9YxSgYI5rADVw71PeXI1HbvbNIWgipGMd5OkE/o[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8475e261-19d8-b35a-f47b-eaae0caba57c/test-blob-d36151f3-6e58-4c27-e7ef-312ca4b8312e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:55 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC1BAAFC5AB57C\u0022",
        "Last-Modified": "Tue, 23 Jan 2024 00:33:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 23 Jan 2024 00:33:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2024-01-23T00:33:57.0971779Z"
      },
      "ResponseBody": "Po1IPu5bHXcwFb3cXuTzK0wKMhoK/8pGtjzIPjq0ZnjEJQPKc2Q3n2w2AE7zEaOpnBYf2mub4T7DAoeykt48fK9EGDjhKLfn0pKt0/97UqWYHqEklIsNKEPEB3HdhQyN\u002BYSfrvlqyHReOAjY7g4/R6/iGnQ9GOgjN\u002B/1HCFFCk2GINl63KOsLVYtxVuDNTo1hb/C\u002B2uYUOGbe3cJdatTGS26Uc01xGoLNeweEFOMoAG0wJdhgw/h7tD43mEroriq2qwtyONsAMBVtsV\u002Bej\u002BND9t2VbUU8ZUe2WP9PeYJ4JM0czanXtceR8DXDM1KYnSQas\u002BGtUwClegWD\u002B9/b8LaS9YxSgYI5rADVw71PeXI1HbvbNIWgipGMd5OkE/ontj9/MD2GBhuiIMegl4\u002BDVcCTjp5kALww8is6xknulZhG7g290Al0bxegORP\u002BADMCCOGTEEUbg3VDTn3Si3\u002BRs4svWelBxUX3Hx\u002BGhAdoMvI4OL1oW4UTKyrYOoHLoePXzoWIjqYJgANb2/FllP9uGxtLmpKCKRgGHC6\u002BqcrEK7177vVBn6QMLnh6DL/T7VYrah\u002Bmf8cRFeVtgrK3SxZ4l/Az6eYKLHu3f6xaCByYMi6Ykz/rHau2KpjP1BzxlKMiAXTPn8Ov4X2j7wBa9w3I1VBD3vfWjXoEff9NOhheharJN8="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8475e261-19d8-b35a-f47b-eaae0caba57c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jan 2024 00:33:56 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1051729843",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
