{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-202cd844-19fb-b2ac-a82a-2f4411cacf0c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE82D93D810\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-202cd844-19fb-b2ac-a82a-2f4411cacf0c/test-blob-65e81113-f1c7-4165-12cf-0cd52a6f5e0b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE82D9CA582\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:44.7203471Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-202cd844-19fb-b2ac-a82a-2f4411cacf0c/test-blob-65e81113-f1c7-4165-12cf-0cd52a6f5e0b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBDBE82D9CA582\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "WxfztYfOiDEIFwkNaoBiqbcNKqJFGlYPt8atMQbVwTicM4nHdWJ33AD3Op1Rylt\u002BSTF8Avl7DkDB4/3AIVcrMlbQcTf3mjNUlU2iTd\u002B4vuxrLufVWL4/ICRIBZFkt7uozAhHgFkjh679J22r2cBgCSURVPJvVtqXkFASrpSi8N6R\u002BYHXcT2SSKc51zBRlEZk6PxsU2LJOXYtr\u002B8IENgZWzeOGeA/iJfnfgxLNn6pRfwJrsaXNZx7yMAKqcFNijjPH3v5w3pmJF9khNRWfQL3hGrz/mERgSWbElAfNN7WmfTTfBYCr4KCo4lmM7DHJUu9EyVXWovWvZ1VXrApR/CBjurgggHr9NTncFvXq0510\u002BwFYSG5fz9o/b55rVHRWFuZ5aTF56[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-202cd844-19fb-b2ac-a82a-2f4411cacf0c/test-blob-65e81113-f1c7-4165-12cf-0cd52a6f5e0b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE82DA556CD\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:10:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:10:44.7203471Z"
      },
      "ResponseBody": "WxfztYfOiDEIFwkNaoBiqbcNKqJFGlYPt8atMQbVwTicM4nHdWJ33AD3Op1Rylt\u002BSTF8Avl7DkDB4/3AIVcrMlbQcTf3mjNUlU2iTd\u002B4vuxrLufVWL4/ICRIBZFkt7uozAhHgFkjh679J22r2cBgCSURVPJvVtqXkFASrpSi8N6R\u002BYHXcT2SSKc51zBRlEZk6PxsU2LJOXYtr\u002B8IENgZWzeOGeA/iJfnfgxLNn6pRfwJrsaXNZx7yMAKqcFNijjPH3v5w3pmJF9khNRWfQL3hGrz/mERgSWbElAfNN7WmfTTfBYCr4KCo4lmM7DHJUu9EyVXWovWvZ1VXrApR/CBjurgggHr9NTncFvXq0510\u002BwFYSG5fz9o/b55rVHRWFuZ5aTF56NJ0R5Qb\u002Bkv/hJO4IrDJOXPxw6rd4RCckeDFRj/PsWpr\u002BxJu5ADaRBVOP6sKszGDjR2yh2WGm8eB1/WzVnRL79MpDGeeWhVzF7\u002BVT6Flkh7vAfkiXSoE5V8K7QxLJy3hAg/X4WaKJTLIP2\u002BmMQwmHEWWhBR7KZLpJGcIU6zJJ/CRtE2RjbC4JRyGGl26XvQTJJDGtKLZZdi87v0/gZFF/xe/FHy\u002BlI6VHl73tQ81LsWy9W8cAnMNuA501N7zuKOLQFsF\u002Bwp3VJACMZYD4fDJR7/3TIxiafykcVwuSc="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-202cd844-19fb-b2ac-a82a-2f4411cacf0c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:10:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "445174639",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
