{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f35f1059-1539-c243-202f-a89a851f0b27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAA64B6AAE\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f35f1059-1539-c243-202f-a89a851f0b27/test-blob-7a993b77-e1e9-3134-ddc8-05708641c457",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAA66B39E2\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:26.3932386Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f35f1059-1539-c243-202f-a89a851f0b27/test-blob-7a993b77-e1e9-3134-ddc8-05708641c457?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DBDBEAA66B39E2\u0022",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "kRpwBc65mmGWAHPvzTF8tI8rd2O2ASh/8s/atfzpzma7KnCauDMLP4cpLC\u002Bnd6cJoGQrninbM5Dy8BP/3uVlrTENNKPB4ftbIDfbjdT42Hsn0RSXvTA94PbgqMggC2GhxH/\u002BmkMER79pz37x/6a8\u002BheX2AzRze8Az1Ss4DgzOxXWOchU\u002BT44IopVLu2yS\u002BBQJK2wiDJU0PaP/crvWGeGNpRoG8XdZwDZX7aCe54BToRzXLyLgrPigWnRxPx0SMkiz/hZSTAbcryt1yh80VRYjq9Ge/yq\u002B7PhhplbC6IEZBbsX6ymqAVTWOn/3qqKZa8UeTZMLszNeNREeMKWv2caqHMRkHKnseap8iMTqhwJViDpR5FrtzZKHufYYS9CvZiB5[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f35f1059-1539-c243-202f-a89a851f0b27/test-blob-7a993b77-e1e9-3134-ddc8-05708641c457",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAA677460F\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:26.3932386Z"
      },
      "ResponseBody": "kRpwBc65mmGWAHPvzTF8tI8rd2O2ASh/8s/atfzpzma7KnCauDMLP4cpLC\u002Bnd6cJoGQrninbM5Dy8BP/3uVlrTENNKPB4ftbIDfbjdT42Hsn0RSXvTA94PbgqMggC2GhxH/\u002BmkMER79pz37x/6a8\u002BheX2AzRze8Az1Ss4DgzOxXWOchU\u002BT44IopVLu2yS\u002BBQJK2wiDJU0PaP/crvWGeGNpRoG8XdZwDZX7aCe54BToRzXLyLgrPigWnRxPx0SMkiz/hZSTAbcryt1yh80VRYjq9Ge/yq\u002B7PhhplbC6IEZBbsX6ymqAVTWOn/3qqKZa8UeTZMLszNeNREeMKWv2caqHMRkHKnseap8iMTqhwJViDpR5FrtzZKHufYYS9CvZiB5TU3eNU9bMhQozuous23OyGirHjWr/A8x3GKz0\u002B2ZzWLkcXn0d5LrNrJGxT6oWQaISYNoBAgqzZF\u002B7Bks514mTsGHSgH0GlDVgCeDJPcQSYMcK0oqcckauaPodYt5/g8UIHY84M7ElG9ykkPgp6iaLmKV0LwT/B04rNCdy6SFm8HYbwSA02j0V1ca999FehH7Tkdo4\u002B2TAGRYxHP\u002BZojKrTZByDij2Vr5oblk\u002BMR98zL\u002Bor1dXLgURW6gZ8809fDOUEqpA3HZV3TsbwJ0Lgdf2xEBP8QLrVB\u002BbULJw7FLxM="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f35f1059-1539-c243-202f-a89a851f0b27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "154327101",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
