{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ac0560b-a269-0301-dc8c-71d6225bb545?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Aug 2023 01:17:34 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB92F640B95C73\u0022",
        "Last-Modified": "Wed, 02 Aug 2023 01:17:34 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ac0560b-a269-0301-dc8c-71d6225bb545/test-blob-7206a49d-751f-ad0d-e247-793e08ce3139",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 02 Aug 2023 01:17:34 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB92F640C2F3B0\u0022",
        "Last-Modified": "Wed, 02 Aug 2023 01:17:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-08-02T01:17:34.9185456Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ac0560b-a269-0301-dc8c-71d6225bb545/test-blob-7206a49d-751f-ad0d-e247-793e08ce3139?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 02 Aug 2023 01:17:34 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "I5zUijHqJpCSyr\u002BWV2wnynn7/wQ4A53z74HsM0Ym5yspFn3qQ0NMVN0EmtHTmpeoFftxWYhaziD\u002B4Jqw/vJKbOOUbUDuPIY2r6onNGjMIFXpQx1LtY6izkhc62OonFXqui7tPyxWudh0O6ndM5q3McBFxrrU/rZV8Z/4kVEjjRNUPXk53\u002BEok4pF13nkxZqupbmiY9WbFbx3mE2NXieHUK6WiPYgflLfHDIwjyc9cCsESeyXgCo9uSe9wUaTmzRivYbLTjykjiZnw0aiaoWUOichiBU78NCEWM7OY7wMS4H\u002BzdKhciLuYLvFMLzjmk6hKIcecRIfJ821R/Vu1StpWnjEpJyz88gFMihZdb8ToL1/LTo17dlv3qYE6yosgIqQW9VEH/ax7TW[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ac0560b-a269-0301-dc8c-71d6225bb545/test-blob-7206a49d-751f-ad0d-e247-793e08ce3139",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Aug 2023 01:17:35 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB92F640CCDD55\u0022",
        "Last-Modified": "Wed, 02 Aug 2023 01:17:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 02 Aug 2023 01:17:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-08-02T01:17:34.9185456Z"
      },
      "ResponseBody": "I5zUijHqJpCSyr\u002BWV2wnynn7/wQ4A53z74HsM0Ym5yspFn3qQ0NMVN0EmtHTmpeoFftxWYhaziD\u002B4Jqw/vJKbOOUbUDuPIY2r6onNGjMIFXpQx1LtY6izkhc62OonFXqui7tPyxWudh0O6ndM5q3McBFxrrU/rZV8Z/4kVEjjRNUPXk53\u002BEok4pF13nkxZqupbmiY9WbFbx3mE2NXieHUK6WiPYgflLfHDIwjyc9cCsESeyXgCo9uSe9wUaTmzRivYbLTjykjiZnw0aiaoWUOichiBU78NCEWM7OY7wMS4H\u002BzdKhciLuYLvFMLzjmk6hKIcecRIfJ821R/Vu1StpWnj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-9ac0560b-a269-0301-dc8c-71d6225bb545?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Aug 2023 01:17:35 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1190020846",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
