{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93fcaa29-bc24-1ca3-b0ad-52a3f3d36cee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBEAB14AE9EC\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93fcaa29-bc24-1ca3-b0ad-52a3f3d36cee/test-blob-2f056d87-b444-d5f2-01df-dd695cf8dbdc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Fwcj0846AE4FuVnyKLMXub1Y/icCqBN1T07dAHsLtZn2ylJV1QgNCA1R9ou4K46eLH8px2jBEG7zroOAXP/T\u002BQS/\u002B15hwuS1SvYZsbKHvCS/P9T74e0xNbnjYSaEjasOfvyH\u002BS8wPGmbdHxxp1\u002B8a/JewB0q1xgWjcakfmG9ML1KCzK1AML0jwJqYG1wv45aJ/U0Jc2O46bkcGtpjL4I3UO/J5ssBmsvajAawHaqps43SVdriArvvCiL0JBWigNDYYIpsZjyLSCKBbuccyMwOcqdMUJnnVU4z2tzoTXa2N8t1170gPU2RRs24IJPU0gFW5bGuVnA3MQt8eEsfozqsC3c[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93fcaa29-bc24-1ca3-b0ad-52a3f3d36cee/test-blob-2f056d87-b444-d5f2-01df-dd695cf8dbdc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:44 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBEAB154BB3C\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:28:44 GMT",
        "x-ms-blob-content-md5": "AGVgjCzZowC/UNm/0TsrzQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:28:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:28:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:28:44.7017539Z"
      },
      "ResponseBody": "Fwcj0846AE4FuVnyKLMXub1Y/icCqBN1T07dAHsLtZn2ylJV1QgNCA1R9ou4K46eLH8px2jBEG7zroOAXP/T\u002BQS/\u002B15hwuS1SvYZsbKHvCS/P9T74e0xNbnjYSaEjasOfvyH\u002BS8wPGmbdHxxp1\u002B8a/JewB0q1xgWjcakfmG9ML1KCzK1AML0jwJqYG1wv45aJ/U0Jc2O46bkcGtpjL4I3UO/J5ssBmsvajAawHaqps43SVdriArvvCiL0JBWigNDYYIpsZjyLSCKBbuccyMwOcqdMUJnnVU4z2tzoTXa2N8t1170gPU2RRs24IJPU0gFW5bGuVnA3MQt8eEsfozqsC3cbpzEO7nUZ\u002BwmMLzS6XwibkWfFB\u002BGbfqZxo8TCcaPTDBVc\u002BSrQB/d8VFsm[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-93fcaa29-bc24-1ca3-b0ad-52a3f3d36cee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:28:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1957484424",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
