{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-311279ac-cd57-f03f-ba96-5f6cc8ec990f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCB4381214452\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-311279ac-cd57-f03f-ba96-5f6cc8ec990f/test-blob-116e156d-ba48-2495-0268-38f6203994ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "otqXR5EcYYJhMPK1K8w3zjIR700y7TvII7vZkzh5Z\u002BLBoVRFokwpS1OscGayPIdrfbPpqzBZZLWfziPVQ85K58kP84p38Svm56P6hXzUFuc0bhaEj7uyZzyeptMpUwiEYoidokj884uHA8OMX984yrg8odS4xVgNXYtO2UpYvZObdSL0NnSeN3qK/Yv3JghcZdsb7LIzzJ0vkEW8rhpBL0Yw8Om8RJRDnWlaLcjMFTeD8XNuPNDhZ6mFxKUv4olgSc1ExzUfoCFH109J2Z7VY3sNOb2m0vJ2Tog/N4DvFLvf\u002BeT6h00BZFFSJ2WAl44Lr2EpIajMuXbbznms32ihV8KUad\u002B52[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-311279ac-cd57-f03f-ba96-5f6cc8ec990f/test-blob-116e156d-ba48-2495-0268-38f6203994ba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-range": "bytes=0-4194303999",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCB4381288503\u0022",
        "Last-Modified": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-blob-content-md5": "j3LCD8TT8g\u002BujTIVQ9ykrg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-10-12T16:51:39.3220867Z"
      },
      "ResponseBody": "otqXR5EcYYJhMPK1K8w3zjIR700y7TvII7vZkzh5Z\u002BLBoVRFokwpS1OscGayPIdrfbPpqzBZZLWfziPVQ85K58kP84p38Svm56P6hXzUFuc0bhaEj7uyZzyeptMpUwiEYoidokj884uHA8OMX984yrg8odS4xVgNXYtO2UpYvZObdSL0NnSeN3qK/Yv3JghcZdsb7LIzzJ0vkEW8rhpBL0Yw8Om8RJRDnWlaLcjMFTeD8XNuPNDhZ6mFxKUv4olgSc1ExzUfoCFH109J2Z7VY3sNOb2m0vJ2Tog/N4DvFLvf\u002BeT6h00BZFFSJ2WAl44Lr2EpIajMuXbbznms32ihV8KUad\u002B52tsuDNVrVKqM9bb6NIcexfMSE0BtHrnUVYTosdCi7C6uUdSG\u002BxXTYGXMTtjCsarggpLP[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-311279ac-cd57-f03f-ba96-5f6cc8ec990f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Oct 2023 16:51:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1965396839",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
