{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fd2a51fd-de69-6021-fdd6-24d0d6e51bff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDBE8377EFE24\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fd2a51fd-de69-6021-fdd6-24d0d6e51bff/test-blob-d8df2e74-a2af-951a-4fbf-416f483d8581",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "1UJvrJ0CNkmObl2M\u002BP5huxZQuXD793IFfDteHaPkAAIDZpoGzdjk\u002BQibnnMRJat8MEMfQ5NL397PajBhpBilqm1aiZFkW\u002B4\u002BbMBnYFj/9FaQ4u1gxLxut4a8NmOng1Tw9fQFtpwZF9RU4dfT5H\u002BFz3Xa0cEqReWw69IKqCSLlulrd2pj\u002Bj25dsoYC\u002BPlmtMHNmftzLGTxbAPVcvJD2\u002BwyUruaGwUIdU4IFr3EjkCy1D\u002BA3G9nco317K5VKRy72daaEGZ9jJn8hSRtKtXm7J2DYl6ywv\u002B8iuAt5C5W80wxjDznar4adQelxBdLO[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fd2a51fd-de69-6021-fdd6-24d0d6e51bff/test-blob-d8df2e74-a2af-951a-4fbf-416f483d8581",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDBE837894E3C\u0022",
        "Last-Modified": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-blob-content-md5": "OT3of08WdyuL3AsRqLDfjg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-02T21:11:01.3698108Z"
      },
      "ResponseBody": "1UJvrJ0CNkmObl2M\u002BP5huxZQuXD793IFfDteHaPkAAIDZpoGzdjk\u002BQibnnMRJat8MEMfQ5NL397PajBhpBilqm1aiZFkW\u002B4\u002BbMBnYFj/9FaQ4u1gxLxut4a8NmOng1Tw9fQFtpwZF9RU4dfT5H\u002BFz3Xa0cEqReWw69IKqCSLlulrd2pj\u002Bj25dsoYC\u002BPlmtMHNmftzLGTxbAPVcvJD2\u002BwyUruaGwUIdU4IFr3EjkCy1D\u002BA3G9nco317K5VKRy72daaEGZ9jJn8hSRtKtXm7J2DYl6ywv\u002B8iuAt5C5W80wxjDznar4adQelxBdLOke4Dz/Qkcb9yRbXHUWGD\u002BhrZdGYO57Y/4IfqS1XDP7oMZCYtdUuRiFFc4MmEA04lCVf[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fd2a51fd-de69-6021-fdd6-24d0d6e51bff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 Nov 2023 21:11:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "46383785",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
