{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/resourceType/flexibleServers/usages?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": {
              "value": "cores",
              "localizedValue": "cores"
            },
            "limit": 0,
            "unit": "Count",
            "currentValue": 0,
            "id": "subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/East US/resourceType/flexibleServers/usages/cores"
          },
          {
            "name": {
              "value": "standardBSFamily",
              "localizedValue": "standardBSFamily"
            },
            "limit": 0,
            "unit": "Count",
            "currentValue": 0,
            "id": "subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/loca[...]
