{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-test-recording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording",
        "name": "rg-chaos-sdk-test-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2024-02-20T18:49:01.5350205Z",
          "Owners": "renzopretto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0",
            "name": "sdktest-chaos-execution-0",
            "systemData": {
              "createdAt": "2024-02-15T18:54:50.727\u002B00:00",
              "lastModifiedAt": "2024-02-15T18:54:50.727\u002B00:00",
              "createdByType": "User"
            },
            "location": "eastus",
            "properties": {
              "selectors": [
                {
                  "type": "List",
                  "targets": [
                    {
                      "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus-0/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                      "type": "ChaosTarget"
                    }
                  ],
                  "id": "Selector1"
                }
              ],
              "steps": [
                {
                  "name": "Step1",
                  "branches": [
                    {
                      "name": "Branch1",
                      "actions": [
                        {
                          "type": "continuous",
                          "selectorId": "Selector1",
                          "duration": "PT2M",
                          "parameters": [
                            {
                              "key": "abruptShutdown",
                              "value": "false"
                            }
                          ],
                          "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          },
          {
            "type": "Microsoft.Chaos/experiments",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments?api-version=2024-01-01\u0026%24skiptoken=TZJhb9sgEIb%2fiyXv04hjbNdJpGqycZJFbZfW9rrPGBMXRQYLcBW1an%2f7jsSpig70HhzcczrePclP9l7Io%2fFW796%2fdVX%2frbC38l6sHcwqCHoqacd7Lu2Mvo2az5jqAzM2hmkxWKGkCQ5NGjdhlKDFMm5QzMIWLRvM0YJGDEchbVgYB5obNWrGt1qNgwl0h9gLVQaZ9ogsNxZpzpRuheyCQatX0XJtggfBtDLqYGfEBQf8NHAtHIz5xZS0Qo7UMdTqyOWtn[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments?api-version=2024-01-01\u0026%24skiptoken=TZJhb9sgEIb%2fiyXv04hjbNdJpGqycZJFbZfW9rrPGBMXRQYLcBW1an%2f7jsSpig50HC%2fcczrePclP9l7Io%2fFW796%2fdVX%2frbC38l6sHcwqCHoqacd7Lu2Mvo2az5jqAzM2hmkxWKGkCQ5NGjdhlKDFMm5QzMIWLRvM0YJGDEchbVgYB5obNWrGt1qNgwl0h9gLVQaZ9ogsNxZpzpRuheyCQatX0XJtggfBtDLqYGfEiQN%2bGrgWDsb8YkpaIUfqGGp15[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments?api-version=2024-01-01\u0026%24skiptoken=TZJhb6MwDIb%2fCxL36VJKgNFWmk4Q2l617boBt%2fscQsqiigQlYao2bb%2f9nJZOQyZ6nTj2YznvnuQney%2fk0Xird%2b%2ffuqr%2fVthbeS%2fWDmYVBD2VtOM9l3ZG30bNZ0z1gRkbw7QYrFDSBIcmjZswStBiGTcoZmGLlg3maEEjhqOQNiyMA82NGjXjW63GwQS6Q%2byFKoNMe0SWG4s0Z0q3QnbBoNWraLk2wYNgWhl1sDPiggN%2bGrgWDsb8YkpaIUf[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments?api-version=2024-01-01\u0026%24skiptoken=TZJvb5swEMa%2fCxJ7NYdgoCSRqglMkkX9kw5Yp700xqFWhI1sU0Wtus%2b%2bc0KqosN6bD%2b%2b%2b1nnd0%2fyk70X8mi81bv3Z13VvyvsrbwXawezCoKeStrxnks7o2%2bj5jOm%2bsCMjWFaDFYoaYJDk8ZNGCVosYwbFLOwRcsGc7SgEcNRSBsWxoHmRo2a8a1W42AC3SH2QpVBpj0iy41FmjOlWyG7YNDqVbRcm%2bBBMK2MOtgZceaAnwauhYMxP5iSVsi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments?api-version=2024-01-01\u0026%24skiptoken=TZJhb5swEIb%2fCxL7NIdgoCSRqglMkkVtlw5Y99kYh1oZNrJNF7XqfvvOCamKDus9%2b3z3nM5vnuQney%2fk0XirN%2b%2f3uqp%2fVdhbec%2fWDmYVBD2VtOM9l3ZGX0fNZ0z1gRkbw7QYrFDSBIcmjZswStBiGTcoZmGLlg3maEEjhqOQNiyMA82NGjXjW63GwQS6Q%2byZKoNMe0SWG4s0Z0q3QnbBoNWLaLk2wYNgWhl1sDPiggN%2bGrgWDsZ8Y0paIUfqG[...]
