{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-brrusinochaos?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos",
        "name": "rg-brrusinochaos",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "Owners": "brrusino",
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2023-09-11T22:08:40.6284917Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1",
        "name": "sdktest-chaos-execution-1",
        "systemData": {
          "createdAt": "2023-09-06T21:31:42.8372669\u002B00:00",
          "lastModifiedAt": "2023-09-06T22:09:46.9472361\u002B00:00",
          "createdByType": "User"
        },
        "identity": {
          "type": "SystemAssigned",
          "userAssignedIdentities": null,
          "principalId": "e56f78d3-df27-47a4-9053-be3c3e317a5f",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "location": "westus2",
        "properties": {
          "selectors": [
            {
              "type": "List",
              "targets": [
                {
                  "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Compute/virtualMachineScaleSets/t85900e929714b156-vmss-westus2-1/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                  "type": "ChaosTarget"
                }
              ],
              "id": "Selector1"
            }
          ],
          "steps": [
            {
              "name": "Step1",
              "branches": [
                {
                  "name": "Branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "selectorId": "Selector1",
                      "duration": "PT2M",
                      "parameters": [
                        {
                          "key": "abruptShutdown",
                          "value": "false"
                        }
                      ],
                      "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executionDetails?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executionDetails/A50B698C-33C8-406C-8CD7-8A99471A7DA2",
            "name": "A50B698C-33C8-406C-8CD7-8A99471A7DA2",
            "properties": {
              "experimentId": "A50B698C-33C8-406C-8CD7-8A99471A7DA2",
              "status": "Cancelled",
              "failureReason": "",
              "createdDateTime": "0001-01-01T00:00:00\u002B00:00",
              "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00",
              "startDateTime": "0001-01-01T00:00:00\u002B00:00",
              "stopDateTime": "0001-01-01T00:00:00\u002B00:00",
              "runInformation": null,
              "executionId": null,
              "measurementOutcome": null,
              "measurements": null
            }
          },
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executionDetails/1DA0DFC7-5970-4202-8345-89F529CC8344",
            "name": "1DA0DFC7-5970-4202-8345-89F529CC8344",
            "properties": {
              "experimentId": "1DA0DFC7-5970-4202-8345-89F529CC8344",
              "status": "Success",
              "failureReason": null,
              "createdDateTime": "2023-09-06T22:25:21.7863534\u002B00:00",
              "lastActionDateTime": "2023-09-06T22:27:55.9551767\u002B00:00",
              "startDateTime": "2023-09-06T22:25:29.0127896\u002B00:00",
              "stopDateTime": "2023-09-06T22:27:55.9551767\u002B00:00",
              "runInformation": {
                "steps": [
                  {
                    "stepName": "Step1",
                    "stepId": "Step1",
                    "status": "completed",
                    "branches": [
                      {
                        "branchName": "Branch1",
                        "branchId": "Branch1",
                        "status": "completed",
                        "actions": [
                          {
                            "actionName": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0",
                            "actionId": "a81e34db-5df9-4c8f-801c-41fdf150cfd6",
                            "status": "completed",
                            "targets": [
                              {
                                "status": "completed",
                                "target": "urn:x-chaos-targets:Azure-virtualMachineScaleSetVM:/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Compute/virtualMachineScaleSets/t85900e929714b156-vmss-westus2-1/providers/Microsoft.Chaos/targets/microsoft-virtualMachineScaleSet",
                                "targetFailedTime": "0001-01-01T00:00:00\u002B00:00",
                                "targetCompletedTime": "2023-09-06T22:27:52.2210159\u002B00:00",
                                "error": {
                                  "code": null,
                                  "message": null
                                }
                              }
                            ],
                            "startTime": "2023-09-06T22:25:30.1060848\u002B00:00",
                            "endTime": "2023-09-06T22:27:52.2289137\u002B00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              "executionId": null,
              "measurementOutcome": null,
              "measurements": null
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executionDetails/A50B698C-33C8-406C-8CD7-8A99471A7DA2?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versio[...]
