{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-brrusinochaos?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos",
        "name": "rg-brrusinochaos",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "Owners": "brrusino",
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2023-09-11T22:08:40.6284917Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4",
        "name": "sdktest-chaos-execution-4",
        "systemData": {
          "createdAt": "2023-09-06T22:08:06.1984343\u002B00:00",
          "lastModifiedAt": "2023-09-06T22:11:39.3376832\u002B00:00",
          "createdByType": "User"
        },
        "identity": {
          "type": "SystemAssigned",
          "userAssignedIdentities": null,
          "principalId": "d6b2c759-8fc5-4e83-83ab-7534ab42ddaf",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "location": "westus2",
        "properties": {
          "selectors": [
            {
              "type": "List",
              "targets": [
                {
                  "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Compute/virtualMachineScaleSets/t85900e929714b156-vmss-westus2-4/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                  "type": "ChaosTarget"
                }
              ],
              "id": "Selector1"
            }
          ],
          "steps": [
            {
              "name": "Step1",
              "branches": [
                {
                  "name": "Branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "selectorId": "Selector1",
                      "duration": "PT2M",
                      "parameters": [
                        {
                          "key": "abruptShutdown",
                          "value": "false"
                        }
                      ],
                      "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails/1F02C801-2EA6-438D-BAD1-5B56BDBD564D",
            "name": "1F02C801-2EA6-438D-BAD1-5B56BDBD564D",
            "properties": {
              "experimentId": "1F02C801-2EA6-438D-BAD1-5B56BDBD564D",
              "status": "Failed",
              "failureReason": "An experiment with name sdktest-chaos-execution-4 is already running. Please cancel existing experiment execution or try again after it has completed.",
              "createdDateTime": "0001-01-01T00:00:00\u002B00:00",
              "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00",
              "startDateTime": "0001-01-01T00:00:00\u002B00:00",
              "stopDateTime": "0001-01-01T00:00:00\u002B00:00",
              "runInformation": null,
              "executionId": null,
              "measurementOutcome": null,
              "measurements": null
            }
          },
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails/1E912CA8-F0CF-4CAA-BC3B-1E7A0BDB17F7",
            "name": "1E912CA8-F0CF-4CAA-BC3B-1E7A0BDB17F7",
            "properties": {
              "experimentId": "1E912CA8-F0CF-4CAA-BC3B-1E7A0BDB17F7",
              "status": "Cancelling",
              "failureReason": null,
              "createdDateTime": "2023-09-07T18:03:44.7903466\u002B00:00",
              "lastActionDateTime": "2023-09-07T18:04:47.6225479\u002B00:00",
              "startDateTime": "2023-09-07T18:03:52.0450748\u002B00:00",
              "stopDateTime": "0001-01-01T00:00:00\u002B00:00",
              "runInformation": {
                "steps": [
                  {
                    "stepName": "Step1",
                    "stepId": "Step1",
                    "status": "running",
                    "branches": [
                      {
                        "branchName": "Branch1",
                        "branchId": "Branch1",
                        "status": "running",
                        "actions": [
                          {
                            "actionName": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0",
                            "actionId": "87172e98-ff01-421a-9b3c-aa46633e7036",
                            "status": "running",
                            "targets": [
                              {
                                "status": "running",
                                "target": "urn:x-chaos-targets:Azure-virtualMachineScaleSetVM:/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Compute/virtualMachineScaleSets/t85900e929714b156-vmss-westus2-4/providers/Microsoft.Chaos/targets/microsoft-virtualMachineScaleSet",
                                "targetFailedTime": "0001-01-01T00:00:00\u002B00:00",
                                "targetCompletedTime": "0001-01-01T00:00:00\u002B00:00",
                                "error": {
                                  "code": null,
                                  "message": null
                                }
                              }
                            ],
                            "startTime": "2023-09-07T18:03:52.865281\u002B00:00",
                            "endTime": "0001-01-01T00:00:00\u002B00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              "executionId": null,
              "measurementOutcome": null,
              "measurements": null
            }
          }
        ],
        "nextLink": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGmz6BwAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMjk7MTQ7MzgvMTM4OTE5M1sA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0026api-version=2023-04-15-preview"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGmz6BwAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMjk7MTQ7MzgvMTM4OTE5M1sA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGlt3hwAAAAAAA%3d%3d%23RT%3a2%23TRC%3a4%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzQ7Njc7NjkvMTU0NTY6NVsA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGk-3hwAAAAAAA%3d%3d%23RT%3a3%23TRC%3a6%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzQ7NjU7NDYvNTI1OTE6NlsA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGkP3hwAAAAAAA%3d%3d%23RT%3a4%23TRC%3a8%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzQ7NjI7NTcvNjg6NDkyWwA%3d%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGk83RwAAAAAAA%3d%3d%23RT%3a5%23TRC%3a10%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzM7Mzg7NjQvMTgxOTM2WwA%3d%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails/1F02C801-2EA6-438D-BAD1-5B56BDBD564D?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versio[...]
