{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-brrusinochaos?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos",
        "name": "rg-brrusinochaos",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "Owners": "brrusino",
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2023-09-11T22:08:40.6284917Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4",
        "name": "sdktest-chaos-execution-4",
        "systemData": {
          "createdAt": "2023-09-06T22:08:06.1984343\u002B00:00",
          "lastModifiedAt": "2023-09-06T22:11:39.3376832\u002B00:00",
          "createdByType": "User"
        },
        "identity": {
          "type": "SystemAssigned",
          "userAssignedIdentities": null,
          "principalId": "d6b2c759-8fc5-4e83-83ab-7534ab42ddaf",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "location": "westus2",
        "properties": {
          "selectors": [
            {
              "type": "List",
              "targets": [
                {
                  "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Compute/virtualMachineScaleSets/t85900e929714b156-vmss-westus2-4/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                  "type": "ChaosTarget"
                }
              ],
              "id": "Selector1"
            }
          ],
          "steps": [
            {
              "name": "Step1",
              "branches": [
                {
                  "name": "Branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "selectorId": "Selector1",
                      "duration": "PT2M",
                      "parameters": [
                        {
                          "key": "abruptShutdown",
                          "value": "false"
                        }
                      ],
                      "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails/86439789-C69F-4F13-BE98-C08EE0CB1B72",
            "name": "86439789-C69F-4F13-BE98-C08EE0CB1B72",
            "properties": {
              "experimentId": "86439789-C69F-4F13-BE98-C08EE0CB1B72",
              "status": "Cancelled",
              "failureReason": "",
              "createdDateTime": "0001-01-01T00:00:00\u002B00:00",
              "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00",
              "startDateTime": "0001-01-01T00:00:00\u002B00:00",
              "stopDateTime": "0001-01-01T00:00:00\u002B00:00",
              "runInformation": null,
              "executionId": null,
              "measurementOutcome": null,
              "measurements": null
            }
          },
          {
            "type": "Microsoft.Chaos/experiments/executionDetails",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails/404361F9-3454-4D3D-AF80-5B63B70020BB",
            "name": "404361F9-3454-4D3D-AF80-5B63B70020BB",
            "properties": {
              "experimentId": "404361F9-3454-4D3D-AF80-5B63B70020BB",
              "status": "Success",
              "failureReason": null,
              "createdDateTime": "2023-09-07T18:21:02.5236028\u002B00:00",
              "lastActionDateTime": "2023-09-07T18:23:37.9665293\u002B00:00",
              "startDateTime": "2023-09-07T18:21:09.6174827\u002B00:00",
              "stopDateTime": "2023-09-07T18:23:37.9665293\u002B00:00",
              "runInformation": {
                "steps": [
                  {
                    "stepName": "Step1",
                    "stepId": "Step1",
                    "status": "completed",
                    "branches": [
                      {
                        "branchName": "Branch1",
                        "branchId": "Branch1",
                        "status": "completed",
                        "actions": [
                          {
                            "actionName": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0",
                            "actionId": "df5b577b-322e-4012-a04c-74490672127e",
                            "status": "completed",
                            "targets": [
                              {
                                "status": "completed",
                                "target": "urn:x-chaos-targets:Azure-virtualMachineScaleSetVM:/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Compute/virtualMachineScaleSets/t85900e929714b156-vmss-westus2-4/providers/Microsoft.Chaos/targets/microsoft-virtualMachineScaleSet",
                                "targetFailedTime": "0001-01-01T00:00:00\u002B00:00",
                                "targetCompletedTime": "2023-09-07T18:23:34.0480438\u002B00:00",
                                "error": {
                                  "code": null,
                                  "message": null
                                }
                              }
                            ],
                            "startTime": "2023-09-07T18:21:11.0369243\u002B00:00",
                            "endTime": "2023-09-07T18:23:34.0558071\u002B00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              "executionId": null,
              "measurementOutcome": null,
              "measurements": null
            }
          }
        ],
        "nextLink": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGle6RwAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMjk7MzE7NTEvMjc5Ojo1N1sA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0026api-version=2023-04-15-preview"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGle6RwAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMjk7MzE7NTEvMjc5Ojo1N1sA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGkp6RwAAAAAAA%3d%3d%23RT%3a2%23TRC%3a4%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMjk7MjY7NDEvODM2MjI6OFsA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGnT6BwAAAAAAA%3d%3d%23RT%3a3%23TRC%3a6%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMjk7MTc7MjQvNDM2Mzc6NlsA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGnH6BwAAAAAAA%3d%3d%23RT%3a4%23TRC%3a8%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMjk7MTU7NTYvODE5NDI3N1sA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u00[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGnU3hwAAAAAAA%3d%3d%23RT%3a5%23TRC%3a10%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMThVMTE7Mjc7MTkvNTQ3NTY2NVsA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGln3hwAAAAAAA%3d%3d%23RT%3a6%23TRC%3a12%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzQ7Njc7MjYvNTMzNzc6M1sA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGkp3hwAAAAAAA%3d%3d%23RT%3a7%23TRC%3a14%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzQ7NjU7MjIvNDM0NDcyOFsA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGn73RwAAAAAAA%3d%3d%23RT%3a8%23TRC%3a16%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzQ7NTY7NjgvNjc2NjM4M1sA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails?continuationToken=%5b%7B%22token%22%3a%22%2bRID%3a~ykIjAKI8sGkt3RwAAAAAAA%3d%3d%23RT%3a9%23TRC%3a18%23RTD%3aDWdvyvRuVDNffelI%2bB3GBTMxMzQuMTouMTdVMzM7Mzc7NjMvMzgzNzozOlsA%23ISV%3a2%23IEO%3a65567%23QCF%3a8%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d\u0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-4/executionDetails/86439789-C69F-4F13-BE98-C08EE0CB1B72?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versio[...]
