{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-brrusinochaos?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos",
        "name": "rg-brrusinochaos",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "Owners": "brrusino",
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2023-09-11T22:08:40.6284917Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0",
            "name": "sdktest-chaos-execution-0",
            "systemData": {
              "createdAt": "2023-09-06T21:25:27.595607\u002B00:00",
              "lastModifiedAt": "2023-09-06T22:09:09.3527904\u002B00:00",
              "createdByType": "User"
            },
            "location": "westus2",
            "properties": {
              "selectors": [
                {
                  "type": "List",
                  "targets": [
                    {
                      "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-brrusinochaos/providers/Microsoft.Compute/virtualMachineScaleSets/t85900e929714b156-vmss-westus2-0/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                      "type": "ChaosTarget"
                    }
                  ],
                  "id": "Selector1"
                }
              ],
              "steps": [
                {
                  "name": "Step1",
                  "branches": [
                    {
                      "name": "Branch1",
                      "actions": [
                        {
                          "type": "continuous",
                          "selectorId": "Selector1",
                          "duration": "PT2M",
                          "parameters": [
                            {
                              "key": "abruptShutdown",
                              "value": "false"
                            }
                          ],
                          "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          },
          {
            "type": "Microsoft.Chaos/experiments",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc[...]
