{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-test-recording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording",
        "name": "rg-chaos-sdk-test-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2024-02-20T18:49:01.5350205Z",
          "Owners": "renzopretto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-12-01-preview, 2024-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1",
        "name": "sdktest-chaos-execution-1",
        "systemData": {
          "createdAt": "2024-02-15T19:00:33.697\u002B00:00",
          "lastModifiedAt": "2024-02-15T19:00:33.697\u002B00:00",
          "createdByType": "User"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "072cae95-fb8c-414d-9b09-f58cbd595b9c",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "selectors": [
            {
              "type": "List",
              "targets": [
                {
                  "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus-1/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet",
                  "type": "ChaosTarget"
                }
              ],
              "id": "Selector1"
            }
          ],
          "steps": [
            {
              "name": "Step1",
              "branches": [
                {
                  "name": "Branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "selectorId": "Selector1",
                      "duration": "PT2M",
                      "parameters": [
                        {
                          "key": "abruptShutdown",
                          "value": "false"
                        }
                      ],
                      "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/start?api-version=2024-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-12-01-preview, 2024-01-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/operationStatuses/81a60433-b09d-4917-99fd-1063cbdca4f5?api-version=2024-01-01\u0026t=638436341112884460\u0026c=MIIHADCCBeigAwIBAgITfARnJNBquoML0OGeGQAABGck0DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMjAxMjAwMjM1WhcNMjUwMTI2MjAwMjM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executions?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2023-12-01-preview, 2024-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments/executions",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executions/959C0078-5F9D-417A-ABAB-FAC3EB21CDAE",
            "name": "959C0078-5F9D-417A-ABAB-FAC3EB21CDAE",
            "properties": {
              "status": "PreProcessing",
              "startedAt": "2024-02-15T22:48:30.9039031\u002B00:00"
            }
          },
          {
            "type": "Microsoft.Chaos/experiments/executions",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executions/BA162C4F-D55D-4613-B7DE-9F3834C9803A",
            "name": "BA162C4F-D55D-4613-B7DE-9F3834C9803A",
            "properties": {
              "status": "Cancelled",
              "startedAt": "2024-02-15T22:27:00.3717773\u002B00:00",
              "stoppedAt": "2024-02-15T22:28:21.2575844\u002B00:00"
            }
          },
          {
            "type": "Microsoft.Chaos/experiments/executions",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executions/0182F0A5-8AC3-4181-ACAD-18A5ACECFD2D",
            "name": "0182F0A5-8AC3-4181-ACAD-18A5ACECFD2D",
            "properties": {
              "status": "Success",
              "startedAt": "2024-02-15T22:01:46.0734735\u002B00:00",
              "stoppedAt": "2024-02-15T22:05:48.8278652\u002B00:00"
            }
          },
          {
            "type": "Microsoft.Chaos/experiments/executions",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executions/0EC5E376-2894-4E1A-8F4B-D532593C081B",
            "name": "0EC5E376-2894-4E1A-8F4B-D532593C081B",
            "properties": {
              "status": "Success",
              "startedAt": "2024-02-15T19:26:50.3493046\u002B00:00",
              "stoppedAt": "2024-02-15T19:29:52.617864\u002B00:00"
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executions/959C0078-5F9D-417A-ABAB-FAC3EB21CDAE?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2023-12-01-preview, 2024-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "998"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments/executions",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-test-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-1/executions/959C0078-5F9D-417A-ABAB-FAC3EB21CDAE",
        "name": "959C0078-5F9D-417A-ABAB-FAC3EB21CDAE",
        "properties": {
          "status": "PreProcessing",
          "startedAt": "2024-02-15T22:48:30.9039031\u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus",
    "RandomSeed": "643289609",
    "RESOURCE_GROUP": "rg-chaos-sdk-test-recording",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "fb74b135-894b-4c1d-9b2e-8a3c231abc14"
  }
}
