{
  "Entries": [
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "fb74b135-894b-4c1d-9b2e-8a3c231abc14",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ChaosRP-Test-MSFT-Manual-1",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourcegroups/rg-chaos-sdk-rp-recording?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording",
        "name": "rg-chaos-sdk-rp-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "ServiceDirectory": "chaos",
          "DeleteAfter": "2025-04-17T20:48:25.3578804+00:00",
          "Owners": "renzopretto"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "289"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "steps": [
            {
              "name": "Step1",
              "branches": [
                {
                  "name": "Branch1",
                  "actions": [
                    {
                      "duration": "PT2M",
                      "parameters": [
                        {
                          "key": "abruptShutdown",
                          "value": "false"
                        }
                      ],
                      "selectorId": "Selector1",
                      "type": "continuous",
                      "name": "urn:csci:microsoft:virtualMachineScaleSet:shutdown/2.0"
                    }
                  ]
                }
              ]
            }
          ],
          "selectors": [
            {
              "targets": [
                {
                  "type": "ChaosTarget",
                  "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Compute/virtualMachineScaleSets/chaossdk-vmss-eastus-0/providers/Microsoft.Chaos/targets/Microsoft-VirtualMachineScaleSet"
                }
              ],
              "type": "List",
              "id": "Selector1"
            }
          ]
        },
        "name": "sdktest-chaos-execution-0",
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "tags": {},
        "location": "eastus",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0",
        "type": "Microsoft.Chaos/experiments",
        "systemData": {
          "createdByType": "User",
          "createdAt": "2025-04-07T20:55:28.351+00:00",
          "lastModifiedAt": "2025-04-07T20:55:28.351+00:00"
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0/start?api-version=2025-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01",
        "Azure-AsyncOperation": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/providers/Microsoft.Chaos/locations/eastus/operationStatuses/f678fb0a-d2b6-4c5b-b11f-78ffab44f08d?api-version=2025-01-01&t=638797454180569257&c=MIIHhjCCBm6gAwIBAgITfAc5Agv1np5ZGfelFgAABzkCCzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMzI0MTIwMjMyWhcNMjUwNjIyMTIwMjMyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0/executions?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "status": "PreProcessingQueued",
              "startedAt": "2025-04-08T21:43:37.8601372+00:00"
            },
            "name": "E828B6C4-6231-4E47-89E4-0FD40617B86A",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0/executions/E828B6C4-6231-4E47-89E4-0FD40617B86A",
            "type": "Microsoft.Chaos/experiment/executions"
          },
          {
            "properties": {
              "status": "Success",
              "startedAt": "2025-04-08T21:29:17.7595473+00:00",
              "stoppedAt": "2025-04-08T21:32:57.5409519+00:00"
            },
            "name": "9E39135A-69FA-45BE-AD90-307B35F6DE7A",
            "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0/executions/9E39135A-69FA-45BE-AD90-307B35F6DE7A",
            "type": "Microsoft.Chaos/experiment/executions"
          },
          {
            "properties": {
              "status": "Cancelled",
            [...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0/executions/E828B6C4-6231-4E47-89E4-0FD40617B86A?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "998"
      },
      "ResponseBody": {
        "properties": {
          "status": "PreProcessingQueued",
          "startedAt": "2025-04-08T21:43:37.8601372+00:00"
        },
        "name": "E828B6C4-6231-4E47-89E4-0FD40617B86A",
        "id": "/subscriptions/fb74b135-894b-4c1d-9b2e-8a3c231abc14/resourceGroups/rg-chaos-sdk-rp-recording/providers/Microsoft.Chaos/experiments/sdktest-chaos-execution-0/executions/E828B6C4-6231-4E47-89E4-0FD40617B86A",
        "type": "Microsoft.Chaos/experiment/executions"
      }
    }
  ],
  "Variables": {
    "LOCATION": "eastus",
    "RandomSeed": "992433437",
    "RESOURCE_GROUP": "rg-chaos-sdk-rp-recording",
    "SERVICE_MANAGEMENT_URL": "https://management.core.windows.net/",
    "SUBSCRIPTION_ID": "fb74b135-894b-4c1d-9b2e-8a3c231abc14"
  }
}
