{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/timezone/windowsToIana/json?api-version=1.0&query=Dateline%20Standard%20Time",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": "[{\"Id\":\"Etc/GMT+12\",\"IsAlias\":false,\"HasZone1970Location\":false}]"
    }
  ],
  "Variables": {
    "RandomSeed": "470241197"
  }
}
