{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/timezone/byCoordinates/json?api-version=1.0&options=all&query=25.0338053%2C121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "Version": "2024a",
        "ReferenceUtcTimestamp": "2024-07-26T11:27:00.2540189Z",
        "TimeZones": [
          {
            "Id": "Asia/Taipei",
            "Aliases": [
              "ROC"
            ],
            "Countries": [
              {
                "Name": "Taiwan",
                "Code": "TW"
              }
            ],
            "Names": {
              "ISO6391LanguageCode": "en",
              "Generic": "Taipei Time",
              "Standard": "Taipei Standard Time",
              "Daylight": "Taipei Daylight Time"
            },
            "ReferenceTime": {
              "Tag": "CST",
              "StandardOffset": "08:00:00",
              "DaylightSavings": "00:00:00",
              "WallTime": "2024-07-26T19:27:00.2540189+08:00",
              "PosixTzValidYear": 2024,
              "PosixTz": "CST-8",
              "Sunrise": "2024-07-26T05:18:23.33276+08:00",
              "Sunset": "2024-07-26T18:42:13.0530389+08:00"
            },
            "RepresentativePoint": {
              "Latitude": 25.05,
              "Longitude": 121.5
            },
            "TimeTransitions": [
              {
                "Tag": "CST",
                "StandardOffset": "08:00:00",
                "DaylightSavings": "00:00:00",
                "UtcStart": "1979-09-30T15:00:00Z",
                "UtcEnd": "9999-12-31T23:59:59.9999999Z"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1730170205"
  }
}
