{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/timezone/byId/json?api-version=1.0&options=all&query=Asia%2FBahrain",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "Version": "2024a",
        "ReferenceUtcTimestamp": "2024-07-26T11:27:01.1885611Z",
        "TimeZones": [
          {
            "Id": "Asia/Qatar",
            "Aliases": [
              "Asia/Bahrain"
            ],
            "Countries": [
              {
                "Name": "Qatar",
                "Code": "QA"
              },
              {
                "Name": "Bahrain",
                "Code": "BH"
              }
            ],
            "Names": {
              "ISO6391LanguageCode": "en",
              "Generic": "Arabian Time",
              "Standard": "Arabian Standard Time",
              "Daylight": "Arabian Daylight Time"
            },
            "ReferenceTime": {
              "Tag": "+03",
              "StandardOffset": "03:00:00",
              "DaylightSavings": "00:00:00",
              "WallTime": "2024-07-26T14:27:01.1885611+03:00",
              "PosixTzValidYear": 2024,
              "PosixTz": "<+03>-3"
            },
            "RepresentativePoint": {
              "Latitude": 25.283333333333335,
              "Longitude": 51.53333333333333
            },
            "TimeTransitions": [
              {
                "Tag": "+03",
                "StandardOffset": "03:00:00",
                "DaylightSavings": "00:00:00",
                "UtcStart": "1972-05-31T20:00:00Z",
                "UtcEnd": "9999-12-31T23:59:59.9999999Z"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "130650726"
  }
}
