{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-a9594f2f-8a98-0feb-35ae-f6a27f3025c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:06:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40A9782AEFC\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:06:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-a9594f2f-8a98-0feb-35ae-f6a27f3025c1/test-directory-20850791-f65d-aecc-0972-f219d315d405?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:06:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40A97ACAA88\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:06:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-a9594f2f-8a98-0feb-35ae-f6a27f3025c1/test-directory-20850791-f65d-aecc-0972-f219d315d405?sv=Sanitized&se=2025-06-26T17%3A06%3A14Z&sr=b&sp=racwdltmeop&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDB40A97ACAA88\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:06:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 25 Jun 2025 17:06:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.dfs.core.windows.net/test-filesystem-a9594f2f-8a98-0feb-35ae-f6a27f3025c1/test-directory-20850791-f65d-aecc-0972-f219d315d405?sv=Sanitized&se=2025-06-26T17%3A06%3A14Z&sr=b&sp=racwdltmeop&sig=Sanitized&action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB40A97ACAA88\"",
        "Last-Modified": "Wed, 25 Jun 2025 17:06:14 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-a9594f2f-8a98-0feb-35ae-f6a27f3025c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 25 Jun 2025 17:06:14 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-25T12:06:14.4377823-05:00",
    "RandomSeed": "1227534768",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
