{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/notification-rules/sample-sdk-notifyrule-20250226?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "scope": "Tests",
        "displayName": "Updated Notification Rule",
        "actionGroupIds": [
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Insights/actionGroups/contoso-action-group"
        ],
        "testIds": [
          "sample-sdk-testnotify-20250226"
        ],
        "eventFilters": {
          "testRunEndedEvent": {
            "kind": "TestRunEnded",
            "condition": {
              "testRunStatuses": [
                "FAILED"
              ],
              "testRunResults": [
                "FAILED"
              ]
            }
          },
          "testRunStartedEvent": {
            "kind": "TestRunStarted"
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json",
        "mise-correlation-id": "f84d815a-e026-4764-bf00-c29e8a8f179d",
        "x-ms-error-code": "ActionGroupNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ActionGroupNotFound",
          "message": "Resource with resource Id '/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Insights/actionGroups/contoso-action-group' was not found. Ensure the resource exists and appropriate permissions are provided.",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
