{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithprefix?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:42 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0119E0C6FEA9\u0022",
        "Last-Modified": "Wed, 20 Dec 2023 05:09:43 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix/Test/TestFilesystemListPathsWithPrefixfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0119E0D1A9F4\u0022",
        "Last-Modified": "Wed, 20 Dec 2023 05:09:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix/Test/TestFilesystemListPathsWithPrefixdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0119E0DBC83C\u0022",
        "Last-Modified": "Wed, 20 Dec 2023 05:09:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix?directory=Test\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133475225838078012",
            "etag": "0x8DC0119E0DBC83C",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Dec 2023 05:09:43 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133475225838347190",
            "etag": "0x8DC0119E0DFE3B6",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Dec 2023 05:09:43 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133475225837414900",
            "etag": "0x8DC0119E0D1A9F4",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 20 Dec 2023 05:09:43 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixfile1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133475225837801119",
            "etag": "0x8DC0119E0D78E9F",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 20 Dec 2023 05:09:43 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithprefix?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:42 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
