{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamefileifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 26 Mar 2024 06:17:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D5C79C4161E\u0022",
        "Last-Modified": "Tue, 26 Mar 2024 06:17:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamefileifunmodifiedsincefalse/gotestfilerenamefileifunmodifiedsincefalse?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 26 Mar 2024 06:17:56 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D5C79CF25AA\u0022",
        "Last-Modified": "Tue, 26 Mar 2024 06:17:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamefileifunmodifiedsincefalse/newName?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 26 Mar 2024 06:17:56 GMT",
        "x-ms-rename-source": "/gofsrenamefileifunmodifiedsincefalse/gotestfilerenamefileifunmodifiedsincefalse",
        "x-ms-source-if-unmodified-since": "Tue, 26 Mar 2024 06:17:44 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:190d34a1-301f-001c-2745-7fd1b5000000\nTime:2024-03-26T06:17:55.6218173Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamefileifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 26 Mar 2024 06:17:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
