{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirectoryinfilesystemsetoptions?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EF5B053AA5D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofscreatedirectoryinfilesystemsetoptions/Test/TestCreateDirectoryInFileSystemSetOptions?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-lease-duration": "-1",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-permissions": "0777",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-umask": "0000",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EF5B07A0BF5\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirectoryinfilesystemsetoptions/Test%2FTestCreateDirectoryInFileSystemSetOptions",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EF5B07A0BF5\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirectoryinfilesystemsetoptions?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 28 Mar 2024 07:07:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
