{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:02:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FF92235BC9\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 17:02:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix/file1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:02:47 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FF922AF195\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 17:02:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix/dir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:02:47 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FF9232131C\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 17:02:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix?recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:02:47 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133554277686383388",
            "etag": "0x8DC48FF9232131C",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Mar 2024 17:02:48 GMT",
            "name": "dir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133554277686577361",
            "etag": "0x8DC48FF923508D1",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Mar 2024 17:02:48 GMT",
            "name": "dir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133554277685916053",
            "etag": "0x8DC48FF922AF195",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 20 Mar 2024 17:02:48 GMT",
            "name": "file1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133554277686189231",
            "etag": "0x8DC48FF922F1CAF",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 20 Mar 2024 17:02:48 GMT",
            "name": "file2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:02:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
