{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirwithlease?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC23A42BCEDBE1\u0022",
        "Last-Modified": "Fri, 02 Feb 2024 04:05:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofscreatedirwithlease/gotestdircreatedirwithlease?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:19 GMT",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC23A42BD9A1A7\u0022",
        "Last-Modified": "Fri, 02 Feb 2024 04:05:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofscreatedirwithlease/gotestdircreatedirwithlease?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:19 GMT",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseIdMissing",
          "message": "There is currently a lease on the resource and no lease ID was specified in the request.\nRequestId:8551fcda-401f-005c-2c8d-55f85b000000\nTime:2024-02-02T04:05:19.7610845Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirwithlease?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
