{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirwithownergroupaclumask?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 09:55:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC548D57E5F9AF\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 09:55:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofscreatedirwithownergroupaclumask/gotestdircreatedirwithownergroupaclumask?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "X-Ms-Date": "Thu, 04 Apr 2024 09:55:22 GMT",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-umask": "0000",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC548D57EDD7FB\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 09:55:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirwithownergroupaclumask?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 09:55:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
