{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdeletedirifetagmatchfalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:13:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3F479EAE6573\u0022",
        "Last-Modified": "Fri, 08 Mar 2024 08:13:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdeletedirifetagmatchfalse/gotestdirdeletedirifetagmatchfalse?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:13:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3F479EB42B1F\u0022",
        "Last-Modified": "Fri, 08 Mar 2024 08:13:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdeletedirifetagmatchfalse/gotestdirdeletedirifetagmatchfalse?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8DC3F479EB42B1F\u0022",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:13:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:b5905a79-301f-003e-6430-71bf83000000\nTime:2024-03-08T08:13:21.8044960Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdeletedirifetagmatchfalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:13:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
