{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilegetpropertieswithcpk?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC261418F2BF1B\u0022",
        "Last-Modified": "Mon, 05 Feb 2024 06:31:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilegetpropertieswithcpk/gotestdirfilegetpropertieswithcpk?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC261418FECB14\u0022",
        "Last-Modified": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilegetpropertieswithcpk/gotestdirfilegetpropertieswithcpk/gotestfilefilegetpropertieswithcpk?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC2614190A41B7\u0022",
        "Last-Modified": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilegetpropertieswithcpk/gotestdirfilegetpropertieswithcpk/gotestfilefilegetpropertieswithcpk",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC2614190A41B7\u0022",
        "Last-Modified": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilegetpropertieswithcpk?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 05 Feb 2024 06:31:34 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
