{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=properties&restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Wed, 15 May 2024 10:43:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\n",
        "RequestId:21a0b00b-401e-005c-09b4-a6f85b000000\n",
        "Time:2024-05-15T10:43:02.1916949Z</Message><LineNumber>2</LineNumber><LinePosition>75</LinePosition><Reason>Element is missing: Days.</Reason></Error>"
      ]
    }
  ],
  "Variables": {}
}
