{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 00:31:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB99391316034D\u0022",
        "Last-Modified": "Thu, 10 Aug 2023 00:31:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults/Test/TestFilesystemListDeletedPathsWithMaxResultsfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 00:31:01 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB99391388F587\u0022",
        "Last-Modified": "Thu, 10 Aug 2023 00:31:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults/Test/TestFilesystemListDeletedPathsWithMaxResultsfile1?recursive=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 00:31:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133361010623907251",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults/Test/TestFilesystemListDeletedPathsWithMaxResultsdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 00:31:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB993913E27AA8\u0022",
        "Last-Modified": "Thu, 10 Aug 2023 00:31:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults/Test/TestFilesystemListDeletedPathsWithMaxResultsdir1?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 00:31:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133361010629072563",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults?comp=list\u0026maxResults=2\u0026restype=container\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 00:31:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://tamerhnssoftdelete.blob.core.windows.net/\u0022 ContainerName=\u0022gofsfilesystemlistdeletedpathswithmaxresults\u0022\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003ETest/TestFilesystemListDeletedPathsWithMaxResultsdir1\u003C/Nam[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults?comp=list\u0026marker=2%21440%21MDAwMjg0IVZCYjk3TFNRbU9Da3l1b0JHTVVCR0w4QkwzUmhiV1Z5YUc1emMyOW1kR1JsYkdWMFpRRXdNVVE1UTBJeU1FRTJNakEyUmtGREx5UjBjbUZ6YUM5bmIyWnpabWxzWlhONWMzUmxiV3hwYzNSa1pXeGxkR1ZrY0dGMGFITjNhWFJvYldGNGNtVnpkV3gwY3dFd01VUTVRMEl5TVVZd09VWTBPRGs0QWk5VVpYTjBBaTlVWlhOMFJtbHNaWE41YzNSbGJVeHBjM1JFWld4bGRHVmtVR0YwYUhOWGFYUm9UV0Y0VW1WemRXeDBjMlpwYkdVeEFUSXdNak10TURndE1UQlVNRE[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistdeletedpathswithmaxresults?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 00:31:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
