{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfileuploaddownloadsmallstream?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 09 Aug 2023 21:21:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB991E9127D671\u0022",
        "Last-Modified": "Wed, 09 Aug 2023 21:21:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfileuploaddownloadsmallstream/gotestfilefileuploaddownloadsmallstream?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 09 Aug 2023 21:21:16 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB991E913305FB\u0022",
        "Last-Modified": "Wed, 09 Aug 2023 21:21:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfileuploaddownloadsmallstream/gotestfilefileuploaddownloadsmallstream?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Date": "Wed, 09 Aug 2023 21:21:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": [
        "\u0019\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDUgi?\uFFFD\uFFFD\u001B\uFFFD\uFFFD\u007F\uFFFD\u0019)j1\u003C\u0060\uFFFD\uFFFD\uFFFD\u0001*\uFFFD\uFFFD;S\u0003\uFFFD\uFFFD\uFFFD/\uFFFDC\u0646\uFFFD11\u0018{RRCFn\uFFFD\uFFFDo\uFFFD\uFFFD\u002Bp\uFFFDo\uFFFD\u02CEXx}G\uFFFDn\uFFFDA\u0006\uFFFD\u001D\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD$\n",
        "\uFFFDD?!\u001D[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfileuploaddownloadsmallstream/gotestfilefileuploaddownloadsmallstream?action=flush\u0026close=false\u0026position=10240\u0026retainUncommittedData=false",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 09 Aug 2023 21:21:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB991E915751A6\u0022",
        "Last-Modified": "Wed, 09 Aug 2023 21:21:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfileuploaddownloadsmallstream/gotestfilefileuploaddownloadsmallstream",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 09 Aug 2023 21:21:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB991E915751A6\u0022",
        "Last-Modified": "Wed, 09 Aug 2023 21:21:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 09 Aug 2023 21:21:16 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfileuploaddownloadsmallstream?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 09 Aug 2023 21:21:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
