{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirsetmetadatawithaccessconditions?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:01:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FF5F9530B7\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 17:01:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirsetmetadatawithaccessconditions/gotestdirdirsetmetadatawithaccessconditions?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:01:22 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FF5F9F932A\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 17:01:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirsetmetadatawithaccessconditions/gotestdirdirsetmetadatawithaccessconditions?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 20 Mar 2024 17:01:13 GMT",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:01:22 GMT",
        "x-ms-meta-Foo": "bar",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48FF5FA36ADB\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 17:01:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirsetmetadatawithaccessconditions/gotestdirdirsetmetadatawithaccessconditions?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:01:22 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirsetmetadatawithaccessconditions?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 17:01:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
