{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:15:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48E83510B61B\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 14:15:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:15:33 GMT",
        "x-ms-encryption-context": "test_encryption_context",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48E83519F939\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 14:15:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:15:33 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48E835213FB7\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 14:15:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:15:33 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133554177340180261",
            "etag": "0x8DC48E83518885E",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Mar 2024 14:15:34 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133554177340751799",
            "etag": "0x8DC48E835213FB7",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Mar 2024 14:15:34 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133554177340955973",
            "etag": "0x8DC48E835245D45",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Mar 2024 14:15:34 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133554177340275001",
            "etag": "0x8DC48E83519F939",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 20 Mar 2024 14:15:34 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextfile1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133554177340545345",
            "etag": "0x8DC48E8351E1941",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 20 Mar 2024 14:15:34 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:15:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
