{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0119E056E84C\u0022",
        "Last-Modified": "Wed, 20 Dec 2023 05:09:42 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0119E06137AA\u0022",
        "Last-Modified": "Wed, 20 Dec 2023 05:09:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0119E069FF92\u0022",
        "Last-Modified": "Wed, 20 Dec 2023 05:09:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?maxResults=3\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBaY7IDg3JWj\u002BKUBGJcBGJEBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRoY29udGludWF0aW9uATAxREEzMzAyQkRFMDdCODUvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhDb250aW51YXRpb25maWxlMRYAAAA=",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133475225829942877",
            "etag": "0x8DC0119E05FA7E2",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Dec 2023 05:09:42 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133475225830621074",
            "etag": "0x8DC0119E069FF92",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Dec 2023 05:09:43 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133475225830889167",
            "etag": "0x8DC0119E06E16CF",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Dec 2023 05:09:43 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?continuation=VBaY7IDg3JWj%2BKUBGJcBGJEBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRoY29udGludWF0aW9uATAxREEzMzAyQkRFMDdCODUvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhDb250aW51YXRpb25maWxlMRYAAAA%3D\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Dec 2023 05:09:41 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
