{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C697794689\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C697867F3D\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C69797F12B\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?maxResults=2&recursive=true&resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBay+9bw59rLvL0BGJIBGIwBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRobWF4cmVzdWx0cwEwMURBQTZBRjc1MDJBNjQxL1Rlc3QvVGVzdEZpbGVzeXN0ZW1MaXN0UGF0aHNXaXRoTWF4UmVzdWx0c2RpcjIWAAAA",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133602411474196224",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 15 May 2024 10:05:47 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133602411475431723",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 15 May 2024 10:05:47 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBay%2B9bw59rLvL0BGJIBGIwBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRobWF4cmVzdWx0cwEwMURBQTZBRjc1MDJBNjQxL1Rlc3QvVGVzdEZpbGVzeXN0ZW1MaXN0UGF0aHNXaXRoTWF4UmVzdWx0c2RpcjIWAAAA&maxResults=2&recursive=true&resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBbVxdTSr%2FKho5MBGJMBGI0BL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRobWF4cmVzdWx0cwEwMURBQTZBRjc1MDJBNjQxL1Rlc3QvVGVzdEZpbGVzeXN0ZW1MaXN0UGF0aHNXaXRoTWF4UmVzdWx0c2ZpbGUyFgAAAA%3D%3D&maxResults=2&recursive=true&resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133602411474908973",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 15 May 2024 10:05:47 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
