{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithprefix?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC25948B12FE9F\u0022",
        "Last-Modified": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix/Test/TestFilesystemListPathsWithPrefixfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC25948B25F675\u0022",
        "Last-Modified": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix/Test/TestFilesystemListPathsWithPrefixdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC25948B489020\u0022",
        "Last-Modified": "Sun, 04 Feb 2024 15:18:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix?directory=Test\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133515335101943840",
            "etag": "0x8DC25948B489020",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Sun, 04 Feb 2024 15:18:30 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133515335102467965",
            "etag": "0x8DC25948B508F7D",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Sun, 04 Feb 2024 15:18:30 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133515335099676277",
            "etag": "0x8DC25948B25F675",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Sun, 04 Feb 2024 15:18:29 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixfile1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133515335100274557",
            "etag": "0x8DC25948B2F177D",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Sun, 04 Feb 2024 15:18:30 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithprefix?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
