{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 07:16:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC006276C01E18\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 07:16:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 07:16:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC006276CBA512\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 07:16:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 07:16:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC006276D87148\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 07:16:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?maxResults=3\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 07:16:47 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBbxht2pocWsrQEYlwEYkQEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhjb250aW51YXRpb24BMDFEQTMyNEI1NDQ5QUREQS9UZXN0L1Rlc3RGaWxlc3lzdGVtTGlzdFBhdGhzV2l0aENvbnRpbnVhdGlvbmZpbGUxFgAAAA==",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133474438079475889",
            "etag": "0x8DC006276C971D7",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 19 Dec 2023 07:16:47 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133474438080459080",
            "etag": "0x8DC006276D87148",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 19 Dec 2023 07:16:48 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133474438080926247",
            "etag": "0x8DC006276DF9227",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 19 Dec 2023 07:16:48 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?continuation=VBbxht2pocWsrQEYlwEYkQEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhjb250aW51YXRpb24BMDFEQTMyNEI1NDQ5QUREQS9UZXN0L1Rlc3RGaWxlc3lzdGVtTGlzdFBhdGhzV2l0aENvbnRpbnVhdGlvbmZpbGUxFgAAAA%3D%3D\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 07:16:48 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
