{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamedirifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:54:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74CD6F62AE0D\"",
        "Last-Modified": "Wed, 15 May 2024 10:54:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamedirifunmodifiedsincefalse/gotestdirrenamedirifunmodifiedsincefalse?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:54:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74CD6F6B2976\"",
        "Last-Modified": "Wed, 15 May 2024 10:54:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamedirifunmodifiedsincefalse/newName?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:54:45 GMT",
        "x-ms-rename-source": "Sanitized",
        "x-ms-source-if-unmodified-since": "Wed, 15 May 2024 10:54:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:8076fa80-101f-0022-4eb6-a66794000000\nTime:2024-05-15T10:54:46.6713206Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamedirifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:54:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
