{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirreleaselease?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB99CEB4DFCF85\u0022",
        "Last-Modified": "Thu, 10 Aug 2023 18:22:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirreleaselease/gotestdirdirreleaselease?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB99CEB4E93DDE\u0022",
        "Last-Modified": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirreleaselease/gotestdirdirreleaselease?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "60",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB99CEB4E93DDE\u0022",
        "Last-Modified": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirreleaselease/gotestdirdirreleaselease?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseIdMissing",
          "message": "There is currently a lease on the resource and no lease ID was specified in the request.\nRequestId:147aa4f3-b01f-0059-26b7-cba340000000\nTime:2023-08-10T18:22:08.2020747Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirreleaselease/gotestdirdirreleaselease?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133361653282661141",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirreleaselease?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 10 Aug 2023 18:22:08 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
