{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemsetemptyaccesspolicy?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 03 Jan 2024 06:47:55 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0C27EAB55FB4\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 06:47:56 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemsetemptyaccesspolicy?comp=acl\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Wed, 03 Jan 2024 06:47:55 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": [
        "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022?\u003E\n",
        "\u003CSignedIdentifiers\u003E\u003C/SignedIdentifiers\u003E"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0C27EAC31BDB\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 06:47:56 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemsetemptyaccesspolicy?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 03 Jan 2024 06:47:55 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
