{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistdeletedpathswithprefix?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C6962D377C\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithprefix/Test/TestFilesystemListDeletedPathsWithPrefixfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C6963CA715\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithprefix/Test/TestFilesystemListDeletedPathsWithPrefixfile1?recursive=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133602411453385503",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithprefix/Test/TestFilesystemListDeletedPathsWithPrefixdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C696674057\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistdeletedpathswithprefix/Test/TestFilesystemListDeletedPathsWithPrefixdir1?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133602411455915119",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistdeletedpathswithprefix?comp=list&prefix=Test&restype=container&showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://tanyadatalakeaccount.blob.core.windows.net/\" ContainerName=\"gofsfilesystemlistdeletedpathswithprefix\"><Prefix>Test</Prefix><Blobs><Blob><Name>Test/TestFilesystemListDeletedPathsWithPrefixdir1</Name><DeletionId>133602411455915119</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed, 15 May 2024 10:05:45 GMT</Creation-Time><Last-Modified>Wed, 15 May 2024 10:05:45 GMT</Last-Modified><Expiry-Time>Wed, 22 May 2024 10:05:45 GMT</Expiry-Time><Etag>0x8DC74C696674057</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Wed, 15 May 2024 10:05:45 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>Test/TestFilesystemListDeletedPathsWithPrefixdir2</Name><DeletionId>133602411457186185</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed, 15 May 2024 10:05:45 GMT</Creation-Time><Last-Modified>Wed, 15 May 2024 10:05:45 GMT</Last-Modified><Expiry-Time>Wed, 22 May 2024 10:05:45 GMT</Expiry-Time><Etag>0x8DC74C6967A25B3</Etag><ResourceType>directory</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encod[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistdeletedpathswithprefix?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
