{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofslistfilesystemsbasic?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 16 May 2024 09:12:46 GMT",
        "x-ms-meta-bar": "barvalue",
        "x-ms-meta-foo": "foovalue",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75885A1B72CC\"",
        "Last-Modified": "Thu, 16 May 2024 09:12:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=list&include=metadata&prefix=gofs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 16 May 2024 09:12:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://tanyadatalakeaccount.blob.core.windows.net/\"><Prefix>gofs</Prefix><Containers><Container><Name>gofslistfilesystemsbasic</Name><Properties><Last-Modified>Thu, 16 May 2024 09:12:46 GMT</Last-Modified><Etag>\"0x8DC75885A1B72CC\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><bar>barvalue</bar><foo>foovalue</foo></Metadata></Container></Containers><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofslistfilesystemsbasic?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 16 May 2024 09:12:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
