{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC25948A79BB90\u0022",
        "Last-Modified": "Sun, 04 Feb 2024 15:18:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC25948A8CDFDA\u0022",
        "Last-Modified": "Sun, 04 Feb 2024 15:18:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC25948A9F0A9C\u0022",
        "Last-Modified": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBbKwoqwyoGpu7sBGJIBGIwBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRobWF4cmVzdWx0cwEwMURBNTc3RDY4MDMzOTYyL1Rlc3QvVGVzdEZpbGVzeXN0ZW1MaXN0UGF0aHNXaXRoTWF4UmVzdWx0c2RpcjIWAAAA",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133515335089529173",
            "etag": "0x8DC25948A8B22A8",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Sun, 04 Feb 2024 15:18:28 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133515335090834076",
            "etag": "0x8DC25948A9F0A9C",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Sun, 04 Feb 2024 15:18:29 GMT",
            "name": "Test/TestFilesystemListPathsWithMaxResultsdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBbKwoqwyoGpu7sBGJIBGIwBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRobWF4cmVzdWx0cwEwMURBNTc3RDY4MDMzOTYyL1Rlc3QvVGVzdEZpbGVzeXN0ZW1MaXN0UGF0aHNXaXRoTWF4UmVzdWx0c2RpcjIWAAAA\u0026maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
     [...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBblv%2Fq7wI7LpfEBGJMBGI0BL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRobWF4cmVzdWx0cwEwMURBNTc3RDY4MDMzOTYyL1Rlc3QvVGVzdEZpbGVzeXN0ZW1MaXN0UGF0aHNXaXRoTWF4UmVzdWx0c2ZpbGUyFgAAAA%3D%3D\u0026maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133515335090291866",
            "etag": "0x8DC25948A96C49A",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Sun, 04 Feb 2024 15:18:29 GMT",
            "name": "Test/TestFilesystemListPathsWithMaxResultsfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
