{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemgetpropertieswithdefaultencryptionscopeandoverride?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:22 GMT",
        "x-ms-default-encryption-scope": "datalaketestencryptionscope",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-meta-bar": "hello",
        "x-ms-meta-foo": "hello",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EOutOfRangeInput\u003C/Code\u003E\u003CMessage\u003EThe specified resource name length is not within the permissible limits.\n",
        "RequestId:a2f06353-d01e-0034-227d-57a60a000000\n",
        "Time:2024-02-04T15:18:22.0788213Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemgetpropertieswithdefaultencryptionscopeandoverride?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Sun, 04 Feb 2024 15:18:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EOutOfRangeInput\u003C/Code\u003E\u003CMessage\u003EThe specified resource name length is not within the permissible limits.\n",
        "RequestId:a2f0638f-d01e-0034-437d-57a60a000000\n",
        "Time:2024-02-04T15:18:22.1637724Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
