{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 14 Dec 2023 10:47:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFC9208CE622D\u0022",
        "Last-Modified": "Thu, 14 Dec 2023 10:47:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 14 Dec 2023 10:47:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFC9208D7B9B2\u0022",
        "Last-Modified": "Thu, 14 Dec 2023 10:47:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 14 Dec 2023 10:47:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBFC9208DDC183\u0022",
        "Last-Modified": "Thu, 14 Dec 2023 10:47:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?maxResults=3\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 14 Dec 2023 10:47:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBaovM/3vIb178EBGJcBGJEBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRoY29udGludWF0aW9uATAxREEyRTdBRTY1N0U3RUYvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhDb250aW51YXRpb25maWxlMRYAAAA=",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133470244346711281",
            "etag": "0x8DBFC9208D5CE1D",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 14 Dec 2023 10:47:14 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133470244347232643",
            "etag": "0x8DBFC9208DDC183",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 14 Dec 2023 10:47:14 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133470244347404383",
            "etag": "0x8DBFC9208E0605F",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 14 Dec 2023 10:47:14 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?continuation=VBaovM%2F3vIb178EBGJcBGJEBL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRoY29udGludWF0aW9uATAxREEyRTdBRTY1N0U3RUYvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhDb250aW51YXRpb25maWxlMRYAAAA%3D\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 14 Dec 2023 10:47:15 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
