{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamedirifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1751FC02F351\u0022",
        "Last-Modified": "Wed, 17 Jan 2024 11:46:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamedirifunmodifiedsincefalse/gotestdirrenamedirifunmodifiedsincefalse?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1751FC0A24F6\u0022",
        "Last-Modified": "Wed, 17 Jan 2024 11:46:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamedirifunmodifiedsincefalse/newName?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:47 GMT",
        "x-ms-rename-source": "/gofsrenamedirifunmodifiedsincefalse/gotestdirrenamedirifunmodifiedsincefalse",
        "x-ms-source-if-unmodified-since": "Wed, 17 Jan 2024 11:46:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "error": {
          "code": "SourceConditionNotMet",
          "message": "The source condition specified using HTTP conditional header(s) is not met.\nRequestId:d6d61f6a-d01f-009e-1f3a-4970e5000000\nTime:2024-01-17T11:46:46.8628586Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamedirifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
