{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/azfilesystempagedgofslistfilesystemspaged0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 16 May 2024 09:12:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75885AFBD7FE\"",
        "Last-Modified": "Thu, 16 May 2024 09:12:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=list&include=metadata&maxresults=2&prefix=azfilesystempagedgofs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 16 May 2024 09:12:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.blob.core.windows.net/\"><Prefix>azfilesystempagedgofs</Prefix><MaxResults>2</MaxResults><Containers><Container><Name>azfilesystempagedgofslistfilesystemspaged0</Name><Properties><Last-Modified>Thu, 16 May 2024 09:12:48 GMT</Last-Modified><Etag>\"0x8DC75885AFBD7FE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata /></Container><Container><Name>azfilesystempagedgofslistfilesystemspaged1</Name><Properties><Last-Modified>Thu, 16 May 2024 09:12:48 GMT</Last-Modified><Etag>\"0x8DC75885B23E025\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata /></Container></Containers><NextMarker>/teststorageaccounttanya/azfilesystempagedgofslistfilesystemspaged2</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/?comp=list&include=metadata&marker=%2Fteststorageaccounttanya%2Fazfilesystempagedgofslistfilesystemspaged2&maxresults=2&prefix=azfilesystempagedgofs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 16 May 2024 09:12:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.blob.core.windows.net/\"><Prefix>azfilesystempagedgofs</Prefix><Marker>/teststorageaccounttanya/azfilesystempagedgofslistfilesystemspaged2</Marker><MaxResults>2</MaxResults><Containers><Container><Name>azfilesystempagedgofslistfilesystemspaged2</Name><Properties><Last-Modified>Thu, 16 May 2024 09:12:48 GMT</Last-Modified><Etag>\"0x8DC75885B4C29E1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata /></Container><Container><Name>azfilesystempagedgofslistfilesystemspaged3</Name><Properties><Last-Modified>Thu, 16 May 2024 09:12:48 GMT</Last-Modified><Etag>\"0x8DC75885B710429\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata /></Container></Containers><NextMarker>/teststorageaccounttanya/azfilesystempagedgofslistfilesystemspaged4</NextMarker></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/azfilesystempagedgofslistfilesystemspaged5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 16 May 2024 09:12:51 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
