{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 05 Apr 2024 04:53:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC552C669FBFE5\u0022",
        "Last-Modified": "Fri, 05 Apr 2024 04:53:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 05 Apr 2024 04:53:57 GMT",
        "x-ms-encryption-context": "test_encryption_context",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC552C66B95807\u0022",
        "Last-Modified": "Fri, 05 Apr 2024 04:53:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 05 Apr 2024 04:53:57 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC552C66D48092\u0022",
        "Last-Modified": "Fri, 05 Apr 2024 04:53:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 05 Apr 2024 04:53:57 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133567664369686339",
            "etag": "0x8DC552C66B2D86A",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 05 Apr 2024 04:53:56 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133567664371892370",
            "etag": "0x8DC552C66D48092",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 05 Apr 2024 04:53:57 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133567664372735065",
            "etag": "0x8DC552C66E15C59",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 05 Apr 2024 04:53:57 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133567664370112519",
            "etag": "0x8DC552C66B95807",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Fri, 05 Apr 2024 04:53:57 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextfile1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133567664371041457",
            "etag": "0x8DC552C66C784B1",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Fri, 05 Apr 2024 04:53:57 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 05 Apr 2024 04:53:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
