{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirsetaccesscontrolifunmodifiedsincetrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 02 Aug 2023 22:39:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB93A965080285\u0022",
        "Last-Modified": "Wed, 02 Aug 2023 22:39:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirsetaccesscontrolifunmodifiedsincetrue/gotestdirdirsetaccesscontrolifunmodifiedsincetrue?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 02 Aug 2023 22:39:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB93A96510DDCD\u0022",
        "Last-Modified": "Wed, 02 Aug 2023 22:39:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirsetaccesscontrolifunmodifiedsincetrue/gotestdirdirsetaccesscontrolifunmodifiedsincetrue?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 02 Aug 2023 22:40:05 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "X-Ms-Date": "Wed, 02 Aug 2023 22:39:55 GMT",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB93A96510DDCD\u0022",
        "Last-Modified": "Wed, 02 Aug 2023 22:39:55 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirsetaccesscontrolifunmodifiedsincetrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 02 Aug 2023 22:39:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
