{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/test?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:d4cf8b95-601e-0040-6b71-a7204c000000\n",
        "Time:2024-05-16T09:12:55.1533786Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
