{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:17:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3F48305EE8C6\u0022",
        "Last-Modified": "Fri, 08 Mar 2024 08:17:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:17:25 GMT",
        "x-ms-encryption-context": "test_encryption_context",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3F4830683395\u0022",
        "Last-Modified": "Fri, 08 Mar 2024 08:17:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:17:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3F48306FA1E6\u0022",
        "Last-Modified": "Fri, 08 Mar 2024 08:17:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:17:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133543594461963297",
            "etag": "0x8DC3F483066255D",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 08 Mar 2024 08:17:26 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133543594462585318",
            "etag": "0x8DC3F48306FA1E6",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 08 Mar 2024 08:17:26 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133543594462802517",
            "etag": "0x8DC3F483072F255",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 08 Mar 2024 08:17:26 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133543594462098325",
            "etag": "0x8DC3F4830683395",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Fri, 08 Mar 2024 08:17:26 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextfile1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133543594462363890",
            "etag": "0x8DC3F48306C40F2",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Fri, 08 Mar 2024 08:17:26 GMT",
            "name": "Test/TestFilesystemListPathsWithEncryptionContextfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 08 Mar 2024 08:17:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
