{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirsetaccesscontrolifetagmatchfalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC23A43B1069A0\u0022",
        "Last-Modified": "Fri, 02 Feb 2024 04:05:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirsetaccesscontrolifetagmatchfalse/gotestdirdirsetaccesscontrolifetagmatchfalse?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC23A43B1BFAB9\u0022",
        "Last-Modified": "Fri, 02 Feb 2024 04:05:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdirsetaccesscontrolifetagmatchfalse/gotestdirdirsetaccesscontrolifetagmatchfalse?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8DC23A43B1BFAB9\u0022",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:44 GMT",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:8551fd7e-401f-005c-2d8d-55f85b000000\nTime:2024-02-02T04:05:45.3732046Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdirsetaccesscontrolifetagmatchfalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 02 Feb 2024 04:05:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
