{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamedirifetagmatch?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 12:48:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3924C460E541\u0022",
        "Last-Modified": "Thu, 29 Feb 2024 12:48:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamedirifetagmatch/gotestdirrenamedirifetagmatch?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 12:48:44 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3924C46B963A\u0022",
        "Last-Modified": "Thu, 29 Feb 2024 12:48:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamedirifetagmatch/newName?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 12:48:44 GMT",
        "x-ms-rename-source": "/gofsrenamedirifetagmatch/gotestdirrenamedirifetagmatch",
        "x-ms-source-if-match": "\u00220x8DC3924C46B963A\u0022",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3924C46B963A\u0022",
        "Last-Modified": "Thu, 29 Feb 2024 12:48:45 GMT",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamedirifetagmatch?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 12:48:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
