{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithprefix?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC547DC77464C2\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix/Test/TestFilesystemListPathsWithPrefixfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC547DC77DBA86\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix/Test/TestFilesystemListPathsWithPrefixdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC547DC7A992F3\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithprefix?directory=Test\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133566914377192179",
            "etag": "0x8DC547DC7A992F3",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 04 Apr 2024 08:03:57 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133566914377421463",
            "etag": "0x8DC547DC7AD1297",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 04 Apr 2024 08:03:57 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133566914374318726",
            "etag": "0x8DC547DC77DBA86",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 04 Apr 2024 08:03:57 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixfile1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133566914374598391",
            "etag": "0x8DC547DC781FEF7",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 04 Apr 2024 08:03:57 GMT",
            "name": "Test/TestFilesystemListPathsWithPrefixfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithprefix?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 08:03:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
