{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamefileifunmodifiedsincetrue?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:10:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4826AD0A248B\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:10:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamefileifunmodifiedsincetrue/gotestfilerenamefileifunmodifiedsincetrue?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:10:12 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4826AD111345\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsrenamefileifunmodifiedsincetrue/newName?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:10:12 GMT",
        "x-ms-rename-source": "/gofsrenamefileifunmodifiedsincetrue/gotestfilerenamefileifunmodifiedsincetrue",
        "x-ms-source-if-unmodified-since": "Tue, 19 Mar 2024 15:10:22 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4826AD111345\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:10:12 GMT",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsrenamefileifunmodifiedsincetrue?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:10:12 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
