{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirwithlease?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 07:59:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC547D2DF33162\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 07:59:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofscreatedirwithlease/gotestdircreatedirwithlease?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 07:59:40 GMT",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC547D2DFA48E2\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 07:59:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofscreatedirwithlease/gotestdircreatedirwithlease?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 07:59:40 GMT",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseIdMissing",
          "message": "There is currently a lease on the resource and no lease ID was specified in the request.\nRequestId:b168073c-a01f-0074-2166-868fe4000000\nTime:2024-04-04T07:59:39.9102918Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofscreatedirwithlease?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 04 Apr 2024 07:59:55 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
