{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 13:04:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC39270411645C\u0022",
        "Last-Modified": "Thu, 29 Feb 2024 13:04:51 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 13:04:49 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3927041EF777\u0022",
        "Last-Modified": "Thu, 29 Feb 2024 13:04:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation/Test/TestFilesystemListPathsWithContinuationdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 13:04:49 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC3927042BB391\u0022",
        "Last-Modified": "Thu, 29 Feb 2024 13:04:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?maxResults=3\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 13:04:50 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBa6iqv3n5em2AsYlwEYkQEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhjb250aW51YXRpb24BMDFEQTZCMEZFMTlBRjkxRC9UZXN0L1Rlc3RGaWxlc3lzdGVtTGlzdFBhdGhzV2l0aENvbnRpbnVhdGlvbmZpbGUxFgAAAA==",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133536854915333208",
            "etag": "0x8DC3927041DBDC9",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 29 Feb 2024 13:04:51 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133536854916248465",
            "etag": "0x8DC3927042BB391",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 29 Feb 2024 13:04:51 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133536854916650936",
            "etag": "0x8DC39270431D7B8",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 29 Feb 2024 13:04:51 GMT",
            "name": "Test/TestFilesystemListPathsWithContinuationdir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithcontinuation?continuation=VBa6iqv3n5em2AsYlwEYkQEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhjb250aW51YXRpb24BMDFEQTZCMEZFMTlBRjkxRC9UZXN0L1Rlc3RGaWxlc3lzdGVtTGlzdFBhdGhzV2l0aENvbnRpbnVhdGlvbmZpbGUxFgAAAA%3D%3D\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithcontinuation?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 29 Feb 2024 13:04:50 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
