{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfiledownloadstreamencryptioncontext?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:53:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48ED78E70ECA\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 14:53:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfiledownloadstreamencryptioncontext/gotestfilefiledownloadstreamencryptioncontext?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:53:14 GMT",
        "x-ms-encryption-context": "test_encryption_context",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48ED78FD7679\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 14:53:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfiledownloadstreamencryptioncontext/gotestfilefiledownloadstreamencryptioncontext?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:53:14 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": [
        "\uFFFD/\r",
        "3\uFFFD\uFFFDZ\uFFFDIfw\u0004\uFFFDr\uFFFD\u001B\uFFFD6\uFFFD%\u044D\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u0686\uFFFD\uFFFDU\u0013\uFFFD\uFFFD\uFFFDe\uFFFD%\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u0015\uFFFD\uFFFDc\uFFFD\uFFFD\u04AD\u0010a\uFFFD\r",
        "#\u0012\u028D\uFFFDW*\uFFFD\uFFFD/\uFFFD\u000F\uFFFD\uFFFD\uFFFD\u007F\uFFFDX\u0027[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfiledownloadstreamencryptioncontext/gotestfilefiledownloadstreamencryptioncontext?action=flush\u0026close=false\u0026position=10240\u0026retainUncommittedData=false",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:53:14 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48ED79086C07\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 14:53:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfiledownloadstreamencryptioncontext/gotestfilefiledownloadstreamencryptioncontext",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:53:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC48ED79086C07\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 14:53:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 20 Mar 2024 14:53:15 GMT",
        "x-ms-encryption-context": "test_encryption_context",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfiledownloadstreamencryptioncontext?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 14:53:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
