{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 05:18:22 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0051EBCF5426\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 05:18:22 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix/file1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 05:18:22 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0051EBD91608\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 05:18:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix/dir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 05:18:22 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0051EBE73AAB\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 05:18:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix?recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 05:18:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133474367029918379",
            "etag": "0x8DC0051EBE73AAB",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 19 Dec 2023 05:18:22 GMT",
            "name": "dir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133474367030670137",
            "etag": "0x8DC0051EBF2B339",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 19 Dec 2023 05:18:23 GMT",
            "name": "dir2",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133474367028991496",
            "etag": "0x8DC0051EBD91608",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 19 Dec 2023 05:18:22 GMT",
            "name": "file1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133474367029477116",
            "etag": "0x8DC0051EBE07EFC",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 19 Dec 2023 05:18:22 GMT",
            "name": "file2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithrecursivenoprefix?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 05:18:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
