{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C697251747\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:45 GMT",
        "x-ms-encryption-context": "test_encryption_context",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C6973327F7\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext/Test/TestFilesystemListPathsWithEncryptionContextdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:45 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC74C69746A56F\"",
        "Last-Modified": "Wed, 15 May 2024 10:05:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?recursive=true&resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133602411468720109",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 15 May 2024 10:05:46 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133602411470103919",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 15 May 2024 10:05:47 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133602411470605277",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 15 May 2024 10:05:47 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133602411468826615",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 15 May 2024 10:05:46 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "EncryptionContext": "test_encryption_context",
            "contentLength": "0",
            "creationTime": "133602411469609128",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 15 May 2024 10:05:46 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithencryptioncontext?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 15 May 2024 10:05:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
