{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsgetandcreatefileclient?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 13:49:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48E49C7EA91C\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 13:49:49 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsgetandcreatefileclient/gotestdirgetandcreatefileclient?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 13:49:48 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48E49C85BD76\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 13:49:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsgetandcreatefileclient/gotestdirgetandcreatefileclient/gotestfilegetandcreatefileclient?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 13:49:48 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48E49C8AE2C6\u0022",
        "Last-Modified": "Wed, 20 Mar 2024 13:49:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsgetandcreatefileclient/gotestdirgetandcreatefileclient?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 13:49:48 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133554161896182215",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsgetandcreatefileclient?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 20 Mar 2024 13:49:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
