{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathsrecursivewithetagcheck?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 13 Jun 2024 17:56:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8BD2216BDBB0\"",
        "Last-Modified": "Thu, 13 Jun 2024 17:56:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathsrecursivewithetagcheck/Test/TestFilesystemListPathsRecursiveWithEtagCheckfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 13 Jun 2024 17:56:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8BD2218D8944\"",
        "Last-Modified": "Thu, 13 Jun 2024 17:56:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathsrecursivewithetagcheck/Test/TestFilesystemListPathsRecursiveWithEtagCheckdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 13 Jun 2024 17:56:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8BD2219918AA\"",
        "Last-Modified": "Thu, 13 Jun 2024 17:56:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathsrecursivewithetagcheck?recursive=true&resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 13 Jun 2024 17:56:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133627749801889019",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 13 Jun 2024 17:56:20 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133627749802842282",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Thu, 13 Jun 2024 17:56:20 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133627749802084676",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 13 Jun 2024 17:56:20 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133627749802604242",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Thu, 13 Jun 2024 17:56:20 GMT",
            "name": "Sanitized",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathsrecursivewithetagcheck?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 13 Jun 2024 17:56:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
