{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 22 Dec 2023 07:34:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC02C074F3D1EB\u0022",
        "Last-Modified": "Fri, 22 Dec 2023 07:34:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 22 Dec 2023 07:34:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC02C075037A21\u0022",
        "Last-Modified": "Fri, 22 Dec 2023 07:34:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 22 Dec 2023 07:34:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC02C0750EA2EC\u0022",
        "Last-Modified": "Fri, 22 Dec 2023 07:34:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 22 Dec 2023 07:34:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBbyhLmb\u002BezQuzIYkgEYjAEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhtYXhyZXN1bHRzATAxREEzNEE5NTI3Q0JFMEUvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhNYXhSZXN1bHRzZGlyMhYAAAA=",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133477040799493861",
            "etag": "0x8DC02C074FD3006",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 22 Dec 2023 07:34:39 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133477040800637676",
            "etag": "0x8DC02C0750EA2EC",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Fri, 22 Dec 2023 07:34:40 GMT",
            "name": "Test/TestFilesystemListPathsWithMaxResultsdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBbyhLmb%2BezQuzIYkgEYjAEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhtYXhyZXN1bHRzATAxREEzNEE5NTI3Q0JFMEUvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhNYXhSZXN1bHRzZGlyMhYAAAA%3D\u0026maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
 [...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBbkotfX87jG7BUYkwEYjQEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhtYXhyZXN1bHRzATAxREEzNEE5NTI3Q0JFMEUvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhNYXhSZXN1bHRzZmlsZTIWAAAA\u0026maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 22 Dec 2023 07:34:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133477040800422673",
            "etag": "0x8DC02C0750B5B11",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Fri, 22 Dec 2023 07:34:40 GMT",
            "name": "Test/TestFilesystemListPathsWithMaxResultsfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 22 Dec 2023 07:34:40 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
