{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesetaccesscontrolifunmodifiedsincefalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 06:16:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0059F9CDA300\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 06:16:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesetaccesscontrolifunmodifiedsincefalse/gotestfilefilesetaccesscontrolifunmodifiedsincefalse?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 06:16:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC0059F9D8799A\u0022",
        "Last-Modified": "Tue, 19 Dec 2023 06:16:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesetaccesscontrolifunmodifiedsincefalse/gotestfilefilesetaccesscontrolifunmodifiedsincefalse?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Tue, 19 Dec 2023 06:15:51 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "X-Ms-Date": "Tue, 19 Dec 2023 06:16:02 GMT",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:5c6d23cc-901f-0033-1842-32508f000000\nTime:2023-12-19T06:16:02.3827686Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesetaccesscontrolifunmodifiedsincefalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Dec 2023 06:16:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
