{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:28:05 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48292CC2BF7F\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:28:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsfile1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:28:05 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48292CCB8249\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:28:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults/Test/TestFilesystemListPathsWithMaxResultsdir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:28:05 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC48292CD2B232\u0022",
        "Last-Modified": "Tue, 19 Mar 2024 15:28:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:28:05 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBbHr9SL/Lv56zQYkgEYjAEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhtYXhyZXN1bHRzATAxREE3QTEyMEE0Q0M0MTUvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhNYXhSZXN1bHRzZGlyMhYAAAA=",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133553356862059690",
            "etag": "0x8DC48292CC9F615",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 19 Mar 2024 15:28:06 GMT",
            "name": "Test",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133553356862632498",
            "etag": "0x8DC48292CD2B232",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Tue, 19 Mar 2024 15:28:06 GMT",
            "name": "Test/TestFilesystemListPathsWithMaxResultsdir1",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBbHr9SL%2FLv56zQYkgEYjAEvdGFueWFkYXRhbGFrZWFjY291bnQBMDFEQTE2NDQ0QjA2Mzg1Ni9nb2ZzZmlsZXN5c3RlbWxpc3RwYXRoc3dpdGhtYXhyZXN1bHRzATAxREE3QTEyMEE0Q0M0MTUvVGVzdC9UZXN0RmlsZXN5c3RlbUxpc3RQYXRoc1dpdGhNYXhSZXN1bHRzZGlyMhYAAAA%3D\u0026maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
 [...]
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsfilesystemlistpathswithmaxresults?continuation=VBam6Kf68KDk3ZsBGJMBGI0BL3RhbnlhZGF0YWxha2VhY2NvdW50ATAxREExNjQ0NEIwNjM4NTYvZ29mc2ZpbGVzeXN0ZW1saXN0cGF0aHN3aXRobWF4cmVzdWx0cwEwMURBN0ExMjBBNENDNDE1L1Rlc3QvVGVzdEZpbGVzeXN0ZW1MaXN0UGF0aHNXaXRoTWF4UmVzdWx0c2ZpbGUyFgAAAA%3D%3D\u0026maxResults=2\u0026recursive=true\u0026resource=filesystem",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:28:05 GMT",
        "x-ms-version": "2023-05-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-05-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133553356862421816",
            "etag": "0x8DC48292CCF7B38",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 19 Mar 2024 15:28:06 GMT",
            "name": "Test/TestFilesystemListPathsWithMaxResultsfile2",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsfilesystemlistpathswithmaxresults?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 19 Mar 2024 15:28:05 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
