{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdeletedirifetagmatchfalse?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1751F2A8D5BD\u0022",
        "Last-Modified": "Wed, 17 Jan 2024 11:46:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdeletedirifetagmatchfalse/gotestdirdeletedirifetagmatchfalse?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC1751F2B0F48E\u0022",
        "Last-Modified": "Wed, 17 Jan 2024 11:46:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.dfs.core.windows.net/gofsdeletedirifetagmatchfalse/gotestdirdeletedirifetagmatchfalse?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\u00220x8DC1751F2B0F48E\u0022",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:d6d61ea2-d01f-009e-093a-4970e5000000\nTime:2024-01-17T11:46:31.1699332Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorage.blob.core.windows.net/gofsdeletedirifetagmatchfalse?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Jan 2024 11:46:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
