{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions15355?api-version=2023-11-01&label=list-revisions-A80759",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions15355",
        "label": "list-revisions-A80759",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BYfdAekfIxSUckBzOu1dH5hep0ViO5XZM_9xGWTvxDk\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:38:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NDU=;sn=74231745"
      },
      "ResponseBody": {
        "etag": "BYfdAekfIxSUckBzOu1dH5hep0ViO5XZM_9xGWTvxDk",
        "key": "listRevisions15355",
        "label": "list-revisions-A80759",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:38:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions15355?api-version=2023-11-01&label=list-revisions-A80759",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE3NDU="
      },
      "RequestBody": {
        "key": "listRevisions15355",
        "label": "list-revisions-A80759",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-47rXWk85kc2hoQmT7CZihh6kwXyMOGN8eU8Qd6GZHk\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:38:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NDY=;sn=74231746"
      },
      "ResponseBody": {
        "etag": "-47rXWk85kc2hoQmT7CZihh6kwXyMOGN8eU8Qd6GZHk",
        "key": "listRevisions15355",
        "label": "list-revisions-A80759",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:38:38+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions15355",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE3NDk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QxGM62V3tCrlfmOy9vEsrrOa8qx6XB83Ssoab7TKZW8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NTA=;sn=74231750"
      },
      "ResponseBody": {
        "etag": "QxGM62V3tCrlfmOy9vEsrrOa8qx6XB83Ssoab7TKZW8",
        "items": [
          {
            "etag": "-47rXWk85kc2hoQmT7CZihh6kwXyMOGN8eU8Qd6GZHk",
            "key": "listRevisions15355",
            "label": "list-revisions-A80759",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:38:38+00:00"
          },
          {
            "etag": "ITW3r7wxKhF6gQLi03hEA17R13LXAzbQ0oN12JeaHNs",
            "key": "listRevisions15355",
            "label": "list-revisions-B3622",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:38:38+00:00"
          },
          {
            "etag": "VbzKDRXenO4TJS5AN54EHDbXG1nM_zwG9IKf79R1puY",
            "key": "listRevisions15355",
            "label": "list-revisions-B3622",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:38:38+00:00"
          },
          {
            "etag": "BYfdAekfIxSUckBzOu1dH5hep0ViO5XZM_9xGWTvxDk",
            "key": "listRevisions15355",
            "label": "list-revisions-A80759",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:38:36+00:00"
          }
        ]
      }
    },
[...]
