{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions72334?api-version=2023-11-01&label=list-revisions-A69369",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions72334",
        "label": "list-revisions-A69369",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BUFvSLUfp7yuJou2WG8D1XoqGZ6O3IXa3QKdGdGIiY8\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:15:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0Njg3;sn=59784687"
      },
      "ResponseBody": {
        "etag": "BUFvSLUfp7yuJou2WG8D1XoqGZ6O3IXa3QKdGdGIiY8",
        "key": "listRevisions72334",
        "label": "list-revisions-A69369",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:15:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions72334?api-version=2023-11-01&label=list-revisions-A69369",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0Njg3"
      },
      "RequestBody": {
        "key": "listRevisions72334",
        "label": "list-revisions-A69369",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-UgSgR6ngMCQ7QdfC6YDKvU2ZLncTppXc8CpKehhy6c\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:15:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0Njg4;sn=59784688"
      },
      "ResponseBody": {
        "etag": "-UgSgR6ngMCQ7QdfC6YDKvU2ZLncTppXc8CpKehhy6c",
        "key": "listRevisions72334",
        "label": "list-revisions-A69369",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:15:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions72334",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2024-10-08T17:15:58.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0Njkx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0wsfZs7wRTAAQySXy-bvBY2jRlY8Oemu3JcRnCzKkLQ\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions72334>; rel=\"original\"",
        "Memento-Datetime": "Tue, 08 Oct 2024 17:15:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0Njky;sn=59784692"
      },
      "ResponseBody": {
        "etag": "0wsfZs7wRTAAQySXy-bvBY2jRlY8Oemu3JcRnCzKkLQ",
        "items": [
          {
            "etag": "BUFvSLUfp7yuJou2WG8D1XoqGZ6O3IXa3QKdGdGIiY8",
            "key": "listRevisions72334",
            "label": "list-revisions-A69369",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-10-08T17:15:58+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions72334",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2024-10-08T17:15:58.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0Njky"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0wsfZs7wRTAAQySXy-bvBY2jRlY8Oemu3JcRnCzKkLQ\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions72334>; rel=\"original\"",
        "Memento-Datetime": "Tue, 08 Oct 2024 17:15:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0Njky;sn=59784692"
      },
      "ResponseBody": {
        "etag": "0wsfZs7wRTAAQySXy-bvBY2jRlY8Oemu3JcRnCzKkLQ",
        "items": [
          {
            "etag": "BUFvSLUfp7yuJou2WG8D1XoqGZ6O3IXa3QKdGdGIiY8",
            "key": "listRevisions72334",
            "label": "list-revisions-A69369",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-10-08T17:15:58+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A69369",
    "list-revisions-B": "list-revisions-B2104",
    "listRevisions": "listRevisions72334"
  }
}
