{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions38832?api-version=2023-11-01&label=list-revisions-A14373",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions38832",
        "label": "list-revisions-A14373",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZcHIRlDkVZ1Ue2pusWBWogA3_EUxvJp2uxF-g1jQ_rE\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:35:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjAzNjU=;sn=75060365",
        "x-ms-date": "Tue, 04 Nov 2025 18:35:54 GMT"
      },
      "ResponseBody": {
        "etag": "ZcHIRlDkVZ1Ue2pusWBWogA3_EUxvJp2uxF-g1jQ_rE",
        "key": "listRevisions38832",
        "label": "list-revisions-A14373",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:35:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions38832?api-version=2023-11-01&label=list-revisions-A14373",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjAzNjU="
      },
      "RequestBody": {
        "key": "listRevisions38832",
        "label": "list-revisions-A14373",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RBPFvnG2w_D5KvWciOFFhsu_jhTWR3VEEiI3Ql6WoOo\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:35:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjAzNjY=;sn=75060366",
        "x-ms-date": "Tue, 04 Nov 2025 18:35:55 GMT"
      },
      "ResponseBody": {
        "etag": "RBPFvnG2w_D5KvWciOFFhsu_jhTWR3VEEiI3Ql6WoOo",
        "key": "listRevisions38832",
        "label": "list-revisions-A14373",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:35:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions38832",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjAzNjk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6RJNTEVpm_HrE-hMysunr0Bx5sHi3uMQ64WtWiuy42M\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjAzNzA=;sn=75060370",
        "x-ms-date": "Tue, 04 Nov 2025 18:35:56 GMT"
      },
      "ResponseBody": {
        "etag": "6RJNTEVpm_HrE-hMysunr0Bx5sHi3uMQ64WtWiuy42M",
        "items": [
          {
            "etag": "tRe5s3MqLixTjGCQfz8HvL_jS2UViKwiTIZXBn56SQ8",
            "key": "listRevisions38832",
            "label": "list-revisions-B6865",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:35:56+00:00"
          },
          {
            "etag": "RBPFvnG2w_D5KvWciOFFhsu_jhTWR3VEEiI3Ql6WoOo",
            "key": "listRevisions38832",
            "label": "list-revisions-A14373",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:35:55+00:00"
          },
          {
            "etag": "S8qEuZwsLC4foYHWzwTsma-Ux6DkFt2PN2T0VTA_qYs",
            "key": "listRevisions38832",
            "label": "list-revisions-B6865",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:35:55+00:00"
          },
          {
            "etag": "ZcHIRlDkVZ1Ue2pusWBWogA3_EUxvJp2uxF-g1jQ_rE",
            "key": "listRevisions38832",
            "label": "list-revisions-A14373",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:35:54+00:00"
          }
        ]
      }
    },
[...]
