{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions53413?api-version=2023-11-01&label=list-revisions-A45480",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions53413",
        "label": "list-revisions-A45480",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SBPda6L51CGnnolDbNZizZce_QlngnkQT1kMV2FP_dE\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:07:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0ODk3OQ==;sn=103848979",
        "x-ms-date": "Mon, 26 Jan 2026 03:07:38 GMT"
      },
      "ResponseBody": {
        "etag": "SBPda6L51CGnnolDbNZizZce_QlngnkQT1kMV2FP_dE",
        "key": "listRevisions53413",
        "label": "list-revisions-A45480",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:07:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions53413?api-version=2023-11-01&label=list-revisions-A45480",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0ODk3OQ=="
      },
      "RequestBody": {
        "key": "listRevisions53413",
        "label": "list-revisions-A45480",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oS_2wxWctX2Rrm5K8IT1HoBk4KXXaXEk2yPjf89f8wQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:07:39 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0ODk4MA==;sn=103848980",
        "x-ms-date": "Mon, 26 Jan 2026 03:07:39 GMT"
      },
      "ResponseBody": {
        "etag": "oS_2wxWctX2Rrm5K8IT1HoBk4KXXaXEk2yPjf89f8wQ",
        "key": "listRevisions53413",
        "label": "list-revisions-A45480",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:07:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions5341*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0ODk4Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Hc0B01l-4fA8lNaMXkbSFgplRJpbFkOdrRcUTgQ0Xyg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0ODk4NA==;sn=103848984",
        "x-ms-date": "Mon, 26 Jan 2026 03:07:39 GMT"
      },
      "ResponseBody": {
        "etag": "Hc0B01l-4fA8lNaMXkbSFgplRJpbFkOdrRcUTgQ0Xyg",
        "items": [
          {
            "etag": "lMfeYFsQNuWWbuUPB346gCCiYomjeNma7kIHKGVRdj8",
            "key": "listRevisions53413",
            "label": "list-revisions-B99985",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:07:39+00:00"
          },
          {
            "etag": "oS_2wxWctX2Rrm5K8IT1HoBk4KXXaXEk2yPjf89f8wQ",
            "key": "listRevisions53413",
            "label": "list-revisions-A45480",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:07:39+00:00"
          },
          {
            "etag": "tyitEtAeC8MWTTyivtH21jCMq4qfVRvn1LpfEQDySU4",
            "key": "listRevisions53413",
            "label": "list-revisions-B99985",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:07:39+00:00"
          },
          {
            "etag": "SBPda6L51CGnnolDbNZizZce_QlngnkQT1kMV2FP_dE",
            "key": "listRevisions53413",
            "label": "list-revisions-A45480",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:07:38+00:00"
          }
        ]
      }
    },
[...]
