{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions25338?api-version=2023-11-01&label=list-revisions-A39657",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions25338",
        "label": "list-revisions-A39657",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sathFgRqYEX1DixVeBG5im-KMBw-8VQjAdOT3G10XHQ\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:27:06 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU2NzY=;sn=74775676",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:06 GMT"
      },
      "ResponseBody": {
        "etag": "sathFgRqYEX1DixVeBG5im-KMBw-8VQjAdOT3G10XHQ",
        "key": "listRevisions25338",
        "label": "list-revisions-A39657",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:27:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions25338?api-version=2023-11-01&label=list-revisions-A39657",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzU2NzY="
      },
      "RequestBody": {
        "key": "listRevisions25338",
        "label": "list-revisions-A39657",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OfG6pTEgFqaveif8R3I6N_THv12KjB1FW-g0lDtvRUI\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:27:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU2Nzc=;sn=74775677",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:07 GMT"
      },
      "ResponseBody": {
        "etag": "OfG6pTEgFqaveif8R3I6N_THv12KjB1FW-g0lDtvRUI",
        "key": "listRevisions25338",
        "label": "list-revisions-A39657",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:27:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A3965*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ImrlFbhepW4g_x5En_kHFvkUr3HYe23JFDpRMKvT59Y\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODE=;sn=74775681",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:07 GMT"
      },
      "ResponseBody": {
        "etag": "ImrlFbhepW4g_x5En_kHFvkUr3HYe23JFDpRMKvT59Y",
        "items": [
          {
            "etag": "OfG6pTEgFqaveif8R3I6N_THv12KjB1FW-g0lDtvRUI",
            "key": "listRevisions25338",
            "label": "list-revisions-A39657",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:07+00:00"
          },
          {
            "etag": "sathFgRqYEX1DixVeBG5im-KMBw-8VQjAdOT3G10XHQ",
            "key": "listRevisions25338",
            "label": "list-revisions-A39657",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:06+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A3965*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ImrlFbhepW4g_x5En_kHFvkUr3HYe23JFDpRMKvT59Y\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODE=;sn=74775681",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:08 GMT"
      },
      "ResponseBody": {
        "etag": "ImrlFbhepW4g_x5En_kHFvkUr3HYe23JFDpRMKvT59Y",
        "items": [
          {
            "etag": "OfG6pTEgFqaveif8R3I6N_THv12KjB1FW-g0lDtvRUI",
            "key": "listRevisions25338",
            "label": "list-revisions-A39657",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:07+00:00"
          },
          {
            "etag": "sathFgRqYEX1DixVeBG5im-KMBw-8VQjAdOT3G10XHQ",
            "key": "listRevisions25338",
            "label": "list-revisions-A39657",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:06+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A39657",
    "list-revisions-B": "list-revisions-B51194",
    "listRevisions": "listRevisions25338"
  }
}
