{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions65146?api-version=2023-11-01&label=list-revisions-A21841",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A21841",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3cVHzMt0RgvCjUg4Jsm8xIVnyUVXmZyAe9bZi7vRSnU\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk0MQ==;sn=115291941",
        "x-ms-date": "Thu, 28 May 2026 21:49:34 GMT"
      },
      "ResponseBody": {
        "etag": "3cVHzMt0RgvCjUg4Jsm8xIVnyUVXmZyAe9bZi7vRSnU",
        "key": "listRevisions65146",
        "label": "list-revisions-A21841",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions65146?api-version=2023-11-01&label=list-revisions-A21841",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk0MQ=="
      },
      "RequestBody": {
        "label": "list-revisions-A21841",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jmW4l8gSvLdEq6Zd7YTZiZq8nq6MIIOIi0HxGH8rIBs\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk0Mg==;sn=115291942",
        "x-ms-date": "Thu, 28 May 2026 21:49:35 GMT"
      },
      "ResponseBody": {
        "etag": "jmW4l8gSvLdEq6Zd7YTZiZq8nq6MIIOIi0HxGH8rIBs",
        "key": "listRevisions65146",
        "label": "list-revisions-A21841",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions65146",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk0NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"G8EcuZGR8iiafsSeSmzgLLAGmn0sVaoxclAlcBSFSbE\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk0Ng==;sn=115291946",
        "x-ms-date": "Thu, 28 May 2026 21:49:35 GMT"
      },
      "ResponseBody": {
        "etag": "G8EcuZGR8iiafsSeSmzgLLAGmn0sVaoxclAlcBSFSbE",
        "items": [
          {
            "etag": "2ZJXksCF-3ZFE9vWReKjh1QgWVt7YZgdhEalPFrkFzU",
            "key": "listRevisions65146",
            "label": "list-revisions-B76005",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:49:35+00:00"
          },
          {
            "etag": "jmW4l8gSvLdEq6Zd7YTZiZq8nq6MIIOIi0HxGH8rIBs",
            "key": "listRevisions65146",
            "label": "list-revisions-A21841",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:49:35+00:00"
          },
          {
            "etag": "yOsRzi0XgqSwFqm9LrJ93SoNEbdi17OWSNgU4NcD3C0",
            "key": "listRevisions65146",
            "label": "list-revisions-B76005",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:49:35+00:00"
          },
          {
            "etag": "3cVHzMt0RgvCjUg4Jsm8xIVnyUVXmZyAe9bZi7vRSnU",
            "key": "listRevisions65146",
            "label": "list-revisions-A21841",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:49:34+00:00"
          }
        ]
      }
    },
[...]
