{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions61969?api-version=2023-11-01&label=list-revisions-A50038",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions61969",
        "label": "list-revisions-A50038",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TaXrKvFK9zFzLcnfIoCK66FvbESXpGNYI_claXm_eJU\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:51:56 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzEy;sn=2805712"
      },
      "ResponseBody": {
        "etag": "TaXrKvFK9zFzLcnfIoCK66FvbESXpGNYI_claXm_eJU",
        "key": "listRevisions61969",
        "label": "list-revisions-A50038",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:51:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions61969?api-version=2023-11-01&label=list-revisions-A50038",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1NzEy"
      },
      "RequestBody": {
        "key": "listRevisions61969",
        "label": "list-revisions-A50038",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gOAbvIXf5tGN4YlCUbeW76YXgjZoPnRID_EuDNhwFwI\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:51:57 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzEz;sn=2805713"
      },
      "ResponseBody": {
        "etag": "gOAbvIXf5tGN4YlCUbeW76YXgjZoPnRID_EuDNhwFwI",
        "key": "listRevisions61969",
        "label": "list-revisions-A50038",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:51:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions61969",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1NzE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Mp9xuHy_jaX4RcYiC1JvQhkncvB8kRPLV7_2laLw_Zk\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzE3;sn=2805717"
      },
      "ResponseBody": {
        "etag": "Mp9xuHy_jaX4RcYiC1JvQhkncvB8kRPLV7_2laLw_Zk",
        "items": [
          {
            "etag": "chVv6DFEo20IrUP2ZWJlHzo6GY0nv2muoZVI4e6uOOA",
            "key": "listRevisions61969",
            "label": "list-revisions-B39679",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:57+00:00"
          },
          {
            "etag": "gOAbvIXf5tGN4YlCUbeW76YXgjZoPnRID_EuDNhwFwI",
            "key": "listRevisions61969",
            "label": "list-revisions-A50038",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:57+00:00"
          },
          {
            "etag": "Jd4-NmR8MXX8KIuuWOeH7XWx9ErvaWT3DkxNqoYYyjg",
            "key": "listRevisions61969",
            "label": "list-revisions-B39679",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:57+00:00"
          },
          {
            "etag": "TaXrKvFK9zFzLcnfIoCK66FvbESXpGNYI_claXm_eJU",
            "key": "listRevisions61969",
            "label": "list-revisions-A50038",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:56+00:00"
          }
        ]
      }
    },
[...]
