{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions39690?api-version=2023-11-01&label=list-revisions-A2318",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions39690",
        "label": "list-revisions-A2318",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MI-T8ANU9_IV8mST3GeWRabLYEJHgK_4uB69ZrOOzls\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:51:51 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzA2;sn=2805706"
      },
      "ResponseBody": {
        "etag": "MI-T8ANU9_IV8mST3GeWRabLYEJHgK_4uB69ZrOOzls",
        "key": "listRevisions39690",
        "label": "list-revisions-A2318",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:51:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions39690?api-version=2023-11-01&label=list-revisions-A2318",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1NzA2"
      },
      "RequestBody": {
        "key": "listRevisions39690",
        "label": "list-revisions-A2318",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uHnISDyZHVkcyaloTIGbrWntRjAQByalAnmaPWXlMxs\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:51:52 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzA3;sn=2805707"
      },
      "ResponseBody": {
        "etag": "uHnISDyZHVkcyaloTIGbrWntRjAQByalAnmaPWXlMxs",
        "key": "listRevisions39690",
        "label": "list-revisions-A2318",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:51:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A231*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1NzEw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZbiAr4dos6sYc-TCikW78tkUSaZuIhThk6tZgyLjfEo\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzEx;sn=2805711"
      },
      "ResponseBody": {
        "etag": "ZbiAr4dos6sYc-TCikW78tkUSaZuIhThk6tZgyLjfEo",
        "items": [
          {
            "etag": "uHnISDyZHVkcyaloTIGbrWntRjAQByalAnmaPWXlMxs",
            "key": "listRevisions39690",
            "label": "list-revisions-A2318",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:52+00:00"
          },
          {
            "etag": "MI-T8ANU9_IV8mST3GeWRabLYEJHgK_4uB69ZrOOzls",
            "key": "listRevisions39690",
            "label": "list-revisions-A2318",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A231*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1NzEx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZbiAr4dos6sYc-TCikW78tkUSaZuIhThk6tZgyLjfEo\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1NzEx;sn=2805711"
      },
      "ResponseBody": {
        "etag": "ZbiAr4dos6sYc-TCikW78tkUSaZuIhThk6tZgyLjfEo",
        "items": [
          {
            "etag": "uHnISDyZHVkcyaloTIGbrWntRjAQByalAnmaPWXlMxs",
            "key": "listRevisions39690",
            "label": "list-revisions-A2318",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:52+00:00"
          },
          {
            "etag": "MI-T8ANU9_IV8mST3GeWRabLYEJHgK_4uB69ZrOOzls",
            "key": "listRevisions39690",
            "label": "list-revisions-A2318",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:51:51+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A2318",
    "list-revisions-B": "list-revisions-B98310",
    "listRevisions": "listRevisions39690"
  }
}
