{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions47583?api-version=2023-11-01&label=list-revisions-A52207",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions47583",
        "label": "list-revisions-A52207",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LUEqt-32-HNX0jPNGdqHvHO9Oz3IxdvqEqT1YBxqDFM\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM1NA==;sn=103584354",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:01 GMT"
      },
      "ResponseBody": {
        "etag": "LUEqt-32-HNX0jPNGdqHvHO9Oz3IxdvqEqT1YBxqDFM",
        "key": "listRevisions47583",
        "label": "list-revisions-A52207",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:56:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions47583?api-version=2023-11-01&label=list-revisions-A52207",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDM1NA=="
      },
      "RequestBody": {
        "key": "listRevisions47583",
        "label": "list-revisions-A52207",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i6_CyPe3I6vt7tmeq4KMCmXOqGyKCdF1Yd3yp21Jyq4\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:56:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM1NQ==;sn=103584355",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:02 GMT"
      },
      "ResponseBody": {
        "etag": "i6_CyPe3I6vt7tmeq4KMCmXOqGyKCdF1Yd3yp21Jyq4",
        "key": "listRevisions47583",
        "label": "list-revisions-A52207",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:56:02+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions47583",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-01-23T08:56:01.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDM1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QhMm4TlJ4A23JyOG1hHVg5u5rfy4_rp7qLHrvkG99Co\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions47583>; rel=\"original\"",
        "Memento-Datetime": "Fri, 23 Jan 2026 08:56:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM1OQ==;sn=103584359",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:03 GMT"
      },
      "ResponseBody": {
        "etag": "QhMm4TlJ4A23JyOG1hHVg5u5rfy4_rp7qLHrvkG99Co",
        "items": [
          {
            "etag": "LUEqt-32-HNX0jPNGdqHvHO9Oz3IxdvqEqT1YBxqDFM",
            "key": "listRevisions47583",
            "label": "list-revisions-A52207",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:56:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions47583",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-01-23T08:56:01.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDM1OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QhMm4TlJ4A23JyOG1hHVg5u5rfy4_rp7qLHrvkG99Co\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions47583>; rel=\"original\"",
        "Memento-Datetime": "Fri, 23 Jan 2026 08:56:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDM1OQ==;sn=103584359",
        "x-ms-date": "Fri, 23 Jan 2026 08:56:03 GMT"
      },
      "ResponseBody": {
        "etag": "QhMm4TlJ4A23JyOG1hHVg5u5rfy4_rp7qLHrvkG99Co",
        "items": [
          {
            "etag": "LUEqt-32-HNX0jPNGdqHvHO9Oz3IxdvqEqT1YBxqDFM",
            "key": "listRevisions47583",
            "label": "list-revisions-A52207",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:56:01+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A52207",
    "list-revisions-B": "list-revisions-B23818",
    "listRevisions": "listRevisions47583"
  }
}
