{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions56741?api-version=2023-11-01&label=list-revisions-A68353",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions56741",
        "label": "list-revisions-A68353",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D5p3lqGCd1_bASKq-eeVMUN0-uAWJCjPNm1DCij-oCg\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:16:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTU1NQ==;sn=102479555",
        "x-ms-date": "Tue, 13 Jan 2026 06:16:51 GMT"
      },
      "ResponseBody": {
        "etag": "D5p3lqGCd1_bASKq-eeVMUN0-uAWJCjPNm1DCij-oCg",
        "key": "listRevisions56741",
        "label": "list-revisions-A68353",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:16:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions56741?api-version=2023-11-01&label=list-revisions-A68353",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTU1NQ=="
      },
      "RequestBody": {
        "key": "listRevisions56741",
        "label": "list-revisions-A68353",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KrYDWIvjWJbsgHP2IUalX0X48sHU4vYkdXYyB8uoofI\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:16:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTU1Ng==;sn=102479556",
        "x-ms-date": "Tue, 13 Jan 2026 06:16:52 GMT"
      },
      "ResponseBody": {
        "etag": "KrYDWIvjWJbsgHP2IUalX0X48sHU4vYkdXYyB8uoofI",
        "key": "listRevisions56741",
        "label": "list-revisions-A68353",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:16:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A68353",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTU1OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"c-JczScgCLxqWomSmjQ9B_1sswNbWcMdoIPcpxT3t7g\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTU2MA==;sn=102479560",
        "x-ms-date": "Tue, 13 Jan 2026 06:16:52 GMT"
      },
      "ResponseBody": {
        "etag": "c-JczScgCLxqWomSmjQ9B_1sswNbWcMdoIPcpxT3t7g",
        "items": [
          {
            "etag": "KrYDWIvjWJbsgHP2IUalX0X48sHU4vYkdXYyB8uoofI",
            "key": "listRevisions56741",
            "label": "list-revisions-A68353",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:16:52+00:00"
          },
          {
            "etag": "D5p3lqGCd1_bASKq-eeVMUN0-uAWJCjPNm1DCij-oCg",
            "key": "listRevisions56741",
            "label": "list-revisions-A68353",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:16:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A68353",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3OTU2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"c-JczScgCLxqWomSmjQ9B_1sswNbWcMdoIPcpxT3t7g\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3OTU2MA==;sn=102479560",
        "x-ms-date": "Tue, 13 Jan 2026 06:16:52 GMT"
      },
      "ResponseBody": {
        "etag": "c-JczScgCLxqWomSmjQ9B_1sswNbWcMdoIPcpxT3t7g",
        "items": [
          {
            "etag": "KrYDWIvjWJbsgHP2IUalX0X48sHU4vYkdXYyB8uoofI",
            "key": "listRevisions56741",
            "label": "list-revisions-A68353",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:16:52+00:00"
          },
          {
            "etag": "D5p3lqGCd1_bASKq-eeVMUN0-uAWJCjPNm1DCij-oCg",
            "key": "listRevisions56741",
            "label": "list-revisions-A68353",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:16:51+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A68353",
    "list-revisions-B": "list-revisions-B70360",
    "listRevisions": "listRevisions56741"
  }
}
