{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions54458?api-version=2023-11-01&label=list-revisions-A8355",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A8355",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G5WXBHLvAUgzL5BbwHK1MzWGWCjB3p-fv2WRLOqPaJc\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk1Mw==;sn=115291953",
        "x-ms-date": "Thu, 28 May 2026 21:49:41 GMT"
      },
      "ResponseBody": {
        "etag": "G5WXBHLvAUgzL5BbwHK1MzWGWCjB3p-fv2WRLOqPaJc",
        "key": "listRevisions54458",
        "label": "list-revisions-A8355",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions54458?api-version=2023-11-01&label=list-revisions-A8355",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk1Mw=="
      },
      "RequestBody": {
        "label": "list-revisions-A8355",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7d8haHbtv2LFDzEnxSVJzwfsmwxZuynuyCk2vcJE-rM\"",
        "Last-Modified": "Thu, 28 May 2026 21:49:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk1NA==;sn=115291954",
        "x-ms-date": "Thu, 28 May 2026 21:49:42 GMT"
      },
      "ResponseBody": {
        "etag": "7d8haHbtv2LFDzEnxSVJzwfsmwxZuynuyCk2vcJE-rM",
        "key": "listRevisions54458",
        "label": "list-revisions-A8355",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:49:42+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions54458",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-28T21:49:41.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MjSpmSvCBGUrNvdVp1ZmpcdPJvaA4tJdRlc9m22q2Yg\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions54458>; rel=\"original\"",
        "Memento-Datetime": "Thu, 28 May 2026 21:49:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk1OA==;sn=115291958",
        "x-ms-date": "Thu, 28 May 2026 21:49:42 GMT"
      },
      "ResponseBody": {
        "etag": "MjSpmSvCBGUrNvdVp1ZmpcdPJvaA4tJdRlc9m22q2Yg",
        "items": [
          {
            "etag": "G5WXBHLvAUgzL5BbwHK1MzWGWCjB3p-fv2WRLOqPaJc",
            "key": "listRevisions54458",
            "label": "list-revisions-A8355",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:49:41+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions54458",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2026-05-28T21:49:41.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MTk1OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MjSpmSvCBGUrNvdVp1ZmpcdPJvaA4tJdRlc9m22q2Yg\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions54458>; rel=\"original\"",
        "Memento-Datetime": "Thu, 28 May 2026 21:49:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MTk1OA==;sn=115291958",
        "x-ms-date": "Thu, 28 May 2026 21:49:42 GMT"
      },
      "ResponseBody": {
        "etag": "MjSpmSvCBGUrNvdVp1ZmpcdPJvaA4tJdRlc9m22q2Yg",
        "items": [
          {
            "etag": "G5WXBHLvAUgzL5BbwHK1MzWGWCjB3p-fv2WRLOqPaJc",
            "key": "listRevisions54458",
            "label": "list-revisions-A8355",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:49:41+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A8355",
    "list-revisions-B": "list-revisions-B80358",
    "listRevisions": "listRevisions54458"
  }
}
