{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions73083?api-version=2023-11-01&label=list-revisions-A45405",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions73083",
        "label": "list-revisions-A45405",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"a7LlC7t-JP3aNzb3x3mn5y0BeU0O0JDctWeETRXgSF8\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:32:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyNjA=;sn=75083260",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:24 GMT"
      },
      "ResponseBody": {
        "etag": "a7LlC7t-JP3aNzb3x3mn5y0BeU0O0JDctWeETRXgSF8",
        "key": "listRevisions73083",
        "label": "list-revisions-A45405",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:32:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions73083?api-version=2023-11-01&label=list-revisions-A45405",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMyNjA="
      },
      "RequestBody": {
        "key": "listRevisions73083",
        "label": "list-revisions-A45405",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"H1OX8fS2t6gOOoHm5YmhibXHtdOADv5DsY1lf5cETXw\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:32:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyNjE=;sn=75083261",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:25 GMT"
      },
      "ResponseBody": {
        "etag": "H1OX8fS2t6gOOoHm5YmhibXHtdOADv5DsY1lf5cETXw",
        "key": "listRevisions73083",
        "label": "list-revisions-A45405",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:32:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A4540*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMyNjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"N_cnQh2dkizHPHnA7T7Ent__uqIAZp2XyTxsJOyFd28\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyNjU=;sn=75083265",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:25 GMT"
      },
      "ResponseBody": {
        "etag": "N_cnQh2dkizHPHnA7T7Ent__uqIAZp2XyTxsJOyFd28",
        "items": [
          {
            "etag": "H1OX8fS2t6gOOoHm5YmhibXHtdOADv5DsY1lf5cETXw",
            "key": "listRevisions73083",
            "label": "list-revisions-A45405",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:32:25+00:00"
          },
          {
            "etag": "a7LlC7t-JP3aNzb3x3mn5y0BeU0O0JDctWeETRXgSF8",
            "key": "listRevisions73083",
            "label": "list-revisions-A45405",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:32:24+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A4540*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMyNjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"N_cnQh2dkizHPHnA7T7Ent__uqIAZp2XyTxsJOyFd28\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyNjU=;sn=75083265",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:26 GMT"
      },
      "ResponseBody": {
        "etag": "N_cnQh2dkizHPHnA7T7Ent__uqIAZp2XyTxsJOyFd28",
        "items": [
          {
            "etag": "H1OX8fS2t6gOOoHm5YmhibXHtdOADv5DsY1lf5cETXw",
            "key": "listRevisions73083",
            "label": "list-revisions-A45405",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:32:25+00:00"
          },
          {
            "etag": "a7LlC7t-JP3aNzb3x3mn5y0BeU0O0JDctWeETRXgSF8",
            "key": "listRevisions73083",
            "label": "list-revisions-A45405",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:32:24+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A45405",
    "list-revisions-B": "list-revisions-B76803",
    "listRevisions": "listRevisions73083"
  }
}
