{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions16823?api-version=2023-11-01&label=list-revisions-A82053",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions16823",
        "label": "list-revisions-A82053",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IXcOLZgjIksOedPcWqPYK4RqfLN-0WZgtkGQFCIR8h8\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:46:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE5OTY=;sn=73801996"
      },
      "ResponseBody": {
        "etag": "IXcOLZgjIksOedPcWqPYK4RqfLN-0WZgtkGQFCIR8h8",
        "key": "listRevisions16823",
        "label": "list-revisions-A82053",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:46:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions16823?api-version=2023-11-01&label=list-revisions-A82053",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE5OTY="
      },
      "RequestBody": {
        "key": "listRevisions16823",
        "label": "list-revisions-A82053",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ox2MaSVeCXTCqpWZzjX_KUhynAggYxWWGQ770HGvcg0\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:46:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE5OTc=;sn=73801997"
      },
      "ResponseBody": {
        "etag": "Ox2MaSVeCXTCqpWZzjX_KUhynAggYxWWGQ770HGvcg0",
        "key": "listRevisions16823",
        "label": "list-revisions-A82053",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:46:41+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A82053",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwMDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mhnvJJtkF5BHlx60TWU5xjqIQYAFvzNHQBbSfUy-pQc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwMDE=;sn=73802001"
      },
      "ResponseBody": {
        "etag": "mhnvJJtkF5BHlx60TWU5xjqIQYAFvzNHQBbSfUy-pQc",
        "items": [
          {
            "etag": "Ox2MaSVeCXTCqpWZzjX_KUhynAggYxWWGQ770HGvcg0",
            "key": "listRevisions16823",
            "label": "list-revisions-A82053",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:41+00:00"
          },
          {
            "etag": "IXcOLZgjIksOedPcWqPYK4RqfLN-0WZgtkGQFCIR8h8",
            "key": "listRevisions16823",
            "label": "list-revisions-A82053",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:40+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A82053",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwMDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mhnvJJtkF5BHlx60TWU5xjqIQYAFvzNHQBbSfUy-pQc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwMDE=;sn=73802001"
      },
      "ResponseBody": {
        "etag": "mhnvJJtkF5BHlx60TWU5xjqIQYAFvzNHQBbSfUy-pQc",
        "items": [
          {
            "etag": "Ox2MaSVeCXTCqpWZzjX_KUhynAggYxWWGQ770HGvcg0",
            "key": "listRevisions16823",
            "label": "list-revisions-A82053",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:41+00:00"
          },
          {
            "etag": "IXcOLZgjIksOedPcWqPYK4RqfLN-0WZgtkGQFCIR8h8",
            "key": "listRevisions16823",
            "label": "list-revisions-A82053",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:40+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A82053",
    "list-revisions-B": "list-revisions-B76935",
    "listRevisions": "listRevisions16823"
  }
}
