{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions48033?api-version=2023-11-01&label=list-revisions-A55121",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions48033",
        "label": "list-revisions-A55121",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OEHTEnwhl0P_78gXrqiPIZHv3tW7zbQVMwWYMmAo6FY\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:32:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyNzg=;sn=75083278",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:37 GMT"
      },
      "ResponseBody": {
        "etag": "OEHTEnwhl0P_78gXrqiPIZHv3tW7zbQVMwWYMmAo6FY",
        "key": "listRevisions48033",
        "label": "list-revisions-A55121",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:32:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions48033?api-version=2023-11-01&label=list-revisions-A55121",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMyNzg="
      },
      "RequestBody": {
        "key": "listRevisions48033",
        "label": "list-revisions-A55121",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NcTBRCnw_yCJymVvtPSq1oQ0TT1dZWloyjogn3S9oD4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:32:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyNzk=;sn=75083279",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:38 GMT"
      },
      "ResponseBody": {
        "etag": "NcTBRCnw_yCJymVvtPSq1oQ0TT1dZWloyjogn3S9oD4",
        "key": "listRevisions48033",
        "label": "list-revisions-A55121",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:32:38+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions48033",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-11-05T07:32:37.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMyODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"g_lI-tisgBHXQuco5vtVqR-l2JxQHQwNCRAx0n7ezCs\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions48033>; rel=\"original\"",
        "Memento-Datetime": "Wed, 05 Nov 2025 07:32:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyODM=;sn=75083283",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:38 GMT"
      },
      "ResponseBody": {
        "etag": "g_lI-tisgBHXQuco5vtVqR-l2JxQHQwNCRAx0n7ezCs",
        "items": [
          {
            "etag": "OEHTEnwhl0P_78gXrqiPIZHv3tW7zbQVMwWYMmAo6FY",
            "key": "listRevisions48033",
            "label": "list-revisions-A55121",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:32:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions48033",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-11-05T07:32:37.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODMyODM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"g_lI-tisgBHXQuco5vtVqR-l2JxQHQwNCRAx0n7ezCs\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions48033>; rel=\"original\"",
        "Memento-Datetime": "Wed, 05 Nov 2025 07:32:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODMyODM=;sn=75083283",
        "x-ms-date": "Wed, 05 Nov 2025 07:32:39 GMT"
      },
      "ResponseBody": {
        "etag": "g_lI-tisgBHXQuco5vtVqR-l2JxQHQwNCRAx0n7ezCs",
        "items": [
          {
            "etag": "OEHTEnwhl0P_78gXrqiPIZHv3tW7zbQVMwWYMmAo6FY",
            "key": "listRevisions48033",
            "label": "list-revisions-A55121",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:32:37+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A55121",
    "list-revisions-B": "list-revisions-B3227",
    "listRevisions": "listRevisions48033"
  }
}
