{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions71627?api-version=2023-11-01&label=list-revisions-A65315",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "list-revisions-A65315",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sanqxFvrVdjZyCUITsDMwqhb86lOR-KnUGhDiRVhKvs\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg1Nw==;sn=113152857",
        "x-ms-date": "Thu, 07 May 2026 20:24:52 GMT"
      },
      "ResponseBody": {
        "etag": "sanqxFvrVdjZyCUITsDMwqhb86lOR-KnUGhDiRVhKvs",
        "key": "listRevisions71627",
        "label": "list-revisions-A65315",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:24:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions71627?api-version=2023-11-01&label=list-revisions-A65315",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjg1Nw=="
      },
      "RequestBody": {
        "label": "list-revisions-A65315",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LGxacRGZe4aiLWqKZMSqfIw_T6u1a5eni_nG6NeOWg0\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg1OA==;sn=113152858",
        "x-ms-date": "Thu, 07 May 2026 20:24:53 GMT"
      },
      "ResponseBody": {
        "etag": "LGxacRGZe4aiLWqKZMSqfIw_T6u1a5eni_nG6NeOWg0",
        "key": "listRevisions71627",
        "label": "list-revisions-A65315",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:24:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A6531*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjg2MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Q1vYKynblSDz86c-vk1kcnnlSpOQbqeR9yQxhPJVNL0\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg2Mg==;sn=113152862",
        "x-ms-date": "Thu, 07 May 2026 20:24:53 GMT"
      },
      "ResponseBody": {
        "etag": "Q1vYKynblSDz86c-vk1kcnnlSpOQbqeR9yQxhPJVNL0",
        "items": [
          {
            "etag": "LGxacRGZe4aiLWqKZMSqfIw_T6u1a5eni_nG6NeOWg0",
            "key": "listRevisions71627",
            "label": "list-revisions-A65315",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:24:53+00:00"
          },
          {
            "etag": "sanqxFvrVdjZyCUITsDMwqhb86lOR-KnUGhDiRVhKvs",
            "key": "listRevisions71627",
            "label": "list-revisions-A65315",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:24:52+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&label=list-revisions-A6531*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjg2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Q1vYKynblSDz86c-vk1kcnnlSpOQbqeR9yQxhPJVNL0\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg2Mg==;sn=113152862",
        "x-ms-date": "Thu, 07 May 2026 20:24:53 GMT"
      },
      "ResponseBody": {
        "etag": "Q1vYKynblSDz86c-vk1kcnnlSpOQbqeR9yQxhPJVNL0",
        "items": [
          {
            "etag": "LGxacRGZe4aiLWqKZMSqfIw_T6u1a5eni_nG6NeOWg0",
            "key": "listRevisions71627",
            "label": "list-revisions-A65315",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:24:53+00:00"
          },
          {
            "etag": "sanqxFvrVdjZyCUITsDMwqhb86lOR-KnUGhDiRVhKvs",
            "key": "listRevisions71627",
            "label": "list-revisions-A65315",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:24:52+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A65315",
    "list-revisions-B": "list-revisions-B30073",
    "listRevisions": "listRevisions71627"
  }
}
