{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions27651?api-version=2023-11-01&label=list-revisions-A39868",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions27651",
        "label": "list-revisions-A39868",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hNAt-aIE8SfRLJSRP_g3DA6c3VoOWWmgoDbyGX_2pis\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:38:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NTc=;sn=74231757"
      },
      "ResponseBody": {
        "etag": "hNAt-aIE8SfRLJSRP_g3DA6c3VoOWWmgoDbyGX_2pis",
        "key": "listRevisions27651",
        "label": "list-revisions-A39868",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:38:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions27651?api-version=2023-11-01&label=list-revisions-A39868",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE3NTc="
      },
      "RequestBody": {
        "key": "listRevisions27651",
        "label": "list-revisions-A39868",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Zz_48RTpo2rb9h1dWB7R90MeuL5XZRHkGbIPfG6CjYE\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:38:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NTg=;sn=74231758"
      },
      "ResponseBody": {
        "etag": "Zz_48RTpo2rb9h1dWB7R90MeuL5XZRHkGbIPfG6CjYE",
        "key": "listRevisions27651",
        "label": "list-revisions-A39868",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:38:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions27651",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-10-02T15:38:45.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE3NjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1MKgcvUQ8SuNTJRVTjEDT7nkgJzYZoacbJ_3zKrRL6o\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions27651>; rel=\"original\"",
        "Memento-Datetime": "Thu, 02 Oct 2025 15:38:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NjI=;sn=74231762"
      },
      "ResponseBody": {
        "etag": "1MKgcvUQ8SuNTJRVTjEDT7nkgJzYZoacbJ_3zKrRL6o",
        "items": [
          {
            "etag": "hNAt-aIE8SfRLJSRP_g3DA6c3VoOWWmgoDbyGX_2pis",
            "key": "listRevisions27651",
            "label": "list-revisions-A39868",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:38:45+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions27651",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-10-02T15:38:45.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE3NjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1MKgcvUQ8SuNTJRVTjEDT7nkgJzYZoacbJ_3zKrRL6o\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions27651>; rel=\"original\"",
        "Memento-Datetime": "Thu, 02 Oct 2025 15:38:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE3NjI=;sn=74231762"
      },
      "ResponseBody": {
        "etag": "1MKgcvUQ8SuNTJRVTjEDT7nkgJzYZoacbJ_3zKrRL6o",
        "items": [
          {
            "etag": "hNAt-aIE8SfRLJSRP_g3DA6c3VoOWWmgoDbyGX_2pis",
            "key": "listRevisions27651",
            "label": "list-revisions-A39868",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:38:45+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A39868",
    "list-revisions-B": "list-revisions-B90063",
    "listRevisions": "listRevisions27651"
  }
}
