{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions68518?api-version=2023-11-01&label=list-revisions-A40448",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions68518",
        "label": "list-revisions-A40448",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dee_0ytZNRTxjW90OFcLUWHtjGoGpLMHR5s26xEyxuU\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:27:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODI=;sn=74775682",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:10 GMT"
      },
      "ResponseBody": {
        "etag": "dee_0ytZNRTxjW90OFcLUWHtjGoGpLMHR5s26xEyxuU",
        "key": "listRevisions68518",
        "label": "list-revisions-A40448",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:27:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions68518?api-version=2023-11-01&label=list-revisions-A40448",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODI="
      },
      "RequestBody": {
        "key": "listRevisions68518",
        "label": "list-revisions-A40448",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ja9y4crifvo2PZzyJJJd_stz-Yp2rHbZZ52Z8k_LiKg\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:27:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODM=;sn=74775683",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:11 GMT"
      },
      "ResponseBody": {
        "etag": "ja9y4crifvo2PZzyJJJd_stz-Yp2rHbZZ52Z8k_LiKg",
        "key": "listRevisions68518",
        "label": "list-revisions-A40448",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:27:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions68518",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jlYJaG75ECgZsIPc6QZv7nQREoFbjcGflZ3jBgme8Ak\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzU2ODc=;sn=74775687",
        "x-ms-date": "Thu, 23 Oct 2025 05:27:12 GMT"
      },
      "ResponseBody": {
        "etag": "jlYJaG75ECgZsIPc6QZv7nQREoFbjcGflZ3jBgme8Ak",
        "items": [
          {
            "etag": "X4NMnyKklKM7R0-E0DrqgZ37j743UmhXlucuro7V1f0",
            "key": "listRevisions68518",
            "label": "list-revisions-B25338",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:12+00:00"
          },
          {
            "etag": "aL4WQ9XZgPA_LFIUWntdwfFq5oYkxdMm5xgyLQVe9-Y",
            "key": "listRevisions68518",
            "label": "list-revisions-B25338",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:11+00:00"
          },
          {
            "etag": "ja9y4crifvo2PZzyJJJd_stz-Yp2rHbZZ52Z8k_LiKg",
            "key": "listRevisions68518",
            "label": "list-revisions-A40448",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:11+00:00"
          },
          {
            "etag": "dee_0ytZNRTxjW90OFcLUWHtjGoGpLMHR5s26xEyxuU",
            "key": "listRevisions68518",
            "label": "list-revisions-A40448",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:27:10+00:00"
          }
        ]
      }
    },
[...]
