{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions65055?api-version=2023-11-01&label=list-revisions-A88051",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions65055",
        "label": "list-revisions-A88051",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DNGY5fREt8IMjhvSR8VxrysXtpVM9IDC2BXK2xJcqHU\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyMjM=;sn=74105223"
      },
      "ResponseBody": {
        "etag": "DNGY5fREt8IMjhvSR8VxrysXtpVM9IDC2BXK2xJcqHU",
        "key": "listRevisions65055",
        "label": "list-revisions-A88051",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:38:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions65055?api-version=2023-11-01&label=list-revisions-A88051",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyMjM="
      },
      "RequestBody": {
        "key": "listRevisions65055",
        "label": "list-revisions-A88051",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c8L0EljrD3T06NDx517Pf65gAnkGe1s5wHdUwaJUGn8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyMjQ=;sn=74105224"
      },
      "ResponseBody": {
        "etag": "c8L0EljrD3T06NDx517Pf65gAnkGe1s5wHdUwaJUGn8",
        "key": "listRevisions65055",
        "label": "list-revisions-A88051",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:38:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions65055",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-09-29T09:38:16.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyMjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aCbMV_XvUneoh8rSchtkFC7ifFzI0xDiD6AWYGwJzIg\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions65055>; rel=\"original\"",
        "Memento-Datetime": "Mon, 29 Sep 2025 09:38:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyMjg=;sn=74105228"
      },
      "ResponseBody": {
        "etag": "aCbMV_XvUneoh8rSchtkFC7ifFzI0xDiD6AWYGwJzIg",
        "items": [
          {
            "etag": "DNGY5fREt8IMjhvSR8VxrysXtpVM9IDC2BXK2xJcqHU",
            "key": "listRevisions65055",
            "label": "list-revisions-A88051",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:38:16+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions65055",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-09-29T09:38:16.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyMjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aCbMV_XvUneoh8rSchtkFC7ifFzI0xDiD6AWYGwJzIg\"",
        "Link": "</revisions?api-version=2023-11-01&key=listRevisions65055>; rel=\"original\"",
        "Memento-Datetime": "Mon, 29 Sep 2025 09:38:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyMjg=;sn=74105228"
      },
      "ResponseBody": {
        "etag": "aCbMV_XvUneoh8rSchtkFC7ifFzI0xDiD6AWYGwJzIg",
        "items": [
          {
            "etag": "DNGY5fREt8IMjhvSR8VxrysXtpVM9IDC2BXK2xJcqHU",
            "key": "listRevisions65055",
            "label": "list-revisions-A88051",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:38:16+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A88051",
    "list-revisions-B": "list-revisions-B13469",
    "listRevisions": "listRevisions65055"
  }
}
