{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions40688?api-version=2023-11-01&label=list-revisions-A75706",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions40688",
        "label": "list-revisions-A75706",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7ojD3IQ5RTgbNDVsgzll6mbZypWQoCmX04hQ8cd2z9k\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyMTE=;sn=74105211"
      },
      "ResponseBody": {
        "etag": "7ojD3IQ5RTgbNDVsgzll6mbZypWQoCmX04hQ8cd2z9k",
        "key": "listRevisions40688",
        "label": "list-revisions-A75706",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:38:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions40688?api-version=2023-11-01&label=list-revisions-A75706",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyMTE="
      },
      "RequestBody": {
        "key": "listRevisions40688",
        "label": "list-revisions-A75706",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NaIMsTvaN8NhzlW5hUjB8-5MwUqkyVY3amIWaXhtk_k\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:38:08 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyMTI=;sn=74105212"
      },
      "ResponseBody": {
        "etag": "NaIMsTvaN8NhzlW5hUjB8-5MwUqkyVY3amIWaXhtk_k",
        "key": "listRevisions40688",
        "label": "list-revisions-A75706",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:38:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions40688",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDUyMTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"tAFMh_PwES0o1UcbxtD0tuB_WXq-TIaUKpNlpQEVx-o\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDUyMTY=;sn=74105216"
      },
      "ResponseBody": {
        "etag": "tAFMh_PwES0o1UcbxtD0tuB_WXq-TIaUKpNlpQEVx-o",
        "items": [
          {
            "etag": "4PUOlxqS3o9I95dHjn5J1GMUzav9P7w09JxsF2WZ1d8",
            "key": "listRevisions40688",
            "label": "list-revisions-B19114",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:38:08+00:00"
          },
          {
            "etag": "NaIMsTvaN8NhzlW5hUjB8-5MwUqkyVY3amIWaXhtk_k",
            "key": "listRevisions40688",
            "label": "list-revisions-A75706",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:38:08+00:00"
          },
          {
            "etag": "gZ3q3CCqmGwkljESOHrXXnKaVBUSYj0VuIJj2IQjttE",
            "key": "listRevisions40688",
            "label": "list-revisions-B19114",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:38:08+00:00"
          },
          {
            "etag": "7ojD3IQ5RTgbNDVsgzll6mbZypWQoCmX04hQ8cd2z9k",
            "key": "listRevisions40688",
            "label": "list-revisions-A75706",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:38:07+00:00"
          }
        ]
      }
    },
[...]
