{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions32027?api-version=2023-11-01&label=list-revisions-A67064",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions32027",
        "label": "list-revisions-A67064",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jW_7imv90zLwETfuNSFPwP7bZgb8_tXyAnROyDmzIzU\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:46:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwMTQ=;sn=73802014"
      },
      "ResponseBody": {
        "etag": "jW_7imv90zLwETfuNSFPwP7bZgb8_tXyAnROyDmzIzU",
        "key": "listRevisions32027",
        "label": "list-revisions-A67064",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:46:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions32027?api-version=2023-11-01&label=list-revisions-A67064",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwMTQ="
      },
      "RequestBody": {
        "key": "listRevisions32027",
        "label": "list-revisions-A67064",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MpHnNew4KzYIpoTN1f-VzdtjMhA3NkmVFhoXE6Z1Pt4\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:46:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwMTU=;sn=73802015"
      },
      "ResponseBody": {
        "etag": "MpHnNew4KzYIpoTN1f-VzdtjMhA3NkmVFhoXE6Z1Pt4",
        "key": "listRevisions32027",
        "label": "list-revisions-A67064",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:46:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-11-01&key=listRevisions3202*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIwMTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"piBlIMYuqGeCnw_Qzi7UZ6GXariBq57dPMM19d7yS5A\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIwMTk=;sn=73802019"
      },
      "ResponseBody": {
        "etag": "piBlIMYuqGeCnw_Qzi7UZ6GXariBq57dPMM19d7yS5A",
        "items": [
          {
            "etag": "CURTpJpN6siIkGaVLuL5Ggo-SgXrZXgom63p_KWP4Uo",
            "key": "listRevisions32027",
            "label": "list-revisions-B39762",
            "content_type": null,
            "value": "fooB1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:56+00:00"
          },
          {
            "etag": "Jyn8fJyWNkKVUhGHu3Bf2khScxx2VhPmbSi1RWrvFPk",
            "key": "listRevisions32027",
            "label": "list-revisions-B39762",
            "content_type": null,
            "value": "fooB2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:56+00:00"
          },
          {
            "etag": "MpHnNew4KzYIpoTN1f-VzdtjMhA3NkmVFhoXE6Z1Pt4",
            "key": "listRevisions32027",
            "label": "list-revisions-A67064",
            "content_type": null,
            "value": "fooA2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:56+00:00"
          },
          {
            "etag": "jW_7imv90zLwETfuNSFPwP7bZgb8_tXyAnROyDmzIzU",
            "key": "listRevisions32027",
            "label": "list-revisions-A67064",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:46:54+00:00"
          }
        ]
      }
    },
[...]
