{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions83739?api-version=2023-10-01&label=list-revisions-A72922",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listRevisions83739",
        "label": "list-revisions-A72922",
        "value": "fooA1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OuOgYIJdIMrEtOA76fXXnwnb6McrcslfMKZVFz6q38o\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:44 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTI5MjY=;sn=2612926"
      },
      "ResponseBody": {
        "etag": "OuOgYIJdIMrEtOA76fXXnwnb6McrcslfMKZVFz6q38o",
        "key": "listRevisions83739",
        "label": "list-revisions-A72922",
        "content_type": null,
        "value": "fooA1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listRevisions83739?api-version=2023-10-01&label=list-revisions-A72922",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=Nzo1IzI2MTI5MjY="
      },
      "RequestBody": {
        "key": "listRevisions83739",
        "label": "list-revisions-A72922",
        "value": "fooA2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kSdQPbKpM6KR_hMO5JN9eT5AU95fESN2t25Dm8n68-4\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:45 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTI5Mjc=;sn=2612927"
      },
      "ResponseBody": {
        "etag": "kSdQPbKpM6KR_hMO5JN9eT5AU95fESN2t25Dm8n68-4",
        "key": "listRevisions83739",
        "label": "list-revisions-A72922",
        "content_type": null,
        "value": "fooA2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-10-01&key=listRevisions83739",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2024-05-28T21:16:44.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTI5MzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"__1eYG4Jbftfpwfont6TKVbb-JpV2rIkEwAWk9pKwR0\"",
        "Link": "</revisions?api-version=2023-10-01&key=listRevisions83739>; rel=\"original\"",
        "Memento-Datetime": "Tue, 28 May 2024 21:16:44 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTI5MzE=;sn=2612931"
      },
      "ResponseBody": {
        "etag": "__1eYG4Jbftfpwfont6TKVbb-JpV2rIkEwAWk9pKwR0",
        "items": [
          {
            "etag": "OuOgYIJdIMrEtOA76fXXnwnb6McrcslfMKZVFz6q38o",
            "key": "listRevisions83739",
            "label": "list-revisions-A72922",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:16:44+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/revisions?api-version=2023-10-01&key=listRevisions83739",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2024-05-28T21:16:44.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTI5MzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"__1eYG4Jbftfpwfont6TKVbb-JpV2rIkEwAWk9pKwR0\"",
        "Link": "</revisions?api-version=2023-10-01&key=listRevisions83739>; rel=\"original\"",
        "Memento-Datetime": "Tue, 28 May 2024 21:16:44 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTI5MzE=;sn=2612931"
      },
      "ResponseBody": {
        "etag": "__1eYG4Jbftfpwfont6TKVbb-JpV2rIkEwAWk9pKwR0",
        "items": [
          {
            "etag": "OuOgYIJdIMrEtOA76fXXnwnb6McrcslfMKZVFz6q38o",
            "key": "listRevisions83739",
            "label": "list-revisions-A72922",
            "content_type": null,
            "value": "fooA1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:16:44+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "list-revisions-A": "list-revisions-A72922",
    "list-revisions-B": "list-revisions-B3879",
    "listRevisions": "listRevisions83739"
  }
}
