{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-videoSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/videos/sdk_samples/FlightSimulator.mp4"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/9d49a5f7-a6a7-4cb4-a97b-53f6558456bd?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "9d49a5f7-a6a7-4cb4-a97b-53f6558456bd",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-videoSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-03T12:39:28Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/9d49a5f7-a6a7-4cb4-a97b-53f6558456bd?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "9d49a5f7-a6a7-4cb4-a97b-53f6558456bd",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-videoSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-03T12:39:28Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/9d49a5f7-a6a7-4cb4-a97b-53f6558456bd?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "9d49a5f7-a6a7-4cb4-a97b-53f6558456bd",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-videoSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-03T12:39:28Z",
          "stringEncoding": "utf16",
          "warnings": [],
          "contents": [
            {
              "markdown": "# Video: 00:00.733 => 00:15.467\nWidth: 1080\nHeight: 608\n\nTranscript\n```\nWEBVTT\n\n00:01.360 --> 00:06.640\n<Speaker 1>When it comes to the neural TTS, in order to get a good voice, it's better to have good data.\n\n00:07.120 --> 00:13.320\n<Speaker 2>To achieve that, we build a universal TTS model based on 3,000 hours of data.\n\n00:13.440 --> 00:23.680\n<Speaker 1>We actually accumulated tons of the data so that this universal model is able to capture the nuance of the audio and generate a more natural voice for the algorithm.\n```\n\nKey Frames\n- 00:00.733 ![](keyFrame.733.jpg)\n- 00:02.067 ![](keyFrame.2067.jpg)\n- 00:02.667 ![](keyFrame.2667.jpg)\n- 00:04.067 ![](keyFrame.4067.jpg)\n- 00:04.900 ![](keyFrame.4900.jpg)\n- 00:05.733 ![](keyFrame.5733.jpg)\n- 00:06.567 ![](keyFrame.6567.jpg)\n- 00:07.800 ![](keyFrame.7800.jpg)\n- 00:09.000 ![](keyFrame.9000.jpg)\n- 00:09.800 ![](keyFrame.9800.jpg)\n- 00:10.600 ![](keyFrame.10600.jpg)\n- 00:12.100 ![](keyFrame.12100.jpg)\n- 00:12.833 ![](keyFrame.12833.jpg)\n- 00:14.200 ![](keyFrame.14200.jpg)\n- 00:14.833 ![](keyFrame.14833.jpg)\n- 00:15.467 ![](keyFrame.15467.jpg)",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The video opens with a scenic aerial view of an island and a small plane flying over it, accompanied by the Flight Simulator and Microsoft Azure AI logos. It then transitions to a discussion about neural text-to-speech (TTS) technology, emphasizing the importance of high-quality data. The speaker explains the creation of a universal TTS model trained on 3,000 hours of data to capture audio nuances and produce natural-sounding voices. Visuals include audio waveforms and shots of data centers and server rooms, highlighting the technological infrastructure behind the TTS model."
                }
              },
              "kind": "audioVisual",
              "startTimeMs": 733,
              "endTimeMs": 15467,
              "width": 1080,
              "height": 608,
              "KeyFrameTimesMs": [
                733,
                2067,
                2667,
                4067,
                4900,
                5733,
                6567,
                7800,
                9000,
                9800,
                10600,
                12100,
                12833,
                14200,
                14833,
                15467
              ],
              "transcriptPhrases": [
                {
                  "speaker": "Speaker 1",
                  "startTimeMs": 1360,
                  "endTimeMs": 6640,
                  "text": "When it comes to the neural TTS, in order to get a good voice, it's better to have good data.",
                  "confidence": 0.937,
                  "words": [
                    {
                      "startTimeMs": 1360,
                      "endTimeMs": 1600,
                      "text": "When"
                    },
                    {
                      "startTimeMs": 1600,
                      "endTimeMs": 1760,
                      "text": "it"
                    },
                    {
                      "startTimeMs": 1760,
                      "endTimeMs": 2000,
                      "text": "comes"
                    },
[...]
