{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-videoSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/videos/sdk_samples/FlightSimulator.mp4"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/a976f57a-4d2a-441b-81e3-914451197068?api-version=2025-11-01",
        "x-http2-stream-id": "9",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "a976f57a-4d2a-441b-81e3-914451197068",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-videoSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-28T06:36:13Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/a976f57a-4d2a-441b-81e3-914451197068?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "a976f57a-4d2a-441b-81e3-914451197068",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-videoSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-28T06:36:13Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/a976f57a-4d2a-441b-81e3-914451197068?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-http2-stream-id": "37",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "a976f57a-4d2a-441b-81e3-914451197068",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-videoSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-28T06:36:13Z",
          "stringEncoding": "utf16",
          "warnings": [],
          "contents": [
            {
              "markdown": "# Video: 00:00.733 => 00:43.233\nWidth: 1080\nHeight: 608\n\nTranscript\n```\nWEBVTT\n\n00:01.360 --> 00:06.640\n<Speaker 1>When it comes to the neural TTS, in order to get a good voice, it's better to have good data.\n\n00:07.120 --> 00:13.320\n<Speaker 2>To achieve that, we build a universal TTS model based on 3,000 hours of data.\n\n00:13.440 --> 00:23.680\n<Speaker 1>We actually accumulated tons of the data so that this universal model is able to capture the nuance of the audio and generate a more natural voice for the algorithm.\n\n00:24.040 --> 00:29.120\n<Speaker 3>What we liked about cognitive services offe[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-videoSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/videos/sdk_samples/FlightSimulator.mp4",
            "range": "0-5000"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/dcb9b40c-fd29-4022-b6eb-98fec3e00ab5?api-version=2025-11-01",
        "x-http2-stream-id": "39",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "dcb9b40c-fd29-4022-b6eb-98fec3e00ab5",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-videoSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-28T06:37:08Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
