{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-imageSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/image/pieChart.jpg"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/a8e8e162-8747-46af-b8af-567289afeed5?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "a8e8e162-8747-46af-b8af-567289afeed5",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2025-12-12T07:20:50Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/a8e8e162-8747-46af-b8af-567289afeed5?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "a8e8e162-8747-46af-b8af-567289afeed5",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2025-12-12T07:20:50Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/a8e8e162-8747-46af-b8af-567289afeed5?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "a8e8e162-8747-46af-b8af-567289afeed5",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2025-12-12T07:20:50Z",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "![image](pages/1)\n",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The image is a 3D pie chart showing the distribution of hours spent in four different ranges. The largest segment, colored purple, represents 60+ hours at 37.8%. The second largest segment, in teal, represents 50-60 hours at 36.6%. The red segment represents 40-50 hours at 18.9%, and the smallest segment, in orange, represents 1-39 hours at 6.7%."
                }
              },
              "kind": "document",
              "startPageNumber": 1,
              "endPageNumber": 1,
              "unit": "pixel",
              "pages": [
                {
                  "pageNumber": 1,
                  "spans": []
                }
              ],
              "analyzerId": "prebuilt-imageSearch",
              "mimeType": "image/jpeg"
            }
          ]
        },
        "usage": {
          "contextualizationTokens": 1000,
          "tokens": {
            "gpt-4.1-mini-input": 199,
            "gpt-4.1-mini-output": 99
          }
        }
      }
    }
  ],
  "Variables": {
    "AZURE_CONTENT_UNDERSTANDING_ENDPOINT": "https://sanitized.services.ai.azure.com/",
    "RandomSeed": "54327336"
  }
}
