{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-imageSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/image/pieChart.jpg"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/f2b4ac3a-ee61-416b-844c-e3c3a6bf18ce?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "f2b4ac3a-ee61-416b-844c-e3c3a6bf18ce",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-03T12:38:42Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/f2b4ac3a-ee61-416b-844c-e3c3a6bf18ce?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "f2b4ac3a-ee61-416b-844c-e3c3a6bf18ce",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-03T12:38:42Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/f2b4ac3a-ee61-416b-844c-e3c3a6bf18ce?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "f2b4ac3a-ee61-416b-844c-e3c3a6bf18ce",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-imageSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-03T12:38:42Z",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "![image](pages/1)\n",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The pie chart displays the distribution of hours spent in four categories: 1-39 hours (6.7%), 40-50 hours (18.9%), 50-60 hours (36.6%), and 60+ hours (37.8%). The largest portion is 60+ hours, followed closely by 50-60 hours, then 40-50 hours, and the smallest portion is 1-39 hours."
                }
              },
              "kind": "document",
              "startPageNumber": 1,
              "endPageNumber": 1,
              "unit": "pixel",
              "pages": [
                {
                  "pageNumber": 1,
                  "spans": []
                }
              ],
              "analyzerId": "prebuilt-imageSearch",
              "mimeType": "image/jpeg"
            }
          ]
        },
        "usage": {
          "contextualizationTokens": 1000,
          "tokens": {
            "gpt-4.1-mini-input": 279,
            "gpt-4.1-mini-output": 94
          }
        }
      }
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-sample-foundry.services.ai.azure.com/",
    "RandomSeed": "1922357613"
  }
}
