{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-audioSearch:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://raw.githubusercontent.com/Azure-Samples/azure-ai-content-understanding-assets/main/audio/callCenterRecording.mp3"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/538f956a-cca4-4ca1-9c02-ed1e37c1cc90?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "538f956a-cca4-4ca1-9c02-ed1e37c1cc90",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-audioSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-11T01:39:02Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/538f956a-cca4-4ca1-9c02-ed1e37c1cc90?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "538f956a-cca4-4ca1-9c02-ed1e37c1cc90",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-audioSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-11T01:39:02Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/538f956a-cca4-4ca1-9c02-ed1e37c1cc90?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "538f956a-cca4-4ca1-9c02-ed1e37c1cc90",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-audioSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-11T01:39:02Z",
          "stringEncoding": "utf16",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "# Audio: 00:00.000 => 00:32.183\n\nTranscript\n```\nWEBVTT\n\n00:00.080 --> 00:00.640\n<v Speaker 1>Good day.\n\n00:00.880 --> 00:02.240\n<v Speaker 1>Welcome to Contoso.\n\n00:02.560 --> 00:03.760\n<v Speaker 1>My name is John Doe.\n\n00:03.920 --> 00:05.120\n<v Speaker 1>How can I help you today?\n\n00:05.440 --> 00:06.320\n<v Speaker 2>Yes, good day.\n\n00:06.640 --> 00:08.160\n<v Speaker 2>My name is Maria Smith.\n\n00:08.560 --> 00:11.360\n<v Speaker 2>I would like to inquire about my current point balance.\n\n00:11.680 --> 00:12.560\n<v Speaker 1>No problem.\n\n00:12.880 --> 00:13.920\n<v Speaker 1>I am happy to help.\n\n00:14.240 --> 00:16.720\n<v Speaker 1>I need your date of birth to confirm your identity.\n\n00:17.120 --> 00:19.600\n<v Speaker 2>It is April 19th, 1988.\n\n00:20.000 --> 00:20.480\n<v Speaker 1>Great.\n\n00:20.800 --> 00:24.160\n<v Speaker 1>Your current point balance is 599 points.\n\n00:24.560 --> 00:26.160\n<v Speaker 1>Do you need any more information?\n\n00:26.480 --> 00:27.200\n<v Speaker 2>No, thank you.\n\n00:27.600 --> 00:28.320\n<v Speaker 2>That was all.\n\n00:28.720 --> 00:29.360\n<v Speaker 2>Goodbye.\n\n00:29.680 --> 00:31.920\n<v Speaker 1>You're welcome, goodbye a Cantoso.\n```",
              "fields": {
                "Summary": {
                  "type": "string",
                  "valueString": "The conversation is a customer service interaction where Maria Smith contacts Contoso to inquire about her current point balance. The representative, John Doe, verifies her identity by asking for her date of birth and then informs her that she has 599 points. Maria confirms she does not need further information and ends the call politely."
                }
              },
              "kind": "audioVisual",
              "startTimeMs": 0,
              "endTimeMs": 32183,
              "transcriptPhrases": [
                {
                  "speaker": "Speaker 1",
                  "startTimeMs": 80,
                  "endTimeMs": 640,
                  "text": "Good day.",
                  "confidence": 0.925,
                  "words": [
                    {
                      "startTimeMs": 80,
                      "endTimeMs": 280,
                      "text": "Good"
                    },
                    {
                      "startTimeMs": 280,
                      "endTimeMs": 640,
                      "text": "day."
                    }
                  ],
                  "locale": "en-US"
                },
                {
                  "speaker": "Speaker 1",
                  "startTimeMs": 880,
                  "endTimeMs": 2240,
                  "text": "Welcome to Contoso.",
                  "confidence": 0.925,
                  "words": [
                    {
                      "startTimeMs": 880,
                      "endTimeMs": 1360,
                      "text": "Welcome"
                    },
                    {
                      "startTi[...]
