{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_8b5157d9056859644e50ad465466953e?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Source analyzer for copying",
        "tags": {
          "modelType": "in_development"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_8b5157d9056859644e50ad465466953e/operations/18dc6b62-f385-4deb-995d-546df16c0a15?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_source_8b5157d9056859644e50ad465466953e",
        "description": "Source analyzer for copying",
        "tags": {
          "modelType": "in_development"
        },
        "createdAt": "2025-12-12T07:22:12Z",
        "lastModifiedAt": "2025-12-12T07:22:12Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_8b5157d9056859644e50ad465466953e/operations/18dc6b62-f385-4deb-995d-546df16c0a15?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "18dc6b62-f385-4deb-995d-546df16c0a15",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_source_8b5157d9056859644e50ad465466953e",
          "description": "Source analyzer for copying",
          "tags": {
            "modelType": "in_development"
          },
          "createdAt": "2025-12-12T07:22:12Z",
          "lastModifiedAt": "2025-12-12T07:22:12Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "en[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_21e680af8583d939ca8b6126f310b6cc:copy?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceAnalyzerId": "test_analyzer_source_8b5157d9056859644e50ad465466953e"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "operation-location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_21e680af8583d939ca8b6126f310b6cc/operations/29d6b5cd-9472-4669-909c-371072139824?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_target_21e680af8583d939ca8b6126f310b6cc",
        "description": "Source analyzer for copying",
        "tags": {
          "modelType": "in_development"
        },
        "createdAt": "2025-12-12[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_21e680af8583d939ca8b6126f310b6cc/operations/29d6b5cd-9472-4669-909c-371072139824?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "ap[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_21e680af8583d939ca8b6126f310b6cc?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_21e680af8583d939ca8b6126f310b6cc?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_CONTENT_UNDERSTANDING_ENDPOINT": "https://sanitized.services.ai.azure.com/",
    "copySourceAnalyzerId": "test_analyzer_source_8b5157d9056859644e50ad465466953e",
    "copyTargetAnalyzerId": "test_analyzer_target_21e680af8583d939ca8b6126f310b6cc",
    "RandomSeed": "757721654"
  }
}
