{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Receipt analyzer with labeled training data",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "enableOcr": true,
          "enableLayout": true
        },
        "fieldSchema": {
          "name": "receipt_schema",
          "description": "Schema for receipt extraction with items",
          "fields": {
            "MerchantName": {
              "method": "extract",
              "type": "string",
              "description": "Name of the merchant"
            },
            "Items": {
              "method": "generate",
              "type": "array",
              "description": "List of items purchased",
              "items": {
                "method": "extract",
                "type": "object",
                "description": "Individual item details",
                "properties": {
                  "Quantity": {
                    "method": "extract",
                    "type": "string",
                    "description": "Quantity of the item"
                  },
                  "Name": {
                    "method": "extract",
                    "type": "string",
                    "description": "Name of the item"
                  },
                  "Price": {
                    "method": "extract",
                    "type": "string",
                    "description": "Price of the item"
                  }
                }
              }
            },
            "TotalPrice": {
              "method": "extract",
              "type": "string",
              "description": "Total amount"
            }
          }
        },
        "knowledgeSources": [
          {
            "kind": "labeledData",
            "containerUrl": "https://sanitized.blob.core.windows.net/container",
            "fileListPath": null
          }
        ],
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a/operations/de526365-2bf1-412b-b3c1-2608a0bcb23c?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "analyzerId": "test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a",
        "description": "Receipt analyzer with labeled training data",
        "createdAt": "2026-02-14T01:22:38Z",
        "lastModifiedAt": "2026-02-14T01:22:38Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": false,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "receipt_schema",
          "description": "Schema for receipt extraction with items",
          "fields": {
            "MerchantName": {
              "type": "string",
              "method": "extract",
              "description": "Name of the merchant"
            },
            "Items": {
              "type": "array",
              "method": "generate",
              "description": "List of items purchased",
              "items": {
                "type": "object",
                "method": "extract",
                "description": "Individual item details",
                "properties": {
                  "Quantity": {
                    "type": "string",
                    "method": "extract",
                    "description": "Quantity of the item"
                  },
                  "Name": {
                    "type": "string",
                    "method": "extract",
                    "description": "Name of the item"
                  },
                  "Price": {
                    "type": "string",
                    "method": "extract",
                    "description": "Price of the item"
                  }
                }
              }
            },
            "TotalPrice": {
              "type": "string",
              "method": "extract",
              "description": "Total amount"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "knowledgeSources": [
          {
            "kind": "labeledData",
            "containerUrl": "https://sanitized.blob.core.windows.net/container",
            "fileListPath": ""
          }
        ],
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a/operations/de526365-2bf1-412b-b3c1-2608a0bcb23c?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "de526365-2bf1-412b-b3c1-2608a0bcb23c",
        "status": "Running",
        "result": {
          "analyzerId": "test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a",
          "description": "Receipt analyzer with labeled training data",
          "createdAt": "2026-02-14T01:22:38Z",
          "lastModifiedAt": "2026-02-14T01:22:38Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": false,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription"[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a:analyze?api-version=2025-11-01&stringEncoding=utf16",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "url": "https://github.com/Azure-Samples/cognitive-services-REST-api-samples/raw/master/curl/form-recognizer/sample-invoice.pdf"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/28f293e5-28ba-44c6-a456-cd588ba16c44?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "28f293e5-28ba-44c6-a456-cd588ba16c44",
        "status": "Running",
        "result": {
          "analyzerId": "test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-14T01:24:38Z",
          "warnings": [],
          "contents": []
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/28f293e5-28ba-44c6-a456-cd588ba16c44?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "28f293e5-28ba-44c6-a456-cd588ba16c44",
        "status": "Running",
        "result": {
          "analyzerId": "test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-14T01:24:38Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/28f293e5-28ba-44c6-a456-cd588ba16c44?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "28f293e5-28ba-44c6-a456-cd588ba16c44",
        "status": "Succeeded",
        "result": {
          "analyzerId": "test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-02-14T01:24:38Z",
          "stringEncoding": "utf16",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "CONTOSO LTD.\n\n\n# INVOICE\n\nContoso Headquarters\n123 456th St\nNew York, NY, 10001\n\nINVOICE: INV-100\n\nDATE: 11/15/2019\n\nDUE DATE: 12/15/2019\n\nCUSTOMER NAME: MICROSOFT CORPORATION\n\nCUSTOMER ID: CID-12345\n\nMicrosoft Corp\n123 Other St,\nRedmond WA, 98052\n\nBILL TO:\n\nSHIP TO:\n\nMicrosoft Finance\n123 Bill St,\nRedmond WA, 98052\n\nMicrosoft Delivery\n123 Ship St,\nRedmond WA, 98052\n\nSERVICE ADDRESS:\nMicrosoft Services\n123 Service St,\nRedmond WA, 98052\n\n\n<table>\n<tr>\n<th>SALESPERSON</th>\n<th>P.O. NUMBER</th>\n<th>REQUISITIONER</th>\n<th>SHIPPED VIA</th>\n<th>F.O.B. POINT</th>\n<th>TERMS</th>\n</tr>\n<tr>\n<td></td>\n<td>PO-3333</td>\n<td></td>\n<td></td>\n<td></td>\n<td></td>\n</tr>\n</table>\n\n\n<table>\n<tr>\n<th>QUANTITY</th>\n<th>DESCRIPTION</th>\n<th>UNIT PRICE</th>\n<th>TOTAL</th>\n</tr>\n<tr>\n<td>1</td>\n<td>Test for 23 fields</td>\n<td>1</td>\n<td>$100.00</td>\n</tr>\n<tr>\n<td></td>\n<td></td>\n<td></td>\n<td></td>\n</tr>\n</table>\n\n\n<table>\n<tr>\n<th>SUBTOTAL</th>\n<th>$100.00</th>\n</tr>\n<tr>\n<th>SALES TAX</th>\n<th>$10.00</th>\n</tr>\n<tr>\n<th>TOTAL</th>\n<th>$110.00</th>\n</tr>\n<tr>\n<th>PREVIOUS BALANCE</th>\n<th>$500.00</th>\n</tr>\n<tr>\n<th>TOTAL DUE</th>\n<th>$610.00</th>\n</tr>\n</table>\n\n\nTHANK YOU FOR YOUR BUSINESS!\n\nREMIT TO:\nContoso Billing\n123 Remit St\nNew York, NY, 10001\n",
              "fields": {
                "MerchantName": {
                  "type": "string",
                  "valueString": "CONTOSO LTD.",
                  "spans": [
                    {
                      "offset": 0,
                      "length": 12
                    }
                  ],
                  "confidence": 0.823,
                  "source": "D(1,0.5770,0.6554,2.3408,0.6523,2.3412,0.8875,0.5774,0.8905)"
                },
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Quantity": {
                          "type": "string",
                          "valueString": "1",
                          "spans": [
                            {
                              "offset": 775,
                              "length": 1
                            }
                          ],
                          "confidence": 0.52,
                          "source": "D(1,0.5857,6.0913,0.6672,6.0863,0.6672,6.2152,0.5857,6.2202)"
           [...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "analyzerWithLabelsId": "test_receipt_analyzer_622f3c5aa8f7b80c5e28392d3fe80c7a",
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-usw3-eft-foundry.services.ai.azure.com/",
    "CONTENTUNDERSTANDING_TRAINING_DATA_CONTAINER": "mmi-github-samples-blob-container",
    "CONTENTUNDERSTANDING_TRAINING_DATA_PREFIX": null,
    "CONTENTUNDERSTANDING_TRAINING_DATA_SAS_URL": null,
    "CONTENTUNDERSTANDING_TRAINING_DATA_STORAGE_ACCOUNT": "mmigithubsamplesstorage",
    "RandomSeed": "659555210",
    "trainingDataPrefix": ""
  }
}
