{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_a5985ff53376cb32fff5bda2c4bde15e?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Custom analyzer for extracting company information",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            },
            "document_summary": {
              "method": "generate",
              "type": "string",
              "description": "A brief summary of the document content"
            },
            "document_type": {
              "method": "classify",
              "type": "string",
              "description": "Type of document",
              "enum": [
                "invoice",
                "receipt",
                "contract",
                "report",
                "other"
              ]
            }
          }
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_a5985ff53376cb32fff5bda2c4bde15e/operations/59e64da6-41ae-4501-b72a-74c9e0ca0a7e?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_custom_analyzer_a5985ff53376cb32fff5bda2c4bde15e",
        "description": "Custom analyzer for extracting company information",
        "createdAt": "2025-11-29T03:28:47Z",
        "lastModifiedAt": "2025-11-29T03:28:47Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            },
            "document_summary": {
              "type": "string",
              "method": "generate",
              "description": "A brief summary of the document content"
            },
            "document_type": {
              "type": "string",
              "method": "classify",
              "description": "Type of document",
              "enum": [
                "invoice",
                "receipt",
                "contract",
                "report",
                "other"
              ]
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_a5985ff53376cb32fff5bda2c4bde15e/operations/59e64da6-41ae-4501-b72a-74c9e0ca0a7e?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "59e64da6-41ae-4501-b72a-74c9e0ca0a7e",
        "status": "Running",
        "result": {
          "analyzerId": "test_custom_analyzer_a5985ff53376cb32fff5bda2c4bde15e",
          "description": "Custom analyzer for extracting company information",
          "createdAt": "2025-11-29T03:28:47Z",
          "lastModifiedAt": "2025-11-29T03:28:47Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescrip[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_a5985ff53376cb32fff5bda2c4bde15e?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "analyzerId": "test_custom_analyzer_a5985ff53376cb32fff5bda2c4bde15e",
    "CONTENTUNDERSTANDING_ENDPOINT": "https://sanitized.services.ai.azure.com/",
    "RandomSeed": "2037088863"
  }
}
