{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_f8ea81a365a42eda14bfa3bbef31360c?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test analyzer for GetAnalyzer sample",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Test schema for GetAnalyzer sample",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_f8ea81a365a42eda14bfa3bbef31360c/operations/fde62d6a-fbf1-4996-9f4d-095021313fd9?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_custom_analyzer_f8ea81a365a42eda14bfa3bbef31360c",
        "description": "Test analyzer for GetAnalyzer sample",
        "createdAt": "2025-12-17T01:27:06Z",
        "lastModifiedAt": "2025-12-17T01:27:06Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Test schema for GetAnalyzer sample",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_f8ea81a365a42eda14bfa3bbef31360c/operations/fde62d6a-fbf1-4996-9f4d-095021313fd9?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "fde62d6a-fbf1-4996-9f4d-095021313fd9",
        "status": "Running",
        "result": {
          "analyzerId": "test_custom_analyzer_f8ea81a365a42eda14bfa3bbef31360c",
          "description": "Test analyzer for GetAnalyzer sample",
          "createdAt": "2025-12-17T01:27:06Z",
          "lastModifiedAt": "2025-12-17T01:27:06Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_f8ea81a365a42eda14bfa3bbef31360c?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "analyzerId": "test_custom_analyzer_f8ea81a365a42eda14bfa3bbef31360c",
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-sample-foundry.services.ai.azure.com",
    "RandomSeed": "332561017"
  }
}
