{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Source analyzer for cross-resource copying",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b/operations/a16f5baa-b92f-4d60-a9b8-47a46db8bf4f?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2026-04-30T03:51:10Z",
        "lastModifiedAt": "2026-04-30T03:51:10Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano",
            "gpt-5.2"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "prebuilt-analyzer-embedding"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b/operations/a16f5baa-b92f-4d60-a9b8-47a46db8bf4f?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "a16f5baa-b92f-4d60-a9b8-47a46db8bf4f",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b",
          "description": "Source analyzer for cross-resource copying",
          "createdAt": "2026-04-30T03:51:10Z",
          "lastModifiedAt": "2026-04-30T03:51:10Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": false,
            "enableFigureDescription": [...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b:grantCopyAuthorization?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetAzureResourceId": "Sanitized",
        "targetRegion": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetAzureResourceId": "Sanitized",
        "targetRegion": "Sanitized",
        "expiresAt": "2026-05-01T03:51:14.6311487+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_8f1abb148398852d2cfa43c684598752:copy?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceAzureResourceId": "Sanitized",
        "sourceRegion": "Sanitized",
        "sourceAnalyzerId": "test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "operation-location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_8f1abb148398852d2cfa43c684598752/operations/1883260c-932a-4765-99e0-1ace5e178471?api-version=2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_target_8f1abb148398852d2cfa43c684598752",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2026-04-30T03:51:17Z",
        "lastModifiedAt": "2026-04[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_8f1abb148398852d2cfa43c684598752/operations/1883260c-932a-4765-99e0-1ace5e178471?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "ap[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_8f1abb148398852d2cfa43c684598752?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-sample-foundry.services.ai.azure.com/",
    "CONTENTUNDERSTANDING_SOURCE_REGION": "Sanitized",
    "CONTENTUNDERSTANDING_SOURCE_RESOURCE_ID": "Sanitized",
    "CONTENTUNDERSTANDING_TARGET_ENDPOINT": "https://withomas-resource.services.ai.azure.com/",
    "CONTENTUNDERSTANDING_TARGET_REGION": "Sanitized",
    "CONTENTUNDERSTANDING_TARGET_RESOURCE_ID": "Sanitized",
    "grantCopySourceAnalyzerId": "test_analyzer_source_aac737023f24edb3b7bad16f0bfc5f5b",
    "grantCopyTargetAnalyzerId": "test_analyzer_target_8f1abb148398852d2cfa43c684598752",
    "RandomSeed": "1226708813"
  }
}
