{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_e882bc66dc8cb2e0159968237096cf83?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Source analyzer for cross-resource copying",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_e882bc66dc8cb2e0159968237096cf83/operations/a5301051-9335-4a0f-81ac-4efd0a3b4f66?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_source_e882bc66dc8cb2e0159968237096cf83",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2026-02-14T02:14:58Z",
        "lastModifiedAt": "2026-02-14T02:14:58Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_e882bc66dc8cb2e0159968237096cf83/operations/a5301051-9335-4a0f-81ac-4efd0a3b4f66?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "a5301051-9335-4a0f-81ac-4efd0a3b4f66",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_source_e882bc66dc8cb2e0159968237096cf83",
          "description": "Source analyzer for cross-resource copying",
          "createdAt": "2026-02-14T02:14:58Z",
          "lastModifiedAt": "2026-02-14T02:14:58Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": false,
            "enableFigureDescription": [...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_e882bc66dc8cb2e0159968237096cf83:grantCopyAuthorization?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetAzureResourceId": "Sanitized",
        "targetRegion": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetAzureResourceId": "Sanitized",
        "targetRegion": "Sanitized",
        "expiresAt": "2026-02-15T02:15:02.8865653+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_b7f7f2c8f78dff63d9ca1916f03ca588:copy?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceAzureResourceId": "Sanitized",
        "sourceRegion": "Sanitized",
        "sourceAnalyzerId": "test_analyzer_source_e882bc66dc8cb2e0159968237096cf83"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "operation-location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_b7f7f2c8f78dff63d9ca1916f03ca588/operations/e71a8017-4acb-4cc0-aad9-ab80c99d8a85?api-version=2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_target_b7f7f2c8f78dff63d9ca1916f03ca588",
        "description": "Source analyzer for cross-resource copying",
        "createdAt": "2026-02-14T02:15:05Z",
        "lastModifiedAt": "2026-02[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_b7f7f2c8f78dff63d9ca1916f03ca588/operations/e71a8017-4acb-4cc0-aad9-ab80c99d8a85?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "ap[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_b7f7f2c8f78dff63d9ca1916f03ca588?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-sample-foundry.services.ai.azure.com/",
    "CONTENTUNDERSTANDING_SOURCE_REGION": "Sanitized",
    "CONTENTUNDERSTANDING_SOURCE_RESOURCE_ID": "Sanitized",
    "CONTENTUNDERSTANDING_TARGET_ENDPOINT": "https://withomas-resource.services.ai.azure.com/",
    "CONTENTUNDERSTANDING_TARGET_REGION": "Sanitized",
    "CONTENTUNDERSTANDING_TARGET_RESOURCE_ID": "Sanitized",
    "grantCopySourceAnalyzerId": "test_analyzer_source_e882bc66dc8cb2e0159968237096cf83",
    "grantCopyTargetAnalyzerId": "test_analyzer_target_b7f7f2c8f78dff63d9ca1916f03ca588",
    "RandomSeed": "954427548"
  }
}
