{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/defaults?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-11-01",
        "Content-Type": "application/json",
        "x-http2-stream-id": "195",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "modelDeployments": {
          "gpt-4.1": "gpt-4.1",
          "gpt-4.1-mini": "gpt-4.1-mini",
          "text-embedding-3-large": "text-embedding-3-large",
          "gpt-4o": "gpt-4o",
          "gpt-4o-mini": "gpt-4o-mini",
          "text-embedding-ada-002": "text-embedding-ada-002"
        }
      }
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-usw3-eft-foundry.services.ai.azure.com/",
    "GPT_4_1_DEPLOYMENT": null,
    "GPT_4_1_MINI_DEPLOYMENT": null,
    "RandomSeed": "1060221739",
    "TEXT_EMBEDDING_3_LARGE_DEPLOYMENT": null
  }
}
