{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b582c085dedd030f7f67c04022a7565b?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Initial description",
        "tags": {
          "tag1": "tag1_initial_value",
          "tag2": "tag2_initial_value"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b582c085dedd030f7f67c04022a7565b/operations/a82ace32-f440-40e5-9bc4-d5f6f80c13fa?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_b582c085dedd030f7f67c04022a7565b",
        "description": "Initial description",
        "tags": {
          "tag1": "tag1_initial_value",
          "tag2": "tag2_initial_value"
        },
        "createdAt": "2025-12-11T16:50:25Z",
        "lastModifiedAt": "2025-12-11T16:50:25Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "warnings": [],
        "status": "ready",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b582c085dedd030f7f67c04022a7565b/operations/a82ace32-f440-40e5-9bc4-d5f6f80c13fa?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "a82ace32-f440-40e5-9bc4-d5f6f80c13fa",
        "status": "Succeeded",
        "result": {
          "analyzerId": "test_analyzer_b582c085dedd030f7f67c04022a7565b",
          "description": "Initial description",
          "tags": {
            "tag1": "tag1_initial_value",
            "tag2": "tag2_initial_value"
          },
          "createdAt": "2025-12-11T16:50:25Z",
          "lastModifiedAt": "2025-12-11T16:50:25Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayo[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b582c085dedd030f7f67c04022a7565b?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
     [...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b582c085dedd030f7f67c04022a7565b?api-version=2025-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "Updated description",
        "tags": {
          "tag1": "tag1_updated_value",
          "tag2": "",
          "tag3": "tag3_value"
        },
        "baseAnalyzerId": "prebuilt-document"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_b582c085dedd030f7f67c04022a7565b",
        "description": "Updated description",
        "tags": {
          "tag1": "tag1_updated_value",
          "tag2": "",
          "tag3": "tag3_value"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {},
        "warnings": [],
        "status": "undefined",
        "processingLocation": "geography"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b582c085dedd030f7f67c04022a7565b?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://sanitized.services.ai.azure.com/",
    "RandomSeed": "2122899943",
    "updateAnalyzerId": "test_analyzer_b582c085dedd030f7f67c04022a7565b"
  }
}
