{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Initial description",
        "tags": {
          "tag1": "tag1_initial_value"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb/operations/74436a28-734e-4035-ad08-20d742d887d6?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb",
        "description": "Initial description",
        "tags": {
          "tag1": "tag1_initial_value"
        },
        "createdAt": "2026-01-29T10:02:26Z",
        "lastModifiedAt": "2026-01-29T10:02:26Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "warnings": [],
        "status": "ready",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb/operations/74436a28-734e-4035-ad08-20d742d887d6?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "74436a28-734e-4035-ad08-20d742d887d6",
        "status": "Succeeded",
        "result": {
          "analyzerId": "test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb",
          "description": "Initial description",
          "tags": {
            "tag1": "tag1_initial_value"
          },
          "createdAt": "2026-01-29T10:02:26Z",
          "lastModifiedAt": "2026-01-29T10:02:26Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
            "enableFigureAnalysis": false,
            "chartFormat": "chartjs",
            "tableFormat": "html",
            "enableSegment": false,
            "omitContent": false,
            "segmentPerPage": false,
            "annotationFormat": "markdown"
          },
          "warnings": [],
          "status": "ready",
          "processingLocation": "geography",
          "supportedModels": {
            "completion": [
              "gpt-4o",
              "gpt-4o-mini",
              "gpt-4.1",
              "gpt-4.1-mini",
              "gpt-4.1-nano"
            ],
            "embedding": [
              "text-embedding-3-small",
              "text-embedding-3-large",
              "text-embedding-ada-002"
            ]
          },
          "models": {
            "completion": "gpt-4.1",
            "embedding": "text-embedding-3-large"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
     [...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb?api-version=2025-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "Updated description",
        "tags": {
          "tag1": "tag1_updated_value",
          "tag3": "tag3_value"
        },
        "baseAnalyzerId": "prebuilt-document"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb",
        "description": "Updated description",
        "tags": {
          "tag1": "tag1_updated_value",
          "tag3": "tag3_value"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {},
        "warnings": [],
        "status": "undefined",
        "processingLocation": "geography"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-sample-foundry.services.ai.azure.com/",
    "RandomSeed": "1693872794",
    "updateAnalyzerId": "test_analyzer_b27790a3b55e6fd5c4d765240b0ef5eb"
  }
}
