{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-Id": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": "2025-03-02T20:47:30.188435Z",
        "validUntil": "2025-09-21T20:47:30.188435Z",
        "pstnDialOutEnabled": false
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range is incorrect, or larger than 180 days.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
