{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/rooms/123?api-version=2024-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-02-28",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Invalid room ID length."
        }
      }
    }
  ],
  "Variables": {}
}
