{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-Id": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null,
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99414114938647522",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99414114938647522",
        "createdAt": "2023-10-03T05:14:14.0630654\u002B00:00",
        "validFrom": "2023-10-03T05:14:13.9537547\u002B00:00",
        "validUntil": "2024-03-31T05:14:13.9537547\u002B00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99414114938647522?api-version=2023-10-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "MS-CV": "sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
