{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-Id": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": "2025-02-22T01:30:16.868864Z",
        "validUntil": "2025-03-22T01:30:16.868864Z",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-02-28",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9949507597076470",
        "createdAt": "2025-02-19T07:30:17.0399508+00:00",
        "validFrom": "2025-02-22T01:30:16.868864+00:00",
        "validUntil": "2025-03-22T01:30:16.868864+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/rooms/9949507597076470?api-version=2024-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-02-28",
        "MS-CV": "sanitized"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.unitedstates.ppe.communication.azure.net/rooms/99466095917662645?api-version=2024-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-02-28",
        "MS-CV": "sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
