{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-Id": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null,
        "pstnDialOutEnabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99490206997788125",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99490206997788125",
        "createdAt": "2023-10-03T14:41:08.2548289\u002B00:00",
        "validFrom": "2023-10-03T14:41:08.1524235\u002B00:00",
        "validUntil": "2024-03-31T14:41:08.1524235\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99490206997788125?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": "2023-10-06T07:41:13.322635Z",
        "validUntil": "2023-10-31T07:41:13.322635Z",
        "pstnDialOutEnabled": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized"
      },
      "ResponseBody": {
        "id": "99490206997788125",
        "createdAt": "2023-10-03T14:41:08.2548289\u002B00:00",
        "validFrom": "2023-10-06T07:41:13.322635\u002B00:00",
        "validUntil": "2023-10-31T07:41:13.322635\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99490206997788125?api-version=2023-10-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "MS-CV": "sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
