{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-Id": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null,
        "pstnDialOutEnabled": false,
        "participants": {
          "8:acs:sanitized1": {
            "role": "Presenter"
          },
          "8:acs:sanitized3": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99433584148781646",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99433584148781646",
        "createdAt": "2023-10-05T05:21:21.1173569\u002B00:00",
        "validFrom": "2023-10-05T05:21:21.0222756\u002B00:00",
        "validUntil": "2024-04-02T05:21:21.0222756\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99433584148781646?api-version=2023-10-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "MS-CV": "sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
