{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "sanitized",
        "Repeatability-Request-Id": "sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": null,
        "validUntil": null,
        "pstnDialOutEnabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99485697069409161",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99485697069409161",
        "createdAt": "2024-04-02T17:00:15.5216118\u002B00:00",
        "validFrom": "2024-04-02T17:00:15.4493785\u002B00:00",
        "validUntil": "2024-09-29T17:00:15.4493785\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99485697069409161?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "validFrom": "2024-04-05T10:00:15.388813Z",
        "validUntil": "2024-04-30T10:00:15.388813Z",
        "pstnDialOutEnabled": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized"
      },
      "ResponseBody": {
        "id": "99485697069409161",
        "createdAt": "2024-04-02T17:00:15.5216118\u002B00:00",
        "validFrom": "2024-04-05T10:00:15.388813\u002B00:00",
        "validUntil": "2024-04-30T10:00:15.388813\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/99485697069409161?api-version=2023-10-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "MS-CV": "sanitized"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
