{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationWithLanguageTest",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {},
            "kind": "KeyPhraseExtraction"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/f7fe4886-9e7b-4d0a-bc4b-5ea8f7af2692?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/f7fe4886-9e7b-4d0a-bc4b-5ea8f7af2692?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "f7fe4886-9e7b-4d0a-bc4b-5ea8f7af2692",
        "lastUpdatedDateTime": "2023-06-02T03:57:51Z",
        "createdDateTime": "2023-06-02T03:57:50Z",
        "expirationDateTime": "2023-06-03T03:57:50Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithLanguageTest",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/f7fe4886-9e7b-4d0a-bc4b-5ea8f7af2692?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "f7fe4886-9e7b-4d0a-bc4b-5ea8f7af2692",
        "lastUpdatedDateTime": "2023-06-02T03:57:52Z",
        "createdDateTime": "2023-06-02T03:57:50Z",
        "expirationDateTime": "2023-06-03T03:57:50Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithLanguageTest",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "lastUpdateDateTime": "2023-06-02T03:57:52.7274144Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "perro",
                      "gato",
                      "veterinario"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1402035553",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
