{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationWithPHIDomain",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A patient with medical id 12345678 whose phone number is 800-102-1100 is going under heart surgery",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "domain": "phi",
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "PiiEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/28e04c23-b5ad-4c50-bd59-aa3637e6f811?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/28e04c23-b5ad-4c50-bd59-aa3637e6f811?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "28e04c23-b5ad-4c50-bd59-aa3637e6f811",
        "lastUpdatedDateTime": "2023-06-02T03:58:07Z",
        "createdDateTime": "2023-06-02T03:58:07Z",
        "expirationDateTime": "2023-06-03T03:58:07Z",
        "status": "running",
        "errors": [],
        "displayName": "AnalyzeOperationWithPHIDomain",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/28e04c23-b5ad-4c50-bd59-aa3637e6f811?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "28e04c23-b5ad-4c50-bd59-aa3637e6f811",
        "lastUpdatedDateTime": "2023-06-02T03:58:08Z",
        "createdDateTime": "2023-06-02T03:58:07Z",
        "expirationDateTime": "2023-06-03T03:58:07Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationWithPHIDomain",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "PiiEntityRecognitionLROResults",
              "lastUpdateDateTime": "2023-06-02T03:58:08.9294878Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "A patient with medical id ******** whose phone number is ************ is going under heart surgery",
                    "id": "0",
                    "entities": [
                      {
                        "text": "12345678",
                        "category": "PhoneNumber",
                        "offset": 26,
                        "length": 8,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "800-102-1100",
                        "category": "PhoneNumber",
                        "offset": 57,
                        "length": 12,
                        "confidenceScore": 0.8
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "287650322",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
