{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationTest",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Mi perro y mi gato tienen que ir al veterinario.",
              "language": "es"
            },
            {
              "id": "3",
              "text": "",
              "language": "es"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {},
            "kind": "KeyPhraseExtraction"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/e19f8640-d87a-426e-ab97-e8fd4e297cee?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/e19f8640-d87a-426e-ab97-e8fd4e297cee?api-version=2023-04-01\u0026showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "e19f8640-d87a-426e-ab97-e8fd4e297cee",
        "lastUpdatedDateTime": "2023-06-02T04:00:40Z",
        "createdDateTime": "2023-06-02T04:00:40Z",
        "expirationDateTime": "2023-06-03T04:00:40Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationTest",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/e19f8640-d87a-426e-ab97-e8fd4e297cee?api-version=2023-04-01\u0026showStats=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "e19f8640-d87a-426e-ab97-e8fd4e297cee",
        "lastUpdatedDateTime": "2023-06-02T04:00:44Z",
        "createdDateTime": "2023-06-02T04:00:40Z",
        "expirationDateTime": "2023-06-03T04:00:40Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationTest",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "lastUpdateDateTime": "2023-06-02T04:00:44.188598Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 1,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 51,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "perro",
                      "gato",
                      "veterinario"
                    ],
                    "statistics": {
                      "charactersCount": 48,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "3",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2022-10-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "885464709",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
