{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "AnalyzeOperationAnalyzeHealthcareEntities",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Prescribed 100mg ibuprofen to Jane Doe, taken twice daily.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "PiiEntityRecognition"
          },
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "Healthcare"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/053582e0-18fb-4b35-9b31-ad841b850173?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/053582e0-18fb-4b35-9b31-ad841b850173?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "053582e0-18fb-4b35-9b31-ad841b850173",
        "lastUpdatedDateTime": "2023-06-02T03:57:40Z",
        "createdDateTime": "2023-06-02T03:57:40Z",
        "expirationDateTime": "2023-06-03T03:57:40Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "AnalyzeOperationAnalyzeHealthcareEntities",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/053582e0-18fb-4b35-9b31-ad841b850173?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "053582e0-18fb-4b35-9b31-ad841b850173",
        "lastUpdatedDateTime": "2023-06-02T03:57:42Z",
        "createdDateTime": "2023-06-02T03:57:40Z",
        "expirationDateTime": "2023-06-03T03:57:40Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "AnalyzeOperationAnalyzeHealthcareEntities",
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 0,
          "total": 2,
          "items": [
            {
              "kind": "PiiEntityRecognitionLROResults",
              "lastUpdateDateTime": "2023-06-02T03:57:42.5858203Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "Prescribed 100mg ibuprofen to ********, taken twice *****.",
                    "id": "0",
                    "entities": [
                      {
                        "text": "Jane Doe",
                        "category": "Person",
                        "offset": 30,
                        "length": 8,
                        "confidenceScore": 0.9
                      },
                      {
                        "text": "daily",
                        "category": "DateTime",
                        "subcategory": "Set",
                        "offset": 52,
                        "length": 5,
                        "confidenceScore": 0.8
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            },
            {
              "kind": "HealthcareLROResults",
              "lastUpdateDateTime": "2023-06-02T03:57:42.255923Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 11,
                        "length": 5,
                        "text": "100mg",
                        "category": "Dosage",
                        "confidenceScore": 0.99
                      },
                      {
                        "offset": 17,
                        "length": 9,
                        "text": "ibuprofen",
                        "category": "MedicationName",
                        "confidenceScore": 1.0,
                        "name": "ibuprofen",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0020740"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000019879"
                          },
                          {
                            "dataSource": "ATC",
                            "id": "M01AE01"
                          },
                          {
                            "dataSource": "CCPSS",
                            "id": "[...]
