{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_get_analyzer_1774456563_5384?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Custom analyzer for extracting company information",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_get_analyzer_1774456563_5384/operations/92465ef1-d9a9-4a96-b5d3-08c8436f1f73?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_get_analyzer_1774456563_5384",
        "description": "Custom analyzer for extracting company information",
        "createdAt": "2026-03-25T16:36:08Z",
        "lastModifiedAt": "2026-03-25T16:36:08Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown",
          "_experimental": {
            "_chunkingStrategy": "noChunking",
            "_semanticConfigMaxChunkTokens": "250"
          }
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano",
            "gpt-5.2"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_get_analyzer_1774456563_5384/operations/92465ef1-d9a9-4a96-b5d3-08c8436f1f73?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "92465ef1-d9a9-4a96-b5d3-08c8436f1f73",
        "status": "Running",
        "result": {
          "analyzerId": "test_get_analyzer_1774456563_5384",
          "description": "Custom analyzer for extracting company information",
          "createdAt": "2026-03-25T16:36:08Z",
          "lastModifiedAt": "2026-03-25T16:36:08Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
      [...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_get_analyzer_1774456563_5384?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "getAnalyzerTestId": "test_get_analyzer_1774456563_5384"
  }
}
