{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.europe.communication.azure.com/sms?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 02 Dec 2024 13:08:53 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "+14255550123",
            "repeatabilityRequestId": "sanitized",
            "repeatabilityFirstSent": "Thu, 01 Jan 1970 00:00:00 GMT"
          }
        ],
        "message": "test message",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "SMS_LIVE_TEST"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview, 2024-12-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "178ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "+14255550123",
            "messageId": "2024-12-02T13:08:54_da3c99b7-c3a9-48b4-b2d6-8264ce364aba_prod_eur_switzerlandnorth_outgoing-mms",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.europe.communication.azure.com/sms?api-version=2024-12-10-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 02 Dec 2024 13:08:53 GMT"
      },
      "RequestBody": {
        "from": "Sanitized",
        "smsRecipients": [
          {
            "to": "+14255550123",
            "repeatabilityRequestId": "sanitized",
            "repeatabilityFirstSent": "Thu, 01 Jan 1970 00:00:00 GMT"
          }
        ],
        "message": "test message",
        "smsSendOptions": {
          "enableDeliveryReport": true,
          "tag": "SMS_LIVE_TEST"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview, 2024-02-05-preview, 2024-12-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "248ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "+14255550123",
            "messageId": "2024-12-02T13:08:54_85fadd20-4259-4536-934a-2f303dc888f8_prod_eur_westeurope_outgoing-mms",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {}
}
