{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/geocode?api-version=2023-06-01&query=1%20Microsoft%20Way%2C%20Redmond%2C%20WA%2098052",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -122.136833,
                47.642282
              ]
            },
            "bbox": [
              -122.14447656792176,
              47.638419282429325,
              -122.12918943207823,
              47.64614471757068
            ],
            "properties": {
              "type": "Address",
              "confidence": "High",
              "matchCodes": [
                "Good"
              ],
              "geocodePoints": [
                {
                  "calculationMethod": "Rooftop",
                  "usageTypes": [
                    "Display"
                  ],
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      -122.136833,
                      47.642282
                    ]
                  }
                },
                {
                  "calculationMethod": "Rooftop",
                  "usageTypes": [
                    "Route"
                  ],
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      -122.1364608,
                      47.6422377
                    ]
                  }
                }
              ],
              "address": {
                "addressLine": "1 Microsoft Way",
                "postalCode": "98052",
                "locality": "Redmond",
                "formattedAddress": "1 Microsoft Way, Redmond, WA 98052",
                "countryRegion": {
                  "name": "United States",
                  "ISO": "US"
                },
                "adminDistricts": [
                  {
                    "shortName": "WA"
                  },
                  {
                    "shortName": "King County"
                  }
                ]
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "735824963"
  }
}
