{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode:batch?api-version=2023-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "Sanitized"
      },
      "RequestBody": {
        "batchItems": [
          {
            "coordinates": [
              -122.34255,
              47.6101
            ]
          },
          {
            "coordinates": [
              -122.34255,
              47.6101
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.342482,
                    47.610157
                  ]
                },
                "properties": {
                  "geocodePoints": [
                    {
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.342482,
                          47.610157
                        ]
                      },
                      "calculationMethod": "Parcel",
                      "usageTypes": [
                        "Display"
                      ]
                    }
                  ],
                  "address": {
                    "addressLine": "1912 Pike Pl",
                    "adminDistricts": [
                      {
                        "shortName": "WA"
                      },
                      {
                        "shortName": "King Co."
                      }
                    ],
                    "countryRegion": {
                      "name": "United States",
                      "iso": "US"
                    },
                    "intersection": {
                      "baseStreet": "Pike Pl",
                      "displayName": "Pike Pl, between Stewart St and Virginia St",
                      "intersectionType": "Between",
                      "secondaryStreet1": "Stewart St",
                      "secondaryStreet2": "Virginia St"
                    },
                    "locality": "Seattle",
                    "neighborhood": "Downtown Seattle",
                    "postalCode": "98101",
                    "formattedAddress": "1912 Pike Pl, Seattle, WA 98101, United States"
                  },
                  "confidence": "High",
                  "matchCodes": [
                    "Good"
                  ],
                  "type": "Address"
                },
                "bbox": [
                  -122.35012087230005,
                  47.606294282429324,
                  -122.33484312769995,
                  47.61401971757068
                ]
              }
            ]
          },
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.342482,
                    4[...]
