{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode?api-version=2023-06-01&coordinates=-122.34255%2C47",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -122.342302,
                47.000226
              ]
            },
            "properties": {
              "geocodePoints": [
                {
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      -122.342302,
                      47.000226
                    ]
                  },
                  "calculationMethod": "Parcel",
                  "usageTypes": [
                    "Display"
                  ]
                }
              ],
              "address": {
                "addressLine": "28218 68th Ave E",
                "adminDistricts": [
                  {
                    "name": "Washington",
                    "shortName": "WA"
                  },
                  {
                    "name": "Pierce County",
                    "shortName": "Pierce Co."
                  }
                ],
                "countryRegion": {
                  "name": "United States",
                  "iso": "US"
                },
                "intersection": {
                  "baseStreet": "68th Ave E",
                  "displayName": "68th Ave E and 284th St E",
                  "intersectionType": "Near",
                  "secondaryStreet1": "284th St E",
                  "secondaryStreet2": null
                },
                "locality": "Graham",
                "postalCode": "98338",
                "formattedAddress": "28218 68th Ave E, Graham, Washington 98338, United States"
              },
              "confidence": "High",
              "matchCodes": [
                "Good"
              ],
              "type": "Address"
            },
            "bbox": [
              -122.3498532492122,
              46.99636328242932,
              -122.3347507507878,
              47.004088717570674
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "724203721"
  }
}
