{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode:batch?api-version=2025-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "Sanitized"
      },
      "RequestBody": {
        "batchItems": [
          {
            "resultTypes": [],
            "coordinates": [
              -122.34255,
              47
            ]
          },
          {
            "resultTypes": [],
            "coordinates": [
              -122.34255,
              47
            ]
          },
          {
            "resultTypes": [],
            "coordinates": [
              2,
              148
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.342302,
                    47.000226
                  ]
                },
                "properties": {
                  "geocodePoints": [
                    {
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.342302,
                          47.000226
                        ]
                      },
                      "calculationMethod": "Parcel",
                      "usageTypes": [
                        "Display"
                      ]
                    }
                  ],
                  "address": {
                    "addressLine": "28218 68th Ave E",
                    "adminDistricts": [
                      {
                        "name": "Washington",
                        "shortName": "WA"
                      },
                      {
                        "name": "Pierce County",
                        "shortName": "Pierce Co."
                      }
                    ],
                    "countryRegion": {
                      "name": "United States",
                      "ISO": "US"
                    },
                    "intersection": {
                      "baseStreet": "68th Ave E",
                      "displayName": "68th Ave E and 284th St E",
                      "intersectionType": "Near",
                      "secondaryStreet1": "284th St E"
                    },
                    "locality": "Graham",
                    "neighborhood": "",
                    "postalCode": "98338-9659",
                    "formattedAddress": "28218 68th Ave E, Graham, Washington 98338-9659, United States",
                    "streetName": "68th Ave E",
                    "streetNumber": "28218"
                  },
                  "confidence": "High",
                  "matchCodes": [
                    "Good"
                  ],
                  "type": "Address"
                },
                "bbox": [
                  -122.3498532492122,
                  46.99636328242932,
                  -122.3347507507878,
                  47.004088717570674
                ]
              }
            ]
          },
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.342302,
                    47.[...]
