{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode:batch?api-version=2023-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "Sanitized"
      },
      "RequestBody": {
        "batchItems": [
          {
            "coordinates": [
              -122.34255,
              47.6
            ]
          },
          {
            "coordinates": [
              -122.34255,
              47.6
            ]
          },
          {
            "coordinates": [
              2.294911,
              148.858561
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.3425521850586,
                    47.599998474121094
                  ]
                },
                "properties": {
                  "geocodePoints": [
                    {
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.3425521850586,
                          47.599998474121094
                        ]
                      },
                      "calculationMethod": "Rooftop",
                      "usageTypes": [
                        "Display"
                      ]
                    }
                  ],
                  "address": {
                    "adminDistricts": [
                      {
                        "shortName": "WA"
                      },
                      {
                        "shortName": "King Co."
                      }
                    ],
                    "countryRegion": {
                      "name": "United States",
                      "iso": "US"
                    },
                    "locality": "Seattle",
                    "formattedAddress": "Seattle, US"
                  },
                  "confidence": "Medium",
                  "matchCodes": [
                    "Good",
                    "UpHierarchy"
                  ],
                  "type": "PopulatedPlace"
                },
                "bbox": [
                  -122.39980514646084,
                  47.57102809112854,
                  -122.28529922365635,
                  47.62896885711365
                ]
              }
            ]
          },
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.3425521850586,
               [...]
