{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/geocode:batch?api-version=2023-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "Sanitized"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "error": {
          "message": "BatchItems is missing or empty",
          "details": []
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "415795446"
  }
}
