{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode?api-version=2023-06-01&coordinates=121%2C-100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The provided coordinates in coordinates are invalid, out of range, or not in the expected format"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "654835407"
  }
}
