{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourcegroups/NotificationHubRG-8373?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-8373",
        "name": "NotificationHubRG-8373",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-8373/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7030?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-8373/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7030/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTcwMzA7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview\u0026t=638521915448277752\u0026c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-8373/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7030/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTcwMzA7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview\u0026t=638521915448277752\u0026c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0B[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-8373/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7030?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "524c172d-f70b-4a04-bd56-ad83d8db8ee3",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "azNotificationHubNamespace7030",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
          "createdAt": "2024-05-24T23:52:20.837\u002B00:00",
          "updatedAt": "2024-05-24T23:52:20.843\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Disabled",
          "networkAcls": {},
          "serviceBusEndpoint": "https://azNotificationHubNamespace7030.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-8373/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace7030",
        "name": "azNotificationHubNamespace7030",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
[...]
