{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourcegroups/NotificationHubRG-6537?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537",
        "name": "NotificationHubRG-6537",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace5658?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace5658/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTU2NTg7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview\u0026t=638521917864827341\u0026c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace5658/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTU2NTg7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview\u0026t=638521917864827341\u0026c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0B[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace5658?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "f5228e93-0603-4b1f-8d98-5f6ba27668b4",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "azNotificationHubNamespace5658",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
          "createdAt": "2024-05-24T23:56:22.753\u002B00:00",
          "updatedAt": "2024-05-24T23:56:22.757\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Disabled",
          "networkAcls": {},
          "serviceBusEndpoint": "https://azNotificationHubNamespace5658.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace5658",
        "name": "azNotificationHubNamespace5658",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537/providers/Microsoft.NotificationHubs/namespaces?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "23811ff2-4770-45ef-95e7-870d0669099f",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard"
            },
            "properties": {
              "name": "azNotificationHubNamespace5658",
              "provisioningState": "Succeeded",
              "status": "Created",
              "enabled": true,
              "critical": false,
              "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
              "createdAt": "2024-05-24T23:56:22.753\u002B00:00",
              "updatedAt": "2024-05-24T23:56:22.[...]
