{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourcegroups/NotificationHubRG-5127?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5127",
        "name": "NotificationHubRG-5127",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5127/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace6323?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5127/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace6323/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTYzMjM7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview&t=638527012502995012&c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0J[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5127/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace6323/operations/Q3JlYXRlTmFtZXNwYWNlLTJjYWMyYTE0LWJhNmItNDZhNi1iY2U4LTJkOTc4MWE0MWJhMi1hek5vdGlmaWNhdGlvbkh1Yk5hbWVzcGFjZTYzMjM7bmhwcm9kYmwyMDAxLWZhYnJpYw==?api-version=2023-10-01-preview&t=638527012502995012&c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMR[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5127/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace6323?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "55c1447a-e1ab-49ba-815f-19cd1391932f",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "azNotificationHubNamespace6323",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
          "createdAt": "2024-05-31T05:27:24.287+08:00",
          "updatedAt": "2024-05-31T05:27:24.29+08:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Disabled",
          "networkAcls": {},
          "serviceBusEndpoint": "https://azNotificationHubNamespace6323.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5127/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace6323",
        "name": "azNotificationHubNamespace6323",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-5127/providers/Microsoft.NotificationHubs/namespaces?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "ca4625a4-fa0a-40a2-8988-82df57b6347d",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard"
            },
            "properties": {
              "name": "azNotificationHubNamespace1299",
              "provisioningState": "Succeeded",
              "status": "Created",
              "enabled": true,
              "critical": false,
              "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
              "createdAt": "2024-05-31T05:25:04.51+08:00",
              "updatedAt": "2024-05-31T05:25:04.513+08[...]
