{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "NH-INT7-COMP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourcegroups/NotificationHubRG-6537?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6537",
        "name": "NotificationHubRG-6537",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "52e51775-1124-4468-82ef-6d407d7c0a85",
    "RandomSeed": "1722932479",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
