{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "oct",
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "k": "AAECAwQFBgcICQoLDA0ODxAREhMUFRYX"
        },
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "47"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780552038,
          "enabled": true,
          "exportable": false,
          "key_size": 192,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780552038
        },
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "unwrapKey",
            "wrapKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-/343aa7b9c1a44e638b0250dced4137a5",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-/343aa7b9c1a44e638b0250dced4137a5/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-/343aa7b9c1a44e638b0250dced4137a5/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "A192CBCPAD",
        "value": "ZW5jcnlwdHMgcmVtb3RlbHkgYW5kIGRlY3J5cHRzIGxvY2FsbHk",
        "iv": "AAECAwQFBgcICQoLDA0ODw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "alg": "A192CBCPAD",
        "iv": "AAECAwQFBgcICQoLDA0ODw",
        "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-/343aa7b9c1a44e638b0250dced4137a5",
        "value": "HmQBtu8fpcaieYS1GxqKhzVdTfTd6WDIhbmRlTc94EYdIOxIJhZiGzk4Ebo80TBy"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "24"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780552038,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780552038
        },
        "deletedDate": 1780552041,
        "key": {
          "key_ops": [
            "encrypt",
            "decrypt",
            "wrapKey",
            "unwrapKey"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-/343aa7b9c1a44e638b0250dced4137a5",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/CRUDKeyName-encryptsremotelyanddecryptslocally-",
        "scheduledPurgeDate": 1781156841
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/CRUDKeyName-encryptsremotelyanddecryptslocally-?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1780552038,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1780552038
        },
        "deletedDate": 1780552041,
        "key": {
          "key_ops": [
            "wrapKey",
            "unwrapKey",
            "decrypt",
            "encrypt"
          ],
          "kid": "https://azure_managedhsm.managedhsm.azure.net/keys/CRUDKeyName-encryptsremotelyanddecryptslocally-/343aa7b9c1a44e638b0250dced4137a5",
          "kty": "oct-HSM"
        },
        "recoveryId": "https://azure_managedhsm.managedhsm.azure.net/deletedkeys/CRUDKeyName-encryptsremotelyanddecryptslocally-",
        "scheduledPurgeDate": 1781156841
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/CRUDKeyName-encryptsremotelyanddecryptslocally-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
