{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/aref?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:33:59.701721 GMT"
      },
      "RequestBody": {
        "key": "aref",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\": \"notaurl\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J7QeulO8jm6wRK74l9Hht0Yik3M-WeERnzluMCNccg8\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:33:59 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDYy;sn=5662462"
      },
      "ResponseBody": {
        "etag": "J7QeulO8jm6wRK74l9Hht0Yik3M-WeERnzluMCNccg8",
        "key": "aref",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\": \"notaurl\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:33:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/aref1?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDY0",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:34:00.045680 GMT"
      },
      "RequestBody": {
        "key": "aref1",
        "content_type": "fkaeyjfdkal;",
        "value": "{\"uri\": \"notaurl\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VW22cjtZQxUndEsMkqLXC4Hq2Zq0pP3MJf56woXtcOQ\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:34:00 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDY1;sn=5662465"
      },
      "ResponseBody": {
        "etag": "VW22cjtZQxUndEsMkqLXC4Hq2Zq0pP3MJf56woXtcOQ",
        "key": "aref1",
        "label": null,
        "content_type": "fkaeyjfdkal;",
        "value": "{\"uri\": \"notaurl\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:34:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/aref1?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDY2",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:34:00.255351 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VW22cjtZQxUndEsMkqLXC4Hq2Zq0pP3MJf56woXtcOQ\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:34:00 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDY3;sn=5662467"
      },
      "ResponseBody": {
        "etag": "VW22cjtZQxUndEsMkqLXC4Hq2Zq0pP3MJf56woXtcOQ",
        "key": "aref1",
        "label": null,
        "content_type": "fkaeyjfdkal;",
        "value": "{\"uri\": \"notaurl\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:34:00+00:00"
      }
    }
  ],
  "Variables": {}
}
