{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 17:20:58.507256 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BuvbuMCA3GequXlrCl74cgUbtG1lubfzAp7xtY8NabU\"",
        "Last-Modified": "Fri, 14 Jun 2024 17:20:59 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzA5;sn=5668709"
      },
      "ResponseBody": {
        "etag": "BuvbuMCA3GequXlrCl74cgUbtG1lubfzAp7xtY8NabU",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-14T17:20:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzA5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 17:20:59.514897 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yINsR4epyhrZzRaBpFl2MHg-GtrR5aPDv6KvI6Pj50c\"",
        "Last-Modified": "Fri, 14 Jun 2024 17:20:59 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEx;sn=5668711"
      },
      "ResponseBody": {
        "etag": "yINsR4epyhrZzRaBpFl2MHg-GtrR5aPDv6KvI6Pj50c",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        },
        "locked": false,
        "last_modified": "2024-06-14T17:20:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?name=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEx",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 17:20:59.624771 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEy;sn=5668712"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?name=test%2A&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEy",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 17:20:59.750731 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEy;sn=5668712"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEy",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 17:20:59.844809 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEy;sn=5668712"
      },
      "ResponseBody": {
        "items": [
          {
            "name": null
          },
          {
            "name": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEy",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 17:20:59.954636 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DcHO15CgjnEr[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzEz",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 17:21:00.191108 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BuvbuMCA3GequXlrCl74cgUbtG1lubfzAp7xtY8NabU\"",
        "Last-Modified": "Fri, 14 Jun 2024 17:20:59 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzE0;sn=5668714"
      },
      "ResponseBody": {
        "etag": "BuvbuMCA3GequXlrCl74cgUbtG1lubfzAp7xtY8NabU",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-14T17:20:59+00:00"
      }
    }
  ],
  "Variables": {}
}
