{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,2|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.24.1",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=client-id\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=client-secret\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-python.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_0",
        "value": "multi value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vqWx2HnWqyNrNrBsbTzbJWGKkUg7MyQzsLub3Vkg08E\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:07 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2MzI2;sn=21586326"
      },
      "ResponseBody": {
        "etag": "vqWx2HnWqyNrNrBsbTzbJWGKkUg7MyQzsLub3Vkg08E",
        "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_0",
        "content_type": null,
        "value": "multi value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T20:25:07\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=multi_%2A\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NTI2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y49-njXy3kHW8zZHr70nJO05HhPad2osX7vlaipqsRo\u0022",
        "Link": "\u003C/kv?key=multi_*\u0026api-version=2023-10-01\u0026after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NTI3;sn=21586527"
      },
      "ResponseBody": {
        "etag": "Y49-njXy3kHW8zZHr70nJO05HhPad2osX7vlaipqsRo",
        "items": [
          {
            "etag": "vqWx2HnWqyNrNrBsbTzbJWGKkUg7MyQzsLub3Vkg08E",
            "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "multi_label_0",
            "content_type": null,
            "value": "multi value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-11-07T20:25:07\u002B00:00"
          },
          {
            "etag": "TYdg8cf8KQLwdce_OeZeClkBnK0B_lTUwIZqGWuBPFc",
            "key": "multi_10[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=multi_%2A\u0026api-version=2023-10-01\u0026after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NTI3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022SuGdmTdWsv7w0KnUjpDD1R9bWuUu1V2YgTn11Nc43Bs\u0022",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NTI3;sn=21586527"
      },
      "ResponseBody": {
        "etag": "SuGdmTdWsv7w0KnUjpDD1R9bWuUu1V2YgTn11Nc43Bs",
        "items": [
          {
            "etag": "Vzxhqh-BzxfhI5Lqt-d-U-lqahN19aIZybrz5RLtyb4",
            "key": "multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "multi_label_9",
            "content_type": null,
            "value": "multi value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-11-07T20:25:08\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_100\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NjI3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TYdg8cf8KQLwdce_OeZeClkBnK0B_lTUwIZqGWuBPFc\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:12 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NjI4;sn=21586628"
      },
      "ResponseBody": {
        "etag": "TYdg8cf8KQLwdce_OeZeClkBnK0B_lTUwIZqGWuBPFc",
        "key": "multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_100",
        "content_type": null,
        "value": "multi value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T20:25:12\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
