{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:17.051247 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HodpRCySGt3i7JmjJCfOrfJUGzL5LQYunFkzIvJxFqE\"",
        "Last-Modified": "Tue, 11 Jun 2024 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQz;sn=5661143"
      },
      "ResponseBody": {
        "etag": "HodpRCySGt3i7JmjJCfOrfJUGzL5LQYunFkzIvJxFqE",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-11T23:59:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQz",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:18.035707 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HodpRCySGt3i7JmjJCfOrfJUGzL5LQYunFkzIvJxFqE\"",
        "Last-Modified": "Tue, 11 Jun 2024 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQ0;sn=5661144"
      },
      "ResponseBody": {
        "etag": "HodpRCySGt3i7JmjJCfOrfJUGzL5LQYunFkzIvJxFqE",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-11T23:59:17+00:00"
      }
    }
  ],
  "Variables": {}
}
