{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests1-azconfig-net.azconfig.io%2F.default\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test valuea",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LOUrqGt0OCel2h0fnlDE-BVy0Ph6h1GgOKEY4AOX1kQ\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 23:32:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMDI0;sn=16983024",
        "x-ms-resource-group": "rg-yallappconfigtests1",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "yallappconfigtests1-azconfig-net"
      },
      "ResponseBody": {
        "etag": "LOUrqGt0OCel2h0fnlDE-BVy0Ph6h1GgOKEY4AOX1kQ",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test valuea",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2023-07-12T23:32:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMDI0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LOUrqGt0OCel2h0fnlDE-BVy0Ph6h1GgOKEY4AOX1kQ\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 23:32:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMDI2;sn=16983026",
        "x-ms-resource-group": "rg-yallappconfigtests1",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "yallappconfigtests1-azconfig-net"
      },
      "ResponseBody": {
        "etag": "LOUrqGt0OCel2h0fnlDE-BVy0Ph6h1GgOKEY4AOX1kQ",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test valuea",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2023-07-12T23:32:04\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
