{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-python.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225HUFng8F7Mcr7iQI63RF_KwQLu0ZO_KRhYR1fGndw_I\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQy;sn=21586742"
      },
      "ResponseBody": {
        "etag": "5HUFng8F7Mcr7iQI63RF_KwQLu0ZO_KRhYR1fGndw_I",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-11-07T20:25:29\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQy"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022q5ahRkEpSzan2yycDlwfrYgBb2RZQQ-4GKNIliR2Wgg\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQ0;sn=21586744"
      },
      "ResponseBody": {
        "etag": "q5ahRkEpSzan2yycDlwfrYgBb2RZQQ-4GKNIliR2Wgg",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-11-07T20:25:29\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309\u0026label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQ0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022eekHeHD9KaOg-WCzZO1YmV3lYNiKtS1LLWVJQjulS5o\u0022",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQ1;sn=21586745"
      },
      "ResponseBody": {
        "etag": "eekHeHD9KaOg-WCzZO1YmV3lYNiKtS1LLWVJQjulS5o",
        "items": [
          {
            "etag": "5HUFng8F7Mcr7iQI63RF_KwQLu0ZO_KRhYR1fGndw_I",
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
            "content_type": "test content type",
            "value": "test value",
            "tags": {
              "tag1": "tag1",
              "tag2": "tag2"
            },
            "locked": false,
            "last_modified": "2023-11-07T20:25:29\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQ1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u002258CDMCX6_S-j1okgK_O5hMPgkq9osaXafQXxJfhSQIM\u0022",
        "Sync-Token": "zAJw6V16=Njo1IzIxN[...]
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQ2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225HUFng8F7Mcr7iQI63RF_KwQLu0ZO_KRhYR1fGndw_I\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg2NzQ3;sn=21586747"
      },
      "ResponseBody": {
        "etag": "5HUFng8F7Mcr7iQI63RF_KwQLu0ZO_KRhYR1fGndw_I",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-11-07T20:25:29\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
