{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-python.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTM1;sn=21587135"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTM1"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022RzSpsEGxvj8NO0FcHFvWVSGj7yzF6VWU9PQmRdoEEsQ\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTM2;sn=21587136"
      },
      "ResponseBody": {
        "etag": "RzSpsEGxvj8NO0FcHFvWVSGj7yzF6VWU9PQmRdoEEsQ",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-11-07T20:25:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Fcustom?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTM2"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/custom",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022: \u0022custom\u002[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Ftime_window?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTM4"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/time_window",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022: \u0022t[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Fnewflag?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTQw"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/newflag",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022: \u0022newflag\u[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Fnewflag?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTQy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002292wk2F0OOitOUDK49ErSKY2x2glMnI-08SHJMyzCibI\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTQ0;sn=21587144"
      },
      "ResponseBody": {
        "etag": "92wk2F0OOitOUDK49ErSKY2x2glMnI-08SHJMyzCibI",
        "key": ".appconfig.featureflag/newflag",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022: \u0022newflag\u0022, \u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: [{\u0022name\u0022: \u0022Microsoft.Targeting\u0022, \u0022parameters\u0022: {\u0022Audience\u0022: {\u0022Users\u0022: [\u0022abc\u0022, \u0022def\u0022], \u0022Groups\u0022: [\u0022ghi\u0022, \u0022jkl\u0022], \u0022DefaultRolloutPercentage\u0022: 75}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T20:25:45\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
