{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking1?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:02:09.384345 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/breaking1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking1\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"bababooey, 31 Mar 2021 25:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ns2tyCCklAtOIoV444Gc60CAZ2jPlc7kNjlIj2oLZLo\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:02:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDk4;sn=5661498"
      },
      "ResponseBody": {
        "etag": "Ns2tyCCklAtOIoV444Gc60CAZ2jPlc7kNjlIj2oLZLo",
        "key": ".appconfig.featureflag/breaking1",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking1\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"bababooey, 31 Mar 2021 25:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:02:10+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking5?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNTEw",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:02:12.477384 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/breaking5",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking5\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": \"123\"}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9fuyNrE-BM0-JR8drn3p9I3wE-FOJ8DaGxaC7WaQJag\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:02:12 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNTEx;sn=5661511"
      },
      "ResponseBody": {
        "etag": "9fuyNrE-BM0-JR8drn3p9I3wE-FOJ8DaGxaC7WaQJag",
        "key": ".appconfig.featureflag/breaking5",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking5\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": \"123\"}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:02:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking7?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNTE0",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:02:13.145852 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/breaking7",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking7\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"abc\": \"def\"}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mi2iY0z8KJ8_OYmHDtgYvKTFKSIDuVbudW55ezVJtko\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:02:13 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNTE1;sn=5661515"
      },
      "ResponseBody": {
        "etag": "mi2iY0z8KJ8_OYmHDtgYvKTFKSIDuVbudW55ezVJtko",
        "key": ".appconfig.featureflag/breaking7",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking7\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"abc\": \"def\"}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:02:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking8?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNTE3",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:02:13.708936 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hgkE5ov3RAbpcgPdE1Zcp_Lj-3r5avsBAdE1ZdONkRQ\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:02:13 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNTE4;sn=5661518"
      },
      "ResponseBody": {
        "etag": "hgkE5ov3RAbpcgPdE1Zcp_Lj-3r5avsBAdE1ZdONkRQ",
        "key": ".appconfig.featureflag/breaking8",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking8\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"abc\": \"def\"}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:02:13+00:00"
      }
    }
  ],
  "Variables": {}
}
