{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:32:33.494999 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EoTxyRSN9Gtvz1EbxLqFYi26kqvFzWlcinuT5YppaEM\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:32:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDIw;sn=5662020"
      },
      "ResponseBody": {
        "etag": "EoTxyRSN9Gtvz1EbxLqFYi26kqvFzWlcinuT5YppaEM",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-12T00:32:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDIw",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:32:33.605441 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tcYhFrpvCwPcnY64i1T_PJbYS36VeFDo9TsuIxkXVjw\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:32:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDIy;sn=5662022"
      },
      "ResponseBody": {
        "etag": "tcYhFrpvCwPcnY64i1T_PJbYS36VeFDo9TsuIxkXVjw",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-12T00:32:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDIy",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:32:33.715391 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Dw6EzyScK-rja-H7sMMrxZNa6O-FWdfFY71iXjLoIxQ\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDIz;sn=5662023"
      },
      "ResponseBody": {
        "etag": "Dw6EzyScK-rja-H7sMMrxZNa6O-FWdfFY71iXjLoIxQ",
        "items": [
          {
            "etag": "tcYhFrpvCwPcnY64i1T_PJbYS36VeFDo9TsuIxkXVjw",
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": null,
            "content_type": "test content type",
            "value": "test value",
            "tags": {
              "tag1": "tag1",
              "tag2": "tag2"
            },
            "locked": false,
            "last_modified": "2024-06-12T00:32:33+00:00"
          },
          {
            "etag": "EoTxyRSN9Gtvz1EbxLqFYi26kqvFzWlcinuT5YppaEM",
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
            "content_type": "test content type",
            "value": "test value",
            "tags": {
              "tag1": "tag1",
              "tag2": "tag2"
            },
            "locked": false,
            "last_modified": "2024-06-12T00:32:33+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDIz",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:32:33.825281 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Dw6EzyScK-rj[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDI0",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:32:34.027550 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EoTxyRSN9Gtvz1EbxLqFYi26kqvFzWlcinuT5YppaEM\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:32:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMDI1;sn=5662025"
      },
      "ResponseBody": {
        "etag": "EoTxyRSN9Gtvz1EbxLqFYi26kqvFzWlcinuT5YppaEM",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-12T00:32:33+00:00"
      }
    }
  ],
  "Variables": {}
}
