{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022t_-50uN7208zbB9AkRT_Bqcz9gLsHqrtjDAtoDpKGls\u0022",
        "Last-Modified": "Sat, 01 Jul 2023 01:50:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzEw;sn=27482310"
      },
      "ResponseBody": {
        "etag": "t_-50uN7208zbB9AkRT_Bqcz9gLsHqrtjDAtoDpKGls",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-07-01T01:50:36\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzEw"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226OYtnNIO5zJGlafJBv_4w-2rxtWTQ1BU0f8zo-4hlKU\u0022",
        "Last-Modified": "Sat, 01 Jul 2023 01:50:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzEy;sn=27482312"
      },
      "ResponseBody": {
        "etag": "6OYtnNIO5zJGlafJBv_4w-2rxtWTQ1BU0f8zo-4hlKU",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-07-01T01:50:36\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309*\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzEy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzEz;sn=27482313"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "t_-50uN7208zbB9AkRT_Bqcz9gLsHqrtjDAtoDpKGls",
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
            "content_type": "test content type",
            "value": "test value",
            "tags": {
              "tag1": "tag1",
              "tag2": "tag2"
            },
            "locked": false,
            "last_modified": "2023-07-01T01:50:36\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzEz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzEz;sn=27482313"
      },
      "ResponseBody": {
        "item[...]
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label2_*,%20%5C1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzE1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022H6BuRLAC8cm14Vsq2J_pjViZUFyytgg1FL7-7o87ga4\u0022",
        "Last-Modified": "Sat, 01 Jul 2023 01:50:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzI3NDgyMzE2;sn=27482316"
      },
      "ResponseBody": {
        "etag": "H6BuRLAC8cm14Vsq2J_pjViZUFyytgg1FL7-7o87ga4",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label2_*, \\1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": null,
        "value": "test value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-01T01:50:35\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
