{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests1-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SYaI_AAoRXZSmO0tiWopquTEIFjwNAAtk96xr8JlLKs\u0022",
        "Last-Modified": "Wed, 31 May 2023 00:54:43 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzU3;sn=24174357"
      },
      "ResponseBody": {
        "etag": "SYaI_AAoRXZSmO0tiWopquTEIFjwNAAtk96xr8JlLKs",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-05-31T00:54:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzU3"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002223RZu5wNl3ByqSBk3XJLfx20sR36e2ErAebxt6beuzQ\u0022",
        "Last-Modified": "Wed, 31 May 2023 00:54:43 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzU5;sn=24174359"
      },
      "ResponseBody": {
        "etag": "23RZu5wNl3ByqSBk3XJLfx20sR36e2ErAebxt6beuzQ",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-05-31T00:54:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/revisions?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzU5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/revisions?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=1.0\u0026after=MTY4NTEyOTcyOTthTkpmMVlmVUJSUjE2cGNXZmtSZFF3RThackVXRER4c2dmOWdOcmo0TDR3\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzYw;sn=24174360"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "SYaI_AAoRXZSmO0tiWopquTEIFjwNAAtk96xr8JlLKs",
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
            "content_type": "test content type",
            "value": "test value",
            "tags": {
              "tag1": "tag1",
              "tag2": "tag2"
            },
            "locked": false,
            "last_modified": "2023-05-31T00:54:43\u002B0[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/revisions?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=1.0\u0026after=MTY4NTEyOTcyOTthTkpmMVlmVUJSUjE2cGNXZmtSZFF3RThackVXRER4c2dmOWdOcmo0TDR3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzYw;sn=24174360"
      },
      "ResponseBody": {
        "items": [
         [...]
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzYx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SYaI_AAoRXZSmO0tiWopquTEIFjwNAAtk96xr8JlLKs\u0022",
        "Last-Modified": "Wed, 31 May 2023 00:54:43 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0MTc0MzYy;sn=24174362"
      },
      "ResponseBody": {
        "etag": "SYaI_AAoRXZSmO0tiWopquTEIFjwNAAtk96xr8JlLKs",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-05-31T00:54:43\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
