{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:33:39.307881 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/test_feature",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"test_feature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oYrSmtVVPdoDXi2E08FgzM8UKD3_5pLAJ9wPfq-v0Iw\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:33:39 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMzk3;sn=5662397"
      },
      "ResponseBody": {
        "etag": "oYrSmtVVPdoDXi2E08FgzM8UKD3_5pLAJ9wPfq-v0Iw",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"test_feature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:33:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyMzk5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:33:39.524604 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P1HVVWf_jcCQ_K6-2domh_9mDvwnuOwUYdwmiX0ERO8\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:33:39 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDAx;sn=5662401"
      },
      "ResponseBody": {
        "etag": "P1HVVWf_jcCQ_K6-2domh_9mDvwnuOwUYdwmiX0ERO8",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"test_feature\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:33:39+00:00"
      }
    }
  ],
  "Variables": {}
}
