{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:02:23.613085 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4z4z972EAVEGqOrT-lSnayTGJs1qNDxt5D1enBGsCCY\"",
        "Last-Modified": "Fri, 14 Jun 2024 18:02:24 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzY1;sn=5668765"
      },
      "ResponseBody": {
        "etag": "4z4z972EAVEGqOrT-lSnayTGJs1qNDxt5D1enBGsCCY",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        },
        "locked": false,
        "last_modified": "2024-06-14T18:02:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"wrong etag\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzY2",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:02:24.298098 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzY2;sn=5668766"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzY3",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:02:24.545162 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzY3;sn=5668767"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
