{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:03:18.080283 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTEx;sn=5669111"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTEx",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:03:18.598701 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"t1v4UrKj2mVbzHwR5qw6g1F3Khrs4pG20_WWXaA0rCY\"",
        "Last-Modified": "Fri, 14 Jun 2024 18:03:18 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTEy;sn=5669112"
      },
      "ResponseBody": {
        "etag": "t1v4UrKj2mVbzHwR5qw6g1F3Khrs4pG20_WWXaA0rCY",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag3": "value3",
          "tag4": "value4"
        },
        "locked": false,
        "last_modified": "2024-06-14T18:03:18+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?label=%00&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTEy",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:03:18.715811 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sspmnCIk0bvjfIPFrr5D7DImljoJqb-XlRly1f0tHoI\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTEz;sn=5669113"
      },
      "ResponseBody": {
        "etag": "sspmnCIk0bvjfIPFrr5D7DImljoJqb-XlRly1f0tHoI",
        "items": [
          {
            "etag": "t1v4UrKj2mVbzHwR5qw6g1F3Khrs4pG20_WWXaA0rCY",
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": null,
            "content_type": "test content type",
            "value": "test value",
            "tags": {
              "tag3": "value3",
              "tag4": "value4"
            },
            "locked": false,
            "last_modified": "2024-06-14T18:03:18+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTEz",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:03:18.815637 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"JhYH9GiSR9ro[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTE0",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:03:19.032334 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w_lwmjXA4s2bM3a8uYjuQ2uL93FT4DUpgU5Ijhnj6xI\"",
        "Last-Modified": "Fri, 14 Jun 2024 18:02:47 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MTE1;sn=5669115"
      },
      "ResponseBody": {
        "etag": "w_lwmjXA4s2bM3a8uYjuQ2uL93FT4DUpgU5Ijhnj6xI",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-14T18:02:47+00:00"
      }
    }
  ],
  "Variables": {}
}
