{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/KEY1?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "KEY1",
        "content_type": "test content type",
        "value": "TEST_VALUE1",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022p0lEe3ZXAWyJPCucIJMKPzjt-OAqLhwixx-ze66-6oI\u0022",
        "Last-Modified": "Tue, 13 Jun 2023 20:29:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg3MDU4;sn=11787058"
      },
      "ResponseBody": {
        "etag": "p0lEe3ZXAWyJPCucIJMKPzjt-OAqLhwixx-ze66-6oI",
        "key": "KEY1",
        "label": null,
        "content_type": "test content type",
        "value": "TEST_VALUE1",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-06-13T20:29:59\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/KEY2?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg3MDYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00224dWTYpv3D5Zf-rcGDbk_kO-tkaXmQzx1TPyz_LYJQgc\u0022",
        "Last-Modified": "Tue, 13 Jun 2023 20:29:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg3MDYy;sn=11787062"
      },
      "ResponseBody": {
        "etag": "4dWTYpv3D5Zf-rcGDbk_kO-tkaXmQzx1TPyz_LYJQgc",
        "key": "KEY2",
        "label": null,
        "content_type": "test content type",
        "value": "TEST_VALUE2",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-06-13T20:29:59\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
