{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:28.468004 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UfTUIP6NvvWk5Mzly8RCJqZfBJ2mUbXNN2oHcWx9gj8\"",
        "Last-Modified": "Tue, 11 Jun 2024 23:59:29 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQ4;sn=5661148"
      },
      "ResponseBody": {
        "etag": "UfTUIP6NvvWk5Mzly8RCJqZfBJ2mUbXNN2oHcWx9gj8",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-11T23:59:29+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"wrong etag\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQ5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:29.301732 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQ5;sn=5661149"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQ5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:29.394901 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQ5;sn=5661149"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQ5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:29.575022 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UfTUIP6NvvWk5Mzly8RCJqZfBJ2mUbXNN2oHcWx9gj8\"",
        "Last-Modified": "Tue, 11 Jun 2024 23:59:29 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTUw;sn=5661150"
      },
      "ResponseBody": {
        "etag": "UfTUIP6NvvWk5Mzly8RCJqZfBJ2mUbXNN2oHcWx9gj8",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-11T23:59:29+00:00"
      }
    }
  ],
  "Variables": {}
}
