{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-python.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/ConnectionString?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "ConnectionString",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022: \u0022https://test-test.vault.azure.net/secrets/connectionString\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222kZG-Y8aTLA_PpU3JKgM3iJYxyatVv1vrvMl9Q-E2AI\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTUx;sn=21587151"
      },
      "ResponseBody": {
        "etag": "2kZG-Y8aTLA_PpU3JKgM3iJYxyatVv1vrvMl9Q-E2AI",
        "key": "ConnectionString",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022: \u0022https://test-test.vault.azure.net/secrets/connectionString\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T20:25:46\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/ConnectionString?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTUz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SVUD0k6URwnlREC7ZwHtKA03xA6xvDgxnbZl5RusY2A\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 20:25:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxNTg3MTU1;sn=21587155"
      },
      "ResponseBody": {
        "etag": "SVUD0k6URwnlREC7ZwHtKA03xA6xvDgxnbZl5RusY2A",
        "key": "ConnectionString",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022: \u0022https://test-test.vault.azure.net/new_secrets/connectionString\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T20:25:46\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
