{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:34.725731 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDUy;sn=5661452"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDUy",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:35.552509 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ciMkBlqutEi-3mFLx0k3_5SV6ePiv2qAI9WS1uZjgWs\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:01:35 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDUz;sn=5661453"
      },
      "ResponseBody": {
        "etag": "ciMkBlqutEi-3mFLx0k3_5SV6ePiv2qAI9WS1uZjgWs",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-12T00:01:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fcustom?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDUz",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:35.678258 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/custom",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"custom\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Percentage\", \"parameters\": {\"Value\": 10, \"User\": \"user1\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DF7ELtjxXwJkt2_-5ioe4E4YPuW958m6QXVxmKb-BTQ\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:01:35 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDU1;sn=5661455"
      },
      "ResponseBody": {
        "etag": "DF7ELtjxXwJkt2_-5ioe4E4YPuW958m6QXVxmKb-BTQ",
        "key": ".appconfig.featureflag/custom",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"custom\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Percentage\", \"parameters\": {\"Value\": 10, \"User\": \"user1\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:01:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Ftime_window?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDU1",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:35.785866 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/time_window",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"time_window\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"Wed, 10 Mar 2021 05:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pntMnxupGq21a0UkJCtOCTKr6wfFP_CMXbUHJQBEk68\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:01:35 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDU2;sn=5661456"
      },
      "ResponseBody": {
        "etag": "pntMnxupGq21a0UkJCtOCTKr6wfFP_CMXbUHJQBEk68",
        "key": ".appconfig.featureflag/time_window",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"time_window\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"Wed, 10 Mar 2021 05:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:01:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fnewflag?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDU2",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:35.912151 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/newflag",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"newflag\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": [\"abc\", \"def\"], \"Groups\": [\"ghi\", \"jkl\"], \"DefaultRolloutPercentage\": 75}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VkVW3jEwH-ECdzhrUJBAH927wb15p3b0foRrESHDVck\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDU3;sn=5661457"
      },
      "ResponseBody": {
        "etag": "VkVW3jEwH-ECdzhrUJBAH927wb15p3b0foRrESHDVck",
        "key": ".appconfig.featureflag/newflag",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"newflag\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": [\"abc\", \"def\"], \"Groups\": [\"ghi\", \"jkl\"], \"DefaultRolloutPercentage\": 75}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:01:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fnewflag?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDU3",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:36.055417 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VkVW3jEwH-ECdzhrUJBAH927wb15p3b0foRrESHDVck\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDU4;sn=5661458"
      },
      "ResponseBody": {
        "etag": "VkVW3jEwH-ECdzhrUJBAH927wb15p3b0foRrESHDVck",
        "key": ".appconfig.featureflag/newflag",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"newflag\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": [\"abc\", \"def\"], \"Groups\": [\"ghi\", \"jkl\"], \"DefaultRolloutPercentage\": 75}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:01:36+00:00"
      }
    }
  ],
  "Variables": {}
}
