{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-python.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/KEY1?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "KEY1",
        "content_type": "test content type",
        "value": "TEST_VALUE1",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MkToUYm-5S6wUHNnCYHncsRRGeiy-0bisbc5ec3mJtA\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 01:20:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxMjM2MjQz;sn=21236243"
      },
      "ResponseBody": {
        "etag": "MkToUYm-5S6wUHNnCYHncsRRGeiy-0bisbc5ec3mJtA",
        "key": "KEY1",
        "label": null,
        "content_type": "test content type",
        "value": "TEST_VALUE1",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-10-27T01:20:46\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/KEY2?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzIxMjM2MjQ1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022x6VwvPcV1GMiW3k5orI1tdD8BsrK6hHoF_jgw7YhJeM\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 01:20:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIxMjM2MjQ3;sn=21236247"
      },
      "ResponseBody": {
        "etag": "x6VwvPcV1GMiW3k5orI1tdD8BsrK6hHoF_jgw7YhJeM",
        "key": "KEY2",
        "label": null,
        "content_type": "test content type",
        "value": "TEST_VALUE2",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2023-10-27T01:20:46\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
