{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:09.453460 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test valuea",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7h212Xr6oLbAYYC8XK8JzmBvb6JBpJcBymeuDmV_H6Y\"",
        "Last-Modified": "Tue, 11 Jun 2024 23:59:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQx;sn=5661141"
      },
      "ResponseBody": {
        "etag": "7h212Xr6oLbAYYC8XK8JzmBvb6JBpJcBymeuDmV_H6Y",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test valuea",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2024-06-11T23:59:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQx",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:10.244165 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7h212Xr6oLbAYYC8XK8JzmBvb6JBpJcBymeuDmV_H6Y\"",
        "Last-Modified": "Tue, 11 Jun 2024 23:59:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTQy;sn=5661142"
      },
      "ResponseBody": {
        "etag": "7h212Xr6oLbAYYC8XK8JzmBvb6JBpJcBymeuDmV_H6Y",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test valuea",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2024-06-11T23:59:10+00:00"
      }
    }
  ],
  "Variables": {}
}
