{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/test_feature",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022A-uazvXZQoDEv7EAkoEaENZHy9_E054kFTudUm1m4eI\u0022",
        "Last-Modified": "Tue, 13 Jun 2023 20:29:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg3MDc0;sn=11787074"
      },
      "ResponseBody": {
        "etag": "A-uazvXZQoDEv7EAkoEaENZHy9_E054kFTudUm1m4eI",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-13T20:29:59\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg3MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022fvPQJVszfezsXj7_hCbuk823Tf8HOU0dRXaG6ZsC-10\u0022",
        "Last-Modified": "Tue, 13 Jun 2023 20:29:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg3MDc4;sn=11787078"
      },
      "ResponseBody": {
        "etag": "fvPQJVszfezsXj7_hCbuk823Tf8HOU0dRXaG6ZsC-10",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: false, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-13T20:29:59\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
