{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fcustom?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:33:50.621630 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/custom",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"custom\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Percentage\", \"parameters\": {\"Value\": 10}}, {\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"Wed, 10 Mar 2021 05:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}, {\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": [\"abcde\", \"defgh\"], \"Groups\": [\"ghijk\", \"jklmn\"], \"DefaultRolloutPercentage\": 100}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gkDUYKiXU4J1XpsoqsfD1SYxK5CnbcLx_SHwUxqSywg\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:33:50 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDMw;sn=5662430"
      },
      "ResponseBody": {
        "etag": "gkDUYKiXU4J1XpsoqsfD1SYxK5CnbcLx_SHwUxqSywg",
        "key": ".appconfig.featureflag/custom",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"custom\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Percentage\", \"parameters\": {\"Value\": 10}}, {\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"Wed, 10 Mar 2021 05:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}, {\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": [\"abcde\", \"defgh\"], \"Groups\": [\"ghijk\", \"jklmn\"], \"DefaultRolloutPercentage\": 100}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:33:50+00:00"
      }
    },
[...]
