{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fnewflag?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:33:43.852646 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/newflag",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"newflag\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": [\"abc\", \"def\"], \"Groups\": [\"ghi\", \"jkl\"], \"DefaultRolloutPercentage\": 75}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZBQsGeIoyGgNLrQNqbE9tTeaUKPmfIt83JZQhZhqGl4\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:33:43 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYyNDA3;sn=5662407"
      },
      "ResponseBody": {
        "etag": "ZBQsGeIoyGgNLrQNqbE9tTeaUKPmfIt83JZQhZhqGl4",
        "key": ".appconfig.featureflag/newflag",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"newflag\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": [\"abc\", \"def\"], \"Groups\": [\"ghi\", \"jkl\"], \"DefaultRolloutPercentage\": 75}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:33:43+00:00"
      }
    },
[...]
