{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.20.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=client-id\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=client-secret\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_0",
        "value": "multi value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VZX8PAIHDvHONyh3pYlDJQjujuyZAGMc2L_KPjL5Eks\u0022",
        "Last-Modified": "Tue, 13 Jun 2023 20:28:45 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg2MjI3;sn=11786227"
      },
      "ResponseBody": {
        "etag": "VZX8PAIHDvHONyh3pYlDJQjujuyZAGMc2L_KPjL5Eks",
        "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_0",
        "content_type": null,
        "value": "multi value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-13T20:28:45\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=multi_%2A\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg2NDI3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/kv?key=multi_*\u0026api-version=1.0\u0026after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg2NDI4;sn=11786428"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "VZX8PAIHDvHONyh3pYlDJQjujuyZAGMc2L_KPjL5Eks",
            "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "multi_label_0",
            "content_type": null,
            "value": "multi value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-06-13T20:28:45\u002B00:00"
          },
          {
            "etag": "J9VtVbl7Ntr2uJuVmyjfTlpqiNr7wU8I__8jUaXD9Ec",
            "key": "multi_10[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=multi_%2A\u0026api-version=1.0\u0026after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg2NDI4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg2NDI4;sn=11786428"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "D9s7sIXoq1jmYX-OEJtbdk2tROBas8t2_vI8xDXB7qg",
            "key": "multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "multi_label_9",
            "content_type": null,
            "value": "multi value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-06-13T20:28:45\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_100\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg2NTI4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J9VtVbl7Ntr2uJuVmyjfTlpqiNr7wU8I__8jUaXD9Ec\u0022",
        "Last-Modified": "Tue, 13 Jun 2023 20:28:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzExNzg2NTI5;sn=11786529"
      },
      "ResponseBody": {
        "etag": "J9VtVbl7Ntr2uJuVmyjfTlpqiNr7wU8I__8jUaXD9Ec",
        "key": "multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_100",
        "content_type": null,
        "value": "multi value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-13T20:28:49\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
