{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label2_%2A%2C%20%5C1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:11.448963 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label2_*, \\1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "value": "test value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IBEOR8cxNP3qhhvO_wnMKRtYpYFH3S2woy2tNj1FZmw\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:00:12 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTk1;sn=5661195"
      },
      "ResponseBody": {
        "etag": "IBEOR8cxNP3qhhvO_wnMKRtYpYFH3S2woy2tNj1FZmw",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label2_*, \\1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": null,
        "value": "test value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:00:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?label=test_label2_%5C%2A%5C%2C%20%5C%5C1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTk1",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:12.265353 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"wXANum9UnEE0rpTo43qUirq_hcBG0DyRt3puKqSZLjY\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTk1;sn=5661195"
      },
      "ResponseBody": {
        "etag": "wXANum9UnEE0rpTo43qUirq_hcBG0DyRt3puKqSZLjY",
        "items": [
          {
            "etag": "IBEOR8cxNP3qhhvO_wnMKRtYpYFH3S2woy2tNj1FZmw",
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "test_label2_*, \\1d7b2b28-549e-11e9-b51c-2816a84d0309",
            "content_type": null,
            "value": "test value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-06-12T00:00:12+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTk1",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:12.413104 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTk1;sn=5661195"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
