{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests1-azconfig-net.azconfig.io%2F.default\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_0",
        "value": "multi value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JTD5W8CdxoxSme1C_kFeTk_Jpy1LUF0HN0F80gDGW2w\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 23:32:11 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMDc3;sn=16983077",
        "x-ms-resource-group": "rg-yallappconfigtests1",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "yallappconfigtests1-azconfig-net"
      },
      "ResponseBody": {
        "etag": "JTD5W8CdxoxSme1C_kFeTk_Jpy1LUF0HN0F80gDGW2w",
        "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_0",
        "content_type": null,
        "value": "multi value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-12T23:32:11\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=multi_*\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMjc3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/kv?key=multi_*\u0026api-version=2022-11-01-preview\u0026after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMjc4;sn=16983278",
        "x-ms-resource-group": "rg-yallappconfigtests1",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "yallappconfigtests1-azconfig-net"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "JTD5W8CdxoxSme1C_kFeTk_Jpy1LUF0HN0F80gDGW2w",
            "key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "multi_label_0",
            "content_type": null,
            "value": "multi value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-07-12T23:32:11\u002B00:00"
          },
          {
            "etag": "3X7Xv0g4MxOumASqxXC4laqaJS5_xPVV2MuJgTFqxno",
            "key": "multi_10[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=multi_*\u0026api-version=2022-11-01-preview\u0026after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMjc4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMjc4;sn=16983278",
        "x-ms-resource-group": "rg-yallappconfigtests1",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "yallappconfigtests1-azconfig-net"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "i4wXKbhiXWRv2mnS5bEct4Kl5vq6_TnvhFYjRpkJzMk",
            "key": "multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "label": "multi_label_9",
            "content_type": null,
            "value": "multi value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-07-12T23:32:12\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_100\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMzc4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223X7Xv0g4MxOumASqxXC4laqaJS5_xPVV2MuJgTFqxno\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 23:32:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE2OTgzMzc5;sn=16983379",
        "x-ms-resource-group": "rg-yallappconfigtests1",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "yallappconfigtests1-azconfig-net"
      },
      "ResponseBody": {
        "etag": "3X7Xv0g4MxOumASqxXC4laqaJS5_xPVV2MuJgTFqxno",
        "key": "multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "multi_label_100",
        "content_type": null,
        "value": "multi value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-07-12T23:32:16\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
