{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:39.580169 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/test_feature",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"test_feature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nxrEuVHzmiJ9fYR1gic-CuZX2pBx7ZFXHHzIHs-8xQg\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:01:40 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDYw;sn=5661460"
      },
      "ResponseBody": {
        "etag": "nxrEuVHzmiJ9fYR1gic-CuZX2pBx7ZFXHHzIHs-8xQg",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"test_feature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:01:40+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDYx",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:01:40.534165 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i4NrY1V3h4X49lChikeKxd9E4NHaADxPnyLbPUcJVY0\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:01:40 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxNDYz;sn=5661463"
      },
      "ResponseBody": {
        "etag": "i4NrY1V3h4X49lChikeKxd9E4NHaADxPnyLbPUcJVY0",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"test_feature\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T00:01:40+00:00"
      }
    }
  ],
  "Variables": {}
}
