{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking1?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:04:11.248290 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/breaking1",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking1\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"bababooey, 31 Mar 2021 25:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Iwy68rKiFZlHhSbnR9-8ULM5WZBFXLknRAztgLkneW4\"",
        "Last-Modified": "Fri, 14 Jun 2024 18:04:11 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MjA0;sn=5669204"
      },
      "ResponseBody": {
        "etag": "Iwy68rKiFZlHhSbnR9-8ULM5WZBFXLknRAztgLkneW4",
        "key": ".appconfig.featureflag/breaking1",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking1\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.TimeWindow\", \"parameters\": {\"Start\": \"bababooey, 31 Mar 2021 25:00:00 GMT\", \"End\": \"Fri, 02 Apr 2021 04:00:00 GMT\"}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T18:04:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking5?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MjE1",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:04:13.016268 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/breaking5",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking5\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": \"123\"}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Jj85yRe7d7tS38ZHwiM6m3xriSpFBLMJqUNI9ITN-Fs\"",
        "Last-Modified": "Fri, 14 Jun 2024 18:04:13 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MjE2;sn=5669216"
      },
      "ResponseBody": {
        "etag": "Jj85yRe7d7tS38ZHwiM6m3xriSpFBLMJqUNI9ITN-Fs",
        "key": ".appconfig.featureflag/breaking5",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking5\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"Users\": \"123\"}}}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T18:04:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking7?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MjIx",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:04:13.650075 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/breaking7",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking7\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"abc\": \"def\"}]}, \"display_name\": null, \"description\": null}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oR0_s0xnUtweWodol7oz9JxGIwJl32Xb0uiGPy69QMo\"",
        "Last-Modified": "Fri, 14 Jun 2024 18:04:13 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MjIy;sn=5669222"
      },
      "ResponseBody": {
        "etag": "oR0_s0xnUtweWodol7oz9JxGIwJl32Xb0uiGPy69QMo",
        "key": ".appconfig.featureflag/breaking7",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking7\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"abc\": \"def\"}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T18:04:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fbreaking8?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MjI2",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:04:14.208796 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v6qv65AQqUE3ImplXX-2yvasKVNuajItxWvXe12H1Uk\"",
        "Last-Modified": "Fri, 14 Jun 2024 18:04:14 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY5MjI3;sn=5669227"
      },
      "ResponseBody": {
        "etag": "v6qv65AQqUE3ImplXX-2yvasKVNuajItxWvXe12H1Uk",
        "key": ".appconfig.featureflag/breaking8",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"breaking8\", \"enabled\": true, \"conditions\": {\"client_filters\": [{\"abc\": \"def\"}]}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T18:04:14+00:00"
      }
    }
  ],
  "Variables": {}
}
