{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/not_exist_PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 14 2024 18:02:21.280080 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNSM1NjY4NzY0;sn=5668764"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
