{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:46.688634 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LNAS1lhsl-mKy1Z-a4jgo2P_ievDnRfdFq1aa8yZvAE\"",
        "Last-Modified": "Tue, 11 Jun 2024 23:59:47 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTU3;sn=5661157"
      },
      "ResponseBody": {
        "etag": "LNAS1lhsl-mKy1Z-a4jgo2P_ievDnRfdFq1aa8yZvAE",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-11T23:59:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "\"wrong etag\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTU4",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:47.700520 GMT"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTU4;sn=5661158"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTU5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 11 2024 23:59:47.926647 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTU5;sn=5661159"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
