{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:06.339595 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wn71JIrTLE6LO0kM3iu8pXUR9miiTdwa7MsKtHVLD4k\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:00:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTg5;sn=5661189"
      },
      "ResponseBody": {
        "etag": "wn71JIrTLE6LO0kM3iu8pXUR9miiTdwa7MsKtHVLD4k",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-12T00:00:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTg5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:07.230935 GMT"
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wrtX4NO0cY-SDC1CJD8890OFIVBizkTIdDn4VkyPrsw\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:00:08 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTkx;sn=5661191"
      },
      "ResponseBody": {
        "etag": "wrtX4NO0cY-SDC1CJD8890OFIVBizkTIdDn4VkyPrsw",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-12T00:00:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=%2A&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01&$Select=key,content_type",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTkx",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:08.246844 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"owlCGlPrYIqLDFG1WoJkpvzBjFpMiTO60UhTxuMj2iE\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTky;sn=5661192"
      },
      "ResponseBody": {
        "etag": "owlCGlPrYIqLDFG1WoJkpvzBjFpMiTO60UhTxuMj2iE",
        "items": [
          {
            "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
            "content_type": "test content type"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTky",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:08.337123 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"epvH6HySTxO4[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTkz",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 12 2024 00:00:08.550756 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wn71JIrTLE6LO0kM3iu8pXUR9miiTdwa7MsKtHVLD4k\"",
        "Last-Modified": "Wed, 12 Jun 2024 00:00:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NjYxMTk0;sn=5661194"
      },
      "ResponseBody": {
        "etag": "wn71JIrTLE6LO0kM3iu8pXUR9miiTdwa7MsKtHVLD4k",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2024-06-12T00:00:07+00:00"
      }
    }
  ],
  "Variables": {}
}
