{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Triage Resource Provider - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Help/selfHelp/apollo-48996ff7-002f-47c1-85b2-df138843d5d5?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Help/selfHelp/apollo-48996ff7-002f-47c1-85b2-df138843d5d5",
        "name": "apollo-48996ff7-002f-47c1-85b2-df138843d5d5",
        "type": "Microsoft.Help/selfHelp",
        "properties": {
          "title": "Durable Functions/Creation",
          "content": "<h2>Resolve issues with creating Durable Functions</h2>\n<p>Durable Functions is an extension of Azure Functions that lets you write stateful functions in a serverless environment. The extension manages state, checkpoints, and restarts for you.</p>\n<h3>Recommended steps</h3>\n<ul>\n<li>If you're using the <a href=\"https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-storage-providers#mssql\">Microsoft SQL Server storage provider</a>, multitenancy mode is enabled by default, in which case the TaskHub name will be the SQL login username (for example, <strong>dbo</strong>). If you want to disable multitenancy mode, run the following T-SQL command:</li>\n</ul>\n<pre class=\"ext-code\"><code> EXECUTE dt.SetGlobalSetting @Name='TaskHubMode', @Value=0\n</code></pre>\n<p>When multitenancy mode is disabled, the <code>TaskHub</code> name is the one that you specify in the <a href=\"https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-task-hubs?tabs=csharp#task-hub-names\">host.json or Function binding</a>.</p>\n<p>For more information, see <a href=\"https://microsoft.github.io/durabletask-mssql/#/multitenancy?id=enabling-multitenancy\">Multitenancy</a>.</p>\n<h3>Resources</h3>\n<ul>\n<li><a href=\"https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-create-first-csharp\">Create your first durable function in C#</a></li>\n<li><a href=\"https://docs.microsoft.com/azure/azure-functions/durable/quickstart-js-vscode\">Create your first durable function in JavaScript</a></li>\n<li><a href=\"https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-storage-providers\">Durable Functions storage providers</a></li>\n</ul>\n<h3>Relevant results from the web</h3>\n<!--ecc4cc50-08a2-493c-98d8-4d55e420f0a7-->\n",
          "replacementMaps": {
            "webResults": [
              {
                "replacementKey": "<!--ecc4cc50-08a2-493c-98d8-4d55e420f0a7-->"
              }
            ]
          },
          "sections": [],
          "solutionId": "apollo-48996ff7-002f-47c1-85b2-df138843d5d5"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "d9524254-3ac7-4629-a8e2-44ccaa7b6017",
    "RandomSeed": "1284083028",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
