{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/operatorInformation/:search?api-version=2025-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 28 Mar 2025 23:22:58 GMT"
      },
      "RequestBody": {
        "phoneNumbers": [
          "+14155550100"
        ],
        "options": {
          "includeAdditionalOperatorDetails": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "635ms"
      },
      "ResponseBody": {
        "values": [
          {
            "phoneNumber": "+14155550100",
            "nationalFormat": "(888) 123-1875",
            "internationalFormat": "+1 888-123-1875",
            "isoCountryCode": null,
            "numberType": null,
            "operatorDetails": null
          }
        ]
      }
    }
  ],
  "Variables": {}
}

