{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/redTeams/runs:run?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attackStrategies": [
          "base64"
        ],
        "riskCategories": [
          "Violence"
        ],
        "displayName": "redteamtest1",
        "target": {
          "type": "AzureOpenAIModel",
          "modelDeploymentName": "naposaniwestus3/gpt-4o-mini"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "int-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7d9e77fe-39a3-47fd-a81f-e40967925164",
        "x-http2-stream-id": "3",
        "x-ms-region": "Central US EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "1.214"
      },
      "ResponseBody": {
        "target": {
          "type": "AzureOpenAIModel",
          "modelDeploymentName": "naposaniwestus3/gpt-4o-mini"
        },
        "numTurns": 1,
        "attackStrategies": [
          "Base64"
        ],
        "simulationOnly": false,
        "riskCategories": [
          "Violence"
        ],
        "applicationScenario": "",
        "data": null,
        "id": "79294376-1218-43db-81e5-254d001d1db0",
        "displayName": "redteamtest1",
        "tags": {},
        "properties": {
          "runType": "eval_run",
          "_azureml.evaluation_run": "evaluation.service",
          "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.json\", \"type\": \"table\"}]",
          "AiStudioEvaluationUri": "https://ai.azure.com/resource/build/redteaming/79294376-1218-43db-81e5-254d001d1db0?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name&tid=72f988bf-86f1-41af-91ab-2d7cd011db47",
          "redteaming": "asr"
        },
        "status": "NotStarted",
        "outputs": {},
        "systemData": {
          "createdAt": "08/26/2025 22:06:58 +00:00",
          "createdBy": "Sanitized",
          "modifiedBy": "Nagendra Posani"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/redTeams/runs/79294376-1218-43db-81e5-254d001d1db0?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "int-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e53faea2-9f83-4617-9549-14ce158[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/redTeams/runs?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "int-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "27ee899e-5003-448b-8438-49fe733902c1",
        "x-http2-stream-id": "5",
        "x-ms-region": "Central US EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "2.774"
      },
      "ResponseBody": {
        "value": [
          {
            "target": null,
            "numTurns": 1,
            "attackStrategies": [
              "Base64"
            ],
            "simulationOnly": false,
            "riskCategories": [
              "Violence"
            ],
            "applicationScenario": "",
            "data": null,
            "id": "3363e0f5-e07f-45bb-86da-9d7a3a428596",
            "displayName": "redteamtest1",
            "tags": {},
            "properties": {
              "runType": "eval_run",
              "_azureml.evaluation_run": "evaluation.service",
              "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.json\", \"type\": \"table\"}]",
              "AiStudioEvaluationUri": "https://ai.azure.com/resource/build/redteaming/3363e0f5-e07f-45bb-86da-9d7a3a428596?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name&tid=72f988bf-86f1-41af-91ab-2d7cd011db47",
              "redteaming": "asr"
            },
            "status": "Completed",
            "outputs": {
              "evaluationResultId": "azureai://accounts/sanitized-account-name/projects/sanitized-project-name/evaluationresults/eval-result-3363e0f5-e07f-45bb-86da-9d7a3a428596-SWWF/versions/1",
              "evaluationMetrics": "{\"violence_baseline_asr\":0,\"violence_easy_complexity_asr\":0}"
            },
            "systemData": {
              "createdAt": "08/26/2025 22:04:12 +00:00",
              "createdBy": "Sanitized",
              "modifiedBy": "Nagendra Posani"
            }
          },
          {
            "target": null,
            "numTurns": 1,
            "attackStrategies": [
              "Easy",
              "Moderate"
            ],
            "simulationOnly": false,
            "riskCategories": [
              "Violence",
              "HateUnfair[...]
