{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/redTeams/runs:run?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attackStrategies": [
          "base64"
        ],
        "riskCategories": [
          "Violence"
        ],
        "displayName": "redteamtest1",
        "target": {
          "modelDeploymentName": "naposaniwestus3/sanitized-gpt-memory-mini",
          "type": "AzureOpenAIModel"
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "74008113-f46b-42b4-8cbc-29dddb01ca79",
        "x-http2-stream-id": "157",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "error",
        "x-request-time": "0.699"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Received 404 from a service request",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": "POST https://account-rp.vienna-westus2.svc/rp/workspaces/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.MachineLearningServices/workspaces/aoai-jep6bl5hlacma@proj-jep6bl5hlacma@AML/connections/naposaniwestus3/listsecrets?api-version=2023-04-01-preview",
          "details": [
            {
              "code": "NotFound",
              "severity": null,
              "message": "{\n  \"error\": {\n    \"code\": \"UserError\",\n    \"severity\": null,\n    \"message\": \"Connection naposaniwestus3 can't be found in this workspace\",\n    \"messageFormat\": null,\n    \"messageParameters\": null,\n    \"referenceCode\": null,\n    \"detailsUri\": null,\n    \"target\": null,\n    \"details\": [],\n    \"innerError\": {\n      \"code\": \"NotFoundError\",\n      \"innerError\": null\n    },\n    \"debugInfo\": null,\n    \"additionalInfo\": null\n  },\n  \"correlation\": {\n    \"operation\": \"35a1bf804f4b9aedfd08f81ffb0a8377\",\n    \"request\": \"eb6a2b74655530a3\"\n  },\n  \"environment\": \"westus2\",\n  \"location\": \"westus2\",\n  \"time\": \"2026-03-04T06:09:31.1769548+00:00\",\n  \"componentName\": \"account-rp\",\n  \"statusCode\": 404\n}",
              "messageFormat": null,
              "messageParameters": {},
              "referenceCode": null,
              "detailsUri": null,
              "target": null,
              "details": [],
              "innerError": null,
              "debugInfo": null,
              "additionalInfo": null
            }
          ],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "35a1bf804f4b9aedfd08f81ffb0a8377",
          "request": "3e144bcf73945bd5"
        },
        "environment": "westus2",
        "location": "westus2",
        "time": "2026-03-04T06:09:31.6583678+00:00",
        "componentName": "raisvc",
        "statusCode": 404
      }
    }
  ],
  "Variables": {}
}
