{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:39:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable0412482c64"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A39%3A04.9368583Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable0412482c64",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0412482c64",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1@odata.type": "Edm.Int32",
        "Data1": 12345,
        "Data2@odata.type": "Edm.Boolean",
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "200fee1e-6160-41db-bea2-56d2b9fa4915",
        "Data6@odata.type": "Edm.String",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A39%3A05.1606023Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable0412482c64/$metadata#uttable0412482c64/@Element",
        "odata.etag": "W/\"datetime'2024-09-06T01%3A39%3A05.1606023Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "200fee1e-6160-41db-bea2-56d2b9fa4915",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2024-09-06T01:39:05.1606023Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0412482c64(PartitionKey='PK',RowKey='RK1')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A39%3A05.1606023Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable0412482c64/$metadata#uttable0412482c64/@Element",
        "odata.etag": "W/\"datetime'2024-09-06T01%3A39%3A05.1606023Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "200fee1e-6160-41db-bea2-56d2b9fa4915",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2024-09-06T01:39:05.1606023Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0412482c64()?$filter=PartitionKey%20eq%20%27PK%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-09-06T01%3A39%3A05.1606023Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK1",
            "Data1": 12345,
            "Data2": false,
            "Data3@odata.type": "Edm.Binary",
            "Data3": "dGVzdGRhdGE=",
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45.0000000Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "200fee1e-6160-41db-bea2-56d2b9fa4915",
            "Data6": "Foobar",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "1152921504606846976",
            "Timestamp": "2024-09-06T01:39:05.1606023Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-09-06T01%3A39%3A05.2621831Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Data1": 12345,
            "Data2": false,
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45.0000000Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "9b8fbe91-a1d8-46bb-99b6-09e1a6afd9cf",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "9223372036854775807",
            "Timestamp": "2024-09-06T01:39:05.2621831Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttable0412482c64"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0412482c64()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
        [...]
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable0412482c64')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Sep 2024 01:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "200fee1e-6160-41db-bea2-56d2b9fa4915"
  }
}
