{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-15T07%3A06%3A03.0000000Z\u0026spr=https\u0026sig=FakeSig",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 14 Jun 2023 23:20:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable9fb22d95"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable9fb22d95\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable9fb22d95"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?$filter=TableName%20eq%20\u0027mytable9fb22d95\u0027\u0026sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-15T07%3A06%3A03.0000000Z\u0026spr=https\u0026sig=FakeSig",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 14 Jun 2023 23:20:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "mytable9fb22d95"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytable9fb22d95()?$filter=PartitionKey%20eq%20\u0027dummy-pk\u0027\u0026sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-15T07%3A06%3A03.0000000Z\u0026spr=https\u0026sig=FakeSig",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 14 Jun 2023 23:20:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#mytable9fb22d95",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytable9fb22d95()?sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-15T07%3A06%3A03.0000000Z\u0026spr=https\u0026sig=FakeSig\u0026$filter=PartitionKey%20eq%20\u0027dummy-pk\u0027",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 14 Jun 2023 23:20:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#mytable9fb22d95",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable9fb22d95\u0027)?sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-15T07%3A06%3A03.0000000Z\u0026spr=https\u0026sig=FakeSig",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 14 Jun 2023 23:20:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
