{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "1table"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:dc7b7201-c002-0013-46c6-cbeeff000000\nTime:2026-04-14T04:25:23.0866714Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:dc7b725b-c002-0013-1fc6-cbeeff000000\nTime:2026-04-14T04:25:23.2678768Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "foo"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:dc7b729b-c002-0013-57c6-cbeeff000000\nTime:2026-04-14T04:25:23.4600317Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:dc7b72ec-c002-0013-20c6-cbeeff000000\nTime:2026-04-14T04:25:23.6501964Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:25:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidResourceName",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>InvalidResourceName</m:code><m:message xml:lang=\"en-US\">The specifed resource name contains invalid characters.\n",
        "RequestId:dc7b7314-c002-0013-45c6-cbeeff000000\n",
        "Time:2026-04-14T04:25:23.8363784Z</m:message></m:error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_112a3322-c6b2-4503-b796-c5b507f96ac5",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": [
        "--batch_112a3322-c6b2-4503-b796-c5b507f96ac5\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_731d24b2-a2b7-4c00-8a94-2275a4845154\r\n",
        "\r\n",
        "--changeset_731d24b2-a2b7-4c00-8a94-2275a4845154\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b73f8-c002-0013-15c6-cbeeff000000\nTime:2026-04-14T04:25:24.4397279Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "foo"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b742b-c002-0013-44c6-cbeeff000000\nTime:2026-04-14T04:25:24.6239200Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b744e-c002-0013-64c6-cbeeff000000\nTime:2026-04-14T04:25:24.8021366Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:25:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>OutOfRangeInput</m:code><m:message xml:lang=\"en-US\">The specified resource name length is not within the permissible limits.\n",
        "RequestId:dc7b7488-c002-0013-18c6-cbeeff000000\n",
        "Time:2026-04-14T04:25:24.9843386Z</m:message></m:error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b751a-c002-0013-23c6-cbeeff000000\nTime:2026-04-14T04:25:25.5518447Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "foo"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b753c-c002-0013-40c6-cbeeff000000\nTime:2026-04-14T04:25:25.7340435Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b7588-c002-0013-08c6-cbeeff000000\nTime:2026-04-14T04:25:25.9172414Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:25:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>OutOfRangeInput</m:code><m:message xml:lang=\"en-US\">The specified resource name length is not within the permissible limits.\n",
        "RequestId:dc7b75c7-c002-0013-42c6-cbeeff000000\n",
        "Time:2026-04-14T04:25:26.0974470Z</m:message></m:error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:25 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b7682-c002-0013-68c6-cbeeff000000\nTime:2026-04-14T04:25:26.6480296Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "foo"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b76b3-c002-0013-16c6-cbeeff000000\nTime:2026-04-14T04:25:26.8371983Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:dc7b76d5-c002-0013-36c6-cbeeff000000\nTime:2026-04-14T04:25:27.0174069Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:25:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>OutOfRangeInput</m:code><m:message xml:lang=\"en-US\">The specified resource name length is not within the permissible limits.\n",
        "RequestId:dc7b770d-c002-0013-6ac6-cbeeff000000\n",
        "Time:2026-04-14T04:25:27.1936331Z</m:message></m:error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:dc7b77c0-c002-0013-14c6-cbeeff000000\nTime:2026-04-14T04:25:27.7452103Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "foo"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:dc7b7806-c002-0013-56c6-cbeeff000000\nTime:2026-04-14T04:25:27.9214375Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:dc7b783b-c002-0013-07c6-cbeeff000000\nTime:2026-04-14T04:25:28.0976624Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidResourceName",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>InvalidResourceName</m:code><m:message xml:lang=\"en-US\">The specifed resource name contains invalid characters.\n",
        "RequestId:dc7b7874-c002-0013-3dc6-cbeeff000000\n",
        "Time:2026-04-14T04:25:28.2689100Z</m:message></m:error>"
      ]
    },
[...]
