{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 25 Aug 2023 01:34:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytableb5a52ffb"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableb5a52ffb\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytableb5a52ffb"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytableb5a52ffb()?$filter=PartitionKey%20eq%20%27dummy-pk%27\u0026se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 25 Aug 2023 01:34:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#mytableb5a52ffb",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableb5a52ffb\u0027)?se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 25 Aug 2023 01:34:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
