{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable03b26e2b78"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable03b26e2b78"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03b26e2b78",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1@odata.type": "Edm.Int32",
        "Data1": 12345,
        "Data2@odata.type": "Edm.Boolean",
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "34024994-f7a6-4eca-a093-d04dd8241ae6",
        "Data6@odata.type": "Edm.String",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A56%3A33.2319652Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable03b26e2b78/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A33.2319652Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Timestamp": "2024-11-26T16:56:33.2319652Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "34024994-f7a6-4eca-a093-d04dd8241ae6",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03b26e2b78(PartitionKey='PK',RowKey='RK1')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A56%3A33.2319652Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable03b26e2b78/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A33.2319652Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Timestamp": "2024-11-26T16:56:33.2319652Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "34024994-f7a6-4eca-a093-d04dd8241ae6",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03b26e2b78()?$filter=PartitionKey%20eq%20'PK'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable03b26e2b78",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A33.2319652Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK1",
            "Timestamp": "2024-11-26T16:56:33.2319652Z",
            "Data1": 12345,
            "Data2": false,
            "Data3@odata.type": "Edm.Binary",
            "Data3": "dGVzdGRhdGE=",
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "34024994-f7a6-4eca-a093-d04dd8241ae6",
            "Data6": "Foobar",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "1152921504606846976"
          },
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A33.2919311Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Timestamp": "2024-11-26T16:56:33.2919311Z",
            "Data1": 12345,
            "Data2": false,
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "9b8fbe91-a1d8-46bb-99b6-09e1a6afd9cf",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "9223372036854775807"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03b26e2b78()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
   [...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable03b26e2b78')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:56:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "34024994-f7a6-4eca-a093-d04dd8241ae6"
  }
}
