{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:43:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable9f043429"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable9f043429"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable9f043429",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:43:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk9f043429",
        "RowKey": "rk9f043429",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A43%3A04.8967313Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable9f043429/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A43%3A04.8967313Z'\"",
        "PartitionKey": "pk9f043429",
        "RowKey": "rk9f043429",
        "Timestamp": "2026-03-30T19:43:04.8967313Z",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable9f043429(PartitionKey='pk9f043429',RowKey='rk9f043429')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:43:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A43%3A04.8967313Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable9f043429/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A43%3A04.8967313Z'\"",
        "PartitionKey": "pk9f043429",
        "RowKey": "rk9f043429",
        "Timestamp": "2026-03-30T19:43:04.8967313Z",
        "large@odata.type": "Edm.Int64",
        "large": "1125899906842624"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable9f043429(PartitionKey='pk9f043429',RowKey='negative')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:43:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A43%3A05.3208658Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable9f043429/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A43%3A05.3208658Z'\"",
        "PartitionKey": "pk9f043429",
        "RowKey": "negative",
        "Timestamp": "2026-03-30T19:43:05.3208658Z",
        "large@odata.type": "Edm.Int64",
        "large": "-1125899906842625"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:43:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable9f043429"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable9f043429')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:43:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
