{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytableed532e37"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytableed532e37"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/mytableed532e37/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_13b27b74-4517-4918-9a72-ade1de940828",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "--batch_13b27b74-4517-4918-9a72-ade1de940828\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_72fd2688-d163-40af-a3c7-cb89aaa30993\r\n",
        "\r\n",
        "--changeset_72fd2688-d163-40af-a3c7-cb89aaa30993\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('mytableed532e37')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:11:34 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
