{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/mytable88ae33ac/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "mytable88ae33ac"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableNotFound",
          "message": {
            "lang": "en-US",
            "value": "The table specified does not exist.\nRequestId:dc7b791e-c002-0013-5ac6-cbeeff000000\nTime:2026-04-14T04:25:28.7268990Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:25:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "mytable88ae33ac"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable88ae33ac"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/mytable88ae33ac/Tables('mytable88ae33ac')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:25:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-US",
            "value": "The number of keys specified in the URI does not match number of key properties for the resource 'faketableaccount.mytable88ae33ac'.\nRequestId:dc7b7a64-c002-0013-06c6-cbeeff000000\nTime:2026-04-14T04:25:29.4656540Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('mytable88ae33ac')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:25:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
