{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:31:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable41e62abc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable41e62abc"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable41e62abc",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:31:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "pk"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertiesNeedValue",
          "message": {
            "lang": "en-US",
            "value": "The values are not specified for all properties in the entity.\nRequestId:ecbc9507-4002-0022-1cc7-cb0fec000000\nTime:2026-04-14T04:31:37.2500337Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable41e62abc')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:31:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
