{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3c3c2ef7"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('uttable3c3c2ef7')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable3c3c2ef7"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3c3c2ef7",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk",
        "RowKey": "10",
        "value": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-07T02%3A06%3A14.7548157Z'\"",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable3c3c2ef7(PartitionKey='pk',RowKey='10')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3c3c2ef7/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A14.7548157Z'\"",
        "PartitionKey": "pk",
        "RowKey": "10",
        "Timestamp": "2024-05-07T02:06:14.7548157Z",
        "value": 0
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3c3c2ef7()?$top=2&$filter=PartitionKey%20eq%20'pk'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!4!cGs-",
        "x-ms-continuation-NextRowKey": "1!8!MTAxMg--",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3c3c2ef7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A14.7548157Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10",
            "Timestamp": "2024-05-07T02:06:14.7548157Z",
            "value": 0
          },
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A14.7876715Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101",
            "Timestamp": "2024-05-07T02:06:14.7876715Z",
            "value": 1
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3c3c2ef7()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMg--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!4!cGs-",
        "x-ms-continuation-NextRowKey": "1!8!MTAxMjM0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3c3c2ef7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A14.818535Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012",
            "Timestamp": "2024-05-07T02:06:14.818535Z",
            "value": 2
          },
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A14.8444217Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10123",
            "Timestamp": "2024-05-07T02:06:14.8444217Z",
            "value": 3
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3c3c2ef7()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMjM0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3c3c2ef7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A14.8722995Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101234",
            "Timestamp": "2024-05-07T02:06:14.8722995Z",
            "value": 4
          },
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A14.9021684Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012345",
            "Timestamp": "2024-05-07T02:06:14.9021684Z",
            "value": 5
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('uttable3c3c2ef7')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
