{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 May 2024 00:46:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable042ccc2a60"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable042ccc2a60"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable042ccc2a60",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 May 2024 00:46:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK1",
        "RowKey": "RK1",
        "Data1@odata.type": "Edm.Int32",
        "Data1": 12345,
        "Data2@odata.type": "Edm.Boolean",
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "6666e067-93d1-4315-8aae-9a9e063f7eaa",
        "Data6@odata.type": "Edm.String",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-09T00%3A46%3A06.2152649Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable042ccc2a60/@Element",
        "odata.etag": "W/\"datetime'2024-05-09T00%3A46%3A06.2152649Z'\"",
        "PartitionKey": "PK1",
        "RowKey": "RK1",
        "Timestamp": "2024-05-09T00:46:06.2152649Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "6666e067-93d1-4315-8aae-9a9e063f7eaa",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable042ccc2a60(PartitionKey='PK1',RowKey='RK1')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 May 2024 00:46:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-09T00%3A46%3A06.2152649Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable042ccc2a60/@Element",
        "odata.etag": "W/\"datetime'2024-05-09T00%3A46%3A06.2152649Z'\"",
        "PartitionKey": "PK1",
        "RowKey": "RK1",
        "Timestamp": "2024-05-09T00:46:06.2152649Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "6666e067-93d1-4315-8aae-9a9e063f7eaa",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable042ccc2a60')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 09 May 2024 00:46:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "6666e067-93d1-4315-8aae-9a9e063f7eaa"
  }
}
