{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?sv=2022-11-02\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacupiytfx\u0026se=2023-06-14T04:53:12Z\u0026st=2023-06-13T20:53:12Z\u0026spr=https\u0026sig=rJDAImFWhO%2Bzx02JsckqKflm7P8Js4u%2BnzmOFXVAbVM%3D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 13 Jun 2023 22:23:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytableb1ec291a"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableb1ec291a\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytableb1ec291a"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?$filter=TableName%20eq%20%27mytableb1ec291a%27\u0026sv=2022-11-02\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacupiytfx\u0026se=2023-06-14T04:53:12Z\u0026st=2023-06-13T20:53:12Z\u0026spr=https\u0026sig=rJDAImFWhO%2Bzx02JsckqKflm7P8Js4u%2BnzmOFXVAbVM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 13 Jun 2023 22:23:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "mytableb1ec291a"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytableb1ec291a()?$filter=PartitionKey%20eq%20%27dummy-pk%27\u0026sv=2022-11-02\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacupiytfx\u0026se=2023-06-14T04:53:12Z\u0026st=2023-06-13T20:53:12Z\u0026spr=https\u0026sig=rJDAImFWhO%2Bzx02JsckqKflm7P8Js4u%2BnzmOFXVAbVM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 13 Jun 2023 22:23:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#mytableb1ec291a",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytableb1ec291a()?sv=2022-11-02\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacupiytfx\u0026se=2023-06-14T04%3A53%3A12Z\u0026st=2023-06-13T20%3A53%3A12Z\u0026spr=https\u0026sig=rJDAImFWhO%2Bzx02JsckqKflm7P8Js4u%2BnzmOFXVAbVM%3D\u0026$filter=PartitionKey%20eq%20%27dummy-pk%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 13 Jun 2023 22:23:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#mytableb1ec291a",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableb1ec291a\u0027)?sv=2022-11-02\u0026ss=bfqt\u0026srt=sco\u0026sp=rwdlacupiytfx\u0026se=2023-06-14T04%3A53%3A12Z\u0026st=2023-06-13T20%3A53%3A12Z\u0026spr=https\u0026sig=rJDAImFWhO%2Bzx02JsckqKflm7P8Js4u%2BnzmOFXVAbVM%3D",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 13 Jun 2023 22:23:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
