{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:23:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttableadf428bf"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableadf428bf"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttableadf428bf",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:23:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "001",
        "RowKey": "batch_update",
        "test@odata.type": "Edm.Boolean",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4@odata.type": "Edm.Int32",
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-04-13T16:23:02.106682Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A23%3A02.7669449Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttableadf428bf/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A23%3A02.7669449Z'\"",
        "PartitionKey": "001",
        "RowKey": "batch_update",
        "Timestamp": "2026-04-14T04:23:02.7669449Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-04-13T16:23:02.106682Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttableadf428bf(PartitionKey='001',RowKey='batch_update')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:23:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A23%3A02.7669449Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttableadf428bf/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A23%3A02.7669449Z'\"",
        "PartitionKey": "001",
        "RowKey": "batch_update",
        "Timestamp": "2026-04-14T04:23:02.7669449Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-04-13T16:23:02.106682Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_708af22f-5814-4bdc-960f-7b1ac1658a68",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 14 Apr 2026 04:23:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": [
        "--batch_708af22f-5814-4bdc-960f-7b1ac1658a68\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_cfdc6ebc-74ff-4c14-8cc9-5f9b9b27b65e\r\n",
        "\r\n",
        "--changeset_cfdc6ebc-74ff-4c14-8cc9-5f9b9b27b65e\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:23:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttableadf428bf"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttableadf428bf')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:23:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
