{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable05aba3290d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable05aba3290d"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05aba3290d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "Data1": "12345",
        "Data1@odata.type": "Edm.Int32",
        "Data2": "False",
        "Data2@odata.type": "Edm.Boolean",
        "Data3": "dGVzdGRhdGE=",
        "Data3@odata.type": "Edm.Binary",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data4@odata.type": "Edm.DateTime",
        "Data5": "c078d210-117a-41b6-ad11-f57154acf10b",
        "Data5@odata.type": "Edm.Guid",
        "Data6": "Foobar",
        "Data6@odata.type": "Edm.String",
        "Data7": "3.14",
        "Data7@odata.type": "Edm.Double",
        "Data8": "1152921504606846976",
        "Data8@odata.type": "Edm.Int64"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A05.5068767Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05aba3290d/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A56%3A05.5068767Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-03-30T18:56:05.5068767Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "c078d210-117a-41b6-ad11-f57154acf10b",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05aba3290d(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A05.5068767Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05aba3290d/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A56%3A05.5068767Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-03-30T18:56:05.5068767Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "c078d210-117a-41b6-ad11-f57154acf10b",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable05aba3290d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 18:56:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "c078d210-117a-41b6-ad11-f57154acf10b"
  }
}
