{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:58:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable0326b530e9"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A58%3A17.3941767Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable0326b530e9",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0326b530e9",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:58:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1@odata.type": "Edm.Int32",
        "Data1": 12345,
        "Data2@odata.type": "Edm.Boolean",
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "fed6a60d-6bb3-4f35-be76-fe7838967b9c",
        "Data6@odata.type": "Edm.String",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A58%3A17.6448519Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable0326b530e9/$metadata#uttable0326b530e9/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A58%3A17.6448519Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "fed6a60d-6bb3-4f35-be76-fe7838967b9c",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2024-11-26T16:58:17.6448519Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0326b530e9(PartitionKey='PK',RowKey='RK1')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:58:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A58%3A17.6448519Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable0326b530e9/$metadata#uttable0326b530e9/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A58%3A17.6448519Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "fed6a60d-6bb3-4f35-be76-fe7838967b9c",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2024-11-26T16:58:17.6448519Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0326b530e9()?$filter=PartitionKey%20eq%20'PK'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:58:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A58%3A17.6448519Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK1",
            "Data1": 12345,
            "Data2": false,
            "Data3@odata.type": "Edm.Binary",
            "Data3": "dGVzdGRhdGE=",
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45.0000000Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "fed6a60d-6bb3-4f35-be76-fe7838967b9c",
            "Data6": "Foobar",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "1152921504606846976",
            "Timestamp": "2024-11-26T16:58:17.6448519Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A58%3A17.7140743Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Data1": 12345,
            "Data2": false,
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45.0000000Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "9b8fbe91-a1d8-46bb-99b6-09e1a6afd9cf",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "9223372036854775807",
            "Timestamp": "2024-11-26T16:58:17.7140743Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttable0326b530e9"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable0326b530e9()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:58:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
        [...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable0326b530e9')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:58:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "fed6a60d-6bb3-4f35-be76-fe7838967b9c"
  }
}
