{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:57:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablea3642fe3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A57%3A03.2655879Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttablea3642fe3",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablea3642fe3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:57:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk",
        "RowKey": "10",
        "value": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A57%3A03.6081159Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttablea3642fe3/$metadata#uttablea3642fe3/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A57%3A03.6081159Z'\"",
        "PartitionKey": "pk",
        "RowKey": "10",
        "value": 0,
        "Timestamp": "2026-03-30T19:57:03.6081159Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablea3642fe3()?$top=2&$filter=PartitionKey%20eq%20%27pk%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:57:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\"token\":\"+RID:~BoZsALq+DRUCAAAAAAAAAA==#RT:1#TRC:2#ISV:2#IEO:65599#QCF:8#FPC:AQIAAAAAAAAABgAAAAAAAAA=\",\"range\":{\"min\":\"\",\"max\":\"FF\"}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A57%3A03.6081159Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10",
            "value": 0,
            "Timestamp": "2026-03-30T19:57:03.6081159Z"
          },
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A57%3A03.7788167Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101",
            "value": 1,
            "Timestamp": "2026-03-30T19:57:03.7788167Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttablea3642fe3"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablea3642fe3()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=%7B%22token%22%3A%22%2BRID%3A~BoZsALq%2BDRUCAAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A2%23ISV%3A2%23IEO%3A65599%23QCF%3A8%23FPC%3AAQIAAAAAAAAABgAAAAAAAAA%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D&NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablea3642fe3()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=%5B%7B%22token%22%3A%22%2BRID%3A~BoZsALq%2BDRUEAAAAAAAAAA%3D%3D%23RT%3A2%23TRC%3A4%23ISV%3A2%23IEO%3A65599%23QCF%3A8%23FPC%3AAQQAAAAAAAAABgAAAAAAAAA%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D%5D&NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:57:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A57%3A04.2706439Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101234",
            "value": 4,
            "Timestamp": "2026-03-30T19:57:04.2706439Z"
          },
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A57%3A04.4469767Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012345",
            "value": 5,
            "Timestamp": "2026-03-30T19:57:04.4469767Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttablea3642fe3"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttablea3642fe3')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:57:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
