{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:11:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable18c92a6c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable18c92a6c\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable18c92a6c"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytable18c92a6c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:11:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-06T21%3A11%3A49.4124456Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.core.windows.net/mytable18c92a6c(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#mytable18c92a6c/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-09-06T21%3A11%3A49.4124456Z\u0027\u0022",
        "PartitionKey": "foo",
        "RowKey": "bar",
        "Timestamp": "2023-09-06T21:11:49.4124456Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable18c92a6c(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:12:00 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:6657cc04-0002-0033-6f06-e10765000000\nTime:2023-09-06T21:11:59.7706231Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable18c92a6c()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:12:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint-secondary.table.core.windows.net/$metadata#mytable18c92a6c",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-09-06T21%3A11%3A49.4124456Z\u0027\u0022",
            "PartitionKey": "foo",
            "RowKey": "bar",
            "Timestamp": "2023-09-06T21:11:49.4124456Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable18c92a6c\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 06 Sep 2023 21:12:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
