{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 22 Sep 2023 21:43:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable85c72afc"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:0cc5f1b6-7002-0007-259d-ed2ae7000000\nTime:2023-09-22T21:43:29.5152472Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 22 Sep 2023 21:43:30 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable85c72afc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable85c72afc\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable85c72afc"
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable85c72afc",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 22 Sep 2023 21:43:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:0cc5f1d1-7002-0007-349d-ed2ae7000000\nTime:2023-09-22T21:43:39.8754081Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable85c72afc(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 22 Sep 2023 21:43:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:0cc5f1d3-7002-0007-359d-ed2ae7000000\nTime:2023-09-22T21:43:39.9633587Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable85c72afc()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 22 Sep 2023 21:43:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint-secondary.table.core.windows.net/$metadata#mytable85c72afc",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable85c72afc(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 22 Sep 2023 21:43:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:0cc5f259-7002-0007-369d-ed2ae7000000\nTime:2023-09-22T21:43:45.2853594Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/Tables(\u0027mytable85c72afc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 21:43:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:0cc5f25b-7002-0007-389d-ed2ae7000000\nTime:2023-09-22T21:43:45.3962969Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable85c72afc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Sep 2023 21:43:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
