{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 21:10:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable96802f66"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable96802f66"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable96802f66",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 21:10:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "test@odata.type": "Edm.Boolean",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4@odata.type": "Edm.Int32",
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T08:10:55.734072Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T21%3A10%3A56.6596496Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable96802f66/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T21%3A10%3A56.6596496Z'\"",
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "Timestamp": "2026-03-30T21:10:56.6596496Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T08:10:55.734072Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_c857017f-23d1-423e-a5f0-ddd6e44b1c36",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Mon, 30 Mar 2026 21:10:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "--batch_c857017f-23d1-423e-a5f0-ddd6e44b1c36\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_bb75cc84-8464-45ef-96df-1a7bfb0496c2\r\n",
        "\r\n",
        "--changeset_bb75cc84-8464-45ef-96df-1a7bfb0496c2\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable96802f66()?$filter=PartitionKey%20eq%20'003'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 21:10:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable96802f66",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T21%3A10%3A59.553942Z'\"",
            "PartitionKey": "003",
            "RowKey": "batch_all_operations_together",
            "Timestamp": "2026-03-30T21:10:59.553942Z",
            "test": true,
            "test2": "value",
            "test3": 3,
            "test4": 1234567890,
            "test5@odata.type": "Edm.DateTime",
            "test5": "2026-03-30T08:10:55.734072Z"
          },
          {
            "odata.etag":[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable96802f66')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 21:11:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
