{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:55:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable01b1cd2662"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable01b1cd2662"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable01b1cd2662",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:55:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A55%3A36.2323775Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable01b1cd2662/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A55%3A36.2323775Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2024-11-26T16:55:36.2323775Z",
        "Data1": 1,
        "Data2": true
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable01b1cd2662(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:55:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A55%3A36.2323775Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable01b1cd2662/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A55%3A36.2323775Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2024-11-26T16:55:36.2323775Z",
        "Data1": 1,
        "Data2": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable01b1cd2662(PartitionKey='PK',RowKey='RK%27%27%40%2A%24%21%25')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:55:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A55%3A36.3243253Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable01b1cd2662/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A55%3A36.3243253Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%",
        "Timestamp": "2024-11-26T16:55:36.3243253Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable01b1cd2662()?$filter=PartitionKey%20eq%20%27PK%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:55:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable01b1cd2662",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A55%3A36.2323775Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2024-11-26T16:55:36.2323775Z",
            "Data1": 1,
            "Data2": true
          },
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A55%3A36.3243253Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK'@*$!%",
            "Timestamp": "2024-11-26T16:55:36.3243253Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable01b1cd2662()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:55:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable01b1cd2662",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A55%3A36.2323775Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2024-11-26T16:55:36.2323775Z",
            "Data1": 1,
            "Data2": true
          },
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A55%3A36.3243253Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK'@*$!%",
            "Timestamp": "2024-11-26T16:55:36.3243253Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable01b1cd2662')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:55:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
