{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 02:50:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablec42a2bd2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('uttablec42a2bd2')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablec42a2bd2"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablec42a2bd2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 02:50:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkc42a2bd2",
        "RowKey": "rkc42a2bd2",
        "Value": "foobar",
        "Answer": 42
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-02T02%3A50%3A39.3530488Z'\"",
        "Location": "https://fakeendpoint.table.core.windows.net/uttablec42a2bd2(PartitionKey='pkc42a2bd2',RowKey='rkc42a2bd2')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttablec42a2bd2/@Element",
        "odata.etag": "W/\"datetime'2024-05-02T02%3A50%3A39.3530488Z'\"",
        "PartitionKey": "pkc42a2bd2",
        "RowKey": "rkc42a2bd2",
        "Timestamp": "2024-05-02T02:50:39.3530488Z",
        "Value": "foobar",
        "Answer": 42
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablec42a2bd2(PartitionKey='pkc42a2bd2',RowKey='rkc42a2bd2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 02 May 2024 02:50:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttablec42a2bd2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Thu, 02 May 2024 02:50:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkc42a2bd2",
        "RowKey": "rkc42a2bd2",
        "Value": "foobar",
        "Answer": 42
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeendpoint.table.core.windows.net/uttablec42a2bd2(PartitionKey='pkc42a2bd2',RowKey='rkc42a2bd2')",
        "ETag": "W/\"datetime'2024-05-02T02%3A50%3A39.4227429Z'\"",
        "Location": "https://fakeendpoint.table.core.windows.net/uttablec42a2bd2(PartitionKey='pkc42a2bd2',RowKey='rkc42a2bd2')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 02:50:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttablec42a2bd2"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('uttablec42a2bd2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 02:50:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
