{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 00:48:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable96412918"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('uttable96412918')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable96412918"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable96412918(PartitionKey='pk96412918',RowKey='rk96412918')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 00:48:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk96412918",
        "RowKey": "rk96412918",
        "bool@odata.type": "Edm.Boolean",
        "bool": "false",
        "text@odata.type": "Edm.String",
        "text": 42,
        "number@odata.type": "Edm.Int32",
        "number": "23",
        "bigNumber@odata.type": "Edm.Int64",
        "bigNumber": "64",
        "bytes@odata.type": "Edm.Binary",
        "bytes": "test",
        "amount@odata.type": "Edm.Double",
        "amount": "0",
        "since@odata.type": "Edm.DateTime",
        "since": "2008-07-10T00:00:00",
        "guid@odata.type": "Edm.Guid",
        "guid": "1c241c8d-f7b6-4b0a-abba-d9b169010038"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-US",
            "value": "An error occurred while processing this request.\nRequestId:5477d096-8002-0028-68bc-9d09a8000000\nTime:2024-05-04T00:48:33.2728318Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('uttable96412918')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Sat, 04 May 2024 00:48:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
