{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:07:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable89f42f77"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:8922eaac-3002-000e-2b23-a03c16000000\nTime:2024-05-07T02:07:53.5727667Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:07:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable89f42f77"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('mytable89f42f77')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable89f42f77"
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:08:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableNotFound",
          "message": {
            "lang": "en-US",
            "value": "The table specified does not exist.\nRequestId:8922eac2-3002-000e-3123-a03c16000000\nTime:2024-05-07T02:08:03.8209123Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77(PartitionKey='foo',RowKey='bar')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:08:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:8922eac9-3002-000e-3423-a03c16000000\nTime:2024-05-07T02:08:05.6339757Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:08:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint-secondary.table.core.windows.net/$metadata#mytable89f42f77",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77(PartitionKey='foo',RowKey='bar')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 07 May 2024 02:08:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:8922eae2-3002-000e-3d23-a03c16000000\nTime:2024-05-07T02:08:10.8481493Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/Tables('mytable89f42f77')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 02:08:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:8922eae3-3002-000e-3e23-a03c16000000\nTime:2024-05-07T02:08:10.9258094Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('mytable89f42f77')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 02:08:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
