{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 Feb 2023 01:35:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable8f582fc7"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-07T01%3A35%3A36.8576007Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable8f582fc7\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable8f582fc7",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable8f582fc7",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 Feb 2023 01:35:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "230d667f-9699-42f1-9c5f-6461dd60521f",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-07T01%3A35%3A37.2239879Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable8f582fc7(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable8f582fc7/$metadata#uttable8f582fc7/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-02-07T01%3A35%3A37.2239879Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "230d667f-9699-42f1-9c5f-6461dd60521f",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2023-02-07T01:35:37.2239879Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable8f582fc7(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 07 Feb 2023 01:35:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable8f582fc7(PartitionKey=\u0027PK2\u0027,RowKey=\u0027RK2\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 07 Feb 2023 01:35:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable8f582fc7\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 Feb 2023 01:35:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
