{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable50e22cf7"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('uttable50e22cf7')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable50e22cf7"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/querytable50e22cf7",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": ":@",
        "RowKey": "+,$",
        "Chars": "?'/!_^#"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-07T02%3A06%3A15.7613974Z'\"",
        "Location": "https://fakeendpoint.table.core.windows.net/querytable50e22cf7(PartitionKey='%3A%40',RowKey='%2B%2C%24')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#querytable50e22cf7/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A15.7613974Z'\"",
        "PartitionKey": ":@",
        "RowKey": "+,$",
        "Timestamp": "2024-05-07T02:06:15.7613974Z",
        "Chars": "?'/!_^#"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/querytable50e22cf7()?$filter=PartitionKey%20eq%20':@'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#querytable50e22cf7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A15.7613974Z'\"",
            "PartitionKey": ":@",
            "RowKey": "+,$",
            "Timestamp": "2024-05-07T02:06:15.7613974Z",
            "Chars": "?'/!_^#"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A15.7882789Z'\"",
            "PartitionKey": ":@",
            "RowKey": "=& ",
            "Timestamp": "2024-05-07T02:06:15.7882789Z",
            "Chars": "?\"\\{}<>%"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/querytable50e22cf7()?$filter=PartitionKey%20eq%20':@'%20and%20RowKey%20eq%20'%2B,$'%20and%20Chars%20eq%20'?''/!_%5E%23'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#querytable50e22cf7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A15.7613974Z'\"",
            "PartitionKey": ":@",
            "RowKey": "+,$",
            "Timestamp": "2024-05-07T02:06:15.7613974Z",
            "Chars": "?'/!_^#"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/querytable50e22cf7()?$filter=PartitionKey%20eq%20':@'%20and%20RowKey%20eq%20'%3D%26%20'%20and%20Chars%20eq%20'?%22%5C%7B%7D%3C%3E%25'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#querytable50e22cf7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A15.7882789Z'\"",
            "PartitionKey": ":@",
            "RowKey": "=& ",
            "Timestamp": "2024-05-07T02:06:15.7882789Z",
            "Chars": "?\"\\{}<>%"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('querytable50e22cf7')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 02:06:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('uttable50e22cf7')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 02:06:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
