{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable89f42f77"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:da5a7293-5002-0073-7a07-e1005d000000\nTime:2023-09-06T21:14:01.8319801Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable89f42f77"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable89f42f77\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable89f42f77"
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:da5a76da-5002-0073-4b07-e1005d000000\nTime:2023-09-06T21:14:21.9706502Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:da5a76df-5002-0073-4c07-e1005d000000\nTime:2023-09-06T21:14:22.0503008Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint-secondary.table.core.windows.net/$metadata#mytable89f42f77",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/mytable89f42f77(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:da5a7764-5002-0073-4007-e1005d000000\nTime:2023-09-06T21:14:27.2992765Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.core.windows.net/Tables(\u0027mytable89f42f77\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 06 Sep 2023 21:14:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InsufficientAccountPermissions",
          "message": {
            "lang": "en-US",
            "value": "Write operations are not allowed.\nRequestId:da5a7765-5002-0073-4107-e1005d000000\nTime:2023-09-06T21:14:27.3749452Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable89f42f77\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 06 Sep 2023 21:14:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
