{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable20ba88323c(PartitionKey='foo',RowKey='2022-04-01T09%3A30%3A45.000000Z')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-us",
            "value": "The specified resource does not exist.\nRequestID:276f1562-9309-46b4-99c7-67db2672e94a\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable20ba88323c(PartitionKey='foo',RowKey='4d767aa5-1ce8-4dad-bd84-172d61e9a721')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-us",
            "value": "The specified resource does not exist.\nRequestID:4635a93d-e913-4483-9146-3ff89910ac3e\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable20ba88323c(PartitionKey='foo',RowKey='YmluYXJ5ZGF0YQ%3D%3D')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-us",
            "value": "The specified resource does not exist.\nRequestID:791f115d-6894-44c6-8f2c-380fe38acd85\n"
          }
        }
      }
    }
  ],
  "Variables": {
    "uuid": "4d767aa5-1ce8-4dad-bd84-172d61e9a721"
  }
}
