{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3eef334d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A40%3A16.2417672Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable3eef334d",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytable3eef334d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar1",
        "RowKey@odata.type": "Edm.String",
        "IsAdmin": "admin",
        "IsAdmin@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A40%3A16.7402504Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/querytable3eef334d/$metadata#querytable3eef334d/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A40%3A16.7402504Z'\"",
        "PartitionKey": "foo",
        "RowKey": "bar1",
        "IsAdmin": "admin",
        "Timestamp": "2024-05-03T22:40:16.7402504Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytable3eef334d()?$filter=PartitionKey%20eq%20'foo'%20and%20IsAdmin%20eq%20'admin'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A40%3A16.7402504Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar1",
            "IsAdmin": "admin",
            "Timestamp": "2024-05-03T22:40:16.7402504Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#querytable3eef334d"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytable3eef334d()?$filter=PartitionKey%20eq%20'foo'%20or%20RowKey%20eq%20'bar2'%20and%20IsAdmin%20eq%20'admin'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A40%3A16.7402504Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar1",
            "IsAdmin": "admin",
            "Timestamp": "2024-05-03T22:40:16.7402504Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A40%3A16.7505928Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar2",
            "IsAdmin": "",
            "Timestamp": "2024-05-03T22:40:16.7505928Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#querytable3eef334d"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytable3eef334d()?$filter=PartitionKey%20eq%20'foo''%20or%20RowKey%20eq%20''bar2'%20and%20IsAdmin%20eq%20'admin'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#querytable3eef334d"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('querytable3eef334d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable3eef334d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:40:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
