{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:32:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablebc132fa"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A32%3A01.2783623Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablebc132fa')"
      },
      "ResponseBody": {
        "TableName": "uttablebc132fa",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablebc132fa(PartitionKey='pkbc132fa',RowKey='rkbc132fa')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 07 May 2024 01:32:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkbc132fa",
        "RowKey": "rkbc132fa",
        "bool@odata.type": "Edm.Boolean",
        "bool": "false",
        "text@odata.type": "Edm.String",
        "text": 42,
        "number@odata.type": "Edm.Int32",
        "number": "23",
        "bigNumber@odata.type": "Edm.Int64",
        "bigNumber": "64",
        "bytes@odata.type": "Edm.Binary",
        "bytes": "test",
        "amount@odata.type": "Edm.Double",
        "amount": "0",
        "since@odata.type": "Edm.DateTime",
        "since": "2008-07-10T00:00:00",
        "guid@odata.type": "Edm.Guid",
        "guid": "c8924069-90ee-4726-83b5-45ff92496126"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-07T01%3A32%3A01.4846983Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablebc132fa(PartitionKey='pkbc132fa',RowKey='rkbc132fa')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:32:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A32%3A01.4846983Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttablebc132fa/$metadata#uttablebc132fa/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T01%3A32%3A01.4846983Z'\"",
        "PartitionKey": "pkbc132fa",
        "RowKey": "rkbc132fa",
        "bool": false,
        "text": 42,
        "number": 23,
        "bigNumber@odata.type": "Edm.Int64",
        "bigNumber": "64",
        "bytes@odata.type": "Edm.Binary",
        "bytes": "test",
        "amount": 0.0,
        "since@odata.type": "Edm.DateTime",
        "since": "2008-07-10T00:00:00.0000000Z",
        "guid@odata.type": "Edm.Guid",
        "guid": "c8924069-90ee-4726-83b5-45ff92496126",
        "Timestamp": "2024-05-07T01:32:01.4846983Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:32:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttablebc132fa"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablebc132fa')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 01:32:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
