{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable05524b2f21"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable05524b2f21"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05524b2f21",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A56%3A36.8109268Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable05524b2f21/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.8109268Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Timestamp": "2024-11-26T16:56:36.8109268Z",
        "Data": "你好"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05524b2f21(PartitionKey='PK',RowKey='%E4%BD%A0%E5%A5%BD')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A56%3A36.8109268Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable05524b2f21/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.8109268Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Timestamp": "2024-11-26T16:56:36.8109268Z",
        "Data": "你好"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05524b2f21",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A56%3A36.8678941Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable05524b2f21/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.8678941Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Timestamp": "2024-11-26T16:56:36.8678941Z",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05524b2f21(PartitionKey='PK',RowKey='RK2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A56%3A36.8678941Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable05524b2f21/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.8678941Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Timestamp": "2024-11-26T16:56:36.8678941Z",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05524b2f21",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-26T16%3A56%3A36.9248625Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable05524b2f21/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.9248625Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Timestamp": "2024-11-26T16:56:36.9248625Z",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05524b2f21()?$filter=PartitionKey%20eq%20'PK'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable05524b2f21",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.8678941Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Timestamp": "2024-11-26T16:56:36.8678941Z",
            "Data@odata.type": "Edm.Int64",
            "Data": "9223372036854775807"
          },
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.9248625Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK4",
            "Timestamp": "2024-11-26T16:56:36.9248625Z",
            "Data1@odata.type": "Edm.Double",
            "Data1": "NaN",
            "Data2@odata.type": "Edm.Double",
            "Data2": "Infinity",
            "Data3@odata.type": "Edm.Double",
            "Data3": "-Infinity"
          },
          {
            "odata.etag": "W/\"datetime'2024-11-26T16%3A56%3A36.8109268Z'\"",
            "PartitionKey": "PK",
            "RowKey": "你好",
            "Timestamp": "2024-11-26T16:56:36.8109268Z",
            "Data": "你好"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05524b2f21()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:56:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
   [...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable05524b2f21')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:56:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
