{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3cc12f2d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('uttable3cc12f2d')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable3cc12f2d"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3cc12f2d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk3cc12f2d",
        "RowKey": "rk3cc12f2d",
        "datetime1@odata.type": "Edm.DateTime",
        "datetime1": "2013-08-22T01:12:06.2608595Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-07T02%3A06%3A23.6358303Z'\"",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable3cc12f2d(PartitionKey='pk3cc12f2d',RowKey='rk3cc12f2d')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3cc12f2d/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A23.6358303Z'\"",
        "PartitionKey": "pk3cc12f2d",
        "RowKey": "rk3cc12f2d",
        "Timestamp": "2024-05-07T02:06:23.6358303Z",
        "datetime1@odata.type": "Edm.DateTime",
        "datetime1": "2013-08-22T01:12:06.2608595Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3cc12f2d(PartitionKey='pk3cc12f2d',RowKey='rk3cc12f2d')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-07T02%3A06%3A23.6358303Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable3cc12f2d/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A23.6358303Z'\"",
        "PartitionKey": "pk3cc12f2d",
        "RowKey": "rk3cc12f2d",
        "Timestamp": "2024-05-07T02:06:23.6358303Z",
        "datetime1@odata.type": "Edm.DateTime",
        "datetime1": "2013-08-22T01:12:06.2608595Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable3cc12f2d(PartitionKey='pk3cc12f2d',RowKey='rk3cc12f2d')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Tue, 07 May 2024 02:06:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk3cc12f2d",
        "RowKey": "rk3cc12f2d",
        "datetime1@odata.type": "Edm.DateTime",
        "datetime1": "2013-08-22T01:12:06.2608595Z",
        "datetime2@odata.type": "Edm.DateTime",
        "datetime2": "2020-08-22T01:12:06.260859Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2024-05-07T02%3A06%3A23.6914998Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable3cc12f2d"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('uttable3cc12f2d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 02:06:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
