{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 02 Jun 2023 22:48:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable8b2a2f92"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytable8b2a2f92\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable8b2a2f92"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytable8b2a2f92()?$filter=PartitionKey%20eq%20\u0027dummy-pk\u0027?sv=2015-04-05\u0026ss=b\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-03T06:43:23.0000000Z\u0026spr=https\u0026sig=FlAdA6XWGdolzbatUXHdStCPoX9YfN1luTkSYW192R4%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 02 Jun 2023 22:48:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "AuthenticationFailed",
          "message": {
            "lang": "en-US",
            "value": "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:1b6ae106-9002-004f-28a4-951434000000\nTime:2023-06-02T22:48:28.5801876Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
