{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=dce0eea4-95a2-4940-b278-4c91325ffee3\u0026client_secret=0147c936-61ca-445f-92d6-851b50e75951\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fstorage.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 Sep 2023 09:10:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytablec88f3b87"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "Authorization header doesn\u0027t confirm to the required format. Please verify and try again.\r\nActivityId: 1993bc84-d1b8-487f-bd28-a6d2d9f35e93, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.17763.0\nRequestID:1993bc84-d1b8-487f-bd28-a6d2d9f35e93\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 Sep 2023 09:10:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytablec88f3b87"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "Authorization header doesn\u0027t confirm to the required format. Please verify and try again.\r\nActivityId: f98f1f36-c80f-4798-98e1-9f3d355a2941, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.17763.0\nRequestID:f98f1f36-c80f-4798-98e1-9f3d355a2941\n"
          }
        }
      }
    }
  ],
  "Variables": {}
}
