{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 28 Nov 2024 01:11:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableca233255"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableca233255"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableca233255",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 28 Nov 2024 01:11:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk",
        "RowKey": "rk",
        "Value": "foobar",
        "Answer": 42
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-28T01%3A11%3A13.9338156Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#tableca233255/@Element",
        "odata.etag": "W/\"datetime'2024-11-28T01%3A11%3A13.9338156Z'\"",
        "PartitionKey": "pk",
        "RowKey": "rk",
        "Timestamp": "2024-11-28T01:11:13.9338156Z",
        "Value": "foobar",
        "Answer": 42
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/tableca233255(PartitionKey='pk',RowKey='rk')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 28 Nov 2024 01:11:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-11-28T01%3A11%3A13.9338156Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#tableca233255/@Element",
        "odata.etag": "W/\"datetime'2024-11-28T01%3A11%3A13.9338156Z'\"",
        "PartitionKey": "pk",
        "RowKey": "rk",
        "Timestamp": "2024-11-28T01:11:13.9338156Z",
        "Value": "foobar",
        "Answer": 42
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableca233255')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 28 Nov 2024 01:11:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
