{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable155a2433a0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A52%3A11.7462023Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable155a2433a0",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable155a2433a0(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-11-26T16%3A52%3A12.0439815Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable155a2433a0(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "da34c67e-2b85-4483-bf3a-20abc25b9e8a",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-11-26T16%3A52%3A12.0814599Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable155a2433a0(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A52%3A12.0814599Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable155a2433a0/$metadata#uttable155a2433a0/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A52%3A12.0814599Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "da34c67e-2b85-4483-bf3a-20abc25b9e8a",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Timestamp": "2024-11-26T16:52:12.0814599Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable155a2433a0')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:52:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "da34c67e-2b85-4483-bf3a-20abc25b9e8a"
  }
}
