{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('pytableasynced42349f')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:06:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:0366e878-4002-004f-3f78-c080fc000000\nTime:2026-03-30T19:06:37.2417423Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
