{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 20:00:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablede7e2e1b"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T20%3A00%3A47.9135751Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttablede7e2e1b",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablede7e2e1b",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 20:00:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkde7e2e1b",
        "RowKey": "rkde7e2e1b",
        "etag": "bar",
        "Etag": "baz"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T20%3A00%3A48.2881543Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttablede7e2e1b/$metadata#uttablede7e2e1b/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T20%3A00%3A48.2881543Z'\"",
        "PartitionKey": "pkde7e2e1b",
        "RowKey": "rkde7e2e1b",
        "etag": "bar",
        "Timestamp": "2026-03-30T20:00:48.2881543Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablede7e2e1b(PartitionKey='pkde7e2e1b',RowKey='rkde7e2e1b')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 20:00:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T20%3A00%3A48.2881543Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttablede7e2e1b/$metadata#uttablede7e2e1b/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T20%3A00%3A48.2881543Z'\"",
        "PartitionKey": "pkde7e2e1b",
        "RowKey": "rkde7e2e1b",
        "etag": "bar",
        "Timestamp": "2026-03-30T20:00:48.2881543Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablede7e2e1b(PartitionKey='pkde7e2e1b',RowKey='rkde7e2e1b')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\"datetime'2026-03-30T20%3A00%3A48.2881543Z'\"",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Mon, 30 Mar 2026 20:00:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkde7e2e1b",
        "RowKey": "rkde7e2e1b",
        "etag": "two",
        "Etag": "three"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2026-03-30T20%3A00%3A48.6267911Z'\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 20:00:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttablede7e2e1b"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttablede7e2e1b')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 20:00:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
