{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:07:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable1390ad33b6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A07%3A51.2371207Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable1390ad33b6')"
      },
      "ResponseBody": {
        "TableName": "uttable1390ad33b6",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable1390ad33b6(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 07 May 2024 01:07:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-07T01%3A07%3A51.5171847Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable1390ad33b6(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 07 May 2024 01:07:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-07T01%3A07%3A51.5507719Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable1390ad33b6(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:07:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A07%3A51.5507719Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable1390ad33b6/$metadata#uttable1390ad33b6/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T01%3A07%3A51.5507719Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true,
        "Timestamp": "2024-05-07T01:07:51.5507719Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable1390ad33b6(PartitionKey='PK',RowKey='RK''@*$!%25')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 07 May 2024 01:07:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-07T01%3A07%3A51.6663815Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable1390ad33b6(PartitionKey='PK',RowKey='RK''@*$!%25')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 07 May 2024 01:07:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%",
        "Data": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-07T01%3A07%3A51.6949511Z'\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable1390ad33b6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 01:07:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
