{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:26 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttabled7873288"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A26.8625415Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttabled7873288')"
      },
      "ResponseBody": {
        "TableName": "uttabled7873288",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabled7873288",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkd7873288",
        "RowKey": "rkd7873288",
        "NoneValue": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A27.1303175Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttabled7873288(PartitionKey='pkd7873288',RowKey='rkd7873288')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttabled7873288/$metadata#uttabled7873288/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A27.1303175Z'\"",
        "PartitionKey": "pkd7873288",
        "RowKey": "rkd7873288",
        "Timestamp": "2024-05-07T01:31:27.1303175Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttabled7873288(PartitionKey='pkd7873288',RowKey='rkd7873288')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A27.1303175Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttabled7873288/$metadata#uttabled7873288/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A27.1303175Z'\"",
        "PartitionKey": "pkd7873288",
        "RowKey": "rkd7873288",
        "Timestamp": "2024-05-07T01:31:27.1303175Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttabled7873288"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttabled7873288')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
