{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:51:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable05fdfa2e74"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A51%3A42.3737863Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable05fdfa2e74",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable05fdfa2e74",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:51:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "Data1": "12345",
        "Data1@odata.type": "Edm.Int32",
        "Data2": "False",
        "Data2@odata.type": "Edm.Boolean",
        "Data3": "dGVzdGRhdGE=",
        "Data3@odata.type": "Edm.Binary",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data4@odata.type": "Edm.DateTime",
        "Data5": "3fac99b2-8eee-4802-b260-40d1e1c5d5de",
        "Data5@odata.type": "Edm.Guid",
        "Data6": "Foobar",
        "Data6@odata.type": "Edm.String",
        "Data7": "3.14",
        "Data7@odata.type": "Edm.Double",
        "Data8": "1152921504606846976",
        "Data8@odata.type": "Edm.Int64"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A51%3A42.6395143Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable05fdfa2e74/$metadata#uttable05fdfa2e74/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A51%3A42.6395143Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "3fac99b2-8eee-4802-b260-40d1e1c5d5de",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2024-11-26T16:51:42.6395143Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable05fdfa2e74(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:51:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A51%3A42.6395143Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable05fdfa2e74/$metadata#uttable05fdfa2e74/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A51%3A42.6395143Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "3fac99b2-8eee-4802-b260-40d1e1c5d5de",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2024-11-26T16:51:42.6395143Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable05fdfa2e74')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:51:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "3fac99b2-8eee-4802-b260-40d1e1c5d5de"
  }
}
