{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 00:31:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable095e3733c0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T00%3A31%3A03.1888903Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable095e3733c0')"
      },
      "ResponseBody": {
        "TableName": "uttable095e3733c0",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable095e3733c0(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Sat, 04 May 2024 00:31:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "25a23a74-ce89-4b92-8ff6-90855eec32ae",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-04T00%3A31%3A03.4734599Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable095e3733c0(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 00:31:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T00%3A31%3A03.4734599Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable095e3733c0/$metadata#uttable095e3733c0/@Element",
        "odata.etag": "W/\"datetime'2024-05-04T00%3A31%3A03.4734599Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "25a23a74-ce89-4b92-8ff6-90855eec32ae",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Timestamp": "2024-05-04T00:31:03.4734599Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable095e3733c0')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Sat, 04 May 2024 00:31:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "25a23a74-ce89-4b92-8ff6-90855eec32ae"
  }
}
