{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 Sep 2023 03:41:47 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytabledcfc349e"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-09-15T03%3A41%3A46.6505223Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027mytabledcfc349e\u0027)"
      },
      "ResponseBody": {
        "TableName": "mytabledcfc349e",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/mytabledcfc349e",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 Sep 2023 03:41:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "k1",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "r1",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-09-15T03%3A41%3A47.4999303Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/mytabledcfc349e(PartitionKey=\u0027k1\u0027,RowKey=\u0027r1\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/mytabledcfc349e/$metadata#mytabledcfc349e/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-09-15T03%3A41%3A47.4999303Z\u0027\u0022",
        "PartitionKey": "k1",
        "RowKey": "r1",
        "Timestamp": "2023-09-15T03:41:47.4999303Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/mytabledcfc349e()?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 Sep 2023 03:41:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\u0022token\u0022:\u0022G8cnAOyJnQsBAAAAAAAAAA==\u0022,\u0022range\u0022:{\u0022min\u0022:\u0022\u0022,\u0022max\u0022:\u0022FF\u0022}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-09-15T03%3A41%3A47.4999303Z\u0027\u0022",
            "PartitionKey": "k1",
            "RowKey": "r1",
            "Timestamp": "2023-09-15T03:41:47.4999303Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#mytabledcfc349e"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027mytabledcfc349e\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 15 Sep 2023 03:41:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
