{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:57:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable1093e42ff6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A57%3A49.1275783Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable1093e42ff6",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable1093e42ff6(PartitionKey='PK1',RowKey='RK1')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Mon, 30 Mar 2026 18:57:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK1",
        "RowKey": "RK1",
        "Data1@odata.type": "Edm.Int32",
        "Data1": 12345,
        "Data2@odata.type": "Edm.Boolean",
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "462b5686-9cc1-41e1-b0ea-a3d294eca661",
        "Data6@odata.type": "Edm.String",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2026-03-30T18%3A57%3A49.4724615Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable1093e42ff6(PartitionKey='PK1',RowKey='RK1')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:57:49 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A57%3A49.4724615Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable1093e42ff6/$metadata#uttable1093e42ff6/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A57%3A49.4724615Z'\"",
        "PartitionKey": "PK1",
        "RowKey": "RK1",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.0000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "462b5686-9cc1-41e1-b0ea-a3d294eca661",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2026-03-30T18:57:49.4724615Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable1093e42ff6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 18:57:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "462b5686-9cc1-41e1-b0ea-a3d294eca661"
  }
}
