{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:39:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3de13343"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A39%3A58.9719048Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable3de13343",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable3de13343",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk3de13343",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk3de13343",
        "RowKey@odata.type": "Edm.String",
        "啊齄丂狛狜": "ꀕ",
        "啊齄丂狛狜@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A39%3A59.1904264Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable3de13343/$metadata#uttable3de13343/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A39%3A59.1904264Z'\"",
        "PartitionKey": "pk3de13343",
        "RowKey": "rk3de13343",
        "啊齄丂狛狜": "ꀕ",
        "Timestamp": "2024-05-03T22:39:59.1904264Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable3de13343()?$filter=PartitionKey%20eq%20'pk3de13343'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A39%3A59.1904264Z'\"",
            "PartitionKey": "pk3de13343",
            "RowKey": "rk3de13343",
            "啊齄丂狛狜": "ꀕ",
            "Timestamp": "2024-05-03T22:39:59.1904264Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A39%3A59.2016904Z'\"",
            "PartitionKey": "pk3de13343",
            "RowKey": "test2",
            "啊齄丂狛狜": "hello",
            "Timestamp": "2024-05-03T22:39:59.2016904Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttable3de13343"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable3de13343')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:39:59 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
