{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables?se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 26 Jul 2023 07:50:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable3cb2e81"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-07-26T07%3A50%3A04.8783367Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027mytable3cb2e81\u0027)"
      },
      "ResponseBody": {
        "TableName": "mytable3cb2e81",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables?$filter=TableName%20eq%20%27mytable3cb2e81%27\u0026se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 26 Jul 2023 07:50:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "mytable3cb2e81"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/mytable3cb2e81()?$filter=PartitionKey%20eq%20%27dummy-pk%27\u0026se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 26 Jul 2023 07:50:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#mytable3cb2e81"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/mytable3cb2e81()?se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value\u0026$filter=PartitionKey%20eq%20%27dummy-pk%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 26 Jul 2023 07:50:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#mytable3cb2e81"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027mytable3cb2e81\u0027)?se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 26 Jul 2023 07:50:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
