{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable21c6163441(PartitionKey='foo',RowKey='bar')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 09 May 2024 01:45:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-us",
            "value": "The specified resource does not exist.\nRequestID:72d126e0-6436-40ce-b34d-e724326d52a3\n"
          }
        }
      }
    }
  ],
  "Variables": {}
}
