{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('pytablesyncb3653024')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:10:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:3dd11f44-5002-0011-56c4-cb5047000000\nTime:2026-04-14T04:10:43.2830455Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
