{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:39:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable3f252a7c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable3f252a7c"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3f252a7c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:39:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "pk",
        "RowKey": "10",
        "value": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A39%3A25.2267527Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3f252a7c/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A39%3A25.2267527Z'\"",
        "PartitionKey": "pk",
        "RowKey": "10",
        "Timestamp": "2026-04-14T04:39:25.2267527Z",
        "value": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3f252a7c()?$top=2&$filter=PartitionKey%20eq%20%27pk%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:39:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!4!cGs-",
        "x-ms-continuation-NextRowKey": "1!8!MTAxMg--",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3f252a7c",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A39%3A25.2267527Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10",
            "Timestamp": "2026-04-14T04:39:25.2267527Z",
            "value": 0
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A39%3A25.4159213Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101",
            "Timestamp": "2026-04-14T04:39:25.4159213Z",
            "value": 1
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3f252a7c()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=1%214%21cGs-&NextRowKey=1%218%21MTAxMg--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:39:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!4!cGs-",
        "x-ms-continuation-NextRowKey": "1!8!MTAxMjM0",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3f252a7c",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A39%3A25.5961276Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012",
            "Timestamp": "2026-04-14T04:39:25.5961276Z",
            "value": 2
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A39%3A25.770362Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10123",
            "Timestamp": "2026-04-14T04:39:25.770362Z",
            "value": 3
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3f252a7c()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=1%214%21cGs-&NextRowKey=1%218%21MTAxMjM0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:39:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3f252a7c",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A39%3A25.9455929Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101234",
            "Timestamp": "2026-04-14T04:39:25.9455929Z",
            "value": 4
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A39%3A26.1267969Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012345",
            "Timestamp": "2026-04-14T04:39:26.1267969Z",
            "value": 5
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable3f252a7c')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:39:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
