{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable12c8f52e38"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable12c8f52e38\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable12c8f52e38"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK\u0027,RowKey=\u0027%E4%BD%A0%E5%A5%BD\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "\u4F60\u597D",
        "RowKey@odata.type": "Edm.String",
        "Data": "\u4F60\u597D",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A52.4861573Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK\u0027,RowKey=\u0027%E4%BD%A0%E5%A5%BD\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A52.4861573Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable12c8f52e38/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A52.4861573Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "\u4F60\u597D",
        "Timestamp": "2023-10-10T03:33:52.4861573Z",
        "Data": "\u4F60\u597D"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK2\u0027,RowKey=\u0027RK2\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK2",
        "RowKey@odata.type": "Edm.String",
        "Data": "9223372036854775807",
        "Data@odata.type": "Edm.Int64"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A52.6180766Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK4\u0027,RowKey=\u0027RK4\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK4",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK4",
        "RowKey@odata.type": "Edm.String",
        "Data1": "NaN",
        "Data1@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data2@odata.type": "Edm.Double",
        "Data3": "-Infinity",
        "Data3@odata.type": "Edm.Double"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A52.7370041Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "123": 456
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertyNameInvalid",
          "message": {
            "lang": "en-US",
            "value": "The property name is invalid.\nRequestId:8dde3dd2-5002-0075-5b2a-fb97e4000000\nTime:2023-10-10T03:33:52.8544362Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK\u0027,RowKey=\u0027EnumBasicOptions.ONE\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "EnumBasicOptions.ONE",
        "RowKey@odata.type": "Edm.String",
        "Data": "EnumBasicOptions.TWO",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A52.9138967Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "1",
        "RowKey@odata.type": "Edm.String",
        "Data": "2",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A53.0318251Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable12c8f52e38(PartitionKey=\u0027PK\u0027,RowKey=\u0027EnumStrOptions.ONE\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:33:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "EnumStrOptions.ONE",
        "RowKey@odata.type": "Edm.String",
        "Data": "EnumStrOptions.TWO",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A33%3A53.1667429Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable12c8f52e38\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Oct 2023 03:33:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
