{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:09:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "pytablesync1d28223d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "pytablesync1d28223d"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/?restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:09:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>AuthenticationFailed</m:code><m:message xml:lang=\"en-US\">Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:3dd0bca5-5002-0011-3cc4-cb5047000000\n",
        "Time:2026-04-14T04:09:31.2027175Z</m:message></m:error>"
      ]
    }
  ],
  "Variables": {}
}
