{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable015cb82f2c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-18T00%3A59%3A59.7012999Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable015cb82f2c\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable015cb82f2c",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "Data1": 1,
        "Data2": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A00.5372935Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c/$metadata#uttable015cb82f2c/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A00.5372935Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true,
        "Timestamp": "2023-10-18T01:00:00.5372935Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A00.5372935Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c/$metadata#uttable015cb82f2c/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A00.5372935Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true,
        "Timestamp": "2023-10-18T01:00:00.5372935Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK%27%27%40%2A%24%21%25\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A00.6155271Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c/$metadata#uttable015cb82f2c/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A00.6155271Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK\u0027@*$!%",
        "Timestamp": "2023-10-18T01:00:00.6155271Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable015cb82f2c",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": 1
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: cd4999cb-4349-4202-b61e-36bdb0d81abc, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.17763.0\nRequestID:cd4999cb-4349-4202-b61e-36bdb0d81abc\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable015cb82f2c\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 18 Oct 2023 01:00:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
