{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:54:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablea3642fe3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A54%3A55.1515143Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablea3642fe3')"
      },
      "ResponseBody": {
        "TableName": "uttablea3642fe3",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea3642fe3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:54:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk",
        "RowKey": "10",
        "value": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A54%3A55.4352647Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttablea3642fe3(PartitionKey='pk',RowKey='10')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttablea3642fe3/$metadata#uttablea3642fe3/@Element",
        "odata.etag": "W/\"datetime'2024-05-02T22%3A54%3A55.4352647Z'\"",
        "PartitionKey": "pk",
        "RowKey": "10",
        "value": 0,
        "Timestamp": "2024-05-02T22:54:55.4352647Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea3642fe3()?$top=2&$filter=PartitionKey%20eq%20%27pk%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:54:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\"token\":\"+RID:~qd5zAO5z1yACAAAAAAAAAA==#RT:1#TRC:2#ISV:2#IEO:65567#QCF:8#FPC:AQIAAAAAAAAABgAAAAAAAAA=\",\"range\":{\"min\":\"\",\"max\":\"FF\"}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-02T22%3A54%3A55.4352647Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10",
            "value": 0,
            "Timestamp": "2024-05-02T22:54:55.4352647Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-02T22%3A54%3A55.4643463Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101",
            "value": 1,
            "Timestamp": "2024-05-02T22:54:55.4643463Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttablea3642fe3"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea3642fe3()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=%7B%22token%22%3A%22%2BRID%3A~qd5zAO5z1yACAAAAAAAAAA%3D%3D%23RT%3A1%23TRC%3A2%23ISV%3A2%23IEO%3A65567%23QCF%3A8%23FPC%3AAQIAAAAAAAAABgAAAAAAAAA%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D&NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Th[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea3642fe3()?$top=2&$filter=PartitionKey%20eq%20%27pk%27&NextPartitionKey=%5B%7B%22token%22%3A%22%2BRID%3A~qd5zAO5z1yAEAAAAAAAAAA%3D%3D%23RT%3A2%23TRC%3A4%23ISV%3A2%23IEO%3A65567%23QCF%3A8%23FPC%3AAQQAAAAAAAAABgAAAAAAAAA%3D%22%2C%22range%22%3A%7B%22min%22%3A%22%22%2C%22max%22%3A%22FF%22%7D%7D%5D&NextRowKey=NA",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:54:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-02T22%3A54%3A55.5623431Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101234",
            "value": 4,
            "Timestamp": "2024-05-02T22:54:55.5623431Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-02T22%3A54%3A55.5910151Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012345",
            "value": 5,
            "Timestamp": "2024-05-02T22:54:55.5910151Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttablea3642fe3"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablea3642fe3')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 22:54:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
