{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 May 2024 01:44:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable2255cb336f"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-09T01%3A44%3A48.0601095Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable2255cb336f",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable2255cb336f(PartitionKey='PK',RowKey='%E4%BD%A0%E5%A5%BD')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Thu, 09 May 2024 01:44:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "你好"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-09T01%3A44%3A48.3480583Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable2255cb336f(PartitionKey='PK',RowKey='%E4%BD%A0%E5%A5%BD')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 09 May 2024 01:44:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable2255cb336f(PartitionKey='foo',RowKey='One')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 09 May 2024 01:44:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-us",
            "value": "The specified resource does not exist.\nRequestID:93bf13b3-598d-44a4-94b0-8fd9a9140b62\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable2255cb336f')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 09 May 2024 01:44:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
