{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3f05335d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A27.6167175Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable3f05335d')"
      },
      "ResponseBody": {
        "TableName": "uttable3f05335d",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk3f05335d",
        "RowKey": "rk3f05335d",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg=="
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A27.8685191Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d(PartitionKey='pk3f05335d',RowKey='rk3f05335d')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d/$metadata#uttable3f05335d/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A27.8685191Z'\"",
        "PartitionKey": "pk3f05335d",
        "RowKey": "rk3f05335d",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2024-05-07T01:31:27.8685191Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d(PartitionKey='pk3f05335d',RowKey='rk3f05335d')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A27.8685191Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable3f05335d/$metadata#uttable3f05335d/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A27.8685191Z'\"",
        "PartitionKey": "pk3f05335d",
        "RowKey": "rk3f05335d",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2024-05-07T01:31:27.8685191Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable3f05335d"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable3f05335d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 01:31:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
