{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 20:03:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttabled3bf385f"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T20%3A03%3A11.0891527Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttabled3bf385f",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttabled3bf385f",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 20:03:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkd3bf385f",
        "RowKey": "rkd3bf385f",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "optional": null,
        "ratio@odata.type": "Edm.Double",
        "ratio": 3.1,
        "evenratio@odata.type": "Edm.Double",
        "evenratio": 3.0,
        "double@odata.type": "Edm.Double",
        "double": 5,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other@odata.type": "Edm.Int32",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T20%3A03%3A11.5256839Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttabled3bf385f/$metadata#uttabled3bf385f/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T20%3A03%3A11.5256839Z'\"",
        "PartitionKey": "pkd3bf385f",
        "RowKey": "rkd3bf385f",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.0000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.0000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "Timestamp": "2026-03-30T20:03:11.5256839Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttabled3bf385f()?$filter=married%20eq%20true%20and%20RowKey%20eq%20'rkd3bf385f'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 20:03:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T20%3A03%3A11.5256839Z'\"",
            "PartitionKey": "pkd3bf385f",
            "RowKey": "rkd3bf385f",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime",
            "Birthday": "1973-10-04T00:00:00.0000000Z",
            "birthday@odata.type": "Edm.DateTime",
            "birthday": "1970-10-04T00:00:00.0000000Z",
            "binary@odata.type": "Edm.Binary",
            "binary": "YmluYXJ5",
            "other": 20,
            "clsid@odata.type": "Edm.Guid",
            "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
            "Timestamp": "2026-03-30T20:03:11.5256839Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttabled3bf385f"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttabled3bf385f')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 20:03:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
