{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "1table"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:329a9a5f-4002-0012-4cab-9d8ee4000000\nTime:2024-05-03T22:43:13.5816197Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:329a9a60-4002-0012-4dab-9d8ee4000000\nTime:2024-05-03T22:43:13.5875904Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:329a9a62-4002-0012-4fab-9d8ee4000000\nTime:2024-05-03T22:43:13.5935640Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:329a9a64-4002-0012-51ab-9d8ee4000000\nTime:2024-05-03T22:43:13.5985420Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/1table?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidResourceName",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>InvalidResourceName</m:code><m:message xml:lang=\"en-US\">The specifed resource name contains invalid characters.\n",
        "RequestId:329a9a66-4002-0012-53ab-9d8ee4000000\n",
        "Time:2024-05-03T22:43:13.6065076Z</m:message></m:error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_00000000-0000-0000-0000-000000000000",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF8wNzBhNzBlZC0xNGUxLTQyNjYtOWFlMi0zM2NjMTQyMTg3NTYNCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfZjY5ODRlNDktZjQ4OS00YzNlLWIzYjEtNGQwMzAzMTEwMDk4DQoNCi0tY2hhbmdlc2V0X2Y2OTg0ZTQ5LWY0ODktNGMzZS1iM2IxLTRkMDMwMzExMDA5OA0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUEFU[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a6c-4002-0012-59ab-9d8ee4000000\nTime:2024-05-03T22:43:13.6652497Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a6d-4002-0012-5aab-9d8ee4000000\nTime:2024-05-03T22:43:13.6712233Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a6f-4002-0012-5cab-9d8ee4000000\nTime:2024-05-03T22:43:13.6771970Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aa?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>OutOfRangeInput</m:code><m:message xml:lang=\"en-US\">The specified resource name length is not within the permissible limits.\n",
        "RequestId:329a9a72-4002-0012-5fab-9d8ee4000000\n",
        "Time:2024-05-03T22:43:13.6821746Z</m:message></m:error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a7c-4002-0012-69ab-9d8ee4000000\nTime:2024-05-03T22:43:13.7399207Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a7e-4002-0012-6bab-9d8ee4000000\nTime:2024-05-03T22:43:13.7578415Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a7f-4002-0012-6cab-9d8ee4000000\nTime:2024-05-03T22:43:13.7658076Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>OutOfRangeInput</m:code><m:message xml:lang=\"en-US\">The specified resource name length is not within the permissible limits.\n",
        "RequestId:329a9a82-4002-0012-6fab-9d8ee4000000\n",
        "Time:2024-05-03T22:43:13.7727760Z</m:message></m:error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a8d-4002-0012-7aab-9d8ee4000000\nTime:2024-05-03T22:43:13.8315178Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a8f-4002-0012-7cab-9d8ee4000000\nTime:2024-05-03T22:43:13.8384884Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "OutOfRangeInput",
          "message": {
            "lang": "en-US",
            "value": "The specified resource name length is not within the permissible limits.\nRequestId:329a9a91-4002-0012-7eab-9d8ee4000000\nTime:2024-05-03T22:43:13.8444612Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/a%2F%2F?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>OutOfRangeInput</m:code><m:message xml:lang=\"en-US\">The specified resource name length is not within the permissible limits.\n",
        "RequestId:329a9a92-4002-0012-7fab-9d8ee4000000\n",
        "Time:2024-05-03T22:43:13.8494392Z</m:message></m:error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:329a9a9a-4002-0012-06ab-9d8ee4000000\nTime:2024-05-03T22:43:13.9111681Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:329a9a9b-4002-0012-07ab-9d8ee4000000\nTime:2024-05-03T22:43:13.9171421Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:329a9a9c-4002-0012-08ab-9d8ee4000000\nTime:2024-05-03T22:43:13.9241116Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/my_table?comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:43:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidResourceName",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>InvalidResourceName</m:code><m:message xml:lang=\"en-US\">The specifed resource name contains invalid characters.\n",
        "RequestId:329a9a9d-4002-0012-09ab-9d8ee4000000\n",
        "Time:2024-05-03T22:43:13.9290898Z</m:message></m:error>"
      ]
    },
[...]
