{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable14bca9324c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A52%3A08.8825863Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable14bca9324c",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable14bca9324c(PartitionKey='2022-04-01T09%3A30%3A45.000000Z',RowKey='1336601e-a62d-478b-84d2-3651bc8635d5')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "2022-04-01T09:30:45.000000Z",
        "RowKey": "1336601e-a62d-478b-84d2-3651bc8635d5"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-11-26T16%3A52%3A09.1737095Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable14bca9324c(PartitionKey='2022-04-01T09%3A30%3A45.000000Z',RowKey='1336601e-a62d-478b-84d2-3651bc8635d5')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey@odata.type": "Edm.DateTime",
        "PartitionKey": "2022-04-01T09:30:45.000000Z",
        "RowKey@odata.type": "Edm.Guid",
        "RowKey": "1336601e-a62d-478b-84d2-3651bc8635d5",
        "Data": true
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: b3775a20-8213-426d-96e5-442493be4aba, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:b3775a20-8213-426d-96e5-442493be4aba\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable14bca9324c(PartitionKey='YmluYXJ5ZGF0YQ%3D%3D',RowKey='1234')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 26 Nov 2024 16:52:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "YmluYXJ5ZGF0YQ==",
        "RowKey": "1234"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-11-26T16%3A52%3A09.2592135Z'\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable14bca9324c')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:52:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "1336601e-a62d-478b-84d2-3651bc8635d5"
  }
}
