{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttablefd82ed8"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablefd82ed8"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/querytablefd82ed8",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "pkfd82ed8",
        "RowKey": "rkfd82ed81",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "optional": null,
        "ratio@odata.type": "Edm.Double",
        "ratio": 3.1,
        "evenratio@odata.type": "Edm.Double",
        "evenratio": 3.0,
        "double@odata.type": "Edm.Double",
        "double": 5,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other@odata.type": "Edm.Int32",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A45%3A49.7432164Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#querytablefd82ed8/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A45%3A49.7432164Z'\"",
        "PartitionKey": "pkfd82ed8",
        "RowKey": "rkfd82ed81",
        "Timestamp": "2026-04-14T04:45:49.7432164Z",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/querytablefd82ed8()?$top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!12!cGtmZDgyZWQ4",
        "x-ms-continuation-NextRowKey": "1!16!cmtmZDgyZWQ4MTIz",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#querytablefd82ed8",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A45%3A49.7432164Z'\"",
            "PartitionKey": "pkfd82ed8",
            "RowKey": "rkfd82ed81",
            "Timestamp": "2026-04-14T04:45:49.7432164Z",
            "age": 39,
            "sex": "male",
            "married": true,
            "deceased": false,
            "ratio": 3.1,
            "evenratio": 3.0,
            "double": 5.0,
            "large": 933311100,
            "Birthday@odata.type": "Edm.DateTime[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/querytablefd82ed8()?$top=2&NextPartitionKey=1!12!cGtmZDgyZWQ4&NextRowKey=1!16!cmtmZDgyZWQ4MTIz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadat[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('querytablefd82ed8')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:45:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttablefd82ed8')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:45:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
