{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:58:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablefbd82c55"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A58%3A08.2142215Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttablefbd82c55",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytablefbd82c55",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:58:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar1",
        "IsAdmin": "admin"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A58%3A08.9916423Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/querytablefbd82c55/$metadata#querytablefbd82c55/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A58%3A08.9916423Z'\"",
        "PartitionKey": "foo",
        "RowKey": "bar1",
        "IsAdmin": "admin",
        "Timestamp": "2026-03-30T19:58:08.9916423Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytablefbd82c55()?$filter=PartitionKey%20eq%20%27foo%27%20and%20IsAdmin%20eq%20%27admin%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:58:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A58%3A08.9916423Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar1",
            "IsAdmin": "admin",
            "Timestamp": "2026-03-30T19:58:08.9916423Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#querytablefbd82c55"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytablefbd82c55()?$filter=PartitionKey%20eq%20%27foo%27%20or%20RowKey%20eq%20%27bar2%27%20and%20IsAdmin%20eq%20%27admin%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:58:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A58%3A08.9916423Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar1",
            "IsAdmin": "admin",
            "Timestamp": "2026-03-30T19:58:08.9916423Z"
          },
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A58%3A09.2192775Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar2",
            "IsAdmin": "",
            "Timestamp": "2026-03-30T19:58:09.2192775Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#querytablefbd82c55"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/querytablefbd82c55()?$filter=PartitionKey%20eq%20%27foo%27%27%20or%20RowKey%20eq%20%27%27bar2%27%20and%20IsAdmin%20eq%20%27admin%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:58:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#querytablefbd82c55"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('querytablefbd82c55')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:58:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttablefbd82c55')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:58:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
