{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-09T03%3A58%3A00.0000000Z\u0026spr=https\u0026sig=XYzcWAo5pMTF0S4ZMg2GosWgxJq%2B6oi1LVkUiijCX9Q%3D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 08 Jun 2023 21:49:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytableb1ec291a"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027mytableb1ec291a\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytableb1ec291a"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables?$filter=TableName%20eq%20%27mytableb1ec291a%27\u0026sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-09T03%3A58%3A00.0000000Z\u0026spr=https\u0026sig=XYzcWAo5pMTF0S4ZMg2GosWgxJq%2B6oi1LVkUiijCX9Q%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 08 Jun 2023 21:49:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "mytableb1ec291a"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytableb1ec291a()?$filter=PartitionKey%20eq%20%27dummy-pk%27\u0026sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-09T03%3A58%3A00.0000000Z\u0026spr=https\u0026sig=XYzcWAo5pMTF0S4ZMg2GosWgxJq%2B6oi1LVkUiijCX9Q%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 08 Jun 2023 21:49:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#mytableb1ec291a",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/mytableb1ec291a()?$filter=PartitionKey%20eq%20%27dummy-pk%27?sv=2015-04-05\u0026ss=t\u0026srt=sco\u0026sp=rwdlacu\u0026se=2023-06-09T03%3A58%3A00.0000000Z\u0026spr=https\u0026sig=XYzcWAo5pMTF0S4ZMg2GosWgxJq%2B6oi1LVkUiijCX9Q%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 08 Jun 2023 21:49:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "AuthenticationFailed",
          "message": {
            "lang": "en-US",
            "value": "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:c9127e0a-e002-0054-1c53-9a8596000000\nTime:2023-06-08T21:49:14.3849472Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
