{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable06b53537eb"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A54%3A03.7934087Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable06b53537eb",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06b53537eb",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A54%3A04.0644615Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06b53537eb/$metadata#uttable06b53537eb/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A54%3A04.0644615Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好",
        "Timestamp": "2024-11-26T16:54:04.0644615Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06b53537eb(PartitionKey='PK',RowKey='%E4%BD%A0%E5%A5%BD')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A54%3A04.0644615Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06b53537eb/$metadata#uttable06b53537eb/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A54%3A04.0644615Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好",
        "Timestamp": "2024-11-26T16:54:04.0644615Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06b53537eb",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK2",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775808"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: 61407538-2120-4c7f-832d-af3959f4d66b, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:61407538-2120-4c7f-832d-af3959f4d66b\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06b53537eb(PartitionKey='PK3',RowKey='RK3')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A54%3A04.1579527Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06b53537eb/$metadata#uttable06b53537eb/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A54%3A04.1579527Z'\"",
        "PartitionKey": "PK3",
        "RowKey": "RK3",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807",
        "Timestamp": "2024-11-26T16:54:04.1579527Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06b53537eb",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK5",
        "RowKey": "RK5",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A54%3A04.2289159Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06b53537eb/$metadata#uttable06b53537eb/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A54%3A04.2289159Z'\"",
        "PartitionKey": "PK5",
        "RowKey": "RK5",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity",
        "Timestamp": "2024-11-26T16:54:04.2289159Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06b53537eb(PartitionKey='PK',RowKey='One')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A54%3A04.3133959Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06b53537eb/$metadata#uttable06b53537eb/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A54%3A04.3133959Z'\"",
        "PartitionKey": "PK",
        "RowKey": "One",
        "Data": "Two",
        "Timestamp": "2024-11-26T16:54:04.3133959Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06b53537eb(PartitionKey='PK',RowKey='Two')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-11-26T16%3A54%3A04.3744263Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06b53537eb/$metadata#uttable06b53537eb/@Element",
        "odata.etag": "W/\"datetime'2024-11-26T16%3A54%3A04.3744263Z'\"",
        "PartitionKey": "PK",
        "RowKey": "Two",
        "Data": "Two",
        "Timestamp": "2024-11-26T16:54:04.3744263Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable06b53537eb')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Nov 2024 16:54:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
