{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:45:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablead812dc6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablead812dc6"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablead812dc6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:45:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A'aaa\"_bbbb2",
        "RowKey": "\"A'aaa\"_bbbb2",
        "test": "\"A'aaa\"_bbbb2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A45%3A05.6584974Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttablead812dc6/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A45%3A05.6584974Z'\"",
        "PartitionKey": "A'aaa\"_bbbb2",
        "RowKey": "\"A'aaa\"_bbbb2",
        "Timestamp": "2026-03-30T19:45:05.6584974Z",
        "test": "\"A'aaa\"_bbbb2"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablead812dc6(PartitionKey='A''aaa%22_bbbb2',RowKey='%22A''aaa%22_bbbb2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:45:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A45%3A05.6584974Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttablead812dc6/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A45%3A05.6584974Z'\"",
        "PartitionKey": "A'aaa\"_bbbb2",
        "RowKey": "\"A'aaa\"_bbbb2",
        "Timestamp": "2026-03-30T19:45:05.6584974Z",
        "test": "\"A'aaa\"_bbbb2"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablead812dc6(PartitionKey='A''aaa%22_bbbb2',RowKey='%22A''aaa%22_bbbb2')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 30 Mar 2026 19:45:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A'aaa\"_bbbb2",
        "RowKey": "\"A'aaa\"_bbbb2",
        "test": "\"A'aaa\"_bbbb2"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2026-03-30T19%3A45%3A06.9753607Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablead812dc6()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:45:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttablead812dc6",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A45%3A07.3975067Z'\"",
            "PartitionKey": "A'aaa\"_bbbb2",
            "RowKey": "\"A'aaa\"_bbbb2",
            "Timestamp": "2026-03-30T19:45:07.3975067Z",
            "test": "\"A'aaa\"_bbbb2"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('table2ad812dc6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttablead812dc6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:45:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
