{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttableb0b02fd9"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableb0b02fd9"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttableb0b02fd9",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "test@odata.type": "Edm.Boolean",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4@odata.type": "Edm.Int32",
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T06:11:52.480336Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A11%3A52.606707Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttableb0b02fd9/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A11%3A52.606707Z'\"",
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "Timestamp": "2026-03-30T19:11:52.606707Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T06:11:52.480336Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_1ba17549-5817-4a48-98c2-62dcd3e44baf",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "--batch_1ba17549-5817-4a48-98c2-62dcd3e44baf\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_b314124d-caad-42b5-bdd8-81f346b5ce9d\r\n",
        "\r\n",
        "--changeset_b314124d-caad-42b5-bdd8-81f346b5ce9d\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttableb0b02fd9()?$filter=PartitionKey%20eq%20'003'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttableb0b02fd9",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A11%3A53.4818684Z'\"",
            "PartitionKey": "003",
            "RowKey": "batch_all_operations_together",
            "Timestamp": "2026-03-30T19:11:53.4818684Z",
            "test": true,
            "test2": "value",
            "test3": 3,
            "test4": 1234567890,
            "test5@odata.type": "Edm.DateTime",
            "test5": "2026-03-30T06:11:52.480336Z"
          },
          {
            "odata.etag[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttableb0b02fd9')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:11:54 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
