{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 00:35:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable94d328f7"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('uttable94d328f7')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable94d328f7"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable94d328f7",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 00:35:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk",
        "RowKey": "rk0",
        "value": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-04T00%3A35%3A19.655203Z'\"",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable94d328f7(PartitionKey='pk',RowKey='rk0')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable94d328f7/@Element",
        "odata.etag": "W/\"datetime'2024-05-04T00%3A35%3A19.655203Z'\"",
        "PartitionKey": "pk",
        "RowKey": "rk0",
        "Timestamp": "2024-05-04T00:35:19.655203Z",
        "value": 1
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable94d328f7()?$filter=aaa%20bbb%20ccc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 00:35:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-US",
            "value": "Syntax error at position 7 in 'aaa bbb ccc'.\nRequestId:5474fb27-8002-0028-13ba-9d09a8000000\nTime:2024-05-04T00:35:19.8105217Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('uttable94d328f7')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Sat, 04 May 2024 00:35:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
