{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 31 Oct 2024 09:54:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable8cde33bc"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Forbidden",
          "message": {
            "lang": "en-us",
            "value": "Request blocked by Auth fakecosmosaccount : Request is blocked because principal [c79048d2-9530-49ad-9c08-83468bc8c179] does not have required RBAC permissions to perform action [Microsoft.DocumentDB/databaseAccounts/readMetadata] on resource [/]. Learn more: https://aka.ms/cosmos-native-rbac.This could be because the user's group memberships were not present in the AAD token.\r\nActivityId: 2246148a-ff00-4cd7-848d-09dac86e3008, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:efa11001-854e-4158-a46e-27b6c5b0e353\n"
          }
        }
      }
    }
  ],
  "Variables": {}
}
