{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablea6253023"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A47%3A32.0585223Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablea6253023')"
      },
      "ResponseBody": {
        "TableName": "uttablea6253023",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablea6253023",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:47:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertiesNeedValue",
          "message": {
            "lang": "en-us",
            "value": "PartitionKey/RowKey cannot be empty\r\nActivityId: bc5a6b23-c6d0-4278-b2da-18afdfe7e5c1, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:bc5a6b23-c6d0-4278-b2da-18afdfe7e5c1\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablea6253023')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 22:47:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
