{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:23:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable8fdb28b4"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable8fdb28b4"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable8fdb28b4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:23:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk8fdb28b4",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk8fdb28b4",
        "RowKey@odata.type": "Edm.String",
        "ETag": "foo",
        "ETag@odata.type": "Edm.String",
        "etag": "bar",
        "etag@odata.type": "Edm.String",
        "Etag": "baz",
        "Etag@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-03T22%3A23%3A21.0527982Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable8fdb28b4/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A23%3A21.0527982Z'\"",
        "PartitionKey": "pk8fdb28b4",
        "RowKey": "rk8fdb28b4",
        "Timestamp": "2024-05-03T22:23:21.0527982Z",
        "ETag": "foo",
        "etag": "bar",
        "Etag": "baz"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable8fdb28b4(PartitionKey='pk8fdb28b4',RowKey='rk8fdb28b4')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:23:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-03T22%3A23%3A21.0527982Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable8fdb28b4/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A23%3A21.0527982Z'\"",
        "PartitionKey": "pk8fdb28b4",
        "RowKey": "rk8fdb28b4",
        "Timestamp": "2024-05-03T22:23:21.0527982Z",
        "ETag": "foo",
        "etag": "bar",
        "Etag": "baz"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable8fdb28b4(PartitionKey='pk8fdb28b4',RowKey='rk8fdb28b4')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\"datetime'2024-05-03T22%3A23%3A21.0527982Z'\"",
        "x-ms-date": "Fri, 03 May 2024 22:23:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk8fdb28b4",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk8fdb28b4",
        "RowKey@odata.type": "Edm.String",
        "ETag": "one",
        "ETag@odata.type": "Edm.String",
        "etag": "two",
        "etag@odata.type": "Edm.String",
        "Etag": "three",
        "Etag@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2024-05-03T22%3A23%3A21.0867332Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:23:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable8fdb28b4"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable8fdb28b4')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:23:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
