{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable135e422f3b"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A17.2822535Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable135e422f3b\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable135e422f3b",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable135e422f3b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A18.0418567Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable135e422f3b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "Data1": 1,
        "Data2": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A18.0743175Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable135e422f3b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A18.0743175Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable135e422f3b/$metadata#uttable135e422f3b/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A18.0743175Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true,
        "Timestamp": "2023-10-18T01:00:18.0743175Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable135e422f3b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK%27%27%40%2A%24%21%25\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK\u0027@*$!%",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A18.2036487Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable135e422f3b(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK%27%27%40%2A%24%21%25\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Wed, 18 Oct 2023 01:00:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK\u0027@*$!%",
        "RowKey@odata.type": "Edm.String",
        "Data": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-18T01%3A00%3A18.2432775Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable135e422f3b\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 18 Oct 2023 01:00:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
