{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:16:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable5d303540"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A16%3A08.9490439Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable5d303540",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable5d303540",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:16:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "test@odata.type": "Edm.Boolean",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4@odata.type": "Edm.Int32",
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T06:16:09.156038Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A16%3A09.3061127Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable5d303540/$metadata#uttable5d303540/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A16%3A09.3061127Z'\"",
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T06:16:09.1560380Z",
        "Timestamp": "2026-03-30T19:16:09.3061127Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_0d83d14c-f731-4c06-ae22-44c671aec788",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Mon, 30 Mar 2026 19:16:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "--batch_0d83d14c-f731-4c06-ae22-44c671aec788\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_1117a284-460a-4c15-a294-c289dd60aeb7\r\n",
        "\r\n",
        "--changeset_1117a284-460a-4c15-a294-c289dd60aeb7\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable5d303540()?$filter=PartitionKey%20eq%20'003'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:16:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A16%3A10.0504583Z'\"",
            "PartitionKey": "003",
            "RowKey": "batch_all_operations_together-2",
            "test": true,
            "test2": "value",
            "test3": 10,
            "test4": 1234567890,
            "test5@odata.type": "Edm.DateTime",
            "test5": "2026-03-30T06:16:09.1560380Z",
            "Timestamp": "2026-03-30T19:16:10.0504583Z"
          },
          {
            "odata.[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable5d303540')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:16:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
