{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:19:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttablea95f2b5e"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablea95f2b5e"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablea95f2b5e",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:19:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "test@odata.type": "Edm.Boolean",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4@odata.type": "Edm.Int32",
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-04-13T16:19:53.446398Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A19%3A54.0986051Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttablea95f2b5e/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A19%3A54.0986051Z'\"",
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "Timestamp": "2026-04-14T04:19:54.0986051Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-04-13T16:19:53.446398Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_638de59e-7089-4e46-8c31-464d8d94c939",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 14 Apr 2026 04:19:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": [
        "--batch_638de59e-7089-4e46-8c31-464d8d94c939\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_f9ec83d4-f2bc-420f-ae5e-3f7a450ca4bb\r\n",
        "\r\n",
        "--changeset_f9ec83d4-f2bc-420f-ae5e-3f7a450ca4bb\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablea95f2b5e()?$filter=PartitionKey%20eq%20%27003%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:19:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttablea95f2b5e",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A19%3A54.9677867Z'\"",
            "PartitionKey": "003",
            "RowKey": "batch_all_operations_together",
            "Timestamp": "2026-04-14T04:19:54.9677867Z",
            "test": true,
            "test2": "value",
            "test3": 3,
            "test4": 1234567890,
            "test5@odata.type": "Edm.DateTime",
            "test5": "2026-04-13T16:19:53.446398Z"
          },
          {
            "odata.etag[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttablea95f2b5e')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:19:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
