{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable05532d2aa6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable05532d2aa6"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05532d2aa6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A09.1513554Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05532d2aa6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.1513554Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Timestamp": "2026-04-14T03:51:09.1513554Z",
        "Data": "你好"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05532d2aa6(PartitionKey='PK',RowKey='%E4%BD%A0%E5%A5%BD')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A09.1513554Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05532d2aa6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.1513554Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Timestamp": "2026-04-14T03:51:09.1513554Z",
        "Data": "你好"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05532d2aa6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A09.5396538Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05532d2aa6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.5396538Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Timestamp": "2026-04-14T03:51:09.5396538Z",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05532d2aa6(PartitionKey='PK',RowKey='RK2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A09.5396538Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05532d2aa6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.5396538Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Timestamp": "2026-04-14T03:51:09.5396538Z",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05532d2aa6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A09.9120199Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05532d2aa6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.9120199Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Timestamp": "2026-04-14T03:51:09.9120199Z",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05532d2aa6()?$filter=PartitionKey%20eq%20%27PK%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable05532d2aa6",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.5396538Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Timestamp": "2026-04-14T03:51:09.5396538Z",
            "Data@odata.type": "Edm.Int64",
            "Data": "9223372036854775807"
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.9120199Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK4",
            "Timestamp": "2026-04-14T03:51:09.9120199Z",
            "Data1@odata.type": "Edm.Double",
            "Data1": "NaN",
            "Data2@odata.type": "Edm.Double",
            "Data2": "Infinity",
            "Data3@odata.type": "Edm.Double",
            "Data3": "-Infinity"
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A09.1513554Z'\"",
            "PartitionKey": "PK",
            "RowKey": "你好",
            "Timestamp": "2026-04-14T03:51:09.1513554Z",
            "Data": "你好"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable05532d2aa6()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
   [...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable05532d2aa6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 03:51:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
