{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 12 Oct 2023 04:27:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable08c05c326c"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-12T04%3A27%3A00.5060103Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable08c05c326c\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable08c05c326c",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable08c05c326c(PartitionKey=\u00272023-10-12T04%3A27%3A01.671290Z\u0027,RowKey=\u0027f4d0f251-c901-43bd-bf05-59712bcce650\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Thu, 12 Oct 2023 04:27:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "2023-10-12T04:27:01.671290Z",
        "PartitionKey@odata.type": "Edm.DateTime",
        "RowKey": "f4d0f251-c901-43bd-bf05-59712bcce650",
        "RowKey@odata.type": "Edm.Guid",
        "Data": true
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: 7d2b5a02-2bfc-42e7-b303-dafdadfe5e32, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.17763.0\nRequestID:7d2b5a02-2bfc-42e7-b303-dafdadfe5e32\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable08c05c326c(PartitionKey=\u0027YmluYXJ5ZGF0YQ%3D%3D\u0027,RowKey=\u00271234\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Thu, 12 Oct 2023 04:27:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "YmluYXJ5ZGF0YQ==",
        "PartitionKey@odata.type": "Edm.Binary",
        "RowKey": "1234",
        "RowKey@odata.type": "Edm.String",
        "Data": 1
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: 87d86862-58fd-439e-a089-c897d8f77bb6, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.17763.0\nRequestID:87d86862-58fd-439e-a089-c897d8f77bb6\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable08c05c326c\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 12 Oct 2023 04:27:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
