{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:48:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable426e2f33"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A48%3A04.3371527Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable426e2f33')"
      },
      "ResponseBody": {
        "TableName": "uttable426e2f33",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable426e2f33",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:48:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk426e2f33",
        "RowKey": "rk426e2f33",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "optional": null,
        "ratio@odata.type": "Edm.Double",
        "ratio": 3.1,
        "evenratio@odata.type": "Edm.Double",
        "evenratio": 3.0,
        "double@odata.type": "Edm.Double",
        "double": 5,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other@odata.type": "Edm.Int32",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A48%3A04.6034951Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable426e2f33(PartitionKey='pk426e2f33',RowKey='rk426e2f33')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable426e2f33/$metadata#uttable426e2f33/@Element",
        "odata.etag": "W/\"datetime'2024-05-02T22%3A48%3A04.6034951Z'\"",
        "PartitionKey": "pk426e2f33",
        "RowKey": "rk426e2f33",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "ratio": 3.1,
        "evenratio": 3.0,
        "double": 5.0,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.0000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.0000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
        "Timestamp": "2024-05-02T22:48:04.6034951Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable426e2f33(PartitionKey='pk426e2f33',RowKey='rk426e2f33')?$select=age%2Cratio",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:48:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A48%3A04.6034951Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable426e2f33/$metadata#uttable426e2f33/@Element",
        "odata.etag": "W/\"datetime'2024-05-02T22%3A48%3A04.6034951Z'\"",
        "age": 39,
        "ratio": 3.1
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:48:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable426e2f33"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable426e2f33')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 22:48:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
