{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable1311d29d4"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable1311d29d4"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable1311d29d4(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A22.6031667Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable1311d29d4(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A22.903845Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable1311d29d4(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A22.903845Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable1311d29d4/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A56%3A22.903845Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-03-30T18:56:22.903845Z",
        "Data1": 1,
        "Data2": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable1311d29d4(PartitionKey='PK',RowKey='RK%27%27%40%2A%24%21%25')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A23.608747Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable1311d29d4(PartitionKey='PK',RowKey='RK%27%27%40%2A%24%21%25')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%",
        "Data": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A23.7919417Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable1311d29d4')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 18:56:24 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
