{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable011841d2add"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable011841d2add"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable011841d2add",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 1,
        "Data2": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A11.2750427Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable011841d2add/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A11.2750427Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T03:51:11.2750427Z",
        "Data1": 1,
        "Data2": true
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable011841d2add(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A11.2750427Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable011841d2add/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A11.2750427Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T03:51:11.2750427Z",
        "Data1": 1,
        "Data2": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable011841d2add(PartitionKey='PK',RowKey='RK''@*$!%25')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A51%3A11.641436Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable011841d2add/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A11.641436Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%",
        "Timestamp": "2026-04-14T03:51:11.641436Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable011841d2add()?$filter=PartitionKey%20eq%20'PK'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable011841d2add",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A11.2750427Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2026-04-14T03:51:11.2750427Z",
            "Data1": 1,
            "Data2": true
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A11.641436Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK'@*$!%",
            "Timestamp": "2026-04-14T03:51:11.641436Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable011841d2add()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:51:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable011841d2add",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A11.2750427Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2026-04-14T03:51:11.2750427Z",
            "Data1": 1,
            "Data2": true
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A51%3A11.641436Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK'@*$!%",
            "Timestamp": "2026-04-14T03:51:11.641436Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable011841d2add')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 03:51:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
