{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:23:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "pytablesync8d362b22"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A23%3A58.4845831Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "pytablesync8d362b22",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:23:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "pytablesync8d362b22"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-us",
            "value": "The specified table: [] already exists.\nRequestID:c7c8ecb7-f045-4592-8de0-85f618c9a363\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('pytablesync8d362b22')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:23:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
