{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:37:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttablee9e129dd"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablee9e129dd"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablee9e129dd",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:37:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "pke9e129dd",
        "RowKey": "rke9e129dd",
        "Description": "ꀕ"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A37%3A55.6184893Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttablee9e129dd/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A37%3A55.6184893Z'\"",
        "PartitionKey": "pke9e129dd",
        "RowKey": "rke9e129dd",
        "Timestamp": "2026-04-14T04:37:55.6184893Z",
        "Description": "ꀕ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablee9e129dd()?$filter=PartitionKey%20eq%20%27pke9e129dd%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:37:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttablee9e129dd",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A37%3A55.6184893Z'\"",
            "PartitionKey": "pke9e129dd",
            "RowKey": "rke9e129dd",
            "Timestamp": "2026-04-14T04:37:55.6184893Z",
            "Description": "ꀕ"
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A37%3A55.8096483Z'\"",
            "PartitionKey": "pke9e129dd",
            "RowKey": "test2",
            "Timestamp": "2026-04-14T04:37:55.8096483Z",
            "Description": "ꀕ"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttablee9e129dd')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:37:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
