{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:12:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable913d2aeb"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable913d2aeb"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable913d2aeb",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:12:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "test@odata.type": "Edm.Boolean",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4@odata.type": "Edm.Int32",
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-04-13T16:12:10.869556Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A12%3A11.5323365Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable913d2aeb/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A12%3A11.5323365Z'\"",
        "PartitionKey": "003",
        "RowKey": "batch_all_operations_together-1",
        "Timestamp": "2026-04-14T04:12:11.5323365Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-04-13T16:12:10.869556Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_9c575ee5-fb93-4646-bcc6-06b6e475330f",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 14 Apr 2026 04:12:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": [
        "--batch_9c575ee5-fb93-4646-bcc6-06b6e475330f\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_5bdcfbeb-3604-4812-9803-cc90a7510470\r\n",
        "\r\n",
        "--changeset_5bdcfbeb-3604-4812-9803-cc90a7510470\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable913d2aeb()?$filter=PartitionKey%20eq%20%27003%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:12:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable913d2aeb",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A12%3A12.3477545Z'\"",
            "PartitionKey": "003",
            "RowKey": "batch_all_operations_together",
            "Timestamp": "2026-04-14T04:12:12.3477545Z",
            "test": true,
            "test2": "value",
            "test3": 3,
            "test4": 1234567890,
            "test5@odata.type": "Edm.DateTime",
            "test5": "2026-04-13T16:12:10.869556Z"
          },
          {
            "odata.etag[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable913d2aeb')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:12:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
