{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytablebbac3d13"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A42%3A08.6003720Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "mytablebbac3d13",
        "odata.metadata": "https://fakecosmosaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables?$filter=TableName%20eq%20'mytablebbac3d13'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "mytablebbac3d13"
          }
        ],
        "odata.metadata": "https://fakecosmosaccount.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/mytablebbac3d13()?$filter=PartitionKey%20eq%20'dummy-pk'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://fakecosmosaccount.table.cosmos.azure.com/$metadata#mytablebbac3d13"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('mytablebbac3d13')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:42:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
