{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "\\"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "The table name contains an invalid character \\.\r\nActivityId: b85afeab-6306-4f45-8e7f-f2d81c2666da, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:b85afeab-6306-4f45-8e7f-f2d81c2666da\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('%5C')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 405,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "MethodNotAllowed",
          "message": {
            "lang": "en-us",
            "value": "RequestHandler.Delete\r\nActivityId: 9dab3e56-c06a-4db3-842a-6d263219519d, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:95081fb1-bca1-437c-acc0-6cc691ee2c56\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%5C",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: 92eaadb8-c69e-470a-bc64-a29c0f40391e, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:1a836819-3af5-44bd-bb88-72cf44ecaa81\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%5C(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: da039e4c-cbff-422e-ae24-cf36ca4ef57b, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:c15adc61-8821-47da-b26b-872f9532d0ce\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%5C(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: 3bb590a3-049e-477a-b56a-f1ad4a47ddb0, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:28bfee1b-95cf-4200-b85b-b7c7e72ed674\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_00000000-0000-0000-0000-000000000000",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": "LS1iYXRjaF81NWMxMmRhZC02NzI0LTQ4MjYtYTZlZC03NTgzNzgyNzk1ZGENCkNvbnRlbnQtVHlwZTogbXVsdGlwYXJ0L21peGVkOyBib3VuZGFyeT1jaGFuZ2VzZXRfZjIxZTBjNWItYTRlNC00OWI1LTgxMzgtNjA4ZTAwNDA4MzE5DQoNCi0tY2hhbmdlc2V0X2YyMWUwYzViLWE0ZTQtNDliNS04MTM4LTYwOGUwMDQwODMxOQ0KQ29udGVudC1UeXBlOiBhcHBsaWNhdGlvbi9odHRwDQpDb250ZW50LVRyYW5zZmVyLUVuY29kaW5nOiBiaW5hcnkNCkNvbnRlbnQtSUQ6IDANCg0KUE9T[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('%2F%2F')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "Request url is invalid.\r\nActivityId: d5cd9ade-9020-483d-b5a0-ebd5f1ba4196, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:d5cd9ade-9020-483d-b5a0-ebd5f1ba4196\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%2F%2F",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "Request url is invalid.\r\nActivityId: 8ded45d5-4d9a-4997-ba6e-9dcc09a3bde8, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:8ded45d5-4d9a-4997-ba6e-9dcc09a3bde8\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%2F%2F(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: a2976008-8071-472f-9ec2-74e9939d4945, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:a2976008-8071-472f-9ec2-74e9939d4945\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%2F%2F(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: 0829985f-00b1-42f3-9d99-cc1236a1d905, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:0829985f-00b1-42f3-9d99-cc1236a1d905\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('%23')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 405,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "MethodNotAllowed",
          "message": {
            "lang": "en-us",
            "value": "RequestHandler.Delete\r\nActivityId: 999dad03-4288-41fb-be61-24678503e887, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:81c135f0-78aa-4993-b55f-7df57a41aa04\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%23",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: 2aac023f-bf11-44a1-b84a-75e171ee5732, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:1d9f5353-9cfc-4d8b-bb94-824b9dac488c\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%23(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: 378e47be-c6e3-41eb-b7a1-a1f6e6e12151, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:381a211e-4a52-4b32-b670-b1113308176b\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%23(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: 49b12892-137e-49db-ac2d-e112f083cd28, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:b5d6343d-7bdb-4a3f-9a9a-e51068bf0b62\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('%3F')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 405,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "MethodNotAllowed",
          "message": {
            "lang": "en-us",
            "value": "RequestHandler.Delete\r\nActivityId: 12aa6974-6dfb-47d1-aca6-b6725c039e4f, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:4e259ef2-e496-4ea6-b2ca-1b41b98a9ab3\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%3F",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "Message: {\"Errors\":[\"The MAC signature found in the HTTP request is not the same as the computed signature. Server used following string to sign - 'get\\ncolls\\ndbs\\/TablesDB\\nfri, 03 may 2024 22:42:36 gmt\\n\\n'. Learn more: https:\\/\\/aka.ms\\/cosmosdb-tsg-mac-signature\",\"The MAC signature found in the HTTP request is not the same as the computed signature. Server used following string to sign - 'get\\ncolls\\ndbs\\/TablesDB\\nfri, 03 may 2024 22:42:36 gmt\\n\\n'. Learn more: https:\\/\\/aka.ms\\/cosmosdb-tsg-mac-signature\"]}\r\nActivityId: 4ff2adfb-d582-4f5a-b483-79dd50bf48c3, Request URI: /apps/3343af0d-6bdf-48d0-9ac2-3c1a25e02bbb/services/31b2439e-c826-49cf-aab0-b6e0ec797971/partitions/e283765f-5d83-4111-986b-6bf1036114db/replicas/133586058097630711s, RequestStats: \r\nRequestStartTime: 2024-05-03T22:42:36.7481941Z, RequestEndTime: 2024-05-03T22:42:36.7500952Z,  Number of regions attempted:1\r\n{\"systemHistory\":[{\"dateUtc\":\"2024-05-03T22:41:39.8336205Z\",\"cpu\":0.636,\"memory\":483000420.000,\"threadInfo\":{\"isThreadStarving\":\"False\",\"threadWaitIntervalInMs\":0.0465,\"availableThreads\":32762,\"minThreads\":52,\"maxThreads\":32767},\"numberOfOpenTcpConnection\":623},{\"dateUtc\":\"2024-05-03T22:41:49.8439206Z\",\"cpu\":0.369,\"memory\":483004572.000,\"threadInfo\":{\"isThreadStarving\":\"False\",\"threadWaitIntervalInMs\":0.0456,\"availableThreads\":32763,\"minThreads\":52,\"maxThreads\":32767},\"numberOfOpenTcpConnection\":623},{\"dateUtc\":\"2024-05-03T22:41:59.8539894Z\",\"cpu\":0.309,\"memory\":483001892.000,\"threadInfo\":{\"isThreadStarving\":\"False\",\"threadWaitIntervalInMs\":0.1626,\"availableThreads\":32763,\"minThreads\":52,\"maxThreads\":3[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%3F(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": [...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/%3F(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {[...]
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('-%20')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'delete\ncolls\ndbs/TablesDB/colls/-\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: 92b8740c-7069-4e55-9205-1910f4f6ad53, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:bbbad1e8-99c3-4874-82c2-9171f86d494c\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/-%20",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB/colls/-\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: cec634c8-6626-4415-8ca3-d69c20c98982, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:525056f8-0e81-49e5-8046-ff0fbdff9d01\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/-%20(PartitionKey='foo',RowKey='foo')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "foo",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB/colls/-\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: a0a29581-4d53-4e96-92ed-ae67a9ac1656, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:620d6509-194f-4119-99c5-35f867a03568\n"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/-%20(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 03 May 2024 22:42:36 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "The input authorization token can't serve the request. The wrong key is being used or the expected payload is not built as per the protocol. For more info: https://aka.ms/cosmosdb-tsg-unauthorized. Server used the following payload to sign: 'get\ncolls\ndbs/TablesDB/colls/-\nfri, 03 may 2024 22:42:36 gmt\n\n'\r\nActivityId: 9b873248-fe53-462f-933d-5cf80bf61d6f, Microsoft.Azure.Documents.Common/2.14.0, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:c5045499-d22d-424a-9ec0-887c76d218e5\n"
          }
        }
      }
    },
[...]
