{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable125c2f339f"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A38.4881671Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable125c2f339f\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable125c2f339f",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK\u0027,RowKey=\u0027%E4%BD%A0%E5%A5%BD\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "\u4F60\u597D",
        "RowKey@odata.type": "Edm.String",
        "Data": "\u4F60\u597D",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A38.9738503Z\u0027\u0022"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK\u0027,RowKey=\u0027%E4%BD%A0%E5%A5%BD\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A38.9738503Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f/$metadata#uttable125c2f339f/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A38.9738503Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "\u4F60\u597D",
        "Data": "\u4F60\u597D",
        "Timestamp": "2023-10-10T03:34:38.9738503Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK2\u0027,RowKey=\u0027RK2\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK2",
        "RowKey@odata.type": "Edm.String",
        "Data": "9223372036854775807",
        "Data@odata.type": "Edm.Int64"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A39.1545863Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK4\u0027,RowKey=\u0027RK4\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK4",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK4",
        "RowKey@odata.type": "Edm.String",
        "Data1": "NaN",
        "Data1@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data2@odata.type": "Edm.Double",
        "Data3": "-Infinity",
        "Data3@odata.type": "Edm.Double"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A39.3017351Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "123": 456
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "PropertyNameInvalid",
          "message": {
            "lang": "en-us",
            "value": "The property name \u0027123\u0027 is invalid. See https://docs.microsoft.com/en-us/rest/api/storageservices/Understanding-the-Table-Service-Data-Model\r\nActivityId: 40bfa7d6-c56a-4c66-b43b-e7eff9aad2c7, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.17763.0\nRequestID:40bfa7d6-c56a-4c66-b43b-e7eff9aad2c7\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK\u0027,RowKey=\u0027EnumBasicOptions.ONE\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "EnumBasicOptions.ONE",
        "RowKey@odata.type": "Edm.String",
        "Data": "EnumBasicOptions.TWO",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A39.5056135Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "1",
        "RowKey@odata.type": "Edm.String",
        "Data": "2",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A39.6318727Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable125c2f339f(PartitionKey=\u0027PK\u0027,RowKey=\u0027EnumStrOptions.ONE\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "EnumStrOptions.ONE",
        "RowKey@odata.type": "Edm.String",
        "Data": "EnumStrOptions.TWO",
        "Data@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-10-10T03%3A34%3A39.7601799Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable125c2f339f\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 10 Oct 2023 03:34:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
