{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:13:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable42532ac9"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable42532ac9"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable42532ac9",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:13:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk42532ac9",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk42532ac9",
        "RowKey@odata.type": "Edm.String",
        "test1": "Color.YELLOW",
        "test1@odata.type": "Edm.String",
        "test2": "Color.BLUE",
        "test2@odata.type": "Edm.String",
        "test3": "Color.RED",
        "test3@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-03T22%3A13%3A12.93223Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable42532ac9/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A13%3A12.93223Z'\"",
        "PartitionKey": "pk42532ac9",
        "RowKey": "rk42532ac9",
        "Timestamp": "2024-05-03T22:13:12.93223Z",
        "test1": "Color.YELLOW",
        "test2": "Color.BLUE",
        "test3": "Color.RED"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable42532ac9(PartitionKey='pk42532ac9',RowKey='rk42532ac9')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:13:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-03T22%3A13%3A12.93223Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable42532ac9/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A13%3A12.93223Z'\"",
        "PartitionKey": "pk42532ac9",
        "RowKey": "rk42532ac9",
        "Timestamp": "2024-05-03T22:13:12.93223Z",
        "test1": "Color.YELLOW",
        "test2": "Color.BLUE",
        "test3": "Color.RED"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:13:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable42532ac9"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable42532ac9')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:13:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
