{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable2037922cd5(PartitionKey='foo',RowKey='2022-04-01T09%3A30%3A45.000000Z')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 09 May 2024 01:47:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableNotFound",
          "message": {
            "lang": "en-US",
            "value": "The table specified does not exist.\nRequestId:eab6a12d-0002-0055-5eb2-a13516000000\nTime:2024-05-09T01:47:02.3118391Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable2037922cd5(PartitionKey='foo',RowKey='0f6b2b73-8131-4f3f-bc0c-6753e0f261a4')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 09 May 2024 01:47:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableNotFound",
          "message": {
            "lang": "en-US",
            "value": "The table specified does not exist.\nRequestId:eab6a13d-0002-0055-6cb2-a13516000000\nTime:2024-05-09T01:47:02.3758020Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable2037922cd5(PartitionKey='foo',RowKey='YmluYXJ5ZGF0YQ%3D%3D')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Thu, 09 May 2024 01:47:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableNotFound",
          "message": {
            "lang": "en-US",
            "value": "The table specified does not exist.\nRequestId:eab6a147-0002-0055-75b2-a13516000000\nTime:2024-05-09T01:47:02.4157781Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
