{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable083d662d05"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable083d662d05"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable083d662d05(PartitionKey='2022-04-01T09%3A30%3A45.000000Z',RowKey='93401aba-7e78-4210-b7b6-3188a960358b')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey@odata.type": "Edm.DateTime",
        "PartitionKey": "2022-04-01T09:30:45.000000Z",
        "RowKey@odata.type": "Edm.Guid",
        "RowKey": "93401aba-7e78-4210-b7b6-3188a960358b",
        "Data": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A10.7233805Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable083d662d05(PartitionKey='2022-04-01T09%3A30%3A45.000000Z',RowKey='93401aba-7e78-4210-b7b6-3188a960358b')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A10.7233805Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable083d662d05/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A56%3A10.7233805Z'\"",
        "PartitionKey": "2022-04-01T09:30:45.000000Z",
        "RowKey": "93401aba-7e78-4210-b7b6-3188a960358b",
        "Timestamp": "2026-03-30T18:56:10.7233805Z",
        "Data": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable083d662d05(PartitionKey='YmluYXJ5ZGF0YQ%3D%3D',RowKey='1234')",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:56:11 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey@odata.type": "Edm.Binary",
        "PartitionKey": "YmluYXJ5ZGF0YQ==",
        "RowKey": "1234",
        "Data": 1
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"datetime'2026-03-30T18%3A56%3A11.427287Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable083d662d05')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 18:56:12 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "93401aba-7e78-4210-b7b6-3188a960358b"
  }
}
