{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:08:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable2788062871"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable2788062871"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_4820861e-6f97-449e-a323-b0e18ebb7407",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 14 Apr 2026 04:08:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": [
        "--batch_4820861e-6f97-449e-a323-b0e18ebb7407\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_573eaef5-7900-433d-9fd9-a1f7d352cd02\r\n",
        "\r\n",
        "--changeset_573eaef5-7900-433d-9fd9-a1f7d352cd02\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable2788062871(PartitionKey='PK',RowKey='RK''@*$!%25')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:08:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A08%3A39.6144319Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable2788062871/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A08%3A39.6144319Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%",
        "Timestamp": "2026-04-14T04:08:39.6144319Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable2788062871(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:08:39 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A08%3A39.9872587Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable2788062871/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A08%3A39.9872587Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T04:08:39.9872587Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "232cf325-a9be-4559-972b-40fa581d9577",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable2788062871(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:08:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A08%3A40.7748029Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable2788062871/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A08%3A40.7748029Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T04:08:40.7748029Z",
        "Data1": 3.14,
        "Data2@odata.type": "Edm.Int64",
        "Data2": "1152921504606846976",
        "Data3": "你好",
        "Data4@odata.type": "Edm.Double",
        "Data4": "NaN",
        "Data5@odata.type": "Edm.Double",
        "Data5": "Infinity",
        "Data6@odata.type": "Edm.Double",
        "Data6": "-Infinity",
        "Data7": "One",
        "Data8": "One"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable2788062871')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:08:41 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "232cf325-a9be-4559-972b-40fa581d9577"
  }
}
