{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:33:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable43612f44"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A33%3A57.6241160Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable43612f44",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable43612f44",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:33:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk43612f44",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "rk43612f44",
        "RowKey@odata.type": "Edm.String",
        "Description": "ꀕ",
        "Description@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A33%3A57.8798088Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable43612f44/$metadata#uttable43612f44/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A33%3A57.8798088Z'\"",
        "PartitionKey": "pk43612f44",
        "RowKey": "rk43612f44",
        "Description": "ꀕ",
        "Timestamp": "2024-05-03T22:33:57.8798088Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable43612f44()?$filter=PartitionKey%20eq%20%27pk43612f44%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:33:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A33%3A57.8798088Z'\"",
            "PartitionKey": "pk43612f44",
            "RowKey": "rk43612f44",
            "Description": "ꀕ",
            "Timestamp": "2024-05-03T22:33:57.8798088Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A33%3A57.8910728Z'\"",
            "PartitionKey": "pk43612f44",
            "RowKey": "test2",
            "Description": "ꀕ",
            "Timestamp": "2024-05-03T22:33:57.8910728Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttable43612f44"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable43612f44')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:33:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
