{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttabledc832ba0"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttabledc832ba0"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttabledc832ba0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:37 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "001",
        "RowKey": "batch_insert",
        "test@odata.type": "Edm.Boolean",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4@odata.type": "Edm.Int32",
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T06:11:37.951685Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A11%3A38.1720244Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttabledc832ba0/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A11%3A38.1720244Z'\"",
        "PartitionKey": "001",
        "RowKey": "batch_insert",
        "Timestamp": "2026-03-30T19:11:38.1720244Z",
        "test": true,
        "test2": "value",
        "test3": 3,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T06:11:37.951685Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_e8a700f0-dda1-4999-9129-bbdf35e3d9d5",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "--batch_e8a700f0-dda1-4999-9129-bbdf35e3d9d5\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_8c59e254-6145-44f3-8f45-525f2fe8985f\r\n",
        "\r\n",
        "--changeset_8c59e254-6145-44f3-8f45-525f2fe8985f\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttabledc832ba0(PartitionKey='001',RowKey='batch_insert')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A11%3A38.4161278Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttabledc832ba0/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A11%3A38.4161278Z'\"",
        "PartitionKey": "001",
        "RowKey": "batch_insert",
        "Timestamp": "2026-03-30T19:11:38.4161278Z",
        "test": true,
        "test2": "value",
        "test3": 5,
        "test4": 1234567890,
        "test5@odata.type": "Edm.DateTime",
        "test5": "2026-03-30T06:11:38.245122Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:11:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttabledc832ba0"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttabledc832ba0')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:11:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
