{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:06:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "pytableasync31422a3e"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "pytableasync31422a3e"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/pytableasync31422a3e?comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 30 Mar 2026 19:06:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<SignedIdentifiers><SignedIdentifier><Id>id0</Id></SignedIdentifier><SignedIdentifier><Id>id1</Id></SignedIdentifier><SignedIdentifier><Id>id2</Id></SignedIdentifier><SignedIdentifier><Id>id3</Id></SignedIdentifier><SignedIdentifier><Id>id4</Id></SignedIdentifier><SignedIdentifier><Id>id5</Id></SignedIdentifier></SignedIdentifiers>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>InvalidXmlDocument</m:code><m:message xml:lang=\"en-US\">XML specified is not syntactically valid.\n",
        "RequestId:0366fdb8-4002-004f-3278-c080fc000000\n",
        "Time:2026-03-30T19:06:44.7816654Z</m:message></m:error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('pytableasync31422a3e')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:06:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
