{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable15c6ea2e39"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable15c6ea2e39\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable15c6ea2e39"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable15c6ea2e39(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A15.3581961Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable15c6ea2e39(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "Data1": 12345,
        "Data2": false,
        "Data3": "dGVzdGRhdGE=",
        "Data3@odata.type": "Edm.Binary",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data4@odata.type": "Edm.DateTime",
        "Data5": "a6e58111-8a6f-4491-a9c1-fd51258f553c",
        "Data5@odata.type": "Edm.Guid",
        "Data6": "Foobar",
        "Data6@odata.type": "Edm.String",
        "Data7": 3.14,
        "Data7@odata.type": "Edm.Double"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A15.3930424Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable15c6ea2e39(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A15.3930424Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable15c6ea2e39/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A15.3930424Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2023-10-18T21:14:15.3930424Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "a6e58111-8a6f-4491-a9c1-fd51258f553c",
        "Data6": "Foobar",
        "Data7": 3.14
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable15c6ea2e39\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 18 Oct 2023 21:14:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "a6e58111-8a6f-4491-a9c1-fd51258f553c"
  }
}
