{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables?se=Sanitized&sp=rwdlacu&sv=Sanitized&ss=t&srt=sco&sig=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:26:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "mytable849631a8"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable849631a8"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/mytable849631a8()?se=Sanitized&sp=rwdlacu&sv=Sanitized&ss=t&srt=sco&sig=Sanitized&$filter=PartitionKey%20eq%20'dummy-pk'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:26:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#mytable849631a8",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('mytable849631a8')?se=Sanitized&sp=rwdlacu&sv=Sanitized&ss=t&srt=sco&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:26:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
