{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:24:12 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidAuthenticationInfo",
          "message": {
            "lang": "en-US",
            "value": "Authentication information is not given in the correct format. Check the value of Authorization header.\nRequestId:6f851491-b002-0029-45a8-9dcb40000000\nTime:2024-05-03T22:24:12.6550033Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
