{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:50:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable0464b225aa"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable0464b225aa"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable0464b225aa",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:50:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "Data1": "12345",
        "Data1@odata.type": "Edm.Int32",
        "Data2": "False",
        "Data2@odata.type": "Edm.Boolean",
        "Data3": "dGVzdGRhdGE=",
        "Data3@odata.type": "Edm.Binary",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data4@odata.type": "Edm.DateTime",
        "Data5": "966af1cd-2eb8-477c-9b16-417745d3d3d8",
        "Data5@odata.type": "Edm.Guid",
        "Data6": "Foobar",
        "Data6@odata.type": "Edm.String",
        "Data7": "3.14",
        "Data7@odata.type": "Edm.Double",
        "Data8": "1152921504606846976",
        "Data8@odata.type": "Edm.Int64"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A50%3A57.0185616Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable0464b225aa/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A50%3A57.0185616Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T03:50:57.0185616Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "966af1cd-2eb8-477c-9b16-417745d3d3d8",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable0464b225aa(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:50:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T03%3A50%3A57.0185616Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable0464b225aa/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T03%3A50%3A57.0185616Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T03:50:57.0185616Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "966af1cd-2eb8-477c-9b16-417745d3d3d8",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable0464b225aa()?$filter=PartitionKey%20eq%20%27PK%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:50:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable0464b225aa",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A50%3A57.0185616Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2026-04-14T03:50:57.0185616Z",
            "Data1": 12345,
            "Data2": false,
            "Data3@odata.type": "Edm.Binary",
            "Data3": "dGVzdGRhdGE=",
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "966af1cd-2eb8-477c-9b16-417745d3d3d8",
            "Data6": "Foobar",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "1152921504606846976"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable0464b225aa()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 03:50:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable0464b225aa",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T03%3A50%3A57.0185616Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK",
            "Timestamp": "2026-04-14T03:50:57.0185616Z",
            "Data1": 12345,
            "Data2": false,
            "Data3@odata.type": "Edm.Binary",
            "Data3": "dGVzdGRhdGE=",
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "966af1cd-2eb8-477c-9b16-417745d3d3d8",
            "Data6": "Foobar",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "1152921504606846976"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable0464b225aa')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 03:50:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "966af1cd-2eb8-477c-9b16-417745d3d3d8"
  }
}
