{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:07:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable27cff823f6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable27cff823f6"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_e8a503a5-2700-417d-9511-432a5055fd09",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 14 Apr 2026 04:07:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": [
        "--batch_e8a503a5-2700-417d-9511-432a5055fd09\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_8f9d7b6a-4040-43ec-8dc1-50d8dfadce33\r\n",
        "\r\n",
        "--changeset_8f9d7b6a-4040-43ec-8dc1-50d8dfadce33\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable27cff823f6(PartitionKey='PK',RowKey='RK%27%27%40%2A%24%21%25')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:07:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A07%3A47.6887534Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable27cff823f6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A07%3A47.6887534Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK'@*$!%",
        "Timestamp": "2026-04-14T04:07:47.6887534Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable27cff823f6(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:07:47 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A07%3A48.1069385Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable27cff823f6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A07%3A48.1069385Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T04:07:48.1069385Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "7aeb310c-b6ee-44ac-9ff9-1ca03ba18463",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable27cff823f6(PartitionKey='PK',RowKey='RK')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:07:48 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A07%3A49.0249093Z'\"",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable27cff823f6/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A07%3A49.0249093Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Timestamp": "2026-04-14T04:07:49.0249093Z",
        "Data1": 3.14,
        "Data2@odata.type": "Edm.Int64",
        "Data2": "1152921504606846976",
        "Data3": "你好",
        "Data4@odata.type": "Edm.Double",
        "Data4": "NaN",
        "Data5@odata.type": "Edm.Double",
        "Data5": "Infinity",
        "Data6@odata.type": "Edm.Double",
        "Data6": "-Infinity",
        "Data7": "One",
        "Data8": "One"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable27cff823f6')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:07:49 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "7aeb310c-b6ee-44ac-9ff9-1ca03ba18463"
  }
}
