{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3eef334d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A42.8758535Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable3eef334d')"
      },
      "ResponseBody": {
        "TableName": "uttable3eef334d",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/querytable3eef334d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "RowKey": "bar1",
        "IsAdmin": "admin"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-07T01%3A31%3A43.4825735Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/querytable3eef334d(PartitionKey='foo',RowKey='bar1')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/querytable3eef334d/$metadata#querytable3eef334d/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A43.4825735Z'\"",
        "PartitionKey": "foo",
        "RowKey": "bar1",
        "IsAdmin": "admin",
        "Timestamp": "2024-05-07T01:31:43.4825735Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/querytable3eef334d()?$filter=PartitionKey%20eq%20'foo'%20and%20IsAdmin%20eq%20'admin'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A43.4825735Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar1",
            "IsAdmin": "admin",
            "Timestamp": "2024-05-07T01:31:43.4825735Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#querytable3eef334d"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/querytable3eef334d()?$filter=PartitionKey%20eq%20'foo'%20or%20RowKey%20eq%20'bar2'%20and%20IsAdmin%20eq%20'admin'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A43.4825735Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar1",
            "IsAdmin": "admin",
            "Timestamp": "2024-05-07T01:31:43.4825735Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-07T01%3A31%3A43.5120647Z'\"",
            "PartitionKey": "foo",
            "RowKey": "bar2",
            "IsAdmin": "",
            "Timestamp": "2024-05-07T01:31:43.5120647Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#querytable3eef334d"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/querytable3eef334d()?$filter=PartitionKey%20eq%20'foo''%20or%20RowKey%20eq%20''bar2'%20and%20IsAdmin%20eq%20'admin'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 01:31:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#querytable3eef334d"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable3eef334d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 01:31:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('querytable3eef334d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 01:31:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
