{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttable97df3210"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable97df3210"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable97df3210",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "pk97df3210",
        "RowKey": "rk97df3210",
        "EmptyByte@odata.type": "Edm.Binary",
        "EmptyByte": "",
        "EmptyUnicode": "",
        "SpacesOnlyByte@odata.type": "Edm.Binary",
        "SpacesOnlyByte": "ICAg",
        "SpacesOnlyUnicode": "   ",
        "SpacesBeforeByte@odata.type": "Edm.Binary",
        "SpacesBeforeByte": "ICAgVGV4dA==",
        "SpacesBeforeUnicode": "   Text",
        "SpacesAfterByte@odata.type": "Edm.Binary",
        "SpacesAfterByte": "VGV4dCAgIA==",
        "SpacesAfterUnicode": "Text   ",
        "SpacesBeforeAndAfterByte@odata.type": "Edm.Binary",
        "SpacesBeforeAndAfterByte": "ICAgVGV4dCAgIA==",
        "SpacesBeforeAndAfterUnicode": "   Text   "
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A45%3A18.2934077Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable97df3210/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A45%3A18.2934077Z'\"",
        "PartitionKey": "pk97df3210",
        "RowKey": "rk97df3210",
        "Timestamp": "2026-04-14T04:45:18.2934077Z",
        "EmptyByte@odata.type": "Edm.Binary",
        "EmptyByte": "",
        "EmptyUnicode": "",
        "SpacesOnlyByte@odata.type": "Edm.Binary",
        "SpacesOnlyByte": "ICAg",
        "SpacesOnlyUnicode": "   ",
        "SpacesBeforeByte@odata.type": "Edm.Binary",
        "SpacesBeforeByte": "ICAgVGV4dA==",
        "SpacesBeforeUnicode": "   Text",
        "SpacesAfterByte@odata.type": "Edm.Binary",
        "SpacesAfterByte": "VGV4dCAgIA==",
        "SpacesAfterUnicode": "Text   ",
        "SpacesBeforeAndAfterByte@odata.type": "Edm.Binary",
        "SpacesBeforeAndAfterByte": "ICAgVGV4dCAgIA==",
        "SpacesBeforeAndAfterUnicode": "   Text   "
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable97df3210(PartitionKey='pk97df3210',RowKey='rk97df3210')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable97df3210"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable97df3210')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:45:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
