{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:32:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable7a9c2d7a"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable7a9c2d7a"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable7a9c2d7a",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:32:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk7a9c2d7a",
        "RowKey": "rk7a9c2d7a",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A32%3A16.0093692Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable7a9c2d7a/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A32%3A16.0093692Z'\"",
        "PartitionKey": "pk7a9c2d7a",
        "RowKey": "rk7a9c2d7a",
        "Timestamp": "2026-03-30T19:32:16.0093692Z",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable7a9c2d7a(PartitionKey='pk7a9c2d7a',RowKey='rk7a9c2d7a')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:32:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A32%3A16.0093692Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable7a9c2d7a/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A32%3A16.0093692Z'\"",
        "PartitionKey": "pk7a9c2d7a",
        "RowKey": "rk7a9c2d7a",
        "Timestamp": "2026-03-30T19:32:16.0093692Z",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:32:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable7a9c2d7a"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable7a9c2d7a')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:32:16 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
