{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "uttableae252ddc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttableae252ddc"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttableae252ddc",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "PartitionKey": "pkae252ddc",
        "RowKey": "rkae252ddc",
        "啊齄丂狛狜": "ꀕ"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-04-14T04%3A45%3A15.5863024Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttableae252ddc/@Element",
        "odata.etag": "W/\"datetime'2026-04-14T04%3A45%3A15.5863024Z'\"",
        "PartitionKey": "pkae252ddc",
        "RowKey": "rkae252ddc",
        "Timestamp": "2026-04-14T04:45:15.5863024Z",
        "啊齄丂狛狜": "ꀕ"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttableae252ddc()?$filter=PartitionKey%20eq%20'pkae252ddc'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:45:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttableae252ddc",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A45%3A15.5863024Z'\"",
            "PartitionKey": "pkae252ddc",
            "RowKey": "rkae252ddc",
            "Timestamp": "2026-04-14T04:45:15.5863024Z",
            "啊齄丂狛狜": "ꀕ"
          },
          {
            "odata.etag": "W/\"datetime'2026-04-14T04%3A45%3A15.7595404Z'\"",
            "PartitionKey": "pkae252ddc",
            "RowKey": "test2",
            "Timestamp": "2026-04-14T04:45:15.7595404Z",
            "啊齄丂狛狜": "hello"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttableae252ddc')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:45:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
