{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:24:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable3c3c2ef7"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable3c3c2ef7"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3c3c2ef7",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:24:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "10",
        "RowKey@odata.type": "Edm.String",
        "value": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-03T22%3A24%3A25.3551838Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3c3c2ef7/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A24%3A25.3551838Z'\"",
        "PartitionKey": "pk",
        "RowKey": "10",
        "Timestamp": "2024-05-03T22:24:25.3551838Z",
        "value": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3c3c2ef7()?$top=2&$filter=PartitionKey%20eq%20'pk'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:24:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!4!cGs-",
        "x-ms-continuation-NextRowKey": "1!8!MTAxMg--",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3c3c2ef7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A24%3A25.3551838Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10",
            "Timestamp": "2024-05-03T22:24:25.3551838Z",
            "value": 0
          },
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A24%3A25.3671321Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101",
            "Timestamp": "2024-05-03T22:24:25.3671321Z",
            "value": 1
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3c3c2ef7()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMg--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:24:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!4!cGs-",
        "x-ms-continuation-NextRowKey": "1!8!MTAxMjM0",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3c3c2ef7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A24%3A25.3790792Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012",
            "Timestamp": "2024-05-03T22:24:25.3790792Z",
            "value": 2
          },
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A24%3A25.393018Z'\"",
            "PartitionKey": "pk",
            "RowKey": "10123",
            "Timestamp": "2024-05-03T22:24:25.393018Z",
            "value": 3
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable3c3c2ef7()?$top=2&$filter=PartitionKey%20eq%20'pk'&NextPartitionKey=1!4!cGs-&NextRowKey=1!8!MTAxMjM0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:24:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable3c3c2ef7",
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A24%3A25.4029736Z'\"",
            "PartitionKey": "pk",
            "RowKey": "101234",
            "Timestamp": "2024-05-03T22:24:25.4029736Z",
            "value": 4
          },
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A24%3A25.4119344Z'\"",
            "PartitionKey": "pk",
            "RowKey": "1012345",
            "Timestamp": "2024-05-03T22:24:25.4119344Z",
            "value": 5
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable3c3c2ef7')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:24:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
