{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:36:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable7b6b2d95"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable7b6b2d95"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable7b6b2d95",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:36:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk7b6b2d95",
        "RowKey": "rk7b6b2d95",
        "EmptyByte@odata.type": "Edm.Binary",
        "EmptyByte": "",
        "EmptyUnicode": "",
        "SpacesOnlyByte@odata.type": "Edm.Binary",
        "SpacesOnlyByte": "ICAg",
        "SpacesOnlyUnicode": "   ",
        "SpacesBeforeByte@odata.type": "Edm.Binary",
        "SpacesBeforeByte": "ICAgVGV4dA==",
        "SpacesBeforeUnicode": "   Text",
        "SpacesAfterByte@odata.type": "Edm.Binary",
        "SpacesAfterByte": "VGV4dCAgIA==",
        "SpacesAfterUnicode": "Text   ",
        "SpacesBeforeAndAfterByte@odata.type": "Edm.Binary",
        "SpacesBeforeAndAfterByte": "ICAgVGV4dCAgIA==",
        "SpacesBeforeAndAfterUnicode": "   Text   "
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T19%3A36%3A38.3191727Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable7b6b2d95/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A36%3A38.3191727Z'\"",
        "PartitionKey": "pk7b6b2d95",
        "RowKey": "rk7b6b2d95",
        "Timestamp": "2026-03-30T19:36:38.3191727Z",
        "EmptyByte@odata.type": "Edm.Binary",
        "EmptyByte": "",
        "EmptyUnicode": "",
        "SpacesOnlyByte@odata.type": "Edm.Binary",
        "SpacesOnlyByte": "ICAg",
        "SpacesOnlyUnicode": "   ",
        "SpacesBeforeByte@odata.type": "Edm.Binary",
        "SpacesBeforeByte": "ICAgVGV4dA==",
        "SpacesBeforeUnicode": "   Text",
        "SpacesAfterByte@odata.type": "Edm.Binary",
        "SpacesAfterByte": "VGV4dCAgIA==",
        "SpacesAfterUnicode": "Text   ",
        "SpacesBeforeAndAfterByte@odata.type": "Edm.Binary",
        "SpacesBeforeAndAfterByte": "ICAgVGV4dCAgIA==",
        "SpacesBeforeAndAfterUnicode": "   Text   "
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable7b6b2d95(PartitionKey='pk7b6b2d95',RowKey='rk7b6b2d95')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:36:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:36:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable7b6b2d95"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable7b6b2d95')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:36:38 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
