{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 12 Oct 2023 04:26:57 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable05fdfa2e74"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-12T04%3A26%3A56.3950599Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable05fdfa2e74\u0027)"
      },
      "ResponseBody": {
        "TableName": "uttable05fdfa2e74",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable05fdfa2e74",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 12 Oct 2023 04:26:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "PartitionKey@odata.type": "Edm.String",
        "PartitionKey@odata.type@odata.type": "Edm.String",
        "RowKey": "RK",
        "RowKey@odata.type": "Edm.String",
        "RowKey@odata.type@odata.type": "Edm.String",
        "Data1": "12345",
        "Data1@odata.type": "Edm.Int32",
        "Data1@odata.type@odata.type": "Edm.String",
        "Data2": "False",
        "Data2@odata.type": "Edm.Boolean",
        "Data2@odata.type@odata.type": "Edm.String",
        "Data3": "dGVzdGRhdGE=",
        "Data3@odata.type": "Edm.Binary",
        "Data3@odata.type@odata.type": "Edm.String",
        "Data4": "2023-10-12T04:26:57.562040Z",
        "Data4@odata.type": "Edm.DateTime",
        "Data4@odata.type@odata.type": "Edm.String",
        "Data5": "11e829f1-da0c-45e7-b74b-26ff6e2a5b58",
        "Data5@odata.type": "Edm.Guid",
        "Data5@odata.type@odata.type": "Edm.String",
        "Data6": "Foobar",
        "Data6@odata.type": "Edm.String",
        "Data6@odata.type@odata.type": "Edm.String",
        "Data7": "3.14",
        "Data7@odata.type": "Edm.Double",
        "Data7@odata.type@odata.type": "Edm.String",
        "Data8": "1152921504606846976",
        "Data8@odata.type": "Edm.Int64",
        "Data8@odata.type@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-12T04%3A26%3A57.0208263Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable05fdfa2e74(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable05fdfa2e74/$metadata#uttable05fdfa2e74/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-12T04%3A26%3A57.0208263Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2023-10-12T04:26:57.5620400Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "11e829f1-da0c-45e7-b74b-26ff6e2a5b58",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2023-10-12T04:26:57.0208263Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable05fdfa2e74(PartitionKey=\u0027PK\u0027,RowKey=\u0027RK\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 12 Oct 2023 04:26:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-10-12T04%3A26%3A57.0208263Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable05fdfa2e74/$metadata#uttable05fdfa2e74/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-12T04%3A26%3A57.0208263Z\u0027\u0022",
        "PartitionKey": "PK",
        "RowKey": "RK",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2023-10-12T04:26:57.5620400Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "11e829f1-da0c-45e7-b74b-26ff6e2a5b58",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976",
        "Timestamp": "2023-10-12T04:26:57.0208263Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027uttable05fdfa2e74\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 12 Oct 2023 04:26:58 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
