{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:06:48 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "my_table"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:03670796-4002-004f-1e78-c080fc000000\nTime:2026-03-30T19:06:48.3918264Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
