{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/?restype=service&comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:13:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>AuthenticationFailed</m:code><m:message xml:lang=\"en-US\">Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:3dd229d5-5002-0011-5cc5-cb5047000000\n",
        "Time:2026-04-14T04:14:00.0426154Z</m:message></m:error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttablea9e2526')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:13:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:3dd22a1b-5002-0011-1cc5-cb5047000000\nTime:2026-04-14T04:14:00.2317848Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
