{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables?se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 28 Jul 2023 10:33:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytable2d3432fc"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-07-28T10%3A33%3A42.4491527Z\u0027\u0022",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027mytable2d3432fc\u0027)"
      },
      "ResponseBody": {
        "TableName": "mytable2d3432fc",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables?$filter=TableName%20eq%20\u0027mytable2d3432fc\u0027\u0026se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 28 Jul 2023 10:33:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "mytable2d3432fc"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/mytable2d3432fc()?$filter=PartitionKey%20eq%20\u0027dummy-pk\u0027\u0026se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 28 Jul 2023 10:33:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#mytable2d3432fc"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/mytable2d3432fc()?se=end\u0026sp=rwdlacu\u0026sv=2019-02-02\u0026ss=t\u0026srt=sco\u0026sig=fake_token_value\u0026$filter=PartitionKey%20eq%20\u0027dummy-pk\u0027",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 28 Jul 2023 10:33:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#mytable2d3432fc"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/mytable2d3432fc()?$filter=PartitionKey%20eq%20\u0027dummy-pk\u0027",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 28 Jul 2023 10:33:43 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "Unauthorized",
          "message": {
            "lang": "en-us",
            "value": "Authorization header doesn\u0027t confirm to the required format. Please verify and try again.\r\nActivityId: 69b20e43-adb5-4f40-abd5-2c5a31631496, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.17763.0\nRequestID:69b20e43-adb5-4f40-abd5-2c5a31631496\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables(\u0027mytable2d3432fc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 28 Jul 2023 10:33:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
