{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint-secondary.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "mytablef29a3063"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-09-06T21%3A14%3A28.3980807Z\u0027\u0022",
        "Location": "https://fakeendpoint-secondary.table.cosmos.azure.com/Tables(\u0027mytablef29a3063\u0027)"
      },
      "ResponseBody": {
        "TableName": "mytablef29a3063",
        "odata.metadata": "https://fakeendpoint-secondary.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.cosmos.azure.com/mytablef29a3063",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-09-06T21%3A14%3A28.8891911Z\u0027\u0022",
        "Location": "https://fakeendpoint-secondary.table.cosmos.azure.com/mytablef29a3063(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint-secondary.table.cosmos.azure.com/mytablef29a3063/$metadata#mytablef29a3063/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-09-06T21%3A14%3A28.8891911Z\u0027\u0022",
        "PartitionKey": "foo",
        "RowKey": "bar",
        "Timestamp": "2023-09-06T21:14:28.8891911Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.cosmos.azure.com/mytablef29a3063(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "foo",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "bar",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-09-06T21%3A14%3A28.9379335Z\u0027\u0022"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint-secondary.table.cosmos.azure.com/mytablef29a3063()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-09-06T21%3A14%3A28.9379335Z\u0027\u0022",
            "PartitionKey": "foo",
            "RowKey": "bar",
            "Timestamp": "2023-09-06T21:14:28.9379335Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint-secondary.table.cosmos.azure.com/$metadata#mytablef29a3063"
      }
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.cosmos.azure.com/mytablef29a3063(PartitionKey=\u0027foo\u0027,RowKey=\u0027bar\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 06 Sep 2023 21:14:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint-secondary.table.cosmos.azure.com/Tables(\u0027mytablef29a3063\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 06 Sep 2023 21:14:29 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
