{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:23:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "mytable141032b2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "mytable141032b2"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/mytable141032b2/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_baa4cef2-aa8b-4161-951e-25d22d05c03e",
        "DataServiceVersion": "3.0",
        "MaxDataServiceVersion": "3.0;NetFx",
        "x-ms-date": "Tue, 14 Apr 2026 04:23:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": [
        "--batch_baa4cef2-aa8b-4161-951e-25d22d05c03e\r\n",
        "Content-Type: multipart/mixed; boundary=changeset_e6eb9356-fcb7-4012-aae0-b9a3469d8ed6\r\n",
        "\r\n",
        "--changeset_e6eb9356-fcb7-4012-aae0-b9a3469d8ed6\r\n",
        "Content-Type: application/http\r\n",
        "Content-Transfer-Encoding: binary\r\n",
        "Content-ID: 0\r\n[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('mytable141032b2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Apr 2026 04:23:59 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
