{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:40:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablebabf292d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttablebabf292d"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttablebabf292d?se=Sanitized&sp=a&sv=Sanitized&tn=uttablebabf292d&spk=test&srk=test1&epk=test&erk=test1&sig=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:40:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkbabf292d",
        "RowKey": "rkbabf292d",
        "age": 39,
        "sex": "male",
        "married": true,
        "deceased": false,
        "optional": null,
        "ratio@odata.type": "Edm.Double",
        "ratio": 3.1,
        "evenratio@odata.type": "Edm.Double",
        "evenratio": 3.0,
        "double@odata.type": "Edm.Double",
        "double": 5,
        "large": 933311100,
        "Birthday@odata.type": "Edm.DateTime",
        "Birthday": "1973-10-04T00:00:00.000000Z",
        "birthday@odata.type": "Edm.DateTime",
        "birthday": "1970-10-04T00:00:00.000000Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "YmluYXJ5",
        "other@odata.type": "Edm.Int32",
        "other": 20,
        "clsid@odata.type": "Edm.Guid",
        "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "AuthorizationFailure",
          "message": {
            "lang": "en-US",
            "value": "This request is not authorized to perform this operation.\nRequestId:c102629b-4002-00c9-437d-c04c45000000\nTime:2026-03-30T19:40:20.2877858Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttablebabf292d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:40:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
