{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:55:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable12982ec8"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A55%3A41.5781383Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable12982ec8",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable12982ec8",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:55:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk12982ec8",
        "RowKey": "rk12982ec8",
        "啊齄丂狛狜": "ꀕ"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T19%3A55%3A41.9917319Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable12982ec8/$metadata#uttable12982ec8/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T19%3A55%3A41.9917319Z'\"",
        "PartitionKey": "pk12982ec8",
        "RowKey": "rk12982ec8",
        "啊齄丂狛狜": "ꀕ",
        "Timestamp": "2026-03-30T19:55:41.9917319Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable12982ec8()?$filter=PartitionKey%20eq%20%27pk12982ec8%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 19:55:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A55%3A41.9917319Z'\"",
            "PartitionKey": "pk12982ec8",
            "RowKey": "rk12982ec8",
            "啊齄丂狛狜": "ꀕ",
            "Timestamp": "2026-03-30T19:55:41.9917319Z"
          },
          {
            "odata.etag": "W/\"datetime'2026-03-30T19%3A55%3A42.1698055Z'\"",
            "PartitionKey": "pk12982ec8",
            "RowKey": "test2",
            "啊齄丂狛狜": "hello",
            "Timestamp": "2026-03-30T19:55:42.1698055Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttable12982ec8"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable12982ec8')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 19:55:42 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
