{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 14 Apr 2026 04:11:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "TableName": "my_table"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidResourceName",
          "message": {
            "lang": "en-US",
            "value": "The specifed resource name contains invalid characters.\nRequestId:3dd13e01-5002-0011-17c4-cb5047000000\nTime:2026-04-14T04:11:03.3399289Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
