{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:53:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable43612f44"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A53%3A27.9601671Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable43612f44')"
      },
      "ResponseBody": {
        "TableName": "uttable43612f44",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:53:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk43612f44",
        "RowKey": "rk43612f44",
        "Description": "ꀕ"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-02T22%3A53%3A28.2105351Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44(PartitionKey='pk43612f44',RowKey='rk43612f44')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44/$metadata#uttable43612f44/@Element",
        "odata.etag": "W/\"datetime'2024-05-02T22%3A53%3A28.2105351Z'\"",
        "PartitionKey": "pk43612f44",
        "RowKey": "rk43612f44",
        "Description": "ꀕ",
        "Timestamp": "2024-05-02T22:53:28.2105351Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable43612f44()?$filter=PartitionKey%20eq%20%27pk43612f44%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 02 May 2024 22:53:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-02T22%3A53%3A28.2105351Z'\"",
            "PartitionKey": "pk43612f44",
            "RowKey": "rk43612f44",
            "Description": "ꀕ",
            "Timestamp": "2024-05-02T22:53:28.2105351Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-05-02T22%3A53%3A28.2430983Z'\"",
            "PartitionKey": "pk43612f44",
            "RowKey": "test2",
            "Description": "ꀕ",
            "Timestamp": "2024-05-02T22:53:28.2430983Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttable43612f44"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable43612f44')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 22:53:28 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
