{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:00:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable13bc2ee2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T01%3A00%3A50.5239559Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable13bc2ee2')"
      },
      "ResponseBody": {
        "TableName": "uttable13bc2ee2",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:00:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk13bc2ee2",
        "RowKey": "rk13bc2ee2",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg=="
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T01%3A00%3A50.7677703Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2(PartitionKey='pk13bc2ee2',RowKey='rk13bc2ee2')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2/$metadata#uttable13bc2ee2/@Element",
        "odata.etag": "W/\"datetime'2024-05-04T01%3A00%3A50.7677703Z'\"",
        "PartitionKey": "pk13bc2ee2",
        "RowKey": "rk13bc2ee2",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2024-05-04T01:00:50.7677703Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2(PartitionKey='pk13bc2ee2',RowKey='rk13bc2ee2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:00:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T01%3A00%3A50.7677703Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable13bc2ee2/$metadata#uttable13bc2ee2/@Element",
        "odata.etag": "W/\"datetime'2024-05-04T01%3A00%3A50.7677703Z'\"",
        "PartitionKey": "pk13bc2ee2",
        "RowKey": "rk13bc2ee2",
        "binary@odata.type": "Edm.Binary",
        "binary": "AQIDBAUGBwgJCg==",
        "Timestamp": "2024-05-04T01:00:50.7677703Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:00:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttable13bc2ee2"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttable13bc2ee2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Sat, 04 May 2024 01:00:50 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
