{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable06ba62300d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A51.1588871Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable06ba62300d",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A51.4925063Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A51.4925063Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好",
        "Timestamp": "2026-03-30T18:55:51.4925063Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d(PartitionKey='PK',RowKey='%E4%BD%A0%E5%A5%BD')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A51.4925063Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A51.4925063Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好",
        "Timestamp": "2026-03-30T18:55:51.4925063Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A51.8395399Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A51.8395399Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807",
        "Timestamp": "2026-03-30T18:55:51.8395399Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d(PartitionKey='PK',RowKey='RK2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A51.8395399Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A51.8395399Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807",
        "Timestamp": "2026-03-30T18:55:51.8395399Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A52.1515527Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A52.1515527Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity",
        "Timestamp": "2026-03-30T18:55:52.1515527Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d()?$filter=PartitionKey%20eq%20%27PK%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A51.4925063Z'\"",
            "PartitionKey": "PK",
            "RowKey": "你好",
            "Data": "你好",
            "Timestamp": "2026-03-30T18:55:51.4925063Z"
          },
          {
            "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A51.8395399Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Data@odata.type": "Edm.Int64",
            "Data": "9223372036854775807",
            "Timestamp": "2026-03-30T18:55:51.8395399Z"
          },
          {
            "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A52.1515527Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK4",
            "Data1@odata.type": "Edm.Double",
            "Data1": "NaN",
            "Data2@odata.type": "Edm.Double",
            "Data2": "Infinity",
            "Data3@odata.type": "Edm.Double",
            "Data3": "-Infinity",
            "Timestamp": "2026-03-30T18:55:52.1515527Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttable06ba62300d"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
        [...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable06ba62300d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 18:55:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
