{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:01:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablec8282968"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T01%3A01%3A01.3160967Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablec8282968')"
      },
      "ResponseBody": {
        "TableName": "uttablec8282968",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablec8282968",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:01:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkc8282968",
        "RowKey": "rkc8282968",
        "date@odata.type": "Edm.DateTime",
        "date": "2003-09-27T12:52:43.000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T01%3A01%3A01.5688199Z'\"",
        "Location": "https://fakeendpoint.table.cosmos.azure.com/uttablec8282968(PartitionKey='pkc8282968',RowKey='rkc8282968')"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttablec8282968/$metadata#uttablec8282968/@Element",
        "odata.etag": "W/\"datetime'2024-05-04T01%3A01%3A01.5688199Z'\"",
        "PartitionKey": "pkc8282968",
        "RowKey": "rkc8282968",
        "date@odata.type": "Edm.DateTime",
        "date": "2003-09-27T12:52:43.0000000Z",
        "Timestamp": "2024-05-04T01:01:01.5688199Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/uttablec8282968(PartitionKey='pkc8282968',RowKey='rkc8282968')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:01:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-04T01%3A01%3A01.5688199Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttablec8282968/$metadata#uttablec8282968/@Element",
        "odata.etag": "W/\"datetime'2024-05-04T01%3A01%3A01.5688199Z'\"",
        "PartitionKey": "pkc8282968",
        "RowKey": "rkc8282968",
        "date@odata.type": "Edm.DateTime",
        "date": "2003-09-27T12:52:43.0000000Z",
        "Timestamp": "2024-05-04T01:01:01.5688199Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 04 May 2024 01:01:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "uttablec8282968"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.cosmos.azure.com/Tables('uttablec8282968')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Sat, 04 May 2024 01:01:01 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
