{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 May 2024 00:45:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttablebc132fa"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-09T00%3A45%3A04.7266311Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttablebc132fa",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablebc132fa(PartitionKey='pkbc132fa',RowKey='rkbc132fa')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Thu, 09 May 2024 00:45:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkbc132fa",
        "RowKey": "rkbc132fa",
        "bool@odata.type": "Edm.Boolean",
        "bool": "false",
        "text@odata.type": "Edm.String",
        "text": "42",
        "number@odata.type": "Edm.Int32",
        "number": 23,
        "bigNumber@odata.type": "Edm.Int64",
        "bigNumber": "64",
        "bytes@odata.type": "Edm.Binary",
        "bytes": "dGVzdA==",
        "amount@odata.type": "Edm.Double",
        "amount": "0",
        "since@odata.type": "Edm.DateTime",
        "since": "2008-07-10T00:00:00",
        "guid@odata.type": "Edm.Guid",
        "guid": "c8924069-90ee-4726-83b5-45ff92496126"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-09T00%3A45%3A05.0094599Z'\""
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablebc132fa(PartitionKey='pkbc132fa',RowKey='rkbc132fa')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 May 2024 00:45:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-09T00%3A45%3A05.0094599Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttablebc132fa/$metadata#uttablebc132fa/@Element",
        "odata.etag": "W/\"datetime'2024-05-09T00%3A45%3A05.0094599Z'\"",
        "PartitionKey": "pkbc132fa",
        "RowKey": "rkbc132fa",
        "bool": false,
        "text": "42",
        "number": 23,
        "bigNumber@odata.type": "Edm.Int64",
        "bigNumber": "64",
        "bytes@odata.type": "Edm.Binary",
        "bytes": "dGVzdA==",
        "amount": 0.0,
        "since@odata.type": "Edm.DateTime",
        "since": "2008-07-10T00:00:00.0000000Z",
        "guid@odata.type": "Edm.Guid",
        "guid": "c8924069-90ee-4726-83b5-45ff92496126",
        "Timestamp": "2024-05-09T00:45:05.0094599Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttablebc132fa(PartitionKey='pkbc132fa',RowKey='rkbc132fa')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Thu, 09 May 2024 00:45:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pkbc132fa",
        "RowKey": "rkbc132fa",
        "bool@odata.type": "Edm.Boolean",
        "bool": "not a bool"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidInput",
          "message": {
            "lang": "en-us",
            "value": "One of the input values is invalid.\r\nActivityId: 96fff273-4e14-4a02-b469-e2287bc5b580, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/10.0.20348.0\nRequestID:96fff273-4e14-4a02-b469-e2287bc5b580\n"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttablebc132fa')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 09 May 2024 00:45:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
