{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 Feb 2023 03:34:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "InvalidAuthenticationInfo",
          "message": {
            "lang": "en-US",
            "value": "Authentication information is not given in the correct format. Check the value of Authorization header.\nRequestId:3de544af-0002-005d-0e80-37eb66000000\nTime:2023-02-03T03:34:35.1638318Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
