{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable971031f5"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables('uttable971031f5')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable971031f5"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable971031f5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "pk971031f5",
        "RowKey": "rk971031f5",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-07T02%3A06%3A07.6808676Z'\"",
        "Location": "https://fakeendpoint.table.core.windows.net/uttable971031f5(PartitionKey='pk971031f5',RowKey='rk971031f5')",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable971031f5/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A07.6808676Z'\"",
        "PartitionKey": "pk971031f5",
        "RowKey": "rk971031f5",
        "Timestamp": "2024-05-07T02:06:07.6808676Z",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable971031f5(PartitionKey='pk971031f5',RowKey='rk971031f5')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2024-05-07T02%3A06%3A07.6808676Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable971031f5/@Element",
        "odata.etag": "W/\"datetime'2024-05-07T02%3A06%3A07.6808676Z'\"",
        "PartitionKey": "pk971031f5",
        "RowKey": "rk971031f5",
        "Timestamp": "2024-05-07T02:06:07.6808676Z",
        "inf@odata.type": "Edm.Double",
        "inf": "Infinity",
        "negativeinf@odata.type": "Edm.Double",
        "negativeinf": "-Infinity",
        "nan@odata.type": "Edm.Double",
        "nan": "NaN"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 07 May 2024 02:06:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "uttable971031f5"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables('uttable971031f5')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Tue, 07 May 2024 02:06:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
