{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable03dba326fd"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable03dba326fd"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03dba326fd",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Data1@odata.type": "Edm.Int32",
        "Data1": 12345,
        "Data2@odata.type": "Edm.Boolean",
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45.000000Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "3262cffa-bd07-4c90-b315-d695a83a878e",
        "Data6@odata.type": "Edm.String",
        "Data6": "Foobar",
        "Data7@odata.type": "Edm.Double",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A32.8883069Z'\"",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable03dba326fd/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A32.8883069Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Timestamp": "2026-03-30T18:55:32.8883069Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "3262cffa-bd07-4c90-b315-d695a83a878e",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03dba326fd(PartitionKey='PK',RowKey='RK1')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:32 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\"datetime'2026-03-30T18%3A55%3A32.8883069Z'\"",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable03dba326fd/@Element",
        "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A32.8883069Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK1",
        "Timestamp": "2026-03-30T18:55:32.8883069Z",
        "Data1": 12345,
        "Data2": false,
        "Data3@odata.type": "Edm.Binary",
        "Data3": "dGVzdGRhdGE=",
        "Data4@odata.type": "Edm.DateTime",
        "Data4": "2022-04-01T09:30:45Z",
        "Data5@odata.type": "Edm.Guid",
        "Data5": "3262cffa-bd07-4c90-b315-d695a83a878e",
        "Data6": "Foobar",
        "Data7": 3.14,
        "Data8@odata.type": "Edm.Int64",
        "Data8": "1152921504606846976"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03dba326fd()?$filter=PartitionKey%20eq%20%27PK%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.core.windows.net/$metadata#uttable03dba326fd",
        "value": [
          {
            "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A32.8883069Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK1",
            "Timestamp": "2026-03-30T18:55:32.8883069Z",
            "Data1": 12345,
            "Data2": false,
            "Data3@odata.type": "Edm.Binary",
            "Data3": "dGVzdGRhdGE=",
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "3262cffa-bd07-4c90-b315-d695a83a878e",
            "Data6": "Foobar",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "1152921504606846976"
          },
          {
            "odata.etag": "W/\"datetime'2026-03-30T18%3A55%3A33.2228366Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Timestamp": "2026-03-30T18:55:33.2228366Z",
            "Data1": 12345,
            "Data2": false,
            "Data4@odata.type": "Edm.DateTime",
            "Data4": "2022-04-01T09:30:45Z",
            "Data5@odata.type": "Edm.Guid",
            "Data5": "9b8fbe91-a1d8-46bb-99b6-09e1a6afd9cf",
            "Data7": 3.14,
            "Data8@odata.type": "Edm.Int64",
            "Data8": "9223372036854775807"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/uttable03dba326fd()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 30 Mar 2026 18:55:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
   [...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('uttable03dba326fd')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Mar 2026 18:55:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "3262cffa-bd07-4c90-b315-d695a83a878e"
  }
}
