{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable1439b32ce5"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable1439b32ce5\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "uttable1439b32ce5"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable1439b32ce5(PartitionKey=\u00272022-04-01T09%3A30%3A45.000000Z\u0027,RowKey=\u002723e33de8-c941-41c7-bf8a-441d7d38ad5d\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "2022-04-01T09:30:45.000000Z",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "23e33de8-c941-41c7-bf8a-441d7d38ad5d",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A14.7767552Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable1439b32ce5(PartitionKey=\u00272022-04-01T09%3A30%3A45.000000Z\u0027,RowKey=\u002723e33de8-c941-41c7-bf8a-441d7d38ad5d\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "2022-04-01T09:30:45.000000Z",
        "PartitionKey@odata.type": "Edm.DateTime",
        "RowKey": "23e33de8-c941-41c7-bf8a-441d7d38ad5d",
        "RowKey@odata.type": "Edm.Guid",
        "Data": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A14.8106055Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable1439b32ce5(PartitionKey=\u00272022-04-01T09%3A30%3A45.000000Z\u0027,RowKey=\u002723e33de8-c941-41c7-bf8a-441d7d38ad5d\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A14.8106055Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.core.windows.net/$metadata#uttable1439b32ce5/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A14.8106055Z\u0027\u0022",
        "PartitionKey": "2022-04-01T09:30:45.000000Z",
        "RowKey": "23e33de8-c941-41c7-bf8a-441d7d38ad5d",
        "Timestamp": "2023-10-18T21:14:14.8106055Z",
        "Data": true
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/uttable1439b32ce5(PartitionKey=\u0027YmluYXJ5ZGF0YQ%3D%3D\u0027,RowKey=\u00271234\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 18 Oct 2023 21:14:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "YmluYXJ5ZGF0YQ==",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "1234",
        "RowKey@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272023-10-18T21%3A14%3A14.952979Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.table.core.windows.net/Tables(\u0027uttable1439b32ce5\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 18 Oct 2023 21:14:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "uuid": "23e33de8-c941-41c7-bf8a-441d7d38ad5d"
  }
}
