{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:39:04 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable11f42eb2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A39%3A04.9463816Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable11f42eb2",
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable11f42eb2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A'aaa\"_bbbb2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "\"A'aaa\"_bbbb2",
        "RowKey@odata.type": "Edm.String",
        "test": "\"A'aaa\"_bbbb2",
        "test@odata.type": "Edm.String"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A39%3A05.4111752Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable11f42eb2/$metadata#uttable11f42eb2/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A39%3A05.4111752Z'\"",
        "PartitionKey": "A'aaa\"_bbbb2",
        "RowKey": "\"A'aaa\"_bbbb2",
        "test": "\"A'aaa\"_bbbb2",
        "Timestamp": "2024-05-03T22:39:05.4111752Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable11f42eb2(PartitionKey='A%27%27aaa%22_bbbb2',RowKey='%22A%27%27aaa%22_bbbb2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-05-03T22%3A39%3A05.4111752Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/uttable11f42eb2/$metadata#uttable11f42eb2/@Element",
        "odata.etag": "W/\"datetime'2024-05-03T22%3A39%3A05.4111752Z'\"",
        "PartitionKey": "A'aaa\"_bbbb2",
        "RowKey": "\"A'aaa\"_bbbb2",
        "test": "\"A'aaa\"_bbbb2",
        "Timestamp": "2024-05-03T22:39:05.4111752Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable11f42eb2(PartitionKey='A%27%27aaa%22_bbbb2',RowKey='%22A%27%27aaa%22_bbbb2')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Fri, 03 May 2024 22:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A'aaa\"_bbbb2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "\"A'aaa\"_bbbb2",
        "RowKey@odata.type": "Edm.String",
        "test": "\"A'aaa\"_bbbb2",
        "test@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-03T22%3A39%3A05.4464008Z'\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable11f42eb2(PartitionKey='A%27%27aaa%22_bbbb2',RowKey='%22A%27%27aaa%22_bbbb2')",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "X-HTTP-Method": "MERGE",
        "x-ms-date": "Fri, 03 May 2024 22:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A'aaa\"_bbbb2",
        "PartitionKey@odata.type": "Edm.String",
        "RowKey": "\"A'aaa\"_bbbb2",
        "RowKey@odata.type": "Edm.String",
        "test": "\"A'aaa\"_bbbb2",
        "test@odata.type": "Edm.String"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\"datetime'2024-05-03T22%3A39%3A05.4853128Z'\""
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable11f42eb2()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 03 May 2024 22:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-05-03T22%3A39%3A05.5004680Z'\"",
            "PartitionKey": "A'aaa\"_bbbb2",
            "RowKey": "\"A'aaa\"_bbbb2",
            "test": "\"A'aaa\"_bbbb2",
            "Timestamp": "2024-05-03T22:39:05.5004680Z"
          }
        ],
        "odata.metadata": "https://faketableaccount.table.cosmos.azure.com/$metadata#uttable11f42eb2"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable11f42eb2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('table211f42eb2')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 May 2024 22:39:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
