{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:30 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "uttable06ba62300d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A47%3A31.0178311Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "uttable06ba62300d",
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A47%3A31.2798727Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.2798727Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好",
        "Timestamp": "2024-09-06T01:47:31.2798727Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d(PartitionKey='PK',RowKey='%E4%BD%A0%E5%A5%BD')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A47%3A31.2798727Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.2798727Z'\"",
        "PartitionKey": "PK",
        "RowKey": "你好",
        "Data": "你好",
        "Timestamp": "2024-09-06T01:47:31.2798727Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A47%3A31.4149383Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.4149383Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807",
        "Timestamp": "2024-09-06T01:47:31.4149383Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d(PartitionKey='PK',RowKey='RK2')",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A47%3A31.4149383Z'\""
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.4149383Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK2",
        "Data@odata.type": "Edm.Int64",
        "Data": "9223372036854775807",
        "Timestamp": "2024-09-06T01:47:31.4149383Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-09-06T01%3A47%3A31.5946503Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/uttable06ba62300d/$metadata#uttable06ba62300d/@Element",
        "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.5946503Z'\"",
        "PartitionKey": "PK",
        "RowKey": "RK4",
        "Data1@odata.type": "Edm.Double",
        "Data1": "NaN",
        "Data2@odata.type": "Edm.Double",
        "Data2": "Infinity",
        "Data3@odata.type": "Edm.Double",
        "Data3": "-Infinity",
        "Timestamp": "2024-09-06T01:47:31.5946503Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d()?$filter=PartitionKey%20eq%20%27PK%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.2798727Z'\"",
            "PartitionKey": "PK",
            "RowKey": "你好",
            "Data": "你好",
            "Timestamp": "2024-09-06T01:47:31.2798727Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.4149383Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK2",
            "Data@odata.type": "Edm.Int64",
            "Data": "9223372036854775807",
            "Timestamp": "2024-09-06T01:47:31.4149383Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.5095559Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK3",
            "Data@odata.type": "Edm.Int64",
            "Data": "9223372036854775807",
            "Timestamp": "2024-09-06T01:47:31.5095559Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-09-06T01%3A47%3A31.5946503Z'\"",
            "PartitionKey": "PK",
            "RowKey": "RK4",
            "Data1@odata.type": "Edm.Double",
            "Data1": "NaN",
            "Data2@odata.type": "Edm.Double",
            "Data2": "Infinity",
            "Data3@odata.type": "Edm.Double",
            "Data3": "-Infinity",
            "Timestamp": "2024-09-06T01:47:31.5946503Z"
          }
        ],
        "odata.metadata": "https://fakeendpoint.table.cosmos.azure.com/$metadata#uttable06ba62300d"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/uttable06ba62300d()",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
        [...]
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('uttable06ba62300d')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Sep 2024 01:47:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
