{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fpurview.azure.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://test-create-account.purview.azure.com/workflow/workflows?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-purview-workflow-version": "1.0.024764-workflow_official-c8889265"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "3a05afbc-a37a-4f9a-a88d-3eacea8f7348",
            "type": "UserManaged",
            "triggers": [
              {
                "type": "when_term_creation_is_requested",
                "underGlossaryHierarchy": "/terms/5a2e74da-32f4-408d-9e67-3d4da9215470"
              }
            ],
            "createdTime": "2023-06-17T10:24:40.578627943Z",
            "createdBy": "ebd5d73f-ebd1-40bc-8f63-6d3724957d15",
            "lastUpdateTime": "2023-07-21T05:48:28.077445275Z",
            "updatedBy": "83ffc40f-f670-49b0-a17e-30c7f74f209a",
            "name": "CreateTerm18244020230617",
            "isEnabled": false,
            "description": ""
          },
          {
            "id": "3f7a14f2-c9cd-4fe4-96df-ed3447256118",
            "type": "UserManaged",
            "triggers": [
              {
                "type": "when_term_creation_is_requested",
                "underGlossaryHierarchy": "/glossaries/5dae5e5b-5aa6-48f1-9e46-26fe7328de71"
              }
            ],
            "createdTime": "2023-07-21T05:13:16.782336737Z",
            "createdBy": "285c34a9-c3d0-4a53-8eed-e2e3eaecb662",
            "lastUpdateTime": "2023-07-21T06:39:59.044877631Z",
            "updatedBy": "83ffc40f-f670-49b0-a17e-30c7f74f209a",
            "name": "Create glossary term",
            "isEnabled": true,
            "description": ""
          },
          {
            "id": "2597b427-761d-4adc-921b-d5386b6ff738",
            "type": "UserManaged",
            "triggers": [
              {
                "type": "when_data_access_grant_is_requested",
                "underCollection": "test-create-account",
                "eligibleAssetFilter": {
                  "type": "underCollection",
                  "value": "test-create-account"
                }
              }
            ],
            "createdTime": "2023-07-21T05:52:44.019997580Z",
            "createdBy": "285c34a9-c3d0-4a53-8eed-e2e3eaecb662",
            "lastUpdateTime": "2023-07-21T05:52:44.019997580Z",
            "updatedBy": "285c34a9-c3d0-4a53-8eed-e2e3eaecb662",
            "name": "Data access request",
            "isEnabled": true,
            "description": ""
          }
        ]
      }
    }
  ],
  "Variables": {}
}
