{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://rgjoncardekv76prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup/6a07b94402614c86b25b2cc14af8e1a6/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "111"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1749812561,
        "endTime": null,
        "jobId": "6a07b94402614c86b25b2cc14af8e1a6",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup/6a07b94402614c86b25b2cc14af8e1a6/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "61"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "6a07b94402614c86b25b2cc14af8e1a6",
        "startTime": 1749812561,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://rgjoncardekv76prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-rgjoncardekv76hsm-2025061311024190"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/0291271d513344b88e0f65bd46010225/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "158"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "0291271d513344b88e0f65bd46010225",
        "startTime": 1749812575,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/0291271d513344b88e0f65bd46010225/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "136"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "0291271d513344b88e0f65bd46010225",
        "startTime": 1749812575,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/0291271d513344b88e0f65bd46010225/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "73"
      },
      "ResponseBody": {
        "endTime": 1749812580,
        "error": null,
        "jobId": "0291271d513344b88e0f65bd46010225",
        "startTime": 1749812575,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv76hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "rgjoncardekv76prim",
    "RandomSeed": "1552647895"
  }
}
