{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://rgjoncardekv318prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup/9af44b1f1bdf409cbd10e0b018a38c05/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "4336"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1742368325,
        "endTime": null,
        "jobId": "9af44b1f1bdf409cbd10e0b018a38c05",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/backup/9af44b1f1bdf409cbd10e0b018a38c05/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "1554"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "9af44b1f1bdf409cbd10e0b018a38c05",
        "startTime": 1742368325,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://rgjoncardekv318prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-rgjoncardekv318hsm-2025031907120708"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore/4c93461ea9aa4cdbaacb1122c87a589d/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "800"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "4c93461ea9aa4cdbaacb1122c87a589d",
        "startTime": 1742368340,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore/4c93461ea9aa4cdbaacb1122c87a589d/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "266"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "4c93461ea9aa4cdbaacb1122c87a589d",
        "startTime": 1742368340,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/restore/4c93461ea9aa4cdbaacb1122c87a589d/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "503"
      },
      "ResponseBody": {
        "endTime": 1742368351,
        "error": null,
        "jobId": "4c93461ea9aa4cdbaacb1122c87a589d",
        "startTime": 1742368340,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "rgjoncardekv318prim",
    "RandomSeed": "1050121937"
  }
}
