{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/backup?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/backup?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://tcac7e9c41ef52cecprim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/backup/8e105c92a05345fca8cc7cf497e83095/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "690"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1707532975,
        "endTime": null,
        "jobId": "8e105c92a05345fca8cc7cf497e83095",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/backup/8e105c92a05345fca8cc7cf497e83095/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "186"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "8e105c92a05345fca8cc7cf497e83095",
        "startTime": 1707532975,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/restore?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://tcac7e9c41ef52cecprim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-tcac7e9c41ef52cechsm-2024021002425521"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/restore/9b8f8cdb7c19496394ff65539ad9bd11/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "365"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "9b8f8cdb7c19496394ff65539ad9bd11",
        "startTime": 1707532993,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/restore/9b8f8cdb7c19496394ff65539ad9bd11/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "227"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "9b8f8cdb7c19496394ff65539ad9bd11",
        "startTime": 1707532993,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/restore/9b8f8cdb7c19496394ff65539ad9bd11/pending?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "207"
      },
      "ResponseBody": {
        "endTime": 1707533004,
        "error": null,
        "jobId": "9b8f8cdb7c19496394ff65539ad9bd11",
        "startTime": 1707532993,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "tcac7e9c41ef52cecprim",
    "RandomSeed": "1528665501"
  }
}
