{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VirtualMachineImages/imageTemplates/myimageTemplatexxxz?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "properties": {
          "source": {
            "imageId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/images/myimagesaaa",
            "type": "ManagedImage"
          },
          "customize": [
            {
              "name": "Shell Customizer Example",
              "scriptUri": "https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.compute/vm-msi/scripts/install-and-run-cli-2.sh",
              "sha256Checksum": "a6d94746a4036944261cc7cd1daf81818325a6e1bb54e807748519d442d9291a",
              "type": "Shell"
            }
          ],
          "distribute": [
            {
              "artifactTags": {
                "tagName": "value"
              },
              "imageId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/images/myimagesaaa",
              "location": "eastus",
              "runOutputName": "image_it_pir_1",
              "type": "ManagedImage"
            }
          ],
          "provisioningState": "Succeeded",
          "buildTimeoutInMinutes": 0,
          "stagingResourceGroup": "",
          "exactStagingResourceGroup": "/subscriptions/azure_subscription_id/resourceGroups/IT_myjstest_myimageTemplatexxxz_5caee01b-f5d9-4d12-a48d-8899cfe78e30"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mymsiaaa": {
              "principalId": "4dbb9cca-2c94-4d39-8250-4e5d6fc87bc6",
              "clientId": "d835f986-8dd4-47ca-8b50-aba4e094cc71"
            }
          }
        },
        "tags": {
          "tag1": "IT_T1",
          "tag2": "IT2_T2"
        },
        "location": "eastus",
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.VirtualMachineImages/imageTemplates/myimageTemplatexxxz",
        "name": "myimageTemplatexxxz",
        "type": "Microsoft.VirtualMachineImages/imageTemplates"
      }
    }
  ],
  "Variables": {}
}
