{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VirtualMachineImages/imageTemplates/myimageTemplatexxxz?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.VirtualMachineImages/imageTemplates/myimageTemplatexxxz",
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mymsiaaa": {
              "clientId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "location": "eastus",
        "name": "myimageTemplatexxxz",
        "properties": {
          "buildTimeoutInMinutes": 0,
          "customize": [
            {
              "name": "Shell Customizer Example",
              "scriptUri": "https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.compute/vm-msi/scripts/install-and-run-cli-2.sh",
              "type": "Shell"
            }
          ],
          "distribute": [
            {
              "artifactTags": {
                "tagName": "value"
              },
              "imageId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/images/myimagesaaa",
              "location": "eastus",
              "runOutputName": "image_it_pir_1",
              "type": "ManagedImage"
            }
          ],
          "exactStagingResourceGroup": "/subscriptions/azure_subscription_id/resourceGroups/IT_myjstest_myimageTemplatexxxz_2d7535ab-ad8e-4001-8177-1842e76462c1",
          "provisioningError": {
            "message": "Not authorized to access the resource: /subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/images/myimagesaaa. Please check the user assigned identity has the correct permissions. For more details, go to https://aka.ms/azvmimagebuilderts.",
            "provisioningErrorCode": "BadManagedImageSource"
          },
          "provisioningState": "Failed",
          "source": {
            "imageId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/images/myimagesaaa",
            "type": "ManagedImage"
          },
          "stagingResourceGroup": ""
        },
        "tags": {
          "tag1": "IT_T1",
          "tag2": "IT2_T2"
        },
        "type": "Microsoft.VirtualMachineImages/imageTemplates"
      }
    }
  ],
  "Variables": {}
}
