{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439391109000830?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC684858D2D752\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:31:51 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439391109000830/?restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC684858E4804A\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:31:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T12:31:51.8071882Z",
        "x-ms-file-creation-time": "2024-04-29T12:31:51.8071882Z",
        "x-ms-file-id": "0",
        "x-ms-file-last-write-time": "2024-04-29T12:31:51.8071882Z",
        "x-ms-file-parent-id": "0",
        "x-ms-server-encrypted": "false",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439391109000830?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share171439391109000830"
  }
}
