{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477616405318?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4F3141FB06\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:19:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477616405318?restype=share&comp=stats&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DE2C4F3141FB06\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:19:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsageBytes>0</ShareUsageBytes></ShareStats>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409477616405318?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share176409477616405318"
  }
}
