{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Status Check",
        "sourceCatalogUrl": "https://SANITIZED.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/2020/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-26T10:01:28.0418867Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Status Check",
        "sourceCatalogUrl": "https://SANITIZED.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/2020/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-26T10:01:28.4283171Z",
        "sourceCatalogUrl": "https://SANITIZED.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/2020/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "00000000-0000-0000-0000-000000000000",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-06-26T10:01:28.4133771Z"
            }
          ],
          "creationTime": "2026-06-26T10:01:28.4133725Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-26T10:01:28.4283171Z",
        "sourceCatalogUrl": "https://SANITIZED.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/2020/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "00000000-0000-0000-0000-000000000000",
          "status": "Failed",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-06-26T10:01:28.413372Z"
            },
            {
              "status": "Running",
              "timestamp": "2026-06-26T10:01:28.518747Z"
            },
            {
              "status": "Failed",
              "timestamp": "2026-06-26T10:01:28.692495Z",
              "errorCode": "PublicAccessRestricted",
              "errorMessage": "Error retrieving content from public source. Reason: Public access is not permitted on this storage account. The Azure Storage account has public access disabled. To ingest data, either enable public access on the storage account, configure appropriate access policies, or use authentication (SAS tokens or managed identity). Learn more about Ingestion Sources: https://aka.ms/mpcpro-ingestion-source. Source: https://SANITIZED.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/2020/catalog.json"
            }
          ],
          "creationTime": "2026-06-26T10:01:28.413372Z",
          "startTime": "2026-06-26T10:01:28.413372Z",
          "finishTime": "2026-06-26T10:01:28.692495Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_COLLECTION_ID": "naip",
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "PLANETARYCOMPUTER_INGESTION_CATALOG_URL": "https://ai4edataeuwest.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/2020/catalog.json",
    "RandomSeed": "997285681"
  }
}
