{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Advisor/recommendations?api-version=2026-02-01-preview&%24top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "nextLink": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Advisor/recommendations?api-version=2026-02-01-preview&$top=5&$skiptoken=Sanitized",
        "value": [
          {
            "properties": {
              "category": "Security",
              "impact": "Low",
              "impactedField": "Microsoft.CognitiveServices/accounts",
              "recommendationStatus": "New",
              "lastUpdated": "2026-03-13T02:57:18.2253270Z",
              "recommendationTypeId": "dea5192e-1bb3-101b-b70c-4646546f5e1e",
              "shortDescription": {
                "problem": "Diagnostic logs in Microsoft Foundry resources should be enabled",
                "solution": "Diagnostic logs in Microsoft Foundry resources should be enabled"
              },
              "extendedProperties": {
                "assessmentKey": "dea5192e-1bb3-101b-b70c-4646546f5e1e",
                "score": "0",
                "recommendationOfferingId": "e11311d7-dcf7-4ed0-a4e8-718288227231"
              },
              "resourceMetadata": {
                "resourceId": "/subscriptions/azure_subscription_id/resourcegroups/sss3pt_rg-t3ee6be70476f4f7b/providers/microsoft.search/searchservices/t3ee6be70476f4f7b-search"
              }
            },
            "id": "/subscriptions/azure_subscription_id/resourcegroups/sss3pt_rg-t3ee6be70476f4f7b/providers/microsoft.search/searchservices/t3ee6be70476f4f7b-search/providers/Microsoft.Advisor/recommendations/6b38b3035df658d0b3a271757508773446ef0f7c2a39fcbee1575b0ffbdf5e8f",
            "type": "Microsoft.Advisor/recommendations",
            "name": "6b38b3035df658d0b3a271757508773446ef0f7c2a39fcbee1575b0ffbdf5e8f"
          },
          {
            "properties": {
              "category": "Security",
              "impact": "Medium",
              "impactedField": "Microsoft.Sql/servers",
              "recommendationStatus": "New",
              "lastRefreshed": "2026-05-31T17:01:19.5663981Z",
              "lastUpdated": "2026-03-13T07:38:41.9835526Z",
              "recommendationTypeId": "8e9a37b9-2828-4c8f-a24e-7b0ab0e89c78",
              "shortDescription": {
                "problem": "Azure SQL Database should be running TLS version 1.2 or newer",
                "solution": "Azure SQL Database should be running TLS version 1.2 or newer"
              },
              "extendedProperties": {
                "assessmentKey": "8e9a37b9-2828-4c8f-a24e-7b0ab0e89c78",
                "score": "0",
                "recommendationOfferingId": "e11311d7-dcf7-4ed0-a4e8-718288227231"
              },
              "resourceMetadata": {
                "resourceId": "/subscriptions/azure_subscription_id/resourcegroups/sss3pt_rg-t3d84cf2d60964705/providers/microsoft.sql/servers/t3d84cf2d60964705-sql"
              }
            },
            "id": "/subscriptions/azure_subscription_id/resourcegroups/sss3pt_rg-t3d84cf2d60964705/providers/microsoft.sql/servers/t3d84cf2d60964705-sql/providers/Microsoft.Advisor/recommendations/e7164482f480b993b1f493552e32b093f72bd1d0c17271148ca58290c1eb31ad",
            "type": "Microsoft.Advisor/recommendations",
            "name": "e7164482f480b993b1f493552e32b093f72bd1d0c17271148ca58290c1eb31ad"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
