{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/test-rg/providers/Microsoft.Orbital/geoCatalogs?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "d9d5829c-cbe8-4e93-8dcd-7266f3eb46cc",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.orbital/geocatalogs",
            "location": "eastus",
            "tags": {
              "testKey": "testValue"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-04-09T05:09:26.2548441Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-04-09T06:07:30.5922992Z"
            },
            "properties": {
              "tier": "Basic",
              "catalogUri": "https://sanitized.sanitized.sanitized.geocatalog.spatio.azure.com",
              "autoGeneratedDomainNameLabelScope": "TenantReuse",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
