{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/5aceda1f-93bf-4b33-b129-22f360f7c5ff/resourceGroups/thangdeveastus2-rg/workspaces/sdktesting/assets/domain%24%24ku.edu?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline; filename=f.txt",
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "id": "domain$$ku.edu",
        "name": "ku.edu",
        "displayName": "ku.edu",
        "kind": "domain",
        "uuid": "446665cb-c782-038b-ee16-4068ec0fe1bf",
        "asset": {
          "domain": "ku.edu",
          "whoisId": 7141839450539259986,
          "registrarIanaIds": [],
          "registrantContacts": [
            {
              "value": "",
              "firstSeen": "2022-07-31T13:43:45\u002B0000",
              "lastSeen": "2023-12-16T17:20:13\u002B0000",
              "sources": [
                {
                  "source": "whois",
                  "firstSeen": "2022-07-31T13:43:45\u002B0000",
                  "lastSeen": "2023-12-16T17:20:13\u002B0000",
                  "count": 42
                }
              ],
              "recent": true
            }
          ],
          "registrantOrgs": [
            {
              "value": "",
              "firstSeen": "2022-07-31T13:43:45\u002B0000",
              "lastSeen": "2023-12-16T17:20:13\u002B0000",
              "sources": [
                {
                  "source": "whois",
                  "firstSeen": "2022-07-31T13:43:45\u002B0000",
                  "lastSeen": "2023-12-16T17:20:13\u002B0000",
                  "count": 42
                }
              ],
              "recent": true
            }
          ],
          "adminContacts": [
            {
              "value": "mattg@ku.edu",
              "firstSeen": "2019-07-10T07:00:48\u002B0000",
              "lastSeen": "2023-12-16T17:20:13\u002B0000",
              "sources": [
                {
                  "source": "whois",
                  "firstSeen": "2021-02-10T18:48:06\u002B0000",
                  "lastSeen": "2023-12-16T17:20:13\u002B0000",
                  "count": 352
                }
              ],
              "recent": true
            },
            {
              "value": "rlytle@ku.edu",
              "firstSeen": "2018-08-01T00:42:22\u002B0000",
              "lastSeen": "2018-08-01T00:42:22\u002B0000",
              "sources": []
            }
          ],
          "technicalContacts": [
            {
              "value": "raycole@ku.edu",
              "firstSeen": "2022-06-05T17:22:06\u002B0000",
              "lastSeen": "2023-12-16T17:20:13\u002B0000",
              "sources": [
                {
                  "source": "whois",
                  "firstSeen": "2022-06-05T17:22:06\u002B0000",
                  "lastSeen": "2023-12-16T17:20:13\u002B0000",
                  "count": 51
                }
              ],
              "recent": true
            },
            {
              "value": "mattg@ku.edu",
              "firstSeen": "2018-08-01T00:42:22\u002B0000",
              "lastSeen": "2022-06-05T17:22:06\u002B0000",
              "sources": [
                {
                  "source": "whois",
                  "firstSeen": "2021-02-10T18:48:06\u002B0000",
                  "lastSeen": "2022-06-05T17:22:06\u002B0000",
                  "count": 301
                }
              ]
            }
          ],
          "alexaInfos": [
            {
              "alexaRank": 5740,
              "firstSeen": "2023-12-20T01:11:27\u002B0000",
              "lastSeen": "2023-12-20T20:11:14\u002B0000",
              "recent": true
            },
            {
              "alexaRank": 5742,
              "firstSeen": "2023-12-19T01:11:55\u002B0000",
              "lastSeen": "2023-12-20T00:33:30\u002B0000"
            },
            {
              "alexaRank": 5726,
              "firstSeen": "2023-12-18T01:11:44\u002B0000",
              "lastSeen": "2023-12-19T00:21[...]
