{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/5aceda1f-93bf-4b33-b129-22f360f7c5ff/resourceGroups/thangdeveastus2-rg/workspaces/sdktesting/assets?filter=name%20%3D%20ku.edu%20and%20type%20%3D%20domain\u0026api-version=2023-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "externalId": "EXT040"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "id": "349235d9-019b-4106-bf82-d6004e3ffa2e",
        "startedAt": "2023-12-20T20:59:38\u002B0000",
        "completedAt": "2023-12-20T20:59:38\u002B0000",
        "lastPolledAt": null,
        "state": "complete",
        "phase": "complete",
        "reason": null,
        "metadata": {
          "filter": "name = ku.edu and type = domain",
          "kind": "GlobalInventoryUpdateTask",
          "assetUpdateRequest": {
            "state": null,
            "externalId": "EXT040",
            "labels": null,
            "transfers": null
          },
          "estimated": 1,
          "progress": 100,
          "username": ""
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "ENDPOINT": "https://eastus.easm.defender.microsoft.com",
    "RandomSeed": "28871913",
    "RESOURCEGROUPNAME": "thangdeveastus2-rg",
    "SUBSCRIPTION_ID": "5aceda1f-93bf-4b33-b129-22f360f7c5ff",
    "WORKSPACENAME": "sdktesting"
  }
}
