{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA37?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "setConfigTestNA37",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZJOQoqV-RaA2AMcQUssn6TAHrDITOqLU_EhTEIEzylM\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:27:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIwODE=;sn=75082081",
        "x-ms-date": "Wed, 05 Nov 2025 07:27:39 GMT"
      },
      "ResponseBody": {
        "etag": "ZJOQoqV-RaA2AMcQUssn6TAHrDITOqLU_EhTEIEzylM",
        "key": "setConfigTestNA37",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:27:39+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA37"
  }
}
