{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA359?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "setConfigTestNA359",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ANA0TWRLn_qpInoWw0w8_RrB9RRASI7K52-rb09H57o\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:31:05 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNTE=;sn=75059251",
        "x-ms-date": "Tue, 04 Nov 2025 18:31:05 GMT"
      },
      "ResponseBody": {
        "etag": "ANA0TWRLn_qpInoWw0w8_RrB9RRASI7K52-rb09H57o",
        "key": "setConfigTestNA359",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:31:05+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA359"
  }
}
