{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest190?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest190",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OfrlaGMvaqgxZvd5ft0vzkbJGCulXfPD-ApprprQ_vA\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:01:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjI4OTA=;sn=75062890",
        "x-ms-date": "Tue, 04 Nov 2025 19:01:56 GMT"
      },
      "ResponseBody": {
        "etag": "OfrlaGMvaqgxZvd5ft0vzkbJGCulXfPD-ApprprQ_vA",
        "key": "setConfigTest190",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:01:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest190?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjI4OTA="
      },
      "RequestBody": {
        "key": "setConfigTest190",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K08V4_yWPSjxdH-QRRSW97AH2894ciY837jZWpBkvpI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:01:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjI4OTk=;sn=75062899",
        "x-ms-date": "Tue, 04 Nov 2025 19:01:56 GMT"
      },
      "ResponseBody": {
        "etag": "K08V4_yWPSjxdH-QRRSW97AH2894ciY837jZWpBkvpI",
        "key": "setConfigTest190",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:01:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest190?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjI4OTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K08V4_yWPSjxdH-QRRSW97AH2894ciY837jZWpBkvpI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:01:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjI5MDE=;sn=75062901",
        "x-ms-date": "Tue, 04 Nov 2025 19:01:56 GMT"
      },
      "ResponseBody": {
        "etag": "K08V4_yWPSjxdH-QRRSW97AH2894ciY837jZWpBkvpI",
        "key": "setConfigTest190",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:01:56+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest190"
  }
}
