{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA848?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "setConfigTestNA848",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JBFqnS2I0aGjCtpKnXDiH0H0DCxg5-nSzJP12t9fafw\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:27:34 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAxMTM=;sn=73740113"
      },
      "ResponseBody": {
        "etag": "JBFqnS2I0aGjCtpKnXDiH0H0DCxg5-nSzJP12t9fafw",
        "key": "setConfigTestNA848",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:27:34+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA848"
  }
}
