{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA169?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1s_nHpFmX3xCRIzJ_rkvpe8POn_wMFkvOYVLdMyKPpQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:33:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNzMzMA==;sn=53127330",
        "x-ms-date": "Tue, 09 Jun 2026 23:33:55 GMT"
      },
      "ResponseBody": {
        "etag": "1s_nHpFmX3xCRIzJ_rkvpe8POn_wMFkvOYVLdMyKPpQ",
        "key": "setConfigTestNA169",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:33:55+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA169"
  }
}
