{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag287?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTestEtag287",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PoXaGSzjavcbv_iWRlQ6ORKOXvoabdDwwCyaHmlixws\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:33:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQwNjU=;sn=74104065"
      },
      "ResponseBody": {
        "etag": "PoXaGSzjavcbv_iWRlQ6ORKOXvoabdDwwCyaHmlixws",
        "key": "setConfigTestEtag287",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:33:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag287?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"PoXaGSzjavcbv_iWRlQ6ORKOXvoabdDwwCyaHmlixws\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQwNjU="
      },
      "RequestBody": {
        "key": "setConfigTestEtag287",
        "label": "test",
        "value": "foo2",
        "etag": "PoXaGSzjavcbv_iWRlQ6ORKOXvoabdDwwCyaHmlixws"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tROdQSOZhIrK8HTwuWjVKqJrjgHbp9bRWIhyPgUjZhg\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:33:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQwNjY=;sn=74104066"
      },
      "ResponseBody": {
        "etag": "tROdQSOZhIrK8HTwuWjVKqJrjgHbp9bRWIhyPgUjZhg",
        "key": "setConfigTestEtag287",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:33:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag287?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQwNjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tROdQSOZhIrK8HTwuWjVKqJrjgHbp9bRWIhyPgUjZhg\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:33:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQwNjg=;sn=74104068"
      },
      "ResponseBody": {
        "etag": "tROdQSOZhIrK8HTwuWjVKqJrjgHbp9bRWIhyPgUjZhg",
        "key": "setConfigTestEtag287",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:33:17+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag287"
  }
}
