{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest86?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest86",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9vEcS5v52ESUJmX5il5BF9wOuRw9VOPlxFGOjxwb6XQ\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:41:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA4NzU=;sn=73800875"
      },
      "ResponseBody": {
        "etag": "9vEcS5v52ESUJmX5il5BF9wOuRw9VOPlxFGOjxwb6XQ",
        "key": "setConfigTest86",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:41:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest86?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA4NzU="
      },
      "RequestBody": {
        "key": "setConfigTest86",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_VE91kzix7UPZxUZXZX2uPKL9HubjdTxVftaR_JKHGE\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:42:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA4NzY=;sn=73800876"
      },
      "ResponseBody": {
        "etag": "_VE91kzix7UPZxUZXZX2uPKL9HubjdTxVftaR_JKHGE",
        "key": "setConfigTest86",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:42:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest86?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA4NzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_VE91kzix7UPZxUZXZX2uPKL9HubjdTxVftaR_JKHGE\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:42:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA4Nzg=;sn=73800878"
      },
      "ResponseBody": {
        "etag": "_VE91kzix7UPZxUZXZX2uPKL9HubjdTxVftaR_JKHGE",
        "key": "setConfigTest86",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:42:00+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest86"
  }
}
