{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest654?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest654",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CFYYlQEifLbge3K6qRs3Dn6VU6CyuBtJLLqkuZRjOE8\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:30:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNDM=;sn=75059243",
        "x-ms-date": "Tue, 04 Nov 2025 18:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "CFYYlQEifLbge3K6qRs3Dn6VU6CyuBtJLLqkuZRjOE8",
        "key": "setConfigTest654",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:30:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest654?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyNDM="
      },
      "RequestBody": {
        "key": "setConfigTest654",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LN5HRJiwyFG_uO_iT5a7x2obOjdAIn_caQfPRC4qC5w\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:30:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNDQ=;sn=75059244",
        "x-ms-date": "Tue, 04 Nov 2025 18:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "LN5HRJiwyFG_uO_iT5a7x2obOjdAIn_caQfPRC4qC5w",
        "key": "setConfigTest654",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:30:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest654?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkyNDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LN5HRJiwyFG_uO_iT5a7x2obOjdAIn_caQfPRC4qC5w\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:30:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkyNDY=;sn=75059246",
        "x-ms-date": "Tue, 04 Nov 2025 18:31:00 GMT"
      },
      "ResponseBody": {
        "etag": "LN5HRJiwyFG_uO_iT5a7x2obOjdAIn_caQfPRC4qC5w",
        "key": "setConfigTest654",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:30:59+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest654"
  }
}
