{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag483?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QbCjTZXgtBjsTgAZ22Klb4dEzKJxEnUw5GdvQyUHUn0\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:32:39 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTAxOQ==;sn=53371019",
        "x-ms-date": "Mon, 15 Jun 2026 18:32:39 GMT"
      },
      "ResponseBody": {
        "etag": "QbCjTZXgtBjsTgAZ22Klb4dEzKJxEnUw5GdvQyUHUn0",
        "key": "setConfigTestEtag483",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "description": null,
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:32:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag483?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"QbCjTZXgtBjsTgAZ22Klb4dEzKJxEnUw5GdvQyUHUn0\"",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTAxOQ=="
      },
      "RequestBody": {
        "label": "test",
        "value": "foo2",
        "etag": "QbCjTZXgtBjsTgAZ22Klb4dEzKJxEnUw5GdvQyUHUn0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nVdpH0wnp3griDDjgRHWJg1NNYEU5XtFJvj2mCyoWjY\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:32:39 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTAyMA==;sn=53371020",
        "x-ms-date": "Mon, 15 Jun 2026 18:32:39 GMT"
      },
      "ResponseBody": {
        "etag": "nVdpH0wnp3griDDjgRHWJg1NNYEU5XtFJvj2mCyoWjY",
        "key": "setConfigTestEtag483",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:32:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag483?api-version=2026-04-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTAyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nVdpH0wnp3griDDjgRHWJg1NNYEU5XtFJvj2mCyoWjY\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:32:39 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTAyMg==;sn=53371022",
        "x-ms-date": "Mon, 15 Jun 2026 18:32:39 GMT"
      },
      "ResponseBody": {
        "etag": "nVdpH0wnp3griDDjgRHWJg1NNYEU5XtFJvj2mCyoWjY",
        "key": "setConfigTestEtag483",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:32:39+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag483"
  }
}
