{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestNA529?api-version=2023-10-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "setConfigTestNA529",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WnngVkFKt7En6jePo19Rn3_XXxvGMKTCn_Ngzp1dFns\"",
        "Last-Modified": "Tue, 28 May 2024 18:42:54 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTEyODI=;sn=2611282"
      },
      "ResponseBody": {
        "etag": "WnngVkFKt7En6jePo19Rn3_XXxvGMKTCn_Ngzp1dFns",
        "key": "setConfigTestNA529",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T18:42:54+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestNA": "setConfigTestNA529"
  }
}
