{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest100?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest100",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nt1yJNju44P-RCA6qyWZKcTuxu6lK3oY_Ui_x3GMEa8\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:49:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ3NzI=;sn=74014772"
      },
      "ResponseBody": {
        "etag": "nt1yJNju44P-RCA6qyWZKcTuxu6lK3oY_Ui_x3GMEa8",
        "key": "setConfigTest100",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:49:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest100?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ3NzI="
      },
      "RequestBody": {
        "key": "setConfigTest100",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3fv8hqQ920SRdIuj9c6OYYEGCMQVIuBLxKh0vgGzcCI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:49:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ3NzM=;sn=74014773"
      },
      "ResponseBody": {
        "etag": "3fv8hqQ920SRdIuj9c6OYYEGCMQVIuBLxKh0vgGzcCI",
        "key": "setConfigTest100",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:49:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest100?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ3NzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3fv8hqQ920SRdIuj9c6OYYEGCMQVIuBLxKh0vgGzcCI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:49:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ3NzU=;sn=74014775"
      },
      "ResponseBody": {
        "etag": "3fv8hqQ920SRdIuj9c6OYYEGCMQVIuBLxKh0vgGzcCI",
        "key": "setConfigTest100",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:49:30+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest100"
  }
}
