{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest824?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "setConfigTest824",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kA0JIlRDSr8Lg4N04XPze85FoIqnWiAsxy2_xXu0cKI\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:22:24 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTY2;sn=2800966"
      },
      "ResponseBody": {
        "etag": "kA0JIlRDSr8Lg4N04XPze85FoIqnWiAsxy2_xXu0cKI",
        "key": "setConfigTest824",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2024-07-11T18:22:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest824?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTY2"
      },
      "RequestBody": {
        "key": "setConfigTest824",
        "label": "test",
        "value": "foo2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J5wW-U_0KGsea_ByDip8OdSJo_mWuMct-3RCUaBuZTA\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:22:24 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTY3;sn=2800967"
      },
      "ResponseBody": {
        "etag": "J5wW-U_0KGsea_ByDip8OdSJo_mWuMct-3RCUaBuZTA",
        "key": "setConfigTest824",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:22:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTest824?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODAwOTY3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J5wW-U_0KGsea_ByDip8OdSJo_mWuMct-3RCUaBuZTA\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:22:24 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODAwOTY5;sn=2800969"
      },
      "ResponseBody": {
        "etag": "J5wW-U_0KGsea_ByDip8OdSJo_mWuMct-3RCUaBuZTA",
        "key": "setConfigTest824",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:22:24+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTest": "setConfigTest824"
  }
}
