{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag666?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"r8gmZAQLcdExlHwIWaJzgUPB8jf9vdULV0LmRQ7hJh4\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjU0;sn=65176254",
        "x-ms-date": "Wed, 06 May 2026 17:10:38 GMT"
      },
      "ResponseBody": {
        "etag": "r8gmZAQLcdExlHwIWaJzgUPB8jf9vdULV0LmRQ7hJh4",
        "key": "setConfigTestEtag666",
        "label": "test",
        "content_type": "application/json",
        "value": "foo",
        "tags": {
          "bar": "baz",
          "car": "caz"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:10:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag666?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"r8gmZAQLcdExlHwIWaJzgUPB8jf9vdULV0LmRQ7hJh4\"",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjU0"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo2",
        "etag": "r8gmZAQLcdExlHwIWaJzgUPB8jf9vdULV0LmRQ7hJh4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JMDClTnQc5yrncITlgx1m83VxIm6cWDzl95ir2TSi3Q\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjU1;sn=65176255",
        "x-ms-date": "Wed, 06 May 2026 17:10:38 GMT"
      },
      "ResponseBody": {
        "etag": "JMDClTnQc5yrncITlgx1m83VxIm6cWDzl95ir2TSi3Q",
        "key": "setConfigTestEtag666",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/setConfigTestEtag666?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjU1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JMDClTnQc5yrncITlgx1m83VxIm6cWDzl95ir2TSi3Q\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjU3;sn=65176257",
        "x-ms-date": "Wed, 06 May 2026 17:10:38 GMT"
      },
      "ResponseBody": {
        "etag": "JMDClTnQc5yrncITlgx1m83VxIm6cWDzl95ir2TSi3Q",
        "key": "setConfigTestEtag666",
        "label": "test",
        "content_type": null,
        "value": "foo2",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:10:38+00:00"
      }
    }
  ],
  "Variables": {
    "setConfigTestEtag": "setConfigTestEtag666"
  }
}
