{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/5aceda1f-93bf-4b33-b129-22f360f7c5ff/resourceGroups/thangdeveastus2-rg/workspaces/sdktesting/discoTemplates?api-version=2023-03-01-preview\u0026filter=sample",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "totalElements": 2,
        "value": [
          {
            "id": "402526",
            "name": "TrueSample",
            "displayName": "TrueSample",
            "industry": "Software",
            "region": "United States and Canada",
            "countryCode": "US",
            "stateCode": "WA",
            "city": "Mill Creek",
            "seeds": [],
            "names": [
              "TrueSample"
            ]
          },
          {
            "id": "558685",
            "name": "Sample Plan LLC",
            "displayName": "Sample Plan LLC",
            "industry": "Media",
            "region": null,
            "countryCode": null,
            "stateCode": "CA",
            "city": null,
            "seeds": [],
            "names": [
              "Sample Plan LLC"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "ENDPOINT": "https://eastus.easm.defender.microsoft.com",
    "RandomSeed": "51330671",
    "RESOURCEGROUPNAME": "thangdeveastus2-rg",
    "SUBSCRIPTION_ID": "5aceda1f-93bf-4b33-b129-22f360f7c5ff",
    "WORKSPACENAME": "sdktesting"
  }
}
