{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/westus2/quotas?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "976eadb9-5d26-4127-b858-2714c312e5c6",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/westus2/quotas/maxConcurrentTestRuns",
            "name": "maxConcurrentTestRuns",
            "type": "Microsoft.LoadTestService/Locations/Quotas",
            "properties": {
              "usage": 0,
              "limit": 25
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/westus2/quotas/maxConcurrentEngineInstances",
            "name": "maxConcurrentEngineInstances",
            "type": "Microsoft.LoadTestService/Locations/Quotas",
            "properties": {
              "usage": 0,
              "limit": 200
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/westus2/quotas/maxEngineInstancesPerTestRun",
            "name": "maxEngineInstancesPerTestRun",
            "type": "Microsoft.LoadTestService/Locations/Quotas",
            "properties": {
              "usage": 0,
              "limit": 45
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/westus2/quotas/maxDurationHoursPerTestRun",
            "name": "maxDurationHoursPerTestRun",
            "type": "Microsoft.LoadTestService/Locations/Quotas",
            "properties": {
              "usage": 0,
              "limit": 3
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
