{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/10000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/westus2/quotas/maxEngineInstancesPerTestRun?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9a6c1bd9-7eb8-48e1-a4e8-eb8fc3f6727f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/10000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/westus2/quotas/maxEngineInstancesPerTestRun",
        "name": "maxEngineInstancesPerTestRun",
        "type": "Microsoft.LoadTestService/Locations/Quotas",
        "properties": {
          "usage": 0,
          "limit": 45
        }
      }
    }
  ],
  "Variables": {}
}
