{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3747",
        "x-ms-ratelimit-remaining-subscription-reads": "247"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Sanitized",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sdk-test-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg",
        "name": "sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "Sanitized",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/Microsoft.SecretSyncController/secretSyncs/sdk-test-ss?api-version=2024-08-21-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Sanitized",
        "properties": {
          "secretProviderClassName": "sdk-test-spc",
          "serviceAccountName": "sdk-test-sa",
          "kubernetesSecretType": "Opaque",
          "objectSecretMapping": [
            {
              "sourcePath": "sdk-test-secret-1",
              "targetKey": "sdk-test-secret-1"
            }
          ]
        },
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/microsoft.extendedlocation/customLocations/sdk-test-custloc"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SecretSyncController/locations/Sanitized/operationStatuses/9d9ecf9d-2e6a-4f62-bc55-8900128636f9*156D02A668C830C9866976F14B231273C02DA4E985AC0875D433BFAB02A4F70D?api-version=2024-08-21-preview&t=638767630407955388&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SecretSyncController/locations/Sanitized/operationStatuses/9d9ecf9d-2e6a-4f62-bc55-8900128636f9*156D02A668C830C9866976F14B231273C02DA4E985AC0875D433BFAB02A4F70D?api-version=2024-08-21-preview&t=638767630407955388&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMD[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/Microsoft.SecretSyncController/secretSyncs/sdk-test-ss?api-version=2024-08-21-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"b404c05f-0000-0c00-0000-67c816a40000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/Microsoft.SecretSyncController/secretSyncs/sdk-test-ss",
        "name": "sdk-test-ss",
        "type": "microsoft.secretsynccontroller/secretsyncs",
        "location": "Sanitized",
        "extendedLocation": {
          "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/microsoft.extendedlocation/customLocations/sdk-test-custloc",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-05T09:17:20.4986884Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-03-05T09:17:20.4986884Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "secretProviderClassName": "sdk-test-spc",
          "serviceAccountName": "sdk-test-sa",
          "kubernetesSecretType": "Opaque",
          "objectSecretMapping": [
            {
              "sourcePath": "sdk-test-secret-1",
              "targetKey": "sdk-test-secret-1"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/Microsoft.SecretSyncController/secretSyncs?api-version=2024-08-21-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "537f9b28-d76f-483c-9c56-fdb089016577",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3746",
        "x-ms-ratelimit-remaining-subscription-reads": "246"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/Microsoft.SecretSyncController/secretSyncs/sdk-test-ss",
            "name": "sdk-test-ss",
            "type": "microsoft.secretsynccontroller/secretsyncs",
            "location": "Sanitized",
            "extendedLocation": {
              "name": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-rg/providers/microsoft.extendedlocation/customLocations/sdk-test-custloc",
              "type": "CustomLocation"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-03-05T09:17:20.4986884Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-03-05T09:17:25.0908577Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "secretProviderClassName": "sdk-test-spc",
              "serviceAccountName": "sdk-test-sa",
              "kubernetesSecretType": "Opaque",
              "objectSecretMapping": [
                {
                  "sourcePath": "sdk-test-secret-1",
                  "targetKey": "sdk-test-secret-1"
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "CLUSTER_RESOURCE_GROUP": "sdk-test-rg",
    "RandomSeed": "319560869",
    "RESOURCE_MANAGER_URL": null,
    "SPC_LOCATION": "Sanitized",
    "SPC_SUBSCRIPTION_ID": "00000000-0000-0000-0000-000000000000"
  }
}
