{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/ipGroups?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "firewalls": [],
              "firewallPolicies": [],
              "ipAddresses": [
                "13.64.39.16/32",
                "40.74.146.80/31",
                "40.74.147.32/28"
              ],
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/ipGroups/virtualnetworkzzz",
            "name": "virtualnetworkzzz",
            "type": "Microsoft.Network/IpGroups",
            "etag": "Sanitized",
            "location": "eastus",
            "tags": {
              "key1": "value1"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
