{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00224b91e41b-496b-4c80-8b90-21bd8a004ef7\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "name": "virtualnetworkzzz",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz",
        "etag": "W/\u00224b91e41b-496b-4c80-8b90-21bd8a004ef7\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "7a939bee-933c-4890-87e3-529cf64f1d3c",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnetzzz",
              "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz/subnets/subnetzzz",
              "etag": "W/\u00224b91e41b-496b-4c80-8b90-21bd8a004ef7\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    }
  ],
  "Variables": {}
}
