{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;storage;Sanitized;Sanitizedsa/protectedItems/AzureFileShare;276e41afbe885aa9074a024e504b3ed65e0e4b06b8d8499e2527810fa8b1b881",
            "name": "Sanitized",
            "type": "Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems",
            "properties": {
              "friendlyName": "Sanitized",
              "protectionStatus": "Healthy",
              "protectionState": "ProtectionStopped",
              "lastBackupStatus": "IRPending",
              "protectedItemType": "AzureFileShareProtectedItem",
              "backupManagementType": "AzureStorage",
              "workloadType": "AzureFileShare",
              "containerName": "StorageContainer;storage;Sanitized;Sanitizedsa",
              "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.storage/storageAccounts/Sanitizedsa",
              "vaultId": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv",
              "deferredDeleteTimeInUTC": "2026-04-20T12:38:44.6307583Z",
              "isScheduledForDeferredDelete": true,
              "deferredDeleteTimeRemaining": "29.23:54:29.8580762",
              "isArchiveEnabled": false,
              "softDeleteRetentionPeriod": 30
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "location": "eastus",
        "name": "Sanitized",
        "etag": "Sanitized",
        "tags": {
          "environment": "test"
        },
        "identity": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None",
          "backupStorageVersion": "V1",
          "securitySettings": {
            "immutabilitySettings": {
              "state": "Disabled"
            },
            "softDeleteSettings": {
              "softDeleteRetentionPeriodInDays": 30,
              "softDeleteState": "Enabled",
              "enhancedSecurityState": "Enabled"
            },
            "multiUserAuthorization": "Disabled",
            "sourceScanConfiguration": {
              "state": "Disabled"
            }
          },
          "redundancySettings": {
            "standardTierStorageRedundancy": "GeoRedundant",
            "crossRegionRestore": "Enabled"
          },
          "secureScore": "None",
          "bcdrSecurityLevel": "Poor",
          "publicNetworkAccess": "Enabled",
          "restoreSettings": {
            "crossSubscriptionRestoreSettings": {
              "crossSubscriptionRestoreState": "Enabled"
            }
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Sanitized",
          "tier": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3BSanitized%3BSanitizedsa/protectedItems/AzureFileShare%3B276e41afbe885aa9074a024e504b3ed65e0e4b06b8d8499e2527810fa8b1b881?api-version=2025-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "protectedItemType": "AzureFileShareProtectedItem",
          "isRehydrate": true
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupFabrics/Azure/protectionContainers/StorageContainer;storage;Sanitized;Sanitizedsa/protectedItems/AzureFileShare;276e41afbe885aa9074a024e504b3ed65e0e4b06b8d8499e2527810fa8b1b881/operationsStatus/e91982b9-4721-417f-891e-d86a5fc2456e?api-version=2025-02-01&t=639122858575970373&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG[...]
