{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-dpp?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.RecoveryServices/vaults/Sanitized-dpp' under resource group 'AzureBackupRG_mcp-test' was not found. For more details please go to https://Sanitized.ms/ARMResourceNotFoundFix"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {},
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "GeoRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "securitySettings": {
            "softDeleteSettings": {
              "state": "AlwaysOn",
              "retentionDurationInDays": 14.0
            },
            "immutabilitySettings": {
              "state": "Disabled"
            }
          },
          "featureSettings": {
            "crossSubscriptionRestoreSettings": {
              "state": "Enabled"
            },
            "crossRegionRestoreSettings": {
              "state": "Disabled"
            }
          },
          "secureScore": "Adequate",
          "bcdrSecurityLevel": "Good",
          "replicatedRegions": [
            "westus"
          ],
          "regionOfChoiceSettings": {
            "status": "NotApplicable"
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/BackupVaults/Sanitized-dpp",
        "name": "Sanitized",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupPolicies?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "policyRules": [
                {
                  "lifecycles": [
                    {
                      "deleteAfter": {
                        "objectType": "AbsoluteDeleteOption",
                        "duration": "P7D"
                      },
                      "sourceDataStore": {
                        "dataStoreType": "OperationalStore",
                        "objectType": "DataStoreInfoBase"
                      }
                    }
                  ],
                  "isDefault": true,
                  "name": "Sanitized",
                  "objectType": "AzureRetentionRule"
                },
                {
                  "backupParameters": {
                    "backupType": "Incremental",
                    "objectType": "AzureBackupParams"
                  },
                  "trigger": {
                    "schedule": {
                      "repeatingTimeIntervals": [
                        "R/2026-04-10T02:00:00+00:00/P1D"
                      ],
                      "timeZone": "UTC"
                    },
                    "taggingCriteria": [
                      {
                        "tagInfo": {
                          "tagName": "Default",
                          "id": "Default_"
                        },
                        "taggingPriority": 99,
                        "isDefault": true
                      }
                    ],
                    "objectType": "ScheduleBasedTriggerContext"
                  },
                  "dataStore": {
                    "dataStoreType": "OperationalStore",
                    "objectType": "DataStoreInfoBase"
                  },
                  "name": "Sanitized",
                  "objectType": "AzureBackupRule"
                }
              ],
              "datasourceTypes": [
                "Microsoft.ElasticSan/elasticSans/volumeGroups"
              ],
              "objectType": "BackupPolicy"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupPolicies/test-esan-775311289100793115",
            "name": "Sanitized",
            "type": "Microsoft.DataProtection/backupVaults/backupPolicies"
          },
          {
        [...]
