{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupResourceGuardProxies/DppResourceGuardProxy?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "resourceGuardResourceId": "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/rg-security/providers/Microsoft.DataProtection/resourceGuards/test-guard"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "error": {
          "additionalInfo": [
            {
              "type": "UserFacingError",
              "info": {
                "message": "ResourceGuard resource doesn't exist.",
                "recommendedAction": [
                  ""
                ],
                "details": null,
                "code": "BMSUserErrorResourceGuardResourceDoesntExist",
                "target": "",
                "innerError": null,
                "isRetryable": false,
                "isUserError": false,
                "properties": {
                  "ActivityId": "7734d6d0-4bcc-462f-9f3e-1c78a29c9341"
                }
              }
            }
          ],
          "code": "BMSUserErrorResourceGuardResourceDoesntExist",
          "message": "ResourceGuard resource doesn't exist.",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
