{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "dc8e1f78-f896-4581-9704-62c4d172b995",
          "dc8e1f78-f896-4581-9704-62c4d172b995",
          "dc8e1f78-f896-4581-9704-62c4d172b995",
          "dc8e1f78-f896-4581-9704-62c4d172b995",
          "dc8e1f78-f896-4581-9704-62c4d172b995",
          "dc8e1f78-f896-4581-9704-62c4d172b995"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "name": "Sanitized",
            "etag": "Sanitized",
            "tags": {
              "environment": "test"
            },
            "identity": {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpointStateForBackup": "None",
              "privateEndpointStateForSiteRecovery": "None",
              "secureScore": "None",
              "bcdrSecurityLevel": "Poor",
              "publicNetworkAccess": "Enabled",
              "restoreSettings": {
                "crossSubscriptionRestoreSettings": {
                  "crossSubscriptionRestoreState": "Enabled"
                }
              }
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv",
            "type": "Microsoft.RecoveryServices/vaults",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            }
          },
          {
            "location": "eastus",
            "name": "Sanitized",
            "etag": "Sanitized",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpointStateForBackup": "None",
              "privateEndpointStateForSiteRecovery": "None",
              "secureScore": "None",
              "bcdrSecurityLevel": "Poor",
              "publicNetworkAccess": "Enabled",
              "restoreSetting[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/backupVaults?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "tags": {},
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "storageSettings": [
                {
                  "datastoreType": "VaultStore",
                  "type": "GeoRedundant"
                }
              ],
              "isVaultProtectedByResourceGuard": false,
              "securitySettings": {
                "softDeleteSettings": {
                  "state": "ON",
                  "retentionDurationInDays": 14.0
                },
                "immutabilitySettings": {
                  "state": "Disabled"
                }
              },
              "featureSettings": {
                "crossSubscriptionRestoreSettings": {
                  "state": "Enabled"
                },
                "crossRegionRestoreSettings": {
                  "state": "Disabled"
                }
              },
              "secureScore": "None",
              "bcdrSecurityLevel": "Poor",
              "replicatedRegions": [
                "westus"
              ],
              "regionOfChoiceSettings": {
                "status": "NotApplicable"
              }
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/adkayethbugbash/providers/Microsoft.DataProtection/BackupVaults/adkayethSanity",
            "name": "Sanitized",
            "type": "Microsoft.DataProtection/backupVaults"
          },
          {
            "location": "eastus",
            "tags": {
              "environment": "test"
            },
            "identity": {
              "type": "SystemAssig[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/shrja-test-rsv-manual/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;ShrjaMCPTest-RSV-EA;ShrjaMCPTest-VM/protectedItems/VM;iaasvmcontainerv2;ShrjaMCPTest-RSV-EA;ShrjaMCPTest-VM",
            "name": "Sanitized",
            "type": "Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems",
            "properties": {
              "friendlyName": "Sanitized",
              "virtualMachineId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.Compute/virtualMachines/ShrjaMCPTest-VM",
              "protectionStatus": "Healthy",
              "protectionState": "Protected",
              "healthStatus": "Passed",
              "healthDetails": [
                {
                  "code": 400239,
                  "title": "IaasVmHealthGreenDefault",
                  "message": "Backup pre-check status of this virtual machine is OK.",
                  "recommendations": []
                }
              ],
              "lastBackupStatus": "Completed",
              "lastBackupTime": "2026-04-28T21:30:22.8510098Z",
              "protectedItemDataId": "2027921654762399107",
              "policyType": "V1",
              "protectedItemType": "Microsoft.Compute/virtualMachines",
              "backupManagementType": "AzureIaasVM",
              "workloadType": "VM",
              "containerName": "iaasvmcontainerv2;ShrjaMCPTest-RSV-EA;ShrjaMCPTest-VM",
              "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.Compute/virtualMachines/ShrjaMCPTest-VM",
              "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA/backupPolicies/DefaultPolicy",
              "policyName": "DefaultPolicy",
              "lastRecoveryPoint": "2026-04-28T21:30:28.9057967Z",
              "vaultId": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA",
              "isArchiveEnabled": false,
              "softDeleteRetentionPeriod": 0
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;ShrjaMCPTest-RSV-EA;MCPTest-SQLVM/protectedItems/SQLDataBase;mssqlserver;msdb",
            "name": "Sanitized",
            "type": "Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems",
            "properties": {
              "friendlyName": "Sanitized",
              "serverName": "mcptest-sqlvm",
              "parentName": "MSSQLSERVER",
              "parentType": "AzureVmWorkloadSQLInstance",
              "protectionStatus": "Healthy",
              "protectionState": "Protected",
              "lastBackupStatus": "Healthy",
              "lastBackupTime": "2026-04-28T21:34:33.5702158Z",
              "protectedItemDataSourceId": "2027921654982892533",
              "protectedItemHealthStatus": "Healthy",
              "protectedItemType": "AzureVmWorkloadSQLDatabase",
              "backupManagementType": "AzureWorkload",
              "workloadType": "SQLDataBase",
              "containerName": "VMAppContainer;Compute;ShrjaMCPTest-RSV-EA;MCPTest-SQLVM",
              "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.Compute/virtualMachines/MCPTest-SQLVM",
              "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA/backupPolicies/HourlyLogBackup",
              "vaultId": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA",
              "isArchiveEnabled": false,
              "softDeleteRetentionPeriod": 0
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/mcp-test-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/prep-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/mcplive-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/test-rsv-6176411255133545002/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/ecyrsvault/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "248"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/test-rsv-vault/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-r[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/vault-ls04zqhe/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/kajai-seancanv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/demo-rsv1/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "248"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/testvault-rsv-ea/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimi[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/afsvaultbugbash/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/shrjaMCPTestRSV/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/rsvzonetest/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-rem[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/azbackup-mcp-rsv-20260423/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "248"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/demo-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/mcp-shrja-test-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-rateli[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/rsvault/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaini[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/vault-lrbu601v/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/azbackup-mcp-rsv-eastus2/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/testvault-lrs-euap/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "0",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/vepothir-RSV-locRedu-change/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-GRS-EUAP/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "0",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/shracafsvault/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-r[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/testvault-grs-euap/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/test-dpp-3459093695645914741/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "friendlyName": "Sanitized",
              "dataSourceInfo": {
                "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-disk",
                "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-disk",
                "datasourceType": "Microsoft.Compute/disks",
                "resourceName": "Sanitized-disk",
                "resourceType": "Microsoft.Compute/disks",
                "resourceLocation": "Sanitized",
                "objectType": "Datasource"
              },
              "policyInfo": {
                "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupPolicies/undelete-disk-policy",
                "policyParameters": {
                  "dataStoreParametersList": [
                    {
                      "objectType": "AzureOperationalStoreParameters",
                      "dataStoreType": "OperationalStore",
                      "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized"
                    }
                  ]
                }
              },
              "protectionStatus": {
                "status": "ProtectionStopped"
              },
              "currentProtectionState": "ProtectionStopped",
              "provisioningState": "Succeeded",
              "objectType": "BackupInstance"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupInstances/Sanitized-disk-Sanitized-disk-ce152dfb-f950-4df1-b1d9-6960a8edab20",
            "name": "Sanitized",
            "type": "Microsoft.DataProtection/backupVaults/backupInstances"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/adkayethSanity/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "0",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/anshul-pgflex-prpr-vault/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-r[...]
    {
[...]
