{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/backupVaults?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "tags": {},
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "storageSettings": [
                {
                  "datastoreType": "VaultStore",
                  "type": "GeoRedundant"
                }
              ],
              "isVaultProtectedByResourceGuard": false,
              "securitySettings": {
                "softDeleteSettings": {
                  "state": "ON",
                  "retentionDurationInDays": 14.0
                },
                "immutabilitySettings": {
                  "state": "Disabled"
                }
              },
              "featureSettings": {
                "crossSubscriptionRestoreSettings": {
                  "state": "Enabled"
                },
                "crossRegionRestoreSettings": {
                  "state": "Disabled"
                }
              },
              "secureScore": "None",
              "bcdrSecurityLevel": "Poor",
              "replicatedRegions": [
                "westus"
              ],
              "regionOfChoiceSettings": {
                "status": "NotApplicable"
              }
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/adkayethbugbash/providers/Microsoft.DataProtection/BackupVaults/adkayethSanity",
            "name": "Sanitized",
            "type": "Microsoft.DataProtection/backupVaults"
          },
          {
            "location": "eastus",
            "tags": {},
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "storageSettings": [
                {[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "fe7771f7-740f-4b74-9da5-2d925bcc4156",
          "fe7771f7-740f-4b74-9da5-2d925bcc4156",
          "fe7771f7-740f-4b74-9da5-2d925bcc4156",
          "fe7771f7-740f-4b74-9da5-2d925bcc4156",
          "fe7771f7-740f-4b74-9da5-2d925bcc4156",
          "fe7771f7-740f-4b74-9da5-2d925bcc4156"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "name": "Sanitized",
            "etag": "Sanitized",
            "identity": {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpointStateForBackup": "None",
              "privateEndpointStateForSiteRecovery": "None",
              "secureScore": "None",
              "bcdrSecurityLevel": "Poor",
              "publicNetworkAccess": "Enabled",
              "restoreSettings": {
                "crossSubscriptionRestoreSettings": {
                  "crossSubscriptionRestoreState": "Enabled"
                }
              }
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv",
            "type": "Microsoft.RecoveryServices/vaults",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            }
          },
          {
            "location": "eastus",
            "name": "Sanitized",
            "etag": "Sanitized",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpointStateForBackup": "None",
              "privateEndpointStateForSiteRecovery": "None",
              "secureScore": "None",
              "bcdrSecurityLevel": "Poor",
              "publicNetworkAccess": "Enabled",
              "restoreSetting[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/test-rsv-2088594143409092117/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rkasukuthi/providers/Microsoft.RecoveryServices/vaults/afsvaultbugbash/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-PGFlex/providers/Microsoft.RecoveryServices/vaults/mcplive-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-GRS-EUAP/providers/Microsoft.RecoveryServices/vaults/testvault-grs-euap/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-DR-EUAP/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-GRS-EUAP/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKSTest-Rajat/providers/Microsoft.RecoveryServices/vaults/rsvzonetest/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKSTest-Rajat/providers/Microsoft.RecoveryServices/vaults/rsvzonetest/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;AKSTest-Rajat;vmzonaltest/protectedItems/VM;iaasvmcontainerv2;AKSTest-Rajat;vmzonaltest",
            "name": "Sanitized",
            "type": "Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems",
            "properties": {
              "friendlyName": "Sanitized",
              "virtualMachineId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKSTest-Rajat/providers/Microsoft.Compute/virtualMachines/vmzonaltest",
              "protectionStatus": "Healthy",
              "protectionState": "Protected",
              "healthStatus": "Passed",
              "healthDetails": [
                {
                  "code": 400239,
                  "title": "IaasVmHealthGreenDefault",
                  "message": "Backup pre-check status of this virtual machine is OK.",
                  "recommendations": []
                }
              ],
              "lastBackupStatus": "Completed",
              "lastBackupTime": "2023-09-26T20:07:37.3081382Z",
              "protectedItemDataId": "263884216286689",
              "extendedProperties": {},
              "policyType": "",
              "protectedItemType": "Microsoft.Compute/virtualMachines",
              "backupManagementType": "AzureIaasVM",
              "workloadType": "VM",
              "containerName": "iaasvmcontainerv2;AKSTest-Rajat;vmzonaltest",
              "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKSTest-Rajat/providers/Microsoft.Compute/virtualMachines/vmzonaltest",
              "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKSTest-Rajat/providers/Microsoft.RecoveryServices/vaults/rsvzonetest/backupPolicies/DefaultPolicy",
              "policyName": "DefaultPolicy",
              "lastRecoveryPoint": "2023-09-26T20:07:44.5513204Z",
              "vaultId": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKSTest-Rajat/providers/Microsoft.RecoveryServices/vaults/rsvzonetest",
              "isArchiveEnabled": false,
              "softDeleteRetentionPeriod": 0,
              "sourceLocation": "eastus2euap"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AKSTest-Rajat/providers/Microsoft.RecoveryServices/vaults/rsvzonetest/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;shracrg;shracvelero/protectedItems/AzureFileShare;49DF8F6916AAA64BC26498D55092A99A661111F6CAB7B0BDD2FFAC34EB0F3787",
            "name": "Sanitized",
            "type": "Microsoft.RecoveryServices/vaults/backupFabrics/prote[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/ShrjaMCPTest-RSVault-EA/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/anshulahuja/providers/Microsoft.RecoveryServices/vaults/vault-ls04zqhe/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimi[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/rsvault/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mcplive-azurebackup/providers/Microsoft.RecoveryServices/vaults/mcplive-rsv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-GRS-EUAP/providers/Microsoft.RecoveryServices/vaults/testvault-lrs-euap/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/araj-rg/providers/Microsoft.RecoveryServices/vaults/ecyrsvault/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-RSV-EA/providers/Microsoft.RecoveryServices/vaults/shrjaMCPTestRSV/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vepothir-rg/providers/Microsoft.RecoveryServices/vaults/vepothir-RSV-locRedu-change/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "247"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ShrjaMCPTest-PGFlex/providers/Microsoft.RecoveryServices/vaults/testvault-rsv-ea/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-m[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/LibraryToolRG/providers/Microsoft.RecoveryServices/vaults/kajai-seancanv/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracafsvault/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-rem[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rkasukuthi/providers/Microsoft.RecoveryServices/vaults/vault-lrbu601v/backupProtectedItems?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/urmilaRg2eastasia/providers/Microsoft.DataProtection/backupVaults/pgflexvault/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/eacanvaultrg/providers/Microsoft.DataProtection/backupVaults/sopattnaeavault/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "friendlyName": "Sanitized",
              "dataSourceInfo": {
                "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adkacluster_group/providers/Microsoft.ContainerService/managedClusters/adkDemoTest",
                "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adkacluster_group/providers/Microsoft.ContainerService/managedClusters/adkDemoTest",
                "datasourceType": "Microsoft.ContainerService/managedClusters",
                "resourceName": "adkDemoTest",
                "resourceType": "Microsoft.ContainerService/managedClusters",
                "resourceLocation": "Sanitized",
                "resourceProperties": {
                  "objectType": null
                },
                "objectType": "Datasource"
              },
              "dataSourceSetInfo": {
                "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adkacluster_group/providers/Microsoft.ContainerService/managedClusters/adkDemoTest",
                "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adkacluster_group/providers/Microsoft.ContainerService/managedClusters/adkDemoTest",
                "datasourceType": "Microsoft.ContainerService/managedClusters",
                "resourceName": "adkDemoTest",
                "resourceType": "Microsoft.ContainerService/managedClusters",
                "resourceLocation": "Sanitized",
                "objectType": "DatasourceSet"
              },
              "policyInfo": {
                "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/eacanvaultrg/providers/Microsoft.DataProtection/backupVaults/sopattnaeavault/backupPolicies/aks",
                "policyVersion": "",
                "policyParameters": {
                  "dataStoreParametersList": [
                    {
                      "objectType": "AzureOperationalStoreParameters",
                      "dataStoreType": "OperationalStore",
                      "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/araj-srg"
                    }
                  ],
                  "backupDatasourceParametersList": [
                    {
                      "objectType": "KubernetesClusterBackupDatasourceParameters",
                      "includedNamespaces": null,
                      "excludedNamespaces": null,
                      "includedResourceTypes": null,
                      "excludedResourceTypes": null,
                      "labelSelectors": null,
                      "snapshotVolumes": true,
                      "includeClusterScopeResources": true,
                      "includedVolumeTypes": null,
                      "backupHookReferences": null
                    }
                  ]
                }
              },
              "protectionStatus": {
                "status": "ProtectionConfigured"
              },
              "currentProtectionState": "ProtectionConfigured",
              "provisioningState": "Succeeded",
              "objectType": "BackupInstance"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/eacanvaultrg/providers/Microsoft.DataProtection/backupVaults/sopattnaeavault/backupInstances/adkDemoTest-adkDemoTest-c48df65f-b2b9-461f-96c7-b15655db511d",
            "name": "Sanitized",
            "type": "Microsoft.DataProtection/backupVaults/backupInstances"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/singhank-eacan-rg/providers/Microsoft.DataProtection/backupVaults/singhank-eacan-vault/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/veleroupg-rg-01/providers/Microsoft.DataProtection/backupVaults/veleroupg-vault-01/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DiskFunctionalRunnerRG-ecy/providers/Microsoft.DataProtection/backupVaults/DiskRunnerVault-ecy/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
   [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vepothir-rg/providers/Microsoft.DataProtection/backupVaults/vepothir-shrac-sub-bv1/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-r[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/abhinkBVT/providers/Microsoft.DataProtection/backupVaults/newBackupVault4/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aksrocvault/providers/Microsoft.DataProtection/backupVaults/test-vault-swedencentral/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/test-dpp-2971225821724545086/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shrja-rg-01/providers/Microsoft.DataProtection/backupVaults/shrja-vault-03/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aksbugbashvault/providers/Microsoft.DataProtection/backupVaults/aksbugbashvault3/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-rat[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DiskVaultRG-eastasiaIRMANYA/providers/Microsoft.DataProtection/backupVaults/VaultProduction/backupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
[...]
