{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp?api-version=2025-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "featureSettings": {
            "crossRegionRestoreSettings": {
              "state": "Enabled"
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "error": {
          "additionalInfo": [
            {
              "type": "UserFacingError",
              "info": {
                "message": "Cross region restore is only allowed on Geo Redundunt vault.",
                "recommendedAction": [
                  "Please contact Microsoft Support if this is not expected."
                ],
                "details": null,
                "code": "UserErrorCrossRegionRestoreOnNonGeoRedunduntVaultNotAllowed",
                "target": "",
                "innerError": null,
                "isRetryable": false,
                "isUserError": false,
                "properties": {
                  "ActivityId": "b73daa8b-428b-46dd-9257-2cb490d73ab2"
                }
              }
            }
          ],
          "code": "UserErrorCrossRegionRestoreOnNonGeoRedunduntVaultNotAllowed",
          "message": "Cross region restore is only allowed on Geo Redundunt vault.",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
