{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/deletedBackupInstances?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1100"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "deletionInfo": {
                "deletionTime": "2026-04-21T04:47:02.2609062Z",
                "billingEndDate": "2026-04-21T04:47:02.2609062Z",
                "scheduledPurgeTime": "2026-05-05T04:47:02.2609062Z",
                "deleteActivityID": "68635857-8b4a-4277-a890-b43d89dbef83"
              },
              "friendlyName": "Sanitized",
              "dataSourceInfo": {
                "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-disk",
                "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Compute/disks/Sanitized-disk",
                "datasourceType": "Microsoft.Compute/disks",
                "resourceName": "Sanitized-disk",
                "resourceType": "Microsoft.Compute/disks",
                "resourceLocation": "Sanitized",
                "objectType": "Datasource"
              },
              "policyInfo": {
                "policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupPolicies/undelete-disk-policy",
                "policyParameters": {
                  "dataStoreParametersList": [
                    {
                      "objectType": "AzureOperationalStoreParameters",
                      "dataStoreType": "OperationalStore",
                      "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized"
                    }
                  ]
                }
              },
              "protectionStatus": {
                "status": "SoftDeleted"
              },
              "currentProtectionState": "SoftDeleted",
              "provisioningState": "Succeeded",
              "objectType": "DeletedBackupInstance"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/deletedBackupInstances/Sanitized-disk-Sanitized-disk-ce152dfb-f950-4df1-b1d9-6960a8edab20",
            "name": "Sanitized",
            "type": "Microsoft.DataProtection/backupVaults/deletedBackupInstances"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/deletedBackupInstances/Sanitized-disk-Sanitized-disk-ce152dfb-f950-4df1-b1d9-6960a8edab20/undelete?api-version=2025-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
