{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "location": "eastus",
        "name": "Sanitized",
        "etag": "Sanitized",
        "identity": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None",
          "backupStorageVersion": "Unassigned",
          "securitySettings": {
            "immutabilitySettings": {
              "state": "Disabled"
            },
            "softDeleteSettings": {
              "softDeleteRetentionPeriodInDays": 14,
              "softDeleteState": "Enabled",
              "enhancedSecurityState": "Enabled"
            },
            "multiUserAuthorization": "Disabled",
            "sourceScanConfiguration": {
              "state": "Disabled"
            }
          },
          "redundancySettings": {
            "standardTierStorageRedundancy": "GeoRedundant",
            "crossRegionRestore": "Enabled"
          },
          "secureScore": "None",
          "bcdrSecurityLevel": "Poor",
          "publicNetworkAccess": "Enabled",
          "restoreSettings": {
            "crossSubscriptionRestoreSettings": {
              "crossSubscriptionRestoreState": "Enabled"
            }
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Sanitized",
          "tier": "Standard"
        }
      }
    },
[...]
