{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-dpp?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.RecoveryServices/vaults/Sanitized-dpp' under resource group 'AzureBackupRG_mcp-test' was not found. For more details please go to https://Sanitized.ms/ARMResourceNotFoundFix"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "location": "westus",
        "tags": {
          "environment": "test"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "LocallyRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "securitySettings": {
            "softDeleteSettings": {
              "state": "Off",
              "retentionDurationInDays": 0.0
            }
          },
          "secureScore": "None",
          "bcdrSecurityLevel": "Poor",
          "replicatedRegions": [],
          "regionOfChoiceSettings": {
            "status": "NotApplicable"
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp",
        "name": "Sanitized",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    }
  ],
  "Variables": {}
}
