{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "location": "eastus",
        "name": "Sanitized",
        "etag": "Sanitized",
        "tags": {
          "environment": "test"
        },
        "identity": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None",
          "backupStorageVersion": "Unassigned",
          "securitySettings": {
            "immutabilitySettings": {
              "state": "Unlocked"
            },
            "softDeleteSettings": {
              "softDeleteRetentionPeriodInDays": 30,
              "softDeleteState": "Enabled",
              "enhancedSecurityState": "Enabled"
            },
            "multiUserAuthorization": "Disabled",
            "sourceScanConfiguration": {
              "state": "Disabled"
            }
          },
          "redundancySettings": {
            "standardTierStorageRedundancy": "GeoRedundant",
            "crossRegionRestore": "Enabled"
          },
          "secureScore": "Minimum",
          "bcdrSecurityLevel": "Fair",
          "publicNetworkAccess": "Enabled",
          "restoreSettings": {
            "crossSubscriptionRestoreSettings": {
              "crossSubscriptionRestoreState": "Enabled"
            }
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Sanitized",
          "tier": "Standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupPolicies/test-sql-6084798404497686645?api-version=2025-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "backupManagementType": "AzureWorkload",
          "workLoadType": "SQLDataBase",
          "settings": {
            "timeZone": "UTC",
            "issqlcompression": false,
            "isCompression": false
          },
          "subProtectionPolicy": [
            {
              "policyType": "Full",
              "schedulePolicy": {
                "schedulePolicyType": "SimpleSchedulePolicy",
                "scheduleRunFrequency": "Daily",
                "scheduleRunTimes": [
                  "2026-04-15T02:00:00.0000000Z"
                ]
              },
              "retentionPolicy": {
                "retentionPolicyType": "LongTermRetentionPolicy",
                "dailySchedule": {
                  "retentionTimes": [
                    "2026-04-15T02:00:00.0000000Z"
                  ],
                  "retentionDuration": {
                    "count": 30,
                    "durationType": "Days"
                  }
                }
              }
            },
            {
              "policyType": "Log",
              "schedulePolicy": {
                "schedulePolicyType": "LogSchedulePolicy",
                "scheduleFrequencyInMins": 60
              },
              "retentionPolicy": {
                "retentionPolicyType": "SimpleRetentionPolicy",
                "retentionDuration": {
                  "count": 15,
                  "durationType": "Days"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.RecoveryServices/vaults/Sanitized-rsv/backupPolicies/test-sql-6084798404497686645",
        "name": "Sanitized",
        "type": "Microsoft.RecoveryServices/vaults/backupPolicies",
        "properties": {
          "backupManagementType": "AzureWorkload",
          "workLoadType": "SQLDataBase",
          "settings": {
            "timeZone": "UTC",
            "issqlcompression": false,
            "isCompression": false
          },
          "subProtectionPolicy": [
            {
              "policyType": "Full",
              "schedulePolicy": {
                "schedulePolicyType": "SimpleSchedulePolicy",
                "scheduleRunFrequency": "Daily",
                "scheduleRunTimes": [
                  "2026-04-15T02:00:00Z"
                ],
                "scheduleWeeklyFrequency": 0
              },
              "retentionPolicy": {
                "retentionPolicyType": "LongTermRetentionPolicy",
                "dailySchedule": {
                  "retentionTimes": [
                    "2026-04-15T02:00:00Z"
                  ],
                  "retentionDuration": {
                    "count": 30,
                    "durationType": "Days"
                  }
                }
              }
            },
            {
              "policyType": "Log",
              "schedulePolicy": {
                "schedulePolicyType": "LogSchedulePolicy",
                "scheduleFrequencyInMins": 60
              },
              "retentionPolicy": {
                "retentionPolicyType": "SimpleRetentionPolicy",
                "retentionDuration": {
                  "count": 15,
                  "durationType": "Days"
                }
              }
            }
          ],
          "protectedItemsCount": 0
        }
      }
    }
  ],
  "Variables": {
    "createdSqlPolicyName": "test-sql-6084798404497686645"
  }
}
