{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupPolicies/Sanitized-disk-policy?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "datasourceTypes": [
            "Microsoft.Compute/disks"
          ],
          "objectType": "BackupPolicy",
          "policyRules": [
            {
              "name": "Sanitized",
              "objectType": "AzureRetentionRule",
              "isDefault": true,
              "lifecycles": [
                {
                  "deleteAfter": {
                    "duration": "P7D",
                    "objectType": "AbsoluteDeleteOption"
                  },
                  "sourceDataStore": {
                    "dataStoreType": "OperationalStore",
                    "objectType": "DataStoreInfoBase"
                  }
                }
              ]
            },
            {
              "name": "Sanitized",
              "objectType": "AzureBackupRule",
              "backupParameters": {
                "objectType": "AzureBackupParams",
                "backupType": "Incremental"
              },
              "dataStore": {
                "dataStoreType": "OperationalStore",
                "objectType": "DataStoreInfoBase"
              },
              "trigger": {
                "objectType": "ScheduleBasedTriggerContext",
                "schedule": {
                  "repeatingTimeIntervals": [
                    "R/2026-04-29T02:00:00+00:00/PT4H"
                  ],
                  "timeZone": "UTC"
                },
                "taggingCriteria": [
                  {
                    "isDefault": true,
                    "taggingPriority": 99,
                    "tagInfo": {
                      "tagName": "Default"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "error": {
          "additionalInfo": [
            {
              "type": "UserFacingError",
              "info": {
                "message": "Update of existing policy is not supported.",
                "recommendedAction": [
                  "Please create a new policy."
                ],
                "details": null,
                "code": "UserErrorBMSUpdatePolicyNotSupported",
                "target": "",
                "innerError": null,
                "isRetryable": false,
                "isUserError": false,
                "properties": {
                  "ActivityId": "8d64c33f-a9dc-4a49-8f7e-6a12084e1f40"
                }
              }
            }
          ],
          "code": "UserErrorBMSUpdatePolicyNotSupported",
          "message": "Update of existing policy is not supported.",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
