{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp?api-version=2025-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "securitySettings": {
            "softDeleteSettings": {
              "state": "Off"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-arm-resource-system-data": "{\"lastModifiedBy\":\"shrja@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-04-09T05:03:53.8799558Z\"}",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "location": "westus",
        "tags": {
          "environment": "test"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "LocallyRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "securitySettings": {
            "softDeleteSettings": {
              "state": "Off",
              "retentionDurationInDays": 0.0
            },
            "immutabilitySettings": {
              "state": "Disabled"
            }
          },
          "secureScore": "None",
          "bcdrSecurityLevel": "Poor",
          "replicatedRegions": [],
          "regionOfChoiceSettings": {
            "status": "NotApplicable"
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AzureBackupRG_mcp-test/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp",
        "name": "Sanitized",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    }
  ],
  "Variables": {}
}
