{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.RecoveryServices/vaults/Sanitized-dpp?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.RecoveryServices/vaults/Sanitized-dpp' under resource group 'Sanitized' was not found. For more details please go to https://Sanitized.ms/ARMResourceNotFoundFix"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {
          "environment": "test"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "GeoRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "securitySettings": {
            "softDeleteSettings": {
              "state": "AlwaysOn",
              "retentionDurationInDays": 14.0
            },
            "immutabilitySettings": {
              "state": "Disabled"
            }
          },
          "featureSettings": {
            "crossSubscriptionRestoreSettings": {
              "state": "Enabled"
            },
            "crossRegionRestoreSettings": {
              "state": "Enabled"
            }
          },
          "secureScore": "Adequate",
          "bcdrSecurityLevel": "Good",
          "replicatedRegions": [
            "westus"
          ],
          "regionOfChoiceSettings": {
            "status": "NotApplicable"
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.DataProtection/BackupVaults/Sanitized-dpp",
        "name": "Sanitized",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.DataProtection/backupVaults/Sanitized-dpp/backupPolicies/test-get-7724253093465710450?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "datasourceTypes": [
            "Microsoft.Compute/disks"
          ],
          "objectType": "BackupPolicy",
          "policyRules": [
            {
              "name": "Sanitized",
              "objectType": "AzureRetentionRule",
              "isDefault": true,
              "lifecycles": [
                {
                  "deleteAfter": {
                    "duration": "P7D",
                    "objectType": "AbsoluteDeleteOption"
                  },
                  "sourceDataStore": {
                    "dataStoreType": "OperationalStore",
                    "objectType": "DataStoreInfoBase"
                  }
                }
              ]
            },
            {
              "name": "Sanitized",
              "objectType": "AzureBackupRule",
              "backupParameters": {
                "objectType": "AzureBackupParams",
                "backupType": "Incremental"
              },
              "dataStore": {
                "dataStoreType": "OperationalStore",
                "objectType": "DataStoreInfoBase"
              },
              "trigger": {
                "objectType": "ScheduleBasedTriggerContext",
                "schedule": {
                  "repeatingTimeIntervals": [
                    "R/2026-04-29T02:00:00+00:00/PT4H"
                  ],
                  "timeZone": "UTC"
                },
                "taggingCriteria": [
                  {
                    "isDefault": true,
                    "taggingPriority": 99,
                    "tagInfo": {
                      "tagName": "Default"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "properties": {
          "policyRules": [
            {
              "lifecycles": [
                {
                  "deleteAfter": {
   [...]
[...]
