{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:55:27 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nRwiL80aOESlTCwzkLAKjg.0",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa18-7f65-1985-09482200c4af"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:55:27 GMT",
        "Repeatability-Request-ID": "cb16731f-837a-49d6-b934-9d64b24cbe7e",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:55:27 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa18-7f65-1985-09482200c4af": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa18-7faa-1985-09482200c4b0": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99466379342599004",
        "MS-CV": "hL4sewlr40e8vb8j7jzIqg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99466379342599004",
        "createdAt": "2024-03-20T04:55:28.916678\u002B00:00",
        "validFrom": "2024-03-20T04:55:27.6706629\u002B00:00",
        "validUntil": "2024-03-21T04:55:27.6706629\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:55:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dlpyBUIZkUapFe5mGZs71Q.0"
      },
      "ResponseBody": {
        "id": "99466379342599004",
        "createdAt": "2024-03-20T04:55:28.916678\u002B00:00",
        "validFrom": "2024-03-20T04:55:27.6706629\u002B00:00",
        "validUntil": "2024-03-21T04:55:27.6706629\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:55:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IY42cmj62k6ZhMh1ZAwJZA.0",
        "x-ms-error-code": "NotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The server cannot find the requested resource."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1291936003"
  }
}
