{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 00:41:56 GMT",
        "Repeatability-Request-ID": "58990df8-5c6c-4c1a-b282-608f8533e836",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:56 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99466408974688689",
        "MS-CV": "XAG7lev9Nk6cWlsucLyGOQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99466408974688689",
        "createdAt": "2023-09-21T00:41:56.9111727\u002B00:00",
        "validFrom": "2023-09-21T00:41:56.5087632\u002B00:00",
        "validUntil": "2023-09-22T00:41:56.5087632\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BOs0Ekaz4U6NIRE89ghQcw.0"
      },
      "ResponseBody": {
        "id": "99466408974688689",
        "createdAt": "2023-09-21T00:41:56.9111727\u002B00:00",
        "validFrom": "2023-09-21T00:41:56.5087632\u002B00:00",
        "validUntil": "2023-09-22T00:41:56.5087632\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "MS-CV": "JB9UBaHfpkivzFweO/pyuA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1320500058"
  }
}
