{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:30:44 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99463825107705221",
        "X-Microsoft-Skype-Chain-ID": "c116b90f-70d7-48bf-945e-77f0217dbc70",
        "X-Microsoft-Skype-Message-ID": "b09e2bff-4d51-4244-a969-e3b6b3269b9e",
        "X-MS-Skype-MLC-Telemetry-Id": "c116b90f-70d7-48bf-945e-77f0217dbc70"
      },
      "ResponseBody": {
        "id": "99463825107705221",
        "createdAt": "2025-08-29T00:30:44.4034965+00:00",
        "validFrom": "2025-08-29T00:30:44.2690853+00:00",
        "validUntil": "2025-08-30T00:30:44.2690853+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2[...]
