{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:32:56 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99465751303575805",
        "X-Microsoft-Skype-Chain-ID": "5750b9e3-6f4b-4ac1-b4b9-c6c8017ee835",
        "X-Microsoft-Skype-Message-ID": "b48a2391-9421-49b1-8895-6aa2b39f9797",
        "X-MS-Skype-MLC-Telemetry-Id": "5750b9e3-6f4b-4ac1-b4b9-c6c8017ee835"
      },
      "ResponseBody": {
        "id": "99465751303575805",
        "createdAt": "2025-08-29T00:32:56.6702399+00:00",
        "validFrom": "2025-08-29T00:32:56.539982+00:00",
        "validUntil": "2025-08-30T00:32:56.539982+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 202[...]
