{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:57:59 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99421685482040362",
        "X-Microsoft-Skype-Chain-ID": "8e29da7c-cc95-4336-91fa-0fe2e754d3cc",
        "X-Microsoft-Skype-Message-ID": "78665ec6-f6ce-4996-a18f-cc397e3072fe",
        "X-MS-Skype-MLC-Telemetry-Id": "8e29da7c-cc95-4336-91fa-0fe2e754d3cc"
      },
      "ResponseBody": {
        "id": "99421685482040362",
        "createdAt": "2025-08-28T17:57:59.4144937+00:00",
        "validFrom": "2025-08-28T17:57:59.2779879+00:00",
        "validUntil": "2025-08-29T17:57:59.2779879+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2[...]
