{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:30:47 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99430817521750360",
        "X-Microsoft-Skype-Chain-ID": "883a5c3a-4804-4a13-b315-80674e37a923",
        "X-Microsoft-Skype-Message-ID": "e50dcac3-5e02-44ae-a0f0-aad7321d0ed8",
        "X-MS-Skype-MLC-Telemetry-Id": "883a5c3a-4804-4a13-b315-80674e37a923"
      },
      "ResponseBody": {
        "id": "99430817521750360",
        "createdAt": "2025-08-29T00:30:47.6781933+00:00",
        "validFrom": "2025-08-29T00:30:47.6089365+00:00",
        "validUntil": "2026-02-25T00:30:47.6089365+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:30:47 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "participants": {
          "invalid_mri": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json",
        "X-Microsoft-Skype-Chain-ID": "a3cc8847-19fe-44b7-b019-df628a86f9f8",
        "X-Microsoft-Skype-Message-ID": "0a0ec21c-c682-491e-997b-6f4b19da0aaa",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Invalid format for communication identifier.",
          "details": []
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2123583696"
  }
}
