{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:55:56 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AeJfHwas1EeMssFS4x/F5g.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa18-f085-1985-09482200c4d9"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:55:56 GMT",
        "Repeatability-Request-ID": "835694d7-b57f-4663-b7a7-d4bb6045771c",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:55:56 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa18-f085-1985-09482200c4d9": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99471519391713884",
        "MS-CV": "2z7T4p7qm0\u002BRHj7sj\u002BVkiQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99471519391713884",
        "createdAt": "2024-03-20T04:55:57.5445694\u002B00:00",
        "validFrom": "2024-03-20T04:55:57.4515643\u002B00:00",
        "validUntil": "2024-09-16T04:55:57.4515643\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "808018381"
  }
}
