{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:58:08 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99442970588804209",
        "X-Microsoft-Skype-Chain-ID": "409629b8-bc1e-4aeb-a668-f98ae88a33ba",
        "X-Microsoft-Skype-Message-ID": "0a5f8ebb-c6ec-4415-b158-3a640debe842",
        "X-MS-Skype-MLC-Telemetry-Id": "409629b8-bc1e-4aeb-a668-f98ae88a33ba"
      },
      "ResponseBody": {
        "id": "99442970588804209",
        "createdAt": "2025-08-28T17:58:08.6024785+00:00",
        "validFrom": "2025-08-28T17:58:08.5367152+00:00",
        "validUntil": "2026-02-24T17:58:08.5367152+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1022842005"
  }
}
