{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 00:42:07 GMT",
        "Repeatability-Request-ID": "6e0a7799-5637-4eba-a796-8defcd19d265",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:42:07 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99447154828997867",
        "MS-CV": "\u002BoCLdphf6Uqoly0b2LSnXw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99447154828997867",
        "createdAt": "2023-09-21T00:42:07.4831995\u002B00:00",
        "validFrom": "2023-09-21T00:42:07.3856118\u002B00:00",
        "validUntil": "2024-03-19T00:42:07.3856118\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1531089731"
  }
}
