{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:33:12 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99424506364296883",
        "X-Microsoft-Skype-Chain-ID": "5ff70fd1-a519-48d9-bbfb-f77a8ad1f3cb",
        "X-Microsoft-Skype-Message-ID": "0665965c-1bb6-447a-b867-e787f77011bc",
        "X-MS-Skype-MLC-Telemetry-Id": "5ff70fd1-a519-48d9-bbfb-f77a8ad1f3cb"
      },
      "ResponseBody": {
        "id": "99424506364296883",
        "createdAt": "2025-08-29T00:33:12.9546319+00:00",
        "validFrom": "2025-08-29T00:33:12.8841765+00:00",
        "validUntil": "2026-02-25T00:33:12.8841765+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1341236073"
  }
}
