{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:55:52 GMT",
        "Repeatability-Request-ID": "effb7f60-bd32-488d-b107-6381eaace109",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:55:52 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99471338867907561",
        "MS-CV": "L1zqtEqNxEWPgObGYTtSfg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99471338867907561",
        "createdAt": "2024-03-20T04:55:53.1742086\u002B00:00",
        "validFrom": "2024-03-20T04:55:53.0802223\u002B00:00",
        "validUntil": "2024-09-16T04:55:53.0802223\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "522196805"
  }
}
