{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:30:51 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "participants": {
          "invalid_mri": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json",
        "X-Microsoft-Skype-Chain-ID": "02ee4ce4-7e7d-4e8b-992e-5a5cbd119140",
        "X-Microsoft-Skype-Message-ID": "501bcac8-cc16-485f-af44-33dcc4f1fa53",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Invalid format for communication identifier.",
          "details": []
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "756122067"
  }
}
