{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:30:52 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99410910762536768",
        "X-Microsoft-Skype-Chain-ID": "aab8c1c3-fda6-4905-b9ea-640a94d79f82",
        "X-Microsoft-Skype-Message-ID": "aa43b70d-4faa-4ccb-95ce-376b0bb861f9",
        "X-MS-Skype-MLC-Telemetry-Id": "aab8c1c3-fda6-4905-b9ea-640a94d79f82"
      },
      "ResponseBody": {
        "id": "99410910762536768",
        "createdAt": "2025-08-29T00:30:52.3164292+00:00",
        "validFrom": "2025-08-29T00:30:52.247095+00:00",
        "validUntil": "2026-02-25T00:30:52.247095+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1212799700"
  }
}
