{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 21:06:40 GMT",
        "Repeatability-Request-ID": "9d449fc2-d56a-497c-9d27-f9f31682ebaf",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:06:40 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zLOc6VarakqSH7AYPU5K4w.0",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1580972893"
  }
}
