{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:30:59 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true,
        "participants": {
          "invalid_mri": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Invalid format for communication identifier."
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "730497718"
  }
}
