{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:39:45 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dy7npplm/USPda80XRbh5Q.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001d-696c-beeb-1788-09482200c7d2"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 02 Jan 2024 09:39:45 GMT",
        "Repeatability-Request-ID": "e2b3a4a5-ccd3-455d-9a09-43acee48c70f",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:39:45 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99429690370991207",
        "MS-CV": "qkPb2KUBEk2hPjluyBrBgg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99429690370991207",
        "createdAt": "2024-01-02T09:39:46.371908\u002B00:00",
        "validFrom": "2024-01-02T09:39:46.2316396\u002B00:00",
        "validUntil": "2024-06-30T09:39:46.2316396\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "625135758"
  }
}
