{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 21:07:26 GMT",
        "Repeatability-Request-ID": "db3004dd-3cdf-4da6-b423-2492b5ceb02b",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:07:26 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99481317538184728",
        "MS-CV": "YcpQB38hM0OY2LIpWOIFMA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99481317538184728",
        "createdAt": "2023-09-21T21:07:27.1047062\u002B00:00",
        "validFrom": "2023-09-21T21:07:26.9637886\u002B00:00",
        "validUntil": "2024-03-19T21:07:26.9637886\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "94407380"
  }
}
