{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:42:12 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kj6L8BzVekytf5mIFcgvEA.0",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5511-939f-b688-09482200b77d"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 00:42:12 GMT",
        "Repeatability-Request-ID": "55586a92-210b-44e3-951f-7e70918175be",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:42:12 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99473792251436408",
        "MS-CV": "0g6F9xO0JEKyYZ\u002B0recfiw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99473792251436408",
        "createdAt": "2023-09-21T00:42:12.5055272\u002B00:00",
        "validFrom": "2023-09-21T00:42:12.3991859\u002B00:00",
        "validUntil": "2024-03-19T00:42:12.3991859\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1717569030"
  }
}
