{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:53:30 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PwmLxa5TCkCZ\u002BrI7tHccyg.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5db1-3397-1985-094822006291"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:53:30 GMT",
        "Repeatability-Request-ID": "0f7ac55c-dcd3-4e7d-9499-61a2401a684a",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:53:30 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99425248873408528",
        "MS-CV": "zHkyB9Isdk61y7QDgDiOzw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99425248873408528",
        "createdAt": "2023-09-22T16:53:31.3816254\u002B00:00",
        "validFrom": "2023-09-22T16:53:31.2919487\u002B00:00",
        "validUntil": "2024-03-20T16:53:31.2919487\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1208340232"
  }
}
