{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:30:52 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99417194565494162",
        "X-Microsoft-Skype-Chain-ID": "504a4850-2d87-4b53-8861-ce6f9ef984fe",
        "X-Microsoft-Skype-Message-ID": "fd466965-cbb0-43c7-9b54-e639dfcd9f3a",
        "X-MS-Skype-MLC-Telemetry-Id": "504a4850-2d87-4b53-8861-ce6f9ef984fe"
      },
      "ResponseBody": {
        "id": "99417194565494162",
        "createdAt": "2025-08-29T00:30:52.9925305+00:00",
        "validFrom": "2025-08-29T00:30:52.9220756+00:00",
        "validUntil": "2026-02-25T00:30:52.9220756+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "240818152"
  }
}
