{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:31:00 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "pstnDialOutEnabled": false,
        "participants": {
          "invalid_mri": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json",
        "X-Microsoft-Skype-Chain-ID": "6972b1e1-19cf-4f29-97b1-8212e24d8f42",
        "X-Microsoft-Skype-Message-ID": "6d6e1474-a0ea-44bc-89b4-48b79ce7431a",
        "x-ms-error-code": "BadRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Invalid format for communication identifier.",
          "details": []
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1725818996"
  }
}
