{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:58:17 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "20ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:1baa2c90-9c2f-4958-8834-d0197bd38767_00000029-91b6-3802-e84c-09bd45604eb4"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:58:17 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true,
        "participants": {
          "8:acs:1baa2c90-9c2f-4958-8834-d0197bd38767_00000029-91b6-3802-e84c-09bd45604eb4": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99442146973941526",
        "X-Microsoft-Skype-Chain-ID": "5bc331b9-9f5f-49af-aae9-f473e1ebc76d",
        "X-Microsoft-Skype-Message-ID": "5b8d3228-0475-457d-9d2f-fb60f6120a5e",
        "X-MS-Skype-MLC-Telemetry-Id": "5bc331b9-9f5f-49af-aae9-f473e1ebc76d"
      },
      "ResponseBody": {
        "id": "99442146973941526",
        "createdAt": "2025-08-28T17:58:17.4750218+00:00",
        "validFrom": "2025-08-28T17:58:17.3288435+00:00",
        "validUntil": "2025-08-29T17:58:17.3288435+00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "773699122"
  }
}
