{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 00:41:18 GMT",
        "Repeatability-Request-ID": "16807732-2101-4939-8cc9-493ff52ff997",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:18 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99496381135801026",
        "MS-CV": "dhX6Oh1u\u002B0SsG0Q\u002BBw2l2A.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99496381135801026",
        "createdAt": "2023-09-21T00:41:19.3548944\u002B00:00",
        "validFrom": "2023-09-21T00:41:19.2592272\u002B00:00",
        "validUntil": "2024-03-19T00:41:19.2592272\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "537631653"
  }
}
