{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:58:31 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99417311199953445",
        "X-Microsoft-Skype-Chain-ID": "fbb49747-4351-4669-b9b9-204086cc20f1",
        "X-Microsoft-Skype-Message-ID": "dc69b14d-0611-43fd-b2c8-6367ef97e4c0",
        "X-MS-Skype-MLC-Telemetry-Id": "fbb49747-4351-4669-b9b9-204086cc20f1"
      },
      "ResponseBody": {
        "id": "99417311199953445",
        "createdAt": "2025-08-28T17:58:31.5789692+00:00",
        "validFrom": "2025-08-28T17:58:31.5135909+00:00",
        "validUntil": "2026-02-24T17:58:31.5135909+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:58:31 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeade[...]
