{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:06 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99442576383476409",
        "X-Microsoft-Skype-Chain-ID": "7aebfb48-f8ec-4fcb-aae6-ebb92f5b8fbf",
        "X-Microsoft-Skype-Message-ID": "b77957b4-183a-47af-bf63-1a326f0498b8",
        "X-MS-Skype-MLC-Telemetry-Id": "7aebfb48-f8ec-4fcb-aae6-ebb92f5b8fbf"
      },
      "ResponseBody": {
        "id": "99442576383476409",
        "createdAt": "2025-08-28T18:01:07.1254901+00:00",
        "validFrom": "2025-08-28T18:01:07.0532964+00:00",
        "validUntil": "2026-02-24T18:01:07.0532964+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:07 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "fdd3a372-78b4-4545-9953-c96aaa8dc192",
        "X-Microsoft-Skype-Message-ID": "cc2ec7ea-fdb9-4bc3-8738-a7ba790abe48",
        "X-MS-Skype-MLC-Telemetry-Id": "fdd3a372-78b4-4545-9953-c96aaa8dc192"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99442576383476409",
            "createdAt": "0001-01-01T00:00:00+00:00",
            "validFrom": "2025-08-28T18:01:07.0532964+00:00",
            "validUntil": "2026-02-24T18:01:07.0532964+00:00",
            "pstnDialOutEnabled": false
          },
          {
            "id": "99489095683922566",
            "createdAt": "0001-01-01T00:00:00+00:00",
            "validFrom": "2025-08-28T18:01:06.9028944+00:00",
            "validUntil": "2025-09-[...]
