{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:33:42 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99436374502478807",
        "X-Microsoft-Skype-Chain-ID": "a22c79fd-b0b8-4e55-964c-81f50aa04e42",
        "X-Microsoft-Skype-Message-ID": "2a531337-918f-44bf-82c6-b11c96648263",
        "X-MS-Skype-MLC-Telemetry-Id": "a22c79fd-b0b8-4e55-964c-81f50aa04e42"
      },
      "ResponseBody": {
        "id": "99436374502478807",
        "createdAt": "2025-08-29T00:33:42.8279973+00:00",
        "validFrom": "2025-08-29T00:33:42.755052+00:00",
        "validUntil": "2026-02-25T00:33:42.755052+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:33:43 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "71832c48-2a17-497b-8662-a9f776242917",
        "X-Microsoft-Skype-Message-ID": "0a22aab1-77ce-4eca-98a9-4f77cadb3a70",
        "X-MS-Skype-MLC-Telemetry-Id": "71832c48-2a17-497b-8662-a9f776242917"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99436374502478807",
            "createdAt": "0001-01-01T00:00:00+00:00",
            "validFrom": "2025-08-29T00:33:42.755052+00:00",
            "validUntil": "2026-02-25T00:33:42.755052+00:00",
            "pstnDialOutEnabled": false
          },
          {
            "id": "9944925338447054",
            "createdAt": "0001-01-01T00:00:00+00:00",
            "validFrom": "2025-08-29T00:33:35.0904969+00:00",
            "validUntil": "2026-02-25T[...]
