{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:33:43 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99475722790616423",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99475722790616423",
        "createdAt": "2025-08-29T00:33:43.9111627+00:00",
        "validFrom": "2025-08-29T00:33:43.8123377+00:00",
        "validUntil": "2026-02-25T00:33:43.8123377+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:33:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99475722790616423",
            "createdAt": "2025-08-29T00:33:43.9111627+00:00",
            "validFrom": "2025-08-29T00:33:43.8123377+00:00",
            "validUntil": "2026-02-25T00:33:43.8123377+00:00",
            "pstnDialOutEnabled": false
          },
          {
            "id": "99437560213739764",
            "createdAt": "2025-08-29T00:33:44.1168693+00:00",
            "validFrom": "2025-08-29T00:33:43.7710718+00:00",
            "validU[...]
