{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 21:20:29 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99450078806974488",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99450078806974488",
        "createdAt": "2025-08-28T21:20:29.9715365+00:00",
        "validFrom": "2025-08-28T21:20:29.8930936+00:00",
        "validUntil": "2026-02-24T21:20:29.8930936+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 21:20:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99450078806974488",
            "createdAt": "2025-08-28T21:20:29.9715365+00:00",
            "validFrom": "2025-08-28T21:20:29.8930936+00:00",
            "validUntil": "2026-02-24T21:20:29.8930936+00:00",
            "pstnDialOutEnabled": false
          },
          {
            "id": "9947971374879571",
            "createdAt": "2025-08-28T21:20:29.9352673+00:00",
            "validFrom": "2025-08-28T21:20:29.7175992+00:00",
            "validUn[...]
