{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:31:16 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99433205705849086",
        "X-Microsoft-Skype-Chain-ID": "760c2b0e-d294-4d5a-b129-52be1778adf3",
        "X-Microsoft-Skype-Message-ID": "6bc1f729-af0e-4e64-a738-a95a7914cd90",
        "X-MS-Skype-MLC-Telemetry-Id": "760c2b0e-d294-4d5a-b129-52be1778adf3"
      },
      "ResponseBody": {
        "id": "99433205705849086",
        "createdAt": "2025-08-29T00:31:16.8373975+00:00",
        "validFrom": "2025-08-29T00:31:16.7690616+00:00",
        "validUntil": "2026-02-25T00:31:16.7690616+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:31:17 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "2ac81ee5-3415-40bd-9548-f7c89777b1ea",
        "X-Microsoft-Skype-Message-ID": "760ce553-c5ab-4a7d-982e-89bf8b852c25",
        "X-MS-Skype-MLC-Telemetry-Id": "2ac81ee5-3415-40bd-9548-f7c89777b1ea"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "99433205705849086",
            "createdAt": "0001-01-01T00:00:00+00:00",
            "validFrom": "2025-08-29T00:31:16.7690616+00:00",
            "validUntil": "2026-02-25T00:31:16.7690616+00:00",
            "pstnDialOutEnabled": false
          },
          {
            "id": "99460789338169521",
            "createdAt": "0001-01-01T00:00:00+00:00",
            "validFrom": "2025-08-29T00:31:16.3216972+00:00",
            "validUntil": "2025-08-[...]
