{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:30 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "vhA6ma7oiUm\u002BlysdM/7E7g.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f327-b688-09482200b754"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 00:41:31 GMT",
        "Repeatability-Request-ID": "c5ad87d4-a687-4f05-8215-c30228c2801c",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:31 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f327-b688-09482200b754": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f352-b688-09482200b755": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99481786191387920",
        "MS-CV": "POpezU09wEuJxKbDUJE7Fg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99481786191387920",
        "createdAt": "2023-09-21T00:41:31.4945489\u002B00:00",
        "validFrom": "2023-09-21T00:41:31.0934161\u002B00:00",
        "validUntil": "2023-09-22T00:41:31.0934161\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:31 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f352-b688-09482200b755": {
            "role": "Consumer"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f37c-b688-09482200b756": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dhdLND6TEUG\u002BvKNnoVHkVw.0"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-10-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "finkiJk4aEKktH7q/H4dIQ.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f327-b688-09482200b754",
            "role": "Presenter"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f352-b688-09482200b755",
            "role": "Consumer"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-5510-f37c-b688-09482200b756",
            "role": "Attendee"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 00:41:33 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "MS-CV": "ZfcckzPg1kWXDym84jCDuA.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "486305737"
  }
}
