{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 22:59:50 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "h8atNj\u002BoBkylpxwCFSX2Eg.0",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-807e-1788-094822003f67"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 19 Sep 2023 22:59:50 GMT",
        "Repeatability-Request-ID": "e9ff8924-dbce-4e41-91b5-f0656d5f1635",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 22:59:50 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-807e-1788-094822003f67": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-80b1-1788-094822003f68": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9942084482056591",
        "MS-CV": "gAFyHOQQZkSZg\u002BTuQsqHkA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9942084482056591",
        "createdAt": "2023-09-19T22:59:50.8429635\u002B00:00",
        "validFrom": "2023-09-19T22:59:50.2150692\u002B00:00",
        "validUntil": "2023-09-20T22:59:50.2150692\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 22:59:50 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-80b1-1788-094822003f68": {
            "role": "Consumer"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-80e1-1788-094822003f69": {
            "role": "Attendee"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AQB51mojckOPjeNGMKmZ5w.0"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2023-10-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 22:59:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jaC3dSrrl0WuBVNvNhp84Q.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-807e-1788-094822003f67",
            "role": "Presenter"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-80b1-1788-094822003f68",
            "role": "Consumer"
          },
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001b-4f8d-80e1-1788-094822003f69",
            "role": "Attendee"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 22:59:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "MS-CV": "YyfMPS9MS0yIS38sbqti\u002Bw.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1514106411"
  }
}
