{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 21:07:55 GMT",
        "Repeatability-Request-ID": "852dde8a-dbbf-4362-8429-d667e2869859",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:07:55 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "9943231026544804",
        "MS-CV": "sgd5IDeL1UK/M/ZeJq4Muw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "9943231026544804",
        "createdAt": "2023-09-21T21:07:55.8953238\u002B00:00",
        "validFrom": "2023-09-21T21:07:55.387621\u002B00:00",
        "validUntil": "2023-10-01T21:07:55.387621\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:07:55 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "umAylg45A0aoCA64DqYQBA.0"
      },
      "ResponseBody": {
        "id": "9943231026544804",
        "createdAt": "2023-09-21T21:07:55.8953238\u002B00:00",
        "validFrom": "2023-09-21T21:07:55.387621\u002B00:00",
        "validUntil": "2023-10-01T21:07:55.387621\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1907548556"
  }
}
