{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:56 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99422382582329848",
        "X-Microsoft-Skype-Chain-ID": "afbfcdff-0efb-4de2-9ab2-5e2238e0b2e8",
        "X-Microsoft-Skype-Message-ID": "ad0f3685-967e-4c3f-a2c8-78d5c44ef0d6",
        "X-MS-Skype-MLC-Telemetry-Id": "afbfcdff-0efb-4de2-9ab2-5e2238e0b2e8"
      },
      "ResponseBody": {
        "id": "99422382582329848",
        "createdAt": "2025-08-28T18:01:56.7463728+00:00",
        "validFrom": "2025-08-28T18:01:56.5503155+00:00",
        "validUntil": "2025-09-07T18:01:56.5503155+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content[...]
