{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:32:19 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99412625101450189",
        "X-Microsoft-Skype-Chain-ID": "9ce3e91d-d4ab-4390-92e4-16b92c974574",
        "X-Microsoft-Skype-Message-ID": "3a84ad6e-c20d-498d-a4c6-3a881b4168c2",
        "X-MS-Skype-MLC-Telemetry-Id": "9ce3e91d-d4ab-4390-92e4-16b92c974574"
      },
      "ResponseBody": {
        "id": "99412625101450189",
        "createdAt": "2025-08-29T00:32:20.0647565+00:00",
        "validFrom": "2025-08-29T00:32:19.9315745+00:00",
        "validUntil": "2025-09-08T00:32:19.9315745+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:32:20 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "pstnDialOutEnabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "6468de13-6215-4579-b64a-6389f2650976",
        "X-Microsoft-Skype-Message-ID": "d68e21b2-9f59-422c-9e7b-65e8b4ea4dc0",
        "X-MS-Skype-MLC-Telemetry-Id": "6468de13-6215-4579-b64a-6389f2650976"
      },
      "ResponseBody": {
        "id": "99412625101450189",
        "createdAt": "0001-01-01T00:00:00+00:00",
        "validFrom": "2025-08-29T00:32:19.9315745+00:00",
        "validUntil": "2025-09-08T00:32:19.9315745+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "58559601"
  }
}
