{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:41 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99464093880668327",
        "X-Microsoft-Skype-Chain-ID": "f99a24f7-b2b3-40ed-bead-37620a732327",
        "X-Microsoft-Skype-Message-ID": "882be076-033f-468a-94e5-d7e8a1dcb171",
        "X-MS-Skype-MLC-Telemetry-Id": "f99a24f7-b2b3-40ed-bead-37620a732327"
      },
      "ResponseBody": {
        "id": "99464093880668327",
        "createdAt": "2025-08-28T18:01:41.5392605+00:00",
        "validFrom": "2025-08-28T18:01:41.3449277+00:00",
        "validUntil": "2025-09-07T18:01:41.3449277+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:41 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "453e1c62-aad5-40c6-bfbd-aa2d68bf8fb5",
        "X-Microsoft-Skype-Message-ID": "16108057-16d2-4a4d-a15d-e24dd73d1cc1",
        "X-MS-Skype-MLC-Telemetry-Id": "453e1c62-aad5-40c6-bfbd-aa2d68bf8fb5"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1835318368"
  }
}
