{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:02:17 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99426937406248384",
        "X-Microsoft-Skype-Chain-ID": "65c87139-1f8e-43a7-b3a2-9cf33ae0e610",
        "X-Microsoft-Skype-Message-ID": "e6791ed4-20d6-458d-8ec4-2c1289bdbb78",
        "X-MS-Skype-MLC-Telemetry-Id": "65c87139-1f8e-43a7-b3a2-9cf33ae0e610"
      },
      "ResponseBody": {
        "id": "99426937406248384",
        "createdAt": "2025-08-28T18:02:17.2806273+00:00",
        "validFrom": "2025-08-28T18:02:17.0848786+00:00",
        "validUntil": "2025-09-07T18:02:17.0848786+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:02:17 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "3808042e-7fe0-448e-bf04-86bcb3d64144",
        "X-Microsoft-Skype-Message-ID": "85009b1a-eadd-4aaa-9a66-4858903d5dac",
        "X-MS-Skype-MLC-Telemetry-Id": "3808042e-7fe0-448e-bf04-86bcb3d64144"
      },
      "ResponseBody": {
        "id": "99426937406248384",
        "createdAt": "0001-01-01T00:00:00+00:00",
        "validFrom": "2025-08-28T18:02:17.0848786+00:00",
        "validUntil": "2025-09-07T18:02:17.0848786+00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "431244671"
  }
}
