{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 19 Sep 2023 23:00:52 GMT",
        "Repeatability-Request-ID": "a9abcf71-4e70-4783-9dbc-81df832a44e5",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 23:00:52 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99493159339400081",
        "MS-CV": "QA/7IxfYGEuK\u002BmwFQvCBdg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99493159339400081",
        "createdAt": "2023-09-19T23:00:52.8607696\u002B00:00",
        "validFrom": "2023-09-19T23:00:52.2301962\u002B00:00",
        "validUntil": "2023-09-29T23:00:52.2301962\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 23:00:52 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "NqUdCiFPekiwKELdvDHQcw.0"
      },
      "ResponseBody": {
        "id": "99493159339400081",
        "createdAt": "2023-09-19T23:00:52.8607696\u002B00:00",
        "validFrom": "2023-09-19T23:00:52.2301962\u002B00:00",
        "validUntil": "2023-09-29T23:00:52.2301962\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1414361014"
  }
}
