{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 02 Jan 2024 09:41:22 GMT",
        "Repeatability-Request-ID": "1b7fc91f-61f5-431f-9eb8-9ea62d376b87",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:41:22 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99442879713995325",
        "MS-CV": "ulEhTTwnzkOtvzvzXbYDSw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99442879713995325",
        "createdAt": "2024-01-02T09:41:22.9187782\u002B00:00",
        "validFrom": "2024-01-02T09:41:22.3130553\u002B00:00",
        "validUntil": "2024-01-12T09:41:22.3130553\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:41:22 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "NiYXDiIjq0uAePOqgCYceA.0"
      },
      "ResponseBody": {
        "id": "99442879713995325",
        "createdAt": "2024-01-02T09:41:22.9187782\u002B00:00",
        "validFrom": "2024-01-02T09:41:22.3130553\u002B00:00",
        "validUntil": "2024-01-12T09:41:22.3130553\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "920064765"
  }
}
