{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:56:21 GMT",
        "Repeatability-Request-ID": "f07f844c-1fcb-4a51-b16f-47a5b7751630",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:56:21 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99450446010659187",
        "MS-CV": "b\u002BWcVdV/T0GIRPaJy02yxA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99450446010659187",
        "createdAt": "2024-03-20T04:56:22.7591034\u002B00:00",
        "validFrom": "2024-03-20T04:56:21.7148381\u002B00:00",
        "validUntil": "2024-03-30T04:56:21.7148381\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:56:22 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BQMrHXyjUUWP8QpxZrSpsg.0"
      },
      "ResponseBody": {
        "id": "99450446010659187",
        "createdAt": "2024-03-20T04:56:22.7591034\u002B00:00",
        "validFrom": "2024-03-20T04:56:21.7148381\u002B00:00",
        "validUntil": "2024-03-30T04:56:21.7148381\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1362730937"
  }
}
