{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:54:44 GMT",
        "Repeatability-Request-ID": "6495602c-caa2-48b3-b9e7-58fed3d3e98b",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:44 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99450282349666248",
        "MS-CV": "MrsMabaZC0yDwyTCix3vxg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99450282349666248",
        "createdAt": "2023-09-22T16:54:45.1162777\u002B00:00",
        "validFrom": "2023-09-22T16:54:44.4867045\u002B00:00",
        "validUntil": "2023-10-02T16:54:44.4867045\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:44 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "UXgc4gBRCUSFkN4zAouO3g.0"
      },
      "ResponseBody": {
        "id": "99450282349666248",
        "createdAt": "2023-09-22T16:54:45.1162777\u002B00:00",
        "validFrom": "2023-09-22T16:54:44.4867045\u002B00:00",
        "validUntil": "2023-10-02T16:54:44.4867045\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "2099817784"
  }
}
