{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:56:11 GMT",
        "Repeatability-Request-ID": "1d4736d3-70ab-470b-96ed-231a63bb73e4",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:56:11 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99482488937509465",
        "MS-CV": "/2jihz2f6Eq4jfvKl6KUqw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99482488937509465",
        "createdAt": "2024-03-20T04:56:12.6646817\u002B00:00",
        "validFrom": "2024-03-20T04:56:11.6199251\u002B00:00",
        "validUntil": "2024-03-30T04:56:11.6199251\u002B00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:56:11 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "iJBG57RcBk2kJNDhHbDRNw.0"
      },
      "ResponseBody": {
        "id": "99482488937509465",
        "createdAt": "2024-03-20T04:56:12.6646817\u002B00:00",
        "validFrom": "2024-03-20T04:56:11.6199251\u002B00:00",
        "validUntil": "2024-03-30T04:56:11.6199251\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "546829501"
  }
}
