{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:53:44 GMT",
        "Repeatability-Request-ID": "7fae4eec-8e82-4b19-b495-11ee7a1f1837",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:53:44 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99469619106933769",
        "MS-CV": "vX0sfXx15kGJGS1u3q5GVQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99469619106933769",
        "createdAt": "2023-09-22T16:53:45.229756\u002B00:00",
        "validFrom": "2023-09-22T16:53:44.6047554\u002B00:00",
        "validUntil": "2023-10-02T16:53:44.6047554\u002B00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:53:44 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Z1IEBtL\u002BNkCoWCj4atCAiQ.0"
      },
      "ResponseBody": {
        "id": "99469619106933769",
        "createdAt": "2023-09-22T16:53:45.229756\u002B00:00",
        "validFrom": "2023-09-22T16:53:44.6047554\u002B00:00",
        "validUntil": "2023-10-02T16:53:44.6047554\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1423154337"
  }
}
