{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:54:42 GMT",
        "Repeatability-Request-ID": "88a9cf6c-3ca5-45b3-984a-b8fea93702a4",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:42 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99461322442315666",
        "MS-CV": "z6boXJJcY0qqGLGweiHcbQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99461322442315666",
        "createdAt": "2023-09-22T16:54:43.5738531\u002B00:00",
        "validFrom": "2023-09-22T16:54:42.9403683\u002B00:00",
        "validUntil": "2023-10-02T16:54:42.9403683\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:43 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "q1SXzr8kgEikTydJrH\u002B3jQ.0"
      },
      "ResponseBody": {
        "id": "99461322442315666",
        "createdAt": "2023-09-22T16:54:43.5738531\u002B00:00",
        "validFrom": "2023-09-22T16:54:42.9403683\u002B00:00",
        "validUntil": "2023-10-02T16:54:42.9403683\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "478897080"
  }
}
