{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:59:06 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99438472810664445",
        "X-Microsoft-Skype-Chain-ID": "bdfc9b5f-f22f-42af-8586-bb758518fd51",
        "X-Microsoft-Skype-Message-ID": "d97b028a-f222-4f89-ba79-aa7a7c1c01cc",
        "X-MS-Skype-MLC-Telemetry-Id": "bdfc9b5f-f22f-42af-8586-bb758518fd51"
      },
      "ResponseBody": {
        "id": "99438472810664445",
        "createdAt": "2025-08-28T17:59:07.0624376+00:00",
        "validFrom": "2025-08-28T17:59:06.9207922+00:00",
        "validUntil": "2025-09-07T17:59:06.9207922+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:59:07 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "e8a5320f-cd2c-4515-919e-12c53701e540",
        "X-Microsoft-Skype-Message-ID": "8f3bd09c-0d34-4eb3-8df1-45f85c1ad4b0",
        "X-MS-Skype-MLC-Telemetry-Id": "e8a5320f-cd2c-4515-919e-12c53701e540"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range is incorrect, or larger than 180 days.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2100274906"
  }
}
