{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:31 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99437347498806809",
        "X-Microsoft-Skype-Chain-ID": "dc433ca6-bc35-4d47-b744-39110c17ad6a",
        "X-Microsoft-Skype-Message-ID": "5ea05841-aead-436f-8ae6-1248dc11f668",
        "X-MS-Skype-MLC-Telemetry-Id": "dc433ca6-bc35-4d47-b744-39110c17ad6a"
      },
      "ResponseBody": {
        "id": "99437347498806809",
        "createdAt": "2025-08-29T00:34:31.5972165+00:00",
        "validFrom": "2025-08-29T00:34:31.4658179+00:00",
        "validUntil": "2025-09-08T00:34:31.4658179+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:31 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeade[...]
