{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:55 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99498582432108262",
        "X-Microsoft-Skype-Chain-ID": "d12f36cc-b362-42e8-aa9f-55d635737a2a",
        "X-Microsoft-Skype-Message-ID": "b9f2728d-f1ff-4999-97f0-599f1c2aa252",
        "X-MS-Skype-MLC-Telemetry-Id": "d12f36cc-b362-42e8-aa9f-55d635737a2a"
      },
      "ResponseBody": {
        "id": "99498582432108262",
        "createdAt": "2025-08-28T18:01:55.2565009+00:00",
        "validFrom": "2025-08-28T18:01:55.0565569+00:00",
        "validUntil": "2025-09-07T18:01:55.0565569+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:55 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "d792a860-a301-44a1-b785-09827935f09e",
        "X-Microsoft-Skype-Message-ID": "12fb30c3-9b40-430a-85b8-c1a84f16253a",
        "X-MS-Skype-MLC-Telemetry-Id": "d792a860-a301-44a1-b785-09827935f09e"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range is incorrect, or larger than 180 days.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1393109252"
  }
}
