{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 21:07:53 GMT",
        "Repeatability-Request-ID": "807b251e-2f43-4731-bda0-e40315afa170",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:07:53 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99436923638431321",
        "MS-CV": "NR3w50uEFUGPAd8TRYFoUA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99436923638431321",
        "createdAt": "2023-09-21T21:07:54.3546619\u002B00:00",
        "validFrom": "2023-09-21T21:07:53.8863319\u002B00:00",
        "validUntil": "2023-10-01T21:07:53.8863319\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:07:54 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "7405wYM7pkGzUKDtIb8nvA.0"
      },
      "ResponseBody": {
        "id": "99436923638431321",
        "createdAt": "2023-09-21T21:07:54.3546619\u002B00:00",
        "validFrom": "2023-09-21T21:07:53.8863319\u002B00:00",
        "validUntil": "2023-10-01T21:07:53.8863319\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1566099927"
  }
}
