{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:02:09 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99494030905525681",
        "X-Microsoft-Skype-Chain-ID": "ff97f1dd-ba3c-4d09-b859-16db638367cf",
        "X-Microsoft-Skype-Message-ID": "e0fc0f69-66b9-44d9-9046-1307357dbc8d",
        "X-MS-Skype-MLC-Telemetry-Id": "ff97f1dd-ba3c-4d09-b859-16db638367cf"
      },
      "ResponseBody": {
        "id": "99494030905525681",
        "createdAt": "2025-08-28T18:02:10.1003158+00:00",
        "validFrom": "2025-08-28T18:02:09.9027944+00:00",
        "validUntil": "2025-09-07T18:02:09.9027944+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Au[...]
