{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:59:04 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99450029489478109",
        "X-Microsoft-Skype-Chain-ID": "2a3a9bd6-e7bf-41cd-b8ab-8813d55bcffa",
        "X-Microsoft-Skype-Message-ID": "7a530655-9e5b-4afe-9ed8-2fa402b353dc",
        "X-MS-Skype-MLC-Telemetry-Id": "2a3a9bd6-e7bf-41cd-b8ab-8813d55bcffa"
      },
      "ResponseBody": {
        "id": "99450029489478109",
        "createdAt": "2025-08-28T17:59:04.6423105+00:00",
        "validFrom": "2025-08-28T17:59:04.5030171+00:00",
        "validUntil": "2025-09-07T17:59:04.5030171+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:59:04 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "41d01631-6772-438c-bfc0-d1517013d663",
        "X-Microsoft-Skype-Message-ID": "6da379b0-f46a-49c6-9044-a7f80e5370aa",
        "X-MS-Skype-MLC-Telemetry-Id": "41d01631-6772-438c-bfc0-d1517013d663"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "662253076"
  }
}
