{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:54:33 GMT",
        "Repeatability-Request-ID": "26634a78-b98c-4dc0-b237-7b93a043030c",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:33 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99483776057536125",
        "MS-CV": "5dw\u002BpRqe40GUQddqSjezIg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99483776057536125",
        "createdAt": "2023-09-22T16:54:34.1143765\u002B00:00",
        "validFrom": "2023-09-22T16:54:33.4903964\u002B00:00",
        "validUntil": "2023-10-02T16:54:33.4903964\u002B00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:54:33 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VH3PIbd3kEORsf/7SCvZYQ.0"
      },
      "ResponseBody": {
        "id": "99483776057536125",
        "createdAt": "2023-09-22T16:54:34.1143765\u002B00:00",
        "validFrom": "2023-09-22T16:54:33.4903964\u002B00:00",
        "validUntil": "2023-10-02T16:54:33.4903964\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "557494736"
  }
}
