{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:32:02 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99418879208330489",
        "X-Microsoft-Skype-Chain-ID": "b9e29b23-c417-441c-b564-0896bd2427f9",
        "X-Microsoft-Skype-Message-ID": "04d3624b-41c4-47e8-97f3-55fda3d8b6ad",
        "X-MS-Skype-MLC-Telemetry-Id": "b9e29b23-c417-441c-b564-0896bd2427f9"
      },
      "ResponseBody": {
        "id": "99418879208330489",
        "createdAt": "2025-08-29T00:32:03.1084187+00:00",
        "validFrom": "2025-08-29T00:32:02.9722075+00:00",
        "validUntil": "2025-09-08T00:32:02.9722075+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Au[...]
