{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:02:11 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99420653477943801",
        "X-Microsoft-Skype-Chain-ID": "7d5f9a50-97a6-4ebd-b38c-7d34e158f477",
        "X-Microsoft-Skype-Message-ID": "b61b5802-e355-49a7-a459-abe90d2d2af4",
        "X-MS-Skype-MLC-Telemetry-Id": "7d5f9a50-97a6-4ebd-b38c-7d34e158f477"
      },
      "ResponseBody": {
        "id": "99420653477943801",
        "createdAt": "2025-08-28T18:02:11.327374+00:00",
        "validFrom": "2025-08-28T18:02:11.1321073+00:00",
        "validUntil": "2025-09-07T18:02:11.1321073+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:02:11 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeade[...]
