{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 19 Sep 2023 23:00:52 GMT",
        "Repeatability-Request-ID": "0b94af2e-4149-4986-ad3e-c1dfce6f799c",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 23:00:52 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99498824549688862",
        "MS-CV": "3aOIJEDmFk\u002Bw38QmUb\u002BsrQ.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99498824549688862",
        "createdAt": "2023-09-19T23:00:53.5817073\u002B00:00",
        "validFrom": "2023-09-19T23:00:52.9564828\u002B00:00",
        "validUntil": "2023-09-29T23:00:52.9564828\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 23:00:53 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JnkCBhS6vUeucCZ\u002BuGS51g.0"
      },
      "ResponseBody": {
        "id": "99498824549688862",
        "createdAt": "2023-09-19T23:00:53.5817073\u002B00:00",
        "validFrom": "2023-09-19T23:00:52.9564828\u002B00:00",
        "validUntil": "2023-09-29T23:00:52.9564828\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1360684585"
  }
}
