{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:23 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99458879552682328",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99458879552682328",
        "createdAt": "2025-08-29T00:34:23.9457013+00:00",
        "validFrom": "2025-08-29T00:34:23.8092995+00:00",
        "validUntil": "2025-09-08T00:34:23.8092995+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:24 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "id": "99458879552682328",
        "createdAt": "2025-08-29T00:34:23.9457013+00:00",
        "validFrom": "2025-09-08T00:34:23.8092995+00:00",
        "validUntil": "2025-09-18T00:34:23.8092995+00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "994422621"
  }
}
