{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:38 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99461668667521642",
        "X-Microsoft-Skype-Chain-ID": "9f4c5482-a036-434a-a6df-0ee5d7959357",
        "X-Microsoft-Skype-Message-ID": "271e3e7a-d8a2-49e2-b1c1-36b880a56fd3",
        "X-MS-Skype-MLC-Telemetry-Id": "9f4c5482-a036-434a-a6df-0ee5d7959357"
      },
      "ResponseBody": {
        "id": "99461668667521642",
        "createdAt": "2025-08-28T18:01:38.6352075+00:00",
        "validFrom": "2025-08-28T18:01:38.4378377+00:00",
        "validUntil": "2025-09-07T18:01:38.4378377+00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:38 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "23981c66-46c1-4bd4-b4b8-4f22fbdec9be",
        "X-Microsoft-Skype-Message-ID": "12b3a8ea-6d51-487a-a066-9b326b51f8d1",
        "X-MS-Skype-MLC-Telemetry-Id": "23981c66-46c1-4bd4-b4b8-4f22fbdec9be"
      },
      "ResponseBody": {
        "id": "99461668667521642",
        "createdAt": "0001-01-01T00:00:00+00:00",
        "validFrom": "2025-08-28T18:01:38.4378377+00:00",
        "validUntil": "2025-09-07T18:01:38.4378377+00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1474620500"
  }
}
