{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 19 Sep 2023 23:00:51 GMT",
        "Repeatability-Request-ID": "ad243535-0ee0-4d2f-99d3-f61903fc81f6",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 23:00:51 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99410837271568765",
        "MS-CV": "GoVGbmxnBUGf31m/Mjflqg.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99410837271568765",
        "createdAt": "2023-09-19T23:00:52.1264125\u002B00:00",
        "validFrom": "2023-09-19T23:00:51.5012965\u002B00:00",
        "validUntil": "2023-09-29T23:00:51.5012965\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 19 Sep 2023 23:00:51 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nv1Zr5Ou1kSErImqNPzRUA.0"
      },
      "ResponseBody": {
        "id": "99410837271568765",
        "createdAt": "2023-09-19T23:00:52.1264125\u002B00:00",
        "validFrom": "2023-09-19T23:00:51.5012965\u002B00:00",
        "validUntil": "2023-09-29T23:00:51.5012965\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1853466484"
  }
}
