{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 21 Sep 2023 21:07:02 GMT",
        "Repeatability-Request-ID": "da511e01-c31b-4ee9-a18d-61650a2f3cb3",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:07:02 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99464264853886928",
        "MS-CV": "0d7gntxfzEycouHMR8p9VA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99464264853886928",
        "createdAt": "2023-09-21T21:07:02.7685816\u002B00:00",
        "validFrom": "2023-09-21T21:07:02.2212576\u002B00:00",
        "validUntil": "2023-10-01T21:07:02.2212576\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 21 Sep 2023 21:07:02 GMT"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JqX0/qzvs0\u002BiWSp7dQE4Jg.0"
      },
      "ResponseBody": {
        "id": "99464264853886928",
        "createdAt": "2023-09-21T21:07:02.7685816\u002B00:00",
        "validFrom": "2023-09-21T21:07:02.2212576\u002B00:00",
        "validUntil": "2023-10-01T21:07:02.2212576\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1747585384"
  }
}
