{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:59:01 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99459914901460007",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99459914901460007",
        "createdAt": "2025-08-28T17:59:01.3881055+00:00",
        "validFrom": "2025-08-28T17:59:01.1745297+00:00",
        "validUntil": "2025-09-07T17:59:01.1745297+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 17:59:02 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1977229623"
  }
}
