{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:15 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99478954290658683",
        "X-Microsoft-Skype-Chain-ID": "90d379f3-ddf7-48e4-9650-ed7f75fb046e",
        "X-Microsoft-Skype-Message-ID": "18b06534-ebfa-4e10-b82e-a34de6a9df04",
        "X-MS-Skype-MLC-Telemetry-Id": "90d379f3-ddf7-48e4-9650-ed7f75fb046e"
      },
      "ResponseBody": {
        "id": "99478954290658683",
        "createdAt": "2025-08-29T00:34:15.9863743+00:00",
        "validFrom": "2025-08-29T00:34:15.8549468+00:00",
        "validUntil": "2025-09-08T00:34:15.8549468+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:16 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": false
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "8434a1fb-0bed-4c57-8cd7-69cf8d25679e",
        "X-Microsoft-Skype-Message-ID": "c39e2cc1-77c0-4ba9-9b69-ed120f614d72",
        "X-MS-Skype-MLC-Telemetry-Id": "8434a1fb-0bed-4c57-8cd7-69cf8d25679e"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1319715399"
  }
}
