{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:40 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99445258793297800",
        "X-Microsoft-Skype-Chain-ID": "bc124cb7-d2f5-425d-95bd-7548f5fea9cf",
        "X-Microsoft-Skype-Message-ID": "bf603559-2198-47b0-80ff-f534ae48e105",
        "X-MS-Skype-MLC-Telemetry-Id": "bc124cb7-d2f5-425d-95bd-7548f5fea9cf"
      },
      "ResponseBody": {
        "id": "99445258793297800",
        "createdAt": "2025-08-29T00:34:40.9270096+00:00",
        "validFrom": "2025-08-29T00:34:40.7968739+00:00",
        "validUntil": "2025-09-08T00:34:40.7968739+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:34:41 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "pstnDialOutEnabled": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "322cfd64-2489-4bf2-ae5e-3067e0c120e7",
        "X-Microsoft-Skype-Message-ID": "f5608bdf-4810-4f92-a8ac-d0f2e6201eee",
        "X-MS-Skype-MLC-Telemetry-Id": "322cfd64-2489-4bf2-ae5e-3067e0c120e7"
      },
      "ResponseBody": {
        "id": "99445258793297800",
        "createdAt": "0001-01-01T00:00:00+00:00",
        "validFrom": "2025-08-29T00:34:40.7968739+00:00",
        "validUntil": "2025-09-08T00:34:40.7968739+00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1489076614"
  }
}
