{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2025-03-13",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:31:47 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99463916838000488",
        "X-Microsoft-Skype-Chain-ID": "06e33c18-ffa2-47f0-98b5-a1c3b3313f6b",
        "X-Microsoft-Skype-Message-ID": "456d6087-bb1d-475d-84c2-bd22c66a44bc",
        "X-MS-Skype-MLC-Telemetry-Id": "06e33c18-ffa2-47f0-98b5-a1c3b3313f6b"
      },
      "ResponseBody": {
        "id": "99463916838000488",
        "createdAt": "2025-08-29T00:31:47.3002513+00:00",
        "validFrom": "2025-08-29T00:31:47.1647326+00:00",
        "validUntil": "2025-09-08T00:31:47.1647326+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2025-03-13",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 29 Aug 2025 00:31:47 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": false
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "350740ef-4d6a-4aa1-a12f-f2d84c13c89b",
        "X-Microsoft-Skype-Message-ID": "ca08af80-fc55-4d93-91a7-2e52a9122997",
        "X-MS-Skype-MLC-Telemetry-Id": "350740ef-4d6a-4aa1-a12f-f2d84c13c89b"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range end is in the past.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "514159593"
  }
}
