{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Fri, 22 Sep 2023 16:53:54 GMT",
        "Repeatability-Request-ID": "49071e00-4cc5-4bef-a455-741cad1e8efc",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:53:54 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99489258097990062",
        "MS-CV": "Qbw0NLxpyEW3323U1Rwkpw.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99489258097990062",
        "createdAt": "2023-09-22T16:53:55.4885737\u002B00:00",
        "validFrom": "2023-09-22T16:53:54.8620081\u002B00:00",
        "validUntil": "2023-10-02T16:53:54.8620081\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 16:53:55 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QnZsrJcrgUiB4MebZMyrmg.0"
      },
      "ResponseBody": {
        "id": "99489258097990062",
        "createdAt": "2023-09-22T16:53:55.4885737\u002B00:00",
        "validFrom": "2023-09-22T16:53:54.8620081\u002B00:00",
        "validUntil": "2023-10-02T16:53:54.8620081\u002B00:00",
        "pstnDialOutEnabled": false
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1014902961"
  }
}
