{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:54 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-06-14, 2023-10-30-preview, 2024-04-15, 2025-03-13",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99483402381530208",
        "X-Microsoft-Skype-Chain-ID": "364a4dc2-12d3-414c-9715-e5dec95bcd0b",
        "X-Microsoft-Skype-Message-ID": "ed5423e9-c69f-4dec-8241-709f55e13b11",
        "X-MS-Skype-MLC-Telemetry-Id": "364a4dc2-12d3-414c-9715-e5dec95bcd0b"
      },
      "ResponseBody": {
        "id": "99483402381530208",
        "createdAt": "2025-08-28T18:01:54.3410007+00:00",
        "validFrom": "2025-08-28T18:01:54.1453638+00:00",
        "validUntil": "2025-09-07T18:01:54.1453638+00:00",
        "pstnDialOutEnabled": false
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 18:01:54 GMT",
        "x-ms-host": "acsrooms-mhang-test-prod.canada.communication.azure.com"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "e0c0830f-c53f-4c97-a673-33caaaa5aee4",
        "X-Microsoft-Skype-Message-ID": "69595bd3-8598-45a4-be14-1ddaa1dae2a7",
        "X-MS-Skype-MLC-Telemetry-Id": "e0c0830f-c53f-4c97-a673-33caaaa5aee4"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The request could not be understood by the server due to malformed syntax.",
          "details": [
            {
              "code": "BadArgument",
              "message": "The time range is incorrect, or larger than 180 days.",
              "target": "ValidUntil"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://acsrooms-mhang-test-prod.canada.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "711638269"
  }
}
