{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2023-10-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Tue, 02 Jan 2024 09:41:11 GMT",
        "Repeatability-Request-ID": "dd04aa1b-adcd-4ae9-ac2c-1d11b52a97df",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:41:11 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "pstnDialOutEnabled": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99442619665038601",
        "MS-CV": "YHmcsnZC00KQCHR/kU/THA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99442619665038601",
        "createdAt": "2024-01-02T09:41:12.05112\u002B00:00",
        "validFrom": "2024-01-02T09:41:11.4421443\u002B00:00",
        "validUntil": "2024-01-12T09:41:11.4421443\u002B00:00",
        "pstnDialOutEnabled": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized?api-version=2023-10-30-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 09:41:11 GMT"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8GDksOCr70yYbJ4ZKgQSdw.0"
      },
      "ResponseBody": {
        "id": "99442619665038601",
        "createdAt": "2024-01-02T09:41:12.05112\u002B00:00",
        "validFrom": "2024-01-02T09:41:11.4421443\u002B00:00",
        "validUntil": "2024-01-12T09:41:11.4421443\u002B00:00",
        "pstnDialOutEnabled": true
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.unitedstates.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1792722297"
  }
}
