{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/analyzers/python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json?api-version=2025-05-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "West US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/analyzers/python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analyzerId": "python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json",
        "baseAnalyzerId": "prebuilt-documentAnalyzer",
        "config": {
          "disableContentFiltering": false,
          "disableFaceBlurring": false,
          "enableFace": false,
          "enableFormula": true,
          "enableLayout": true,
          "enableOcr": true,
          "estimateFieldSourceAndConfidence": true,
          "returnDetails": true
        },
        "description": "test analyzer: python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json",
        "fieldSchema": {
          "fields": {
            "total_amount": {
              "description": "Total amount of this table",
              "method": "extract",
              "type": "number"
            }
          },
          "description": "schema description here",
          "name": "Sanitized"
        },
        "mode": "standard",
        "processingLocation": "global",
        "tags": {
          "tag1_name": "tag1_value"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://fake_contentunderstanding_endpoint.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json/operations/63bcec0b-e3ef-4981-875b-1e40780e0472?api-version=2025-05-01-preview",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "analyzerId": "python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json",
        "description": "test analyzer: python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json",
        "tags": {
          "tag1_name": "tag1_value"
        },
        "createdAt": "2025-08-12T00:32:56Z",
        "lastModifiedAt": "2025-08-12T00:32:56Z",
        "baseAnalyzerId": "prebuilt-documentAnalyzer",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "disableContentFiltering": false,
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "schema description here",
          "fields": {
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount of this table"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "global",
        "mode": "standard"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/analyzers/python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json/operations/63bcec0b-e3ef-4981-875b-1e40780e0472?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json",
          "description": "test analyzer: python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json",
          "tags": {
            "tag1_name": "tag1_value"
          },
          "createdAt": "2025-08-12T00:32:56Z",
          "lastModifiedAt": "2025-08-12T00:32:56Z",
          "baseAnalyzerId": "prebuilt-documentAnalyzer",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "disableContentFiltering": false,
            "tableFormat": "html",
            "estimateFieldSourceAndConfidence": true
          },
          "fieldSchema": {
            "name": "Sanitized",
            "description": "schema description here",
            "fields": {
              "total_amount": {
                "type": "number",
                "method": "extract",
                "description": "Total amount of this table"
              }
            }
          },
          "warnings": [],
          "status": "creating",
          "processingLocation": "global",
          "mode": "standard"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/python-sdk-analyzer-async-test_content_analyzers_begin_create_with_json/operations/63bcec0b-e3ef-4981-875b-1e40780e0472?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/j[...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/analyzers?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "analyzerId": "prebuilt-callCenter",
            "description": "Analyze call center conversations to extract transcripts, summaries, sentiment, and more.",
            "createdAt": "2025-05-01T00:00:00Z",
            "config": {
              "returnDetails": true,
              "disableContentFiltering": false
            },
            "fieldSchema": {
              "name": "Sanitized",
              "fields": {
                "Summary": {
                  "type": "string",
                  "description": "A one-paragraph summary"
                },
                "Topics": {
                  "type": "array",
                  "description": "Top 5 topics mentioned",
                  "items": {
                    "type": "string"
                  }
                },
                "Companies": {
                  "type": "array",
                  "description": "List of companies mentioned",
                  "items": {
                    "type": "string"
                  }
                },
                "People": {
                  "type": "array",
                  "description": "List of people mentioned",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Person's name"
                      },
                      "Role": {
                        "type": "string",
                        "description": "Person's title/role"
                      }
                    }
                  }
                },
                "Sentiment": {
                  "type": "string",
                  "method": "classify",
                  "description": "Overall sentiment",
                  "enum": [
                    "Positive",
                    "Neutral",
                    "Negative"
                  ]
                },
                "Categories": {
                  "type": "array",
                  "method": "classify",
                  "description": "List of relevant categories",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Agriculture",
                      "Business",
                      "Finance",
                      "Health",
                      "Insurance",
                      "Mining",
                      "Pharmaceutical",
                  [...]
[...]
