{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk9824?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824",
        "name": "networkcloud-sdk9824",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035?api-version=2024-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1"
        },
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {}
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/CM_Subnet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim"
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.OperationalInsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            }
          },
          "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.OperationalInsights/workspaces/simdev-3279359-law",
          "clusterServicePrincipal": {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "password": "Sanitized",
            "principalId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000"
          },
          "clusterType": "MultiRack",
          "clusterVersion": "4.3.0",
          "commandOutputSettings": {
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            },
            "containerUrl": "https://sanitized.blob.core.windows.net/container"
          },
          "computeDeploymentThreshold": {
            "grouping": "PerCluster",
            "type": "PercentSuccess",
            "value": 90
          },
          "computeRackDefinitions": [
            {
              "bareMetalMachineConfigurationData": [
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:FF",
                  "bootMacAddress": "00:BB:CC:DD:EE:FF",
                  "machineDetails": "extraDetails",
                  "machineName": "compute1",
                  "rackSlot": 1,
                  "serialNumber": "BM1219XXX"
                },
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:00",
                  "bootMacAddress": "00:BB:CC:DD:EE:00",
                  "machineDetails": "extraDetails",
                  "machineName": "compute2",
                  "rackSlot": 2,
                  "serialNumber": "BM1219YYY"
              [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/2040c139-483c-4797-9484-2f5cf68b8311*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787924879252319&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3100824f-0000-1000-0000-67e70e9a0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035",
        "name": "cluster7035",
        "type": "microsoft.networkcloud/clusters",
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-28T21:01:27.472094Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-03-28T21:03:22.1455895Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {
              "clientId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/CM_Subnet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim",
            "storageApplianceConfigurationData": [],
            "bareMetalMachineConfigurationData": []
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.OperationalInsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "clusterLocation": "Foo floor"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/e3fe59e8-b4e9-4112-a869-ea0bde1c836d*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926194033531&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTE4MTk0MDA0WhcNMjUwNzE3M[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/e3fe59e8-b4e9-4112-a869-ea0bde1c836d*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926194033531&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "0420341e-1fb1-458d-bba8-d65fa9856093",
          "ced39740-0244-479b-8201-b4106456356c"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16460",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/joedouble_id-simdev-3258661/providers/Microsoft.NetworkCloud/clusters/simdev-3258661-cluster-1",
            "name": "simdev-3258661-cluster-1",
            "type": "microsoft.networkcloud/clusters",
            "location": "eastus2euap",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3258661-roy72npm2mlhu/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-roy72npm2mlhu-cl",
              "type": "CustomLocation"
            },
            "tags": {
              "EnableDenyAssignments": "false",
              "LabEnvironment": "simulator",
              "ManagedBy": "nc-development-environments",
              "ResourceType": "cluster"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-03-13T11:49:45.2143859Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-03-20T16:11:16.5329934Z"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/sub[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "updateStrategy": {
            "maxUnavailable": 2,
            "strategyType": "PauseAfterRack",
            "thresholdType": "PercentSuccess",
            "thresholdValue": 100,
            "waitTimeMinutes": 0
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/1c5bb035-d86b-4b4f-b4ed-50512aa5944f*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926558850192&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYK[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/1c5bb035-d86b-4b4f-b4ed-50512aa5944f*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926558850192&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "secretArchiveSettings": {
            "vaultUri": "https://sanitized.vault.azure.net"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/786a6b1f-3475-4e91-af74-51cf83d806f5*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926665887175&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABo[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/786a6b1f-3475-4e91-af74-51cf83d806f5*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926665887175&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "vulnerabilityScanningSettings": {
            "containerScan": "Enabled"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/3290a2b5-9e49-4852-bd69-8f18233487fe*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926772061321&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/3290a2b5-9e49-4852-bd69-8f18233487fe*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926772061321&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk9824/providers/Microsoft.NetworkCloud/clusters/cluster7035/updateVersion?api-version=2024-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetClusterVersion": "3.15.0"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/e177d453-e766-48ac-a175-89bd504806f9*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926872253990&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/e177d453-e766-48ac-a175-89bd504806f9*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926872253990&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/e177d453-e766-48ac-a175-89bd504806f9*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926873861339&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/e177d453-e766-48ac-a175-89bd504806f9*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926886390322&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/81267544-1722-46f9-92b3-a39a51daef5e*09F0A99AE40BB800240D7482CEB8E4B169B289313B58D6515FA177A1EF80E074?api-version=2024-10-01-preview&t=638787926902852715&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
