{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk2403?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403",
        "name": "networkcloud-sdk2403",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432?api-version=2024-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1"
        },
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {}
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/CM_Subnet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim"
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.OperationalInsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            }
          },
          "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.OperationalInsights/workspaces/simdev-3279359-law",
          "clusterServicePrincipal": {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "password": "Sanitized",
            "principalId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000"
          },
          "clusterType": "MultiRack",
          "clusterVersion": "4.3.0",
          "commandOutputSettings": {
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            },
            "containerUrl": "https://sanitized.blob.core.windows.net/container"
          },
          "computeDeploymentThreshold": {
            "grouping": "PerCluster",
            "type": "PercentSuccess",
            "value": 90
          },
          "computeRackDefinitions": [
            {
              "bareMetalMachineConfigurationData": [
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:FF",
                  "bootMacAddress": "00:BB:CC:DD:EE:FF",
                  "machineDetails": "extraDetails",
                  "machineName": "compute1",
                  "rackSlot": 1,
                  "serialNumber": "BM1219XXX"
                },
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:00",
                  "bootMacAddress": "00:BB:CC:DD:EE:00",
                  "machineDetails": "extraDetails",
                  "machineName": "compute2",
                  "rackSlot": 2,
                  "serialNumber": "BM1219YYY"
              [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/be4f488f-19e3-4918-93f3-f8ec0235299a*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787919156455462&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"31001c30-0000-1000-0000-67e70c530000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432",
        "name": "cluster1432",
        "type": "microsoft.networkcloud/clusters",
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-28T20:51:55.3330463Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-03-28T20:53:39.2769957Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {
              "clientId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet/subnets/CM_Subnet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim",
            "storageApplianceConfigurationData": [],
            "bareMetalMachineConfigurationData": []
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.OperationalInsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "clusterLocation": "Foo floor"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/d0274e93-a5bf-4b0a-8ded-7e0ce325348f*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920475679111&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTE4MTk0MDA0WhcNMjUwNzE3M[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/d0274e93-a5bf-4b0a-8ded-7e0ce325348f*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920475679111&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4aacc278-4a1d-4621-a800-ee7ce9a1a096",
          "42d19b76-de30-477a-adc0-91d2dee8aef2"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/joedouble_id-simdev-3258661/providers/Microsoft.NetworkCloud/clusters/simdev-3258661-cluster-1",
            "name": "simdev-3258661-cluster-1",
            "type": "microsoft.networkcloud/clusters",
            "location": "eastus2euap",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3258661-roy72npm2mlhu/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-roy72npm2mlhu-cl",
              "type": "CustomLocation"
            },
            "tags": {
              "EnableDenyAssignments": "false",
              "LabEnvironment": "simulator",
              "ManagedBy": "nc-development-environments",
              "ResourceType": "cluster"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-03-13T11:49:45.2143859Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-03-20T16:11:16.5329934Z"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/sub[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "updateStrategy": {
            "maxUnavailable": 2,
            "strategyType": "PauseAfterRack",
            "thresholdType": "PercentSuccess",
            "thresholdValue": 100,
            "waitTimeMinutes": 0
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/65da7e34-b95d-4b13-9e42-3a677c5cf1f3*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920599335012&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYK[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/65da7e34-b95d-4b13-9e42-3a677c5cf1f3*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920599335012&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "secretArchiveSettings": {
            "vaultUri": "https://sanitized.vault.azure.net"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/9b120215-a2f2-49bb-a8c7-d545acd44251*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920704090979&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABo[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/9b120215-a2f2-49bb-a8c7-d545acd44251*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920704090979&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "vulnerabilityScanningSettings": {
            "containerScan": "Enabled"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/41b5f756-8ac3-4938-921a-ee9d35814465*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920812139342&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/41b5f756-8ac3-4938-921a-ee9d35814465*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920812139342&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk2403/providers/Microsoft.NetworkCloud/clusters/cluster1432/updateVersion?api-version=2024-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetClusterVersion": "3.15.0"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/a9ecb621-11d8-45d4-abc1-1b73e4445087*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920913078578&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/a9ecb621-11d8-45d4-abc1-1b73e4445087*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920913078578&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a9ecb621-11d8-45d4-abc1-1b73e4445087*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920914237373&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a9ecb621-11d8-45d4-abc1-1b73e4445087*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920925219244&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/fd7356e3-f5b2-494b-979b-72d6ae881378*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920942615473&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/fd7356e3-f5b2-494b-979b-72d6ae881378*26D8C68238A2528104AF5F74CC00AAED3B6EF0FEB62722FECE319F15CDA2B545?api-version=2024-10-01-preview&t=638787920943634441&c=MIIHhzCCBm-gAwIBAgITfAaME14-pcgCHXmBawAABowTXjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
