{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk5684?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684",
        "name": "networkcloud-sdk5684",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838?api-version=2024-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1"
        },
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {}
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim"
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/microsoft.operationalinsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            }
          },
          "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/microsoft.operationalinsights/workspaces/simdev-3279359-law",
          "clusterServicePrincipal": {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "password": "Sanitized",
            "principalId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000"
          },
          "clusterType": "MultiRack",
          "clusterVersion": "4.3.0",
          "commandOutputSettings": {
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            },
            "containerUrl": "https://sanitized.blob.core.windows.net/mycontainer?restype=container"
          },
          "computeDeploymentThreshold": {
            "grouping": "PerCluster",
            "type": "PercentSuccess",
            "value": 90
          },
          "computeRackDefinitions": [
            {
              "bareMetalMachineConfigurationData": [
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:FF",
                  "bootMacAddress": "00:BB:CC:DD:EE:FF",
                  "machineDetails": "extraDetails",
                  "machineName": "compute1",
                  "rackSlot": 1,
                  "serialNumber": "BM1219XXX"
                },
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:00",
                  "bootMacAddress": "00:BB:CC:DD:EE:00",
                  "machineDetails": "extraDetails",
                  "machineName": "compute2",
                  "rackSlot": 2,
                  "serialNumber": "BM1219YYY"
              [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/00fb472d-25e1-4a8d-b434-c586bce56942*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784527771008660&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0f003e4c-0000-1000-0000-67e1df9a0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838",
        "name": "cluster6838",
        "type": "microsoft.networkcloud/clusters",
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-24T22:39:35.9758629Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-03-24T22:41:30.2481473Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {
              "clientId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim",
            "storageApplianceConfigurationData": [],
            "bareMetalMachineConfigurationData": []
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/microsoft.operationalinsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "clusterLocation": "Foo floor"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/cc3fcc62-c310-4f95-9e93-7a462c9b15a1*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784529114771133&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIwMDgzNTM2WhcNMjUwNzE5M[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/cc3fcc62-c310-4f95-9e93-7a462c9b15a1*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784529114771133&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "9969d958-d02b-483a-8d54-101607ab9d3b",
          "6411a64c-e250-4c38-869e-dd184475ef3e"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/joedouble_id-simdev-3258661/providers/Microsoft.NetworkCloud/clusters/simdev-3258661-cluster-1",
            "name": "simdev-3258661-cluster-1",
            "type": "microsoft.networkcloud/clusters",
            "location": "eastus2euap",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3258661-roy72npm2mlhu/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-roy72npm2mlhu-cl",
              "type": "CustomLocation"
            },
            "tags": {
              "EnableDenyAssignments": "false",
              "LabEnvironment": "simulator",
              "ManagedBy": "nc-development-environments",
              "ResourceType": "cluster"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-03-13T11:49:45.2143859Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-03-20T16:11:16.5329934Z"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/sub[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "updateStrategy": {
            "maxUnavailable": 2,
            "strategyType": "PauseAfterRack",
            "thresholdType": "PercentSuccess",
            "thresholdValue": 100,
            "waitTimeMinutes": 0
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/606c6d90-38ce-42f8-83ee-4b62c4dff4c2*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784529499012640&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYK[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/606c6d90-38ce-42f8-83ee-4b62c4dff4c2*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784529499012640&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "secretArchiveSettings": {
            "vaultUri": "file:///subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Storage/storageAccounts/simdev3279359vm1sa"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/5e7d7c22-6fba-41a1-a24c-7de9db698c7d*D19B710F244FAED3DE3C621B4C7F8[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/5e7d7c22-6fba-41a1-a24c-7de9db698c7d*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784529701675770&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "vulnerabilityScanningSettings": {
            "containerScan": "Enabled"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/c4220066-f709-447e-9e57-5411a64a4281*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784529912233313&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/c4220066-f709-447e-9e57-5411a64a4281*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784529912233313&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk5684/providers/Microsoft.NetworkCloud/clusters/cluster6838/updateVersion?api-version=2024-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetClusterVersion": "3.15.0"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/a476c867-666d-4c21-b9f9-bd206b1fc443*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530019178585&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/a476c867-666d-4c21-b9f9-bd206b1fc443*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530019178585&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a476c867-666d-4c21-b9f9-bd206b1fc443*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530020901518&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/a476c867-666d-4c21-b9f9-bd206b1fc443*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530032464531&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/bbc93505-db8b-4fc3-9370-4575764eb6c5*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530070473009&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/bbc93505-db8b-4fc3-9370-4575764eb6c5*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530072402557&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/bbc93505-db8b-4fc3-9370-4575764eb6c5*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530084467182&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/bbc93505-db8b-4fc3-9370-4575764eb6c5*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530096382431&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/bbc93505-db8b-4fc3-9370-4575764eb6c5*D19B710F244FAED3DE3C621B4C7F85C7A606740A0AA7B51C701DC695917CF389?api-version=2024-10-01-preview&t=638784530107980837&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIwMDgzNTM2WhcNMjUwNzE5MDgzNTM2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMIvzhqGKiWeVv5oxugQQEZ8AxTC1p8Lu-WshPo0K7VS2EMvF_bHNAJa2ICbsiu5eWYlTaYcdzZL_li8T_EER2Dx5l6uj7GUfGoYbEJQ0ZdYtzLoQJYa5_x168-RsA7F1839wPdzv32z3afnCHOSeIzPiOiCJXb6FjOWJ-znbB2na5Gw4nwgaj4uxlRQGN3ElReqQ4P64xkAph5x91fRINLkaaRTDeKQ_g_suaN1BHm22myYRg2O9gZy5mhTUzDjj9HsrGu2-1-ZFNZZPMl5ltWBsQD6c_49DWpOowaX9ZSYaO9E9s45gP5YMr-ALxZrETB9ilbvFNbbXmv9Kc5LEc0CAwEAAaOCBHQwggRwMCcGCSsGAQQBgjcVCgQaMBgwCgYIKwYBBQUHAwEwCgYIKwYBBQUHAwIwPQYJKwYBBAGCNxUHBDAwLgYmKwYBBAGCNxUIhpDjDYTVtHiE8Ys-hZvdFs6dEoFghfmRS4WsmTQCAWQCAQcwggHLBggrBgEFBQcBAQSCAb0wggG5MGMGCCsGAQUFBzAChldodHRwOi8vY3JsLm1pY3Jvc29mdC5jb20vcGtpaW5mcmEvQ2VydHMvQ08xUEtJSU5UQ0EwMS5BTUUuR0JMX0FNRSUyMEluZnJhJTIwQ0ElMjAwNS5jcnQwUwYIKwYBBQUHMAKGR2h0dHA6Ly9jcmwxLmFtZS5nYmwvYWlhL0NPMVBLSU