{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk4480?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480",
        "name": "networkcloud-sdk4480",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5?api-version=2024-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1"
        },
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {}
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim"
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/microsoft.operationalinsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            }
          },
          "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/microsoft.operationalinsights/workspaces/simdev-3279359-law",
          "clusterServicePrincipal": {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "password": "Sanitized",
            "principalId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000"
          },
          "clusterType": "MultiRack",
          "clusterVersion": "4.3.0",
          "commandOutputSettings": {
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity"
            },
            "containerUrl": "https://sanitized.blob.core.windows.net/mycontainer?restype=container"
          },
          "computeDeploymentThreshold": {
            "grouping": "PerCluster",
            "type": "PercentSuccess",
            "value": 90
          },
          "computeRackDefinitions": [
            {
              "bareMetalMachineConfigurationData": [
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:FF",
                  "bootMacAddress": "00:BB:CC:DD:EE:FF",
                  "machineDetails": "extraDetails",
                  "machineName": "compute1",
                  "rackSlot": 1,
                  "serialNumber": "BM1219XXX"
                },
                {
                  "bmcCredentials": {
                    "password": "Sanitized",
                    "username": "username"
                  },
                  "bmcMacAddress": "AA:BB:CC:DD:EE:00",
                  "bootMacAddress": "00:BB:CC:DD:EE:00",
                  "machineDetails": "extraDetails",
                  "machineName": "compute2",
                  "rackSlot": 2,
                  "serialNumber": "BM1219YYY"
              [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/a3d09e35-d8e3-405f-b84e-0a1c5da3092a*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780292423809460&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"43000a09-0000-1000-0000-67db690e0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5",
        "name": "cluster5",
        "type": "microsoft.networkcloud/clusters",
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3279359-kkgrbbsjkpcug/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-kkgrbbsjkpcug-cl",
          "type": "CustomLocation"
        },
        "tags": {
          "key1": "myvalue1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-20T01:00:40.9573953Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-03-20T01:02:06.6250287Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3279359-cluster-1-identity": {
              "clientId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "aggregatorOrSingleRackDefinition": {
            "availabilityZone": "A",
            "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dotnet-sdk_id-simdev-3279359/providers/Microsoft.Network/virtualNetworks/CM_vNet",
            "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
            "rackSerialNumber": "aa1234",
            "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim",
            "storageApplianceConfigurationData": [],
            "bareMetalMachineConfigurationData": []
          },
          "analyticsOutputSettings": {
            "analyticsWorkspaceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/dotnet-sdk_id-simdev-3279359/providers/microsoft.operationalinsights/workspaces/simdev-3279359-law",
            "associatedIdentity": {
              "identityType": "UserAssignedIdentity",
              "userAssignedIdentityResourceId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "clusterLocation": "Foo floor"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/544a72fe-6b5e-455b-a463-41f2e743fefa*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780293772741140&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwMTIwMDgzNTM2WhcNMjUwNzE5M[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/544a72fe-6b5e-455b-a463-41f2e743fefa*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780293772741140&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusters?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "3841cbde-2055-4f2c-ab56-4739d5e56b16",
          "1cf62ef1-b71e-4d2e-ac32-05b2112fa5c3",
          "336a43c4-aa5f-4651-81e8-e923f2543ac9"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/synt-sandbox-ApiTestingOnAzure-australiaeast-API-sy_USEast-gh4ikdbt-test/providers/Microsoft.NetworkCloud/clusters/cluster9081a5",
            "name": "cluster9081a5",
            "type": "microsoft.networkcloud/clusters",
            "location": "australiaeast",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/clustermgr45075a-HostedResources-4885A574/providers/Microsoft.ExtendedLocation/customLocations/clustermgr45075a-cl",
              "type": "CustomLocation"
            },
            "tags": {
              "Created": "2025-03-20T01:02:51Z",
              "EnableDenyAssignments": "true",
              "LabEnvironment": "api-simulator",
              "ManagedBy": "amalgamates",
              "Owner": "afonexuspenroseall@microsoft.com",
              "ResourceType": "cluster",
              "SkipHardwareValidation": "true",
              "from": "geneva-synthetics,",
              "sshKeyUrl": "https://simulatorsa.blob.core.windows.net/simulator-public-key/common-simulator-key.pub"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-03-20T00:59:47.1679042Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2025-03-20T01:02:51.6306622Z"
            },
            "properties": {
              "clusterManagerId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/synt-sandbox-apitestingonazure-australiaeast-api-sy_useast-gh4ikdbt-test/providers/Microsoft.NetworkCloud/clusterManagers/clustermgr45075a",
              "availableUpgradeVersions": [],
              "detailedStatus": "PendingDeployment",
              "detailedStatusMessage": "Cluster is pending deployment.",
              "clusterConnectionStatus": "Undefined",
              "workloadResourceIds": [],
              "provisioningState": "Accepted",
              "aggregatorOrSingleRackDefinition": {
                "availabilityZone": "A",
                "networkRackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/synt-sandbox-ApiTestingOnAzure-australiaeast-API-sy_USEast-gh4ikdbt-test/providers/Microsoft.Network/virtualNetworks/vNet/subnets/Subnet",
                "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
                "rackSerialNumber": "aa[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "myvalue1",
          "key2": "myvalue2"
        },
        "properties": {
          "updateStrategy": {
            "maxUnavailable": 2,
            "strategyType": "PauseAfterRack",
            "thresholdType": "PercentSuccess",
            "thresholdValue": 100,
            "waitTimeMinutes": 0
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/d39d2b0c-6734-4511-88d9-21d566e72e57*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294001230566&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYK[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/d39d2b0c-6734-4511-88d9-21d566e72e57*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294001230566&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "secretArchiveSettings": {
            "vaultUri": "https://myaccount.blob.core.windows.net/mycontainer?restype=container"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/06312efc-9f6d-4a63-a6ad-7b8cd98074f5*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294122347175&c=MIIHhz[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/06312efc-9f6d-4a63-a6ad-7b8cd98074f5*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294122347175&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5?api-version=2024-10-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "vulnerabilityScanningSettings": {
            "containerScan": "Enabled"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/ba1ad0e6-ca5e-4521-a8f1-741b31a1080a*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294255118549&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/ba1ad0e6-ca5e-4521-a8f1-741b31a1080a*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294255118549&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4480/providers/Microsoft.NetworkCloud/clusters/cluster5/updateVersion?api-version=2024-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetClusterVersion": "3.15.0"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/b8a938bc-ea18-452b-b49e-ff3c10fc9c91*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294371156027&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/b8a938bc-ea18-452b-b49e-ff3c10fc9c91*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294371156027&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/b8a938bc-ea18-452b-b49e-ff3c10fc9c91*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294373007042&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/b8a938bc-ea18-452b-b49e-ff3c10fc9c91*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294384643188&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/b8a938bc-ea18-452b-b49e-ff3c10fc9c91*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294396242651&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/57ad81bf-a543-41fa-b111-c7cf13509192*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294424366507&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/57ad81bf-a543-41fa-b111-c7cf13509192*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294426324407&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/57ad81bf-a543-41fa-b111-c7cf13509192*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294438232007&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/57ad81bf-a543-41fa-b111-c7cf13509192*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294449750184&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/57ad81bf-a543-41fa-b111-c7cf13509192*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294461420288&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/57ad81bf-a543-41fa-b111-c7cf13509192*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294483354225&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/57ad81bf-a543-41fa-b111-c7cf13509192*A082B40E1429B3301D8A3011D71C1BB261FA404D16AA1DBC19DC0F22B11B2B65?api-version=2024-10-01-preview&t=638780294525726536&c=MIIHhzCCBm-gAwIBAgITfAaPVSYGYp0_a9-AhQAABo9VJjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUw[...]
