{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/test-prakgupta-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/testng874283?api-version=2025-10-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"32000897-0000-0600-0000-69048cee0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/test-prakgupta-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/testng874283",
        "name": "testng874283",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-10-31T10:17:55.141946Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-10-31T10:17:55.141946Z"
        },
        "properties": {
          "scope": "LOCAL",
          "description": "local rulestacks",
          "provisioningState": "Succeeded",
          "defaultMode": "NONE",
          "panEtag": "e4f9fc66-b642-11f0-995d-5aca2e70c7f7",
          "minAppIdVersion": "8595-7473",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      }
    }
  ],
  "Variables": {}
}
