{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/test-prakgupta-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks?api-version=2025-10-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "6c98f9ce-a525-4ec3-a1b7-cf01c9e35f36",
          "bf71d89f-94af-4ff1-9aef-252bf3822373",
          "c9b29dda-7245-4910-9814-71830032a8d4"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/test-prakgupta-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/testng2118",
            "name": "testng2118",
            "type": "paloaltonetworks.cloudngfw/localrulestacks",
            "location": "eastus",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-10-31T10:15:38.6769661Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-10-31T10:15:38.6769661Z"
            },
            "properties": {
              "scope": "LOCAL",
              "description": "local rulestacks",
              "provisioningState": "Succeeded",
              "defaultMode": "NONE",
              "panEtag": "9a6b5f82-b642-11f0-b109-121bd8ee6cc4",
              "minAppIdVersion": "8595-7473",
              "securityServices": {
                "vulnerabilityProfile": "BestPractice",
                "antiSpywareProfile": "BestPractice",
                "antiVirusProfile": "BestPractice",
                "urlFilteringProfile": "BestPractice",
                "fileBlockingProfile": "BestPractice",
                "dnsSubscription": "BestPractice"
              }
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/test-prakgupta-rg/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/testng66561",
            "name": "testng66561",
            "type": "paloaltonetworks.cloudngfw/localrulestacks",
            "location": "eastus",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "202[...]
