{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-int.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://int.api.azureml-test.ms"
          },
          "int": {
            "uri": "https://int.api.azureml-test.ms"
          }
        },
        "intellectualPropertyPublisher": null
      }
    },
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/00000-test/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.634"
      },
      "ResponseBody": {
        "registryId": "584f9ef8-1989-40a2-9dec-453611954463",
        "registryName": "00000-test",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "eastus2euap",
        "regions": [
          "eastus2euap",
          "eastus"
        ],
        "subscriptionId": "00000000-0000-0000-0000-000000000",
        "resourceGroup": "00000",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-eastus2euap.experiments.azureml.net/",
        "registryFqdns": {
          "eastus2euap": {
            "uri": "https://eastus2euap.api.azureml.ms"
          },
          "eastus": {
            "uri": "https://eastus.api.azureml.ms"
          }
        },
        "intellectualPropertyPublisher": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11910",
        "x-ms-response-type": "standard",
        "x-request-time": "0.016"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master",
        "name": "00000-master",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centraluseuap",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000-master",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000master1484249658",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/00000master5678380578",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/00000master9237632194",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/36642194cc3b431a9295d0cc85a94dc6",
          "creationTime": "2023-03-22T06:35:49.0843740Z",
          "notebookInfo": {
            "resourceId": "3b077043b32a43db839701bd9db18236",
            "fqdn": "ml-00000-maste-centraluseuap-36642194-cc3b-431a-9295-d0cc85a94dc6.centraluseuap.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "36642194-cc3b-431a-9295-d0cc85a94dc6",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://int.api.azureml-test.ms/discovery",
          "mlFlowTrackingUri": "azureml://int.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master",
          "00000TelemetryAppInsightsKey": "ba2a333c-63bd-45bd-b4d6-9c03db9f79e8",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "azureOpenAI": {
            "provisioningState": "Succeeded",
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/00000-master-aoai",
            "endpoint": "https://00000-master-aoai.openai.azure.com/",
            "proxyResourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master/oaiaccounts/id_dc18a5540aa647bdacecd7c8526df1df",
            "failureReason": null,
            "deployedModels": []
          }
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "9d72598b-20f6-4bbb-9f0d-77033a61311f",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-03-22T06:35:49.084374Z",
          "createdBy": "bixiaodi@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-22T06:35:49.084374Z",
          "lastModifiedBy": "bixiaodi@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-master?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": [...]
