{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01&hash=058b3ecc18e993be728c76deec748f335d246a3ddd3ebd1f9dc361a3e07a5e8d&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.207"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e1110904-159e-4b08-bafc-76891546a2f4/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "058b3ecc18e993be728c76deec748f335d246a3ddd3ebd1f9dc361a3e07a5e8d",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sdkv220250424w8160800068.blob.core.windows.net:443/d2fb71ec-159c-425a-8637-f3ca8200f29b-qjemb2e35p9t5v00vak92ac4ne/basic",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2025-06-13T12:16:37.1573187+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-06-13T12:16:37.1573187+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e1110904-159e-4b08-bafc-76891546a2f4/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "applicatio[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_359232339415/versions/1?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "client_component_hash": "7f79e6e0-52d3-34e0-6a7c-1b0069f3f150"
          },
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "is_deterministic": false,
            "environment_variables": {
              "AZURE_OPENAI_API_TYPE": "azure",
              "AZURE_OPENAI_API_VERSION": "2023-03-15-preview",
              "AZURE_OPENAI_API_KEY": "${my_connection.api_key}",
              "AZURE_OPENAI_API_BASE": "${my_connection.api_base}"
            },
            "name": "test_359232339415",
            "version": "1",
            "type": "promptflow_parallel",
            "_source": "YAML.COMPONENT",
            "code": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e1110904-159e-4b08-bafc-76891546a2f4/versions/1",
            "flow_definition_uri": "https://sdkv220250424w8160800068.blob.core.windows.net/d2fb71ec-159c-425a-8637-f3ca8200f29b-qjemb2e35p9t5v00vak92ac4ne/basic/flow.dag.yaml"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_359232339415/versions/1?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "1.766"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_359232339415/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "client_component_hash": "7f79e6e0-52d3-34e0-6a7c-1b0069f3f150"
          },
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "name": "test_359232339415",
            "version": "1",
            "display_name": "test_359232339415",
            "is_deterministic": "False",
            "type": "parallel",
            "inputs": {
              "data": {
                "type": "uri_folder",
                "optional": "False"
              },
              "run_outputs": {
                "type": "uri_folder",
                "optional": "True"
              },
              "environment_variables.AZURE_OPENAI_API_TYPE": {
                "type": "string",
                "optional": "True",
                "default": "azure"
              },
              "environment_variables.AZURE_OPENAI_API_VERSION": {
                "type": "string",
                "optional": "True",
                "default": "2023-03-15-preview"
              },
              "environment_variables.AZURE_OPENAI_API_KEY": {
                "type": "string",
                "optional": "True",
                "default": "${my_connection.api_key}"
              },
              "environment_variables.AZURE_OPENAI_API_BASE": {
                "type": "string",
                "optional": "True",
                "default": "${my_connection.api_base}"
              },
              "text": {
                "type": "string",
                "optional": "False",
                "default": "Hello World!"
              }
            },
            "outputs": {
              "flow_outputs": {
                "type": "uri_folder"
              },
              "debug_info": {
                "type": "uri_folder"
              }
            },
            "task": {
              "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e1110904-159e-4b08-bafc-76891546a2f4/versions/1",
              "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
              "program_arguments": "--amlbi_pf_enabled True --amlbi_pf_run_mode component --amlbi_mini_batch_rows 1 --amlbi_file_format jsonl $[[--amlbi_pf_run_outputs ${{inputs.run_outputs}}]] --amlbi_pf_debug_info ${{outputs.debug_info}} --amlbi_pf_input_text ${{inputs.text}}",
              "entry_script": "driver/azureml_user/parallel_run/prompt_flow_entry.py",
              "type": "run_function",
              "append_row_to": "${{outputs.flow_outputs}}"
            },
            "input_data": "${{inputs.data}}",
            "error_threshold": "-1",
            "logging_level": "INFO",
            "max_concurrency_per_instance": "1",
            "mini_batch_error_threshold": "0",
            "mini_batch_size": "1",
            "retry_settings": {
              "max_retries": "2",
              "timeout": "600"
            }
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2025-06-17T06:34:30.6235422+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-06-17T06:34:30.7204281+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_359232339415"
  }
}
