{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/25076cda-b3c7-4d4a-a36b-68ffc489846d/versions?api-version=2023-04-01&hash=3b94ac6cb29712a56cb97d9765c2dacc29a08b4fcde68a55a600b8abadbcf91e&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.049"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/25076cda-b3c7-4d4a-a36b-68ffc489846d/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.463"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saw5gakqr75l2j2",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://saw5gakqr75l2j2.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "3ad3fa3c-d118-4071-9a90-8e727dbf82fc",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env/conda.yml?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 11:13:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env/conda.yml?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 Mar 2025 11:13:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "bmFtZTogZXhhbXBsZS1lbnZpcm9ubWVudApjaGFubmVsczoKICAtIGNvbmRhLWZvcmdlCmRlcGVuZGVuY2llczoKICAtIHB5dGhvbj0zLjYuMQogIC0gcGlwCiAgLSBwaXA6CiAgICAtIG5iZ2l0cHVsbGVyCiAgICAtIHNwaGlueC1nYWxsZXJ5CiAgICAtIHBhbmRhcwogICAgLSBtYXRwbG90bGliCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "ETag": "\"0x8DD660DE0DDA6C1\"",
        "Last-Modified": "Tue, 18 Mar 2025 11:13:14 GMT",
        "x-ms-content-crc64": "rGw8VaOHJLc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env/helloworld_component_env_inline.yml?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "Reque[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env/helloworld_component_env_path_1.yml?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "Reque[...]
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env/env/conda.yml?skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 Mar 2025 11:13:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "bmFtZTogZXhhbXBsZS1lbnZpcm9ubWVudApjaGFubmVsczoKICAtIGNvbmRhLWZvcmdlCmRlcGVuZGVuY2llczoKICAtIHB5dGhvbj0zLjYuMQogIC0gcGlwCiAgLSBwaXA6CiAgICAtIG5iZ2l0cHVsbGVyCiAgICAtIHNwaGlueC1nYWxsZXJ5CiAgICAtIHBhbmRhcwogICAgLSBtYXRwbG90bGliCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "ETag": "\"0x8DD660DE1478A59\"",
        "Last-Modified": "Tue, 18 Mar 2025 11:13:15 GMT",
        "x-ms-content-crc64": "rGw8VaOHJLc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env/conda.yml?comp=metadata&skoid=a7131bf7-66af-4a51-8e78-b1d7c60bfbbe&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-03-18T11%3A00%3A45Z&ske=2025-03-19T03%3A10%3A45Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 11:13:15 GMT",
        "x-ms-meta-name": "25076cda-b3c7-4d4a-a36b-68ffc489846d",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD660DE172FD5D\"",
        "Last-Modified": "Tue, 18 Mar 2025 11:13:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/25076cda-b3c7-4d4a-a36b-68ffc489846d/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/25076cda-b3c7-4d4a-a36b-68ffc489846d/versions/1?api-version=2023-04-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.464"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/25076cda-b3c7-4d4a-a36b-68ffc489846d/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saw5gakqr75l2j2.blob.core.windows.net:443/4830284c-8448-41aa-bcdd-55399c88f511-12zh1oaj2s13yafeoo3803x91i/helloworld_components_with_env",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2025-03-18T11:13:17.9714965+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-18T11:13:17.9714965+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_609747315743/versions/1?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the basic command component",
          "properties": {
            "client_component_hash": "5ee0d2ca-1c76-c2de-9a62-69a7859469e4"
          },
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/25076cda-b3c7-4d4a-a36b-68ffc489846d/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_609747315743",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentBasic",
            "is_deterministic": true,
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_609747315743/versions/1?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.908"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_609747315743/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "client_component_hash": "5ee0d2ca-1c76-c2de-9a62-69a7859469e4"
          },
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "test_609747315743",
            "version": "1",
            "display_name": "CommandComponentBasic",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/25076cda-b3c7-4d4a-a36b-68ffc489846d/versions/1",
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo Hello World"
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2025-03-18T11:13:23.9550565+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2025-03-18T11:13:24.0233433+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_609747315743"
  }
}
