{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.027"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/amltest5899420437",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/amltest0996578422",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/amltest6460044560",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/0bdd51b6cd9c4978b87099997b393b81",
          "creationTime": "2023-05-19T09:41:39.7603352Z",
          "notebookInfo": {
            "resourceId": "386598570e7049b7a1b260159bb0e047",
            "fqdn": "ml-amltest-eastus2-0bdd51b6-cd9c-4978-b870-99997b393b81.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "0bdd51b6-cd9c-4978-b870-99997b393b81",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": null,
          "00000TelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "azureOpenAI": {
            "provisioningState": "NotStarted",
            "resourceId": null,
            "endpoint": null,
            "proxyResourceId": null,
            "failureReason": null,
            "deployedModels": []
          },
          "endpointResources": {}
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "372c30a9-c04f-422f-b38c-872e6b7d5540",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-05-19T09:41:39.7603352Z",
          "createdBy": "chenyzhang@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-05-19T09:41:39.7603352Z",
          "lastModifiedBy": "chenyzhang@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/00000/validate?api-version=2020-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "resources": [
              {
                "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
                "name": "00000/azureml_anonymous/0.0.1",
                "location": "eastus2",
                "apiversion": "2023-03-01-preview",
                "properties": {
                  "description": "This is the basic command component",
                  "properties": {
                    "client_component_hash": "bcd48b79-c791-132f-aa5d-afbba1a36524"
                  },
                  "tags": {
                    "tag": "tagvalue",
                    "owner": "00000team"
                  },
                  "isAnonymous": false,
                  "isArchived": false,
                  "componentSpec": {
                    "command": "echo Hello World \u0026 echo $[[${{inputs.component_in_number}}]] \u0026 echo ${{inputs.component_in_path}} \u0026 echo ${{outputs.component_out_path}} \u003E ${{outputs.component_out_path}}/component_in_number \u0026 echo ${{inputs.non_existent}} \u0026 echo ${{outputs.non_existent}}",
                    "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
                    "description": "This is the basic command component",
                    "tags": {
                      "tag": "tagvalue",
                      "owner": "00000team"
                    },
                    "version": "0.0.1",
                    "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
                    "display_name": "CommandComponentBasic",
                    "is_deterministic": true,
                    "inputs": {
                      "component_in_number": {
                        "type": "number",
                        "optional": true,
                        "default": "10.99",
                        "description": "A number"
                      },
                      "component_in_path": {
                        "type": "uri_folder",
                        "description": "A path"
                      }
                    },
                    "outputs": {
                      "component_out_path": {
                        "type": "uri_folder"
                      }
                    },
                    "type": "command",
                    "_source": "YAML.COMPONENT"
                  }
                }
              }
            ],
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#"
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Resources/deployments/00000",
        "name": "00000",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "10792337464360612026",
          "parameters": {},
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "0001-01-01T00:00:00Z",
          "duration": "PT0S",
          "correlationId": "bb2f18b1-5098-4ebd-81da-3d0716186905",
          "providers": [
            {
              "namespace": "Microsoft.MachineLearningServices",
              "resourceTypes": [
                {
                  "resourceType": "workspaces/components/versions",
                  "locations": [
                    "eastus2"
                  ]
                }
              ]
            }
          ],
          "dependencies": [],
          "validatedResources": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/0.0.1"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
