{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.025"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-int.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://int.api.azureml-test.ms"
          },
          "int": {
            "uri": "https://int.api.azureml-test.ms"
          }
        },
        "intellectualPropertyPublisher": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01\u0026hash=d408b4264d3ab8bb9b148e14b84b0c707ef3333bf7ad4dd62d377a87a892516d\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.375"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/55e9a6be-eb60-49b7-bbd5-debd4184617c/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "d408b4264d3ab8bb9b148e14b84b0c707ef3333bf7ad4dd62d377a87a892516d",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sdknotebstorageef7ce97c5.blob.core.windows.net:443/03a8f995-3786-446b-84fe-edec2f04de34-w6fi82k0076k46ld6g6bymkuw1/basic",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-10-30T10:30:54.7576962\u002B00:00",
              "createdBy": "Xingzhi Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-10-30T10:30:54.7576962\u002B00:00",
              "lastModifiedBy": "Xingzhi Zhang",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/55e9a6be-eb60-49b7-bbd5-debd4184617c/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_615638320296/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "client_component_hash": "cc00c6e0-e5bf-6156-781a-2842f591fd8c"
          },
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "is_deterministic": false,
            "name": "test_615638320296",
            "version": "1",
            "type": "promptflow_parallel",
            "_source": "YAML.COMPONENT",
            "code": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/55e9a6be-eb60-49b7-bbd5-debd4184617c/versions/1",
            "flow_definition_uri": "https://sdknotebstorageef7ce97c5.blob.core.windows.net/03a8f995-3786-446b-84fe-edec2f04de34-w6fi82k0076k46ld6g6bymkuw1/basic/flow.dag.yaml"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_615638320296/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "2.629"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_615638320296/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "client_component_hash": "cc00c6e0-e5bf-6156-781a-2842f591fd8c"
          },
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "name": "test_615638320296",
            "version": "1",
            "display_name": "test_615638320296",
            "is_deterministic": "False",
            "type": "parallel",
            "inputs": {
              "data": {
                "type": "uri_folder",
                "optional": "False"
              },
              "run_outputs": {
                "type": "uri_folder",
                "optional": "True"
              },
              "text": {
                "type": "string",
                "optional": "False",
                "default": "Hello World!"
              }
            },
            "outputs": {
              "flow_outputs": {
                "type": "uri_folder"
              },
              "debug_info": {
                "type": "uri_folder"
              }
            },
            "task": {
              "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/55e9a6be-eb60-49b7-bbd5-debd4184617c/versions/1",
              "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
              "program_arguments": "--amlbi_pf_enabled True --amlbi_pf_run_mode component --amlbi_mini_batch_rows 1 --amlbi_file_format jsonl $[[--amlbi_pf_run_outputs ${{inputs.run_outputs}}]] --amlbi_pf_debug_info ${{outputs.debug_info}} --amlbi_pf_input_text ${{inputs.text}}",
              "entry_script": "driver/azureml_user/parallel_run/prompt_flow_entry.py",
              "type": "run_function",
              "append_row_to": "${{outputs.flow_outputs}}"
            },
            "input_data": "${{inputs.data}}",
            "error_threshold": "-1",
            "logging_level": "INFO",
            "max_concurrency_per_instance": "1",
            "mini_batch_error_threshold": "0",
            "mini_batch_size": "1",
            "retry_settings": {
              "max_retries": "2",
              "timeout": "600"
            }
          }
        },
        "systemData": {
          "createdAt": "2023-11-07T03:26:29.6309574\u002B00:00",
          "createdBy": "Xingzhi Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2023-11-07T03:26:29.7231847\u002B00:00",
          "lastModifiedBy": "Xingzhi Zhang",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_615638320296"
  }
}
