{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01&hash=a4e91c079c2a271d699ffac5ca5441abc8034151356913e57bff8f483c3d3a3b&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.055"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/000000000000000000000",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "a4e91c079c2a271d699ffac5ca5441abc8034151356913e57bff8f483c3d3a3b",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://saffvflk7q7qq34.blob.core.windows.net:443/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4/python",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2024-09-06T17:41:14.9497245+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-09-06T17:41:14.9497245+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
   [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_862384637984/versions/1.0.0?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "parallel component for batch score",
          "properties": {
            "client_component_hash": "6dd5c2e2-ceea-4db6-8c9d-c0f842ecb1e0"
          },
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_862384637984",
            "description": "parallel component for batch score",
            "version": "1.0.0",
            "$schema": "http://azureml/sdk-2-0/ParallelComponent.json",
            "display_name": "BatchScore",
            "is_deterministic": true,
            "inputs": {
              "component_in_path": {
                "type": "uri_folder",
                "description": "A path"
              },
              "label": {
                "type": "string",
                "description": "A label"
              },
              "model": {
                "type": "string",
                "description": "Type of model"
              }
            },
            "outputs": {
              "scoring_summary": {
                "type": "mltable"
              }
            },
            "type": "parallel",
            "task": {
              "type": "run_function",
              "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
              "entry_script": "score.py",
              "program_arguments": "--label ${{inputs.label}} --model ${{inputs.model}}",
              "append_row_to": "${{outputs.scoring_summary}}",
              "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33"
            },
            "mini_batch_size": "10485760",
            "input_data": "${{inputs.component_in_path}}",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_862384637984/versions/1.0.0?api-version=2024-01-01-preview",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.993"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_862384637984/versions/1.0.0",
        "name": "1.0.0",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "client_component_hash": "6dd5c2e2-ceea-4db6-8c9d-c0f842ecb1e0"
          },
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "http://azureml/sdk-2-0/ParallelComponent.json",
            "name": "test_862384637984",
            "version": "1.0.0",
            "display_name": "BatchScore",
            "is_deterministic": "True",
            "type": "parallel",
            "description": "parallel component for batch score",
            "inputs": {
              "component_in_path": {
                "type": "uri_folder",
                "optional": "False",
                "description": "A path"
              },
              "label": {
                "type": "string",
                "optional": "False",
                "description": "A label"
              },
              "model": {
                "type": "string",
                "optional": "False",
                "description": "Type of model"
              }
            },
            "outputs": {
              "scoring_summary": {
                "type": "mltable"
              }
            },
            "task": {
              "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
              "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
              "program_arguments": "--label ${{inputs.label}} --model ${{inputs.model}}",
              "entry_script": "score.py",
              "type": "run_function",
              "append_row_to": "${{outputs.scoring_summary}}"
            },
            "input_data": "${{inputs.component_in_path}}",
            "error_threshold": "-1",
            "logging_level": "INFO",
            "mini_batch_size": "10485760",
            "retry_settings": {
              "max_retries": "3",
              "timeout": "60"
            }
          },
          "provisioningState": "Succeeded",
          "stage": "Development"
        },
        "systemData": {
          "createdAt": "2024-09-07T06:26:33.0226842+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-09-07T06:26:33.1014968+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.078"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "None"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-f51a05ae-45d5-43d8-9d75-31f1e5eaba07",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2024-08-30T06:10:08.2917643+00:00",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-09-02T06:29:21.7434839+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "0.090"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "No secrets for credentials of type None.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "57cffca10741a7c773cbe8aacdd1022e",
                  "request": "a9f342a5e09f3ca9"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2024-09-07T06:26:40.8598895+00:00"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4?restype=container&comp=list&prefix=python&include=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 07 Sep 2024 06:26:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://saffvflk7q7qq34.blob.core.windows.net/\" ContainerName=\"f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4\"><Prefix>python</Prefix><Blobs><Blob><Name>python/sample1.csv</Name><Properties><Creation-Time>Fri, 06 Sep 2024 17:41:07 GMT</Creation-Time><Last-Modified>Fri, 06 Sep 2024 17:41:09 GMT</Last-Modified><Etag>0x8DCCE9B17BBFF7C</Etag><Content-Length>499</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>kD7N5+ygjTfbYTFhyEo7RA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><upload_status>completed</upload_status><name>059c55ce-595b-4e92-ade0-06ecf58c4808</name><version>1</version></Metadata><OrMetadata /></Blob><Blob><Name>python/simple_train.py</Name><Properties><Creation-Time>Fri, 06 Sep 2024 17:41:07 GMT</Creation-Time><Last-Modified>Fri, 06 Sep 2024 17:41:07 GMT</Last-Modified><Etag>0x8DCCE9B16E555FE</Etag><Content-Length>1010</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>CJ5ufDE5SUpMppnKB03iOg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</Acc[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4/python/sample1.csv",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 07 Sep 2024 06:26:44 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-498/499",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE9B17BBFF7C\"",
        "Last-Modified": "Fri, 06 Sep 2024 17:41:09 GMT",
        "x-ms-blob-content-md5": "kD7N5+ygjTfbYTFhyEo7RA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 17:41:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "059c55ce-595b-4e92-ade0-06ecf58c4808",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "Ik1vbnRoIiwgIkF2ZXJhZ2UiLCAiMjAwNSIsICIyMDA2IiwgIjIwMDciLCAiMjAwOCIsICIyMDA5IiwgIjIwMTAiLCAiMjAxMSIsICIyMDEyIiwgIjIwMTMiLCAiMjAxNCIsICIyMDE1IgoiTWF5IiwgIDAuMSwgIDAsICAwLCAxLCAxLCAwLCAwLCAwLCAyLCAwLCAgMCwgIDAKIkp1biIsICAwLjUsICAyLCAgMSwgMSwgMCwgMCwgMSwgMSwgMiwgMiwgIDAsICAxCiJKdWwiLCAgMC43LCAgNSwgIDEsIDEsIDIsIDAsIDEsIDMsIDAsIDIsICAyLCAgMQoiQXVnIiwgIDIuMywgIDYsICAzLCAyLCA0LCA0LCA0LCA3LCA4LCAyLCAgMiwgIDMKIlNlcCIsICAzLjUsICA2LCAgNCwgNywgNCwgMiwgOCwgNSwgMiwgNSwgIDIsICA1CiJPY3QiLCAgMi4wLCAgOCwgIDAsIDEsIDMsIDIsIDUsIDEsIDUsIDIsICAzLCAgMAoiTm92IiwgIDAuNSwgIDMsICAwLCAwLCAxLCAxLCAwLCAxLCAwLCAxLCAgMCwgIDEKIkRlYyIsICAwLjAsICAxLCAgMCwgMSwgMCwgMCwgMCwgMCwgMCwgMCwgIDAsICAxCg=="
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4/python/simple_train.py",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 07 Sep 2024 06:26:44 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1009/1010",
        "Content-Type[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4/python/sweep_script.py",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 07 Sep 2024 06:26:45 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-514/515",
        "Content-Type":[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4/python/sweep_script_search.py",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 07 Sep 2024 06:26:45 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2796/2797",
        "Conte[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/f51a05ae-45d5-43d8-9d75-31f1e5eaba07-giifxgy9j7mm2xn5jppv9t2cr4/python/train.py",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 07 Sep 2024 06:26:45 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1035/1036",
        "Content-Type": "app[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_862384637984_recreated/versions/1.0.0?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "parallel component for batch score",
          [...]
