{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.078"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "westus",
        "tags": {},
        "properties": {
          "createdOn": "2026-03-03T16:25:27.3863419+00:00",
          "modifiedOn": "2026-03-03T16:25:38.210174+00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "westus",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "provisioningWarnings": {},
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2026-03-03T18:27:14.678+00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01&hash=108efe44b562f7d95b30631a1d876dd2e1ee9855038d9218f2bde7d4eb2aafa8&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.092"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.222"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-ehazascsjp63i5a9bgonkl1pvq",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sakdaovmzee5xia",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://sakdaovmzee5xia.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-ehazascsjp63i5a9bgonkl1pvq?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "7186ba59-08b5-466a-9801-4a74089d496d",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-ehazascsjp63i5a9bgonkl1pvq/compare2_src/compare2.py?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-ehazascsjp63i5a9bgonkl1pvq/compare2_src/compare2.py?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "lhdlP3AmfdrQn+PzTAYfwA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 03 Mar 2026 18:28:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlCmZyb20gcGF0aGxpYiBpbXBvcnQgUGF0aAoKcGFyc2VyID0gYXJncGFyc2UuQXJndW1lbnRQYXJzZXIoImNvbXBhcmUyIikKcGFyc2VyLmFkZF9hcmd1bWVudCgiLS1tb2RlbDEiLCB0eXBlPXN0ciwgaGVscD0iVGhlIGZpcnN0IG1vZGVsIHRvIGNvbXBhcmUgd2l0aCIpCnBhcnNlci5hZGRfYXJndW1lbnQoIi0tZXZhbF9yZXN1bHQxIiwgdHlwZT1zdHIsIGhlbHA9IlRoZSBldmFsdWF0aW9uIHJlc3VsdCBvZiBmaXJzdCBtb2RlbCIpCnBhcnNlci5hZGRf[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-ehazascsjp63i5a9bgonkl1pvq/compare2_src/compare2.py?comp=metadata&skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:21 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7952A660C9E9\"",
        "Last-Modified": "Tue, 03 Mar 2026 18:28:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-ehazascsjp63i5a9bgonkl1pvq/compare2_src",
          "isAnonymous": true,
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.219"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sakdaovmzee5xia.blob.core.windows.net:443/23329d4e-9b5f-403d-a218-c4e4f8323f5a-ehazascsjp63i5a9bgonkl1pvq/compare2_src",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2026-03-03T18:28:22.17356+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-03T18:28:22.17356+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/462054b7-0660-1c10-737c-2be811b9d126?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy comparison module takes two models as input and outputs the better one",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python compare2.py $[[--model1 ${{inputs.model1}}]] $[[--eval_result1 ${{inputs.eval_result1}}]] $[[--model2 ${{inputs.model2}}]] $[[--eval_result2 ${{inputs.eval_result2}}]] --best_model ${{outputs.best_model}} --best_result ${{outputs.best_result}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "azureml_anonymous",
            "description": "A dummy comparison module takes two models as input and outputs the better one",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json",
            "display_name": "Compare 2 Models",
            "is_deterministic": true,
            "inputs": {
              "model1": {
                "type": "uri_folder",
                "optional": true
              },
              "eval_result1": {
                "type": "uri_folder",
                "optional": true
              },
              "model2": {
                "type": "uri_folder",
                "optional": true
              },
              "eval_result2": {
                "type": "uri_folder",
                "optional": true
              }
            },
            "outputs": {
              "best_model": {
                "type": "uri_folder"
              },
              "best_result": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/462054b7-0660-1c10-737c-2be811b9d126?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.595"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/ecff7be2-2a8f-46c3-8318-87780c8be5f2",
        "name": "ecff7be2-2a8f-46c3-8318-87780c8be5f2",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json",
            "name": "azureml_anonymous",
            "version": "1",
            "display_name": "Compare 2 Models",
            "is_deterministic": "True",
            "type": "command",
            "description": "A dummy comparison module takes two models as input and outputs the better one",
            "inputs": {
              "model1": {
                "type": "uri_folder",
                "optional": "True"
              },
              "eval_result1": {
                "type": "uri_folder",
                "optional": "True"
              },
              "model2": {
                "type": "uri_folder",
                "optional": "True"
              },
              "eval_result2": {
                "type": "uri_folder",
                "optional": "True"
              }
            },
            "outputs": {
              "best_model": {
                "type": "uri_folder"
              },
              "best_result": {
                "type": "uri_folder"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "python compare2.py $[[--model1 ${{inputs.model1}}]] $[[--eval_result1 ${{inputs.eval_result1}}]] $[[--model2 ${{inputs.model2}}]] $[[--eval_result2 ${{inputs.eval_result2}}]] --best_model ${{outputs.best_model}} --best_result ${{outputs.best_result}}"
          },
          "provisioningState": "Succeeded",
          "stage": "Logged"
        },
        "systemData": {
          "createdAt": "2026-03-03T18:28:23.9087588+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-03T18:28:23.9087588+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-6mr1s9u3apzzcgtip838in9v0c/train_src/train.py?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-6mr1s9u3apzzcgtip838in9v0c/train_src/train.py?comp=metadata&skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:25 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7952A84C4C68\"",
        "Last-Modified": "Tue, 03 Mar 2026 18:28:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-jyluzh7d4ahojimy5j5qqgd168/score_src/score.py?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:26 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-jyluzh7d4ahojimy5j5qqgd168/score_src/score.py?comp=metadata&skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:27 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7952A996EB82\"",
        "Last-Modified": "Tue, 03 Mar 2026 18:28:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/61dc77c5-d4e4-3cdf-47f1-672f59df7bb1?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy scoring component",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python score.py --model_input ${{inputs.model_input}} --test_data ${{inputs.test_data}} --score_output ${{outputs.score_output}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "azureml_anonymous",
            "description": "A dummy scoring component",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json",
            "display_name": "Score Data",
            "is_deterministic": true,
            "inputs": {
              "model_input": {
                "type": "uri_folder"
              },
              "test_data": {
                "type": "uri_folder"
              }
            },
            "outputs": {
              "score_output": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServi[...]
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-bhqtxsqeifpu0j8gn9kgr922re/eval_src/eval.py?skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/23329d4e-9b5f-403d-a218-c4e4f8323f5a-bhqtxsqeifpu0j8gn9kgr922re/eval_src/eval.py?comp=metadata&skoid=883e175a-da13-4577-930d-03d4be67401b&sktid=70a036f6-8e4d-4615-bad6-149c02e7720d&skt=2026-03-03T16%3A37%3A04Z&ske=2026-03-04T08%3A47%3A04Z&sks=b&skv=2019-07-07&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 03 Mar 2026 18:28:29 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7952AAEAFF1D\"",
        "Last-Modified": "Tue, 03 Mar 2026 18:28:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/6f89cefe-9ab6-4bfb-2ffb-5636347d87f8?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy evaluate component",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python eval.py --scoring_result ${{inputs.scoring_result}} --eval_output ${{outputs.eval_output}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "azureml_anonymous",
            "description": "A dummy evaluate component",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json",
            "display_name": "Eval Model",
            "is_deterministic": true,
            "inputs": {
              "scoring_result": {
                "type": "uri_folder"
              }
            },
            "outputs": {
              "eval_output": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServi[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/ec112633-5346-96c3-fa13-8c747b2dc1fa?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Dummy train-score-eval pipeline component with local components",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "componentSpec": {
            "name": "azureml_anonymous",
            "description": "Dummy train-score-eval pipeline component with local components",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/pipelineComponent.schema.json",
            "display_name": "train_pipeline_component",
            "inputs": {
              "training_data": {
                "type": "uri_folder"
              },
              "test_data": {
                "type": "uri_folder"
              },
              "training_max_epocs": {
                "type": "integer",
                "optional": true
              },
              "training_learning_rate": {
                "type": "integer",
                "default": "1"
              },
              "learning_rate_schedule": {
                "type": "string",
                "default": "time-based"
              }
            },
            "outputs": {
              "trained_model": {
                "type": "uri_folder"
              },
              "evaluation_report": {
                "type": "uri_folder"
              }
            },
            "type": "pipeline",
            "jobs": {
              "train_job": {
                "name": "train_job",
                "type": "command",
                "inputs": {
                  "training_data": {
                    "job_input_type": "literal",
                    "value": "${{parent.inputs.training_data}}"
                  },
                  "learning_rate": {
                    "job_input_type": "literal",
                    "value": "${{parent.inputs.training_learning_rate}}"
                  },
                  "learning_rate_schedule": {
                    "job_input_type": "literal",
                    "value": "${{parent.inputs.learning_rate_schedule}}"
                  }
                },
                "outputs": {
                  "model_output": {
                    "value": "${{parent.outputs.trained_model}}",
                    "type": "literal"
                  }
                },
                "_source": "YAML.COMPONENT",
                "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/6cb6c35d-7108-46dc-a0be-323df6729113"
              },
              "score_job": {
                "name": "score_job",
                "type": "command",
                "inputs": {
                  "model_input": {
                    "job_input_type": "literal",
                    "value": "${{parent.jobs.train_job.outputs.model_output}}"
                  },
                  "test_data": {
                    "job_input_type": "literal",
                    "value": "${{parent.inputs.test_data}}"
                  }
                },
                "outputs": {
                  "score_output": {
                    "mode": "Upload",
                    "job_output_type": "uri_folder"
                  }
                },
[...]
