{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtest4b52rggae6zuu",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiw5gakqr75l2j2",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crw5gakqr75l2j2",
          "creationTime": "2025-03-18T09:24:40.0505201Z",
          "notebookInfo": {
            "resourceId": "8ddac3bd00dd45bd89a45a226822bb33",
            "fqdn": "ml-sdkvnextcli-westus-4830284c-8448-41aa-bcdd-55399c88f511.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "4830284c-8448-41aa-bcdd-55399c88f511",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "ad4db683-227d-4cf9-b788-db8d151f62e0",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2025-03-18T09:24:40.0505201Z",
          "lastModifiedAt": "2025-03-18T09:24:21.9967392Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/00000/validate?api-version=2020-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "resources": [
              {
                "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
                "name": "00000/azureml_anonymous/0.0.1",
                "location": "westus",
                "apiversion": "2023-03-01-preview",
                "properties": {
                  "description": "This is the basic command component",
                  "properties": {
                    "client_component_hash": "f666124a-515f-37f5-d391-387891d0b88e"
                  },
                  "tags": {
                    "tag": "tagvalue",
                    "owner": "sdkteam"
                  },
                  "isAnonymous": false,
                  "isArchived": false,
                  "componentSpec": {
                    "command": "echo Hello World & echo $[[${{inputs.component_in_number}}]] & echo ${{inputs.component_in_path}} & echo ${{outputs.component_out_path}} > ${{outputs.component_out_path}}/component_in_number & echo ${{inputs.non_existent}} & echo ${{outputs.non_existent}}",
                    "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
                    "description": "This is the basic command component",
                    "tags": {
                      "tag": "tagvalue",
                      "owner": "sdkteam"
                    },
                    "version": "0.0.1",
                    "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
                    "display_name": "CommandComponentBasic",
                    "is_deterministic": true,
                    "inputs": {
                      "component_in_number": {
                        "type": "number",
                        "optional": true,
                        "default": "10.99",
                        "description": "A number"
                      },
                      "component_in_path": {
                        "type": "uri_folder",
                        "description": "A path"
                      }
                    },
                    "outputs": {
                      "component_out_path": {
                        "type": "uri_folder"
                      }
                    },
                    "type": "command",
                    "_source": "YAML.COMPONENT"
                  }
                }
              }
            ],
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#"
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Resources/deployments/00000",
        "name": "00000",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "15500395088743688170",
          "parameters": {},
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2025-03-18T11:24:20.4495099Z",
          "duration": "-P739327DT11H24M20.4495099S",
          "correlationId": "2c87e2c5-8863-4cca-8156-b49eb8314c7f",
          "providers": [
            {
              "namespace": "Microsoft.MachineLearningServices",
              "resourceTypes": [
                {
                  "resourceType": "workspaces/components/versions",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [],
          "validatedResources": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/0.0.1"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
