{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/registrymanagement/v1.0/registries/sdk-test/discovery?api-version=v1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "10f4e32e-b4c3-4516-937a-90a1a86eb503",
        "x-ms-response-type": "error",
        "x-request-time": "0.185"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "User/tenant/subscription is not allowed to access registry sdk-test",
          "messageFormat": "User/tenant/subscription is not allowed to access registry {feedName}",
          "messageParameters": {
            "feedName": "sdk-test"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "Auth",
            "innerError": {
              "code": "Authorization",
              "innerError": {
                "code": "UnAuthorizedRegistryAccess",
                "innerError": null
              }
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "e53cfe7bdde249da80edd43d00f00d4a",
          "request": "0134413644d2e926"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2026-02-27T18:29:41.7933533+00:00",
        "componentName": "feedmanagement",
        "statusCode": 403
      }
    }
  ],
  "Variables": {}
}
