{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-routines-hosted-agent-1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "cs-routines-hosted-agent-1",
        "name": "cs-routines-hosted-agent-1",
        "versions": {
          "latest": {
            "metadata": {
              "enableVnextExperience": "true"
            },
            "object": "agent.version",
            "id": "cs-routines-hosted-agent-1:1",
            "name": "cs-routines-hosted-agent-1",
            "version": "1",
            "description": "",
            "created_at": 1781309666,
            "definition": {
              "kind": "hosted",
              "container_protocol_versions": [],
              "cpu": "0.5",
              "memory": "1Gi",
              "container_configuration": {
                "image": "balapvregistry.azurecr.io/balapvregistry/sample-agent:latest"
              },
              "protocol_versions": [
                {
                  "protocol": "responses",
                  "version": "1.0.0"
                }
              ]
            },
            "status": "active",
            "instance_identity": {
              "principal_id": "bd0a77b5-32c2-4d8b-ac3b-b1b40fff819d",
              "client_id": "bd0a77b5-32c2-4d8b-ac3b-b1b40fff819d"
            },
            "blueprint": {
              "principal_id": "4519092c-d547-42b2-819f-128b8a3364cd",
              "client_id": "9ed09b46-b466-47e7-9fe9-80f157f4a396"
            },
            "blueprint_reference": {
              "type": "ManagedAgentIdentityBlueprint",
              "blueprint_id": "cs-routines-hosted-agent-1-c1b5e"
            },
            "agent_guid": "c1b5e93b-6225-4eb7-b927-c7edc65fbdd7"
          }
        },
        "agent_endpoint": {
          "version_selector": {
            "version_selection_rules": [
              {
                "type": "FixedRatio",
                "agent_version": "@latest",
                "traffic_percentage": 100
              }
            ]
          },
          "protocols": [
            "responses"
          ],
          "authorization_schemes": [
            {
              "type": "Entra",
              "isolation_key_source": {
                "kind": "Entra"
              }
            }
          ]
        },
        "instance_identity": {
          "principal_id": "bd0a77b5-32c2-4d8b-ac3b-b1b40fff819d",
          "client_id": "bd0a77b5-32c2-4d8b-ac3b-b1b40fff819d"
        },
        "blueprint": {
          "principal_id": "4519092c-d547-42b2-819f-128b8a3364cd",
          "client_id": "9ed09b46-b466-47e7-9fe9-80f157f4a396"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-routines-hosted-agent-1-c1b5e"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/routines/cs-routines-0?api-version=v1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "description": "Routine created by unit test.",
        "enabled": true,
        "triggers": {
          "test": {
            "type": "schedule",
            "cron_expression": "*/5 * * * *",
            "time_zone": "UTC"
          }
        },
        "action": {
          "type": "invoke_agent_responses_api",
          "agent_name": "cs-routines-hosted-agent-1",
          "input": "Hello, Tell me a joke."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "name": "cs-routines-0",
        "description": "Routine created by unit test.",
        "enabled": true,
        "triggers": {
          "test": {
            "type": "schedule",
            "cron_expression": "*/5 * * * *",
            "time_zone": "UTC"
          }
        },
        "action": {
          "type": "invoke_agent_responses_api",
          "agent_name": "cs-routines-hosted-agent-1",
          "input": "Hello, Tell me a joke."
        },
        "created_at": 1781310432,
        "updated_at": 1781310432
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/routines/cs-routines-0/runs?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "has_more": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/routines/cs-routines-0/runs?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "id": "a1b054f6-cc1d-4f48-88a2-c525d96455e2",
            "status": "Finished",
            "phase": "completed",
            "trigger_type": "schedule",
            "trigger_name": "test",
            "attempt_source": "schedule_delivery",
            "action_type": "invoke_agent_responses_api",
            "agent_id": "cs-routines-hosted-agent-1",
            "agent_session_id": "aa3f3977c75ad77e912b6f1e50d3098afdfcaab6b7a090a52bb7058b1929f4f",
            "triggered_at": 1781310600,
            "trigger_time_zone": "UTC",
            "started_at": 1781310600,
            "ended_at": 1781310608,
            "dispatch_id": "dispatch_8ea95bc790fa488a9ee5946152fb8dde",
            "action_correlation_id": "dispatch_8ea95bc790fa488a9ee5946152fb8dde",
            "response_id": "caresp_99b032769b5827fd00wvxkH0gUgRMCBm9ExQklIWm1YshR7tzA",
            "task_id": "routine_dispatch_8ea95bc790fa488a9ee5946152fb8dde_delivery",
            "result": {
              "type": "agent_response",
              "agent_name": "cs-routines-hosted-agent-1",
              "agent_session_id": "aa3f3977c75ad77e912b6f1e50d3098afdfcaab6b7a090a52bb7058b1929f4f",
              "response_id": "caresp_99b032769b5827fd00wvxkH0gUgRMCBm9ExQklIWm1YshR7tzA",
              "correlation_id": "dispatch_8ea95bc790fa488a9ee5946152fb8dde"
            }
          }
        ],
        "first_id": "a1b054f6-cc1d-4f48-88a2-c525d96455e2",
        "has_more": false
      }
    }
  ],
  "Variables": {
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
