{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-routines-hosted-agent-1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "cs-routines-hosted-agent-1",
        "name": "cs-routines-hosted-agent-1",
        "versions": {
          "latest": {
            "metadata": {
              "enableVnextExperience": "true"
            },
            "object": "agent.version",
            "id": "cs-routines-hosted-agent-1:1",
            "name": "cs-routines-hosted-agent-1",
            "version": "1",
            "description": "",
            "created_at": 1781548231,
            "definition": {
              "kind": "hosted",
              "container_protocol_versions": [],
              "cpu": "0.5",
              "memory": "1Gi",
              "container_configuration": {
                "image": "balapvregistry.azurecr.io/balapvregistry/sample-agent:latest"
              },
              "protocol_versions": [
                {
                  "protocol": "responses",
                  "version": "1.0.0"
                }
              ]
            },
            "status": "active",
            "instance_identity": {
              "principal_id": "540467f3-113e-4f7c-bb64-1686f5827daa",
              "client_id": "540467f3-113e-4f7c-bb64-1686f5827daa"
            },
            "blueprint": {
              "principal_id": "21370453-4526-482d-b490-f32d6f8045c2",
              "client_id": "db9bd2ca-95ce-40b5-8102-6883c1462eda"
            },
            "blueprint_reference": {
              "type": "ManagedAgentIdentityBlueprint",
              "blueprint_id": "cs-routines-hosted-agent-1-d42c4"
            },
            "agent_guid": "d42c4031-8a04-4c5b-9bfe-6a1927daca64"
          }
        },
        "agent_endpoint": {
          "version_selector": {
            "version_selection_rules": [
              {
                "type": "FixedRatio",
                "agent_version": "@latest",
                "traffic_percentage": 100
              }
            ]
          },
          "protocols": [
            "responses"
          ],
          "authorization_schemes": [
            {
              "type": "Entra",
              "isolation_key_source": {
                "kind": "Entra"
              }
            }
          ]
        },
        "instance_identity": {
          "principal_id": "540467f3-113e-4f7c-bb64-1686f5827daa",
          "client_id": "540467f3-113e-4f7c-bb64-1686f5827daa"
        },
        "blueprint": {
          "principal_id": "21370453-4526-482d-b490-f32d6f8045c2",
          "client_id": "db9bd2ca-95ce-40b5-8102-6883c1462eda"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-routines-hosted-agent-1-d42c4"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/routines/cs-routines-0?api-version=v1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "description": "Routine created by unit test.",
        "enabled": true,
        "triggers": {
          "test": {
            "type": "schedule",
            "cron_expression": "*/5 * * * *",
            "time_zone": "UTC"
          }
        },
        "action": {
          "type": "invoke_agent_responses_api",
          "agent_name": "cs-routines-hosted-agent-1",
          "input": "Hello, Tell me a joke."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "name": "cs-routines-0",
        "description": "Routine created by unit test.",
        "enabled": true,
        "triggers": {
          "test": {
            "type": "schedule",
            "cron_expression": "*/5 * * * *",
            "time_zone": "UTC"
          }
        },
        "action": {
          "type": "invoke_agent_responses_api",
          "agent_name": "cs-routines-hosted-agent-1",
          "input": "Hello, Tell me a joke."
        },
        "created_at": 1782159377,
        "updated_at": 1782159377
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/routines/cs-routines-0/runs?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "has_more": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/routines/cs-routines-0/runs?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "id": "3edc9316-2643-492e-b221-45e7a2886eb1",
            "status": "Finished",
            "phase": "completed",
            "trigger_type": "schedule",
            "trigger_name": "test",
            "attempt_source": "schedule_delivery",
            "action_type": "invoke_agent_responses_api",
            "agent_id": "cs-routines-hosted-agent-1",
            "agent_session_id": "d817e4ee34192162adebb80364b7f2da3db6160d6e637cea0a49904a4a8159d",
            "triggered_at": 1782159600,
            "trigger_time_zone": "UTC",
            "started_at": 1782159600,
            "ended_at": 1782159611,
            "dispatch_id": "dispatch_de5c1eff00df4deebb479fb95a96b6ab",
            "action_correlation_id": "dispatch_de5c1eff00df4deebb479fb95a96b6ab",
            "response_id": "caresp_b4a7a646de1404ed00pOHaqVtJs9ZUlIteKVgK82n0yjhHdfuO",
            "task_id": "routine_dispatch_de5c1eff00df4deebb479fb95a96b6ab_delivery",
            "result": {
              "type": "agent_response",
              "agent_name": "cs-routines-hosted-agent-1",
              "agent_session_id": "d817e4ee34192162adebb80364b7f2da3db6160d6e637cea0a49904a4a8159d",
              "response_id": "caresp_b4a7a646de1404ed00pOHaqVtJs9ZUlIteKVgK82n0yjhHdfuO",
              "correlation_id": "dispatch_de5c1eff00df4deebb479fb95a96b6ab"
            }
          },
          {
            "id": "cb7b5d0a-7bc8-4453-beb4-a2a94990954f",
            "status": "Finished",
            "phase": "completed",
            "trigger_type": "schedule",
            "trigger_name": "test",
            "attempt_source": "schedule_delivery",
            "action_type": "invoke_agent_responses_api",
            "agent_id": "cs-routines-hosted-agent-1",
            "agent_session_id": "bec46d432bce3bdcd1a87c70ddd209d90eafa736e6df027c8837c3e3cd1f1c0",
            "triggered_at": 1782159599,
            "trigger_time_zone": "UTC",
            "started_at": 1782159600,
            "ended_at": 1782159617,
            "dispatch_id": "dispatch_6fea8f422dfb4c6da1d7949cc67521e5",
            "action_correlation_id": "dispatch_6fea8f422dfb4c6da1d7949cc67521e5",
            "response_id": "caresp_c6f7eeac217f570f00IQU1wsgBhTgOVT7Bb3Xhd48quD73XpLW",
            "task_id": "routine_dispatch_6fea8f422dfb4c6da1d7949cc67521e5_delivery",
            "result": {
              "type": "agent_response",
              "agent_name": "cs-routines-hosted-agent-1",
              "agent_session_id": "bec46d432bce3bdcd1a87c70ddd209d90eafa736e6df027c8837c3e3cd1f1c0",
              "response_id": "caresp_c6f7eeac217f570f00IQU1wsgBhTgOVT7Bb3Xhd48quD73XpLW",
              "correlation_id": "dispatch_6fea8f422dfb4c6da1d7949cc67521e5"
            }
          }
        ],
        "first_id": "3edc9316-2643-492e-b221-45e7a2886eb1",
        "has_more": false
      }
    }
  ],
  "Variables": {
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
