{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764681606009595?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9D80917845\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:00:48 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764681606009595/blob176764684836202737",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "YWFhYWJiYmI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xiIFTZ5vF7Q4FK1dYcqyOQ==",
        "ETag": "\"0x8DE4C9D80A5AFE3\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:00:48 GMT",
        "x-ms-content-crc64": "zTdRkVZsAUE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:00:48.5107683Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764681606009595/blob176764684836202737",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-range": "bytes=4-7",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 4-7/8",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE4C9D80A5AFE3\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:00:48 GMT",
        "x-ms-blob-content-md5": "xiIFTZ5vF7Q4FK1dYcqyOQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 05 Jan 2026 21:00:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 05 Jan 2026 21:00:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:00:48.5107683Z"
      },
      "ResponseBody": "YmJiYg=="
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764681606009595?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176764684836202737",
    "container": "container176764681606009595"
  }
}
