{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/2edda4fea01049ef9354deff90d78611",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wz5dMYyb23TpBM81t3DhZtbCU-6qon2hNZPm9g76INalUieukqdYv5VCMawcFBNYPGcmS1unHN1n1CnaGG5wrGa3aIxM6VLb-COCT2wVf45qoIEbTNQoLGAjNmTwC83708HGSXKUnP7Vg2asRTa3rpvwLVly6lzdMVkxWWfeKKiXCTqR3fWtuNEW2k8DAlPRRZZAYGL60-las3qrY3Ts4c5wj0trJHCn4h3JFDSR76yBMEDqsP_HWyFcAw3Pz_YALTGtQtr0cxKOIchHGvZhnbUY9LhMpNjjoM3Nd1uUTnKcDHrEbdjPO_Y-zieprVQA67Ojc9Ma68IF3NMJeS67EQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132216,
          "updated": 1782132216,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-",
        "deletedDate": 1782132217,
        "scheduledPurgeDate": 1782737017,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/2edda4fea01049ef9354deff90d78611",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wz5dMYyb23TpBM81t3DhZtbCU-6qon2hNZPm9g76INalUieukqdYv5VCMawcFBNYPGcmS1unHN1n1CnaGG5wrGa3aIxM6VLb-COCT2wVf45qoIEbTNQoLGAjNmTwC83708HGSXKUnP7Vg2asRTa3rpvwLVly6lzdMVkxWWfeKKiXCTqR3fWtuNEW2k8DAlPRRZZAYGL60-las3qrY3Ts4c5wj0trJHCn4h3JFDSR76yBMEDqsP_HWyFcAw3Pz_YALTGtQtr0cxKOIchHGvZhnbUY9LhMpNjjoM3Nd1uUTnKcDHrEbdjPO_Y-zieprVQA67Ojc9Ma68IF3NMJeS67EQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782132216,
          "updated": 1782132216,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateaRSAkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
