{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-candeleteakey-/65aefedc988d49fc8893f24ff3df37bc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xuYo-fWhM7JGHhSL2-RycUWppII2ybyESyTfeHClwPgra5-tzujJZ1Pcd7OsKUcEMc8VJWDpiwcSuHsuxjSLsqAeDfrx7M38z_iYEpDlIWI0QvoSrYngETp4JpjzOSFWnoeedWHthHn2_XfJT4ZS5yKSzPTrpwYXcxXavLXUDVok_7d8RLNnHiRypbIzX_ZdQrALcmMKwYbYocxE19OPveap4YR6zKh3sQ_nbDXNfi0FhkaSnIztWDsqTeFhx8tiFmkV8dGkdnSkDSmXbGaaW3wFV4shJVvsRErSYCsH6kF7gY9TY4AU8ikV1xElDjDrcM6J1tpcz0E3FebmxJwuCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063130,
          "updated": 1732063130,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-",
        "deletedDate": 1732063130,
        "scheduledPurgeDate": 1732667930,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-candeleteakey-/65aefedc988d49fc8893f24ff3df37bc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xuYo-fWhM7JGHhSL2-RycUWppII2ybyESyTfeHClwPgra5-tzujJZ1Pcd7OsKUcEMc8VJWDpiwcSuHsuxjSLsqAeDfrx7M38z_iYEpDlIWI0QvoSrYngETp4JpjzOSFWnoeedWHthHn2_XfJT4ZS5yKSzPTrpwYXcxXavLXUDVok_7d8RLNnHiRypbIzX_ZdQrALcmMKwYbYocxE19OPveap4YR6zKh3sQ_nbDXNfi0FhkaSnIztWDsqTeFhx8tiFmkV8dGkdnSkDSmXbGaaW3wFV4shJVvsRErSYCsH6kF7gY9TY4AU8ikV1xElDjDrcM6J1tpcz0E3FebmxJwuCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063130,
          "updated": 1732063130,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-candeleteakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) CRUDKeyName-candeleteakey- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
