{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetadeletedkey-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetadeletedkey-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetadeletedkey-/81154388b36d40c7ac00fdf58d51c3b4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zwL4TYpkFX0ZuAI7Fhr6T3X0jFPvDbhfqCUQ94g1ubXp4UDJ8ceaN1emgWIBb1sse4F7sYGuXc6ZsK7gRekRtv27Xc9k0yrjARVFrcYZMckEfa37mn2I9YcPBI6K9syamNggnKYs-_UIPld9xNWBxdCZEv7-VxKVcJZdRqORudfGW0GCRZ2tX0BOVHTZtMV8AnkFrEHSOjYCmOF8GjqaUVyZddCi_mQWFNvKg1dgFlaOiyuW_j3fDKcFZ_x05MbLP9PABm6irKjWVsuaSBa_4Z3hqCirPCJPATLMNHcpsKiqXU8W6yWDiGLEH5QteFY4o8Mj6I1YeS3it2kKuQTqHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604708,
          "updated": 1778604708,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetadeletedkey-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cangetadeletedkey-",
        "deletedDate": 1778604708,
        "scheduledPurgeDate": 1779209508,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetadeletedkey-/81154388b36d40c7ac00fdf58d51c3b4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zwL4TYpkFX0ZuAI7Fhr6T3X0jFPvDbhfqCUQ94g1ubXp4UDJ8ceaN1emgWIBb1sse4F7sYGuXc6ZsK7gRekRtv27Xc9k0yrjARVFrcYZMckEfa37mn2I9YcPBI6K9syamNggnKYs-_UIPld9xNWBxdCZEv7-VxKVcJZdRqORudfGW0GCRZ2tX0BOVHTZtMV8AnkFrEHSOjYCmOF8GjqaUVyZddCi_mQWFNvKg1dgFlaOiyuW_j3fDKcFZ_x05MbLP9PABm6irKjWVsuaSBa_4Z3hqCirPCJPATLMNHcpsKiqXU8W6yWDiGLEH5QteFY4o8Mj6I1YeS3it2kKuQTqHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604708,
          "updated": 1778604708,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetadeletedkey-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cangetadeletedkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetadeletedkey-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
