{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithsize-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithsize-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "key_size": 2048,
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithsize-/04a8a5c208ff428b9bcbe4ca0a24368a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wVu2-_NLsAjxy0SNcd43AJTX9_7MeyDMvUeHqviZa9ERQp0xH1Vh6NoE1nzF5wMv3lpDcr-VZBUX5kaddeIyLY06q3or1bxu0CxWAkDvgoGecGL0_9Nek0DK89dSxZN7-f0ucIJ5bWIKrNyJ9YdfSJR3hDXiAdgdl6qdlFsynPWuZlfpgzOyly1JXwjq6zk7KybhxGAcctDrvnJtUdju-irHAFx2DAnsnufJjvgNQfqPNW3AwncbuVtowooQMrPM2FhTRuSU2Dk1wjb3HkATEaURGFf6kiJch-M7xpF5jECU-4ezAUDR7jeLzpzXXyO0lVWj5cD0G1OWToPYPzBuIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782215030,
          "updated": 1782215030,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithsize-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkeywithsize-",
        "deletedDate": 1782215030,
        "scheduledPurgeDate": 1782819830,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithsize-/04a8a5c208ff428b9bcbe4ca0a24368a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wVu2-_NLsAjxy0SNcd43AJTX9_7MeyDMvUeHqviZa9ERQp0xH1Vh6NoE1nzF5wMv3lpDcr-VZBUX5kaddeIyLY06q3or1bxu0CxWAkDvgoGecGL0_9Nek0DK89dSxZN7-f0ucIJ5bWIKrNyJ9YdfSJR3hDXiAdgdl6qdlFsynPWuZlfpgzOyly1JXwjq6zk7KybhxGAcctDrvnJtUdju-irHAFx2DAnsnufJjvgNQfqPNW3AwncbuVtowooQMrPM2FhTRuSU2Dk1wjb3HkATEaURGFf6kiJch-M7xpF5jECU-4ezAUDR7jeLzpzXXyO0lVWj5cD0G1OWToPYPzBuIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782215030,
          "updated": 1782215030,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkeywithsize-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateaRSAkeywithsize-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkeywithsize-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
