{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 1546300805
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/f38dd4413d6d48c39ab0726228747ad3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zh3dJfNpjBT-nxBvKZEvyW3hd1HBuTC7HVQXNV8Mt7m4L3i_i5q5RVqUtgsCJ75WOiU9yOv70-H5NlKc_OeuPCGdj9LZukiHO5cCxncS1sBX9lzvwbt9o00ZszYYYU6WFbh0K0j7qx0U0c13wAGgWcCKMip80D_8wIe5iOxhEESFU29XQCBF7gt3zhpwy1fGC2ZZvtKXvxWBFibBrADwsMk52oEM-39KIp1-890LD927ZDvR5KJhNHkXeg4H2PIvF3Ohs1SIeuabhU23sT_W4RSZdVV7bnRhOMctHM4N8xT5VgNeeUc5jla71gYhBXFOhwUYyNt1kQFbjlhF3jNAcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "nbf": 1546300805,
          "created": 1777137440,
          "updated": 1777137440,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-",
        "deletedDate": 1777137441,
        "scheduledPurgeDate": 1777742241,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/f38dd4413d6d48c39ab0726228747ad3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zh3dJfNpjBT-nxBvKZEvyW3hd1HBuTC7HVQXNV8Mt7m4L3i_i5q5RVqUtgsCJ75WOiU9yOv70-H5NlKc_OeuPCGdj9LZukiHO5cCxncS1sBX9lzvwbt9o00ZszYYYU6WFbh0K0j7qx0U0c13wAGgWcCKMip80D_8wIe5iOxhEESFU29XQCBF7gt3zhpwy1fGC2ZZvtKXvxWBFibBrADwsMk52oEM-39KIp1-890LD927ZDvR5KJhNHkXeg4H2PIvF3Ohs1SIeuabhU23sT_W4RSZdVV7bnRhOMctHM4N8xT5VgNeeUc5jla71gYhBXFOhwUYyNt1kQFbjlhF3jNAcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "nbf": 1546300805,
          "created": 1777137440,
          "updated": 1777137440,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateakeywithnotBefore-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
