{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canpurgeadeletedkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canpurgeadeletedkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canpurgeadeletedkey-/fd91a19d0efe4e8fa7d32745814171ee",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4UVbqq6y_udAuBmyIlLA1NxZ46V-wMJjsam3nxfr5VjCsi0rj1a6hxzrXlQ2C0M928u1s4cMxo7-M_ddPsOQ18w24PXi-g2Fb2ueKAW7aPdb2NfERwwTVlhqSkLJTTFsUuSDByflEhH9Vuax3lWBnr255P8RvEZSHOGQQsunSaIaVOdP1S4YE-KkEmAKuRHoKbrHPqxNbVrDLR5JC5D-gxjF8n_4umgw-ewL5B6cfEV7Rp7lCpjyPZcSZvQ6rrgnbII2OJ6nsIeKi5FLJRwOmbm0zhBlMjkfuXVMtnmVlOPgBx8ajmpDukWZVQkZqxQ0WAA-21Ipt0L5ZllIGyzbBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516098,
          "updated": 1778516098,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canpurgeadeletedkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-canpurgeadeletedkey-",
        "deletedDate": 1778516098,
        "scheduledPurgeDate": 1779120898,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canpurgeadeletedkey-/fd91a19d0efe4e8fa7d32745814171ee",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4UVbqq6y_udAuBmyIlLA1NxZ46V-wMJjsam3nxfr5VjCsi0rj1a6hxzrXlQ2C0M928u1s4cMxo7-M_ddPsOQ18w24PXi-g2Fb2ueKAW7aPdb2NfERwwTVlhqSkLJTTFsUuSDByflEhH9Vuax3lWBnr255P8RvEZSHOGQQsunSaIaVOdP1S4YE-KkEmAKuRHoKbrHPqxNbVrDLR5JC5D-gxjF8n_4umgw-ewL5B6cfEV7Rp7lCpjyPZcSZvQ6rrgnbII2OJ6nsIeKi5FLJRwOmbm0zhBlMjkfuXVMtnmVlOPgBx8ajmpDukWZVQkZqxQ0WAA-21Ipt0L5ZllIGyzbBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778516098,
          "updated": 1778516098,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-canpurgeadeletedkey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-canpurgeadeletedkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-canpurgeadeletedkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
