{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-candeleteakey-/c58b3219060041a7bf4fd629b05c6e6d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "23-Oa42B7Elon8HGz688Tdpx31tO1Krma-JlqN1yGnwReNvNCLifFLE1yavyi-_SlKExuElG496yhtsliKb-5ElfqnFoIGyTkqa6jRLgSAQwQmqzUnsWUwhaaaxPz7PgiWBcW_rVglm_XZAU0gZZ6M9sme6JQJ26TCiSiaV8WytXYCwFyr9qLxOmv9kSaIasTY3VKTSxlQj963X2FDXwhhxHPHtrFIepZWIMq7RVKrl3eUsaJYutS5pA2K_8Ta_g_oZwNxAS3tVZ23Fa9vXNdYbrmK_Z_dDu17EP0moFVaZgrjNyMM8cLV432hgylKr7Cwp_895_1of6xbg4IZrTZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137480,
          "updated": 1777137480,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-",
        "deletedDate": 1777137480,
        "scheduledPurgeDate": 1777742280,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-candeleteakey-/c58b3219060041a7bf4fd629b05c6e6d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "23-Oa42B7Elon8HGz688Tdpx31tO1Krma-JlqN1yGnwReNvNCLifFLE1yavyi-_SlKExuElG496yhtsliKb-5ElfqnFoIGyTkqa6jRLgSAQwQmqzUnsWUwhaaaxPz7PgiWBcW_rVglm_XZAU0gZZ6M9sme6JQJ26TCiSiaV8WytXYCwFyr9qLxOmv9kSaIasTY3VKTSxlQj963X2FDXwhhxHPHtrFIepZWIMq7RVKrl3eUsaJYutS5pA2K_8Ta_g_oZwNxAS3tVZ23Fa9vXNdYbrmK_Z_dDu17EP0moFVaZgrjNyMM8cLV432hgylKr7Cwp_895_1of6xbg4IZrTZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137480,
          "updated": 1777137480,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-candeleteakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) CRUDKeyName-candeleteakey- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
