{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 1546300805
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/4eb1735914c0423688dd7fcb13aa5fac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qcWD9RZkY4DA7QChAgu54_f5XQ64CiYMLyeDvSHDtpK7yrfHmokplYaaE4BnybjxDvOlUfSptW7BhXwbdu6i3SIveWXjLKYBJ8aLKtnuHDIC3EJOCWT-7ug8XIDVPHFRgtHE2MHRq7NO8nZzXDbKmrAVGJlggzggru4j1JQpXLZ0MxS0XGmwPyVEf-Euq-uPE3dPqFjCA7GWXlRyHBoomnAV-iO-eRwuDorfng49kYhAbOQ9IpdzDYLcusLfzA0FzGbYi0LrIsTQp7kccd5xYBvFJG-vb1ztgB-M81Bx2JvxusIwicbVnik2bbUC5HRJWTAn92vTzRnUCkwgGCyxWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "exp": 1546300805,
          "created": 1778516029,
          "updated": 1778516029,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithexpires-",
        "deletedDate": 1778516029,
        "scheduledPurgeDate": 1779120829,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/4eb1735914c0423688dd7fcb13aa5fac",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qcWD9RZkY4DA7QChAgu54_f5XQ64CiYMLyeDvSHDtpK7yrfHmokplYaaE4BnybjxDvOlUfSptW7BhXwbdu6i3SIveWXjLKYBJ8aLKtnuHDIC3EJOCWT-7ug8XIDVPHFRgtHE2MHRq7NO8nZzXDbKmrAVGJlggzggru4j1JQpXLZ0MxS0XGmwPyVEf-Euq-uPE3dPqFjCA7GWXlRyHBoomnAV-iO-eRwuDorfng49kYhAbOQ9IpdzDYLcusLfzA0FzGbYi0LrIsTQp7kccd5xYBvFJG-vb1ztgB-M81Bx2JvxusIwicbVnik2bbUC5HRJWTAn92vTzRnUCkwgGCyxWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "exp": 1546300805,
          "created": 1778516029,
          "updated": 1778516029,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithexpires-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateakeywithexpires-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithexpires-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
