{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-candeleteakey-/a4657c4dfcb04fd4a1e227a69d149022",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xKAQAlMz1LwMdfs7GMKBThOI1gTIc0p4KAXrCjoN5W-OIY_ucqy2bm_YT0c32RziIWZUwdYGZudEGHR1WieGm5jgYqxeM3aVguAlML4Tp738-oSPBS60M65bi8ZMqJSHYu5RT7OYTs72CvUNDD83kCfCmCYdBX7DpH_RQjH95BH7ePFCOduNdoZfBSE1HgsijyFG_EHIIRLZyuSIsTh5Fqsc1TLjnIWPRDJ3EKE8qwzL8w2-Pa62eDoRHXrlw3I1Ij5au9ME8NYlBTtmvtfEHmP45FX8RFyA0Pt2hFu1SL5Ka7L-ycv-GJjBV5nukNfwUW9tr0xaDvex3MiCib43_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782133495,
          "updated": 1782133495,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-",
        "deletedDate": 1782133495,
        "scheduledPurgeDate": 1782738295,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-candeleteakey-/a4657c4dfcb04fd4a1e227a69d149022",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xKAQAlMz1LwMdfs7GMKBThOI1gTIc0p4KAXrCjoN5W-OIY_ucqy2bm_YT0c32RziIWZUwdYGZudEGHR1WieGm5jgYqxeM3aVguAlML4Tp738-oSPBS60M65bi8ZMqJSHYu5RT7OYTs72CvUNDD83kCfCmCYdBX7DpH_RQjH95BH7ePFCOduNdoZfBSE1HgsijyFG_EHIIRLZyuSIsTh5Fqsc1TLjnIWPRDJ3EKE8qwzL8w2-Pa62eDoRHXrlw3I1Ij5au9ME8NYlBTtmvtfEHmP45FX8RFyA0Pt2hFu1SL5Ka7L-ycv-GJjBV5nukNfwUW9tr0xaDvex3MiCib43_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782133495,
          "updated": 1782133495,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-candeleteakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-candeleteakey-/?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) CRUDKeyName-candeleteakey- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-candeleteakey-?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
