{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "exp": 1546300805
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/f89baade50b94353a4463e0c45bc001e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ycYeU7Kl387EBgfNs25E7JbdTJkJQn4YeRF3PZjI2mYjgygx6v06LmYaQOXzn2X_cEHFvWg7sgOhPd7O6kjr4JcwtuhQ0cFcx1Wr8wjRrDPSwWnxVPOgoGOsv2tKkR7Mvuj6ULM8hBL3Z4wXXe4-vW3yH0b9VD22_Bphj340aUS6P-yAb8GDQTO6saL2EKgku3wf1CUmyAI2z-VqFeibNCjVDrNUlGi_AOe4s35ePVpv-xScbAliv2MkGP9LXhw9B2eQMpj0gdLlO1hx-BGHBFOoJkk-pvFJ0X45lD6yg88aQ49Be3l7v4Lyu-0jmCmNT-l4jzn06eQjkEc5yWYt4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "exp": 1546300805,
          "created": 1780552086,
          "updated": 1780552086,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithexpires-",
        "deletedDate": 1780552086,
        "scheduledPurgeDate": 1781156886,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithexpires-/f89baade50b94353a4463e0c45bc001e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ycYeU7Kl387EBgfNs25E7JbdTJkJQn4YeRF3PZjI2mYjgygx6v06LmYaQOXzn2X_cEHFvWg7sgOhPd7O6kjr4JcwtuhQ0cFcx1Wr8wjRrDPSwWnxVPOgoGOsv2tKkR7Mvuj6ULM8hBL3Z4wXXe4-vW3yH0b9VD22_Bphj340aUS6P-yAb8GDQTO6saL2EKgku3wf1CUmyAI2z-VqFeibNCjVDrNUlGi_AOe4s35ePVpv-xScbAliv2MkGP9LXhw9B2eQMpj0gdLlO1hx-BGHBFOoJkk-pvFJ0X45lD6yg88aQ49Be3l7v4Lyu-0jmCmNT-l4jzn06eQjkEc5yWYt4Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "exp": 1546300805,
          "created": 1780552086,
          "updated": 1780552086,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithexpires-?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateakeywithexpires-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithexpires-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
