{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/4aeefd7d209c4b65b2d3ef592679fd43",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zEav91KFHYr0Ehb_DE44L2UPuVanU1CVqj2UKD_LRTrpA4O047nOuhQZT8K3bimEW1F8oW34Um2Hn3Bxo5M-v_uXJ2Vnlf-pkbFnc8iRft_ssn1810x9ijKqgshjyWEaLVlNRm7PtfzLGy1x9VwFERh_Mowkpqav8suXphceg8xxzNlHHw5Yioqa5Dua3b-Ksz8MEqAOUZDrL8d3us6O31bkOO-Clwwo9bD6ydLCB8DFDM7dodSHHuwgJNp5Hch9zrS7eI959LT7EUNoCFqJZTslLyX9-XZqt7D03Ke9mejeHcM-j9s20kx1c2cLz83u7xakj8bHvPNwC-ZAoPT64Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515961,
          "updated": 1778515961,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-",
        "deletedDate": 1778515962,
        "scheduledPurgeDate": 1779120762,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/4aeefd7d209c4b65b2d3ef592679fd43",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zEav91KFHYr0Ehb_DE44L2UPuVanU1CVqj2UKD_LRTrpA4O047nOuhQZT8K3bimEW1F8oW34Um2Hn3Bxo5M-v_uXJ2Vnlf-pkbFnc8iRft_ssn1810x9ijKqgshjyWEaLVlNRm7PtfzLGy1x9VwFERh_Mowkpqav8suXphceg8xxzNlHHw5Yioqa5Dua3b-Ksz8MEqAOUZDrL8d3us6O31bkOO-Clwwo9bD6ydLCB8DFDM7dodSHHuwgJNp5Hch9zrS7eI959LT7EUNoCFqJZTslLyX9-XZqt7D03Ke9mejeHcM-j9s20kx1c2cLz83u7xakj8bHvPNwC-ZAoPT64Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515961,
          "updated": 1778515961,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateaRSAkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
