{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/7d6f766f837141aa9bcca860dfded7db",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0ZuYChx2mN7bQhYWc2BWhjYex5tzwcLIIUU3lP1IJRz6BiRk3Dg1_IUVsev-B0EpExC2dPdkugc4ewidCIHjG_2M2EcyWGzV99vXNCUvdFCuS0je82KrE6XwWjmXkNovAkyzI_LUvHEI5FZG9GVPa8WsL6OGbCYMkCQTsSklLzIdUfcZDdhK_VYLOqQ4H_VKJV8xZPVuessaWU8sUh9KJlXtIAE2UqqjeC89XM3_4IEXMWT8-qgSM82EKMczu57FypBM4VYWCGlCcEvXHz7_OfOA1j2TPy-XWCupvUIIhp4aC2fu-4lqCsbu81s1bcuqgfTaBAaANayMpQ-GPqTybQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051269,
          "updated": 1777051269,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/7d6f766f837141aa9bcca860dfded7db?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/7d6f766f837141aa9bcca860dfded7db",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0ZuYChx2mN7bQhYWc2BWhjYex5tzwcLIIUU3lP1IJRz6BiRk3Dg1_IUVsev-B0EpExC2dPdkugc4ewidCIHjG_2M2EcyWGzV99vXNCUvdFCuS0je82KrE6XwWjmXkNovAkyzI_LUvHEI5FZG9GVPa8WsL6OGbCYMkCQTsSklLzIdUfcZDdhK_VYLOqQ4H_VKJV8xZPVuessaWU8sUh9KJlXtIAE2UqqjeC89XM3_4IEXMWT8-qgSM82EKMczu57FypBM4VYWCGlCcEvXHz7_OfOA1j2TPy-XWCupvUIIhp4aC2fu-4lqCsbu81s1bcuqgfTaBAaANayMpQ-GPqTybQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051269,
          "updated": 1777051269,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cangetaspecificversionofakey-",
        "deletedDate": 1777051269,
        "scheduledPurgeDate": 1777656069,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetaspecificversionofakey-/7d6f766f837141aa9bcca860dfded7db",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0ZuYChx2mN7bQhYWc2BWhjYex5tzwcLIIUU3lP1IJRz6BiRk3Dg1_IUVsev-B0EpExC2dPdkugc4ewidCIHjG_2M2EcyWGzV99vXNCUvdFCuS0je82KrE6XwWjmXkNovAkyzI_LUvHEI5FZG9GVPa8WsL6OGbCYMkCQTsSklLzIdUfcZDdhK_VYLOqQ4H_VKJV8xZPVuessaWU8sUh9KJlXtIAE2UqqjeC89XM3_4IEXMWT8-qgSM82EKMczu57FypBM4VYWCGlCcEvXHz7_OfOA1j2TPy-XWCupvUIIhp4aC2fu-4lqCsbu81s1bcuqgfTaBAaANayMpQ-GPqTybQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051269,
          "updated": 1777051269,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetaspecificversionofakey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cangetaspecificversionofakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetaspecificversionofakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
