{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 1546300805
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/e5b51539378148ffb17d90bea2ed6079",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uejxbqAtleMdJwoG4wEcNwqEbX3a19i0TVuGv3jRf0hOiyheVy5640YB1YJ2upWLYBSUamPX3_VOqLiAqYZKC8NeBXIGeKmTHN8NmTU_eOo2f9g7jgX5Bq_h_RhAH0F7IkVnDp1lHyFBZnDEL-8WAA_In2cpPFGAwAUx-tzTISN3oUwbpbelRYMLJqkqqry5iMGsm08jVEFR5OUzv00E9CXvmECItapR95bJMadtKS9msU_rfyRdD0algiPrhe3ss1zP3TWZpeRn6SrVvhQ7oLvFEDQdH3izECV5mWJ6JpG7s1oKCpsCZ3JIC_75oTpJfX9OFKViY5h-DM7D5ss2JQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1546300805,
          "created": 1732063095,
          "updated": 1732063095,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-",
        "deletedDate": 1732063095,
        "scheduledPurgeDate": 1732667895,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/e5b51539378148ffb17d90bea2ed6079",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uejxbqAtleMdJwoG4wEcNwqEbX3a19i0TVuGv3jRf0hOiyheVy5640YB1YJ2upWLYBSUamPX3_VOqLiAqYZKC8NeBXIGeKmTHN8NmTU_eOo2f9g7jgX5Bq_h_RhAH0F7IkVnDp1lHyFBZnDEL-8WAA_In2cpPFGAwAUx-tzTISN3oUwbpbelRYMLJqkqqry5iMGsm08jVEFR5OUzv00E9CXvmECItapR95bJMadtKS9msU_rfyRdD0algiPrhe3ss1zP3TWZpeRn6SrVvhQ7oLvFEDQdH3izECV5mWJ6JpG7s1oKCpsCZ3JIC_75oTpJfX9OFKViY5h-DM7D5ss2JQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1546300805,
          "created": 1732063095,
          "updated": 1732063095,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateakeywithnotBefore-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
