{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetakey-/0cbd30b6b7cb43e2a0158d536820398f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vmKsDymYdPwXhohCZwsFbcF86EBZExiNXlVC445KgHsTUpda1MlPziY_74daq547Dw-PWxksioolWeji8BAOLwlA2wUR5qKuW-yOmpznb3hmiVH5v9hhA3gyqTOR-3AaQtdmljJE-22-EUBa2gh0jRtt5Ol9RDFedQaATxxgYqmR57n0cm8XZkJwE8DDbr_fcbm4JFmnwbJgLRk1iR50rn_RqjxTcv0NFqKARm9G4ZzeFAQ56pMm-0yOva3xiOjuoCGbEdiEEGYp4i22b8op9TEw-ap-1unW9MIMHj_I-IK4duMvc4ibHlqj5iIAZN6slXS_QkQ_ENjV_5oVZoqrFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552120,
          "updated": 1780552120,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetakey-/0cbd30b6b7cb43e2a0158d536820398f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vmKsDymYdPwXhohCZwsFbcF86EBZExiNXlVC445KgHsTUpda1MlPziY_74daq547Dw-PWxksioolWeji8BAOLwlA2wUR5qKuW-yOmpznb3hmiVH5v9hhA3gyqTOR-3AaQtdmljJE-22-EUBa2gh0jRtt5Ol9RDFedQaATxxgYqmR57n0cm8XZkJwE8DDbr_fcbm4JFmnwbJgLRk1iR50rn_RqjxTcv0NFqKARm9G4ZzeFAQ56pMm-0yOva3xiOjuoCGbEdiEEGYp4i22b8op9TEw-ap-1unW9MIMHj_I-IK4duMvc4ibHlqj5iIAZN6slXS_QkQ_ENjV_5oVZoqrFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552120,
          "updated": 1780552120,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cangetakey-",
        "deletedDate": 1780552120,
        "scheduledPurgeDate": 1781156920,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetakey-/0cbd30b6b7cb43e2a0158d536820398f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vmKsDymYdPwXhohCZwsFbcF86EBZExiNXlVC445KgHsTUpda1MlPziY_74daq547Dw-PWxksioolWeji8BAOLwlA2wUR5qKuW-yOmpznb3hmiVH5v9hhA3gyqTOR-3AaQtdmljJE-22-EUBa2gh0jRtt5Ol9RDFedQaATxxgYqmR57n0cm8XZkJwE8DDbr_fcbm4JFmnwbJgLRk1iR50rn_RqjxTcv0NFqKARm9G4ZzeFAQ56pMm-0yOva3xiOjuoCGbEdiEEGYp4i22b8op9TEw-ap-1unW9MIMHj_I-IK4duMvc4ibHlqj5iIAZN6slXS_QkQ_ENjV_5oVZoqrFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552120,
          "updated": 1780552120,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetakey-?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cangetakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetakey-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
