{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/d4564e11af8a46fe8222c554b103c0fb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0iNwDdo1woY3LYbUiBhlItQ1CCiHnH_iGVD-0PUBTVFmxUIKw1YM8_yBPLMKS5sZtliukCmUu69T1RWStcOJblJEE1ZvgkIXBGqLJ1f_Z8m6sDqzDDV_b8GrdsVoNaytOzTLIOgCRB7YrMKCCZSjSgfIv_bEyZch9b4QOISrm3kQnYJd2K9uCCk0b2bnw9kqcSnfC2x3qNAnz5vmSqQ_9nuJZeVvZ4LKOKQHy6U6HeQAjMJVG3U0MXoyEtisfH22mn0kylHyjp_3hVoQ4UR_kjlGnl4GradaEgBfD_JnLgOzl5HDDbVQqSCVpX3pkiCOpxEozZR-05m2o6eCfDSy8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063033,
          "updated": 1732063033,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywhilegivingamanualtype-",
        "deletedDate": 1732063033,
        "scheduledPurgeDate": 1732667833,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/d4564e11af8a46fe8222c554b103c0fb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0iNwDdo1woY3LYbUiBhlItQ1CCiHnH_iGVD-0PUBTVFmxUIKw1YM8_yBPLMKS5sZtliukCmUu69T1RWStcOJblJEE1ZvgkIXBGqLJ1f_Z8m6sDqzDDV_b8GrdsVoNaytOzTLIOgCRB7YrMKCCZSjSgfIv_bEyZch9b4QOISrm3kQnYJd2K9uCCk0b2bnw9kqcSnfC2x3qNAnz5vmSqQ_9nuJZeVvZ4LKOKQHy6U6HeQAjMJVG3U0MXoyEtisfH22mn0kylHyjp_3hVoQ4UR_kjlGnl4GradaEgBfD_JnLgOzl5HDDbVQqSCVpX3pkiCOpxEozZR-05m2o6eCfDSy8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063033,
          "updated": 1732063033,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywhilegivingamanualtype-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateakeywhilegivingamanualtype-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywhilegivingamanualtype-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
