{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetakey-/5ada5d1c83954504983ab0fb3b19dee8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qT6zBESqkaR_xquoRyeDU3iNM97BPEyLff5z6uITAujWgfAlX1yxuZ_qnGmR3_k4oQq9QjfipfZ-e9lJtXelYXhOO0WD86pQXc0BzMhVopPREiHIFckv1AH-Qy1PBts73j8CvcXh4Allk_SveXvvngZV6O4VFvm_eN2ODFJPuM79E1rYpEapkBZoInbsLqWGzPCZ-kayZl9B5Q112YfTjj8RH0EURV3fo-1O8vsJDP-V9MSEfLvpZKPCR3QioJ7-Uwm67yYtUQdIyY7TSFlq6yJI6DIARQz-qY59O28efCMvc-FEUJ_ImvHT42gFuNaXqbDQvbVjcEaHOhTDkIH2zQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137493,
          "updated": 1777137493,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetakey-/5ada5d1c83954504983ab0fb3b19dee8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qT6zBESqkaR_xquoRyeDU3iNM97BPEyLff5z6uITAujWgfAlX1yxuZ_qnGmR3_k4oQq9QjfipfZ-e9lJtXelYXhOO0WD86pQXc0BzMhVopPREiHIFckv1AH-Qy1PBts73j8CvcXh4Allk_SveXvvngZV6O4VFvm_eN2ODFJPuM79E1rYpEapkBZoInbsLqWGzPCZ-kayZl9B5Q112YfTjj8RH0EURV3fo-1O8vsJDP-V9MSEfLvpZKPCR3QioJ7-Uwm67yYtUQdIyY7TSFlq6yJI6DIARQz-qY59O28efCMvc-FEUJ_ImvHT42gFuNaXqbDQvbVjcEaHOhTDkIH2zQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137493,
          "updated": 1777137493,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cangetakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cangetakey-",
        "deletedDate": 1777137493,
        "scheduledPurgeDate": 1777742293,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cangetakey-/5ada5d1c83954504983ab0fb3b19dee8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qT6zBESqkaR_xquoRyeDU3iNM97BPEyLff5z6uITAujWgfAlX1yxuZ_qnGmR3_k4oQq9QjfipfZ-e9lJtXelYXhOO0WD86pQXc0BzMhVopPREiHIFckv1AH-Qy1PBts73j8CvcXh4Allk_SveXvvngZV6O4VFvm_eN2ODFJPuM79E1rYpEapkBZoInbsLqWGzPCZ-kayZl9B5Q112YfTjj8RH0EURV3fo-1O8vsJDP-V9MSEfLvpZKPCR3QioJ7-Uwm67yYtUQdIyY7TSFlq6yJI6DIARQz-qY59O28efCMvc-FEUJ_ImvHT42gFuNaXqbDQvbVjcEaHOhTDkIH2zQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137493,
          "updated": 1777137493,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetakey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cangetakey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cangetakey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
