{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-/0cf09f5dda9b4c0bb546233fa71fa721",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zD5zrN8umwBu-jcUBnrfVT45ZuzTGyPSub362Ba_FXFQZs51Mtm01T7wBb39rMwHQxZ5azJOpSkgf7SROtoD-aGkFhFVKxYtLStZRhAUsMbYooGZnnzwajny7rHX17525H2qp2QH_DfOGETRqw2EtSn7MnDSFh8DmnWwW8A8uCwP-MLyBiAG4Ys7fEIFB_vVRH74RQC1wlEErGFf2lvob2cvvL6QQa1baAcQOt9Zhw7Ws9QRGvegMoRpNqC3FqqmyeSNoi_raUi0XvS7aEWEVCi4b22qBrEJiR2rOAe_LRykdfUmqf2NcTxWKIfIWC1lg50Y5MAjUWCB90SmIDyn3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051170,
          "updated": 1777051170,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-",
        "deletedDate": 1777051170,
        "scheduledPurgeDate": 1777655970,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-/0cf09f5dda9b4c0bb546233fa71fa721",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zD5zrN8umwBu-jcUBnrfVT45ZuzTGyPSub362Ba_FXFQZs51Mtm01T7wBb39rMwHQxZ5azJOpSkgf7SROtoD-aGkFhFVKxYtLStZRhAUsMbYooGZnnzwajny7rHX17525H2qp2QH_DfOGETRqw2EtSn7MnDSFh8DmnWwW8A8uCwP-MLyBiAG4Ys7fEIFB_vVRH74RQC1wlEErGFf2lvob2cvvL6QQa1baAcQOt9Zhw7Ws9QRGvegMoRpNqC3FqqmyeSNoi_raUi0XvS7aEWEVCi4b22qBrEJiR2rOAe_LRykdfUmqf2NcTxWKIfIWC1lg50Y5MAjUWCB90SmIDyn3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051170,
          "updated": 1777051170,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateaRSAkeywithpublicexponent-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkeywithpublicexponent-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
