{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/42cd707eeb6a452698e333ae0b6faed1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6GSYmL1S1-Tc7qOef2nK7C8uAfoXgAk9H2K3tOqep3tuy0-G7SvgXidAIjet8dLMdFQ6tW_AUzqkCXPkZynI5Lx4DcfxdMYMxCKyPB25x-7WPLs_RE_P4NGWRPs3GOwE4ct3NrBfy6arrpVIjnepDI31CtqKUAzorgElXBzpq1lGM9GLOMdR5VNz1SXjYlvYhKRg1ud1-bsn_aDaXAcy2XBVm0YoHdz9FOZHcPuSCmFLvW8xc-8Lt0YbZ9HPkErsJ79RlylMRkFgq6t2n3no0Z9NHiC8sbxHwe0SGSZHWKcNbiaLhoMzlZglCkIEpPgnLfK_IOtf1d9aoxWzlop4NQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515946,
          "updated": 1778515946,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywhilegivingamanualtype-",
        "deletedDate": 1778515947,
        "scheduledPurgeDate": 1779120747,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywhilegivingamanualtype-/42cd707eeb6a452698e333ae0b6faed1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6GSYmL1S1-Tc7qOef2nK7C8uAfoXgAk9H2K3tOqep3tuy0-G7SvgXidAIjet8dLMdFQ6tW_AUzqkCXPkZynI5Lx4DcfxdMYMxCKyPB25x-7WPLs_RE_P4NGWRPs3GOwE4ct3NrBfy6arrpVIjnepDI31CtqKUAzorgElXBzpq1lGM9GLOMdR5VNz1SXjYlvYhKRg1ud1-bsn_aDaXAcy2XBVm0YoHdz9FOZHcPuSCmFLvW8xc-8Lt0YbZ9HPkErsJ79RlylMRkFgq6t2n3no0Z9NHiC8sbxHwe0SGSZHWKcNbiaLhoMzlZglCkIEpPgnLfK_IOtf1d9aoxWzlop4NQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515946,
          "updated": 1778515946,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywhilegivingamanualtype-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateakeywhilegivingamanualtype-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywhilegivingamanualtype-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
