{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateadisabledkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateadisabledkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "enabled": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateadisabledkey-/3aa1ad585fd6452eb3959e9465f71cfb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1W6TNg12SZJVK2Vj6V4si5yHLxrnio7xtGcMIELIEJULI68LNHQTcm98mJJkf-LhPDmRH57TCT1u5gbpa-G5BQtXluI73nNT1ewfyhkShr6D_8dQk_jYdLfTuYWlZhPO4rN6aP7URUUnzeaIiYQrbjYmm2O2s9T72ZRy2qVQB2b3CNtxMxr3_3bvbsY8grNeT6tzbQhIe-bZOfBre175OptLY1Hvp7LSlnKkRxaXnG44LI3SP7mHzNELVxzUb2Vv4zQWD9R7q6a3ZsKediRXDOjlVwr_uJPX0fH9BMHVVVsutcbqKGgKi5SOa5tmc-_DtbQOEwyVV8evtXCLYu_22Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "key_size": 2048,
          "created": 1777051238,
          "updated": 1777051238,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateadisabledkey-/3aa1ad585fd6452eb3959e9465f71cfb?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 1546300800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateadisabledkey-/3aa1ad585fd6452eb3959e9465f71cfb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1W6TNg12SZJVK2Vj6V4si5yHLxrnio7xtGcMIELIEJULI68LNHQTcm98mJJkf-LhPDmRH57TCT1u5gbpa-G5BQtXluI73nNT1ewfyhkShr6D_8dQk_jYdLfTuYWlZhPO4rN6aP7URUUnzeaIiYQrbjYmm2O2s9T72ZRy2qVQB2b3CNtxMxr3_3bvbsY8grNeT6tzbQhIe-bZOfBre175OptLY1Hvp7LSlnKkRxaXnG44LI3SP7mHzNELVxzUb2Vv4zQWD9R7q6a3ZsKediRXDOjlVwr_uJPX0fH9BMHVVVsutcbqKGgKi5SOa5tmc-_DtbQOEwyVV8evtXCLYu_22Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "key_size": 2048,
          "exp": 1546300800,
          "created": 1777051238,
          "updated": 1777051238,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-canupdateadisabledkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-canupdateadisabledkey-",
        "deletedDate": 1777051238,
        "scheduledPurgeDate": 1777656038,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-canupdateadisabledkey-/3aa1ad585fd6452eb3959e9465f71cfb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1W6TNg12SZJVK2Vj6V4si5yHLxrnio7xtGcMIELIEJULI68LNHQTcm98mJJkf-LhPDmRH57TCT1u5gbpa-G5BQtXluI73nNT1ewfyhkShr6D_8dQk_jYdLfTuYWlZhPO4rN6aP7URUUnzeaIiYQrbjYmm2O2s9T72ZRy2qVQB2b3CNtxMxr3_3bvbsY8grNeT6tzbQhIe-bZOfBre175OptLY1Hvp7LSlnKkRxaXnG44LI3SP7mHzNELVxzUb2Vv4zQWD9R7q6a3ZsKediRXDOjlVwr_uJPX0fH9BMHVVVsutcbqKGgKi5SOa5tmc-_DtbQOEwyVV8evtXCLYu_22Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": false,
          "key_size": 2048,
          "exp": 1546300800,
          "created": 1777051238,
          "updated": 1777051238,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-canupdateadisabledkey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-canupdateadisabledkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-canupdateadisabledkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
