{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/0522f0fce6574986ab102ea905894a73",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "unq6-7Az7wsjlxbNP9IHWIFz6-iWz-ZnF5hK-kdafRpou-wHwKd4Cwm0pEh7YSM4r6buDqkH6rTvIzySVeUWwl0YlGOazB5J_a8EwLxUajPQ-XkBBXxKU_CArYhw9OTeL7xAfXT3vwooSGZBsYMUIJzMdWWmOQ4gBTOf9a73eFulsBUhEJnKhAF9LPMgWFCnBt_qBurbxyEYlUQuUJw2cfcTcPeR_IuoMC1mQe6A2byJaCcyTEuksiuzDdFfVawaHkQyU3nPnnEB-2h9i0hu738Gx0ldNlVK19zo33rFhqFcZqiLlPH9dl9t0c0SM29QumzfT8c9OMxSa9J1UU3FDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587627,
          "updated": 1778587627,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-",
        "deletedDate": 1778587627,
        "scheduledPurgeDate": 1779192427,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateaRSAkey-/0522f0fce6574986ab102ea905894a73",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "unq6-7Az7wsjlxbNP9IHWIFz6-iWz-ZnF5hK-kdafRpou-wHwKd4Cwm0pEh7YSM4r6buDqkH6rTvIzySVeUWwl0YlGOazB5J_a8EwLxUajPQ-XkBBXxKU_CArYhw9OTeL7xAfXT3vwooSGZBsYMUIJzMdWWmOQ4gBTOf9a73eFulsBUhEJnKhAF9LPMgWFCnBt_qBurbxyEYlUQuUJw2cfcTcPeR_IuoMC1mQe6A2byJaCcyTEuksiuzDdFfVawaHkQyU3nPnnEB-2h9i0hu738Gx0ldNlVK19zo33rFhqFcZqiLlPH9dl9t0c0SM29QumzfT8c9OMxSa9J1UU3FDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587627,
          "updated": 1778587627,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateaRSAkey-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateaRSAkey-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
