{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {
          "nbf": 1546300805
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/ecca412c001d4a119fb50fa5a2fa5fa2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2C0HHjbKhYmx2ZC7TDeF9gnQIS4IQSYZwVt0ViKrMPC2wh9zH1EOie8ITmUGHmxKQCy8lWw-Mb5XlnxL_k7k81Wt-PC8uHwgGoLx0Ph0gZeLZuNxVMgyX1Q1zVxGBBqeFpYUq0bRPrUF5VCdANOuaL3QXkDITWwAKCukYZvz0D76v-CtMvOXVoTesr57EF-UvgdkAw2mrIkfE9MPXWEJiiwKHwkqUmXyPMevPflVrJ2LDo-iHCYwMHX-3MATubFmOZ8OSaNDlZQckvaQh-qpoUsHfcOSBYa5VFADmpRGLqOagMQ-HMDioznYe8BjovblBXISow8vvsJGTNfeUjALVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1546300805,
          "created": 1739478287,
          "updated": 1739478287,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-",
        "deletedDate": 1739478287,
        "scheduledPurgeDate": 1740083087,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/CRUDKeyName-cancreateakeywithnotBefore-/ecca412c001d4a119fb50fa5a2fa5fa2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2C0HHjbKhYmx2ZC7TDeF9gnQIS4IQSYZwVt0ViKrMPC2wh9zH1EOie8ITmUGHmxKQCy8lWw-Mb5XlnxL_k7k81Wt-PC8uHwgGoLx0Ph0gZeLZuNxVMgyX1Q1zVxGBBqeFpYUq0bRPrUF5VCdANOuaL3QXkDITWwAKCukYZvz0D76v-CtMvOXVoTesr57EF-UvgdkAw2mrIkfE9MPXWEJiiwKHwkqUmXyPMevPflVrJ2LDo-iHCYwMHX-3MATubFmOZ8OSaNDlZQckvaQh-qpoUsHfcOSBYa5VFADmpRGLqOagMQ-HMDioznYe8BjovblBXISow8vvsJGTNfeUjALVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1546300805,
          "created": 1739478287,
          "updated": 1739478287,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: CRUDKeyName-cancreateakeywithnotBefore-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/CRUDKeyName-cancreateakeywithnotBefore-?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
