{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1769157463792?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1769157463792",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-KQO0kGbtrxravDfbEU9toESvGYySQA7ad5kdtR8sck\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTI5MA==;sn=103579290",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:46 GMT"
      },
      "ResponseBody": {
        "etag": "-KQO0kGbtrxravDfbEU9toESvGYySQA7ad5kdtR8sck",
        "key": "key1-1769157463792",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:37:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769157463792?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTI5MA=="
      },
      "RequestBody": {
        "key": "key2-1769157463792",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uaOPeooRb5HL_HxjRnOdfZ-EE_JIHbFJW0G1BFTY844\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTI5Mg==;sn=103579292",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:46 GMT"
      },
      "ResponseBody": {
        "etag": "uaOPeooRb5HL_HxjRnOdfZ-EE_JIHbFJW0G1BFTY844",
        "key": "key2-1769157463792",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:37:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769157463792?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTI5Mg=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"eF6j1UG9jSoRp08T6psf8xiX6Wv1MQR8frIofhw7s-U\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:46 GMT",
        "Link": "</kv?snapshot=snapshot-1769157463792&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1769157463792&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTI5Mw==;sn=103579293",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:46 GMT"
      },
      "ResponseBody": {
        "etag": "eF6j1UG9jSoRp08T6psf8xiX6Wv1MQR8frIofhw7s-U",
        "name": "snapshot-1769157463792",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T08:37:46.9452729+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1769157463792",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTI5Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTI5NA==;sn=103579294",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:47 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1769157463792",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTM4NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTM4NA==;sn=103579384",
        "x-ms-date": "Fri, 23 Jan 2026 08:38:08 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1769157463792?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTM4NA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"76jBD8OTwNhzWFrmp3RYJ_TkDt4W0RM6D_bk_JmhyTM\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:38:02 GMT",
        "Link": "</kv?snapshot=snapshot-1769157463792&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTM4Ng==;sn=103579386",
        "x-ms-date": "Fri, 23 Jan 2026 08:38:08 GMT"
      },
      "ResponseBody": {
        "etag": "76jBD8OTwNhzWFrmp3RYJ_TkDt4W0RM6D_bk_JmhyTM",
        "name": "snapshot-1769157463792",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T08:37:46+00:00",
        "expires": "2026-02-22T08:38:08.4482304+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1769157463792?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTM4OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uaOPeooRb5HL_HxjRnOdfZ-EE_JIHbFJW0G1BFTY844\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTM4OQ==;sn=103579389",
        "x-ms-date": "Fri, 23 Jan 2026 08:38:08 GMT"
      },
      "ResponseBody": {
        "etag": "uaOPeooRb5HL_HxjRnOdfZ-EE_JIHbFJW0G1BFTY844",
        "key": "key2-1769157463792",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:37:46+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1769157463792",
    "key2": "key2-1769157463792",
    "snapshot1": "snapshot-1769157463792"
  }
}
