{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1768284551858?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1768284551858",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9x_zd6v6xui2VCNfO6UePX6dCQL9zTiySHaNxdUIhD0\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzI2Mw==;sn=102477263",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:14 GMT"
      },
      "ResponseBody": {
        "etag": "9x_zd6v6xui2VCNfO6UePX6dCQL9zTiySHaNxdUIhD0",
        "key": "key1-1768284551858",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:09:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768284551858?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzI2Mw=="
      },
      "RequestBody": {
        "key": "key2-1768284551858",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KGLPd4oUCF3tvZHmGrWqg5j_xR8vkdnbHWMX2_B02iI\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzI2NA==;sn=102477264",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:14 GMT"
      },
      "ResponseBody": {
        "etag": "KGLPd4oUCF3tvZHmGrWqg5j_xR8vkdnbHWMX2_B02iI",
        "key": "key2-1768284551858",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:09:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768284551858?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzI2NA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"0hsg9x-VRPOlryOG5KNTtFxDHlHJqdmIAHl4rqZta28\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:14 GMT",
        "Link": "</kv?snapshot=snapshot-1768284551858&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1768284551858&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzI2NQ==;sn=102477265",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:14 GMT"
      },
      "ResponseBody": {
        "etag": "0hsg9x-VRPOlryOG5KNTtFxDHlHJqdmIAHl4rqZta28",
        "name": "snapshot-1768284551858",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:09:14.5939063+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1768284551858",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzI2NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzI2Ng==;sn=102477266",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:14 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1768284551858",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzMzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzMzMA==;sn=102477330",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:35 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1768284551858?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzMzMA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"9OV7bSCnOWmjRaJIB3z77CXVO3TYBtQJOawlSZV0RQk\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:33 GMT",
        "Link": "</kv?snapshot=snapshot-1768284551858&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzMzMQ==;sn=102477331",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:35 GMT"
      },
      "ResponseBody": {
        "etag": "9OV7bSCnOWmjRaJIB3z77CXVO3TYBtQJOawlSZV0RQk",
        "name": "snapshot-1768284551858",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-13T06:09:14+00:00",
        "expires": "2026-02-12T06:09:35.5861297+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1768284551858?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzMzMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KGLPd4oUCF3tvZHmGrWqg5j_xR8vkdnbHWMX2_B02iI\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:09:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzMzMw==;sn=102477333",
        "x-ms-date": "Tue, 13 Jan 2026 06:09:35 GMT"
      },
      "ResponseBody": {
        "etag": "KGLPd4oUCF3tvZHmGrWqg5j_xR8vkdnbHWMX2_B02iI",
        "key": "key2-1768284551858",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-01-13T06:09:14+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1768284551858",
    "key2": "key2-1768284551858",
    "snapshot1": "snapshot-1768284551858"
  }
}
