{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759423999960?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759423999960",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YVnWCp-C5LY-8-r2QTehqRnSimJeGlcEersOZ4swc8o\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:22 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI4ODI=;sn=74232882"
      },
      "ResponseBody": {
        "etag": "YVnWCp-C5LY-8-r2QTehqRnSimJeGlcEersOZ4swc8o",
        "key": "key1-1759423999960",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:22+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759423999960?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI4ODI="
      },
      "RequestBody": {
        "key": "key2-1759423999960",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4W7i4r8ktOPVKJgU-RKYZfc18PaLoV6suwWaOUJcJYY\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI4ODQ=;sn=74232884"
      },
      "ResponseBody": {
        "etag": "4W7i4r8ktOPVKJgU-RKYZfc18PaLoV6suwWaOUJcJYY",
        "key": "key2-1759423999960",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759423999960?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI4ODQ="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"0oaOGcJrJNFM3BTPIpBJa2vrQgnrhAWJ6aN3M1mnpaI\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:23 GMT",
        "Link": "</kv?snapshot=snapshot-1759423999960&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759423999960&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI4ODc=;sn=74232887"
      },
      "ResponseBody": {
        "etag": "0oaOGcJrJNFM3BTPIpBJa2vrQgnrhAWJ6aN3M1mnpaI",
        "name": "snapshot-1759423999960",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T16:53:23.2874222+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1759423999960&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI4ODc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI4ODg=;sn=74232888"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1759423999960",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5MTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5MTg=;sn=74232918"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759423999960?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5MTg="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"ndZ9lqkoX4dPvbvcBSwD_JzhzzGa1kjpXk3P51j-YYE\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:28 GMT",
        "Link": "</kv?snapshot=snapshot-1759423999960&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5MjE=;sn=74232921"
      },
      "ResponseBody": {
        "etag": "ndZ9lqkoX4dPvbvcBSwD_JzhzzGa1kjpXk3P51j-YYE",
        "name": "snapshot-1759423999960",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T16:53:23+00:00",
        "expires": "2025-11-01T16:53:34.4144406+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759423999960?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI5MjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4W7i4r8ktOPVKJgU-RKYZfc18PaLoV6suwWaOUJcJYY\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:53:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI5MjQ=;sn=74232924"
      },
      "ResponseBody": {
        "etag": "4W7i4r8ktOPVKJgU-RKYZfc18PaLoV6suwWaOUJcJYY",
        "key": "key2-1759423999960",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T16:53:23+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759423999960",
    "key2": "key2-1759423999960",
    "snapshot1": "snapshot-1759423999960"
  }
}
