{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1778087401705?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M6AOzuocx3NotWUea1emrjbEhuN8SUgloZ8g-3g1e-U\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1ODEw;sn=65175810",
        "x-ms-date": "Wed, 06 May 2026 17:10:02 GMT"
      },
      "ResponseBody": {
        "etag": "M6AOzuocx3NotWUea1emrjbEhuN8SUgloZ8g-3g1e-U",
        "key": "key1-1778087401705",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:10:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1778087401705?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1ODEw"
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JlQzTH3NuHFzEt8fUucl_dGZXPfH2vrClAccO44W2t0\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1ODEy;sn=65175812",
        "x-ms-date": "Wed, 06 May 2026 17:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "JlQzTH3NuHFzEt8fUucl_dGZXPfH2vrClAccO44W2t0",
        "key": "key2-1778087401705",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1778087401705?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1ODEy"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"aJjZmMnod2pkwZhEXeePz-UWidKC0mzUF6xL93KQJTA\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:03 GMT",
        "Link": "</kv?snapshot=snapshot-1778087401705&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1778087401705&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1ODE0;sn=65175814",
        "x-ms-date": "Wed, 06 May 2026 17:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "aJjZmMnod2pkwZhEXeePz-UWidKC0mzUF6xL93KQJTA",
        "name": "snapshot-1778087401705",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:10:03.0617897+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1778087401705",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1ODE0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1ODE0;sn=65175814",
        "x-ms-date": "Wed, 06 May 2026 17:10:03 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1778087401705",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1OTkz;sn=65175993",
        "x-ms-date": "Wed, 06 May 2026 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1778087401705?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1OTkz"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"gCO0co5E_oosHumP91-VcNPy1qfzITwWTkBZhIzpLB4\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:05 GMT",
        "Link": "</kv?snapshot=snapshot-1778087401705&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1OTk1;sn=65175995",
        "x-ms-date": "Wed, 06 May 2026 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "gCO0co5E_oosHumP91-VcNPy1qfzITwWTkBZhIzpLB4",
        "name": "snapshot-1778087401705",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:10:03+00:00",
        "expires": "2026-06-05T17:10:13.4129853+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1778087401705?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc1OTk2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JlQzTH3NuHFzEt8fUucl_dGZXPfH2vrClAccO44W2t0\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc1OTk3;sn=65175997",
        "x-ms-date": "Wed, 06 May 2026 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "JlQzTH3NuHFzEt8fUucl_dGZXPfH2vrClAccO44W2t0",
        "key": "key2-1778087401705",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:10:03+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1778087401705",
    "key2": "key2-1778087401705",
    "snapshot1": "snapshot-1778087401705"
  }
}
