{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781548101850?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Fj25jWbA5KqGNXAI-uQ3guQRy9xqIk_2q2n8fkOuZOo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTcwNw==;sn=53365707",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:27 GMT"
      },
      "ResponseBody": {
        "etag": "Fj25jWbA5KqGNXAI-uQ3guQRy9xqIk_2q2n8fkOuZOo",
        "key": "key1-1781548101850",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:28:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548101850?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTcwNw=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oecx7Ea2N29CKBaL2ismHzppkcOp5ZQmDYw_iUkMTpQ\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTcwOA==;sn=53365708",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:27 GMT"
      },
      "ResponseBody": {
        "etag": "oecx7Ea2N29CKBaL2ismHzppkcOp5ZQmDYw_iUkMTpQ",
        "key": "key2-1781548101850",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:28:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548101850?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTcwOA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"g0-ZbU49_480u9nZ4AXnnWSk2SFPhMJR8gVHVo6sOyo\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:27 GMT",
        "Link": "</kv?snapshot=snapshot-1781548101850&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781548101850&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTcwOQ==;sn=53365709",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:27 GMT"
      },
      "ResponseBody": {
        "etag": "g0-ZbU49_480u9nZ4AXnnWSk2SFPhMJR8gVHVo6sOyo",
        "name": "snapshot-1781548101850",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:28:27.0370209+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781548101850",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTcwOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTcwOQ==;sn=53365709",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:27 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-1781548101850",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTc1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTc1OA==;sn=53365758",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:37 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548101850?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTc1OA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"chg2ygSy-9hU_ZkWBx8ibBi2csmmAnnTHnVJFLCOuu4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:34 GMT",
        "Link": "</kv?snapshot=snapshot-1781548101850&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTc2MA==;sn=53365760",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:37 GMT"
      },
      "ResponseBody": {
        "etag": "chg2ygSy-9hU_ZkWBx8ibBi2csmmAnnTHnVJFLCOuu4",
        "name": "snapshot-1781548101850",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:28:27+00:00",
        "expires": "2026-07-15T18:28:37.1607651+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548101850?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTc2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oecx7Ea2N29CKBaL2ismHzppkcOp5ZQmDYw_iUkMTpQ\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTc2Mw==;sn=53365763",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:37 GMT"
      },
      "ResponseBody": {
        "etag": "oecx7Ea2N29CKBaL2ismHzppkcOp5ZQmDYw_iUkMTpQ",
        "key": "key2-1781548101850",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:28:27+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781548101850",
    "key2": "key2-1781548101850",
    "snapshot1": "snapshot-1781548101850"
  }
}
