{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762282697769?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762282697769",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JbKdQMGqhFzU20kzQZpsVDa8DIbzgJPSGu-cMJYbKsk\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3MzI=;sn=75061732",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:20 GMT"
      },
      "ResponseBody": {
        "etag": "JbKdQMGqhFzU20kzQZpsVDa8DIbzgJPSGu-cMJYbKsk",
        "key": "key1-1762282697769",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762282697769?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3MzI="
      },
      "RequestBody": {
        "key": "key2-1762282697769",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vDS4uc9WuSLduI1NPwtbKPwSN8ZrfavsoajsBdV8hiA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3MzU=;sn=75061735",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:20 GMT"
      },
      "ResponseBody": {
        "etag": "vDS4uc9WuSLduI1NPwtbKPwSN8ZrfavsoajsBdV8hiA",
        "key": "key2-1762282697769",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:58:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762282697769?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3MzU="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762282697769",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"9hOszguay1Ig-BB9r6EcGJoQ9NnqABdrJ_McSnUQOlU\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:20 GMT",
        "Link": "</kv?snapshot=snapshot-1762282697769&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762282697769&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3MzY=;sn=75061736",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:20 GMT"
      },
      "ResponseBody": {
        "etag": "9hOszguay1Ig-BB9r6EcGJoQ9NnqABdrJ_McSnUQOlU",
        "name": "snapshot-1762282697769",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762282697769",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:58:20.4923572+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762282697769",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3MzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3MzY=;sn=75061736",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:20 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1762282697769",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3NTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uIz6UUHGuKM0jhbkuzamqD9nfR0BAzfcU1deWBwa1io\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTQ=;sn=75061754",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:31 GMT"
      },
      "ResponseBody": {
        "etag": "uIz6UUHGuKM0jhbkuzamqD9nfR0BAzfcU1deWBwa1io",
        "items": [
          {
            "etag": "JbKdQMGqhFzU20kzQZpsVDa8DIbzgJPSGu-cMJYbKsk",
            "key": "key1-1762282697769",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2025-11-04T18:58:20+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762282697769?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3NTQ="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"eUL0EXB3TmVNIt87qfGZpHyEIIj6YHns2bx5uut_Fzc\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:58:22 GMT",
        "Link": "</kv?snapshot=snapshot-1762282697769&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTU=;sn=75061755",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:31 GMT"
      },
      "ResponseBody": {
        "etag": "eUL0EXB3TmVNIt87qfGZpHyEIIj6YHns2bx5uut_Fzc",
        "name": "snapshot-1762282697769",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762282697769",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-04T18:58:20+00:00",
        "expires": "2025-12-04T18:58:31.8781921+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762282697769?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE3NTY="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE3NTY=;sn=75061756",
        "x-ms-date": "Tue, 04 Nov 2025 18:58:32 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "key1": "key1-1762282697769",
    "key2": "key2-1762282697769",
    "snapshot1": "snapshot-1762282697769"
  }
}
