{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1759419019014?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1759419019014",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AdOLBF1MKmPisVrImh9zrvkVDNJ6ZRUoSJDLQ71SeWM\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0OTU=;sn=74229495"
      },
      "ResponseBody": {
        "etag": "AdOLBF1MKmPisVrImh9zrvkVDNJ6ZRUoSJDLQ71SeWM",
        "key": "key1-1759419019014",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:30:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759419019014?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0OTU="
      },
      "RequestBody": {
        "key": "key2-1759419019014",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j2PYAhSddyYkFDuXc0ADe0ZGIifLras9N487-0zQj4k\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0OTc=;sn=74229497"
      },
      "ResponseBody": {
        "etag": "j2PYAhSddyYkFDuXc0ADe0ZGIifLras9N487-0zQj4k",
        "key": "key2-1759419019014",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:30:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759419019014?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0OTc="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"MyrRDwppEJGB-FrKEU9uy-EmCfkZSTAsfb9S_tJw6OY\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:22 GMT",
        "Link": "</kv?snapshot=snapshot-1759419019014&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1759419019014&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0OTg=;sn=74229498"
      },
      "ResponseBody": {
        "etag": "MyrRDwppEJGB-FrKEU9uy-EmCfkZSTAsfb9S_tJw6OY",
        "name": "snapshot-1759419019014",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T15:30:22.1251669+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot-1759419019014&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0OTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0OTg=;sn=74229498"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1759419019014",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk1MTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk1MTc=;sn=74229517"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1759419019014?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk1MTc="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"_3YDe56NNUagldTPwbyso9ocYxKJ49HOXMLDuaLhsU4\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:29 GMT",
        "Link": "</kv?snapshot=snapshot-1759419019014&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk1MTg=;sn=74229518"
      },
      "ResponseBody": {
        "etag": "_3YDe56NNUagldTPwbyso9ocYxKJ49HOXMLDuaLhsU4",
        "name": "snapshot-1759419019014",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-10-02T15:30:22+00:00",
        "expires": "2025-11-01T15:30:33.2433455+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1759419019014?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk1MTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j2PYAhSddyYkFDuXc0ADe0ZGIifLras9N487-0zQj4k\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:30:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk1MjA=;sn=74229520"
      },
      "ResponseBody": {
        "etag": "j2PYAhSddyYkFDuXc0ADe0ZGIifLras9N487-0zQj4k",
        "key": "key2-1759419019014",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:30:21+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1759419019014",
    "key2": "key2-1759419019014",
    "snapshot1": "snapshot-1759419019014"
  }
}
