{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1761465369016?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1761465369016",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BgeBNpE5K0ilHfVhS1kH9w7YXL9TVWYxgVf7hs_-AwM\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:56:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTU0NTk=;sn=74855459",
        "x-ms-date": "Sun, 26 Oct 2025 07:56:11 GMT"
      },
      "ResponseBody": {
        "etag": "BgeBNpE5K0ilHfVhS1kH9w7YXL9TVWYxgVf7hs_-AwM",
        "key": "key1-1761465369016",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-10-26T07:56:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1761465369016?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTU0NTk="
      },
      "RequestBody": {
        "key": "key2-1761465369016",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aQde1OAigpH9LeFKzx0wsZzT7pnjn02lxA66iAFLOb8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:56:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTU0NjI=;sn=74855462",
        "x-ms-date": "Sun, 26 Oct 2025 07:56:11 GMT"
      },
      "ResponseBody": {
        "etag": "aQde1OAigpH9LeFKzx0wsZzT7pnjn02lxA66iAFLOb8",
        "key": "key2-1761465369016",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-26T07:56:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761465369016?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTU0NjI="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key*",
            "tags": [
              "production=1"
            ]
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"1222-xdEFb6YeiEbtf3gjTJZ6dc9kQ2Vy-4N4YeGZJk\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:56:11 GMT",
        "Link": "</kv?snapshot=snapshot-1761465369016&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1761465369016&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTU0NjQ=;sn=74855464",
        "x-ms-date": "Sun, 26 Oct 2025 07:56:11 GMT"
      },
      "ResponseBody": {
        "etag": "1222-xdEFb6YeiEbtf3gjTJZ6dc9kQ2Vy-4N4YeGZJk",
        "name": "snapshot-1761465369016",
        "status": "provisioning",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-10-26T07:56:11.9697758+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1761465369016",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTU0NjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTU0NjU=;sn=74855465",
        "x-ms-date": "Sun, 26 Oct 2025 07:56:12 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1761465369016",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTU1OTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTU1OTI=;sn=74855592",
        "x-ms-date": "Sun, 26 Oct 2025 07:56:33 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1761465369016?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTU1OTI="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"H-bEDIdvwed_eTVuKoEy_9ORRdQVl9qxBsRQe7rN0eM\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:56:30 GMT",
        "Link": "</kv?snapshot=snapshot-1761465369016&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTU1OTY=;sn=74855596",
        "x-ms-date": "Sun, 26 Oct 2025 07:56:33 GMT"
      },
      "ResponseBody": {
        "etag": "H-bEDIdvwed_eTVuKoEy_9ORRdQVl9qxBsRQe7rN0eM",
        "name": "snapshot-1761465369016",
        "status": "archived",
        "filters": [
          {
            "key": "key*",
            "label": null,
            "tags": [
              "production=1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-10-26T07:56:11+00:00",
        "expires": "2025-11-25T07:56:33.3004004+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1761465369016?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTU1OTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aQde1OAigpH9LeFKzx0wsZzT7pnjn02lxA66iAFLOb8\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:56:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTU2MDE=;sn=74855601",
        "x-ms-date": "Sun, 26 Oct 2025 07:56:33 GMT"
      },
      "ResponseBody": {
        "etag": "aQde1OAigpH9LeFKzx0wsZzT7pnjn02lxA66iAFLOb8",
        "key": "key2-1761465369016",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-10-26T07:56:11+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1761465369016",
    "key2": "key2-1761465369016",
    "snapshot1": "snapshot-1761465369016"
  }
}
