{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1780003349726?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DRkZupH2QbMxmMEmDHWlWyh1VkqCUczT70L6QMbc1lU\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE4Ng==;sn=115288186",
        "x-ms-date": "Thu, 28 May 2026 21:22:31 GMT"
      },
      "ResponseBody": {
        "etag": "DRkZupH2QbMxmMEmDHWlWyh1VkqCUczT70L6QMbc1lU",
        "key": "key1-1780003349726",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003349726?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE4Ng=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J5hfMpr2aFRoUU6410VoXffp26g5Y790MEZLhhoJrAU\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE4OA==;sn=115288188",
        "x-ms-date": "Thu, 28 May 2026 21:22:31 GMT"
      },
      "ResponseBody": {
        "etag": "J5hfMpr2aFRoUU6410VoXffp26g5Y790MEZLhhoJrAU",
        "key": "key2-1780003349726",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003349726?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE4OA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1780003349726",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"GVhyxAGlKar-br2V_9uXojSMmAzmbEBgEbKWUqOXF1o\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:31 GMT",
        "Link": "</kv?snapshot=snapshot-1780003349726&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1780003349726&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE4OQ==;sn=115288189",
        "x-ms-date": "Thu, 28 May 2026 21:22:31 GMT"
      },
      "ResponseBody": {
        "etag": "GVhyxAGlKar-br2V_9uXojSMmAzmbEBgEbKWUqOXF1o",
        "name": "snapshot-1780003349726",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1780003349726",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:22:31.1431395+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1780003349726",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODE4OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODE4OQ==;sn=115288189",
        "x-ms-date": "Thu, 28 May 2026 21:22:31 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1780003349726",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODYyNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"WMp9VwaU9RxNhaq67gz8wu_0CVLoB4QS6Vvd28Vm124\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODYyNg==;sn=115288626",
        "x-ms-date": "Thu, 28 May 2026 21:22:49 GMT"
      },
      "ResponseBody": {
        "etag": "WMp9VwaU9RxNhaq67gz8wu_0CVLoB4QS6Vvd28Vm124",
        "items": [
          {
            "etag": "DRkZupH2QbMxmMEmDHWlWyh1VkqCUczT70L6QMbc1lU",
            "key": "key1-1780003349726",
            "label": "label1",
            "content_type": null,
            "value": "value1",
            "tags": {
              "production": "1"
            },
            "locked": false,
            "last_modified": "2026-05-28T21:22:31+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003349726?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODYyNg=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"567dQX_NqRVpQOOi6Sq9ztoZQEHvmGEkZiTxmIUTIyc\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:47 GMT",
        "Link": "</kv?snapshot=snapshot-1780003349726&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODYyOQ==;sn=115288629",
        "x-ms-date": "Thu, 28 May 2026 21:22:50 GMT"
      },
      "ResponseBody": {
        "etag": "567dQX_NqRVpQOOi6Sq9ztoZQEHvmGEkZiTxmIUTIyc",
        "name": "snapshot-1780003349726",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1780003349726",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:22:31+00:00",
        "expires": "2026-06-27T21:22:50.0488822+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003349726?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODYzMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J5hfMpr2aFRoUU6410VoXffp26g5Y790MEZLhhoJrAU\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODYzNA==;sn=115288634",
        "x-ms-date": "Thu, 28 May 2026 21:22:50 GMT"
      },
      "ResponseBody": {
        "etag": "J5hfMpr2aFRoUU6410VoXffp26g5Y790MEZLhhoJrAU",
        "key": "key2-1780003349726",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:22:31+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1780003349726",
    "key2": "key2-1780003349726",
    "snapshot1": "snapshot-1780003349726"
  }
}
