{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "alzimmer",
          "DeleteAfter": "2026-04-13T20:14:49.6081974Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Insights/webtests/Sanitized?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "kind": null,
        "etag": "Sanitized",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/microsoft.insights/webtests/Sanitized-bing-test",
        "name": "Sanitized",
        "type": "microsoft.insights/webtests",
        "location": "westus",
        "tags": {
          "hidden-link:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Insights/components/Sanitized-ai": "Resource"
        },
        "properties": {
          "SyntheticMonitorId": "Sanitized-bing-test",
          "Name": "Updated Test Name",
          "Description": "Updated integration test web test description",
          "Enabled": true,
          "Frequency": 600,
          "Timeout": 60,
          "Kind": "standard",
          "RetryEnabled": true,
          "Locations": [
            {
              "Id": "us-ca-sjc-azr"
            },
            {
              "Id": "us-tx-sn1-azr"
            }
          ],
          "Configuration": null,
          "Request": {
            "RequestUrl": "https://www.bing.com/",
            "Headers": null,
            "HttpVerb": "GET",
            "RequestBody": null,
            "ParseDependentRequests": false,
            "FollowRedirects": true
          },
          "ValidationRules": {
            "ExpectedHttpStatusCode": 200,
            "IgnoreHttpStatusCode": false,
            "ContentValidation": null,
            "SSLCheck": true,
            "SSLCertRemainingLifetimeCheck": 7
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
