{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dotnet-testrecordings-7667/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2980?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dotnet-testrecordings-7667/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2980",
        "name": "dbaccount-2980",
        "location": "West US 2",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "systemData": {
          "createdAt": "2024-10-29T00:33:06.3038495Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://dbaccount-2980.documents.azure.com:443/",
          "tableEndpoint": "https://dbaccount-2980.table.cosmos.azure.com:443/",
          "sqlEndpoint": "https://dbaccount-2980.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": true,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Table, Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "7867f506-625a-4745-bb92-5f1e26dd2dff",
          "createMode": "Default",
          "databaseAccountOfferType": "Standard",
          "capacityMode": "Provisioned",
          "enableFullFidelityChangeFeed": false,
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enablePerRegionPerPartitionAutoscale": false,
          "enableBurstCapacity": false,
          "enablePriorityBasedExecution": false,
          "defaultPriorityLevel": "High",
          "minMaxThresholdsForPriorityBasedExecution": {
            "minPercentForLowPriorityRequests": 0,
            "maxPercentForLowPriorityRequests": 100,
            "minPercentForHighPriorityRequests": 0,
            "maxPercentForHighPriorityRequests": 100
          },
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "BoundedStaleness",
            "maxIntervalInSeconds": 1000,
            "maxStalenessPrefix": 300
          },
          "configurationOverrides": {
            "EnablePerRegionPerPartitionAutoscaleOptIn": "True"
          },
          "writeLocations": [
            {
              "id": "dbaccount-2980-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-2980-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "dbaccount-2980-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-2980-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "dbaccount-2980-westus",
              "locationName": "West US",
              "documentEndpoint": "https://dbaccount-2980-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "dbaccount-2980-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableTable"
            }
          ],
          "ipRules": [
            {
              "ipAddressOrRange": "23.43.230.120"
            }
          ],
          "backupPolicy": {
            "type": "Continuous",
            "continuousModeProperties": {
              "tier": "Continuous30Days"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2024-10-29T00:33:06.3038495Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2024-10-29T00:33:06.3038495Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2024-10-29T00:33:06.3038495Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2024-10-29T00:33:06.3038495Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/resourceGroups/dotnet-testrecordings-7667/providers/Microsoft.DocumentDB/databaseAccounts/dbaccount-2980/tables/table-7889?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "resource": {
            "id": "table-7889"
          },
          "options": {
            "throughput": 700
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/dec9ed54-2b7f-4476-9bd0-875544af59df/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/e077a14e-5a31-414e-b0b5-43bd64ba9526?api-version=2024-09-01-preview&t=638657588275760468&c=MIIHhzCCBm-gAwIBAgITHgVqhF9GOoUjuyqQWAAABWqEXzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTIwMjMxMTQxWhcNMjUwMzE5MjMxMTQxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
