{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "I work at Microsoft and my email is atest@microsoft.com",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "domain": "phi",
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "PiiEntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.PII=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "I work at ********* and my email is *******************",
              "id": "0",
              "entities": [
                {
                  "text": "Microsoft",
                  "category": "Organization",
                  "offset": 10,
                  "length": 9,
                  "confidenceScore": 0.93
                },
                {
                  "text": "atest@microsoft.com",
                  "category": "Email",
                  "offset": 36,
                  "length": 19,
                  "confidenceScore": 0.8
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-01-15"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1814128782",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
