{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "PiiEntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.PII=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "A ********* with SSN *********** whose phone number is ************ is building tools with our APIs. They work at *********",
              "id": "0",
              "entities": [
                {
                  "text": "developer",
                  "category": "PersonType",
                  "offset": 2,
                  "length": 9,
                  "confidenceScore": 0.97
                },
                {
                  "text": "859-98-0987",
                  "category": "USSocialSecurityNumber",
                  "offset": 21,
                  "length": 11,
                  "confidenceScore": 0.65
                },
                {
                  "text": "800-102-1100",
                  "category": "PhoneNumber",
                  "offset": 55,
                  "length": 12,
                  "confidenceScore": 0.8
                },
                {
                  "text": "Microsoft",
                  "category": "Organization",
                  "offset": 114,
                  "length": 9,
                  "confidenceScore": 0.96
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-01-15"
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsoft",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "piiCategories": [
            "PersonType",
            "USSocialSecurityNumber",
            "PhoneNumber",
            "Organization"
          ],
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "PiiEntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.PII=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region"[...]
