{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-04-01\u0026showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "Utf16CodeUnit"
        },
        "kind": "PiiEntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.PII=2,CognitiveServices.TextAnalytics.TextRecords=2",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "A ********* with SSN *********** whose phone number is ************ is building tools with our APIs.",
              "id": "0",
              "entities": [
                {
                  "text": "developer",
                  "category": "PersonType",
                  "offset": 2,
                  "length": 9,
                  "confidenceScore": 0.97
                },
                {
                  "text": "859-98-0987",
                  "category": "USSocialSecurityNumber",
                  "offset": 21,
                  "length": 11,
                  "confidenceScore": 0.65
                },
                {
                  "text": "800-102-1100",
                  "category": "PhoneNumber",
                  "offset": 55,
                  "length": 12,
                  "confidenceScore": 0.8
                }
              ],
              "warnings": []
            },
            {
              "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.",
              "id": "2",
              "entities": [
                {
                  "text": "111000025",
                  "category": "PhoneNumber",
                  "offset": 18,
                  "length": 9,
                  "confidenceScore": 0.8
                },
                {
                  "text": "111000025",
                  "category": "ABARoutingNumber",
                  "offset": 18,
                  "length": 9,
                  "confidenceScore": 0.75
                },
                {
                  "text": "111000025",
                  "category": "NZSocialWelfareNumber",
                  "offset": 18,
                  "length": 9,
                  "confidenceScore": 0.65
                }
              ],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2021-01-15"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "691738276",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
