{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {}
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "68",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3f4117ec-0e7f-4672-b9e0-79910951a4b7",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.680"
      },
      "ResponseBody": {
        "id": "asst_Nuz95UJ5Bubo2sSbyIwzV7Lr",
        "object": "assistant",
        "created_at": 1746168328,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {
                "type": "object",
                "properties": {}
              },
              "strict": false
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_Nuz95UJ5Bubo2sSbyIwzV7Lr?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "97",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2bb7fe43-021f-4546-a931-2d60e06143b6",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.298"
      },
      "ResponseBody": {
        "id": "asst_Nuz95UJ5Bubo2sSbyIwzV7Lr",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
