{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {}
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "30980416-0649-405b-a901-0659c50eedb9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.535"
      },
      "ResponseBody": {
        "id": "asst_0k4mXnKjDVTsV9Qme66D8qX0",
        "object": "assistant",
        "created_at": 1747727587,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {
                "type": "object",
                "properties": {}
              },
              "strict": false
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_0k4mXnKjDVTsV9Qme66D8qX0?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "91",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5a32dcc6-a5aa-4dd8-96b0-1f571261eaac",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.398"
      },
      "ResponseBody": {
        "id": "asst_0k4mXnKjDVTsV9Qme66D8qX0",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
