{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE57A28FE\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17/foo/test-file-9cace47d-3520-a7d7-23fa-31052ae2760c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE5821134\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17/foo/test-file-9cace47d-3520-a7d7-23fa-31052ae2760c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "xGnu9Xf6T/S4qgC3P/rxBmF2iilVHLJz2XKj8/9fYPfTZUyI8MMnnHz7YGujpLne2LGlqiuJiai2ehwEV1v0WUoI49qtaRadT+2sWrtH0DS4xBtOubXMStuj0XWnIkQgBgYhmg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE589A9D7\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:21 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "TH8s046rwWo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17/foo/bar/test-file-7c6b3516-b7bd-8165-ad86-4411f1deb89e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE5A07391\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17/foo/bar/test-file-7c6b3516-b7bd-8165-ad86-4411f1deb89e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "cA9wXEx8slnluKdUUmYWxax/hyv72Mj6iYIK6uPTDLqM0cF0DKj3xynPFtMELFTuW/QpYZmyN5hHddLKcch1Eqvsx4ClorgEiMACLML09lwuG47uqqog2ZooLJbVLVVhWgMnFw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE5A880D1\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:22 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "msGYhpM5cF4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17/foo/bar/pik/test-file-19efcb97-a315-f95b-d8c9-b70621b6b2df",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE5B08E17\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17/foo/bar/pik/test-file-19efcb97-a315-f95b-d8c9-b70621b6b2df?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "OReFoH5Ag2TT4i+ExFYpnArOyWp5/SKmk4BsBZKYjlPYGlU7VHfhUHzCALn3xrKYo6YPKLQElTz03gz91H7ROlTbrKoA7UeT7Xjutvxor83O1GHsiGae04QZRnZq43z98cZlGw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE5B8C23F\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:22 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "P3cOGFgTxV0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17?restype=container&comp=list&prefix=foo%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17\"><Prefix>foo/</Prefix><Blobs><Blob><Name>foo/bar/pik/test-file-19efcb97-a315-f95b-d8c9-b70621b6b2df</Name><Properties><Creation-Time>Thu, 24 Oct 2024 20:53:22 GMT</Creation-Time><Last-Modified>Thu, 24 Oct 2024 20:53:22 GMT</Last-Modified><Etag>0x8DCF46DE5B8C23F</Etag><Content-Length>100</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>foo/bar/test-file-7c6b3516-b7bd-8165-ad86-4411f1deb89e</Name><Properties><Creation-Time>Thu, 24 Oct 2024 20:53:22 GMT</Creation-Time><Last-Modified>Thu, 24 Oct 2024 20:53:22 GMT</Last-Modified><Etag>0x8DCF46DE5A880D1</Etag><Content-Length>100</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</L[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17/foo/bar/pik/test-file-19efcb97-a315-f95b-d8c9-b70621b6b2df",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCF46DE5B8C23F",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF46DE5B8C23F\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 24 Oct 2024 20:53:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "OReFoH5Ag2TT4i+ExFYpnArOyWp5/SKmk4BsBZKYjlPYGlU7VHfhUHzCALn3xrKYo6YPKLQElTz03gz91H7ROlTbrKoA7UeT7Xjutvxor83O1GHsiGae04QZRnZq43z98cZlGw=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c670275-f86d-d7cb-76fe-a3e3336bec17?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1141720099",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
