{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB29E314EC9\"",
        "Last-Modified": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0/test-file-e8307734-4cbe-631e-eea2-d58f9e412287/test-file-951173cc-f6a7-8a68-31c7-baebdbe9e54e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB29E3A336F\"",
        "Last-Modified": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:00:45.4787951Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0/test-file-e8307734-4cbe-631e-eea2-d58f9e412287/test-file-951173cc-f6a7-8a68-31c7-baebdbe9e54e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "PzRucNdItfM6eRy16wWTzJ++PUIEH7E+DqW295IyiAS8h09p0rKwg74eWy7as58rM+1LHayjSiCDMGIykb5gB/AX+GS1KfntDrmD5sSDY1oFi8Sk5mtYGD0v5qJQfvIAvVM9wro7dQn0Xg7yH2NcAMwILAb5vCCFvuAnhkNWnJDHgyhwRaGfyhW6r4hcZvjZ0+bWSFHsBgAztwPaFO/GncF+K5s767oraGHwPgyYKVjnTbJcgFQ+2n0nPY2dxLUl9BLG3jpcnecsqt/w+8fzmo6r8sY9aR1sP1AeE64sjqOsy0r60ksdirDKMNV1Tt+2NKL/8dLu54v0WZ7qPoo5/xw7QzB9+[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0?restype=container&comp=list&prefix=test-file-e8307734-4cbe-631e-eea2-d58f9e412287%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0\"><Prefix>test-file-e8307734-4cbe-631e-eea2-d58f9e412287/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>test-file-e8307734-4cbe-631e-eea2-d58f9e412287/test-file-951173cc-f6a7-8a68-31c7-baebdbe9e54e</Name><VersionId>2025-05-07T22:00:45.4787951Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:00:45 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:00:45 GMT</Last-Modified><Etag>0x8DD8DB29E444421</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0/test-file-e8307734-4cbe-631e-eea2-d58f9e412287/test-file-951173cc-f6a7-8a68-31c7-baebdbe9e54e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD8DB29E444421",
        "x-ms-date": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB29E444421\"",
        "Last-Modified": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:00:45.4787951Z"
      },
      "ResponseBody": "PzRucNdItfM6eRy16wWTzJ++PUIEH7E+DqW295IyiAS8h09p0rKwg74eWy7as58rM+1LHayjSiCDMGIykb5gB/AX+GS1KfntDrmD5sSDY1oFi8Sk5mtYGD0v5qJQfvIAvVM9wro7dQn0Xg7yH2NcAMwILAb5vCCFvuAnhkNWnJDHgyhwRaGfyhW6r4hcZvjZ0+bWSFHsBgAztwPaFO/GncF+K5s767oraGHwPgyYKVjnTbJcgFQ+2n0nPY2dxLUl9BLG3jpcnecsqt/w+8fzmo6r8sY9aR1sP1AeE64sjqOsy0r60ksdirDKMNV1Tt+2NKL/8dLu54v0WZ7qPoo5/xw7QzB9+chCjWcWcjlH9/F[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0?restype=container&comp=list&prefix=test-file-e8307734-4cbe-631e-eea2-d58f9e412287",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a3ee286-2d83-0ae4-8ffc-e850ed8401c0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "811784251",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
