{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006960AE6C64\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff/foo/folder0/test-file-0b21bf59-dc84-4f87-9c46-09beaf1adeb6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006960B7CEB5\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff/foo/folder0/test-file-0b21bf59-dc84-4f87-9c46-09beaf1adeb6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "3qiKw+/JSrOqlNbHpiSr6jz4vo8Ad2tHDzJETfHGRnLpSuqvuwG1Tol4RWEVFFGrc/BGR/Fcb2c8Q7O8hPzB5E5j3Vw6+y46Qm8FhzEJMfvhmdoAf/+BjNuDc3hO+cqNt2ETsTf0cXjCDASBV+c2MhG42usiwWRP4lCBt4i27EmleNDP9n/D7SdiPnP7/zXzTEBnlR7ea/X8xM/mc7rvCx+6294XZjyR9O3Dv4PxU+MbjWpIT1Yrxg3b0zGw3XptcjJUQSNX3OUD1aEwG6txC3DryuVPp7zJjhXQO5MK4BZzVU1RnRK/w7GERHm0+qtiacjBxBKUHcp1irIOhqBS+PWKvcVdI[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff/foo/folder0/folder1/test-file-f81af47e-619c-03ee-3001-9dd7632c6761",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006960C884D9\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff/foo/folder0/folder1/test-file-f81af47e-619c-03ee-3001-9dd7632c6761?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "c1AJyZuLKDxViNWzOjGLxKj[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff/foo/folder0/folder1/folder2/test-file-152aeb33-cb6c-8549-22d5-bac95746c5a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006960D961CC\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff/foo/folder0/folder1/folder2/test-file-152aeb33-cb6c-8549-22d5-bac95746c5a4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "zQDSU0y9FhlZ/cQ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff?restype=container&comp=list&prefix=foo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff\"><Prefix>foo/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff?restype=container&comp=list&prefix=foo%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff\"><Prefix>foo/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/folder1/</Name></BlobPrefix><Blob><Name>foo/folder0/test-file-0b21bf59-dc84-4f87-9c46-09beaf1adeb6</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:36:12 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:36:12 GMT</Last-Modified><Etag>0x8DE006960C050AE</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff/foo/folder0/test-file-0b21bf59-dc84-4f87-9c46-09beaf1adeb6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE006960C050AE",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006960C050AE\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:36:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "3qiKw+/JSrOqlNbHpiSr6jz4vo8Ad2tHDzJETfHGRnLpSuqvuwG1Tol4RWEVFFGrc/BGR/Fcb2c8Q7O8hPzB5E5j3Vw6+y46Qm8FhzEJMfvhmdoAf/+BjNuDc3hO+cqNt2ETsTf0cXjCDASBV+c2MhG42usiwWRP4lCBt4i27EmleNDP9n/D7SdiPnP7/zXzTEBnlR7ea/X8xM/mc7rvCx+6294XZjyR9O3Dv4PxU+MbjWpIT1Yrxg3b0zGw3XptcjJUQSNX3OUD1aEwG6txC3DryuVPp7zJjhXQO5MK4BZzVU1RnRK/w7GERHm0+qtiacjBxBKUHcp1irIOhqBS+PWKvcVdIG5dLAczymJDFJRpbtLLSRsD3jiD3BJgsD0RMkyDKj3lBUlZY5gLYVJnMXYepBjOh67Zht6N2URb/XzJIpgWv+pWhGiIceaD+H3lHKqbQgslQqqdqaNeWCsF/WYcQj66UHGMxyCvRRbIVo5hp72ZwLtwpODteRVG+Cs9g3OAZ7Y+K8s5D3rqdfyU1FMU/LBuaz2qq51ezNdbRc71csKjSO/YInzxYLBAhS7jWKTCMvt6zhc11bsY4F703cmr9QM68YxkO9o0fAuMaSVue3MymRPTeqOrbXIzv0Id/YLnlJArqWcYXvYhRlELqGuWqmXqwUS22HpgjoQZMHuYFn+IpdSVQ9EMGjocsTRRn8QHnRXcMzw+MLwVyhrj/i16iC/SggOWAGaT3qYJmSZGDu+/EpJmu+NDSnQYf3i3KRwMoigFfhzBcJyuSFWVNJeVz7srI+ubFMxLjziOfYHu3LSK/Pf9QZDS/aH1t3OOrRXdg7C8jAUwcY1cue/jMvIbwGygCzifl40rWCVJpV1ZveEjsfrQMVCvWYtpoYig7suv2fYG7qLdPesikDPf5swwAvsOwIH3S44b8LGtNvUFi2lamstmUs8/RnMPraAc0HO+OJ+Mki5Jt45n6/3wMAf1HQXKhEwAyq8sz3oN6J7u/iA+7v1Wefg7EOI9/mfRThVrGZCaUksnvm7wX8OzPM7veezdsUIKn6MNjnNpwsxHW4Bkoc8OU6vUFy+OZRo1iNQUTYR69JzTYXnsjcTXvfuiqANCTpr/4SZACJoSezqJ1waeVHRHzWfjkEBWIsXn/Vkz7L0W8jk6FGxdOesCweU/Yra+OGiGWtqcXr1ZqL9hWQtA3o98c+TMY0AI6ZN74c9bF78OKcTwrJHiepN74Wys/ODgweJWwu/R8dQofnFHIH3u/pH/UjBGTzL9mflRUILTW+yymx/tBFTQPTfvxy4gm1kWjeParKmwmXKvWSn1gKBSVCKElIVdAPk9LxX4V4cE3f6fOsKf+a5CAgGtPQ=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7b93743d-13d6-b39e-4556-c27ca1c1b8ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "261691470",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
