{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00695BC6BD5C\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb/foo/test-file-1d99a6e0-1dab-52c4-3c70-58e9cba68783",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00695BCFE0D4\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb/foo/test-file-1d99a6e0-1dab-52c4-3c70-58e9cba68783?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "zziWR9tfAphutx+ID5wap7HH8upR9QkrgE91cnNZ8VCb7oc4EEczwTjrPV8He2wW9Ci5gb5CFdkuasaM6o8kFcXP7CAU4pdplDCxZbiqIwXiXn5LoHCRWdmuCaWAptapxyeZOI5LARKQT+2Oka8hg0fBqYsR2XVVPpNHZtjy6e1aCJ6QEet2l11ru1CDA8cpjIVevv1LmO6yQ/n6BJo5nWb/NIkRkXJbSxIupR0k0jvLHdpTlCrvDm+w3c3ye5LCMh3qg88+GPoTAnPrHPLQjXG+L+bA5gk7ECUZYbOkac9/bHIAOk5rjAXfQJG3BPJ9309cM0ysAkwTrnOqJbdHbpmja69/0[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb/foo/bar/test-file-28cb8453-4381-39c4-01c8-555670a68f0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00695BF1C1B1\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb/foo/bar/test-file-28cb8453-4381-39c4-01c8-555670a68f0e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "sqDMJUJp3EPQ+bZLGINQnqCvKh9UWHk3zbj[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb/foo/bar/pik/test-file-ac843b20-2716-7b04-b30e-cf6b48b12c66",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00695C03611B\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb/foo/bar/pik/test-file-ac843b20-2716-7b04-b30e-cf6b48b12c66?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "h9FQcgBvF2L4N/f2GBG7AO0oypaaCvR[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb?restype=container&comp=list&prefix=foo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb\"><Prefix>foo/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/bar/</Name></BlobPrefix><Blob><Name>foo/test-file-1d99a6e0-1dab-52c4-3c70-58e9cba68783</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:36:04 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:36:04 GMT</Last-Modified><Etag>0x8DE00695BD8B089</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>foo/test-file-21f033dc-6451-8af3-4d40-d51325d6a11f</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:36:04 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:36:04 GMT</Last-Modified><Etag>0x8DE00695BE966A4</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb?restype=container&comp=list&prefix=foo%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type":[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb/foo/test-file-21f033dc-6451-8af3-4d40-d51325d6a11f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE00695BE966A4",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00695BE966A4\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "aSy2+O+GtQao9KBJBp6cnbGWYIhu05VHwWrQWGo+FW6hyclwckz5DPH5hRalXdZ6+tQyMq43V5aWbjaFtl2cat4xqDzUKytknFSXdE1/omOUVV2VC+LAaXEz2QMWdFaUXBo3c7WZpc6pzpZZoONIF8zS8WAAB1/8cD7LoVInTSj+AxczRy+u+7CO7DxMZsiO6sE3Q4L1k1W7OwJ2zQN8gYFtW53LFdCcJPavchsirwp2PLaQ8AmlCG/CdwssNy2sEWq73gorw9Xxmh+MRiE6mIz4AJBM65F3yFMtCZ3Eb+zIAmCwZ9D/Snnhn1XqGMJNh95/NDecXybYQxa3/bo3LSozw0PBiTG7+LUXa0s7ja+R4IG/RDu1LKI52CO6SE2/qXErtlV+jP2txDuBhfTanLZmJR04eOnvfZegh7ENAbBoWMLZENZaE1OEEX//M6auXztsUyIwhjCIPDm+3QRMn8OLGS0yAIzfDBLJtGdp70nw8ih1oa2NONGRUdSdnDVPOHK8dBp5fF6vjEYQZ9LJH0zvzevc1v4V/eBboK+4QnDceXz0rHsudnXKxhRmfdH/xzGHrs5Jc2Jzp3c6Hduu9krWM+1V1XLQwFZ2Eg/qrn8PXNl9MJSikwYagAUE9FmZG9DJkEnjqfK+tu1302BSifj3KsACMMW1M6DmO1RtzMv93Pc+IB02K7PmvnqnKr+lx/YMDcqYl+oKFFyp/W2dUeohefdpE2nawP4NG3JLDgngQHRdYL4BZUUMNAzAjC5GSW2PhbHIO7ONMkzLi3t4vwVTyLz5QPErIBSxXN9dGjPQx9IEu4lXFwTA0C5yNdnJlHQGbcRxTAh7ZGScFt7TMBgY+8OpcwN7+7C4OHDDues66MhrVq1vXnrJiVcluwEl7KAVWTkVICFwinETuRSYt6t5YS4WaNlrqJxJ3+msVkCvkkvQrV+xJMem+ss7XKVmMdGsrFrSDoTGqrCczEE3xDMxYybIyApLxzxmcG0NL0z2464X/6rl3YPHCQKuFFiGbjaYCvh/nWjHYOQda54WuXtkpumTH8SIS4aiAb8HnbLk4AE3dSRUd0ZFUJ7GyHHlsFCGSm5v805xD79x3JupwMMyOYuc3kNXDy6iTc8lwoMVvVFvgFJDdO2zxmZl4pqqm4/bk47mSNEMLzo/zKV+S0w8XB9JOj9w7sSd6Rjd8iyU97I/Si/0LnV/YlAYA6hHNHoZKIZ7YWFQaqTJSF65Lj0Nq9TzPwEdRy2pytfvWOscVrWexMmmGJZQ79+KK+YWxjQTCljUVPR4/OFY0ZaJYBK5rPKoGml0Z5I9ok8ikxtHkgOj3E2TSAHAJcjoTkcAx47N0H7zbqvKnqPFlrGlVg=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb?restype=container&comp=list&prefix=foo%2Fbar%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7ef17336-a585-5752-9f3e-a447e76bf6bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "330375301",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
