{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00696FC0F03C\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95/foo/folder0/test-file-d43c13bc-adc2-cfdc-7d80-ff75ed987963",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00696FCA4AD2\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95/foo/folder0/test-file-d43c13bc-adc2-cfdc-7d80-ff75ed987963?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "fyX9ulisAV3muejuiWT8+YmN8lB2GGa37mZ2qzH5J97B9tljmwgpQ3RFArjYVk/yuknsEAe57Ge/RczxNVUs7JIKLZOLmV6BY6/cMBat35cXhPHoDBbWCAlyo1U8OA0eGRUmzim7ZiDqa61X3LxQEWY02bBjQ+B8MySKGPUJRSuhvRcBhxFuXB3Q/aBpfitNIZLvB15dutU0qpoEMU4q4SaCtR+kT4pVxX2SkkZAErX5PPdjGT3MRAJCzN12airPpRx658gMqNEHmULhyieP9JflCvRWx8fotXEcYoOs3lpTwu0pxSvs7ZQlW4D663nasthFkV81ed5VkTFX70ZOW7vnjQg6Z[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95/foo/folder0/folder1/test-file-c17f55d2-e3ba-85bc-914b-0fe1c51a00d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00696FDC111E\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95/foo/folder0/folder1/test-file-c17f55d2-e3ba-85bc-914b-0fe1c51a00d9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:37 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "GUUjVxNDUZOlis8GqEn8al5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95/foo/folder0/folder1/folder2/test-file-cd3f3378-7462-c56f-d8cb-59588998c282",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00696FEE7308\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95/foo/folder0/folder1/folder2/test-file-cd3f3378-7462-c56f-d8cb-59588998c282?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "hRr9a/QZqiO6iYJ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95?restype=container&comp=list&prefix=foo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95\"><Prefix>foo/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95?restype=container&comp=list&prefix=foo%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95\"><Prefix>foo/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/folder1/</Name></BlobPrefix><Blob><Name>foo/folder0/test-file-d43c13bc-adc2-cfdc-7d80-ff75ed987963</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:36:38 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:36:38 GMT</Last-Modified><Etag>0x8DE00696FD34168</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95/foo/folder0/test-file-d43c13bc-adc2-cfdc-7d80-ff75ed987963",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE00696FD34168",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE00696FD34168\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "fyX9ulisAV3muejuiWT8+YmN8lB2GGa37mZ2qzH5J97B9tljmwgpQ3RFArjYVk/yuknsEAe57Ge/RczxNVUs7JIKLZOLmV6BY6/cMBat35cXhPHoDBbWCAlyo1U8OA0eGRUmzim7ZiDqa61X3LxQEWY02bBjQ+B8MySKGPUJRSuhvRcBhxFuXB3Q/aBpfitNIZLvB15dutU0qpoEMU4q4SaCtR+kT4pVxX2SkkZAErX5PPdjGT3MRAJCzN12airPpRx658gMqNEHmULhyieP9JflCvRWx8fotXEcYoOs3lpTwu0pxSvs7ZQlW4D663nasthFkV81ed5VkTFX70ZOW7vnjQg6ZS5s+B1gMGtH7cr3Qa+qZk37HUkO1DT5lf1N1wDFE11xn02p2ZhC1EhzDaNnX62Wo/Rt7HC+LJH6cmMgEllqgtpshqFiAY20uUgBm8aQkjVPtzMMVybss3O7r2Y1IcLuCIvI+tkMM6JmuTMnvJHKaeAt0FsmXiq0gNIuplEnf5eGEpI6yJdcQ4OQpZ7yxPbh8EWFB1FmyKlgFHoG3YxRPzmcoar+kKFJ0IzYlbmMwbvcTLYLoXdFIEno2bQdVmX2P2VkVSNL4mCkPDfEjTPw1FK/KZHWRZ7CV4FgFrbtK3km4lZTJ2yXkGlVZ2RAgZIW9wVhXizUH/rHov6h68yqtxG9navcnazlJ5kngN05gtbvSh6xi81MUsJbi4Vt9aWdq69TguPmOVpYezaTrZ4cjiAosqGt+CxDcEvpgREneDHzitUt5f/yCBDEWA+WuaQjP/1lREME77KDDxGX/bhIMQMEoCPJ7qggNqqQ6aAcrbemxUIUwjTu75siqtXtWgtXfCcLkRmBWlBVRA6ZcwUSZmJa8Dd2M2/PFbCHp0TSMtueOGx4EBueJWvxvn0lVXuVEENzk2rT4Ui4PHto+bMMghIz+juZmVVHu8vMhHXxqcA18pcBX55wy1ckwNSfNiu45Ttq8ltA+3btK9eeBlzTxpO7MgYcCyNzwi7kdNiBqIWgFJ85h7dk9fYgEzPH0sT6UPpA4wMknNoY9i8sW4ada4NS/vG8mj/bVz0Q+/fwrO9p6STeQMSCe3jFIJCHN5lvgqivddTTPba7ZYzFFKDiJ0k/wnJivyq/z4J593muUx+koHlPQDcblqxtI9s3vGbY4/hHSHUnDcN98KVRWUY8DBFtIXQnk+cRJCzF9ZtPhxMboROAZwupfJK10k+SyjxlMBbKyprysFARNSNIYRgoLWmRNbgyvKUFw6ThccCXf1rvYMSEhb14KfDDbzHoYRt6jaTmAJSEM3RxxAb1ED6PebXJWQFTpKisGQzIbk1zHWKJZuQcsX7FayxPEg=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cabe0d6d-1f6f-5994-021b-87f27554bb95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:36:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "633321543",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
