{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB29B2153C7\"",
        "Last-Modified": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5/foo/folder0/test-file-6e6d7a5d-a872-8f1b-e2b7-64ba19d2a008",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB29B2A0985\"",
        "Last-Modified": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:00:40.3396997Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5/foo/folder0/test-file-6e6d7a5d-a872-8f1b-e2b7-64ba19d2a008?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Oa3jPX0hh8iRcQCboNKn2Aw18Sxs8goRluobQu/DgoOAJg86Jm2wpmWeHYxC6Dpvs80YQ/oqdUej0aaTBUXYze99G3rDbbKfhErHzdR9zq6vrI8iqz+IVbDHl1XGHaAfxk+dxc3ArEYaeb6vY6dyJQL441m2tSKw9MXK+9Vd2GappweF4Anh7/9JBzKA2fIIVXJSzjpHaRAt7dEH9rBwvaBXBbug7EX5F/Raba7wLxrSwaVjCgosYj73WPI32flO2EqRKNM3aGgsWbdG7ftiPb23NTQLDLOVKqN9qZRSwj36C5RjXgZGmlk9NrBT5nVClRs1gKPEQ8uX+/0wur7T2pd5S+Fn/[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5/foo/folder0/folder1/test-file-5dc61954-959c-fbe9-6ed6-0748e809aa2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB29B3AA8EB\"",
        "Last-Modified": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:00:40.4486379Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5/foo/folder0/folder1/test-file-5dc61954-959c-fbe9-6ed6-0748e809aa2e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "ZF6ewu9wjQoi30n6J4v2f[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5?restype=container&comp=list&prefix=foo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5\"><Prefix>foo/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5?restype=container&comp=list&prefix=foo%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5\"><Prefix>foo/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/folder1/</Name></BlobPrefix><Blob><Name>foo/folder0/test-file-6e6d7a5d-a872-8f1b-e2b7-64ba19d2a008</Name><VersionId>2025-05-07T22:00:40.3396997Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:00:40 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:00:40 GMT</Last-Modified><Etag>0x8DD8DB29B3293C8</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
       [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5/foo/folder0/test-file-6e6d7a5d-a872-8f1b-e2b7-64ba19d2a008",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD8DB29B3293C8",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB29B3293C8\"",
        "Last-Modified": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:00:40.3396997Z"
      },
      "ResponseBody": "Oa3jPX0hh8iRcQCboNKn2Aw18Sxs8goRluobQu/DgoOAJg86Jm2wpmWeHYxC6Dpvs80YQ/oqdUej0aaTBUXYze99G3rDbbKfhErHzdR9zq6vrI8iqz+IVbDHl1XGHaAfxk+dxc3ArEYaeb6vY6dyJQL441m2tSKw9MXK+9Vd2GappweF4Anh7/9JBzKA2fIIVXJSzjpHaRAt7dEH9rBwvaBXBbug7EX5F/Raba7wLxrSwaVjCgosYj73WPI32flO2EqRKNM3aGgsWbdG7ftiPb23NTQLDLOVKqN9qZRSwj36C5RjXgZGmlk9NrBT5nVClRs1gKPEQ8uX+/0wur7T2pd5S+Fn/t62cJrbzdYCQkQ[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:40 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d6b8242e-2a01-c996-7406-0f49bb861ec5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:00:41 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1199307094",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
