{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE8034E76\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830/foo/folder0/test-file-3cd91203-8191-ab16-9936-a70bc38a9ee9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE80AC525\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830/foo/folder0/test-file-3cd91203-8191-ab16-9936-a70bc38a9ee9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "SXWxs7NgxpeqI40FHwU1EXq8Bps90qRmaSmqf3IgUB1GSTCM2tadKOTXcWploIyNbI4RuIDJr3fQSkmKtUYlidJwv9XVqTajHt22ZmA5AMmdHRPkDpicfJq4u4+NEnOesueY9eG2t8NXbpmjE0kWl0qA7JczQHo51EI7He6mFgxqGLR5oQvo5mVPjZ//+WhRoSNFDSbbanFsXiGee5rVsFiNOPuVnfU/lwYx5LPaOtvZ6XvKYQnmjq1CDEPqSWvLetxHccBtvAQuBXUfqoa+kiNFxZEfCk5Pp6pNUpCxVU2bZmnWk8kaay13m1yTxuQng3ogpITZq2+N98oVH2lzfLAog0Mc5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830/foo/folder0/folder1/test-file-32e857aa-56b1-377f-9d04-0c8f46aced32",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE81A1D31\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830/foo/folder0/folder1/test-file-32e857aa-56b1-377f-9d04-0c8f46aced32?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ZKdTgZqLviHYIqwU7qQy55C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830/foo/folder0/folder1/folder2/test-file-3ed60f5a-1222-c5ac-a4ab-3779018b8a50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF46DE8292781\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830/foo/folder0/folder1/folder2/test-file-3ed60f5a-1222-c5ac-a4ab-3779018b8a50?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "wo+TaUpqDdSo890[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830?restype=container&comp=list&prefix=foo%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-4f966087-298b-ee64-e5f8-952fed082830\"><Prefix>foo/</Prefix><Blobs><Blob><Name>foo/folder0/folder1/folder2/test-file-3ed60f5a-1222-c5ac-a4ab-3779018b8a50</Name><Properties><Creation-Time>Thu, 24 Oct 2024 20:53:26 GMT</Creation-Time><Last-Modified>Thu, 24 Oct 2024 20:53:26 GMT</Last-Modified><Etag>0x8DCF46DE8307246</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>foo/folder0/folder1/test-file-32e857aa-56b1-377f-9d04-0c8f46aced32</Name><Properties><Creation-Time>Thu, 24 Oct 2024 20:53:26 GMT</Creation-Time><Last-Modified>Thu, 24 Oct 2024 20:53:26 GMT</Last-Modified><Etag>0x8DCF46DE82167FF</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>foo/folder0/test-file-3cd91203-8191-ab16-9936-a70bc38a9ee9</Name><Properties><Creation-Time>Thu, 24 Oct 2024 20:53:26 GMT</Creation-Time><Last-Modified>Thu, 24 Oct 2024 20:53:26 GMT</Last-Modified><Etag>0x8DCF46DE812AB82</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830/foo/folder0/folder1/folder2/test-file-3ed60f5a-1222-c5ac-a4ab-3779018b8a50",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DCF46DE8307246",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF46DE8307246\"",
        "Last-Modified": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 24 Oct 2024 20:53:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "wo+TaUpqDdSo890lBlnT1+ypFOtnXAtcDLClrtgr3ocs3VuGKbjewi66jC8tXOncBXXmGtqgeWWENlyaxF/8fBVV+Sj9Ta4zylG9rc/cL6/HyahjRMOsjGP1AvJcRP7OvQ8a12PA3rjGs1CJ4syVpwes0/q2mTdRqW3FCEq714VT7u/AwlhMBuvwnJFzI6mWYFvrr3EDFyTYyC72+tZuCtvKNfTd1eSuX8wPxvym3oXDLqfv0CcUT9fK6PopVgsUgZG1qO21uYp2PFCl81EoMeqoMswufzq0tuYcEu3qhQnA+kRq8DWXDnUdeJPXb1yForYPgSM/5gJWAfIHmKaci7dG5PkMvUG0ESRXEQan3EeKl3A32gPmgBRCE+5DkHXOgOzbkYpieeR0W2//6NX8rySrfQE1ZbGzYGTkyqlScICuiJAazEu8Jx2Lw3+T55g/RWTKmBJ0mRs7JzEmfq87IervUF9E4ePY7lbjqaIyH3jLpYREiNhuOe913qQalqluUKGUpJY4+mSB8aq8kO94CAi4Wtgr9pkSgBZwzgM/vVetdVgAnXrik6ogw5Yusan//dacYjzQQ1oIgiN/xyxgQjRSDxuWeGqN1sctCjMC489tcNEtolsb3DL++BtXYst+v4Fi26GNaYRrD4x0ojgnBp5UEldbM5/ZNjPol39PNnP7r0uxnwct3wdMwZPOpjn51/F9AlB0I4vhiaRupNEFHNkYePPtdWaWJjJPDnELCpD578CN0TMjh4y/0BZivzs1R6W6tS1FDGKL59sdJBQZ1X8UdLURd0ql9fBnLaVQM2f2GsfMUFRitOJdAupXBWN3pvqWTkqFJNBbFcA83t+9OrNzJglNTYQqssDSs3RgTe+N74equeUdcfb2cDuUJdUDoMc2495aKlh1bJyJsnBb+8fQr+5YEoHOVrUTVtxJlYzqzxKsKWkQM8UuNUxIk76Fm3V0w3bmqo5GaI0oRtN7LNcQn+NertFdv3wpKt00hcP3jrtn1NEWBCSEZsHc5+zxsgh1OPTbJ+ykFgT5vYCwEeLKMbgYFFcF+Zu+2UcQgNePOHfUv03OG2bPw77NHEej01XfErY02J2xbz5ZHU2kk5UsaYQJ3FGU+xVRSVGZON1UGgbyMG4hWl/ZIlAOdf4ZKi8oobLCmvcEShag449MGDdhBQJHsmMnCg4kL7kBhoYWNx4icJYrkX8P7uZXgXfQjQoZrXD80XjLAZajnWs9AsSQiatwKaegNnOCOMR9z4mXVKGv6NkVGmamVm//h/QU0eshxvfLYGRieHb8eZm0TjENC0jJjRrrem5FytM4oK5/bmbYWwiRzPQ9TW9iGaHN8Qc+8nurS0TQNkuIhZWQKQ=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f966087-298b-ee64-e5f8-952fed082830?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Oct 2024 20:53:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2076501517",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
