{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "Sanitized",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Sanitized",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/topics?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "40015c71-0004-f000-b63f-84710c7967bb",
          "4000088f-0006-de00-b63f-84710c7967bb"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "endpoint": "https://Sanitized.Sanitized-1.eventgrid.azure.net/api/events",
              "minimumTlsVersionAllowed": "1.2",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "26445210-6ae1-49b3-aca5-f94c510f7e08",
              "publicNetworkAccess": "Enabled",
              "inboundIpRules": [],
              "disableLocalAuth": false,
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Sanitized"
            },
            "identity": {
              "type": "None",
              "principalId": null,
              "tenantId": null,
              "userAssignedIdentities": null
            },
            "kind": "Azure",
            "systemData": null,
            "location": "westus2",
            "tags": {},
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized-rg/providers/Microsoft.EventGrid/topics/anna-topic",
            "name": "Sanitized",
            "type": "Microsoft.EventGrid/topics"
          },
          {
            "properties": {
              "provisioningState": "Succeeded",
              "endpoint": "https://Sanitized.Sanitized-1.eventgrid.azure.net/api/events",
              "minimumTlsVersionAllowed": "1.0",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "dc53664f-a0f6-483a-adfc-c5f1565bbc81",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Sanitized"
            },
            "kind": "Azure",
            "systemData": null,
            "location": "westus",
            "tags": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized-Sanitized/providers/Microsoft.EventGrid/topics/Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.EventGrid/topics"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
