{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-1-582?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"d1BQAVI2xYDuVp055N48UFe7fWCsHLUJdqcJ1HnDlFI\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:36:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM0Ng==;sn=53372346",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:55 GMT"
      },
      "ResponseBody": {
        "etag": "d1BQAVI2xYDuVp055N48UFe7fWCsHLUJdqcJ1HnDlFI",
        "key": "backslash-zero-label-1-582",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:36:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-713?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjM0Ng=="
      },
      "RequestBody": {
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SwdN3u0htX08q0hnxeIDGbfTI6R56QQHyTaESHDPJcw\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:36:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM0Nw==;sn=53372347",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:55 GMT"
      },
      "ResponseBody": {
        "etag": "SwdN3u0htX08q0hnxeIDGbfTI6R56QQHyTaESHDPJcw",
        "key": "backslash-zero-label-2-713",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:36:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-713?api-version=2026-04-01&label=with%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjM0Nw=="
      },
      "RequestBody": {
        "label": "with label",
        "value": "[B] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FiBjggymSTH1-JMaU_EJpGrO1TFXT_huRbsVmNebiD4\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:36:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM0OA==;sn=53372348",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:55 GMT"
      },
      "ResponseBody": {
        "etag": "FiBjggymSTH1-JMaU_EJpGrO1TFXT_huRbsVmNebiD4",
        "key": "backslash-zero-label-2-713",
        "label": "with label",
        "content_type": null,
        "value": "[B] value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:36:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=backslash-zero-label-*&label=%00",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjM0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Bcdsxk7_VuTFZ72FmiB928mltidzLrd2_mI8FSzHeSo\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjM0OA==;sn=53372348",
        "x-ms-date": "Mon, 15 Jun 2026 18:36:55 GMT"
      },
      "ResponseBody": {
        "etag": "Bcdsxk7_VuTFZ72FmiB928mltidzLrd2_mI8FSzHeSo",
        "items": [
          {
            "etag": "d1BQAVI2xYDuVp055N48UFe7fWCsHLUJdqcJ1HnDlFI",
            "key": "backslash-zero-label-1-582",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:36:55+00:00"
          },
          {
            "etag": "SwdN3u0htX08q0hnxeIDGbfTI6R56QQHyTaESHDPJcw",
            "key": "backslash-zero-label-2-713",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:36:55+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=backslash-zero-label-*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjM0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FNcmxWPMeTCkoD0yjYw66xHIsRkqWDHnQ86TP4nbGdY\[...]
[...]
    {
      "RequestUri": "https://python-test-aad.azconfig.io/kv/backslash-zero-label-1-582?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IndoMDZzRWt6TEhKNXNOTmFVeVJZMl82TzhLMCIsImtpZCI6IndoMDZzRWt6TEhKNXNOTmFVeVJZMl82TzhLMCJ9.eyJhdWQiOiJodHRwczovL2FwcGNvbmZpZy5henVyZS5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwiaWF0IjoxNzgxN[...]
[...]
