{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-1-902?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QMiDgJBO5Mpspve9qwr8FEywRmvWKUXVf6g2MKzFdSQ\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg0NQ==;sn=113152845",
        "x-ms-date": "Thu, 07 May 2026 20:24:48 GMT"
      },
      "ResponseBody": {
        "etag": "QMiDgJBO5Mpspve9qwr8FEywRmvWKUXVf6g2MKzFdSQ",
        "key": "backslash-zero-label-1-902",
        "label": null,
        "content_type": null,
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:24:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-670?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjg0NQ=="
      },
      "RequestBody": {
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KkbfxajAymHr2Fx40cBU_ZDVAsrmGFm7aBCEJCJMGwM\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg0Ng==;sn=113152846",
        "x-ms-date": "Thu, 07 May 2026 20:24:48 GMT"
      },
      "ResponseBody": {
        "etag": "KkbfxajAymHr2Fx40cBU_ZDVAsrmGFm7aBCEJCJMGwM",
        "key": "backslash-zero-label-2-670",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:24:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/backslash-zero-label-2-670?api-version=2023-11-01&label=with%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjg0Ng=="
      },
      "RequestBody": {
        "label": "with label",
        "value": "[B] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bW9ThkBMtChcqen8qLqSRRbKdqE-Bg0LCigQ3JcI6ik\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg0Nw==;sn=113152847",
        "x-ms-date": "Thu, 07 May 2026 20:24:48 GMT"
      },
      "ResponseBody": {
        "etag": "bW9ThkBMtChcqen8qLqSRRbKdqE-Bg0LCigQ3JcI6ik",
        "key": "backslash-zero-label-2-670",
        "label": "with label",
        "content_type": null,
        "value": "[B] value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:24:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*&label=%00",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjg0Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bTwZlLZpLWHLgu7YfHBGGc0BdqR4ofXngoJeVFhDI1o\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1Mjg0Nw==;sn=113152847",
        "x-ms-date": "Thu, 07 May 2026 20:24:48 GMT"
      },
      "ResponseBody": {
        "etag": "bTwZlLZpLWHLgu7YfHBGGc0BdqR4ofXngoJeVFhDI1o",
        "items": [
          {
            "etag": "QMiDgJBO5Mpspve9qwr8FEywRmvWKUXVf6g2MKzFdSQ",
            "key": "backslash-zero-label-1-902",
            "label": null,
            "content_type": null,
            "value": "[A] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:24:48+00:00"
          },
          {
            "etag": "KkbfxajAymHr2Fx40cBU_ZDVAsrmGFm7aBCEJCJMGwM",
            "key": "backslash-zero-label-2-670",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:24:48+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=backslash-zero-label-*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1Mjg0Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"M5G3NfC1sA4JODV9pvbj8CZb0fGpxXJa4jrHL6-lFBM\[...]
[...]
