{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false\u0026locale=not-locale",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "UnsupportedLocale",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "UnsupportedLocale",
          "message": "Locale unsupported. Supported locale includes en-US."
        }
      }
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "2023281785"
  }
}
