{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidImage",
        "x-ms-error-code": "InvalidImage",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "innerError": {
            "requestId": "d68c13dd-7e60-4f3d-8208-39a35ff7a2c7"
          },
          "code": "InvalidImage",
          "message": "The input data is not a valid image or password protected."
        }
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "68186641"
  }
}
