{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-30bb7/resize?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "targetDedicatedNodes": 0,
        "targetLowPriorityNodes": 1
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-30bb7/resize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE64E7FFE71B91",
        "Last-Modified": "Thu, 05 Feb 2026 18:54:32 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-30bb7/stopresize?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-30bb7/stopresize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE64E7FFE71B91",
        "Last-Modified": "Thu, 05 Feb 2026 18:54:32 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-30bb7?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE64E7FFE71B91",
        "Last-Modified": "Thu, 05 Feb 2026 18:54:32 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-30bb7",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-30bb7",
        "eTag": "0x8DE64E7FFE71B91",
        "lastModified": "2026-02-05T18:54:32.6748049Z",
        "creationTime": "2026-02-05T18:53:42.5932306Z",
        "state": "active",
        "stateTransitionTime": "2026-02-05T18:53:42.5932306Z",
        "allocationState": "stopping",
        "allocationStateTransitionTime": "2026-02-05T18:54:32.8517236Z",
        "vmSize": "standard_a1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 1,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 1,
        "targetLowPriorityNodes": 1,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
