{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/nodecounts?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#poolnodecounts",
        "value": [
          {
            "poolId": "jssdkPool-Basic5975",
            "dedicated": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 0,
              "leavingPool": 2,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
              "total": 2
            },
            "lowPriority": {
              "creating": 0,
              "deallocated": 0,
              "deallocating": 0,
              "idle": 0,
              "leavingPool": 0,
              "offline": 0,
              "preempted": 0,
              "rebooting": 0,
              "reimaging": 0,
              "running": 0,
              "starting": 0,
              "startTaskFailed": 0,
              "unusable": 0,
              "unknown": 0,
              "upgradingOS": 0,
              "waitingForStartTask": 0,
      [...]
[...]
