{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "jssdkPool-Endpoint2030",
        "vmSize": "Standard_A1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "targetDedicatedNodes": 1,
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*"
                  }
                ]
              },
              {
                "name": "ssh",
                "protocol": "tcp",
                "backendPort": 22,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          }
        },
        "userAccounts": [
          {
            "name": "nonAdminUser",
            "password": "kt#_gahr!@aGERDXA",
            "elevationLevel": "nonadmin"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint2030",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5931012E6AAC",
        "Last-Modified": "Wed, 21 Jan 2026 21:06:54 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint2030"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "ENDPOINT_POOL": "jssdkPool-Endpoint2030"
  }
}
