{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox:restart?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/667ed86c-2a68-4ea3-ac41-5dddded7d4c7?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/667ed86c-2a68-4ea3-ac41-5dddded7d4c7?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "295",
        "X-Rate-Limit-Reset": "2024-05-14T23:06:51.8889421Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "667ed86c-2a68-4ea3-ac41-5dddded7d4c7",
        "status": "NotStarted",
        "resourceId": "/projects/fake-proj/users/11111111-1111-1111-1111-111111111111/devboxes/pythondevbox"
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/operationstatuses/667ed86c-2a68-4ea3-ac41-5dddded7d4c7?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/667ed86c-2a68-4ea3-ac41-5dddded7d4c7?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/667ed86c-2a68-4ea3-ac41-5dddded7d4c7?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "295",
        "X-Rate-Limit-Reset": "2024-05-14T23:06:52.1871423Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "667ed86c-2a68-4ea3-ac41-5dddded7d4c7",
        "status": "NotStarted",
        "startTime": "2024-05-14T23:06:34.1144864+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/operationstatuses/667ed86c-2a68-4ea3-ac41-5dddded7d4c7?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dd[...]
