{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-14T23:31:05.9943595Z"
      },
      "ResponseBody": {
        "name": "fake-proj",
        "description": ""
      }
    }
  ],
  "Variables": {}
}
