{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/catalogs/fake-catalog?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T21:28:41.4652944Z"
      },
      "ResponseBody": {
        "name": "fake-catalog"
      }
    }
  ],
  "Variables": {}
}
