{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/users/me/environments/fake-environment?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "environmentType": "fake-environment-type",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-15T00:05:40.9702907Z"
      },
      "ResponseBody": {
        "name": "fake-environment",
        "environmentType": "fake-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Creating",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T00:06:12.3787203Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "5876a67f-8784-48b8-848c-97eefa9a158d",
        "status": "NotStarted",
        "startTime": "2024-05-15T00:05:12.0744842+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/5876a67f-8784-48b8-848c-97eefa9a158d?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T00:10:13.5606473Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "5876a67f-8784-48b8-848c-97eefa9a158d",
        "status": "Succeeded",
        "startTime": "2024-05-15T00:05:12.0744842+00:00",
        "endTime": "2024-05-15T00:09:01.9815705+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/users/me/environments/fake-environment?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T00:10:13.9840414Z"
      },
      "ResponseBody": {
        "name": "fake-environment",
        "environmentType": "fake-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/fake-proj-fake-environment",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/users/me/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T00:10:13.5606473Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-environment",
            "environmentType": "fake-environment-type",
            "user": "11111111-1111-1111-1111-111111111111",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/fake-proj-fake-environment",
            "catalogName": "fake-catalog",
            "environmentDefinitionName": "fake-sandbox"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T00:10:13.9840414Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-environment",
            "environmentType": "fake-environment-type",
            "user": "11111111-1111-1111-1111-111111111111",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/fake-proj-fake-environment",
            "catalogName": "fake-catalog",
            "environmentDefinitionName": "fake-sandbox"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/users/me/environments/fake-environment?api-version=2023-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/329771d6-4e61-483b-8576-5eb724bc5707?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/329771d6-4e61-483b-8576-5eb724bc5707?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-15T00:09:43.4267531Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "329771d6-4e61-483b-8576-5eb724bc5707",
        "status": "NotStarted",
        "resourceId": "/projects/fake-proj/users/11111111-1111-1111-1111-111111111111/environments/fake-environment"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/operationstatuses/329771d6-4e61-483b-8576-5eb724bc5707?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/329771d6-4e61-483b-8576-5eb724bc5707?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/329771d6-4e61-483b-8576-5eb724bc5707?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T00:14:16.5812114Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "329771d6-4e61-483b-8576-5eb724bc5707",
        "status": "Succeeded",
        "startTime": "2024-05-15T00:09:15.0952471+00:00",
        "endTime": "2024-05-15T00:12:56.2068804+00:00"
      }
    }
  ],
  "Variables": {}
}
