{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/pools/fake-pool/schedules/default?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-14T23:30:30.3641971Z"
      },
      "ResponseBody": {
        "name": "default",
        "type": "StopDevBox",
        "frequency": "Daily",
        "time": "19:00",
        "timeZone": "America/Los_Angeles"
      }
    }
  ],
  "Variables": {}
}
