{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/catalogs?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T19:54:56.1614078Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-catalog"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
