{
  "Entries": [
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-10T17:22:10.6798060Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-proj",
            "description": ""
          }
        ]
      }
    }
  ],
  "Variables": {}
}
