{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/environmentTypes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-15T19:55:26.3969045Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-environment-type",
            "deploymentTargetId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
            "status": "Enabled"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
