{
  "Entries": [
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "296",
        "X-Rate-Limit-Reset": "2024-05-10T17:03:40.6491713Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-devbox",
            "projectName": "fake-proj",
            "poolName": "fake-pool",
            "hibernateSupport": "Disabled",
            "provisioningState": "Succeeded",
            "actionState": "Unknown",
            "powerState": "Running",
            "uniqueId": "bca2cbcb-2d84-4e13-8fe3-fc50082ff2de",
            "location": "eastus",
            "osType": "Windows",
            "user": "11111111-1111-1111-1111-111111111111",
            "hardwareProfile": {
              "vCPUs": 8,
              "skuName": "general_i_8c32gb1024ssd_v2",
              "memoryGB": 32
            },
            "storageProfile": {
              "osDisk": {
                "diskSizeGB": 1024
              }
            },
            "imageReference": {
              "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
              "version": "1.0.0",
              "operatingSystem": "Windows11",
              "osBuildNumber": "win11-21h2-ent-cpc-m365",
              "publishedDate": "2021-10-04T00:00:00+00:00"
            },
            "createdTime": "2024-05-10T16:41:32.9156531+00:00",
            "localAdministrator": "Enabled"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
