{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/environments/fake-environment?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "environmentType": "fake-environment-type",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-15T19:55:31.6831034Z"
      },
      "ResponseBody": {
        "name": "fake-environment",
        "environmentType": "fake-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Creating",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T19:56:03.9836404Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "554636a2-2a72-412b-ab53-9d777a6b9277",
        "status": "NotStarted",
        "startTime": "2024-05-15T19:55:03.6499203+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/554636a2-2a72-412b-ab53-9d777a6b9277?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T20:00:35.5394852Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "554636a2-2a72-412b-ab53-9d777a6b9277",
        "status": "Succeeded",
        "startTime": "2024-05-15T19:55:03.6499203+00:00",
        "endTime": "2024-05-15T19:59:22.8819216+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/environments/fake-environment?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T20:00:35.6786496Z"
      },
      "ResponseBody": {
        "name": "fake-environment",
        "environmentType": "fake-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/fake-proj-fake-environment",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T20:00:35.5394852Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-environment",
            "environmentType": "fake-environment-type",
            "user": "11111111-1111-1111-1111-111111111111",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/fake-proj-fake-environment",
            "catalogName": "fake-catalog",
            "environmentDefinitionName": "fake-sandbox"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T20:00:35.6786496Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "fake-environment",
            "environmentType": "fake-environment-type",
            "user": "11111111-1111-1111-1111-111111111111",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/fake-proj-fake-environment",
            "catalogName": "fake-catalog",
            "environmentDefinitionName": "fake-sandbox"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/environments/fake-environment?api-version=2023-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/25aaf38e-08fc-4bdd-a747-11d4e3d321bd?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/25aaf38e-08fc-4bdd-a747-11d4e3d321bd?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-15T20:00:05.1622854Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "25aaf38e-08fc-4bdd-a747-11d4e3d321bd",
        "status": "NotStarted",
        "resourceId": "/projects/fake-proj/users/11111111-1111-1111-1111-111111111111/environments/fake-environment"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/operationstatuses/25aaf38e-08fc-4bdd-a747-11d4e3d321bd?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/25aaf38e-08fc-4bdd-a747-11d4e3d321bd?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/25aaf38e-08fc-4bdd-a747-11d4e3d321bd?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T20:03:37.9101647Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "25aaf38e-08fc-4bdd-a747-11d4e3d321bd",
        "status": "Succeeded",
        "startTime": "2024-05-15T19:59:36.8203123+00:00",
        "endTime": "2024-05-15T20:02:26.786073+00:00"
      }
    }
  ],
  "Variables": {}
}
