{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox/actions/schedule-default?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T19:39:36.2966851Z"
      },
      "ResponseBody": {
        "name": "schedule-default",
        "actionType": "Stop",
        "sourceId": "/projects/fake-proj/pools/fake-pool/schedules/default",
        "next": {
          "scheduledTime": "2024-05-16T02:00:00.000000Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox/actions?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T19:40:06.5628760Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "schedule-default",
            "actionType": "Stop",
            "sourceId": "/projects/fake-proj/pools/fake-pool/schedules/default",
            "next": {
              "scheduledTime": "2024-05-16T02:00:00.000000Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox/actions:delay?api-version=2023-04-01&until=2024-05-16T03:00:00.000Z",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-15T19:40:06.8264122Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "schedule-default",
            "result": "Succeeded",
            "action": {
              "name": "schedule-default",
              "actionType": "Stop",
              "sourceId": "/projects/fake-proj/pools/fake-pool/schedules/default",
              "suspendedUntil": "2024-05-16T03:00:00+00:00",
              "next": {
                "scheduledTime": "2024-05-16T03:00:00.000000Z"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox/actions/schedule-default:delay?api-version=2023-04-01&until=2024-05-16T04:00:00.000Z",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-15T19:39:36.2966851Z"
      },
      "ResponseBody": {
        "name": "schedule-default",
        "actionType": "Stop",
        "sourceId": "/projects/fake-proj/pools/fake-pool/schedules/default",
        "suspendedUntil": "2024-05-16T04:00:00+00:00",
        "next": {
          "scheduledTime": "2024-05-16T04:00:00.000000Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox/actions/schedule-default:skip?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-15T19:40:06.5628760Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
