{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/users/11111111-1111-1111-1111-111111111111/devboxes/fake-devbox?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "poolName": "fake-pool"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/b3928fc1-9db7-4417-ba59-700f396e9a23?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/b3928fc1-9db7-4417-ba59-700f396e9a23?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-14T22:47:10.4695974Z"
      },
      "ResponseBody": {
        "name": "fake-devbox",
        "projectName": "fake-proj",
        "poolName": "fake-pool",
        "hibernateSupport": "Disabled",
        "provisioningState": "Creating",
        "actionState": "Unknown",
        "powerState": null,
        "uniqueId": "0233d51a-cbd2-4c11-aea2-43f4daa9fc1e",
        "location": "eastus",
        "osType": "Windows",
        "user": "11111111-1111-1111-1111-111111111111",
        "hardwareProfile": {
          "vCPUs": 8,
          "skuName": "general_i_8c32gb1024ssd_v2",
          "memoryGB": 32
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00+00:00"
        },
        "createdTime": "2024-05-14T22:46:43.2628774+00:00",
        "localAdministrator": "Enabled"
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/operationstatuses/b3928fc1-9db7-4417-ba59-700f396e9a23?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/b3928fc1-9db7-4417-ba59-700f396e9a23?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/b3928fc1-9db7-4417-ba59-700f396e9a23?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-05-14T22:47:15.8601214Z"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "b3928fc1-9db7-4417-ba59-700f396e9a23",
        "status": "NotStarted",
        "startTime": "2024-05-14T22:46:43.8776214+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/operationstatuses/b3928fc1-9db7-4417-ba59-700f396e9a23?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dd[...]
