{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.location.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox/remoteConnection?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-15T19:40:38.7882809Z"
      },
      "ResponseBody": {
        "webUrl": "https://deschutes-ppe.microsoft.com/webclient/651918c6-4443-4ca9-b496-76aef2eeea92",
        "rdpConnectionUrl": "ms-avd:connect?env=avdarm&resourceid=279864c8-5659-40fe-fed5-08dc59d67983&username=sdk_integration_test_1%40fidalgoppe010.onmicrosoft.com&version=0&workspaceId=b05d5884-2aac-4efb-9509-ccfe2339ee3c&preview=yes"
      }
    }
  ],
  "Variables": {}
}
