{
  "Entries": [
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/users/me/environments/fake-environment?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "environmentType": "fake-environment-type",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/f4cb68a1-d1e9-46cb-8478-8a93281381d8?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/f4cb68a1-d1e9-46cb-8478-8a93281381d8?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-10T18:15:23.2026515Z"
      },
      "ResponseBody": {
        "name": "fake-environment",
        "environmentType": "fake-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Creating",
        "catalogName": "fake-catalog",
        "environmentDefinitionName": "fake-sandbox"
      }
    },
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/f4cb68a1-d1e9-46cb-8478-8a93281381d8?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/f4cb68a1-d1e9-46cb-8478-8a93281381d8?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/f4cb68a1-d1e9-46cb-8478-8a93281381d8?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-10T18:15:24.2036989Z"
      },
      "ResponseBody": {
        "id": "/projects/fake-proj/operationStatuses/f4cb68a1-d1e9-46cb-8478-8a93281381d8",
        "name": "f4cb68a1-d1e9-46cb-8478-8a93281381d8",
        "status": "NotStarted",
        "startTime": "2024-05-10T18:14:23.3562344+00:00"
      }
    },
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/f4cb68a1-d1e9-46cb-8478-8a93281381d8?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location[...]
