{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.centraluseuap.devcenter.azure.com/projects/fake-proj/pools/fake-pool/schedules?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-05-14T22:47:21.6119769Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "default",
            "type": "StopDevBox",
            "frequency": "Daily",
            "time": "19:00",
            "timeZone": "America/Los_Angeles"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
