{
  "Entries": [
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/users/me/devboxes/fake-devbox:restart?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "295",
        "X-Rate-Limit-Reset": "2024-05-10T17:43:23.0206986Z"
      },
      "ResponseBody": {
        "id": "/projects/fake-proj/operationStatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "name": "bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "status": "NotStarted",
        "resourceId": "/projects/fake-proj/users/11111111-1111-1111-1111-111111111111/devboxes/pythondevbox"
      }
    },
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "295",
        "X-Rate-Limit-Reset": "2024-05-10T17:43:23.2761655Z"
      },
      "ResponseBody": {
        "id": "/projects/fake-proj/operationStatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "name": "bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "status": "NotStarted",
        "startTime": "2024-05-10T17:42:59.7864247+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-10T17:47:02.7592793Z"
      },
      "ResponseBody": {
        "id": "/projects/fake-proj/operationStatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "name": "bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "status": "Succeeded",
        "startTime": "2024-05-10T17:42:59.7864247+00:00",
        "endTime": "2024-05-10T17:45:43.9714422+00:00"
      }
    },
    {
      "RequestUri": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01&monitor=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01&monitor=true",
        "Operation-Location": "https://dddd3333-d3d3-3333-d3d3-dddddd333333-fake-dev-center.location.devcenter.azure.com/projects/fake-proj/operationstatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b?api-version=2023-04-01",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-05-10T17:47:02.8733616Z"
      },
      "ResponseBody": {
        "id": "/projects/fake-proj/operationStatuses/bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "name": "bf0acb50-f471-4953-a3eb-eb57ddd0577b",
        "status": "Succeeded",
        "startTime": "2024-05-10T17:42:59.7864247+00:00",
        "endTime": "2024-05-10T17:45:43.9714422+00:00"
      }
    }
  ],
  "Variables": {}
}
