{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2/app-components?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7e5ff9d9-9d54-458a-ac06-8fed897ba90d"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "contoso-sampleapp",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "azure_subscription_id"
          }
        },
        "testRunId": "sample-sdk-testrun-20250318-2",
        "createdDateTime": "2026-03-11T09:34:16.741Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-11T09:34:16.741Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
