{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "sample-sdk-testtr-20250318",
        "displayName": "Sample Test Run"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2?api-version=2024-12-01-preview",
        "mise-correlation-id": "4a36741e-d947-4b96-a784-f776327eaaf4"
      },
      "ResponseBody": {
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/5c0a534b-728f-4648-8f67-7f550d96c216/8f85d46f-377d-4271-b9d9-53e961a480d5?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T12%3A15%3A06Z&ske=2025-03-19T21%3A15%3A06Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T13%3A51%3A47Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-18T13:51:47.2205876Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/5c0a534b-728f-4648-8f67-7f550d96c216/4d69d141-6b3f-46ff-983f-d24dc53cc5e6?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T12%3A15%3A06Z&ske=2025-03-19T21%3A15%3A06Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T13%3A51%3A47Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-03-18T13:51:47.2200604Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/5c0a534b-728f-4648-8f67-7f550d96c216/5a3c74c6-8604-4da0-94f3-cc7bde268c13?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T12%3A15%3A06Z&ske=2025-03-19T21%3A15%3A06Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T13%3A51%3A47Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-18T13:51:47.2207601Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/f334b5d0-a58c-4ecc-b80c-68c574d3fc75?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T12%3A15%3A06Z&ske=2025-03-19T21%3A15%3A06Z&sks=b&skv=2024-05-04&sv=Sanitized&st=2025-03-18T12%3A51%3A47Z&se=2025-03-18T13%3A51%3A47Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-03-18T13:51:47.2209321Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "sample-sdk-testrun-20250318-2",
        "displayName": "Sample Test Run",
        "testId": "sample-sdk-testtr-20250318",
        "status": "ACCEPTED",
        "executedDateTime": "2025-03-18T12:51:46.24Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2fazure_subscription_id%2fresourcegroups%2fmitsha-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fmitsha-eus/testId/sample-sdk-testtr-20250318/testRunId/sample-sdk-testrun-20250318-2",
        "createdDateTime": "2025-03-18T12:51:46.695Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:51:47.209Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
