{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "sample-sdk-testtr-20250318",
        "displayName": "Sample Test Run"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2?api-version=2024-12-01-preview",
        "mise-correlation-id": "c463e841-c4d9-4993-9ff3-94925b808ace"
      },
      "ResponseBody": {
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/70aa53dc-6e2b-4efb-a5b0-dcd75e6bbf1e/2ecd2bf3-9341-450e-8c74-3641960bc404?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A40%3A14Z&ske=2025-03-20T21%3A40%3A14Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-19T13%3A40%3A14Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-19T13:40:14.3666044Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/70aa53dc-6e2b-4efb-a5b0-dcd75e6bbf1e/3ec59ed0-a2ae-47e0-8225-b900226bdc3c?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A40%3A14Z&ske=2025-03-20T21%3A40%3A14Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-19T13%3A40%3A14Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-03-19T13:40:14.3661852Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/70aa53dc-6e2b-4efb-a5b0-dcd75e6bbf1e/821b51e7-4521-418e-baf2-6393bb5643bb?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A40%3A14Z&ske=2025-03-20T21%3A40%3A14Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-19T13%3A40%3A14Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-19T13:40:14.3667359Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/0b639078-f10a-4917-bc12-db184a5d9b1a?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A40%3A14Z&ske=2025-03-20T21%3A40%3A14Z&sks=b&skv=2024-05-04&sv=Sanitized&st=2025-03-19T12%3A40%3A14Z&se=2025-03-19T13%3A40%3A14Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-03-19T13:40:14.3668841Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "sample-sdk-testrun-20250318-2",
        "displayName": "Sample Test Run",
        "testId": "sample-sdk-testtr-20250318",
        "status": "ACCEPTED",
        "executedDateTime": "2025-03-19T12:40:13.589Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2fazure_subscription_id%2fresourcegroups%2fmitsha-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fmitsha-eus2/testId/sample-sdk-testtr-20250318/testRunId/sample-sdk-testrun-20250318-2",
        "createdDateTime": "2025-03-19T12:40:13.942Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-19T12:40:14.357Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
