{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceName": "contoso-sampleapp",
            "resourceType": "Microsoft.Web/sites"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2/app-components?api-version=2024-12-01-preview",
        "mise-correlation-id": "0908fb86-8a98-429b-bdad-010484cb4dd7"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "contoso-sampleapp",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "azure_subscription_id"
          }
        },
        "testRunId": "sample-sdk-testrun-20250318-2",
        "createdDateTime": "2025-03-18T12:18:58.262Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:18:58.262Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
