{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-1?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "sample-sdk-testtr-20250318",
        "displayName": "Time out Test Run"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-1?api-version=2025-11-01-preview",
        "mise-correlation-id": "aca74851-57c4-474f-bb5b-d3e7e94d3802"
      },
      "ResponseBody": {
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://maltccstorageaccnteus2e.blob.core.windows.net/341653f8-4777-4da5-babc-0f0a168b5777/424f2865-991a-4096-be2c-f6b35e39b746?skoid=a51e1559-cfcb-49dd-8c7a-390ec798bb91&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T08%3A07%3A23Z&ske=2026-03-12T17%3A07%3A23Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T10%3A30%3A47Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-11T10:30:47.5821894Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://maltccstorageaccnteus2e.blob.core.windows.net/341653f8-4777-4da5-babc-0f0a168b5777/c9d5296e-ca29-489d-91de-9b4996a65c80?skoid=a51e1559-cfcb-49dd-8c7a-390ec798bb91&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T08%3A07%3A23Z&ske=2026-03-12T17%3A07%3A23Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T10%3A30%3A47Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2026-03-11T10:30:47.5820661Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://maltccstorageaccnteus2e.blob.core.windows.net/341653f8-4777-4da5-babc-0f0a168b5777/d7df448e-62a9-4c66-9669-f0d557e2d5d2?skoid=a51e1559-cfcb-49dd-8c7a-390ec798bb91&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T08%3A07%3A23Z&ske=2026-03-12T17%3A07%3A23Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T10%3A30%3A47Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-11T10:30:47.582223Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://maltccstorageaccnteus2e.blob.core.windows.net/c4ef532d-b75e-421c-b7df-938a34878efc?skoid=a51e1559-cfcb-49dd-8c7a-390ec798bb91&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T08%3A07%3A23Z&ske=2026-03-12T17%3A07%3A23Z&sks=b&skv=2025-11-05&sv=Sanitized&st=2026-03-11T09%3A30%3A47Z&se=2026-03-11T10%3A30%3A47Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2026-03-11T10:30:47.5822615Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "estimatedVirtualUserHours": 2.0,
        "testRunId": "sample-sdk-testrun-20250318-1",
        "displayName": "Time out Test Run",
        "testId": "sample-sdk-testtr-20250318",
        "status": "ACCEPTED",
        "executedDateTime": "2026-03-11T09:30:45.291Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/TestRunReport.ReactView//resourceId/%2fsubscriptions%2fazure_subscription_id%2fresourcegroups%2fhbisht-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fhbisht-alt-eus2euap/testId/sample-sdk-testtr-20250318/testRunId/sample-sdk-testrun-20250318-1",
        "createdDateTime": "2026-03-11T09:30:45.583Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-11T09:30:47.537Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
