{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/1af08830-76aa-48d2-b3d4-09b5ca556017/insights:generate?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/1af08830-76aa-48d2-b3d4-09b5ca556017/insights/latest?api-version=2025-11-01-preview",
        "mise-correlation-id": "54db44d9-a991-4ef6-abb8-e1440d4723e7"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "GenerateTestRunInsights",
        "status": "Running"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/test-runs/1af08830-76aa-48d2-b3d4-09b5ca556017/insights/latest?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ee06ecca-51bf-4d70-a8a9-d2623e05352e"
      },
      "ResponseBody": {
        "columns": [
          {
            "name": "Insight",
            "dataType": "String"
          },
          {
            "name": "Details",
            "dataType": "String"
          },
          {
            "name": "Title",
            "dataType": "String"
          },
          {
            "name": "Summary",
            "dataType": "String"
          },
          {
            "name": "Recommendation",
            "dataType": "String"
          }
        ],
        "rows": {
          "1": {
            "Title": "Response Time Volatility Under Load",
            "Insight": "For Homepage, response time showed **significant volatility** with peaks up to **4470ms** while virtual users remained almost constant, suggesting the server struggled to consistently handle sustained load.",
            "Details": "[Response time](#ClientMetrics) dropped from 4580ms at 12:15 PM UTC to 2960ms at 12:15 PM UTC, stabilized near 2900ms between 12:15 PM UTC and 12:15 PM UTC, then increased to 3560ms at 12:15 PM UTC, and peaked at **4470ms** at 12:16 PM UTC, before decreasing again. [Virtual users](#ClientMetrics) for the same request remained steady at 10 from 12:15 PM UTC to 12:16 PM UTC, dropping only after 12:17 PM UTC.",
            "Recommendation": "Consider reviewing server-side resource allocation and backend bottlenecks, as consistently high response times under stable concurrency may indicate a need for better scaling or performance tuning."
          },
          "2": {
            "Title": "Sharp RPS Decline With User Reduction",
            "Insight": "Observed a steep **drop in requests per second** for Homepage when virtual users decreased from 10 to 2 after 12:17 PM UTC, highlighting a direct dependency between concurrency and t[...]
[...]
