{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2/server-metrics-config?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e081ff82-21f0-4506-bee1-7561016fadbb"
      },
      "ResponseBody": {
        "testRunId": "sample-sdk-testrun-20250318-2",
        "metrics": {
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/Http5xx": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.web/sites",
            "name": "Http5xx",
            "aggregation": "Total",
            "resourceType": "microsoft.web/sites"
          },
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/Requests": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.web/sites",
            "name": "Requests",
            "aggregation": "Total",
            "resourceType": "microsoft.web/sites"
          },
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/HttpResponseTime": {
            "id": "Sanitized",
            "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.web/sites",
            "name": "HttpResponseTime",
            "aggregation": "Average",
            "resourceType": "microsoft.web/sites"
          }
        },
        "createdDateTime": "2025-03-20T04:54:48.784Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-20T04:54:48.784Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
