{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-1:stop?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b3d69d93-2a5e-4d31-891a-97dc9be92145"
      },
      "ResponseBody": {
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/70aa53dc-6e2b-4efb-a5b0-dcd75e6bbf1e/c68d0b6c-a2d7-41d6-b9e9-f938392f2cca?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A39%3A38Z&ske=2025-03-19T19%3A39%3A38Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-19T13%3A40%3A10Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-19T13:40:10.8206804Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/70aa53dc-6e2b-4efb-a5b0-dcd75e6bbf1e/3ec59ed0-a2ae-47e0-8225-b900226bdc3c?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A39%3A38Z&ske=2025-03-19T19%3A39%3A38Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-19T13%3A40%3A10Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-03-19T13:40:10.8202253Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/70aa53dc-6e2b-4efb-a5b0-dcd75e6bbf1e/325b211b-eb9d-40ba-a3bb-1df3b8f5e00b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A39%3A38Z&ske=2025-03-19T19%3A39%3A38Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-19T13%3A40%3A10Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-19T13:40:10.8208584Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/5297aed5-8f01-44a4-836f-6390a794a239?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A39%3A38Z&ske=2025-03-19T19%3A39%3A38Z&sks=b&skv=2024-05-04&sv=Sanitized&st=2025-03-19T12%3A40%3A10Z&se=2025-03-19T13%3A40%3A10Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-03-19T13:40:10.8210341Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "sample-sdk-testrun-20250318-1",
        "displayName": "Time out Test Run",
        "testId": "sample-sdk-testtr-20250318",
        "status": "PROVISIONING",
        "startDateTime": "2025-03-19T12:40:07.56Z",
        "executedDateTime": "2025-03-19T12:40:06.562Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2fazure_subscription_id%2fresourcegroups%2fmitsha-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fmitsha-eus2/testId/sample-sdk-testtr-20250318/testRunId/sample-sdk-testrun-20250318-1",
        "createdDateTime": "2025-03-19T12:40:06.875Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-19T12:40:07.73Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
