{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "sample-sdk-testtr-20250318",
        "displayName": "Sample Test Run"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2?api-version=2024-12-01-preview",
        "mise-correlation-id": "9a993574-f66a-4992-9318-a599fbf2a0be"
      },
      "ResponseBody": {
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/10e806b5-010f-4b01-90d0-4bc72fbb66bf/72a2b799-66fd-4463-ab78-1b045d7e9138?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-20T04%3A51%3A02Z&ske=2025-03-21T13%3A51%3A02Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-20T05%3A51%3A09Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-20T05:51:09.8370896Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/10e806b5-010f-4b01-90d0-4bc72fbb66bf/5e7f3871-bc5a-452b-9e11-892fc8349551?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-20T04%3A51%3A02Z&ske=2025-03-21T13%3A51%3A02Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-20T05%3A51%3A09Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-03-20T05:51:09.8368018Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/10e806b5-010f-4b01-90d0-4bc72fbb66bf/789c269e-2f60-43c1-bf77-f6ab40681f0f?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-20T04%3A51%3A02Z&ske=2025-03-21T13%3A51%3A02Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-20T05%3A51%3A09Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-20T05:51:09.8371723Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/f8c251bf-a002-43a2-8ae2-9faddcbab6de?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-20T04%3A51%3A02Z&ske=2025-03-21T13%3A51%3A02Z&sks=b&skv=2024-05-04&sv=Sanitized&st=2025-03-20T04%3A51%3A09Z&se=2025-03-20T05%3A51%3A09Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-03-20T05:51:09.8372497Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "sample-sdk-testrun-20250318-2",
        "displayName": "Sample Test Run",
        "testId": "sample-sdk-testtr-20250318",
        "status": "ACCEPTED",
        "executedDateTime": "2025-03-20T04:51:09.285Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2fazure_subscription_id%2fresourcegroups%2fmitsha-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fmitsha-eus2/testId/sample-sdk-testtr-20250318/testRunId/sample-sdk-testrun-20250318-2",
        "createdDateTime": "2025-03-20T04:51:09.498Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-20T04:51:09.827Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
