{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dbb03c1c-15de-4168-b436-e421613013b7"
      },
      "ResponseBody": {
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/f42b6702-0f14-4de7-880a-63bec81facb2/9ac673ec-bd1a-4068-a54e-137d037a79f6?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T11%3A31%3A52Z&ske=2025-03-18T18%3A31%3A52Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T12%3A48%3A41Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-18T12:48:41.3093452Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/f42b6702-0f14-4de7-880a-63bec81facb2/318a4e05-ea3d-4c50-8391-3c7457f949a0?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T11%3A31%3A52Z&ske=2025-03-18T18%3A31%3A52Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T12%3A48%3A41Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-03-18T12:48:41.3091002Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/f42b6702-0f14-4de7-880a-63bec81facb2/594b8d30-31c7-4f75-852b-43aee2ddb4ce?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T11%3A31%3A52Z&ske=2025-03-18T18%3A31%3A52Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T12%3A48%3A41Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-03-18T12:48:41.3094254Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://xsaab1nhzjwplmplqm0dswki.z27.blob.storage.azure.net/4995e34c-fdac-41bd-8ed5-d4c1bc42f44f?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T11%3A31%3A52Z&ske=2025-03-18T18%3A31%3A52Z&sks=b&skv=2024-05-04&sv=Sanitized&st=2025-03-18T11%3A48%3A41Z&se=2025-03-18T12%3A48%3A41Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-03-18T12:48:41.309507Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "sample-sdk-testrun-20250318-2",
        "displayName": "Sample Test Run",
        "testId": "sample-sdk-testtr-20250318",
        "status": "DONE",
        "startDateTime": "2025-03-18T11:44:53.299Z",
        "endDateTime": "2025-03-18T11:48:37.026Z",
        "executedDateTime": "2025-03-18T11:44:51.645Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2fazure_subscription_id%2fresourcegroups%2fmitsha-rg%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fmitsha-eus/testId/sample-sdk-testtr-20250318/testRunId/sample-sdk-testrun-20250318-2",
        "createdDateTime": "2025-03-18T11:44:51.954Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T11:48:39.385Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
