{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-runs/sample-sdk-testrun-20250318-2/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5664db2d-c8ae-4776-85f6-3089a70045b0"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "contoso-sampleapp",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "azure_subscription_id"
          }
        },
        "testRunId": "sample-sdk-testrun-20250318-2",
        "createdDateTime": "2025-03-18T11:48:47.759Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T11:48:47.759Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
