{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-testtr-20250318/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+CiAgPGhhc2hUcmVlPgogICAgPFRlc3RQbGFuIGd1aWNsYXNzPSJUZXN0UGxhbkd1aSIgdGVzdGNsYXNzPSJUZXN0UGxhbiIgdGVzdG5hbWU9IkF6dXJlIExvYWQgVGVzdGluZyBRdWlja3N0YXJ0IiBlbmFibGVkPSJ0cnVlIj4KICAgICAgPHN0cmluZ1Byb3AgbmFtZT0iVGVzdFBsYW4uY29tbWVudHMiPjwvc3RyaW5nUHJvcD4KICAgICAgPGJvb2xQcm9wIG5hbWU9IlRlc3RQbGFuLmZ1bmN0aW9uYWxfbW9kZSI+ZmFsc2U8L2Jvb2xQcm9wPgogICAgICA8Ym9vbFByb3AgbmFtZT0iVG[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-testtr-20250318/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7da3873b-60ba-4082-afe6-271c91f235e6"
      },
      "ResponseBody": {
        "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/10e806b5-010f-4b01-90d0-4bc72fbb66bf/5e7f3871-bc5a-452b-9e11-892fc8349551?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A40%3A14Z&ske=2025-03-20T21%3A40%3A14Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-20T05%3A00%3A28Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-03-20T05:00:28.6018696Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-testtr-20250318/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9775c005-ed7c-4455-b9ce-88a0052ebeeb"
      },
      "ResponseBody": {
        "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/10e806b5-010f-4b01-90d0-4bc72fbb66bf/5e7f3871-bc5a-452b-9e11-892fc8349551?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-19T12%3A40%3A07Z&ske=2025-03-20T21%3A40%3A07Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-20T05%3A00%3A58Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-03-20T05:00:58.547068Z",
        "validationStatus": "VALIDATION_SUCCESS"
      }
    }
  ],
  "Variables": {}
}
