{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetRemoteLoginSettings",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1,
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "publicIPAddressConfiguration": {
            "ipFamilies": [
              "IPv4",
              "IPv6"
            ]
          }
        },
        "userAccounts": [
          {
            "name": "testuser",
            "password": "Sanitized"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB3447D86783",
        "Last-Modified": "Wed, 03 Sep 2025 21:53:13 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB3447D86783",
        "Last-Modified": "Wed, 03 Sep 2025 21:53:13 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "GetRemoteLoginSettings",
        "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings",
        "eTag": "0x8DDEB3447D86783",
        "lastModified": "2025-09-03T21:53:13.2669827Z",
        "creationTime": "2025-09-03T21:53:13.2669817Z",
        "state": "active",
        "stateTransitionTime": "2025-09-03T21:53:13.2669817Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-09-03T21:53:13.2669828Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "testuser",
            "elevationLevel": "nonadmin",
            "windowsUserConfiguration": {
              "loginMode": "batch"
            }
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "publicIPAddressConfiguration": {
            "ipFamilies": [
              "IPv4",
              "IPv6"
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-03T21:53:39.603618Z",
            "allocationTime": "2025-09-03T21:53:39.6036215Z",
            "ipAddress": "10.0.0.4",
            "ipv6Address": "fd00::4",
            "affinityId": "TVM:tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.185.185.94",
                  "publicFQDN": "dnsa0837c52-2586-4053-9a01-05f317acdb68-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                },
                {
                  "name": "ruleName-ipv6.0",
                  "protocol": "tcp",
                  "publicIPAddress": "2603:1030:20c:7::14c",
                  "publicFQDN": "dnsa0837c52-2586-4053-9a01-05f317acdb68-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-03T22:00:20.607072Z",
            "lastBootTime": "2025-09-03T22:00:12.445386Z",
            "allocationTime": "2025-09-03T21:53:39.6036215Z",
            "ipAddress": "10.0.0.4",
            "ipv6Address": "fd00::4",
            "affinityId": "TVM:tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.185.185.94",
                  "publicFQDN": "dnsa0837c52-2586-4053-9a01-05f317acdb68-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                },
                {
                  "name": "ruleName-ipv6.0",
                  "protocol": "tcp",
                  "publicIPAddress": "2603:1030:20c:7::14c",
                  "publicFQDN": "dnsa0837c52-2586-4053-9a01-05f317acdb68-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-03T22:00:12.445386Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_9915e6ec8b70c5c7f2df66265173afd490f2d9dbb7530ff2262cce810159a3df_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "20.185.185.94",
        "remoteLoginPort": 15000,
        "ipv6RemoteLoginIPAddress": "2603:1030:20c:7::14c",
        "ipv6RemoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "1322572386"
  }
}
