{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "BatchNodeUser",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/BatchNodeUser",
            "eTag": "0x8DC865981C5E7F6",
            "lastModified": "2024-06-06T18:50:16.7209974Z",
            "creationTime": "2024-06-06T18:44:59.6432224Z",
            "state": "deleting",
            "stateTransitionTime": "2024-06-06T18:50:16.7209974Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2024-06-06T18:50:16.7292336Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          },
          {
            "id": "pool1",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/pool1",
            "eTag": "0x8DC54FB214AAA2A",
            "lastModified": "2024-04-04T23:01:15.1833642Z",
            "creationTime": "2024-03-29T23:26:40.140628Z",
            "state": "active",
            "stateTransitionTime": "2024-03-29T23:26:40.140628Z",
            "allocationState": "steady",
            "allocationStateTransitionTime": "2024-04-04T23:03:34.1091773Z",
            "vmSize": "standard_d2s_v3",
            "resizeTimeout": "PT15M",
            "currentDedicatedNodes": 0,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Pack"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "osDisk": {
                "ephemeralOSDiskSettings": {},
                "managedDisk": {
                  "storageAccountType": "premium_lrs"
                },
                "caching": "None"
              },
              "nodeAgentSKUId": "batch.node.ubuntu 22.04",
              "nodePlacementConfiguration": {
                "policy": "Regional"
              }
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "publicIPAddressConfiguration": {
                "provision": "BatchManaged"
              },
              "enableAcceleratedNetworking": false
            },
            "targetNodeCommunicationMode": "default"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetRemoteLoginSettings",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 2
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC8659836FF96F",
        "Last-Modified": "Thu, 06 Jun 2024 18:50:19 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC8659836FF[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_6a9b9418bf8c338f1d1506196bb9e887e7d26995fc75e30364ea5a7dc46c372f_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_6a9b9418bf8c338f1d1506196bb9e887e7d26995fc75e30364ea5a7dc46c372f_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T18:50:56.2287219Z",
            "allocationTime": "2024-06-06T18:50:56.2287267Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_6a9b9418bf8c338f1d1506196bb9e887e7d26995fc75e30364ea5a7dc46c372f_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "57.152.81.132",
                  "publicFQDN": "dns2af406e1-595d-4df4-9784-02cf9298e089-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5820.240510"
              }
            }
          },
          {
            "id": "tvmps_a422e9ed4db33d15cd8ad7fd867fb7017394ed18d5d9782c0739b3dbeef6e761_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_a422e9ed4db33d15cd8ad7fd867fb7017394ed18d5d9782c0739b3dbeef6e761_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T18:50:56.7695223Z",
    [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_6a9b9418bf8c338f1d1506196bb9e887e7d26995fc75e30364ea5a7dc46c372f_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_6a9b9418bf8c338f1d1506196bb9e887e7d26995fc75e30364ea5a7dc46c372f_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T18:55:08.178785Z",
            "lastBootTime": "2024-06-06T18:55:02.641393Z",
            "allocationTime": "2024-06-06T18:50:56.2287267Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_6a9b9418bf8c338f1d1506196bb9e887e7d26995fc75e30364ea5a7dc46c372f_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "57.152.81.132",
                  "publicFQDN": "dns2af406e1-595d-4df4-9784-02cf9298e089-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-06-06T18:55:02.641393Z",
              "version": "1.11.10"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5820.240510"
              }
            }
          },
          {
            "id": "tvmps_a422e9ed4db33d15cd8ad7fd867fb7[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_a422e9ed4db33d15cd8ad7fd867fb7017394ed18d5d9782c0739b3dbeef6e761_d/remoteloginsettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_a422e9ed4db33d15cd8ad7fd867fb7017394ed18d5d9782c0739b3dbeef6e761_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "57.152.81.132",
        "remoteLoginPort": 50001
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "1616726346"
  }
}