{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "GetRemoteLoginSettings",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1,
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          }
        },
        "userAccounts": [
          {
            "name": "testuser",
            "password": "Sanitized"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD46349E7DDAA0",
        "Last-Modified": "Wed, 05 Feb 2025 22:29:56 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD46349E7DDAA0",
        "Last-Modified": "Wed, 05 Feb 2025 22:29:56 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "GetRemoteLoginSettings",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings",
        "eTag": "0x8DD46349E7DDAA0",
        "lastModified": "2025-02-05T22:29:56.7770272Z",
        "creationTime": "2025-02-05T22:29:56.7770262Z",
        "state": "active",
        "stateTransitionTime": "2025-02-05T22:29:56.7770262Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-02-05T22:29:56.7770272Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "testuser",
            "elevationLevel": "nonadmin",
            "windowsUserConfiguration": {
              "loginMode": "batch"
            }
          }
        ],
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "ruleName",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T22:30:33.8028302Z",
            "allocationTime": "2025-02-05T22:30:33.8028341Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.152.152.252",
                  "publicFQDN": "dnsc3fbed03-9331-497a-abac-01798a4c6dfe-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T22:33:26.011808Z",
            "lastBootTime": "2025-02-05T22:33:20.021143Z",
            "allocationTime": "2025-02-05T22:30:33.8028341Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "ruleName.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.152.152.252",
                  "publicFQDN": "dnsc3fbed03-9331-497a-abac-01798a4c6dfe-azurebatch-cloudservice.eastus2.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-02-05T22:33:20.021143Z",
              "version": "1.12.7"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d/remoteloginsettings?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings/nodes/tvmps_e0404f5bbf7004f7e540687c450209534d6f1d05c6214a692b42484dfa5b4303_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "4.152.152.252",
        "remoteLoginPort": 15000
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "656639526"
  }
}
