{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetRemoteLoginSettings",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/GetRemoteLoginSettings",
            "eTag": "0x8DCE7BD371E231E",
            "lastModified": "2024-10-08T17:18:23.9324958Z",
            "creationTime": "2024-10-08T17:13:57.2843342Z",
            "state": "deleting",
            "stateTransitionTime": "2024-10-08T17:18:23.9324958Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2024-10-08T17:18:23.9395205Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 2,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "ListBatchNode",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 2
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7BD38B56700",
        "Last-Modified": "Tue, 08 Oct 2024 17:18:26 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7BD38B56700",
   [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_324040c4339e7022fcc109664c1f6c02afa6f857bdb04e7bb08490af1510d8cd_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode/nodes/tvmps_324040c4339e7022fcc109664c1f6c02afa6f857bdb04e7bb08490af1510d8cd_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T17:19:03.3079404Z",
            "allocationTime": "2024-10-08T17:19:03.3079473Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_324040c4339e7022fcc109664c1f6c02afa6f857bdb04e7bb08490af1510d8cd_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_83a26e639a2b14f3fb4afa9d852a99f9268494b10d861288764acb42bfd32733_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode/nodes/tvmps_83a26e639a2b14f3fb4afa9d852a99f9268494b10d861288764acb42bfd32733_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T17:19:03.3079721Z",
            "allocationTime": "2024-10-08T17:19:03.307973Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_83a26e639a2b14f3fb4afa9d852a99f9268494b10d861288764acb42bfd32733_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_324040c4339e7022fcc109664c1f6c02afa6f857bdb04e7bb08490af1510d8cd_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode/nodes/tvmps_324040c4339e7022fcc109664c1f6c02afa6f857bdb04e7bb08490af1510d8cd_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T17:22:34.330059Z",
            "lastBootTime": "2024-10-08T17:22:27.992762Z",
            "allocationTime": "2024-10-08T17:19:03.3079473Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_324040c4339e7022fcc109664c1f6c02afa6f857bdb04e7bb08490af1510d8cd_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-10-08T17:22:27.992762Z",
              "version": "1.12.4"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_83a26e639a2b14f3fb4afa9d852a99f9268494b10d[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus.batch.azure.com",
    "RandomSeed": "525108811"
  }
}
