{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetRemoteLoginSettings",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/GetRemoteLoginSettings",
            "eTag": "0x8DC865A32C42799",
            "lastModified": "2024-06-06T18:55:13.6662425Z",
            "creationTime": "2024-06-06T18:50:19.513277Z",
            "state": "deleting",
            "stateTransitionTime": "2024-06-06T18:55:13.6662425Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2024-06-06T18:55:13.6743506Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 2,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          },
          {
            "id": "pool1",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/pool1",
            "eTag": "0x8DC54FB214AAA2A",
            "lastModified": "2024-04-04T23:01:15.1833642Z",
            "creationTime": "2024-03-29T23:26:40.140628Z",
            "state": "active",
            "stateTransitionTime": "2024-03-29T23:26:40.140628Z",
            "allocationState": "steady",
            "allocationStateTransitionTime": "2024-04-04T23:03:34.1091773Z",
            "vmSize": "standard_d2s_v3",
            "resizeTimeout": "PT15M",
            "currentDedicatedNodes": 0,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Pack"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest"
              },
              "osDisk": {
                "ephemeralOSDiskSettings": {},
                "managedDisk": {
                  "storageAccountType": "premium_lrs"
                },
                "caching": "None"
              },
              "nodeAgentSKUId": "batch.node.ubuntu 22.04",
              "nodePlacementConfiguration": {
                "policy": "Regional"
              }
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "publicIPAddressConfiguration": {
                "provision": "BatchManaged"
              },
              "enableAcceleratedNetworking": false
            },
            "targetNodeCommunicationMode": "default"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "ListBatchNode",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 2
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC865A34180FB2",
        "Last-Modified": "Thu, 06 Jun 2024 18:55:15 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DC865A34180FB2",
   [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9634795ee196daeb167aef4e7440e13475e61e89420ff77a31d02f632d5fa4e9_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode/nodes/tvmps_9634795ee196daeb167aef4e7440e13475e61e89420ff77a31d02f632d5fa4e9_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T18:55:47.4035606Z",
            "allocationTime": "2024-06-06T18:55:47.4035678Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_9634795ee196daeb167aef4e7440e13475e61e89420ff77a31d02f632d5fa4e9_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.1",
                  "protocol": "tcp",
                  "publicIPAddress": "48.217.211.111",
                  "publicFQDN": "dns9610ea35-1b9a-4def-a660-49a8d929643b-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50001,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5820.240510"
              }
            }
          },
          {
            "id": "tvmps_fe40ce89e41b7fd7c4f215e2b143fc98fa6c1d028c5bdaf59ca74144e46a81f6_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode/nodes/tvmps_fe40ce89e41b7fd7c4f215e2b143fc98fa6c1d028c5bdaf59ca74144e46a81f6_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T18:55:47.4036076Z",
            "[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9634795ee196daeb167aef4e7440e13475e61e89420ff77a31d02f632d5fa4e9_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode/nodes/tvmps_9634795ee196daeb167aef4e7440e13475e61e89420ff77a31d02f632d5fa4e9_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-06-06T19:00:01.150279Z",
            "lastBootTime": "2024-06-06T18:59:53.993561Z",
            "allocationTime": "2024-06-06T18:55:47.4035678Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_9634795ee196daeb167aef4e7440e13475e61e89420ff77a31d02f632d5fa4e9_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.1",
                  "protocol": "tcp",
                  "publicIPAddress": "48.217.211.111",
                  "publicFQDN": "dns9610ea35-1b9a-4def-a660-49a8d929643b-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50001,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-06-06T18:59:53.993561Z",
              "version": "1.11.10"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "17763.5820.240510"
              }
            }
          },
          {
            "id": "tvmps_fe40ce89e41b7fd7c4f215e2b143fc[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/ListBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "1706896443"
  }
}