{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "GetRemoteLoginSettings",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/GetRemoteLoginSettings",
            "eTag": "0x8DD8449B437F539",
            "lastModified": "2025-04-25T22:37:04.7523641Z",
            "creationTime": "2025-04-25T22:33:21.8344646Z",
            "state": "deleting",
            "stateTransitionTime": "2025-04-25T22:37:04.7523641Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-04-25T22:37:04.7724766Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 1,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "userAccounts": [
              {
                "name": "testuser",
                "elevationLevel": "nonadmin",
                "windowsUserConfiguration": {
                  "loginMode": "batch"
                }
              }
            ],
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "networkConfiguration": {
              "dynamicVNetAssignmentScope": "none",
              "endpointConfiguration": {
                "inboundNATPools": [
                  {
                    "name": "ruleName",
                    "protocol": "tcp",
                    "backendPort": 3389,
                    "frontendPortRangeStart": 15000,
                    "frontendPortRangeEnd": 15100
                  }
                ]
              },
              "enableAcceleratedNetworking": false
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "ListBatchNode",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 2
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD8449B6A0A950",
        "Last-Modified": "Fri, 25 Apr 2025 22:37:08 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD8449B6A0A950",
  [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_ba362f18b7430babb73a934acdaf858db1514903dea2b9398ff95462adfd0b76_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode/nodes/tvmps_ba362f18b7430babb73a934acdaf858db1514903dea2b9398ff95462adfd0b76_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-25T22:37:40.443122Z",
            "allocationTime": "2025-04-25T22:37:40.4431226Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_ba362f18b7430babb73a934acdaf858db1514903dea2b9398ff95462adfd0b76_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_c4a40d7cb629bd088d596efa0747632cbc11b73122ba9e2a6e9e3d2a1d4e0038_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode/nodes/tvmps_c4a40d7cb629bd088d596efa0747632cbc11b73122ba9e2a6e9e3d2a1d4e0038_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-25T22:37:40.4430962Z",
            "allocationTime": "2025-04-25T22:37:40.4431015Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_c4a40d7cb629bd088d596efa0747632cbc11b73122ba9e2a6e9e3d2a1d4e0038_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_ba362f18b7430babb73a934acdaf858db1514903dea2b9398ff95462adfd0b76_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode/nodes/tvmps_ba362f18b7430babb73a934acdaf858db1514903dea2b9398ff95462adfd0b76_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-04-25T22:41:07.211496Z",
            "lastBootTime": "2025-04-25T22:40:52.667953Z",
            "allocationTime": "2025-04-25T22:37:40.4431226Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_ba362f18b7430babb73a934acdaf858db1514903dea2b9398ff95462adfd0b76_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-04-25T22:40:52.667953Z",
              "version": "1.12.15"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_c4a40d7cb629bd088d596efa0747632cbc11b7312[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/ListBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "1581838861"
  }
}