{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "ListBatchNode",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/ListBatchNode",
            "eTag": "0x8DCE7BAC9405481",
            "lastModified": "2024-10-08T17:01:00.6137473Z",
            "creationTime": "2024-10-08T16:52:13.801339Z",
            "state": "deleting",
            "stateTransitionTime": "2024-10-08T17:01:00.6137473Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2024-10-08T17:01:00.6210194Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 2,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": false,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "RebootBatchNode",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7BACB7131BE",
        "Last-Modified": "Tue, 08 Oct 2024 17:01:04 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7BACB7131BE",
 [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode/nodes/tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T17:01:35.9648389Z",
            "allocationTime": "2024-10-08T17:01:35.964847Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode/nodes/tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T17:04:33.149946Z",
            "lastBootTime": "2024-10-08T17:04:28.633902Z",
            "allocationTime": "2024-10-08T17:01:35.964847Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-10-08T17:04:28.633902Z",
              "version": "1.12.4"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode/nodes/tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d/reboot?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode/nodes/tvmps_2615c0dc7a238382dd8b1077b4498c30ba86f8c57125accf46971abb112de3b3_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/RebootBatchNode?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus.batch.azure.com",
    "RandomSeed": "844925873"
  }
}
