{
  "Entries": [
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/$metadata#pools",
        "value": []
      }
    },
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "Scheduling",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2633F5FBBC80",
        "Last-Modified": "Mon, 17 Nov 2025 23:49:34 GMT",
        "Location": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE2633F5FBBC80",
        "Last-Modified": "Mon, 17 Nov 2025 23:49:34 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/$metadata#pools/@Element",
        "id": "Scheduling",
        "url": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling",
        "eTag": "0x8DE2633F5FBBC80",
        "lastModified": "2025-11-17T23:49:34.5292416Z",
        "creationTime": "2025-11-17T23:49:34.5292406Z",
        "state": "active",
        "stateTransitionTime": "2025-11-17T23:49:34.5292406Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-11-17T23:49:34.5292416Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d",
            "url": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-17T23:50:00.8632795Z",
            "allocationTime": "2025-11-17T23:50:00.8632858Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d",
            "url": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-11-17T23:56:41.476418Z",
            "lastBootTime": "2025-11-17T23:56:31.66376Z",
            "allocationTime": "2025-11-17T23:50:00.8632858Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-11-17T23:56:31.66376Z",
              "version": "1.12.34"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "nodeDisableSchedulingOption": "terminate"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d/enablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling/nodes/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d/uploadbatchservicelogs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "containerUrl": "Sanitized",
        "startTime": "2026-05-01T00:00:00.0000000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "netsdkbasrcxxljm7dcuk-22EC024913BDF630/scheduling/tvmps_437fe9109826023bf0f0944e0ed1f9e9810e197883dd55b4896bfe05557635ab_d/acf56dfe-5dd6-47a2-b204-15613e78f5ab",
        "numberOfFilesUploaded": 1
      }
    },
    {
      "RequestUri": "https://netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com/pools/Scheduling?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "batch_account_uri": "netsdkbasrcxxljm7dcuk.bnvalidation.batch.azure.com",
    "RandomSeed": "143773341"
  }
}
