{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Network/dnsResolvers/sampleDnsResolver?api-version=2025-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "properties": {
          "virtualNetwork": {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Network/virtualNetworks/sampleVirtualNetwork"
          },
          "dnsResolverState": "Connected",
          "provisioningState": "Succeeded",
          "resourceGuid": "bd907de9-ce0d-4a2e-87e3-894e48ad8aae"
        },
        "etag": "Sanitized",
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Network/dnsResolvers/sampleDnsResolver",
        "name": "sampleDnsResolver",
        "type": "Microsoft.Network/dnsResolvers",
        "systemData": {
          "createdAt": "2025-11-13T09:12:24.4983623Z",
          "createdByType": "User",
          "lastModifiedAt": "2025-11-13T09:12:24.4983623Z",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {}
}
