{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Network/dnsResolvers/sampleDnsResolver?api-version=2025-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Network/dnsResolvers?api-version=2025-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "60000",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
