{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2026-03-12T18:57:48Z</Start><Expiry>2026-03-17T19:57:48Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>51291b7b-d07c-424e-b934-042c148c6a56</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-12T18:57:48Z</SignedStart><SignedExpiry>2026-03-17T19:57:48Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-04-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334546933806964?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071A35E3FC1\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:57:49 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334546933806964/directory177334546942503150?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071A36CE1B8\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:57:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334546933806964/directory177334546942503150?sv=Sanitized&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-03-12T18%3A57%3A48Z&ske=2026-03-17T19%3A57%3A48Z&sks=b&skv=2026-04-06&sr=d&sp=racwdmeop&sig=sanitizedsig&sdd=1&action=getAccessControl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071A36CE1B8\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:57:49 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-group": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-owner": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334546933806964/directory177334546942503150?sv=Sanitized&se=sanitizedexpiry&skoid=sanitizedskoid&sktid=sanitizedsktid&skt=2026-03-12T18%3A57%3A48Z&ske=2026-03-17T19%3A57%3A48Z&sks=b&skv=2026-04-06&sr=d&sp=racwdmeop&sig=sanitizedsig&sdd=1&action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-permissions": "rw-r-x-wT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071A36CE1B8\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:57:49 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334546933806964?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory177334546942503150",
    "filesystem": "filesystem177334546933806964",
    "now": "2026-03-12T19:57:48.630Z",
    "tmr": "2026-03-12T19:57:48.630Z"
  }
}
