{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0DA7C92B\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f/test-directory-1f4eebf1-1d2b-71eb-c417-baec0e929018?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0DB2C9AC\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f/test-directory-1f4eebf1-1d2b-71eb-c417-baec0e929018/test-directory-22ee2ec4-5c20-3ffa-ff59-d7cf29aa05be?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0DB97494\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f/test-directory-1f4eebf1-1d2b-71eb-c417-baec0e929018/test-directory-22ee2ec4-5c20-3ffa-ff59-d7cf29aa05be/test-directory-5aacc172-25ca-99f6-e84a-ede028c80caf?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0DBF90BC\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f/test-directory-1f4eebf1-1d2b-71eb-c417-baec0e929018/test-directory-22ee2ec4-5c20-3ffa-ff59-d7cf29aa05be/test-directory-5aacc172-25ca-99f6-e84a-ede028c80caf/test-directory-22f9b63f-58b6-a925-1bc1-7277773cd319?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0DC6B050\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f/test-directory-1f4eebf1-1d2b-71eb-c417-baec0e929018/test-directory-22ee2ec4-5c20-3ffa-ff59-d7cf29aa05be/test-directory-5aacc172-25ca-99f6-e84a-ede028c80caf/test-directory-22f9b63f-58b6-a925-1bc1-7277773cd319/test-file-2d393a0e-abcd-a361-aaf9-986a25d93542?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0DCE2F00\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f/test-directory-1f4eebf1-1d2b-71eb-c417-baec0e929018/test-directory-22ee2ec4-5c20-3ffa-ff59-d7cf29aa05be/test-directory-5aacc172-25ca-99f6-e84a-ede028c80caf/test-directory-22f9b63f-58b6-a925-1bc1-7277773cd319?sv=Sanitized&st=2025-08-21T15%3A16%3A15Z&se=2025-08-21T17%3A16%3A15Z&sr=d&sp=racwdlmeop&sdd=4&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE0CE0DC6B050\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Aug 2025 16:16:15 GMT",
        "x-ms-group": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-c9982324-dff6-e10f-3850-63c61c93f69f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:16:15.5595642-05:00",
    "RandomSeed": "1038260304",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
