{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971865F6D3C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80/test-directory-47ecebb4-f14e-6411-089c-64ac8665ed50?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971866C4230\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80/test-directory-47ecebb4-f14e-6411-089c-64ac8665ed50/test-directory-69ba56e5-beff-2db0-9352-82b4f6600233?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE797186765548\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80/test-directory-47ecebb4-f14e-6411-089c-64ac8665ed50/test-directory-69ba56e5-beff-2db0-9352-82b4f6600233/test-directory-8ce49cf5-4722-0fa6-b622-77da52f076c8?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971867E2C44\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80/test-directory-47ecebb4-f14e-6411-089c-64ac8665ed50/test-directory-69ba56e5-beff-2db0-9352-82b4f6600233/test-directory-8ce49cf5-4722-0fa6-b622-77da52f076c8/test-directory-5a7bbb5b-387a-ff85-83c7-b769a211bd75?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE797186887B78\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80/test-directory-47ecebb4-f14e-6411-089c-64ac8665ed50/test-directory-69ba56e5-beff-2db0-9352-82b4f6600233/test-directory-8ce49cf5-4722-0fa6-b622-77da52f076c8/test-directory-5a7bbb5b-387a-ff85-83c7-b769a211bd75/test-file-7460e0ff-c8f7-ff81-d97a-52aa75ad5e62?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE797186924EEC\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80/test-directory-47ecebb4-f14e-6411-089c-64ac8665ed50/test-directory-69ba56e5-beff-2db0-9352-82b4f6600233/test-directory-8ce49cf5-4722-0fa6-b622-77da52f076c8/test-directory-5a7bbb5b-387a-ff85-83c7-b769a211bd75?sv=Sanitized&st=2026-03-03T21%3A09%3A21Z&se=2026-03-03T23%3A09%3A21Z&sr=d&sp=racwdltmeop&sdd=4&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE797186887B78\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Mar 2026 22:09:22 GMT",
        "x-ms-group": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-88bcc16d-392a-f119-ee01-de8671145e80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:09:21.8452917-05:00",
    "RandomSeed": "1620080511",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
