{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-3ba922c8-1c3b-29bf-c576-5d7653445b3e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF2CB6AC89B02\u0022",
        "Last-Modified": "Sat, 02 Dec 2023 00:12:48 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "\uFEFF\u003CKeyInfo\u003E\u003CExpiry\u003E2023-12-02T01:12:47Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003E1860430b-86fd-414a-8379-0ffff7834c55\u003C/SignedOid\u003E\u003CSignedTid\u003E72f988bf-86f1-41af-91ab-2d7cd011db47\u003C/SignedTid\u003E\u003CSignedStart\u003E2023-12-02T00:12:48Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2023-12-02T01:12:47Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2024-02-04\u003C/SignedVersion\u003E\u003CValue\u003EvC1CVa2L72DKICuTle3svo7fhFu7RkEb5rk6tS0yTA4=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://amandaadlscanary.blob.core.windows.net/test-filesystem-3ba922c8-1c3b-29bf-c576-5d7653445b3e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-12-01T16:12:47.5435333-08:00",
    "RandomSeed": "860765117",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary\nU2FuaXRpemVk\nhttps://amandaadlscanary.blob.core.windows.net\nhttps://amandaadlscanary.file.core.windows.net\nhttps://amandaadlscanary.queue.core.windows.net\nhttps://amandaadlscanary.table.core.windows.net\n\n\n\n\nhttps://amandaadlscanary-secondary.blob.core.windows.net\nhttps://amandaadlscanary-secondary.file.core.windows.net\nhttps://amandaadlscanary-secondary.queue.core.windows.net\nhttps://amandaadlscanary-secondary.table.core.windows.net\n8f7f73b5-e0e4-40f6-a7e3-b6fdea0f8dd2\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://amandaadlscanary.blob.core.windows.net/;QueueEndpoint=https://amandaadlscanary.queue.core.windows.net/;FileEndpoint=https://amandaadlscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandaadlscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandaadlscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandaadlscanary-secondary.file.core.windows.net/;AccountName=amandaadlscanary;AccountKey=Sanitized\n\n\n"
  }
}
