{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A22F145A0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3/test-directory-59c8a46b-1d11-c495-6d3a-59cfd4bd728b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A23046078\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3/test-directory-59c8a46b-1d11-c495-6d3a-59cfd4bd728b/test-directory-1200b159-5f25-c55e-6e84-60cd4e1daef6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A2313E5D0\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3/test-directory-59c8a46b-1d11-c495-6d3a-59cfd4bd728b/test-directory-1200b159-5f25-c55e-6e84-60cd4e1daef6/test-directory-03540cbe-8bd2-4b40-d505-f8e81682228d?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A231F3348\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3/test-directory-59c8a46b-1d11-c495-6d3a-59cfd4bd728b/test-directory-1200b159-5f25-c55e-6e84-60cd4e1daef6/test-directory-03540cbe-8bd2-4b40-d505-f8e81682228d/test-directory-8be56952-6c69-7556-8b7c-36a970323424?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A232B7478\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3/test-directory-59c8a46b-1d11-c495-6d3a-59cfd4bd728b/test-directory-1200b159-5f25-c55e-6e84-60cd4e1daef6/test-directory-03540cbe-8bd2-4b40-d505-f8e81682228d/test-directory-8be56952-6c69-7556-8b7c-36a970323424/test-file-88546b9e-e9f1-c746-69db-0aedf42abb7c?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A23399C20\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-06T23:43:50Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T22:43:51Z</SignedStart><SignedExpiry>2024-06-06T23:43:50Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3/test-directory-59c8a46b-1d11-c495-6d3a-59cfd4bd728b/test-directory-1200b159-5f25-c55e-6e84-60cd4e1daef6/test-directory-03540cbe-8bd2-4b40-d505-f8e81682228d/test-directory-8be56952-6c69-7556-8b7c-36a970323424?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T22%3A43%3A51Z&ske=2024-06-06T23%3A43%3A50Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T21%3A43%3A50Z&se=2024-06-06T23%3A43%3A50Z&sr=d&sp=racwdlmeop&sdd=4&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867A232B7478\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:43:51 GMT",
        "x-ms-group": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-12375217-076c-7c63-043a-5754c17b16c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:43:50.0192362-05:00",
    "RandomSeed": "444065788",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
