{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-f117c803-9426-632d-1c1a-1b2638c21114?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79719B00669D\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f117c803-9426-632d-1c1a-1b2638c21114/test-directory-9757bf1d-91ab-421f-8a56-cb532214f297?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79719B0C03E8\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f117c803-9426-632d-1c1a-1b2638c21114/test-directory-9757bf1d-91ab-421f-8a56-cb532214f297/test-file-aed2734d-e724-092a-2f06-1ef3e0ec5b83?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79719B174784\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-03-03T23:09:56Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-03T22:09:57Z</SignedStart><SignedExpiry>2026-03-03T23:09:56Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-06-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f117c803-9426-632d-1c1a-1b2638c21114?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A09%3A57Z&ske=2026-03-03T23%3A09%3A56Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A09%3A56Z&se=2026-03-03T23%3A09%3A56Z&sr=c&sp=racwdltmeop&saoid=83d59652-7d0d-92d7-59bc-0f6066b91f04&sig=Sanitized&resource=filesystem&recursive=false&upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134170493972710376",
            "etag": "0x8DE79719B0C03E8",
            "expiryTime": "0",
            "group": "e06172a7-9585-422f-acbd-7693c11dd186",
            "isDirectory": "true",
            "lastModified": "Tue, 03 Mar 2026 22:09:57 GMT",
            "name": "test-directory-9757bf1d-91ab-421f-8a56-cb532214f297",
            "owner": "e06172a7-9585-422f-acbd-7693c11dd186",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-f117c803-9426-632d-1c1a-1b2638c21114?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:09:56.2713818-05:00",
    "RandomSeed": "994128645",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
