{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE797195323A3B\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01/test-directory-45c7a02c-b05d-f834-a1f7-460a0b0b9c1a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971953D1038\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01/test-directory-45c7a02c-b05d-f834-a1f7-460a0b0b9c1a/test-directory-5f37c2dc-035e-9ac3-e5a6-d9887ad93070?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79719547E718\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01/test-directory-45c7a02c-b05d-f834-a1f7-460a0b0b9c1a/test-directory-5f37c2dc-035e-9ac3-e5a6-d9887ad93070/test-directory-e47d99bc-108b-bd24-83ab-929dca271279?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE797195502B68\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01/test-directory-45c7a02c-b05d-f834-a1f7-460a0b0b9c1a/test-directory-5f37c2dc-035e-9ac3-e5a6-d9887ad93070/test-directory-e47d99bc-108b-bd24-83ab-929dca271279/test-directory-9d251d8e-bf6f-913c-2274-842630f63579?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971955B5E9C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01/test-directory-45c7a02c-b05d-f834-a1f7-460a0b0b9c1a/test-directory-5f37c2dc-035e-9ac3-e5a6-d9887ad93070/test-directory-e47d99bc-108b-bd24-83ab-929dca271279/test-directory-9d251d8e-bf6f-913c-2274-842630f63579/test-file-a8e3078b-5bd2-6a44-92c9-913aa2a2e7f9?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE797195644C4C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01/test-directory-45c7a02c-b05d-f834-a1f7-460a0b0b9c1a/test-directory-5f37c2dc-035e-9ac3-e5a6-d9887ad93070/test-directory-e47d99bc-108b-bd24-83ab-929dca271279/test-directory-9d251d8e-bf6f-913c-2274-842630f63579?sv=Sanitized&st=2026-03-03T21%3A09%3A46Z&se=2026-03-03T23%3A09%3A46Z&sr=d&sp=racwdltmeop&sdd=4&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE7971955B5E9C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Mar 2026 22:09:47 GMT",
        "x-ms-group": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-7b9abb9c-d00d-ba73-bd1a-c757506e3c01?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:09:46.7136240-05:00",
    "RandomSeed": "1190602264",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
