{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9ae3ce91-5356-6be4-90a6-da22b6fe07b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A36B97CB5\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:44:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-06T23:44:22Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T22:44:24Z</SignedStart><SignedExpiry>2024-06-06T23:44:22Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9ae3ce91-5356-6be4-90a6-da22b6fe07b9/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user:ce359859-7330-0c54-4fa7-feee297920c6:rwx",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A36BD6744\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:44:24 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9ae3ce91-5356-6be4-90a6-da22b6fe07b9/test-file-b26e0669-d083-41fc-b043-2dd71aeef0e4?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T22%3A44%3A24Z&ske=2024-06-06T23%3A44%3A22Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T21%3A44%3A22Z&se=2024-06-06T23%3A44%3A22Z&sr=c&sp=racwdlmeop&suoid=ce359859-7330-0c54-4fa7-feee297920c6&sig=Sanitized&resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867A373B020C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:44:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9ae3ce91-5356-6be4-90a6-da22b6fe07b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:44:22.7541382-05:00",
    "RandomSeed": "1161860789",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
