{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971845189BB\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61/test-directory-fd151ceb-b065-bef1-c9c6-fcc234857caa?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971845D0020\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61/test-directory-fd151ceb-b065-bef1-c9c6-fcc234857caa/test-directory-92f03eef-26e0-5f1e-0b64-dc6c63b6f81c?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79718466D7F4\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61/test-directory-fd151ceb-b065-bef1-c9c6-fcc234857caa/test-directory-92f03eef-26e0-5f1e-0b64-dc6c63b6f81c/test-directory-d8df7cae-b96c-a3ef-2e01-46eee9e86c83?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE797184700A00\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61/test-directory-fd151ceb-b065-bef1-c9c6-fcc234857caa/test-directory-92f03eef-26e0-5f1e-0b64-dc6c63b6f81c/test-directory-d8df7cae-b96c-a3ef-2e01-46eee9e86c83/test-directory-2b59a1f7-4ec2-3d0b-1bc0-520e4d907b53?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7971847AA460\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61/test-directory-fd151ceb-b065-bef1-c9c6-fcc234857caa/test-directory-92f03eef-26e0-5f1e-0b64-dc6c63b6f81c/test-directory-d8df7cae-b96c-a3ef-2e01-46eee9e86c83/test-directory-2b59a1f7-4ec2-3d0b-1bc0-520e4d907b53/test-file-9ad8052b-11c7-020a-c62c-529b2f452576?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79718483309C\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-03-03T23:09:18Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-03T22:09:19Z</SignedStart><SignedExpiry>2026-03-03T23:09:18Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-06-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61/test-directory-fd151ceb-b065-bef1-c9c6-fcc234857caa/test-directory-92f03eef-26e0-5f1e-0b64-dc6c63b6f81c/test-directory-d8df7cae-b96c-a3ef-2e01-46eee9e86c83/test-directory-2b59a1f7-4ec2-3d0b-1bc0-520e4d907b53?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A09%3A19Z&ske=2026-03-03T23%3A09%3A18Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A09%3A18Z&se=2026-03-03T23%3A09%3A18Z&sr=d&sp=racwdltmeop&sdd=4&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE7971847AA460\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 03 Mar 2026 22:09:19 GMT",
        "x-ms-group": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e06172a7-9585-422f-acbd-7693c11dd186",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-f5df026d-a199-c934-5a44-eb998b3fee61?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:09:18.4013858-05:00",
    "RandomSeed": "269939235",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
