{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0B819FFE\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f/test-directory-4358af58-d724-329c-e395-27538eb6e28b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0B8C905C\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f/test-directory-4358af58-d724-329c-e395-27538eb6e28b/test-directory-2bbceb86-386f-3024-b38e-326c4d8366b0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0B92B6B0\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f/test-directory-4358af58-d724-329c-e395-27538eb6e28b/test-directory-2bbceb86-386f-3024-b38e-326c4d8366b0/test-directory-6f2d412a-9b97-0d9b-3599-36fb9bbbfab2?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0B9984F0\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f/test-directory-4358af58-d724-329c-e395-27538eb6e28b/test-directory-2bbceb86-386f-3024-b38e-326c4d8366b0/test-directory-6f2d412a-9b97-0d9b-3599-36fb9bbbfab2/test-directory-7cba0352-479a-a443-08f8-769280af4bc6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0B9F9D0C\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f/test-directory-4358af58-d724-329c-e395-27538eb6e28b/test-directory-2bbceb86-386f-3024-b38e-326c4d8366b0/test-directory-6f2d412a-9b97-0d9b-3599-36fb9bbbfab2/test-directory-7cba0352-479a-a443-08f8-769280af4bc6/test-file-74a2e439-bdfe-4b6e-23c0-8545cdd7c7ab?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE0BA814C8\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-08-21T17:16:11Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-21T16:16:12Z</SignedStart><SignedExpiry>2025-08-21T17:16:11Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f/test-directory-4358af58-d724-329c-e395-27538eb6e28b/test-directory-2bbceb86-386f-3024-b38e-326c4d8366b0/test-directory-6f2d412a-9b97-0d9b-3599-36fb9bbbfab2/test-directory-7cba0352-479a-a443-08f8-769280af4bc6?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A16%3A12Z&ske=2025-08-21T17%3A16%3A11Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A16%3A11Z&se=2025-08-21T17%3A16%3A11Z&sr=d&sp=racwdlmeop&sdd=4&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE0CE0B9F9D0C\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Aug 2025 16:16:11 GMT",
        "x-ms-group": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-0598ec74-78a5-fc8c-b954-4fa3abbefc8f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:16:11.9558879-05:00",
    "RandomSeed": "638680021",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
