{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-3cc04f47-a43e-e075-5b2f-17796ca5e3ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CDF9A5B5CA\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-3cc04f47-a43e-e075-5b2f-17796ca5e3ed/test-directory-cbe1c131-99c5-1d37-5bb5-d95d368d1cb0?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CDF9AFD8A0\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-3cc04f47-a43e-e075-5b2f-17796ca5e3ed/test-directory-cbe1c131-99c5-1d37-5bb5-d95d368d1cb0/test-file-cae2aaad-9d34-25f6-6083-69bc15c58dd6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CDF9B71BCC\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-08-21T17:15:41Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-21T16:15:41Z</SignedStart><SignedExpiry>2025-08-21T17:15:41Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-3cc04f47-a43e-e075-5b2f-17796ca5e3ed?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A15%3A41Z&ske=2025-08-21T17%3A15%3A41Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A15%3A41Z&se=2025-08-21T17%3A15%3A41Z&sr=c&sp=racwdlmeop&suoid=38aecc50-5a8e-07e2-7c0c-ae8e53eb75ae&sig=Sanitized&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:1c0d4d4e-401e-004d-55b6-128c86000000\n",
        "Time:2025-08-21T16:15:42.2555901Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-3cc04f47-a43e-e075-5b2f-17796ca5e3ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:15:41.8567086-05:00",
    "RandomSeed": "1294576303",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
