{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-4eaaba4a-2d8c-bc11-4754-840922f42fa8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE006571C8\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:53 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-4eaaba4a-2d8c-bc11-4754-840922f42fa8/test-directory-ac24aa50-ccfe-4aa1-739b-e971e210d018?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE00738C74\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-4eaaba4a-2d8c-bc11-4754-840922f42fa8/test-directory-ac24aa50-ccfe-4aa1-739b-e971e210d018/test-file-7bc17a7c-bcb0-a89e-878e-159fdaa064bd?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE0CE007AB4E8\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2025-08-21T17:15:53Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-21T16:15:53Z</SignedStart><SignedExpiry>2025-08-21T17:15:53Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-4eaaba4a-2d8c-bc11-4754-840922f42fa8/test-directory-ac24aa50-ccfe-4aa1-739b-e971e210d018?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2025-08-21T16%3A15%3A53Z&ske=2025-08-21T17%3A15%3A53Z&sks=b&skv=2026-02-06&sv=Sanitized&st=2025-08-21T15%3A15%3A53Z&se=2025-08-21T17%3A15%3A53Z&sr=d&sp=racwdlmeop&sdd=1&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDE0CE00738C74\"",
        "Last-Modified": "Thu, 21 Aug 2025 16:15:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Aug 2025 16:15:53 GMT",
        "x-ms-group": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "e610410d-4aa1-4e96-8f70-bc1850bff049",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-4eaaba4a-2d8c-bc11-4754-840922f42fa8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-21T11:15:53.2066922-05:00",
    "RandomSeed": "1383302582",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
