{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-b22fe74c-4dca-90b2-54f3-2f3cb9105573?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79718F251E0A\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:37 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2026-03-03T23:09:36Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e06172a7-9585-422f-acbd-7693c11dd186</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2026-03-03T22:09:37Z</SignedStart><SignedExpiry>2026-03-03T23:09:36Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2026-06-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-b22fe74c-4dca-90b2-54f3-2f3cb9105573/?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user:17b6bfd8-1e9d-1c26-eba9-01905684aeeb:rwx",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79718F288438\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:37 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.dfs.core.windows.net/test-filesystem-b22fe74c-4dca-90b2-54f3-2f3cb9105573/test-file-0a695b2b-f4a1-5179-2cc4-ce539c8a94c0?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2026-03-03T22%3A09%3A37Z&ske=2026-03-03T23%3A09%3A36Z&sks=b&skv=2026-06-06&sv=Sanitized&st=2026-03-03T21%3A09%3A36Z&se=2026-03-03T23%3A09%3A36Z&sr=c&sp=racwdltmeop&suoid=17b6bfd8-1e9d-1c26-eba9-01905684aeeb&sig=Sanitized&resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79718F6F62C4\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:09:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary.blob.core.windows.net/test-filesystem-b22fe74c-4dca-90b2-54f3-2f3cb9105573?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-03-03T17:09:36.2509144-05:00",
    "RandomSeed": "1309157167",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary\nU2FuaXRpemVk\nhttps://seanhnscanary.blob.core.windows.net\nhttps://seanhnscanary.file.core.windows.net\nhttps://seanhnscanary.queue.core.windows.net\nhttps://seanhnscanary.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary-secondary.blob.core.windows.net\nhttps://seanhnscanary-secondary.file.core.windows.net\nhttps://seanhnscanary-secondary.queue.core.windows.net\nhttps://seanhnscanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary.queue.core.windows.net/;FileEndpoint=https://seanhnscanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary-secondary.file.core.windows.net/;AccountName=seanhnscanary;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
