{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472085485606669?restype=share\u0026comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-deleted-share-name": "share169472085485606669",
        "x-ms-deleted-share-version": "01D60F8BB59A4652",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified share does not exist.\n",
        "RequestId:cff4a045-401a-000c-6144-e70429000000\n",
        "Time:2023-09-14T19:47:35.8267323Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "share": "share169472085485606669"
  }
}
