{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169830139569005256?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC0A63F7F8\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:23:16 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/?comp=list\u0026include=deleted\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakesdaccount.file.core.windows.net/\u0022\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Eshare169830097938505217\u003C/Name\u003E\u003CDeleted\u003Etrue\u003C/Deleted\u003E\u003CVersion\u003E01DA07D3F010FA5F\u003C/Version\u003E\u003CProperties\u003E\u003CLast-Modified\u00[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169830139569005256?restype=share\u0026comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-deleted-share-name": "share169830139569005256",
        "x-ms-deleted-share-version": "01DA07D4E7EA6C3A",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC1C8C09BA\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:23:47 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169830139569005256?restype=share\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EC1C8C09BA\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:23:47 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Thu, 26 Oct 2023 06:23:16 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "5120",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169830139569005256?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share169830139569005256"
  }
}
