{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share171439372324908035?restype=share&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-deleted-share-name": "share171439372324908035",
        "x-ms-deleted-share-version": "01D60F8BB59A4652",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\n",
        "RequestId:435975e2-501a-005a-2330-9a825e000000\n",
        "Time:2024-04-29T12:28:43.8644920Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "share": "share171439372324908035"
  }
}
