{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/text-embedding-3-small/embeddings?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dimensions": 10,
        "encoding_format": "base64",
        "input": [
          "hello"
        ],
        "model": "text-embedding-3-small"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-model-session": "d002-20240213225800",
        "Content-Type": "application/json",
        "x-ms-region": "East US",
        "x-ratelimit-remaining-requests": "115",
        "x-ratelimit-remaining-tokens": "119990"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "embedding",
            "index": 0,
            "embedding": "eLoFPtiY3b7NSTQ9ob4DPzM/jj1KG7y\u002BsJRfvlov8z76nIy8qPytvg=="
          }
        ],
        "model": "text-embedding-3-small",
        "usage": {
          "prompt_tokens": 1,
          "total_tokens": 1
        }
      }
    },
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/openai/deployments/text-embedding-3-small/embeddings?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Api-Key": "redacted",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dimensions": 10,
        "input": [
          "hello"
        ],
        "model": "text-embedding-3-small"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-model-session": "d002-20240213225800",
        "Content-Type": "application/json",
        "x-ms-region": "East US",
        "x-ratelimit-remaining-requests": "114",
        "x-ratelimit-remaining-tokens": "119988"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "embedding",
            "index": 0,
            "embedding": [
              0.13059413,
              -0.43280673,
              0.044015694,
              0.5146275,
              0.06945648,
              -0.3673957,
              -0.21834064,
              0.47497064,
              -0.017164696,
              -0.33981824
            ]
          }
        ],
        "model": "text-embedding-3-small",
        "usage": {
          "prompt_tokens": 1,
          "total_tokens": 1
        }
      }
    }
  ],
  "Variables": {}
}
