{
  "Entries": [
    {
      "RequestUri": "https://fake-recorded-host.microsoft.com/embeddings?api-version=2024-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dimensions": 10,
        "encoding_format": "base64",
        "input": [
          "hello"
        ],
        "model": "text-embedding-3-small"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-model": "text-embedding-3-small",
        "openai-organization": "msft-finetuning-2",
        "openai-processing-ms": "14",
        "openai-version": "2020-10-01",
        "x-ratelimit-limit-requests": "10000",
        "x-ratelimit-limit-tokens": "10000000",
        "x-ratelimit-remaining-requests": "9999",
        "x-ratelimit-remaining-tokens": "9999998",
        "x-ratelimit-reset-requests": "6ms",
        "x-ratelimit-reset-tokens": "0s"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "embedding",
            "index": 0,
            "embedding": "GKAFPsWA3b7iBTM9M6QDPywHjj03ILy\u002BS9Zfvnlx8z4qGI28NgGuvg=="
          }
        ],
        "model": "text-embedding-3-small",
        "usage": {
          "prompt_tokens": 1,
          "total_tokens": 1
        }
      }
    },
[...]
