{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Triage Resource Provider - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/simplifiedSolutions/testResource9125?api-version=2024-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "solutionId": "9004345-7759",
          "parameters": {
            "SearchText": "Can not RDP"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/simplifiedSolutions/testResource9125/operationResults/b47b9074-947f-4c56-ac07-91e393569899?api-version=2024-03-01-preview&t=638506013108170994&c=MIIHKjCCBhKgAwIBAgITHgRy5Oci-xrmzRVcTAAABHLk5zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNDMwMTgzMjQzWhcNMjUwNDI1MTgzMjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/simplifiedSolutions/testResource9125?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/DiagnosticsRp-Gateway-Public-Dev-Global/providers/Microsoft.KeyVault/vaults/DiagRpGwPubDev/providers/Microsoft.Help/simplifiedSolutions/testResource9125",
        "name": "testResource9125",
        "type": "Microsoft.Help/simplifiedSolutions",
        "properties": {
          "title": "Catch-all: Microsoft Graph API issues",
          "content": "<h2>Troubleshoot issues with the Microsoft Graph API</h2>\n<p><strong>Notice:</strong> Azure Active Directory (Azure AD) is being renamed to Microsoft Entra ID. No customer action is required. Capabilities, licensing, pricing, service level agreements, APIs, authentication and developer experiences are not impacted. <a href=\"https://learn.microsoft.com/azure/active-directory/fundamentals/new-name\">Learn more</a>.</p>\n<p>Use the following guidance to troubleshoot Microsoft Graph API issues, including issues related to authentication, authorization, and API. You'll also find information about the end of support for Azure AD Authentication Library (ADAL) and Azure AD Graph API.</p>\n<p>Scan the following headings and select one or more that will help resolve your issue.</p>\n<div class=\"simplified-solution-section\"><br /><h2>End of support for Azure AD Graph API and Azure Active Directory Authentication Library</h2><h3>Azure Active Directory Graph API deprecation</h3>\n<p><em>Azure AD Graph APIs will be retired by March 30, 2024.</em> See <a href=\"https://techcommunity.microsoft.com/t5/microsoft-entra-azure-ad-blog/important-azure-ad-graph-retirement-and-powershell-module/ba-p/3848270\">Important: Azure AD Graph Retirement and Powershell Module Deprecation</a>. We want to make sure that all customers migrate off and discourage applications from taking production dependencies on Azure AD Graph. Investments in the new features and functionalities will be made only to [...]
