{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334525830903529?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80712641D7F0\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334525830903529?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidAuthenticationInfo</Code><Message>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.\n",
        "RequestId:d1bd6d64-f01e-0066-2f5a-b2b7c0000000\n",
        "Time:2026-03-12T19:54:20.7415064Z</Message><AuthenticationErrorDetail>Audience validation failed. Audience did not match.</AuthenticationErrorDetail></Error>"
      ]
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334525830903529?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80712641D7F0\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:54:19 GMT",
        "x-ms-default-encryption-scope": "fakeencryptionscope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334525830903529?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "filesystem": "filesystem177334525830903529"
  }
}
