{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:46:35 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "XXtcw\u002BaMs0Czr9CHHImkXQ.0",
        "X-Processing-Time": "143ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 15:46:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PWDRnXQOYEiyZUEbeYI\u002BpA.0",
        "X-Processing-Time": "114ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "970375801"
  }
}
