{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:52:54 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lylDga7AREebUw6idXs0lQ.0",
        "X-Processing-Time": "295ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:52:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "WJIVjLod1UC\u002BrJX8U7K9oA.0",
        "X-Processing-Time": "217ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1929071105"
  }
}
