{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 02 May 2025 09:23:29 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "727ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 02 May 2025 09:23:31 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv4"
          },
          "sbs2-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": {
            "sipSignalingPort": 1123,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv6"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "970ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv4"
          },
          "sbs2-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": {
            "sipSignalingPort": 1123,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 02 May 2025 09:23:32 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers'",
            "name": "Rule without trunks",
            "numberPattern": "\\+[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "348ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv4"
          },
          "sbs2-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": {
            "sipSignalingPort": 1123,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": [
          {
            "description": "Handle all numbers'",
            "name": "Rule without trunks",
            "numberPattern": "\\+[1-9][0-9]{3,23}",
            "callerIdOverride": null,
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 02 May 2025 09:23:34 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": null,
          "sbs2-4e4aea92-0fa1-d835-c491-8c4cb67f6160.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "365ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "698585695"
  }
}
