{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:03 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "TeVBeeeYkEuhWLgL6uKMUg.0",
        "X-Processing-Time": "144ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:03 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-28544fa9-a07a-a3bb-582e-e977bc6686d6.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-28544fa9-a07a-a3bb-582e-e977bc6686d6.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4R\u002BnUz\u002BC8UuiEajGOozJ/g.0",
        "X-Processing-Time": "679ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-28544fa9-a07a-a3bb-582e-e977bc6686d6.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-28544fa9-a07a-a3bb-582e-e977bc6686d6.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:04 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "RZaWLWYniUmQPpWWVNIuRA.0",
        "X-Processing-Time": "147ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-28544fa9-a07a-a3bb-582e-e977bc6686d6.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-28544fa9-a07a-a3bb-582e-e977bc6686d6.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:05 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-28544fa9-a07a-a3bb-582e-e977bc6686d6.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "J0Q6WvMWU0qyOGUAvieSsg.0",
        "X-Processing-Time": "145ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1969228196"
  }
}
