{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip:testRoutesWithNumber?targetPhoneNumber=%2B11234567890&api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 02 May 2025 08:33:28 GMT"
      },
      "RequestBody": {
        "domains": {},
        "trunks": {},
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "matchingRoutes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 02 May 2025 08:33:28 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "370ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 02 May 2025 08:33:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "123ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1708443843"
  }
}
