{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Jul 2025 16:30:54 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers'",
            "name": "Rule without trunks",
            "numberPattern": "\\+[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "1341ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": [
          {
            "description": "Handle all numbers'",
            "name": "Rule without trunks",
            "numberPattern": "\\+[1-9][0-9]{3,23}",
            "callerIdOverride": null,
            "trunks": []
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Jul 2025 16:30:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-version[...]
