{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-123456789.testdomain.com": {
            "sipSignalingPort": 5555
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "1174ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          },
          "new-domain038a44fb-4045-4023-bd2b-2c701008edb6.testdomain.com": {
            "enabled": false
          }
        },
        "trunks": {
          "sbs1-123456789.testdomain.com": {
            "sipSignalingPort": 5555,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv4"
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 07 Jul 2025 22:28:04 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "631ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          },[...]
