{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:37 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gKKXg8wF3EisTfJ70OS/pw.0",
        "X-Processing-Time": "146ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:37 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "pb\u002BvSTgS3keAZGAN6vroZA.0",
        "X-Processing-Time": "677ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:38 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6jKofnBcp0e/NRZ\u002BOIqRDw.0",
        "X-Processing-Time": "142ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:22:39 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": null,
          "sbs2-e9543b19-f5dc-f473-375c-9c0af39b9603.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "V5L886UdekSHjWVQpBH8bg.0",
        "X-Processing-Time": "176ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "445710914"
  }
}
