{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:53:27 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "D7k158wjD0quYTeu\u002Bf8e\u002Bw.0",
        "X-Processing-Time": "499ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:53:29 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": {
            "sipSignalingPort": 1123
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ES4sVJqxx0KYGQdt4XfZZQ.0",
        "X-Processing-Time": "1441ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:53:30 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6IbCDBewkk2aN0/XrXQrsg.0",
        "X-Processing-Time": "281ms"
      },
      "ResponseBody": {
        "trunks": {
          "sbs1-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": {
            "sipSignalingPort": 1122
          },
          "sbs2-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": {
            "sipSignalingPort": 1123
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Rule without trunks",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:53:33 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": null,
          "sbs2-a7006114-3767-cd1e-1f73-5b34bc6925fb.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MNwsK3IBQUepifZWzftPeg.0",
        "X-Processing-Time": "368ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1204970966"
  }
}
