{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 May 2025 11:29:15 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "352ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 May 2025 11:29:16 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-123456789.testdomain.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv4"
          },
          "sbs2-123456789.testdomain.com": {
            "sipSignalingPort": 1123,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv6"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "756ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1-123456789.testdomain.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv4"
          },
          "sbs2-123456789.testdomain.com": {
            "sipSignalingPort": 1123,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 May 2025 11:29:17 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers'",
            "name": "Rule without trunks",
            "numberPattern": "\\+[1-9][0-9]{3,23}",
            "trunks": []
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "347ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1-123456789.testdomain.com": {
            "sipSignalingPort": 1122,
            "enabled": true,
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv4"
          },
          "sbs2-123456789.testdomain.com": {
            "sipSignalingPort": 1123,
            "enabled": false,
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": [
          {
            "description": "Handle all numbers'",
            "name": "Rule without trunks",
            "numberPattern": "\\+[1-9][0-9]{3,23}",
            "callerIdOverride": null,
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview&expand=trunks%2Fhealth",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 May 2025 11:29:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "254ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {
          "sbs1-123456789.testdomain.com": {
            "sipSignalingPort": 9999,
            "enabled": true,
            "health": {
              "tls": {
                "status": "unknown"
              },
              "ping": {
                "status": "unknown"
              },
              "overall": {
                "status": "unknown"
              }
            },
            "directTransfer": true,
            "privacyHeader": "none",
            "ipAddressVersion": "ipv4"
          },
          "sbs2-123456789.testdomain.com": {
            "sipSignalingPort": 1123,
            "enabled": false,
            "health": {
              "tls": {
                "status": "unknown"
              },
              "ping": {
                "status": "unknown"
              },
              "overall": {
                "status": "unknown"
              }
            },
            "directTransfer": false,
            "privacyHeader": "id",
            "ipAddressVersion": "ipv6"
          }
        },
        "routes": [
          {
            "description": "Handle all numbers'",
            "name": "Rule without trunks",
            "numberPattern": "\\+[1-9][0-9]{3,23}",
            "callerIdOverride": null,
            "trunks": []
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2024-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 05 May 2025 11:29:18 GMT"
      },
      "RequestBody": {
        "trunks": {
          "sbs1-123456789.testdomain.com": null,
          "sbs2-123456789.testdomain.com": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview, 2024-11-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "418ms"
      },
      "ResponseBody": {
        "domains": {
          "testdomain.com": {
            "enabled": true
          }
        },
        "trunks": {},
        "routes": []
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "567677845"
  }
}
