{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:47:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FFB89160B\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:47:01 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:47:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FFBAE2820\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:47:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-20T05:47:01.9220000Z",
        "x-ms-file-creation-time": "2023-10-20T05:47:01.9220000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-20T05:47:01.9220000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring/innerdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:47:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FFBDC097C\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:47:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-20T05:47:02.2226812Z",
        "x-ms-file-creation-time": "2023-10-20T05:47:02.2226812Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-20T05:47:02.2226812Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring/innerdir1/innerdir2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:47:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FFBFF9622\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:47:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-20T05:47:02.4556578Z",
        "x-ms-file-creation-time": "2023-10-20T05:47:02.4556578Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-10-20T05:47:02.4556578Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:47:02 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
