{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:18:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD53B583C3E23\u0022",
        "Last-Modified": "Wed, 25 Oct 2023 09:18:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir/parentgodirdircreatedeletenegativemultileveldir/subdirgodirdircreatedeletenegativemultileveldir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:18:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EParentNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified parent path does not exist.\n",
        "RequestId:cd31b4e3-701a-009b-3924-07dfb3000000\n",
        "Time:2023-10-25T09:18:26.5556569Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir/parentgodirdircreatedeletenegativemultileveldir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:18:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD53B588DFB86\u0022",
        "Last-Modified": "Wed, 25 Oct 2023 09:18:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-25T09:18:26.8543878Z",
        "x-ms-file-creation-time": "2023-10-25T09:18:26.8543878Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-25T09:18:26.8543878Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir/parentgodirdircreatedeletenegativemultileveldir/subdirgodirdircreatedeletenegativemultileveldir?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:18:29 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD53B58B0C5AD\u0022",
        "Last-Modified": "Wed, 25 Oct 2023 09:18:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-25T09:18:27.0823853Z",
        "x-ms-file-creation-time": "2023-10-25T09:18:27.0823853Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-10-25T09:18:27.0823853Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:18:30 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
