{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 13:06:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D8DC28F5EB\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 13:06:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 13:06:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D8DC52A880\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 13:06:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-12T13:06:52.4008576Z",
        "x-ms-file-creation-time": "2023-07-12T13:06:52.4008576Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-12T13:06:52.4008576Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?comp=properties\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 13:06:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D8DC7D82E9\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 13:06:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-12T13:06:52.6817001Z",
        "x-ms-file-creation-time": "2023-07-12T13:06:52.4008576Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-12T13:06:52.4008576Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 13:06:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D8DC7D82E9\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 13:06:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-12T13:06:52.6817001Z",
        "x-ms-file-creation-time": "2023-07-12T13:06:52.4008576Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-12T13:06:52.4008576Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 13:06:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
