{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8997ACF961\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 05:44:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/godirdirectoryrenameignorereadonly?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8997DE111F\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 05:44:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-14T05:44:57.5422751Z",
        "x-ms-file-creation-time": "2023-08-14T05:44:57.5422751Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-14T05:44:57.5422751Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C899810B27E\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 05:44:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-14T05:44:57.8740862Z",
        "x-ms-file-creation-time": "2023-08-14T05:44:57.8740862Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-08-14T05:44:57.8740862Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:58 GMT",
        "x-ms-file-attributes": "ReadOnly",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8998457675\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 05:44:58 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2023-08-14T05:44:58.2198901Z",
        "x-ms-file-creation-time": "2023-08-14T05:44:58.2198901Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-08-14T05:44:58.2198901Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile?comp=rename\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:58 GMT",
        "x-ms-file-rename-source": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/godirdirectoryrenameignorereadonly",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified resource already exists.\n",
        "RequestId:1d5ac055-201a-0032-7e72-cec598000000\n",
        "Time:2023-08-14T05:44:58.5507904Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile?comp=rename\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:58 GMT",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/godirdirectoryrenameignorereadonly",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ReadOnlyAttribute",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EReadOnlyAttribute\u003C/Code\u003E\u003CMessage\u003EThe specified resource is read-only and cannot be modified at this time.\n",
        "RequestId:1d5ac056-201a-0032-7f72-cec598000000\n",
        "Time:2023-08-14T05:44:58.8955960Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile?comp=rename\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:59 GMT",
        "x-ms-file-rename-ignore-readonly": "true",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/godirdirectoryrenameignorereadonly",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8998E1C6BA\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 05:44:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-14T05:44:59.2443066Z",
        "x-ms-file-creation-time": "2023-08-14T05:44:57.5422751Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-14T05:44:57.5422751Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:44:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8998E1C6BA\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 05:44:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-14T05:44:59.2443066Z",
        "x-ms-file-creation-time": "2023-08-14T05:44:57.5422751Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-14T05:44:57.5422751Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 05:45:00 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
