{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:56:24 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB5786247BBC07\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:56:25 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:56:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578624A4098A\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:56:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-05-18T09:56:25.5021450Z",
        "x-ms-file-creation-time": "2023-05-18T09:56:25.5021450Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:56:25.5021450Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?comp=properties\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:56:25 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578624CBFDF5\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:56:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-05-18T09:56:25.7639925Z",
        "x-ms-file-creation-time": "2023-05-18T09:56:25.5021450Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:56:25.5021450Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:56:25 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578624CBFDF5\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:56:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-05-18T09:56:25.7639925Z",
        "x-ms-file-creation-time": "2023-05-18T09:56:25.5021450Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:56:25.5021450Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:56:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
