{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenameignorereadonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:20:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7894EE9FA75F\"",
        "Last-Modified": "Mon, 20 May 2024 06:20:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenameignorereadonly/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Mon, 20 May 2024 06:20:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7894EEC75487\"",
        "Last-Modified": "Mon, 20 May 2024 06:20:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T06:20:23.6301447Z",
        "x-ms-file-creation-time": "2024-05-20T06:20:23.6301447Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T06:20:23.6301447Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenameignorereadonly/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:20:24 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceAlreadyExists",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The specified resource already exists.\n",
        "RequestId:fb7fae3b-901a-003a-457d-aa04ce000000\n",
        "Time:2024-05-20T06:20:24.1307760Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenameignorereadonly/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:20:24 GMT",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ReadOnlyAttribute",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ReadOnlyAttribute</Code><Message>The specified resource is read-only and cannot be modified at this time.\n",
        "RequestId:fb7fae3c-901a-003a-467d-aa04ce000000\n",
        "Time:2024-05-20T06:20:24.3776921Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenameignorereadonly/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:20:24 GMT",
        "x-ms-file-rename-ignore-readonly": "true",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7894EF5F8E00\"",
        "Last-Modified": "Mon, 20 May 2024 06:20:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T06:20:24.6277632Z",
        "x-ms-file-creation-time": "2024-05-20T06:20:23.6301447Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T06:20:23.6301447Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenameignorereadonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:20:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
