{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosclearrangenondefaultcount?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:30:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD7D06BB36\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:30:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosclearrangenondefaultcount/gotestfileclearrangenondefaultcount",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:30:47 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD7D366F9A\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:30:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:30:49.2983194Z",
        "x-ms-file-creation-time": "2023-08-04T09:30:49.2983194Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:30:49.2983194Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosclearrangenondefaultcount/gotestfileclearrangenondefaultcount?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:30:48 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "QQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy\u002BKQ==",
        "ETag": "\u00220x8DB94CD7D64F2A5\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:30:49 GMT",
        "x-ms-file-last-write-time": "2023-08-04T09:30:49.6031397Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosclearrangenondefaultcount/gotestfileclearrangenondefaultcount?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:30:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DB94CD7D64F2A5\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:30:49 GMT",
        "x-ms-content-length": "1",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E0\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosclearrangenondefaultcount/gotestfileclearrangenondefaultcount",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:30:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB94CD7DBFD619\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:30:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:30:50.1987865Z",
        "x-ms-file-creation-time": "2023-08-04T09:30:49.2983194Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:30:50.1987865Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "AA=="
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosclearrangenondefaultcount?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:30:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
