{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetaccesspolicymorethanfive?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:29:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764B77183330\"",
        "Last-Modified": "Fri, 17 May 2024 08:29:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetaccesspolicymorethanfive?comp=acl&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Fri, 17 May 2024 08:29:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<SignedIdentifiers><SignedIdentifier><Id>0</Id><AccessPolicy><Permission>r</Permission><Expiry>2023-03-31T20:05:00Z</Expiry><Start>2023-03-31T20:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>1</Id><AccessPolicy><Permission>c</Permission><Expiry>2023-03-31T20:05:00Z</Expiry><Start>2023-03-31T20:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>2</Id><AccessPolicy><Permission>w</Permission><Expiry>2023-03-31T20:05:00Z</Expiry><Start>2023-03-31T20:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>3</Id><AccessPolicy><Permission>d</Permission><Expiry>2023-03-31T20:05:00Z</Expiry><Start>2023-03-31T20:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>4</Id><AccessPolicy><Permission>l</Permission><Expiry>2023-03-31T20:05:00Z</Expiry><Start>2023-03-31T20:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>5</Id><AccessPolicy><Permission>rcwdl</Permission><Expiry>2023-03-31T20:05:00Z</Expiry><Start>2023-03-31T20:00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\n",
        "RequestId:8699f6a4-901a-0048-2134-a80381000000\n",
        "Time:2024-05-17T08:29:27.4946358Z</Message><LineNumber>0</LineNumber><LinePosition>0</LinePosition><Reason /></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetaccesspolicymorethanfive?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:29:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
