{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5934517FF\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A59357C909\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-10T07:36:04.6913801Z",
        "x-ms-file-creation-time": "2025-02-10T07:36:04.6913801Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-10T07:36:04.6913801Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1195471784683846435*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/subdir0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5936979AD\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-10T07:36:04.8073133Z",
        "x-ms-file-creation-time": "2025-02-10T07:36:04.8073133Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-10T07:36:04.8073133Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1195471784683846435*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/gotestfiledirlistfilesanddirsinsidedir0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:04 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A593C5E3F5\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-10T07:36:05.4129653Z",
        "x-ms-file-creation-time": "2025-02-10T07:36:05.4129653Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-02-10T07:36:05.4129653Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?comp=list&include=Timestamps%2CEtag%2CAttributes%2CPermissionKey&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://tanyastoragegosdk.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirsinsidedir\" DirectoryPath=\"godirdirlistfilesanddirsinsidedir\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>gotestfiledirlistfilesanddirsinsidedir0</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>0</Content-Length><CreationTime>2025-02-10T07:36:05.4129653Z</CreationTime><LastAccessTime>2025-02-10T07:36:05.4129653Z</LastAccessTime><LastWriteTime>2025-02-10T07:36:05.4129653Z</LastWriteTime><ChangeTime>2025-02-10T07:36:05.4129653Z</ChangeTime><Last-Modified>Mon, 10 Feb 2025 07:36:05 GMT</Last-Modified><Etag>\"0x8DD49A593C5E3F5\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>15054659525319803940*8668318031993023658</PermissionKey></File><File><Name>gotestfiledirlistfilesanddirsinsidedir1</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>0</Content-Length><CreationTime>2025-02-10T07:36:05.5598808Z</CreationTime><LastAccessTime>2025-02-10T07:36:05.5598808Z</LastAccessTime><LastWriteTime>2025-02-10T07:36:05.5598808Z</LastWriteTime><ChangeTime>2025-02-10T07:36:05.5598808Z</ChangeTime><Last-Modified>Mon, 10 Feb 2025 07:36:05 GMT</Last-Modified><Etag>\[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
