{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF603CF845EF\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 07:07:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative/srcgotestfilefileresizeinvalidsizenegative",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF603D1F3278\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 07:07:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-07T07:07:43.8366328Z",
        "x-ms-file-creation-time": "2023-11-07T07:07:43.8366328Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-07T07:07:43.8366328Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative/srcgotestfilefileresizeinvalidsizenegative?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "-4",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EOutOfRangeInput\u003C/Code\u003E\u003CMessage\u003EThe file size exceeds the maximum permissible limit.\n",
        "RequestId:49f8e827-f01a-005e-6749-11f556000000\n",
        "Time:2023-11-07T07:07:44.0743786Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
