{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:29:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD417D8EDF\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:29:08 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD41B12D5D\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-04T09:29:09.4394205Z",
        "x-ms-file-creation-time": "2023-08-04T09:29:09.4394205Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:29:09.4394205Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring/innerdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:29:08 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD41E136CC\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-04T09:29:09.7542348Z",
        "x-ms-file-creation-time": "2023-08-04T09:29:09.7542348Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-08-04T09:29:09.7542348Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring/innerdir1/innerdir2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:29:08 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD42116739\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-04T09:29:10.0700473Z",
        "x-ms-file-creation-time": "2023-08-04T09:29:10.0700473Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-08-04T09:29:10.0700473Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:29:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
