{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnondefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:27:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD53CA2B1EEF4\u0022",
        "Last-Modified": "Wed, 25 Oct 2023 09:27:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnondefault?comp=snapshot\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:27:43 GMT",
        "x-ms-meta-bar": "barvalue",
        "x-ms-meta-foo": "foovalue",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD53CA2D9E480\u0022",
        "Last-Modified": "Wed, 25 Oct 2023 09:27:41 GMT",
        "x-ms-snapshot": "2023-10-25T09:27:41.0000000Z",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list\u0026include=metadata%2Csnapshots\u0026prefix=gossharecreatesnapshotnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:27:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://teststorageaccounttanya.file.core.windows.net/\u0022\u003E\u003CPrefix\u003Egossharecreatesnapshotnondefault\u003C/Prefix\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Egossharecreatesnapshotnondefault\u003C/Name\u003E\u003CSnapshot\u003E2023-10-25T09:27:41.0000000Z\u003C/[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnondefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:27:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
