{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:31 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578670010438\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:31 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/srcgotestfilefilestartcopydifferentproperties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:31 GMT",
        "x-ms-file-attributes": "System",
        "x-ms-file-creation-time": "2023-03-31T20:01:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T20:02:00.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578670283E06\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:32 GMT",
        "x-ms-file-attributes": "System | Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:32.1976838Z",
        "x-ms-file-creation-time": "2023-03-31T20:01:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T20:02:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/dstgotestfilefilestartcopydifferentproperties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/srcgotestfilefilestartcopydifferentproperties",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:32 GMT",
        "x-ms-file-attributes": "ReadOnly",
        "x-ms-file-creation-time": "2023-03-31T20:05:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T20:06:00.0000000Z",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57867055AFEB\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:32 GMT",
        "x-ms-copy-id": "514cac60-e7a4-4b5c-a9b3-1cc99fb5ade8",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/dstgotestfilefilestartcopydifferentproperties",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:36 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB57867055AFEB\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:32 GMT",
        "x-ms-copy-completion-time": "Thu, 18 May 2023 09:58:32 GMT",
        "x-ms-copy-id": "514cac60-e7a4-4b5c-a9b3-1cc99fb5ade8",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/srcgotestfilefilestartcopydifferentproperties",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:32.4955115Z",
        "x-ms-file-creation-time": "2023-03-31T20:05:00.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-03-31T20:06:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:36 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
