{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributefalse?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E518BFF5292\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributefalse/srcgotestfilefilestartcopysetarchiveattributefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:48 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E518C2FF9F6\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:48 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Archive",
        "x-ms-file-change-time": "2023-08-16T12:08:48.4551158Z",
        "x-ms-file-creation-time": "2023-08-16T12:08:48.4551158Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-16T12:08:48.4551158Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributefalse/dstgotestfilefilestartcopysetarchiveattributefalse",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributefalse/srcgotestfilefilestartcopysetarchiveattributefalse",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:48 GMT",
        "x-ms-file-attributes": "ReadOnly|System",
        "x-ms-file-copy-set-archive": "false",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E518C613C0A\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:48 GMT",
        "x-ms-copy-id": "f326f2a1-8e06-4827-b195-8e98b91f90db",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributefalse/dstgotestfilefilestartcopysetarchiveattributefalse",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9E518C613C0A\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:48 GMT",
        "x-ms-copy-completion-time": "Wed, 16 Aug 2023 12:08:48 GMT",
        "x-ms-copy-id": "f326f2a1-8e06-4827-b195-8e98b91f90db",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributefalse/srcgotestfilefilestartcopysetarchiveattributefalse",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | System",
        "x-ms-file-change-time": "2023-08-16T12:08:48.7779338Z",
        "x-ms-file-creation-time": "2023-08-16T12:08:48.7779338Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-08-16T12:08:48.7779338Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributefalse?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
