{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:35:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764C49A09922\"",
        "Last-Modified": "Fri, 17 May 2024 08:35:20 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/srcgotestfilefilestartcopydifferentproperties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 17 May 2024 08:35:19 GMT",
        "x-ms-file-attributes": "System",
        "x-ms-file-change-time": "2023-03-31T20:03:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T20:01:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T20:02:00.0000000Z",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764C49C5E7B7\"",
        "Last-Modified": "Fri, 17 May 2024 08:35:20 GMT",
        "x-ms-file-attributes": "System | Archive",
        "x-ms-file-change-time": "2023-03-31T20:03:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T20:01:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T20:02:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/dstgotestfilefilestartcopydifferentproperties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:35:19 GMT",
        "x-ms-file-attributes": "ReadOnly",
        "x-ms-file-change-time": "2023-03-31T20:07:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T20:05:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T20:06:00.0000000Z",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764C49FDCFDA\"",
        "Last-Modified": "Fri, 17 May 2024 08:35:21 GMT",
        "x-ms-copy-id": "a7215d3d-7c24-49a0-8ae6-afd0d746b44d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties/dstgotestfilefilestartcopydifferentproperties",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:35:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC764C49FDCFDA\"",
        "Last-Modified": "Fri, 17 May 2024 08:35:21 GMT",
        "x-ms-copy-completion-time": "Fri, 17 May 2024 08:35:21 GMT",
        "x-ms-copy-id": "a7215d3d-7c24-49a0-8ae6-afd0d746b44d",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2023-03-31T20:07:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T20:05:00.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-03-31T20:06:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydifferentproperties?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:35:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
