{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetmetadatausingoauth?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:29:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD56624047\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetmetadatausingoauth/godirdirectorysetmetadatausingoauth?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD5713887A\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-04T09:29:45.3161594Z",
        "x-ms-file-creation-time": "2023-08-04T09:29:45.3161594Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:29:45.3161594Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetmetadatausingoauth/godirdirectorysetmetadatausingoauth?comp=metadata\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-Bar": "bArvaLue",
        "x-ms-meta-Foo": "FooValuE",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD57442E02\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetmetadatausingoauth/godirdirectorysetmetadatausingoauth?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD57442E02\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:29:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-04T09:29:45.6349698Z",
        "x-ms-file-creation-time": "2023-08-04T09:29:45.3161594Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:29:45.3161594Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-meta-Bar": "bArvaLue",
        "x-ms-meta-Foo": "FooValuE",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetmetadatausingoauth?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:29:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
