{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3D87EA54E\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3D8927BEC\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:12.2524140Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:12.2524140Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:12.2524140Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-transform",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-encoding": "gzip",
        "x-ms-content-language": "en",
        "x-ms-content-md5": "TURBd01EQXdNREE9",
        "x-ms-content-type": "text/html",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3D8AFEAAF\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:12.4453039Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:12.2524140Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:12.2524140Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:10 GMT",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3D8C25E9A\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?comp=snapshot&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3D87EA54E\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:12 GMT",
        "x-ms-snapshot": "2025-02-06T15:35:12.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?sharesnapshot=2025-02-06T15%3A35%3A12.0000000Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en",
        "Content-MD5": "TURBd01EQXdNREE9",
        "Content-Type": "text/html",
        "ETag": "\"0x8DD46C3D8C25E9A\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:12.5662362Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:12.2524140Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:12.2524140Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
