{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:53:02 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BB05630893\"",
        "Last-Modified": "Mon, 20 May 2024 10:53:02 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix/0godirdirlistfilesanddirswithprefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:53:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BB058C7741\"",
        "Last-Modified": "Mon, 20 May 2024 10:53:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T10:53:02.7076929Z",
        "x-ms-file-creation-time": "2024-05-20T10:53:02.7076929Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T10:53:02.7076929Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix/0gotestfiledirlistfilesanddirswithprefix",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Mon, 20 May 2024 10:53:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BB071F0E1D\"",
        "Last-Modified": "Mon, 20 May 2024 10:53:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T10:53:05.3461021Z",
        "x-ms-file-creation-time": "2024-05-20T10:53:05.3461021Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2024-05-20T10:53:05.3461021Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix?comp=list&prefix=1&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:53:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirswithprefix\" DirectoryPath=\"\"><Prefix>1</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name>1godirdirlistfilesanddirswithprefix</Name><FileId>11529285414812647424</FileId><Properties /></Directory><File><Name>1gotestfiledirlistfilesanddirswithprefix</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:53:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
