{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreatedeletetrailingdot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3C4ABEDE3\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:34:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreatedeletetrailingdot/file..",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:36 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3C4C00328\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:34:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:34:38.9963560Z",
        "x-ms-file-creation-time": "2025-02-06T15:34:38.9963560Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:34:38.9963560Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreatedeletetrailingdot/file..",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD46C3C4C00328\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:34:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:34:38.9963560Z",
        "x-ms-file-creation-time": "2025-02-06T15:34:38.9963560Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:34:38.9963560Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreatedeletetrailingdot/file..",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreatedeletetrailingdot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
