{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizezero?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 10:28:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB310990BDA82A\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 10:28:55 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizezero/srcgotestfilefileresizezero",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10",
        "X-Ms-Date": "Thu, 30 Mar 2023 10:28:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB310990ED5965\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 10:28:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-03-30T10:28:55.8997861Z",
        "x-ms-file-creation-time": "2023-03-30T10:28:55.8997861Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-30T10:28:55.8997861Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizezero/srcgotestfilefileresizezero?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 30 Mar 2023 10:28:55 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "preserve",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB3109911526A4\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 10:28:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-03-30T10:28:56.1606308Z",
        "x-ms-file-creation-time": "2023-03-30T10:28:55.8997861Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-30T10:28:56.1606308Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizezero/srcgotestfilefileresizezero",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 10:28:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB3109911526A4\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 10:28:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-03-30T10:28:56.1606308Z",
        "x-ms-file-creation-time": "2023-03-30T10:28:55.8997861Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-30T10:28:56.1606308Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizezero?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 10:28:56 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
