{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:35:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A58E4D9016\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:35:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:35:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A58E5FEF12\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:35:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-10T07:35:56.3561746Z",
        "x-ms-file-creation-time": "2025-02-10T07:35:56.3561746Z",
        "x-ms-file-id": "0",
        "x-ms-file-last-write-time": "2025-02-10T07:35:56.3561746Z",
        "x-ms-file-parent-id": "0",
        "x-ms-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:35:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
