{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FB3026F81E\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:07:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename/gotestfilefilegetrangelistsupportrename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FB3051A9D6\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:07:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-21T18:07:12.9511382Z",
        "x-ms-file-creation-time": "2024-10-21T18:07:12.9511382Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-21T18:07:12.9511382Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename/gotestfilefilegetrangelistsupportrename?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:13 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0dZNDRlS0FCb3YyU0RnWmo2UmtLWXpKcHUwNHN3ZVFlazR1V0hPOG5kUG5ZbFowdG5GUzYxaGpuRlo1SWt2SUdHWTQ0ZUtBQm92MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0dZNDRlS0FCb3YyU0RnWmo2UmtLWXpKcHUwNHN3ZVFlazR1V0hPOG5kUG5ZbFowdG5GUzYxaGpuRlo1SWt2SUdHWTQ0ZUtBQm92MlNEZ1pqNlJrS1l6SnB1MDRzd2VRZWs0dVdITzhuZFBuWWxaMHRuRlM2MWhqbkZaNUlrdklHR1k0NGVLQUJvdjJTRGdaajZSa0tZekpwdTA0c3dlUWVrNHVXSE84bmRQbllsWjB0bkZTNjFoam5GWjVJa3ZJR0dZNDRlS0FCb3Y=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "BVlChgMQUnS6DpIOE6eziA==",
        "ETag": "\"0x8DCF1FB30750F95\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:07:13 GMT",
        "x-ms-file-last-write-time": "2024-10-21T18:07:13.1831189Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename?comp=snapshot&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:13 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FB3026F81E\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:07:12 GMT",
        "x-ms-snapshot": "2024-10-21T18:07:13.0000000Z",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:13 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FB30DDBBDD\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:07:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-21T18:07:13.8691037Z",
        "x-ms-file-creation-time": "2024-10-21T18:07:12.9511382Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-21T18:07:13.6440928Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename/file2?comp=rangelist&prevsharesnapshot=2024-10-21T18%3A07%3A13.0000000Z&sharesnapshot=2024-10-21T18%3A07%3A14.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:14 GMT",
        "x-ms-file-support-rename": "false",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "PreviousSnapshotNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>PreviousSnapshotNotFound</Code><Message>The previous snapshot was not found.\n",
        "RequestId:3750fe53-e01a-00eb-21e4-236644000000\n",
        "Time:2024-10-21T18:07:14.3314157Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename/file2?comp=rangelist&prevsharesnapshot=2024-10-21T18%3A07%3A13.0000000Z&sharesnapshot=2024-10-21T18%3A07%3A14.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:14 GMT",
        "x-ms-file-support-rename": "true",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DCF1FB30DDBBDD\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:07:13 GMT",
        "x-ms-content-length": "512",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range></Ranges>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetrangelistsupportrename?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:07:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
