{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:32 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB458CA3306910\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 12:57:33 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB458CA358DC71\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 12:57:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T12:57:34.1304945Z",
        "x-ms-file-creation-time": "2023-04-25T12:57:34.1304945Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-25T12:57:34.1304945Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/subdir0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB458CA37D7618\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 12:57:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T12:57:34.3703576Z",
        "x-ms-file-creation-time": "2023-04-25T12:57:34.3703576Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-04-25T12:57:34.3703576Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/gotestfiledirlistfilesanddirsinsidedir0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB458CA43F712D\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 12:57:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-04-25T12:57:35.6416301Z",
        "x-ms-file-creation-time": "2023-04-25T12:57:35.6416301Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2023-04-25T12:57:35.6416301Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?comp=list\u0026include=Timestamps%2CEtag%2CAttributes%2CPermissionKey\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://souravteststorage.file.core.windows.net/\u0022 ShareName=\u0022gosdirlistfilesanddirsinsidedir\u0022 DirectoryPath=\u0022godirdirlistfilesanddirsinsidedir\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u00[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:36 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
