{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharegetpropertiesnegative?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:07:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\n",
        "RequestId:ea0dbcf7-201a-002f-5818-a8137d000000\n",
        "Time:2024-05-17T05:07:55.0975172Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
