{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD08D3FEC4\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:18 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD093A8C3E\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-04-04T11:09:18.9259326Z",
        "x-ms-file-creation-time": "2023-04-04T11:09:18.9259326Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-04T11:09:18.9259326Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-transform",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-encoding": "gzip",
        "x-ms-content-language": "en",
        "x-ms-content-type": "text/html",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:18 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "preserve",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD09651867\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-04-04T11:09:19.2047719Z",
        "x-ms-file-creation-time": "2023-04-04T11:09:18.9259326Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-04T11:09:18.9259326Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:18 GMT",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD098B114B\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?comp=snapshot\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD08D3FEC4\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:18 GMT",
        "x-ms-snapshot": "2023-04-04T11:09:19.0000000Z",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?sharesnapshot=2023-04-04T11%3A09%3A19.0000000Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:19 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en",
        "Content-Type": "text/html",
        "ETag": "\u00220x8DB34FD098B114B\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-04-04T11:09:19.4536267Z",
        "x-ms-file-creation-time": "2023-04-04T11:09:18.9259326Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-04T11:09:18.9259326Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
