{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefiledeleteafterreleaselease?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:51:44 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D38BE54717A\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:51:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefiledeleteafterreleaselease/gotestfilenegativefiledeleteafterreleaselease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:51:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D38BE861BAE\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:51:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-12-17T06:51:45.7111982Z",
        "x-ms-file-creation-time": "2025-12-17T06:51:45.7111982Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-12-17T06:51:45.7111982Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10950351419671890465*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefiledeleteafterreleaselease/gotestfilenegativefiledeleteafterreleaselease?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:51:46 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D38BE861BAE\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:51:45 GMT",
        "x-ms-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefiledeleteafterreleaselease/gotestfilenegativefiledeleteafterreleaselease",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:51:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:1c8dd350-c01a-0023-0321-6f0da5000000\n",
        "Time:2025-12-17T06:51:46.3412196Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefiledeleteafterreleaselease?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:51:47 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
