{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789568747076\"",
        "Last-Modified": "Mon, 20 May 2024 06:23:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker/godirdirlistfilesanddirsmaxresultsandmarker0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7895689B3A8F\"",
        "Last-Modified": "Mon, 20 May 2024 06:23:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T06:23:48.0231567Z",
        "x-ms-file-creation-time": "2024-05-20T06:23:48.0231567Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T06:23:48.0231567Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker/gotestfiledirlistfilesanddirsmaxresultsandmarker0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78956A192827\"",
        "Last-Modified": "Mon, 20 May 2024 06:23:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T06:23:50.5261607Z",
        "x-ms-file-creation-time": "2024-05-20T06:23:50.5261607Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2024-05-20T06:23:50.5261607Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list&maxresults=2&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:51 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirsmaxresultsandmarker\" DirectoryPath=\"\"><MaxResults>2</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker0</Name><FileId>13835128424026341376</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker1</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker>1!60!Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjI-</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list&marker=1%2160%21Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjI-&maxresults=5&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:52 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirsmaxresultsandmarker\" DirectoryPath=\"\"><Marker>1!60!Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjI-</Marker><MaxResults>5</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker2</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker3</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker4</Name><FileId>14988049928633188352</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker5</Name><FileId>12682206919419494400</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker6</Name><FileId>17293892937846882304</FileId><Properties /></Directory></Entries><NextMarker>1!60!Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjc-</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list&marker=1%2160%21Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjc-&maxresults=5&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:52 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirsmaxresultsandmarker\" DirectoryPath=\"\"><Marker>1!60!Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjc-</Marker><MaxResults>5</MaxResults><DirectoryId>0</DirectoryId><Entries><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker7</Name><FileId>9799903157902376960</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker8</Name><FileId>14411589176329764864</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirsmaxresultsandmarker9</Name><FileId>12105746167116070912</FileId><Properties /></Directory><File><Name>gotestfiledirlistfilesanddirsmaxresultsandmarker0</Name><FileId>16717432185543458816</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirlistfilesanddirsmaxresultsandmarker1</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker>1!68!Z290ZXN0ZmlsZWRpcmxpc3RmaWxlc2FuZGRpcnNtYXhyZXN1bHRzYW5kbWFya2VyMg--</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list&marker=1%2168%21Z290ZXN0ZmlsZWRpcmxpc3RmaWxlc2FuZGRpcnNtYXhyZXN1bHRzYW5kbWFya2VyMg--&maxresults=5&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:52 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Response[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:23:52 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
