{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesnondefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5A2624D2E\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesnondefault/godirdirsetpropertiesnondefault?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5A2752C1C\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-10T07:36:30.0497948Z",
        "x-ms-file-creation-time": "2025-02-10T07:36:30.0497948Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-10T07:36:30.0497948Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1195471784683846435*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesnondefault/godirdirsetpropertiesnondefault?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:29 GMT",
        "x-ms-file-attributes": "ReadOnly|System|Directory",
        "x-ms-file-change-time": "2023-03-31T21:15:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T21:10:00.0000000Z",
        "x-ms-file-permission": "O:S-1-5-32-548G:S-1-5-21-397955417-626881126-188441444-512D:(A;;RPWPCCDCLCSWRCWDWOGA;;;S-1-0-0)",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5A287C703\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:30 GMT",
        "x-ms-file-attributes": "ReadOnly | System | Directory",
        "x-ms-file-change-time": "2023-03-31T21:15:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T21:10:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9980058187893366487*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesnondefault/godirdirsetpropertiesnondefault?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5A287C703\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:30 GMT",
        "x-ms-file-attributes": "ReadOnly | System | Directory",
        "x-ms-file-change-time": "2023-03-31T21:15:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T21:10:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9980058187893366487*8668318031993023658",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesnondefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
