{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopyoverridemode?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD20E783D4\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:58 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopyoverridemode/srcgotestfilefilestartcopyoverridemode",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD210F9A11\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-04-04T11:09:58.9098001Z",
        "x-ms-file-creation-time": "2023-04-04T11:09:58.9098001Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-04T11:09:58.9098001Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopyoverridemode/dstgotestfilefilestartcopyoverridemode",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopyoverridemode/srcgotestfilefilestartcopyoverridemode",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:09:58 GMT",
        "x-ms-file-permission": "O:S-1-5-32-548G:S-1-5-21-397955417-626881126-188441444-512D:(A;;RPWPCCDCLCSWRCWDWOGA;;;S-1-0-0)",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB34FD213AC253\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:59 GMT",
        "x-ms-copy-id": "2611ce02-7c2f-4f08-8351-14cb43820501",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopyoverridemode/dstgotestfilefilestartcopyoverridemode",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:10:02 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB34FD213AC253\u0022",
        "Last-Modified": "Tue, 04 Apr 2023 11:09:59 GMT",
        "x-ms-copy-completion-time": "Tue, 04 Apr 2023 11:09:59 GMT",
        "x-ms-copy-id": "2611ce02-7c2f-4f08-8351-14cb43820501",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopyoverridemode/srcgotestfilefilestartcopyoverridemode",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-04-04T11:09:59.1926355Z",
        "x-ms-file-creation-time": "2023-04-04T11:09:59.1926355Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-04-04T11:09:59.1926355Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5021161668285773797*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopyoverridemode?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 04 Apr 2023 11:10:03 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
