{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB31ABD241E059\u0022",
        "Last-Modified": "Fri, 31 Mar 2023 05:50:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault/myfile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB31ABD26CA431\u0022",
        "Last-Modified": "Fri, 31 Mar 2023 05:50:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-03-31T05:50:24.2561073Z",
        "x-ms-file-creation-time": "2023-03-31T05:50:24.2561073Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T05:50:24.2561073Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault?comp=snapshot\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:23 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB31ABD241E059\u0022",
        "Last-Modified": "Fri, 31 Mar 2023 05:50:23 GMT",
        "x-ms-snapshot": "2023-03-31T05:50:24.0000000Z",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault/myfile",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:24 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault/myfile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault/myfile?sharesnapshot=2023-03-31T05:50:24.0000000Z\u0026se=2023-04-02T05%3A50%3A24Z\u0026sig=6%2Bo9CHCoBljHEGb9B2h7MkKahUJhe6YyFaQ9bmX6rn0%3D\u0026sp=rw\u0026spr=https\u0026sr=s\u0026sv=2020-02-10",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:24 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB31ABD35E31E1\u0022",
        "Last-Modified": "Fri, 31 Mar 2023 05:50:25 GMT",
        "x-ms-copy-id": "cac79ffb-7d98-45b9-be7c-bcaca039b109",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault/myfile",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB31ABD35E31E1\u0022",
        "Last-Modified": "Fri, 31 Mar 2023 05:50:25 GMT",
        "x-ms-copy-completion-time": "Fri, 31 Mar 2023 05:50:25 GMT",
        "x-ms-copy-id": "cac79ffb-7d98-45b9-be7c-bcaca039b109",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault/myfile?sharesnapshot=2023-03-31T05:50:24.0000000Z\u0026se=2023-04-02T05%3A50%3A24Z\u0026sig=6%2Bo9CHCoBljHEGb9B2h7MkKahUJhe6YyFaQ9bmX6rn0%3D\u0026sp=rw\u0026spr=https\u0026sr=s\u0026sv=2020-02-10",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-03-31T05:50:25.8391521Z",
        "x-ms-file-creation-time": "2023-03-31T05:50:25.8391521Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-03-31T05:50:25.8391521Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault?restype=share\u0026sharesnapshot=2023-03-31T05%3A50%3A24.0000000Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotdefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 31 Mar 2023 05:50:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
