{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesfilepermissionformat?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 06:49:27 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF19C82733B72\"",
        "Last-Modified": "Mon, 21 Oct 2024 06:49:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesfilepermissionformat/godirdirsetpropertiesfilepermissionformat?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 06:49:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "Binary",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF19C82B8E5E0\"",
        "Last-Modified": "Mon, 21 Oct 2024 06:49:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-21T06:49:29.0115552Z",
        "x-ms-file-creation-time": "2024-10-21T06:49:29.0115552Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-21T06:49:29.0115552Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15339064582631435071*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesfilepermissionformat/godirdirsetpropertiesfilepermissionformat?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 06:49:29 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "O:S-1-5-32-548G:S-1-5-21-397955417-626881126-188441444-512D:(A;;RPWPCCDCLCSWRCWDWOGA;;;S-1-0-0)",
        "x-ms-file-permission-format": "sddl",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF19C82F583A3\"",
        "Last-Modified": "Mon, 21 Oct 2024 06:49:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-21T06:49:29.4088099Z",
        "x-ms-file-creation-time": "2024-10-21T06:49:29.0115552Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-21T06:49:29.0115552Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14140905907148525047*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesfilepermissionformat?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 06:49:30 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
