{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilesetmetadatanil?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3E82F151D\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilesetmetadatanil/gotestfilefilesetmetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:36 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3E842994D\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:38.5724237Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:38.5724237Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:38.5724237Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilesetmetadatanil/gotestfilefilesetmetadatanil?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:36 GMT",
        "x-ms-meta-Not": "nil",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3E855A956\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilesetmetadatanil/gotestfilefilesetmetadatanil",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD46C3E855A956\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:38.6973526Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:38.5724237Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:38.5724237Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Not": "nil",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilesetmetadatanil?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
