{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:55:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57860C88C9E5\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:55:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:55:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57860CB22D3F\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:55:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-05-18T09:55:45.3294911Z",
        "x-ms-file-creation-time": "2023-05-18T09:55:45.3294911Z",
        "x-ms-file-id": "0",
        "x-ms-file-last-write-time": "2023-05-18T09:55:45.3294911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:55:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
