{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:53:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BB206919FF\"",
        "Last-Modified": "Mon, 20 May 2024 10:53:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BB20F33D98\"",
        "Last-Modified": "Mon, 20 May 2024 10:53:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T10:53:48.6797208Z",
        "x-ms-file-creation-time": "2024-05-20T10:53:48.6797208Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T10:53:48.6797208Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth/godirdirectorylistusingoauth0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BB211C902B\"",
        "Last-Modified": "Mon, 20 May 2024 10:53:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T10:53:48.9505323Z",
        "x-ms-file-creation-time": "2024-05-20T10:53:48.9505323Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-20T10:53:48.9505323Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth/gotestfiledirectorylistusingoauth0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BB22BB752D\"",
        "Last-Modified": "Mon, 20 May 2024 10:53:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T10:53:51.6695853Z",
        "x-ms-file-creation-time": "2024-05-20T10:53:51.6695853Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2024-05-20T10:53:51.6695853Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth?comp=list&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirectorylistusingoauth\" DirectoryPath=\"godirdirectorylistusingoauth\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>godirdirectorylistusingoauth0</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth2</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth3</Name><FileId>14988049928633188352</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth4</Name><FileId>12682206919419494400</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth5</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth6</Name><FileId>9799903157902376960</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth7</Name><FileId>14411589176329764864</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth8</Name><FileId>12105746167116070912</FileId><Properties /></Directory><Directory><Name>godirdirectorylistusingoauth9</Name><FileId>16717432185543458816</FileId><Properties /></Directory><File><Name>gotestfiledirectorylistusingoauth0</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirectorylistusingoauth1</Name><FileId>15564510680936611840</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirectorylistusingoauth2</Name><FileId>13258667671722917888</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirectorylistusingoauth3</Name><FileId>17870353690150305792</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirectorylistusingoauth4</Name><FileId>9511672781750665216</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:53:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
