{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnondefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:07:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762F4B6D5115\"",
        "Last-Modified": "Fri, 17 May 2024 05:07:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnondefault?comp=snapshot&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:07:46 GMT",
        "x-ms-meta-bar": "barvalue",
        "x-ms-meta-foo": "foovalue",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762F4B61AA00\"",
        "Last-Modified": "Fri, 17 May 2024 05:07:48 GMT",
        "x-ms-snapshot": "2024-05-17T05:07:48.0000000Z",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list&include=metadata%2Csnapshots&prefix=gossharecreatesnapshotnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:07:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\"><Prefix>gossharecreatesnapshotnondefault</Prefix><Shares><Share><Name>gossharecreatesnapshotnondefault</Name><Snapshot>2024-05-17T05:07:48.0000000Z</Snapshot><Properties><Last-Modified>Fri, 17 May 2024 05:07:48 GMT</Last-Modified><Etag>\"0x8DC762F4B61AA00\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><bar>barvalue</bar><foo>foovalue</foo></Metadata></Share><Share><Name>gossharecreatesnapshotnondefault</Name><Properties><Last-Modified>Fri, 17 May 2024 05:07:48 GMT</Last-Modified><Etag>\"0x8DC762F4B6D5115\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 17 May 2024 05:07:48 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata /></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnondefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:07:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
