{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F496BDF4A39\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:56:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/godirdirectoryrenameignorereadonly?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F496C1843D7\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:56:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-19T21:56:11.1881175Z",
        "x-ms-file-creation-time": "2025-12-19T21:56:11.1881175Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-12-19T21:56:11.1881175Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F496C4A4895\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:56:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-19T21:56:11.5159189Z",
        "x-ms-file-creation-time": "2025-12-19T21:56:11.5159189Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-12-19T21:56:11.5159189Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:20 GMT",
        "x-ms-file-attributes": "ReadOnly",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F496C84FE7E\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:56:11 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2025-12-19T21:56:11.9006846Z",
        "x-ms-file-creation-time": "2025-12-19T21:56:11.9006846Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-12-19T21:56:11.9006846Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "10950351419671890465*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:20 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceAlreadyExists",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The specified resource already exists.\n",
        "RequestId:e39f201b-901a-003e-0132-710019000000\n",
        "Time:2025-12-19T21:56:12.2371523Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:20 GMT",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ReadOnlyAttribute",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ReadOnlyAttribute</Code><Message>The specified resource is read-only and cannot be modified at this time.\n",
        "RequestId:e39f201c-901a-003e-0232-710019000000\n",
        "Time:2025-12-19T21:56:12.6481818Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly/destDir/testFile?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:21 GMT",
        "x-ms-file-rename-ignore-readonly": "true",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F496D26F1B4\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:56:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-19T21:56:12.9620404Z",
        "x-ms-file-creation-time": "2025-12-19T21:56:11.1881175Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-12-19T21:56:11.1881175Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameignorereadonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:56:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
