{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosshareoauthnegative?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "FileOAuthManagementApiRestrictedToSrp"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EFileOAuthManagementApiRestrictedToSrp\u003C/Code\u003E\u003CMessage\u003EThis API does not support bearer tokens. For OAuth, use the Storage Resource Provider APIs instead. Learn more: https://aka.ms/azurefiles/restapi.\n",
        "RequestId:c5278175-501a-00c1-5a25-07b954000000\n",
        "Time:2023-10-25T09:28:01.4391769Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosshareoauthnegative?comp=properties\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "FileOAuthManagementApiRestrictedToSrp"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EFileOAuthManagementApiRestrictedToSrp\u003C/Code\u003E\u003CMessage\u003EThis API does not support bearer tokens. For OAuth, use the Storage Resource Provider APIs instead. Learn more: https://aka.ms/azurefiles/restapi.\n",
        "RequestId:c5278178-501a-00c1-5c25-07b954000000\n",
        "Time:2023-10-25T09:28:01.9708407Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosshareoauthnegative?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "FileOAuthManagementApiRestrictedToSrp"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EFileOAuthManagementApiRestrictedToSrp\u003C/Code\u003E\u003CMessage\u003EThis API does not support bearer tokens. For OAuth, use the Storage Resource Provider APIs instead. Learn more: https://aka.ms/azurefiles/restapi.\n",
        "RequestId:c5278179-501a-00c1-5d25-07b954000000\n",
        "Time:2023-10-25T09:28:02.2376689Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
