{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD94B82E3C\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:27 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD94EA2C53\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:31:29.0638419Z",
        "x-ms-file-creation-time": "2023-08-04T09:31:29.0638419Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:31:29.0638419Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-transform",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-encoding": "gzip",
        "x-ms-content-language": "en",
        "x-ms-content-md5": "TURBd01EQXdNREE9",
        "x-ms-content-type": "text/html",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD951A35CB\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:31:29.3786571Z",
        "x-ms-file-creation-time": "2023-08-04T09:31:29.0638419Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:31:29.0638419Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:28 GMT",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD95497C03\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?comp=snapshot\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD94B82E3C\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:28 GMT",
        "x-ms-snapshot": "2023-08-04T09:31:30.0000000Z",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot/gotestfilefilegetsetpropertiessnapshot?sharesnapshot=2023-08-04T09%3A31%3A30.0000000Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en",
        "Content-MD5": "TURBd01EQXdNREE9",
        "Content-Type": "text/html",
        "ETag": "\u00220x8DB94CD95497C03\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:31:29.6884739Z",
        "x-ms-file-creation-time": "2023-08-04T09:31:29.0638419Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:31:29.0638419Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiessnapshot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
