{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirssnapshot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:55:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F493F28A909\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:54:55 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirssnapshot/godirdirlistfilesanddirssnapshot0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:55:04 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F493F62BA6D\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:54:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-19T21:54:56.1786477Z",
        "x-ms-file-creation-time": "2025-12-19T21:54:56.1786477Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-12-19T21:54:56.1786477Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirssnapshot/gotestfiledirlistfilesanddirssnapshot0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:55:08 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F4941AFD150\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:55:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-12-19T21:55:00.0393040Z",
        "x-ms-file-creation-time": "2025-12-19T21:55:00.0393040Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2025-12-19T21:55:00.0393040Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10950351419671890465*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirssnapshot?comp=snapshot&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:55:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F493F28A909\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:54:55 GMT",
        "x-ms-snapshot": "2025-12-19T21:55:01.0000000Z",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirssnapshot?restype=directory&sharesnapshot=2025-12-19T21%3A55%3A01.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:55:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F4942E4C5EB\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:55:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-19T21:55:02.0640747Z",
        "x-ms-file-creation-time": "2025-12-19T21:55:02.0640747Z",
        "x-ms-file-id": "0",
        "x-ms-file-last-write-time": "2025-12-19T21:55:02.0640747Z",
        "x-ms-file-parent-id": "0",
        "x-ms-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirssnapshot?comp=list&restype=directory&sharesnapshot=2025-12-19T21%3A55%3A01.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:55:10 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://ibrandesstorage.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirssnapshot\" ShareSnapshot=\"2025-12-19T21:55:01.0000000Z\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>godirdirlistfilesanddirssnapshot0</Name><FileId>13835128424026341376</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot1</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot2</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot3</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot4</Name><FileId>14988049928633188352</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot5</Name><FileId>12682206919419494400</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot6</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot7</Name><FileId>9799903157902376960</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot8</Name><FileId>14411589176329764864</FileId><Properties /></Directory><Directory><Name>godirdirlistfilesanddirssnapshot9</Name><FileId>12105746167116070912</FileId><Properties /></Directory><File><Name>gotestfiledirlistfilesanddirssnapshot0</Name><FileId>16717432185543458816</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirlistfilesanddirssnapshot1</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirlistfilesanddirssnapshot2</Name><FileId>15564510680936611840</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirlistfilesanddirssnapshot3</Name><FileId>13258667671722917888</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>gotestfiledirlistfilesanddirssnapshot4</Name><FileId>17870353690150305792</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirssnapshot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:55:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
