{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefilestartcopydestreadonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:46:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0B23ADF985A\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 14:46:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefilestartcopydestreadonly/srcgotestfilenegativefilestartcopydestreadonly",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:46:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0B23B03A7DE\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 14:46:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-19T14:46:51.5908574Z",
        "x-ms-file-creation-time": "2023-10-19T14:46:51.5908574Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-19T14:46:51.5908574Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefilestartcopydestreadonly/dstgotestfilenegativefilestartcopydestreadonly",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:46:51 GMT",
        "x-ms-file-attributes": "ReadOnly",
        "x-ms-file-change-time": "now",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0B23B267214\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 14:46:51 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2023-10-19T14:46:51.8188564Z",
        "x-ms-file-creation-time": "2023-10-19T14:46:51.8188564Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-19T14:46:51.8188564Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefilestartcopydestreadonly/dstgotestfilenegativefilestartcopydestreadonly",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosnegativefilestartcopydestreadonly/srcgotestfilenegativefilestartcopydestreadonly",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:46:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ReadOnlyAttribute",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EReadOnlyAttribute\u003C/Code\u003E\u003CMessage\u003EThe specified resource is read-only and cannot be modified at this time.\n",
        "RequestId:ef9ea179-901a-0015-259b-020905000000\n",
        "Time:2023-10-19T14:46:52.0942807Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosnegativefilestartcopydestreadonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:46:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
