{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharedeletenegativenonexistent?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:07:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\n",
        "RequestId:ea0dbcd5-201a-002f-3e18-a8137d000000\n",
        "Time:2024-05-17T05:07:50.2727159Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
