{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:09 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB458C95725B5E\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 12:57:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir/parentgodirdircreatedeletenegativemultileveldir/subdirgodirdircreatedeletenegativemultileveldir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EParentNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified parent path does not exist.\n",
        "RequestId:74fca7da-e01a-005f-0875-7771d3000000\n",
        "Time:2023-04-25T12:57:11.0703339Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir/parentgodirdircreatedeletenegativemultileveldir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB458C95BF93A8\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 12:57:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T12:57:11.3155496Z",
        "x-ms-file-creation-time": "2023-04-25T12:57:11.3155496Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-04-25T12:57:11.3155496Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir/parentgodirdircreatedeletenegativemultileveldir/subdirgodirdircreatedeletenegativemultileveldir?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB458C95E7FD4C\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 12:57:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T12:57:11.5803980Z",
        "x-ms-file-creation-time": "2023-04-25T12:57:11.5803980Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-04-25T12:57:11.5803980Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletenegativemultileveldir?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 12:57:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
