{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:39:10 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB8214356A5DA6\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:39:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude/godirdirlistfilesanddirsinclude0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:39:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB8214359321EE\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:39:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-11T13:39:11.2848878Z",
        "x-ms-file-creation-time": "2023-07-11T13:39:11.2848878Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-11T13:39:11.2848878Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude/gotestfiledirlistfilesanddirsinclude0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:39:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82143724F93A\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:39:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-11T13:39:13.9183930Z",
        "x-ms-file-creation-time": "2023-07-11T13:39:13.9183930Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2023-07-11T13:39:13.9183930Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude?comp=list\u0026include=Timestamps%2CEtag%2CAttributes%2CPermissionKey\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:39:14 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://souravteststorage.file.core.windows.net/\u0022 ShareName=\u0022gosdirlistfilesanddirsinclude\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Egodirdirlistfilesanddirsinclude0\u003C/Name\u00[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:39:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
