{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789584CC0987\"",
        "Last-Modified": "Mon, 20 May 2024 06:24:35 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot/godirdirectorylisttrailingdot.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789584F319CA\"",
        "Last-Modified": "Mon, 20 May 2024 06:24:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T06:24:35.5752394Z",
        "x-ms-file-creation-time": "2024-05-20T06:24:35.5752394Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T06:24:35.5752394Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot/godirdirectorylisttrailingdot./dir%200..?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7895851914AE\"",
        "Last-Modified": "Mon, 20 May 2024 06:24:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T06:24:35.8241454Z",
        "x-ms-file-creation-time": "2024-05-20T06:24:35.8241454Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-20T06:24:35.8241454Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot/godirdirectorylisttrailingdot./dir%201?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7895853E9AEA\"",
        "Last-Modified": "Mon, 20 May 2024 06:24:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T06:24:36.0700650Z",
        "x-ms-file-creation-time": "2024-05-20T06:24:36.0700650Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-05-20T06:24:36.0700650Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot/godirdirectorylisttrailingdot./file%200..",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789586918A28\"",
        "Last-Modified": "Mon, 20 May 2024 06:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T06:24:38.2913064Z",
        "x-ms-file-creation-time": "2024-05-20T06:24:38.2913064Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2024-05-20T06:24:38.2913064Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot/godirdirectorylisttrailingdot./file%201",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789586B78516\"",
        "Last-Modified": "Mon, 20 May 2024 06:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T06:24:38.5402134Z",
        "x-ms-file-creation-time": "2024-05-20T06:24:38.5402134Z",
        "x-ms-file-id": "15564510680936611840",
        "x-ms-file-last-write-time": "2024-05-20T06:24:38.5402134Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot/godirdirectorylisttrailingdot.?comp=list&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirectorylisttrailingdot\" DirectoryPath=\"godirdirectorylisttrailingdot.\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>dir 0..</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>dir 1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>dir 2..</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>dir 3</Name><FileId>14988049928633188352</FileId><Properties /></Directory><Directory><Name>dir 4..</Name><FileId>12682206919419494400</FileId><Properties /></Directory><Directory><Name>dir 5</Name><FileId>17293892937846882304</FileId><Properties /></Directory><Directory><Name>dir 6..</Name><FileId>9799903157902376960</FileId><Properties /></Directory><Directory><Name>dir 7</Name><FileId>14411589176329764864</FileId><Properties /></Directory><Directory><Name>dir 8..</Name><FileId>12105746167116070912</FileId><Properties /></Directory><Directory><Name>dir 9</Name><FileId>16717432185543458816</FileId><Properties /></Directory><File><Name>file 0..</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>file 1</Name><FileId>15564510680936611840</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>file 2..</Name><FileId>13258667671722917888</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>file 3</Name><FileId>17870353690150305792</FileId><Properties><Content-Length>2048</Content-Length></Properties></File><File><Name>file 4..</Name><FileId>9511672781750665216</FileId><Properties><Content-Length>2048</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylisttrailingdot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:24:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
