{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharerestoresuccess?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:29:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC798939BB7CA4\"",
        "Last-Modified": "Tue, 21 May 2024 11:29:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list&include=deleted&prefix=gossharerestoresuccess",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:30:06 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\"><Prefix>gossharerestoresuccess</Prefix><Shares><Share><Name>gossharerestoresuccess</Name><Deleted>true</Deleted><Version>01DAA77D2CF1028C</Version><Properties><Last-Modified>Thu, 16 May 2024 10:38:22 GMT</Last-Modified><Etag>\"0x8DC75944F67F351\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>broken</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu, 16 May 2024 10:37:21 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><DeletedTime>Thu, 16 May 2024 10:38:23 GMT</DeletedTime><RemainingRetentionDays>1</RemainingRetentionDays></Properties></Share><Share><Name>gossharerestoresuccess</Name><Deleted>true</Deleted><Version>01DAA818596B9A48</Version><Properties><Last-Modified>Fri, 17 May 2024 05:09:09 GMT</Last-Modified><Etag>\"0x8DC762F7BE275D2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>broken</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 17 May 2024 05:08:08 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encrypti[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharerestoresuccess?comp=undelete&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:30:07 GMT",
        "x-ms-deleted-share-name": "gossharerestoresuccess",
        "x-ms-deleted-share-version": "01DAAB721746319B",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC79895E1DCFE3\"",
        "Last-Modified": "Tue, 21 May 2024 11:30:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list&prefix=gossharerestoresuccess",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:30:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\"><Prefix>gossharerestoresuccess</Prefix><Shares><Share><Name>gossharerestoresuccess</Name><Properties><Last-Modified>Tue, 21 May 2024 11:30:07 GMT</Last-Modified><Etag>\"0x8DC79895E1DCFE3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Tue, 21 May 2024 11:29:06 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharerestoresuccess?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:30:07 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
