{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:22:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764A9121F8A2\"",
        "Last-Modified": "Fri, 17 May 2024 08:23:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:23:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764A9148F6BE\"",
        "Last-Modified": "Fri, 17 May 2024 08:23:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-17T08:23:01.6903358Z",
        "x-ms-file-creation-time": "2024-05-17T08:23:01.6903358Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-17T08:23:01.6903358Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/subdir0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:23:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764A916E7CF8\"",
        "Last-Modified": "Fri, 17 May 2024 08:23:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-17T08:23:01.9362552Z",
        "x-ms-file-creation-time": "2024-05-17T08:23:01.9362552Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-17T08:23:01.9362552Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/gotestfiledirlistfilesanddirsinsidedir0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 17 May 2024 08:23:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC764A922D9AA9\"",
        "Last-Modified": "Fri, 17 May 2024 08:23:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-17T08:23:03.1887529Z",
        "x-ms-file-creation-time": "2024-05-17T08:23:03.1887529Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-05-17T08:23:03.1887529Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?comp=list&include=Timestamps%2CEtag%2CAttributes%2CPermissionKey&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:23:02 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirsinsidedir\" DirectoryPath=\"godirdirlistfilesanddirsinsidedir\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>gotestfiledirlistfilesanddirsinsidedir0</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>0</Content-Length><CreationTime>2024-05-17T08:23:03.1887529Z</CreationTime><LastAccessTime>2024-05-17T08:23:03.1887529Z</LastAccessTime><LastWriteTime>2024-05-17T08:23:03.1887529Z</LastWriteTime><ChangeTime>2024-05-17T08:23:03.1887529Z</ChangeTime><Last-Modified>Fri, 17 May 2024 08:23:03 GMT</Last-Modified><Etag>\"0x8DC764A922D9AA9\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>11408242485704529668*3959456104892465034</PermissionKey></File><File><Name>gotestfiledirlistfilesanddirsinsidedir1</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>0</Content-Length><CreationTime>2024-05-17T08:23:03.4645417Z</CreationTime><LastAccessTime>2024-05-17T08:23:03.4645417Z</LastAccessTime><LastWriteTime>2024-05-17T08:23:03.4645417Z</LastWriteTime><ChangeTime>2024-05-17T08:23:03.4645417Z</ChangeTime><Last-Modified>Fri, 17 May 2024 08:23:03 GMT</Last-Modified><Etag>\[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:23:03 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
