{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:26:29 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4590AE8614FC\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 13:26:30 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker/godirdirlistfilesanddirsmaxresultsandmarker0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:26:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4590AEAF44EF\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 13:26:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T13:26:31.1386351Z",
        "x-ms-file-creation-time": "2023-04-25T13:26:31.1386351Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-25T13:26:31.1386351Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker/gotestfiledirlistfilesanddirsmaxresultsandmarker0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:26:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4590B027A428\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 13:26:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-04-25T13:26:33.6052264Z",
        "x-ms-file-creation-time": "2023-04-25T13:26:33.6052264Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2023-04-25T13:26:33.6052264Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list\u0026maxresults=2\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:26:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://souravteststorage.file.core.windows.net/\u0022 ShareName=\u0022gosdirlistfilesanddirsmaxresultsandmarker\u0022 DirectoryPath=\u0022\u0022\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Egodirdirlistfilesanddirsmaxresultsandmarker0\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Egodirdirlistfilesanddirsmaxresultsandmarker1\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker\u003E1!60!Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjI-\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list\u0026marker=1%2160%21Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjI-\u0026maxresults=5\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:26:42 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "R[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list\u0026marker=1%2160%21Z29kaXJkaXJsaXN0ZmlsZXNhbmRkaXJzbWF4cmVzdWx0c2FuZG1hcmtlcjc-\u0026maxresults=5\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:26:54 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "R[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?comp=list\u0026marker=1%2168%21Z290ZXN0ZmlsZWRpcmxpc3RmaWxlc2FuZGRpcnNtYXhyZXN1bHRzYW5kbWFya2VyMg--\u0026maxresults=5\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:27:00 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsandmarker?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:27:04 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
