{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenegativepermissions?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:42:18 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0B198D1D02B\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 14:42:19 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenegativepermissions/godirdircreatenegativepermissions?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:42:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0B198F575C8\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 14:42:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-19T14:42:19.7069256Z",
        "x-ms-file-creation-time": "2023-10-19T14:42:19.7069256Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-19T14:42:19.7069256Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenegativepermissions/godirdircreatenegativepermissions/subdirgodirdircreatenegativepermissions?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:42:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "now",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-32-548G:S-1-5-21-397955417-626881126-188441444-512D:(A;;RPWPCCDCLCSWRCWDWOGA;;;S-1-0-0)",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BothPermissionAndPermissionKeyHeaderPresent",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBothPermissionAndPermissionKeyHeaderPresent\u003C/Code\u003E\u003CMessage\u003EBoth x-ms-file-permission header and x-ms-file-permission-key header are present.\n",
        "RequestId:bb9c10a3-f01a-002c-179a-02f219000000\n",
        "Time:2023-10-19T14:42:19.9312981Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenegativepermissions?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 19 Oct 2023 14:42:19 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
