{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:08:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12AA97E9B01\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:08:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix/0godirdirlistfilesanddirswithprefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:08:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12AA9A2A64C\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:08:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-20T05:08:56.7897676Z",
        "x-ms-file-creation-time": "2023-10-20T05:08:56.7897676Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-20T05:08:56.7897676Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix/0gotestfiledirlistfilesanddirswithprefix",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:08:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12AAAFF9CD3\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:08:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-20T05:08:59.0767315Z",
        "x-ms-file-creation-time": "2023-10-20T05:08:59.0767315Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2023-10-20T05:08:59.0767315Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix?comp=list\u0026prefix=1\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:09:00 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://teststorageaccounttanya.file.core.windows.net/\u0022 ShareName=\u0022gosdirlistfilesanddirswithprefix\u0022 DirectoryPath=\u0022\u0022\u003E\u003CPrefix\u003E1\u003C/Prefix\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E1godirdirlistfilesanddirswithprefix\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CFile\u003E\u003CName\u003E1gotestfiledirlistfilesanddirswithprefix\u003C/Name\u003E\u003CFileId\u003E10952824662509223936\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E2048\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirswithprefix?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:09:00 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
