{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:03 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E5171C8ACB6\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:04 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "17",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:04 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E5171F52A15\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-16T12:08:04.4489237Z",
        "x-ms-file-creation-time": "2023-08-16T12:08:04.4489237Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-16T12:08:04.4489237Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:04 GMT",
        "x-ms-range": "bytes=0-16",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "R29GaWxlRGVmYXVsdERhdGE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FkKlv7khbCJNXP71ZahBiw==",
        "ETag": "\u00220x8DB9E517220EEBD\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:04 GMT",
        "x-ms-file-last-write-time": "2023-08-16T12:08:04.7357629Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/destgotestfilefilestartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:04 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E5172A5EA09\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:05 GMT",
        "x-ms-copy-id": "1ee1b891-de0d-4718-95bc-04d60458ec04",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/destgotestfilefilestartcopydestempty",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9E5172A5EA09\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:08:05 GMT",
        "x-ms-copy-completion-time": "Wed, 16 Aug 2023 12:08:05 GMT",
        "x-ms-copy-id": "1ee1b891-de0d-4718-95bc-04d60458ec04",
        "x-ms-copy-progress": "17/17",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-16T12:08:05.6072713Z",
        "x-ms-file-creation-time": "2023-08-16T12:08:05.6072713Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-08-16T12:08:05.6072713Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "R29GaWxlRGVmYXVsdERhdGE="
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:08:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
