{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilechangelease?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 15 Dec 2025 11:22:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3BCC3793EF50\"",
        "Last-Modified": "Mon, 15 Dec 2025 11:22:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilechangelease/gotestfilefilechangelease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Mon, 15 Dec 2025 11:22:23 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3BCC37CF6CE8\"",
        "Last-Modified": "Mon, 15 Dec 2025 11:22:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-12-15T11:22:22.8897000Z",
        "x-ms-file-creation-time": "2025-12-15T11:22:22.8897000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-12-15T11:22:22.8897000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10950351419671890465*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilechangelease/gotestfilefilechangelease?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 15 Dec 2025 11:22:24 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3BCC37CF6CE8\"",
        "Last-Modified": "Mon, 15 Dec 2025 11:22:22 GMT",
        "x-ms-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilechangelease/gotestfilefilechangelease",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 15 Dec 2025 11:22:24 GMT",
        "x-ms-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMismatchWithFileOperation",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithFileOperation</Code><Message>The lease ID specified did not match the lease ID for the file.\n",
        "RequestId:aa5993fb-201a-0049-72b5-6dd58d000000\n",
        "Time:2025-12-15T11:22:23.9237975Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilechangelease?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 15 Dec 2025 11:22:25 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
