{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578664F596D2\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative/srcgotestfilefileresizeinvalidsizenegative",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB5786651D3484\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:13.6704132Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:13.6704132Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:58:13.6704132Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative/srcgotestfilefileresizeinvalidsizenegative?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "-4",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:13 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeInput",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EOutOfRangeInput\u003C/Code\u003E\u003CMessage\u003EThe file size exceeds the maximum permissible limit.\n",
        "RequestId:77295124-301a-0073-6e6f-899d7c000000\n",
        "Time:2023-05-18T09:58:13.9174803Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileresizeinvalidsizenegative?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
