{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetpermissionsnegative?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:10:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762FAA41D954\"",
        "Last-Modified": "Fri, 17 May 2024 05:10:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetpermissionsnegative?comp=acl&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Fri, 17 May 2024 05:10:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<SignedIdentifiers><SignedIdentifier><Id>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</Id><AccessPolicy><Permission>l</Permission><Expiry>2023-03-29T20:00:00Z</Expiry><Start>2023-03-29T20:05:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</Id><AccessPolicy><Permission>l</Permission><Expiry>2023-03-29T20:00:00Z</Expiry><Start>2023-03-29T20:05:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\n",
        "RequestId:ea0dc0fc-201a-002f-7a18-a8137d000000\n",
        "Time:2024-05-17T05:10:27.4179797Z</Message><LineNumber>2</LineNumber><LinePosition>259</LinePosition><Reason>Signed identifier ID cannot be empty or over 64 characters in length</Reason></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetpermissionsnegative?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 05:10:26 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
