{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:00:07 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FA33126E71\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedefault/godirdirectoryrenamedefault?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FA333F248C\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-21T18:00:08.3661964Z",
        "x-ms-file-creation-time": "2024-10-21T18:00:08.3661964Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-21T18:00:08.3661964Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedefault/godirdirectoryrenamedefault/gotestfiledirectoryrenamedefault",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FA33612C35\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-21T18:00:08.5892149Z",
        "x-ms-file-creation-time": "2024-10-21T18:00:08.5892149Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-21T18:00:08.5892149Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedefault/newDirName?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1FA33841D4D\"",
        "Last-Modified": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-21T18:00:08.8182093Z",
        "x-ms-file-creation-time": "2024-10-21T18:00:08.3661964Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-21T18:00:08.3661964Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedefault/godirdirectoryrenamedefault?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:00:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:d50f0d1d-a01a-00a7-1ce3-23f674000000\n",
        "Time:2024-10-21T18:00:09.0452786Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 18:00:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
