{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 04:56:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762DC831BA91\"",
        "Last-Modified": "Fri, 17 May 2024 04:56:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude/godirdirlistfilesanddirsinclude0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 04:56:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762DC859606C\"",
        "Last-Modified": "Fri, 17 May 2024 04:56:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-17T04:56:58.6674284Z",
        "x-ms-file-creation-time": "2024-05-17T04:56:58.6674284Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-17T04:56:58.6674284Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude/gotestfiledirlistfilesanddirsinclude0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Fri, 17 May 2024 04:56:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762DC9F40492\"",
        "Last-Modified": "Fri, 17 May 2024 04:57:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-17T04:57:01.3586066Z",
        "x-ms-file-creation-time": "2024-05-17T04:57:01.3586066Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2024-05-17T04:57:01.3586066Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude?comp=list&include=Timestamps%2CEtag%2CAttributes%2CPermissionKey&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 04:57:01 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirsinclude\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>godirdirlistfilesanddirsinclude0</Name><FileId>13835128424026341376</FileId><Properties><CreationTime>2024-05-17T04:56:58.6674284Z</CreationTime><LastAccessTime>2024-05-17T04:56:58.6674284Z</LastAccessTime><LastWriteTime>2024-05-17T04:56:58.6674284Z</LastWriteTime><ChangeTime>2024-05-17T04:56:58.6674284Z</ChangeTime><Last-Modified>Fri, 17 May 2024 04:56:58 GMT</Last-Modified><Etag>\"0x8DC762DC859606C\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>6785225114448717827*3959456104892465034</PermissionKey></Directory><Directory><Name>godirdirlistfilesanddirsinclude1</Name><FileId>11529285414812647424</FileId><Properties><CreationTime>2024-05-17T04:56:58.9053827Z</CreationTime><LastAccessTime>2024-05-17T04:56:58.9053827Z</LastAccessTime><LastWriteTime>2024-05-17T04:56:58.9053827Z</LastWriteTime><ChangeTime>2024-05-17T04:56:58.9053827Z</ChangeTime><Last-Modified>Fri, 17 May 2024 04:56:58 GMT</Last-Modified><Etag>\"0x8DC762DC87DAF83\"</Etag></Pr[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinclude?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 04:57:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
