{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsnegative?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:54:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F49370BADD2\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:54:42 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsnegative/godirdirlistfilesanddirsmaxresultsnegative0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:54:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F49373D81CD\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:54:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-19T21:54:42.5129421Z",
        "x-ms-file-creation-time": "2025-12-19T21:54:42.5129421Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-12-19T21:54:42.5129421Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsnegative/gotestfiledirlistfilesanddirsmaxresultsnegative0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:54:51 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3F49379CAA03\"",
        "Last-Modified": "Fri, 19 Dec 2025 21:54:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-12-19T21:54:43.1365635Z",
        "x-ms-file-creation-time": "2025-12-19T21:54:43.1365635Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-12-19T21:54:43.1365635Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10950351419671890465*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsnegative?comp=list&maxresults=-1&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:54:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OutOfRangeQueryParameterValue",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OutOfRangeQueryParameterValue</Code><Message>One of the query parameters specified in the request URI is outside the permissible range.\n",
        "RequestId:002de526-201a-002b-5732-7117aa000000\n",
        "Time:2025-12-19T21:54:43.7914295Z</Message><QueryParameterName>maxresults</QueryParameterName><QueryParameterValue>-1</QueryParameterValue><MinimumAllowed>1</MinimumAllowed><MaximumAllowed>2147483647</MaximumAllowed></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsmaxresultsnegative?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 19 Dec 2025 21:54:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
