{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:25 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD938BE79E\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:25 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD93BD2473\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:31:27.0910067Z",
        "x-ms-file-creation-time": "2023-08-04T09:31:27.0910067Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:31:27.0910067Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD93ECB8BE\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:31:27.4028222Z",
        "x-ms-file-creation-time": "2023-08-04T09:31:27.0910067Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:31:27.0910067Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:26 GMT",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD941C4D11\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB94CD941C4D11\u0022",
        "Last-Modified": "Fri, 04 Aug 2023 09:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-04T09:31:27.7146385Z",
        "x-ms-file-creation-time": "2023-08-04T09:31:27.0910067Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-04T09:31:27.0910067Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 04 Aug 2023 09:31:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
