{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharedeletesnapshot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:19:32 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D23EEAF335\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 12:19:31 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharedeletesnapshot?comp=snapshot\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:19:32 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D23EEAF335\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 12:19:31 GMT",
        "x-ms-snapshot": "2023-07-12T12:19:31.0000000Z",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list\u0026include=snapshots\u0026prefix=gossharedeletesnapshot",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:19:32 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://souravteststorage.file.core.windows.net/\u0022\u003E\u003CPrefix\u003Egossharedeletesnapshot\u003C/Prefix\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Egossharedeletesnapshot\u003C/Name\u003E\u003CSnapshot\u003E2023-07-12T12:19:31.0000000Z\u003C/Snapshot\u003E\u003CProper[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharedeletesnapshot?restype=share\u0026sharesnapshot=2023-07-12T12%3A19%3A31.0000000Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:19:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharedeletesnapshot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:19:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
