{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:52:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BAFAE88C50\"",
        "Last-Modified": "Mon, 20 May 2024 10:52:44 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:52:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BAFB1496C6\"",
        "Last-Modified": "Mon, 20 May 2024 10:52:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T10:52:45.1448518Z",
        "x-ms-file-creation-time": "2024-05-20T10:52:45.1448518Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T10:52:45.1448518Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/subdir0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:52:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BAFB3CB225\"",
        "Last-Modified": "Mon, 20 May 2024 10:52:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T10:52:45.4076965Z",
        "x-ms-file-creation-time": "2024-05-20T10:52:45.4076965Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-20T10:52:45.4076965Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir/gotestfiledirlistfilesanddirsinsidedir0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Mon, 20 May 2024 10:52:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78BAFC067244\"",
        "Last-Modified": "Mon, 20 May 2024 10:52:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-20T10:52:46.7298884Z",
        "x-ms-file-creation-time": "2024-05-20T10:52:46.7298884Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-05-20T10:52:46.7298884Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir/godirdirlistfilesanddirsinsidedir?comp=list&include=Timestamps%2CEtag%2CAttributes%2CPermissionKey&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:52:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\" ShareName=\"gosdirlistfilesanddirsinsidedir\" DirectoryPath=\"godirdirlistfilesanddirsinsidedir\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>gotestfiledirlistfilesanddirsinsidedir0</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>0</Content-Length><CreationTime>2024-05-20T10:52:46.7298884Z</CreationTime><LastAccessTime>2024-05-20T10:52:46.7298884Z</LastAccessTime><LastWriteTime>2024-05-20T10:52:46.7298884Z</LastWriteTime><ChangeTime>2024-05-20T10:52:46.7298884Z</ChangeTime><Last-Modified>Mon, 20 May 2024 10:52:46 GMT</Last-Modified><Etag>\"0x8DC78BAFC067244\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>11408242485704529668*3959456104892465034</PermissionKey></File><File><Name>gotestfiledirlistfilesanddirsinsidedir1</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>0</Content-Length><CreationTime>2024-05-20T10:52:46.9947244Z</CreationTime><LastAccessTime>2024-05-20T10:52:46.9947244Z</LastAccessTime><LastWriteTime>2024-05-20T10:52:46.9947244Z</LastWriteTime><ChangeTime>2024-05-20T10:52:46.9947244Z</ChangeTime><Last-Modified>Mon, 20 May 2024 10:52:46 GMT</Last-Modified><Etag>\[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirlistfilesanddirsinsidedir?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 10:52:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
