{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilepreservepermissions?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3DB07B188\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilepreservepermissions/gotestfilefilepreservepermissions",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:14 GMT",
        "x-ms-file-permission": "O:S-1-5-32-548G:S-1-5-21-397955417-626881126-188441444-512D:(A;;RPWPCCDCLCSWRCWDWOGA;;;S-1-0-0)",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3DB26F749\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "830723522333363911*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilepreservepermissions/gotestfilefilepreservepermissions",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD46C3DB26F749\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "830723522333363911*8668318031993023658",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilepreservepermissions/gotestfilefilepreservepermissions?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-transform",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-encoding": "gzip",
        "x-ms-content-language": "en",
        "x-ms-content-md5": "TURBd01EQXdNREE9",
        "x-ms-content-type": "text/html",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3DB4BB7FF\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:16.8218111Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "830723522333363911*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilepreservepermissions/gotestfilefilepreservepermissions",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "attachment",
        "Content-Language": "en",
        "Content-MD5": "TURBd01EQXdNREE9",
        "Content-Type": "text/html",
        "ETag": "\"0x8DD46C3DB4BB7FF\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:16.8218111Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:16.5809481Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "830723522333363911*8668318031993023658",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilepreservepermissions?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
