{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 19:58:03 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0D3B7BFC2A\"",
        "Last-Modified": "Mon, 10 Feb 2025 19:58:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions/godircreatehardlinknfsniloptions?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 19:58:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0D3BED48C0\"",
        "Last-Modified": "Mon, 10 Feb 2025 19:58:05 GMT",
        "x-ms-file-change-time": "2025-02-10T19:58:05.6915136Z",
        "x-ms-file-creation-time": "2025-02-10T19:58:05.6915136Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-10T19:58:05.6915136Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions/godircreatehardlinknfsniloptions/gotestfilefile1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "X-Ms-Date": "Mon, 10 Feb 2025 19:58:05 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A0D3C336FF0\"",
        "Last-Modified": "Mon, 10 Feb 2025 19:58:06 GMT",
        "x-ms-file-change-time": "2025-02-10T19:58:06.1512688Z",
        "x-ms-file-creation-time": "2025-02-10T19:58:06.1512688Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-10T19:58:06.1512688Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions/godircreatehardlinknfsniloptions/gotestfilefile2?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 19:58:05 GMT",
        "x-ms-file-target-file": "",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that's mandatory for this request is not specified.\n",
        "RequestId:4e096b3e-401a-006b-39f6-7bb1b8000000\n",
        "Time:2025-02-10T19:58:06.4548172Z</Message><HeaderName>x-ms-file-target-file</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 19:58:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
