{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goslistfiledirencodedprefix?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5B214E0DA\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goslistfiledirencodedprefix/directory%EF%BF%BF?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD49A5B227DB54\"",
        "Last-Modified": "Mon, 10 Feb 2025 07:36:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-10T07:36:56.3866452Z",
        "x-ms-file-creation-time": "2025-02-10T07:36:56.3866452Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-10T07:36:56.3866452Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1195471784683846435*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goslistfiledirencodedprefix?comp=list&prefix=directory%EF%BF%BF&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://tanyastoragegosdk.file.core.windows.net/\" ShareName=\"goslistfiledirencodedprefix\" DirectoryPath=\"\"><Prefix Encoded=\"true\">directory%EF%BF%BF</Prefix><DirectoryId>0</DirectoryId><Entries><Directory><Name Encoded=\"true\">directory%EF%BF%BF</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goslistfiledirencodedprefix?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 10 Feb 2025 07:36:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
