{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 13:45:26 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB3125054C1F28\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 13:45:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 13:45:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB312505742D2C\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 13:45:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-03-30T13:45:27.8107948Z",
        "x-ms-file-creation-time": "2023-03-30T13:45:27.8107948Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-30T13:45:27.8107948Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring/innerdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 13:45:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB3125059962A9\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 13:45:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-03-30T13:45:28.0546473Z",
        "x-ms-file-creation-time": "2023-03-30T13:45:28.0546473Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-03-30T13:45:28.0546473Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring/godirdirectorycreateusingconnectionstring/innerdir1/innerdir2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 13:45:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB312505BEBF2B\u0022",
        "Last-Modified": "Thu, 30 Mar 2023 13:45:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-03-30T13:45:28.2994987Z",
        "x-ms-file-creation-time": "2023-03-30T13:45:28.2994987Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-03-30T13:45:28.2994987Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorycreateusingconnectionstring?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 30 Mar 2023 13:45:27 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
