{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:56:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763E80C117DE\"",
        "Last-Modified": "Fri, 17 May 2024 06:56:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/srcgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 17 May 2024 06:56:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763E80E72AFD\"",
        "Last-Modified": "Fri, 17 May 2024 06:56:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-17T06:56:40.2451197Z",
        "x-ms-file-creation-time": "2024-05-17T06:56:40.2451197Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-17T06:56:40.2451197Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 17 May 2024 06:56:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763E810BEEC6\"",
        "Last-Modified": "Fri, 17 May 2024 06:56:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-17T06:56:40.4860614Z",
        "x-ms-file-creation-time": "2024-05-17T06:56:40.4860614Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-17T06:56:40.4860614Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:56:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC763E810BEEC6\"",
        "Last-Modified": "Fri, 17 May 2024 06:56:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-17T06:56:40.4860614Z",
        "x-ms-file-creation-time": "2024-05-17T06:56:40.4860614Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-17T06:56:40.4860614Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:56:39 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763E81596987\"",
        "Last-Modified": "Fri, 17 May 2024 06:56:40 GMT",
        "x-ms-copy-id": "a2305d0d-6d7a-4514-b83f-41c5e42329d6",
        "x-ms-copy-status": "success",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:56:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC763E81596987\"",
        "Last-Modified": "Fri, 17 May 2024 06:56:40 GMT",
        "x-ms-copy-completion-time": "Fri, 17 May 2024 06:56:40 GMT",
        "x-ms-copy-id": "a2305d0d-6d7a-4514-b83f-41c5e42329d6",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-17T06:56:40.9938311Z",
        "x-ms-file-creation-time": "2024-05-17T06:56:40.9938311Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-17T06:56:40.9938311Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:56:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
