{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:01:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8BF3054E8D\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:01:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "17",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:01:49 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8BF3369DFA\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:01:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-14T06:01:49.7887226Z",
        "x-ms-file-creation-time": "2023-08-14T06:01:49.7887226Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-14T06:01:49.7887226Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:01:49 GMT",
        "x-ms-range": "bytes=0-16",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "R29GaWxlRGVmYXVsdERhdGE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FkKlv7khbCJNXP71ZahBiw==",
        "ETag": "\u00220x8DB9C8BF36743D8\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:01:50 GMT",
        "x-ms-file-last-write-time": "2023-08-14T06:01:50.1075416Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/destgotestfilefilestartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:01:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8BF3A97357\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:01:50 GMT",
        "x-ms-copy-id": "121552dc-bd60-4796-9d32-be8c901dd2fe",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/destgotestfilefilestartcopydestempty",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:01:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9C8BF3A97357\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:01:50 GMT",
        "x-ms-copy-completion-time": "Mon, 14 Aug 2023 06:01:50 GMT",
        "x-ms-copy-id": "121552dc-bd60-4796-9d32-be8c901dd2fe",
        "x-ms-copy-progress": "17/17",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-14T06:01:50.5412951Z",
        "x-ms-file-creation-time": "2023-08-14T06:01:50.5412951Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-08-14T06:01:50.5412951Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "R29GaWxlRGVmYXVsdERhdGE="
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:01:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
