{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletedefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:44:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792D07A7FB05\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:44:11 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletedefault/godirdircreatedeletedefault?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:44:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792D07D29F5C\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:44:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-30T05:44:11.4790236Z",
        "x-ms-file-creation-time": "2023-06-30T05:44:11.4790236Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-30T05:44:11.4790236Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletedefault/godirdircreatedeletedefault?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:44:11 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792D07D29F5C\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:44:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-30T05:44:11.4790236Z",
        "x-ms-file-creation-time": "2023-06-30T05:44:11.4790236Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-30T05:44:11.4790236Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatedeletedefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:44:11 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
