{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:45:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792D2F7180D7\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:45:17 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792D2FE264F5\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:45:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-30T05:45:18.6912501Z",
        "x-ms-file-creation-time": "2023-06-30T05:45:18.6912501Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-30T05:45:18.6912501Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth/godirdirectorylistusingoauth0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792D300ACEB9\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:45:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-30T05:45:18.9561017Z",
        "x-ms-file-creation-time": "2023-06-30T05:45:18.9561017Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-30T05:45:18.9561017Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth/gotestfiledirectorylistusingoauth0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792D31A41FF5\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:45:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-30T05:45:21.6386037Z",
        "x-ms-file-creation-time": "2023-06-30T05:45:21.6386037Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2023-06-30T05:45:21.6386037Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth/godirdirectorylistusingoauth?comp=list\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://souravteststorage.file.core.windows.net/\u0022 ShareName=\u0022gosdirectorylistusingoauth\u0022 DirectoryPath=\u0022godirdirectorylistusingoauth\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Egod[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorylistusingoauth?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:45:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
