{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfiledownloaddatacountoutofrange?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3CFC50755\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:34:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfiledownloaddatacountoutofrange/gotestfilefiledownloaddatacountoutofrange",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "17",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3CFD91B42\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:34:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:34:57.6157506Z",
        "x-ms-file-creation-time": "2025-02-06T15:34:57.6157506Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:34:57.6157506Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfiledownloaddatacountoutofrange/gotestfilefiledownloaddatacountoutofrange?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:55 GMT",
        "x-ms-range": "bytes=0-16",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "R29GaWxlRGVmYXVsdERhdGE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FkKlv7khbCJNXP71ZahBiw==",
        "ETag": "\"0x8DD46C3CFF66300\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:34:57 GMT",
        "x-ms-file-last-write-time": "2025-02-06T15:34:57.8076416Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfiledownloaddatacountoutofrange/gotestfilefiledownloaddatacountoutofrange",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:55 GMT",
        "x-ms-range": "bytes=0-33",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-16/17",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD46C3CFF66300\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:34:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:34:57.8076416Z",
        "x-ms-file-creation-time": "2025-02-06T15:34:57.6157506Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:34:57.8076416Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "R29GaWxlRGVmYXVsdERhdGE="
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfiledownloaddatacountoutofrange?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:34:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
