{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingconnectionstring?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:54:57 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763E44A62779\"",
        "Last-Modified": "Fri, 17 May 2024 06:54:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingconnectionstring/gotestfilefilecreateusingconnectionstring",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "X-Ms-Date": "Fri, 17 May 2024 06:54:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763E44D2E1B1\"",
        "Last-Modified": "Fri, 17 May 2024 06:54:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-17T06:54:59.4488753Z",
        "x-ms-file-creation-time": "2024-05-17T06:54:59.4488753Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-17T06:54:59.4488753Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingconnectionstring/godirfilecreateusingconnectionstring/gotestfilefilecreateusingconnectionstring",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "X-Ms-Date": "Fri, 17 May 2024 06:54:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:2144614c-f01a-003c-3c27-a83771000000\n",
        "Time:2024-05-17T06:54:59.7162924Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingconnectionstring/godirfilecreateusingconnectionstring?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:54:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763E45273291\"",
        "Last-Modified": "Fri, 17 May 2024 06:55:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-17T06:55:00.0014481Z",
        "x-ms-file-creation-time": "2024-05-17T06:55:00.0014481Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-05-17T06:55:00.0014481Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingconnectionstring?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:54:58 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
