{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF6042D78848\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 07:07:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "17",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF6042FF0EB8\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 07:07:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-07T07:07:53.6923320Z",
        "x-ms-file-creation-time": "2023-11-07T07:07:53.6923320Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-07T07:07:53.6923320Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:54 GMT",
        "x-ms-range": "bytes=0-16",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "R29GaWxlRGVmYXVsdERhdGE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "FkKlv7khbCJNXP71ZahBiw==",
        "ETag": "\u00220x8DBDF6043246E11\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 07:07:53 GMT",
        "x-ms-file-last-write-time": "2023-11-07T07:07:53.9372561Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/destgotestfilefilestartcopydestempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF604353FB23\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 07:07:54 GMT",
        "x-ms-copy-id": "077f8fb0-672c-4a88-87c7-2123e35d7a3a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/destgotestfilefilestartcopydestempty",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF604353FB23\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 07:07:54 GMT",
        "x-ms-copy-completion-time": "Tue, 07 Nov 2023 07:07:54 GMT",
        "x-ms-copy-id": "077f8fb0-672c-4a88-87c7-2123e35d7a3a",
        "x-ms-copy-progress": "17/17",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty/srcgotestfilefilestartcopydestempty",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-07T07:07:54.2488867Z",
        "x-ms-file-creation-time": "2023-11-07T07:07:54.2488867Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-07T07:07:54.2488867Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "R29GaWxlRGVmYXVsdERhdGE="
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopydestempty?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 07 Nov 2023 07:07:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
