{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:06 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82149E9A47CD\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:07 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/srcgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:06 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82149EC38A85\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:07 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Archive",
        "x-ms-file-change-time": "2023-07-11T13:42:07.7629061Z",
        "x-ms-file-creation-time": "2023-07-11T13:42:07.7629061Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-11T13:42:07.7629061Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/dstgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/srcgotestfilefilestartcopysetarchiveattributetrue",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:07 GMT",
        "x-ms-file-attributes": "ReadOnly|System",
        "x-ms-file-copy-set-archive": "true",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82149EF9D4F5\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:08 GMT",
        "x-ms-copy-id": "a99be901-84dc-434c-9354-f8ed20122958",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/dstgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB82149EF9D4F5\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:08 GMT",
        "x-ms-copy-completion-time": "Tue, 11 Jul 2023 13:42:08 GMT",
        "x-ms-copy-id": "a99be901-84dc-434c-9354-f8ed20122958",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/srcgotestfilefilestartcopysetarchiveattributetrue",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | System | Archive",
        "x-ms-file-change-time": "2023-07-11T13:42:08.1187061Z",
        "x-ms-file-creation-time": "2023-07-11T13:42:08.1187061Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-11T13:42:08.1187061Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:11 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
