{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57867674170F\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:42 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty/srcgotestfilefilestartcopymetadataempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB5786769BF726\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:43.0224166Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:43.0224166Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:58:43.0224166Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty/dstgotestfilefilestartcopymetadataempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578676C28C45\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:43.2752709Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:43.2752709Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-05-18T09:58:43.2752709Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty/dstgotestfilefilestartcopymetadataempty",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB578676C28C45\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:43.2752709Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:43.2752709Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-05-18T09:58:43.2752709Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty/dstgotestfilefilestartcopymetadataempty",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty/srcgotestfilefilestartcopymetadataempty",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB5786771533F1\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-copy-id": "60e87deb-cc58-4258-87db-730fea46d7e1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty/dstgotestfilefilestartcopymetadataempty",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB5786771533F1\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-copy-completion-time": "Thu, 18 May 2023 09:58:43 GMT",
        "x-ms-copy-id": "60e87deb-cc58-4258-87db-730fea46d7e1",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty/srcgotestfilefilestartcopymetadataempty",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:43.8169585Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:43.8169585Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-05-18T09:58:43.8169585Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadataempty?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
