{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamesrcdestlease?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3DEDBA44D\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamesrcdestlease/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:20 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3DEEF58F7\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:22.9273335Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:22.9273335Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:22.9273335Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamesrcdestlease/file1?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:20 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3DEEF58F7\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:22 GMT",
        "x-ms-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamesrcdestlease/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:21 GMT",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:c6625f8e-401a-007e-52ac-78966d000000\n",
        "Time:2025-02-06T15:35:23.6457870Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamesrcdestlease/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:21 GMT",
        "x-ms-destination-lease-id": "326cc5e1-746e-4af8-4811-a50e6629a8ca",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-source-lease-id": "c820a799-76d7-4ee2-6e15-546f19325c2c",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD46C3DF7D7A82\"",
        "Last-Modified": "Thu, 06 Feb 2025 15:35:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-06T15:35:23.8588034Z",
        "x-ms-file-creation-time": "2025-02-06T15:35:22.9273335Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-06T15:35:22.9273335Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15054659525319803940*8668318031993023658",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamesrcdestlease?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 06 Feb 2025 15:35:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
