{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list&prefix=accountlistsharesnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:30:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\"><Prefix>accountlistsharesnondefault</Prefix><Shares /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/accountlistsharesnondefaultshare0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:30:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763AD756E7DB\"",
        "Last-Modified": "Fri, 17 May 2024 06:30:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/accountlistsharesnondefaultshare0?comp=metadata&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:30:25 GMT",
        "x-ms-meta-bar": "barvalue",
        "x-ms-meta-foo": "foovalue",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC763AD77E19A3\"",
        "Last-Modified": "Fri, 17 May 2024 06:30:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list&include=metadata%2Csnapshots&maxresults=2&prefix=accountlistsharesnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:30:27 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\"><Prefix>accountlistsharesnondefault</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>accountlistsharesnondefaultshare0</Name><Properties><Last-Modified>Fri, 17 May 2024 06:30:27 GMT</Last-Modified><Etag>\"0x8DC763AD77E19A3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 17 May 2024 06:30:27 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><bar>barvalue</bar><foo>foovalue</foo></Metadata></Share><Share><Name>accountlistsharesnondefaultshare1</Name><Properties><Last-Modified>Fri, 17 May 2024 06:30:28 GMT</Last-Modified><Etag>\"0x8DC763AD7CB468A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 17 May 2024 06:30:27 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><bar>barvalue</bar><foo>foovalue</foo></Metadata></Share></Shares><NextMarker>/teststorageaccounttanya/accountlistsharesnondefaultshare2/01DAA77D9E485F03/9999-12-31T23:59:59.9999999Z</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list&include=metadata%2Csnapshots&marker=%2Fteststorageaccounttanya%2Faccountlistsharesnondefaultshare2%2F01DAA77D9E485F03%2F9999-12-31T23%3A59%3A59.9999999Z&maxresults=2&prefix=accountlistsharesnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:30:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://teststorageaccounttanya.file.core.windows.net/\"><Prefix>accountlistsharesnondefault</Prefix><Marker>/teststorageaccounttanya/accountlistsharesnondefaultshare2/01DAA77D9E485F03/9999-12-31T23:59:59.9999999Z</Marker><MaxResults>2</MaxResults><Shares><Share><Name>accountlistsharesnondefaultshare2</Name><Properties><Last-Modified>Fri, 17 May 2024 06:30:28 GMT</Last-Modified><Etag>\"0x8DC763AD817D7EA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 17 May 2024 06:30:28 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><bar>barvalue</bar><foo>foovalue</foo></Metadata></Share><Share><Name>accountlistsharesnondefaultshare3</Name><Properties><Last-Modified>Fri, 17 May 2024 06:30:29 GMT</Last-Modified><Etag>\"0x8DC763AD867E7C4\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 17 May 2024 06:30:28 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><bar>barvalue</bar><foo>foovalue</foo></Metadata></Share></Shares><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/accountlistsharesnondefaultshare0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 06:30:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
