{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosauthenticationerrordetailerror?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 19:59:36 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF20AE4296E30\"",
        "Last-Modified": "Mon, 21 Oct 2024 19:59:37 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosauthenticationerrordetailerror?comp=acl&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Mon, 21 Oct 2024 19:59:37 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<SignedIdentifiers><SignedIdentifier><Id>testAccessPolicy</Id><AccessPolicy><Permission>w</Permission><Expiry>2024-10-21T18:59:37Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF20AE4523641\"",
        "Last-Modified": "Mon, 21 Oct 2024 19:59:37 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosauthenticationerrordetailerror?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 19:59:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
