{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578660DE3F3D\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578661064BB7\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:06.8093879Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:06.8093879Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:58:06.8093879Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:06 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB5786612CE0CF\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:07.0622415Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:06.8093879Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:58:06.8093879Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:07 GMT",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57866153C3F5\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault/gotestfilefilegetsetpropertiesdefault",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57866153C3F5\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:07.3170933Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:06.8093879Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:58:06.8093879Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilegetsetpropertiesdefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:07 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
