{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingsharedkey?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:27:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D360F02343\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 12:27:37 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingsharedkey/godirfilecreateusingsharedkey/gotestfilefilecreateusingsharedkey",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:27:38 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EParentNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified parent path does not exist.\n",
        "RequestId:94f2f7c2-501a-0017-2dbc-b46ce4000000\n",
        "Time:2023-07-12T12:27:38.1936292Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingsharedkey/godirfilecreateusingsharedkey?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:27:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D361438BCA\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 12:27:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-12T12:27:38.4584138Z",
        "x-ms-file-creation-time": "2023-07-12T12:27:38.4584138Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-12T12:27:38.4584138Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilecreateusingsharedkey?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:27:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
