{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamenegativesourcetrailingdot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:21:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD53BC777E648\u0022",
        "Last-Modified": "Wed, 25 Oct 2023 09:21:32 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamenegativesourcetrailingdot/gotestfilefilerenamenegativesourcetrailingdot..",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "2048",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:21:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD53BC7A4BB45\u0022",
        "Last-Modified": "Wed, 25 Oct 2023 09:21:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-25T09:21:33.2305733Z",
        "x-ms-file-creation-time": "2023-10-25T09:21:33.2305733Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-25T09:21:33.2305733Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamenegativesourcetrailingdot/file..?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:21:35 GMT",
        "x-ms-file-rename-source": "https://fakestorage.file.core.windows.net/gosfilerenamenegativesourcetrailingdot/gotestfilefilerenamenegativesourcetrailingdot..",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:cd31bdb5-701a-009b-0724-07dfb3000000\n",
        "Time:2023-10-25T09:21:33.5281632Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilerenamenegativesourcetrailingdot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 25 Oct 2023 09:21:35 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
