{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharegetaccesspolicynegative?comp=acl&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 08:27:05 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\n",
        "RequestId:8699f378-901a-0048-5034-a80381000000\n",
        "Time:2024-05-17T08:27:07.1341174Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
