{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8C10E8C367\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:39 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/srcgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:39 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8C111AF9C1\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:39 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Archive",
        "x-ms-file-change-time": "2023-08-14T06:02:39.9392193Z",
        "x-ms-file-creation-time": "2023-08-14T06:02:39.9392193Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-14T06:02:39.9392193Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/dstgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/srcgotestfilefilestartcopysetarchiveattributetrue",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:40 GMT",
        "x-ms-file-attributes": "ReadOnly|System",
        "x-ms-file-copy-set-archive": "true",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8C115A9192\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:40 GMT",
        "x-ms-copy-id": "94870cb5-cbf4-4cd6-96fa-dca54ab17879",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/dstgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9C8C115A9192\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:40 GMT",
        "x-ms-copy-completion-time": "Mon, 14 Aug 2023 06:02:40 GMT",
        "x-ms-copy-id": "94870cb5-cbf4-4cd6-96fa-dca54ab17879",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/srcgotestfilefilestartcopysetarchiveattributetrue",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | System | Archive",
        "x-ms-file-change-time": "2023-08-14T06:02:40.3559826Z",
        "x-ms-file-creation-time": "2023-08-14T06:02:40.3559826Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-08-14T06:02:40.3559826Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
