{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Feb 2025 08:16:21 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A745F750E85\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:16:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions/godircreatehardlinknfsniloptions?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Feb 2025 08:16:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A745FB394B6\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:16:23 GMT",
        "x-ms-file-change-time": "2025-02-11T08:16:23.8744758Z",
        "x-ms-file-creation-time": "2025-02-11T08:16:23.8744758Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-11T08:16:23.8744758Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions/godircreatehardlinknfsniloptions/gotestfilefile1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "X-Ms-Date": "Tue, 11 Feb 2025 08:16:22 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A745FE350C2\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:16:24 GMT",
        "x-ms-file-change-time": "2025-02-11T08:16:24.1873090Z",
        "x-ms-file-creation-time": "2025-02-11T08:16:24.1873090Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-11T08:16:24.1873090Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions/godircreatehardlinknfsniloptions/gotestfilefile2?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Feb 2025 08:16:22 GMT",
        "x-ms-file-target-file": "",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that's mandatory for this request is not specified.\n",
        "RequestId:6326254d-001a-0055-4d5d-7c26c7000000\n",
        "Time:2025-02-11T08:16:24.4955997Z</Message><HeaderName>x-ms-file-target-file</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/goscreatehardlinknfsniloptions?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Feb 2025 08:16:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
