{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:21:51 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78952311B583\"",
        "Last-Modified": "Mon, 20 May 2024 06:21:51 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/srcgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Mon, 20 May 2024 06:21:51 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789523394C86\"",
        "Last-Modified": "Mon, 20 May 2024 06:21:51 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Archive",
        "x-ms-file-change-time": "2024-05-20T06:21:51.6185734Z",
        "x-ms-file-creation-time": "2024-05-20T06:21:51.6185734Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T06:21:51.6185734Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/dstgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:21:52 GMT",
        "x-ms-file-attributes": "ReadOnly|System",
        "x-ms-file-copy-set-archive": "true",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC7895236BBC86\"",
        "Last-Modified": "Mon, 20 May 2024 06:21:51 GMT",
        "x-ms-copy-id": "5d7019e6-6d04-4bd2-84fa-ded1fe02fc1c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue/dstgotestfilefilestartcopysetarchiveattributetrue",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:21:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC7895236BBC86\"",
        "Last-Modified": "Mon, 20 May 2024 06:21:51 GMT",
        "x-ms-copy-completion-time": "Mon, 20 May 2024 06:21:51 GMT",
        "x-ms-copy-id": "5d7019e6-6d04-4bd2-84fa-ded1fe02fc1c",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "ReadOnly | System | Archive",
        "x-ms-file-change-time": "2024-05-20T06:21:51.9491206Z",
        "x-ms-file-creation-time": "2024-05-20T06:21:51.9491206Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-20T06:21:51.9491206Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysetarchiveattributetrue?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:21:56 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
