{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenfs?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 29 Jan 2025 08:53:27 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4042671D285E\"",
        "Last-Modified": "Wed, 29 Jan 2025 08:53:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenfs/godirdircreatenfs?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 29 Jan 2025 08:53:28 GMT",
        "x-ms-group": "123",
        "x-ms-mode": "6444",
        "x-ms-owner": "345",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4042675D4F74\"",
        "Last-Modified": "Wed, 29 Jan 2025 08:53:30 GMT",
        "x-ms-file-change-time": "2025-01-29T08:53:30.2666100Z",
        "x-ms-file-creation-time": "2025-01-29T08:53:30.2666100Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-29T08:53:30.2666100Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "6444",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenfs/godirdircreatenfs?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 29 Jan 2025 08:53:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4042675D4F74\"",
        "Last-Modified": "Wed, 29 Jan 2025 08:53:30 GMT",
        "x-ms-file-change-time": "2025-01-29T08:53:30.2666100Z",
        "x-ms-file-creation-time": "2025-01-29T08:53:30.2666100Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-29T08:53:30.2666100Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "6444",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdircreatenfs?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 29 Jan 2025 08:53:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
