{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetpropertiespaidbursting?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 17:35:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1F6C18C6905\"",
        "Last-Modified": "Mon, 21 Oct 2024 17:35:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetpropertiespaidbursting?comp=properties&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 17:35:29 GMT",
        "x-ms-share-paid-bursting-enabled": "true",
        "x-ms-share-paid-bursting-max-bandwidth-mibps": "1000",
        "x-ms-share-paid-bursting-max-iops": "5000",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1F6C1970B43\"",
        "Last-Modified": "Mon, 21 Oct 2024 17:35:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetpropertiespaidbursting?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 17:35:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF1F6C1970B43\"",
        "Last-Modified": "Mon, 21 Oct 2024 17:35:29 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-next-allowed-quota-downgrade-time": "Mon, 21 Oct 2024 17:35:29 GMT",
        "x-ms-share-paid-bursting-enabled": "true",
        "x-ms-share-paid-bursting-max-bandwidth-mibps": "1000",
        "x-ms-share-paid-bursting-max-iops": "5000",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharesetpropertiespaidbursting?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 21 Oct 2024 17:35:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
