{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB578679F9F378\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/srcgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57867A2163FF\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:48.9299967Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:48.9299967Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-18T09:58:48.9299967Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57867A47D20D\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:49.1818509Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:49.1818509Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-05-18T09:58:49.1818509Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB57867A47D20D\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:49.1818509Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:49.1818509Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-05-18T09:58:49.1818509Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/srcgotestfilefilestartcopymetadatanil",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:49 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB57867A9A2B99\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:49 GMT",
        "x-ms-copy-id": "504d4dc3-af03-4810-8a01-24f8ceb8bb25",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB57867A9A2B99\u0022",
        "Last-Modified": "Thu, 18 May 2023 09:58:49 GMT",
        "x-ms-copy-completion-time": "Thu, 18 May 2023 09:58:49 GMT",
        "x-ms-copy-id": "504d4dc3-af03-4810-8a01-24f8ceb8bb25",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/srcgotestfilefilestartcopymetadatanil",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-18T09:58:49.7215385Z",
        "x-ms-file-creation-time": "2023-05-18T09:58:49.7215385Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-05-18T09:58:49.7215385Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 18 May 2023 09:58:54 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
