{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharedeletenegativenonexistent?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:28:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\n",
        "RequestId:7b96e5aa-b01a-0094-4172-aba9df000000\n",
        "Time:2024-05-21T11:28:46.7487095Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
