{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnegativesnapshotofsnapshot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:28:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC79892BD1FF4E\"",
        "Last-Modified": "Tue, 21 May 2024 11:28:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnegativesnapshotofsnapshot?comp=snapshot&restype=share&sharesnapshot=2023-03-31+20%3A00%3A00++0000+UTC",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:28:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC79892BD1FF4E\"",
        "Last-Modified": "Tue, 21 May 2024 11:28:43 GMT",
        "x-ms-snapshot": "2024-05-21T11:28:43.0000000Z",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnegativesnapshotofsnapshot?comp=snapshot&restype=share&sharesnapshot=2024-05-21T11%3A28%3A43.0000000Z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:28:43 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC79892BD1FF4E\"",
        "Last-Modified": "Tue, 21 May 2024 11:28:43 GMT",
        "x-ms-snapshot": "2024-05-21T11:28:44.0000000Z",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gossharecreatesnapshotnegativesnapshotofsnapshot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 21 May 2024 11:28:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
