{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetpropertiesusingoauth?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:25:10 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78959962F048\"",
        "Last-Modified": "Mon, 20 May 2024 06:25:09 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetpropertiesusingoauth/godirdirectorysetpropertiesusingoauth?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789599BBD06B\"",
        "Last-Modified": "Mon, 20 May 2024 06:25:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-20T06:25:10.4450667Z",
        "x-ms-file-creation-time": "2024-05-20T06:25:10.4450667Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-20T06:25:10.4450667Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetpropertiesusingoauth/godirdirectorysetpropertiesusingoauth?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "ReadOnly|System|Directory",
        "x-ms-file-change-time": "2023-03-31T21:15:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T21:10:00.0000000Z",
        "x-ms-file-permission": "O:S-1-5-32-548G:S-1-5-21-397955417-626881126-188441444-512D:(A;;RPWPCCDCLCSWRCWDWOGA;;;S-1-0-0)",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789599E28DBE\"",
        "Last-Modified": "Mon, 20 May 2024 06:25:10 GMT",
        "x-ms-file-attributes": "ReadOnly | System | Directory",
        "x-ms-file-change-time": "2023-03-31T21:15:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T21:10:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14140905907148525047*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetpropertiesusingoauth/godirdirectorysetpropertiesusingoauth?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC789599E28DBE\"",
        "Last-Modified": "Mon, 20 May 2024 06:25:10 GMT",
        "x-ms-file-attributes": "ReadOnly | System | Directory",
        "x-ms-file-change-time": "2023-03-31T21:15:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T21:10:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14140905907148525047*3959456104892465034",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectorysetpropertiesusingoauth?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 20 May 2024 06:25:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
