{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 04:56:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762DC1F5CBA2\"",
        "Last-Modified": "Fri, 17 May 2024 04:56:47 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 04:56:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC762DC21A69A8\"",
        "Last-Modified": "Fri, 17 May 2024 04:56:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-17T04:56:48.1884584Z",
        "x-ms-file-creation-time": "2024-05-17T04:56:48.1884584Z",
        "x-ms-file-id": "0",
        "x-ms-file-last-write-time": "2024-05-17T04:56:48.1884584Z",
        "x-ms-file-parent-id": "0",
        "x-ms-server-encrypted": "false",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 17 May 2024 04:56:46 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
