{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:23:31 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB459044A51D43\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 13:23:33 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:23:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB459044CC41B9\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 13:23:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T13:23:33.4901177Z",
        "x-ms-file-creation-time": "2023-04-25T13:23:33.4901177Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-25T13:23:33.4901177Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?comp=properties\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:23:34 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "preserve",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4590462B022C\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 13:23:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T13:23:35.7888044Z",
        "x-ms-file-creation-time": "2023-04-25T13:23:33.4901177Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-25T13:23:33.4901177Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault/godirdirsetpropertiesdefault?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:23:35 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4590462B022C\u0022",
        "Last-Modified": "Tue, 25 Apr 2023 13:23:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-04-25T13:23:35.7888044Z",
        "x-ms-file-creation-time": "2023-04-25T13:23:33.4901177Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-04-25T13:23:33.4901177Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirsetpropertiesdefault?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 25 Apr 2023 13:23:42 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
