{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:49:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1305E5E6D61\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:49:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/srcgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:49:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1305E8602D8\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:49:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-20T05:49:47.7533400Z",
        "x-ms-file-creation-time": "2023-10-20T05:49:47.7533400Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-20T05:49:47.7533400Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:49:47 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "now",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1305EAD82B6\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:49:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-20T05:49:48.0122038Z",
        "x-ms-file-creation-time": "2023-10-20T05:49:48.0122038Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-20T05:49:48.0122038Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:49:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1305EAD82B6\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:49:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-20T05:49:48.0122038Z",
        "x-ms-file-creation-time": "2023-10-20T05:49:48.0122038Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-20T05:49:48.0122038Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Bar": "Barvalue",
        "x-ms-meta-Foo": "Foovalue",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/srcgotestfilefilestartcopymetadatanil",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:49:48 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD1305EF7A5F3\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:49:48 GMT",
        "x-ms-copy-id": "f06686ca-2069-4bbf-b999-fde70133aee8",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/dstgotestfilefilestartcopymetadatanil",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:49:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD1305EF7A5F3\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:49:48 GMT",
        "x-ms-copy-completion-time": "Fri, 20 Oct 2023 05:49:48 GMT",
        "x-ms-copy-id": "f06686ca-2069-4bbf-b999-fde70133aee8",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil/srcgotestfilefilestartcopymetadatanil",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-20T05:49:48.4980723Z",
        "x-ms-file-creation-time": "2023-10-20T05:49:48.4980723Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-20T05:49:48.4980723Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11408242485704529668*3959456104892465034",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopymetadatanil?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:49:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
