{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list\u0026prefix=accountlistsharesnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:32:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://teststorageaccounttanya.file.core.windows.net/\u0022\u003E\u003CPrefix\u003Eaccountlistsharesnondefault\u003C/Prefix\u003E\u003CShares /\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/accountlistsharesnondefaultshare0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:32:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12E042370F0\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:32:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/accountlistsharesnondefaultshare0?comp=metadata\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:32:57 GMT",
        "x-ms-meta-bar": "barvalue",
        "x-ms-meta-foo": "foovalue",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12E045273E4\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:32:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list\u0026include=metadata%2Csnapshots\u0026maxresults=2\u0026prefix=accountlistsharesnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:32:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/?comp=list\u0026include=metadata%2Csnapshots\u0026marker=%2Fteststorageaccounttanya%2Faccountlistsharesnondefaultshare2%2F01DA030EF66DEDC0%2F9999-12-31T23%3A59%3A59.9999999Z\u0026maxresults=2\u0026prefix=accountlistsharesnondefault",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:32:59 GMT",
        "x-ms-version": "2022-11-02"
      },
   [...]
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/accountlistsharesnondefaultshare0?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:33:00 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
