{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:23:37 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D2D132F236\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 12:23:36 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:23:37 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB82D2D169C35F\u0022",
        "Last-Modified": "Wed, 12 Jul 2023 12:23:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-12T12:23:37.1169631Z",
        "x-ms-file-creation-time": "2023-07-12T12:23:37.1169631Z",
        "x-ms-file-id": "0",
        "x-ms-file-last-write-time": "2023-07-12T12:23:37.1169631Z",
        "x-ms-file-parent-id": "0",
        "x-ms-server-encrypted": "false",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetpropertieswithbasedirectory?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 12 Jul 2023 12:23:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
