{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosshareoauthnegative?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "FileOAuthManagementApiRestrictedToSrp"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EFileOAuthManagementApiRestrictedToSrp\u003C/Code\u003E\u003CMessage\u003EThis API does not support bearer tokens. For OAuth, use the Storage Resource Provider APIs instead. Learn more: https://aka.ms/azurefiles/restapi.\n",
        "RequestId:e95d1163-101a-0029-13b5-c6fb9b000000\n",
        "Time:2023-08-04T09:23:39.9465592Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosshareoauthnegative?comp=properties\u0026restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "FileOAuthManagementApiRestrictedToSrp"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EFileOAuthManagementApiRestrictedToSrp\u003C/Code\u003E\u003CMessage\u003EThis API does not support bearer tokens. For OAuth, use the Storage Resource Provider APIs instead. Learn more: https://aka.ms/azurefiles/restapi.\n",
        "RequestId:e95d1166-101a-0029-15b5-c6fb9b000000\n",
        "Time:2023-08-04T09:23:40.5202279Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosshareoauthnegative?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "FileOAuthManagementApiRestrictedToSrp"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EFileOAuthManagementApiRestrictedToSrp\u003C/Code\u003E\u003CMessage\u003EThis API does not support bearer tokens. For OAuth, use the Storage Resource Provider APIs instead. Learn more: https://aka.ms/azurefiles/restapi.\n",
        "RequestId:e95d1167-101a-0029-16b5-c6fb9b000000\n",
        "Time:2023-08-04T09:23:40.8050637Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
