{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileuploadrangefromurloffsetnegative?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:48:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792DAEDED4E2\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:48:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileuploadrangefromurloffsetnegative/srcgotestfilefileuploadrangefromurloffsetnegative",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "20480",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:48:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792DAF09DEA3\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:48:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-30T05:48:52.0205987Z",
        "x-ms-file-creation-time": "2023-06-30T05:48:52.0205987Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-30T05:48:52.0205987Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileuploadrangefromurloffsetnegative/srcgotestfilefileuploadrangefromurloffsetnegative",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:48:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB792DAF09DEA3\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:48:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-30T05:48:52.0205987Z",
        "x-ms-file-creation-time": "2023-06-30T05:48:52.0205987Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-30T05:48:52.0205987Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileuploadrangefromurloffsetnegative/destgotestfilefileuploadrangefromurloffsetnegative",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "20480",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:48:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB792DAF5DE5EB\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 05:48:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-30T05:48:52.5712875Z",
        "x-ms-file-creation-time": "2023-06-30T05:48:52.5712875Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-30T05:48:52.5712875Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfileuploadrangefromurloffsetnegative?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 30 Jun 2023 05:48:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
