{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:12 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB8214A1E94409\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:13 GMT",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/srcgotestfilefilestartcopysourcecreationtime",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:12 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T21:02:00.0000000Z",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB8214A213E894\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:13 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Archive",
        "x-ms-file-change-time": "2023-07-11T13:42:13.3227668Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T21:02:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/dstgotestfilefilestartcopysourcecreationtime",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/srcgotestfilefilestartcopysourcecreationtime",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:12 GMT",
        "x-ms-file-creation-time": "source",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB8214A240BE76\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:13 GMT",
        "x-ms-copy-id": "7b634f5d-496c-4298-9779-3cbe6d2d67f2",
        "x-ms-copy-status": "success",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/dstgotestfilefilestartcopysourcecreationtime",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB8214A240BE76\u0022",
        "Last-Modified": "Tue, 11 Jul 2023 13:42:13 GMT",
        "x-ms-copy-completion-time": "Tue, 11 Jul 2023 13:42:13 GMT",
        "x-ms-copy-id": "7b634f5d-496c-4298-9779-3cbe6d2d67f2",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/srcgotestfilefilestartcopysourcecreationtime",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-11T13:42:13.6166006Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-11T13:42:13.6166006Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Tue, 11 Jul 2023 13:42:17 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
