{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedifferentdir?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:48:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D3855F3DCEF\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:48:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedifferentdir/godirdirectoryrenamedifferentdir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:48:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D3856250B22\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:48:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-17T06:48:50.5920290Z",
        "x-ms-file-creation-time": "2025-12-17T06:48:50.5920290Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-12-17T06:48:50.5920290Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedifferentdir/godirdirectoryrenamedifferentdir/subDir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:48:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D3856525607\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:48:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-17T06:48:50.8888583Z",
        "x-ms-file-creation-time": "2025-12-17T06:48:50.8888583Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-12-17T06:48:50.8888583Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedifferentdir/destDir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:48:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D38568370ED\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:48:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-17T06:48:51.2106733Z",
        "x-ms-file-creation-time": "2025-12-17T06:48:51.2106733Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-12-17T06:48:51.2106733Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedifferentdir/destDir/subDir2?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:48:51 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE3D3856B1CD0C\"",
        "Last-Modified": "Wed, 17 Dec 2025 06:48:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-12-17T06:48:51.5144972Z",
        "x-ms-file-creation-time": "2025-12-17T06:48:50.8888583Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-12-17T06:48:50.8888583Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6308620360510780710*4564291401320309423",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedifferentdir/godirdirectoryrenamedifferentdir/subDir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:48:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:51102438-c01a-0041-7521-6fcf82000000\n",
        "Time:2025-12-17T06:48:51.8099785Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenamedifferentdir?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 17 Dec 2025 06:48:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
