{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetsetmetadatamergeandreplace?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:46:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FDC9ADF4B\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:46:09 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetsetmetadatamergeandreplace/godirdirgetsetmetadatamergeandreplace?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:46:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FDCCAF825\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:46:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-20T05:46:10.1014565Z",
        "x-ms-file-creation-time": "2023-10-20T05:46:10.1014565Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-20T05:46:10.1014565Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetsetmetadatamergeandreplace/godirdirgetsetmetadatamergeandreplace?comp=metadata\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:46:10 GMT",
        "x-ms-meta-Color": "RED",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FDCEDC263\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:46:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetsetmetadatamergeandreplace/godirdirgetsetmetadatamergeandreplace?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:46:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD12FDCEDC263\u0022",
        "Last-Modified": "Fri, 20 Oct 2023 05:46:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-20T05:46:10.3294563Z",
        "x-ms-file-creation-time": "2023-10-20T05:46:10.1014565Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-20T05:46:10.1014565Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6785225114448717827*3959456104892465034",
        "x-ms-meta-Color": "RED",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirgetsetmetadatamergeandreplace?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Fri, 20 Oct 2023 05:46:11 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
