{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8C145F8F2A\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:45 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/srcgotestfilefilestartcopysourcecreationtime",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "0",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:45 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden",
        "x-ms-file-change-time": "2023-03-31T21:08:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-last-write-time": "2023-03-31T21:02:00.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8C1490DAF8\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:45 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Archive",
        "x-ms-file-change-time": "2023-03-31T21:08:00.0000000Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-03-31T21:02:00.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/dstgotestfilefilestartcopysourcecreationtime",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/srcgotestfilefilestartcopysourcecreationtime",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:45 GMT",
        "x-ms-file-creation-time": "source",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9C8C14C502AC\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:46 GMT",
        "x-ms-copy-id": "d3929196-de0a-4d03-8d9d-895899ecc557",
        "x-ms-copy-status": "success",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/dstgotestfilefilestartcopysourcecreationtime",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB9C8C14C502AC\u0022",
        "Last-Modified": "Mon, 14 Aug 2023 06:02:46 GMT",
        "x-ms-copy-completion-time": "Mon, 14 Aug 2023 06:02:46 GMT",
        "x-ms-copy-id": "d3929196-de0a-4d03-8d9d-895899ecc557",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime/srcgotestfilefilestartcopysourcecreationtime",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-08-14T06:02:46.0867244Z",
        "x-ms-file-creation-time": "2023-03-31T21:05:00.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-08-14T06:02:46.0867244Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11440559603526778118*3919785451690939784",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosfilestartcopysourcecreationtime?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Mon, 14 Aug 2023 06:02:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
