{
  "Entries": [
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameparentnotfound?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:05:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E511C1F0B8B\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:05:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameparentnotfound/godirdirectoryrenameparentnotfound?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:05:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB9E511C4C1434\u0022",
        "Last-Modified": "Wed, 16 Aug 2023 12:05:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-08-16T12:05:40.7344692Z",
        "x-ms-file-creation-time": "2023-08-16T12:05:40.7344692Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-08-16T12:05:40.7344692Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6827111833067045377*3919785451690939784",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameparentnotfound/dir1/dir2?comp=rename\u0026restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:05:40 GMT",
        "x-ms-file-rename-source": "https://fakestorage.file.core.windows.net/gosdirectoryrenameparentnotfound/godirdirectoryrenameparentnotfound",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EParentNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified parent path does not exist.\n",
        "RequestId:60c599d3-201a-0040-3e39-d0c2d7000000\n",
        "Time:2023-08-16T12:05:41.0220024Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorage.file.core.windows.net/gosdirectoryrenameparentnotfound?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Aug 2023 12:05:41 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
