{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/be82abae-23bd-48fa-9d16-3b685d8b95ad",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/be82abae-23bd-48fa-9d16-3b685d8b95ad?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "be82abae-23bd-48fa-9d16-3b685d8b95ad",
          "status": "creating",
          "createdDateTime": "2023-04-28T19:35:22Z",
          "lastUpdatedDateTime": "2023-04-28T19:35:22Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/be82abae-23bd-48fa-9d16-3b685d8b95ad?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "be82abae-23bd-48fa-9d16-3b685d8b95ad",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2023-04-28T19:35:22Z",
          "lastUpdatedDateTime": "2023-04-28T19:35:26Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 0.995
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 0.995
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "Quantity",
              "accuracy": 0.995
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 0.995
            },
            {
              "fieldName": "Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "Total",
              "accuracy": 0.995
            },
            {
              "fieldName": "VendorName",
              "accuracy": 0.995
            },
            {
              "fieldName": "Website",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b85924b1-0c30-459a-bfff-f22a01dc2fae",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelId": "b85924b1-0c30-459a-bfff-f22a01dc2fae",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1682796926
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/be82abae-23bd-48fa-9d16-3b685d8b95ad/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-eastus",
        "targetResourceRegion": "eastus",
        "copyAuthorization": {
          "modelId": "b85924b1-0c30-459a-bfff-f22a01dc2fae",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1682796926
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/be82abae-23bd-48fa-9d16-3b685d8b95ad/copyresults/653d9062-af28-40e6-a629-ca937d480c9b",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/be82abae-23bd-48fa-9d16-3b685d8b95ad/copyResults/653d9062-af28-40e6-a629-ca937d480c9b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2023-04-28T19:35:26Z",
        "lastUpdatedDateTime": "2023-04-28T19:35:26Z",
        "copyResult": {
          "modelId": "b85924b1-0c30-459a-bfff-f22a01dc2fae"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/be82abae-23bd-48fa-9d16-3b685d8b95ad",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "899796282",
    "RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-eastus",
    "RESOURCE_REGION": "eastus",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net"
  }
}
