{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true,
        "modelName": "My model to copy"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b0b0fd36-b08d-4999-bd17-73181c9a5bc0",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b0b0fd36-b08d-4999-bd17-73181c9a5bc0?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "b0b0fd36-b08d-4999-bd17-73181c9a5bc0",
          "modelName": "My model to copy",
          "status": "creating",
          "createdDateTime": "2024-10-07T22:13:36Z",
          "lastUpdatedDateTime": "2024-10-07T22:13:36Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b0b0fd36-b08d-4999-bd17-73181c9a5bc0?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "b0b0fd36-b08d-4999-bd17-73181c9a5bc0",
          "modelName": "My model to copy",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2024-10-07T22:13:36Z",
          "lastUpdatedDateTime": "2024-10-07T22:13:39Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 0.995
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 0.995
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "Quantity",
              "accuracy": 0.995
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 0.995
            },
            {
              "fieldName": "Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "Total",
              "accuracy": 0.995
            },
            {
              "fieldName": "VendorName",
              "accuracy": 0.995
            },
            {
              "fieldName": "Website",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b76bf2b5-908a-4595-83b6-150751d86d94",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelId": "b76bf2b5-908a-4595-83b6-150751d86d94",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1728425622
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b0b0fd36-b08d-4999-bd17-73181c9a5bc0/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-localtests",
        "targetResourceRegion": "eastus",
        "copyAuthorization": {
          "modelId": "b76bf2b5-908a-4595-83b6-150751d86d94",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1728425622
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b0b0fd36-b08d-4999-bd17-73181c9a5bc0/copyresults/c3b9589d-2669-47e7-a33f-581a75517311",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b0b0fd36-b08d-4999-bd17-73181c9a5bc0/copyResults/c3b9589d-2669-47e7-a33f-581a75517311",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2024-10-07T22:13:44Z",
        "lastUpdatedDateTime": "2024-10-07T22:13:44Z",
        "copyResult": {
          "modelId": "b76bf2b5-908a-4595-83b6-150751d86d94"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b76bf2b5-908a-4595-83b6-150751d86d94",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/b0b0fd36-b08d-4999-bd17-73181c9a5bc0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1561114080",
    "RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-localtests",
    "RESOURCE_REGION": "eastus",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net"
  }
}
