{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/4a46f1d3-4e68-4dfd-b80b-67346b00de26",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/4a46f1d3-4e68-4dfd-b80b-67346b00de26?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "4a46f1d3-4e68-4dfd-b80b-67346b00de26",
          "status": "creating",
          "createdDateTime": "2023-04-28T19:34:00Z",
          "lastUpdatedDateTime": "2023-04-28T19:34:00Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/4a46f1d3-4e68-4dfd-b80b-67346b00de26?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "4a46f1d3-4e68-4dfd-b80b-67346b00de26",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2023-04-28T19:34:00Z",
          "lastUpdatedDateTime": "2023-04-28T19:34:03Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 0.995
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 0.995
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "Quantity",
              "accuracy": 0.995
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 0.995
            },
            {
              "fieldName": "Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "Total",
              "accuracy": 0.995
            },
            {
              "fieldName": "VendorName",
              "accuracy": 0.995
            },
            {
              "fieldName": "Website",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/compose",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelIds": [
          "4a46f1d3-4e68-4dfd-b80b-67346b00de26",
          "487381f7-021a-4efc-8c88-366424927be3"
        ],
        "modelName": "My composed model"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5fddadd3-8f8d-414e-9eea-b52347d5ab3c",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5fddadd3-8f8d-414e-9eea-b52347d5ab3c?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "5fddadd3-8f8d-414e-9eea-b52347d5ab3c",
          "modelName": "My composed model",
          "attributes": {
            "isComposed": true
          },
          "status": "ready",
          "createdDateTime": "2023-04-28T19:34:09Z",
          "lastUpdatedDateTime": "2023-04-28T19:34:09Z"
        },
        "composedTrainResults": [
          {
            "averageModelAccuracy": 0.96,
            "trainingDocuments": [
              {
                "documentName": "Form_1.jpg",
                "pages": 1,
                "status": "succeeded"
              },
              {
                "documentName": "Form_2.jpg",
                "pages": 1,
                "status": "succeeded"
              },
              {
                "documentName": "Form_3.jpg",
                "pages": 1,
                "status": "s[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/52b8cc98-9d01-4a30-beef-b64a5e9b498a",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelId": "52b8cc98-9d01-4a30-beef-b64a5e9b498a",
        "accessToken": "Sanitized",
        "expirationDateTimeTicks": 1682796851
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5fddadd3-8f8d-414e-9eea-b52347d5ab3c/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-eastus",
        "targetResourceRegion": "eastus",
        "copyAuthorization": {
          "modelId": "52b8cc98-9d01-4a30-beef-b64a5e9b498a",
          "accessToken": "Sanitized",
          "expirationDateTimeTicks": 1682796851
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5fddadd3-8f8d-414e-9eea-b52347d5ab3c/copyresults/29c5f1f2-8bba-4f56-9b3f-d67a159d3a39",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5fddadd3-8f8d-414e-9eea-b52347d5ab3c/copyResults/29c5f1f2-8bba-4f56-9b3f-d67a159d3a39",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2023-04-28T19:34:11Z",
        "lastUpdatedDateTime": "2023-04-28T19:34:11Z",
        "copyResult": {
          "modelId": "52b8cc98-9d01-4a30-beef-b64a5e9b498a"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/487381f7-021a-4efc-8c88-366424927be3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/4a46f1d3-4e68-4dfd-b80b-67346b00de26",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "1118459706",
    "RESOURCE_ID": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor-rg/providers/Microsoft.CognitiveServices/accounts/camaiaor-formrec-eastus",
    "RESOURCE_REGION": "eastus",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net"
  }
}
