{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/cc117cf6-9f8f-483f-8034-e87ecffc151a",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/cc117cf6-9f8f-483f-8034-e87ecffc151a?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "cc117cf6-9f8f-483f-8034-e87ecffc151a",
          "status": "creating",
          "createdDateTime": "2023-08-23T19:13:31Z",
          "lastUpdatedDateTime": "2023-08-23T19:13:31Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/cc117cf6-9f8f-483f-8034-e87ecffc151a?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "cc117cf6-9f8f-483f-8034-e87ecffc151a",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2023-08-23T19:13:31Z",
          "lastUpdatedDateTime": "2023-08-23T19:13:34Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.971,
          "trainingDocuments": [
            {
              "documentName": "multi1.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi2.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi3.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi4.pdf",
              "pages": 2,
              "status": "succeeded"
            },
            {
              "documentName": "multi5.pdf",
              "pages": 2,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "Bronze",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.8
            },
            {
              "fieldName": "Contact",
              "accuracy": 0.995
            },
            {
              "fieldName": "Full",
              "accuracy": 0.995
            },
            {
              "fieldName": "Gold",
              "accuracy": 0.995
            },
            {
              "fieldName": "Half",
              "accuracy": 0.995
            },
            {
              "fieldName": "Silver",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/cc117cf6-9f8f-483f-8034-e87ecffc151a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "MULTIPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net",
    "RandomSeed": "1883734782"
  }
}
