{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "Sanitized",
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/3d085a68-c076-4924-b837-98890a5d4e62",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/3d085a68-c076-4924-b837-98890a5d4e62?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "3d085a68-c076-4924-b837-98890a5d4e62",
          "status": "creating",
          "createdDateTime": "2024-10-07T22:08:29Z",
          "lastUpdatedDateTime": "2024-10-07T22:08:29Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/3d085a68-c076-4924-b837-98890a5d4e62?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "3d085a68-c076-4924-b837-98890a5d4e62",
          "attributes": {
            "isComposed": false
          },
          "status": "ready",
          "createdDateTime": "2024-10-07T22:08:29Z",
          "lastUpdatedDateTime": "2024-10-07T22:08:32Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.96,
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "CompanyAddress",
              "accuracy": 0.8
            },
            {
              "fieldName": "CompanyName",
              "accuracy": 0.995
            },
            {
              "fieldName": "CompanyPhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "DatedAs",
              "accuracy": 0.995
            },
            {
              "fieldName": "Email",
              "accuracy": 0.8
            },
            {
              "fieldName": "Merchant",
              "accuracy": 0.995
            },
            {
              "fieldName": "PhoneNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "PurchaseOrderNumber",
              "accuracy": 0.995
            },
            {
              "fieldName": "Quantity",
              "accuracy": 0.995
            },
            {
              "fieldName": "Signature",
              "accuracy": 0.8
            },
            {
              "fieldName": "Subtotal",
              "accuracy": 0.995
            },
            {
              "fieldName": "Tax",
              "accuracy": 0.995
            },
            {
              "fieldName": "Total",
              "accuracy": 0.995
            },
            {
              "fieldName": "VendorName",
              "accuracy": 0.995
            },
            {
              "fieldName": "Website",
              "accuracy": 0.995
            }
          ],
          "errors": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models?op=full",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelList": [
          {
            "modelId": "3d085a68-c076-4924-b837-98890a5d4e62",
            "attributes": {
              "isComposed": false
            },
            "status": "ready",
            "createdDateTime": "2024-10-07T22:08:29Z",
            "lastUpdatedDateTime": "2024-10-07T22:08:32Z"
          },
          {
            "modelId": "4bb6cff9-c9f6-40e2-ad52-e422d7b324ff",
            "status": "creating",
            "createdDateTime": "2024-10-07T20:59:14Z",
            "lastUpdated[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models?op=summary",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "summary": {
          "count": 30,
          "limit": 20000,
          "lastUpdatedDateTime": "2024-10-07T22:08:33Z"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/3d085a68-c076-4924-b837-98890a5d4e62",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/3d085a68-c076-4924-b837-98890a5d4e62?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "1022",
          "message": "Model with 'id=3d085a68-c076-4924-b837-98890a5d4e62' not found."
        }
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1769104284",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL_V2": "https://sanitized.blob.core.windows.net"
  }
}
