{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D18749104\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D187EC974\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80/sourceFolder/test-file-0d806b6c-5cf4-a4a2-3ab8-d05d3bcf404e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D1889AD67\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80/sourceFolder/bar/test-file-553f5f42-adc7-976e-303d-621e1e7fcc8c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D189BE86F\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80/sourceFolder/pik/test-file-07c295c8-3de5-f671-3baf-4bb5b8a3e71d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D18A52CD3\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D18AE968B\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:01:47.3749643Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:47.3749643Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:01:47.3749643Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-842c519b-052c-b657-451b-dfd25218ff80\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-553f5f42-adc7-976e-303d-621e1e7fcc8c</Name><Properties><Creation-Time>Tue, 10 Dec 2024 19:01:47 GMT</Creation-Time><Last-Modified>Tue, 10 Dec 2024 19:01:47 GMT</Last-Modified><Etag>0x8DD194D189BE86F</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-07c295c8-3de5-f671-3baf-4bb5b8a3e71d</Name><Properties><Creation-Time>Tue, 10 Dec 2024 19:01:47 GMT</Creation-Time><Last-Modified>Tue, 10 Dec 2024 19:01:47 GMT</Last-Modified><Etag>0x8DD194D18A52CD3</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disp[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/bar?sv=Sanitized&se=2024-12-11T19%3A01%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D18CBE8B3\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:01:47.5671219Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:47.5671219Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T19:01:47.5671219Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/pik?sv=Sanitized&se=2024-12-11T19%3A01%3A47Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D18D52D1D\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:01:47.6278557Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:47.6278557Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-10T19:01:47.6278557Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/bar/test-file-553f5f42-adc7-976e-303d-621e1e7fcc8c?sv=Sanitized&se=2024-12-11T19%3A01%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/test-file-0d806b6c-5cf4-a4a2-3ab8-d05d3bcf404e?sv=Sanitized&se=2024-12-11T19%3A01%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/pik/test-file-07c295c8-3de5-f671-3baf-4bb5b8a3e71d?sv=Sanitized&se=2024-12-11T19%3A01%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/bar/test-file-553f5f42-adc7-976e-303d-621e1e7fcc8c?sv=Sanitized&se=2024-12-11T19%3A01%3A47Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-content-length": "0",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D18E41088\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:01:47.7254280Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:47.7254280Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-12-10T19:01:47.7254280Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-0d806b6c-5cf4-a4a2-3ab8-d05d3bcf404e</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>0</Content-Length></Properties></File><File><Name>test-file-8d019e43-922c-f121-4ea7-69ab7914942f</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-553f5f42-adc7-976e-303d-621e1e7fcc8c</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-07c295c8-3de5-f671-3baf-4bb5b8a3e71d</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80/sourceFolder/bar/test-file-553f5f42-adc7-976e-303d-621e1e7fcc8c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194D189BE86F\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/bar/test-file-553f5f42-adc7-976e-303d-621e1e7fcc8c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D18E41088\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:01:47.7254280Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:47.7254280Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-12-10T19:01:47.7254280Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/pik/test-file-07c295c8-3de5-f671-3baf-4bb5b8a3e71d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D18EB3476\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:01:47.7722230Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:47.7722230Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2024-12-10T19:01:47.7722230Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c/destFolder/test-file-0d806b6c-5cf4-a4a2-3ab8-d05d3bcf404e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194D18E9AF8B\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T19:01:47.7622667Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:47.7622667Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-10T19:01:47.7622667Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9aeda507-6966-19ac-b3bf-92e54d3e513c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-842c519b-052c-b657-451b-dfd25218ff80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:01:47.6986330-08:00",
    "RandomSeed": "1522627143",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
