{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2e9c53fa-5cc4-9564-f90a-0230627f275c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D0C807D31\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8a963356-c5be-70fe-88fb-5b4fee778137?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D0C8B5C5A\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8a963356-c5be-70fe-88fb-5b4fee778137/test-file-9dff1a77-a2e1-b80c-de58-b0eaae26dc0d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194D0C964478\"",
        "Last-Modified": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T19:01:27.0829176Z",
        "x-ms-file-creation-time": "2024-12-10T19:01:27.0829176Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T19:01:27.0829176Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2e9c53fa-5cc4-9564-f90a-0230627f275c?restype=container&comp=list&prefix=test-file-0bde7b2e-9ab0-afa0-6f0f-635686e699b9%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-2e9c53fa-5cc4-9564-f90a-0230627f275c\"><Prefix>test-file-0bde7b2e-9ab0-afa0-6f0f-635686e699b9/</Prefix><Blobs /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8a963356-c5be-70fe-88fb-5b4fee778137/test-file-9dff1a77-a2e1-b80c-de58-b0eaae26dc0d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-8a963356-c5be-70fe-88fb-5b4fee778137\" DirectoryPath=\"test-file-9dff1a77-a2e1-b80c-de58-b0eaae26dc0d\"><DirectoryId>13835128424026341376</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-8a963356-c5be-70fe-88fb-5b4fee778137?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2e9c53fa-5cc4-9564-f90a-0230627f275c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 19:01:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T11:01:27.4084427-08:00",
    "RandomSeed": "16837208",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
