{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140759184F4\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:52:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140759BD307\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/test-file-8ba1afb5-b847-a132-a9aa-020f3a44a22b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514075A2E8FF\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:52:24.9846015Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/test-file-8ba1afb5-b847-a132-a9aa-020f3a44a22b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "epq1moN6tAJt7Uz1wo9IRRP15/HvLornj195KIyDPY4swfUUOBxfOvqeHVlrPN4aYr38RF2wO0sQzQsjAYx26rC9yAGaNAz2laz3UREwe1KBXsbOh/gxe4apA2oRPDluKDKornTdgC2xBa6wueo631G5oqLGp2O3i0178DCh5FlziSjeiM3eo96YHYFJgcKcbyQYWJqWp4DP8CImYo/9DyBVPTDBW1eE2/7ELYrhbgqK3oEMiYy/3OGoD5ert0FOmw1h9EOR2hTMlH2b0nn17YIXnIMO8IaUlmFPGUvA2SO9dZJ9gHnG+QNsP/QOIwlnsiIUkxu9QKqHzF3iQsHIC7tZ3l3neGwIUaN/obGRhXJX52YprEUI/zXo9rMc5LZCpDM5tUWsgDq1C0J4PZ759Ufriltbnl9[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/folder1/test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514075B38868\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:52:25.0935400Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/folder1/test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody":[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514075C141FF\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:52:25.1834879Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "Reque[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514075D0A344\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:52:25.2842820Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.2842820Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:52:25.2842820Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c</Name><VersionId>2025-02-19T23:52:25.1834879Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:52:25 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:52:25 GMT</Last-Modified><Etag>0x8DD514075C7F7C4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e</Name><VersionId>2025-02-19T23:52:25.0935400Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:52:25 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:52:25 GMT</Last-Modified><Etag>0x8DD514075BA6531</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Cont[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514075E44F71\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:52:25.4132081Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.4132081Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:52:25.4132081Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514075EADE2B\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:52:25.4561835Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.4561835Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:52:25.4561835Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/folder2?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514075F31A56\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:52:25.5101526Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.5101526Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:52:25.5101526Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/test-file-8ba1afb5-b847-a132-a9aa-020f3a44a22b?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514076F6A8B6\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:52:27.2111798Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:52:27.2111798Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/test-file-8ba1afb5-b847-a132-a9aa-020f3a44a22b?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/test-file-8ba1afb5-b847-a132-a9aa-020f3a44a22b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51407707210E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-content-crc64": "AO++iKWPGSY=",
        "x-ms-file-last-write-time": "2025-02-19T23:52:27.2241726Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51407707BD3F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-content-crc64": "hWMUKxZxpro=",
        "x-ms-file-last-write-time": "2025-02-19T23:52:27.2111798Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/test-file-8ba1afb5-b847-a132-a9aa-020f3a44a22b?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:52:24.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140770DD6D9\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:52:27.3630937Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:24.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:52:27.2241726Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140770E4BF8\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:52:27.3660920Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:52:27.2111798Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/folder1/test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514077126A08\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-content-crc64": "fq9ZElxI+r8=",
        "x-ms-file-last-write-time": "2025-02-19T23:52:27.3221165Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e?sv=Sanitized&se=2025-02-20T23%3A52%3A25Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51407718F8C2\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:52:27.4360514Z",
        "x-ms-file-creation-time": "2025-02-19T23:52:25.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-19T23:52:27.3221165Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-35a2a850-13d9-43e2-bc34-6c545b849e87\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-35a2a850-13d9-43e2-bc34-6c545b849e87\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-8ba1afb5-b847-a132-a9aa-020f3a44a22b</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-35a2a850-13d9-43e2-bc34-6c545b849e87\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-a1acbd2c-a152-484d-11fc-899048a7cf4e</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-35a2a850-13d9-43e2-bc34-6c545b849e87/destFolder/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:52:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-35a2a850-13d9-43e2-bc34-6c545b849e87\" DirectoryPath=\"destFolder/folder0/folder1/folder2\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-eb7a811b-15cb-6ad5-fd56-6cf1d5d858a3/sourceFolder/folder0/folder1/folder2/test-file-b8c227a0-3eda-6c00-2866-3b45fedc682c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD514075C7F7C4\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:52:25 GMT",
        "x-ms-is-current-version": "true",
[...]
