{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/info?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "search": {
          "hash": "e25d86217a74ce1c0380aa72a6f2a975",
          "search": {
            "collections": [
              "naip"
            ],
            "filter-lang": "cql2-json"
          },
          "_where": "collection = ANY ('{naip}') ",
          "orderby": "datetime DESC, id DESC",
          "lastused": "2026-06-08T21:45:49.917683Z",
          "usecount": 1,
          "metadata": {
            "type": "mosaic",
            "bounds": [
              -124.784,
              24.744,
              -66.951,
              49.346
            ],
            "name": "Mosaic for 'naip' Collection",
            "assets": [
              "image",
              "metadata",
              "thumbnail"
            ]
          }
        },
        "links": [
          {
            "href": "https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/info",
            "rel": "self",
            "type": "application/json",
            "title": "Collection metadata"
          },
          {
            "href": "https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.geocatalogs.azure.com/data/mosaic/collections/naip/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
