{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db94d92c-f9c4-4768-ae4b-83d50cea378d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "PBS Team Testing Subscription - S360 sbharath",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/workloadNetworks/default/vmGroups/a8b7ddce-a5d6-11e8-a7e5-43344e310957?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/workloadNetworks/default/vmGroups/a8b7ddce-a5d6-11e8-a7e5-43344e310957",
        "name": "a8b7ddce-a5d6-11e8-a7e5-43344e310957",
        "properties": {
          "displayName": "Edge_NSGroup",
          "provisioningState": "Succeeded",
          "revision": 0,
          "status": "SUCCESS"
        },
        "type": "Microsoft.AVS/privateClouds/workloadNetworks/vmGroups"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db94d92c-f9c4-4768-ae4b-83d50cea378d/resourceGroups/avs-dotnet-test/providers/Microsoft.AVS/privateClouds/avs-dotnet-test-w2/workloadNetworks/default/vmGroups/wn1?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The Resource 'Microsoft.AVS/avs-dotnet-test-w2/default/wn1' under resource group 'avs-dotnet-test' was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "667327801",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db94d92c-f9c4-4768-ae4b-83d50cea378d"
  }
}
