{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D545175341\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/test-file-c4bd4f1b-9ead-50e8-dbf0-65601e1ccfc3?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54529F98C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:17.7424268Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/test-file-c4bd4f1b-9ead-50e8-dbf0-65601e1ccfc3?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "wosl6aoVt3hQMfRGIqVXzJ8WmAv58YxLIC4VSOidgLWZJZ2S9+YYDIpUg6na6GwJDeiruY5LR9H+2cl8AG+Ps7E/rP0IxdW5/oyApW3jcTfBCzr/8cYnTd7MlB0dnAsaxND4mzxuAUgS8rsBy6JjG2iSuvU1j8HqGF8fOzG4nGGAZeCd69X7Ugry7P8LJYI7aHi0iuIW5TQODoLcT8UXWlZZgGbBxS+SlmfrQ6LC3vLc49K4BBF/an+rjt1THgNE2pKpsqUceqNJIfN6K6KSTC+QAGzyX1VE2hXmFTZSP3hkpmgPGSxNwGgvbuMdBD/cGUKtwh2XUXs9ZNiPNWRs9+F7FoQ6gjMDQkADwvBxJ9XWCfz0pH1azFXs0rRUvooEw3cCou67opcOqn/dlI6Kyz0CuStod1NkIEkuTa9+r4S1/v95b4TmGmdl5fn9fTjGYgZ3UQVem0sjnoKkjFTnkPv7KJWPEVy4HJ7EA5JZZ6IRZ+upB11/VmOzVdECQo0TflX+AVWiN1CqvjRmmpi5yjffkiRpPoidfNEy27yLtdoQsYU8WmVNbjCa/kgpGLzK+YqaI69oqT/MYYWDcFyUHwhaVukTfG/RkST0zj9AdGQUZ+Ex8JIqpwdFcPnfyf3UBt8/zsLStnwbyJGLdNsAjOwhbwh6Yy52MK7izgx18cc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54531E7A2\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:17 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "qrC0X/8vCmo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/bar/test-file-097a100f-c2d5-0571-cf86-f60a0e081700?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54549D8EE\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:17.9513070Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/bar/test-file-097a100f-c2d5-0571-cf86-f60a0e081700?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/pik/test-file-2a78adf6-02c0-a4ac-c696-dadcb20b4b17?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5455A514D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:18.0592461Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/pik/test-file-2a78adf6-02c0-a4ac-c696-dadcb20b4b17?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-965167f8-ea38-2dd9-320d-a462e733ae97\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-c4bd4f1b-9ead-50e8-dbf0-65601e1ccfc3</Name><VersionId>2025-07-11T23:47:17.7424268Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:47:17 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:47:17 GMT</Last-Modified><Etag>0x8DDC0D54531E7A2</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-d3cc4222-cfda-8f2f-af65-b54bd0265640</Name><VersionId>2025-07-11T23:47:17.8363728Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:47:17 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:47:17 GMT</Last-Modified><Etag>0x8DDC0D545434A33</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6c94bcfa-11e8-095d-2afc-a8e30d5ca066/destinationFolder/test-file-c4bd4f1b-9ead-50e8-dbf0-65601e1ccfc3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5457660A8\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:18.2431400Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6c94bcfa-11e8-095d-2afc-a8e30d5ca066/destinationFolder/bar/test-file-097a100f-c2d5-0571-cf86-f60a0e081700",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5457CEF5D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:18.2861149Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6c94bcfa-11e8-095d-2afc-a8e30d5ca066/destinationFolder/test-file-c4bd4f1b-9ead-50e8-dbf0-65601e1ccfc3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/test-file-c4bd4f1b-9ead-50e8-dbf0-65601e1ccfc3?sv=sanitized-value&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5457EEAE4\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "qrC0X/8vCmo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6c94bcfa-11e8-095d-2afc-a8e30d5ca066/destinationFolder/pik/test-file-2a78adf6-02c0-a4ac-c696-dadcb20b4b17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D545837E1A\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:18.3290906Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6c94bcfa-11e8-095d-2afc-a8e30d5ca066/destinationFolder/bar/test-file-097a100f-c2d5-0571-cf86-f60a0e081700?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/bar/test-file-097a100f-c2d5-0571-cf86-f60a0e081700?sv=sanitized-value&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54585EEBC\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "hs1dSGcZaG0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6c94bcfa-11e8-095d-2afc-a8e30d5ca066/destinationFolder/pik/test-file-2a78adf6-02c0-a4ac-c696-dadcb20b4b17?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/pik/test-file-2a78adf6-02c0-a4ac-c696-dadcb20b4b17?sv=sanitized-value&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5458C7D77\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ibLQnOaAbrk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6c94bcfa-11e8-095d-2afc-a8e30d5ca066?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
 [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/bar/test-file-097a100f-c2d5-0571-cf86-f60a0e081700?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D545523C23\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:47:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:17.9513070Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97/sourceFolder/bar/test-file-097a100f-c2d5-0571-cf86-f60a0e081700?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D545523C23\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D545523C23\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:47:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:17.9513070Z"
      },
      "ResponseBody": "oRLXsnHBSbfvAOZpBkqF6F8YfrWvryklBmNuZzDyH6uiAFfdirkQTcbDGtTbB/6EAA2q9YlhUfLosawOU+GH/OA7xwbzqF6mBzDu7JVUSf5k6mciSCohQK9l9NgNAvrlPB30oED4kFiuBO1Zc2Vck2etqWl6ZLO2GodWjrOGmAU2CbB3YKm+bFkPc0Q8yMxJCGBwYFmRatdpPoW4oQGkKGzoI2q15DO97zwPa/FveVG6DYZSFTispJ7YDSIjBcpXakvYVKVilCMts3Ecgf7l+cQ0/pR7URMzO37L3NYRmelytwCllyWsWHhiJWLHjyKf8hNd7wc23Bk4pBgmlrdMGxmHqsr+QGKeh6YbGCuwbKxbK+nCs6riO9vnbfMNhcHAFglJP+VYobKxv2hgGsPthzdsy2rOiWhupG7uFtJvkQHkWgIiZy3GAoo2EfRCgSEY+ua7obpW8oyh2pp3aovgQi1mfL/Ayh8Kpcjgl3hzLCNN1Rzrs/BHjWh2gY2ST5j/Vs7H3AVhWC/HsfvxdloTLa13KZVu9Y48Hu5XSUmRd1Yw4UGprFAe63ztIwL0VhcNYlPfGyUCkGBAir0WCg7lNTmlwJUZaoBdWT4YgdGMSMjXSeb1slwwLVDgaSKSB+BuB+7IT5WC9PjTgsHn6g+Ps0L1P8Eo74PcdJNEOABeylI="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-965167f8-ea38-2dd9-320d-a462e733ae97?sv=Sanitized&se=2025-07-12T23%3A47%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:15525819-801e-003a-36be-f2c0ba000000\n",
        "Time:2025-07-11T23:47:19.8067086Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:47:17.6515376-07:00",
    "RandomSeed": "206294138",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
