{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5492E1EA4\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D549418022\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:24.6074914Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Ar+RN4uATAD0xdAhBWrvPe2miJ5WQ2JEysUV89qiAzF/EVPhNCqUPJv0WxuElO7h3WyEj1dNi79cTGzFalkmUsKeovQWDgjCEUwDYedGwDbWNBZtHXPaMYaThOe9z9FCzglZ5fL6ys9jwX4KSinYFos27jZCuDVOw3FtgoohBUJ6wZPd7dtE3GlGClv1z+ddu25chuCb/xXUCiGAjEhEQrw7j4iV+iiw8hHM/K7ZWfSKD8ccxX5i38J9CeO5w08hAseeuT9eyMBFq5TOzwJn+rEt9n2AKH0+2bDGF/FF9y/Cq/nmOp+0K0cG1hnqkxC/Fg4xi8zSodlJYOCOmLHPALNkDCQJgcAReMs1eVFjVEagBgHiE2tj7wkgnNq/JZKWN9ZmhYfrtpVOHxIAnCeI5QyZ7pKw7ex[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54950E72F\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:24.7084335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "Req[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5495DB68C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:24.7923852Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5496B2215\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:24.8803349Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
   [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5\"><Prefix>source%21path%40%23%25/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source%21path%40%23%25/file%3Dtest%26</Name><VersionId>2025-07-11T23:47:24.7084335Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:47:24 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:47:24 GMT</Last-Modified><Etag>0x8DDC0D549574EDD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source%21path%40%23%25/file=test!@#$%</Name><VersionId>2025-07-11T23:47:24.6074914Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:47:24 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:47:24 GMT</Last-Modified><Etag>0x8DDC0D54949953F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source%21path%40%23%25/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54983D695\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:25.0422421Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D549850EE7\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:25.0502375Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/file%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5498C39C9\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "FVck8FPReYQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54990A5F2\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:25.1261938Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54991B73B\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:25.1331899Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D54991B73C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "QRg6CBccJ6c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D549993038\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "OyF8v0ICWtw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5499DEA72\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "M0vhkVmN4DE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e2fe0985-f98d-8fc1-024f-c545864b9342?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:47:25 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applic[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D549574EDD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:47:24.7084335Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D549574EDD\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D549574EDD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:47:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2a69f232-7de3-edc6-22cf-c4a76e1e31d5?sv=Sanitized&se=2025-07-12T23%3A47%3A24Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:15525939-801e-003a-05be-f2c0ba000000\n",
        "Time:2025-07-11T23:47:26.5929097Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:47:24.5131516-07:00",
    "RandomSeed": "1014958797",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
