{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75FFD57ECE\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75FFE99AD1\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.3918033Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "HmQUpZbD9Gomc9fwdQs49jAPUGI+QrSu8A9ovOg5gWc9/eE//mncVxNwNcF7P9LxAx6LK3XurtyvZrWGWzeC7fJvsngq+ffHMvlOzg3zM7A9drnJrVXyT04Fj5i0Vfvc7kfOC4xZxwomxPh7n+DPvDIFSeR+uD+dfWMpJGlfEt39cuDFJCcj46+uo+lcd69uNtNlrgwXXTUIMY4pMKKgx7EbfSz/CZcL4WU1zxVWQQazu+6W+mTQ5hWqvPOY+rMMDts3QPmDbiw7Wsyn4Y4gsfCIdXSzCs1NS5YXVU2kcueyKME5HgAMME3CWqCXKQWGigoCEIQ/WQQO6vViaxnfl+fl9LnM55LvfEUn8a8ttiKRkMpCoWJjc8+9KjQLqsQz48O4sTRLuaJ4E5M/F2dU4TPS0NtOnPW[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75FFF6DF50\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.4787536Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA760005AA37\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.5756983Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
   [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA760012A0A3\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.6606499Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2\"><Prefix>source=path@#%/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source=path@#%/file%3Dtest%26</Name><VersionId>2025-07-03T21:10:12.4787536Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:10:12 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:10:12 GMT</Last-Modified><Etag>0x8DDBA75FFFF1B7E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source=path@#%/file=test!@#$%</Name><VersionId>2025-07-03T21:10:12.3918033Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:10:12 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:10:12 GMT</Last-Modified><Etag>0x8DDBA75FFF0509A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source=path@#%/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA76002C3F5C\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.8285532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA76002DC5C0\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.8395467Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Co[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/file%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%253Dtest%2526?sv=sanitized-value&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7600340667\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "studyoGkBro=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA760036EC29\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "8LC3SZ5sHfw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA76003B5854\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.9274964Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA76003B5854\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.9274964Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA760044A5C5\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "owMO9S6nyX0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA760044A5C5\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "y8DqRaoQL7k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-ver[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-04301b67-607e-db0b-0940-816c6a199dea?restype=container&comp=list&prefix=source%3Dpath%40%23%25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:10:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDBA75FFFF1B7E\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:10:12.4787536Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDBA75FFFF1B7E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDBA75FFFF1B7E\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:10:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e21533cd-5fb0-145c-4f58-ce016d101bf2?sv=Sanitized&se=2025-07-04T21%3A10%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:1f9693e4-a01e-005f-5d5e-ec6efe000000\n",
        "Time:2025-07-03T21:10:14.4029162Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-03T14:10:12.2947349-07:00",
    "RandomSeed": "816736659",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
