{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:00:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A568DDBA70\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946/sourceFolder/test-file-6808a776-f998-39da-c917-8dea253c161f?sv=Sanitized&se=2024-10-10T21%3A00%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A568ED5373\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:30.7409535Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946/sourceFolder/bar/test-file-3444bef9-8e4c-227f-876d-38ca7ef36c27?sv=Sanitized&se=2024-10-10T21%3A00%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A568FEB612\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:30.8538898Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946/sourceFolder/pik/test-file-00a05e6a-2a5f-dfce-50c2-8f34cbc2de88?sv=Sanitized&se=2024-10-10T21%3A00%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A569074058\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:30.9098584Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946?sv=Sanitized&se=2024-10-10T21%3A00%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-3444bef9-8e4c-227f-876d-38ca7ef36c27</Name><VersionId>2024-10-09T21:00:30.8538898Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 09 Oct 2024 21:00:30 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2024 21:00:30 GMT</Last-Modified><Etag>0x8DCE8A568FEB612</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-00a05e6a-2a5f-dfce-50c2-8f34cbc2de88</Name><VersionId>2024-10-09T21:00:30.9098584Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 09 Oct 2024 21:00:30 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2024 21:00:30 GMT</Last-Modified><Etag>0x8DCE8A569074058</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Co[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b74bf05-29e0-0a5b-10a1-7e68ebceaf39/destinationFolder/pik/test-file-00a05e6a-2a5f-dfce-50c2-8f34cbc2de88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A5691D0F28\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:31.0527784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b74bf05-29e0-0a5b-10a1-7e68ebceaf39/destinationFolder/bar/test-file-3444bef9-8e4c-227f-876d-38ca7ef36c27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A5691DD259\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:31.0577753Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b74bf05-29e0-0a5b-10a1-7e68ebceaf39/destinationFolder/test-file-6808a776-f998-39da-c917-8dea253c161f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A5691DD259\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:31.0577753Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946?sv=Sanitized&se=2024-10-10T21%3A00%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b74bf05-29e0-0a5b-10a1-7e68ebceaf39?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946/sourceFolder/bar/test-file-3444bef9-8e4c-227f-876d-38ca7ef36c27?sv=Sanitized&se=2024-10-10T21%3A00%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCE8A568FEB612\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 21:00:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:30.8538898Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b74bf05-29e0-0a5b-10a1-7e68ebceaf39/destinationFolder/bar/test-file-3444bef9-8e4c-227f-876d-38ca7ef36c27",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCE8A5691DD259\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 21:00:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:00:31.0577753Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8b7128de-9ac4-7a50-0704-4ded8bd0b946?sv=Sanitized&se=2024-10-10T21%3A00%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:bcecbe4f-101e-004a-558e-1a794d000000\n",
        "Time:2024-10-09T21:00:32.1252851Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-09T14:00:30.6594624-07:00",
    "RandomSeed": "627171006",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
