{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57379ACE9\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/item1?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5738D08DE\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:35.5668190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/item1?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "mG+BarlzY8NogFiQRoDGY5zl3V0qbgOaUnWH6JIBh0jtGpS/7QHmg5lp5C48tZNiyIt3IqhY0Spr5xhE63owZ/kQoyvsBnaa/1nDwYnVXZ3hJR8HiWSflElqUwbpoZgeOH01KxFodsIV3CNOlA+glol7YsZbKd2UcQ7igbJvsV3BpIkMnzKLea5d8q1AUAA5yb19bj/Rww6foLoDhfQPpSvGjfCFk/dW7+gY/jcwUyAOqLj18kId8OF6bP93h/S5TUyBesMPszbGJn5XuMXXb0ya9d08GrPoqJ0PCib332j0X7Hqrtlc/vSBL8zExjcbo/2y3ZIXfDKZmdImAKgPzkYWYlkT7cFzPfbou+vmI+Fl82cpRAHW3eN+UBUHNv5LcmGFrmTeCLU7P6CbLsFHs3XwwAxB5Yl[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/bar/item3?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D573A8CA30\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:35.7487152Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/bar/item3?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "0QsbmphgJyGSUL1[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/pik/item4?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D573B80A31\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:35.8486577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/pik/item4?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "yrAQ/pZzjkSUdPQ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D573C527A3\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:35.9346083Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/item1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "WxjrSUp8+a4aM4G5Gw6V/F63XDebqGA7JDtib++y/w0aNa4Yh+haykqgo/S1ETqTwEyXZw4[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/item1</Name><VersionId>2025-07-11T23:48:35.5668190Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:35 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:35 GMT</Last-Modified><Etag>0x8DDC0D57395450A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item2</Name><VersionId>2025-07-11T23:48:35.6637636Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:35 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:35 GMT</Last-Modified><Etag>0x8DDC0D573A2627B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:a868910a-501e-004b-1bbe-f22691000000\n",
        "Time:2025-07-11T23:48:36.1217948Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/item2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/item2?sv=sanitized-value&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D573F028F4\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "X31FI4ecGpo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D573F72CCD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:36.2624205Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/bar/item3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/bar/item3?sv=sanitized-value&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D573FE099B\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "qjrYe4nmJ3I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57404BF5E\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:36.3513694Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26107e44-5d32-f5ad-d208-85d45a57bbb2/destFolder/pik/item4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233/sourceFolder/pik/item4?sv=sanitized-value&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5740CFB90\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "oUpj1oE91So=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f77f245-32aa-88c9-71ec-1086fbfc4233?sv=Sanitized&se=2025-07-12T23%3A48%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:a868912d-501e-004b-33be-f22691000000\n",
        "Time:2025-07-11T23:48:36.6695334Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:48:35.4732081-07:00",
    "RandomSeed": "891517012",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
