{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1427?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref-1427",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n7MjN9wfrha72bIIs9_PFG8oPhtotwfVPfMlCXHX1Cc\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ4MDAxMQ==;sn=102480011",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:45 GMT"
      },
      "ResponseBody": {
        "etag": "n7MjN9wfrha72bIIs9_PFG8oPhtotwfVPfMlCXHX1Cc",
        "key": "snapshot-ref-1427",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1427?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ4MDAxMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n7MjN9wfrha72bIIs9_PFG8oPhtotwfVPfMlCXHX1Cc\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ4MDAxMQ==;sn=102480011",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:45 GMT"
      },
      "ResponseBody": {
        "etag": "n7MjN9wfrha72bIIs9_PFG8oPhtotwfVPfMlCXHX1Cc",
        "key": "snapshot-ref-1427",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1427?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ4MDAxMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n7MjN9wfrha72bIIs9_PFG8oPhtotwfVPfMlCXHX1Cc\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:22:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ4MDAxMg==;sn=102480012",
        "x-ms-date": "Tue, 13 Jan 2026 06:22:45 GMT"
      },
      "ResponseBody": {
        "etag": "n7MjN9wfrha72bIIs9_PFG8oPhtotwfVPfMlCXHX1Cc",
        "key": "snapshot-ref-1427",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:22:45+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-ref-1": "snapshot-ref-1427"
  }
}
