{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-176?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NKSXZYgeDR8NYnzsnexctGs6kbFSgiq2pCdN67p5JbA\"",
        "Last-Modified": "Thu, 28 May 2026 21:53:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEzMA==;sn=115292130",
        "x-ms-date": "Thu, 28 May 2026 21:53:54 GMT"
      },
      "ResponseBody": {
        "etag": "NKSXZYgeDR8NYnzsnexctGs6kbFSgiq2pCdN67p5JbA",
        "key": "snapshot-ref-176",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:53:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-176?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NKSXZYgeDR8NYnzsnexctGs6kbFSgiq2pCdN67p5JbA\"",
        "Last-Modified": "Thu, 28 May 2026 21:53:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEzMA==;sn=115292130",
        "x-ms-date": "Thu, 28 May 2026 21:53:54 GMT"
      },
      "ResponseBody": {
        "etag": "NKSXZYgeDR8NYnzsnexctGs6kbFSgiq2pCdN67p5JbA",
        "key": "snapshot-ref-176",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:53:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-176?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEzMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NKSXZYgeDR8NYnzsnexctGs6kbFSgiq2pCdN67p5JbA\"",
        "Last-Modified": "Thu, 28 May 2026 21:53:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEzMQ==;sn=115292131",
        "x-ms-date": "Thu, 28 May 2026 21:53:55 GMT"
      },
      "ResponseBody": {
        "etag": "NKSXZYgeDR8NYnzsnexctGs6kbFSgiq2pCdN67p5JbA",
        "key": "snapshot-ref-176",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:53:54+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-ref-1": "snapshot-ref-176"
  }
}
