{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "8cf6c1b6-c80f-437c-87ad-45fbaff54f73",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzBlitz-test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourcegroups/standbyPoolRG-3886?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886",
        "name": "standbyPoolRG-3886",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/virtualNetworks/testVNet-2637?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7301",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network/locations/eastasia/operations/cc0b38ab-7abe-4f2e-aa44-d48cae0b9285?api-version=2025-07-01&t=639088466967291260&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1cmUuY29tMIIBIjANB[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network/locations/eastasia/operations/cc0b38ab-7abe-4f2e-aa44-d48cae0b9285?api-version=**&t=639088466967291260&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/virtualNetworks/testVNet-2637?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-2637",
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/virtualNetworks/testVNet-2637",
        "etag": "W/\"7fc85567-344b-4235-9c19-4b2207cf819d\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "0ecedb91-7388-44de-bba6-ba6442003b02",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-7301",
              "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/virtualNetworks/testVNet-2637/subnets/testSubnet-7301",
              "etag": "W/\"7fc85567-344b-4235-9c19-4b2207cf819d\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1546?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network/locations/eastasia/operations/b2a74f87-b773-4998-a59e-ed2e72ebf2b7?api-version=**&t=639088467103936144&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1546?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"ea3188ee-3d7b-444d-95b1-ec942810ad95\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNetSecurityGroups-1546",
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1546",
        "etag": "W/\"ea3188ee-3d7b-444d-95b1-ec942810ad95\"",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "1f4a8f77-5ca1-45ed-b56b-aa692bc8fd60",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1546/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\"ea3188ee-3d7b-444d-95b1-ec942810ad95\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1546/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\"ea3188ee-3d7b-444d-95b1-ec942810ad95\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8043?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "sku": {
          "name": "Standard_DS1_v2",
          "capacity": 0
        },
        "properties": {
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "adminPassword": "Sanitized",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-8043",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "networkSecurityGroup": {
                      "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1546"
                    },
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-8043",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/virtualNetworks/testVNet-2637/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-8043",
                            "properties": {
                              "idleTimeoutInMinutes": 15
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ],
              "networkApiVersion": "2020-11-01"
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            }
          },
          "platformFaultDomainCount": 1,
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "orchestrationMode": "Flexible"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Compute/locations/eastasia/operations/71186c6f-ea24-4495-a252-6db09b6a8e39?p=9be8508c-ebc0-4dc6-b9f3-806ddbd3b039&api-version=2025-04-01&t=639088467132200826&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Compute/locations/eastasia/operations/71186c6f-ea24-4495-a252-6db09b6a8e39?p=9be8508c-ebc0-4dc6-b9f3-806ddbd3b039&api-version=2025-04-01&t=639088467132200826&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0a[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8043?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2398,Microsoft.Compute/GetVMScaleSetResource;35",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVMSS-8043",
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8043",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastasia",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "sku": {
          "name": "Standard_DS1_v2",
          "tier": "Standard",
          "capacity": 0
        },
        "etag": "\"1\"",
        "properties": {
          "singlePlacementGroup": false,
          "highSpeedInterconnectPlacement": "None",
          "orchestrationMode": "Flexible",
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                },
                "provisionVMAgent": true,
                "patchSettings": {
                  "patchMode": "ImageDefault",
                  "assessmentMode": "ImageDefault"
                },
                "enableVMAgentPlatformUpdates": true
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Linux",
                "createOption": "FromImage",
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                },
                "deleteOption": "Delete",
                "diskSizeGB": 30
              },
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "diskControllerType": "SCSI"
            },
            "networkProfile": {
              "networkApiVersion": "2020-11-01",
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-8043",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "disableTcpStateTracking": false,
                    "effectiveEnableAcceleratedNetworking": false,
                    "enableIPForwarding": false,
                    "delegateIpAllocation": false,
                    "auxiliaryMode": "None",
                    "auxiliarySku": "None",
                    "nicAuxiliarySkuBillingNotificationType": "NoOp",
                    "deleteOption": "Delete",
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-8043",
                        "properties": {
                          "privateIPAddressVersion": "IPv4",
                          "subnet": {
                            "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/virtualNetworks/testVNet-2637/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-8043",
                            "properties": {
                              "idleTimeoutInMinutes": 15,
                              "ipTags": [],
                              "publicIPAddressVersion": "IPv4"
                            }
                          },
                          "applicationSecurityGroups": [],
                          "loadBalancerBackendAddressPools": [],
                          "applicationGatewayBackendAddressPools": []
                        }
                      }
                    ],
                    "networkSecurityGroup": {
                      "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-1546"
                    },
                    "dnsSettings": {
                      "dnsServers": []
                    }
                  }
                }
              ]
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            },
            "extensionProfile": {
              "extensions": [
                {
                  "name": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "suppressFailures": true,
                    "publisher": "Microsoft.Azure.Security.Monitoring",
                    "type": "AzureSecurityLinuxAgent",
                    "typeHandlerVersion": "2.0",
                    "settings": {
                      "enableGenevaUpload": true,
                      "enableAutoConfig": true,
                      "reportSuccessOnUnsupportedDistro": true
                    }
                  }
                },
                {
                  "name": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "suppressFailures": true,
                    "publisher": "Microsoft.Azure.Monitor",
                    "type": "AzureMonitorLinuxAgent",
                    "typeHandlerVersion": "1.0",
                    "settings": {
                      "GCS_AUTO_CONFIG": true
                    }
                  }
                }
              ]
            },
            "timeCreated": "2026-03-11T17:25:12.3148528+00:00"
          },
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "provisioningState": "Succeeded",
          "uniqueId": "d658efdf-13ea-4ad2-b291-2c608969a1e6",
          "platformFaultDomainCount": 1,
          "constrainedMaximumCapacity": false,
          "timeCreated": "2026-03-11T17:25:12.3148528+00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVMPool-304?api-version=2025-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 2,
            "minReadyCapacity": 2,
            "postProvisioningDelay": "PT10S",
            "dynamicSizing": {
              "enabled": true
            }
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8043"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d0089c4-0000-1900-0000-69b1a57c0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVMPool-304",
        "name": "standbyVMPool-304",
        "type": "microsoft.standbypool/standbyvirtualmachinepools",
        "location": "eastasia",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-11T17:25:15.1732228Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-11T17:25:15.1732228Z"
        },
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 2,
            "minReadyCapacity": 2,
            "postProvisioningDelay": "PT10S",
            "dynamicSizing": {
              "enabled": true
            }
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-8043",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVMPool-304/runtimeViews/latest?api-version=2025-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-3886/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVMPool-304/runtimeViews/latest",
        "name": "latest",
        "type": "Microsoft.StandbyPool/standbyVirtualMachinePools/runtimeViews",
        "properties": {
          "instanceCountSummary": [
            {
              "instanceCountsByState": [
                {
                  "state": "Creating",
                  "count": 2
                },
                {
                  "state": "Starting",
                  "count": 0
                },
                {
                  "state": "Running",
                  "count": 0
                },
                {
                  "state": "Deallocating",
                  "count": 0
                },
                {
                  "state": "Deallocated",
                  "count": 0
                },
                {
                  "state": "Hibernating",
                  "count": 0
                },
                {
                  "state": "Hibernated",
                  "count": 0
                },
                {
                  "state": "Deleting",
                  "count": 0
                }
              ]
            }
          ],
          "status": {
            "code": "HealthState/healthy"
          },
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.StandbyPool/locations/EASTASIA/operationStatuses/0dc96ea9-3134-4bea-8c66-763daa8e1db5*98DF0CC9E339A93DAB5B352E453D5CC0A0780073F65ACA5C75FEFB90FBDD7E9D?api-version=2025-10-01&t=639088467217391729&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2[...]
    {
[...]
