{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "e412c5b9-e977-4a1a-b1dc-06c93c365a4a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.175"
      },
      "ResponseBody": {
        "id": "thread_GpuOhUZ4JXvrpo7mhNRHAfSQ",
        "object": "thread",
        "created_at": 1732228592,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_GpuOhUZ4JXvrpo7mhNRHAfSQ/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "b1e32079-cd90-4293-be24-dfcbdb91d50a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.202"
      },
      "ResponseBody": {
        "id": "msg_BJqokmRW4pjkXg8EBz1lqUH2",
        "object": "thread.message",
        "created_at": 1732228592,
        "assistant_id": null,
        "thread_id": "thread_GpuOhUZ4JXvrpo7mhNRHAfSQ",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_GpuOhUZ4JXvrpo7mhNRHAfSQ/messages/msg_BJqokmRW4pjkXg8EBz1lqUH2?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "5acc4740-0f28-4382-a87a-2e3fc9ba9c08",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.228"
      },
      "ResponseBody": {
        "id": "msg_BJqokmRW4pjkXg8EBz1lqUH2",
        "object": "thread.message",
        "created_at": 1732228592,
        "assistant_id": null,
        "thread_id": "thread_GpuOhUZ4JXvrpo7mhNRHAfSQ",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/threads/thread_GpuOhUZ4JXvrpo7mhNRHAfSQ?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "f8ee3016-0cbe-4b20-a612-eb218b1933a1",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.209"
      },
      "ResponseBody": {
        "id": "thread_GpuOhUZ4JXvrpo7mhNRHAfSQ",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
