{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c52c2bdc-65a6-1a80-059e-4f271d7feb13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C8218489A\"",
        "Last-Modified": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c52c2bdc-65a6-1a80-059e-4f271d7feb13/test-blob-f5a34c75-e46b-d24d-efa9-2ce26e097cc2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C821FE509\"",
        "Last-Modified": "Thu, 21 May 2026 21:04:12 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:04:12.0145161Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c52c2bdc-65a6-1a80-059e-4f271d7feb13/test-blob-f5a34c75-e46b-d24d-efa9-2ce26e097cc2?comp=block&blockid=exJIQ3%2B6KRfhKsbPBWuZR3S4%2FPyZPEIK5ZV7RrKjinGXhUxZzhHbQr%2FwjT5DbknJ",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
     [...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c52c2bdc-65a6-1a80-059e-4f271d7feb13/test-blob-f5a34c75-e46b-d24d-efa9-2ce26e097cc2?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C821FE509\"",
        "x-ms-date": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>exJIQ3+6KRfhKsbPBWuZR3S4/PyZPEIK5ZV7RrKjinGXhUxZzhHbQr/wjT5DbknJ</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C822E5E0C\"",
        "Last-Modified": "Thu, 21 May 2026 21:04:12 GMT",
        "x-ms-content-crc64": "u0mP31eCa7E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:04:12.1103644Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c52c2bdc-65a6-1a80-059e-4f271d7feb13/test-blob-f5a34c75-e46b-d24d-efa9-2ce26e097cc2?comp=block&blockid=Z1BPiKMRko8ICtc537eckacpGFcjp9FMmNOC1AHgmYnY0VK2J8A%2Fow2L9SfBMYpI",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c52c2bdc-65a6-1a80-059e-4f271d7feb13/test-blob-f5a34c75-e46b-d24d-efa9-2ce26e097cc2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB77C824B5011\"",
        "Last-Modified": "Thu, 21 May 2026 21:04:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 May 2026 21:04:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:04:12.3000609Z"
      },
      "ResponseBody": "TZWCvp3lh1nwTZnP1khbqcOyXFgptQA1KquWJquB1ktnjGc1D9Ur6nNeu1v4LRMZnWt17TixiZiVTZPyTmCubndOaEngJpnth3LkyvqlPf2YfIlADOkStgPPoMJCOZsSr0zkqcXJOXfRh2bGzL6e7w+VWdHXbmGNPLFFEIXXqk7W0RutwJM4zkMRb4SCS+pFMbCyrd/JO0HqVm0ThCjy+d0Y8Pqj8C98XIuOxf/cCvDGAN/UJfxuDJbZwmolJUoaH3WnalvwoUCBNlFTO3VBDkt8TINJHdTgqeNjyS7FVjdAc6WJNaCV1l6eU++rGtEhmLQeqdjG0QKhx8F3jNgSvN8aE8fPt9ir5nYlq8rlNI4[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c52c2bdc-65a6-1a80-059e-4f271d7feb13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:04:11 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1852885222",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
