{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f5393212-8d2e-fefb-fabd-15b97a9bc32d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F85934BA82\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f5393212-8d2e-fefb-fabd-15b97a9bc32d/test-blob-f5130a0b-ae2b-15f5-f615-cf38335f4390",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F8593BC672\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:38.6795634Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f5393212-8d2e-fefb-fabd-15b97a9bc32d/test-blob-f5130a0b-ae2b-15f5-f615-cf38335f4390?comp=block&blockid=NdoPR6F5%2BCzs%2FxXQdnH5yndL3C6tYlRH7JVzPyxRtXNiDjDlFwNKcwOATCL2thJq",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f5393212-8d2e-fefb-fabd-15b97a9bc32d/test-blob-f5130a0b-ae2b-15f5-f615-cf38335f4390?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F8593BC672\"",
        "x-ms-date": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>NdoPR6F5+Czs/xXQdnH5yndL3C6tYlRH7JVzPyxRtXNiDjDlFwNKcwOATCL2thJq</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F85949CA74\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-content-crc64": "fS2MHposCFg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:38.7724164Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-f5393212-8d2e-fefb-fabd-15b97a9bc32d/test-blob-f5130a0b-ae2b-15f5-f615-cf38335f4390",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Wed, 20 May 2026 22:45:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a695bce1-b01e-00ac-2ee1-e77c0b000000\n",
        "Time:2026-05-19T22:45:38.8619700Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a405f0d6-0b2e-37d0-3777-e03bd19ec903/test-blob-63ff1289-6e23-e0ee-71cc-0455da15793e?comp=block&blockid=fjISBKlmvFUTHa%2FaMM8PIuXY8yLgfSHQtIkVTbNG%2BadWCfRMjHKU1YyxJTkBZ%2Fji",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
     [...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-a405f0d6-0b2e-37d0-3777-e03bd19ec903/test-blob-63ff1289-6e23-e0ee-71cc-0455da15793e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Mon, 18 May 2026 22:45:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:38 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a695bd56-b01e-00ac-13e1-e77c0b000000\n",
        "Time:2026-05-19T22:45:39.2010743Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-505a7529-83cb-696d-4c1b-e0b294e6f4a6/test-blob-e132d4fc-9829-bac7-c9ae-3954c01dc4ad?comp=block&blockid=BvhV6nr0W3LhmGAmaj0f8MMR%2B1t9OFWRIZxm7xwJzZNseWDpb9KGNiYpet4%2Fv3qn",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:39 GMT",
        "x-ms-version": "2026-06-06"
      }[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fa01d5a1-f8e3-eb8a-4bae-e155d65365eb/test-blob-d88c5b68-5a2f-541d-16ae-74c1a382791b?comp=block&blockid=3Ruh5pq5a6jnrQnCMmRWCC7DLlgcppdqtLbj6ONayCZRYK%2FFeM3UkjzrAZrw401P",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:45:39 GMT",
        "x-ms-version": "2026-06-06"
      },
[...]
[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fa01d5a1-f8e3-eb8a-4bae-e155d65365eb/test-blob-d88c5b68-5a2f-541d-16ae-74c1a382791b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:39 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F859EBBBC2\"",
        "Last-Modified": "Tue, 19 May 2026 22:45:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:45:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:45:39.8337218Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fa01d5a1-f8e3-eb8a-4bae-e155d65365eb/test-blob-d88c5b68-5a2f-541d-16ae-74c1a382791b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "0x8DEB5F859EBBBC2",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:45:39 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:a695be5a-b01e-00ac-6de1-e77c0b000000\n",
        "Time:2026-05-19T22:45:39.9219667Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-fa01d5a1-f8e3-eb8a-4bae-e155d65365eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:45:39 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-05-19T15:45:38.2320690-07:00",
    "RandomSeed": "1665214476",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
