{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343992023304122?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814D8D1E91CC\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:12:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343992023304122/appendblob177343992136704144",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814D8D2BAF6B\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:12:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:12:01.4104427Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343992023304122/appendblob177343992136704144?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "12",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ATMAAAAAAAAAAQABAAEADAAAAAAAAABIZWxsbyBXb3JsZCGl4fxeyBzlAqXh/F7IHOUC",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814D8D3B5537\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:12:01 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343992023304122/appendblob177343992136704144?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE814D8D3B5537\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:12:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 13 Mar 2026 22:12:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "12",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:12:01.4104427Z"
      },
      "ResponseBody": "ATMAAAAAAAAAAQABAAEADAAAAAAAAABIZWxsbyBXb3JsZCGl4fxeyBzlAqXh/F7IHOUC"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343992023304122?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "appendblob": "appendblob177343992136704144",
    "blob": "blob177343992136707626",
    "container": "container177343992023304122"
  }
}
