{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:51:46 GMT"
      },
      "RequestBody": {
        "senderAddress": "DoNotReply@cyberworld.party",
        "content": {
          "subject": "This is the subject",
          "plainText": "This is the body",
          "html": "<html><body>This is the html body<img src=\"cid:myInlineAttachmentContentId\"></body></html>"
        },
        "recipients": {
          "to": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": ""
            }
          ]
        },
        "attachments": [
          {
            "name": "InlineImage.jpg",
            "contentType": "image/jpeg",
            "contentInBase64": "VGhpcyBpcyBpbWFnZSBmaWxlIGNvbnRlbnQu",
            "contentId": "myInlineAttachmentContentId"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "03482a07-7a35-4ae8-8c1a-5efcc74dc75c",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-03-31",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "e3ee35d3-f3d8-46fa-979a-2cacdf8f580f",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:51:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dec09d5f-f0c9-4bcd-93f9-a04be31c499e",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "e3ee35d3-f3d8-46fa-979a-2cacdf8f580f",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:51:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "235a3f02-992a-4aca-95d1-c8d81ced3349"
      },
      "ResponseBody": {
        "id": "e3ee35d3-f3d8-46fa-979a-2cacdf8f580f",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://natekimball-acs-aus.australia.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "145082189",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@cyberworld.party"
  }
}
