{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2025-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 06 Oct 2025 15:28:39 GMT"
      },
      "RequestBody": {
        "senderAddress": "DoNotReply@c9d0862a-c699-4a7b-b840-5e091ce5d628.azurecomm.net",
        "content": {
          "subject": "This is the subject",
          "plainText": "This is the body",
          "html": "<html><body>This is the html body<img src=\"cid:myInlineAttachmentContentId\"></body></html>"
        },
        "recipients": {
          "to": [
            {
              "address": "ACSFunctionalTest@outlook.com",
              "displayName": ""
            }
          ]
        },
        "attachments": [
          {
            "name": "InlineImage.jpg",
            "contentType": "image/jpeg",
            "contentInBase64": "VGhpcyBpcyBpbWFnZSBmaWxlIGNvbnRlbnQu",
            "contentId": "myInlineAttachmentContentId"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview, 2025-01-15-preview, 2025-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3709096e-097c-4ab1-a78b-9841ce1c5678",
        "MS-CV": "Sanitized",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-03-31",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "615330ce-194a-4961-bab0-a6afcb708166",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 06 Oct 2025 15:28:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-[...]
