{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/B18B54D62B8797AADE99C7373582FAEB159B0CF234A163CA73?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:18 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b00c2bb-0000-0700-0000-654ac5f60000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:18 GMT",
        "trace-id": "c827cd76-28eb-5fc6-35aa-544c8246e836"
      },
      "ResponseBody": {
        "id": "B18B54D62B8797AADE99C7373582FAEB159B0CF234A163CA73",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b00c2bb-0000-0700-0000-654ac5f60000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/8211963DC56B272E04F601F90D5087054C420EC314AEFD43AD?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:18 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "B18B54D62B8797AADE99C7373582FAEB159B0CF234A163CA73",
        "labels": {
          "Region": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADNA",
          "Language": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADEN",
          "Product": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADO365"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c3017fb7-0000-0700-0000-654ac5f60000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:18 GMT",
        "trace-id": "3767e587-be7c-29c2-da66-4aa49aad9da6"
      },
      "ResponseBody": {
        "id": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43AD",
        "name": "test",
        "distributionPolicyId": "B18B54D62B8797AADE99C7373582FAEB159B0CF234A163CA73",
        "labels": {
          "Region": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADNA",
          "Language": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADEN",
          "Product": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADO365",
          "Id": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43AD"
        },
        "etag": "\u0022c3017fb7-0000-0700-0000-654ac5f60000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/BFAE6D9493E280327477F735DE4B0FAFF4D5B2DDB06D1D6542?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:19 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "9C8D405887293EF0EDE0E902CCDD02E426919FB1ECC787753C",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43AD"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c006a6c-0000-0700-0000-654ac5f60000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:18 GMT",
        "trace-id": "5721c1d7-19ba-ffc4-e995-fb83597c51d0"
      },
      "ResponseBody": {
        "id": "BFAE6D9493E280327477F735DE4B0FAFF4D5B2DDB06D1D6542",
        "fallbackQueueId": "9C8D405887293EF0EDE0E902CCDD02E426919FB1ECC787753C",
        "queueSelectorAttachments": [
          {
            "kind": "pass-through",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "pass-through",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43AD"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00220c006a6c-0000-0700-0000-654ac5f60000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7339E553FBC3FF4255293E77FA115FDA8B4015B0BF763AF4E2?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:19 GMT"
      },
      "RequestBody": {
        "channelId": "7339E553FBC3FF4255293E77FA115FDA8B4015B0BF763AF4E2",
        "classificationPolicyId": "BFAE6D9493E280327477F735DE4B0FAFF4D5B2DDB06D1D6542",
        "labels": {
          "Product": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADO365",
          "Region": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADNA",
          "Language": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADEN"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-03d9-bbf7e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:18 GMT",
        "trace-id": "d8039139-f2bb-5dba-b5f4-f13977bb127c"
      },
      "ResponseBody": {
        "id": "7339E553FBC3FF4255293E77FA115FDA8B4015B0BF763AF4E2",
        "status": "pendingClassification",
        "channelId": "7339E553FBC3FF4255293E77FA115FDA8B4015B0BF763AF4E2",
        "classificationPolicyId": "BFAE6D9493E280327477F735DE4B0FAFF4D5B2DDB06D1D6542",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADO365",
          "Region": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADNA",
          "Language": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADEN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-03d9-bbf7e7dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7339E553FBC3FF4255293E77FA115FDA8B4015B0BF763AF4E2?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-d78a-f0f7e7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:19 GMT",
        "trace-id": "0985ac9c-9467-feb2-0432-2d9abb50793b"
      },
      "ResponseBody": {
        "id": "7339E553FBC3FF4255293E77FA115FDA8B4015B0BF763AF4E2",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:19:19.3233111\u002B00:00",
        "channelId": "7339E553FBC3FF4255293E77FA115FDA8B4015B0BF763AF4E2",
        "classificationPolicyId": "BFAE6D9493E280327477F735DE4B0FAFF4D5B2DDB06D1D6542",
        "queueId": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43AD",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADO365",
          "Region": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADNA",
          "Language": "8211963DC56B272E04F601F90D5087054C420EC314AEFD43ADEN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-d78a-f0f7e7dfdb08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-SFA8XWgkGUKpLhFCMygnwg-",
    "RandomSeed": "1577861014"
  }
}
