{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:01:15 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a00881a-0000-0700-0000-65416b200000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:01:20 GMT",
        "trace-id": "fb869738-cffb-123b-e236-f148fbb6692e"
      },
      "ResponseBody": {
        "id": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a00881a-0000-0700-0000-65416b200000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D91?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:01:16 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9",
        "labels": {
          "Region": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9NA",
          "Language": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9en",
          "Product": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9O365",
          "UniquePrefix": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d011b45-0000-0700-0000-65416b200000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:01:20 GMT",
        "trace-id": "f66afc99-0155-7b6a-5289-cc120b2b1644"
      },
      "ResponseBody": {
        "id": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D91",
        "name": "test",
        "distributionPolicyId": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9",
        "labels": {
          "Region": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9NA",
          "Language": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9en",
          "Product": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9O365",
          "UniquePrefix": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9",
          "Id": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D91"
        },
        "etag": "\u00220d011b45-0000-0700-0000-65416b200000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/2B0206B1D6500120835C166B8F717A1FC2FFAFF38C6390B68A?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:01:16 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "77E86CCAE0C7C579F9EB36062CC72E3A82BA6EC8C7EB3AC748",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9EN\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9FR\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "queueSelector": {
              "key": "UniquePrefix",
              "labelOperator": "equal",
              "value": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600d8[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/973D7BD1E73B8F3B9AEE18228D4FB766DDD2E85623FB817E36?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:01:16 GMT"
      },
      "RequestBody": {
        "channelId": "39A8FB48BA18C7B35660631E14A322B6062F7B23E3F7600724",
        "classificationPolicyId": "2B0206B1D6500120835C166B8F717A1FC2FFAFF38C6390B68A",
        "labels": {
          "Product": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9O365",
          "Region": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9NA",
          "Lang": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9EN"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-f110-b08854dadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:01:20 GMT",
        "trace-id": "8e02ccad-9a79-a756-3c5a-158494aab0d1"
      },
      "ResponseBody": {
        "id": "973D7BD1E73B8F3B9AEE18228D4FB766DDD2E85623FB817E36",
        "status": "pendingClassification",
        "channelId": "39A8FB48BA18C7B35660631E14A322B6062F7B23E3F7600724",
        "classificationPolicyId": "2B0206B1D6500120835C166B8F717A1FC2FFAFF38C6390B68A",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9O365",
          "Region": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9NA",
          "Lang": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-f110-b08854dadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/973D7BD1E73B8F3B9AEE18228D4FB766DDD2E85623FB817E36?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:01:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-b644-548954dadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:01:21 GMT",
        "trace-id": "3eae8686-fc18-9460-3cd0-1d8c93c5969c"
      },
      "ResponseBody": {
        "id": "973D7BD1E73B8F3B9AEE18228D4FB766DDD2E85623FB817E36",
        "status": "queued",
        "enqueuedAt": "2023-10-31T21:01:21.916639\u002B00:00",
        "channelId": "39A8FB48BA18C7B35660631E14A322B6062F7B23E3F7600724",
        "classificationPolicyId": "2B0206B1D6500120835C166B8F717A1FC2FFAFF38C6390B68A",
        "queueId": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D91",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9O365",
          "Region": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9NA",
          "Lang": "AC11AB393D0AAA47483B5E7DF95C9C42D6C89A1238E19287D9EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-b644-548954dadb08\u0022"
      }
    },
[...]
