{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:06 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227f00dd00-0000-0700-0000-652c9caa0000\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:06 GMT",
        "trace-id": "43ade6e6-cb55-aad2-1912-d8402b4355d8"
      },
      "ResponseBody": {
        "id": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:06 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b007128-0000-0700-0000-652c9cab0000\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:07 GMT",
        "trace-id": "c1a4af4f-ba8b-bea3-2745-6a36386cf9c7"
      },
      "ResponseBody": {
        "id": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "name": "test",
        "distributionPolicyId": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "labels": {
          "Id": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/6F28280DF09531E9C783A219D76ED80C74EDD3828F7428EFFD?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:07 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "F397A8344E96B65324DF85B85EFDE7B1D5CEABC20C1FCB3DD5",
        "queueSelectors": [
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972"
              }
            ],
            "kind": "conditional"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259006537-0000-0700-0000-652c9cac0000\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:08 GMT",
        "trace-id": "425ff7ec-041f-6d62-7792-91461bd22850"
      },
      "ResponseBody": {
        "id": "6F28280DF09531E9C783A219D76ED80C74EDD3828F7428EFFD",
        "fallbackQueueId": "F397A8344E96B65324DF85B85EFDE7B1D5CEABC20C1FCB3DD5",
        "queueSelectors": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "expression-rule",
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)"
            },
            "queueSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972"
              }
            ]
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:07 GMT"
      },
      "RequestBody": {
        "channelId": "01E15359F1A1E40663BBA3F49034ADA8DCF15DBED3EACD2C96",
        "classificationPolicyId": "6F28280DF09531E9C783A219D76ED80C74EDD3828F7428EFFD",
        "labels": {
          "Product": "O365"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-caea-3bb8edcddb08\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:08 GMT",
        "trace-id": "643f9c9f-ba2f-4e67-36d7-4fdd15c69257"
      },
      "ResponseBody": {
        "id": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "status": "pendingClassification",
        "channelId": "01E15359F1A1E40663BBA3F49034ADA8DCF15DBED3EACD2C96",
        "classificationPolicyId": "6F28280DF09531E9C783A219D76ED80C74EDD3828F7428EFFD",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-1e07-cbb9edcddb08\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:11 GMT",
        "trace-id": "2fbe0a11-ded6-3c2e-2431-7255de7016b8"
      },
      "ResponseBody": {
        "id": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "status": "waitingForActivation",
        "channelId": "01E15359F1A1E40663BBA3F49034ADA8DCF15DBED3EACD2C96",
        "classificationPolicyId": "6F28280DF09531E9C783A219D76ED80C74EDD3828F7428EFFD",
        "queueId": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-c0d8-83baedcddb08\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:12 GMT",
        "trace-id": "f56ec659-3f06-dfd4-56cb-95823f80fde3"
      },
      "ResponseBody": {
        "id": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "status": "queued",
        "enqueuedAt": "2023-10-16T02:15:12.3203264\u002B00:00",
        "channelId": "01E15359F1A1E40663BBA3F49034ADA8DCF15DBED3EACD2C96",
        "classificationPolicyId": "6F28280DF09531E9C783A219D76ED80C74EDD3828F7428EFFD",
        "queueId": "440BF8400880990292EE54730D036A9A0AC9F3BFB55A302972",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-mrRWZXVUEE2hHbPRvO4wbw-",
    "RandomSeed": "777913738"
  }
}
