{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:16 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a400ae9d-0000-0700-0000-655260e70000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:15 GMT",
        "trace-id": "7ba48e1f-7a53-f719-df34-88309d05dd99"
      },
      "ResponseBody": {
        "id": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a400ae9d-0000-0700-0000-655260e70000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B161?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:16 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16",
        "labels": {
          "Region": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16NA",
          "Language": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16en",
          "Product": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16O365",
          "UniquePrefix": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902f870-0000-0700-0000-655260e70000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:15 GMT",
        "trace-id": "d29fb12a-70c6-e493-6ea4-66752b87806f"
      },
      "ResponseBody": {
        "id": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B161",
        "name": "test",
        "distributionPolicyId": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16",
        "labels": {
          "Region": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16NA",
          "Language": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16en",
          "Product": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16O365",
          "UniquePrefix": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16",
          "Id": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B161"
        },
        "etag": "\u00225902f870-0000-0700-0000-655260e70000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/DE46D1864797D50D795078A0F25681309172E7C175E6DD6949?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:17 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "0A6C416BE285C072532D41D7252E423682E15819F488337B6F",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16EN\u0022, true, false)",
              "kind": "expression"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16FR\u0022, true, false)",
              "kind": "expression"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "queueSelector": {
              "key": "UniquePrefix",
              "labelOperator": "equal",
              "value": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002210006d[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/792B335FA33915687FD60E8D7C773A1E44392F7F720F57E4B0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:17 GMT"
      },
      "RequestBody": {
        "channelId": "A16268B1977066D8BF9E03A3C6CC5E4792B9D2BD8B6D317025",
        "classificationPolicyId": "DE46D1864797D50D795078A0F25681309172E7C175E6DD6949",
        "labels": {
          "Product": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16O365",
          "Region": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16NA",
          "Lang": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16EN"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-4c2b-846f70e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:16 GMT",
        "trace-id": "0d92d485-932f-4d16-6128-98c3a471b12d"
      },
      "ResponseBody": {
        "id": "792B335FA33915687FD60E8D7C773A1E44392F7F720F57E4B0",
        "status": "pendingClassification",
        "channelId": "A16268B1977066D8BF9E03A3C6CC5E4792B9D2BD8B6D317025",
        "classificationPolicyId": "DE46D1864797D50D795078A0F25681309172E7C175E6DD6949",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16O365",
          "Region": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16NA",
          "Lang": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-4c2b-846f70e4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/792B335FA33915687FD60E8D7C773A1E44392F7F720F57E4B0?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-403e-db7070e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:18 GMT",
        "trace-id": "dbf1d8d4-62af-ea4e-3a52-39ddf4f4536b"
      },
      "ResponseBody": {
        "id": "792B335FA33915687FD60E8D7C773A1E44392F7F720F57E4B0",
        "status": "waitingForActivation",
        "channelId": "A16268B1977066D8BF9E03A3C6CC5E4792B9D2BD8B6D317025",
        "classificationPolicyId": "DE46D1864797D50D795078A0F25681309172E7C175E6DD6949",
        "queueId": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B161",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16O365",
          "Region": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16NA",
          "Lang": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000001-0000-0000-403e-db7070e4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/792B335FA33915687FD60E8D7C773A1E44392F7F720F57E4B0?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-2117-f57070e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:18 GMT",
        "trace-id": "a41c716a-cf7a-f09a-5be0-74b7962806ca"
      },
      "ResponseBody": {
        "id": "792B335FA33915687FD60E8D7C773A1E44392F7F720F57E4B0",
        "status": "queued",
        "enqueuedAt": "2023-11-13T17:46:18.5637665\u002B00:00",
        "channelId": "A16268B1977066D8BF9E03A3C6CC5E4792B9D2BD8B6D317025",
        "classificationPolicyId": "DE46D1864797D50D795078A0F25681309172E7C175E6DD6949",
        "queueId": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B161",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16O365",
          "Region": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16NA",
          "Lang": "D9E5B6CB4177B2E89EC46DEA6D3CBC040F253F9DA824651B16EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-2117-f57070e4db08\u0022"
      }
    },
[...]
