{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:06:28 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002249004ad6-0000-0700-0000-65415e480000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:06:32 GMT",
        "trace-id": "875c7097-a117-375e-196f-3dbc2e945deb"
      },
      "ResponseBody": {
        "id": "80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002249004ad6-0000-0700-0000-65415e480000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:06:29 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c01f449-0000-0700-0000-65415e490000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:06:33 GMT",
        "trace-id": "2eb77dbc-f16a-1b02-3e0a-00dae5ee3d1f"
      },
      "ResponseBody": {
        "id": "80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17",
        "name": "test",
        "distributionPolicyId": "80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17",
        "labels": {
          "Id": "80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17"
        },
        "etag": "\u00220c01f449-0000-0700-0000-65415e490000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/3C4AA67A7C5CD5A333161AFEED46C8C03B968B24DCB4A53075?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:06:29 GMT"
      },
      "RequestBody": {
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600cfc8-0000-0700-0000-65415e490000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:06:33 GMT",
        "trace-id": "177d150e-22a7-6ac8-a548-1e062bb7973e"
      },
      "ResponseBody": {
        "id": "3C4AA67A7C5CD5A333161AFEED46C8C03B968B24DCB4A53075",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "80FF35076B3DB05E27E37DFC0476727C3FEB85F85D9453BF17"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00220600cfc8-0000-0700-0000-65415e490000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:06:29 GMT"
      },
      "RequestBody": {
        "channelId": "C3BEC3AD6641F18D08BC2D87F0A0273BD85999D2AAB0FAED47",
        "classificationPolicyId": "3C4AA67A7C5CD5A333161AFEED46C8C03B968B24DCB4A53075",
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000020-0000-0000-dc53-2ee14cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:06:33 GMT",
        "trace-id": "17f2a46f-ccb6-12ec-4848-98d6bdea8482"
      },
      "ResponseBody": {
        "id": "0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9",
        "status": "pendingClassification",
        "enqueuedAt": "2023-10-30T16:04:39.2516477\u002B00:00",
        "channelId": "C3BEC3AD6641F18D08BC2D87F0A0273BD85999D2AAB0FAED47",
        "classificationPolicyId": "3C4AA67A7C5CD5A333161AFEED46C8C03B968B24DCB4A53075",
        "queueId": "790636A9F5AB3E6268EA1AC5F31F3253A099138EE6F2F8FC81",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000020-0000-0000-dc53-2ee14cdadb08\u0022"
      }
    },
[...]
