{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:26 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a400f09d-0000-0700-0000-655260f10000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:25 GMT",
        "trace-id": "92917fe4-71fe-2504-1d97-1c41eb225ad7"
      },
      "ResponseBody": {
        "id": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a400f09d-0000-0700-0000-655260f10000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:26 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902bf71-0000-0700-0000-655260f10000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:25 GMT",
        "trace-id": "e0e2a21f-9ea2-4316-31e5-b2fece983e28"
      },
      "ResponseBody": {
        "id": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D",
        "name": "test",
        "distributionPolicyId": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D",
        "labels": {
          "Id": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D"
        },
        "etag": "\u00225902bf71-0000-0700-0000-655260f10000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/22B492324CB6D2B409F565421BF27E952048617E01803D989F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:27 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "FD1F9517A8A32ACF32E9C860039D168C93F5D8221422FD948E",
        "queueSelectorAttachments": [
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)",
              "kind": "expression"
            },
            "queueSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D"
              }
            ],
            "kind": "conditional"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002210006e3c-0000-0700-0000-655260f10000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:25 GMT",
        "trace-id": "f535028e-5cd5-b43d-40ed-f5058cc0c8ee"
      },
      "ResponseBody": {
        "id": "22B492324CB6D2B409F565421BF27E952048617E01803D989F",
        "fallbackQueueId": "FD1F9517A8A32ACF32E9C860039D168C93F5D8221422FD948E",
        "queueSelectorAttachments": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "expression",
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)"
            },
            "queueSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D"
              }
            ]
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u002210006e3c-0000-0700-0000-655260f10000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:27 GMT"
      },
      "RequestBody": {
        "channelId": "57747D3719EA588ED9E2AE7D350B872BFD85AE15263316E841",
        "classificationPolicyId": "22B492324CB6D2B409F565421BF27E952048617E01803D989F",
        "labels": {
          "Product": "O365"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-4de3-677570e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:26 GMT",
        "trace-id": "0d396d40-3a1d-9579-01d4-9cec71bb5c93"
      },
      "ResponseBody": {
        "id": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D",
        "status": "pendingClassification",
        "channelId": "57747D3719EA588ED9E2AE7D350B872BFD85AE15263316E841",
        "classificationPolicyId": "22B492324CB6D2B409F565421BF27E952048617E01803D989F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-4de3-677570e4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:46:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-9d4d-0d7770e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:46:28 GMT",
        "trace-id": "840c6490-3f4c-16e9-0e2d-c23abe59ca45"
      },
      "ResponseBody": {
        "id": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D",
        "status": "queued",
        "enqueuedAt": "2023-11-13T17:46:28.7887773\u002B00:00",
        "channelId": "57747D3719EA588ED9E2AE7D350B872BFD85AE15263316E841",
        "classificationPolicyId": "22B492324CB6D2B409F565421BF27E952048617E01803D989F",
        "queueId": "7F3C8208EC0ECA3BE364B899EDCBCFDFB2E9B6F0FB44676A5D",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-9d4d-0d7770e4db08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-6-g5bPhWYUm2zO7CzuFsPg-",
    "RandomSeed": "869048845"
  }
}
