{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:39:51 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022410016c1-0000-0700-0000-653fdc570000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:39:51 GMT",
        "trace-id": "de1daf18-a81a-86f6-ac8b-2b8bb857d60e"
      },
      "ResponseBody": {
        "id": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022410016c1-0000-0700-0000-653fdc570000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F81?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:39:52 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8",
        "labels": {
          "Region": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8NA",
          "Language": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8en",
          "Product": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8O365",
          "UniquePrefix": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee00a3af-0000-0700-0000-653fdc570000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:39:51 GMT",
        "trace-id": "db3d32b5-0f49-370f-14eb-c4203ee505da"
      },
      "ResponseBody": {
        "id": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F81",
        "name": "test",
        "distributionPolicyId": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8",
        "labels": {
          "Region": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8NA",
          "Language": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8en",
          "Product": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8O365",
          "UniquePrefix": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8",
          "Id": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F81"
        },
        "etag": "\u0022ee00a3af-0000-0700-0000-653fdc570000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/5DD25350C748631049A3EB18DC186C9C3314F5DA0F59739B7F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:39:52 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "328DEC39B77FAC87769335EEBDEDE0928165E503282C29D3C1",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u00223CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8EN\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u00223CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8FR\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "queueSelector": {
              "key": "UniquePrefix",
              "labelOperator": "equal",
              "value": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220500a5f8-0000-0700-0000-65[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D9A1D60ABD95FAF65C85AEF8E7822B8171428411A514D9A613?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:39:52 GMT"
      },
      "RequestBody": {
        "channelId": "E5D4279F3C9575E08328AF73EE861A83BCFCE8D03FCBF5FADF",
        "classificationPolicyId": "5DD25350C748631049A3EB18DC186C9C3314F5DA0F59739B7F",
        "labels": {
          "Product": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8O365",
          "Region": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8NA",
          "Lang": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8EN"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-96ea-34d766d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:39:52 GMT",
        "trace-id": "eb2ebd42-f066-ab45-7e65-9b32e2b7768a"
      },
      "ResponseBody": {
        "id": "D9A1D60ABD95FAF65C85AEF8E7822B8171428411A514D9A613",
        "status": "pendingClassification",
        "channelId": "E5D4279F3C9575E08328AF73EE861A83BCFCE8D03FCBF5FADF",
        "classificationPolicyId": "5DD25350C748631049A3EB18DC186C9C3314F5DA0F59739B7F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8O365",
          "Region": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8NA",
          "Lang": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-96ea-34d766d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/D9A1D60ABD95FAF65C85AEF8E7822B8171428411A514D9A613?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:39:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-213c-74d766d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:39:52 GMT",
        "trace-id": "824a1897-877d-1788-e1b1-c41bd1bbc8ee"
      },
      "ResponseBody": {
        "id": "D9A1D60ABD95FAF65C85AEF8E7822B8171428411A514D9A613",
        "status": "queued",
        "enqueuedAt": "2023-10-30T16:39:52.7667745\u002B00:00",
        "channelId": "E5D4279F3C9575E08328AF73EE861A83BCFCE8D03FCBF5FADF",
        "classificationPolicyId": "5DD25350C748631049A3EB18DC186C9C3314F5DA0F59739B7F",
        "queueId": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F81",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8O365",
          "Region": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8NA",
          "Lang": "3CBECBE1A7FF59D01BF443B7E10C4AA9B39751442DE0DD35F8EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-213c-74d766d9db08\u0022"
      }
    },
[...]
