{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:32 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0020bc-0000-0700-0000-654ac6040000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:32 GMT",
        "trace-id": "6373e525-0184-209e-bc90-3d24313ee5bb"
      },
      "ResponseBody": {
        "id": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0020bc-0000-0700-0000-654ac6040000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/3056803325B65366DD68642A865C02DCF005A1C45CFA7A47701?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:32 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770",
        "labels": {
          "Region": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770NA",
          "Language": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770en",
          "Product": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770O365",
          "UniquePrefix": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c3017db8-0000-0700-0000-654ac6040000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:32 GMT",
        "trace-id": "4feefe4b-a4c6-bfac-3ad1-cd19261a82e1"
      },
      "ResponseBody": {
        "id": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A47701",
        "name": "test",
        "distributionPolicyId": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770",
        "labels": {
          "Region": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770NA",
          "Language": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770en",
          "Product": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770O365",
          "UniquePrefix": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770",
          "Id": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A47701"
        },
        "etag": "\u0022c3017db8-0000-0700-0000-654ac6040000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/DE2B1F5545358C786A0D3DF4A8847BF2B38540A61DC2C406A0?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:32 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "DCB322A44B89050C1B09B93751214C5025C43DF2B32DC265E4",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "pass-through"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u00223056803325B65366DD68642A865C02DCF005A1C45CFA7A4770EN\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u00223056803325B65366DD68642A865C02DCF005A1C45CFA7A4770FR\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "queueSelector": {
              "key": "UniquePrefix",
              "labelOperator": "equal",
              "value": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c006d[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/280A8B355065AA7B6FE93491EEC95A27AC73A0351B4ACC8087?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:32 GMT"
      },
      "RequestBody": {
        "channelId": "CB2433B627693FEE21F330DB0FBE28C40414F77A8AB10C8967",
        "classificationPolicyId": "DE2B1F5545358C786A0D3DF4A8847BF2B38540A61DC2C406A0",
        "labels": {
          "Product": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770O365",
          "Region": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770NA",
          "Lang": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770EN"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-fe3c-e5ffe7dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:32 GMT",
        "trace-id": "3a7eeaf1-fe8d-1cc6-0643-993a44217c1d"
      },
      "ResponseBody": {
        "id": "280A8B355065AA7B6FE93491EEC95A27AC73A0351B4ACC8087",
        "status": "pendingClassification",
        "channelId": "CB2433B627693FEE21F330DB0FBE28C40414F77A8AB10C8967",
        "classificationPolicyId": "DE2B1F5545358C786A0D3DF4A8847BF2B38540A61DC2C406A0",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770O365",
          "Region": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770NA",
          "Lang": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-fe3c-e5ffe7dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/280A8B355065AA7B6FE93491EEC95A27AC73A0351B4ACC8087?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-ce54-d900e8dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:34 GMT",
        "trace-id": "37c05349-74ed-13b2-4f65-297f80b6ba57"
      },
      "ResponseBody": {
        "id": "280A8B355065AA7B6FE93491EEC95A27AC73A0351B4ACC8087",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:19:34.2706894\u002B00:00",
        "channelId": "CB2433B627693FEE21F330DB0FBE28C40414F77A8AB10C8967",
        "classificationPolicyId": "DE2B1F5545358C786A0D3DF4A8847BF2B38540A61DC2C406A0",
        "queueId": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A47701",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770O365",
          "Region": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770NA",
          "Lang": "3056803325B65366DD68642A865C02DCF005A1C45CFA7A4770EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-ce54-d900e8dfdb08\u0022"
      }
    },
[...]
