{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:01 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200a281-0000-0700-0000-65c526190000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:01 GMT",
        "trace-id": "ae949889-9a75-c3ef-2235-70cd33328edb"
      },
      "ResponseBody": {
        "id": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220200a281-0000-0700-0000-65c526190000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D1?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:02 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D",
        "labels": {
          "Region": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DNA",
          "Language": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12Den",
          "Product": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DO365",
          "UniquePrefix": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae00feaf-0000-0700-0000-65c526190000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:01 GMT",
        "trace-id": "673943a9-827f-979d-7556-9f9254e07c4c"
      },
      "ResponseBody": {
        "id": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D1",
        "name": "test",
        "distributionPolicyId": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D",
        "labels": {
          "Region": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DNA",
          "Language": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12Den",
          "Product": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DO365",
          "UniquePrefix": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D",
          "Id": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D1"
        },
        "etag": "\u0022ae00feaf-0000-0700-0000-65c526190000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/5837E3E931AADC8D639DF68EE1E433B71D94F398670BA14C06?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:03 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "74BED2DCA7EFD9C498EA2B52BFFCA18D6DB9DF7FC80F4181CB",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DEN\u0022, true, false)",
              "kind": "expression"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12Den"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DFR\u0022, true, false)",
              "kind": "expression"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12Dfr"
              }
            ],
            "kind": "conditional"
          },
          {
            "queueSelector": {
              "key": "UniquePrefix",
              "labelOperator": "equal",
              "value": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a008be5-0000-0700-0000-65[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/509B5899A65E09A11B45FBFC3A90F6F5373C5A296B8177C482?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:03 GMT"
      },
      "RequestBody": {
        "channelId": "A3B4C6908A62D10B3249C6FC684F4D305E37E9D3E4F6312080",
        "classificationPolicyId": "5837E3E931AADC8D639DF68EE1E433B71D94F398670BA14C06",
        "labels": {
          "Product": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DO365",
          "Region": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DNA",
          "Lang": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DEN"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-23e2-52fed828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:02 GMT",
        "trace-id": "786f3464-0b7d-f345-6630-1b258bc5a9c7"
      },
      "ResponseBody": {
        "id": "509B5899A65E09A11B45FBFC3A90F6F5373C5A296B8177C482",
        "status": "pendingClassification",
        "channelId": "A3B4C6908A62D10B3249C6FC684F4D305E37E9D3E4F6312080",
        "classificationPolicyId": "5837E3E931AADC8D639DF68EE1E433B71D94F398670BA14C06",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DO365",
          "Region": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DNA",
          "Lang": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DEN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-23e2-52fed828dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/509B5899A65E09A11B45FBFC3A90F6F5373C5A296B8177C482?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-39c9-06ffd828dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:03 GMT",
        "trace-id": "bd2d2e30-a072-e505-0a9e-6c39bb6c3c9d"
      },
      "ResponseBody": {
        "id": "509B5899A65E09A11B45FBFC3A90F6F5373C5A296B8177C482",
        "status": "queued",
        "enqueuedAt": "2024-02-08T19:06:03.6449593\u002B00:00",
        "channelId": "A3B4C6908A62D10B3249C6FC684F4D305E37E9D3E4F6312080",
        "classificationPolicyId": "5837E3E931AADC8D639DF68EE1E433B71D94F398670BA14C06",
        "queueId": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12D1",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DO365",
          "Region": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DNA",
          "Lang": "623F3C67A37945A2B75528AF3697EAE7DFB17A729B1874F12DEN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-39c9-06ffd828dc08\u0022"
      }
    },
[...]
