{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/38830C0BCDD75A7477B97E8D85FBE5ED24B111B59A15701D46?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:13 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227f00db01-0000-0700-0000-652c9cb10000\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:13 GMT",
        "trace-id": "f623425f-ad88-3049-e597-c20ae5ae828e"
      },
      "ResponseBody": {
        "id": "38830C0BCDD75A7477B97E8D85FBE5ED24B111B59A15701D46",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9D6B6A3FA703A040D4E627D07D7EBCA04C458AC2DA34903AC9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:13 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "38830C0BCDD75A7477B97E8D85FBE5ED24B111B59A15701D46"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222b00e628-0000-0700-0000-652c9cb20000\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:14 GMT",
        "trace-id": "ee8c2b80-dd30-cec5-c9e5-1351776e9019"
      },
      "ResponseBody": {
        "id": "9D6B6A3FA703A040D4E627D07D7EBCA04C458AC2DA34903AC9",
        "name": "test",
        "distributionPolicyId": "38830C0BCDD75A7477B97E8D85FBE5ED24B111B59A15701D46",
        "labels": {
          "Id": "9D6B6A3FA703A040D4E627D07D7EBCA04C458AC2DA34903AC9"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/6A8C1BF5B59B83E745B1BADF3EDC05A6C061B7DDA59B92338E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:13 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "9D6B6A3FA703A040D4E627D07D7EBCA04C458AC2DA34903AC9",
        "queueSelectors": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259008537-0000-0700-0000-652c9cb20000\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:14 GMT",
        "trace-id": "14c549f0-db92-927a-3013-c0d38b0b2002"
      },
      "ResponseBody": {
        "id": "6A8C1BF5B59B83E745B1BADF3EDC05A6C061B7DDA59B92338E",
        "fallbackQueueId": "9D6B6A3FA703A040D4E627D07D7EBCA04C458AC2DA34903AC9",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            }
          }
        ],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 02:15:14 GMT"
      },
      "RequestBody": {
        "channelId": "5CE8EEF9065F9E18EF87E61A92E6F04D6748FBD1AB64C5F50F",
        "classificationPolicyId": "6A8C1BF5B59B83E745B1BADF3EDC05A6C061B7DDA59B92338E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000008-0000-0000-d8bb-4fbcedcddb08\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 02:15:15 GMT",
        "trace-id": "cdd6e407-dce8-659d-abe1-90caae7e45f5"
      },
      "ResponseBody": {
        "id": "6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429",
        "status": "pendingClassification",
        "enqueuedAt": "2023-10-12T00:48:51.9431142\u002B00:00",
        "channelId": "5CE8EEF9065F9E18EF87E61A92E6F04D6748FBD1AB64C5F50F",
        "classificationPolicyId": "6A8C1BF5B59B83E745B1BADF3EDC05A6C061B7DDA59B92338E",
        "queueId": "6C5BD46119FD8CE704D09139A1219D20C52AF511EB45AEC6B3",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {},
        "matchingMode": {
          "kind": "queue-and-match"
        }
      }
    },
[...]
