{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/72950E5D9F43F9ED3E2BF63ACF4F02EBDAB1AC3EFFD5335756?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:50 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200ba81-0000-0700-0000-65c526490000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:49 GMT",
        "trace-id": "166249a0-3e29-0776-9e4e-bfd4a5956d59"
      },
      "ResponseBody": {
        "id": "72950E5D9F43F9ED3E2BF63ACF4F02EBDAB1AC3EFFD5335756",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220200ba81-0000-0700-0000-65c526490000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:50 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "72950E5D9F43F9ED3E2BF63ACF4F02EBDAB1AC3EFFD5335756",
        "labels": {
          "Region": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664NA",
          "Language": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664EN",
          "Product": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664O365"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae0026b4-0000-0700-0000-65c5264a0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:50 GMT",
        "trace-id": "3f5f6331-ba11-1bd9-75c4-b174e53f3f3e"
      },
      "ResponseBody": {
        "id": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664",
        "name": "test",
        "distributionPolicyId": "72950E5D9F43F9ED3E2BF63ACF4F02EBDAB1AC3EFFD5335756",
        "labels": {
          "Region": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664NA",
          "Language": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664EN",
          "Product": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664O365",
          "Id": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664"
        },
        "etag": "\u0022ae0026b4-0000-0700-0000-65c5264a0000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/DF589B7619308075C0F0E2BED32D5E95FC33E01C287F4E4490?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:51 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "BE377F5A39A77213C34458588858C61E41F8A1C6CB64671DB2",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a0049e7-0000-0700-0000-65c5264a0000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:50 GMT",
        "trace-id": "cc47c778-acb5-c4ff-54f1-238a79033291"
      },
      "ResponseBody": {
        "id": "DF589B7619308075C0F0E2BED32D5E95FC33E01C287F4E4490",
        "fallbackQueueId": "BE377F5A39A77213C34458588858C61E41F8A1C6CB64671DB2",
        "queueSelectorAttachments": [
          {
            "kind": "passThrough",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "passThrough",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "passThrough",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00226a0049e7-0000-0700-0000-65c5264a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/9BC46F2BCBD0061F9616E1A6056A583B13BBB36805E39B145E?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:51 GMT"
      },
      "RequestBody": {
        "channelId": "9BC46F2BCBD0061F9616E1A6056A583B13BBB36805E39B145E",
        "classificationPolicyId": "DF589B7619308075C0F0E2BED32D5E95FC33E01C287F4E4490",
        "labels": {
          "Product": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664O365",
          "Region": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664NA",
          "Language": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664EN"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-087a-f01ad928dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:50 GMT",
        "trace-id": "26c1b920-ebe7-a21c-4fa8-bf49ae0bc0d1"
      },
      "ResponseBody": {
        "id": "9BC46F2BCBD0061F9616E1A6056A583B13BBB36805E39B145E",
        "status": "pendingClassification",
        "channelId": "9BC46F2BCBD0061F9616E1A6056A583B13BBB36805E39B145E",
        "classificationPolicyId": "DF589B7619308075C0F0E2BED32D5E95FC33E01C287F4E4490",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664O365",
          "Region": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664NA",
          "Language": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-087a-f01ad928dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/9BC46F2BCBD0061F9616E1A6056A583B13BBB36805E39B145E?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-74b9-991bd928dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:51 GMT",
        "trace-id": "e83ba113-1da7-481d-a559-48365901c07f"
      },
      "ResponseBody": {
        "id": "9BC46F2BCBD0061F9616E1A6056A583B13BBB36805E39B145E",
        "status": "queued",
        "enqueuedAt": "2024-02-08T19:06:51.5841396\u002B00:00",
        "channelId": "9BC46F2BCBD0061F9616E1A6056A583B13BBB36805E39B145E",
        "classificationPolicyId": "DF589B7619308075C0F0E2BED32D5E95FC33E01C287F4E4490",
        "queueId": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664O365",
          "Region": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664NA",
          "Language": "E7410176E859CB17C7F752B354EE32ED127727BCC2844E2664EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-74b9-991bd928dc08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-0HqAbaQlH0iPPGNgR89fhA-",
    "RandomSeed": "1703728168"
  }
}
