{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/DB837F147208092D74E9A99A1B9CC12A7518D853361294961D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:40 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b004fbc-0000-0700-0000-654ac60c0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:40 GMT",
        "trace-id": "7ac95843-e120-d1ab-ea0d-b2c2d0737aa3"
      },
      "ResponseBody": {
        "id": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b004fbc-0000-0700-0000-654ac60c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/DB837F147208092D74E9A99A1B9CC12A7518D853361294961D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:40 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c30143b9-0000-0700-0000-654ac60c0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:40 GMT",
        "trace-id": "f440de4e-6e13-c2ba-b342-a7b02cf27521"
      },
      "ResponseBody": {
        "id": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D",
        "name": "test",
        "distributionPolicyId": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D",
        "labels": {
          "Id": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D"
        },
        "etag": "\u0022c30143b9-0000-0700-0000-654ac60c0000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/5F8159E84F264FC1A89AA70DD5EDF73B7A31610B634054E2BA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:41 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "619656F7CD58B69A230868CD4D7C1C121E9B256440308883CC",
        "queueSelectorAttachments": [
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)",
              "kind": "expression-rule"
            },
            "queueSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D"
              }
            ],
            "kind": "conditional"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c006e6c-0000-0700-0000-654ac60c0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:40 GMT",
        "trace-id": "e79dbc5d-461b-2cac-6c04-13b41226d02a"
      },
      "ResponseBody": {
        "id": "5F8159E84F264FC1A89AA70DD5EDF73B7A31610B634054E2BA",
        "fallbackQueueId": "619656F7CD58B69A230868CD4D7C1C121E9B256440308883CC",
        "queueSelectorAttachments": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "expression-rule",
              "language": "powerFx",
              "expression": "If(job.Product = \u0022O365\u0022, true, false)"
            },
            "queueSelectors": [
              {
                "key": "Id",
                "labelOperator": "equal",
                "value": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D"
              }
            ]
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00220c006e6c-0000-0700-0000-654ac60c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DB837F147208092D74E9A99A1B9CC12A7518D853361294961D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:41 GMT"
      },
      "RequestBody": {
        "channelId": "91095B89807C9BBFE305B55EE4106B49A7684B9633E5541DF1",
        "classificationPolicyId": "5F8159E84F264FC1A89AA70DD5EDF73B7A31610B634054E2BA",
        "labels": {
          "Product": "O365"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-9f8e-e904e8dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:41 GMT",
        "trace-id": "16802c63-8330-950c-71fd-45f8a0bfceff"
      },
      "ResponseBody": {
        "id": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D",
        "status": "pendingClassification",
        "channelId": "91095B89807C9BBFE305B55EE4106B49A7684B9633E5541DF1",
        "classificationPolicyId": "5F8159E84F264FC1A89AA70DD5EDF73B7A31610B634054E2BA",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000000-0000-0000-9f8e-e904e8dfdb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/DB837F147208092D74E9A99A1B9CC12A7518D853361294961D?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-883c-f505e8dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:42 GMT",
        "trace-id": "bcd9d031-e3d8-88d3-ded8-0cddd6da03e6"
      },
      "ResponseBody": {
        "id": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:19:42.8421768\u002B00:00",
        "channelId": "91095B89807C9BBFE305B55EE4106B49A7684B9633E5541DF1",
        "classificationPolicyId": "5F8159E84F264FC1A89AA70DD5EDF73B7A31610B634054E2BA",
        "queueId": "DB837F147208092D74E9A99A1B9CC12A7518D853361294961D",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "O365"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000002-0000-0000-883c-f505e8dfdb08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-i6q__oprqUiX_zRU3YGX6Q-",
    "RandomSeed": "1177357786"
  }
}
