{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/6590AA5B72F2EE3142F02386DDE4E43F62D33E0F5711FB4E32?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:46 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0069bc-0000-0700-0000-654ac6120000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:46 GMT",
        "trace-id": "fd51f4c3-1861-46c1-54f8-83de7be9197f"
      },
      "ResponseBody": {
        "id": "6590AA5B72F2EE3142F02386DDE4E43F62D33E0F5711FB4E32",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0069bc-0000-0700-0000-654ac6120000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/35896D525779B512CA19C13A1CB2C326B49CE95B9317869319?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:46 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "6590AA5B72F2EE3142F02386DDE4E43F62D33E0F5711FB4E32",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301a4b9-0000-0700-0000-654ac6120000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:46 GMT",
        "trace-id": "f6402a0b-f1b7-218d-f756-ddd4dcd8b76e"
      },
      "ResponseBody": {
        "id": "35896D525779B512CA19C13A1CB2C326B49CE95B9317869319",
        "name": "test",
        "distributionPolicyId": "6590AA5B72F2EE3142F02386DDE4E43F62D33E0F5711FB4E32",
        "labels": {
          "Id": "35896D525779B512CA19C13A1CB2C326B49CE95B9317869319"
        },
        "etag": "\u0022c301a4b9-0000-0700-0000-654ac6120000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/BAA45288400E458115C69A1A47F7F9CADC359963F2FA10A366?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:47 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "35896D525779B512CA19C13A1CB2C326B49CE95B9317869319",
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c006f6c-0000-0700-0000-654ac6120000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:46 GMT",
        "trace-id": "17e15704-8ca8-f5f2-8e8b-1781fd070ed5"
      },
      "ResponseBody": {
        "id": "BAA45288400E458115C69A1A47F7F9CADC359963F2FA10A366",
        "fallbackQueueId": "35896D525779B512CA19C13A1CB2C326B49CE95B9317869319",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "QueueIdDoesNotExist"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00220c006f6c-0000-0700-0000-654ac6120000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:19:47 GMT"
      },
      "RequestBody": {
        "channelId": "87DE4E89704F22787F6D4947296E90075D542ADEEC2F912EFF",
        "classificationPolicyId": "BAA45288400E458115C69A1A47F7F9CADC359963F2FA10A366",
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-3875-7e08e8dfdb08\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:19:47 GMT",
        "trace-id": "fc666ee4-4c55-8a26-6623-ac89125d7547"
      },
      "ResponseBody": {
        "id": "6386FC918ED8DAF24B342B08838A0A1D7BC0455CB755058429",
        "status": "pendingClassification",
        "enqueuedAt": "2023-11-07T23:19:14.701747\u002B00:00",
        "channelId": "87DE4E89704F22787F6D4947296E90075D542ADEEC2F912EFF",
        "classificationPolicyId": "BAA45288400E458115C69A1A47F7F9CADC359963F2FA10A366",
        "queueId": "54D91DE03C2227F7FA856A4544355C71C95CA543413EFBE9C7",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000004-0000-0000-3875-7e08e8dfdb08\u0022"
      }
    },
[...]
