{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:47:24 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a4002d9f-0000-0700-0000-6552612b0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:47:23 GMT",
        "trace-id": "af5759cd-b6c9-6249-c3f3-07a413b44afc"
      },
      "ResponseBody": {
        "id": "C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a4002d9f-0000-0700-0000-6552612b0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:47:24 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002259021076-0000-0700-0000-6552612b0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:47:23 GMT",
        "trace-id": "396bda78-e3d1-1c13-4e51-f6a4871a4ea0"
      },
      "ResponseBody": {
        "id": "C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9",
        "name": "test",
        "distributionPolicyId": "C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9",
        "labels": {
          "Id": "C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9"
        },
        "etag": "\u002259021076-0000-0700-0000-6552612b0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/6B62CA8FEE886C6526F03A4D57EF9156604CB82F88C08348BF?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:47:25 GMT"
      },
      "RequestBody": {
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9"
            },
            "kind": "static"
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221000e43c-0000-0700-0000-6552612b0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:47:23 GMT",
        "trace-id": "110e0ca0-47b1-59b5-38fa-aa730173affa"
      },
      "ResponseBody": {
        "id": "6B62CA8FEE886C6526F03A4D57EF9156604CB82F88C08348BF",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "C235137A7F2C9BC4FBF68885B0AC407A9FAE993E6FEE59D1E9"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00221000e43c-0000-0700-0000-6552612b0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:47:25 GMT"
      },
      "RequestBody": {
        "channelId": "CFA8ACF5381C08C043F33ED7AC36C26452BD2A7C663E5DB5AD",
        "classificationPolicyId": "6B62CA8FEE886C6526F03A4D57EF9156604CB82F88C08348BF",
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000040-0000-0000-e3fb-ef9770e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:47:23 GMT",
        "trace-id": "3bb17697-886a-735a-1a6b-6aaca2b02f02"
      },
      "ResponseBody": {
        "id": "0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9",
        "status": "pendingClassification",
        "enqueuedAt": "2023-10-30T16:04:39.2516477\u002B00:00",
        "channelId": "CFA8ACF5381C08C043F33ED7AC36C26452BD2A7C663E5DB5AD",
        "classificationPolicyId": "6B62CA8FEE886C6526F03A4D57EF9156604CB82F88C08348BF",
        "queueId": "D24BE89AB6F4547924771FD56F0A5C47536A0E51A22B6822F8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000040-0000-0000-e3fb-ef9770e4db08\u0022"
      }
    },
[...]
