{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:33 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200b381-0000-0700-0000-65c526390000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:33 GMT",
        "trace-id": "5fb90d01-a92f-7801-819b-9cf79b72c633"
      },
      "ResponseBody": {
        "id": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220200b381-0000-0700-0000-65c526390000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F3201?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:34 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320",
        "labels": {
          "Region": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320NA",
          "Language": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320en",
          "Product": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320O365",
          "UniquePrefix": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae008eb2-0000-0700-0000-65c526390000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:33 GMT",
        "trace-id": "71a31e45-d794-afed-e5ee-f5a384e9d9db"
      },
      "ResponseBody": {
        "id": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F3201",
        "name": "test",
        "distributionPolicyId": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320",
        "labels": {
          "Region": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320NA",
          "Language": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320en",
          "Product": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320O365",
          "UniquePrefix": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320",
          "Id": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F3201"
        },
        "etag": "\u0022ae008eb2-0000-0700-0000-65c526390000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/30A3E8FC3AD89A50C29E9274845C3E2C9D59C693CC07DF8E5D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:34 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "6AAAB5EB3DE0D5079E2B1FBEA41430CBCFB6A65CA53DAA296E",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320EN\u0022, true, false)",
              "kind": "expression"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320en"
              }
            ],
            "kind": "conditional"
          },
          {
            "condition": {
              "language": "powerFx",
              "expression": "If(job.Lang = \u0022B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320FR\u0022, true, false)",
              "kind": "expression"
            },
            "queueSelectors": [
              {
                "key": "Language",
                "labelOperator": "equal",
                "value": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320fr"
              }
            ],
            "kind": "conditional"
          },
          {
            "queueSelector": {
              "key": "UniquePrefix",
              "labelOperator": "equal",
              "value": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a00afe6-0000-0700-0000-65[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/3C6A175C51F4EE5531F91515C52BE6A7C0A9ED96BAA9814BD3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:34 GMT"
      },
      "RequestBody": {
        "channelId": "3994E6649E753E9C994FC9B7887968F99D76AABF5827C0CB8B",
        "classificationPolicyId": "30A3E8FC3AD89A50C29E9274845C3E2C9D59C693CC07DF8E5D",
        "labels": {
          "Product": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320O365",
          "Region": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320NA",
          "Lang": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320EN"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-502b-ff10d928dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:33 GMT",
        "trace-id": "edd62091-9baa-a29e-cf77-48514aefc07f"
      },
      "ResponseBody": {
        "id": "3C6A175C51F4EE5531F91515C52BE6A7C0A9ED96BAA9814BD3",
        "status": "pendingClassification",
        "channelId": "3994E6649E753E9C994FC9B7887968F99D76AABF5827C0CB8B",
        "classificationPolicyId": "30A3E8FC3AD89A50C29E9274845C3E2C9D59C693CC07DF8E5D",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320O365",
          "Region": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320NA",
          "Lang": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-502b-ff10d928dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/3C6A175C51F4EE5531F91515C52BE6A7C0A9ED96BAA9814BD3?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-78cd-af11d928dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:34 GMT",
        "trace-id": "a80bb39e-d23c-d00e-ddc7-d653307d9383"
      },
      "ResponseBody": {
        "id": "3C6A175C51F4EE5531F91515C52BE6A7C0A9ED96BAA9814BD3",
        "status": "queued",
        "enqueuedAt": "2024-02-08T19:06:34.9516152\u002B00:00",
        "channelId": "3994E6649E753E9C994FC9B7887968F99D76AABF5827C0CB8B",
        "classificationPolicyId": "30A3E8FC3AD89A50C29E9274845C3E2C9D59C693CC07DF8E5D",
        "queueId": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F3201",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320O365",
          "Region": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320NA",
          "Lang": "B3DC692F5AE49A73AD25E608911F7FEBD9035962DB8F11F320EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-78cd-af11d928dc08\u0022"
      }
    },
[...]
