{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/44F63138FD68415B32A24040692DA31392876145D661CD8097?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:25 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200ad81-0000-0700-0000-65c526300000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:24 GMT",
        "trace-id": "ebaf974c-dd93-ca54-0f25-39865227fc1d"
      },
      "ResponseBody": {
        "id": "44F63138FD68415B32A24040692DA31392876145D661CD8097",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00220200ad81-0000-0700-0000-65c526300000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/44F63138FD68415B32A24040692DA31392876145D661CD8097?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:25 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "44F63138FD68415B32A24040692DA31392876145D661CD8097"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ae00ceb1-0000-0700-0000-65c526300000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:24 GMT",
        "trace-id": "da72e71d-2944-5b62-f9f3-73e71540046d"
      },
      "ResponseBody": {
        "id": "44F63138FD68415B32A24040692DA31392876145D661CD8097",
        "name": "test",
        "distributionPolicyId": "44F63138FD68415B32A24040692DA31392876145D661CD8097",
        "labels": {
          "Id": "44F63138FD68415B32A24040692DA31392876145D661CD8097"
        },
        "etag": "\u0022ae00ceb1-0000-0700-0000-65c526300000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/08325E40EC6052967C6AF8966E34E70A8B2573E45F5B8A0C07?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:25 GMT"
      },
      "RequestBody": {
        "queueSelectorAttachments": [
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "44F63138FD68415B32A24040692DA31392876145D661CD8097"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a0054e6-0000-0700-0000-65c526300000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:24 GMT",
        "trace-id": "11e5ffcd-c339-25c8-b128-0cf436ad2ff6"
      },
      "ResponseBody": {
        "id": "08325E40EC6052967C6AF8966E34E70A8B2573E45F5B8A0C07",
        "queueSelectorAttachments": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "44F63138FD68415B32A24040692DA31392876145D661CD8097"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00226a0054e6-0000-0700-0000-65c526300000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 19:06:25 GMT"
      },
      "RequestBody": {
        "channelId": "9A0F52D009BDB83B2E60D911BAA41B251FCC9DE5E719DC6A30",
        "classificationPolicyId": "08325E40EC6052967C6AF8966E34E70A8B2573E45F5B8A0C07"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000054-0000-0000-fead-aa0bd928dc08\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 19:06:24 GMT",
        "trace-id": "2031e4bb-ec80-0f3e-e50e-22d0af256f04"
      },
      "ResponseBody": {
        "id": "0BF650F51CBA1C558AAB583905C4E00791895B90E1C4F4A3F9",
        "status": "pendingClassification",
        "enqueuedAt": "2023-10-30T16:04:39.2516477\u002B00:00",
        "channelId": "9A0F52D009BDB83B2E60D911BAA41B251FCC9DE5E719DC6A30",
        "classificationPolicyId": "08325E40EC6052967C6AF8966E34E70A8B2573E45F5B8A0C07",
        "queueId": "E10D24F8FFE27DAA18DBE446E1560CB1667038BD8B4C0A0DF9",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000054-0000-0000-fead-aa0bd928dc08\u0022"
      }
    },
[...]
