{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/8566535402DCA45895F7393D78280C9A065533053232D0EF17?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:10 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002209002ad8-0000-0700-0000-65de7a970000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:11 GMT",
        "trace-id": "b7f40e08-a1f5-42ee-895d-ff4bb775068f"
      },
      "ResponseBody": {
        "id": "8566535402DCA45895F7393D78280C9A065533053232D0EF17",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002209002ad8-0000-0700-0000-65de7a970000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:10 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "8566535402DCA45895F7393D78280C9A065533053232D0EF17",
        "labels": {
          "Region": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4NA",
          "Language": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4EN",
          "Product": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4O365"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e6022c08-0000-0700-0000-65de7a970000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:11 GMT",
        "trace-id": "8ceaa194-3563-6063-51b3-7c23f7661b18"
      },
      "ResponseBody": {
        "id": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4",
        "name": "test",
        "distributionPolicyId": "8566535402DCA45895F7393D78280C9A065533053232D0EF17",
        "labels": {
          "Region": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4NA",
          "Language": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4EN",
          "Product": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4O365",
          "Id": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4"
        },
        "etag": "\u0022e6022c08-0000-0700-0000-65de7a970000\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/5DC23CD33A7D8AAC50784F261497E0017C4CCD10552C37227C?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:11 GMT"
      },
      "RequestBody": {
        "fallbackQueueId": "E8F006BAC0B5B94CD8810D71537F3493524B58B3B12C9E1C3D",
        "queueSelectorAttachments": [
          {
            "key": "Region",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "key": "Language",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "key": "Product",
            "labelOperator": "equal",
            "kind": "passThrough"
          },
          {
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4"
            },
            "kind": "static"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229a014278-0000-0700-0000-65de7a970000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:11 GMT",
        "trace-id": "803def42-16bc-0c23-acf9-22bc5ff2f847"
      },
      "ResponseBody": {
        "id": "5DC23CD33A7D8AAC50784F261497E0017C4CCD10552C37227C",
        "fallbackQueueId": "E8F006BAC0B5B94CD8810D71537F3493524B58B3B12C9E1C3D",
        "queueSelectorAttachments": [
          {
            "kind": "passThrough",
            "key": "Region",
            "labelOperator": "equal"
          },
          {
            "kind": "passThrough",
            "key": "Language",
            "labelOperator": "equal"
          },
          {
            "kind": "passThrough",
            "key": "Product",
            "labelOperator": "equal"
          },
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4"
            }
          }
        ],
        "workerSelectorAttachments": [],
        "etag": "\u00229a014278-0000-0700-0000-65de7a970000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/462742267EB7C28AC8E37A4062CE3465F9B39B5DDDB485C78C?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:11 GMT"
      },
      "RequestBody": {
        "channelId": "462742267EB7C28AC8E37A4062CE3465F9B39B5DDDB485C78C",
        "classificationPolicyId": "5DC23CD33A7D8AAC50784F261497E0017C4CCD10552C37227C",
        "labels": {
          "Product": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4O365",
          "Region": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4NA",
          "Language": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4EN"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-9116-cb0cf237dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:11 GMT",
        "trace-id": "6dee6c82-02ee-cbce-fbcb-d2859a9a6888"
      },
      "ResponseBody": {
        "id": "462742267EB7C28AC8E37A4062CE3465F9B39B5DDDB485C78C",
        "status": "pendingClassification",
        "channelId": "462742267EB7C28AC8E37A4062CE3465F9B39B5DDDB485C78C",
        "classificationPolicyId": "5DC23CD33A7D8AAC50784F261497E0017C4CCD10552C37227C",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4O365",
          "Region": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4NA",
          "Language": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000000-0000-0000-9116-cb0cf237dc08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/462742267EB7C28AC8E37A4062CE3465F9B39B5DDDB485C78C?api-version=2024-01-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-c408-f30cf237dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:11 GMT",
        "trace-id": "322b3d5a-d04d-47e4-287b-91cd604de0ad"
      },
      "ResponseBody": {
        "id": "462742267EB7C28AC8E37A4062CE3465F9B39B5DDDB485C78C",
        "status": "queued",
        "enqueuedAt": "2024-02-28T00:13:11.8635204\u002B00:00",
        "channelId": "462742267EB7C28AC8E37A4062CE3465F9B39B5DDDB485C78C",
        "classificationPolicyId": "5DC23CD33A7D8AAC50784F261497E0017C4CCD10552C37227C",
        "queueId": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {
          "Product": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4O365",
          "Region": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4NA",
          "Language": "7D33670040376CF865BCF19D65C0A713AB1F13AA5B490276C4EN"
        },
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000002-0000-0000-c408-f30cf237dc08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8yAezBhLo0-5BTedp_3C6A-",
    "RandomSeed": "1512161455"
  }
}
