{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:14 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002249005dd7-0000-0700-0000-65415e760000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:18 GMT",
        "trace-id": "d65a2f72-d527-8d88-ab11-461991610fe0"
      },
      "ResponseBody": {
        "id": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002249005dd7-0000-0700-0000-65415e760000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:14 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c01db4d-0000-0700-0000-65415e760000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:18 GMT",
        "trace-id": "50b17aa1-0387-f463-0b76-4d50b8150125"
      },
      "ResponseBody": {
        "id": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8",
        "name": "test",
        "distributionPolicyId": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8",
        "labels": {
          "Id": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8"
        },
        "etag": "\u00220c01db4d-0000-0700-0000-65415e760000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:14 GMT"
      },
      "RequestBody": {
        "channelId": "F4E4E80E69BCBC6419499B19B97CADC72D3047BD5C9D298456",
        "queueId": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000011-0000-0000-3528-38fc4cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:18 GMT",
        "trace-id": "4bbeade3-7bdf-98a0-834e-1f0d5b1177ca"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "status": "queued",
        "enqueuedAt": "2023-10-30T16:04:51.7684857\u002B00:00",
        "channelId": "F4E4E80E69BCBC6419499B19B97CADC72D3047BD5C9D298456",
        "queueId": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000011-0000-0000-3528-38fc4cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000011-0000-0000-3528-38fc4cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:18 GMT",
        "trace-id": "7da27aa1-d36d-d76c-8ea4-42f13b71e612"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "status": "queued",
        "enqueuedAt": "2023-10-30T16:04:51.7684857\u002B00:00",
        "channelId": "F4E4E80E69BCBC6419499B19B97CADC72D3047BD5C9D298456",
        "queueId": "5E0984C32D5BF07D3A492BDB30E03FF4B74FBF1B00D50899C8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000011-0000-0000-3528-38fc4cdadb08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-4C7NXuq-UUCWx9qfPlprrg-",
    "RandomSeed": "1131906916"
  }
}
