{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:49:44 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224a005457-0000-0700-0000-6541767c0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:49:48 GMT",
        "trace-id": "d17b10cf-0094-6723-4c7a-63decb411120"
      },
      "ResponseBody": {
        "id": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00224a005457-0000-0700-0000-6541767c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:49:44 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e01fc24-0000-0700-0000-6541767c0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:49:48 GMT",
        "trace-id": "8837ed4d-fced-d983-bf74-821b14aeaaae"
      },
      "ResponseBody": {
        "id": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585",
        "name": "test",
        "distributionPolicyId": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585",
        "labels": {
          "Id": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585"
        },
        "etag": "\u00220e01fc24-0000-0700-0000-6541767c0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:49:44 GMT"
      },
      "RequestBody": {
        "channelId": "CEF6F70F974888018E3806AAF6A4B055D4CF6BDE497610220D",
        "queueId": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585",
        "priority": 1,
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000013-0000-0000-14dd-e34d5bdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:49:48 GMT",
        "trace-id": "dc640b92-80e7-cb8f-6ac1-7b4af4cda1a5"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "status": "queued",
        "enqueuedAt": "2023-10-30T16:04:51.7684857\u002B00:00",
        "channelId": "CEF6F70F974888018E3806AAF6A4B055D4CF6BDE497610220D",
        "queueId": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000013-0000-0000-14dd-e34d5bdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 21:49:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000013-0000-0000-14dd-e34d5bdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 21:49:48 GMT",
        "trace-id": "accf5786-aac0-50b3-26ff-3d584434be20"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "status": "queued",
        "enqueuedAt": "2023-10-30T16:04:51.7684857\u002B00:00",
        "channelId": "CEF6F70F974888018E3806AAF6A4B055D4CF6BDE497610220D",
        "queueId": "43C6D8A96ADDCF2FFB841B2C12871E8E08E9F529E50ADA9585",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000013-0000-0000-14dd-e34d5bdadb08\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-kMu9NMdPY06Wd3UpZm-68w-",
    "RandomSeed": "298168922"
  }
}
