{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:56 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002209003dd8-0000-0700-0000-65de7ac40000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:56 GMT",
        "trace-id": "e604340a-96ae-a1e8-aa73-c52e380494cf"
      },
      "ResponseBody": {
        "id": "7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002209003dd8-0000-0700-0000-65de7ac40000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:56 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e602fa0b-0000-0700-0000-65de7ac40000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:56 GMT",
        "trace-id": "3e357772-21c7-b009-56d6-2d5e7d867640"
      },
      "ResponseBody": {
        "id": "7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE",
        "name": "test",
        "distributionPolicyId": "7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE",
        "labels": {
          "Id": "7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE"
        },
        "etag": "\u0022e602fa0b-0000-0700-0000-65de7ac40000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:13:56 GMT"
      },
      "RequestBody": {
        "channelId": "7CEAB82BF71DDD0899D35FD54D6564960CC56871959EC8CBDE",
        "queueId": "7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE",
        "priority": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000007-0000-0000-88a8-d327f237dc08\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:13:56 GMT",
        "trace-id": "4406fda1-92ef-9c82-acf2-7a754c98eea9"
      },
      "ResponseBody": {
        "id": "86F769C8DDD446DB03CAC5BD624FB36ED1E83B7A196A549487",
        "status": "queued",
        "enqueuedAt": "2023-11-07T23:19:28.0436881\u002B00:00",
        "channelId": "7CEAB82BF71DDD0899D35FD54D6564960CC56871959EC8CBDE",
        "queueId": "7935F88DC8B9959564B282CDE2F21B3594298503E7B64065FE",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000007-0000-0000-88a8-d327f237dc08\u0022"
      }
    },
[...]
