{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503662201440?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCC8122B5\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503662201440/dir176409503692901613?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCCB0D4C9\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:58 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:58.1368521Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:58.1368521Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:23:58.1368521Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503662201440/dir176409503692901613/file176409503723800916?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-group": "456",
        "x-ms-link-text": "APath",
        "x-ms-owner": "123",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCCDFEEFC\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:58 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:58.4455420Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:58.4455420Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:23:58.4455420Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "456",
        "x-ms-mode": "0777",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503662201440/dir176409503692901613/file176409503723800916?restype=symboliclink&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCCDFEEFC\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:58 GMT",
        "x-ms-link-text": "APath",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503662201440?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409503692901613",
    "file": "file176409503723800916",
    "share": "share176409503662201440"
  }
}
