{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409502470304301?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FC5666AFE\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409502470304301/dir176409502501100498?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FC5976726\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:46 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:46.2261542Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:46.2261542Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:23:46.2261542Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409502470304301/dir176409502501100498/file176409502532705487?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "11",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FC5C5AA7E\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:46 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:46.5293438Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:46.5293438Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:23:46.5293438Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409502470304301/dir176409502501100498/file176409502532705487?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "fileCacheControl",
        "x-ms-content-disposition": "fileContentDisposition",
        "x-ms-content-encoding": "fileContentEncoding",
        "x-ms-content-language": "fileContentLanguage",
        "x-ms-content-md5": "AQIDBA==",
        "x-ms-content-type": "fileContentType",
        "x-ms-group": "654",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FC5F40092\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:46 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:46.8330130Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:46.5293438Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:23:46.5293438Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409502470304301/dir176409502501100498/file176409502532705487?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "fileContentDisposition",
        "Content-Language": "fileContentLanguage",
        "Content-MD5": "AQIDBA==",
        "Content-Type": "fileContentType",
        "ETag": "\"0x8DE2C4FC5F40092\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:46 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:46.8330130Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:46.5293438Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:23:46.5293438Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409502470304301?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409502501100498",
    "file": "file176409502532705487",
    "share": "share176409502470304301"
  }
}
