{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860527355000003?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61F431B4D1\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:27:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860527355000003/dir175860527385608637?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61F460E51E\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:27:57 GMT",
        "x-ms-file-change-time": "2025-09-23T05:27:57.5240990Z",
        "x-ms-file-creation-time": "2025-09-23T05:27:57.5240990Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-23T05:27:57.5240990Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860527355000003/dir175860527385608637/file175860527417100647?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "11",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61F48EC6AB\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:27:57 GMT",
        "x-ms-file-change-time": "2025-09-23T05:27:57.8247851Z",
        "x-ms-file-creation-time": "2025-09-23T05:27:57.8247851Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:27:57.8247851Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860527355000003/dir175860527385608637/file175860527417100647?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1",
        "x-ms-group": "654",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61F4BD6AAD\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:27:58 GMT",
        "x-ms-file-change-time": "2025-09-23T05:27:58.1304493Z",
        "x-ms-file-creation-time": "2025-09-23T05:27:57.8247851Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:27:58.1304493Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860527355000003/dir175860527385608637/file175860527417100647?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDFA61F4BD6AAD\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:27:58 GMT",
        "x-ms-file-change-time": "2025-09-23T05:27:58.1304493Z",
        "x-ms-file-creation-time": "2025-09-23T05:27:57.8247851Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:27:58.1304493Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860527355000003?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175860527385608637",
    "file": "file175860527417100647",
    "share": "share175860527355000003"
  }
}
