{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503820909637?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCD733E25\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:59 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503820909637/dir176409503851602699?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCDA37663\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:59 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:59.7269603Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:59.7269603Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:23:59.7269603Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503820909637/dir176409503851602699/file176409503882705948?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-mode": "2755",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCDD1CC64\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:24:00 GMT",
        "x-ms-file-change-time": "2025-11-25T18:24:00.0306276Z",
        "x-ms-file-creation-time": "2025-11-25T18:24:00.0306276Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:24:00.0306276Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "2755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503820909637/dir176409503851602699/file176409503882705948?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-mode": "7644",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCE00227C\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:24:00 GMT",
        "x-ms-file-change-time": "2025-11-25T18:24:00.3342972Z",
        "x-ms-file-creation-time": "2025-11-25T18:24:00.0306276Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:24:00.0306276Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "7644",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503820909637?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409503851602699",
    "file": "file176409503882705948",
    "share": "share176409503820909637"
  }
}
