{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503501808167?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCB8C6FAC\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:56 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503501808167/dir176409503532502634?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCBBC5F62\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:56 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:56.5347682Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:56.5347682Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:23:56.5347682Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503501808167/dir176409503532502634/file176409503563504856?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "654",
        "x-ms-mode": "2755",
        "x-ms-owner": "123",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCBEACADD\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:56 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:56.8389853Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:56.8389853Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:23:56.8389853Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-mode": "2755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503501808167/dir176409503532502634/hardLink176409503593906324?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-target-file": "dir176409503532502634/file176409503563504856",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4FCC1AE259\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:23:57 GMT",
        "x-ms-file-change-time": "2025-11-25T18:23:57.1541593Z",
        "x-ms-file-creation-time": "2025-11-25T18:23:56.8389853Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:23:56.8389853Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-link-count": "2",
        "x-ms-mode": "2755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409503501808167?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409503532502634",
    "file": "file176409503563504856",
    "hardLink": "hardLink176409503593906324",
    "share": "share176409503501808167"
  }
}
