{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860528353301011?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61FA250E08\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:28:07 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860528353301011/dir175860528383900139?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61FA532C10\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:28:07 GMT",
        "x-ms-file-change-time": "2025-09-23T05:28:07.5004944Z",
        "x-ms-file-creation-time": "2025-09-23T05:28:07.5004944Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-23T05:28:07.5004944Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860528353301011/dir175860528383900139/file175860528414808217?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-group": "456",
        "x-ms-link-text": "APath",
        "x-ms-owner": "123",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61FA81F6F2\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:28:07 GMT",
        "x-ms-file-change-time": "2025-09-23T05:28:07.8071538Z",
        "x-ms-file-creation-time": "2025-09-23T05:28:07.8071538Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:28:07.8071538Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "456",
        "x-ms-mode": "0777",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860528353301011/dir175860528383900139/file175860528414808217?restype=symboliclink&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA61FA81F6F2\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:28:07 GMT",
        "x-ms-link-text": "APath",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175860528353301011?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175860528383900139",
    "file": "file175860528414808217",
    "share": "share175860528353301011"
  }
}
