{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.HybridCompute/machines/AWP-AzRael-01/providers/Microsoft.HybridConnectivity/endpoints/default?api-version=2024-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "mise-correlation-id": "ecd035d2-5f2e-4e2e-b6ff-3ac49dcb2953",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.HybridCompute/machines/AWP-AzRael-01/providers/Microsoft.HybridConnectivity/endpoints?api-version=2024-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
