{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt:analyze?api-version=2024-11-30&stringIndexType=utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt/analyzeResults/74f7a058-3401-49f1-88e8-7c8a86a21472?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt/analyzeResults/74f7a058-3401-49f1-88e8-7c8a86a21472?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-12-10T00:18:12Z",
        "lastUpdatedDateTime": "2024-12-10T00:18:12Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt/analyzeResults/74f7a058-3401-49f1-88e8-7c8a86a21472?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-12-10T00:18:12Z",
        "lastUpdatedDateTime": "2024-12-10T00:18:12Z",
        "analyzeResult": {
          "apiVersion": "2024-11-30",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "utf16CodeUnit",
          "content": "Contoso\nContoso\n123 Main Street\nRedmond, WA 98052\n123-456-7890\n6/10/2019 13:59\nSales Associate: Paul\n1 Surface Pro 6\n256GB / Intel Core i5 /\n8GB RAM (Black)\n999.00\n1 SurfacePen\n$99.99\nSub-Total\n$ 1098.99\nTax\n$ 104.40\nTatal\n$ 1203.39",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.2330159991979599,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    618,
                    281,
                    1051,
                    277,
                    1051,
                    391,
                    618,
                    404
                  ],
                  "confidence": 0.998,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Contoso",
                  "polygon": [
                    327,
                    587,
                    497,
                    596,
                    497,
                    654,
                    325,
                    646
                  ],
                  "confidence": 0.993,
                  "span": {
                    "offset": 8,
                    "length": 7
                 [...]
