{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt:analyze?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "urlSource": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt/analyzeResults/57270437-fcd7-4d94-bc4c-a3c2a9a0ad50?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt/analyzeResults/57270437-fcd7-4d94-bc4c-a3c2a9a0ad50?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-08-07T19:29:16Z",
        "lastUpdatedDateTime": "2024-08-07T19:29:16Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-receipt/analyzeResults/57270437-fcd7-4d94-bc4c-a3c2a9a0ad50?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-08-07T19:29:16Z",
        "lastUpdatedDateTime": "2024-08-07T19:29:18Z",
        "analyzeResult": {
          "apiVersion": "2024-07-31-preview",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "textElements",
          "content": "",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [],
              "lines": [],
              "spans": [
                {
                  "offset": 0,
                  "length": 0
                }
              ]
            }
          ],
          "styles": [],
          "documents": [],
          "contentFormat": "text"
        }
      }
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1471285770"
  }
}
