{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472081168603756x1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-key": "val",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B5805AA82\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:46:52 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/?comp=list\u0026prefix=share169472081168603756\u0026include=metadata,snapshots\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakesdaccount.file.core.windows.net/\u0022\u003E\u003CPrefix\u003Eshare169472081168603756\u003C/Prefix\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Eshare169472081168603756x1\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003EThu, 14 Sep 2023 19:46:52 GMT\u003[...]
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472081168603756x2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share169472081168603756"
  }
}
