{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439367858607272x1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-key": "val",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6847CE3CF0C0\"",
        "Last-Modified": "Mon, 29 Apr 2024 12:27:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/?comp=list&prefix=share171439367858607272&maxresults=1&include=metadata,snapshots&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Prefix>share171439367858607272</Prefix><MaxResults>1</MaxResults><Shares><Share><Name>share171439367858607272x1</Name><Properties><Last-Modified>Mon, 29 Apr 2024 12:27:59 GMT</Last-Modified><Etag>\"0x8DC6847CE3CF0C0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Mon, 29 Apr 2024 12:27:59 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share></Shares><NextMarker>/fakestorageaccount/share171439367858607272x2/01DA9A30ABD79060/9999-12-31T23:59:59.9999999Z</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/?comp=list&prefix=share171439367858607272&marker=%2Ffakestorageaccount%2Fshare171439367858607272x2%2F01DA9A30ABD79060%2F9999-12-31T23%3A59%3A59.9999999Z&maxresults=1&include=metadata,snapshots&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\"><Prefix>share171439367858607272</Prefix><Marker>/fakestorageaccount/share171439367858607272x2/01DA9A30ABD79060/9999-12-31T23:59:59.9999999Z</Marker><MaxResults>1</MaxResults><Shares><Share><Name>share171439367858607272x2</Name><Properties><Last-Modified>Mon, 29 Apr 2024 12:27:59 GMT</Last-Modified><Etag>\"0x8DC6847CE4E7A58\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Mon, 29 Apr 2024 12:27:59 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties><Metadata><key>val</key></Metadata></Share></Shares><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171439367858607272x2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share171439367858607272"
  }
}
