{
  "Entries": [
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "TableName": "testtable32vej031"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://te798ca7661da04b0prim.table.core.windows.net/Tables('testtable32vej031')",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://te798ca7661da04b0prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtable32vej031"
      }
    },
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": {
        "DateTimeOffsetNull": null,
        "DateTimeOffsetN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffsetN@odata.type": "Edm.DateTime",
        "DateTimeOffset": "2020-01-01T01:02:00.0000000Z",
        "DateTimeOffset@odata.type": "Edm.DateTime",
        "DateTimeNull": null,
        "DateTimeN": "2020-01-01T01:02:00.0000000Z",
        "DateTimeN@odata.type": "Edm.DateTime",
        "DateTime": "2020-01-01T01:02:00.0000000Z",
        "DateTime@odata.type": "Edm.DateTime",
        "DateTimeAsString": "2020-01-01T01:02:00.0000000Z",
        "BoolNull": null,
        "BoolN": false,
        "Bool": false,
        "BoolPrimitiveNull": null,
        "BoolPrimitiveN": false,
        "BoolPrimitive": false,
        "Binary": "AQL/AQ==",
        "Binary@odata.type": "Edm.Binary",
        "BinaryNull": null,
        "BinaryPrimitive": "AQL/AQ==",
        "BinaryPrimitive@odata.type": "Edm.Binary",
        "DoublePrimitiveNull": null,
        "DoublePrimitiveN": 1.5,
        "DoublePrimitiveN@odata.type": "Edm.Double",
        "DoublePrimitive": 1.5,
        "DoublePrimitive@odata.type": "Edm.Double",
        "DoubleNull": null,
        "DoubleN": 1.5,
        "DoubleN@odata.type": "Edm.Double",
        "Double": 1.5,
        "Double@odata.type": "Edm.Double",
        "DoubleInteger": 1,
        "DoubleInteger@odata.type": "Edm.Double",
        "SomeNewName": "0001",
        "DataMemberImplictNameProperty": "0001",
        "GuidNull": null,
        "GuidN": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidN@odata.type": "Edm.Guid",
        "Guid": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "Guid@odata.type": "Edm.Guid",
        "IntegerPrimitiveNull": null,
        "IntegerPrimitiveN": 1,
        "IntegerPrimitive": 1,
        "Int32Null": null,
        "Int32N": 1,
        "Int32": 1,
        "LongPrimitiveNull": null,
        "LongPrimitiveN": "2147483648",
        "LongPrimitiveN@odata.type": "Edm.Int64",
        "LongPrimitive": "2147483648",
        "LongPrimitive@odata.type": "Edm.Int64",
        "Int64Null": null,
        "Int64N": "123456789012",
        "Int64N@odata.type": "Edm.Int64",
        "Int64": "2147483648",
        "Int64@odata.type": "Edm.Int64",
        "String": "0001",
        "PartitionKey": "somPartition",
        "RowKey": "0001"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031(PartitionKey='somPartition',RowKey='0001')",
        "ETag": "W/\"datetime'2025-08-26T19%3A05%3A18.4826485Z'\"",
        "Location": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031(PartitionKey='somPartition',RowKey='0001')",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=String%20ge%20%270003%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": {
        "odata.metadata": "https://te798ca7661da04b0prim.table.core.windows.net/$metadata#testtable32vej031",
        "value": [
          {
            "odata.etag": "W/\"datetime'2025-08-26T19%3A05%3A18.5951555Z'\"",
            "PartitionKey": "somPartition",
            "RowKey": "0003",
            "Timestamp": "2025-08-26T19:05:18.5951555Z",
            "DateTimeOffsetN@odata.type": "Edm.DateTime",
            "DateTimeOffsetN": "2020-01-01T01:04:00Z",
            "DateTimeOffset@odata.type": "Edm.DateTime",
            "DateTimeOffset": "2020-01-01T01:04:00Z",
            "DateTimeN@odata.type": "Edm.DateTime",
            "DateTimeN": "2020-01-01T01:04:00Z",
            "DateTime@odata.type": "Edm.DateTime",
            "DateTime": "2020-01-01T01:04:00Z",
            "DateTimeAsString": "2020-01-01[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Guid%20eq%20guid%270d391d16-97f1-4b9a-be68-4cc871f90003%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": [...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Int64%20ge%202147483650L",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
  [...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=LongPrimitive%20ge%202147483650L",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeader[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=LongPrimitiveN%20ge%202147483650L",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Double%20ge%203.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=DoublePrimitive%20ge%203.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Int32%20ge%203",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Con[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Int32N%20ge%203",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Co[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=DateTimeOffset%20ge%20datetime%272020-01-01T01%3A04%3A00Z%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=DateTimeOffset%20lt%20datetime%272020-01-01T01%3A04%3A00Z%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Bool%20eq%20false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=BoolPrimitive%20eq%20false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Binary%20eq%20X%270102FF03%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders":[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=BinaryPrimitive%20eq%20X%270102FF03%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Response[...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/testtable32vej031()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=PartitionKey%20eq%20%27somPartition%27%20and%20String%20ge%20%270003%27%20and%20Int64%20ge%202147483650L%20and%20LongPrimitive%20ge%202147483650L%20and%20LongPrimitiveN%20ge%202147483650L%20and%20Int32%20ge%203%20and%20Int32N%20ge%203%20and%20DateTimeOffset%20ge%20datetime%272020-01-01T01%3A04%3A00Z%27",
      "RequestMethod": "GET",
   [...]
    {
      "RequestUri": "https://te798ca7661da04b0prim.table.core.windows.net/Tables('testtable32vej031')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Aug 2025 19:05:20 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "661766474",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "te798ca7661da04b0prim"
  }
}
