{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><KeyInfo><Start>2024-10-14T06:15:40Z</Start><Expiry>2024-10-19T07:15:40Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>fb3258f2-574f-4e0f-bae5-3470b8f22903</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-10-14T06:15:40Z</SignedStart><SignedExpiry>2024-10-19T07:15:40Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-11-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem172889015036009494?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEC200904723A\"",
        "Last-Modified": "Mon, 14 Oct 2024 07:15:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem172889015036009494?skoid=fb3258f2-574f-4e0f-bae5-3470b8f22903&skt=2024-10-14T06%3A15%3A40Z&ske=2024-10-19T07%3A15%3A40Z&sks=b&skv=2024-11-04&scid=b77d5205-ddb5-42e1-80ee-26c74a5e9333&resource=filesystem&recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": {
        "paths": []
      }
    }
  ],
  "Variables": {
    "filesystem": "filesystem172889015036009494",
    "now": "2024-10-14T07:15:40.938Z",
    "tmr": "2024-10-14T07:15:40.938Z"
  }
}
