{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "fiwcjeqc",
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.microsoft"
          },
          {
            "name": "DescriptionVector",
            "type": "Collection(Edm.Single)",
            "key": false,
            "retrievable": true,
            "stored": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "dimensions": 1536,
            "vectorSearchProfile": "my-vector-profile"
          }
        ],
        "vectorSearch": {
          "profiles": [
            {
              "name": "my-vector-profile",
              "algorithm": "my-hsnw-vector-config"
            }
          ],
          "algorithms": [
            {
              "name": "my-hsnw-vector-config",
              "kind": "hnsw"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "829",
        "ETag": "\"0x8DE20A7DBA51571\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/indexes('fiwcjeqc')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE20A7DBA51571\"",
        "name": "fiwcjeqc",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEnc[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('fiwcjeqc')?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "17",
        "ETag": "\"0x8DE20A7DBA51571\"",
        "OData-Version": "4.0",[...]
[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('fiwcjeqc')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "16"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "No index with the name 'fiwcjeqc' was found in a service named 'azs-net-azssdktest'.",
          "details": [
            {
              "code": "IndexNotFoundInService",
              "message": "No index with the name 'fiwcjeqc' was found in a service named 'azs-net-azssdktest'."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1696016015",
    "SearchIndexName": "fiwcjeqc",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
