{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/NewRelic.Observability/monitors?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "fa85fc37-5e93-4b9f-862a-3cf6825e2202",
          "b3e29fe8-82dd-4d25-8643-7dd7abc095a3",
          "ee02c209-9cdf-4bc4-85f0-41860c53f2a7"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/NewRelic.Observability/monitors/resourcetest",
            "name": "resourcetest",
            "type": "newrelic.observability/monitors",
            "location": "centraluseuap",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2024-03-19T08:54:05.0571803Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-03-19T08:54:05.0571803Z"
            },
            "identity": {
              "principalId": "ac2a6087-7881-4b93-bb8f-274c772bd8f4",
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "type": "SystemAssigned"
            },
            "properties": {
              "orgCreationSource": "LIFTR",
              "accountCreationSource": "LIFTR",
              "provisioningState": "Failed",
              "monitoringStatus": "Enabled",
              "marketplaceSubscriptionStatus": "Active",
              "newRelicAccountProperties": {
                "userId": null,
                "accountInfo": null,
                "organizationInfo": null
              },
              "userInfo": {
                "firstName": "ZiWei",
                "lastName": "Chen (WICRESOFT NORTH AMERICA LTD)",
                "emailAddress": "v-ziweichen@microsoft.com",
                "phoneNumber": ""
              },
              "planData": {
                "usageType": "PAYG",
                "billingCycle": "MONTHLY",
                "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
                "effectiveDate": "0001-01-01T00:00:00Z"
              },
              "liftrResourceCategory": "MonitorLogs",
              "liftrResourcePreference": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
