{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/NewRelic.Observability/monitors/resourcetest1?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205001d04-0000-3400-0000-65f9571b0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/NewRelic.Observability/monitors/resourcetest1",
        "name": "resourcetest1",
        "type": "newrelic.observability/monitors",
        "location": "centraluseuap",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2024-03-19T09:12:16.4303107Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-03-19T09:12:16.4303107Z"
        },
        "properties": {
          "orgCreationSource": "LIFTR",
          "accountCreationSource": "LIFTR",
          "provisioningState": "Succeeded",
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "newRelicAccountProperties": {
            "accountInfo": {
              "accountId": "11995688"
            },
            "organizationInfo": {
              "organizationId": "06448385-6a38-4002-8b2d-d59ac8593939"
            }
          },
          "userInfo": {
            "firstName": "ZiWei",
            "lastName": "Chen (WICRESOFT NORTH AMERICA LTD)",
            "emailAddress": "v-ziweichen@microsoft.com",
            "phoneNumber": ""
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "0001-01-01T00:00:00Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0
        }
      }
    }
  ],
  "Variables": {}
}
