{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-483?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3d675827-a677-4980-812c-88fa86de5320",
        "traceresponse": "00-b84264c3ec3ce2ae10121919377c91f4-be5d5177ef3fb68c-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-483. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-483?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;2"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a1033a50-2c36-416d-b05d-80a009db90ca",
        "traceresponse": "00-9c7bbf535fb2af0f211aeb787ae2bb76-b125356952340286-01",
        "x-ms-error-code": "ValidationFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationFailed",
          "message": "Invalid twin specified",
          "details": [
            {
              "code": "ValidationFailed",
              "message": "dtmi:samples:DTTestBuilding;2 or one of its dependencies does not exist."
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "305c4359-a919-4ad9-8c8e-e7fccbb3a236",
        "traceresponse": "00-1a985771891f8af0a14d9c4261c24d10-7b9241280717dbf7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-483"
  }
}
