{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "07b54092-4a92-46be-a417-1848ba6c83bc",
        "traceresponse": "00-fd972ea356311b97c14448e55f60c6c4-5311b9044e3c59d6-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "96f46198-8985-49be-9992-a4fa5d8b2a55",
        "traceresponse": "00-eb219248b4c418c72275274651eebb56-f07d6cf9fe22e6a7-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-13T18:19:06.9366111+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-857?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fc584a86-90c4-49cb-ba3e-60f65118d3f6",
        "traceresponse": "00-b5e5131e26c2fa821553aaf3b75da4f1-e845aaeacbbec0f6-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-857. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-857?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"a0fdee03-c4c6-4979-8f6a-961400877a08\"",
        "mise-correlation-id": "0185a2f4-8adc-4ccc-a8ff-593e757903f9",
        "traceresponse": "00-39cbbbf78b8956e56f997e994006d7f3-c252b4baa98c5f34-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-857",
        "$etag": "W/\"a0fdee03-c4c6-4979-8f6a-961400877a08\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-13T18:19:07.0632827Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-13T18:19:07.0632827Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-857?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/TemperatureUnit\",\"value\":\"Celsius\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"4acad909-ac8f-4d2a-8552-643c726ab247\"",
        "mise-correlation-id": "26140e72-8a08-4291-b2eb-8f5c8cf9ac7a",
        "traceresponse": "00-40636c6f8a109d752b18e967b74065a8-3811c91d7d185571-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-857?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4acad909-ac8f-4d2a-8552-643c726ab247\"",
        "mise-correlation-id": "6e7b929d-c0b1-461c-8c2b-2500efc2c876",
        "traceresponse": "00-9154221fa2f6bae587527ca00336e10d-73c10cf7357d6453-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-857",
        "$etag": "W/\"4acad909-ac8f-4d2a-8552-643c726ab247\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-13T18:19:07.1258022Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-13T18:19:07.0632827Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-13T18:19:07.1258022Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "bc1b5257-a633-4bf2-9c78-9cd90dcd15d5",
        "traceresponse": "00-436b2fb40d70b8ae9f922b9cef6e65ad-b55b5d555b1073bc-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-857"
  }
}
