{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f27c020d-bf11-4f1a-887d-9f6494326ea9",
        "traceresponse": "00-1204132244f739a8d5145fb76ddc6fd5-86c6f58c545528ea-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "90d3fe86-e9e8-4a5a-89ab-418f7f1b1534",
        "traceresponse": "00-601e6d140b1557741c347ddb8f84d55f-90d7e3d09889a0f3-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:56:26.0942707+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-277?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "66730e5d-82b0-453a-bf03-4146ca58e147",
        "traceresponse": "00-2a3e477a19549caf2c39b4fc0952f390-058fe3b198746a30-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-277. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "dd96027b-8ff7-4302-8768-4e934b27238d",
        "traceresponse": "00-762841e4e52acf5c2442ff35cf3f346f-97f8967ad5339940-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-277"
  }
}
