{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2d573977-ec54-4f13-a502-ee9db0064d81",
        "traceresponse": "00-8811f0bca14a4ccb2d3871c7b10e3f82-548c988ebe397b8d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7deb718e-9bd0-47c7-851f-09bd624dfbd2",
        "traceresponse": "00-5ecd3a0d15f58978f43892a3b1dd8699-5c8fe00001837358-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T21:02:39.0967717+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-399?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "36c75bc8-eddb-4417-88de-231b90d15910",
        "traceresponse": "00-af5f2038669928a546e4f33a7bf119b4-2e9a3f25d7c2e84c-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-399. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-399?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4822d05f-8c00-46e1-a561-b9b6473558f5\"",
        "mise-correlation-id": "1f37555c-fba9-4eb6-a80b-58515ae09f56",
        "traceresponse": "00-cc615234be2099e3d579ed0672d4a209-707dcc6efa8b5019-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-399",
        "$etag": "W/\"4822d05f-8c00-46e1-a561-b9b6473558f5\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-08T21:02:39.3153239Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T21:02:39.3153239Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-399?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/TemperatureUnit\",\"value\":\"Celsius\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"84afb194-daae-4851-bd33-4a1492428eab\"",
        "mise-correlation-id": "1855b687-fc4a-428b-a552-7a0b7c6e26cc",
        "traceresponse": "00-3568d57bdf7a5e797e58f1d0a63c1862-4274300a98ccdbbe-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-399?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"84afb194-daae-4851-bd33-4a1492428eab\"",
        "mise-correlation-id": "bdff6c30-561c-4179-ace4-de1869936294",
        "traceresponse": "00-600bdec9214a949094fdc140f632a490-60199f55b2708eaf-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-399",
        "$etag": "W/\"84afb194-daae-4851-bd33-4a1492428eab\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-08T21:02:39.4249827Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T21:02:39.3153239Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-08T21:02:39.4249827Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "6cc1ce54-95bd-4f0e-93c5-1a68b934f30b",
        "traceresponse": "00-b3b75f456f6a8192377de860f6744e4a-c69d981d6b8b9098-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-399"
  }
}
