{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e4657596-3818-4229-9150-a2718af228d8",
        "traceresponse": "00-5480b2c72e0a6a7dfcea1ced7becbe53-d7f20b8af658cf9e-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fb0b3c0c-1810-41d4-aec8-1031f4ec10a1",
        "traceresponse": "00-03a47387f191f08cd4165a30b34e65c7-4f61b54d778da70c-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T22:38:00.0321249+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-247?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "06178140-5a2c-4b9b-85a6-9caf0896007f",
        "traceresponse": "00-d6981c04783700b37b44284da3450fc1-c5f474efafa73d74-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-247. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-247?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"98cfd9a9-2ad0-4be9-9d25-5189c2cabd01\"",
        "mise-correlation-id": "436df41c-afbc-42fa-aab9-d0d3d3693f3d",
        "traceresponse": "00-dde66894d028be87b5279f9f582854c0-a94cd75188313ab6-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-247",
        "$etag": "W/\"98cfd9a9-2ad0-4be9-9d25-5189c2cabd01\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-07T22:38:00.2983376Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-07T22:38:00.2983376Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-247?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/TemperatureUnit\",\"value\":\"Celsius\"},{\"op\":\"replace\",\"path\":\"/AverageTemperature\",\"value\":42}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"c7c28df4-748c-404e-8a78-02d744400616\"",
        "mise-correlation-id": "a240e586-b382-4fdc-a568-2b3f1a1ad65a",
        "traceresponse": "00-d3397038c54c88b0fe9310dd664e743e-1d2a46e8599c6bbf-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-247?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"c7c28df4-748c-404e-8a78-02d744400616\"",
        "mise-correlation-id": "ee1ad451-dbf0-4f80-9c11-862aa6190f31",
        "traceresponse": "00-c6f621f8342bf940393dd3471e2b1ff6-464a96e34776fbca-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-247",
        "$etag": "W/\"c7c28df4-748c-404e-8a78-02d744400616\"",
        "AverageTemperature": 42,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-07T22:38:00.4086058Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-07T22:38:00.4086058Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-07T22:38:00.4086058Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "0a9de830-684b-4825-bf33-ba39f07fea70",
        "traceresponse": "00-b6addc835c9203231a12e6de15369839-935a1e264911098e-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-247"
  }
}
