{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bb1fc50c-06a4-4182-b4e4-d04806e70338",
        "traceresponse": "00-0ded6fa7f6b91e3f58743aa6b45e5be0-0968307d6a9eb546-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9ddeaf15-c4b6-4e5f-abf4-7c71bb1be110",
        "traceresponse": "00-a80a7355e19ff875e122ecaf1f781b30-24a8e272c16a0f20-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-20T16:06:47.6469493+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-729?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c8a6dbe5-bca4-4764-8046-1d1ff0de3b66",
        "traceresponse": "00-af393c1a960876174060bc8550ab0358-2b570728d8e0c618-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-729. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-729?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"ced27eeb-cac5-4217-bc33-d4d190ea1c40\"",
        "mise-correlation-id": "aa85901a-3ca6-43a4-99a9-4e12541b6828",
        "traceresponse": "00-9f8e0c6bd501b0e624bb705a984c34ce-0e9da1afc984a5bf-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-729",
        "$etag": "W/\"ced27eeb-cac5-4217-bc33-d4d190ea1c40\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-20T16:06:47.7607020Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-20T16:06:47.7607020Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-729?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"move\",\"path\":\"/AverageTemperature\",\"value\":42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "15bf1767-63c3-4fce-9655-e5d6bef100fc",
        "traceresponse": "00-34c6b4fb72ae59fc96ca187daa45ad05-23327ff6490cccda-01",
        "x-ms-error-code": "JsonPatchInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "JsonPatchInvalid",
          "message": "Unsupported operation type move. Please provide a valid patch document. See section on update apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8e96886b-aad6-4fbf-8883-b1f0dbe1c252",
        "traceresponse": "00-8d69c1eb9784adf91b67bcde2669a9ae-3321c658ce271f4d-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-729"
  }
}
