{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7893eaf1-3d12-43b5-9915-fe71ab16a1b9",
        "traceresponse": "00-3390f81b33c83840e280fd47e56c81c6-9486038e01bdb4a5-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "768a1d8b-5077-42df-92b1-f6ec8c561de1",
        "traceresponse": "00-42c4d694446cda6a58666c631d12d1d2-65b89d47aca2d10f-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T05:57:47.7536455+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/query?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cd188111-06a5-4917-b851-f59bc6db67a2",
        "query-charge": "2.87",
        "traceresponse": "00-3d30617ec12174bab2a2c59277a31940-7b5af90cbdff98fd-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "create-simple-digitaltwin-224",
            "$etag": "W/\"99ced2a1-ea34-421e-a844-b7940e5c4b1b\"",
            "AverageTemperature": 68,
            "TemperatureUnit": "Celsius",
            "$metadata": {
              "$model": "dtmi:samples:DTTestBuilding;1",
              "$lastUpdateTime": "2025-05-07T05:57:39.4696987Z",
              "AverageTemperature": {
                "lastUpdateTime": "2025-05-07T05:57:39.4696987Z"
              },
              "TemperatureUnit": {
                "lastUpdateTime": "2025-05-07T05:57:39.4696987Z"
              }
            }
          }
        ],
        "continuationToken": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-224?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "637f9209-4f18-4d3a-a211-1f33993060b4",
        "traceresponse": "00-fbd2e3f22605c35328ace2c44bb51a6c-534b5b4162ef6d83-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-224. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a1808189-ff4c-4b57-b444-1566aa7afddd",
        "traceresponse": "00-1121c1e9f632c0134a615ba20ed2486e-e397f16c9b1ef8d5-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-0"
  }
}
