{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "84f39582-dded-45f1-b2e6-67f9a5235fc5",
        "traceresponse": "00-8da694f76e745d4915bb090e80befdd0-7d6cb6ffbf955ac8-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d9473834-30ad-4d08-8c3b-6234b3d71788",
        "traceresponse": "00-c0de55897095fa32f2b6914c43f52606-82a6ab8c08bbabcd-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-13T18:09:33.7743341+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/query?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2446df18-96d2-471f-b57c-8156c783d240",
        "query-charge": "2.87",
        "traceresponse": "00-08bcaa4e13488482e1fe8c895e99d613-18cfbcb5d79908a1-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "create-simple-digitaltwin-556",
            "$etag": "W/\"406e8599-6c9e-46c2-88e6-d14a1b9dd3be\"",
            "AverageTemperature": 68,
            "TemperatureUnit": "Celsius",
            "$metadata": {
              "$model": "dtmi:samples:DTTestBuilding;1",
              "$lastUpdateTime": "2025-05-13T18:09:26.0344585Z",
              "AverageTemperature": {
                "lastUpdateTime": "2025-05-13T18:09:26.0344585Z"
              },
              "TemperatureUnit": {
                "lastUpdateTime": "2025-05-13T18:09:26.0344585Z"
              }
            }
          }
        ],
        "continuationToken": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-556?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e219bdb5-8314-4ae1-93bb-6c650f56f1b7",
        "traceresponse": "00-cc75632299f26bb65eb76421dc22326b-3a5132cd5bea0b97-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-556. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b726a534-518c-4b7c-90fa-2df5f86fec8d",
        "traceresponse": "00-61d3f6a34b5cf36e1723b837723582f0-d0913ae2f5022795-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-795"
  }
}
