{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-268?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "74bc3a05-222a-4390-9c56-f4b9a67b1cc1",
        "traceresponse": "00-42887c0cc7f11a7618ccb0ec672252d8-32a71b2b783bd704-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-268. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-268?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;2"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7baa73bd-7bfa-4830-b8a9-8ba1264d527e",
        "traceresponse": "00-ecf32d050c68be9d3c2f6b5f37749f82-9551696839f921fe-01",
        "x-ms-error-code": "ValidationFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationFailed",
          "message": "Invalid twin specified",
          "details": [
            {
              "code": "ValidationFailed",
              "message": "dtmi:samples:DTTestBuilding;2 or one of its dependencies does not exist."
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fe3f681c-d4de-48e2-b0f2-adb4254f5a03",
        "traceresponse": "00-6407a6551fed1a2ff079627ec321ed16-e49eb73dff5d6368-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-268"
  }
}
