{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "1866596831",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438034554_afe55d47-ae60-4e93-a251-dfd915dc64c5?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438034554_afe55d47-ae60-4e93-a251-dfd915dc64c5?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438034554_afe55d47-ae60-4e93-a251-dfd915dc64c5",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-10-07T20:37:26Z",
        "lastUpdatedDateTime": "2024-10-07T20:37:28Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1866596831?api-version=2023-07-31"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438034554_afe55d47-ae60-4e93-a251-dfd915dc64c5?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438034554_afe55d47-ae60-4e93-a251-dfd915dc64c5",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-10-07T20:37:26Z",
        "lastUpdatedDateTime": "2024-10-07T20:37:29Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1866596831?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1866596831": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "1866596831",
          "createdDateTime": "2024-10-07T20:37:29Z",
          "expirationDateTime": "2026-10-07T20:37:29Z",
          "apiVersion": "2023-07-31"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels:authorizeCopy?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "357367367"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-localtests",
        "targetResourceRegion": "eastus",
        "targetModelId": "357367367",
        "targetModelLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/357367367?api-version=2023-07-31",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-10-07T21:37:31Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1866596831:copyTo?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-localtests",
        "targetResourceRegion": "eastus",
        "targetModelId": "357367367",
        "targetModelLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/357367367?api-version=2023-07-31",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-10-07T21:37:31.0000000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438034548_0b7d2a77-0ebf-4827-8888-aa31b6c92f8b?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1866596831?api-version=2023-07-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "536907601",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
