{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-16285/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-16285/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-16285/d5a15ab21c614780970f0030736de806",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4IRLtF4gYaspiM1nqsnZaxGLiiWPt2ckEjKyBN874btIpdXXJfksQJMyi5AzsQfnCwzBGFaZ0q7gVpQOrpYAUIMy17awswT3oUbNtB8ImPs4bduqG5HtOCfrBx4_v4DuUFbiOrG-60_UfEkj_rt3Pp6AR2F0Vq0xPAAOtkgGj9RUYAdUG1zP3KUXdQAzddD92G-Y0jzYwWEa3li4iqkos3v5oeAuf6_Uzjdy7qVujW9sgJ4_i8-cZ_4Iv7_U6JiZoiCGwN3D7Tcsk8J2u104DNBlwm-Dasfn9CWCpfHke3hw6-aXn64ggBvg7tAm1L9W1Eo-LEqCZp3SS1Udam_MiQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515970,
          "updated": 1778515970,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-16285?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-16285",
        "deletedDate": 1778515970,
        "scheduledPurgeDate": 1779120770,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-16285/d5a15ab21c614780970f0030736de806",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4IRLtF4gYaspiM1nqsnZaxGLiiWPt2ckEjKyBN874btIpdXXJfksQJMyi5AzsQfnCwzBGFaZ0q7gVpQOrpYAUIMy17awswT3oUbNtB8ImPs4bduqG5HtOCfrBx4_v4DuUFbiOrG-60_UfEkj_rt3Pp6AR2F0Vq0xPAAOtkgGj9RUYAdUG1zP3KUXdQAzddD92G-Y0jzYwWEa3li4iqkos3v5oeAuf6_Uzjdy7qVujW9sgJ4_i8-cZ_4Iv7_U6JiZoiCGwN3D7Tcsk8J2u104DNBlwm-Dasfn9CWCpfHke3hw6-aXn64ggBvg7tAm1L9W1Eo-LEqCZp3SS1Udam_MiQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515970,
          "updated": 1778515970,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-16285?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-16285"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-16285?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA": "RSA-16285"
  }
}
