{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-98705/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-98705/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-98705/d13ba1ef9e6b405da1daea2205ccfc78",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0IVMCXmiHTc-ZZ06SyMTLL1T_QOGJoPqiZtPRdVqpFgCWBrFJd0FLCT1jN9bBZqzr1FhLZVSoJWM38uAQLNbk_aKnsJ4uffGs3HpXzqLQT2xJDk0LiaL0rr8TiBjj3GbFI6FTwHpXqPTtcrLxM-TrdUtPVP1-Z5TQNr5eKcU-V0ayU5TKvGHJHE5pnYMrzxqSWqPlSQxZ5HMCK8OBUNe3iRNdS2f0LaEYVrn3WracDHZbU5LlVsdqKDNzCKstWTqzbK4C6NUJzQIzDbsjTbRLo8fhPAdiNBIcmq0Rnpfo3aii0yCrJPv86EUnMrOMyD-5nZD_Im-A-VwZupaf6vxFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552039,
          "updated": 1780552039,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-98705?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-98705",
        "deletedDate": 1780552039,
        "scheduledPurgeDate": 1781156839,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-98705/d13ba1ef9e6b405da1daea2205ccfc78",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0IVMCXmiHTc-ZZ06SyMTLL1T_QOGJoPqiZtPRdVqpFgCWBrFJd0FLCT1jN9bBZqzr1FhLZVSoJWM38uAQLNbk_aKnsJ4uffGs3HpXzqLQT2xJDk0LiaL0rr8TiBjj3GbFI6FTwHpXqPTtcrLxM-TrdUtPVP1-Z5TQNr5eKcU-V0ayU5TKvGHJHE5pnYMrzxqSWqPlSQxZ5HMCK8OBUNe3iRNdS2f0LaEYVrn3WracDHZbU5LlVsdqKDNzCKstWTqzbK4C6NUJzQIzDbsjTbRLo8fhPAdiNBIcmq0Rnpfo3aii0yCrJPv86EUnMrOMyD-5nZD_Im-A-VwZupaf6vxFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552039,
          "updated": 1780552039,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-98705?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-98705"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-98705?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA": "RSA-98705"
  }
}
