{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-13243/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-13243/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-13243/8add08b915444e05b6e56ea56e6f6a80",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qHDiBMIly7P2pNK9JAinhxsgZHQyB2R9gP3ggoUZk4Ef2HzZ9IBWuOiF1N97XMxd9IkcnR9Q6wt68mdJwCXzlOw0KhIQTqy-jG9s0jCkiWz5-VBMMfR-uQKgTyqN6KlFm4ZhkE9ZrGKPhrsTCZ_bBou7N_WMH5EW4-gABws8r8a0Ax057fpVvFstDUenCkouiK0sBs-6AT4l2kcdlhOdYXexfWQHXpq9xE7FsvDrdHRYAUYzXZ0ntuvp_tTaE_fA7PbHB-IHqDA7LfIvBA5hJXXR4pr3iX-VPS2GAXOvicSxerW7UeqqnJDy4DqlHM_tFk5i9uxt2j8zfp_63CgFTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739479689,
          "updated": 1739479689,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-13243?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-13243",
        "deletedDate": 1739479689,
        "scheduledPurgeDate": 1740084489,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-13243/8add08b915444e05b6e56ea56e6f6a80",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qHDiBMIly7P2pNK9JAinhxsgZHQyB2R9gP3ggoUZk4Ef2HzZ9IBWuOiF1N97XMxd9IkcnR9Q6wt68mdJwCXzlOw0KhIQTqy-jG9s0jCkiWz5-VBMMfR-uQKgTyqN6KlFm4ZhkE9ZrGKPhrsTCZ_bBou7N_WMH5EW4-gABws8r8a0Ax057fpVvFstDUenCkouiK0sBs-6AT4l2kcdlhOdYXexfWQHXpq9xE7FsvDrdHRYAUYzXZ0ntuvp_tTaE_fA7PbHB-IHqDA7LfIvBA5hJXXR4pr3iX-VPS2GAXOvicSxerW7UeqqnJDy4DqlHM_tFk5i9uxt2j8zfp_63CgFTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739479689,
          "updated": 1739479689,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-13243?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-13243"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-13243?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA": "RSA-13243"
  }
}
