{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipGreenTeamLinuxSSHAuthForSub": "1020642667"
        },
        "subscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CPlat SDK/PowerShell",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/testRG-2940?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-2940",
        "name": "testRG-2940",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-2940/providers/Microsoft.Compute/diskAccesses/testDA5693?api-version=2023-01-02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/DiskOperations/17503cf6-2c46-4f25-9643-c6e0bb507fa8?p=d3255131-e7b3-4a83-8960-a836a057d1f8&api-version=2023-01-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/DiskOperations/17503cf6-2c46-4f25-9643-c6e0bb507fa8?p=d3255131-e7b3-4a83-8960-a836a057d1f8&monitor=true&api-version=2023-01-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "name": "testDA5693",
        "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-2940/providers/Microsoft.Compute/diskAccesses/testDA5693",
        "type": "Microsoft.Compute/diskAccesses",
        "location": "westus2",
        "properties": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/DiskOperations/17503cf6-2c46-4f25-9643-c6e0bb507fa8?p=d3255131-e7b3-4a83-8960-a836a057d1f8&api-version=2023-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49993,Microsoft.Compute/GetOperation30Min;399993",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "startTime": "2023-07-24T05:59:04.3331932+08:00",
        "status": "InProgress",
        "name": "17503cf6-2c46-4f25-9643-c6e0bb507fa8"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/westus2/DiskOperations/17503cf6-2c46-4f25-9643-c6e0bb507fa8?p=d3255131-e7b3-4a83-8960-a836a057d1f8&api-version=2023-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49992,Microsoft.Compute/GetOperation30Min;399992",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "startTime": "2023-07-24T05:59:04.3331932+08:00",
        "endTime": "2023-07-24T05:59:05.0206866+08:00",
        "status": "Succeeded",
        "properties": {
          "output": {
            "name": "testDA5693",
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-2940/providers/Microsoft.Compute/diskAccesses/testDA5693",
            "type": "Microsoft.Compute/diskAccesses",
            "location": "westus2",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded",
              "timeCreated": "2023-07-24T05:59:04.3331932+08:00"
            }
          }
        },
        "name": "17503cf6-2c46-4f25-9643-c6e0bb507fa8"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-2940/providers/Microsoft.Compute/diskAccesses?api-version=2023-01-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGet3Min;239,Microsoft.Compute/HighCostGet30Min;1919",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "testDA3409",
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-2940/providers/Microsoft.Compute/diskAccesses/testDA3409",
            "type": "Microsoft.Compute/diskAccesses",
            "location": "westus2",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded",
              "timeCreated": "2023-07-24T05:59:06.0519175+08:00"
            }
          },
          {
            "name": "testDA5693",
            "id": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/testRG-2940/providers/Microsoft.Compute/diskAccesses/testDA5693",
            "type": "Microsoft.Compute/diskAccesses",
            "location": "westus2",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded",
              "timeCreated": "2023-07-24T05:59:04.3331932+08:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1116645646",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e37510d7-33b6-4676-886f-ee75bcc01871"
  }
}