{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.cognitive.microsoft.com/speechtotext/transcriptions:transcribe?api-version=2025-10-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=\"djPstMiOJKfTdxIGTo_hf378v6mEWoIhFdGXVdMiF0gVvFg5l0LisV0Yc9YUrKGRtzdg8S\"",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": [
        "--djPstMiOJKfTdxIGTo_hf378v6mEWoIhFdGXVdMiF0gVvFg5l0LisV0Yc9YUrKGRtzdg8S\r\n",
        "Content-Type: application/json\r\n",
        "Content-Disposition: form-data; name=definition\r\n",
        "\r\n",
        "{\"audioUrl\":\"https://raw.githubusercontent.com/Azure-Samples/cognitive-services-speech-sdk/master/sampledata/audiofiles/aboutSpeechSdk.wav\"}",
        "\r\n",
        "--djPstMiOJKfTdxIGTo_hf378v6mEWoIhFdGXVdMiF0gVvFg5l0LisV0Yc9YUrKGRtzdg8S--\r\n"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.SpeechServices.BatchSpeechtoTextSync=53",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "durationMilliseconds": 52430,
        "combinedPhrases": [
          {
            "text": "The Speech SDK exposes many features from the Speech service, but not all of them. The capabilities of the Speech SDK are often associated with scenarios. The Speech SDK is ideal for both real time and non real time scenarios using local devices, files, Azure BLOB storage, and even input and output streams. When a scenario is not achievable with the Speech SDK, look for a REST API alternative. Speech-to-text, also known as speech recognition, transcribes audio streams to text that your applications, tools, or devices can consume or display. Use speech-to-text with language understanding LUIS to derive user intents from transcribed speech and act on voice commands. Use speech translation to translate speech input to a different language with a single call. For more information, see Speech-to-text Basics."
          }
        ],
        "phrases": [
          {
            "offsetMilliseconds": 1040,
            "durationMilliseconds": 4400,
            "text": "The Speech SDK exposes many features from the Speech service, but not all of them.",
            "words": [
              {
                "text": "The",
                "offsetMilliseconds": 1040,
                "durationMilliseconds": 120
              },
              {
                "text": "Speech",
                "offsetMilliseconds": 1200,
                "durationMilliseconds": 320
              },
              {
                "text": "SDK",
                "offsetMilliseconds": 1520,
                "durationMilliseconds": 640
              },
              {
                "text"[...]
