{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags678?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XYdOiYvbJjB3mrQWDWjcmfhY6PgsZlEqYNAOc6ss0qQ\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxMw==;sn=113152913",
        "x-ms-date": "Thu, 07 May 2026 20:25:10 GMT"
      },
      "ResponseBody": {
        "etag": "XYdOiYvbJjB3mrQWDWjcmfhY6PgsZlEqYNAOc6ss0qQ",
        "key": "etags678",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags678?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XYdOiYvbJjB3mrQWDWjcmfhY6PgsZlEqYNAOc6ss0qQ\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxMw==;sn=113152913",
        "x-ms-date": "Thu, 07 May 2026 20:25:10 GMT"
      },
      "ResponseBody": {
        "etag": "XYdOiYvbJjB3mrQWDWjcmfhY6PgsZlEqYNAOc6ss0qQ",
        "key": "etags678",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags678?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"XYdOiYvbJjB3mrQWDWjcmfhY6PgsZlEqYNAOc6ss0qQ\"",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxMw=="
      },
      "RequestBody": {
        "value": "some new value!",
        "last_modified": "2026-05-07T20:25:10.000Z",
        "tags": {},
        "etag": "XYdOiYvbJjB3mrQWDWjcmfhY6PgsZlEqYNAOc6ss0qQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Gq422ojHbjnCyTCg0Vrec8uHzX8jH895Cjvppaud2Oo\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxNA==;sn=113152914",
        "x-ms-date": "Thu, 07 May 2026 20:25:10 GMT"
      },
      "ResponseBody": {
        "etag": "Gq422ojHbjnCyTCg0Vrec8uHzX8jH895Cjvppaud2Oo",
        "key": "etags678",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:10+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags678",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"gr2RXxRRSOmIydRqr0vTA-sPC6ZsnsnWOo8wV9vugeY\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxNQ==;sn=113152915",
        "x-ms-date": "Thu, 07 May 2026 20:25:10 GMT"
      },
      "ResponseBody": {
        "etag": "gr2RXxRRSOmIydRqr0vTA-sPC6ZsnsnWOo8wV9vugeY",
        "items": [
          {
            "etag": "Gq422ojHbjnCyTCg0Vrec8uHzX8jH895Cjvppaud2Oo",
            "key": "etags678",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:25:10+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags678?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Gq422ojHbjnCyTCg0Vrec8uHzX8jH895Cjvppaud2Oo\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxNg==;sn=113152916",
        "x-ms-date": "Thu, 07 May 2026 20:25:10 GMT"
      },
      "ResponseBody": {
        "etag": "Gq422ojHbjnCyTCg0Vrec8uHzX8jH895Cjvppaud2Oo",
        "key": "etags678",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:10+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags678"
  }
}
