{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags10?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags10",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kev_SOFYYQIa32QN69IWh1rzxeD8hlEk3JfIKcL0v10\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:42:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4Nzg=;sn=74231878"
      },
      "ResponseBody": {
        "etag": "Kev_SOFYYQIa32QN69IWh1rzxeD8hlEk3JfIKcL0v10",
        "key": "etags10",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:42:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags10?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4Nzg="
      },
      "RequestBody": {
        "key": "etags10",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2_zBPHccwUusZ1Jcgsa2V47i9yS-dPZiorKUZP7strg\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:42:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4ODA=;sn=74231880"
      },
      "ResponseBody": {
        "etag": "2_zBPHccwUusZ1Jcgsa2V47i9yS-dPZiorKUZP7strg",
        "key": "etags10",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:42:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4ODM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bEMFtX6fUdy_QE-zQFmINJK4HPrCMvGj01FTPo-xXTc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4ODM=;sn=74231883"
      },
      "ResponseBody": {
        "etag": "bEMFtX6fUdy_QE-zQFmINJK4HPrCMvGj01FTPo-xXTc",
        "items": [
          {
            "etag": "oIjcCaiKurwLunEsSJSaowE1ag3joxrShsGveMSC6_s",
            "key": "etags10",
            "label": null,
            "content_type": null,
            "value": "new world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:42:53+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags10?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4ODM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oIjcCaiKurwLunEsSJSaowE1ag3joxrShsGveMSC6_s\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:42:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4ODQ=;sn=74231884"
      },
      "ResponseBody": {
        "etag": "oIjcCaiKurwLunEsSJSaowE1ag3joxrShsGveMSC6_s",
        "key": "etags10",
        "label": null,
        "content_type": null,
        "value": "new world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:42:53+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags10"
  }
}
