{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags901?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags901",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MKk0IsSVmZnVkUFlcdYLNMtwLFxTyYiGLEc3Ma5kcGE\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTU2;sn=59784956"
      },
      "ResponseBody": {
        "etag": "MKk0IsSVmZnVkUFlcdYLNMtwLFxTyYiGLEc3Ma5kcGE",
        "key": "etags901",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags901?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTU2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MKk0IsSVmZnVkUFlcdYLNMtwLFxTyYiGLEc3Ma5kcGE\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTU2;sn=59784956"
      },
      "ResponseBody": {
        "etag": "MKk0IsSVmZnVkUFlcdYLNMtwLFxTyYiGLEc3Ma5kcGE",
        "key": "etags901",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags901?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTU2"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTU2;sn=59784956"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags901",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTU3;sn=59784957"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags901"
  }
}
