{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags67?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags67",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GaPcgAzoaJKB8QrMGiqthtgnUfaYwtQYalqrajMZ6PI\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTM2;sn=59784936"
      },
      "ResponseBody": {
        "etag": "GaPcgAzoaJKB8QrMGiqthtgnUfaYwtQYalqrajMZ6PI",
        "key": "etags67",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags67?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GaPcgAzoaJKB8QrMGiqthtgnUfaYwtQYalqrajMZ6PI\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTM2;sn=59784936"
      },
      "ResponseBody": {
        "etag": "GaPcgAzoaJKB8QrMGiqthtgnUfaYwtQYalqrajMZ6PI",
        "key": "etags67",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags67?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"GaPcgAzoaJKB8QrMGiqthtgnUfaYwtQYalqrajMZ6PI\"",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTM2"
      },
      "RequestBody": {
        "key": "etags67",
        "value": "some new value!",
        "last_modified": "2024-10-08T17:21:15.000Z",
        "tags": {},
        "etag": "GaPcgAzoaJKB8QrMGiqthtgnUfaYwtQYalqrajMZ6PI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pxFk7rEsLnYqfWT3BsqYT02yUAJPNZdN0MKSMsYhxjs\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTM3;sn=59784937"
      },
      "ResponseBody": {
        "etag": "pxFk7rEsLnYqfWT3BsqYT02yUAJPNZdN0MKSMsYhxjs",
        "key": "etags67",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:15+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags67",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8N_WNM-r806TjMS4TegCymYeBwzwSLVxgwZvZCU_HiA\"",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTM4;sn=59784938"
      },
      "ResponseBody": {
        "etag": "8N_WNM-r806TjMS4TegCymYeBwzwSLVxgwZvZCU_HiA",
        "items": [
          {
            "etag": "pxFk7rEsLnYqfWT3BsqYT02yUAJPNZdN0MKSMsYhxjs",
            "key": "etags67",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2024-10-08T17:21:15+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags67?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pxFk7rEsLnYqfWT3BsqYT02yUAJPNZdN0MKSMsYhxjs\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTM5;sn=59784939"
      },
      "ResponseBody": {
        "etag": "pxFk7rEsLnYqfWT3BsqYT02yUAJPNZdN0MKSMsYhxjs",
        "key": "etags67",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:15+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags67"
  }
}
