{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags336?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags336",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rK8TaMIQHzFT2qFF_53ik9KRO8JE28ocdvidCKLKr90\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:47:46 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTg4;sn=2804588"
      },
      "ResponseBody": {
        "etag": "rK8TaMIQHzFT2qFF_53ik9KRO8JE28ocdvidCKLKr90",
        "key": "etags336",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:47:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags336?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTg4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rK8TaMIQHzFT2qFF_53ik9KRO8JE28ocdvidCKLKr90\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:47:46 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTg4;sn=2804588"
      },
      "ResponseBody": {
        "etag": "rK8TaMIQHzFT2qFF_53ik9KRO8JE28ocdvidCKLKr90",
        "key": "etags336",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:47:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags336",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hy_oOGMt9nGV6Z2o79iJlCGFmZgVM7Cy8GCJRLyr7vM\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTkw;sn=2804590"
      },
      "ResponseBody": {
        "etag": "hy_oOGMt9nGV6Z2o79iJlCGFmZgVM7Cy8GCJRLyr7vM",
        "items": [
          {
            "etag": "k2IHNWHim2RR2vmdx_bSawDp7gCkXr9Vp3ka1i7P288",
            "key": "etags336",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:47:46+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags336?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NTkw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k2IHNWHim2RR2vmdx_bSawDp7gCkXr9Vp3ka1i7P288\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:47:46 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NTkx;sn=2804591"
      },
      "ResponseBody": {
        "etag": "k2IHNWHim2RR2vmdx_bSawDp7gCkXr9Vp3ka1i7P288",
        "key": "etags336",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:47:46+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags336"
  }
}
