{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags821?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags821",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cn803P3meLYbXMLbs-osLdE9bTkxs9wjvaOjOBxqpV4\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNzc=;sn=75064177",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:52 GMT"
      },
      "ResponseBody": {
        "etag": "cn803P3meLYbXMLbs-osLdE9bTkxs9wjvaOjOBxqpV4",
        "key": "etags821",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:09:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags821?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cn803P3meLYbXMLbs-osLdE9bTkxs9wjvaOjOBxqpV4\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNzc=;sn=75064177",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:53 GMT"
      },
      "ResponseBody": {
        "etag": "cn803P3meLYbXMLbs-osLdE9bTkxs9wjvaOjOBxqpV4",
        "key": "etags821",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:09:52+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags821?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"cn803P3meLYbXMLbs-osLdE9bTkxs9wjvaOjOBxqpV4\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNzc="
      },
      "RequestBody": {
        "key": "etags821",
        "value": "some new value!",
        "last_modified": "2025-11-04T19:09:52.000Z",
        "tags": {},
        "etag": "cn803P3meLYbXMLbs-osLdE9bTkxs9wjvaOjOBxqpV4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EfmieTRvQrcze_DviCxk_rbekCtXul8WcHNwQg5jxH0\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNzg=;sn=75064178",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:53 GMT"
      },
      "ResponseBody": {
        "etag": "EfmieTRvQrcze_DviCxk_rbekCtXul8WcHNwQg5jxH0",
        "key": "etags821",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:09:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags821",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"pzRHnJv35Lld4NFIZzQDDNM2-DRY4JRQCpQNVhLCeHI\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxNzk=;sn=75064179",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:53 GMT"
      },
      "ResponseBody": {
        "etag": "pzRHnJv35Lld4NFIZzQDDNM2-DRY4JRQCpQNVhLCeHI",
        "items": [
          {
            "etag": "EfmieTRvQrcze_DviCxk_rbekCtXul8WcHNwQg5jxH0",
            "key": "etags821",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T19:09:53+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags821?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxNzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EfmieTRvQrcze_DviCxk_rbekCtXul8WcHNwQg5jxH0\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxODA=;sn=75064180",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:53 GMT"
      },
      "ResponseBody": {
        "etag": "EfmieTRvQrcze_DviCxk_rbekCtXul8WcHNwQg5jxH0",
        "key": "etags821",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:09:53+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags821"
  }
}
