{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags608?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1lCb-YFJcSdXQFEqUrhEFrTprat9YBNIcdHeBFlFvBI\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxNw==;sn=113152917",
        "x-ms-date": "Thu, 07 May 2026 20:25:11 GMT"
      },
      "ResponseBody": {
        "etag": "1lCb-YFJcSdXQFEqUrhEFrTprat9YBNIcdHeBFlFvBI",
        "key": "etags608",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags608?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1lCb-YFJcSdXQFEqUrhEFrTprat9YBNIcdHeBFlFvBI\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxNw==;sn=113152917",
        "x-ms-date": "Thu, 07 May 2026 20:25:11 GMT"
      },
      "ResponseBody": {
        "etag": "1lCb-YFJcSdXQFEqUrhEFrTprat9YBNIcdHeBFlFvBI",
        "key": "etags608",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags608?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"1lCb-YFJcSdXQFEqUrhEFrTprat9YBNIcdHeBFlFvBI\"",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxOA=="
      },
      "RequestBody": {
        "value": "some new value!",
        "last_modified": "2026-05-07T20:25:11.000Z",
        "tags": {},
        "etag": "1lCb-YFJcSdXQFEqUrhEFrTprat9YBNIcdHeBFlFvBI"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxOQ==;sn=113152919",
        "x-ms-date": "Thu, 07 May 2026 20:25:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags608",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"n1lWD7BXjgV6Rwx__buLa62-Xae9kpPrVyFHJTKfTAc\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkxOQ==;sn=113152919",
        "x-ms-date": "Thu, 07 May 2026 20:25:11 GMT"
      },
      "ResponseBody": {
        "etag": "n1lWD7BXjgV6Rwx__buLa62-Xae9kpPrVyFHJTKfTAc",
        "items": [
          {
            "etag": "R3TXQjPMy5RqGyof0vuZkciG8Lrak7EB_3lBDQZXwlI",
            "key": "etags608",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-07T20:25:11+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags608?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MjkxOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R3TXQjPMy5RqGyof0vuZkciG8Lrak7EB_3lBDQZXwlI\"",
        "Last-Modified": "Thu, 07 May 2026 20:25:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MjkyMA==;sn=113152920",
        "x-ms-date": "Thu, 07 May 2026 20:25:11 GMT"
      },
      "ResponseBody": {
        "etag": "R3TXQjPMy5RqGyof0vuZkciG8Lrak7EB_3lBDQZXwlI",
        "key": "etags608",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:25:11+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags608"
  }
}
