{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags786?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags786",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1nQjUBwBsH4Jp0fGxl8ESiYa5tFKsT65ee6lJsCD44A\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:00:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwMA==;sn=103584600",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:32 GMT"
      },
      "ResponseBody": {
        "etag": "1nQjUBwBsH4Jp0fGxl8ESiYa5tFKsT65ee6lJsCD44A",
        "key": "etags786",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:00:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags786?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDYwMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1nQjUBwBsH4Jp0fGxl8ESiYa5tFKsT65ee6lJsCD44A\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:00:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwMA==;sn=103584600",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:32 GMT"
      },
      "ResponseBody": {
        "etag": "1nQjUBwBsH4Jp0fGxl8ESiYa5tFKsT65ee6lJsCD44A",
        "key": "etags786",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:00:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags786?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDYwMA=="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwMA==;sn=103584600",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:32 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags786",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDYwMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDYwMQ==;sn=103584601",
        "x-ms-date": "Fri, 23 Jan 2026 09:00:33 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags786"
  }
}
