{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags379?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags379",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0RDr9Xs_Ryk8GPAj3IUshxzLWV4L6KY1QRjpsIq_dwI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:57:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMjI=;sn=74016022"
      },
      "ResponseBody": {
        "etag": "0RDr9Xs_Ryk8GPAj3IUshxzLWV4L6KY1QRjpsIq_dwI",
        "key": "etags379",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:57:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags379?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0RDr9Xs_Ryk8GPAj3IUshxzLWV4L6KY1QRjpsIq_dwI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:57:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMjI=;sn=74016022"
      },
      "ResponseBody": {
        "etag": "0RDr9Xs_Ryk8GPAj3IUshxzLWV4L6KY1QRjpsIq_dwI",
        "key": "etags379",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:57:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags379?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"0RDr9Xs_Ryk8GPAj3IUshxzLWV4L6KY1QRjpsIq_dwI\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMjI="
      },
      "RequestBody": {
        "key": "etags379",
        "value": "some new value!",
        "last_modified": "2025-09-25T08:57:58.000Z",
        "tags": {},
        "etag": "0RDr9Xs_Ryk8GPAj3IUshxzLWV4L6KY1QRjpsIq_dwI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LcWuCHqtn9Y3RLUKMxbMHat4CDVmEanVIQNFiW9T62A\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:57:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMjM=;sn=74016023"
      },
      "ResponseBody": {
        "etag": "LcWuCHqtn9Y3RLUKMxbMHat4CDVmEanVIQNFiW9T62A",
        "key": "etags379",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:57:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags379",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ByN5hG8s5sAd2b7Tp-AwhmQmrp5pYtbbictfyfGjr-8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMjQ=;sn=74016024"
      },
      "ResponseBody": {
        "etag": "ByN5hG8s5sAd2b7Tp-AwhmQmrp5pYtbbictfyfGjr-8",
        "items": [
          {
            "etag": "LcWuCHqtn9Y3RLUKMxbMHat4CDVmEanVIQNFiW9T62A",
            "key": "etags379",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:57:58+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags379?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwMjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LcWuCHqtn9Y3RLUKMxbMHat4CDVmEanVIQNFiW9T62A\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:57:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwMjU=;sn=74016025"
      },
      "ResponseBody": {
        "etag": "LcWuCHqtn9Y3RLUKMxbMHat4CDVmEanVIQNFiW9T62A",
        "key": "etags379",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:57:58+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags379"
  }
}
