{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags179?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags179",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B5Z1_JYZ9VYoMOMYTvfSheesRl4BrwjGCv57Igfge0E\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:58:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwNDM=;sn=74016043"
      },
      "ResponseBody": {
        "etag": "B5Z1_JYZ9VYoMOMYTvfSheesRl4BrwjGCv57Igfge0E",
        "key": "etags179",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:58:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags179?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwNDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B5Z1_JYZ9VYoMOMYTvfSheesRl4BrwjGCv57Igfge0E\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:58:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwNDM=;sn=74016043"
      },
      "ResponseBody": {
        "etag": "B5Z1_JYZ9VYoMOMYTvfSheesRl4BrwjGCv57Igfge0E",
        "key": "etags179",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:58:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags179?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwNDM="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwNDM=;sn=74016043"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags179",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYwNDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYwNDQ=;sn=74016044"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags179"
  }
}
