{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags73?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sqXRv6t8HUMsXNS4WuvIttXpkDeD71tK_nY7J9qYu5Y\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:18 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjcyOA==;sn=53372728",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:18 GMT"
      },
      "ResponseBody": {
        "etag": "sqXRv6t8HUMsXNS4WuvIttXpkDeD71tK_nY7J9qYu5Y",
        "key": "etags73",
        "label": null,
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:18+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags73?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjcyOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sqXRv6t8HUMsXNS4WuvIttXpkDeD71tK_nY7J9qYu5Y\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:18 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjcyOA==;sn=53372728",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:18 GMT"
      },
      "ResponseBody": {
        "etag": "sqXRv6t8HUMsXNS4WuvIttXpkDeD71tK_nY7J9qYu5Y",
        "key": "etags73",
        "label": null,
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags73?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"sqXRv6t8HUMsXNS4WuvIttXpkDeD71tK_nY7J9qYu5Y\"",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjcyOQ=="
      },
      "RequestBody": {
        "value": "some new value!",
        "last_modified": "2026-06-15T18:41:18.000Z",
        "tags": {},
        "description": null,
        "etag": "sqXRv6t8HUMsXNS4WuvIttXpkDeD71tK_nY7J9qYu5Y"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjczMA==;sn=53372730",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:18 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=etags73",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjczMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xBCYb1vRWXo82s3oPeBaolSe191ITEERtLvL0tR6Zgw\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjczMA==;sn=53372730",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:18 GMT"
      },
      "ResponseBody": {
        "etag": "xBCYb1vRWXo82s3oPeBaolSe191ITEERtLvL0tR6Zgw",
        "items": [
          {
            "etag": "IXnagtf8BAMbesNpRtdZ56vprhRxna-_Q87fF7s-FkI",
            "key": "etags73",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:41:18+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags73?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MjczMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IXnagtf8BAMbesNpRtdZ56vprhRxna-_Q87fF7s-FkI\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:18 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MjczMQ==;sn=53372731",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:18 GMT"
      },
      "ResponseBody": {
        "etag": "IXnagtf8BAMbesNpRtdZ56vprhRxna-_Q87fF7s-FkI",
        "key": "etags73",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:18+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags73"
  }
}
