{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags212?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags212",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"54mvKYgj7x-Y8het4ximRqKWvDSdoTopW2g2VHpGr0A\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:08:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzA=;sn=74857970",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:36 GMT"
      },
      "ResponseBody": {
        "etag": "54mvKYgj7x-Y8het4ximRqKWvDSdoTopW2g2VHpGr0A",
        "key": "etags212",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:08:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags212?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"54mvKYgj7x-Y8het4ximRqKWvDSdoTopW2g2VHpGr0A\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:08:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzA=;sn=74857970",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:37 GMT"
      },
      "ResponseBody": {
        "etag": "54mvKYgj7x-Y8het4ximRqKWvDSdoTopW2g2VHpGr0A",
        "key": "etags212",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:08:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags212?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzA="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzA=;sn=74857970",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:37 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags212",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MFFsCFZcKUpUM6bueF5W-zhtyhtj9wpqQWYLUbjo8Bk\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzQ=;sn=74857974",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:38 GMT"
      },
      "ResponseBody": {
        "etag": "MFFsCFZcKUpUM6bueF5W-zhtyhtj9wpqQWYLUbjo8Bk",
        "items": [
          {
            "etag": "mlFLLhsF_LZHVw3dohXBe04gYwwYKm7yyfr_qLtBytg",
            "key": "etags212",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T08:08:38+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags212?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mlFLLhsF_LZHVw3dohXBe04gYwwYKm7yyfr_qLtBytg\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:08:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTc5NzU=;sn=74857975",
        "x-ms-date": "Sun, 26 Oct 2025 08:08:38 GMT"
      },
      "ResponseBody": {
        "etag": "mlFLLhsF_LZHVw3dohXBe04gYwwYKm7yyfr_qLtBytg",
        "key": "etags212",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:08:38+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags212"
  }
}
