{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags779?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bMZibo_lLdf-JCjpJ0bx4IEyYLGWxn3GC6UwsRfS3_Y\"",
        "Last-Modified": "Thu, 28 May 2026 21:53:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEwMQ==;sn=115292101",
        "x-ms-date": "Thu, 28 May 2026 21:53:19 GMT"
      },
      "ResponseBody": {
        "etag": "bMZibo_lLdf-JCjpJ0bx4IEyYLGWxn3GC6UwsRfS3_Y",
        "key": "etags779",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:53:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags779?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEwMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bMZibo_lLdf-JCjpJ0bx4IEyYLGWxn3GC6UwsRfS3_Y\"",
        "Last-Modified": "Thu, 28 May 2026 21:53:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEwMQ==;sn=115292101",
        "x-ms-date": "Thu, 28 May 2026 21:53:20 GMT"
      },
      "ResponseBody": {
        "etag": "bMZibo_lLdf-JCjpJ0bx4IEyYLGWxn3GC6UwsRfS3_Y",
        "key": "etags779",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:53:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags779?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEwMQ=="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEwMQ==;sn=115292101",
        "x-ms-date": "Thu, 28 May 2026 21:53:20 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags779",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEwNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NNeCQfmZ4Hcyh5_81r3KCdrv6uiOVGs20f8htpZrMOI\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEwNQ==;sn=115292105",
        "x-ms-date": "Thu, 28 May 2026 21:53:20 GMT"
      },
      "ResponseBody": {
        "etag": "NNeCQfmZ4Hcyh5_81r3KCdrv6uiOVGs20f8htpZrMOI",
        "items": [
          {
            "etag": "OSObbPRk-o_nS4POkCsl7eBjlyMfem7u686KFY2NB9E",
            "key": "etags779",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:53:20+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags779?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEwNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OSObbPRk-o_nS4POkCsl7eBjlyMfem7u686KFY2NB9E\"",
        "Last-Modified": "Thu, 28 May 2026 21:53:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEwNg==;sn=115292106",
        "x-ms-date": "Thu, 28 May 2026 21:53:20 GMT"
      },
      "ResponseBody": {
        "etag": "OSObbPRk-o_nS4POkCsl7eBjlyMfem7u686KFY2NB9E",
        "key": "etags779",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:53:20+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags779"
  }
}
