{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags614?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags614",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pBoDOY-XG2tm2MdEXHJiMdU6mLx1h1E6J4hupNYUHNI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxODU=;sn=75064185",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:59 GMT"
      },
      "ResponseBody": {
        "etag": "pBoDOY-XG2tm2MdEXHJiMdU6mLx1h1E6J4hupNYUHNI",
        "key": "etags614",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:09:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags614?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxODU="
      },
      "RequestBody": {
        "key": "etags614",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uN7D0ICR95EOINZ_pJLTWoRiTx9Ts9QkZoB2ZlQb75s\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:09:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxODY=;sn=75064186",
        "x-ms-date": "Tue, 04 Nov 2025 19:09:59 GMT"
      },
      "ResponseBody": {
        "etag": "uN7D0ICR95EOINZ_pJLTWoRiTx9Ts9QkZoB2ZlQb75s",
        "key": "etags614",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:09:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags614",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Cjv_pfbz_ojOdK5HOYuv2BgtYzMThk66NJ2JoZrO9K4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxODk=;sn=75064189",
        "x-ms-date": "Tue, 04 Nov 2025 19:10:00 GMT"
      },
      "ResponseBody": {
        "etag": "Cjv_pfbz_ojOdK5HOYuv2BgtYzMThk66NJ2JoZrO9K4",
        "items": [
          {
            "etag": "HgfExp2rDJjAg6A6mg5qrf2c54A3m05Bm_uYyDsa4GI",
            "key": "etags614",
            "label": null,
            "content_type": null,
            "value": "new world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T19:10:00+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags614?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQxODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HgfExp2rDJjAg6A6mg5qrf2c54A3m05Bm_uYyDsa4GI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:10:00 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQxOTA=;sn=75064190",
        "x-ms-date": "Tue, 04 Nov 2025 19:10:00 GMT"
      },
      "ResponseBody": {
        "etag": "HgfExp2rDJjAg6A6mg5qrf2c54A3m05Bm_uYyDsa4GI",
        "key": "etags614",
        "label": null,
        "content_type": null,
        "value": "new world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:10:00+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags614"
  }
}
