{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags421?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags421",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xFmV9DVAGRr5GWeUNCHVe-PthUvByXTRKq5UtOpsdzw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:32:14 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTM=;sn=74776213",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:14 GMT"
      },
      "ResponseBody": {
        "etag": "xFmV9DVAGRr5GWeUNCHVe-PthUvByXTRKq5UtOpsdzw",
        "key": "etags421",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:32:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags421?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xFmV9DVAGRr5GWeUNCHVe-PthUvByXTRKq5UtOpsdzw\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:32:14 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTM=;sn=74776213",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:15 GMT"
      },
      "ResponseBody": {
        "etag": "xFmV9DVAGRr5GWeUNCHVe-PthUvByXTRKq5UtOpsdzw",
        "key": "etags421",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:32:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags421?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTM="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTM=;sn=74776213",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:15 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags421",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTQ=;sn=74776214",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:15 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags421"
  }
}
