{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags511?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags511",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fZR37FkIA8G0dEqgbTQcvLulelJ9CtOeyVDH8qv9IPU\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:27 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4NjQ=;sn=2611864"
      },
      "ResponseBody": {
        "etag": "fZR37FkIA8G0dEqgbTQcvLulelJ9CtOeyVDH8qv9IPU",
        "key": "etags511",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags511?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4NjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fZR37FkIA8G0dEqgbTQcvLulelJ9CtOeyVDH8qv9IPU\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:27 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4NjQ=;sn=2611864"
      },
      "ResponseBody": {
        "etag": "fZR37FkIA8G0dEqgbTQcvLulelJ9CtOeyVDH8qv9IPU",
        "key": "etags511",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags511?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"fZR37FkIA8G0dEqgbTQcvLulelJ9CtOeyVDH8qv9IPU\"",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4NjQ="
      },
      "RequestBody": {
        "key": "etags511",
        "value": "some new value!",
        "last_modified": "2024-05-28T21:15:27.000Z",
        "tags": {},
        "etag": "fZR37FkIA8G0dEqgbTQcvLulelJ9CtOeyVDH8qv9IPU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7EnoNQbszgKBdDuOT5_fLV1n3NwQJ7ND5sLI10u9qTE\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:27 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4NjU=;sn=2611865"
      },
      "ResponseBody": {
        "etag": "7EnoNQbszgKBdDuOT5_fLV1n3NwQJ7ND5sLI10u9qTE",
        "key": "etags511",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=etags511",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xb4tQYQPiPyqndKdYiiojVxmn-dtvMLL5mtRlA7XkVI\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4NjY=;sn=2611866"
      },
      "ResponseBody": {
        "etag": "xb4tQYQPiPyqndKdYiiojVxmn-dtvMLL5mtRlA7XkVI",
        "items": [
          {
            "etag": "7EnoNQbszgKBdDuOT5_fLV1n3NwQJ7ND5sLI10u9qTE",
            "key": "etags511",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:15:27+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags511?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE4NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7EnoNQbszgKBdDuOT5_fLV1n3NwQJ7ND5sLI10u9qTE\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:27 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE4Njc=;sn=2611867"
      },
      "ResponseBody": {
        "etag": "7EnoNQbszgKBdDuOT5_fLV1n3NwQJ7ND5sLI10u9qTE",
        "key": "etags511",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:27+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags511"
  }
}
