{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags900?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags900",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0skTIjuJkE3n55Loc6etkQIOCNeHev1e2UGydqVPHFk\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:12:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTEyMQ==;sn=103849121",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:01 GMT"
      },
      "ResponseBody": {
        "etag": "0skTIjuJkE3n55Loc6etkQIOCNeHev1e2UGydqVPHFk",
        "key": "etags900",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:12:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags900?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTEyMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0skTIjuJkE3n55Loc6etkQIOCNeHev1e2UGydqVPHFk\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:12:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTEyMQ==;sn=103849121",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:01 GMT"
      },
      "ResponseBody": {
        "etag": "0skTIjuJkE3n55Loc6etkQIOCNeHev1e2UGydqVPHFk",
        "key": "etags900",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:12:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags900?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"0skTIjuJkE3n55Loc6etkQIOCNeHev1e2UGydqVPHFk\"",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTEyMQ=="
      },
      "RequestBody": {
        "key": "etags900",
        "value": "some new value!",
        "last_modified": "2026-01-26T03:12:01.000Z",
        "tags": {},
        "etag": "0skTIjuJkE3n55Loc6etkQIOCNeHev1e2UGydqVPHFk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OwbCJjPfKMh2HTt_3wjk8jhglszt8QOZIMdGxqmdh1A\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:12:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTEyMg==;sn=103849122",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:01 GMT"
      },
      "ResponseBody": {
        "etag": "OwbCJjPfKMh2HTt_3wjk8jhglszt8QOZIMdGxqmdh1A",
        "key": "etags900",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:12:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags900",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTEyMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"seWYrzcqkvL9RR9R5jo4dfcAzil76BMMZKjjJ_8H088\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTEyMw==;sn=103849123",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:01 GMT"
      },
      "ResponseBody": {
        "etag": "seWYrzcqkvL9RR9R5jo4dfcAzil76BMMZKjjJ_8H088",
        "items": [
          {
            "etag": "OwbCJjPfKMh2HTt_3wjk8jhglszt8QOZIMdGxqmdh1A",
            "key": "etags900",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:12:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags900?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTEyMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OwbCJjPfKMh2HTt_3wjk8jhglszt8QOZIMdGxqmdh1A\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:12:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTEyNA==;sn=103849124",
        "x-ms-date": "Mon, 26 Jan 2026 03:12:01 GMT"
      },
      "ResponseBody": {
        "etag": "OwbCJjPfKMh2HTt_3wjk8jhglszt8QOZIMdGxqmdh1A",
        "key": "etags900",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:12:01+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags900"
  }
}
