{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags895?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags895",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TPLE_dSCw67H2TNn9tc6BjOcZqCrqjmJr0EUqpoUW0w\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:32:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMDc=;sn=74776207",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:10 GMT"
      },
      "ResponseBody": {
        "etag": "TPLE_dSCw67H2TNn9tc6BjOcZqCrqjmJr0EUqpoUW0w",
        "key": "etags895",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:32:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags895?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyMDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TPLE_dSCw67H2TNn9tc6BjOcZqCrqjmJr0EUqpoUW0w\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:32:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMDc=;sn=74776207",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:10 GMT"
      },
      "ResponseBody": {
        "etag": "TPLE_dSCw67H2TNn9tc6BjOcZqCrqjmJr0EUqpoUW0w",
        "key": "etags895",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:32:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags895?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyMDc="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMDc=;sn=74776207",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:10 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags895",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"PQj1TKRCrZ03fzm56RqeKtqy6IxU3MpwwDlRwL3Q0c0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTE=;sn=74776211",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:12 GMT"
      },
      "ResponseBody": {
        "etag": "PQj1TKRCrZ03fzm56RqeKtqy6IxU3MpwwDlRwL3Q0c0",
        "items": [
          {
            "etag": "L3jlaz-cC8E2IL-aPi9oLgyEvnT9OSceP1g2kUh6L6A",
            "key": "etags895",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-23T05:32:11+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags895?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L3jlaz-cC8E2IL-aPi9oLgyEvnT9OSceP1g2kUh6L6A\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:32:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyMTI=;sn=74776212",
        "x-ms-date": "Thu, 23 Oct 2025 05:32:12 GMT"
      },
      "ResponseBody": {
        "etag": "L3jlaz-cC8E2IL-aPi9oLgyEvnT9OSceP1g2kUh6L6A",
        "key": "etags895",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:32:11+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags895"
  }
}
