{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags249?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags249",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"roNiFC78XP76njAqZANUMSXhB9jfBxTqi4TXlRCUUfs\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:11:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTExNw==;sn=103849117",
        "x-ms-date": "Mon, 26 Jan 2026 03:11:57 GMT"
      },
      "ResponseBody": {
        "etag": "roNiFC78XP76njAqZANUMSXhB9jfBxTqi4TXlRCUUfs",
        "key": "etags249",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:11:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags249?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTExNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"roNiFC78XP76njAqZANUMSXhB9jfBxTqi4TXlRCUUfs\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:11:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTExNw==;sn=103849117",
        "x-ms-date": "Mon, 26 Jan 2026 03:11:58 GMT"
      },
      "ResponseBody": {
        "etag": "roNiFC78XP76njAqZANUMSXhB9jfBxTqi4TXlRCUUfs",
        "key": "etags249",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:11:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags249",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTExOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0gdeLDitsbWO0Jmj9taQx3-DVZcQJVJGRVkqdz39E4s\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTExOQ==;sn=103849119",
        "x-ms-date": "Mon, 26 Jan 2026 03:11:58 GMT"
      },
      "ResponseBody": {
        "etag": "0gdeLDitsbWO0Jmj9taQx3-DVZcQJVJGRVkqdz39E4s",
        "items": [
          {
            "etag": "6OnqVhDuMKghtelTbcL_bG7NXhb8cBPnCOwhBbhCndE",
            "key": "etags249",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T03:11:58+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags249?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0OTExOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6OnqVhDuMKghtelTbcL_bG7NXhb8cBPnCOwhBbhCndE\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:11:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0OTEyMA==;sn=103849120",
        "x-ms-date": "Mon, 26 Jan 2026 03:11:58 GMT"
      },
      "ResponseBody": {
        "etag": "6OnqVhDuMKghtelTbcL_bG7NXhb8cBPnCOwhBbhCndE",
        "key": "etags249",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T03:11:58+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags249"
  }
}
