{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags378?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags378",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PSjDzP8q21PBt5fSPjH4lfKI86w0FH2Jp0dU1vNVFZo\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:09 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjE0;sn=2804614"
      },
      "ResponseBody": {
        "etag": "PSjDzP8q21PBt5fSPjH4lfKI86w0FH2Jp0dU1vNVFZo",
        "key": "etags378",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:48:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot924?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjE0"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "etags378"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"BP2jxERaRk47ghcuv0NNpPtzgsxLAN4LApEyHdTqthE\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:09 GMT",
        "Link": "</kv?snapshot=snapshot924&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot924&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjE1;sn=2804615"
      },
      "ResponseBody": {
        "etag": "BP2jxERaRk47ghcuv0NNpPtzgsxLAN4LApEyHdTqthE",
        "name": "snapshot924",
        "status": "provisioning",
        "filters": [
          {
            "key": "etags378",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:48:09+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?snapshot=snapshot924&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjE1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjE1;sn=2804615"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot924?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"badEtag\"",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjE2"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjE2;sn=2804616"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot924?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"BP2jxERaRk47ghcuv0NNpPtzgsxLAN4LApEyHdTqthE\"",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjE2"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"s3YO2iXaZF8KHcK_YPFwcPgLuWB7V1D7-t6FyQ2uOH0\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:09 GMT",
        "Link": "</kv?snapshot=snapshot924&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjE3;sn=2804617"
      },
      "ResponseBody": {
        "etag": "s3YO2iXaZF8KHcK_YPFwcPgLuWB7V1D7-t6FyQ2uOH0",
        "name": "snapshot924",
        "status": "archived",
        "filters": [
          {
            "key": "etags378",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-11T20:48:09+00:00",
        "expires": "2024-08-10T20:48:30.5087905+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags378",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjE3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sqh4hs_v8oxFd2NDaQS6z_9INgbFIJCPuFYGsZVa1M8\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjE3;sn=2804617"
      },
      "ResponseBody": {
        "etag": "sqh4hs_v8oxFd2NDaQS6z_9INgbFIJCPuFYGsZVa1M8",
        "items": [
          {
            "etag": "PSjDzP8q21PBt5fSPjH4lfKI86w0FH2Jp0dU1vNVFZo",
            "key": "etags378",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:48:09+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags378?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjE3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PSjDzP8q21PBt5fSPjH4lfKI86w0FH2Jp0dU1vNVFZo\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:09 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjE4;sn=2804618"
      },
      "ResponseBody": {
        "etag": "PSjDzP8q21PBt5fSPjH4lfKI86w0FH2Jp0dU1vNVFZo",
        "key": "etags378",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:48:09+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags378",
    "snapshot": "snapshot924"
  }
}
