{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags80?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags80",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ozHn4RZz_xDmM3qF8j9-dAcp0gmkMEMwrSay0185Xio\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:10:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQyMDU=;sn=75064205",
        "x-ms-date": "Tue, 04 Nov 2025 19:10:07 GMT"
      },
      "ResponseBody": {
        "etag": "ozHn4RZz_xDmM3qF8j9-dAcp0gmkMEMwrSay0185Xio",
        "key": "etags80",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:10:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags80?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQyMDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ozHn4RZz_xDmM3qF8j9-dAcp0gmkMEMwrSay0185Xio\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:10:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQyMDU=;sn=75064205",
        "x-ms-date": "Tue, 04 Nov 2025 19:10:07 GMT"
      },
      "ResponseBody": {
        "etag": "ozHn4RZz_xDmM3qF8j9-dAcp0gmkMEMwrSay0185Xio",
        "key": "etags80",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:10:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags80?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQyMDU="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQyMDU=;sn=75064205",
        "x-ms-date": "Tue, 04 Nov 2025 19:10:08 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags80",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQyMDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQyMDY=;sn=75064206",
        "x-ms-date": "Tue, 04 Nov 2025 19:10:08 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags80"
  }
}
