{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags781?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags781",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jVx60UH0NXZU2ob8Bc2yMIEX5CV0Xg7sPjCr4DjWUpE\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:05 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjEy;sn=2804612"
      },
      "ResponseBody": {
        "etag": "jVx60UH0NXZU2ob8Bc2yMIEX5CV0Xg7sPjCr4DjWUpE",
        "key": "etags781",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:48:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags781?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjEy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jVx60UH0NXZU2ob8Bc2yMIEX5CV0Xg7sPjCr4DjWUpE\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:48:05 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjEy;sn=2804612"
      },
      "ResponseBody": {
        "etag": "jVx60UH0NXZU2ob8Bc2yMIEX5CV0Xg7sPjCr4DjWUpE",
        "key": "etags781",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:48:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags781?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjEy"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjEy;sn=2804612"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags781",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA0NjEz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA0NjEz;sn=2804613"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags781"
  }
}
