{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags491?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags491",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b4HSXIKjWF0kBmigzu8ZPQOn8yzwNX8phN0Ocuzo9oY\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:36:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzNjA=;sn=73741360"
      },
      "ResponseBody": {
        "etag": "b4HSXIKjWF0kBmigzu8ZPQOn8yzwNX8phN0Ocuzo9oY",
        "key": "etags491",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:36:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags491?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzNjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b4HSXIKjWF0kBmigzu8ZPQOn8yzwNX8phN0Ocuzo9oY\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:36:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzNjA=;sn=73741360"
      },
      "ResponseBody": {
        "etag": "b4HSXIKjWF0kBmigzu8ZPQOn8yzwNX8phN0Ocuzo9oY",
        "key": "etags491",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:36:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags491?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzNjA="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzNjA=;sn=73741360"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags491",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzNjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzNjE=;sn=73741361"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags491"
  }
}
