{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags175?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags175",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-n01HHc3fUhCoAupQRKz6Qe0kqPz71H_w7dzakVKcKM\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:42:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4NzA=;sn=74231870"
      },
      "ResponseBody": {
        "etag": "-n01HHc3fUhCoAupQRKz6Qe0kqPz71H_w7dzakVKcKM",
        "key": "etags175",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:42:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags175?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4NzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-n01HHc3fUhCoAupQRKz6Qe0kqPz71H_w7dzakVKcKM\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:42:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4NzA=;sn=74231870"
      },
      "ResponseBody": {
        "etag": "-n01HHc3fUhCoAupQRKz6Qe0kqPz71H_w7dzakVKcKM",
        "key": "etags175",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:42:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags175?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"-n01HHc3fUhCoAupQRKz6Qe0kqPz71H_w7dzakVKcKM\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4NzA="
      },
      "RequestBody": {
        "key": "etags175",
        "value": "some new value!",
        "last_modified": "2025-10-02T15:42:46.000Z",
        "tags": {},
        "etag": "-n01HHc3fUhCoAupQRKz6Qe0kqPz71H_w7dzakVKcKM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V70Cy0tQ9eic-2Ltj-fR6dS9MHpmytsYL5dFmJ7ZFKw\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:42:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4NzE=;sn=74231871"
      },
      "ResponseBody": {
        "etag": "V70Cy0tQ9eic-2Ltj-fR6dS9MHpmytsYL5dFmJ7ZFKw",
        "key": "etags175",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:42:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags175",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4NzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"LJsxwyI4FivRjl6qtIPYlWDL63ke7uxLyDehfSd9NuU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4NzI=;sn=74231872"
      },
      "ResponseBody": {
        "etag": "LJsxwyI4FivRjl6qtIPYlWDL63ke7uxLyDehfSd9NuU",
        "items": [
          {
            "etag": "V70Cy0tQ9eic-2Ltj-fR6dS9MHpmytsYL5dFmJ7ZFKw",
            "key": "etags175",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:42:46+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags175?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4NzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V70Cy0tQ9eic-2Ltj-fR6dS9MHpmytsYL5dFmJ7ZFKw\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:42:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4NzM=;sn=74231873"
      },
      "ResponseBody": {
        "etag": "V70Cy0tQ9eic-2Ltj-fR6dS9MHpmytsYL5dFmJ7ZFKw",
        "key": "etags175",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:42:46+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags175"
  }
}
