{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value02663316706"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value02663316706",
        "id": "https://gracewilcox.vault.azure.net/secrets/listsecrets02663316706/3db52688c29f46179d5779d5410e4fa9",
        "attributes": {
          "enabled": true,
          "created": 1718141139,
          "updated": 1718141139,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://gracewilcox.vault.azure.net/secrets/1917406029",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1718140275,
              "exp": 1749676875,
              "created": 1718140876,
              "updated": 1718140876,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "contentType": "application/x-pkcs12",
            "id": "https://gracewilcox.vault.azure.net/secrets/2455761926",
            "managed": true,
            "attributes": {
              "enabled": false,
              "nbf": 1718140272,
              "exp": 174[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets32663316706?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/listsecrets32663316706",
        "deletedDate": 1718141140,
        "scheduledPurgeDate": 1718745940,
        "id": "https://gracewilcox.vault.azure.net/secrets/listsecrets32663316706/fca56e3fd6d94856ac332c89669b9bb8",
        "attributes": {
          "enabled": true,
          "created": 1718141140,
          "updated": 1718141140,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/listsecrets02663316706",
        "deletedDate": 1718141141,
        "scheduledPurgeDate": 1718745941,
        "id": "https://gracewilcox.vault.azure.net/secrets/listsecrets02663316706/3db52688c29f46179d5779d5410e4fa9",
        "attributes": {
          "enabled": true,
          "created": 1718141139,
          "updated": 1718141139,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
