{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "contentType": "content-type",
        "tags": {
          "tag": "value"
        },
        "value": "value0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value0",
        "contentType": "content-type",
        "id": "https://cpazsec21435.vault.azure.net/secrets/listversions2628844972/2485f1d2177948549c80052663711bd7",
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1779401289,
          "updated": 1779401289,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972/versions?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "content-type",
            "id": "h[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://cpazsec21435.vault.azure.net/deletedsecrets/listversions2628844972",
        "deletedDate": 1779401289,
        "scheduledPurgeDate": 1780006089,
        "contentType": "content-type",
        "id": "https://cpazsec21435.vault.azure.net/secrets/listversions2628844972/2d8d203abdb6401783dc004ff850c49e",
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1779401289,
          "updated": 1779401289,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    }
  ],
  "Variables": {}
}
