{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value02663316706"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://gracewilcox.vault.azure.net/secrets/listsecrets02663316706/cac4fc2007dc49f8afd8cb168c588111",
        "value": "value02663316706",
        "attributes": {
          "enabled": true,
          "created": 1740595637,
          "updated": 1740595637,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://gracewilcox.vault.azure.net/secrets/listsecrets02663316706",
            [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets32663316706?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/listsecrets32663316706",
        "deletedDate": 1740595637,
        "scheduledPurgeDate": 1741200437,
        "id": "https://gracewilcox.vault.azure.net/secrets/listsecrets32663316706/61e1ebcf728948cb9b1a898cf450ca92",
        "attributes": {
          "enabled": true,
          "created": 1740595637,
          "updated": 1740595637,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/listsecrets02663316706",
        "deletedDate": 1740595638,
        "scheduledPurgeDate": 1741200438,
        "id": "https://gracewilcox.vault.azure.net/secrets/listsecrets02663316706/cac4fc2007dc49f8afd8cb168c588111",
        "attributes": {
          "enabled": true,
          "created": 1740595637,
          "updated": 1740595637,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
