{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "nbf": 1893459661
        },
        "contentType": "big secret",
        "tags": {
          "tag": "value"
        },
        "value": "value518723441"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://gracewilcox.vault.azure.net/secrets/secret518723441/80b9bce915754219be3a493b38d505b2",
        "value": "value518723441",
        "contentType": "big secret",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "created": 1740595612,
          "updated": 1740595612,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://gracewilcox.vault.azure.net/secrets/secret518723441/80b9bce915754219be3a493b38d505b2",
        "value": "value518723441",
        "contentType": "big secret",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "created": 1740595612,
          "updated": 1740595612,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441/80b9bce915754219be3a493b38d505b2?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2208992461
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://gracewilcox.vault.azure.net/secrets/secret518723441/80b9bce915754219be3a493b38d505b2",
        "contentType": "big secret",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "exp": 2208992461,
          "created": 1740595612,
          "updated": 1740595612,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/secret518723441",
        "deletedDate": 1740595613,
        "scheduledPurgeDate": 1741200413,
        "contentType": "big secret",
        "id": "https://gracewilcox.vault.azure.net/secrets/secret518723441/80b9bce915754219be3a493b38d505b2",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "exp": 2208992461,
          "created": 1740595612,
          "updated": 1740595612,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/secret518723441?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret518723441"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/secret518723441?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
