{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value02663316706"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value02663316706",
        "id": "https://cpazsec21435.vault.azure.net/secrets/listsecrets02663316706/4a7401830bb046e7a2af422f631ce930",
        "attributes": {
          "enabled": true,
          "created": 1779401285,
          "updated": 1779401285,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://cpazsec21435.vault.azure.net/secrets/listsecrets02663316706",
      [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets32663316706?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://cpazsec21435.vault.azure.net/deletedsecrets/listsecrets32663316706",
        "deletedDate": 1779401285,
        "scheduledPurgeDate": 1780006085,
        "id": "https://cpazsec21435.vault.azure.net/secrets/listsecrets32663316706/6f459d133a9d44899893eec8455a7491",
        "attributes": {
          "enabled": true,
          "created": 1779401285,
          "updated": 1779401285,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://cpazsec21435.vault.azure.net/deletedsecrets/listsecrets02663316706",
        "deletedDate": 1779401285,
        "scheduledPurgeDate": 1780006085,
        "id": "https://cpazsec21435.vault.azure.net/secrets/listsecrets02663316706/4a7401830bb046e7a2af422f631ce930",
        "attributes": {
          "enabled": true,
          "created": 1779401285,
          "updated": 1779401285,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
