{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretcontenttype2250812526?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretcontenttype2250812526?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "value": "value2250812526"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value2250812526",
        "contentType": "text/plain",
        "id": "https://tb2cb0ea666d53791.vault.azure.net/secrets/secretcontenttype2250812526/204d23b5e2f34f78b0e708497bc631fa",
        "attributes": {
          "enabled": true,
          "created": 1759789444,
          "updated": 1759789444,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretcontenttype2250812526/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value2250812526",
        "contentType": "text/plain",
        "id": "https://tb2cb0ea666d53791.vault.azure.net/secrets/secretcontenttype2250812526/204d23b5e2f34f78b0e708497bc631fa",
        "attributes": {
          "enabled": true,
          "created": 1759789444,
          "updated": 1759789444,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretcontenttype2250812526/?api-version=2025-07-01&outContentType=application%2Fx-pem-file",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "The 'Unsupported' to 'PEM' transformation is not supported. Only PFX to PEM transformation is supported."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretcontenttype2250812526?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tb2cb0ea666d53791.vault.azure.net/deletedsecrets/secretcontenttype2250812526",
        "deletedDate": 1759789444,
        "scheduledPurgeDate": 1760394244,
        "contentType": "text/plain",
        "id": "https://tb2cb0ea666d53791.vault.azure.net/secrets/secretcontenttype2250812526/204d23b5e2f34f78b0e708497bc631fa",
        "attributes": {
          "enabled": true,
          "created": 1759789444,
          "updated": 1759789444,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
