{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true,
          "nbf": 1893459661
        },
        "contentType": "big secret",
        "tags": {
          "tag": "value"
        },
        "value": "value518723441"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value518723441",
        "contentType": "big secret",
        "id": "https://gracewilcox8.vault.azure.net/secrets/secret518723441/69ada7782a5d40a6941c3bd61a8d7a06",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "created": 1758149331,
          "updated": 1758149331,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value518723441",
        "contentType": "big secret",
        "id": "https://gracewilcox8.vault.azure.net/secrets/secret518723441/69ada7782a5d40a6941c3bd61a8d7a06",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "created": 1758149331,
          "updated": 1758149331,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441/69ada7782a5d40a6941c3bd61a8d7a06?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2208992461
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "big secret",
        "id": "https://gracewilcox8.vault.azure.net/secrets/secret518723441/69ada7782a5d40a6941c3bd61a8d7a06",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "exp": 2208992461,
          "created": 1758149331,
          "updated": 1758149332,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret518723441?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox8.vault.azure.net/deletedsecrets/secret518723441",
        "deletedDate": 1758149332,
        "scheduledPurgeDate": 1758754132,
        "contentType": "big secret",
        "id": "https://gracewilcox8.vault.azure.net/secrets/secret518723441/69ada7782a5d40a6941c3bd61a8d7a06",
        "attributes": {
          "enabled": true,
          "nbf": 1893459661,
          "exp": 2208992461,
          "created": 1758149331,
          "updated": 1758149332,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/secret518723441?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: secret518723441"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/secret518723441?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
