{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "contentType": "content-type",
        "tags": {
          "tag": "value"
        },
        "value": "value0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value0",
        "contentType": "content-type",
        "id": "https://gracewilcox8.vault.azure.net/secrets/listversions2628844972/4db638258c9049788e32e9e439b35ecd",
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1758149353,
          "updated": 1758149353,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972/versions?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "content-type",
            "id": "https://gracewil[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox8.vault.azure.net/deletedsecrets/listversions2628844972",
        "deletedDate": 1758149354,
        "scheduledPurgeDate": 1758754154,
        "contentType": "content-type",
        "id": "https://gracewilcox8.vault.azure.net/secrets/listversions2628844972/89b4dcfcd0524136991c5f1dc5aafafa",
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1758149354,
          "updated": 1758149354,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    }
  ],
  "Variables": {}
}
