{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretversion3941084264?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretversion3941084264?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value13941084264"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value13941084264",
        "id": "https://tb2cb0ea666d53791.vault.azure.net/secrets/secretversion3941084264/f4c67f9622b8415c932368940d05146f",
        "attributes": {
          "enabled": true,
          "created": 1759789873,
          "updated": 1759789873,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretversion3941084264/9da3c3eef2f643f89e6de0382cfc8e8f?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value23941084264",
        "id": "https://tb2cb0ea666d53791.vault.azure.net/secrets/secretversion3941084264/9da3c3eef2f643f89e6de0382cfc8e8f",
        "attributes": {
          "enabled": true,
          "created": 1759789873,
          "updated": 1759789873,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretversion3941084264/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value33941084264",
        "id": "https://tb2cb0ea666d53791.vault.azure.net/secrets/secretversion3941084264/a175f69fed4f4f549d9249492a42e9d6",
        "attributes": {
          "enabled": true,
          "created": 1759789873,
          "updated": 1759789873,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secretversion3941084264?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tb2cb0ea666d53791.vault.azure.net/deletedsecrets/secretversion3941084264",
        "deletedDate": 1759789874,
        "scheduledPurgeDate": 1760394674,
        "id": "https://tb2cb0ea666d53791.vault.azure.net/secrets/secretversion3941084264/a175f69fed4f4f549d9249492a42e9d6",
        "attributes": {
          "enabled": true,
          "created": 1759789873,
          "updated": 1759789873,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
