{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value02663316706"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value02663316706",
        "id": "https://t04e8f3a7e768c887.vault.azure.net/secrets/listsecrets02663316706/e1598c64c3b442998743c90da2f3269c",
        "attributes": {
          "enabled": true,
          "created": 1760123436,
          "updated": 1760123436,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://t04e8f3a7e768c887.vault.azure.net/secrets/listsecrets02663316706",
         [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets32663316706?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t04e8f3a7e768c887.vault.azure.net/deletedsecrets/listsecrets32663316706",
        "deletedDate": 1760123437,
        "scheduledPurgeDate": 1760728237,
        "id": "https://t04e8f3a7e768c887.vault.azure.net/secrets/listsecrets32663316706/fde54ad3036749369fd859866bf6f472",
        "attributes": {
          "enabled": true,
          "created": 1760123437,
          "updated": 1760123437,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listsecrets02663316706?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t04e8f3a7e768c887.vault.azure.net/deletedsecrets/listsecrets02663316706",
        "deletedDate": 1760123438,
        "scheduledPurgeDate": 1760728238,
        "id": "https://t04e8f3a7e768c887.vault.azure.net/secrets/listsecrets02663316706/e1598c64c3b442998743c90da2f3269c",
        "attributes": {
          "enabled": true,
          "created": 1760123436,
          "updated": 1760123436,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
