{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret13245351623?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret13245351623?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value13245351623"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value13245351623",
        "id": "https://gracewilcox.vault.azure.net/secrets/secret13245351623/2a2b9b983a344c0b8e0ff801f6f7c420",
        "attributes": {
          "enabled": true,
          "created": 1718141126,
          "updated": 1718141126,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret13245351623?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/secret13245351623",
        "deletedDate": 1718141126,
        "scheduledPurgeDate": 1718745926,
        "id": "https://gracewilcox.vault.azure.net/secrets/secret13245351623/2a2b9b983a344c0b8e0ff801f6f7c420",
        "attributes": {
          "enabled": true,
          "created": 1718141126,
          "updated": 1718141126,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/secret13245351623?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/secret13245351623",
        "deletedDate": 1718141126,
        "scheduledPurgeDate": 1718745926,
        "id": "https://gracewilcox.vault.azure.net/secrets/secret13245351623/2a2b9b983a344c0b8e0ff801f6f7c420",
        "attributes": {
          "enabled": true,
          "created": 1718141126,
          "updated": 1718141126,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://gracewilcox.vault.azure.net/deletedsecrets/secret13245351623",
     [...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/secret23245351623?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
