{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "exp": 2524611661,
          "nbf": 2208992461
        },
        "contentType": "content-type",
        "tags": {
          "tag": "value"
        },
        "value": "value0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value0",
        "contentType": "content-type",
        "id": "https://t04e8f3a7e768c887.vault.azure.net/secrets/listversions2628844972/a33a4628cbf442ab82a5ef9641af8de6",
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1760123440,
          "updated": 1760123440,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972/versions?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "content-type",
            "id": "https://t[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/listversions2628844972?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://t04e8f3a7e768c887.vault.azure.net/deletedsecrets/listversions2628844972",
        "deletedDate": 1760123441,
        "scheduledPurgeDate": 1760728241,
        "contentType": "content-type",
        "id": "https://t04e8f3a7e768c887.vault.azure.net/secrets/listversions2628844972/2a810ea19c44411b88c983599f864107",
        "attributes": {
          "enabled": true,
          "nbf": 2208992461,
          "exp": 2524611661,
          "created": 1760123441,
          "updated": 1760123441,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag": "value"
        }
      }
    }
  ],
  "Variables": {}
}
