{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ba9d1493-3a5a-1cfa-f736-2c239c4344d8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D9891AB75\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ba9d1493-3a5a-1cfa-f736-2c239c4344d8/test-blob-2733342a-ce73-85ac-711f-ff5a0d72815a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "/ElNuoNda67EaZqSzOPF3pB1vrozn8YcfxMqOtLqPVYdahkNy\u002BszB3Zh4KiPMWjfFjPUgAvvzl2DMDpwMjDb2ixDdWHKuBOlQbdE0r4djU2qSyOfFbxLLpy8ipqxw9RFhQZ8S7wHFV4gLz5TqvyfZaLsxecNPMRv90bFDS54837j/0y3oEGRozXEf\u002BZ\u002B94SfHST3xP3sN0lCDVR1QQcwpzvAcKqv58RgWyKySLze8f/CJvAJgS\u002BB98cDdZPtG2IulNiqvYfZ7zVflmjbOu\u002BNYxtUshoXJyYMP3njrHIxc0C/g7TkNDN46Te6qurHpbzYdhF3mGhHFm2ynX4O9UL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ba9d1493-3a5a-1cfa-f736-2c239c4344d8/test-blob-2733342a-ce73-85ac-711f-ff5a0d72815a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D98A06D79\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:44 GMT",
        "x-ms-blob-content-md5": "ELepALrvy5V4gCO6PLJPyA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Gu4ntiZK2BY=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "/ElNuoNda67EaZqSzOPF3pB1vrozn8YcfxMqOtLqPVYdahkNy\u002BszB3Zh4KiPMWjfFjPUgAvvzl2DMDpwMjDb2ixDdWHKuBOlQbdE0r4djU2qSyOfFbxLLpy8ipqxw9RFhQZ8S7wHFV4gLz5TqvyfZaLsxecNPMRv90bFDS54837j/0y3oEGRozXEf\u002BZ\u002B94SfHST3xP3sN0lCDVR1QQcwpzvAcKqv58RgWyKySLze8f/CJvAJgS\u002BB98cDdZPtG2IulNiqvYfZ7zVflmjbOu\u002BNYxtUshoXJyYMP3njrHIxc0C/g7TkNDN46Te6qurHpbzYdhF3mGhHFm2ynX4O9ULDLiMnG7Y7qC/o3MnjXHw7RZm8CzZgudrYeGxHMpa1afT09nzHn4kGnM3ij[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ba9d1493-3a5a-1cfa-f736-2c239c4344d8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2031525959",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
