{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-da30067a-15d3-4635-b258-69a968040714?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D09295643D3\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-da30067a-15d3-4635-b258-69a968040714/test-blob-61e525da-b4ff-0947-ba77-8bf22b279503",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "MoryMKHzjvDnkgbCqQ6hd6gQDsIB/hLtunkNE1lKml3aFfQbR3\u002B3pxYSIG\u002BCgwVDALgr8mhyVTN3BXUo5nuWnfip6JMahTAoWWar7t6iajdzyhOhH6j0Z8DAo0EKjsGbfIJ32ZpyKXqIApgCxmZV1Zo\u002BtBto9H5PtIDSWeLuHsqlEHJbK5GcAaGYGRwP8qBaa86my9qlMocEJyQaoM\u002BXmePOXLbz\u002BqkJorN5z9thQMLfd\u002B4TR1Pw/93qVgRsgWHRAX84QZXqZ3ElnSgnLGOrouZiOijhhFKQ3V3YCKOknSBSqM5cKf8s9RB97qoqyNN5P7MeCUc48Hwtp2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-da30067a-15d3-4635-b258-69a968040714/test-blob-61e525da-b4ff-0947-ba77-8bf22b279503",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:32 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D09296518FE\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:32 GMT",
        "x-ms-blob-content-md5": "kG899YU5DqZANvHEd5iuVg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "/ky/RUSgPIY=",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "MoryMKHzjvDnkgbCqQ6hd6gQDsIB/hLtunkNE1lKml3aFfQbR3\u002B3pxYSIG\u002BCgwVDALgr8mhyVTN3BXUo5nuWnfip6JMahTAoWWar7t6iajdzyhOhH6j0Z8DAo0EKjsGbfIJ32ZpyKXqIApgCxmZV1Zo\u002BtBto9H5PtIDSWeLuHsqlEHJbK5GcAaGYGRwP8qBaa86my9qlMocEJyQaoM\u002BXmePOXLbz\u002BqkJorN5z9thQMLfd\u002B4TR1Pw/93qVgRsgWHRAX84QZXqZ3ElnSgnLGOrouZiOijhhFKQ3V3YCKOknSBSqM5cKf8s9RB97qoqyNN5P7MeCUc48Hwtp2M3EV7NgP8H1YOVT3nnNkQYY5WnZRSKXsnvhpPYGbdRL4Gc9OSyr22qIvNP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-da30067a-15d3-4635-b258-69a968040714?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "625869588",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
