{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6bcd965-6fb8-4f13-4483-60b20683755a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF28F3785D\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6bcd965-6fb8-4f13-4483-60b20683755a/test-blob-dc563b67-ae7c-937b-7d32-c63d6e94c068",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "XjdG4aT4bwpUhIdx7T00Cxz99TD7mAplx2U06RvYpfdGdHfj8oW\u002BxGd8iMqQR3h5pjOQlFLQEsYs4Ro\u002Bw4Xve9\u002BPKnnGUBmWPzDJfg9A1IDtukPnSBCkdmKxthBrfwDhjQzrABz/s1Ua\u002BVUhB5O27AyZUQlBBzPP67MXFZoJK78v5/ECVNRj7gbuzU66gm/P\u002BskD0S73oIbZGxVp6J67EM6V8SChs5c4NWICUznkFWhESBrQBlmROEdqKTm/\u002BgZoMryAJJBPLUcyy5zL9ExM9AasJJ\u002BD6wp1BLnYN4leeDpcmSB9ZPDX9RrTnju9xkP6HjQyE9Zm5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6bcd965-6fb8-4f13-4483-60b20683755a/test-blob-dc563b67-ae7c-937b-7d32-c63d6e94c068",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF290407DB\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-blob-content-md5": "l\u002BzFs\u002B9FS9alGuymlWeaEw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABeN0bhpPhvClSEh3HtPTQLHP31MPuYCmXHZTTpG9il90Z0d\u002BPyhb7EZ3yIypBHeHmmM5CUUtASxizhGj7Dhe97348qecZQGZY/MMl\u002BD0DUgO26Q\u002BdIEKR2YrG2EGt/AOGNDOsAHP\u002BzVRr5VSEHk7bsDJlRCUEHM8/rsxcVmgkrvy/n8QJU1GPuBu7NTrqCb8/6yQPRLveghtkbFWnonrsQzpXxIKGzlzg1YgJTOeQVaERIGtAGWZE4R2opOb/6BmgyvIAkkE8tRzLLnMv0TEz0Bqwkn4PrCnUEudg3iV54OlyZIH1k8Nf1GtOeO73GQ/oeNDIT1mblR7IKINd29r3TUmFvWyvPjxbVL4SwTc\u002B4PXbeG[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c6bcd965-6fb8-4f13-4483-60b20683755a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1030604091",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
