{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b0c509d-0896-21dd-801b-b1a3711bee3f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DD35C4735\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b0c509d-0896-21dd-801b-b1a3711bee3f/test-blob-eb5324ce-42bf-8ee0-256e-7f87cebc304b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "c3ZIOgmfEbw4gc2YS1Ejby0XALknNujD6sAjipHc2TTvCRiHyLORBKU3f9QXNZl6t\u002BAOmopUizyOhE9Ie4crW6iYqEE5nKZ5hfwU77cTq7QnqdOwzj6pm37b\u002BERkSIgeDCMrfo1XQRo6lBSOQJyFe9mbIdKzeo1q7w3DXaRiFT1z9uKT5ywnz2e5djkqG1vhVnxrySa1apKWwY9/lON22H/XGkm68pSsc1Jq\u002BgRTP9Oy4gYn90wWvYtQ/CWdqDuDQ566UwARJ2TovlXUS3COQoK8zbHdTuAzwF2\u002BavVuDssX5rdmmevSobuiPjj2QXIawbmi4NqJpvS9hpKjUrxuebCJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b0c509d-0896-21dd-801b-b1a3711bee3f/test-blob-eb5324ce-42bf-8ee0-256e-7f87cebc304b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD36C41AD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:23 GMT",
        "x-ms-blob-content-md5": "zrxPO8GkGrde0x286QBMag==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "4lxVL/dYfU4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "c3ZIOgmfEbw4gc2YS1Ejby0XALknNujD6sAjipHc2TTvCRiHyLORBKU3f9QXNZl6t\u002BAOmopUizyOhE9Ie4crW6iYqEE5nKZ5hfwU77cTq7QnqdOwzj6pm37b\u002BERkSIgeDCMrfo1XQRo6lBSOQJyFe9mbIdKzeo1q7w3DXaRiFT1z9uKT5ywnz2e5djkqG1vhVnxrySa1apKWwY9/lON22H/XGkm68pSsc1Jq\u002BgRTP9Oy4gYn90wWvYtQ/CWdqDuDQ566UwARJ2TovlXUS3COQoK8zbHdTuAzwF2\u002BavVuDssX5rdmmevSobuiPjj2QXIawbmi4NqJpvS9hpKjUrxuebCJvWS4J6mW6Sv2OhCoPH7qo6g7yy7wjUDDqRJYL07\u002BM8SIbIQNYpkQD[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8b0c509d-0896-21dd-801b-b1a3711bee3f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "604773088",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
