{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bcf3596-40ec-851e-45ae-cebc77a91338?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D998978C1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bcf3596-40ec-851e-45ae-cebc77a91338/test-blob-2d06f5e7-9860-08aa-a46a-45e4102bb4ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "hXhZKt5\u002BaUVFiz4YOIXHAYcL7wfPIwDAEy680ienpwqHuBNE6vzkTgaVqaxJY7ubTCjAkFNEgGF3mBawwZcdnuQzkH9xgxaKJ6EBOXlTd69yIYb\u002B5xa3QjixzVLmM4xvdwvHFdM8KckSNWiyQ0bnIyFmPaARHrbOfE1Gv7XEpPMUksFujGHcNvi87LKtBP/xyakwf/bsXVhU\u002BZiF9WkTTpB1nbGFeZe/iQeoVDIEIHhOVPYMkyX9KDRoGZLJV0COqZ4hOGZObFARcfXuQwkmUNkgNqBzBrtrd3V8HGAE9jLGGaqT4ucRAOil\u002ByEvD\u002BQrQci5qCCgG6PjtsHx0U/[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bcf3596-40ec-851e-45ae-cebc77a91338/test-blob-2d06f5e7-9860-08aa-a46a-45e4102bb4ea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D9998D6FA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-blob-content-md5": "pPJf9A6W\u002BXjMDcRt2DwHoQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jRjpZUJmfok=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "hXhZKt5\u002BaUVFiz4YOIXHAYcL7wfPIwDAEy680ienpwqHuBNE6vzkTgaVqaxJY7ubTCjAkFNEgGF3mBawwZcdnuQzkH9xgxaKJ6EBOXlTd69yIYb\u002B5xa3QjixzVLmM4xvdwvHFdM8KckSNWiyQ0bnIyFmPaARHrbOfE1Gv7XEpPMUksFujGHcNvi87LKtBP/xyakwf/bsXVhU\u002BZiF9WkTTpB1nbGFeZe/iQeoVDIEIHhOVPYMkyX9KDRoGZLJV0COqZ4hOGZObFARcfXuQwkmUNkgNqBzBrtrd3V8HGAE9jLGGaqT4ucRAOil\u002ByEvD\u002BQrQci5qCCgG6PjtsHx0U/vDHvDJypekm7xDza3zQqZO2iQUdqXS00RJv4GsCsmHy6Ytu\u002BmbOe6[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bcf3596-40ec-851e-45ae-cebc77a91338?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1960358931",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
