{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b4bdd57-60f9-40ab-7ce7-767ae2717d2d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DD1ED9C8B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b4bdd57-60f9-40ab-7ce7-767ae2717d2d/test-blob-37b4e1d0-5f6d-9fc5-4eb9-4f6ea82438ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LxSGetYxm83tvVfhtNoytY54V5WKW\u002BZ4YReCZX3zxemECqH5Qd4n8bIZNIi7OoAx2VhuUKL\u002BFtMtDRm\u002BrjVP\u002BvhuXak4OXOwUWXjcSddvSaXUYwlhHVGhfTOyzTEaEN8yTmQTd3W\u002BJ/kvf49G6Wrz1DzJ1ypKnWCKNe0am4/6\u002BghZqfuzW9IwVntQMd2CWpPIvvj0UHn0p/EDSUFIY0xpNEWG7T9vQLgqmYDvOmtDB5sZEhyWxqnOpQIKb9KQp/Lu5v1YO62UmT5Ayfb4xa1FgEGmbxFvki3buAf9ZNClmfGOABNt6swthLjeFjyzFd9UxO9RKnihf1SPv[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b4bdd57-60f9-40ab-7ce7-767ae2717d2d/test-blob-37b4e1d0-5f6d-9fc5-4eb9-4f6ea82438ed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Nc0SdvtBTkVLMcRiQxsJWw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD1FD6FB0\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:20 GMT",
        "x-ms-blob-content-md5": "Nc0SdvtBTkVLMcRiQxsJWw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "LxSGetYxm83tvVfhtNoytY54V5WKW\u002BZ4YReCZX3zxemECqH5Qd4n8bIZNIi7OoAx2VhuUKL\u002BFtMtDRm\u002BrjVP\u002BvhuXak4OXOwUWXjcSddvSaXUYwlhHVGhfTOyzTEaEN8yTmQTd3W\u002BJ/kvf49G6Wrz1DzJ1ypKnWCKNe0am4/6\u002BghZqfuzW9IwVntQMd2CWpPIvvj0UHn0p/EDSUFIY0xpNEWG7T9vQLgqmYDvOmtDB5sZEhyWxqnOpQIKb9KQp/Lu5v1YO62UmT5Ayfb4xa1FgEGmbxFvki3buAf9ZNClmfGOABNt6swthLjeFjyzFd9UxO9RKnihf1SPvEOll3Rtmy/FKsWZ15V1uOqYkbwxKKIoqF/hVG\u002B5LID\u002B3m5Ih[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b4bdd57-60f9-40ab-7ce7-767ae2717d2d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1811323541",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
