{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-71466f8b-9a57-08db-48ef-83da68d1c9f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF2A34F929\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-71466f8b-9a57-08db-48ef-83da68d1c9f9/test-blob-fee7a04c-17c5-5a7a-df95-244ecdd9ffc0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "4q2AdqKmvuulmbmXR69SaZYXGGxJG6W1CCUA//6YKkd1YUkHXuLJGz6dCbq\u002BR/sWrziba1neqMYIy259pb7sDG5xIeZmSguzTfwtqxLr9sAp6k/G/L/ul7iD/5J0THZ/sPxLTSUUsGUs6B5dsP2zHNSuU7tvJg\u002Bvg4ot4kp4PwCGrvoWoKmaFDnqmRShkea7z\u002BO\u002Bxfm6D4nsnMmb580bs6kd1wICnXwqEz6BhY37DfKjcRJmunkHy55wKQPf/i1rz\u002BZrg7rjuTJnk7G6OIr88I7X93W6tPgvFgtkkXN4ShURFramkIk4wLjg/ybHTJMTczh1CAe4sRrtO22ufie[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-71466f8b-9a57-08db-48ef-83da68d1c9f9/test-blob-fee7a04c-17c5-5a7a-df95-244ecdd9ffc0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF2A458808\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-blob-content-md5": "PsdGINMRWFDHWnpGtfxM8A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADirYB2oqa\u002B66WZuZdHr1JplhcYbEkbpbUIJQD//pgqR3VhSQde4skbPp0Jur5H\u002BxavOJtrWd6oxgjLbn2lvuwMbnEh5mZKC7NN/C2rEuv2wCnqT8b8v\u002B6XuIP/knRMdn\u002Bw/EtNJRSwZSzoHl2w/bMc1K5Tu28mD6\u002BDii3iSng/AIau\u002BhagqZoUOeqZFKGR5rvP477F\u002BboPieycyZvnzRuzqR3XAgKdfCoTPoGFjfsN8qNxEma6eQfLnnApA9/\u002BLWvP5muDuuO5MmeTsbo4ivzwjtf3dbq0\u002BC8WC2SRc3hKFREWtqaQiTjAuOD/JsdMkxNzOHUIB7ixGu07ba5\u002BJ7/v[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-71466f8b-9a57-08db-48ef-83da68d1c9f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1995508866",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
