{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2fe93dcc-f990-3f9b-8c32-453dd8449034?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D0928DB203D\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2fe93dcc-f990-3f9b-8c32-453dd8449034/test-blob-b1f21d3c-9b5e-37dd-f0fe-2a7712daadc4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "8\u002BUHdFfqltb4E2hHMos1igkZ/yCPZX5hdm6qoOUWWFaIBRwl\u002B7TUUyDeMqINUKg0o4YkZHGfMo5mpf3pP/bx4rsSvyxvD45URKv/sTLcVCbGdfxf8fPl6NKNvla36xQq7VDn\u002BpB7xJP30B/Fn4FcilDXI8n5kfDHLdZZ4lA4nVmX1cPh9VmVSrFpaCHTH0hRMDQF4MhKMFtgH826IeJCvzPGLsq9e5X2QdgYkCnO8w2NCLIcMryRTKVogdWM2ynOJqjuDPF\u002Bk7WfDp7vMp8ykSu/LBgvJox2NeIkVfm/amWvSWqA4OccDnX8fCQdoRkFNe\u002BpzK8Qnv8ceNcOWj2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2fe93dcc-f990-3f9b-8c32-453dd8449034/test-blob-b1f21d3c-9b5e-37dd-f0fe-2a7712daadc4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:31 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:574de707-801e-0007-1bf2-7eb681000000\n",
        "Time:2024-03-25T20:21:31.7201495Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-range-get-content-md5\u003C/HeaderName\u003E\u003CHeaderValue\u003Etrue\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2fe93dcc-f990-3f9b-8c32-453dd8449034?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "977483489",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
