{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-01a80892-db11-02ac-7991-1907ef9d93be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF1CCAABBD\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-01a80892-db11-02ac-7991-1907ef9d93be/test-blob-a0e28968-996d-e86f-8db1-a0840bc0a33f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "DzZp2BJ2MPyl8PZxEab87lP7e\u002B7t/RRPhvveKqSKoAnyhffOIWYLFdGz8Ll5nvny9AGFG4W/VxIiGVEWlwVXG0/tfoyvLszs8GUcOQxa1ecB7DaiBIWEMy7lqwgU9H7LW9VpjCBtQ8U1mCogoh0Fx0NqFKvPtBbJaEpeyoLE2PzmUd038EjHlKhwbWxbZJEQ3\u002BPEqt/T/Ke\u002BoCTVDnlDcMAtOVA/ztb7ooACXkaqbgS5Teqe/y0cE1Q2eFAk8oUvLfyrLStA0BEMyQdf0J5gEzEgHMGOpHCTECX8CVWF1rD60jBJ/0HZeHzZkTYlvUK21mQfBNXEoImMGBwFRMe7hvJXZP5uF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-01a80892-db11-02ac-7991-1907ef9d93be/test-blob-a0e28968-996d-e86f-8db1-a0840bc0a33f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF1CDB402B\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-blob-content-md5": "8gTe7GCYx569TTT/QD62Lg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAPNmnYEnYw/KXw9nERpvzuU/t77u39FE\u002BG\u002B94qpIqgCfKF984hZgsV0bPwuXme\u002BfL0AYUbhb9XEiIZURaXBVcbT\u002B1\u002BjK8uzOzwZRw5DFrV5wHsNqIEhYQzLuWrCBT0fstb1WmMIG1DxTWYKiCiHQXHQ2oUq8\u002B0FsloSl7KgsTY/OZR3TfwSMeUqHBtbFtkkRDf48Sq39P8p76gJNUOeUNwwC05UD/O1vuigAJeRqpuBLlN6p7/LRwTVDZ4UCTyhS8t/KstK0DQEQzJB1/QnmATMSAcwY6kcJMQJfwJVYXWsPrSMEn/Qdl4fNmRNiW9QrbWZB8E1cSgiYwYHAVEx7uG8ldk/m4WFPBHo0S1Ejpt[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-01a80892-db11-02ac-7991-1907ef9d93be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1364146710",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
