{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4d8ab29-78f9-f1c2-1a43-293c46aa3e5c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF29724554\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4d8ab29-78f9-f1c2-1a43-293c46aa3e5c/test-blob-12de61b8-83f4-6696-0aa1-7fa7af0fb767",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "IxUi16HD2NMMD0Oi9rHwYh8ZF6PgTCUOFYQ/VztkykBTPO3rlUxuYcr35SjiMF0gr7ca5RlfZdfvE8EchIGYqEQCTrnDBc3SqrXZ6Wb9LOQnH6eDSuUn89cV\u002B4KKUd1JXj3j3\u002BKjXKrqRzpjhnxx8ubd9WXZFF1f21virgpKR1jYkIopGU0Cg8L8mQKqxGxapAibrVx3b0rfhASGwa6goADhivbxR9mZ23Gi3XtbtBbuhwoBrpr8YCA/SZRIe8IUW/kCyTl2aVwvAdHq1ZHPhNDtmDmknvFl5SnVsv5EUV\u002BvjoGBWOrcdx6t0qzIEYuOcMXEW\u002BOJcL0HneQQoLZe6rBx[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4d8ab29-78f9-f1c2-1a43-293c46aa3e5c/test-blob-12de61b8-83f4-6696-0aa1-7fa7af0fb767",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF2982AD86\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:55 GMT",
        "x-ms-blob-content-md5": "aps48X9U1XrSQ6g2NsU8mQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:53:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAjFSLXocPY0wwPQ6L2sfBiHxkXo\u002BBMJQ4VhD9XO2TKQFM87euVTG5hyvflKOIwXSCvtxrlGV9l1\u002B8TwRyEgZioRAJOucMFzdKqtdnpZv0s5Ccfp4NK5Sfz1xX7gopR3UlePePf4qNcqupHOmOGfHHy5t31ZdkUXV/bW\u002BKuCkpHWNiQiikZTQKDwvyZAqrEbFqkCJutXHdvSt\u002BEBIbBrqCgAOGK9vFH2ZnbcaLde1u0Fu6HCgGumvxgID9JlEh7whRb\u002BQLJOXZpXC8B0erVkc\u002BE0O2YOaSe8WXlKdWy/kRRX6\u002BOgYFY6tx3Hq3SrMgRi45wxcRb44lwvQed5BCgtl7qsHE6RhBNK\u002B[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4d8ab29-78f9-f1c2-1a43-293c46aa3e5c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "241014963",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
