{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6a412b55-f78b-0f2b-0dc4-60cf6680b0c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:38:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3CFB8FF8C2\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:38:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6a412b55-f78b-0f2b-0dc4-60cf6680b0c6/test-blob-f95e47c4-c1eb-a31e-b5f3-e5ffe2b8b3e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 May 2024 17:38:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "unDzp51y/oyVBy9GXioU2KbpA5pITNTIrNWO6nH54HmLmkaKQXXaWc2rzuq3CpuZ4n/1cL0ftW6bK/vH4xMamya1u8TkipcwD6rNnX3pEKI69AfyA3C8bOTX7hV6EnW5kDLDAU/WtFjnxWETURjwshpYjO4LKJi2\u002BE7fDJyCtvw0FAxKJQ5TY0CvCz4OqRrM5jz6IYWHrWiaDQkA96i8ZQ5k3j0MpowLBSmuXB1Zp040EiVgh5R2rWajrxgFUmyX86YwqsrdwECv7xtc2FBLQWW6zOSCW9167jHWaPZzBrO9F2l3Kf2EVlLksJh5GtQWWG6yS4aHFJfItbyYB1dKO\u002Bhon8Hn0xhnNn[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6a412b55-f78b-0f2b-0dc4-60cf6680b0c6/test-blob-f95e47c4-c1eb-a31e-b5f3-e5ffe2b8b3e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:38:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3CFB9F6217\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:38:27 GMT",
        "x-ms-blob-content-md5": "Z8QKtupJoLrNxKdpdfw1oQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:38:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC6cPOnnXL\u002BjJUHL0ZeKhTYpukDmkhM1Mis1Y7qcfngeYuaRopBddpZzavO6rcKm5nif/VwvR\u002B1bpsr\u002B8fjExqbJrW7xOSKlzAPqs2dfekQojr0B/IDcLxs5NfuFXoSdbmQMsMBT9a0WOfFYRNRGPCyGliM7gsomLb4Tt8MnIK2/DQUDEolDlNjQK8LPg6pGszmPPohhYetaJoNCQD3qLxlDmTePQymjAsFKa5cHVmnTjQSJWCHlHatZqOvGAVSbJfzpjCqyt3AQK/vG1zYUEtBZbrM5IJb3XruMdZo9nMGs70XaXcp/YRWUuSwmHka1BZYbrJLhocUl8i1vJgHV0o76GifwefTGGc2dZGeq0UA1F3AD4fBuyw1AtG[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6a412b55-f78b-0f2b-0dc4-60cf6680b0c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:38:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1660852203",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
