{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f960c4b5-96a7-12d8-6543-fbb1a161766d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D9A80F804\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f960c4b5-96a7-12d8-6543-fbb1a161766d/test-blob-806118cb-931a-6db8-0c4a-f0669050bdbe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dqvC43KulRKR2T1rjziPpzT6FYih3CoNNUzUB8yBBJggjinY\u002ByuO7YOtCWmj\u002BjCOwy99iA6T1pqAtK4m2Y5GD9SkSwAPtqwIbCcF9NPBaTsbRkSdBHyJjbiPWEZ9ZxT0Z/mV/64vfwyCdBvnjeLGvkpzC5NKqApYGr5If11ligUSEI3ZLGqM68c3Go9gov/VyJn7ClyBqr7vPOXv5/\u002BvHOkW1H1V7ZLg5h/LEo56\u002BHi/crfEaoCokWXO6u\u002BFnAPIiP2mSc2BgNsGGyM9tZcvdERsMHVI67JpbUIXhgKjW0obA4qQ1K6qPfHcvU5ca9zOnnarGGyOgJ1KPNyKavr[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f960c4b5-96a7-12d8-6543-fbb1a161766d/test-blob-806118cb-931a-6db8-0c4a-f0669050bdbe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "BFwImuXm6VvDV\u002BGT4E1Ksg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D9A907D75\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:47 GMT",
        "x-ms-blob-content-md5": "BFwImuXm6VvDV\u002BGT4E1Ksg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "dqvC43KulRKR2T1rjziPpzT6FYih3CoNNUzUB8yBBJggjinY\u002ByuO7YOtCWmj\u002BjCOwy99iA6T1pqAtK4m2Y5GD9SkSwAPtqwIbCcF9NPBaTsbRkSdBHyJjbiPWEZ9ZxT0Z/mV/64vfwyCdBvnjeLGvkpzC5NKqApYGr5If11ligUSEI3ZLGqM68c3Go9gov/VyJn7ClyBqr7vPOXv5/\u002BvHOkW1H1V7ZLg5h/LEo56\u002BHi/crfEaoCokWXO6u\u002BFnAPIiP2mSc2BgNsGGyM9tZcvdERsMHVI67JpbUIXhgKjW0obA4qQ1K6qPfHcvU5ca9zOnnarGGyOgJ1KPNyKavrYY7/ZIbINn5\u002BVwvKDay1kDAJmSeeM90LejIPtRpjSH9P2BFmOg0oq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f960c4b5-96a7-12d8-6543-fbb1a161766d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1876611093",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
