{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73bb2f5a-5396-241d-f1bf-79c28107f81e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF2AB94484\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73bb2f5a-5396-241d-f1bf-79c28107f81e/test-blob-acd860e9-a2c8-16f0-244d-9e95f03ffc3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 14:53:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "264gXDahJtTlaOLCSf99WSObmqW8EE1AnyYygfYWCmkIu0L4eD\u002BnhbR1AWgcx8Rw5jYQrI0lkMpg37wQbqXez115uo28heHj8xTxRw/lI9hhwpvABl7b4yt3l5iClxYPlzIKow02s2BVLLh4NEm7e7zkrqwKHsj/ntZiRO1IYFz\u002B4rDc2n/KKw46atmlYq/hvBzbnulqBHhpCwU21G9yDMxcelKY36A8GYOd0LPvWjsngIjRbcJzk903cs96lFafx14NSOddSdx8n4RmzTTFerDJDlPmoZ8K6ed0YWzQwYUs/QhU4hFUyjerVM0\u002BDcWpcfgesIUDuCW/Al//6Odwq93\u002B[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73bb2f5a-5396-241d-f1bf-79c28107f81e/test-blob-acd860e9-a2c8-16f0-244d-9e95f03ffc3d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF2AC9D314\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:57 GMT",
        "x-ms-blob-content-md5": "veiwE5gx4O9bFlX1de8IyQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:53:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADbriBcNqEm1OVo4sJJ/31ZI5uapbwQTUCfJjKB9hYKaQi7Qvh4P6eFtHUBaBzHxHDmNhCsjSWQymDfvBBupd7PXXm6jbyF4ePzFPFHD\u002BUj2GHCm8AGXtvjK3eXmIKXFg\u002BXMgqjDTazYFUsuHg0Sbt7vOSurAoeyP\u002Be1mJE7UhgXP7isNzaf8orDjpq2aVir\u002BG8HNue6WoEeGkLBTbUb3IMzFx6UpjfoDwZg53Qs\u002B9aOyeAiNFtwnOT3Tdyz3qUVp/HXg1I511J3HyfhGbNNMV6sMkOU\u002Bahnwrp53RhbNDBhSz9CFTiEVTKN6tUzT4Nxalx\u002BB6whQO4Jb8CX//o53Cr3f450CtwmJ91RBs[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-73bb2f5a-5396-241d-f1bf-79c28107f81e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1554870327",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
