{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a20b980-1e70-9a4e-b283-5fa4ad564eeb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D9C3C1575\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a20b980-1e70-9a4e-b283-5fa4ad564eeb/test-blob-06f398a0-35ee-3f92-3f46-0e9a236cf4d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eN/tN/Y3ok04NrrP0xbJa4PEL8jlmNwK76D9uHxyGa2ZjsDxWselPUIjfdgGBe1fmEqKDPI/1\u002BAD4khVOerRxhwNNURW1xG8HvKFwRoDA\u002Bmynh8y5wy7Wrff7Xd\u002BTwNXUre8\u002BdCpCME5zu7/uhXFAN5fo5vLnt8PUtuMduqZPs/vLW9jRwoZCZVe\u002BRgeu6CiGe2YH6xojLPXrKf1HJLXn5AeEIylYrnURpkFbaXG8Zc76lz8AR4ihqG7i5tjI\u002B0DhlqI/6oT/bY0w9gSYx8OEboPujI12p1x\u002B4nr6dcecCKsAeZKPfHsJ\u002B2lyD1FECOBrXng[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a20b980-1e70-9a4e-b283-5fa4ad564eeb/test-blob-06f398a0-35ee-3f92-3f46-0e9a236cf4d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D9C4BC123\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-blob-content-md5": "rMUayrIdE4SImYl9kZUlNg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Blhkv4Gsiuc=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "eN/tN/Y3ok04NrrP0xbJa4PEL8jlmNwK76D9uHxyGa2ZjsDxWselPUIjfdgGBe1fmEqKDPI/1\u002BAD4khVOerRxhwNNURW1xG8HvKFwRoDA\u002Bmynh8y5wy7Wrff7Xd\u002BTwNXUre8\u002BdCpCME5zu7/uhXFAN5fo5vLnt8PUtuMduqZPs/vLW9jRwoZCZVe\u002BRgeu6CiGe2YH6xojLPXrKf1HJLXn5AeEIylYrnURpkFbaXG8Zc76lz8AR4ihqG7i5tjI\u002B0DhlqI/6oT/bY0w9gSYx8OEboPujI12p1x\u002B4nr6dcecCKsAeZKPfHsJ\u002B2lyD1FECOBrXngU2m7zay8FwMgKBPfFlK2ZmE4w9TJI5JEjxFgK\u002BtmaTxdPR248TM5j[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8a20b980-1e70-9a4e-b283-5fa4ad564eeb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1089754407",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
