{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bd1d38b-ec1d-a5f5-3182-c3cd2fec567c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D990C809B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bd1d38b-ec1d-a5f5-3182-c3cd2fec567c/test-blob-a6ebd773-0dba-d53e-5d32-9caf30782ba9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "DIqri0fIU1u3K2QN7vnHED7E8/mfjzTYy9FUao5ynXgXde9Tdbi3EeHxDxxehmjCu5FrRLv/6X1W08B1dOnMRI7s9XkKc5qFDOIYrYAXekVpka79B1m8GIty/aL3QZ34JMqOcpDuuEf25TfZ5jz8Plh7DOI6zzw0L9ztmHb3jcpFH4i1iQe0etlmBiIi4zFPdb5JfDW6vVWNWUKzAR/R/1dsk8azR7VRxpEJ08kaEkurniO4rRGVi2IzKC/FAHm5lQbKtU9qnC4I\u002BLWjsOmLc0b2CGL8GFFG1ghkgB6Gi8YYUD3CT138QAL0r7Rb8tp4p7XpzvcWvH21hN5GBhsPgm3vil\u002BsyCPp\u[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bd1d38b-ec1d-a5f5-3182-c3cd2fec567c/test-blob-a6ebd773-0dba-d53e-5d32-9caf30782ba9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "/xYAUSzEetrFwKS0BIiFUg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D991BB7B6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-blob-content-md5": "/xYAUSzEetrFwKS0BIiFUg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "DIqri0fIU1u3K2QN7vnHED7E8/mfjzTYy9FUao5ynXgXde9Tdbi3EeHxDxxehmjCu5FrRLv/6X1W08B1dOnMRI7s9XkKc5qFDOIYrYAXekVpka79B1m8GIty/aL3QZ34JMqOcpDuuEf25TfZ5jz8Plh7DOI6zzw0L9ztmHb3jcpFH4i1iQe0etlmBiIi4zFPdb5JfDW6vVWNWUKzAR/R/1dsk8azR7VRxpEJ08kaEkurniO4rRGVi2IzKC/FAHm5lQbKtU9qnC4I\u002BLWjsOmLc0b2CGL8GFFG1ghkgB6Gi8YYUD3CT138QAL0r7Rb8tp4p7XpzvcWvH21hN5GBhsPgm3vil\u002BsyCPp\u002BshgB2mc6uQu69hpnb3OAZTADcp\u002BtTrm5S1HbGd6zN\u002BRA[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8bd1d38b-ec1d-a5f5-3182-c3cd2fec567c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "953535128",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
