{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f2324e83-9c31-6922-c53c-7f927155239d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D9BFDD391\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f2324e83-9c31-6922-c53c-7f927155239d/test-blob-b24cfec0-348e-2cf7-9490-ba5825eb1646",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "QfHi3wxqhopbjEJb\u002B9hTdrRHiNG0Fr8ZWPzSJqJ8ph\u002B9kwckbKgrnhoVsVDhqTJ74t/BtwhIWSsxyYcPl2Do3uYjnmjRLwoMHOq2nmRvOK/KV0PCu\u002B4WdDnb86IgGwa6LdNqvgvJqrPUtZoekbvHwpHYRUAcJSP3DCkv9Ttn6wHj/HCRBHmjAKyP7QVT\u002BOJ\u002BFDERSNXGnQivcrHhmrV4bcqZO5VKNr0XNEWUjDceoxRGsOAKVaIrHV5o4ZHIwWX3F4A6urxNM95z\u002BhOPMRHRkc\u002Bcm\u002BnUbRcnbh434lQsTnLfnXS24\u002BlX\u002BX0Cl1[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f2324e83-9c31-6922-c53c-7f927155239d/test-blob-b24cfec0-348e-2cf7-9490-ba5825eb1646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "uTVJrSMiTW7V1201s3SgJA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D9C0D7FB5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-blob-content-md5": "uTVJrSMiTW7V1201s3SgJA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "QfHi3wxqhopbjEJb\u002B9hTdrRHiNG0Fr8ZWPzSJqJ8ph\u002B9kwckbKgrnhoVsVDhqTJ74t/BtwhIWSsxyYcPl2Do3uYjnmjRLwoMHOq2nmRvOK/KV0PCu\u002B4WdDnb86IgGwa6LdNqvgvJqrPUtZoekbvHwpHYRUAcJSP3DCkv9Ttn6wHj/HCRBHmjAKyP7QVT\u002BOJ\u002BFDERSNXGnQivcrHhmrV4bcqZO5VKNr0XNEWUjDceoxRGsOAKVaIrHV5o4ZHIwWX3F4A6urxNM95z\u002BhOPMRHRkc\u002Bcm\u002BnUbRcnbh434lQsTnLfnXS24\u002BlX\u002BX0Cl1uPm\u002BtMllDCKyZ8IqppE0ueFVGJRqugsJScGq3lRaFs0da8mNIy6ks[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f2324e83-9c31-6922-c53c-7f927155239d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "683243632",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
