{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d804b59f-df05-c4e5-1b14-1d7383651346?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D994B8567\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d804b59f-df05-c4e5-1b14-1d7383651346/test-blob-cbafd728-bb3d-0b14-8f55-0c32beacfd4a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "IM1XdcrXY5ajh0utb4okN2w5QwngVqbnczw91nZTpJ6/mDrSjDIZWBbuGhj9scCa01tSn6qO9soncAKOmYwfUOOt7dZPUqs6H\u002Brz8TyO6cJ7ogMaAATzMKFwqxwwi7\u002BJzsk0UMPpSoCwGH/AmwWOmYY/EvaJBU/eubw036ePCpQraSJyWZn/kViCaeeFM5Wc4RKV8HjIAMl6VZYGtGvZIQ7rlTHjHD/sQIGeBptnWYYnmP2V\u002BRkbYmlY\u002BAMC\u002BdzsqUjZmZ1kucXSqLD3KvotEvwQ3hxtRCf00DPHiiQ76keksVxSjsDow984wlBpJDdvK\u002BUH8hrAf2Qg5M[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d804b59f-df05-c4e5-1b14-1d7383651346/test-blob-cbafd728-bb3d-0b14-8f55-0c32beacfd4a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D995BCE16\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-blob-content-md5": "dRBRC2mwiQXl1i5jNbDOsg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "aEtW0TDzkBk=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "IM1XdcrXY5ajh0utb4okN2w5QwngVqbnczw91nZTpJ6/mDrSjDIZWBbuGhj9scCa01tSn6qO9soncAKOmYwfUOOt7dZPUqs6H\u002Brz8TyO6cJ7ogMaAATzMKFwqxwwi7\u002BJzsk0UMPpSoCwGH/AmwWOmYY/EvaJBU/eubw036ePCpQraSJyWZn/kViCaeeFM5Wc4RKV8HjIAMl6VZYGtGvZIQ7rlTHjHD/sQIGeBptnWYYnmP2V\u002BRkbYmlY\u002BAMC\u002BdzsqUjZmZ1kucXSqLD3KvotEvwQ3hxtRCf00DPHiiQ76keksVxSjsDow984wlBpJDdvK\u002BUH8hrAf2Qg5MlqnC6hlr5pUnid2oM7Jxs8NYHXi6z7WF4\u002BNPgt4zL4Man3fiawlyy[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d804b59f-df05-c4e5-1b14-1d7383651346?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1339099165",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
