{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1862fd0e-0507-ddae-a3ea-cb9dcf289673?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FEF1C8AE398\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1862fd0e-0507-ddae-a3ea-cb9dcf289673/test-blob-b7e96df4-1974-62ec-fd0e-d6b8728a8b60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NWbonL9i4sFeMZlixiY4TrZ5B5l\u002B6xV408wNT3GF96ea21E/bJiRM1PoSyxpXMnPLYxjwM9w5UpQb8nzVJNQ2Tnxx\u002BvU\u002BeId59RFlZ/oD3YDPiHkIjfXKvUH7vzOnt7AmHLzd5Xd\u002BjSqRdj7K1CqaGBS8BVxa7cCGZ32zArmT0n1hf0t9ZfhJUTsOd1f3P\u002BlXYabe67JTiy68F345y4pxPaOBqVSfHLIccrRhDLaoz2dUG\u002BEStObLDbQcwQ56D4VwnXn0NZZUuET0grj98r64E0gWpa\u002BpXoi89lvggltjomMu8G889NnRP6NcHfJtzRr1pK3GY6oV[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1862fd0e-0507-ddae-a3ea-cb9dcf289673/test-blob-b7e96df4-1974-62ec-fd0e-d6b8728a8b60",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FEF1C9AB4DA\u0022",
        "Last-Modified": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-blob-content-md5": "OwvUCBUFAzgXn1ThbqzX8g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA1Zuicv2LiwV4xmWLGJjhOtnkHmX7rFXjTzA1PcYX3p5rbUT9smJEzU\u002BhLLGlcyc8tjGPAz3DlSlBvyfNUk1DZOfHH69T54h3n1EWVn\u002BgPdgM\u002BIeQiN9cq9Qfu/M6e3sCYcvN3ld36NKpF2PsrUKpoYFLwFXFrtwIZnfbMCuZPSfWF/S31l\u002BElROw53V/c/6Vdhpt7rslOLLrwXfjnLinE9o4GpVJ8cshxytGEMtqjPZ1Qb4RK05ssNtBzBDnoPhXCdefQ1llS4RPSCuP3yvrgTSBalr6leiLz2W\u002BCCW2OiYy7wbzz02dE/o1wd8m3NGvWkrcZjqhXHfvE3Pzq0NilQ4BXPAk97Xm5FZgwNAJZO6UDq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1862fd0e-0507-ddae-a3ea-cb9dcf289673?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 14:53:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1045171336",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
