{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-fb7494a1-6959-45c3-f70d-c1bb602940fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D0928186C2D\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-fb7494a1-6959-45c3-f70d-c1bb602940fa/test-blob-706adfa0-c77e-d9cd-30e9-e80600305f9f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "fdPrAEtjkuYSDalsnQIIpr7K01X4hgwN7g8zztG4/99MN0NpZU6shHlJp\u002BBKpoNsoEIMnZ9Lm/bG3hE7MMMVWQ3KH2W\u002BnkBvHU/cr94sw0iLxi2Pq2I/AZxNo4c9cFS1NE7TgIYdrgEBnX9Qb\u002BwXmhvIr2qVha6qih7Icfu5Maz7JnqQWEPCbRcsjg7i75KwNQlrdMDpH6\u002BfKPVnVD0GR2vTVEhxhkHYBkJSafefx5qMGDvyTbzrEQbL8S9NWhjaJUaiD5pJPq7Hk25\u002Bl7W4AGFb2zwCFPqu50NBppURi6spd0Sw/bf/QtmMKrlObHlRE/DO8X/c2BFM8yhXCJg[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-fb7494a1-6959-45c3-f70d-c1bb602940fa/test-blob-706adfa0-c77e-d9cd-30e9-e80600305f9f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:30 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D092831CAF4\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:30 GMT",
        "x-ms-blob-content-md5": "DHxweUJOhVQwsSIdcjXpJw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "JRKfu6/Xudo=",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "fdPrAEtjkuYSDalsnQIIpr7K01X4hgwN7g8zztG4/99MN0NpZU6shHlJp\u002BBKpoNsoEIMnZ9Lm/bG3hE7MMMVWQ3KH2W\u002BnkBvHU/cr94sw0iLxi2Pq2I/AZxNo4c9cFS1NE7TgIYdrgEBnX9Qb\u002BwXmhvIr2qVha6qih7Icfu5Maz7JnqQWEPCbRcsjg7i75KwNQlrdMDpH6\u002BfKPVnVD0GR2vTVEhxhkHYBkJSafefx5qMGDvyTbzrEQbL8S9NWhjaJUaiD5pJPq7Hk25\u002Bl7W4AGFb2zwCFPqu50NBppURi6spd0Sw/bf/QtmMKrlObHlRE/DO8X/c2BFM8yhXCJgZtgjCVSBxBwKpW5hjdepAYHrJ8JOkQ5ksTJ8zZAmPqDpAc3SxixdZ3wvtJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-fb7494a1-6959-45c3-f70d-c1bb602940fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1133336179",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
