{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5e88a6d-af5c-1465-b23c-7a070e0ad2d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D0A1A7FD7\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:38:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5e88a6d-af5c-1465-b23c-7a070e0ad2d0/test-blob-4ff1d7ab-1085-9a2a-668b-f521ccd55225",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 May 2024 17:38:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "MaQf8abdWKtHS3Mx3uzr/9y70m/cBv7riERBuqtaQUUyCUeEk20ZV0eBhIZXa9shshcKoEqI6iqlNGhhm54A7Aou/9WkZ2tvoXsnW4J3lBxoIAeTT6D6qR4d3l4FuLupgJh8KGwGfEurm/7PYY\u002BoLaBL\u002BHqWbJxpM1W2h4gMaem/ftrq\u002B2uwYqO76LShK0iOdbC\u002Bub9AEhP7EvUWT/XDnjIVEOO1vjI1m5bX24ToxwgNKBHXTrApfmvG7uh2mRKt\u002BEmBjBtk2Ld\u002BiB4paTaPE0vsCCfj61CC65F379BKvwGDKeM6ZjvtqU9aWcWR/xQ0NtqdiZHryQz5/6[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5e88a6d-af5c-1465-b23c-7a070e0ad2d0/test-blob-4ff1d7ab-1085-9a2a-668b-f521ccd55225",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:38:51 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3D0A29C21B\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:38:52 GMT",
        "x-ms-blob-content-md5": "8249eTwxVY2Ejh88KHX45w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:38:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAxpB/xpt1Yq0dLczHe7Ov/3LvSb9wG/uuIREG6q1pBRTIJR4STbRlXR4GEhldr2yGyFwqgSojqKqU0aGGbngDsCi7/1aRna2\u002BheydbgneUHGggB5NPoPqpHh3eXgW4u6mAmHwobAZ8S6ub/s9hj6gtoEv4epZsnGkzVbaHiAxp6b9\u002B2ur7a7Bio7votKErSI51sL65v0ASE/sS9RZP9cOeMhUQ47W\u002BMjWbltfbhOjHCA0oEddOsCl\u002Ba8bu6HaZEq34SYGMG2TYt36IHilpNo8TS\u002BwIJ\u002BPrUILrkXfv0Eq/AYMp4zpmO\u002B2pT1pZxZH/FDQ22p2JkevJDPn/oIns6ec0yR2mQFNUrQ//X9e[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d5e88a6d-af5c-1465-b23c-7a070e0ad2d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:38:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "595918598",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
