{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-930dd53a-299d-e356-2265-818da342c1fb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444D9B054306\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-930dd53a-299d-e356-2265-818da342c1fb/test-blob-4ec01120-42da-53c0-4cb7-5fb685bbb945",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ENE\u002BboLmac14VuflopW/0C1I7oSBhM2Z3qZXToQJ0P92rbFSE8i2t7bzxNhwGaCjOhglnr6\u002BWIsEpJDcjxtJboXnbvTkbLxlkjfNjcD0KMUFtBNr5DJAuFQlTm442SibqlVTiKqrvs5cwAuH8MvKD3zL19sH3opTp7afvh1NLLkOMuJroZ8aWvVFDyQmuceJWz/ybAJNk8zK/\u002BHzCwCwDpNSeL3oX23csHzlws5mLO3uFmPeW8C2wZ8WoKG\u002BJ071lAGQ1EEJofvRFbyFZ9D9ZNPzBPWc0rPTm7Ye0b/MHoku8C7N1Vis5HRoDUUDMVrOGTvOyiJZWMJNvTiK69A7BfYz[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-930dd53a-299d-e356-2265-818da342c1fb/test-blob-4ec01120-42da-53c0-4cb7-5fb685bbb945",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444D9B145318\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:38:48 GMT",
        "x-ms-blob-content-md5": "OplflSstOWwIheT9LmDx9Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "UoywRp7OuQ4=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:38:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "ENE\u002BboLmac14VuflopW/0C1I7oSBhM2Z3qZXToQJ0P92rbFSE8i2t7bzxNhwGaCjOhglnr6\u002BWIsEpJDcjxtJboXnbvTkbLxlkjfNjcD0KMUFtBNr5DJAuFQlTm442SibqlVTiKqrvs5cwAuH8MvKD3zL19sH3opTp7afvh1NLLkOMuJroZ8aWvVFDyQmuceJWz/ybAJNk8zK/\u002BHzCwCwDpNSeL3oX23csHzlws5mLO3uFmPeW8C2wZ8WoKG\u002BJ071lAGQ1EEJofvRFbyFZ9D9ZNPzBPWc0rPTm7Ye0b/MHoku8C7N1Vis5HRoDUUDMVrOGTvOyiJZWMJNvTiK69A7BfYzV3aiL497Rh\u002BBM8Vtz2pbULiE/VRm1JhsfxcfIvmjLAhPz9nkK\u00[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-930dd53a-299d-e356-2265-818da342c1fb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:38:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "157474519",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
