{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b1d5567-9308-be53-b6c3-9cbb36bd0afc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:03:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC79AF99A1B29F\u0022",
        "Last-Modified": "Tue, 21 May 2024 16:03:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b1d5567-9308-be53-b6c3-9cbb36bd0afc/test-blob-b997f8fb-d9db-7a7f-d34e-a5b1b9cc933f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 21 May 2024 16:03:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LVyUEvXqiRuCxm1nianLklUuvXHcr0gpkfTMkP9CCnBfuXyWj1t4EzvF2e2DJxUPAro6HJ/PdH4TaoABHvgcP7v8CNAtNQL6tqo2FtZbpWnevI5FCO3Rj0T9giXbd/RCqZoxhh9F4cy4QGb1mV2nuMUWImJq1jbOK3iLL7PdHj\u002B18208KR9JmdrBjciH3PbmVslfxFWS2NJjY1unubIZ2yEnP6bwa4\u002BmzYiHqEluRk\u002BBpdnpfVrqIxub2MXDouAoqLKnYJxQ9uo5uffMCy\u002BI9R0LJRPYL13GPByKVJLK4iqnXgCXxuazMa7usMNjHRfrEuKouHzMUHhU4CN/xaFXb9fM[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b1d5567-9308-be53-b6c3-9cbb36bd0afc/test-blob-b997f8fb-d9db-7a7f-d34e-a5b1b9cc933f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:03:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "7EaNLNqHYermBEz6Pov0BQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC79AF99B54779\u0022",
        "Last-Modified": "Tue, 21 May 2024 16:03:48 GMT",
        "x-ms-blob-content-md5": "7EaNLNqHYermBEz6Pov0BQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 21 May 2024 16:03:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "LVyUEvXqiRuCxm1nianLklUuvXHcr0gpkfTMkP9CCnBfuXyWj1t4EzvF2e2DJxUPAro6HJ/PdH4TaoABHvgcP7v8CNAtNQL6tqo2FtZbpWnevI5FCO3Rj0T9giXbd/RCqZoxhh9F4cy4QGb1mV2nuMUWImJq1jbOK3iLL7PdHj\u002B18208KR9JmdrBjciH3PbmVslfxFWS2NJjY1unubIZ2yEnP6bwa4\u002BmzYiHqEluRk\u002BBpdnpfVrqIxub2MXDouAoqLKnYJxQ9uo5uffMCy\u002BI9R0LJRPYL13GPByKVJLK4iqnXgCXxuazMa7usMNjHRfrEuKouHzMUHhU4CN/xaFXb9fMJa0v8S42WPRl6n\u002BaYx8FnkKvISmu2g6IQ\u002BbDM2wNlkDrl/dq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b1d5567-9308-be53-b6c3-9cbb36bd0afc/test-blob-b997f8fb-d9db-7a7f-d34e-a5b1b9cc933f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC79AF99B54779\u0022",
        "x-ms-date": "Tue, 21 May 2024 16:03:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "7EaNLNqHYermBEz6Pov0BQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC79AF99B54779\u0022",
     [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b1d5567-9308-be53-b6c3-9cbb36bd0afc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 May 2024 16:03:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1321753648",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
