{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94768779-dd63-ede8-4b2d-5118bf6c3654?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DD51D7EC3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94768779-dd63-ede8-4b2d-5118bf6c3654/test-blob-88914a0c-f700-7e32-5a94-6f75f6e99791",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "RwF6X2lSckheTkRUhmI8vJAH6XNIwF5w4XSAapVL9iFlhD6vFD3g3NncF6ZODmoQoN9MKkQ3iYaiCn310QezElgj7wIjjKhTJwyabKm3IdMJcMq1/8vdLvq4DQq/6wvRKAVOKh9n7RM2\u002BQM3nB3d6uiq62A9/ROMRsEIa3\u002BekzwByEOkafezoYO2fwXIpZHc2iIhFP\u002BqkyrxweReX4KUmGbGNtTZOYDx9kndh34NxKAwLJBcfH48VzUYsqgSVUIBIeafAW\u002B9AqGhMB62zAys4/1DLjPxOBvnit6fwIbY3qEG3GWYbsIxcynvukxghYoobM\u002BqzicPD\u002BnKt3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94768779-dd63-ede8-4b2d-5118bf6c3654/test-blob-88914a0c-f700-7e32-5a94-6f75f6e99791",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "UqNRQdlFn6MGb1BHu6lK6A==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD52C19A6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:25 GMT",
        "x-ms-blob-content-md5": "UqNRQdlFn6MGb1BHu6lK6A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "RwF6X2lSckheTkRUhmI8vJAH6XNIwF5w4XSAapVL9iFlhD6vFD3g3NncF6ZODmoQoN9MKkQ3iYaiCn310QezElgj7wIjjKhTJwyabKm3IdMJcMq1/8vdLvq4DQq/6wvRKAVOKh9n7RM2\u002BQM3nB3d6uiq62A9/ROMRsEIa3\u002BekzwByEOkafezoYO2fwXIpZHc2iIhFP\u002BqkyrxweReX4KUmGbGNtTZOYDx9kndh34NxKAwLJBcfH48VzUYsqgSVUIBIeafAW\u002B9AqGhMB62zAys4/1DLjPxOBvnit6fwIbY3qEG3GWYbsIxcynvukxghYoobM\u002BqzicPD\u002BnKt3eQHUEbyFF9r\u002B\u002BnFHQ6ErsJAn7PhwRUdlS3LhB59818zbdLoF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-94768779-dd63-ede8-4b2d-5118bf6c3654?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1153832130",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
