{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-141a2dba-ec2a-cf41-0dc6-7218bfd98c58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EB03D7B56\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:52:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-141a2dba-ec2a-cf41-0dc6-7218bfd98c58/test-blob-e5ed8bea-617e-f8c4-64d2-a3af6c1ca910",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "tSUHdFMLe2rzzcHtgKXC8qwWtNdLG09XfpBaQMdj7ewm5mKa0hgE0BXxESOhwQoTJzMwy2zIQZrWr/bDsDuij9/Vx5pDJyCUEePBWQostbyFRxiUMyJ/XqTHxCIiQSDaToFDzPlw0P8TnLmJBueQqfo5PWkiDly9Vmj1e2P9ctDD5wuI6OnDFXcZgJZp9Vi8Nxon6QO2tz8khnWRelScFSroxh/cB8ERdijyCY3GU2AQOUNI1YnNDC/LY2JzMZsifGtrgS844C9ZFnLbxK6yXjIVgEEQVD+hGrrvEaRenUSMz40iWtIx11gU7r8W8keBGQUvXrFZESgryWZ0SM+L+3kuTvUhjwNg46jo/GWAiyhz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-141a2dba-ec2a-cf41-0dc6-7218bfd98c58/test-blob-e5ed8bea-617e-f8c4-64d2-a3af6c1ca910",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:40 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedHeader</Code><Message>One of the HTTP headers specified in the request is not supported.\n",
        "RequestId:43047ca3-201e-003f-1257-656817000000\n",
        "Time:2025-12-04T19:52:43.0390652Z</Message><HeaderName>x-ms-structured-body</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-141a2dba-ec2a-cf41-0dc6-7218bfd98c58?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:40 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1045029142",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
