{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d1f2a7fd-3210-42d5-fa77-fcdf17dee879?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4DC56CE1386F\u0022",
        "Last-Modified": "Tue, 26 Mar 2024 18:49:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d1f2a7fd-3210-42d5-fa77-fcdf17dee879/test-blob-c200ada1-f652-fe38-d441-d0122c92b6d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "sVhCgNlO2MuH/lUSafdHO7QrYnWLkVat1MfBzHLBlAJ4FS2/nGigwKhFw9z6v8AY/INfg5WIWyAClKsRjAtYxmpSmVTJiJ9MiqHMRc55sxQGqc/uYRBs8LkNvQe9jzSd7fxypyZsT3TkE/jzvBZSiOGWCuM8aWVZ5amavMqXj/ttL1jRBgvumlpbCk0YeDOiujQmJoRQYIOXGMJ80ZKpTIT8hoy9gYHVp3CJ4F8XQWx1\u002BAGWcGh2Hc7VOe1JcsjHsr3IG/Km5DmyUX4Ux4AjgNdVBtmREtsbhmm\u002B6EiTjDWnwS6hTiV6zhPH4x/qYVVOsbkW82vuNZ/irZWJ6PzxHsRIbQVRgjGy2j[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d1f2a7fd-3210-42d5-fa77-fcdf17dee879/test-blob-c200ada1-f652-fe38-d441-d0122c92b6d1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:10 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EUnsupportedHeader\u003C/Code\u003E\u003CMessage\u003EOne of the HTTP headers specified in the request is not supported.\n",
        "RequestId:040b5399-701e-0001-5aae-7ff7b0000000\n",
        "Time:2024-03-26T18:49:11.2293265Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-structured-body\u003C/HeaderName\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d1f2a7fd-3210-42d5-fa77-fcdf17dee879?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 26 Mar 2024 18:49:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "815462337",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
