{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-759d77dd-5419-ac43-8175-16811dbdbeb1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C56AB625D\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:59 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-759d77dd-5419-ac43-8175-16811dbdbeb1/test-blob-8303385b-94a6-b9e7-6ced-a5896601fa5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C56B6C7FC\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:59 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:59.1836156Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-759d77dd-5419-ac43-8175-16811dbdbeb1/test-blob-8303385b-94a6-b9e7-6ced-a5896601fa5d?comp=block&blockid=bA1uQXVwJQMpBhNjkEJJyDX3NCwM4MzmvjkGJooYxe1AKqfR3aH0M6YqVzQaS2sU",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:58 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACUga7t2PE7t+mGQgxlSQ+VoNL7v4b32Y62LJzTkwmJBM/UZRw952uUIn/dUZ8g1KTq/eO7M36TnacfN6xUaCTf/T08kePzV7hmZpwGGYjvllj36JUlzdBRQMh0HrC/QLpb/VRh40LB96UrVM3hjYMfL6FTXX+OuS9s61AafjkHpybhqhszjbIVNfHw+nkDb7JEVe4Pa+I6zUQk9fjxp3hrI62n/+Jo66LuPieOnr+2aXue1ShL+DtDpt3XD5i5I454hNfLW2/Q3GpMIC27rC6Ebot8U9FQICtxZFkFkNwJNRqYFRro6g0Lzvm+/tcOh/quUqANPM+9KGOrWvcWykuOQusTI5cUnIR9cIXYkSFTY9xfVj47/PhK2+22PI8W9QOtL7zs+2R[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-759d77dd-5419-ac43-8175-16811dbdbeb1/test-blob-8303385b-94a6-b9e7-6ced-a5896601fa5d?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C56B6C7FC\"",
        "x-ms-date": "Thu, 21 May 2026 21:02:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>bA1uQXVwJQMpBhNjkEJJyDX3NCwM4MzmvjkGJooYxe1AKqfR3aH0M6YqVzQaS2sU</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C56C3E200\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:59 GMT",
        "x-ms-content-crc64": "sDnvzRlkJwI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:59.2704784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-759d77dd-5419-ac43-8175-16811dbdbeb1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "640963055",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
