{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DED0D678D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DC444DED1C9F2A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:06 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=AAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=AAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=ABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=ABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=ABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=ABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=ACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=block\u0026blockid=ACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "MurPT20Zk/k=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706/test-blob-8881d70a-b2ed-e7de-dae6-1ade871271bd?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8DC444DED1C9F2A\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-02ebb6e0-4373-c049-0e5d-5943e9e75706?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "84643411",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
