{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12255f9f-82f4-14e6-6227-e59ab1be501c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3695611621DB\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12255f9f-82f4-14e6-6227-e59ab1be501c/test-blob-a2d450c3-0d93-1cf6-c942-f1883dce5e31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD369561256E0C\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12255f9f-82f4-14e6-6227-e59ab1be501c/test-blob-a2d450c3-0d93-1cf6-c942-f1883dce5e31?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAClFFFqhqNK9cyhZY726+YJB2o/d317a1yf/QR1WKYOr1oTVRkGtfS47koJD4RgX5WRR+ULvpP6Kqn1y4if1J0lkrU045bMAlJ2hokycVzXPp5u4xDBAvHGGCtwEOlrGRqt43zOK3v/xUSTlTcKyLhNHo3qMPCNZJDEbctqW/JoCm1uhY7fCRMibx7LLm25vE9yI/JcgegpIH/sCr2wlGlSKorJm0IqbRR5x8HSwTUiCrF7+Dj/DIiFRWUP8v9Vctq0eQTj7yANSLXd4ronVl5Jyf8MNJwwUh0BRFbdGnsVI1XmHUcxPxqQbq+DISnOXu4GxSgAST0+gybm4avKLy05x75lQDkWF4rke8bsrTH0M+Zo1lVSFdoXp5khS15vxj6BSVlqaR2[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12255f9f-82f4-14e6-6227-e59ab1be501c/test-blob-a2d450c3-0d93-1cf6-c942-f1883dce5e31?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DD369561256E0C\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD36956140F97D\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-12255f9f-82f4-14e6-6227-e59ab1be501c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:22:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "305637882",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
