{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-03f21045-7614-1aa9-441d-2ef517a19ebc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DD7539840\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-03f21045-7614-1aa9-441d-2ef517a19ebc/test-blob-21f36068-19ca-c323-048d-4efee1f72fbd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "TPwuOdQcmmA/\u002BhUi5CuXW1dRsFL0D/i0eTa/OSuN\u002Bm0yEzGFu4wIKCtMTsjYcpvAiF7sqs9tiTwEeb\u002BeXWE0sgCo79H5Ep/KSYgmqMAv2waa/rHNoE\u002BexIn0gULNasrJF5zIMILKxnW\u002BIWFGRuF71J24A16wZhGwCStHBJBd/d69XZAkZ6uE0Dg7Dn/tWH2oeKykFGdsGbGKGCZWgsLlYSSDiOlRV23yNDMmdVeSwrGun4vjuOl3UUPemU\u002BELU11Vq1aas\u002BTViE/st80RqRZ\u002BFV1qOM2Aag6DDelcr0ebQblsB6qN1jhGkhqpAYJQgqfhaH5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-03f21045-7614-1aa9-441d-2ef517a19ebc/test-blob-21f36068-19ca-c323-048d-4efee1f72fbd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qLGHLjvWVxQfDCQZABGIJA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD7689BD1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-03f21045-7614-1aa9-441d-2ef517a19ebc/test-blob-21f36068-19ca-c323-048d-4efee1f72fbd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DD7689BD1\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD7689BD1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-blob-content-md5": "qLGHLjvWVxQfDCQZABGIJA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "QgVP0c1iQ2U=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "TPwuOdQcmmA/\u002BhUi5CuXW1dRsFL0D/i0eTa/OSuN\u002Bm0yEzGFu4wIKCtMTsjYcpvAiF7sqs9tiTwEeb\u002BeXWE0sgCo79H5Ep/KSYgmqMAv2waa/rHNoE\u002BexIn0gULNasrJF5zIMILKxnW\u002BIWFGRuF71J24A16wZhGwCStHBJBd/d69XZAkZ6uE0Dg7Dn/tWH2oeKykFGdsGbGKGCZWgsLlYSSDiOlRV23yNDMmdVeSwrGun4vjuOl3UUPemU\u002BELU11Vq1aas\u002BTViE/st80RqRZ\u002BFV1qOM2Aag6DDelcr0ebQblsB6qN1jhGkhqpAYJQgqfhaH5D4VpP1UEIF2Y7eRjIETZTpaFr8D8k42bzFyiMcksBu0cJF6Be3DJpRf6SSxkBoPBMPR0Gdbh/Xv3znP4Ye6UbOf2R/zlV9MluwmpAUphNsXY4QHVuOwWOyfjiqz90UMoZt1Fbb\u002BH29ggTl7MOPsxlZitH4Dtv7P64AzVAs0mJ\u002BrFgJttG8kGUQUptGmOSQIssvQUULHDO6cpSo2ystkK\u002BiZzB7dfw3nOps56xApKbJYJqVDYEtc5AkT0RNE8U58sHrlCG0JLzO56RaniSHec3972qQiIMuhPOQRya3\u002BoklMuTaZQB1FTvtxiXswtVrnNV2TzRaqWpOvR8\u002BE92GBu0rNWtPvQS9eNo\u002BssJtM="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-03f21045-7614-1aa9-441d-2ef517a19ebc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2007771781",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
