{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c5ffddf0-11c6-2c9c-ae7d-ebca2a1ad4df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F82944523B\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c5ffddf0-11c6-2c9c-ae7d-ebca2a1ad4df/test-blob-fc9e1796-bb6c-2afa-abf3-58006b5b7bc8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 19 May 2026 22:44:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB5F8294B71C3\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:18 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:18.2516163Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c5ffddf0-11c6-2c9c-ae7d-ebca2a1ad4df/test-blob-fc9e1796-bb6c-2afa-abf3-58006b5b7bc8?comp=block&blockid=9Fm6xFMMsMLmNKn5UHlG6R9E5tIDNByzw%2BHqtL2iMHpYyim2iCsCFW9PHUTYjXk8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:44:17 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABfv2dLDx2ahysTJk6fi3zJV1PwXXDow0BNrSFUoeMmedUgsfB92oi8MiLACLJecUzN/ndxNUTgdvwm/mL8ReVI7ax5ftqMTHzLNCpOKLuN7zvUh6NstESQQDr0VtwlwOw8dxsG5PJyQLL6pQAakk5BmQ4mJ71C3Dhn6D6fmPWgpXQ9EbCfhwpIYkfwcQ9Ddq3ssr3N/pgv+pvinvy00qi8Wf+M3ICdohID3sV2UWopJHKRs+U30qbbDhYVvOgOlI+eMxgPt5ksTg+ryiDTuKkxuXqJIx/ChIZYsc1qiOYp9Uk12B1RGW3YZGTVjAiGB1Zt4wNuhHFw26+RtgXLwsYpgdTXnt+M358NsL667Ph90ql3/KTiu3DYxPxuwGJnDKGerAs0rml[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c5ffddf0-11c6-2c9c-ae7d-ebca2a1ad4df/test-blob-fc9e1796-bb6c-2afa-abf3-58006b5b7bc8?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB5F8294B71C3\"",
        "x-ms-date": "Tue, 19 May 2026 22:44:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F8295E7CC7\"",
        "Last-Modified": "Tue, 19 May 2026 22:44:18 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:44:18.3774167Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-c5ffddf0-11c6-2c9c-ae7d-ebca2a1ad4df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:44:18 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "615915916",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
