{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c939e62e-ca8b-425a-c5c3-fb5a6b83f142?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF91DB74ADC\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c939e62e-ca8b-425a-c5c3-fb5a6b83f142/test-blob-d2f19de0-1dd9-a940-a154-f21974b56d3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "S0KNbHJk6\u002B\u002BwasX0M27/pfTpBaedmmaoTy1ekYk5UP5Nd58AkmOf8Nj3pnIoFzGchA8Hlf\u002BhgrHc5BxFBlpldhnGp7zP/xOQSRXPpvT0gDj8wQx6Mrr\u002Bq/XuI65HWup\u002BkS9YYW90zYX8d0zq0ty86GPjSURN60Rex/zH4NtkSe4qURTEmx7Ih/SHfbtuFNgYMTtKYxGmMKXr\u002BZlzre2ply1dv4HH\u002BExFG8FPxW2I8LMjrq6fGuXdhCBu2KKEVNoH3eaNEVRXUTnuBUhPVmo4YwnmUP4\u002BCX1IfztgWB\u002BqwMbmSOiH\u002B95fzFx1sR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c939e62e-ca8b-425a-c5c3-fb5a6b83f142/test-blob-d2f19de0-1dd9-a940-a154-f21974b56d3d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zshN2bPWSKt8lbYp/Z5QOw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF91DC60A60\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c939e62e-ca8b-425a-c5c3-fb5a6b83f142/test-blob-d2f19de0-1dd9-a940-a154-f21974b56d3d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF91DC60A60\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF91DC60A60\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-blob-content-md5": "zshN2bPWSKt8lbYp/Z5QOw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABLQo1scmTr77BqxfQzbv\u002Bl9OkFp52aZqhPLV6RiTlQ/k13nwCSY5/w2PemcigXMZyEDweV/6GCsdzkHEUGWmV2GcanvM//E5BJFc\u002Bm9PSAOPzBDHoyuv6r9e4jrkda6n6RL1hhb3TNhfx3TOrS3LzoY\u002BNJRE3rRF7H/Mfg22RJ7ipRFMSbHsiH9Id9u24U2BgxO0pjEaYwpev5mXOt7amXLV2/gcf4TEUbwU/FbYjwsyOurp8a5d2EIG7YooRU2gfd5o0RVFdROe4FSE9WajhjCeZQ/j4JfUh/O2BYH6rAxuZI6If73l/MXHWxFJ2NLrY2dZieBNvI02lFkhj2\u002BBlERYFpDYKwaCqHhKHJWGiq8Q2qIaoRIcILfxQetUxG1mRbbM8cJCA0hQ1tF4A6/3oBmqALS9duMiO\u002BXo1tkrLeQK49beyYjs3sdpudowpC0YCZHBusOoqM7TmsXsaSxvJaj9bR/JKOaAvSHtU70I8Ye40N1HWWMgUjsH\u002By6zAGWbCpQhQ0cNTuC7QP2Ry0URyqlOI5hfJ9xF3QrksS233bzMUlko575Aq4HsnBh1jpb15jCFdNzdS\u002BK363Y8KJ2y83NA1Wj7\u002BOL6/XgGYpuz0E5z7srtMljf7xZ2YPxIFIL0KZilJLkt\u002Bf1dmndkxtlXBBsnyDnC1bEaYOZShZfmoujxCDy1ZWSWteEIPLVlZJa14="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c939e62e-ca8b-425a-c5c3-fb5a6b83f142?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "468816868",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
