{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-04fc336b-702a-49be-cdd5-6716e25830a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF91D04C3D4\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-04fc336b-702a-49be-cdd5-6716e25830a9/test-blob-6ab4a9ad-1002-9edb-5587-2e2563ac4777",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "z/6eWUKS9WVBhdBfTjC9BkM4udPvVgghhfuLmbCe3aoUr7\u002BNKDjtyhkDmRqA8PYf8k0PYM/jg3n2fNRGBly0oqglS59wMN4KSu\u002B67LztoZQEa6ZijnzbMStGl6xjpsO9TvZyWqVWr8JvBBXfKJe8CNtAQZq1UhMrSRl0Kpkxp6Qs/Z3Ge0burrzj8opn/AiUiY7QI2QoB/zjRxCL4oQpPl1xsyv59Y2UUZPd0V\u002BJxE0R4KAKYYM/A/Wh4zM2Yss4urQs9UndmpQBO9HRSzacWYPDegLjHtzZMbA1VxJZXu/HpRaqXc4ENEUMCCWybri/BImwc\u002BjJVZvXUsOZp0KBqN3i[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-04fc336b-702a-49be-cdd5-6716e25830a9/test-blob-6ab4a9ad-1002-9edb-5587-2e2563ac4777",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zxSnEf/a5PiqjDQSwIblGg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF91D13AA7D\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-04fc336b-702a-49be-cdd5-6716e25830a9/test-blob-6ab4a9ad-1002-9edb-5587-2e2563ac4777",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF91D13AA7D\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF91D13AA7D\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-blob-content-md5": "zxSnEf/a5PiqjDQSwIblGg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADP/p5ZQpL1ZUGF0F9OML0GQzi50\u002B9WCCGF\u002B4uZsJ7dqhSvv40oOO3KGQOZGoDw9h/yTQ9gz\u002BODefZ81EYGXLSiqCVLn3Aw3gpK77rsvO2hlARrpmKOfNsxK0aXrGOmw71O9nJapVavwm8EFd8ol7wI20BBmrVSEytJGXQqmTGnpCz9ncZ7Ru6uvOPyimf8CJSJjtAjZCgH/ONHEIvihCk\u002BXXGzK/n1jZRRk93RX4nETRHgoAphgz8D9aHjMzZiyzi6tCz1Sd2alAE70dFLNpxZg8N6AuMe3NkxsDVXElle78elFqpdzgQ0RQwIJbJuuL8EibBz6MlVm9dSw5mnQoGo3eIJpR/y/LS/RrzWFrcnw/h2U4mo6wb\u002BT3rSCgprjAOLYEfQZBKfEoz7tKINf4UgKwCgMO/4//LbC1akIPKpVLm5S7VvV17l1kH8rDdk8dD1sd8KylwTkmBV9Fm7\u002B/GaUWDpUzTPsNOhu1mu/FK7dxqGr24Sn4lcpbhVGmMEKttPYVvWe52cJQELaA8CZZYNmXw/NUuDiLLWjK58epZwnZB\u002BX5r35Px86optBjd6Wj8hR4DmxfSPy9ioAO7vH6prm8t\u002Bgwb7FrWAwkvBFoF7WzFuWjMVitec7pPBT\u002BMNjcrfAWtr/NY5JTHLZQKpzbRXLaW9gMV3VRHz4ZRyOcfRcqRbP6xmRcOFpFs/rGZFw4U="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-04fc336b-702a-49be-cdd5-6716e25830a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "32604926",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
