{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-84e8d7fe-7f2a-fb99-7e45-6a520820a982?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EA194C3FC\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:52:18 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-84e8d7fe-7f2a-fb99-7e45-6a520820a982/test-blob-95fa0e9c-e691-4753-04ee-c1cd130308dc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:15 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DE336EA1A107CD\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:52:18 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:52:18.4293325Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-84e8d7fe-7f2a-fb99-7e45-6a520820a982/test-blob-95fa0e9c-e691-4753-04ee-c1cd130308dc?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:16 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADjp7SIEt5IdfZ96fjLHoPA1eMTbz1gRmbmDXybUXMYuArBl9AJ53RfUG5Tvn11NaRWd5duz7i1gmFNogVirSOCZTHtCYeytu5vtB7PDYjpcdfXRNrcquhSDBRvvERv/aJK0FhLhysdo8Co/hqZ5nXZYzEtimhJprtImv1yQ/qqALZ8hDwunemruaEZM6vOuSaflVgSQXI5ASqdA+0uq1/G/v5kHGE4qsZIgdHHL3IPeuHW062hl75EQoMRkZr7fQ5BUzSsaZzFZuuSysChctG4jokLV9iyJGdAH9rdJxkrTAPDhtw+YhBFEWzCD8z9otCyWQMR8CY1ji7NbErB5z7SZn283uz1eSt4xkVr8BSaQnwKK80WGlzdjfetcPbGgyou76lPQcT[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-84e8d7fe-7f2a-fb99-7e45-6a520820a982/test-blob-95fa0e9c-e691-4753-04ee-c1cd130308dc?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DE336EA1A107CD\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EA1AD2F18\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:52:18 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:52:18.5099816Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-84e8d7fe-7f2a-fb99-7e45-6a520820a982?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1889128203",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
