{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c4a9c4-84f4-bc7e-7c82-192de8d75a06?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DD9708478\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c4a9c4-84f4-bc7e-7c82-192de8d75a06/test-blob-270a0ebb-c550-7f82-bf94-7a234d6f11ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ICelf8ia9\u002BnJ9Qz6vQz4bwHZGaqhySzU0eYFnlpQLeSIT1GbZwJ3eUdLxuQdD3PuWRCOxwnG1Vb70K3ilFiPeccncW66XAj\u002BYZ9jVgNHt8JyF0RJwmbbwXr6oJZUleXuvE0d9Z0EM/wHj2VpY35Tsxnrb30URrZhTK/zv7xyqsy6dJq1KsEkbeNHQTIAcV77p\u002Bx8aCVn2XWXu6juEXNAleWZru7knolXxwGazQSDYdtR\u002BBjP9UGnU5skHm4YNVxwB6tNZ8JvFghjJKEjzAxxE1rNnRhacJ\u002Bj8VtTwIAaP5KlKsZYNvkY4uEQa9Cfg4aOswoUS5hDFZYMqXVnG1a[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c4a9c4-84f4-bc7e-7c82-192de8d75a06/test-blob-270a0ebb-c550-7f82-bf94-7a234d6f11ed",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kK6r3/kmcM9b4f9TQYHl7A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD98030DC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c4a9c4-84f4-bc7e-7c82-192de8d75a06/test-blob-270a0ebb-c550-7f82-bf94-7a234d6f11ed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DD98030DC\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD98030DC\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-blob-content-md5": "kK6r3/kmcM9b4f9TQYHl7A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Gx5HzcLf5LE=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "ICelf8ia9\u002BnJ9Qz6vQz4bwHZGaqhySzU0eYFnlpQLeSIT1GbZwJ3eUdLxuQdD3PuWRCOxwnG1Vb70K3ilFiPeccncW66XAj\u002BYZ9jVgNHt8JyF0RJwmbbwXr6oJZUleXuvE0d9Z0EM/wHj2VpY35Tsxnrb30URrZhTK/zv7xyqsy6dJq1KsEkbeNHQTIAcV77p\u002Bx8aCVn2XWXu6juEXNAleWZru7knolXxwGazQSDYdtR\u002BBjP9UGnU5skHm4YNVxwB6tNZ8JvFghjJKEjzAxxE1rNnRhacJ\u002Bj8VtTwIAaP5KlKsZYNvkY4uEQa9Cfg4aOswoUS5hDFZYMqXVnG1aISeUPfqJGGN1gtLs3SgTPA23UxQ11BvP5YRQvTIyEscaKhyLqkAXjR5ots5bdDMqRPKUHklVJEkLyFR2NFstR3AP0rMLi5HNo8H1yR1NcHFRKng/mfB5xQXTf\u002BHvoVTHO3NaT6GAIrlgyn6HY1svvlfjIQ3e7amDkg2tNAuv4gJtMo2t8yDP0Qe\u002B3s919mGqp72OCHxK5E3F2r2X0uqtsOh4GizNgc8zE1AGHBLaCZuoApBOIdWCIkpD5BhnO/4dESnm\u002Bdg03SXyWvUsQMQ6780l78xaY5MS\u002BffmiZmyz9tR6Q7k9xO/dyVqW8bgUeGGBPhLQUwtwq2a0//kTlOIP4sc="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-13c4a9c4-84f4-bc7e-7c82-192de8d75a06?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "547964643",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
