{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-aa7af119-bedc-8708-af7f-bde17270f78d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C40AC4CE5\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-aa7af119-bedc-8708-af7f-bde17270f78d/test-blob-297eda70-0198-3781-bbfd-5b39a02c0bd9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 May 2026 21:02:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DEB77C40B87FA1\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:22 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:22.2849953Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-aa7af119-bedc-8708-af7f-bde17270f78d/test-blob-297eda70-0198-3781-bbfd-5b39a02c0bd9?comp=block&blockid=HczfOZjHpiJ01TEA4fXUytawnxrmi2z0020pmQHKTXNmMQMC6cttqBEzt7Wu1ztd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 21 May 2026 21:02:21 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB9HafGyZrS3u7ZySLnc6FuX1cEtmMaHgudHHYHWqcg881IF8iZWZtD6S/tlhbtZ6P3cvsp6TUrYv6cKK0ky4NGuNVVn1zY1Aa8wc00LYj0sLXTD+es9wqXHbTJ/TDuHh6rpt1Al8hGHp71bCho9jV2qHj3ULubmsHLvYKoD9fVzaKviIaqsxjsjPBJtoriLyZ+U1W49s5iDwwcddpFng/GIJ+FuG2uy/RfCsTKUeM26I1bKbyCHdbUTHl6jj4+p+7hg5brXHa40IdgWOsJmL0o5YxM6XRTRALIsWz0NDy2IWPV6M5NS4wWo1k0IcTryrS7Uamx8r15jT6TIqoKw5tKqjeHM6/v25kANUYbHiM+3ee3OeKTBC+mXFqPuSnhC9+96naNY5Y[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-aa7af119-bedc-8708-af7f-bde17270f78d/test-blob-297eda70-0198-3781-bbfd-5b39a02c0bd9?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DEB77C40B87FA1\"",
        "x-ms-date": "Thu, 21 May 2026 21:02:21 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>HczfOZjHpiJ01TEA4fXUytawnxrmi2z0020pmQHKTXNmMQMC6cttqBEzt7Wu1ztd</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB77C40D598A7\"",
        "Last-Modified": "Thu, 21 May 2026 21:02:22 GMT",
        "x-ms-content-crc64": "FbdUtAPNHZk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-21T21:02:22.4766903Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-aa7af119-bedc-8708-af7f-bde17270f78d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 21 May 2026 21:02:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "847204404",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
