{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ae65d8b4-c4c3-8df1-289d-30dc3f2272f8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DD647A69F\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ae65d8b4-c4c3-8df1-289d-30dc3f2272f8/test-blob-bcd79ef8-4e6e-8659-80ff-d4eff9639fac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "IDPg\u002Bun1X6XPt2Yy1RqP3DRkXLfE7UNj0naarFBA1xZeUrbKa2/iiSe4tf1yTQvVkuGUcdN61zPwfSdzWrNVjuBP1IJkxHHFgtOQCzdF8IVqxRlvrGVC43qD2u1Hbi5zYicdInmJcc1vz\u002B8A6sz7qo2iCZWa5uF6DfAH4eqDfROkHagQKM0M4VRL/9x1Qfmuhy9gpGWZ2HxFohWIgY/j7FHcXM0j64G/lidBT\u002BcFBMv3WFm7I9mtCkQsyoa4g1/EaBOKmeUsi5yuoQ09WImVQJ1JkCk1KMh3LlGI9iD6BhPIfObTemvmy829DIHMb7K6l4rpbvM2jkBKEmuTo5R7s5v6dduiw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ae65d8b4-c4c3-8df1-289d-30dc3f2272f8/test-blob-bcd79ef8-4e6e-8659-80ff-d4eff9639fac",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "\u002BrenWH466iKmVnh8wp078w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD6572BFD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ae65d8b4-c4c3-8df1-289d-30dc3f2272f8/test-blob-bcd79ef8-4e6e-8659-80ff-d4eff9639fac",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DD6572BFD\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DD6572BFD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-blob-content-md5": "\u002BrenWH466iKmVnh8wp078w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:40:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "IDPg\u002Bun1X6XPt2Yy1RqP3DRkXLfE7UNj0naarFBA1xZeUrbKa2/iiSe4tf1yTQvVkuGUcdN61zPwfSdzWrNVjuBP1IJkxHHFgtOQCzdF8IVqxRlvrGVC43qD2u1Hbi5zYicdInmJcc1vz\u002B8A6sz7qo2iCZWa5uF6DfAH4eqDfROkHagQKM0M4VRL/9x1Qfmuhy9gpGWZ2HxFohWIgY/j7FHcXM0j64G/lidBT\u002BcFBMv3WFm7I9mtCkQsyoa4g1/EaBOKmeUsi5yuoQ09WImVQJ1JkCk1KMh3LlGI9iD6BhPIfObTemvmy829DIHMb7K6l4rpbvM2jkBKEmuTo5R7s5v6dduiwcUyY8VbeBtHq76fzl\u002BWEZcfke6miWf/Uig4Qljm0vrWF9XEtgst2hYkA2es89U05aID2uTt/DdeMhCdIjbCYNnEyLaJ0VqM8rfXgYYAUl9SBFy24/cV6RudZoP6kLffYaKN6CseqxNHd\u002BctFXqxXuCxSh7ZDH3hrt\u002Ba62vXkWL/\u002BB/kcmozNFhJb2sP6NOh7AijSUWYBlUkqzlMg7\u002BocOWFLR1azex1fRbGkJ0R0sYL\u002Bf9jM0ccZvHKv8Yw57CZof6Fibu2Rh4cLcsv0nW4E9lzQIrARDydacYrkA4lRZZlLO\u002Bei0gLVbPgRwV87JN8EqzsvKcm2FzC6B8="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ae65d8b4-c4c3-8df1-289d-30dc3f2272f8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1140264111",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
