{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ee7aa09-a319-420d-f23b-ee1907148b02?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E8805E63A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ee7aa09-a319-420d-f23b-ee1907148b02/test-blob-a4e49f5e-261f-a32e-a22f-b5eedb75d523",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DE336E8810E76A\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:35 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:35.5417450Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ee7aa09-a319-420d-f23b-ee1907148b02/test-blob-a4e49f5e-261f-a32e-a22f-b5eedb75d523?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:33 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACY9w9la6gmN9rBkLjMuI6z00zXPiPy08Uk8cGJKyZqx1Bfu70wATeYori+bYJIOLYy89ZvLtFTpiNJQXnnnQu0V8lobP3RgtIUP5trM2dC27kKVjhP+ph+CxWZ5sC9sQWsChW54Mu5YHAEWu826HK8BmXA3EbTZF0w6WHoN5wRV42VvilRifvtUfbIS5+pSCKi3N9b/dW/2aW4ifZq0SnT8gNhoCpJa31p0opQCxi9hqA+RVq8tlm41uSDmAAFg3/M9FmbR6j4WXFi8StKbs6N+gJWK4zOFzuqqcpGxdN8ZE4Lgxa/IT/4RuvpWcUubmcW9p3+r1fz/d0d8Z7espOe5o3cP+u3ztnCXeWg5b12fDtiMM81frT2F4Y5oTCgGpRXS3M3US9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ee7aa09-a319-420d-f23b-ee1907148b02/test-blob-a4e49f5e-261f-a32e-a22f-b5eedb75d523?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DE336E8810E76A\"",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336E881E6CCF\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:51:35 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2025-12-04T19:51:35.6313567Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5ee7aa09-a319-420d-f23b-ee1907148b02?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:51:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1262744352",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
