{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-624091b9-dd3d-9d7f-c302-01707b9b6dc8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF92882A7E0\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-624091b9-dd3d-9d7f-c302-01707b9b6dc8/test-blob-3690bfbd-6ea8-2190-c13c-f97330b50dc3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "bdd/hKxBAbk2ksVaA4Nz2Dcc2xN42mTtXRWrNs88qI2hLo5Ra0c4U2VpXNCJl48MIVfn6TQuMpNzkSaWlsrp\u002Beo4uNX0IW3v44etDn2UZMaFnhR4Vb5Zc/z73tkgorybgGLmUd66F//q9wasgCMV3y1gEfi1cKQr30XY\u002BUOTz0DLEo4arRLnyoYVjl64rPLZ5v\u002Bsv5HD5Q\u002B\u002BunKZ4h68VifF4G2V\u002BjEaeUZxoOJGczJS/xND5w\u002BvBy1\u002BXPOgTehoWDc28syEQ\u002BvOkkZKUkQsd0Y/RuILeW4XFdlAF54\u002BeSxeCUerD4FmzbwndF[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-624091b9-dd3d-9d7f-c302-01707b9b6dc8/test-blob-3690bfbd-6ea8-2190-c13c-f97330b50dc3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "b0LzV41sLTUSXLas/S4eKg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF92891D737\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-624091b9-dd3d-9d7f-c302-01707b9b6dc8/test-blob-3690bfbd-6ea8-2190-c13c-f97330b50dc3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF92891D737\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF92891D737\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-blob-content-md5": "b0LzV41sLTUSXLas/S4eKg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABt13\u002BErEEBuTaSxVoDg3PYNxzbE3jaZO1dFas2zzyojaEujlFrRzhTZWlc0ImXjwwhV\u002BfpNC4yk3ORJpaWyun56ji41fQhbe/jh60OfZRkxoWeFHhVvllz/Pve2SCivJuAYuZR3roX/\u002Br3BqyAIxXfLWAR\u002BLVwpCvfRdj5Q5PPQMsSjhqtEufKhhWOXris8tnm/6y/kcPlD766cpniHrxWJ8XgbZX6MRp5RnGg4kZzMlL/E0PnD68HLX5c86BN6GhYNzbyzIRD686SRkpSRCx3Rj9G4gt5bhcV2UAXnj55LF4JR6sPgWbNvCd0VclltehR5KxgBgVc38kf3PJELE2QGBnsSPyBaMXZeCbjBBlNsCNXxrmRGCVYrWjh8KVziY/a5D2veG3rz3znh47eeNqv0SvP7GaT/v/0k5qUoHggZu\u002BWCSDcnTi1bPY9qpGWeTSOMh95o5wpRuU9uuTSVy8ExiCeSG\u002B50zPzGYBvVlRtXhpmBW1YpsJSbcI6nuJT4xTHOONw\u002BDHE1F7rhoocuu\u002BRz1zKbFLBqx9eTNutfjVQnzZrpx5w/GXoojAPbSA4NrLSqc6GiXfCBo3DEqxWFlUpm\u002BdTsRLRIdL24cohsj7/JRUo29VmyhW/qKGQrOq5kova5dE45IWfAIf7j6etoVNPxOyWLjuAw9HRlAhxQXXoPG0E4rrk8we8bQTiuuTzB7w="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-624091b9-dd3d-9d7f-c302-01707b9b6dc8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "538531092",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
