{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f848747b-2d83-6bb0-282f-e521ac282386?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF91CAABD02\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f848747b-2d83-6bb0-282f-e521ac282386/test-blob-d6b996a8-821d-01b7-3c79-30729e70d891",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "U6geJYsclJTpfynAiELCU25vdmuhagJUPHgMgDuHf57hgBsAtpvpjqzyzwR5uKWEpleV2rl2g\u002BilyugSDxNYYgCK3gcmwpzShei\u002Brpr\u002B24TTiNnk8qTlavwyW\u002Byz136Ymm0D7tmdXeS6wlTQuNVOpu9jP4c6dG9bpXMK9GewH65qJRMt\u002BuyrNSr0KS9PFLIn5LT8T5f3XiX9qEllk2l9CaOmZpLBIKsCuAldRUtADJHB4w\u002Bys88Xc8fuL1KjRqLAdx\u002BMqa4gZcMJ\u002BpeNmhjavZu4pK9aylXTj/PL0/FYX3JnnM4rs2PjoH5Lqbk4idivE3K2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f848747b-2d83-6bb0-282f-e521ac282386/test-blob-d6b996a8-821d-01b7-3c79-30729e70d891",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "r/l6aOLQwldbn8jc92ZdEw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF91CBA8E68\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f848747b-2d83-6bb0-282f-e521ac282386/test-blob-d6b996a8-821d-01b7-3c79-30729e70d891",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF91CBA8E68\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF91CBA8E68\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-blob-content-md5": "r/l6aOLQwldbn8jc92ZdEw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABTqB4lixyUlOl/KcCIQsJTbm92a6FqAlQ8eAyAO4d/nuGAGwC2m\u002BmOrPLPBHm4pYSmV5XauXaD6KXK6BIPE1hiAIreBybCnNKF6L6umv7bhNOI2eTypOVq/DJb7LPXfpiabQPu2Z1d5LrCVNC41U6m72M/hzp0b1ulcwr0Z7AfrmolEy367Ks1KvQpL08UsifktPxPl/deJf2oSWWTaX0Jo6ZmksEgqwK4CV1FS0AMkcHjD7Kzzxdzx\u002B4vUqNGosB3H4ypriBlwwn6l42aGNq9m7ikr1rKVdOP88vT8VhfcmecziuzY\u002BOgfkupuTiJ2K8TcrbqofNlrMq4GbpVkdKwmiQm/UmvCTjVAzEOIZybBRocv3\u002BhddBzNiFh\u002BkkoS\u002Bx5\u002BB8TY9tlZGh\u002BFZ7CV4ouHRSgONJTDiVUssYnTg/vrLdElSh8h6I\u002Bt1sWI18ysd\u002BXMt01iBIaJur5v7AVPRVZjmjmfcFhsZZxYYF2POrFIQDmkBsxuiSkKm8\u002BgsfxKXlFvZT2TDMdNYFHwyaRo\u002Bn/NJ2vLqz6J9RDQVNSIy7OfzcHMX5VztXMyFuZ6vb9E4aFP04qQvrNS5bAswrgyxFSeETviXJrqWXI4mZQYDzeRi3MzePgpD08OubnlRvK7P1JR3KyDooUGpbpYV\u002BUfOpa4m3dFP0uctQGsk6LgxNJ/VnM2yFqzqB9WczbIWrOoH0="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f848747b-2d83-6bb0-282f-e521ac282386?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:05:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "23911652",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
