{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3e0d096d-23f7-5604-2f41-0b516dd52ef7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22DBFA4210\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:41:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3e0d096d-23f7-5604-2f41-0b516dd52ef7/test-blob-a5f5d2ce-2120-3ae0-afa1-f6681ed49b9b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:39 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAdNkYT9cwwusEKW8LrMWd5z4GifUzg9nuxpGA2fyvXysWGtbhvXpTjv86L9kCX4iONuUyqdvFkPEDKYVFr+TqVM5D8ZHyvCXHsv75+VP87GsE9qMbfLFTTIXh3pP1Dd8WT9sKwmn6n3q/bvbYz5uhBj0ePLlFztgY7KUIDN2RzqUf56148i39DlsoWBG+eoDuQNhW1tEh0Hz+7dHE7o6ZLZxRuOfqKBATHS5iGXLKXnIgHcwFPvfT/hcsegBYNCPIjy5xbL2ZABjER7Wiw7cKNJNjoMzCl/Kkfb7QvbIPuukOmY5EVPG0ixmzQPs+MTpgIkFw+JdTBfs/yO7+xEZqtIzMkCokxeOhqxW3D1b7ZkiEcJtsnr5Vv5OXBIgCtcbXSIhucZ0Q[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3e0d096d-23f7-5604-2f41-0b516dd52ef7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:41:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1518437646",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
