{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7b7cecf2-48e1-9d83-2ba4-5b9507dc219d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DF8A9CEA3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7b7cecf2-48e1-9d83-2ba4-5b9507dc219d/test-blob-489d1026-1191-9260-c6cc-ca039b1f0ed1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "xNnJ16MSTAAxTML8/Ai/nkm1Tnk5TxWfiz9YGP2w/dgxeLYEw4QBNUGioTuwiwRi3FTBfJI6mXTDKktkuTMDgE/qyoRRu9vEtBg3l67a7gA69juo74FG999BQJg4nXsOnyDsxsCAECF5/Md5AgLG6DxLKsP4WpHNo9OkD3pCjBedKfiN7ic/ueYaL/K5zfTde1hc7HO4FUWPHiPs2wCmNnCw3NkJOPoVDHDc3SqeFNbfx5Qi5p\u002Bj5BOz/tAEUt3ldPiCCPEa00NdR\u002BAC2zga8AlNDRRshFDQDPfGVjkpELmT92kyGwvkxPRRxJ\u002B\u002BoQnbmA7GtkXJee\u002Bosvv5VHw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7b7cecf2-48e1-9d83-2ba4-5b9507dc219d/test-blob-489d1026-1191-9260-c6cc-ca039b1f0ed1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "WMMeYmyiAVdAiZm2i8br3Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DF8B92D37\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:25 GMT",
        "x-ms-blob-content-md5": "WMMeYmyiAVdAiZm2i8br3Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "xNnJ16MSTAAxTML8/Ai/nkm1Tnk5TxWfiz9YGP2w/dgxeLYEw4QBNUGioTuwiwRi3FTBfJI6mXTDKktkuTMDgE/qyoRRu9vEtBg3l67a7gA69juo74FG999BQJg4nXsOnyDsxsCAECF5/Md5AgLG6DxLKsP4WpHNo9OkD3pCjBedKfiN7ic/ueYaL/K5zfTde1hc7HO4FUWPHiPs2wCmNnCw3NkJOPoVDHDc3SqeFNbfx5Qi5p\u002Bj5BOz/tAEUt3ldPiCCPEa00NdR\u002BAC2zga8AlNDRRshFDQDPfGVjkpELmT92kyGwvkxPRRxJ\u002B\u002BoQnbmA7GtkXJee\u002Bosvv5VHwJNDYnb\u002BTO6NT9aEgfG7\u002BwEWvu670rYllzyX15iWkQ63B3R5B[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7b7cecf2-48e1-9d83-2ba4-5b9507dc219d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1782965919",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
