{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2a48c467-ef86-7c40-fca9-8f50eb60fb07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DF8157DFA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2a48c467-ef86-7c40-fca9-8f50eb60fb07/test-blob-072b6999-155c-d665-f18b-bea828e79d49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\u002Bru6TMmKmkbfPNfdm8ORL767Fui8Aya9PfzX3Xr1bFj8I4EuEp0Kr2ddGKTq1HoqeXYx5OPCc/eU/Q/Ns73L6tB/4XdCYhwhsGeAX\u002BqC02mBrGQExId1ObCKmhWOPfyqkS7TavID6BZaEDN8QhMMEiqlSwZZxyVICafHuMgHknNr1s68rmh2fsNNqrNU\u002BfecfYfr6PH1UckIi2BLPDBNU32/EGtFUGTCL81DCx1y9BCwKjpBG6mCdoUFsyMHK0KT/1Y2lOiLVywjKLkjsUWslpZQmxH1DDfTPZrmQJ1AugOLrwzGPF8oJNMOHfPvXsRAWR2Mt48xnfMfYldNpBaP4m22mAE55[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2a48c467-ef86-7c40-fca9-8f50eb60fb07/test-blob-072b6999-155c-d665-f18b-bea828e79d49",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DF8252AF2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:24 GMT",
        "x-ms-blob-content-md5": "lnxFCpwTAextlSyv4072YA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "QFqyu2LA0zw=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\u002Bru6TMmKmkbfPNfdm8ORL767Fui8Aya9PfzX3Xr1bFj8I4EuEp0Kr2ddGKTq1HoqeXYx5OPCc/eU/Q/Ns73L6tB/4XdCYhwhsGeAX\u002BqC02mBrGQExId1ObCKmhWOPfyqkS7TavID6BZaEDN8QhMMEiqlSwZZxyVICafHuMgHknNr1s68rmh2fsNNqrNU\u002BfecfYfr6PH1UckIi2BLPDBNU32/EGtFUGTCL81DCx1y9BCwKjpBG6mCdoUFsyMHK0KT/1Y2lOiLVywjKLkjsUWslpZQmxH1DDfTPZrmQJ1AugOLrwzGPF8oJNMOHfPvXsRAWR2Mt48xnfMfYldNpBaP4m22mAE55Vo3J3Y95\u002B9E5N7Wpud/swNzWhIZptoI2n\u002B8fjqFOcbCB3PDV[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2a48c467-ef86-7c40-fca9-8f50eb60fb07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "592299976",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
