{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f580effd-dded-04ba-d478-04397e6d5dac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC08C50C1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f580effd-dded-04ba-d478-04397e6d5dac/test-blob-03b3ac18-c93f-5130-7cd4-b7063e968d54",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "r1dyTxLW2qz1EpTLjyNVaiqnkWuCgwTb0HcLCDQl59wLOOZX9/9K0Tg\u002B45UNu\u002BAV5bKq3vKpkytSl36aytJ40Cu4v1c8/XIqXcAzQ6BvzRWW9iKBewjpYqS6BGCArwdlxhNpVfuI2OhAgIAydk\u002BL48lpA9Ov9lQjzl2ygvgSqa65zX2MBXgZDh46QfuHtutVLyGWFqsztc\u002B\u002BRoae1VbvLdbSeajS/91RUPW1dbVZmxdxXVLXe5IChRetzb/xezjHShMktT1CgzBDRca2fUAaZapuLHcDF7JDz/OQJDEeYNW87iqiNebaLtoilDbMTAjXk2gVgk7AwzNg4eVJsl7[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f580effd-dded-04ba-d478-04397e6d5dac/test-blob-03b3ac18-c93f-5130-7cd4-b7063e968d54",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DC0A1C951\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-blob-content-md5": "JK4EGhxKUwB9jUKItNPd3g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "cRhh\u002BeZTVVc=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "r1dyTxLW2qz1EpTLjyNVaiqnkWuCgwTb0HcLCDQl59wLOOZX9/9K0Tg\u002B45UNu\u002BAV5bKq3vKpkytSl36aytJ40Cu4v1c8/XIqXcAzQ6BvzRWW9iKBewjpYqS6BGCArwdlxhNpVfuI2OhAgIAydk\u002BL48lpA9Ov9lQjzl2ygvgSqa65zX2MBXgZDh46QfuHtutVLyGWFqsztc\u002B\u002BRoae1VbvLdbSeajS/91RUPW1dbVZmxdxXVLXe5IChRetzb/xezjHShMktT1CgzBDRca2fUAaZapuLHcDF7JDz/OQJDEeYNW87iqiNebaLtoilDbMTAjXk2gVgk7AwzNg4eVJsl7\u002BJOXx\u002BY8VeDDElP2d4YN8d4LruZHJCN2G\u002Byr3QVMAkHx7I29Q21N5who4Ue5RI\u002BKv5GpiXvjNNRwHav1lHTbcwwOAIr4TK5wvcfd2kLfvNNhHR1zpnTKEru1TSXBVFKTkXI3q0QAknLnOM\u002BwBVqVkGDYlHdXa8iXR\u002B3PQv\u002BEr2l1SkjQqBGPXI6ujG2pFglhI7zE6L/bOCmlnGdWMU9zXoliPrsNwOhPTTfkqNta7jHkbh9Cw8apmg4jKwuqNS8/OzHkRttSU17UdZuL9pNOTrI1ccMsMJrCtKCo7pncoRQIpXGpdqdakh68bkorIad\u002B0NxVdMdoDwaXIZI2pWTE99SE="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f580effd-dded-04ba-d478-04397e6d5dac/test-blob-03b3ac18-c93f-5130-7cd4-b7063e968d54",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444DC0A1C951\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444DC0A1C951\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:39:5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f580effd-dded-04ba-d478-04397e6d5dac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:39:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "229207620",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
