{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9a4bcd2-0c47-e944-0f16-26aa16276ca6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86830E130CE0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:47:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9a4bcd2-0c47-e944-0f16-26aa16276ca6/test-blob-2c568686-df53-d2e9-5909-07d25594112b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "L0zmoTF4GSQ=",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GozrITNlY1v6OgA/AnK9yMGyV1PAeewV4onPNVdYBOPZ+refWzJA7l8K939KbPJuVFans67aTqCg1j6qlS0EojUdZQe7HW2PcWnztYJtynWXYeEBsFA1/6wX/4TzllgxBlVJLQbqszboGEJF55geMgvJEzRMAvLl6GZapB7om9sQwa4sJJ1urK6rGZcN7xgU+Mx5KoIk5QRjY0Sgjw8X/31nNCXp8Q1tWmaGoOhb2PhNRqtSb3BY69uqycBYzh2elBkZprryKga+C9AcnkUbCItMUkljxZANDklJPyhMFIxJ5wzOQTE9Wxykk2OfO02WjsE1DHvUO8+JC5hxqerecfZE07c4TcZaD/ctvzEsb[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e9a4bcd2-0c47-e944-0f16-26aa16276ca6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:47:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1320851089",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
