{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d9c6f4ef-652d-e3ab-9085-1d5811135bbb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22E9B0E1C2\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d9c6f4ef-652d-e3ab-9085-1d5811135bbb/test-blob-093523c6-f7b9-2681-c59e-015ee8e6b5e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:02 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAhmpZxVd2E9Vl0DMIPCOA3lLl8y+gFuexr/451WBqLWzWfgWnDfw79wTX8je2okifdausN9WnOG+GpBlVPDpw/6bGMb4d3dBSqfgmyCSv+wm1nl+4vfmXM0GWIGXi5rrKZvKQ8GyKfZvbWYnZfGxG1qkPn53euEGpMwJ4h71qc8dBXGU2HwqdLxzH3WBzubbRU0m410cY76qw58FuDfnebOnGmCALELeicnCBGtrdOXVPqzRzsZx8JHC+gTtJMx0i5XB6rSGWyj6WGmDWm9TP165MHmbFbr9NRnevTJN4WT9XXjFqZoxXuNz12Zs7pYif7qmM/RC2XXa1KWap532vHcElgzmjYXEd9GWF05UgFaDrE13l71gunQC6tTkpqdFjRr/WFiZO[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d9c6f4ef-652d-e3ab-9085-1d5811135bbb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "67601714",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
