{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d393dea3-fa80-0c9c-a367-2f16411b6d44?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444DC61BF487\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d393dea3-fa80-0c9c-a367-2f16411b6d44/test-blob-c3d16bc4-e0ef-a8b6-a8ad-9881bc609abd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "ILTgBYwPBGQ=",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "M1/QXIWLxG0siuv0ma89JY8hh308XBtsfigsIJ0\u002B6UsYVLlurHuIA/9x45/\u002BWLr6o3Lk/hT1z9ZEZN1cXqPP7qCg20X2zngUmIN9ynl7bSVuMn0qWes3I4TiKkidLKVbofX/Xn10BNT60GWQeAVdyPa37SwmpJS0aLjAFKQvdmzeISmEfA\u002Bo\u002BS2oMImGp6t/hGFR5T55NfxgSvbEtPAwy1n4sVbb2UznD/P\u002BfnQLLsENQI9C3pEtZewsIzEZ40U9d2UvjfVVo6sVadZKereHVBw0t3Ng7ezIykxpr7UaziuuwAYP3KDMuJ3kLXS64\u002Bo1pM8U5CzR3Yp[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d393dea3-fa80-0c9c-a367-2f16411b6d44?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:40:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "544544874",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
