{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-31dd8594-00d0-7936-b36e-9cd8cfda3cf7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72509A0024\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-31dd8594-00d0-7936-b36e-9cd8cfda3cf7/test-blob-22653150-3124-454a-9dc5-2402eb49ff21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "FCetgb0ro9dtEqnxAugEEfT2diZsFPLLQXfzqIWIpvuWWDhN9fnoNgWWufIdwOOOJiWaLhUiOAA14UBGN/tS5WuuW6qwtxv7DkAg1lr/roCTZYJf7XflcyA4FxS4ov8KRNSGbmU53m4KniDVAmKlNTO/stF48vf0yOeKd6AHQmtAFZKFeD8aWYcTVU9XEHG9k\u002BHg\u002BfAtkVHdkqV\u002Br2bOAlu0lOzQH73zpVhKZJ2onLh1zOS\u002BJkl7EoNAqOaZm6ogRVLzonuE7XMk7FOX4yy0NfbtCOOCD9sSOYJpkHbWWgmuKR9Ktfo88d5xmjn25C5Wi3Pwq5LHnjZ34Gj5Gl38TZJJ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-31dd8594-00d0-7936-b36e-9cd8cfda3cf7/test-blob-22653150-3124-454a-9dc5-2402eb49ff21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7250A8F222\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:50 GMT",
        "x-ms-blob-content-md5": "LYUgyUDpMoH9kXLuCVFPvA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAUJ62BvSuj120SqfEC6AQR9PZ2JmwU8stBd/OohYim\u002B5ZYOE31\u002Beg2BZa58h3A444mJZouFSI4ADXhQEY3\u002B1Lla65bqrC3G/sOQCDWWv\u002BugJNlgl/td\u002BVzIDgXFLii/wpE1IZuZTnebgqeINUCYqU1M7\u002By0Xjy9/TI54p3oAdCa0AVkoV4PxpZhxNVT1cQcb2T4eD58C2RUd2SpX6vZs4CW7SU7NAfvfOlWEpknaicuHXM5L4mSXsSg0Co5pmbqiBFUvOie4TtcyTsU5fjLLQ19u0I44IP2xI5gmmQdtZaCa4pH0q1\u002Bjzx3nGaOfbkLlaLc/CrkseeNnfgaPkaXfxNkknoug1qf/uwFwQ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-31dd8594-00d0-7936-b36e-9cd8cfda3cf7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2051828457",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
