{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-683dde71-0dfd-dd86-4531-30d8f998f930?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAF5427FBB72\"",
        "Last-Modified": "Mon, 12 Aug 2024 17:36:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-683dde71-0dfd-dd86-4531-30d8f998f930/test-blob-7cc61f4e-9284-e650-ddb7-f9ae2adc5265",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:13 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABk30SDvEb7YqTUKfclD1eV3aYhjia3BhiumB0A4+416LayEqdr0Mxwbg+eVR1ruwaVlm2LNMEPrNks1SMo+n61n0BAc/2vKg3ZsB8WGbH6Q90Xa02AqbT1omXOP/qpR3SR6LXdK0gJ5WxgsYOh+JMnMZJGEI8xNfWMStCX4eoSMGmrhTD7HBiUDoXhH/cwVKnRpg1oYjbkX7PAUOB3cQOBToAa9XJiLBR6sgIKUBX+XPYmxTvcqc4yxyZ9O8w3HZyBX9F2FV42b3n47rA02g+ewvTpUKzIpKWy6C5M5fBIQpRliPBDh0aX71bB47oe/ewX33nXTszwubosxC0w6omIsKwbzlEeWjquUWBVBsDqk+pBNQV3cfPHdc81F8IZZwXMODMNAy+[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-683dde71-0dfd-dd86-4531-30d8f998f930?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:36:13 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "918587275",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
