{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7dc944a3-d75b-432c-8867-e34448bb4966?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F842DA99F72\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7dc944a3-d75b-432c-8867-e34448bb4966/test-blob-cc824022-a964-313d-62be-7d7c9108ee3e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "myFQbmTWqJeWdF/U1ey\u002BslqTqcq90Ez\u002B/XEsx0FcqQWUHqNkhZ7rw9Vm4qXh4TykFRj3F24nJsvUUXDyquBVOcpaQLZJWi28p\u002BX1Vu2nHRw1h7IoZZKXbfjYjzMt\u002BRj1EKnah6CGWrrrOm\u002BIMc/dLTRUvSItLdQ4w9K9cMv5jq7M/0VEzJV7ry34PSojDjso\u002B2H\u002B2Tz2yOPUosTNyOrv8azAuzGKmGGe2A31NO\u002BpFbSXlXVp\u002B7Rx1jdibyrRruZDCUx\u002BYlIJnmIAYAEuAJP0K4wPNjN0hfb3TuX6Jyk2zComsiujKrJijfYTaZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7dc944a3-d75b-432c-8867-e34448bb4966/test-blob-cc824022-a964-313d-62be-7d7c9108ee3e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:42 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F842DB7F5D7\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-blob-content-md5": "gZCqx7p1RbZfbRRgMIyHlQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAACbIVBuZNaol5Z0X9TV7L6yWpOpyr3QTP79cSzHQVypBZQeo2SFnuvD1WbipeHhPKQVGPcXbicmy9RRcPKq4FU5ylpAtklaLbyn5fVW7acdHDWHsihlkpdt\u002BNiPMy35GPUQqdqHoIZauus6b4gxz90tNFS9Ii0t1DjD0r1wy/mOrsz/RUTMlXuvLfg9KiMOOyj7Yf7ZPPbI49SixM3I6u/xrMC7MYqYYZ7YDfU076kVtJeVdWn7tHHWN2JvKtGu5kMJTH5iUgmeYgBgAS4Ak/QrjA82M3SF9vdO5fonKTbMKiayK6MqsmKN9hNpm7ND1qRuRJ3Cd7POhFaGE20PdjjKk9cHTWhQANqsqTxgG1pECw5VueWYCbJz46dMo5/1fX/anwfbO4g7HUPDFs12bmj7QgdeubxTMYkklGrAA1w7tiy9hXxTaM\u002BGGpyh1fPk/HU\u002BUWGXl8PDh21\u002BtqceehnmiF\u002BhuejsqNk42J8fslyVP5j0grL7ox9o\u002Bf4O1LEoZ5\u002BDu0yUQ0KNUqmIX78jo9QR6HcOKfhn6\u002BQ/OMDp3dMnD3AAnPYPAfxWZy8JckRgRVYp/Os6GT2mHM9oVAqCo3TVYU9OIgbeAud6uMLJXXmg3/Npv\u002BHn7PYzWoAnp6zx1MS6MxH0EiJQS/kEv2B73b5Wx3UWGOOT7XRZG8iGtls7iV3FHJqe2SLLXcUcmp7ZIss="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7dc944a3-d75b-432c-8867-e34448bb4966/test-blob-cc824022-a964-313d-62be-7d7c9108ee3e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F842DB7F5D7\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:42 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F842DB7F5D7\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7dc944a3-d75b-432c-8867-e34448bb4966?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "412079762",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
