{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab9f32dc-f9e4-a8d1-ad16-6925029c6484?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:50:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868364F03C23\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:50:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab9f32dc-f9e4-a8d1-ad16-6925029c6484/test-blob-821d62c4-6935-0ee3-dfef-a315930438bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "knNJ73H6LQc=",
        "x-ms-date": "Thu, 06 Jun 2024 23:50:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9AUmdqXtAR6q+kAZLwrfzfsz25ej+poUZpCKgsWQvExk59PCuaSQXGnZv++mzp98hSr8tUPOP/lrERAUY35ZGj30tEc2HBNXon4uyTurbZjwDfyakwcIlqjZV6eTfPnqgKWyshlXRmgWpRLEoHW+v6N3I1WBvoY16x6fXMVswyaFQ0iV+bt+mMeTg+30RPUzG5cDHFikaMIefMb6uOmjquLsP1wsKMbo+YqN7TqZQacoa0EtaKfN4dqGdn31g+De8NgLCASZBvPRGyLNFnqHhTof0k2odUI6Hl2CprFJ8nWqr/1hjTiij2RNXEyEAMpf/vFC1rGTNXqV0emmF2BBhyitI2d9JfgBfEPoWhn2t[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ab9f32dc-f9e4-a8d1-ad16-6925029c6484?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:50:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1497439407",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
