{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6dd5c5fb-e840-5043-cd50-8df65db062bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:37 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EAE3D6384\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:52:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6dd5c5fb-e840-5043-cd50-8df65db062bb/test-blob-0b824b94-a1e9-909b-8aa2-5a56fd5fafcd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:37 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACUKn2jj68k9IXNK94HcC6XR3FkzYo9ur1kZlLzJ4Jz/HVIPva4ZovhazGfM3lDv3NsSHYi4B8OVnDAPildMM0CWS5pvjE43uDmgmJZnodDIKbfh94MURxVOueG+CdihDpjndpK2gFBM2qWPF29tbjofB6Dfqnv9QgSE4NJseW4g/4n9QCt+EalnVN0dhS+mIUvnXwJ3waQdKfROMZ994GE3bhflb+3O4PX3eBWen/zU3v+GhRpr6T3loBZ28B/KKXR8JlbXwLFeGL4MgElOvoo3uVLft1tGy0UZ/4/Xl/CV7U7hYrll/R4OaKxcH2i0lyGMP3bNKnIY9RrR/cDhhkDNdpL6rVvQkbw00U7vKqwcZWiuC1h5yMLcyG1elD8dLKIrjqiVui[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6dd5c5fb-e840-5043-cd50-8df65db062bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:37 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "679728313",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
